

<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'reports and queries'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        {{'blocked id cards number' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span ng-show="type =='aids'">{{'aids_report'| translate}}</span>
        <span ng-show="type =='sponsorships'">{{'sponsorships_report'| translate}}</span>
    </li>

</ul>
<!-- END PAGE BREADCRUMB -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span class="{{type=='aids' ? 'icon-support' : 'icon-present'}}"></span>
                        <span ng-show="type =='aids'">{{'aids_report'| translate}}</span>
                        <span ng-show="type =='sponsorships'">{{'sponsorships_report'| translate}}</span>
                    </h3>
                </div>
                <div class="clearfix pull-right"style="padding-top:20px">

                    <button type="button" class="btn blue "
                            ng-click="ExportToExcel(-1)" ng-show=" type != 'sponsor' && ( additems.length != 0 || nominationitem.length != 0)" >
                        <span class="fa fa-file-excel-o" ></span>
                        <span class="hidden-sm hidden-md  hidden-xs"> {{'ExportBlockedToExcel'| translate}}</span>
                    </button>
                    <button uib-tooltip="{{'advance search'| translate}}" class=" btn yellow-saffron " ng-click="toggleSearchForm()" type="button">
                        <span class="icon-magnifier"></span>
                        <span class="hidden-sm hidden-md  hidden-xs">{{'advance search'| translate}}</span>
                    </button>
                    <button uib-tooltip=" {{'add new block'| translate}}" type="button" class="btn green-turquoise" ng-click="new()">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span  class="hidden-sm hidden-md  hidden-xs">{{'new'| translate}}</span>
                    </button>


                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="col-md-12 col-sm-12 col-xs-12  portlet light"
                         style="padding-top: 2%; padding-bottom: 2%; box-sizing: border-box;  ">
                          <form name="frmsearch" ng-hide="toggleStatus" novalidate role="form" class=" text-center" style="margin-bottom: 2%; padding:0 2%;">
                            <div class="row"  style="margin-bottom: 2%; box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-3">

                                        <div class="form-group">
                                            <label class="control-label bold">
                                                   <span ng-show="type =='sponsor'">
                                                        {{'sponsorship_authority'| translate}}
                                                    </span>
                                                    <span ng-show="type !='sponsor'">
                                                        {{'card_number' | translate }}
                                                    </span>
                                                </label>
                                            <div class="input-group">
                                                <ui-select ng-show="type =='sponsor'"
                                                           name="id_card_number" ng-model="filter.id_card_number" theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in Sponsor | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <input type="text" n ng-show="type !='sponsor'"
                                                       class="form-control"
                                                       name="id_card_number"
                                                       maxlength="9"
                                                       ng-maxlength="9" numeric-only
                                                       ng-model="filter.id_card_number"
                                                       placeholder="{{'card_number' | translate }}" />

                                                <span class="input-group-btn">
                                                                <button type="button" ng-click="filter.id_card_number = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                            </div>


                                        </div>

                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label bold">
                                                {{'blocked_from'| translate}}
                                            </label>
                                            <div  class="input-group">
                                                <input type="text" class="form-control"
                                                       uib-datepicker-popup="{{format}}"
                                                       ng-model="filter.blocked_from"
                                                       datepickerPopup
                                                       name="blocked_from"
                                                       is-open="popup1.opened" datepicker-options="dateOptions"
                                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open1($event)">

                                                </button>
                                          </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label bold">
                                                {{'blocked_to'| translate}}
                                            </label>
                                            <div  class="input-group">
                                                <input type="text" class="form-control"
                                                       uib-datepicker-popup="{{format}}"
                                                       ng-model="filter.blocked_to"
                                                       datepickerPopup
                                                       name="blocked_to"
                                                       is-open="popup2.opened" datepicker-options="dateOptions"
                                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open2($event)">

                                                </button>
                                          </span>
                                            </div>
                                        </div>
                                    </div>
                                   <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label bold">
                                                {{'category_block'| translate}}
                                            </label>
                                            <select class="form-control" ng-model="filter.category_id" name="category_id">
                                                <option selected value>---
                                                    {{'category_block'| translate}}
                                                  ---</option>
                                                <option ng-repeat="option in sponsorCategories_" value="{{option.id}}"    >
                                                    {{option.name}}
                                                </option>
                                                <option ng-repeat="option in aidCategories_" value="{{option.id}}">
                                                    {{option.name}}
                                                </option>

                                            </select>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="pull-right" style="margin-right: 1%; ">
                                        <button class="btn blue" style="width:100%;"  ng-click="Search(filter,'filters')" type="button" >
                                          <span> {{'search'| translate}} </span>
                                        </button>
                                    </div>
                                    <div class="pull-right"  ng-show="export=='true' ">
                                        <button type="button" class="btn blue pull-left" style="" ng-click="Search(filter,'export')" ng-show="export=='true' ">
                                            <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                                           <span class="hidden-sm hidden-md  hidden-xs">
                                            {{'export result'| translate}}
                                           </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                       <div class="portlet-title tabbable-line">
                            <ul class="nav nav-tabs pull-left">
                                <li class="active">
                                    <a href="#" data-target="#tab_1_0" data-toggle="tab" ng-click="fetch(1)"> {{'addition_'| translate}} </a>
                                </li>
                                <li>
                                    <a href="#" data-target="#tab_1_1" data-toggle="tab" ng-click="fetch(2)">{{'candidate_'| translate}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body  text-center"  style="min-height: 450px;">
                            <div class="tab-content" style="    padding: 10px 10px 10px 10px;">
                                <div class="tab-pane active" id="tab_1_0">
                                    <div class="col-md-12 col-sm-12 col-xs-12   ">
                                        <div class="dataTables_length pull-left" id="sample_1__length" ng-show=" additems.length != 0">
                                            <label>
                                                {{'show'| translate}}
                                                <select
                                                    class="form-control input-sm input-inline" ng-init=""
                                                    ng-change="itemsPerPage_('1',itemsCount)"
                                                    name="itemsCount" 
                                                    ng-model='itemsCount'>
                                                    <!--<option value="50"> {{'show'| translate}}  ( 50 )</option>-->
                                                   <option value="50">50</option><option value="100">100</option>
                                                    <option value="200">200</option>
                                                    <option value="500">500</option>
                                                    <option value="1000">1000</option>
                                                    <option value="-1">{{'show_All'| translate}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <button type="button" class="btn blue pull-left " style="margin-right: 0.5%; margin-bottom: 0.5%; " ng-click="ExportToExcel(1)"
                                                ng-show=" additems.length != 0">
                                            <span class="fa fa-file-excel-o"></span>
                                            <!--<span class="hidden-sm hidden-md  hidden-xs">  {{'ExportAdditionBlockedToExcel'| translate}}</span>-->
                                        </button>
                                        
                                            <div class="table-scrollable"  ng-if="additems.length != 0 ">
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                                                <thead>
                                                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                                    <th class="text-center" ng-click="sort('$index')"> {{'#'| translate}}
                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='$index'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                    </th>
                                                    <th class="text-center" ng-click="sort('item.id_card_number')"> {{'card_number' | translate }}
                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='item.id_card_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                    </th>
                                                    <th class="text-center" ng-click="sort('item.name')">{{'fullname'| translate}}
                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='item.fullname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                    </th>
                                                    <th class="text-center" ng-click="sort('item.category_block')">{{'category_block'| translate}}
                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='item.category_block'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                    </th>
                                                    <th class="text-center" ng-click="sort('item.block_date')">{{'block date'| translate}}
                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='item.category_block'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                    </th>
                                                    <th class="text-center"> {{'operations'| translate}}  </th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr dir-paginate="item in additems|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                                    <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                                    <td>{{item.id_card_number}} </td>
                                                    <td>{{item.name}} </td>
                                                    <td>{{item.category_block}} </td>
                                                    <td>{{item.block_date}} </td>
                                                    <td>
                                                        <button class="btn red-pink btn-xs" style="padding: 0 5% 0 5%;" ng-click="UnBlock(item.id,item.category_id)">
                                                            <span class="fa fa-toggle-off"></span>
                                                            <span class="hidden-sm hidden-md  hidden-xs">{{'unblock'| translate}}</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- END TABLE -->
                                        <div ng-if="additems.length == 0 "class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%;  padding: 0%">
                                            <div class="well well-lg bold font-blue" style="height:170px;padding-top: 70px;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show'| translate}}
                                                                    </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12" ng-if="additems.length != 0 ">
                                            <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                                <span class="bold ">{{'number of total items'| translate}} : </span>
                                                <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                                <span class="bold ">{{'row'| translate}} </span>
                                            </div>
                                            <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged('1',CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab_1_1">
                                    <div class="col-md-12 col-sm-12 col-xs-12   text-center">
                                        <div ng-if="nominationitem.length != 0 " class="dataTables_length pull-left" id="sample_1_length">
                                            <label>
                                            {{'show'| translate}}
                                                <select
                                                    class="form-control input-sm input-inline" ng-init=""
                                                    ng-change="itemsPerPage_('1',itemsCount)"
                                                    name="itemsCount" 
                                                    ng-model='itemsCount'>
                                                   <option value="50">50</option><option value="100">100</option>
                                                    <option value="200">200</option>
                                                    <option value="500">500</option>
                                                    <option value="1000">1000</option>
                                                    <option value="-1">{{'show_All'| translate}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <button type="button" class="btn blue pull-left" style="margin-right: 0.5%; margin-bottom: 0.5% " ng-click="ExportToExcel(2)"
                                                ng-show="nominationitem.length != 0 ">
                                            <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                                            <span class="hidden-sm hidden-md  hidden-xs">{{'ExportNominateBlockedToExcel'| translate}}</span>
                                        </button>

                                        <div class="table-scrollable" ng-if="nominationitem.length != 0 ">
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                                                <thead>
                                                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                                    <th class="text-center" ng-click="sort('$index')"> {{'#'| translate}}
                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='$index'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                    </th>
                                                    <th class="text-center" ng-click="sort('item.id_card_number')"> {{'card_number' | translate }}
                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='item.id_card_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                    </th>
                                                    <th class="text-center" ng-click="sort('item.name')">{{'fullname'| translate}}
                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='item.fullname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                    </th>
                                                    <th class="text-center" ng-click="sort('item.category_block')">{{'category_block'| translate}}
                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='item.category_block'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                    </th>
                                                    <th class="text-center" ng-click="sort('item.block_date')">{{'block date'| translate}}
                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='item.category_block'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                    </th>
                                                    <th class="text-center"> {{'operations'| translate}}  </th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr dir-paginate="item in nominationitem|orderBy:sort2Key:reverse|filter:search|itemsPerPage:ItemsPerPage1"
                                                    ng-show="nominationitem.length != 0 ">
                                                    <td>{{ ( $index +1 ) +((CurrentPage1-1)* ItemsPerPage1)}}</td>
                                                    <td>{{item.id_card_number}} </td>
                                                    <td>{{item.name}} </td>
                                                    <td>{{item.category_block}} </td>
                                                    <td>{{item.block_date}} </td>
                                                    <td>
                                                        <button class="btn red-pink btn-xs" style="padding: 0 5% 0 5%;" ng-click="UnBlock(item.id,item.category_id)">
                                                            <span class="fa fa-toggle-off"></span>
                                                            <span class="hidden-sm hidden-md  hidden-xs">{{'unblock'| translate}}</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- END TABLE -->

                                        <div ng-if="nominationitem.length == 0 "class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%; padding: 0%">
                                            <div class="well well-lg bold font-blue" style="height:170px; padding-top: 70px;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show'| translate}}
                                                                    </span>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12" ng-if="nominationitem.length != 0 ">
                                            <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                                <span class="bold ">{{'number of total items'| translate}} : </span>
                                                <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems1}}</span>
                                                <span class="bold ">{{'row'| translate}} </span>
                                            </div>
                                            <uib-pagination class="pull-right" total-items="TotalItems1" ng-model="CurrentPage1"  max-size="maxSize" items-per-page="ItemsPerPage1" ng-change="pageChanged('2',CurrentPage1)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="new.html">
    <div class="modal-header" style="  padding:5%; ">
        <h4 class="modal-title text-center bold"> {{'new block form'| translate}} </h4>
    </div>
    <div class="modal-body">
        <form name="frm" novalidate="" role="form" class="row text-center" style="padding: 2%;" ng-show="type !='sponsor'">

            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error' : frm.type.$invalid && !frm.type.$pristine }">
                    <label class="contrresultol-label bold">  {{'block_type'| translate}}  </label>
                    <select class="form-control" name="type" ng-model="block.type" ng-required="true"
                            ng-change="msg1.type = [ ]" >
                        <option disabled selected value > --  {{'block_type'| translate}}  -- </option>
                        <option value="1">  {{'addition'| translate}} </option>
                        <option value="2">  {{'nomination'| translate}} </option>
                    </select>

                    <span class="text-danger bold help-inline" ng-show="frm.type.$error.required && frm.type.$touched">
                  {{'required_field'| translate}}
                                </span>
                    <span ng-repeat="(error, errortext) in msg1.type" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.type' != [ ] " >
                                         {{ errortext.toString() }}
                                </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error' : frm.id_card_number.$invalid && !frm.id_card_number.$pristine }">
                    <label class="control-label bold">  {{'block_way'| translate}}  </label>
                    <div class="mt-radio-inline">
                        <label class="mt-radio">
                            <input type="radio" name="optionsRadios" ng-change="RestUpload(block.checkbox)" ng-model="block.checkbox" id="optionsRadios25" value="1" checked=""> {{'manually'| translate}}
                            <span></span>
                        </label>
                        <label class="mt-radio">
                            <input type="radio" name="optionsRadios" ng-change="RestUpload(block.checkbox)" ng-model="block.checkbox" id="optionsRadios26" value="2" checked="">{{'using excel'| translate}}
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group" ng-class="{ 'has-error' : frm.type.$invalid && !frm.type.$pristine }">
                    <label class="control-label bold">
                        <span>    {{'category_block'| translate}} </span>
                        <span>    {{'Must be determined one category at least'| translate}} </span>
                    </label>

                    <select class="form-control" multiple ng-model="block.category_id"
                            name="category_id" ng-required="true"ng-change="msg1.category_id = [ ]"
                    >
                        <option ng-show="type =='sponsorships'" disabled selected value>---  {{'sponsorship'| translate}} ---</option>
                        <option ng-show="type =='sponsorships'" ng-repeat="option in sponsorCategories_" value="{{option.id}}"    >
                            {{option.name}}
                        </option>
                        <option ng-show="type =='aids'" disabled selected value>---  {{'aids'| translate}} ---</option>
                        <option ng-show="type =='aids'" ng-repeat="option in aidCategories_" value="{{option.id}}">
                            {{option.name}}
                        </option>

                    </select>
                    <span class="text-danger bold help-inline" ng-show="frm.type.$error.required && frm.type.$touched">
                  {{'required_field'| translate}}
                    </span>
                    <span ng-repeat="(error, errortext) in msg1.type" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.type' != [ ] " >
                             {{ errortext.toString() }}
                    </span>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="block.checkbox =='1'">
                <div class="form-group" ng-show="block.checkbox =='1'" ng-class="{ 'has-error' : frm.id_card_number.$invalid && !frm.id_card_number.$pristine }">
                    <label class="control-label bold">  {{'card_number' | translate }}  </label>
                    <input type="text"
                           class="form-control"
                           name="id_card_number"
                           ng-maxlength="9"
                           maxlength="9"
                           numeric-only
                           ng-model="block.id_card_number"
                           ng-required="block.checkbox =='1'"
                           ng-change="msg1.id_card_number = [ ]"
                           placeholder="{{'card_number' | translate }} " />

                    <span class="text-danger bold help-inline" ng-show="frm.id_card_number.$error.required && frm.id_card_number.$touched">
                  {{'required_field'| translate}}
                            </span>
                    <span class=" text-danger bold help-inline" ng-show="frm.id_card_number.$error.pattern">
                               -                    {{'integer_field'| translate}}
                            </span>
                    <span class=" text-danger bold help-inline" ng-show="frm.id_card_number.$error.maxlength"> {{'Field length must not exceed 9'| translate}} </span>
                    <span ng-repeat="(error, errortext) in msg1.id_card_number" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.id_card_number' != [ ] " >
                                     {{ errortext.toString() }}
                            </span>
                </div>
            </div>

            <p class="col-md-12 col-sm-12 col-xs-12" ng-show="block.checkbox =='2'">
                <p class="text-left bold" style="margin: 0 0 5px 0;padding: 10px; border: 3px solid #fff0f1; border-radius: 4px 0 0 4px;  background-color: #fff0f1;color: #e43a45; min-height: 40px !important;">

                    >
                        <i style="font-size: larger" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        {{'the uploaded file must be contain id card column to block successfully'| translate}}
                </p>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="block.checkbox =='2'">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <input type="file"ng-required="block.checkbox =='2'" onchange="angular.element(this).scope().fileupload(this)"  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"  class="form-control" data-nv-file-select="" data-uploader="uploader">
                    <span ng-repeat="(error, errortext) in err_msg.logo" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'err_msg.logo' != []" >
                            {{ errortext.toString()}}
                        </span>
                </div>
                <div ng-repeat="item in Uploader.queue" class="row">
                    <div class="col-md-2">
                        <div ng-show="Uploader.isHTML5" ng-thumb="{ file: item._file, height: 48 }"></div>
                    </div>
                    <div class="col-md-2" ng-show="Uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</div>
                    <div class="col-md-3" ng-show="Uploader.isHTML5">
                        <div class="progress progress-sm" style="margin-bottom: 0;">
                            <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span ng-show="item.isSuccess" class="text-success">
                            <i class="glyphicon glyphicon-ok"></i>
                        </span>
                        <span ng-show="item.isCancel" class="text-info">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                        </span>
                        <span ng-show="item.isError" class="text-danger">
                            <i class="glyphicon glyphicon-remove"></i>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn red-pink btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> <span>{{'remove'| translate}}</span> </button>
                    </div>
                </div>
            </div>

        </form>
        <form name="frm1" novalidate="" role="form" class="text-center" style="padding: 2%;" ng-show="type =='sponsor'">
            <div class="form-group" ng-class="{ 'has-error' : frm1.type.$invalid && !frm1.type.$pristine }">
                <label class="control-label">{{'sponsorship_authority'| translate}}</label>
                <div class="input-group">
                    <ui-select name="sponsor_id" ng-model="block.sponsor_id" ng-required="true" ng-change="msg1.category_id = [ ]"
                               theme="bootstrap"
                               class="text-right" >
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item.id as item in Sponsor | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                                                                <button type="button" ng-click="filter.id_card_number = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                </div>
                <span class="text-danger bold help-inline" ng-show="frm1.type.$error.required && frm1.type.$touched">
                  {{'required_field'| translate}}
                </span>
                <span ng-repeat="(error, errortext) in msg1.type" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.type' != [ ] " >
                         {{ errortext.toString() }}
                </span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : frm1.type.$invalid && !frm1.type.$pristine }">
                <label class="control-label bold">

                    <span>    {{'category_block'| translate}} </span>
                    <span>    {{'Must be determined one category at least'| translate}} </span>


                </label>

                <multiselect  ng-if="sponsorCategories_"
                              ng-model="block.category_id"
                              name="category_id" ng-required="true"ng-change="msg1.category_id = [ ]"
                              options="sponsorCategories_" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                </multiselect>

                <span class="text-danger bold help-inline" ng-show="frm1.type.$error.required && frm1.type.$touched">
                  {{'required_field'| translate}}
                </span>
                <span ng-repeat="(error, errortext) in msg1.type" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.type' != [ ] " >
                         {{ errortext.toString() }}
                </span>
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <button class=" btn blue" ng-show="type !='sponsor'" ng-disabled="frm.$invalid || !upload "ng-click="confirm(block)" type="button" > <span>{{'block'| translate}}</span>  </button>
        <button class=" btn blue" ng-show="type =='sponsor'" ng-disabled="frm1.$invalid" ng-click="confirm(block)" type="button" > <span>{{'block'| translate}}</span>  </button>
        <button class="btn red-pink"  ng-click="cancel()"><span> {{'cancel'| translate}} </span></button>
    </div>
</script>
