
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'Logs'| translate}}
    </li>
</ul>
<!-- BEGIN MAIN CONTENT -->
<!-- BEGIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <h3>
                        <span class="fa fa-history"></span>
                       <span> {{'Logs' | translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <button type="button" class="btn green-turquoise" ng-click="actionList()" style="margin-top: 0.5%; margin-bottom: 0.5%;">
                            <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                            <span>{{'action-list'| translate}}</span>
                        </button>
                    </div>
                </div>


            </div>
            <div class="portlet-body">
                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1%;padding-top: 4%;padding-bottom: 2%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                    <form name="form">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label bold">{{'Action' | translate}} </label>
                                        <multiselect  ng-model="srch.actions" ng-if="logActions"
                                                      options="logActions" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                        </multiselect>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label bold">{{'Message' | translate}} </label>

                                        <input type="text" ng-model="srch.message" placeholder="{{'Message' | translate}}" class="form-control">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label bold">{{'user_agent' | translate}} </label>

                                        <input type="text" ng-model="srch.user_agent" placeholder="{{'user_agent' | translate}}" class="form-control">

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label bold">{{'IP_Address' | translate}} </label>

                                        <input type="text" ng-model="srch.ip" placeholder="{{'IP_Address' | translate}}" class="form-control">

                                    </div>
                                </div>

                            </div>


                            <div class="col-md-12 col-sm-12 col-xs-12">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label bold">{{'From' | translate}} </label>

                                        <div class="input-group">
                                            <input type="text" is-open="from.opened" readonly ng-model="srch.from" uib-datepicker-popup="{{'yyyy-MM-dd'}}" placeholder="{{'From' | translate}}" class="form-control">
                                            <span class="input-group-btn">
                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="from.opened = true"><i ></i></button>
                            </span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label bold">{{'To' | translate}} </label>

                                        <div class="input-group">
                                            <input type="text" is-open="to.opened"readonly ng-model="srch.to" uib-datepicker-popup="{{'yyyy-MM-dd'}}" placeholder="{{'To' | translate}}" class="form-control">
                                            <span class="input-group-btn">
                                                    <button type="button" class="btn fa fa-calendar btn-default" ng-click="to.opened = true"><i ></i></button>
                                                </span>
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-5" ng-if="options.users">
                                    <div class="form-group" >
                                        <label class="control-label bold">{{'User' | translate}} </label>
                                        <div class="input-group">
                                            <multiselect  ng-model="srch.user_id" ng-if="options.users"
                                                          options="options.users" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                            </multiselect>
                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="srch.user_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 " style="padding-top: 20px;">
                                    <div class="clearfix pull-right">

                                        <button uib-tooltip="{{'export'| translate}}" ng-click="export()"  type="button" class="btn   green-turquoise "
                                                ng-show="logs.length > 0 ">
                                            <i class="fa fa-file-excel-o"></i>
                                            <span class="hidden-sm hidden-md  hidden-xs"> {{'export'| translate}}</span>
                                        </button>
                                        <button uib-tooltip="{{'search'| translate}}" class=" btn blue"
                                                ng-click="search()" type="button">
                                            <span class="icon-magnifier"></span>
                                            <span class="hidden-sm hidden-md  hidden-xs"> {{'search'| translate}}</span>
                                        </button>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" ng-show="logs.length > 0 " id="sample_1_length">
                        <label>
                            {{'show'| translate}}
                            <select
                                    class="form-control input-sm input-inline" ng-init=""
                                    ng-change="itemsPerPage_(itemsCount)"
                                    name="itemsCount"
                                    ng-model='itemsCount'>
                               <option value="50">50</option><option value="100">100</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="-1">{{'show_All'| translate}}</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    </div>
                </div>
                <div class="table-container">
                    <div class="row" style="padding: 2%;">
                        <div class="table-scrollable" ng-show="logs.length > 0 "  >
                            <table class="table table-hover">
                                <thead>
                                <tr  style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                    <th>{{'Action' | translate}}</th>
                                    <th>{{'Message' | translate}}</th>
                                    <th>{{'User' | translate}}</th>
                                    <th ng-if="charity_LoggedInUser.super_admin == 1">{{'Org_Name' | translate}}</th>
                                    <th>{{'IP_Address' | translate}}</th>
                                    <th>{{'user_agent' | translate}}</th>
                                    <th>{{'Time' | translate}}</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="log in logs">
                                <tr>
                                    <td>{{translateActions[log.action]}}</td>
                                    <td>{{log.message}}</td>
                                    <td>{{log.user_name}}</td>
                                    <td ng-show="charity_LoggedInUser.super_admin  == 1">{{log.organization_name}}</td>
                                    <td>{{log.ip}}</td>
                                    <td>{{log.user_agent}}</td>
                                    <td>{{log.created_at}}</td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <div  ng-show="logs.length <= 0 "  class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                            <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                            </div>
                        </div>
                        <div class="row" ng-show="logs.length > 0 "  >
                            <ul class="pagination pagination-sm pull-right"  max-size="maxSize"  uib-pagination ng-change="pageChanged()" boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->
<!-- END MAIN CONTENT -->
