<div class="modal-header" style="  padding:3%; ">
    <h4 class="modal-title text-center"> {{'sent internal message' | translate}} </h4>
</div>
<div class="modal-body">
    <form name="frm">
        <div class="form-group">
            <label class="control-label subject_style bold">{{ 'subject' | translate}} :</label>
            <div class="controls">
                <input type="text" class="form-control" ng-model="row.subject" required>
            </div>
        </div>
        <div class="form-group" >
            <ng-ckeditor name="editor" id="editor" ng-model="row.details" required></ng-ckeditor>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class=" btn blue" ng-disabled="frm.$invalid" ng-click="confirm(row)" type="button" > <span>{{'send'| translate}} </span> </button>
    <button class="btn red-pink"  ng-click="cancel()"><span>{{'cancel' | translate}}</span> </button>
</div>