<div class="modal-header" style="  padding:3%; ">
    <h4 class="modal-title text-center"> {{'sent sms form' | translate}} </h4>
</div>
<div class="modal-body">
    <form name="frmsms" novalidate="" role="form" class=" text-center" style="padding: 2%;">
        <div class="form-group " ng-class="{ 'has-error' : frmsms.sms_provider.$invalid && !frmsms.sms_provider.$pristine }">
            <label class="control-label">   {{'sms_provider'| translate}} </label>
            <select class="form-control"  ng-model="sms.sms_provider"  ng-required="true" name="sms_provider" ng-keypress="msg1.sms_provider = [ ]" >
                <option disabled selected value> ---   {{'sms_provider'| translate}} --- </option>
                <option ng-repeat="Provider in Providers" value="{{Provider.id}}" >
                    {{Provider.Label}}
                </option>
            </select>
            <span class="text-danger bold help-inline" ng-show="frmsms.sms_provider.$error.required && frmsms.sms_provider.$touched">
                                        {{'required_field'| translate}}
                </span>
            <span ng-repeat="(error, errortext) in msg1.sms_provider" class="text-danger bold help-inline"
                  ng-show="status1=='failed_valid' && 'msg1.sms_provider' != [ ]" >
                           {{ errortext.toString() }}
                </span>
        </div>

        <div class="form-group " ng-class="{ 'has-error' : frmsms.is_code.$invalid && !frmsms.is_code.$pristine }">
            <label class="control-label">   {{'content_code_to_replace'| translate}} </label>
            <select class="form-control"  ng-model="sms.is_code"  ng-required="true" name="is_code" ng-keypress="msg1.is_code = [ ]" >
                <option disabled selected value =''> ---   {{'select'| translate}} --- </option>
                <option value =1>  {{'yes'| translate}} </option>
                <option value =0>  {{'no'| translate}} </option>
            </select>
            <span class="text-danger bold help-inline" ng-show="frmsms.is_code.$error.required && frmsms.is_code.$touched">
                                        {{'required_field'| translate}}
                </span>
            <span ng-repeat="(error, errortext) in msg1.is_code" class="text-danger bold help-inline"
                  ng-show="status1=='failed_valid' && 'msg1.is_code' != [ ]" >
                           {{ errortext.toString() }}
                </span>
        </div>
        <div class="note note-success"  ng-if="sms.is_code == 1">
                <i style="font-size: larger" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                {{'please replace name to name place on add msg' | translate}}
        </div>
        <div class="form-group" ng-class="{ 'has-error' : frmsms.sms_messege.$invalid && !frmsms.sms_messege.$pristine }">
            <label class="control-label">  {{'sms_messege'| translate}} </label>
            <label class="control-label bold font-red-pink"> {{'char_count'| translate}} : (  {{sms.sms_messege.length}}  ) </label>
            <textarea ng-model="sms.sms_messege"
                      name="sms_messege"
                      placeholder="{{'sms_messege'| translate}}"
                      ng-change="msg1.sms_messege = [ ]"
                      class="form-control"
                      rows="4"
                      ng-required="true">
                </textarea>
            <span class="text-danger bold help-inline" ng-show="frmsms.sms_messege.$error.required && frmsms.sms_messege.$touched">
                    {{'required_field'| translate}}
                </span>
            <span ng-repeat="(error, errortext) in msg1.sms_messege"
                  class="text-danger bold help-inline"
                  ng-show="status1=='failed_valid' && 'msg1.sms_messege' != [ ]" >
                   {{ errortext.toString() }}
                </span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class=" btn blue" ng-disabled="frmsms.$invalid" ng-click="confirm(sms)" type="button" > <span>{{'send sms'| translate}} </span> </button>
    <button class="btn red-pink"  ng-click="cancel()"><span>{{'cancel' | translate}}</span> </button>
</div>