<style>
    .ui-select-bootstrap .ui-select-toggle > .caret {
        right: initial !important;
        left: 10px !important; /* or any other value - it should be the same as the original right value */
    }
</style>


<div class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <img src="/themes/logo.png" alt="Logo" uib-tooltip="نظام إدارة شئون الجميعات الموحد">
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content" style="margin: 0px auto 0 !important;width: 1000px !important;">
        <!-- BEGIN LOGIN FORM -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form name="frm" class="login-form" id="frm" action="" method="post" role="form"  >
                    <div class="form-body">
                        <div class="portlet light bordered">
                            <div class="portlet-title" style=" padding-top: 15px;  padding-bottom: 25px;  text-align:  center;">
                                <i class="font-dark"></i>
                                <h3 style="color: #215194 !important;"> الخدمات الالكترونية - فحص تلقي قسيمة </h3>
                            </div>
                            <div class="portlet-body" style="padding-top:25px;min-height: 150px;">

                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center margin-bottom-10">
                                        <a href="#/request.html" title="طلب مساعدة / تظلم / اقتراح"
                                           class="  btn yellow-saffron pull-right" >
                                            <span style="margin-left:3%;" class="fa fa-sticky-note"></span>
                                            <span class="hidden-sm hidden-md  hidden-xs">{{'request_screen'| translate}}</span>
                                        </a>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-4  col-md-offset-2 col-sm-12 col-xs-12 ">
                                                <div class="form-group">
                                                    <label class="control-label bold">   رقم الهوية </label>
                                                    <span class=" text-danger bold help-inline"> *</span>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="id_card_number"
                                                           maxlength="9"  autofocus
                                                           ng-maxlength="9"
                                                           numeric-only
                                                           ng-required="true"
                                                           ng-blur="FindPerson(row.id_card_number)"
                                                           ng-model="row.id_card_number"
                                                           placeholder="رقم الهوية " />
                                                    <span ng-repeat="(error, errortext) in validate.msg.id_card_number"
                                                          class="text-danger bold help-inline"
                                                          ng-show="validate.status=='failed_valid' && 'validate.msg.id_card_number' != [ ]" >
                                                   {{ errortext.toString() }}
                                                 </span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label bold">  تاريخ الميلاد </label>
                                                    <span class=" text-danger bold help-inline"> *</span>
                                                    <div  class="input-group" >
                                                        <input type="text" class="form-control"
                                                               uib-datepicker-popup="{{format}}"
                                                               ng-model="row.birthday"
                                                               datepickerPopup
                                                               ng-change="validate.msg.birthday = [ ]"
                                                               name="birthday"
                                                               ng-required="true"
                                                               is-open="popup1.opened" datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)" close-text="Close" readonly  />
                                                        <span class="input-group-btn">
                                                                <button type="button" class="btn btn-default " ng-click="open1($event)" >
                                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                                </button>
                                                          </span>
                                                    </div>
                                                    <span ng-repeat="(error, errortext) in validate.msg.birthday"
                                                          class="text-danger bold help-inline"
                                                          ng-show="validate.status=='failed_valid' && 'validate.msg.birthday' != [ ]" >
                                                   {{ errortext.toString() }}
                                                 </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                            <div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-12 text-center">
                                                <div class="clearfix   " style="width: 100%">
                                                    <button class="btn blue-hoki pull-left " ng-disabled="frm.$invalid" ng-click="check(row)"style="width: 100%" type="button">
                                                        <span class="icon-magnifier"></span>
                                                        <span class="hidden-sm hidden-md  hidden-xs"> التحقق من البيانات</span>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div ng-show="value != 0" class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading"style="
                  line-height: 35px;
                  height: 45px;
                  padding:5px 15px;
                  font-size: 1.3em !important;
                  font-weight: bold!important;
                  text-align: right !important;
                  ">{{'voucher_data'| translate}}</div>
                    <div class="panel-body">
                        <div class="col-md-12 col-sm-12 col-xs-12 margin-top-10">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label bold">   {{ 'full_name' | translate}} </label>
                                    <p class="form-control text-center" style="margin-top: 5px;"> {{person.name == null ? '-' :person.name}}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label bold">   {{ 'id_card_number' | translate}} </label>
                                    <p class="form-control text-center" style="margin-top: 5px;"> {{person.IDNO == null ? '-' :person.IDNO}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label bold">   {{ 'gender' | translate}} </label>
                                    <p class="form-control text-center" style="margin-top: 5px;"> {{person.SEX == null ? '-' :person.SEX}}</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label bold">   {{ 'marital_status' | translate}} </label>
                                    <p class="form-control text-center" style="margin-top: 5px;"> {{person.SOCIAL_STATUS == null ? '-' :person.SOCIAL_STATUS}}</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label bold">   {{ 'birthday' | translate}} </label>
                                    <p class="form-control text-center" style="margin-top: 5px;"> {{person.BIRTH_DT == null ? '-' :person.BIRTH_DT}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold">{{'voucher_title'| translate}}</label>
                                    <p class="form-control text-center" style="margin-top: 5px;"> {{details.voucher_title == null ? '-' :details.voucher_title}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold">{{'receipt_date'| translate}}</label>
                                    <p class="form-control text-center" style="margin-top: 5px;"> {{details.receipt_date == null ? '-' :details.receipt_date}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold">{{'receipt_time'| translate}}</label>
                                    <p class="form-control text-center" style="margin-top: 5px;"> {{details.receipt_time_ == null ? '-' :details.receipt_time_}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold">{{'receipt_location'| translate}}</label>
                                    <p class="form-control text-center" style="margin-top: 5px;"> {{details.receipt_location == null ? '-' :details.receipt_location}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold">{{'voucher_type'| translate}}</label>
                                    <p class="form-control text-center" style="margin-top: 5px;">  {{details.voucher_type}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold">{{'voucher_value'| translate}}</label>
                                    <p class="form-control text-center" style="margin-top: 5px;"> {{value }}  {{details.currency}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold">{{'shekel_value'| translate}}</label>
                                    <p class="form-control text-center" style="margin-top: 5px;"> {{shekel_value == null ? '-' :shekel_value}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold">{{'voucher_note'| translate}}</label>
                                    <p class="form-control text-center" style="margin-top: 5px;"> {{details.voucher_note == null ? '-' :details.voucher_note}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold">{{'voucher_content'| translate}}</label>
                                    <p class="form-control text-center" style="margin-top: 5px;"> {{details.voucher_content == null ? '-' :details.voucher_content}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END LOGIN FORM -->
    </div>
    <div class="copyright " style="color: #7a8ca5;">  شركة نبراس للاعلام وتكنولوجيا المعلومات © {{year}}  </div>
</div>