<div class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <img src="/themes/logo.png" alt="Logo" uib-tooltip="نظام إدارة شئون الجميعات الموحد">
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <!--style="width:600px !important;"-->
    <div class="content" >
        <div class="row">
            <div class="col-md-12 text-center" style="padding-bottom:20px;">
                <!--<div class="col-md-6">-->
                    <div>
                        <a href="#/request.html" title="طلب مساعدة / تظلم / اقتراح">
                            <img class="img-thumbnail" src="img/request.png" alt="" title="طلب مساعدة / تظلم / اقتراح"style="height: 250px !important;">
                        </a>
                    </div>
                    <div style="padding-top: 15px;">
                        <span class="text-blood bold" style="font-size: 14px !important; color: #424242 !important;"> طلب مساعدة / تظلم / اقتراح </span>
                    </div>

                <!--</div>-->
                <!--<div class="col-md-6">-->
                    <!--<div>-->
                        <!--<a href="#/check" title="فحص الاستفادة من مشروع">-->
                            <!--<img class="img-thumbnail" src="img/check.png" alt="" title="فحص الاستفادة من مشروع">-->
                        <!--</a>-->
                    <!--</div>-->
                    <!--<div style="padding-top: 5px;">-->
                        <!--<span class="text-blood bold"> فحص الاستفادة من مشروع</span>-->
                    <!--</div>-->

                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="copyright " style="color: #7a8ca5;">  شركة نبراس للاعلام وتكنولوجيا المعلومات © {{year}}  </div>

</div>