<style>
    .ui-select-bootstrap .ui-select-toggle > .caret {
        right: initial !important;
        left: 10px !important; /* or any other value - it should be the same as the original right value */
    }
</style>


<div class="login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <img src="/themes/logo.png" alt="Logo" uib-tooltip="نظام إدارة شئون الجميعات الموحد">
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content" style="margin: 0px auto 0 !important;width: 1000px !important;">
        <!-- BEGIN LOGIN FORM -->
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form name="frm" class="login-form" id="frm" action="" method="post" role="form"  >
                    <div class="form-body">
                        <div class="portlet light bordered">
                            <div class="portlet-title" style=" padding-top: 15px;  padding-bottom: 25px;  text-align:  center;">
                                <h3 style="color: #215194 !important;"> الخدمات الالكترونية - تقديم (طلب مساعدة / تظلم / اقتراح) </h3>
                            </div>
                            <div class="portlet-body" style="padding-top:25px;min-height: 150px;">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-4  col-md-offset-2 col-sm-12 col-xs-12 ">
                                                <div class="form-group">
                                                    <label class="control-label bold">   رقم الهوية </label>
                                                    <span class=" text-danger bold help-inline">( اجباري )</span>
                                                    <input type="text"
                                                           class="form-control"
                                                           name="id_card_number"
                                                           maxlength="9"  autofocus
                                                           ng-maxlength="9"
                                                           numeric-only
                                                           ng-required="true"
                                                           ng-blur="FindPerson(row.id_card_number)"
                                                           ng-model="row.id_card_number"
                                                           placeholder="رقم الهوية " />
                                                    <span ng-repeat="(error, errortext) in validate.msg.id_card_number"
                                                          class="text-danger bold help-inline"
                                                          ng-show="validate.status=='failed_valid' && 'validate.msg.id_card_number' != [ ]" >
                                                   {{ errortext.toString() }}
                                                 </span>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label bold">  تاريخ الميلاد </label>
                                                    <span class=" text-danger bold help-inline">( اجباري )</span>
                                                    <div  class="input-group" >
                                                        <input type="text" class="form-control"
                                                               uib-datepicker-popup="{{format}}"
                                                               ng-model="row.birthday"
                                                               datepickerPopup
                                                               ng-change="validate.msg.birthday = [ ]"
                                                               name="birthday"
                                                               ng-required="true"
                                                               is-open="popup1.opened" datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)" close-text="Close" readonly  />
                                                        <span class="input-group-btn">
                                                                <button type="button" class="btn fa fa-calendar btn-default " ng-click="open1($event)" >
                                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                                </button>
                                                          </span>
                                                    </div>
                                                    <span ng-repeat="(error, errortext) in validate.msg.birthday"
                                                          class="text-danger bold help-inline"
                                                          ng-show="validate.status=='failed_valid' && 'validate.msg.birthday' != [ ]" >
                                                   {{ errortext.toString() }}
                                                 </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                            <div class="col-md-4 col-md-offset-4 col-sm-6 col-xs-12 text-center">
                                                <div class="clearfix   " style="width: 100%">
                                                    <button class="btn btn-md blue-hoki pull-left " ng-disabled="frm.$invalid" ng-click="check(row)"style="width: 100%" type="button">
                                                        <span class="icon-magnifier"></span>
                                                        <span class="hidden-sm hidden-md  hidden-xs"> التحقق من البيانات</span>
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div ng-show="can_make_request" class="col-md-12 col-sm-12 col-xs-12">
                <div class="portlet light bordered">

                    <div class="portlet-body" style="padding-top:25px;min-height: 150px;">
                        <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                <div class="col-md-12 col-sm-12 col-xs-12 margin-top-10">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{ 'full_name' | translate}} </label>
                                            <p class="form-control text-center" style="margin-top: 5px;"> {{person.name == null ? '-' :person.name}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{ 'id_card_number' | translate}} </label>
                                            <p class="form-control text-center" style="margin-top: 5px;"> {{person.IDNO == null ? '-' :person.IDNO}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{ 'gender' | translate}} </label>
                                            <p class="form-control text-center" style="margin-top: 5px;"> {{person.SEX == null ? '-' :person.SEX}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{ 'marital_status' | translate}} </label>
                                            <p class="form-control text-center" style="margin-top: 5px;"> {{person.SOCIAL_STATUS == null ? '-' :person.SOCIAL_STATUS}}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{ 'birthday' | translate}} </label>
                                            <p class="form-control text-center" style="margin-top: 5px;"> {{person.BIRTH_DT == null ? '-' :person.BIRTH_DT}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="can_make_request" class="col-md-12 col-sm-12 col-xs-12 text-center">
                <form name="req_from" id="req_from" action="" method="post" role="form"  >
                    <div class="col-md-7 col-sm-12 col-xs-12 text-center">
                        <div class="panel panel-info">
                            <div class="panel-heading"style="
                      line-height: 35px;
                      height: 45px;
                      padding:5px 15px;
                      font-size: 1.3em !important;
                      font-weight: bold!important;
                      text-align: right !important;
                      ">بيانات المواطن</div>
                            <div class="panel-body">
                                <div class="col-md-12 col-sm-12 col-xs-12" >
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : frmpersonal.adscountry_id.$invalid && (!frmpersonal.adscountry_id.$pristine || frmpersonal.adscountry_id.$touched) }">
                                            <label class="control-label bold">   {{'country'| translate}}  <span class=" text-danger bold help-inline">( اجباري )</span></label>
                                            <span class=" text-danger bold help-inline" ng-show="frmpersonal.adscountry_id.$error.required && frmpersonal.adscountry_id.$touched">*</span>
                                            <ui-select
                                                    ng-model="request.adscountry_id" name="adscountry_id" ng-required="true"
                                                    ng-change="getLocation('sdistricts','scountries',request.adscountry_id)"
                                                    theme="bootstrap" class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in countries | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span ng-repeat="(error, errortext) in validate.msg.adscountry_id"
                                                  class="text-danger bold help-inline"
                                                  ng-show="validate.status=='failed_valid' && 'validate.msg.adscountry_id' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>

                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : frmpersonal.adsdistrict_id.$invalid && (!frmpersonal.adsdistrict_id.$pristine || frmpersonal.adsdistrict_id.$touched) }">
                                            <label class="control-label bold">   {{'district'| translate}}  <span class=" text-danger bold help-inline">( اجباري )</span></label>
                                            <span class=" text-danger bold help-inline" ng-show="frmpersonal.adsdistrict_id.$error.required && frmpersonal.adsdistrict_id.$touched">*</span>
                                            <ui-select   ng-model="request.adsdistrict_id" name="adsdistrict_id" ng-required="true"
                                                         ng-change="getLocation('sregions','sdistricts',request.adsdistrict_id)"
                                                         theme="bootstrap" class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in governarate | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span ng-repeat="(error, errortext) in validate.msg.adsdistrict_id"
                                                  class="text-danger bold help-inline"
                                                  ng-show="validate.status=='failed_valid' && 'validate.msg.adsdistrict_id' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : frmpersonal.adsregion_id.$invalid && (!frmpersonal.adsregion_id.$pristine  || frmpersonal.adsregion_id.$touched)}">
                                            <label class="control-label bold">   {{'region'| translate}}  <span class=" text-danger bold help-inline">( اجباري )</span></label>
                                            <span class=" text-danger bold help-inline" ng-show="frmpersonal.adsregion_id.$error.required && frmpersonal.adsregion_id.$touched">*</span>
                                            <ui-select   ng-model="request.adsregion_id"
                                                         name="adsregion_id"
                                                         ng-required="true"
                                                         ng-change="getLocation('sneighborhoods','sregions',request.adsregion_id)"
                                                         theme="bootstrap" class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in regions | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span ng-repeat="(error, errortext) in validate.msg.adsregion_id"
                                                  class="text-danger bold help-inline"
                                                  ng-show="validate.status=='failed_valid' && 'validate.msg.adsregion_id' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : frmpersonal.adsneighborhood_id.$invalid && (!frmpersonal.adsneighborhood_id.$pristine  || frmpersonal.adsneighborhood_id.$touched)}">
                                            <label class="control-label bold">   {{'nearlocation_'| translate}}  <span class=" text-danger bold help-inline">( اجباري )</span></label>
                                            <span class=" text-danger bold help-inline" ng-show="frmpersonal.adsneighborhood_id.$error.required && frmpersonal.adsneighborhood_id.$touched">*</span>
                                            <ui-select    ng-model="request.adsneighborhood_id"
                                                          name="adsneighborhood_id"
                                                          ng-change="getLocation('ssquares','sneighborhoods',request.adsneighborhood_id)"
                                                          ng-required="true"
                                                          theme="bootstrap" class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in nearlocation | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span ng-repeat="(error, errortext) in validate.msg.adsneighborhood_id"
                                                  class="text-danger bold help-inline"
                                                  ng-show="validate.status=='failed_valid' && 'validate.msg.adsneighborhood_id' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : frmpersonal.adssquare_id.$invalid && (!frmpersonal.adssquare_id.$pristine  || frmpersonal.adssquare_id.$touched)}">
                                            <label class="control-label bold">   {{'square'| translate}}  <span class=" text-danger bold help-inline">( اجباري )</span></label>
                                            <span class=" text-danger bold help-inline" ng-show="frmpersonal.adssquare_id.$error.required && frmpersonal.adssquare_id.$touched">*</span>
                                            <ui-select    ng-model="request.adssquare_id"
                                                          name="adssquare_id"
                                                          ng-change="getLocation('smosques','ssquares',request.adssquare_id)"
                                                          ng-required="true"
                                                          theme="bootstrap" class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in squares | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span ng-repeat="(error, errortext) in validate.msg.adssquare_id"
                                                  class="text-danger bold help-inline"
                                                  ng-show="validate.status=='failed_valid' && 'validate.msg.adssquare_id' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : frmpersonal.adsmosques_id.$invalid && (!frmpersonal.adsmosques_id.$pristine  || frmpersonal.adsmosques_id.$touched)}">
                                            <label class="control-label bold">   {{'mosques'| translate}}  <span class=" text-danger bold help-inline">( اجباري )</span></label>
                                            <span class=" text-danger bold help-inline" ng-show="frmpersonal.adsmosques_id.$error.required && frmpersonal.adsmosques_id.$touched">*</span>
                                            <ui-select ng-model="request.adsmosques_id"
                                                       name="adsmosques_id"
                                                       ng-change="validate.msg.adsmosques_id = [ ]"
                                                       ng-required="true"
                                                       theme="bootstrap" class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in mosques | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span ng-repeat="(error, errortext) in validate.msg.adsmosques_id"
                                                  class="text-danger bold help-inline"
                                                  ng-show="validate.status=='failed_valid' && 'validate.msg.adsmosques_id' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : frmpersonal.street_address.$invalid && (!frmpersonal.street_address.$pristine || frmpersonal.street_address.$touched)}">
                                            <label class="control-label bold">   {{'street_address'| translate}}  <span class=" text-success bold help-inline" > * </span></label>
                                            <span class=" text-danger bold help-inline" ng-show="frmpersonal.street_address.$error.required && frmpersonal.street_address.$touched">*</span>
                                            <input type="text"
                                                   class="form-control"
                                                   ng-model="request.street_address"
                                                   name="street_address"
                                                   ng-change="validate.msg.street_address = [ ]"
                                                   placeholder="{{'street_address'| translate}} " />
                                            <span ng-repeat="(error, errortext) in validate.msg.street_address"
                                                  class="text-danger bold help-inline"
                                                  ng-show="validate.status=='failed_valid' && 'validate.msg.street_address' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="note note-info">
                                        <strong class="font-blue" >
                                            <i style="font-size: larger" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                            {{'please enter the mobile begin with 59'| translate}}
                                        </strong>
                                    </div>

                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">{{'primary_mobile'| translate}} <span class=" text-danger bold help-inline">( اجباري )</span></label>

                                            <input type="text" class="form-control" ng-model="request.mobile"
                                                   name="mobile"  numeric-only maxlength="9" ng-change="validate.msg.mobile = [ ]"
                                                   ng-required="true"
                                            />
                                            <span ng-repeat="(error, errortext) in validate.msg.mobile"
                                                  class="text-danger bold help-inline"
                                                  ng-show="validate.status=='failed_valid' && 'validate.msg.mobile' != [ ]" >
                                     {{ errortext.toString() }}
                                      <span class="text-danger bold help-inline" ng-show="form_.mobile.$error.minlength">  {{"minlength 9"| translate}}  </span>
                                      <span class="text-danger bold help-inline" ng-show="form_.mobile.$error.maxlength">  {{"maxlength 9"| translate}}  </span>
                                      <span class="text-danger bold help-inline" ng-show="form_.mobile.$error.pattern">  {{"integer_field"| translate}}  </span>
                                      </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : frmpersonal.wataniya.$invalid && (!frmpersonal.wataniya.$pristine || frmpersonal.secondery_mobile.$touched)}">
                                            <label class="control-label bold">   {{'wataniya'| translate}}  <span class=" text-success bold help-inline" > * </span></label>
                                            <span class=" text-danger bold help-inline" ng-show="frmpersonal.wataniya.$error.required && frmpersonal.wataniya.$touched">*</span>
                                            <input type="text" class="form-control"
                                                   name="wataniya"
                                                   init=" "
                                                   numeric-only
                                                   maxlength="9"
                                                   ng-change="validate.msg.wataniya = [ ]"
                                                   ng-model="request.wataniya"
                                                   placeholder="{{'wataniya'| translate}} " />
                                            <span class=" text-danger bold help-inline" ng-show="frmpersonal.wataniya.$error.maxlength"></span>
                                            <span ng-repeat="(error, errortext) in validate.msg.wataniya"
                                                  class="text-danger bold help-inline"
                                                  ng-show="validate.status=='failed_valid' && 'validate.msg.wataniya' != [ ]" >
                                          {{ errortext.toString() }}
                                    </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{'phone'| translate}}  <span class=" text-success bold help-inline" > * </span></label>
                                            <input type="text" class="form-control"  numeric-only maxlength="7" ng-model="request.phone"
                                                   name="phone" ng-change="validate.msg.phone = [ ]" />
                                            <span ng-repeat="(error, errortext) in validate.msg.phone"
                                                  class="text-danger bold help-inline"
                                                  ng-show="validate.status=='failed_valid' && 'validate.msg.phone' != [ ]" >
                                     {{ errortext.toString() }}
                                    <span class="text-danger bold help-inline" ng-show="form_.phone.$error.minlength">  {{"minlength 7"| translate}}  </span>
                                      <span class="text-danger bold help-inline" ng-show="form_.phone.$error.maxlength">  {{"maxlength 7"| translate}}  </span>
                                      <span class="text-danger bold help-inline" ng-show="form_.phone.$error.pattern">  {{"integer_field"| translate}}  </span>

                                     </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12 text-center">
                        <div class="panel panel-info">
                            <div class="panel-heading"style="
                      line-height: 35px;
                      height: 45px;
                      padding:5px 15px;
                      font-size: 1.3em !important;
                      font-weight: bold!important;
                      text-align: right !important;
                      ">{{'request_data'| translate}}</div>
                            <div class="panel-body">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                                    <div class="form-group">
                                        <label class="control-label bold">{{'request_type'| translate}} <span class=" text-danger bold help-inline">( اجباري )</span></label>
                                        <select class="form-control" ng-model="request.type"
                                                name="type"  numeric-only maxlength="9" ng-change="validate.msg.type = [ ]"
                                                ng-required="true"
                                        >
                                            <option disabled selected value > --  {{'request_type'| translate}}  -- </option>
                                            <option  value="1" > {{'Suggestion' | translate}}</option>
                                            <option  value="2" > {{'interception' | translate}}</option>
                                            <option  value="3" > {{'aid request' | translate}}</option>
                                        </select>
                                        <span ng-repeat="(error, errortext) in validate.msg.type"
                                              class="text-danger bold help-inline"
                                              ng-show="validate.status=='failed_valid' && 'validate.msg.type' != [ ]" >
                                     {{ errortext.toString() }}
                                      </span>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                                    <div class="form-group">
                                        <label class="control-label bold">{{'request_date'| translate}} <span class=" text-danger bold help-inline">( اجباري )</span></label>
                                        <p class="form-control text-center" style="margin-top: 5px;"> {{request.date == null ? '-' :request.date}}</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                                    <div class="form-group" ng-class="{ 'has-error' : frm.notes.$invalid && !frm.notes.$pristine }">
                                        <label class="control-label bold">{{'request_notes'| translate}} <span class=" text-danger bold help-inline">( اجباري )</span></label>
                                        <textarea ng-model="request.notes" ng-required="true" name="notes" ng-change="validate.msg.notes = [ ]"
                                                  class="form-control"
                                                  ng-required="true"
                                                  rows="21">
                                        </textarea>
                                        <span ng-repeat="(error, errortext) in validate.msg.notes"
                                              class="text-danger bold help-inline"
                                              ng-show="validate.status=='failed_valid' && 'validate.msg.note' != [ ]" >
                                     {{ errortext.toString() }}
                                      </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group text-left" style=" margin-bottom: 5px !important;">
                                <label class="control-label bold">
                                                      <span ng-if="request.approve" class="checker">
                                                            <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                   ng-model="request.approve" ng-true-value="true" ng-false-value="false">
                                                      </span>
                                    <span ng-if="!request.approve">
                                                            <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                   ng-model="request.approve" ng-true-value="true" ng-false-value="false">
                                                      </span>
                                    <span> جميع المعلومات المدخلة في الطلب حقيقية وأتحمل المسئولية</span>
                                    <span class=" text-danger bold help-inline">( اجباري )</span>
                                </label>
                            </div>

                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <button class=" btn btn-md blue-hoki" ng-click="save(request)" style="width: 100% !important;" type="button" >
                                <span class="fa fa-save"></span>
                                <span> حفظ الطلب </span>
                            </button>
                        </div>
                </div>
                </form>
            </div>
        </div>
        <!-- END LOGIN FORM -->
    </div>
    <div class="copyright " style="color: #7a8ca5;">  شركة نبراس للاعلام وتكنولوجيا المعلومات © {{year}}  </div>
</div>