<section>
    <form name="form" id="form" class="form-horizontal" novalidate="" category="form" ng-submit="submit()">
        <fieldset>
            <legend>{{ 'information' | translate }}</legend>
            <div class="form-group" ng-class="errorClass('parent_id')">
                <label for="parent_id" class="col-md-2 control-label">{{ 'parent' | translate }}</label>
                <div class="col-md-4">
                    <select class="form-control has-error" id="parent_id" name="parent_id" ng-model="category.parent_id" ng-required="true">
                        <option ng-repeat="category in categories" ng-value="category.id" value="{{category.id}}">{{category.name}}</option>
                    </select>
                    <span class="help-block" ng-show="form.parent_id.$invalid && form.parent_id.$dirty">{{errorMessage('parent_id')}}</span>
                </div>
            </div>
            <div class="form-group" ng-class="errorClass('name')">
                <label for="name" class="col-md-2 control-label">{{ 'name' | translate }}</label>
                <div class="col-md-4">
                    <input type="text" class="form-control has-error" id="name" name="name" placeholder="{{'name' | translate}}" value="{{name}}" 
                           ng-model="category.name" ng-required="true">
                    <span class="help-block" ng-show="form.name.$invalid && form.name.$dirty">{{errorMessage('name')}}</span>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn blue">{{ 'save' | translate }}</button>
            </div>
        </div>
    </form>
</section>
<section ng-show="category.id" ng-controller="CategoryAttributeModal" class="cat-attrs">
    <hr>
    <h3>{{'attributes' | translate }}
        <small><button type="button" ng-click="CategoryAttributeModal.open()" class="btn btn-sm btn-circle btn-outline blue"><span class="glyphicon glyphicon-plus"></span></button></small></h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ 'attribute' | translate }}</th>
                <th>{{ 'type' | translate }}</th>
                <th>{{ 'required' | translate }}</th>
                <th>{{ 'options' | translate }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="attr in attrs">
                <td>{{attr.name}}</td>
                <td>{{attr.type}}</td>
                <td>{{attr.required}}</td>
                <td><span ng-repeat="value in attr.values"><span class="label label-info">{{value.name}}</span></span></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</section>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{'Add Attribute' | translate}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">{{'add' | translate}}</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">{{'cancel' | translate}}</button>
    </div>
</script>