<div ng-controller="CategoreisController">
    <div class="portlet light portlet-fit bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="glyphicon glyphicon-tags"></span>
                {{'categories' | translate}}
            </div>
            <div class="actions">
                <a class="btn btn-outline green" href="#/doc/categories/new"><span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-sm hidden-md  hidden-xs">{{'new' | translate}}</span></a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="alert alert-success" ng-show="success" category="alert">
                {{message}}
            </div>
            <div class="alert alert-danger" ng-show="error" category="alert">
                {{message}}
            </div>
            <div class="table-scrollable">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{'category' | translate}}</th>
                            <th>{{'files' | translate}}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="category in categories">
                        <tr>
                            <td>{{category.name}}</td>
                            <td>{{category.files}}</td>
                            <td>
                                <a class="btn btn-default btn-xs" href="{{'#/doc/categories/edit/' + category.id}}">{{'edit' | translate}}</a>
                                <button class="btn red-pink btn-xs" ng-click="deleteCategory(category, $index)">{{'delete' | translate}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>