<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'sponsorships management' | translate }}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'cases_manage' | translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a  href="#/sponsorship/all/cases"> {{'all_cases' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" >  {{'update parents data'| translate}}  </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<div ng-controller="EditParentInfoController">
    <!-- BEGIN CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
             <div class="portlet-title">
                    <div class="col-md-12 caption font-dark pull-left">
                        <i class="font-dark"></i>
                        <p class="col-md-9 pull-left" style=" height:40px;padding:5px 15px;
                  font-size: 1.3em !important; font-weight: bold!important;text-align: right !important; color: #0a6aa1">
                        {{'update parents data'| translate}}
                        </p>
                        <div class="col-md-2 pull-right" style="padding-top: 2%;padding-left: 2%;">
                            <div class=" btn-group " uib-dropdown 
                                 style=" width:100%; margin-top:6%;">
                                <button id="single-button" type="button" class="btn blue pull-left" style="width: 90%;" uib-dropdown-toggle ng-disabled="disabled">
                                    <span>{{'select operation' | translate }}</span>
                                    <span class="fa fa-cog"></span>
                                </button>
                                <ul class=" dropdown-menu " 
                                    uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                    <li>
                                        <a href="#/sponsorship/cases/show/{{id}}/" class="iconify">
                                            <i class="fa fa-edit"></i> {{'show case data' | translate}} </a>
                                    </li>
                                    <li ng-show=" organization_id == charity_LoggedInUser.organization_id">
                                        <a href="#/sponsorship/cases/edit/{{id}}/" class="iconify">
                                            <i class="fa fa-edit"></i> {{'edit case data' | translate}} </a>
                                    </li>
                                    <li  ng-show=" organization_id == charity_LoggedInUser.organization_id">
                                        <a ng-click="delete('sm',id)" class="iconify">
                                            <i class="fa fa-trash-o"></i> {{'delete case'| translate }} </a>
                                    </li>

                                    <li class="divider"  ng-show="organization_id == charity_LoggedInUser.organization_id && (item.father_id == null ||item.mother_id == null || item.guardian_id == null)"></li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.father_id == null">
                                        <a href="#/sponsorship/case/new/father/{{id}}" class="iconify">
                                            <i class="glyphicon glyphicon-plus"></i> {{'add father'| translate}} </a>
                                    </li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.mother_id == null ">
                                        <a href="#/sponsorship/case/new/mother/{{id}}" class="iconify">
                                            <i class="glyphicon glyphicon-plus"></i> {{'add mother'| translate}} </a>
                                    </li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.guardian_id == null">
                                        <a href="{{'#/sponsorship/case/new/guardian/'+id}}" class="iconify">
                                            <i class="glyphicon glyphicon-plus"></i> {{'add guardian'| translate}}  </a>
                                    </li>
                                    <li class="divider"  ng-show="organization_id == charity_LoggedInUser.organization_id && (item.father_id != null ||item.mother_id != null || item.guardian_id != null)"></li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.father_id != null">
                                        <a href="#/sponsorship/case/edit/father/{{id}}" class="iconify">
                                            <i class="fa fa-edit"></i> {{'edit father'| translate}} </a>
                                    </li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.mother_id != null ">
                                        <a href="#/sponsorship/case/edit/mother/{{id}}" class="iconify">
                                            <i class="fa fa-edit"></i> {{'edit mother'| translate}} </a>
                                    </li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.guardian_id != null">
                                        <a href="#/sponsorship/case/edit/guardian/{{id}}" class="iconify">
                                            <i class="fa fa-edit"></i> {{'edit guardian'| translate}}  </a>
                                    </li>
                                    <li class="divider"  ng-show="organization_id == charity_LoggedInUser.organization_id && (item.father_id != null ||item.mother_id != null || item.guardian_id != null)"></li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.father_id != null">
                                        <a href="#/sponsorship/case/change/father/{{id}}" class="iconify">
                                            <i class="fa fa-edit"></i> {{'change father'| translate}} </a>
                                    </li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.mother_id != null ">
                                        <a href="#/sponsorship/case/change/mother/{{id}}" class="iconify">
                                            <i class="fa fa-edit"></i> {{'change mother'| translate}} </a>
                                    </li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.guardian_id != null">
                                        <a href="#/sponsorship/case/change/guardian/{{id}}" class="iconify">
                                            <i class="fa fa-edit"></i> {{'change guardian'| translate}}  </a>
                                    </li>
                                    <li class="divider" ng-show=" organization_id == charity_LoggedInUser.organization_id"></li>
                                    <li ng-show=" organization_id == charity_LoggedInUser.organization_id">
                                        <a href="#/sponsorship/cases/edit/{{id}}/custom-form" class="iconify">
                                            <i class="fa fa-edit"></i>{{'update custom form'| translate}} </a>
                                    </li>
                                    <li ng-show=" organization_id == charity_LoggedInUser.organization_id">
                                        <a href="#/sponsorship/cases/edit/{{id}}/documents" class="iconify">
                                            <i class="fa fa-paperclip"></i> {{'case attachments'| translate}} </a>
                                    </li>
                                    <li ng-show=" organization_id == charity_LoggedInUser.organization_id">
                                        <a href="#/sponsorship/cases/edit/{{id}}/family" class="iconify">
                                            <i class="fa fa-edit"></i> {{'family member'| translate}} </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{{'#/sponsorship/cases/show/'+id+'/payments'}}" class="iconify">
                                            <i class="fa fa-money"></i>{{'show payments'| translate}} </a>
                                    </li>
                                    <li>
                                        <a href="{{'#/sponsorship/cases/show/'+id+'/guardians'}}" class="iconify">
                                            <i class="fa fa-users"></i>{{'show guardians'| translate}} </a>
                                    </li>
                                    <li>
                                        <a href="{{'#/sponsorship/cases/show/'+id+'/sponsorships'}}" class="iconify">
                                            <i class="fa fa-table"></i>{{'show sponsorships'| translate}} </a>
                                    </li>
                                    <li>
                                        <a ng-click="visitorNote(id)" class="iconify">
                                            <i class="fa fa-sticky-note"></i>{{'show visitor note'| translate}} </a>
                                    </li>
                                    <li>
                                        <a ng-click="statusLog(id)"  class="iconify">
                                            <i class="fa fa-history"></i> {{'status log'| translate}} </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a ng-click="download('word',id)" class="iconify">
                                            <i class="fa fa-file-word-o"></i> {{'download form'| translate}} </a>
                                    </li>
                                    <li>
                                        <a ng-click="download('pdf',id)" class="iconify">
                                            <i class="fa fa-file-pdf-o"></i> {{'download form'| translate}} </a>
                                    </li>
                                    <!--                                                ng-show=" item.guardian_dcoument != null || item.mother_dcoument != null-->
                                    <!--                                                || item.father_dcoument != null || item.person_dcoument != null "-->
                                    <li  >
                                        <a ng-click="download('archive',id)" class="iconify">
                                            <i class="fa fa-file-archive-o"></i>{{'download attachments'| translate}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
             </div>
             <div class="portlet-body">

                 <div class="panel panel-info">
                     <div class="panel-heading">
                                {{'father_data' | translate }}
                     </div>
                     <div class="panel-body" style="padding:2%;">
                         <div class="col-md-12 col-sm-12 col-xs-12" data-ng-include="'app/modules/sponsorship/views/caseForm/content/father-form.html'"> </div>
                         <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 2%;">
                             <div class="col-md-2 pull-right" >
                                 <button class=" btn blue pull-right bold" style="width: 100%" ng-click="save('father',father)" type="button" >
                                    <span> {{'save' | translate }}</span>
                                 </button>
                             </div>
                             <div class="col-md-8 pull-right font-blue text-right" ng-if="success_1" style="padding-top: 1%;">
                                 {{'The row is updated' | translate }}
                             </div>

                             <div>
                             </div>
                         </div>
                     </div>
                 </div>
                 <div class="panel panel-info">
                     <div class="panel-heading">
                         {{'mother_data' | translate }}
                     </div>
                     <div class="panel-body" style="padding:2%;">

                         <div class="col-md-12 col-sm-12 col-xs-12" data-ng-include="'app/modules/sponsorship/views/caseForm/content/mother-form.html'"> </div>
                         <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 2%;">
                             <div class="col-md-2 pull-right" >
                                 <button class=" btn blue pull-right bold" style="width: 100%" ng-click="save('mother',mother)" type="button" >
                                     <span>{{'save' | translate }}</span>
                                 </button>
                             </div>
                             <div class="col-md-8 pull-right font-blue text-right" ng-if="success_2" style="padding-top: 1%;">
                                 {{'The row is updated' | translate }}
                             </div>

                             <div>
                             </div>
                         </div>
                     </div>
                 </div>

             </div>
            </div>
        </div>
    </div>
</div>


