
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'sponsorships management' | translate }}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'cases_manage' | translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{case.sponsor_name}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'case reports attachments' | translate }}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        {{case.full_name}}
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="font-dark"></i>
                        <h3>
                            <i class="fa fa-paperclip"></i>
                           <span> {{'reports attachments' | translate }}</span>
                            <span>/</span>
                            <span>{{case.full_name}}</span>
                        </h3>
                    </div>
                    <div class="actions" style="padding-top: 20px">
                        <div class="clearfix">
                            <button uib-tooltip="{{'regenerate' | translate }}" class=" btn blue  "
                                    ng-disabled=" !(form.$valid && items.length != 0)"
                                    ng-click="generate()" type="button" >
                                <span class="fa fa-refresh"></span>
                                <span class="hidden-sm hidden-md  hidden-xs">{{'regenerate report' | translate }}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body" style="padding: 20px !important;">
                     <div class="row" style="margin-bottom: 2%;">
                         <div class="col-md-12 col-sm-12 col-xs-12">
                             <div class="col-md-10 col-md-offset-1" style="margin-bottom: 1%;padding-top: 4%;padding-bottom: 2%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                                 <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                     <form name="form">
                                         <div class="col-md-3 col-md-offset-1">
                                             <div class="form-group">
                                                 <label class="control-label  bold ">
                                                     {{'attachment_category' | translate }}
                                                     <span class="required" aria-required="true"> * </span>
                                                 </label>
                                                 <select class="form-control" autofocus name="doc_category_id" ng-model='filters.doc_category_id' required>
                                                     <option disabled selected value > --  {{'report_category' | translate }}  -- </option>
                                                     <option  value="1" > {{'Annual' | translate }} </option>
                                                     <option  value="2" > {{'mid Annual' | translate }} </option>
                                                     <option  value="3" > {{'quarter Annual' | translate }} </option>
                                                     <option  value="4" > {{'monthly' | translate }} </option>
                                                     <option  value="5" > {{'urgent' | translate }} </option>
                                                 </select>
                                             </div>
                                         </div>
                                         <div class="col-md-3">
                                             <div class="form-group">
                                                 <label class="control-label bold">
                                                     {{'attachment_date_from' | translate }}
                                                     <span class="required" aria-required="true"> * </span>
                                                 </label>
                                                 <div  class="input-group">
                                                     <input type="text" class="form-control"
                                                            uib-datepicker-popup="{{format}}"
                                                            ng-model="filters.date_from" required
                                                            datepickerPopup
                                                            name="date_from"
                                                            is-open="popup[1].opened" datepicker-options="dateOptions1"
                                                            date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                     <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-click="open(1,$event)">
                                                                                        </button>
                                                                    </span>
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="col-md-3">
                                             <div class="form-group">
                                                 <label class="control-label bold">
                                                     {{'attachment_date_to' | translate }}
                                                     <span class="required" aria-required="true"> * </span>
                                                 </label>
                                                 <div  class="input-group">
                                                     <input type="text" class="form-control"
                                                            uib-datepicker-popup="{{format}}"
                                                            ng-model="filters.date_to"
                                                            datepickerPopup
                                                            name="date_to" required
                                                            is-open="popup[2].opened" datepicker-options="dateOptions2"
                                                            date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                     <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-click="open(2,$event)">
                                                                                        </button>
                                                                    </span>
                                                 </div>
                                             </div>
                                         </div>
                                         <div class="col-md-1 text-center pull-left " style="padding-top: 17.5px;">
                                             <button  class=" pull-right btn blue  " ng-disabled="form.$invalid"  style="margin-top: 7%;" ng-click="searchCases(filters,'paginate')" type="button" >
                                                 <span style="margin-left:3%;" class="icon-magnifier"></span>
                                                 <span style="margin-left:3%;" >{{'search' | translate }}</span>
                                             </button>
                                         </div>
                                     </form>
                                 </div>
                             </div>
                         </div>
                         <div class="col-md-8 col-md-offset-2 text-center" ng-show="items.length > 0 ">

                             <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:10px;" ng-if="form.$valid ">
                                 <button type="button" class="btn blue pull-left"
                                         ng-click="searchCases(filters,'export')"  style="margin-left: 1%;">
                                     <span class="fa fa-file-archive-o"  style="margin-right: 2%;"></span>
                                     <span>{{'export all attachments' | translate }}</span>
                                 </button>
                             </div>

                             <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                <thead>
                                <tr style="background-color: #f3f3f3!important; color: #337ab7; height:50px; line-height: 40px; font-size: 30px; ">
                                    <th class="text-center" > {{'#' | translate }} </th>
                                    <th class="text-center"> {{'document_type_name' | translate }}</th>
                                    <th class="text-center"> {{'operations' | translate }} </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in items">
                                    <td>{{ $index +1}}</td>
                                    <td>{{ item.document_type_name }}</td>
                                    <td>
                                        <span ng-show="item.filepath != null">
                                                    <img ng-click="showImage(item.filepath)" ng-if="item.filepath != null" ng-src="{{imgSrc}}" style="width: 60px; height: 60px; margin-left:2%;" data-img-blob=""
                                                         doc-file-view data-url="{{'/doc/files/thumbnail/'+item.document_id}}" class="img-thumbnail">

                                            <span class="btn-group">
                                                  <button type="button" class="btn green-turquoise  btn-xs"   data-download="{{ item.name }}"
                                                     doc-file-download data-url="/doc/files/download/{{item.document_id}}">
                                                     <span class="glyphicon glyphicon-upload"></span><span> {{'download' | translate }}</span>
                                                  </button>
                                                  <button type="button" class="btn yellow-saffron btn-xs" ng-click="ChooseAttachment(item.id)">
                                                          <span class="fa fa-refresh"></span><span style="">{{'reload' | translate }}</span>
                                                  </button>
                                                  <button type="button" ng-show="item.multiple == 1 || item.multiple == '1'"
                                                          class="btn blue btn-xs" ng-click="upload(item,'duplicate')">
                                                          <span class="fa fa-file-image-o"></span><span style="">{{'upload' | translate }}</span>
                                                  </button>
                                            </span>
                                        </span>
                                        <span ng-show="item.filepath == null">

                                                   <button type="button" class="btn green-turquoise  btn-xs" ng-click="upload(item,'new')">
                                                          <span class="fa fa-file-image-o"></span>
                                                          <span style="">{{'upload' | translate }}</span>
                                                   </button>
                                        </span>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                         </div>
                         <div class="col-md-12 col-sm-12 col-xs-12 text-center" ng-show="items.length == 0 " style="margin-bottom: 2%  ; margin-top: 2%">
                             <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show' | translate }}
                                                                    </span>
                             </div>
                         </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/ng-template" id="myModalContent2.html">
    <div class="modal-header" style="  padding:5%; ">
        <h4 class="modal-title bold text-center"> {{'Files Uploaded form' | translate }} </h4>
    </div>
    <div class="modal-body">
        <div class="row" style="padding: 2%;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12" style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">{{'select attachment' | translate }}</label>
                        <div class="col-md-10">
                            <div class="margin-bottom-20">
                                <input type="file" accept="image/x-png,image/gif,image/jpeg,image/jpg" nv-file-select="" onchange="angular.element(this).scope().fileupload(this)"  uploader="uploader" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="uppercase">
                            <th >{{'name' | translate }}</th>
                            <th ng-show="uploader.isHTML5">{{'size' | translate }}</th>
                            <th ng-show="uploader.isHTML5">{{'progress' | translate }}</th>
                            <th>{{'status' | translate }}</th>
                            <th>{{'actions' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td>
                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 48 }"></div>
                            </td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress progress-sm" style="margin-bottom: 0;">
                                    <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                                    <span ng-show="item.isSuccess" class="text-success">
                                                        <i class="glyphicon glyphicon-ok"></i>
                                                    </span>
                                <span ng-show="item.isError" class="font-red-pink">
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                    </span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> <span>{{'upload' | translate }}</span> </button>
                                <button type="button" class="btn red-pink btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> <span>{{'remove' | translate }}</span> </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div>
                        <p>{{'queue_progress' | translate }}:</p>
                        <div class="progress progress-sm" style="">
                            <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel' | translate }}</span> </button>
    </div>
</script>
