<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'sponsorships management' | translate }}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'cases_manage' | translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'families' | translate }}
    </li>
</ul>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <i class="fa fa-users"></i>
                        <span> {{'families' | translate }}</span>
                    </h3>
                </div>
                <button  class=" pull-right btn blue " style="margin-top: 2%;" ng-click="toggleCustom()" type="button" >
                    <span> {{'advanced_search' | translate }}</span>
                    <span class="fa fa-search"></span>
                </button>

            </div>

            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="col-md-12 col-sm-12 col-xs-12" ng-hide="custom" style="margin-top: 1%;">
                        <form name="frmsearch"  novalidate role="form" class=" text-center" style="padding:0 2%;">
                            <div class="row"  style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-3" ng-if=" can('sponsorship.case.searchFamilies')">
                                        <div class="form-group" style="padding-top:25px;">
                                            <label class="control-label bold">

                                                      <span ng-if="filter.all_organization" class="checker">
                                                            <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                   ng-model="filter.all_organization" ng-true-value="true" ng-false-value="false">
                                                      </span>
                                                <span ng-if="!filter.all_organization">
                                                            <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                   ng-model="filter.all_organization" ng-true-value="true" ng-false-value="false">
                                                      </span>
                                                <span >{{'search in all organization' | translate }}</span>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-3 " ng-if=" can('sponsorship.case.searchFamilies')">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'organization_name' | translate }}</label>
                                            <multiselect  ng-model="filter.organization_id" ng-if="Org" ng-class="filter.all_organization? '' : 'inactive'"
                                                          options="Org" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                            </multiselect>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label bold">{{'category_name' | translate }}</label>
                                            <div class="input-group">
                                                <ui-select  ng-model="filter.category_id" name="category_id"theme="bootstrap" required
                                                            class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in sponsorCategories_ | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                                     <button type="button" ng-click="filter.category_id = undefined" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'card_number' | translate }}   ( {{'father' | translate }} )</label>
                                            <input type="text" class="form-control" name="father_id_card_number" ng-model="filter.father_id_card_number" maxlength="9" numeric-only />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'card_number' | translate }}   ( {{'mother' | translate }} )</label>
                                            <input type="text" class="form-control" name="mother_id_card_number" ng-model="filter.mother_id_card_number" maxlength="9" numeric-only />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'card_number' | translate }}   ( {{'guardian' | translate }} )</label>
                                            <input type="text" class="form-control" name="guardian_id_card_number" ng-model="filter.guardian_id_card_number" maxlength="9" numeric-only />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'first_name' | translate }}  ( {{'father' | translate }}   ) </label>
                                            <input type="text" class="form-control" name="father_first_name" ng-model="filter.father_first_name" maxlength="45"/>
                                            <span class=" font-red-pink bold help-inline" ng-show="frmsearch.father_first_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'father_name' | translate }}   ( {{'father' | translate }} )</label>
                                            <input type="text" class="form-control" name="father_second_name" ng-model="filter.father_second_name" maxlength="45"/>
                                            <span class=" font-red-pink bold help-inline" ng-show="frmsearch.father_second_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'grandfather_name' | translate }}   ( {{'father' | translate }} )</label>
                                            <input type="text" class="form-control" name="father_third_name" ng-model="filter.father_third_name" maxlength="45" />
                                            <span class=" font-red-pink bold help-inline" ng-show="frmsearch.father_third_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'family_name' | translate }}   ( {{'father' | translate }} )</label>
                                            <input type="text" class="form-control" name="father_last_name" ng-model="filter.father_last_name" maxlength="45"/>
                                            <span class=" font-red-pink bold help-inline" ng-show="frmsearch.father_last_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'first_name' | translate }}  ( {{'mother' | translate }}   ) </label>
                                            <input type="text" class="form-control" name="mother_first_name" ng-model="filter.mother_first_name" maxlength="45"/>
                                            <span class=" font-red-pink bold help-inline" ng-show="frmsearch.mother_first_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'father_name' | translate }}   ( {{'mother' | translate }} )</label>
                                            <input type="text" class="form-control" name="mother_second_name" ng-model="filter.mother_second_name" maxlength="45"/>
                                            <span class=" font-red-pink bold help-inline" ng-show="frmsearch.mother_second_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'grandfather_name' | translate }}   ( {{'mother' | translate }} )</label>
                                            <input type="text" class="form-control" name="mother_third_name" ng-model="filter.mother_third_name" maxlength="45" />
                                            <span class=" font-red-pink bold help-inline" ng-show="frmsearch.mother_third_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'family_name' | translate }}   ( {{'mother' | translate }} )</label>
                                            <input type="text" class="form-control" name="mother_last_name" ng-model="filter.mother_last_name" maxlength="45"/>
                                            <span class=" font-red-pink bold help-inline" ng-show="frmsearch.mother_last_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'first_name' | translate }}  ( {{'guardian' | translate }}   ) </label>
                                            <input type="text" class="form-control" name="guardian_first_name" ng-model="filter.guardian_first_name" maxlength="45"/>
                                            <span class=" font-red-pink bold help-inline" ng-show="frmsearch.guardian_first_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'father_name' | translate }}   ( {{'guardian' | translate }} )</label>
                                            <input type="text" class="form-control" name="guardian_second_name" ng-model="filter.guardian_second_name" maxlength="45"/>
                                            <span class=" font-red-pink bold help-inline" ng-show="frmsearch.guardian_second_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'grandfather_name' | translate }}  ( {{'guardian' | translate }}   )</label>
                                            <input type="text" class="form-control" name="guardian_third_name" ng-model="filter.guardian_third_name" maxlength="45" />
                                            <span class=" font-red-pink bold help-inline" ng-show="frmsearch.guardian_third_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'family_name' | translate }}   ( {{'guardian' | translate }} )</label>
                                            <input type="text" class="form-control" name="guardian_last_name" ng-model="filter.guardian_last_name" maxlength="45"/>
                                            <span class=" font-red-pink bold help-inline" ng-show="frmsearch.guardian_last_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'min total amount of payments' | translate }} </label>
                                            <input type="text" class="form-control" name="min_total_amount_of_payments" ng-model="filter.min_total_amount_of_payments"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'max total amount of payments' | translate }} </label>
                                            <input type="text" class="form-control" name="max_total_amount_of_payments" ng-model="filter.max_total_amount_of_payments"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'min' | translate }} ( {{'total amount of payments in this year' | translate }} ) </label>
                                            <input type="text" class="form-control" name="min_total_this_year" ng-model="filter.min_total_this_year"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'max' | translate }} ( {{'total amount of payments in this year' | translate }} ) </label>
                                            <input type="text" class="form-control" name="max_total_this_year" ng-model="filter.max_total_this_year"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'min family_count number' | translate }} </label>
                                            <input type="text" class="form-control" name="min_brother_number" ng-model="filter.min_children_number"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'max family_count number' | translate }} </label>
                                            <input type="text" class="form-control" name="max_brother_number" ng-model="filter.max_children_number"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-4"></div>
                                    <div class="col-md-2 pull-right" style="margin-right: 10px;">
                                        <button class="btn blue pull-right" style="width:95%;"  ng-click="Search(false , filter,'filters')" type="button" > <span>{{'search' | translate }} </span> </button>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1%; margin-top: 1%;">
                        <div class="btn-group "  uib-dropdown  ng-show="items.length != 0" ng-disabled=" form.$invalid || items.length == 0">
                                                    <button id="single-button1" type="button" 
                                                             uib-tooltip="{{'export all' | translate}}"
                                                             class="  btn green-turquoise" uib-dropdown-toggle ng-disabled="disabled">
                                                         <span class="glyphicon glyphicon-download"></span>
                                                         <span class="hidden-sm hidden-md  hidden-xs">{{'download import file' | translate}}</span>
                                                          <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                                        <li>
                                                            <a ng-click="Search(false ,filter,'export')" class="iconify" ng-disabled=" form.$invalid || items.length == 0">
                                                                <i class="fa fa-file-archive-o"  style="margin-left: 4%"></i>{{'All'| translate}}</a>
                                                        </li>
                                                        <li>
                                                            <a ng-click="Search(true ,filter,'export')" class="iconify" ng-disabled=" form.$invalid || items.length == 0">
                                                                <i class="fa fa-file-archive-o"  style="margin-left: 4%"></i>{{'selected'| translate}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                        <form class="form-inline search-form pull-right" style="margin-left:0.3%;">
                            <div class="input-group">
                                <input type="text"
                                       ng-model="search" autofocus
                                       class="form-control"
                                       placeholder="{{'search' | translate }} "
                                       name="search">
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" >
                        <div class="row" ng-show="items.length > 0 ">
                            <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
                                <label>{{'show' | translate }}
                                    <select
                                            class="form-control input-sm input-inline" ng-init=""
                                            ng-change="itemsPerPage_(itemsCount)"
                                            name="itemsCount"
                                            ng-model='itemsCount'>
                                       <option value="50">50</option><option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                        <option value="-1">{{'show_All' | translate }}</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12"   ng-show="items.length !=0" >
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                <thead>
                                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                    <th class="text-center" > {{'#' | translate }} </th>
                                     <th  class="text-center" >
                                                <input type="checkbox"
                                                       ng-model="All"
                                                       ng-change="selectedAll(All)"
                                                       ng-true-value="true"
                                                       ng-false-value="false"
                                                       ></th>
                                <!--  <th class="text-center" ng-click="sort('person_name')"> {{'the_name' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='person_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                     <th class="text-center" ng-click="sort('id_card_number')"> {{'id_card_number' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='id_card_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th> -->
                                    <th class="text-center" ng-click="sort('father_name')"> {{'father_name' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='father_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('mother')"> {{'mother_name' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='mother'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('guardian')"> {{'guardians' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='guardian'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('id_card_number')"> {{'card_number' | translate }}   ( {{'father' | translate }} )
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='id_card_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('family_count')"> {{'family_count' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='family_count'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('total')"> {{'total amount of payments' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='total'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('totalIn')"> {{'total amount of payments in this year' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='totalIn'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="item in items|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                    <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                    <td >
                                                <input type="checkbox" class="make-switch"
                                                       data-on-color="primary"
                                                       data-off-color="info"
                                                       ng-model="item.check"
                                                       ng-checked="item.check"
                                                       ng-true-value="true"
                                                       ng-false-value="false"
                                                       ></td>
                                    
                                    
<!--                                      <td>     {{item.person_name }} </td>
                                      <td>     {{item.id_card_number }} </td>-->
                                    <td>
                                        <span ng-if="item.father != 'null' ">{{item.father }}</span>
                                        <span ng-if="item.father == null || item.father == 'null'"> - </span>
                                    </td>
                                    <td>
                                        <span ng-if="item.mother != 'null' ">{{item.mother }}</span>
                                        <span ng-if="item.mother == null || item.mother == 'null'"> - </span>
                                    </td>
                                    <td>
                                        <span ng-if="item.guardian != 'null' ">{{item.guardian }}</span>
                                        <span ng-if="item.guardian == null || item.guardian == 'null'"> - </span>
                                    </td>
                                    <td>
                                        <span ng-if="item.father_id_card_number != 'null' ">{{item.father_id_card_number }}</span>
                                        <span ng-if="item.father_id_card_number == null || item.father_id_card_number == 'null'"> - </span>
                                    </td>
                                    <td>
                                        <span ng-if="item.family_count != 'null' ">{{item.family_count }}</span>
                                        <span ng-if="item.family_count == null || item.family_count == 'null'"> 0 </span>
                                    </td>
                                    <td>
                                        <span ng-if="item.total != 'null' ">{{item.total | number:2}}</span>
                                        <span ng-if="item.total == null || item.total == 'null'"> 0 </span>
                                    </td>
                                    <td>
                                        <span ng-if="item.totalIn != 'null' ">{{item.totalIn | number:2}}</span>
                                        <span ng-if="item.totalIn == null || item.totalIn == 'null'"> 0 </span>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-show="items.length ==0" class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show' | translate }}
                                                                    </span>
                        </div>
                    </div>
                    <div class="row" ng-show="items.length !=0">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                <span class="bold ">{{'number of total items'| translate}}</span>
                                <span class="bold "> : </span>
                                <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                <span class="bold ">{{'row' | translate }}</span>
                            </div>
                            <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

