<style>
    .disableSponsor{
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }

</style>

<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'sponsorships management' | translate }}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'cases_manage' | translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'reports_' | translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
   <li>
       <span>{{'archived reports' | translate }}</span>
   </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <h3>
                            <span class="fa fa-sticky-note"></span> <span>{{'archived reports' | translate }}</span>
                        </h3>
                    </div>
                    <div class="actions" style="padding-top: 20px">
                        <div class="clearfix">
                            <button uib-tooltip="{{'search' | translate }}" class=" btn blue  " ng-click="toggleCustom()" type="button" >
                                <span class="icon-magnifier"></span>
                                <span class="hidden-sm hidden-md  hidden-xs">{{'advanced_search' | translate }}</span>
                            </button>
                            <button uib-tooltip=" {{'create report' | translate }}" ng-click="reports()"  type="button" class="btn   yellow-saffron ">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="hidden-sm hidden-md  hidden-xs">{{'create report' | translate }}</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-12 col-sm-12 col-xs-12" ng-hide="custom">
                                <div class="form-body pull-right text-center" style="padding:0 2%; margin-top: 1%;" >
                                    <div class="row" style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                                        <div class="col-md-12 pull-left">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label  bold ">  {{'report_title' | translate }}  </label>
                                                        <input type="text" class="form-control"   ng-model="filters.title"  name="title"
                                                               placeholder="{{'report_title' | translate }} "  />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label bold">  {{'notes' | translate }}  </label>
                                                        <input type="text" class="form-control"  ng-model="filters.notes"  name="notes"
                                                               placeholder="{{'notes' | translate }} "  />
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label  bold ">  {{'sponsor_name' | translate }}  </label>
                                                        <div class="input-group">
                                                            <ui-select
                                                                    name="sponsor_id"
                                                                    ng-model='filters.sponsor_id'
                                                                    theme="bootstrap" ng-disabled="disableSponsor"
                                                                    class="text-right" >
                                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                                <ui-select-choices repeat="item.id as item in Sponsor | filter: $select.search">
                                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                            <span class="input-group-btn">
                                            <button type="button"
                                                    ng-click="filters.sponsor_id = undefined" class="btn btn-default" ng-class="{'disableSponsor':disableSponsor,'!disableSponsor': ''}">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label  bold ">  {{'category_name' | translate }}  </label>
                                                        <div class="input-group">
                                                            <ui-select name="category_id" ng-model='filters.category_id' theme="bootstrap" class="text-right" >
                                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                                <ui-select-choices repeat="item.id as item in sponsorCategories_ | filter: $select.search">
                                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                            <span class="input-group-btn">
                                            <button type="button"
                                                    ng-click="filters.category_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label  bold ">  {{'report_type' | translate }}  </label>
                                                        <select class="form-control" name="report_type" ng-model='filters.report_type'>
                                                            <option disabled selected value > --  {{'report_type' | translate }}  -- </option>
                                                            <option  value="1" > {{'without details' | translate }} </option>
                                                            <option  value="2" > {{'with details' | translate }} </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label  bold ">  {{'report_category' | translate }}  </label>
                                                        <select class="form-control" name="category" ng-model='filters.category' >
                                                            <option disabled selected value > --  {{'report_category' | translate }}  -- </option>
                                                            <option  value="1" > {{'Annual' | translate }} </option>
                                                            <option  value="2" > {{'mid Annual' | translate }} </option>
                                                            <option  value="3" > {{'quarter Annual' | translate }} </option>
                                                            <option  value="4" > {{'monthly' | translate }} </option>
                                                            <option  value="5" > {{'urgent' | translate }} </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label bold">   {{'report_date_from' | translate }}  ( {{'from' | translate }}   ) </label>
                                                        <div  class="input-group">
                                                            <input type="text" class="form-control"
                                                                   uib-datepicker-popup="{{format}}"
                                                                   ng-model="filters.begin_date_from"
                                                                   datepickerPopup
                                                                   name="begin_date_from"
                                                                   is-open="popup[1].opened" datepicker-options="dateOptions1"
                                                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                            <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-click="open(1,$event)">
                                                                                        </button>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label bold">   {{'report_date_from' | translate }}  ( {{'to' | translate }}   ) </label>
                                                        <div  class="input-group">
                                                            <input type="text" class="form-control"
                                                                   uib-datepicker-popup="{{format}}"
                                                                   ng-model="filters.end_date_from"
                                                                   datepickerPopup
                                                                   name="end_date_from"
                                                                   is-open="popup[2].opened" datepicker-options="dateOptions1"
                                                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                            <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-click="open(2,$event)">
                                                                                        </button>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label bold">   {{'report_date_to' | translate }}  ( {{'from' | translate }}   ) </label>
                                                        <div  class="input-group">
                                                            <input type="text" class="form-control"
                                                                   uib-datepicker-popup="{{format}}"
                                                                   ng-model="filters.begin_date_to"
                                                                   datepickerPopup
                                                                   name="begin_date_to"
                                                                   required
                                                                   is-open="popup[3].opened" datepicker-options="dateOptions2"
                                                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                            <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"

                                                                                ng-click="open(3,$event)">
                                                                                        </button>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label bold">   {{'report_date_to' | translate }}  ( {{'to' | translate }}   ) </label>
                                                        <div  class="input-group">
                                                            <input type="text" class="form-control"
                                                                   uib-datepicker-popup="{{format}}"
                                                                   ng-model="filters.end_date_to"
                                                                   datepickerPopup
                                                                   name="end_date_to"
                                                                   required
                                                                   is-open="popup[4].opened" datepicker-options="dateOptions2"
                                                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                            <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-click="open(4,$event)">
                                                                                        </button>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label bold">   {{'created_at_from' | translate }} </label>
                                                        <div  class="input-group">
                                                            <input type="text" class="form-control"
                                                                   uib-datepicker-popup="{{format}}"
                                                                   ng-model="filters.created_at_from"
                                                                   datepickerPopup
                                                                   name="created_at_from"
                                                                   is-open="popup[5].opened" datepicker-options="dateOptions"
                                                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open(5,$event)">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                          </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="control-label bold">   {{'created_at_to' | translate }} </label>
                                                        <div  class="input-group">
                                                            <input type="text" class="form-control"
                                                                   uib-datepicker-popup="{{format}}"
                                                                   ng-model="filters.created_at_to"
                                                                   datepickerPopup
                                                                   name="created_at_to"
                                                                   is-open="popup[6].opened" datepicker-options="dateOptions"
                                                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open(6,$event)">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                          </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-md-3">
                                                    <label class="control-label  bold ">  {{'report_language' | translate }}  </label>
                                                    <select class="form-control"
                                                            name="language"
                                                            ng-model='filters.language'
                                                            ng-required="true"
                                                    >
                                                        <option disabled selected value > --  {{'report_language' | translate }}  -- </option>
                                                        <option  value="ar" > {{'arabic' | translate }} </option>
                                                        <option  value="en" > {{'english' | translate }} </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-2 pull-right" style="margin-top: 2%;">
                                                    <button class="btn blue" style="width:100%;" ng-click="Search(false , filters,'filter')" type="button" >
                                                        <span>{{'search' | translate }} </span></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label  ng-if="items.length !=0 ">{{'show' | translate }}
                                    <select
                                            class="form-control input-sm input-inline" ng-init=""
                                            ng-change="itemsPerPage_(itemsCount)"
                                            name="itemsCount"
                                            ng-model='itemsCount'>
                                       <option value="50">50</option><option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                        <option value="-1">{{'show_All' | translate }}</option>
                                    </select>
                                </label>
                                
                                <div class="btn-group   "   uib-dropdown>
                                    <button id="single-button1" type="button" class="  btn green-turquoise"
                                            uib-dropdown-toggle ng-disabled="disabled">
                                        <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                                        <span>{{'export result' | translate }}</span>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                        <li>
                                            <a ng-click="Search(false , filters,'export')" class="iconify">
                                                <i class="fa fa-file-excel-o" style="margin-left: 4%"></i>{{'All'| translate}}</a>
                                        </li>
                                        <li>
                                            <a ng-click="Search(true , filters,'export')" class="iconify">
                                                <i class="fa fa-file-excel-o"  style="margin-left: 4%"></i>{{'selected'| translate}}</a>
                                        </li>
                                    </ul>
                                </div>

                                <form class="form-inline search-form pull-right" style="margin-top:1%; margin-left:0.3%;"  >
                                    <div class="input-group">
                                        <input type="text" ng-model="search" autofocus class="form-control" placeholder="{{'search' | translate }} " name="search">
                                    </div>
                                </form>
                            </div>
                            <!-- BEGIN TABLE -->
                            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%;"  ng-if="items.length != 0 ">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" style="margin-top: 0%;" >
                                    <thead>
                                    <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                        <th class="text-center" > {{'#' | translate }} </th>
                                         <th  class="text-center" >
                                                <input type="checkbox"
                                                       ng-model="All"
                                                       ng-change="selectedAll(All)"
                                                       ng-true-value="true"
                                                       ng-false-value="false"
                                                       >
                                        </th>
                                        <th class="text-center" ng-click="sort('title')">
                                            {{'report_title' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>

                                        </th>
                                        <th ng-show="!sponsor" class="text-center" ng-click="sort('sponsor_name')">
                                            {{'sponsor_name' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='sponsor_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('category_name')">
                                            {{'category_name' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='category_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('report_category_name')">{{'report_category' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='report_category_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('report_type_name')">{{'report_type' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='report_type_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('report_language')">{{'language' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='report_language'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('date_from')">
                                            {{'report_date_from' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='date_from'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('date_to')">
                                            {{'report_date_to' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='date_to'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center"> {{'operations' | translate }}  </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="item in items|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                        <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                         <td >
                                                <input type="checkbox" class="make-switch"
                                                       data-on-color="primary"
                                                       data-off-color="info"
                                                       ng-model="item.check"
                                                       ng-checked="selectAll"
                                                       ng-true-value="true"
                                                       ng-false-value="false"
                                                       ></td>
                                        <td>{{item.title}}</td>
                                        <td>{{item.sponsor_name}}</td>
                                        <td>{{item.category_name}} </td>
                                        <td>{{item.report_category_name}} </td>
                                        <td>{{item.report_type_name}} </td>
                                        <td>{{item.report_language}} </td>
                                        <td>{{item.date_from}} </td>
                                        <td>{{item.date_to}} </td>
                                        <td>
                                            <button uib-tooltip="{{'regenerate' | translate }}" type="button" style=" background-color: transparent"
                                                    class="btn bold font-yellow-saffron btn-xs fa bold fa-refresh"  ng-click="generate( item.id)">
                                            </button>
                                            <a uib-tooltip="{{'download' | translate }}"style=" background-color: transparent" class="btn bold font-blue fa bold fa-download btn-xs"  ng-click="download( item.id)"> </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                               <span class="bold ">{{'number of total items'| translate}}</span>
                                <span class="bold "> : </span>
                                         <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                        <span class="bold ">{{'row' | translate }}</span>
                                    </div>
                                    <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                </div>

                            </div>
                            <!-- END TABLE -->
                            <div ng-if="items.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 10px;margin-bottom: 20px;">
                                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show' | translate }}
                                                                    </span>
                                </div>
                            </div>

                        </div>

                    </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="createReports.html">
    <div class="modal-header" style="  padding:3%; ">
        <h4 class="modal-title bold text-center"> {{'reports form' | translate }} </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form name="form" novalidate="" role="form" class=" text-center" style="padding: 2%;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-group" ng-class="{ 'has-error' : form.title.$invalid && !form.title.$pristine }">
                            <label class="control-label  bold ">  {{'report_title' | translate }}  </label>
                            <input type="text" class="form-control"  ng-change="msg1.title = [ ]" ng-model="report.title" ng-required="true" name="title"
                                   placeholder="{{'report_title' | translate }} "  />
                            <span class="font-red-pink bold help-inline" ng-show="form.title.$error.required && form.title.$touched">
                                            {{'required_field' | translate }}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.title" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.title' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error' : form.sponsor_id.$invalid && !form.sponsor_id.$pristine }">
                            <label class="control-label  bold ">  {{'sponsor_name' | translate }}  </label>
                            <div class="input-group">
                                <ui-select
                                        name="sponsor_id"
                                        ng-model='report.sponsor_id'
                                        ng-change="sponsorCases(report.sponsor_id,report.category_id)"
                                        ng-required="true"
                                        theme="bootstrap"
                                        class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in Sponsor | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                            <button type="button"
                                                    ng-click="report.sponsor_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                            </div>
                            <span class="font-red-pink bold help-inline" ng-show="form.sponsor_id.$error.required && form.sponsor_id.$touched">
                                            {{'required_field' | translate }}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.sponsor_id" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.sponsor_id' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{ 'has-error' : form.category_id.$invalid && !form.category_id.$pristine }">
                            <label class="control-label  bold ">  {{'category_name' | translate }}  </label>
                            <div class="input-group">
                                <ui-select
                                        name="category_id"
                                        ng-change="sponsorCases(report.sponsor_id,report.category_id)"
                                        ng-model='report.category_id'
                                        ng-required="true"
                                        theme="bootstrap"
                                        class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in sponsorCategories_ | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                            <button type="button"
                                                    ng-click="report.category_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                            </div>
                            <span class="font-red-pink bold help-inline" ng-show="form.category_id.$error.required && form.category_id.$touched">
                                            {{'required_field' | translate }}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.category_id" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.category_id' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{ 'has-error' : form.type.$invalid && !form.type.$pristine }">
                            <label class="control-label  bold ">  {{'report_type' | translate }}  </label>
                            <select class="form-control"
                                    ng-init=""
                                    ng-change="msg1.report_type = [ ]"
                                    name="report_type"
                                    ng-model='report.report_type'
                                    ng-required="true"
                            >
                                <option disabled selected value > --  {{'report_type' | translate }}  -- </option>
                                <option  value="1" > {{'without details' | translate }} </option>
                                <option  value="2" > {{'with details' | translate }} </option>
                            </select>

                            <span class="font-red-pink bold help-inline" ng-show="form.report_type.$error.required && form.report_type.$touched">
                                            {{'required_field' | translate }}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.report_type" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.report_type' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error' : form.category.$invalid && !form.category.$pristine }">
                            <label class="control-label  bold ">  {{'report_category' | translate }}  </label>
                            <select class="form-control" ng-change="msg1.category = [ ]" name="category" ng-model='report.category' ng-required="true">
                                <option disabled selected value > --  {{'report_category' | translate }}  -- </option>
                                <option  value="1" > {{'Annual' | translate }} </option>
                                <option  value="2" > {{'mid Annual' | translate }} </option>
                                <option  value="3" > {{'quarter Annual' | translate }} </option>
                                <option  value="4" > {{'monthly' | translate }} </option>
                                <option  value="5" > {{'urgent' | translate }} </option>
                            </select>

                            <span class="font-red-pink bold help-inline" ng-show="form.category.$error.required && form.category.$touched">
                                            {{'required_field' | translate }}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.category" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.category' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label bold">   {{'report_date_from' | translate }} </label>
                            <div  class="input-group">
                                <input type="text" class="form-control"
                                       uib-datepicker-popup="{{format}}"
                                       ng-model="report.date_from"
                                       datepickerPopup
                                       name="date_from"
                                       required
                                       ng-change="compareDateRange($event,1,'start',report.date_from,report.date_to)"
                                       is-open="popup[1].opened" datepicker-options="dateOptions1"
                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-disabled="id != null"
                                                                                ng-click="open(1,$event)">
                                                                                        </button>
                                                                    </span>
                            </div>
                            <span class="font-red-pink bold help-inline" ng-show="form.date_from.$error.required && form.date_from.$touched">
                                            {{'required_field' | translate }}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.date_from" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.date_from' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label bold">   {{'report_date_to' | translate }} </label>
                            <div  class="input-group">
                                <input type="text" class="form-control"
                                       uib-datepicker-popup="{{format}}"
                                       ng-model="report.date_to"
                                       datepickerPopup
                                       name="date_to"
                                       required
                                       ng-change="compareDateRange($event,1,'end',report.date_from,report.date_to)"
                                       is-open="popup[2].opened" datepicker-options="dateOptions2"
                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-disabled="id != null"
                                                                                ng-click="open(2,$event)">
                                                                                        </button>
                                                                    </span>
                            </div>
                            <span class="font-red-pink bold help-inline" ng-show="form.date_to.$error.required && form.date_to.$touched">
                                            {{'required_field' | translate }}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.date_to" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.date_to' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 15px">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label bold">
                                                            <span ng-if="report.all" class="checker">
                                                            <input type="checkbox"
                                                                   data-on-color="primary"
                                                                   data-off-color="info"
                                                                   ng-model="report.all"
                                                                   ng-true-value="true"
                                                                   ng-false-value="false"
                                                                   ng-init="report.all=true"
                                                                   ng-checked="report.all">
                                                           </span>

                                <span ng-if="!report.all">
                                                            <input type="checkbox"
                                                                   data-on-color="primary"
                                                                   data-off-color="info"
                                                                   ng-model="report.all"
                                                                   ng-true-value="true" ng-false-value="false"
                                                                   ng-init="report.all=false"
                                                                   ng-checked="report.all">
                                                                </span>

                                <span class="control-label bold">   {{'all cases' | translate }}
                                    <span ng-if="!report.all" class="font-red-pink bold"> {{'select cases' | translate }}</span>
                               </span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error' : form.type.$invalid && !form.type.$pristine }">
                            <label class="control-label  bold ">  {{'report_language' | translate }}  </label>
                            <select class="form-control"
                                    ng-init=""
                                    ng-change="msg1.language = [ ]"
                                    name="language"
                                    ng-model='report.language'
                                    ng-required="true"
                            >
                                <option disabled selected value > --  {{'report_language' | translate }}  -- </option>
                                <option  value="ar" > {{'arabic' | translate }} </option>
                                <option  value="en" > {{'english' | translate }} </option>
                            </select>

                            <span class="font-red-pink bold help-inline" ng-show="form.language.$error.required && form.language.$touched">
                                            {{'required_field' | translate }}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.language" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.language' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                    <div class="col-md-4" ng-if="!report.all">
                        <div class="form-group">
                            <div class="input-group">
                                <multiselect  ng-model="report.cases" ng-required="!report.all"
                                              options="options_cases" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                </multiselect>
                                <span class="input-group-btn">
                                            <button type="button"
                                                    ng-click="report.cases = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                            </div>
                            <span ng-repeat="(error, errortext) in msg1.cases" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.cases' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                        <div class="form-group" ng-class="{ 'has-error' : form.notes.$invalid && !form.notes.$pristine }">
                            <textarea ng-model="report.notes"
                                      name="notes"
                                      placeholder="{{'notes' | translate }}"
                                      ng-change="msg1.notes = [ ]"
                                      class="form-control"
                                      rows="4">
                    </textarea>
                            <span ng-repeat="(error, errortext) in msg1.notes" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.notes' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn blue" ng-click="confirm(report)" ng-disabled="form.$invalid" type="button" >
            <span> {{'save' | translate }}</span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel' | translate }} </span></button>
    </div>
</script>
