<style>
    .inactive ,.inactive .btn-group ,.inactive .btn-group button{
        color: #ccc;
        pointer-events: none;
        cursor: not-allowed;
    }
</style>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'sponsorships management' | translate }}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'cases_manage' | translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'reports_' | translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active"> {{'attachments reports' | translate }}</li>
</ul>
<!-- END PAGE BREADCRUMB -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="font-dark"></i>
                        <h3>
                            <i class="fa fa-paperclip"></i>
                            <span>{{'attachments reports' | translate }}</span>
                        </h3>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1%;padding-top: 4%;padding-bottom: 2%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                            <form name="form">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 15px;">
                                        <div class="col-md-3 text-center" style="padding-top:3%;" ng-if="can('sponsorship.case.search') || (charity_LoggedInUser.super_admin == 1)">
                                            <div class="form-group">
                                                <label class="control-label bold">

                                                          <span ng-if="filters.all_organization" class="checker">
                                                                <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                       ng-model="filters.all_organization" ng-true-value="true" ng-false-value="false">
                                                          </span>
                                                    <span ng-if="!filters.all_organization">
                                                                <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                       ng-model="filters.all_organization" ng-true-value="true" ng-false-value="false">
                                                          </span>
                                                    <span >{{'search in all organization' | translate }}</span>
                                                </label>
                                            </div>

                                        </div>
                                        <div class="col-md-3" ng-if="can('sponsorship.case.search') || (charity_LoggedInUser.super_admin == 1)">
                                            <div class="form-group">
                                                <label class="control-label bold">{{'organization name' | translate }}</label>
                                                <multiselect  ng-model="filters.organization_id" ng-if="Org"
                                                              ng-class="filters.all_organization ? '' : 'inactive'"
                                                              options="Org" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label bold">{{'sponsor_name' | translate }}
                                                    <span class="required" aria-required="true"> * </span>
                                                </label>
                                                <div class="input-group">
                                                    <ui-select name="sponsor_id" autofocus ng-model="filters.sponsor_id" theme="bootstrap" required
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in Sponsors | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                                <button type="button" ng-click="filters.sponsor_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">{{'category_name' | translate }}
                                                    <span class="required" aria-required="true"> * </span>
                                                </label>
                                                <div class="input-group">
                                                    <ui-select name="category_id" ng-model="filters.category_id" theme="bootstrap" required
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in sponsorCategories_ | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                                <button type="button" ng-click="filters.category_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label  bold ">
                                                    {{'attachment_category' | translate }}
                                                    <span class="required" aria-required="true"> * </span>
                                                </label>
                                                <select class="form-control" name="doc_category_id" ng-model='filters.doc_category_id' required>
                                                    <option disabled selected value > --  {{'report_category' | translate }}  -- </option>
                                                    <option  value="1" > {{'Annual' | translate }} </option>
                                                    <option  value="2" > {{'mid Annual' | translate }} </option>
                                                    <option  value="3" > {{'quarter Annual' | translate }} </option>
                                                    <option  value="4" > {{'monthly' | translate }} </option>
                                                    <option  value="5" > {{'urgent' | translate }} </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">
                                                    {{'attachment_date_from' | translate }}
                                                    <span class="required" aria-required="true"> * </span>
                                                </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.date_from" required
                                                           datepickerPopup
                                                           name="date_from"
                                                           is-open="popup[1].opened" datepicker-options="dateOptions1"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-click="open(1,$event)">
                                                                                        </button>
                                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">
                                                    {{'attachment_date_to' | translate }}
                                                    <span class="required" aria-required="true"> * </span>
                                                </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.date_to"
                                                           datepickerPopup
                                                           name="date_to" required
                                                           is-open="popup[2].opened" datepicker-options="dateOptions2"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-click="open(2,$event)">
                                                                                        </button>
                                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'card_number' | translate }}</label>
                                                <input type="text" class="form-control" name="id_card_number" ng-model="filters.id_card_number" maxlength="9"
                                                       ng-maxlength="9" numeric-only/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'first_name' | translate }}</label>
                                                <input type="text" class="form-control" name="first_name" ng-model="filters.first_name" arabic-alphabet
                                                       maxlength="45" ng-maxlength="45"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'second_name' | translate }}</label>
                                                <input type="text" class="form-control" name="second_name" ng-model="filters.second_name" arabic-alphabet    maxlength="45" ng-maxlength="45"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'third_name' | translate }}</label>
                                                <input type="text" class="form-control" name="third_name" ng-model="filters.third_name" arabic-alphabet    maxlength="45" ng-maxlength="45" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group ">
                                                <label class="control-label bold">{{'status' | translate }}</label>
                                                <select class="form-control" name="status" ng-model="filters.status">
                                                    <option selected value>{{'select_the_status' | translate }}  </option>
                                                    <option value="1">{{'nominate' | translate }}</option>
                                                    <option value="2">{{'sent_' | translate }}</option>
                                                    <option value="3">{{'guaranteed' | translate }}</option>
                                                    <option value="4">{{'stopped' | translate }}</option>
                                                    <option value="5">{{'paused' | translate }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 20px;">
                                            <div class="clearfix pull-right">
                                                <button uib-tooltip="{{'search' | translate }}" class=" btn blue  " ng-disabled="form.$invalid" ng-click="searchCases(false , filters,'paginate')" type="button" >
                                                    <span class="icon-magnifier"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'search' | translate }}</span>
                                                </button>
                                                <div class="btn-group "  uib-dropdown  ng-show="items.length != 0">
                                                    <button id="single-button1" type="button" 
                                                             uib-tooltip="{{'export all attachments' | translate}}"
                                                             class="  btn blue-madison" uib-dropdown-toggle ng-disabled="disabled">
                                                         <span class="fa fa-file-archive-o"></span>
                                                         <span class="hidden-sm hidden-md  hidden-xs">{{'export all attachments' | translate}}</span>
                                                          <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                                        <li>
                                                            <a ng-click="searchCases(false , filters,'export')" class="iconify">
                                                                <i class="fa fa-file-archive-o"  style="margin-left: 4%"></i>{{'All'| translate}}</a>
                                                        </li>
                                                        <li>
                                                            <a ng-click="searchCases(true , filters,'export')" class="iconify">
                                                                <i class="fa fa-file-archive-o"  style="margin-left: 4%"></i>{{'selected'| translate}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="btn-group "  uib-dropdown  ng-show="items.length != 0">
                                                    <button id="single-button1" type="button" 
                                                             uib-tooltip="{{'export attachments sheet' | translate}}"
                                                             class="  btn  green-turquoise" uib-dropdown-toggle ng-disabled="disabled">
                                                         <span class="fa fa-file-excel-o"></span>
                                                         <span class="hidden-sm hidden-md  hidden-xs">{{'export attachments sheet' | translate}}</span>
                                                          <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                                        <li>
                                                            <a ng-click="searchCases(false , filters,'exportToExcel')" class="iconify">
                                                                <i class="fa fa-file-excel-o"  style="margin-left: 4%"></i>{{'All'| translate}}</a>
                                                        </li>
                                                        <li>
                                                            <a ng-click="searchCases(true , filters,'exportToExcel')" class="iconify">
                                                                <i class="fa fa-file-excel-o"  style="margin-left: 4%"></i>{{'selected'| translate}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="btn-group "  uib-dropdown  ng-show="items.length != 0" ng-disabled=" form.$invalid || items.length == 0">
                                                    <button id="single-button1" type="button" 
                                                             uib-tooltip="{{'download import file' | translate}}"
                                                             class="  btn yellow-saffron" uib-dropdown-toggle ng-disabled="disabled">
                                                         <span class="glyphicon glyphicon-download"></span>
                                                         <span class="hidden-sm hidden-md  hidden-xs">{{'download import file' | translate}}</span>
                                                          <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                                        <li>
                                                            <a ng-click="prepare(false,filters)" class="iconify" ng-disabled=" form.$invalid || items.length == 0">
                                                                <i class="fa fa-file-archive-o"  style="margin-left: 4%"></i>{{'All'| translate}}</a>
                                                        </li>
                                                        <li>
                                                            <a ng-click="prepare(true,filters)" class="iconify" ng-disabled=" form.$invalid || items.length == 0">
                                                                <i class="fa fa-file-archive-o"  style="margin-left: 4%"></i>{{'selected'| translate}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <label uib-tooltip="{{'import attachments' | translate }}" class="btn green-turquoise btn-action " style="color: white ;" ng-disabled=" form.$invalid || items.length == 0">
                                                    <span class="fa fa-upload"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">  {{'import attachments' | translate }} </span>
                                                    <input type="file" nv-file-select="" uploader="uploader" accept=".zip" style="display: none !important;">
                                                </label>
                                                <button uib-tooltip="{{'instruction to import attachments' | translate }}" ng-click="attachmentInstruction()" type="button" class="btn  fa fa-comments-o red"></button>

                                            </div>
                                        </div>
                                    </div>

<!--                                    ng-show="form.$valid && items.length > 0"-->
                                    <div class="row" style="margin-bottom: 2%;" ng-show="uploader.queue.length > 0">
                                        <div class="col-md-12 col-sm-12 col-xs-12" >
                                            <div class="col-md-6"></div>
                                            <div class="col-md-6"
                                                 style="height: 80px;background-color: #fdfbda;padding-top: 30px;
                                            text-align: center !important;box-sizing:  border-box;border: 1px #f4d03f solid;">
                                                <div class="col-md-12 col-sm-12 col-xs-12" ng-repeat="item in uploader.queue">
                                                    <div class="col-md-4" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                                                        {{ item.file.name}}
                                                    </div>
                                                    <div class="col-md-2" ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</div>
                                                    <div class="col-md-2" ng-show="uploader.isHTML5">
                                                        <div class="progress progress-sm" style="margin-bottom: 0;">
                                                            <div class="progress-bar m--bg-warning" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span ng-show="item.isSuccess" class="text-success">
                                                            <i class="glyphicon glyphicon-ok"></i>
                                                        </span>
                                                        <span ng-show="item.isCancel" class="text-info">
                                                            <i class="glyphicon glyphicon-ban-circle"></i>
                                                        </span>
                                                        <span ng-show="item.isError" class="font-red-pink">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button type="button" class="btn yellow-crusta btn-xs" ng-click="item.upload.isSuccess"
                                                                ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                            <span class="glyphicon glyphicon-upload"></span> <span>{{'upload'| translate}}</span> </button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center" ng-show="items.length > 0 " style="margin-bottom: 2%  ; margin-top: 2%">
                            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:10px;padding-left: 0%;padding-right:  0%;">
                                                                <form class="form-inline search-form pull-right" style="margin-left:0.3%;">
                                                                    <div class="input-group">
                                                                        <input type="text"
                                                                               ng-model="search"
                                                                               class="form-control"
                                                                               placeholder="{{'search' | translate }} "
                                                                               name="search">
                                                                    </div>
                                                                </form>
                            </div>

                            <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
                                <label>{{'show' | translate }}
                                <select
                                class="form-control input-sm input-inline" ng-init=""
                                ng-change="itemsPerPage_(itemsCount)"
                                name="itemsCount" 
                                ng-model='itemsCount'>
                               <option value="50">50</option><option value="100">100</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="-1">{{'show_All' | translate }}</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    </div>
                   </div>
                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center"  ng-show="items.length != 0 " >
                                    <thead>
                                    <tr style="background-color: #f3f3f3!important; color: #337ab7; height:70px; line-height: 40px; font-size: 30px; ">
                                        <th class="text-center" > {{'#' | translate }} </th>
                                        <th  class="text-center" >
                                                <input type="checkbox"
                                                       ng-model="All"
                                                       ng-change="selectedAll(All)"
                                                       ng-true-value="true"
                                                       ng-false-value="false"
                                                       >
                                        </th>

                                        <th class="text-center" ng-click="sort('name')"> {{'full name' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='case_first_name'" style="min-width: 190px;" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <!--                                    <th class="text-center" ng-click="sort('sponsor_name')">-->
                                        <!--                                        <label class="control-label bold">{{'sponsor_name' | translate }}<!--</label>-->
                                        <!--                                        <span class="glyphicon sort-icon" ng-show="sortKey=='sponsor_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
                                        <!--                                    </th>-->
                                        <!--                                    <th class="text-center" ng-click="sort('category_name')">-->
                                        <!--                                        <label class="control-label bold">{{'category_name' | translate }}<!--</label>-->
                                        <!--                                        <span class="glyphicon sort-icon" ng-show="sortKey=='category_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
                                        <!--                                    </th>-->
                                        <th class="text-center" ng-click="sort('id_card_number')" style="min-width: 110px;">{{'card_number' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='id_card_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('mobile_no')" style="min-width: 110px;">{{'mobile_no' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='mobile_no'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center"> {{'long_photo' | translate }} </th>
                                        <th class="text-center"> {{'per_photo' | translate }} </th>
                                        <th class="text-center"> {{'single_document' | translate }} </th>
                                        <th class="text-center"> {{'thanks_message' | translate }} </th>
                                        <th class="text-center"> {{'medical_report' | translate }} </th>
                                        <th class="text-center"> {{'school_certificate' | translate }} </th>
                                        <th class="text-center"> {{'photo_album' | translate }} </th>
                                        <th class="text-center"> {{'operations' | translate }} </th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr dir-paginate="item in items |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                        <td class="text-center">{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                        <td >
                                                <input type="checkbox" class="make-switch"
                                                       data-on-color="primary"
                                                       data-off-color="info"
                                                       ng-model="item.check"
                                                       ng-checked="selectAll"
                                                       ng-true-value="true"
                                                       ng-false-value="false"
                                                       ></td>
                                        <td class="text-center">{{item.full_name}}</td>
                                        <td class="text-center">{{item.id_card_number}}</td>
                                        <!--                                    <td class="text-center">{{item.sponsor_name}}</td>-->
                                        <!--                                    <td class="text-center">{{item.category_name}}</td>-->
                                        <td class="text-center">{{item.mobile_no}}</td>
                                        <td class="text-center" >
                                            <span  uib-tooltip="{{'exist' | translate }}" class="fa fa-check bold font-blue" ng-show="item.long_photo != 0 && item.long_photo != '0'" ng-click = "open_image(item.long_photo_id)"></span>
                                            <span  uib-tooltip="{{'not exist' | translate }}" class="fa fa-remove bold font-red-pink" ng-show="item.long_photo == 0 || item.long_photo == '0'"></span>
                                        </td>
                                        <td class="text-center" >
                                            <span  uib-tooltip="{{'exist' | translate }}" class="fa fa-check bold font-blue" ng-show="item.per_photo != 0 && item.per_photo != '0'" ng-click = "open_image(item.long_photo_id)"></span>
                                            <span  uib-tooltip="{{'not exist' | translate }}" class="fa fa-remove bold font-red-pink" ng-show="item.per_photo == 0 || item.per_photo == '0'"></span>
                                        </td>
                                        <td class="text-center" >
                                            <span  uib-tooltip="{{'exist' | translate }}" class="fa fa-check bold font-blue" ng-show="item.single_document != 0 && item.single_document != '0'" ng-click = "open_image(item.single_document_id)"></span>
                                            <span  uib-tooltip="{{'not exist' | translate }}" class="fa fa-remove bold font-red-pink" ng-show="item.single_document == 0 || item.single_document == '0'"></span>
                                        </td>
                                        <td class="text-center" >
                                            <span  uib-tooltip="{{'exist' | translate }}" class="fa fa-check bold font-blue" ng-show="item.thanks_message != 0 && item.thanks_message != '0'" ng-click = "open_image(item.thanks_message_id)"></span>
                                            <span  uib-tooltip="{{'not exist' | translate }}" class="fa fa-remove bold font-red-pink" ng-show="item.thanks_message == 0 || item.thanks_message == '0'"></span>
                                        </td>
                                        <td class="text-center" >
                                            <span class="badge badge-primary" ng-show="item.medical_report != 0 && item.medical_report != '0'" ng-click = "open_list_image(item.medical_report_id)">{{item.medical_report}}</span>
                                            <span  uib-tooltip="{{'not exist' | translate }}" class="fa fa-remove bold font-red-pink" ng-show="item.medical_report == 0 || item.medical_report == '0'"></span>
                                        </td>
                                        <td class="text-center" >
                                            <span  uib-tooltip="{{'exist' | translate }}" class="fa fa-check bold font-blue" ng-show="item.school_certificate != 0 && item.school_certificate != '0'" ng-click = "open_image(item.school_certificate_id)"></span>
                                            <span  uib-tooltip="{{'not exist' | translate }}" class="fa fa-remove bold font-red-pink" ng-show="item.school_certificate == 0 || item.school_certificate == '0'"></span>
                                        </td>
                                        <td class="text-center" >
                                            <span class="badge badge-primary" ng-show="item.photo_album != 0 && item.photo_album != '0'" ng-click = "open_list_image(item.photo_album_id)">{{item.photo_album}}</span>
                                            <!--                                        <span  uib-tooltip="{{'exist' | translate }}<!--" class="fa fa-check bold font-blue" ng-show="item.photo_album != 0 && item.photo_album != '0'"></span>-->
                                            <span  uib-tooltip="{{'not exist' | translate }}" class="fa fa-remove bold font-red-pink" ng-show="item.photo_album == 0 || item.photo_album == '0'"></span>
                                        </td>
                                        <td>
                                            <button uib-tooltip="{{'download attachments' | translate }}" type="button" class="btn btn-xs bold font-blue"
                                                    ng-show=" item.thanks_message != 0 ||
                                                          item.school_certificate != 0 ||
                                                          item.long_photo != 0 ||
                                                          item.per_photo != 0 ||
                                                          item.single_document != 0 ||
                                                          item.medical_report != 0 ||
                                                          item.photo_album != 0"
                                                    ng-click="download(item.id)"
                                                    style="margin-left: 1%; font-size: medium; background-color: transparent">
                                                <span class="fa fa-file-archive-o" style="margin-left: 4%;"></span>
                                            </button>
                                            <span ng-show="!(item.thanks_message != 0 ||
                                                          item.school_certificate != 0 ||
                                                          item.long_photo != 0 ||
                                                          item.per_photo != 0 ||
                                                          item.single_document != 0 ||
                                                          item.medical_report != 0 ||
                                                          item.photo_album != 0)"> - </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                    <span class="bold ">{{'number of total items'| translate}}</span>
                                    <span class="bold "> : </span>
                                    <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                    <span class="bold ">{{'row' | translate }}</span>
                                </div>
                                <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center" ng-show="items.length == 0 " style="margin-bottom: 2%  ; margin-top: 2%">
                                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show' | translate }}
                                                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
