<div class="row" ng-controller="FileEditController">
    <div class="col-md-6">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">{{'edit' | translate}}</div>
            </div>
            <div class="portlet-body">
                <form name="form" class="form-horizontal" novalidate="" category="form" ng-submit="submit()">
                    <div class="form-group" ng-class="errorClass('category_id')">
                        <label for="category_id" class="col-md-3 control-label">{{'category' | translate}}</label>
                        <div class="col-md-9">
                            <select class="form-control" id="category_id" name="category_id" ng-model="file.category_id" ng-required="true">
                                <option ng-repeat="category in categories" value="{{category.id}}" ng-value="{{category.id}}">{{category.name}}</option>
                            </select>
                            <span class="help-block" ng-show="form.category_id.$invalid && form.category_id.$dirty">{{errorMessage('category_id')}}</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="errorClass('name')">
                        <label for="name" class="col-md-3 control-label">{{'name' | translate}}</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="name" name="name" placeholder="{{'name' | translate}}" value="{{name}}" 
                                   ng-model="file.name" ng-required="true">
                            <span class="help-block" ng-show="form.name.$invalid && form.name.$dirty">{{errorMessage('name')}}</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="errorClass('description')">
                        <label for="description" class="col-md-3 control-label">{{'description' | translate}}</label>
                        <div class="col-md-9">
                            <textarea class="form-control" id="description" name="description" placeholder="{{'description' | translate}}"
                                      ng-model="file.description">{{description}}</textarea>
                            <span class="help-block" ng-show="form.description.$invalid && form.description.$dirty">{{errorMessage('description')}}</span>
                        </div>
                    </div>
                    <script type="text/ng-template" id="customTemplate.html">
                        <a><span ng-bind-html="match.model.name | uibTypeaheadHighlight:query"></span></a>
                    </script>
                    <div class="form-group">
                        <label for="tags" class="col-md-3 control-label">{{'tags' | translate}}
                        <span ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></span></label>
                        <div class="col-md-9">
                            <div class="margin-bottom-15">
                                <span ng-repeat="tag in tags">
                                    <span class="label label-info label-sm">{{tag.name}}
                                        <span class="glyphicon glyphicon-remove" ng-click="removeTag(tag, $index)"></span></span> 
                                </span>
                            </div>
                            <div class="margin-bottom-15">
                                <input type="text" ng-model="selectedTag" uib-typeahead="tag for tag in getTags($viewValue)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" typeahead-on-select="tagSelected($item, $model, $label, $event)" typeahead-template-url="customTemplate.html" typeahead-show-hint="true" class="form-control">
                            </div>
                            <div ng-show="noResults">
                                <a ng-click="addTag(selectedTag)"><span class="glyphicon glyphicon-plus"></span> <b>{{selectedTag}}</b></a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn blue">{{'save' | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">{{'information' | translate}}</div>
                <div class="actions">
                    <a doc-file-download data-download="{{fileName(file)}}" data-url="/doc/files/download/{{file.id}}" class="btn btn-outline btn-lg green">
                        <span class="fa fa-download"></span>
                        {{'download' | translate}}</a>
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#upload">
                        <span class="fa fa-upload"></span>
                        {{'upload_new_version' | translate}}</button>
                </div>
            </div>
            <div class="portlet-body">
                <dl class="dl-horizontal">
                    <dt>{{'path' | translate}}</dt>
                    <dd>{{file.filepath}}</dd>
                    <dt>{{'type' | translate}}</dt>
                    <dd>{{file.mimetype_name}}</dd>
                    <dt>{{'size' | translate}}</dt>
                    <dd>{{file.size| Filesize}}</dd>
                    <dt>{{'created_at' | translate}}</dt>
                    <dd>{{file.created_at}}</dd>
                    <dt>{{'updated_at' | translate}}</dt>
                    <dd>{{file.updated_at}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">{{'revisions' | translate}}</div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>{{'revision' | translate}}</th>
                                <th>{{'size' | translate}}</th>
                                <th>{{'type' | translate}}</th>
                                <th>{{'created_at' | translate}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="revision in revisions">
                            <tr>
                                <td>{{'revision' | translate}} #{{$index+1}}</td>
                                <td>{{revision.size | Filesize}}</td>
                                <td>{{revision.mimetype_name}}</td>
                                <td>{{revision.created_at}}</td>
                                <td>
                                    <a class="btn btn-default btn-xs" data-download="{{fileName(revision)}}" doc-file-download data-url="/doc/revisions/download/{{revision.id}}">{{'download' | translate}}</a>
                                    <button class="btn red-pink btn-xs" ng-click="deleteRevision(revision, $index)">{{'delete' | translate}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="upload" aria-labelledby="uploadLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="uploadLabel">{{'upload_new_version' | translate}}
                    <span class="caption-subject bold uppercase">{{'upload_queue' | translate}}</span>
                    <span class="caption-helper">{{'queue_length' | translate}}: {{ uploader.queue.length}}</span></h4>
            </div>
            <div class="modal-body">
                <div class="margin-bottom-20">
                    <input type="file" nv-file-select="" uploader="uploader" multiple>
                </div>
                <div ng-show="uploader.isHTML5">
                    <div nv-file-drop="" uploader="uploader">
                        <div nv-file-over="" uploader="uploader" over-class="file-drop-zone-over" class="file-drop-zone margin-bottom-20"> {{'drop_files_here' | translate}} </div>
                    </div>
                </div>
                <div class="table-scrollable table-scrollable-borderless">
                    <table class="table table-hover table-light">
                        <thead>
                            <tr class="uppercase">
                                <th width="50%">{{'name' | translate}}</th>
                                <th ng-show="uploader.isHTML5">{{'size' | translate}}</th>
                                <th ng-show="uploader.isHTML5">{{'progress' | translate}}</th>
                                <th>{{'status' | translate}}</th>
                                <th>{{'actions' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    {{ item.file.name}}
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress progress-sm" style="margin-bottom: 0;">
                                        <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess" class="text-success">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    <span ng-show="item.isCancel" class="text-info">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                    </span>
                                    <span ng-show="item.isError" class="text-danger">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> {{'upload' | translate}} </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> {{'cancel' | translate}} </button>
                                    <button type="button" class="btn red-pink btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> {{'remove' | translate}} </button>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="download(item.id)" ng-disabled="!item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> {{'download' | translate}} </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <p>{{'queue_progress' | translate}}:</p>
                    <div class="progress progress-sm" style="">
                        <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> {{'upload_all' | translate}} </button>
                <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> {{'cancel_all' | translate}} </button>
                <button type="button" class="btn red-pink btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> {{'remove_all' | translate}} </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{'close' | translate}}</button>
            </div>
        </div>
    </div>
</div>