<div ng-controller="FilesController" class="portlet light portlet-fit bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="glyphicon glyphicon-file"></span>
                {{'files' | translate}}
        </div>
        <div class="actions">
            <a class="btn btn-default btn-outline green" href="#/doc/files/new">
                <span class="glyphicon glyphicon-plus"></span>
                <span  class="hidden-sm hidden-md  hidden-xs">{{'new'| translate}}</span>
            </a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="alert alert-success" ng-show="success" role="alert">
            {{message}}
        </div>
        <div class="alert alert-danger" ng-show="error" role="alert">
            {{message}}
        </div>
        
        <div class="well">
            <form method="get" action="" class="form-inline" ng-submit="search()">
                <fieldset>
                    <legend>{{'search' | translate}}</legend>
                    <input type="text" ng-model="srchName" placeholder="{{'name' | translate}}" class="form-control">
                    <input type="text" ng-model="srchTag" placeholder="{{'tag' | translate}}" class="form-control">
                    <select class="form-control" ng-model="srchCategoryId">
                        <option>{{'category' | translate}}</option>
                        <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
                    </select>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></button>
                </fieldset>
            </form>
        </div>

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>{{'file' | translate}}</th>
                    <th>{{'category' | translate}}</th>
                    <th>{{'created_at' | translate}}</th>
                    <th>{{'size' | translate}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody ng-repeat="file in files">
                <tr>
                    <td>{{file.name}}<br>
                        <small class="text-muted">{{file.mimetype_name}}</small></td>
                    <td>{{file.category_name}}</td>
                    <td>{{file.created_at}}</td>
                    <td>{{file.size| Filesize}}</td>
                    <td>
                        <!-- <a class="btn btn-default btn-xs" ng-click="preview('/doc/files/download/'+file.id)"><span class="glyphicon glyphicon-eye-open"></span> {{'view' | translate}}</a> -->
                        <a class="btn btn-success btn-xs" doc-file-download data-download="{{fileName(file)}}" data-url="/doc/files/download/{{file.id}}"><span class="glyphicon glyphicon-download"></span> {{'download' | translate}}
                        <a class="btn btn-default btn-xs" href="{{'#/doc/files/edit/' + file.id}}">{{'edit' | translate}}</a>
                        <button class="btn red-pink btn-xs" ng-click="deleteFile(file, $index)">{{'delete' | translate}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="pagination pagination-sm" uib-pagination ng-change="pageChanged()" boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
    </div>
    
    <div class="modal fade" id="filePreview" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <iframe height="480" style="width: 100%" id="previewer"></iframe>
            </div>
        </div>
    </div>
</div>

