<form name="frmOrganization1" novalidate="" role="form" class="form-horizontal" ng-submit="save()">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.country.$invalid && !frmOrganization1.country.$pristine }">
            <label class="control-label bold col-md-3">  {{'organization_country'| translate}}  </label>
            <div class="col-md-5">
                <div class="input-group">
                    <ui-select ng-model="target.country"
                               name="country"
                               ng-change="location('districts',target.country,'countries')"
                               ng-required="true"
                               theme="bootstrap"
                               class="text-right" >
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item.id as item in Country | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                                            <button type="button" ng-click="target.country = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.name.$invalid && !frmOrganization1.name.$pristine }">
            <label class="control-label bold col-md-3">  {{'organization_name'| translate}}  </label>
            <div class="col-md-9">
                <input type="text" class="form-control" ng-change="msg1.name = []"  ng-model="target.name" ng-required="true" name="name"
                       placeholder="{{'organization_name'| translate}} ">
                <span class="text-danger bold help-inline" ng-show="frmOrganization1.name.$error.required && frmOrganization1.name.$touched">
                    {{'required_field'| translate}}
                </span>
                <span ng-repeat="(error, errortext) in msg1.name" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.name' != []" >
                    {{ errortext.toString()}}
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" ng-show="orgType=='organizations'" >
        <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.parent_id.$invalid && !frmOrganization1.parent_id.$pristine }">
            <label class="control-label bold col-md-3">  {{'organization_parent'| translate}}  </label>
            <div class="col-md-9">
                <select class="form-control"
                        ng-model="target.parent_id"
                        name="parent_id"
                        ng-change="msg1.parent_id = []"
                        convert-to-number>
                    <option disabled selected value> ---   {{'organization_parent'| translate}} --- </option>
                    <option ng-repeat="option in Organizations" ng-value="{{option.id}}" value="{{option.id}}" ng-selected="option.id == target.parent_id">
                        {{option.name}}
                    </option>
                </select>

                <span class="text-danger bold help-inline" ng-show="frmOrganization1.parent_id.$error.required && frmOrganization1.parent_id.$touched">
                    {{'required_field'| translate}}
                </span>
                <span ng-repeat="(error, errortext) in msg1.parent_id" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.parent_id' != []" >
                    {{ errortext.toString()}}
                </span>
            </div>
        </div>

    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.status.$invalid && !frmOrganization1.status.$pristine }">
            <label class="control-label bold col-md-3">  {{'organization_status'| translate}}  </label>
            <div class="col-md-9">
                <select class="form-control" ng-model="target.status" ng-required="true" name="status" convert-to-number>
                    <option disabled selected value> ---   {{'organization_status'| translate}} --- </option>
                    <option ng-value="1" value="1" ng-selected="target.status == 1">{{'Active_organization'| translate}}</option>
                    <option ng-value="2" value="2" ng-selected="target.status == 2">{{'Inactive_organization'| translate}}</option>
                    <option ng-value="3" value="3" ng-selected="target.status == 3">{{'Closed_organization'| translate}}</option>
                    <option ng-value="4" value="4" ng-selected="target.status == 4">{{'Deleted_organization'| translate}}</option>
                </select>
                <span class="text-danger bold help-inline" ng-show="frmOrganization1.status.$error.required && frmOrganization1.status.$touched">
                    {{'required_field'| translate}}
                </span>
                <span ng-repeat="(error, errortext) in msg1.status" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.status' != []" >
                    {{ errortext.toString()}}
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.country.$invalid && !frmOrganization1.country.$pristine }">
            <label class="control-label bold col-md-3">  {{'organization_country'| translate}}  </label>
            <div class="col-md-9">

                <div class="input-group">
                    <ui-select ng-model="target.country"
                               name="country"
                               ng-change="location('districts',target.country,'countries')"
                               ng-required="true"
                               theme="bootstrap"
                               class="text-right" >
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item.id as item in Country | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                                            <button type="button" ng-click="target.country = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                </div>

                <span class="text-danger bold help-inline" ng-show="frmOrganization1.country.$error.required && frmOrganization1.country.$touched">
                    {{'required_field'| translate}}
                </span>
                <span ng-repeat="(error, errortext) in msg1.country" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.country' != []" >
                    {{ errortext.toString()}}
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="orgType=='organizations'">
        <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.district_id.$invalid && !frmOrganization1.district_id.$pristine }">
            <label class="control-label bold col-md-3">  {{'organization_district'| translate}}  </label>
            <div class="col-md-9">
                <select class="form-control"
                        ng-model="target.district_id"
                        name="district_id"
                        ng-change="location('cities',target.district_id,'districts')"
                        ng-required="orgType=='organizations'"
                        convert-to-number>
                    <option disabled selected value> ---   {{'organization_district'| translate}} --- </option>
                    <option ng-repeat="option in districts" ng-value="{{option.id}}" value="{{option.id}}" ng-selected="option.id == target.district_id">
                        {{option.name}}
                    </option>
                </select>

                <span class="text-danger bold help-inline" ng-show="frmOrganization1.district_id.$error.required && frmOrganization1.district_id.$touched">
                    {{'required_field'| translate}}
                </span>
                <span ng-repeat="(error, errortext) in msg1.district_id" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.district_id' != []" >
                    {{ errortext.toString()}}
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="orgType=='organizations'">
        <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.city_id.$invalid && !frmOrganization1.city_id.$pristine }">
            <label class="control-label bold col-md-3">  {{'organization_city'| translate}}  </label>
            <div class="col-md-9">
                <select class="form-control"
                        ng-model="target.city_id"
                        name="city_id"
                        ng-change="location('neighborhoods',target.city_id,'cities')"
                        ng-required="orgType=='organizations'"
                        convert-to-number>
                    <option disabled selected value> ---   {{'organization_city'| translate}} --- </option>
                    <option ng-repeat="option in city" ng-value="{{option.id}}" value="{{option.id}}" ng-selected="option.id == target.city_id">
                        {{option.name}}
                    </option>
                </select>

                <span class="text-danger bold help-inline" ng-show="frmOrganization1.city_id.$error.required && frmOrganization1.city_id.$touched">
                    {{'required_field'| translate}}
                </span>
                <span ng-repeat="(error, errortext) in msg1.city_id" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.city_id' != []" >
                    {{ errortext.toString()}}
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="orgType=='organizations'">
        <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.location_id.$invalid && !frmOrganization1.location_id.$pristine }">
            <label class="control-label bold col-md-3">  {{'organization_location'| translate}}  </label>
            <div class="col-md-9">
                <select class="form-control"
                        ng-model="target.location_id"
                        name="location_id"
                        ng-change="msg1.location_id = []"
                        ng-required="orgType=='organizations'"
                        convert-to-number>
                    <option disabled selected value> ---   {{'organization_location'| translate}} --- </option>
                    <option ng-repeat="option in nearlocation" ng-value="{{option.id}}" value="{{option.id}}" ng-selected="option.id == target.location_id">
                        {{option.name}}
                    </option>
                </select>

                <span class="text-danger bold help-inline" ng-show="frmOrganization1.location_id.$error.required && frmOrganization1.location_id.$touched">
                    {{'required_field'| translate}}
                </span>
                <span ng-repeat="(error, errortext) in msg1.location_id" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.location_id' != []" >
                    {{ errortext.toString()}}
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold col-md-3 pull-left">{{'logo'| translate}}</label>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <input type="file" class="form-control" data-nv-file-select="" data-uploader="uploader">
                    <span ng-repeat="(error, errortext) in err_msg.logo" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'err_msg.logo' != []" >
                        {{ errortext.toString()}}
                    </span>
                    </div>
                </div>
                <div ng-repeat="item in Uploader.queue" class="row">
                    <div class="col-md-2">
                        <div ng-show="Uploader.isHTML5" ng-thumb="{ file: item._file, height: 48 }"></div>
                    </div>
                    <div class="col-md-2" ng-show="Uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</div>
                    <div class="col-md-3" ng-show="Uploader.isHTML5">
                        <div class="progress progress-sm" style="margin-bottom: 0;">
                            <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                    <span ng-show="item.isSuccess" class="text-success">
                        <i class="glyphicon glyphicon-ok"></i>
                    </span>
                    <span ng-show="item.isCancel" class="text-info">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                    </span>
                    <span ng-show="item.isError" class="text-danger">
                        <i class="glyphicon glyphicon-remove"></i>
                    </span>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn red-pink btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> <span>{{'remove'| translate}}</span> </button>
                        <button type="button" class="btn btn-success btn-xs" doc-file-download data-download="{{item.file.name}}" data-url="/doc/files/download/{{item.id}}" ng-disabled="!item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> <span>{{'download'| translate}}</span> </button>
                    </div>
                </div>
            </div>
            <div class="col-md-2" ng-if="target.logo">
                <img ng-src="{{logo}}" data-img-blob-url="" data-url="/api/v1.0/org/{{orgType}}/{{target.id}}/logo" class="img-thumbnail">
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 2%;">
        <div class="form-actions pull-right">
            <button type="submit" class="btn btn-primary" ng-disabled="frmOrganization1.$invalid">
                <span ng-show="action=='new'"> {{'confirm_add'| translate}}</span>
                <span ng-show="action=='edit'"> {{'confirm_edit'| translate}}</span>
            </button>
            <a class="btn btn-default" href="#/organizations/{{orgType}}"><span>{{'cancel'| translate}}</span></a>
        </div>
    </div>
</form>

