<!--ng-controller="OrganizationsEditController"-->
<div>
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li class="active" >
            <span ng-show="orgType=='sponsors'"> {{'sponsorship'| translate}}</span>
            <span ng-show="orgType=='organizations'"> {{'organization'| translate}}</span>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li class="active" >
            <span ng-show="orgType=='sponsors'"> {{'all sponsor'| translate}}</span>
            <span ng-show="orgType=='organizations'"> {{'all organization'| translate}}</span>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li class="active">
            <span ng-show="action =='new'">
                <span ng-show="orgType=='sponsors'">{{'add_new_sponsor'| translate}}</span>
                <span ng-show="orgType=='organizations'"> {{'add_new_organization'| translate}}</span>
            </span>
            <span ng-show="action =='edit'">
                <span ng-show="orgType=='sponsors'">{{'edit sponsor'| translate}}</span>
                <span ng-show="orgType=='organizations'"> {{'edit organization'| translate}}</span>
                <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
            </span>
        </li>
        <li class="active" ng-if="target.id">{{target.name}}</li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="font-dark"></i>
                <h3>
                    <span ng-show="action =='new'" class="glyphicon glyphicon-plus"></span>
                    <span ng-show="action =='edit'"  class="fa fa-edit"></span>
                    <span ng-show="action =='new' && orgType=='sponsors' " >  {{'add_new_sponsor_form'| translate}}</span>
                    <span ng-show="action =='edit' && orgType=='sponsors' " > {{'edit_sponsor_form'| translate}}</span>
                    <span ng-show="action =='new' && orgType=='organizations' " >{{'add_new_organization_form'| translate}}</span>
                    <span ng-show="action =='edit' && orgType=='organizations' " >{{'edit_organization_form'| translate}}</span>

                </h3>

           </div>
            <div class="actions" style="padding-top: 30px;">
                <div class="clearfix">
                    <a class="btn blue" href="#/organizations/{{orgType}}">
                        <span  class="hidden-sm hidden-md  hidden-xs bold" ng-show="orgType=='sponsors'"> {{'all sponsor'| translate}}</span>
                        <span  class="hidden-sm hidden-md  hidden-xs bold" ng-show="orgType=='organizations'"> {{'all organization'| translate}}</span>
                        <span class="fa fa-backward"></span>
                    </a>
                </div>
            </div>

        </div>
        <div class="portlet-body">
            <div class="table-toolbar">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form name="frmOrganization1"  novalidate role="form" class=" text-center" ng-submit="save()" style="padding:2%; margin-bottom: 2%; ">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.name.$invalid && !frmOrganization1.name.$pristine }">
                                        <label class="control-label bold">  {{'organization_name'| translate}}   <span class=" text-danger bold help-inline"> * </span></label>
                                        <input type="text" class="form-control" autofocus ng-change="msg1.name = []"  ng-model="target.name"
                                               ng-required="true" name="name"
                                               placeholder="{{'organization_name'| translate}} ">
                                        <span class="text-danger bold help-inline" ng-show="frmOrganization1.name.$error.required && frmOrganization1.name.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                        <span ng-repeat="(error, errortext) in msg1.name" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.name' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.en_name.$invalid && !frmOrganization1.en_name.$pristine }">
                                        <label class="control-label bold ">  {{'en_organization_name'| translate}}   <span class=" text-danger bold help-inline"> * </span></label>
                                        <input type="text" class="form-control" only-alphabet
                                               ng-change="msg1.en_name = []"  ng-model="target.en_name" ng-required="true" name="en_name"
                                               placeholder="{{'organization_name'| translate}} ">
                                        <span class="text-danger bold help-inline" ng-show="frmOrganization1.en_name.$error.required && frmOrganization1.en_name.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                        <span ng-repeat="(error, errortext) in msg1.en_name" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.en_name' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="orgType=='organizations'">
                                <div class="col-md-6 col-sm-12 col-xs-12" ng-show="(UserOrgLevel == 1 || target.id != UserOrgId )" >
                                    <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.parent_id.$invalid && !frmOrganization1.parent_id.$pristine }">
                                        <label class="control-label bold">  {{'organization_parent'| translate}}   <span class=" text-danger bold help-inline"> * </span></label>
                                        <div class="input-group">
                                            <ui-select ng-model="target.parent_id"
                                                       name="parent_id"
                                                       ng-required=" orgType=='organizations' && (UserOrgLevel == 1 || target.id != UserOrgId )"
                                                       ng-change="msg1.parent_id = []"
                                                       theme="bootstrap"
                                                       class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in Organizations | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                            <button type="button" ng-click="target.parent_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                        </div>

                                        <span class="text-danger bold help-inline" ng-show="frmOrganization1.parent_id.$error.required && frmOrganization1.parent_id.$touched">
                    {{'required_field'| translate}}
                </span>
                                        <span ng-repeat="(error, errortext) in msg1.parent_id" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.parent_id' != []" >
                    {{ errortext.toString()}}
                </span>
                                    </div>

                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12" ng-show="((superAdmin == 1 || superAdmin == '1') || (UserOrgLevel == 1 && target.level != 1) || target.id != UserOrgId )" >
                                    <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.level.$invalid && !frmOrganization1.level.$pristine }">
                                        <label class="control-label bold">  {{'organization_level'| translate}}  <span class=" text-danger bold help-inline"> * </span></label>
                                        <select class="form-control" ng-model="target.level"
                                                ng-required="orgType=='organizations' && (((superAdmin == 1 || superAdmin == '1') ||
                                                              (UserOrgLevel == 1 && target.level != 1) || target.id != UserOrgId ))"
                                                name="level" convert-to-number>
                                            <option disabled selected value> ---   {{'organization_level'| translate}} --- </option>
                                            <option ng-value="1" value="1" ng-show="superAdmin == 1 || superAdmin == '1'" ng-selected="target.level == 1">{{'master_center'| translate}}</option>
                                            <option ng-value="2" value="2" ng-show="UserOrgLevel == 1" ng-selected="target.level == 2">{{'branch_center'| translate}}</option>
                                            <option ng-value="3" value="3" ng-selected="target.level == 3">{{'branches'| translate}}</option>
                                        </select>
                                        <span class="text-danger bold help-inline" ng-show="frmOrganization1.level.$error.required && frmOrganization1.level.$touched">
                    {{'required_field'| translate}}
                </span>
                                        <span ng-repeat="(error, errortext) in msg1.level" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.level' != []" >
                    {{ errortext.toString()}}
                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.status.$invalid && !frmOrganization1.status.$pristine }">
                                        <label class="control-label bold">  {{'organization_status_'| translate}}  <span class=" text-danger bold help-inline"> * </span></label>
                                        <select class="form-control" ng-model="target.status" ng-required="true" name="status" convert-to-number>
                                            <option disabled selected value> ---   {{'organization_status_'| translate}} --- </option>
                                            <option ng-value="1" value="1" ng-selected="target.status == 1">{{'Active_organization'| translate}}</option>
                                            <option ng-value="2" value="2" ng-selected="target.status == 2">{{'Inactive_organization'| translate}}</option>
                                            <option ng-value="3" value="3" ng-selected="target.status == 3">{{'Closed_organization'| translate}}</option>
                                            <option ng-value="4" value="4" ng-selected="target.status == 4">{{'Deleted_organization'| translate}}</option>
                                        </select>
                                        <span class="text-danger bold help-inline" ng-show="frmOrganization1.status.$error.required && frmOrganization1.status.$touched">
                    {{'required_field'| translate}}
                </span>
                                        <span ng-repeat="(error, errortext) in msg1.status" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.status' != []" >
                    {{ errortext.toString()}}
                </span>
                                    </div>
                                </div>
                                
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.registration_number.$invalid && !frmOrganization1.registration_number.$pristine }">
                                        <label class="control-label bold">  {{'Registration number'| translate}}  <span class=" font-white bold help-inline"> * </span></label>
                                        <input type="text" class="form-control" name="registration_number" ng-model="target.registration_number"/>
                                        <span class="text-danger bold help-inline" ng-show="frmOrganization1.registration_number.$error.required && frmOrganization1.registration_number.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                        <span ng-repeat="(error, errortext) in msg1.registration_number" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.registration_number' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.email.$invalid && !frmOrganization1.email.$pristine }">
                                        <label class="control-label bold">  {{'email'| translate}}  <span class=" font-white bold help-inline"> * </span></label>
                                        <input type="email" class="form-control" name="email"ng-model="target.email" />
                                        <span class="text-danger bold help-inline" ng-show="frmOrganization1.email.$error.required && frmOrganization1.email.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                        <span ng-repeat="(error, errortext) in msg1.email" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.email' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.mobile.$invalid && !frmOrganization1.mobile.$pristine }">
                                        <label class="control-label bold">  {{'mobile'| translate}}  <span class=" font-white bold help-inline"> * </span></label>
                                        <input type="text" class="form-control" name="mobile"ng-model="target.mobile" />
                                        <span class="text-danger bold help-inline" ng-show="frmOrganization1.mobile.$error.required && frmOrganization1.mobile.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                        <span ng-repeat="(error, errortext) in msg1.mobile" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.mobile' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.wataniya.$invalid && !frmOrganization1.wataniya.$pristine }">
                                        <label class="control-label bold">  {{'wataniya no'| translate}}  <span class=" font-white bold help-inline"> * </span></label>
                                        <input type="text" class="form-control" name="wataniya"ng-model="target.wataniya" />
                                        <span class="text-danger bold help-inline" ng-show="frmOrganization1.wataniya.$error.required && frmOrganization1.wataniya.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                        <span ng-repeat="(error, errortext) in msg1.wataniya" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.wataniya' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                    </div>
                                </div>
                                
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.phone.$invalid && !frmOrganization1.phone.$pristine }">
                                        <label class="control-label bold">  {{'phone'| translate}}  <span class=" font-white bold help-inline"> * </span></label>
                                        <input type="text" class="form-control" name="phone" ng-model="target.phone"/>
                                        <span class="text-danger bold help-inline" ng-show="frmOrganization1.phone.$error.required && frmOrganization1.phone.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                        <span ng-repeat="(error, errortext) in msg1.phone" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.phone' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.fax.$invalid && !frmOrganization1.fax.$pristine }">
                                        <label class="control-label bold">  {{'fax'| translate}}  <span class=" font-white bold help-inline"> * </span></label>
                                        <input type="text" class="form-control" name="fax" ng-model="target.fax" />
                                        <span class="text-danger bold help-inline" ng-show="frmOrganization1.fax.$error.required && frmOrganization1.fax.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                        <span ng-repeat="(error, errortext) in msg1.fax" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.fax' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.country.$invalid && !frmOrganization1.country.$pristine }">
                                        <label class="control-label bold">  {{'organization_country'| translate}}  <span class=" text-danger bold help-inline"> * </span></label>
                                        <div class="input-group">
                                            <ui-select ng-model="target.country"
                                                       name="country"
                                                       ng-change="location('districts',target.country,'countries')"
                                                       ng-required="true"
                                                       theme="bootstrap"
                                                       class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in Country | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                            <button type="button" ng-click="target.country = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                        </div>
                                        <span class="text-danger bold help-inline" ng-show="frmOrganization1.country.$error.required && frmOrganization1.country.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                        <span ng-repeat="(error, errortext) in msg1.country" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.country' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12"  ng-show="orgType=='organizations'">
                                    <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.district_id.$invalid && !frmOrganization1.district_id.$pristine }">
                                        <label class="control-label bold">  {{'organization_district'| translate}}  <span class=" text-danger bold help-inline"> * </span></label>
                                        <div class="input-group">
                                            <ui-select         ng-model="target.district_id"
                                                               name="district_id"
                                                               ng-change="location('cities',target.district_id,'districts')"
                                                               ng-required="orgType=='organizations'"
                                                               theme="bootstrap"
                                                               class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in districts | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                            <button type="button" ng-click="target.district_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                        </div>
                                        <span class="text-danger bold help-inline" ng-show="frmOrganization1.district_id.$error.required && frmOrganization1.district_id.$touched">
                                        {{'required_field'| translate}}
                                    </span>
                                        <span ng-repeat="(error, errortext) in msg1.district_id" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.district_id' != []" >
                                        {{ errortext.toString()}}
                                    </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">

                                <div class="col-md-4 col-sm-12 col-xs-12"  ng-show="orgType=='organizations'">
                                    <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.city_id.$invalid && !frmOrganization1.city_id.$pristine }">
                                        <label class="control-label bold">  {{'organization_city'| translate}}  <span class=" text-danger bold help-inline"> * </span></label>
                                        <div class="input-group">
                                            <ui-select                ng-model="target.city_id"
                                                                      name="city_id"
                                                                      ng-change="location('neighborhoods',target.city_id,'cities')"
                                                                      ng-required="orgType=='organizations'"
                                                                      theme="bootstrap"
                                                                      class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in city | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                            <button type="button" ng-click="target.city_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                        </div>
                                        <span class="text-danger bold help-inline" ng-show="frmOrganization1.city_id.$error.required && frmOrganization1.city_id.$touched">
                    {{'required_field'| translate}}
                </span>
                                        <span ng-repeat="(error, errortext) in msg1.city_id" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.city_id' != []" >
                    {{ errortext.toString()}}
                </span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12"  ng-show="orgType=='organizations'">
                                    <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.location_id.$invalid && !frmOrganization1.location_id.$pristine }">
                                        <label class="control-label bold">  {{'organization_location'| translate}}  <span class=" text-danger bold help-inline"> * </span></label>
                                        <div class="input-group">
                                            <ui-select               ng-model="target.location_id"
                                                                     name="location_id"
                                                                     ng-change="msg1.location_id = []"
                                                                     ng-required="orgType=='organizations'"
                                                                     theme="bootstrap"
                                                                     class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in nearlocation | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                            <button type="button" ng-click="target.location_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                        </div>
                                        <span class="text-danger bold help-inline" ng-show="frmOrganization1.location_id.$error.required && frmOrganization1.location_id.$touched">
                    {{'required_field'| translate}}
                </span>
                                        <span ng-repeat="(error, errortext) in msg1.location_id" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.location_id' != []" >
                    {{ errortext.toString()}}
                </span>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12"  ng-show="orgType=='organizations'">
                                    <div class="form-group" ng-class="{ 'has-error' : frmOrganization1.category_id.$invalid && !frmOrganization1.category_id.$pristine }">
                                        <label class="control-label bold">  {{'organization_category'| translate}}  <span class=" text-danger bold help-inline"> * </span></label>
                                        <div class="input-group">
                                            <ui-select               ng-model="target.category_id"
                                                                     name="category_id"
                                                                     ng-change="msg1.category_id = []"
                                                                     ng-required="orgType=='organizations'"
                                                                     theme="bootstrap"
                                                                     class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in categoriesList | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                            <button type="button" ng-click="target.category_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                        </div>
                                        <span class="text-danger bold help-inline" ng-show="frmOrganization1.category_id.$error.required && frmOrganization1.category_id.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                        <span ng-repeat="(error, errortext) in msg1.category_id" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.category_id' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px!important;">
                                <label class="btn yellow-saffron bold pull-left" style="color: white">
                                    <span> {{'logo'| translate}} </span>
                                    <span ng-class="{'fa fa-refresh':(target.logo),'fa fa-upload':(!target.logo)}"></span>
                                    <input type="file" class="form-control" style="display: none !important;"
                                           accept="image/x-png,image/gif,image/jpeg,image/jpg" data-nv-file-select="" data-uploader="logoUploader">
                                    <span ng-repeat="(error, errortext) in err_msg.logo" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'err_msg.logo' != []" >
                                        {{ errortext.toString()}}
                                    </span>
                                </label>
                                <div class="col-md-12 col-sm-12 col-xs-12" style="margin: 10px!important;">
                                    <div class="form-group">
                                        <div class="col-md-9">
                                            <div ng-repeat="item in logoUploader.queue" class="row">
                                                <div class="col-md-2">
                                                    <div ng-show="logoUploader.isHTML5" ng-thumb="{ file: item._file, height: 48 }"></div>
                                                </div>
                                                <div class="col-md-2" ng-show="logoUploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</div>
                                                <div class="col-md-3" ng-show="logoUploader.isHTML5">
                                                    <div class="progress progress-sm" style="margin-bottom: 0;">
                                                        <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 text-center">
                                                    <span ng-show="item.isSuccess" class="text-success">
                                                        <i class="glyphicon glyphicon-ok"></i>
                                                    </span>
                                                    <span ng-show="item.isCancel" class="text-info">
                                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                                    </span>
                                                    <span ng-show="item.isError" class="text-danger">
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                    </span>
                                                </div>
                                                <div class="col-md-4">
                                                    <button type="button" class="btn red-pink btn-xs" ng-click="item.remove()">
                                                        <span class="glyphicon glyphicon-trash"></span> <span>{{'remove'| translate}}</span> </button>
                                                    <button type="button" class="btn btn-success btn-xs" doc-file-download data-download="{{item.file.name}}" data-url="/doc/files/download/{{item.id}}" ng-disabled="!item.isSuccess">
                                                        <span class="glyphicon glyphicon-upload"></span> <span>{{'download'| translate}}</span> </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2" ng-if="target.logo">
                                            <img ng-src="{{logo}}" data-img-blob-url="" data-url="/api/v1.0/org/{{orgType}}/{{target.id}}/logo" class="img-thumbnail">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 2%;border-top: 1.4px solid #e7ecf1;margin-top: 5px;">
                                <div class="form-actions pull-left">
                                    <button type="submit" class="btn btn-primary" ng-disabled="frmOrganization1.$invalid">
                                        <span ng-show="action=='new'"> {{'confirm_add'| translate}}</span>
                                        <span ng-show="action=='edit'"> {{'confirm_edit'| translate}}</span>
                                    </button>
                                    <a class="btn red-pink" href="#/organizations/{{orgType}}"><span>{{'cancel'| translate}}</span></a>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>