
<style>
    .bg-not-selected{
        background-color: #f8fdff;
        border: 1px solid #d5e9ff;
    }
    .bg-selected{
        background-color: #adceea;
        border: 1px solid #adceea;
    }
</style>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span> {{'organizations manage'| translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>

    <li>
        <span ng-show="orgType=='sponsors'"> {{'sponsorship_authorities'| translate}}</span>
        <span ng-show="orgType=='organizations'"> {{'organization'| translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" >
        <span ng-show="orgType=='sponsors'"> {{'all sponsor'| translate}}</span>
        <span ng-show="orgType=='organizations'"> {{'all organization'| translate}}</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span class="{{orgType=='sponsors' ? 'icon-support' : 'fa fa-sitemap'}}"></span>
                        <span ng-show="orgType=='sponsors'"> {{'all sponsor'| translate}}</span>
                        <span ng-show="orgType=='organizations'"> {{'all organization'| translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <div class="btn-group"  uib-dropdown>
                            <button id="single-button" type="button" class="  btn green-turquoise pull-left" uib-dropdown-toggle ng-disabled="disabled">
                                <span class="fa fa-file-excel-o"></span>
                             <span class="hidden-sm hidden-md  hidden-xs">{{'export result'| translate}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                <li ng-show="Organizations.length != 0">
                                    <a ng-click="Search(false , target,'xlsx')" class="iconify">
                                        <i class="fa fa-file-excel-o"  style="margin-left: 4%"></i>{{'All'| translate}}</a>
                                </li>
                                <li>
                                    <a ng-click="Search(true , target,'xlsx')"class="iconify">
                                        <i class="fa fa-file-excel-o"  style="margin-left: 4%"></i>{{'selected'| translate}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group"  uib-dropdown>
                            <button id="single-button" type="button" class="  btn purple-intense   pull-left" uib-dropdown-toggle ng-disabled="disabled">
                                <span class="glyphicon glyphicon-envelope"></span>
                                <span class="hidden-sm hidden-md  hidden-xs">{{'send sms messege'|translate}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                <li ng-show="Organizations.length != 0">
                                    <a ng-click="sendSms('manual',0)" class="iconify">
                                        <i class="fa fa-hand-paper-o" style="margin-left: 4%"></i>{{'manually'| translate}}</a>
                                </li>
                                <li>
                                    <a ng-click="sendSms('xlx',0)" class="iconify">
                                        <i class="fa fa-file-excel-o"  style="margin-left: 4%"></i>{{'using excel'| translate}}</a>
                                </li>
                            </ul>
                        </div>
                        <a class="  btn yellow-saffron " ng-click="toggle()" type="button">
                            <span style="margin-left:3%;" class="icon-magnifier"></span>
                            <span class="hidden-sm hidden-md  hidden-xs">{{'advance search'| translate}}</span>
                        </a>

                        <a class="btn blue" href="#/organizations/{{orgType}}/new/0" >
                            <span class="glyphicon glyphicon-plus"></span>
                            <span  class="hidden-sm hidden-md  hidden-xs">{{'new'| translate}}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="col-md-12 col-sm-12 col-xs-12" >
                        <div ng-show="simple_form"
                             class="col-md-10 col-md-offset-1"
                             style="padding-top: 3%;padding-bottom: 3%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                            <form name="searchFrm" method="get" class="form-inline">
                                <div class="">
                                    <div class="form-group" style="width: 100%;">
                                        <div class="input-group" style="width: 80%; margin-right: 10%">
                                            <input type="text"style="width: 100%;" class="form-control  "
                                                   ng-model="name" placeholder="{{'name'| translate}}">
                                            <span class="input-group-btn" style="width: 25%;">
                                                    <button type="submit" style="width: 100%;"class="btn blue" ng-click="search_(name)">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                        <span class="hidden-sm hidden-md  hidden-xs">{{'search'| translate}}</span>
                                                    </button>
                                              </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        
                         <div ng-show="search_form"
                             class="col-md-12 col-sm-12 col-xs-12"
                             style="padding-top: 3%;padding-bottom: 3%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                            <form name="frmsearch"  novalidate role="form" class=" text-center" style="padding:0%; margin-bottom: 2%; ">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'organization_name'| translate}}</label>
                                        <input type="text" class="form-control" autofocus ng-change="msg1.name = []"  ng-model="target.name"
                                                name="name"
                                               placeholder="{{'organization_name'| translate}} ">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label bold ">  {{'en_organization_name'| translate}}</label>
                                        <input type="text" class="form-control" only-alphabet
                                               ng-change="msg1.en_name = []"  ng-model="target.en_name"  name="en_name"
                                               placeholder="{{'organization_name'| translate}} ">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12" ng-show="orgType=='organizations' && (UserOrgLevel == 1 || target.id != UserOrgId )" >
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'organization_parent'| translate}}   </label>
                                        <ui-select ng-model="target.parent_id"
                                                       name="parent_id"
                                                       ng-change="msg1.parent_id = []"
                                                       theme="bootstrap"
                                                       class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in Organizations_ | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                    </div>

                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12" ng-show=" orgType=='organizations' && ((superAdmin == 1 || superAdmin == '1') || UserOrgLevel == 1)" >
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'organization_level'| translate}}  </label>
                                        <select class="form-control" ng-model="target.level" name="level">
                                            <option  ng-value="" value=""> ---   {{'organization_level'| translate}} --- </option>
                                            <option ng-value="1" value="1" ng-show="superAdmin == 1 || superAdmin == '1'" ng-selected="target.level == 1">{{'master_center'| translate}}</option>
                                            <option ng-value="2" value="2" ng-show="UserOrgLevel == 1" ng-selected="target.level == 2">{{'branch_center'| translate}}</option>
                                            <option ng-value="3" value="3" ng-selected="target.level == 3">{{'branches'| translate}}</option>
                                        </select>
                                    </div>
                                </div>
                                  <div class="col-md-4 col-sm-12 col-xs-12"  ng-show="orgType=='organizations' && categoriesList.length > 0 ">
                                      <div class="form-group">
                                          <label class="control-label bold">  {{'organization_category'| translate}}  </label>
                                          <ui-select         ng-model="target.category_id"
                                                             name="category_id"
                                                             ng-required="orgType=='organizations'"
                                                             theme="bootstrap"
                                                             class="text-right" >
                                              <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                              <ui-select-choices repeat="item.id as item in categoriesList | filter: $select.search">
                                                  <div ng-bind-html="item.name | highlight: $select.search"></div>
                                              </ui-select-choices>
                                          </ui-select>
                                      </div>
                                  </div>
                                  <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'organization_status_'| translate}}  </label>
                                        <select class="form-control" ng-model="target.status"  name="status" convert-to-number>
                                            <option ng-value="" value=""> ---   {{'organization_status_'| translate}} --- </option>
                                            <option ng-value="1" value="1">{{'Active_organization'| translate}}</option>
                                            <option ng-value="2" value="2">{{'Inactive_organization'| translate}}</option>
                                            <option ng-value="3" value="3">{{'Closed_organization'| translate}}</option>
                                            <option ng-value="4" value="4">{{'Deleted_organization'| translate}}</option>
                                        </select>
                                    </div>
                                </div>
                                
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'Registration number'| translate}}  </label>
                                        <input type="text" class="form-control" name="registration_number" ng-model="target.registration_number"/>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'email'| translate}}  </label>
                                        <input type="email" class="form-control" name="email"ng-model="target.email" />
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'mobile'| translate}}  </label>
                                        <input type="text" class="form-control" name="mobile"ng-model="target.mobile" />
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'wataniya no'| translate}}  </label>
                                        <input type="text" class="form-control" name="wataniya"ng-model="target.wataniya" />
                                    </div>
                                </div>
                                
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'phone'| translate}}  </label>
                                        <input type="text" class="form-control" name="phone" ng-model="target.phone"/>
                                    </div>
                                </div>
                                
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'fax'| translate}}  </label>
                                        <input type="text" class="form-control" name="fax" ng-model="target.fax" />
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'organization_country'| translate}}  </label>
                                              <ui-select ng-model="target.country"
                                                       name="country"
                                                       ng-change="location('districts',target.country,'countries')"
                                                       
                                                       theme="bootstrap"
                                                       class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in Country | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12"  ng-show="orgType=='organizations' && districts.length > 0 ">
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'organization_district'| translate}}  </label>
                                        <ui-select         ng-model="target.district_id"
                                                               name="district_id"
                                                               ng-change="location('cities',target.district_id,'districts')"
                                                               ng-required="orgType=='organizations'"
                                                               theme="bootstrap"
                                                               class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in districts | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-12 col-xs-12"  ng-show="orgType=='organizations'&& city.length > 0 ">
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'organization_city'| translate}}  </label>
                                        <ui-select                ng-model="target.city_id"
                                                                      name="city_id"
                                                                      ng-change="location('neighborhoods',target.city_id,'cities')"
                                                                      ng-required="orgType=='organizations'"
                                                                      theme="bootstrap"
                                                                      class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in city | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12"  ng-show="orgType=='organizations'&& nearlocation.length > 0" >
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'organization_location'| translate}}  </label>
                                       <ui-select               ng-model="target.location_id"
                                                                     name="location_id"
                                                                     ng-change="msg1.location_id = []"
                                                                     ng-required="orgType=='organizations'"
                                                                     theme="bootstrap"
                                                                     class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in nearlocation | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                   </div>
                                </div>
                                            <div class="col-md-4 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label bold">   {{'created_at_from'| translate}} </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control"
                                                               uib-datepicker-popup="{{format}}"
                                                               ng-model="target.created_at_from"
                                                               datepickerPopup
                                                               name="date_from"
                                                               is-open="popup1.opened" datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                        <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open1($event)">
                                                </button>
                                          </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label bold">   {{'created_at_to'| translate}} </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control"
                                                               uib-datepicker-popup="{{format}}"
                                                               ng-model="target.created_at_to"
                                                               datepickerPopup
                                                               name="date_to"
                                                               is-open="popup2.opened" datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                        <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open2($event)">

                                                </button>
                                          </span>
                                                    </div>
                                                </div>
                                            </div>
                                  
                                  <div class="col-md-12 col-sm-12 col-xs-12 text-center pull-right ">
                                        <div class="col-md-3 col-sm-12 col-xs-12 text-center pull-right ">
                                            <div class="clearfix pull-right ">
                                                <button class="btn red-pink " type="button" ng-click="resetFilter_()">
                                                    <span class="fa fa-trash-o"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'reset filter'| translate}}</span>
                                                </button>
                                                <button class="btn blue  " ng-click="Search(false , target,'paginate')" type="button">
                                                    <span class="icon-magnifier"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs"> {{'search'| translate}}</span>
                                                </button>

                                            </div>

                                        </div>
                                  </div>
                              </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="Organizations.length > 0 ">
                    <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
                        <label>
                            {{'show'| translate}}
                            <select
                                    class="form-control input-sm input-inline" ng-init=""
                                    ng-change="itemsPerPage_(itemsCount)"
                                    name="itemsCount"
                                    ng-model='itemsCount'>
                               <option value="50">50</option><option value="100">100</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="-1">{{'show_All'| translate}}</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                    </div>
                </div>
                <div class="table-scrollable" ng-show="Organizations.length > 0 "  >

                    <!-- BEGIN TABLE -->
                    <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                        <thead>
                        <tr  style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; " ng-show="Organizations.length != 0">
                            <th class="text-center" >
                                <input type="checkbox"
                                       ng-model="All"
                                       ng-change="selectedAll(All)"
                                       ng-true-value="true"
                                       ng-false-value="false"
                                ></th>
                            <th class="text-center col-md-1" > {{'#'| translate}} </th>
                            <th class="text-center "
                                ng-class="{'col-md-2': orgType=='sponsors', 'col-md-3': orgType=='organizations'}" ng-click="sort('name')"> {{'organization_name'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="text-center col-md-1" ng-click="sort('status')"> {{'organization_status'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-show="orgType!='sponsors'" class="text-center col-md-1" ng-click="sort('level')"> {{'organization_level'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'level'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-show="orgType!='sponsors'" class="text-center col-md-1" ng-click="sort('category.name')"> {{'organization_category'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'category.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="text-center col-md-1" ng-click="sort('locations.name')"> {{'organization_country'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'locations.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="text-center col-md-1"  ng-show="orgType!='sponsors'" ng-click="sort('district.district')"> {{'organization_district'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'district.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="text-center"  ng-class="{'col-md-7': (orgType=='sponsors'),
                                                                    'col-md-5': (orgType=='organizations')}"> {{'operations'| translate}} </th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr dir-paginate="x in Organizations |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage" >
                            <td>
                                <input type="checkbox" class="make-switch"
                                       data-on-color="primary"
                                       data-off-color="info"
                                       ng-model="x.check"
                                       ng-checked="x.check"
                                       ng-true-value="true"
                                       ng-false-value="false"
                                       ></td>
                            <td>{{ ($index + 1) + ((CurrentPage - 1) * ItemsPerPage)}}</td>
                            <td>{{ x.name}}</td>
                            <td>

                                <span ng-show="x.status == 1" >{{'Active_organization'| translate}}</span>
                                <span ng-show="x.status == 2 ">{{'Inactive_organization'| translate}}</span>
                                <span ng-show="x.status == 3 ">{{'Closed_organization'| translate}}</span>
                                <span ng-show="x.status == 4 ">{{'Deleted_organization'| translate}}</span>
                            </td>
                            <td ng-show="orgType!='sponsors'">
                                <span ng-show="x.level == 1" >{{'master_center'| translate}}</span>
                                <span ng-show="x.level == 2 ">{{'branch_center'| translate}}</span>
                                <span ng-show="x.level == 3 ">{{'branches'| translate}}</span>

                            </td>
                            <td ng-show="orgType!='sponsors'">
                                {{x.category == null ? '-' :x.category.name}}
                            </td>
                            <td>
                                {{x.country == null ? '-' :x.locations.name}}
                            </td>
                            <td ng-show="orgType!='sponsors'">
                                {{x.district_id == null ? '-' :x.district.name}}
                            </td>
                            <td>
                                <span>
                                    <a uib-tooltip="{{'payments'| translate}}" ng-show="orgType=='sponsors'"
                                         style="color: #ffffff; margin-top: 1%;"
                                         class="btn btn-xs blue-hoki"
                                         href="#/sponsorship/payments/{{x.id}}">
                                        <span class=" fa fa-money" style="margin-right: 1%;"></span>
                                        <span  class="hidden-sm hidden-md  hidden-xs bold">{{'payments'| translate}}</span>
                                    </a>
                                    <a tooltip= "{{'Persons Payments'| translate}} " ng-show="orgType=='sponsors'"
                                       style="color: #ffffff; margin-top: 1%;"
                                       class="btn btn-xs blue-madison"
                                       href="#/sponsorship/payments/persons/{{x.id}}">
                                        <span class="fa fa-credit-card" style="margin-right: 1%;"></span>
                                        <span  class="hidden-sm hidden-md  hidden-xs bold">{{'Persons Payments'| translate}}</span>
                                    </a>
                                    <a uib-tooltip="{{'nomination-cases'| translate}}" ng-show="orgType=='sponsors'"
                                       style="color: #ffffff; margin-top: 1%;"
                                       class="btn  btn-xs green-meadow"
                                       href="#/sponsorship/nomination/{{x.id}}">
                                        <span class="fa fa-list" style="margin-right: 1%;"></span>
                                        <span  class="hidden-sm hidden-md  hidden-xs bold">{{'nomination-cases'| translate}}</span>
                                    </a>
                                    <a uib-tooltip="{{'case-forms'| translate}}" ng-show="orgType=='sponsors'"
                                       style="color: #ffffff; margin-top: 1%;"
                                       class="btn btn-xs yellow-crusta"
                                       href="#/sponsors/sponsor-templates/{{x.id}}">
                                        <span class="fa fa-file-o" style="margin-right: 1%;"></span>
                                        <span class="hidden-sm hidden-md  hidden-xs bold">{{'case-forms'| translate}} </span>
                                    </a>
                                    <a uib-tooltip="{{'reports_'| translate}}" ng-show="orgType=='sponsors'"
                                       style="color: #ffffff; margin-top: 1%;"
                                       class="btn btn-xs btn-primary"
                                       href="#/sponsors/sponsor-reports/{{x.id}}">
                                        <span class="fa fa-file-o" style="margin-right: 1%;"></span>
                                        <span class="hidden-sm hidden-md  hidden-xs bold">{{'reports_'| translate}} </span>
                                    </a>
                                    <a uib-tooltip="{{'cases-statistics'| translate}}" ng-show="orgType=='sponsors'"
                                       style="color: #ffffff; margin-top: 1%;"
                                       class="btn  btn-xs purple-plum"
                                       href="#/sponsorship/cases/statistics/{{x.id}}">
                                        <span class="fa fa-users" style="margin-right: 1%;"></span>
                                        <span class="hidden-sm hidden-md  hidden-xs bold">{{'cases-statistics'| translate}} </span>
                                    </a>
                                    <a
                                            uib-tooltip="{{'sponsor'| translate}}"
                                            ng-show="orgType!='sponsors' &&
                                                (superAdmin == 1 || superAdmin == '1' || UserOrgLevel == 1 ||
                                               ( can('org.organizations.connectSponsor') && (UserOrgLevel ==2 && x.level == 3))
                                               )"
                                        style="color: #ffffff; margin-top: 1%;"
                                        href="#/organization/sponsors/{{x.id}}"
                                        class="btn  btn-xs green-meadow">
                                        <span class="icon-support" style="margin-right: 1%;"></span>
                                        <span class="hidden-sm hidden-md  hidden-xs bold">{{'sponsor'| translate}}</span>
                                    </a>
                                    <a
                                            ng-show="orgType!='sponsors' &&
                                                (superAdmin == 1 || superAdmin == '1' || UserOrgLevel == 1 ||
                                               ( can('org.organizations.connectLocations') && (UserOrgLevel ==2 && x.level == 3))
                                               )"
                                            uib-tooltip="{{'Locations'| translate}} "
                                            style="color: #ffffff; margin-top: 1%;"
                                            class="btn  btn-xs yellow-crusta"
                                            href="#/organization/locations/{{x.id}}">
                                        <span class="fa fa-map-marker" style="margin-right: 1%;"></span>
                                        <span class="hidden-sm hidden-md  hidden-xs bold">{{'Locations'| translate}}</span>
                                    </a>
                                    <a ng-if="can('org.organizations.update')" style="font-size: medium; background-color: transparent" type="button" uib-tooltip=" {{'edit'| translate}}" class="btn btn-xs bold font-blue fa fa-edit"
                                       href="#/organizations/{{orgType}}/edit/{{x.id}}">
                                    </a>
                                    <a ng-if="can('org.organizations.delete')" uib-tooltip=" {{'delete'| translate}}" type="button" ng-disabled= "x.status == 'محذوفة'"
                                       class="btn btn-xs bold text-danger fa fa-trash"
                                       style="font-size: medium; background-color: transparent"
                                       ng-click="delete(x.id)"></a>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- END TABLE -->
                </div>
                <div ng-show="Organizations.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                    <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                    </div>
                </div>

                <div class="row" ng-show="Organizations.length != 0">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

