
<style>
    .bg-not-selected{
        background-color: #f8fdff;
        border: 1px solid #d5e9ff;
    }
    .bg-selected{
        background-color: #adceea;
        border: 1px solid #adceea;
    }
</style>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span> {{'organizations manage'| translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span> {{'connected sponsors list'| translate}} </span>
    </li>
    <li class="active"  ng-if=" row.name ">
        <span ng-if=" row.name && lang=='ar'" >{{row.name}}</span>
        <span ng-if=" row.name && lang=='en'" >{{row.en_name}}</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="font-dark"></i>
                        <h3>
                            <span class="fa fa-table"></span>
                            <span> {{'connected sponsors list'| translate}} </span>
                            <span ng-if=" row.name && lang=='ar'" > -  {{row.name}}</span>
                            <span ng-if=" row.name && lang=='en'" > -  {{row.en_name}}</span>

                        </h3>
                    </div>
                    <div class="actions" style="padding-top: 30px;">
                        <div class="clearfix">
                            <a class="btn blue" href="#/organizations/{{orgType}}">
                                <span> {{'all organization'| translate}}</span>
                                <span class="fa fa-backward"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="modal-body" style="padding:3%;" >
                        <div class="row"  ng-if=" row.list.length > 0 ">
                            <div class="col-md-12 ">
                                <div class="col-md-12 margin-bottom-25" >
                                    <div class="col-md-8 col-md-12 col-sm-12 col-xs-12 text-center" style="margin: 0px 0px 20px 0px;background-color: #c8dfff;padding:  15px;">
                                            <h4 class="text-primary bold">
                                                <span class="text-danger fa fa-exclamation-triangle" aria-hidden="true"></span>
                                                {{'Note: There is a sign behind the sponsor , you are connected to'| translate}}
                                            </h4>
                                    </div>
                                    <form class="form-inline search-form pull-right">
                                        <div class="input-group">
                                            <input type="text"
                                                   ng-model="search.name"
                                                   class="form-control"
                                                   placeholder="{{'search'| translate}} "
                                                   name="search">
                                        </div>
                                    </form>
                                </div>
                                <br>
                                <br>
                                <br>
                                <div class="col-md-12 " >
                                    <div class="col-md-6 text-left"
                                         ng-class="{'bg-selected': option.selected, 'bg-not-selected': !option.selected}"
                                         ng-repeat="option in row.list  | filter:search"
                                         style=" height:50px; line-height:30px;box-sizing: border-box !important; padding-right:10px;padding-top: 10px;padding-bottom: 10px;">
                                        <i ng-if="option.selected" class="fa fa-check text-primary" style="font-size: medium;margin-left: 2px;padding-bottom: 7px !important;"></i>
                                        <i ng-if="!option.selected" class="fa fa-ban text-danger" style="font-size: medium;margin-left: 2px;padding-bottom: 7px !important;"></i>
                                        <label class="control-label text-left">
                                                     <span ng-if="option.selected" class="checker">
                                                                    <input type="checkbox"
                                                                           data-on-color="primary" data-off-color="info" ng-model="option.selected"
                                                                           ng-true-value="true" ng-false-value="false"
                                                                           ng-init="option.selected=true"
                                                                           ng-checked="option.selected">
                                                                 </span>

                                            <span ng-if="!option.selected">
                                                                        <input type="checkbox"
                                                                               data-on-color="primary" data-off-color="info" ng-model="option.selected"
                                                                               ng-true-value="true" ng-false-value="false"
                                                                               ng-init="option.selected=false"
                                                                               ng-checked="option.selected">
                                                                   </span>

                                            <span class="bold">{{option.name}}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if=" row.list.length == 0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                            <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no sponsor to connect'| translate}}
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" ng-if=" row.list.length > 0 ">
                        <button class=" btn blue"  ng-disabled="form.$invalid" ng-click="confirm()" type="button" ><span>{{'Save'| translate}}</span> </button>
                        <a class="btn red-pink"  href="#/organizations/"> <span>{{'cancel'| translate}}</span> </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
<!-- END MAIN CONTENT -->



