
<style>
    .bg-not-selected{
        background-color: #f8fdff;
        border: 1px solid #d5e9ff;
    }
    .bg-selected{
        background-color: #adceea;
        border: 1px solid #adceea;
    }
</style>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" >
        <span> {{'organization'| translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span> {{'connected locations list'| translate}} </span>
    </li>
    <li class="active"  ng-if=" row.name ">
        <span ng-if=" row.name && lang=='ar'" >{{row.name}}</span>
        <span ng-if=" row.name && lang=='en'" >{{row.en_name}}</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span class="fa fa-table"></span>
                        <span> {{'connected locations list'| translate}} </span>
                        <span ng-if=" row.name && lang=='ar'" > -  {{row.name}}</span>
                        <span ng-if=" row.name && lang=='en'" > -  {{row.en_name}}</span>

                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <a class="btn blue" href="#/organizations/{{orgType}}">
                            <span> {{'all organization'| translate}}</span>
                            <span class="fa fa-backward"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="portlet light bordered" style=" min-height: 200px !important;">
                    <div class="row"  >
                        <div class="col-md-12 ">
                            <div class="col-md-12 margin-bottom-25" >
                                <div class="col-md-8 col-md-12 col-sm-12 col-xs-12 text-center" style="margin: 0px 0px 20px 0px;background-color: #c8dfff;padding:  15px;">
                                    <h4 class="text-primary bold"> <span class="text-danger fa fa-exclamation-triangle" aria-hidden="true"></span>
                                        {{'Note: There is a check behind the locations , you are connected to'| translate}}
                                    </h4>
                                </div>
                            </div>
                            <br>
                            <div class="col-md-12 " ng-if="treeData != null">
                                <div ng-if="treeData" id="myTreeId" js-tree="treeConfig" ng-model="treeData"
                                     should-apply="ignoreModelChanges()"
                                     tree="treeInstance"
                                     tree-events="ready:readyCB;create_node:createNodeCB"></div>
                            </div>
                        </div>
                    </div>
                    <div  ng-if="treeData == null" class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                        <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no location to connect'| translate}}
                                    </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer"  ng-if="treeData != null">
                    <button class=" btn blue" ng-click="confirm()" type="button" ><span>{{'Save'| translate}}</span> </button>
                    <a class="btn red-pink"  href="#/organizations/"> <span>{{'cancel'| translate}}</span> </a>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
