
<style>
    .bg-not-selected{
        background-color: #f8fdff;
        border: 1px solid #d5e9ff;
    }
    .bg-selected{
        background-color: #adceea;
        border: 1px solid #adceea;
    }
</style>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'reports and queries'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'search'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        <span> {{'organizations-search'| translate}} </span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-10 col-md-offset-1" style="padding-top: 3%;padding-bottom: 3%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                            <form name="searchFrm" method="get" class="form-inline">
                                <div class="">
                                    <div class="form-group" style="width: 100%;">
                                        <div class="input-group" style="width: 80%; margin-right: 10%">
                                            <input type="text"style="width: 100%;" class="form-control  "
                                                   ng-enter="search_(name)"
                                                   ng-model="name" placeholder="{{'name_'| translate}}" >
                                            <span class="input-group-btn" style="width: 25%;">
                                                  <button uib-tooltip="{{'export'| translate}}" ng-click="export(name)"  type="button" class="btn   green-turquoise "
                                                                      ng-show="details.length > 0 ">
                                                        <i class="fa fa-file-excel-o"></i>
                                                        <span class="hidden-sm hidden-md  hidden-xs"> {{'export'| translate}}</span>
                                                  </button>
                                                  <button type="submit" ng-show="details.length > 0 " class="btn blue" ng-disabled="searchFrm.$invalid"
                                                            ng-click="search_(name)">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                        <span class="hidden-sm hidden-md  hidden-xs">{{'search'| translate}}</span>
                                                    </button>
                                                <button type="submit" style="width: 100%;" ng-show="details.length == 0 "class="btn blue" ng-disabled="searchFrm.$invalid"
                                                            ng-click="search_(name)">
                                                        <span class="glyphicon glyphicon-search"></span>
                                                        <span class="hidden-sm hidden-md  hidden-xs">{{'search'| translate}}</span>
                                                    </button>
                                              </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="table-scrollable" ng-show="details.length > 0 "  >

                    <!-- BEGIN TABLE -->
                    <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                        <thead>
                        <tr  style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; " ng-show="details.length != 0">
                            <th class="text-center" style="width: 5%"> {{'#'| translate}} </th>
                            <th class="text-center" ng-click="sort('name')"> {{'organization_name'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="text-center" style="width: 5%"ng-click="sort('status_name')"> {{'status'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'status_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="text-center" style="width: 5%"ng-click="sort('locations.name')"> {{'organization_country'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'country'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="text-center"  style="width: 5%" ng-click="sort('district.name')"> {{'organization_district'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'district.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="text-center"  style="width: 5%" ng-click="sort('city.name')"> {{'organization_city'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'city.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="text-center"  style="width: 5%" ng-click="sort('near_location.name')"> {{'organization_location'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'near_location.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="text-center"  style="width: 5%" ng-click="sort('mobile')"> {{'mobile'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'mobile'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                           <th class="text-center"  style="width: 5%" ng-click="sort('phone')"> {{'phone'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'fax'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="text-center"  style="width: 5%" ng-click="sort('email')"> {{'email'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                           <th class="text-center"  style="width: 5%" ng-click="sort('fax')"> {{'fax'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'fax'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr dir-paginate="x in details |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage" >
                            <td>{{ ($index + 1) + ((CurrentPage - 1) * ItemsPerPage)}}</td>
                            <td>{{ x.name}}</td>
                            <td>{{ x.status_name}}</td>
                            <td>{{x.country == null ? '-' :x.locations.name}}</td>
                            <td >{{x.district_id == null ? '-' :x.district.name}}</td>
                            <td >{{x.city_id == null ? '-' :x.city.name}}</td>
                            <td >{{x.location_id == null ? '-' :x.near_location.name}}</td>
                            <td >{{x.mobile == null ? '-' :x.mobile}}</td>
                            <td >{{x.phone == null ? '-' :x.phone}}</td>
                            <td >{{x.email == null ? '-' :x.email}}</td>
                            <td >{{x.fax == null ? '-' :x.fax}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- END TABLE -->
                </div>
                <div ng-show="details.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                    <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                    </div>
                </div>

                <div class="row" ng-show="details.length != 0">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
