

<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span> {{'sponsorship'| translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a href="#/organizations/sponsors">  {{'sponsor'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span> {{name}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" >{{'sponsor-reports'| translate}} </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="font-dark"></i>
                        <h3>
                            <span>{{name}} </span>
                        </h3>
                    </div>
                    <div class="actions" style="padding-top: 30px;">
                        <div class="clearfix">
                            <button type="button" ng-click="downloadFile('template-instructions','null')" class="btn red-pink" style="margin-bottom: 2%;">
                                <span class="fa fa-file-pdf-o"></span>
                                <span class="hidden-sm hidden-md  hidden-xs"> {{'template instructions'| translate}}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <!-- BEGIN TABLE -->
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="Category.length > 0 ">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                <thead>
                                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                    <th class="col-md-1 text-center" rowspan="2"> {{'#'| translate}}</th>
                                    <th class="col-md-2 text-center" rowspan="2"> {{'attachment type'| translate}}</th>
                                    <th class="col-md-4 text-center" > {{'ar_version'| translate}}</th>
                                    <th class="col-md-4 text-center" > {{'en_version'| translate}}</th>

                                </tr>
                                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                    <th class="text-center" >
                                        <table  cellpadding="10" cellspacing="10"  style="width: 100%;" class="text-center">
                                            <tr class="text-center" style="height: 30px;">
                                                <th class="text-center" style="width:43%">{{'without details'| translate}}</th>
                                                <th class="text-center" style="width:14%; color: #e7ecf1;">|</th>
                                                <th class="text-center" style=" width:43%">{{'with details'| translate}}</th>
                                            </tr>
                                        </table>
                                    </th>
                                    <th class="text-center" >
                                        <table  cellpadding="10" cellspacing="10"  style="width: 100%;" class="text-center">
                                            <tr class="text-center" style="height: 30px;">
                                                <th class="text-center" style="width:43%">{{'without details'| translate}}</th>
                                                <th class="text-center" style="width:14%; color: #e7ecf1;">|</th>
                                                <th class="text-center" style=" width:43%">{{'with details'| translate}}</th>
                                            </tr>
                                        </table>

                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in Category">
                                    <td>{{ $index+1 }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>
                                        <table  cellpadding="10" cellspacing="10"  style="width: 100%;" class="text-center">
                                            <tr>
                                                <td style="width: 43%">
                                                    <span ng-show="item.template != null">
                                                         <button type="button" class="btn blue btn-xs"
                                                                 ng-click="downloadFile('template',item.id,0,'ar')" >
                                                            <span class="fa fa-file-word-o"></span>
                                                            <span style="">{{'download'| translate}}</span>
                                                        </button>

                                                        <button type="button" class="btn yellow-saffron btn-xs"
                                                                ng-click="ChooseTemplate(item.category_id,'edit',0,'ar')">
                                                            <span class="fa fa-refresh"></span>
                                                            <span style="">{{'reload'| translate}}</span>
                                                        </button>
                                                     </span>
                                                    <span ng-show="item.template == null">
                                                          <span> {{'the attachment not uploaded'| translate}} </span>
                                                          <span>
                                                              <button type="button" class="btn green-turquoise btn-xs" ng-click="ChooseTemplate(item.category_id,'add',0,'ar')">
                                                                  <span style="">{{'upload'| translate}}</span>
                                                              </button>
                                                          </span>
                                                    </span>
                                                </td>
                                                <td class="text-center" style="width:14%; color: lightgrey;">|</td>
                                                <td style="width: 43%">
                                                    <span ng-show="item.other_template != null">
                                                         <button type="button" class="btn blue btn-xs"
                                                                 ng-click="downloadFile('template',item.id,1,'ar')" >
                                                            <span class="fa fa-file-word-o"></span>
                                                            <span style="">{{'download'| translate}}</span>
                                                        </button>

                                                        <button type="button" class="btn yellow-saffron btn-xs"
                                                                ng-click="ChooseTemplate(item.category_id,'edit',1,'ar')">
                                                            <span class="fa fa-refresh"></span>
                                                            <span style="">{{'reload'| translate}}</span>
                                                        </button>
                                                    </span>
                                                    <span ng-show="item.other_template == null">
                                                      <span> {{'the attachment not uploaded'| translate}} </span>
                                                      <span>
                                                          <button type="button" class="btn green-turquoise btn-xs" ng-click="ChooseTemplate(item.category_id,'add',1,'ar')">
                                                              <span style="">{{'upload'| translate}}</span>
                                                          </button>
                                                      </span>
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <table  cellpadding="10" cellspacing="10"  style="width: 100%;" class="text-center">
                                            <tr>
                                                <td style="width: 43%">
                                                    <span ng-show="item.en_template != null">
                                                         <button type="button" class="btn blue btn-xs"
                                                                 ng-click="downloadFile('template',item.id,0,'en')" >
                                                            <span class="fa fa-file-word-o"></span>
                                                            <span style="">{{'download'| translate}}</span>
                                                        </button>

                                                        <button type="button" class="btn yellow-saffron btn-xs"
                                                                ng-click="ChooseTemplate(item.category_id,'edit',0,'en')">
                                                            <span class="fa fa-refresh"></span>
                                                            <span style="">{{'reload'| translate}}</span>
                                                        </button>
                                                     </span>
                                                    <span ng-show="item.en_template == null">
                                                          <span> {{'the attachment not uploaded'| translate}} </span>
                                                          <span>
                                                              <button type="button" class="btn green-turquoise btn-xs" ng-click="ChooseTemplate(item.category_id,'add',0,'en')">
                                                                  <span style="">{{'upload'| translate}}</span>
                                                              </button>
                                                          </span>
                                                    </span>
                                                </td>
                                                <td class="text-center" style="width:14%; color: lightgrey;">|</td>
                                                <td style="width: 43%">
                                                    <span ng-show="item.en_other_template != null">
                                                         <button type="button" class="btn blue btn-xs"
                                                                 ng-click="downloadFile('template',item.id,1,'en')" >
                                                            <span class="fa fa-file-word-o"></span>
                                                            <span style="">{{'download'| translate}}</span>
                                                        </button>

                                                        <button type="button" class="btn yellow-saffron btn-xs"
                                                                ng-click="ChooseTemplate(item.category_id,'edit',1,'en')">
                                                            <span class="fa fa-refresh"></span>
                                                            <span style="">{{'reload'| translate}}</span>
                                                        </button>
                                                    </span>
                                                    <span ng-show="item.en_other_template == null">
                                                      <span> {{'the attachment not uploaded'| translate}} </span>
                                                      <span>
                                                          <button type="button" class="btn green-turquoise btn-xs" ng-click="ChooseTemplate(item.category_id,'add',1,'en')">
                                                              <span style="">{{'upload'| translate}}</span>
                                                          </button>
                                                      </span>
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- END TABLE -->
                        <div ng-show="Category.length ==0 " class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%; padding: 0%">
                            <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                            </div>
                        </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
<!-- END MAIN CONTENT -->


<script type="text/ng-template" id="myModalContent2.html">
    <div class="modal-header" style="  padding:5%; ">
        <h4 class="modal-title bold text-center">{{'Files Uploaded form'| translate}}</h4>
    </div>
    <div class="modal-body">
        <div class="row" style="padding: 2%;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12" style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">{{'select attachment'| translate}}</label>
                        <div class="col-md-10">
                            <div class="margin-bottom-20">
                                <input type="file" nv-file-select="" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document" uploader="uploader" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="uppercase">
                            <th width="50%">{{'name'| translate}}</th>
                            <th ng-show="uploader.isHTML5">{{'size'| translate}}</th>
                            <th ng-show="uploader.isHTML5">{{'progress'| translate}}</th>
                            <th>{{'status'| translate}}</th>
                            <th>{{'actions'| translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td>{{ item.file.name}}</td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress progress-sm" style="margin-bottom: 0;">
                                    <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                                <span ng-show="item.isSuccess" class="font-blue">
                                                    <i class="glyphicon glyphicon-ok"></i>
                                                </span>
                                                <span ng-show="item.isError" class="font-red-pink">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> {{'do upload'| translate}}</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <p>{{'queue_progress'| translate}}</p>
                        <div class="progress progress-sm" style="">
                            <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn red-pink"  ng-click="cancel()"> {{'cancel'| translate}} </button>
    </div>
</script>


