
<style>
    .bg-not-selected{
        background-color: #f8fdff;
        border: 1px solid #d5e9ff;
    }
    .bg-selected{
        background-color: #adceea;
        border: 1px solid #adceea;
    }
</style>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>

    <li>
        <span> {{'organizations manage'| translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>

    <li>
        <span ng-show="orgType=='sponsors'"> {{'sponsorship'| translate}}</span>
        <span ng-show="orgType=='organizations'"> {{'organization'| translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" >
        <span ng-show="orgType=='sponsors'"> {{'all deleted sponsor'| translate}}</span>
        <span ng-show="orgType=='organizations'"> {{'all deleted organization'| translate}}</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span class="fa fa-trash-o"></span>
                        <span ng-show="orgType=='sponsors'"> {{'all deleted sponsor'| translate}}</span>
                        <span ng-show="orgType=='organizations'"> {{'all deleted organization'| translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                   <div class="col-md-12 col-sm-12 col-xs-12  margin-bottom-15" >
                      
                        <div class="col-md-12 col-sm-12 col-xs-12"
                             style="padding-top: 3%;padding-bottom: 3%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                            <form name="frmsearch"  novalidate role="form" class=" text-center" style="padding:0%; margin-bottom: 2%; ">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'organization_name'| translate}}</label>
                                        <input type="text" class="form-control" autofocus ng-change="msg1.name = []"  ng-model="target.name"
                                                name="name"
                                               placeholder="{{'organization_name'| translate}} ">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label bold ">  {{'en_organization_name'| translate}}</label>
                                        <input type="text" class="form-control" only-alphabet
                                               ng-change="msg1.en_name = []"  ng-model="target.en_name"  name="en_name"
                                               placeholder="{{'organization_name'| translate}} ">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12" ng-show="orgType=='organizations' && (UserOrgLevel == 1 || target.id != UserOrgId )" >
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'organization_parent'| translate}}   </label>
                                        <ui-select ng-model="target.parent_id"
                                                       name="parent_id"
                                                       ng-change="msg1.parent_id = []"
                                                       theme="bootstrap"
                                                       class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in Organizations_ | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                    </div>

                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12" ng-show=" orgType=='organizations' && ((superAdmin == 1 || superAdmin == '1') || UserOrgLevel == 1)" >
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'organization_level'| translate}}  </label>
                                        <select class="form-control" ng-model="target.level" name="level">
                                            <option  ng-value="" value=""> ---   {{'organization_level'| translate}} --- </option>
                                            <option ng-value="1" value="1" ng-show="superAdmin == 1 || superAdmin == '1'" ng-selected="target.level == 1">{{'master_center'| translate}}</option>
                                            <option ng-value="2" value="2" ng-show="UserOrgLevel == 1" ng-selected="target.level == 2">{{'branch_center'| translate}}</option>
                                            <option ng-value="3" value="3" ng-selected="target.level == 3">{{'branches'| translate}}</option>
                                        </select>
                                    </div>
                                </div>
                                  <div class="col-md-4 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label bold">   {{'created_at_from'| translate}} </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control"
                                                               uib-datepicker-popup="{{format}}"
                                                               ng-model="target.created_at_from"
                                                               datepickerPopup
                                                               name="date_from"
                                                               is-open="popup1.opened" datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                        <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open1($event)">
                                                </button>
                                          </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label bold">   {{'created_at_to'| translate}} </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control"
                                                               uib-datepicker-popup="{{format}}"
                                                               ng-model="target.created_at_to"
                                                               datepickerPopup
                                                               name="date_to"
                                                               is-open="popup2.opened" datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                        <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open2($event)">

                                                </button>
                                          </span>
                                                    </div>
                                                </div>
                                            </div>
                                  <div class="col-md-4 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label bold">   {{'deleted_at_from'| translate}} </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control"
                                                               uib-datepicker-popup="{{format}}"
                                                               ng-model="target.deleted_at_from"
                                                               datepickerPopup
                                                               name="date_from"
                                                               is-open="popup3.opened" datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                        <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open3($event)">
                                                </button>
                                          </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label bold">   {{'deleted_at_to'| translate}} </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control"
                                                               uib-datepicker-popup="{{format}}"
                                                               ng-model="target.deleted_at_to"
                                                               datepickerPopup
                                                               name="date_to"
                                                               is-open="popup4.opened" datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                        <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open4($event)">

                                                </button>
                                          </span>
                                                    </div>
                                                </div>
                                            </div>
                                  
                                  <div class="col-md-12 col-sm-12 col-xs-12 text-center pull-right ">
                                        <div class="col-md-6 col-sm-12 col-xs-12 text-center pull-right " style="padding:0px">
                                            <div class="clearfix pull-right ">
                                                <div class="btn-group"  uib-dropdown>
                                                    <button id="single-button" type="button" class="  btn green-turquoise pull-left" uib-dropdown-toggle ng-disabled="disabled">
                                                        <span class="fa fa-file-excel-o"></span>
                                                     <span class="hidden-sm hidden-md  hidden-xs">{{'export result'| translate}}</span>
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                                        <li ng-show="Organizations.length != 0">
                                                            <a ng-click="Search(false , target,'xlsx')" class="iconify">
                                                                <i class="fa fa-file-excel-o"  style="margin-left: 4%"></i>{{'All'| translate}}</a>
                                                        </li>
                                                        <li>
                                                            <a ng-click="Search(true , target,'xlsx')"class="iconify">
                                                                <i class="fa fa-file-excel-o"  style="margin-left: 4%"></i>{{'selected'| translate}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <button class="btn red-pink " type="button" ng-click="resetFilter_()">
                                                    <span class="fa fa-trash-o"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'reset filter'| translate}}</span>
                                                </button>
                                                <button class="btn blue  " ng-click="Search(false , target,'paginate')" type="button">
                                                    <span class="icon-magnifier"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs"> {{'search'| translate}}</span>
                                                </button>

                                            </div>

                                        </div>
                                  </div>
                              </div>
                            </form>
                        </div>
                    </div>
                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-5" style="padding:0px">
                    <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
                        <label  ng-show="Organizations.length != 0">
                            {{'show'| translate}}
                            <select
                                    class="form-control input-sm input-inline" ng-init=""
                                    ng-change="itemsPerPage_(itemsCount)"
                                    name="itemsCount"
                                    ng-model='itemsCount'>
                               <option value="50">50</option><option value="100">100</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="-1">{{'show_All'| translate}}</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <form class="form-inline search-form pull-right">
                            <div class="input-group">
                                <input type="text"
                                       ng-model="target.name"
                                       ng-click="Search(false , target,'paginate')"
                                       autofocus
                                       class="form-control"
                                       placeholder="{{'search By Name'| translate}} "
                                       name="_search">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-5" ng-show="Organizations.length != 0">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                            <thead>
                            <tr  style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; " >
                                <th class="text-center" > {{'#'| translate}} </th>
                                  <th class="text-center" >
                                <input type="checkbox"
                                       ng-model="All"
                                       ng-change="selectedAll(All)"
                                       ng-true-value="true"
                                       ng-false-value="false"
                                ></th>
                                <th class="text-center " ng-click="sort('name')"> {{'organization_name'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey == 'name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-show="orgType!='sponsors'" class="text-center" ng-click="sort('level')"> {{'organization_level'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey == 'level'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('x.parent.name')"> {{'organization_parent'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey == 'country'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center col-md-2"> {{'operations'| translate}} </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="x in Organizations |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage" >
                                <td>{{ ($index + 1) + ((CurrentPage - 1) * ItemsPerPage)}}</td>
                                <td>
                                <input type="checkbox" class="make-switch"
                                       data-on-color="primary"
                                       data-off-color="info"
                                       ng-model="x.check"
                                       ng-checked="x.check"
                                       ng-true-value="true"
                                       ng-false-value="false"
                                       ></td>
                                <td>{{ x.name}}</td>
                                <td ng-show="orgType!='sponsors'">
                                    <span ng-show="x.level == 1" >{{'master_center'| translate}}</span>
                                    <span ng-show="x.level == 2 ">{{'branch_center'| translate}}</span>
                                    <span ng-show="x.level == 3 ">{{'branches'| translate}}</span>
                                </td>
                                <td>
                                    <span ng-show="lang=='ar'"> {{x.parent_id == null ? '-' :x.parent.name}}</span>
                                    <span ng-show="lang!='ar'"> {{x.parent_id == null ? '-' :x.parent.en_name}}</span>

                                </td>
                                <td>
                                    <button  uib-tooltip="{{'restore'| translate}}"
                                             ng-show="x.parent_id == UserOrgId || (superAdmin == 1 || superAdmin == '1' || UserOrgLevel == 1)"
                                             type="button"
                                             class="btn btn-xs bold fa fa-undo font-yellow-saffron"
                                             style=" font-size: medium; background-color: transparent" ng-click="restore('sm',x.id)"></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div ng-show="Organizations.length ==0 "
                     class="col-md-12 col-sm-12 col-xs-12 text-center  margin-top-10">
                    <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="Organizations.length != 0">
                    <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
