<style>

    .bg-custom {
        background-color: #f2cdc2 !important;
    }

    .bg-adjust {
        background: #e0f3ff!important;
        color: #4b64af !important;
    }
    .bg-not-custom {

    }
</style>

<!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'Dashboard' | translate}}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li> {{'Manage_Repository' | translate}} <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i> </li>
        <li>
            <a href="#/aid-repository/urgent-repositories/projects/{{repository.id}}">
                {{repository.name}}
            </a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i> </li>
        <li> {{'Projects' | translate}}</li>    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="font-dark"></i>
                        <h3>
                            <span class="glyphicon glyphicon-tags"></span>
                            <span> {{'Repository_Project' | translate}}</span>
                            <span>  / </span>
                            <span> {{repository.name}}</span>
                        </h3>
                    </div>
                    <div class="actions" style="padding-top: 30px;" ng-if="repository.status==1">
                        <div class="clearfix">

                            <div class="btn-group"  uib-dropdown ng-if="repository.is_mine == 1 && repository.projects.length > 0 ">
                                <button id="single-button" type="button" class="  btn purple-intense  pull-left" uib-dropdown-toggle ng-disabled="disabled">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    <span class="hidden-sm hidden-md  hidden-xs">{{'send sms messege'|translate}}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                    <li ng-show="repository.projects.length != 0">
                                        <a ng-click="sendSms('manual',0)" class="iconify">
                                            <i class="fa fa-hand-paper-o" style="margin-left: 4%"></i>{{'manually'| translate}}</a>
                                    </li>
                                    <li>
                                        <a ng-click="sendSms('xlx',0)" class="iconify">
                                            <i class="fa fa-file-excel-o"  style="margin-left: 4%"></i>{{'using excel'| translate}}</a>
                                    </li>
                                </ul>
                            </div >
                            <button type="button"  ng-show="repository.projects.length > 0 "class="btn yellow-saffron"  ng-click="check_on_repository()">
                                <i class="fa fa-check"></i>
                                <span class="hidden-sm hidden-md  hidden-xs">{{'check_persons'| translate}}</span>
                            </button>
                            <button   ng-show="repository.projects.length > 0 " class="btn  green-turquoise" ng-click="MainStatistic()"  uib-tooltip="{{'Candidates_Statistic'| translate}}">
                                <span class="fa fa-bar-chart"></span>
                                <span class="hidden-sm hidden-md  hidden-xs">{{'Candidates_Statistic'| translate}}</span>
                            </button>
                            <button class="btn  blue" ng-click="project_()" uib-tooltip="{{'Add_Project'| translate}}" ng-if="repository.is_mine == 1">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span  class="hidden-sm hidden-md  hidden-xs">{{'new'| translate}}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                  <div class="table-scrollable" ng-show="repository.projects.length > 0 ">
                                      <table class="table table-striped table-bordered" >
                                          <thead>
                                          <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                              <th class="text-center" style="width: 3%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" >
                                                  <input ng-if="repository.is_mine == 1"  type="checkbox" ng-model="All" ng-change="selectedAll(All)" ng-true-value="true" ng-false-value="false">
                                              </th>
                                              <th class="text-center"  style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" >{{'Name' | translate}}</th>
                                              <th class="text-center"  style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" >{{'Sponsor' | translate}}</th>
                                              <th class="text-center"  style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" >{{'Organization' | translate}}</th>
                                              <th class="text-center"  style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" >{{'custom_organization' | translate}}</th>
                                              <th class="text-center"  style="width: 5%;  white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" >{{'organization_quantity' | translate}}</th>
                                              <th class="text-center"  style="width: 5%;  white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" >{{'Unit_Amount_sh' | translate}}</th>
                                              <th class="text-center"  style="width: 5%;  white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" >{{'Quantity' | translate}}</th>
                                              <th class="text-center"  style="width: 5%;  white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" >{{'Total_Amount_sh' | translate}}</th>
                                              <th class="text-center"  style="width: 5%;  white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" >{{'status' | translate}}</th>
                                              <th class="text-center"  style="width: 5%;  white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" >{{'Notes' | translate}}</th>
                                          </tr>
                                          </thead>
                                          <tbody ng-repeat="project in repository.projects" id="projects" class=" text-center ">
                                              <tr>

                                                  <td  rowspan="2">
                                                      <input type="checkbox" class="make-switch"
                                                             ng-if="repository.is_mine == 1"  data-on-color="primary"
                                                             data-off-color="info"
                                                             ng-model="project.caseCheck"
                                                             ng-checked="selectAll"
                                                             ng-true-value="true"
                                                             ng-false-value="false"
                                                      >
                                                  </td>
                                                  <td  class="text-center" >{{project.name}}</td>
                                                  <td  class="text-center" >{{project.sponsor_name}}</td>
                                                  <td  class="text-center" >{{project.organization_name}}</td>
                                                  <td  class="text-center" >{{project.custom_organization_name}}</td>
                                                  <td  class="text-center">{{project.organization_quantity}}</td>
                                                  <td  class="text-center"  rowspan="2">{{project.amount * project.exchange_rate}}</td>
                                                  <td  class="text-center"  rowspan="2">{{project.quantity}}</td>
                                                  <td  class="text-center"  rowspan="2">{{ ( project.quantity * ( project.amount * project.exchange_rate ) )}}</td>
                                                  <td  class="text-center" rowspan="2" style="width: 120px">
                                                      <div class="form-group" style="width: 120px" ng-if="repository.is_mine == 1 && repository.status==1 ">
                                                          <select class="form-control  text-center" name="status"
                                                                  ng-model="project.status"
                                                                  ng-change="updateProjectStatus(project.id,project.status,$index)">
                                                              <option ng-disabled="project.status == 1" ng-show="(project.status == 1) ||(project.status== 2)" ng-value="1" value="1"  ng-selected="project.status == 1"    >{{'Draft' | translate}}</option>
                                                              <option ng-disabled="project.status == 2" ng-show="(project.status == 1) ||(project.status== 2) || (project.status == 3)" ng-value="2" value="2"  ng-selected="project.status == 2"    >{{'Certified for nomination' | translate}}</option>
                                                              <option ng-disabled="project.status == 3" ng-show="(project.status == 2) ||(project.status== 3) || (project.status == 4)" ng-value="3" value="3"  ng-selected="project.status == 3"    >{{'Certified for execution' | translate}} </option>
                                                              <option ng-disabled="project.status == 4" ng-show="(project.status == 3) ||(project.status== 4)" ng-value="4" value="4"  ng-selected="project.status == 4"    >{{'Done' | translate}}</option>
                                                          </select>
                                                      </div>
                                                      <span ng-if=" repository.is_mine != 1 || repository.status !=1">
                                                              <span ng-show="project.status == 1" >{{'Draft' | translate}}</span>
                                                              <span ng-show="project.status == 2" >{{'Certified for nomination' | translate}}</span>
                                                              <span ng-show="project.status == 3"  >{{'Certified for execution' | translate}} </span>
                                                              <span ng-show="project.status == 4"  >{{'Done' | translate}}</span>
                                                      </span>
                                                  </td>
                                                  <td rowspan="2">
                                                      <textarea ng-show=" repository.is_mine == 1 && ( repository.status==1 || repository.status=='1')" style="width: 180px;"
                                                                ng-model="project.notes" class="form-control"
                                                                rows="3"></textarea>

                                                      <a class="btn btn-xs btn-outline green " uib-tooltip="{{'Save' | translate}}"
                                                         ng-show=" repository.is_mine == 1 && ( repository.status==1 || repository.status=='1') "
                                                         ng-click="saveProject(project)">
                                                          <span class="glyphicon glyphicon-floppy-disk"></span>
                                                          <span class="hidden-sm hidden-md  hidden-xs"> {{'Save' | translate}}</span>
                                                      </a>

                                                      <span style="margin-top: 2%;"
                                                            ng-show=" !(repository.is_mine == 1 && ( repository.status==1 || repository.status=='1')) ">{{project.notes}}</span>
                                                  </td>
                                              </tr>
                                              <tr style="background: #fbfcfd !important;">
                                                  <td colspan="5" class="text-left">
                                                      <span class="clearfix">
                                                      <a class="btn btn-xs btn-outline blue" ng-if="repository.is_mine != 1 || project.status !=1 "
                                                         uib-tooltip="{{'show' | translate}}"
                                                         ng-click="show(project)"><span class="fa fa-eye"></span>
                                                          <span class="hidden-sm hidden-md  hidden-xs">{{'show' | translate}}</span>
                                                      </a>
                                                      <a class="btn btn-xs btn-outline blue" ng-if="repository.is_mine == 1 && project.status ==1 "
                                                         uib-tooltip="{{'Edit' | translate}}"
                                                         ng-click="edit(project)"><span class="fa fa-edit"></span>
                                                          <span class="hidden-sm hidden-md  hidden-xs">{{'Edit' | translate}}</span>
                                                      </a>
                                                      <a class="btn btn-xs btn-outline red" ng-if="repository.is_mine == 1"
                                                         uib-tooltip="{{'Delete' | translate}}"
                                                         ng-click="delete(project)"><span class="fa fa-trash-o"></span>
                                                          <span class="hidden-sm hidden-md  hidden-xs">{{'Delete' | translate}}</span>
                                                      </a>
                                                        <button  ng-show="repository.is_mine == 1 && project.status == 2 "
                                                                 class="btn btn-xs btn-outline green-sharp"
                                                                    uib-tooltip="{{'Nomination'| translate}}"
                                                                    ng-click="upload_candidates(project.id)">
                                                          <span class="fa fa-upload"></span>
                                                          <span class="hidden-sm hidden-xs hidden-md">{{'Nomination'| translate}}</span>
                                                        </button>



                                                      <a  ng-if="project.status !=1 " class="btn btn-xs btn-outline blue" uib-tooltip="{{'Candidates' | translate}}"
                                                          href="#/aid-repository/repositories/projects/candidates/{{project.id}}/">
                                                          <span class="glyphicon glyphicon-user"></span>
                                                          <span class="hidden-sm hidden-md  hidden-xs">{{'Candidates' | translate}}</span>
                                                      </a>

                                                      <!--<button  ng-if="project.status !=1 " class="btn btn-xs btn-outline  green-turquoise"-->
                                                               <!--uib-tooltip="{{'Candidates_Statistic'| translate}}"-->
                                                               <!--ng-click="statistic(project.id)">-->
                                                          <!--<span class="fa fa-bar-chart"></span>-->
                                                          <!--<span class="hidden-sm hidden-xs hidden-md">{{'Candidates_Statistic'| translate}}</span>-->
                                                      <!--</button>-->

                                                      <button  ng-if="project.status !=1 " class="btn btn-xs btn-outline  yellow"
                                                               uib-tooltip="{{'check_persons'| translate}}"
                                                               ng-click="check(project.id)">
                                                          <span class="fa fa-check"></span>
                                                          <span class="hidden-sm hidden-xs hidden-md">{{'check_persons'| translate}}</span>

                                                      </button>
                                                      <button ng-if="repository.is_mine == 1" class="btn btn-xs btn-outline  purple-intense"
                                                              uib-tooltip="{{'send sms'| translate}}"
                                                              ng-click="sendSms('manual',project.id)">
                                                          <span class="glyphicon glyphicon-envelope"></span>
                                                          <span class="hidden-sm hidden-xs hidden-md">{{'send sms'| translate}}</span>
                                                      </button>
                                                          </span>

                                                  </td>
                                              </tr>
                                          </tbody>

                                          <tfoot>
                                          <tr style="background: #fbfcfd !important;">
                                              <th class="text-center" colspan="7">{{'Total' | translate}}</th>
                                              <td class="text-center">{{repository.total_quantity}}</td>
                                              <td class="text-center">{{repository.total_amount_sk}}</td>
                                              <td class="text-center"  colspan="2">  </td>
                                          </tr>
                                          </tfoot>

                                      </table>
                                  </div>
                                  <div  ng-show="repository.projects.length ==0 "  class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                                      <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                                      </div>
                                  </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT -->

<script type="text/ng-template" id="project_.html">
    <div class="modal-header" style="  padding:4%; ">
        <h4 class="modal-title text-center text-primary bold">
            {{'Add_Project' | translate}}
        </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <form name="form"  novalidate="" role="form" class="text-center">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
                                    <label class="control-label bold">  {{'Name'| translate}}
                                        <span class=" text-danger bold help-inline"> * </span>
                                    </label>
                                    <input type="text" name="name" ng-model="project.name" ng-required="true" class="form-control" placeholder="{{'Name'| translate}}">
                                    <span class="text-danger bold help-inline" ng-show="form.name.$error.required && form.name.$touched">
                                            {{ 'required_field' | translate }}
                    </span>
                                    <span ng-repeat="(error, errortext) in msg1.name" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.name' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group" ng-class="{ 'has-error' : form.category.$invalid && !form.category.$pristine }">
                                    <label class="control-label bold text-center ">  {{'project_category' | translate}}  <span class="text-danger bold"> * </span> </label>
                                    <div class="input-group">
                                        <ui-select name="category_id" ng-model="project.category_id" theme="bootstrap"
                                                   ng-change="msg1.category_id = [ ]"
                                                   ng-required="true"
                                                   class="text-right" >
                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item.id as item in categories | filter: $select.search">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="project.category_id = undefined"  class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                    </div>
                                    <span class="text-danger bold help-inline" ng-show="form.category_id.$error.required && form.category_id.$touched">
                                         {{'required_field' | translate}}
                                        </span>
                                    <span ng-repeat="(error, errortext) in msg1.category_id" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.category_id' != [ ]" >
                                             {{ errortext.toString() }}
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-4" >
                                            <div class="form-group " ng-class="{ 'has-error' : form.case_category_id.$invalid }">
                                                <label class="control-label bold">{{'category_name'| translate}}</label>
                                                <div class="input-group">
                                                    <ui-select name="case_category_id" ng-model="project.case_category_id"theme="bootstrap"
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in aidCategories_ | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                                <button type="button" ng-click="project.case_category_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                                </div>
                                                  <span class="text-danger bold help-inline" ng-show="form.case_category_id.$error.required && form.case_category_id.$touched">
                                         {{'required_field' | translate}}
                                        </span>
                                    <span ng-repeat="(error, errortext) in msg1.case_category_id" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.case_category_id' != [ ]" >
                                             {{ errortext.toString() }}
                                    </span>
                                            </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{ 'has-error' : form.sponsor.$invalid && !form.sponsor.$pristine }">
                                    <label class="control-label bold text-center ">  {{'Sponsor' | translate}}  <span class="text-danger bold"> * </span> </label>
                                    <div class="input-group">
                                        <ui-select name="sponsor_id" ng-model="project.sponsor_id" theme="bootstrap"
                                                   ng-change="msg1.sponsor_id = [ ]"
                                                   ng-required="true"
                                                   class="text-right" >
                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item.id as item in Sponsors | filter: $select.search">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="project.sponsor_id = undefined"  class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                    </div>

                                    <span class="text-danger bold help-inline" ng-show="form.sponsor_id.$error.required && form.sponsor_id.$touched">
                                         {{'required_field' | translate}}
                                        </span>

                                    <span ng-repeat="(error, errortext) in msg1.sponsor_id" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.sponsor_id' != [ ]" >
                                         {{ errortext.toString() }}
                                </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{ 'has-error' : form.quantity.$invalid && !form.quantity.$pristine }">
                                    <label class="control-label bold text-center ">  {{'Quantity' | translate}}  <span class="text-danger bold"> * </span> </label>
                                    <input type="text" name="quantity"  ng-model="project.quantity"  ng-required="true" class="form-control">
                                    <span class="text-danger bold help-inline" ng-show="form.quantity.$error.required && form.quantity.$touched">
                                         {{'required_field' | translate}}
                                        </span>
                                    <span ng-repeat="(error, errortext) in msg1.quantity" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.quantity' != [ ]" >
                                         {{ errortext.toString() }}
                                </span>
                                </div>
                            </div>
                        </div>
                       <div class="col-md-12 col-sm-12 col-xs-12">

                           <div class="col-md-4">
                                <div class="form-group" ng-class="{ 'has-error' : form.amount.$invalid && !form.amount.$pristine }">
                                    <label class="control-label bold text-center ">  {{'Amount' | translate}}  <span class="text-danger bold"> * </span> </label>
                                    <input type="text" name="amount" ng-model="project.amount"  ng-required="true" class="form-control">
                                    <span class="text-danger bold help-inline" ng-show="form.amount.$error.required && form.amount.$touched">
                                         {{'required_field' | translate}}
                                        </span>

                                    <span ng-repeat="(error, errortext) in msg1.amount" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.amount' != [ ]" >
                                         {{ errortext.toString() }}
                                </span>
                                </div>
                            </div>
                            <div class="col-md-4" >
                                <div class="form-group" ng-class="{ 'has-error' : form.currency_id.$invalid && !form.currency_id.$pristine }">
                                    <label class="control-label bold"> {{'currency_'| translate}}
                                        <span class=" text-danger bold help-inline"> * </span>
                                    </label>
                                    <div class="input-group">
                                        <ui-select name="currency_id" ng-model="project.currency_id" theme="bootstrap"
                                                   ng-change="msg1.currency_id = [ ]"
                                                   ng-required="true"
                                                   class="text-right" >
                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item.id as item in currency | filter: $select.search">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="project.currency_id = undefined"  class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                    </div>

                                    <span class="text-danger bold help-inline" ng-show="form.currency_id.$error.required && form.currency_id.$touched">
                                         {{'required_field' | translate}}
                                </span>
                                    <span ng-repeat="(error, errortext) in msg1.currency_id" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.currency_id' != [ ]" >
                                         {{ errortext.toString() }}
                                </span>
                                </div>
                            </div>
                             <div class="col-md-4" >
                                <div class="form-group ">
                                    <label class="control-label bold">  {{'exchange_rate' | translate}}
                                        <span class=" text-danger bold help-inline"> * </span>
                                    </label>
                                    <input type="number" class="form-control"  min="0" step="0.01" ng-value="0" value="0"
                                           ng-model="project.exchange_rate"  name="exchange_rate"
                                           ng-required="true"
                                           ng-change="msg1.exchange_rate = [ ]"
                                    />
                                    <span class="text-danger bold help-inline" ng-show="form.exchange_rate.$error.required && form.exchange_rate.$touched">
                                         {{'required_field' | translate}}
                                </span>
                                    <span ng-repeat="(error, errortext) in msg1.exchange_rate"
                                          class="text-danger bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg1.exchange_rate' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                                </div>

                            </div>
                            
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                       
                             <div class="col-md-4" >
                                <div class="form-group ">
                                    <label class="control-label bold">{{'allow_day' | translate}}
                                        <span class=" text-danger bold help-inline"> * </span>
                                    </label>
                                    <input type="text"
                                           numeric-only class="form-control"  min="0" step="0.01" ng-value="0" value="0"
                                           ng-model="project.allow_day"  name="allow_day"
                                           ng-required="true"
                                           ng-change="msg1.allow_day = [ ]" ng-disabled="reanOnlyInput"
                                    />
                                    <span class="text-danger bold help-inline" ng-show="frmvoucher.allow_day.$error.required && frmvoucher.allow_day.$touched">{{'required_field' | translate}}
                            </span>
                                    <span ng-repeat="(error, errortext) in msg1.allow_day"
                                          class="text-danger bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg1.allow_day' != [ ]" >
                            {{ errortext.toString() }}
                          </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{ 'has-error' : form.organization.$invalid && !form.organization.$pristine }">
                                    <label class="control-label bold text-center ">  {{'Organization' | translate}}  <span class="text-danger bold"> * </span> </label>
                                    <div class="input-group">
                                        <ui-select name="organization_id" ng-model="project.organization_id" theme="bootstrap"
                                                   ng-change="msg1.organization_id = [ ]"
                                                   ng-required="true"
                                                   class="text-right" >
                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item.id as item in Orgs_ | filter: $select.search">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="project.organization_id = undefined"  class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                    </div>

                                    <span class="text-danger bold help-inline" ng-show="form.organization_id.$error.required && form.organization_id.$touched">
                                         {{'required_field' | translate}}
                                        </span>
                                    <span ng-repeat="(error, errortext) in msg1.organization_id" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.organization_id' != [ ]" >
                                         {{ errortext.toString() }}
                                </span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{ 'has-error' : form.organization_quantity.$invalid && !form.organization_quantity.$pristine }">
                                    <label class="control-label bold text-center ">  {{'organization_quantity' | translate}} </label>
                                    <input type="number" name="organization_quantity" ng-model="project.organization_quantity" class="form-control">
                                    <span class="text-danger bold help-inline" ng-show="form.organization_quantity.$error.required && form.organization_quantity.$touched">
                                         {{'required_field' | translate}}
                                        </span>
                                    <span ng-repeat="(error, errortext) in msg1.organization_quantity" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.organization_quantity' != [ ]" >
                                         {{ errortext.toString() }}
                                </span>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4">
                                <div class="form-group" ng-class="{ 'has-error' : form.custom_organization.$invalid && !form.custom_organization.$pristine }">
                                    <label class="control-label bold text-center ">  {{'custom_organization' | translate}}  <span class="text-danger bold"> * </span> </label>
                                    <div class="input-group">
                                        <ui-select name="custom_organization" ng-model="project.custom_organization" theme="bootstrap"
                                                   ng-change="msg1.custom_organization = [ ]"
                                                   ng-required="true"
                                                   class="text-right" >
                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item.id as item in Orgs | filter: $select.search">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="project.custom_organization = undefined"  class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                    </div>

                                    <span class="text-danger bold help-inline" ng-show="form.custom_organization.$error.required && form.custom_organization.$touched">
                                         {{'required_field' | translate}}
                                        </span>
                                    <span ng-repeat="(error, errortext) in msg1.custom_organization" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.custom_organization' != [ ]" >
                                         {{ errortext.toString() }}
                                </span>
                                </div>
                            </div>
                            <div class="col-md-4" ng-show="(project.custom_organization) && 
                                                                                (project.custom_organization != 'null' && project.custom_organization != ' '  && project.custom_organization != '')">
                                <div class="form-group" ng-class="{ 'has-error' : form.custom_quantity.$invalid && !form.custom_quantity.$pristine }">
                                    <label class="control-label bold text-center ">  {{'custom_quantity' | translate}}</label>
                                    <input type="number" name="custom_quantity"  ng-model="project.custom_quantity"  class="form-control">
                                    <span class="text-danger bold help-inline" ng-show="form.custom_quantity.$error.required && form.custom_quantity.$touched">
                                         {{'required_field' | translate}}
                                        </span>
                                    <span ng-repeat="(error, errortext) in msg1.custom_quantity" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.custom_quantity' != [ ]" >
                                             {{ errortext.toString() }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!--ng-disabled="form.$invalid"-->
        <button class=" btn btn-primary" ng-click="confirm(project)"
                type="button" >
            <span class="glyphicon glyphicon-floppy-disk" style="margin-left: 5px;"></span>
            <span>{{'Save'| translate}} </span> </button>
        <button class="btn red-pink"  ng-click="cancel()"><span>{{'cancel'| translate}} </span></button>
    </div>
</script>
<script type="text/ng-template" id="edit_project.html">
    <div class="modal-header" style="  padding:4%; ">
        <h4 class="modal-title text-center text-primary bold">
            {{'edit_project' | translate}}
        </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <form name="form"  novalidate="" role="form" class="text-center">
                       <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label bold">  {{'Name'| translate}}</label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.name != null && project.name != 'null') ? project.name:'-'}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label bold">  {{'project_category'| translate}}</label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.category_name != null && project.category_name != 'null') ? project.category_name:'-'}}</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold text-center ">  {{'Sponsor' | translate}}</label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.sponsor_name != null && project.sponsor_name != 'null') ? project.sponsor_name:'-'}}</p>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold text-center ">  {{'Category' | translate}}</label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.case_category_name != null && project.case_category_name != 'null') ? project.case_category_name: '-'}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{ 'has-error' : form.quantity.$invalid && !form.quantity.$pristine }">
                                    <label class="control-label bold text-center ">  {{'Quantity' | translate}}</label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.quantity != null && project.quantity != 'null') ? project.quantity:'-'}}</p>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="col-md-4">
                               <div class="form-group" ng-class="{ 'has-error' : form.amount.$invalid && !form.amount.$pristine }">
                                        <label class="control-label bold text-center ">  {{'Amount' | translate}}  <span class="text-danger bold"> * </span> </label>
                                        <input type="text" name="amount" ng-model="project.amount"  ng-required="true" class="form-control">
                                </div>
                            </div>
                          <div class="col-md-4">
                                <div class="form-group ">
                                    <label class="control-label bold"> {{'currency_'| translate}}</label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.currency_name != null && project.currency_name != 'null') ? project.currency_name:'-'}}</p>
                                </div>
                            </div>
                          <div class="col-md-4">
                             <div class="form-group" ng-class="{ 'has-error' : form.exchange_rate.$invalid && !form.exchange_rate.$pristine }">
                                    <label class="control-label bold text-center ">  {{'exchange_rate' | translate}}  <span class="text-danger bold"> * </span> </label>
                                    <input type="text" name="exchange_rate" ng-model="project.exchange_rate"  ng-required="true" class="form-control">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-4" >
                               <div class="form-group ">
                                <label class="control-label bold">{{'allow_day' | translate}} <span class=" text-danger bold help-inline"> * </span>  </label>
                                <input type="text" numeric-only  class="form-control"  min="0" step="0.01" ng-value="0" value="0"
                                        ng-model="project.allow_day"  name="allow_day"ng-required="true"
                                        ng-change="msg1.allow_day = [ ]" ng-disabled="reanOnlyInput"
                                />
                                <span class="text-danger bold help-inline" ng-show="frmvoucher.allow_day.$error.required && frmvoucher.allow_day.$touched">
                                    {{'required_field' | translate}}
                                </span>
                                <span ng-repeat="(error, errortext) in msg1.allow_day"
                                      class="text-danger bold help-inline"
                                      ng-show="status1=='failed_valid' && 'msg1.allow_day' != [ ]" >
                                {{ errortext.toString() }}
                              </span>
                            </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold text-center "> {{'Organization' | translate}}</label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.organization_name != null && project.organization_name != 'null') ? project.organization_name:'-'}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold text-center "> {{'organization_quantity' | translate}}</label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.organization_quantity != null && project.organization_quantity != 'null') ? project.organization_quantity  + '  %  ':'-'}}</p>
                               </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold text-center ">  {{'custom_organization' | translate}} </label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.custom_organization != null && project.custom_organization != 'null') ? project.custom_organization:'-'}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold text-center ">  {{'custom_quantity' | translate}}  </label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.custom_quantity != null && project.custom_quantity != 'null') ? project.custom_quantity  + '  %  ':'-'}}</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!--ng-disabled="form.$invalid"-->
        <button class=" btn btn-primary" ng-click="confirm(project)"
                type="button" >
            <span class="glyphicon glyphicon-floppy-disk" style="margin-left: 5px;"></span>
            <span>{{'Save'| translate}} </span> </button>
        <button class="btn red-pink"  ng-click="cancel()"><span>{{'cancel'| translate}} </span></button>
    </div>
</script>
<script type="text/ng-template" id="show_project.html">
    <div class="modal-header" style="  padding:4%; ">
        <h4 class="modal-title text-center text-primary bold">
            {{'show' | translate}}
        </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <form name="form"  novalidate="" role="form" class="text-center">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label bold">  {{'Name'| translate}}</label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.name != null && project.name != 'null') ? project.name:'-'}}</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label bold">  {{'project_category'| translate}}</label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.category_name != null && project.category_name != 'null') ? project.category_name:'-'}}</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                        
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold text-center ">  {{'Sponsor' | translate}}</label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.sponsor_name != null && project.sponsor_name != 'null') ? project.sponsor_name:'-'}}</p>
                                </div>
                            </div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold text-center ">  {{'Category' | translate}}</label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.case_category_name != null && project.case_category_name != 'null') ? project.case_category_name: '-'}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{ 'has-error' : form.quantity.$invalid && !form.quantity.$pristine }">
                                    <label class="control-label bold text-center ">  {{'Quantity' | translate}}</label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.quantity != null && project.quantity != 'null') ? project.quantity:'-'}}</p>
                                </div>
                            </div>
                        </div>
                         <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="col-md-4">
                                <div class="form-group ">
                                    <label class="control-label bold text-center ">  {{'Amount' | translate}}  <span class="text-danger bold"> * </span> </label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.amount != null && project.amount != 'null') ? project.amount:'-'}}</p>
                                </div>
                            </div>
                          <div class="col-md-4">
                                <div class="form-group ">
                                    <label class="control-label bold"> {{'currency_'| translate}}</label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.currency_name != null && project.currency_name != 'null') ? project.currency_name:'-'}}</p>
                                </div>
                            </div>
                          <div class="col-md-4">
                                <div class="form-group ">
                                    <label class="control-label bold text-center ">  {{'exchange_rate' | translate}}  <span class="text-danger bold"> * </span> </label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.exchange_rate != null && project.exchange_rate != 'null') ? project.exchange_rate:'-'}}</p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-4" >
                               <div class="form-group ">
                                 <label class="control-label bold">{{'allow_day' | translate}}</label>
                                   <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.allow_day != null && project.allow_day != 'null') ? project.allow_day:'-'}}</p>
                               </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold text-center "> {{'Organization' | translate}}</label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.organization_name != null && project.organization_name != 'null') ? project.organization_name:'-'}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold text-center "> {{'organization_quantity' | translate}}</label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.organization_quantity != null && project.organization_quantity != 'null') ? project.organization_quantity  + '  %  ':'-'}}</p>
                               </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-sm-12 col-xs-12">
                          
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold text-center ">  {{'custom_organization' | translate}} </label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.custom_organization != null && project.custom_organization != 'null') ? project.custom_organization:'-'}}</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label bold text-center ">  {{'custom_quantity' | translate}}  </label>
                                    <p class="form-control" style="margin-top:5px; background: #f7f7f7;"> {{(project.custom_quantity != null && project.custom_quantity != 'null') ? project.custom_quantity  + '  %  ':'-'}}</p>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn red-pink"  ng-click="cancel()"><span>{{'cancel'| translate}} </span></button>
    </div>
</script>

<script type="text/ng-template" id="checkPerson_.html">
    <div class="modal-header" style="  padding:3%; ">
        <h4 style="" class="modal-title bold text-center"> {{'check_persons'| translate}} </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form name="form" novalidate="" role="form" class=" text-center" style="padding: 1%;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <p class="text-left bold" style="
                       margin: 0 0 5px 0;padding: 10px;
                        border: 3px solid #fff0f1;
                        border-radius: 4px 0 0 4px;
                        background-color: #fff0f1;
                        color: #e43a45;
                        min-height: 40px !important;
                        ">
                               {{'The maximum number of records in the uploaded file'| translate}} <span style="margin-left:3px ; margin-right:3px ;  "> : 500  </span> {{'record'| translate}}
                      </p>
                      <p class="text-left bold" style="
                        margin: 0 0 5px 0;
                        padding: 10px;
                        border: 3px solid #fff0f1;
                        border-radius: 4px 0 0 4px;
                        background-color: #fff0f1;
                        color: #e43a45;
                        min-height: 40px !important;
                        ">
                          {{'you should use the new card number for updated card number that be start with 700'| translate}}
                          <button type="button" class="btn red-pink btn-xs" ng-click="checkOldCard()">
                              <span class="fa fa-check-square"></span><span> {{'to check click here'| translate}}</span>
                          </button>
                      </p>
                  </div>
                    <div class="col-md-12  text-right">
                        <span class="text-primary pull-left text-right" >{{'download template'| translate}}</span>
                        <a   href="javascript:;" class="pull-left btn btn-xs btn-primary fa fa-download " style="margin-right: 2%"
                             ng-click="download()"
                        ></a>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">
                        <label class="control-label bold">{{'select import file'| translate}}</label>
                        <input type="file" id="upload" ng-required="true"
                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                               onchange="angular.element(this).scope().fileUpload(this)" class="form-control" data-nv-file-select="" data-uploader="uploader">
                        <span ng-repeat="(error, errortext) in err_msg.logo" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'err_msg.logo' != []" >
                            {{ errortext.toString()}}
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer" style="margin-top: 25px;">
        <button class="btn btn-primary" ng-click="confirm()" ng-disabled="!upload" type="button" >
            <span> {{'search'| translate}}</span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
</script>

