<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{'aids management' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'all aid cases'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span> {{  category_name }}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span> {{  name }}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active"> {{'vouchers list'| translate}} </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <i class="fa fa-tags"></i>
                        <span> {{'vouchers list'| translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                </div>
            </div>
            <div class="portlet-body">
                <div class="tabs-container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12"  style="margin-bottom: 2%;" >
                            <button  type="button" ng-show="caseVouchersList.length > 0"class="btn blue" ng-click="Search(voucher_filters,'export')"style="margin-left: 1%;">
                                <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                                <span> {{'export-vouchers'| translate}}</span>
                            </button>
                            <button  class=" pull-right btn blue " ng-click="toggleSearch()" type="button" >
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12"  ng-hide="case_vouchers" STYLE="padding: 1.5%; margin-bottom: 2%;">
                            <form name="frmsearch"  novalidate role="form" class=" text-center" style="padding:0 2%;">
                                <div class="row" style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group ">
                                                <label class=" control-label bold">{{'voucher_sponsor_name'| translate}}</label>
                                                <div class="input-group">
                                                    <ui-select name="sponsor_id" ng-model="voucher_filters.sponsor_id"theme="bootstrap"
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in Sponsors | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                            <button type="button" ng-click="voucher_filters.sponsor_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" ng-class="{ 'has-error' : frmvoucher.category_id.$invalid && !frmvoucher.category_id.$pristine }">
                                                <label class="control-label bold ">  {{'voucher_category'| translate}}  </label>
                                                <select class="form-control"
                                                        ng-init=""
                                                        ng-change="msg1.category_id = [ ]"
                                                        name="category_id"
                                                        ng-model='voucher_filters.category_id'
                                                >
                                                    <option selected value > --  {{'voucher_category'| translate}}  -- </option>
                                                    <option ng-repeat="option in Categories" value="{{option.id}}" >
                                                        {{option.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" ng-class="{ 'has-error' : frmsearch.voucher_type.$invalid && !frmsearch.type.$pristine }">
                                                <label class="control-label  bold ">  {{'voucher_type'| translate}}  </label>
                                                <select class="form-control"
                                                        ng-init=""
                                                        ng-change="msg1.voucher_type = [ ]"
                                                        name="voucher_type"
                                                        ng-model='voucher_filters.voucher_type'
                                                >
                                                    <option selected value > --  {{'voucher_type'| translate}}  -- </option>
                                                    <option  value="1" > {{'non_financial'| translate}} </option>
                                                    <option  value="2" > {{'financial'| translate}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" ng-class="{ 'has-error' : frmsearch.title.$invalid }">
                                                <label class=" control-label bold">{{'voucher_title'| translate}}</label>
                                                <input type="text" class="form-control" name="title" ng-model="voucher_filters.title"  maxlength="255" ng-maxlength="255"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group" ng-class="{ 'has-error' : frmsearch.voucher_source.$invalid && !frmsearch.voucher_source.$pristine }">
                                                <label class="control-label  bold ">  {{'voucher_source'| translate}}  </label>
                                                <select class="form-control"
                                                        ng-init=""
                                                        ng-change="msg1.voucher_source = [ ]"
                                                        name="voucher_source"
                                                        ng-model='voucher_filters.voucher_source'
                                                >
                                                    <option selected value > --  {{'voucher_source'| translate}}  -- </option>
                                                    <option value="0"> {{'from_project'| translate}}</option>
                                                    <option value="1"> {{'manually'| translate}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group " ng-class="{ 'has-error' : frmsearch.content.$invalid }">
                                                <label class=" control-label bold">{{'voucher_content'| translate}}</label>
                                                <input type="text" class="form-control" name="content" ng-model="voucher_filters.content"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group " ng-class="{ 'has-error' : frmsearch.notes.$invalid }">
                                                <label class=" control-label bold">{{'voucher_note'| translate}}</label>
                                                <input type="text" class="form-control" name="notes" ng-model="voucher_filters.notes"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" ng-class="{ 'has-error' : frmsearch.receipt_location.$invalid }">
                                                <label class=" control-label bold">{{'receipt_location'| translate}}</label>
                                                <input type="text" class="form-control" name="receipt_location" ng-model="voucher_filters.receipt_location"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'voucher_date_from'| translate}} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="voucher_filters.voucher_date_from"
                                                           datepickerPopup
                                                           name="voucher_date_from"
                                                           is-open="popup999.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open999($event)">
                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'voucher_date_to'| translate}} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="voucher_filters.voucher_date_to"
                                                           datepickerPopup
                                                           name="voucher_date_to"
                                                           is-open="popup888.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open888($event)">
                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'receipt_date_from'| translate}} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="voucher_filters.receipt_date_from"
                                                           datepickerPopup
                                                           name="receipt_date_from"
                                                           is-open="popup9.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open9($event)">
                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'receipt_date_to'| translate}} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="voucher_filters.receipt_date_to"
                                                           datepickerPopup
                                                           name="receipt_date_to"
                                                           is-open="popup88.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open88($event)">
                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group ">
                                                <label class="control-label bold">{{'currency'| translate}}</label>

                                                <div class="input-group">
                                                    <ui-select name="currency_id" ng-model="voucher_filters.currency_id" theme="bootstrap"
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in currency | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                            <button type="button" ng-click="voucher_filters.currency_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'voucher_organization'| translate}} </label>
                                                <select class="form-control" ng-model="voucher_filters.organization_id" name="organization_id">
                                                    <option selected value>{{'voucher_organization'| translate}}  </option>
                                                    <option ng-repeat="option in Org"  value="{{option.id}}"    >
                                                        {{option.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class=" col-md-2 pull-right" style="padding-top: 20px;">
                                            <button class="btn blue" style="width:85%;" ng-click="Search(voucher_filters,'filters')" type="button" > <span>{{'search'| translate}}</span> </button>
                                        </div>



                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 2%;" >
                            <div class="row" ng-show="caseVouchersList.length != 0">
                                <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
                                    <label>
                                        {{'show'| translate}}
                                        <select
                                                class="form-control input-sm input-inline" ng-init=""
                                                ng-change="itemsPerPage_(itemsCount)"
                                                name="itemsCount"
                                                ng-model='itemsCount'>
                                           <option value="50">50</option><option value="100">100</option>
                                            <option value="200">200</option>
                                            <option value="500">500</option>
                                            <option value="1000">1000</option>
                                            <option value="-1">{{'show_All'| translate}}</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                </div>
                            </div>
                            <table  class="table table-bordered table-striped  text-center table-hover " ng-show="caseVouchersList.length > 0">
                                <thead>
                                <tr class="font-blue" style=" height:40px; line-height: 40px; font-size: 30px; ">
                                    <th class="text-center" colspan="7" style="background-color: #f3f3f3!important; "> {{"sh_total"| translate }}</th>
                                    <th class="text-center cold" colspan="4"> {{total}}</th>
                                </tr>
                                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                    <th class="text-center" > {{'#'| translate}} </th>
                                    <th class="text-center" > {{'voucher_name'| translate}} </th>
                                    <th class="text-center" > {{'voucher_value'| translate}} </th>
                                    <th class="text-center" > {{'organization_name'| translate}} </th>
                                    <th class="text-center" > {{'category_type'| translate}} </th>
                                    <th class="text-center" > {{'voucher_type'| translate}} </th>
                                    <th class="text-center" > {{'receipt_date'| translate}} </th>
                                    <th class="text-center" > {{'receipt_time'| translate}} </th>
                                    <th class="text-center" > {{'receipt_location'| translate}} </th>
                                    <th class="text-center" > {{'receipt_status'| translate}} </th>
                                    <th class="text-center" > {{'voucher_note'| translate}} </th>   </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="item in caseVouchersList|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                    <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                    <td>{{ item.voucher_name }}</td>
                                    <td>{{ item.voucher_value }}</td>
                                    <td>{{ item.organization_name }}</td>
                                    <td>{{ item.category_type }}</td>
                                    <td>{{ item.voucher_type }}</td>
                                    <td>{{ item.receipt_date }}</td>
                                    <td>{{ item.receipt_time }}</td>
                                    <td>{{ item.receipt_location }}</td>
                                    <td>{{ item.receipt_status }}</td>
                                    <td>{{ item.voucher_note }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <div ng-show="caseVouchersList.length == 0" class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                                </div>
                            </div>
                            <div class="row"  ng-show="caseVouchersList.length > 0"  >
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"
                                                    max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged('vouchers',CurrentPage)"
                                                    class="pagination-sm" boundary-links="true"
                                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>