<style>
    .disabled {
        pointer-events: none;
        cursor: default;
    }
</style>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{'aids management' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a href="#/aids/all/cases">
            {{'cases_manage'| translate}}
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </a>
    </li>
    <li>
        {{'aid cases form'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li ng-show="category_id !='null'">
        {{ category_name }}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="{{mode !='new' ? '' : 'active'}}" >
        <span ng-show="mode =='show'"> {{'show new case form'| translate}}</span>
        <span ng-show="mode =='new'"  > {{'add new case form'| translate}} </span>
        <span ng-show="mode =='edit'" > {{'edit new case form'| translate}}</span>
        <i ng-show="mode !='new'" class="glyphicon glyphicon-menu-right"></i>
    </li>
    <li class="active" ng-show="mode !='new'">
        <span> {{ full_name }} </span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" >
        <div class="portlet light">
              <div class="portlet-title">
                        <div class="caption bold font-blue">
                             <span class="icon-layers font-blue "></span>
                             <span class=" font-blue"> {{'Cassform for'| translate}} </span>
                             <span class=" font-blue">{{ CategoryName }}</span>
                             <span class="font-blue "> {{'Step'| translate}} </span>
                             <span class="font-blue ">{{ CurrentStep }} </span>
                             <span class="font-blue "> {{'Of'| translate}} </span>
                             <span class=" font-blue"> {{TotalOfStep}} </span>

                        </div>
                  <div class="actions">
                      <div class="clearfix">
                          <div class="btn-group" uib-dropdown ng-show="mode !='new'">
                              <button id="single-button" type="button" class="btn green-turquoise" uib-dropdown-toggle >
                                  <span class="glyphicon glyphicon-cog"></span>
                                  <span  class="hidden-sm hidden-md  hidden-xs">{{'select operation'| translate}}</span>
                                  <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button" style="min-width: 135px;">
                                  <li uib-tooltip="{{'edit case data' | translate}} "
                                      ng-show="(mode !='edit' && id !='null') && organization_id == charity_LoggedInUser.organization_id || charity_LoggedInUser.super_admin == 1">
                                      <a  ng-click="goTo('edit',id,category_id)" class="iconify">
                                          <i class="fa fa-edit"></i> {{'edit case data' | translate}} </a>
                                  </li>
                                  <li class="divider"></li>
                                  <li uib-tooltip="{{'show case data' | translate}} " ng-show="mode !='show' && id !='null'">
                                      <a ng-click="goTo('show',id,category_id)" class="iconify">
                                          <i class="fa fa-edit"></i> {{'show case data' | translate}} </a>
                                  </li>
                                   <li  uib-tooltip="{{'vouchers'| translate}}">
                                      <a  href="{{'#/aids/case-vouchers/'+id}}" class="iconify">
                                          <i class="icon-support"></i>{{'vouchers'| translate}}</a>
                                  </li>
                                  <li class="divider"  ng-show=" organization_id == charity_LoggedInUser.organization_id  || charity_LoggedInUser.super_admin == 1"></li>
                                  <li  uib-tooltip="{{'urgent voucher'| translate}}" ng-show=" organization_id == charity_LoggedInUser.organization_id  || charity_LoggedInUser.super_admin == 1">
                                      <a  ng-click="urgentVoucher('lg',person_id,id,category_id)" class="iconify">
                                          <i class="fa fa-tags"></i> {{'urgent voucher'| translate}}</a>
                                  </li>
                                  <li class="divider"></li>
                                  <li uib-tooltip="{{'download form'| translate}}">
                                      <a ng-click="download('word',id)" class="iconify">
                                          <i class="fa fa-file-word-o"></i> {{'download form'| translate}}  </a>
                                  </li>
                                  <li uib-tooltip="{{'download form'| translate}}">
                                      <a ng-click="download('pdf',id)" class="iconify">
                                          <i class="fa fa-file-pdf-o"></i> {{'download form'| translate}}  </a>
                                  </li>
                                  <li uib-tooltip="{{'download attachments'| translate }}" >
                                      <a ng-click="download('archive',id)" class="iconify">
                                          <i class="fa fa-archive"></i> {{'download attachments'| translate }}  </a>
                                  </li>
                              </ul>
                          </div>
                          <a class="  btn yellow-saffron" href="#/aids/all/cases" type="button" >
                              <span style="margin-left:3%;" class="fa fa-backward"></span>
                              <span class="hidden-sm hidden-md  hidden-xs">{{'back to cases'| translate}}</span>
                          </a>
                      </div>
                  </div>


              </div>
            <div class="portlet-body ">
                 <div class="form-wizard">
                     <div class="form-body">
                         <ul class="nav nav-pills nav-justified steps text-center" style="border-bottom: 7px solid #eee;">
                             <li ng-show="PersonalStep">
                                 <a id="personalInfo"  class="step disabled" ng-click='getTheState("personal-info")' ui-sref-active="active"  ui-sref=".personal-info">
                                     <span class="number"> {{ PersonalStepNumber}} </span>
                                     </br>
                                     <p  class="desc"><i class="fa fa-check"></i> {{'personal-info'| translate}} </p>
                                 </a>
                             </li>
                             <li ng-show="ResidenceStep">
                                 <a id="residenceData"  class="step disabled" ng-click='getTheState("residence-data")' ui-sref-active="active" ui-sref=".residence-data">
                                     <span  class="number"> {{ ResidenceStepNumber}} </span>
                                     </br>
                                     <p class="desc"><i class="fa fa-check"></i> {{'residence-data'| translate}} </p>
                                 </a>
                             </li>
                             <li ng-show="HomeIndoorStep">
                                 <a id="homeIndoorData"  class="step disabled" ng-click='getTheState("home-indoor-data")' ui-sref-active="active" ui-sref=".home-indoor-data">
                                     <span class="number"> {{ HomeIndoorStepNumber}} </span>
                                     </br>
                                     <p class="desc"><i class="fa fa-check"></i> {{'home-indoor-data'| translate}} </p>
                                 </a>
                             </li>

                             <li ng-show="OtherStep">
                                 <a id="otherData"  class="step disabled" ng-click='getTheState("other-data")' ui-sref-active="active" ui-sref=".other-data">
                                     <span class="number"> {{ OtherStepNumber}} </span>
                                     </br>
                                     <p class="desc"><i class="fa fa-check"></i>{{'other-data'| translate}}</p>
                                 </a>
                             </li>
                             <li ng-show="VouchersStep && mode =='show'" >
                                 <a id="vouchersData"  class="step disabled" ng-click='getTheState("vouchers-data")' ui-sref-active="active" ui-sref=".vouchers-data">
                                     <span class="number"> {{ VouchersStepNumber}} </span>
                                     </br>
                                     <p class="desc"><i class="fa fa-check"></i>{{'vouchers-data'| translate}}</p>
                                 </a>
                             </li>
                             <li ng-show="FamilyStructureStep">
                                 <a id="familyStructure"  class="step disabled" ng-click='getTheState("family-structure")' ui-sref-active="active" ui-sref=".family-structure">
                                     <span class="number"> {{ FamilyStructureStepNumber}} </span>
                                     </br>
                                     <p ng-show="mode !='show'"  class="desc"><i class="fa fa-check"></i>    {{'family-structure'| translate}} </p>
                                     <p ng-show="mode =='show'"  class="desc"><i class="fa fa-check"></i>    {{'show-family-structure'| translate}} </p>
                                 </a>
                             </li>
                             <li ng-show="CaseDocumentStep">
                                 <a id="CaseDocumentData"  class="step disabled" ng-click='getTheState("case-document")' ui-sref-active="active" ui-sref=".case-document">
                                     <span class="number"> {{ CaseDocumentStepNumber}} </span>
                                     </br>
                                     <p class="desc"><i class="fa fa-check"></i>    {{'case-documents'| translate}} </p>
                                 </a>
                             </li>
                             <li ng-show="CustomFormStep">
                                 <a id="customFormData"  class="step disabled" ng-click='getTheState("custom-form")' ui-sref-active="active" ui-sref=".custom-form">
                                     <span class="number"> {{ CustomFormStepNumber}} </span>
                                     </br>
                                     <p class="desc"><i class="fa fa-check"></i>{{'custom-form'| translate}}</p>
                                 </a>
                             </li>
                             <li ng-show="RecommendationsStep">
                                 <a id="recommendations"  class="step disabled" ng-click='getTheState("recommendations")' ui-sref-active="active" ui-sref=".recommendations">
                                     <span class="number"> {{ RecommendationsStepNumber}} </span>
                                     </br>
                                     <p class="desc"><i class="fa fa-check"></i> {{'recommendations'| translate}} </p>
                                 </a>
                             </li>
                         </ul>
                     </div>
                 </div>
                <div id="form-views" ui-view></div>

             </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="urgentVoucher.html">
    <div class="modal-header" style="  padding:3%; ">
        <h4 class="modal-title bold text-center"> {{'add_urgent_vouchers_form'| translate}} </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <!--            <div class="col-md-12 col-sm-12 col-xs-12">-->
            <form name="frm" novalidate="" role="form" class=" text-center" style="padding: 2%;">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-group" ng-class="{ 'has-error' : frm.title.$invalid && !frm.title.$pristine }">
                            <label class="control-label  bold ">  {{'voucher_title'| translate}}  </label>
                            <input type="text" class="form-control"  ng-change="msg1.title = [ ]" ng-model="voucher.title" ng-required="true" name="title"
                                   placeholder="{{'voucher_title'| translate}} "  />
                            <span class="text-danger bold help-inline" ng-show="frm.title.$error.required && frm.title.$touched">
                                            {{'required_field'| translate}}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.title" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.title' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error' : frm.category_id.$invalid && !frm.category_id.$pristine }">
                            <label class="control-label bold ">  {{'voucher_category'| translate}}  </label>
                            <select class="form-control"
                                    ng-init=""
                                    ng-change="msg1.category_id = [ ]"
                                    name="category_id"
                                    ng-model='voucher.category_id'
                                    ng-required="true"
                            >
                                <option disabled selected value > --  {{'voucher_category'| translate}}  -- </option>
                                <option ng-repeat="option in Choices" value="{{option.id}}" >
                                    {{option.name}}
                                </option>
                            </select>

                            <span class="text-danger bold help-inline" ng-show="frm.category_id.$error.required && frm.category_id.$touched">
                                            {{'required_field'| translate}}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.category_id" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.category_id' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error' : frm.type.$invalid && !frm.type.$pristine }">
                            <label class="control-label  bold ">  {{'voucher_type'| translate}}  </label>
                            <select class="form-control"
                                    ng-init=""
                                    ng-change="msg1.type = [ ]"
                                    name="type"
                                    ng-model='voucher.type'
                                    ng-required="true"
                            >
                                <option disabled selected value > --  {{'voucher_type'| translate}}  -- </option>
                                <option  value="1" > {{'non_financial'| translate}} </option>
                                <option  value="2" > {{'financial'| translate}} </option>
                            </select>

                            <span class="text-danger bold help-inline" ng-show="frm.type.$error.required && frm.type.$touched">
                                            {{'required_field'| translate}}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.type" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.type' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error' : frm.value.$invalid && !frm.value.$pristine }">
                            <label class="control-label  bold ">  {{'voucher_value'| translate}}  </label>
                            <input type="text" class="form-control"  ng-change="msg1.value = [ ]" numeric-only ng-model="voucher.value" ng-required="true" name="value"
                                   placeholder="{{'voucher_value'| translate}} "  />
                            <span class="text-danger bold help-inline" ng-show="frm.value.$error.required && frm.value.$touched">
                                                        {{'required_field'| translate}}
                                </span>
                            <span ng-repeat="(error, errortext) in msg1.value" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.value' != [ ]" >
                                         {{ errortext.toString() }}
                                </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error' : frm.sponsor_id.$invalid && !frm.sponsor_id.$pristine }">
                            <label class="control-label  bold ">  {{'voucher_sponsor_name'| translate}}  </label>
                            <select class="form-control"
                                    ng-init=""
                                    ng-change="msg1.sponsor_id = [ ]"
                                    name="sponsor_id"
                                    ng-model='voucher.sponsor_id'
                                    ng-required="true"
                            >
                                <option disabled selected value > --  {{'voucher_sponsor_name'| translate}}  -- </option>
                                <option ng-repeat="option in Sponsors"  value="{{option.id}}"    >
                                    {{option.name}}
                                </option>
                            </select>

                            <span class="text-danger bold help-inline" ng-show="frm.sponsor_id.$error.required && frm.sponsor_id.$touched">
                                            {{'required_field'| translate}}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.sponsor_id" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.sponsor_id' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label bold">   {{'voucher_date'| translate}} </label>
                            <div  class="input-group">
                                <input type="text" class="form-control"
                                       uib-datepicker-popup="{{format}}"
                                       ng-model="voucher.voucher_date"
                                       datepickerPopup
                                       ng-required="true"
                                       name="voucher_date"
                                       is-open="popup.opened" datepicker-options="dateOptions"
                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open($event)">
                                                </button>
                                          </span>
                            </div>
                            <span class="text-danger bold help-inline" ng-show="frm.voucher_date.$error.required && frm.voucher_date.$touched">
                                                        {{'required_field'| translate}}
                                </span>
                            <span ng-repeat="(error, errortext) in msg1.voucher_date" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.voucher_date' != [ ]" >
                                         {{ errortext.toString() }}
                                </span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label bold">   {{'receipt_date'| translate}} </label>
                            <div  class="input-group">
                                <input type="text" class="form-control"
                                       uib-datepicker-popup="{{format}}"
                                       ng-model="voucher.receipt_date"
                                       datepickerPopup
                                       ng-required="true"
                                       name="receipt_date"
                                       is-open="popup45.opened" datepicker-options="dateOptions"
                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open45($event)">
                                                </button>
                                          </span>
                            </div>
                            <span class="text-danger bold help-inline" ng-show="frm.receipt_date.$error.required && frm.receipt_date.$touched">
                                                        {{'required_field'| translate}}
                                </span>
                            <span ng-repeat="(error, errortext) in msg1.receipt_date" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.receipt_date' != [ ]" >
                                         {{ errortext.toString() }}
                                </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{ 'has-error' : frm.receipt_location.$invalid && !frm.receipt_location.$pristine }">
                            <label class="control-label bold">  {{'receipt_location'| translate}}  </label>
                            <input type="text" class="form-control" ng-model="voucher.receipt_location" ng-required="true" name="receipt_location" ng-change="msg1.receipt_location = [ ]"
                                   placeholder="{{'receipt_location'| translate}} "  />
                            <span class="text-danger bold help-inline" ng-show="frm.receipt_location.$error.required && frm.receipt_location.$touched">
                                                        {{'required_field'| translate}}
                                </span>
                            <span ng-repeat="(error, errortext) in msg1.receipt_location" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.receipt_location' != [ ]" >
                                         {{ errortext.toString() }}
                                </span>
                        </div>
                    </div>

                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error' : frm.content.$invalid && !frm.content.$pristine }">
                            <label class="control-label bold">  {{'voucher_content'| translate}}  </label>
                            <textarea ng-model="voucher.content"
                                      name="content"
                                      placeholder="{{'voucher_content'| translate}}"
                                      ng-change="msg1.content = [ ]"
                                      class="form-control"
                                      rows="4"
                                      ng-required="true">
                            </textarea>
                            <span class="text-danger bold help-inline" ng-show="frm.content.$error.required && frm.content.$touched">
                                            {{'required_field'| translate}}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.content" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.content' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error' : frm.notes.$invalid && !frm.notes.$pristine }">
                            <label class="control-label bold">  {{'voucher_note'| translate}} <span class=" text-danger bold help-inline"> * </span> </label>
                            <textarea ng-model="voucher.notes"
                                      name="notes"
                                      placeholder="{{'voucher_note'| translate}}"
                                      ng-change="msg1.notes = [ ]"
                                      class="form-control"
                                      ng-required="true"
                                      rows="4">
                    </textarea>
                            <span class="text-danger bold help-inline" ng-show="frm.notes.$error.required && frm.notes.$touched">
                                            {{'required_field'| translate}}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.notes" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.notes' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                </div>




            </form>
            <!--            </div>-->
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn blue" ng-click="confirm(voucher)" ng-disabled="frm.$invalid" type="button" >
            <span> {{'add'| translate}}</span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
</script>

