<div>
    <div  class="row" style="padding: 0.01% 1.5% 1.5% 1.5% !important;">

        <div class="panel panel-info">
            <div class="panel-heading panel-heading-style">
                {{'custom-form'| translate}}
            </div>
            <div class="panel-body" style="min-height: 350px; ">
                <div class="row text-center" style="padding: 2%;">
                    <div ng-if="result_1== 'false' " class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 2%;margin-bottom: 2%">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                            {{'The custom form is not selected'| translate}}
                                    </span>
                        </div>
                    </div>
                    <div ng-if="result== 'false' " class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 2%;margin-bottom: 2%">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                    {{'there is no element to show'| translate}}
                                    </span>
                        </div>
                    </div>
                    <div ng-if="mode =='show'" style="line-height: 30px;">
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-if="result== 'true'"  style="min-height: 300px; ">
                            <div ng-repeat="field in fields">
                                <div ng-form="form">
                                    <div class="col-md-3">
                                        <label class="control-label"><span class="bold">{{field.label}}</span></label>
                                        <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;">
                                            {{field.value == null ? '-' :field.value }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                            <div class="col-md-3 pull-right" >
                                <div class="clearfix pull-right">
                                    <button class=" btn btn-outline blue  button-previous" ng-click="getPrevious()" type="button" >
                                        <span class="glyphicon glyphicon-menu-left"></span>
                                       <span> {{'previous'| translate}}</span>
                                    </button>

                                    <button class=" btn btn-outline blue  button-next"   ng-click="getNext()" type="button" >
                                        <span>{{'Next'| translate}}</span>
                                        <span class="glyphicon glyphicon-menu-right"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form name="testform" ng-if="mode !='show'" class="row" novalidate="" role="form" style=" padding:2%;">
                            <div class="col-md-12 col-sm-12 col-xs-12" ng-if="result== 'true'" style=" min-height: 300px;  margin-bottom: 2%;" >
                                <div class="col-md-12 col-sm-12 col-xs-12" >
                                    <div ng-repeat="field in fields">
                                        <div ng-form="form">
                                            <div ng-if="field.type!='3'" class="col-md-3 text-center" style="height: 110px;" >

                                                <div  class="form-group" ng-class="{ 'has-error' : form.{{field.name}}.$invalid && (!form.{{field.name}}.$pristine || form.{{field.name}}.$touched) }">
                                                    <label class="control-label bold">
                                                        <span class="bold">{{field.label}}</span>
                                                        <span class="font-red-pink bold help-inline" ng-show="field.priority==4"> {{'mandatory' | translate }} </span>
                                                        <span class="text-success bold help-inline" ng-show="field.priority==3">{{'advisable' | translate }}</span>
                                                        <span class="text-success bold help-inline" ng-show="field.priority==2"> {{'optional' | translate }}</span>
                                                        <span class="text-default bold help-inline" ng-show="field.priority==1"> {{'not appear' | translate }}</span>
                                                    </label>

                                                    <!-- TEXT FIELDS -->
                                                    <input ng-if="field.type=='1'" type="text"
                                                           dynamic-name="field.name" id="{{field.name}}"
                                                           data-ng-model="field.data"  class="form-control"
                                                           ng-required="field.priority ==4" value="{{field.value}}" placeholder=" ---   {{field.label}} --- "
                                                    />

                                                    <!-- SELECT FIELDS -->
                                                    <select ng-if="field.type=='2'" class="form-control" data-ng-model="field.data"
                                                            value="{{field.value}}" dynamic-name="field.name" id="{{field.name}}"
                                                            ng-required="field.priority ==4">
                                                        <option disabled selected value> ---   {{field.label}} --- </option>
                                                        <option ng-repeat="option in field.options" value="{{option.id}}" >
                                                            {{option.label}}
                                                        </option>
                                                    </select>


                                               <span  class="text-danger bold help-inline" data-ng-show=" status1=='failed_valid' && msg1.{{field.name}} && form.{{field.name}}.$error.required ">
                                                      {{'required_field'| translate}}
                                               </span>



                                                </div>
                                            </div>
                                            <div ng-if="field.type=='3'" class="col-md-12 col-sm-12 col-xs-12 text-left" >

                                                <div  class="form-group" ng-class="{ 'has-error' : form.{{field.name}}.$invalid && (!form.{{field.name}}.$pristine || form.{{field.name}}.$touched) }">
                                                    <label class="control-label">
                                                    <span class="bold">{{field.label}}</span>
                                                        <span class="font-red-pink bold help-inline" ng-show="field.priority==4"> {{'mandatory' | translate }} </span>
                                                        <span class="text-success bold help-inline" ng-show="field.priority==3">{{'advisable' | translate }}</span>
                                                        <span class="text-success bold help-inline" ng-show="field.priority==2"> {{'optional' | translate }}</span>
                                                        <span class="text-default bold help-inline" ng-show="field.priority==1"> {{'not appear' | translate }}</span>
                                                    </label>
                                               <textarea dynamic-name="field.name" id="{{field.name}}" data-ng-model="field.data" class="form-control"
                                                         ng-required="field.priority ==4" placeholder=" ---   {{field.label}} --- "rows="4">
                                               </textarea>
                                               <span  class="text-danger bold help-inline" data-ng-show=" status1=='failed_valid' && msg1.{{field.name}} && form.{{field.name}}.$error.required ">
                                                      {{'required_field'| translate}}
                                               </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                             <div class="col-md-3 pull-right" >
                                 <div class="clearfix pull-right">
                                     <button class=" btn btn-outline blue button-previous" ng-click="confirmInsert(fields,'prev')"type="button" >
                                         <span class="glyphicon glyphicon-menu-left"></span>
                                         <span>{{'previous'| translate}}</span>
                                     </button>
                                     <!--                    ng-disabled="testform.$invalid"-->
                                     <button class=" btn btn-outline blue button-next" ng-click="confirmInsert(fields,'next')" type="button" >
                                         <span> {{'Next'| translate}}</span>
                                         <span class="glyphicon glyphicon-menu-right"></span>
                                     </button>
                                 </div>
                             </div>
                         </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


