<div>

        <div  class="row" style="padding: 0.01% 1.5% 1.5% 1.5% !important;">
            <div class="panel panel-info">
                <div class="panel-heading panel-heading-style">
                    {{'home-indoor-data'| translate}}
                    <span class=" font-blue bold help-inline" ng-if="mode !='show' && priority.essential_condition ==2"> ({{'optional' | translate }})</span>
                    <span class=" font-blue bold help-inline" ng-if="mode !='show' && priority.essential_condition ==3"> ({{'advisable' | translate }})</span>
                    <span class=" text-danger bold help-inline" ng-if=" mode !='show' && priority.essential_condition ==4"> ({{'mandatory' | translate }})</span>
                </div>
                <div class="panel-body" style="padding: 2%;">
                    <div class="row text-center" style="padding: 2%;">

  <div ng-show="items.length == 0" class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 5%; margin-top: 2%;">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                        </div>
                    </div>
                                            <div ng-show="mode =='show' && items.length > 0 " class="text-center" style="line-height: 30px;">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                <thead>
                                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                    <th class="text-center" > {{'essential_name'| translate}} </th>
                                    <th class="text-center" > {{'condition'| translate}} </th>
                                    <th class="text-center" > {{'needs'| translate}} </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in items">
                                    <td>{{ item.name }}</td>
                                    <td>
                                        {{( item.essentials_condition == null || item.essentials_condition == 'null') ? '-' :item.essentials_condition}}
                                    </td>
                                    <td>
                                        {{item.needs == null ? '-' :item.needs}}
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                                <div class="col-md-3 pull-right" >
                                    <div class="clearfix pull-right">
                                    <button class=" btn btn-outline blue  button-previous" ng-click="getPrevious()" type="button" >
                                        <span class="glyphicon glyphicon-menu-left"></span>
                                        <span>{{'previous'| translate}}</span>
                                    </button>

                                    <button class=" btn btn-outline blue  button-next"   ng-click="getNext()" type="button" >
                                        <span>{{'Next'| translate}}</span>
                                        <span class="glyphicon glyphicon-menu-right"></span>
                                    </button>

                                </div>
                                </div>
                            </div>
                        </div>

                        <form name="frmrhomeindoor" ng-show="mode !='show' && items.length > 0 "  novalidate="" role="form">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="padding-bottom:0.7%; " ng-if="priority.essential_condition !=1">
                                <div class="col-md-2"></div>
                                <div class="col-md-3" ng-if="priority.essential_condition !=1">
                                    <label class=" control-label"> {{'condition'| translate}}   </label>
                                </div>
                                <div class="col-md-3" ng-if="priority.essential_needs !=1">
                                    <label class=" control-label"> {{'needs'| translate}}   </label>
                                </div>

                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12" ng-repeat="item in items" ng-form='EssentialForm' ng-if="priority.essential_condition !=1">

                                <input type="hidden" class="form-control" name="Essential_id"  ng-model="item.Essential_id" ng-value=""/>
                                <div class="col-md-2">
                                    <label class=" control-label">{{ item.name }}</label>
                                    <span class=" text-danger bold help-inline" style="padding-right: 1%">*</span>
                                </div>
                                <div class="col-md-3" >
                                    <div class="form-group" ng-class="{ 'has-error' : EssentialForm.condition.$invalid && (EssentialForm.condition.$touched || !EssentialForm.condition.$pristine)}">
                                        <select class="form-control"
                                                ng-init=""
                                                ng-change="changeSelected($index,item.id)"
                                                name="condition"
                                                ng-model='item.condition'
                                                ng-required="priority.essential_condition ==4"
                                        >
                                            <option disabled selected value > --   {{'enter condition'| translate}}    -- </option>
                                            <option value="5">{{'excellent' | translate }}</option>
                                            <option value="4">{{'very_good' | translate }}</option>
                                            <option value="3">{{'good' | translate }}</option>
                                            <option value="2">{{'Bad' | translate }}</option>
                                            <option value="0">{{'not_exist' | translate }}</option>
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="priority.essential_needs !=1">
                                    <div class="form-group"  ng-class="{ 'has-error' : EssentialForm.needs.$invalid && (!EssentialForm.needs.$pristine || EssentialForm.needs.$touched)}">
                                        <input type="text"
                                               class="form-control"
                                               name="needs"
                                               numeric-only
                                               maxlength="3"
                                               ng-maxlength="3"
                                               ng-model="item.needs"
                                               init=""
                                               placeholder=" {{'enter needs'| translate}}  "  />
                                    </div>
                                </div>
                                <span class=" text-danger bold help-inline" ng-show="EssentialForm.needs.$error.required && EssentialForm.needs.$touched">*</span>
                                <span class=" text-danger bold help-inline" ng-show="EssentialForm.needs.$error.maxlength">{{'Field length must not exceed 3'| translate}}3</span>
                                <span class=" text-danger bold help-inline" ng-show="EssentialForm.needs.$error.pattern">  {{'only number'| translate}}</span>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                               <div class="col-md-3 pull-right" >
                                   <div class="clearfix pull-right">
                                    <button class=" btn btn-outline blue button-previous"  ng-click="save(items,'prev')" type="button" >
                                        <span class="glyphicon glyphicon-menu-left"></span>
                                        <span>{{'previous'| translate}}</span>
                                    </button>

                                    <button class=" btn btn-outline blue button-next"   ng-click="save(items,'next')" type="button" >
                                        <span>{{'Next'| translate}}</span>
                                        <span class="glyphicon glyphicon-menu-right"></span>
                                    </button>

                                </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
</div>


