<div>

    <div  class="row" style="padding: 0.01% 1.5% 1.5% 1.5% !important;">
        <div class="panel panel-info">
            <div class="panel-heading panel-heading-style">
                {{'financial data'| translate}}
                <span class=" font-blue bold help-inline" ng-if="  mode !='show' && priority.financial_aid_condition ==2"> ({{'optional' | translate }})</span>
                <span class=" font-blue bold help-inline" ng-if="  mode !='show' && priority.financial_aid_condition ==3"> ({{'advisable' | translate }})</span>
                <span class=" text-danger bold help-inline" ng-if="  mode !='show' && priority.financial_aid_condition ==4"> ({{'mandatory' | translate }})</span>
            </div>
            <div class="panel-body" style="padding: 2%;">
                <div class="row text-center" style="padding: 2%;">
                    <div  ng-show="otherdata.financial_aid_source.length > 0">
                    <div ng-show="mode =='show'">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                            <thead>
                            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">

                                <th class="col-md-3 text-center" > {{'aidsource_org_name'| translate}} </th>
                                <th class="col-md-3 text-center" > {{'condition'| translate}}</th>
                                <th class="col-md-3 text-center" > {{'aid_value'| translate}}</th>
                                <th class="col-md-3 text-center" > {{'currency'| translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in otherdata.financial_aid_source">
                                <td>{{ item.name }}</td>
                                <td>{{ item.aid_take }}</td>
                                <td>{{ item.aid_value }}</td>
                                <td>{{ item.currency_name }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-show=" mode !='show' && priority.financial_aid_condition !=1">
                    <div ng-if="msg1.financial_aid_condition != undefined">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center alert alert-danger" ng-show=" msg1.financial_aid_condition.length != 0">

                                      <span ng-repeat="(error, errortext) in msg1.financial_aid_condition"
                                            class="text-danger bold help-inline"
                                            ng-show="'msg1.financial_aid_condition' != [ ]" >
                                            {{ errortext.toString() }}
                                      </span>

                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="padding-bottom:0.7%; ">
                            <div class="col-md-2"></div>
                            <div class="col-md-3">
                                <label class=" control-label"> {{'condition'| translate}}   </label>
                            </div>
                            <div class="col-md-2">
                                <label class=" control-label"> {{'aid_value'| translate}}   </label>
                            </div>
                            <div class="col-md-2">
                                <label class=" control-label"> {{'currency'| translate}}   </label>
                            </div>

                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12" ng-repeat="item in otherdata.financial_aid_source" ng-form='financialForm'>
                            <div class="col-md-2">
                                <label class=" control-label">{{ item.name }}</label>
                                <span class=" text-danger bold help-inline" ng-show="financialForm.aid_take.$error.required && financialForm.aid_take.$touched">*</span>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" ng-class="{ 'has-error' : financialForm.aid_take.$invalid && (financialForm.aid_take.$touched || !financialForm.aid_take.$pristine)}">
                                    <select class="form-control"
                                            ng-init=""
                                            name="aid_take"
                                            ng-model='item.aid_take'
                                            ng-required="priority.financial_aid_condition ==4"
                                            ng-change="changeSelected($index,Aid.id,item.aid_take)">
                                        <option disabled selected value > --   {{'enter condition'| translate}}   -- </option>
                                        <option value="0">  {{'no'| translate}} </option>
                                        <option value="1">  {{'yes'| translate}} </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" ng-class="{ 'has-error' : financialForm.aid_value.$invalid && (financialForm.aid_value.$touched || !financialForm.aid_value.$pristine)}">
                                    <input type="text"
                                           class="form-control"
                                           decimal-numbers
                                           name="aid_value"
                                           ng-model="item.aid_value"
                                           ng-required="item.aid_take == 1"
                                           ng-disabled="item.aid_take != 1"
                                           placeholder="  {{'aid_value'| translate}}"
                                    />

                                    <span class=" text-danger bold help-inline"
                                          ng-show="financialForm.aid_value.$error.required && financialForm.aid_value.$touched">
                                 {{'required_field'| translate}}
                            </span>
                                    <span class=" text-danger bold help-inline"
                                          ng-show="financialForm.aid_value.$error.pattern">
                                {{'integer_field'| translate}}
                            </span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group" ng-class="{ 'has-error' : financialForm.aid_take.$invalid && (financialForm.aid_take.$touched || !financialForm.aid_take.$pristine)}">
                                    <select class="form-control"
                                            ng-init=""
                                            name="currency_id"
                                            ng-model='item.currency_id'
                                            ng-disabled="item.aid_take != 1"
                                            ng-required="item.aid_value != 0 || item.aid_value != null">
                                        <option disabled selected value > --   {{'currency'| translate}}   -- </option>
                                        <option ng-repeat="option in Currencies" value="{{option.id}}" >
                                            {{option.name}}
                                        </option>

                                    </select>
                                </div>


                            </div>

                        </div>
                    </div>
                    </div>
                </div>
                    <div ng-show="otherdata.financial_aid_source.length == 0" class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 5%; margin-top: 2%;">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading panel-heading-style">
                {{'nonfinancial data'| translate}}
                <span class=" font-blue bold help-inline"
                      ng-if="  mode !='show' && priority.non_financial_aid_condition ==3"> ({{'advisable' | translate }})</span>
                <span class=" text-danger bold help-inline"
                      ng-if="  mode !='show' && priority.non_financial_aid_condition ==4"> ({{'mandatory' | translate }})</span>

            </div>
            <div class="panel-body" style="padding: 2%;">
                <div class="row text-center" style="padding: 2%;">
                <div  ng-show="otherdata.non_financial_aid_source.length > 0">

                    <div ng-show="mode =='show'">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                            <thead>
                            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">

                                <th class="col-md-4 text-center bold" > {{'aidsource_org_name'| translate}} </th>
                                <th class="col-md-4 text-center bold" >{{'condition'| translate}}</th>
                                <th class="col-md-4 text-center bold" >{{'aid_value'| translate}}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="i in otherdata.non_financial_aid_source">
                                <td>{{ i.name }}</td>
                                <td>{{i.aid_take}}</td>
                                <td>{{i.aid_value}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-show="mode !='show' && priority.non_financial_aid_condition !=1">
                        <div ng-if="msg1.non_financial_aid_condition != undefined">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center alert alert-danger" ng-show="msg1.non_financial_aid_condition.length != 0">

                                      <span ng-repeat="(error, errortext) in msg1.non_financial_aid_condition"
                                            class="text-danger bold help-inline"
                                            ng-show="'msg1.non_financial_aid_condition' != [ ]" >
                                            {{ errortext.toString() }}
                                      </span>

                        </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="padding-bottom:0.7%; ">
                            <div class="col-md-2"></div>
                            <div class="col-md-3">
                                <label class=" control-label"> {{'condition'| translate}}   </label>
                            </div>
                            <div class="col-md-3">
                                <label class=" control-label"> {{'aid_value'| translate}}   </label>
                            </div>

                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-repeat="i in otherdata.non_financial_aid_source" ng-form='nonfinancialForm'>
                            <div class="col-md-2">
                                <label class=" control-label">{{ i.name }}</label>
                                <span class=" text-danger bold help-inline" ng-show="nonfinancialForm.aid_take.$error.required && nonfinancialForm.aid_take.$touched">*</span>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" ng-class="{ 'has-error' : nonfinancialForm.aid_take.$invalid && (nonfinancialForm.aid_take.$touched || !nonfinancialForm.aid_take.$pristine)}">
                                    <select class="form-control" ng-init="" name="aid_take"
                                            ng-model='i.aid_take'
                                            ng-required="priority.non_financial_aid_condition ==4"
                                            ng-change="changeSelectednonFinanc($index,Aid.id,i.aid_take)">
                                        <option disabled selected value > --   {{'enter condition'| translate}}   -- </option>
                                        <option value="0">  {{'no'| translate}} </option>
                                        <option value="1">  {{'yes'| translate}} </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group" ng-class="{ 'has-error' : nonfinancialForm.aid_value.$invalid && (nonfinancialForm.aid_value.$touched || !nonfinancialForm.aid_value.$pristine)}">
                                    <input type="text"
                                           class="form-control"
                                           name="aid_value"
                                           decimal-numbers
                                           ng-model="i.aid_value"
                                           ng-required="i.aid_take == 1"
                                           ng-disabled="i.aid_take != 1"
                                           placeholder="  {{'aid_value'| translate}}"
                                    />
                                </div>
                                <span class=" text-danger bold help-inline"
                                      ng-show="nonfinancialForm.aid_value.$error.required && nonfinancialForm.aid_value.$touched">
                                    {{'required_field'| translate}}
                                </span>
                            </div>

                        </div>
                    </div>
                 </div>

                <div ng-show="otherdata.non_financial_aid_source.length == 0" class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 5%; margin-top: 2%;">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading panel-heading-style">
                {{'family property'| translate}}
                <span class=" font-blue bold help-inline" ng-if="  mode !='show' && priority.properties_condition ==3"> ({{'advisable' | translate }})</span>
                <span class=" text-danger bold help-inline" ng-if="  mode !='show' && priority.properties_condition ==4"> ({{'mandatory' | translate }})</span>

            </div>
            <div class="panel-body" style="padding: 2%;">

                <div class="row text-center" style="padding: 2%;">
                    <div ng-show="otherdata.persons_properties.length > 0">
                        <div ng-show="mode =='show'" >
                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                <thead>
                                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">

                                    <th class="col-md-4 text-center bold" >{{'properties_name'| translate}}</th>
                                    <th class="col-md-4 text-center bold" >{{'condition'| translate}}</th>
                                    <th class="col-md-4 text-center bold" >{{'quantity'| translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="Properties in otherdata.persons_properties">
                                <td>{{ Properties.name }}</td>
                                <td>{{Properties.has_property}}</td>
                                <td>{{Properties.quantity}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show=" mode !='show' && priority.properties_condition !=1">

                            <div ng-if="msg1.properties_condition != undefined">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center alert alert-danger" ng-show="msg1.properties_condition.length != 0 &&  msg1.properties_condition != 'undefined'">

                                          <span ng-repeat="(error, errortext) in msg1.properties_condition"
                                                class="text-danger bold help-inline"
                                                ng-show="'msg1.properties_condition' != [ ]" >
                                                {{ errortext.toString() }}
                                          </span>

                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="padding-bottom:0.7%; ">
                                <div class="col-md-2"></div>
                                <div class="col-md-3">
                                    <label class=" control-label">{{'condition'| translate}} </label>
                                </div>
                                <div class="col-md-3">
                                    <label class=" control-label"> {{'quantity_'| translate}}   </label>
                                </div>

                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12" ng-repeat="Properties in otherdata.persons_properties" ng-form='PropertiesForm'>
                                <div class="col-md-2">
                                    <label class=" control-label">{{ Properties.name }}</label>
                                    <span class=" text-danger bold help-inline" ng-show="PropertiesForm.has_property.$error.required && PropertiesForm.has_property.$touched">*</span>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" ng-class="{ 'has-error' : PropertiesForm.has_property.$invalid && (PropertiesForm.has_property.$touched || !PropertiesForm.has_property.$pristine)}">
                                        <select class="form-control" ng-init="" name="has_property"
                                                ng-model='Properties.has_property'
                                                ng-required="priority.properties_condition ==4"
                                                ng-change="changeSelectedproperties($index,Properties.id,Properties.has_property)">
                                            <option disabled selected value > --   {{'enter condition'| translate}}   -- </option>
                                            <option value="0">  {{'no'| translate}} </option>
                                            <option value="1">  {{'yes'| translate}} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" ng-class="{ 'has-error' : PropertiesForm.quantity.$invalid && (PropertiesForm.quantity.$touched || !PropertiesForm.quantity.$pristine)}">
                                        <input type="text"
                                               class="form-control"
                                               decimal-numbers
                                               name="quantity"
                                               ng-model="Properties.quantity"
                                               ng-required="Properties.has_property == 1"
                                               ng-disabled="Properties.has_property != 1"
                                               placeholder="  {{'quantity'| translate}}"
                                        />
                                        <span class=" text-danger bold help-inline"
                                              ng-show="PropertiesForm.quantity.$error.required && PropertiesForm.quantity.$touched">
                                              {{'required_field'| translate}}
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="otherdata.persons_properties.length == 0" class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 5%; margin-top: 2%;">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading panel-heading-style">
                {{'other data'| translate}}
            </div>
            <div class="panel-body" style="padding: 2%;">

                <div class="row text-left" style="padding: 2%;">
                    <div ng-show="mode =='show'">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-5">
                                <label class=" control-label bold"> {{'reconstructions_promised'| translate}} </label>
                            </div>

                            <div class="col-md-3 text-center"><p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;">{{otherdata.promised}}</p></div>
                            <div class="col-md-4 text-center"><p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;">{{otherdata.reconstructions_organization_name}}</p></div>
                        </div> <!-- /.col -->
                        <div  class="col-md-12 col-sm-12 col-xs-12">
                            <label class=" control-label bold"> {{'case_needs'| translate}} </label>
                        </div>
                        <div  class="col-md-12 col-sm-12 col-xs-12">
                            <p  style="border: 0.5px lightgrey solid; height:150px; padding: 1.5%;"> {{  otherdata.needs }} </p>
                        </div>
                    </div>
                    <div ng-show="mode !='show' ">
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="priority.reconstructions_promised !=1">
                            <div class="col-md-6">
                               <div class="form-group" ng-class="{ 'has-error' : frmotherdata.promised.$invalid && (!frmotherdata.promised.$pristine  || frmotherdata.promised.$touched) }">
                                   <label class=" control-label">  {{'reconstructions_promised'| translate}}
                                       <span class=" font-blue bold help-inline" ng-if="priority.reconstructions_promised ==3"> ({{'advisable' | translate }})</span>
                                       <span class=" text-danger bold help-inline" ng-if="priority.reconstructions_promised ==4"> ({{'mandatory' | translate }})</span>
                                       <span class=" text-danger bold help-inline" ng-show="frmotherdata.promised.$error.required && frmotherdata.promised.$touched">*</span>
                                   </label>
                                   <select class="form-control"name="promised"
                                            ng-model='otherdata.promised'
                                            ng-change="ChangePromised(otherdata.promised)"
                                            ng-required="priority.reconstructions_promised ==4"
                                            ng-init="otherdata.promised=1">
                                        <option disabled selected value > --   {{'enter condition'| translate}}   -- </option>
                                        <option value="1">  {{'no'| translate}} </option>
                                        <option value="2">  {{'yes'| translate}} </option>
                                    </select>
                            <span ng-repeat="(error, errortext) in msg1.promised"
                                  class="text-danger bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.promised' != [ ]" >
                                {{ errortext.toString() }}
                            </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{ 'has-error' : frmotherdata.reconstructions_organization_name.$invalid && (!frmotherdata.reconstructions_organization_name.$pristine  || frmotherdata.reconstructions_organization_name.$touched) }">
                                    <label class=" control-label">  {{'reconstructions_organization_name'| translate}}
                                        <span class=" font-blue bold help-inline" ng-if="priority.promised ==3"> ({{'mandatory' | translate }})</span>
                                    </label>
                                    <input type="text" class="form-control"
                                           ng-disabled="otherdata.promised!=2"
                                           ng-model="otherdata.reconstructions_organization_name"
                                           ng-change="msg1.organization_name = [ ]"
                                           name="organization_name"
                                           placeholder=" {{'reconstructions_organization_name'| translate}}  "
                                           ng-required="otherdata.promised ==2"/>
                                    <span class=" text-danger bold help-inline" ng-show="frmotherdata.reconstructions_organization_name.$error.required && frmotherdata.reconstructions_organization_name.$touched">*</span>
                                    <span ng-repeat="(error, errortext) in msg1.organization_name"
                                          class="text-danger bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg1.organization_name' != [ ]" >
                                 {{ errortext.toString() }}
                    </span>
                                </div>
                            </div>
                        </div> <!-- /.col -->
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="priority.case_needs !=1">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label class="bold"> {{'case_needs'| translate}}
                                        <span class=" font-blue bold help-inline" ng-if="priority.case_needs ==3"> ({{'advisable' | translate }})</span>
                                        <span class=" text-danger bold help-inline" ng-if="priority.case_needs ==4"> ({{'mandatory' | translate }})</span>
                                    </label>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                            <textarea ng-model="otherdata.needs"
                                      name="needs"
                                      placeholder="{{'case_needs'| translate}}"
                                      ng-change="msg1.needs = [ ]"
                                      class="form-control"
                                      ng-required="priority.case_needs ==4"
                                      rows="5">
                            </textarea>
                            <span ng-repeat="(error, errortext) in msg1.needs"
                                  class="text-danger bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.needs' != [ ]" >
                            {{ errortext.toString() }}
                            </span>

                                    </div>
                                </div>
                            </div>
                        </div><!-- /.row -->
                    </div>


                </div>
            </div>
        </div>
        <div ng-show="mode =='show'">
            <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
         <div class="col-md-3 pull-right" >
             <div class="clearfix pull-right">
                                    <button class=" btn btn-outline blue button-previous" ng-click="getPrevious()" type="button" >
                                        <!--                                <button class=" btn btn-outline blue button-previous" ng-click="confirmInsert(residence,'prev')"  type="button" >-->
                                        <span class="glyphicon glyphicon-menu-left"></span>
                                        <span>{{'previous'| translate}}</span>
                                    </button>
                                    <!--                    ng-disabled="frmotherdata.$invalid"-->
                                    <button class=" btn btn-outline blue button-next" ng-click="getNext()" type="button" >
                                        <span> {{'Next'| translate}}</span>
                                        <span class="glyphicon glyphicon-menu-right"></span>
                                    </button>
                                </div>
                            </div>       
            </div>
        </div>
        <div ng-show="mode !='show'">
            <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
            <div class="col-md-3 pull-right" >
                <div class="clearfix pull-right">
                                    <button class=" btn btn-outline blue button-previous" ng-click="save(otherdata,'prev')" type="button" >
                                        <!--                                <button class=" btn btn-outline blue button-previous" ng-click="confirmInsert(residence,'prev')"  type="button" >-->
                                        <span class="glyphicon glyphicon-menu-left"></span>
                                        <span>{{'previous'| translate}}</span>
                                    </button>
                                    <!--                    ng-disabled="frmotherdata.$invalid"-->
                                    <button class=" btn btn-outline blue button-next" ng-click="save(otherdata,'next')" type="button" >
                                        <span> {{'Next'| translate}}</span>
                                        <span class="glyphicon glyphicon-menu-right"></span>
                                    </button>
                                </div>
                            </div>

            </div>

        </div>

    </div>


</div>

