<div>

    <div class="panel panel-info">
        <div class="panel-heading panel-heading-style">
            {{'recommendations'| translate}}
        </div>
        <div class="panel-body" style="min-height: 350px; ">
            <div class="row text-left" style="padding: 2%;">

                <div ng-show="mode =='show'" style="padding: 2%">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="min-height: 350px; ">
                        <input name="_method" type="hidden" value="PUT">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{ 'has-error' : frm_recommandation.visitor_card.$invalid && (!frm_recommandation.visitor_card.$pristine || frm_recommandation.visitor_card.$touched) }">
                                    <label class="control-label bold">   {{'visitor_card'| translate}}</label>
                                    <input type="text"
                                           class="form-control"
                                           name="visitor_card"
                                           ng-model="recommendations.visitor_card"
                                           maxlength="9"
                                           ng-maxlength="9"
                                           readonly
                                           style=" background: white ; cursor: default"/>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{ 'has-error' : frm_recommandation.visitor.$invalid && (!frm_recommandation.visitor.$pristine || frm_recommandation.visitor.$touched) }">
                                    <label class="control-label bold">   {{'visitor'| translate}}</label>
                                    <input type="text" class="form-control"
                                           name="visitor" arabic-alphabet
                                           ng-model="recommendations.visitor"
                                           readonly
                                           style=" background: white ; cursor: default" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{ 'has-error' : frm_recommandation.visitor_evaluation.$invalid && (!frm_recommandation.visitor_evaluation.$pristine || frm_recommandation.visitor_evaluation.$touched) }">
                                    <label class="control-label bold">   {{'visitor_evaluation'| translate}}</label>
                                    <select class="form-control"
                                            name="visitor_evaluation"
                                            ng-change="msg1.visitor_evaluation = [ ]"
                                            ng-model="recommendations.visitor_evaluation"
                                            ng-required="priority.visitor_evaluation ==4"
                                            ng-init="" style=" background: white ; cursor: default"
                                    >
                                        <option disabled selected value > --   {{'visitor_evaluation'| translate}}    -- </option>
                                        <option value="4" ng-selected="recommendations.visitor_evaluation ==4">{{'excellent' | translate }}</option>
                                        <option value="3" ng-selected="recommendations.visitor_evaluation ==3">{{'very_good' | translate }}</option>
                                        <option value="2" ng-selected="recommendations.visitor_evaluation ==2">{{'good' | translate }}</option>
                                        <option value="1" ng-selected="recommendations.visitor_evaluation ==1">{{'Bad' | translate }}</option>
                                        <option value="0" ng-selected="recommendations.visitor_evaluation ==0">{{'very_bad' | translate }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{ 'has-error' : frm_recommandation.visited_at.$invalid && !frm_recommandation.visited_at.$pristine }">
                                    <label class="control-label bold">{{'visited_at'| translate}}</label>
                                    <input type="text" class="form-control"  uib-datepicker-popup="{{format}}"
                                           ng-model="recommendations.visited_at" datepickerPopup
                                           name="visited_at"
                                           ng-change="msg1.visited_at = [ ]"
                                           ng-required="priority.visited_at ==4"
                                           is-open="popup2.opened"

                                           datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)"
                                           clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly
                                           style=" background: white ; cursor: default"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label bold">{{'visitor_opinion'| translate}}</label>
                                <div class="form-group">
                                    <textarea class="form-control"
                                              name="visitor_opinion" readonly
                                              ng-model="recommendations.visitor_opinion"
                                              rows="7" style=" min-height: 150px;  background: white ; cursor: default"
                                              placeholder="{{'visitor_opinion'| translate}}">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label bold">{{'notes-'| translate}} </label>
                                <div class="form-group">
                                   <textarea class="form-control"
                                             name="notes" disabled readonly
                                             ng-model="recommendations.notes"
                                             rows="7" style=" min-height: 150px;  background: white "
                                             placeholder="{{'notes'| translate}}">
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                        <div class="col-md-3 pull-right" >
                            <div class="clearfix pull-right">
                                <button class=" btn btn-outline blue  button-previous" ng-click="getPrevious()" type="button" >
                                    <span class="glyphicon glyphicon-menu-left"></span>
                                    <span>{{'previous'| translate}}</span>
                                </button>

                                <button class=" btn btn-outline blue  button-next" ng-click="endShow()" type="button" >
                                    <span>{{'Finish'| translate}}</span>
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <form name="frm_recommandation" ng-show="mode !='show'" novalidate="" role="form">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="min-height: 350px; ">
                        <input name="_method" type="hidden" value="PUT">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-6" ng-show="priority.visitor_card !=1">
                                <div class="form-group" ng-class="{ 'has-error' : frm_recommandation.visitor_card.$invalid && (!frm_recommandation.visitor_card.$pristine || frm_recommandation.visitor_card.$touched) }">
                                    <label class="control-label bold">   {{'visitor_card'| translate}}
                                        <span class=" text-success bold help-inline" ng-if="priority.visitor_card ==2"> ({{'optional' | translate }})</span>
                                        <span class=" text-success bold help-inline" ng-if="priority.visitor_card ==3"> ({{'advisable' | translate }})</span>
                                        <span class=" text-danger bold help-inline"  ng-if="priority.visitor_card ==4"> ({{'mandatory' | translate }})</span>
                                        <span class=" text-danger bold help-inline" ng-show="frm_recommandation.visitor_card.$error.required && frm_recommandation.visitor_card.$touched">  * </span>
                                    </label>
                                    <input type="text"
                                           class="form-control"
                                           name="visitor_card"
                                           maxlength="9" 
                                           ng-maxlength="9"
                                           numeric-only ng-change="msg1.visitor_card = [ ]"
                                           ng-required="priority.visitor_card ==4"
                                           ng-model="recommendations.visitor_card"
                                           required
                                           placeholder="{{'visitor_card'| translate}} " />

                                    <span class=" text-danger bold help-inline" ng-show="frm_recommandation.visitor_card.$error.pattern">  {{'integer_field'| translate}}  </span>
                                    <span class=" text-danger bold help-inline" ng-show="frm_recommandation.visitor_card.$error.maxlength">{{"maxlength 9"| translate}}</span>
                                    <span ng-repeat="(error, errortext) in msg1.visitor_card"
                                          class="text-danger bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg1.visitor_card' != [ ]" >
                                           {{ errortext.toString() }}
                                         </span>
                                </div>
                            </div>
                            <div class="col-md-6" ng-show="priority.visitor !=1">
                                <div class="form-group" ng-class="{ 'has-error' : frm_recommandation.visitor.$invalid && (!frm_recommandation.visitor.$pristine || frm_recommandation.visitor.$touched) }">
                                    <label class="control-label bold">   {{'visitor'| translate}}
                                        <span class=" text-success bold help-inline" ng-if="priority.visitor ==2"> ({{'optional' | translate }})</span>
                                        <span class=" text-success bold help-inline" ng-if="priority.visitor ==3"> ({{'advisable' | translate }})</span>
                                        <span class=" text-danger bold help-inline" ng-if="priority.visitor ==4"> ({{'mandatory' | translate }})</span>
                                    </label>
                                    <input type="text" class="form-control"
                                           name="visitor"
                                           arabic-alphabet
                                           ng-change="msg1.visitor = [ ]"
                                           ng-model="recommendations.visitor"
                                           ng-required="priority.visitor ==4"
                                           placeholder=" {{'visitor'| translate}}"  />

                                    <span class=" text-danger bold help-inline" ng-show="frm_recommandation.visitor.$invalid && frm_recommandation.visitor.$touched">
                                   {{'required_field'| translate}}
                            </span>
                                    <span ng-repeat="(error, errortext) in msg1.visitor"
                                          class="text-danger bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg1.visitor' != [ ]" >
                                                         {{ errortext.toString() }}
                            </span>
                                </div>
                            </div>
                            <div class="col-md-6" ng-show="priority.visitor_evaluation !=1">
                                <div class="form-group" ng-class="{ 'has-error' : frm_recommandation.visitor_evaluation.$invalid && (!frm_recommandation.visitor_evaluation.$pristine || frm_recommandation.visitor_evaluation.$touched) }">
                                    <label class="control-label bold">   {{'visitor_evaluation'| translate}}
                                        <span class=" text-success bold help-inline" ng-if="priority.visitor_evaluation ==2"> ({{'optional' | translate }})</span>
                                        <span class=" text-success bold help-inline" ng-if="priority.visitor_evaluation ==3"> ({{'advisable' | translate }})</span>
                                        <span class=" text-danger bold help-inline" ng-if="priority.visitor_evaluation ==4"> ({{'mandatory' | translate }})</span>
                                    </label>
                                    <select class="form-control"
                                            name="visitor_evaluation"
                                            ng-change="msg1.visitor_evaluation = [ ]"
                                            ng-model="recommendations.visitor_evaluation"
                                            ng-required="priority.visitor_evaluation ==4"
                                            ng-init=""
                                    >
                                        <option disabled selected value > --   {{'visitor_evaluation'| translate}}    -- </option>
                                        <option value="4" ng-selected="recommendations.visitor_evaluation ==4">{{'excellent' | translate }}</option>
                                        <option value="3" ng-selected="recommendations.visitor_evaluation ==3">{{'very_good' | translate }}</option>
                                        <option value="2" ng-selected="recommendations.visitor_evaluation ==2">{{'good' | translate }}</option>
                                        <option value="1" ng-selected="recommendations.visitor_evaluation ==1">{{'Bad' | translate }}</option>
                                        <option value="0" ng-selected="recommendations.visitor_evaluation ==0">{{'very_bad' | translate }}</option>
                                    </select>
                                    <span class=" text-danger bold help-inline" ng-show="frm_recommandation.visitor_evaluation.$invalid && frm_recommandation.visitor_evaluation.$touched">
                                           {{'required_field'| translate}}
                                    </span>
                                    <span ng-repeat="(error, errortext) in msg1.visitor_evaluation"
                                          class="text-danger bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg1.visitor_evaluation' != [ ]" >
                                                         {{ errortext.toString() }}
                                      </span>
                                </div>
                            </div>
                            <div class="col-md-6" ng-show="priority.visited_at !=1">
                                <div class="form-group" ng-class="{ 'has-error' : frm_recommandation.visited_at.$invalid && !frm_recommandation.visited_at.$pristine }">
                                    <label class="control-label bold">
                                        {{'visited_at'| translate}}
                                        <span class=" text-success bold help-inline" ng-if="priority.visited_at ==2"> ({{'optional' | translate }})</span>
                                        <span class=" text-success bold help-inline" ng-if="priority.visited_at ==3"> ({{'advisable' | translate }})</span>
                                        <span class=" text-danger bold help-inline" ng-if="priority.visited_at ==4"> ({{'mandatory' | translate }})</span>

                                    </label>
                                    <div  class="input-group">
                                        <input type="text" class="form-control"  uib-datepicker-popup="{{format}}"
                                               ng-model="recommendations.visited_at" datepickerPopup
                                               name="visited_at"
                                               ng-change="msg1.visited_at = [ ]"
                                               ng-required="priority.visited_at ==4"
                                               is-open="popup2.opened"
                                               datepicker-options="dateOptions"
                                               date-disabled="disabled(date, mode)"
                                               clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />

                                        <span class="input-group-btn">
                                         <button type="button" class="btn fa fa-calendar btn-default" ng-click="open2($event)">
                                         </button>
                                    </span>
                                    </div>
                                    <span class=" text-danger bold help-inline" ng-show="frm_recommandation.visited_at.$error.required && frm_recommandation.visited_at.$touched">
                                {{'required_field'| translate}}
                            </span>
                                    <span class=" text-danger bold help-inline" ng-show="frm_recommandation.visited_at.$error.date && frm_recommandation.visited_at.$touched">
                                     {{'date_field'| translate}}
                            </span>
                                    <span ng-repeat="(error, errortext) in msg1.visited_at"
                                          class="text-danger bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg1.visited_at' != [ ]" >
                                     {{ errortext.toString() }}
                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="priority.visitor_opinion !=1">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label bold">
                                    {{'visitor_opinion'| translate}}
                                    <span class=" text-success bold help-inline" ng-if="priority.visitor_opinion ==2"> ({{'optional' | translate }})</span>
                                    <span class=" text-success bold help-inline" ng-if="priority.visitor_opinion ==3"> ({{'advisable' | translate }})</span>
                                    <span class=" text-danger bold help-inline" ng-if="priority.visitor_opinion ==4"> ({{'mandatory' | translate }})</span>
                                </label>
                                <div class="form-group" ng-class="{ 'has-error' : frm_recommandation.visitor_opinion.$invalid && !frm_recommandation.visitor_opinion.$pristine }">
                                    <textarea class="form-control"
                                              name="visitor_opinion"
                                              ng-model="recommendations.visitor_opinion"
                                              ng-required="priority.visitor_opinion ==4"
                                              rows="7"
                                              placeholder="{{'visitor_opinion'| translate}}">
                                    </textarea>
                                    <span class=" text-danger bold help-inline" ng-show="frm_recommandation.visitor_opinion.$invalid && frm_recommandation.visitor_opinion.$touched">
                                         {{'required_field'| translate}}
                                    </span>
                                    <span ng-repeat="(error, errortext) in msg1.visitor_opinion"
                                          class="text-danger bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg1.visitor_opinion' != [ ]" >
                                     {{ errortext.toString() }}
                            </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="priority.notes !=1">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label bold">
                                    {{'notes-'| translate}}
                                    <span class=" text-success bold help-inline" ng-if="priority.notes ==2"> ({{'optional' | translate }})</span>
                                    <span class=" text-success bold help-inline" ng-if="priority.notes ==3"> ({{'advisable' | translate }})</span>
                                    <span class=" text-danger bold help-inline" ng-if="priority.notes ==4"> ({{'mandatory' | translate }})</span>
                                </label>
                                <div class="form-group" ng-class="{ 'has-error' : frm_recommandation.notes.$invalid && !frm_recommandation.notes.$pristine }">
                                    <textarea class="form-control"
                                              name="notes"
                                              ng-init="recommandation.notes='لايوجد أي توصيات للباحث الاجتماعي' "
                                              ng-model="recommendations.notes"
                                              ng-required="priority.notes ==4"
                                              rows="7"
                                              placeholder="{{'notes'| translate}}">
                                    </textarea>
                                    <span class=" text-danger bold help-inline" ng-show="frm_recommandation.notes.$invalid && frm_recommandation.notes.$touched">
                                         {{'required_field'| translate}}
                                    </span>
                                    <span ng-repeat="(error, errortext) in msg1.notes"
                                          class="text-danger bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg1.notes' != [ ]" >
                                     {{ errortext.toString() }}
                            </span>
                                </div>
                            </div>
                        </div>
                     </div>


                    <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                        <div class="col-md-3 pull-right" >
                            <div class="clearfix pull-right">
                                <button class=" btn btn-outline blue  button-previous" ng-click="save(recommendations,'prev')" type="button" >
                                    <span class="glyphicon glyphicon-menu-left"></span>
                                    <span>{{'previous'| translate}}</span>
                                </button>

                                <button class=" btn btn-outline blue  button-next"  ng-click="save(recommendations,'next')" type="button" >
                                    <span>{{'Finish'| translate}}</span>
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                </button>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

</div>

