<div>
    <div  class="row" style="padding: 0.01% 1.5% 1.5% 1.5% !important;">

        <div class="panel panel-info">
            <div class="panel-heading panel-heading-style">
                {{'residence-data'| translate}}
            </div>
            <div class="panel-body">
                <div class="row text-center" style="padding: 2%;">
                    <div ng-show="mode =='show'" style="line-height: 30px;">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-4">
                                <label class="control-label bold">   {{'property_type'| translate}}  </label>
                                <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;"> {{  residence.property_types}} </p>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label bold">   {{'rent_value'| translate}}  </label>
                                <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;">{{ residence.rent_value}} </p>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label bold">   {{'roof_material'| translate}}  </label>
                                <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;"> {{  residence.roof_materials}} </p>
                            </div>
                        </div> <!-- /.col -->

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-4">
                                <label class="control-label bold">   {{'residence_condition'| translate}}  </label>
                                <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;"> {{  residence.residence_condition}} </p>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label bold">   {{'indoor_condition'| translate}}  </label>
                                <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;"> {{  residence.indoor_condition}} </p>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label bold">   {{'habitable'| translate}}  </label>
                                <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;"> {{  residence.habitable}} </p>
                            </div>
                        </div> <!-- /.col -->

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-4">
                                <label class="control-label bold">   {{'house_condition'| translate}}  </label>
                                <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;"> {{  residence.house_condition}} </p>

                            </div>
                            <div class="col-md-4">
                                <label class="control-label bold">   {{'rooms'| translate}}  </label>
                                <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;"> {{  residence.rooms}} </p>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label bold">   {{'area'| translate}}  </label>
                                <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;"> {{  residence.area}} </p>
                            </div>
                        </div> <!-- /.col -->
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-4">
                                <label class="control-label bold">   {{'need_repair'| translate}}  </label>
                                <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;"> {{  residence.need_repair}} </p>
                            </div>
                        </div> <!-- /.col -->
                        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label bold">{{'repair_notes'| translate}} </label>
                                <div class="form-group">
                                       <textarea class="form-control"
                                                 name="repair_notes" disabled readonly
                                                 ng-model="residence.repair_notes"
                                                 rows="7" style=" min-height: 150px;  background: white ; cursor: default;">
                                        </textarea>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                            <div class="col-md-3 pull-right" >
                                <div class="clearfix pull-right">
                                    <button class=" btn btn-outline blue  button-previous" ng-click="getPrevious()" type="button" >
                                        <span class="glyphicon glyphicon-menu-left"></span>
                                        <span>{{'previous'| translate}}</span>
                                    </button>

                                    <button class=" btn btn-outline blue  button-next" ng-click="getNext()" type="button" >
                                        <span>{{'Next'| translate}}</span>
                                        <span class="glyphicon glyphicon-menu-right"></span>
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <form name="frmresidence" ng-show="mode !='show'"  novalidate="" role="form">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-4" ng-if="priority.property_type_id !=1">
                                <label class="control-label bold">   {{'property_type'| translate}}  </label>
                                <span class=" text-danger bold help-inline" ng-show="frmresidence.property_type_id.$error.required && frmresidence.property_type_id.$touched">*</span>
                                <span class=" text-success bold help-inline" ng-if="priority.property_type_id ==2"> ({{'optional' | translate }})</span>
                                <span class=" text-success bold help-inline" ng-if="priority.property_type_id ==3"> ({{'advisable' | translate }})</span>
                                <span class=" text-danger bold help-inline" ng-if="priority.property_type_id ==4"> ({{'mandatory' | translate }})</span>
                                <div class="form-group" ng-class="{ 'has-error' : frmresidence.property_type_id.$invalid && (!frmresidence.property_type_id.$pristine || frmresidence.property_type_id.$touched) }">
                                 <div class="input-group">
                                      <ui-select   ng-model="residence.property_type_id" ng-change="RestValue(residence.property_type_id)"
                                                   name="property_type_id" ng-required="priority.property_type_id ==4"
                                                   autofocus 
                                                   theme="bootstrap"
                                                                       class="text-right" >
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                       <ui-select-choices repeat="item.property_type_id as item in PropertyTypes | filter: $select.search">
                                               <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                               </ui-select>
                                             <span class="input-group-btn">
                                             <button type="button" ng-click="residence.property_type_id = undefined" class="btn btn-default">
                                                      <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                          </span>
                               </div>
                            <span ng-repeat="(error, errortext) in msg1.property_type_id"
                                  class="text-danger bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.property_type_id' != [ ]" >
                                         {{ errortext.toString() }}
                            </span>
                                </div>
                            </div>
                            <div class="col-md-4" ng-if="priority.rent_value !=1">
                                <label class="control-label bold">   {{'rent_value'| translate}}

                                    <span class=" text-danger bold help-inline" ng-if="residence.property_type_id ==1"> ({{'mandatory' | translate }})</span>
                                    <span class=" text-danger bold help-inline" ng-show="frmresidence.rent_value.$error.required && frmresidence.rent_value.$touched">*</span>
                                    <span class=" text-danger bold help-inline" ng-show="frmresidence.rent_value.$error.pattern"> {{'integer_field'| translate}} </span>

                                </label>
                                <div class="form-group" ng-class="{ 'has-error' : frmresidence.rent_value.$invalid && (!frmresidence.rent_value.$pristine  || frmresidence.rent_value.$touched) }">
                                    <input type="text"
                                           class="form-control"
                                           numeric-only
                                           ng-change="msg1.rent_value = [ ]"
                                           ng-required="residence.property_type_id ==1"
                                           ng-disabled="residence.property_type_id !=1"
                                           ng-model="residence.rent_value" name="rent_value"
                                           placeholder=" {{'rent_value'| translate}} "/>
                                </div>
                               <span ng-repeat="(error, errortext) in msg1.rent_value"
                                      class="text-danger bold help-inline"
                                      ng-show="status1=='failed_valid' && 'msg1.rent_value' != [ ]" >
                                 {{ errortext.toString() }}
                    </span>
                            </div>
                            <div class="col-md-4"  ng-if="priority.roof_material_id !=1">
                                <label class="control-label bold">   {{'roof_material'| translate}}  </label>
                                <span class=" text-success bold help-inline" ng-if="priority.roof_material_id ==2"> ({{'optional' | translate }})</span>
                                <span class=" text-success bold help-inline" ng-if="priority.roof_material_id ==3"> ({{'advisable' | translate }})</span>
                                <span class=" text-danger bold help-inline" ng-if="priority.roof_material_id ==4"> ({{'mandatory' | translate }})</span>
                                <span class=" text-danger bold help-inline" ng-show="frmresidence.roof_material_id.$error.required && frmresidence.roof_material_id.$touched">*</span>
                                <div class="form-group" ng-class="{ 'has-error' : frmresidence.roof_material_id.$invalid && (!frmresidence.roof_material_id.$pristine || frmresidence.roof_material_id.$touched)}">
                                    <div class="input-group">
                                        <ui-select  ng-model="residence.roof_material_id" ng-change="msg1.roof_material_id = [ ]" name="roof_material_id"
                                                    ng-required="priority.roof_material_id ==4" theme="bootstrap"
                                                    class="text-right" >
                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item.roof_material_id as item in RoofMaterials | filter: $select.search">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                                                <button type="button" ng-click="residence.roof_material_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                    </div>
                                    <span ng-repeat="(error, errortext) in msg1.roof_material_id"
                                          class="text-danger bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg1.roof_material_id' != [ ]" >
                                         {{ errortext.toString() }}
                           </span>
                                </div>
                            </div>
                        </div> <!-- /.col -->

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-4"  ng-if="priority.residence_condition !=1">
                                <label class="control-label bold">   {{'residence_condition'| translate}}  </label>
                                <span class=" text-success bold help-inline" ng-if="priority.residence_condition ==2"> ({{'optional' | translate }})</span>
                                <span class=" text-success bold help-inline" ng-if="priority.residence_condition ==3"> ({{'advisable' | translate }})</span>
                                <span class=" text-danger bold help-inline" ng-if="priority.residence_condition ==4"> ({{'mandatory' | translate }})</span>
                                <span class=" text-danger bold help-inline" ng-show="frmresidence.residence_condition.$error.required && frmresidence.residence_condition.$touched">*</span>
                                <div class="form-group" ng-class="{ 'has-error' : frmresidence.residence_condition.$invalid && (!frmresidence.residence_condition.$pristine  || frmresidence.residence_condition.$touched)}">
                               <div class="input-group">
                                 <ui-select  ng-model="residence.residence_condition"
                                            ng-change="msg1.residence_condition = [ ]"
                                            name="residence_condition"
                                            ng-required="priority.residence_condition ==4"
                                            theme="bootstrap" class="text-right" >
                                     <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                     <ui-select-choices repeat="item.house_status_id as item in houseStatus | filter: $select.search">
                                         <div ng-bind-html="item.name | highlight: $select.search"></div>
                                     </ui-select-choices>
                                </ui-select>
                                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="residence.residence_condition = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                                        </div>

                            <span ng-repeat="(error, errortext) in msg1.residence_condition"
                                  class="text-danger bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.residence_condition' != [ ]" >
                                                     {{ errortext.toString() }}
                           </span>

                                </div>
                            </div>
                            <div class="col-md-4"  ng-if="priority.indoor_condition !=1">
                                <label class="control-label bold">   {{'indoor_condition'| translate}}  </label>
                                <span class=" text-danger bold help-inline" ng-show="frmresidence.indoor_condition.$error.required && frmresidence.indoor_condition.$touched">*</span>
                                <span class=" text-success bold help-inline" ng-if="priority.indoor_condition ==2"> ({{'optional' | translate }})</span>
                                <span class=" text-success bold help-inline" ng-if="priority.indoor_condition ==3"> ({{'advisable' | translate }})</span>
                                <span class=" text-danger bold help-inline" ng-if="priority.indoor_condition ==4"> ({{'mandatory' | translate }})</span>
                                <div class="form-group" ng-class="{ 'has-error' : frmresidence.indoor_condition.$invalid && (!frmresidence.indoor_condition.$pristine  || frmresidence.indoor_condition.$touched)}">
                                  <div class="input-group">
                                                            <ui-select   ng-model="residence.indoor_condition"
                                            ng-change="msg1.indoor_condition = [ ]"
                                            name="indoor_condition"
                                            ng-required="priority.indoor_condition ==true" theme="bootstrap"
                                                                       class="text-right" >
                                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                                <ui-select-choices repeat="item.furniture_status_id as item in furnitureStatus | filter: $select.search">
                                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="residence.indoor_condition = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                                        </div>
                            <span ng-repeat="(error, errortext) in msg1.indoor_condition"
                                  class="text-danger bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.indoor_condition' != [ ]" >
                                                     {{ errortext.toString() }}
                           </span>
                                </div>
                            </div>
                            <div class="col-md-4"  ng-if="priority.habitable !=1">
                                <label class="control-label bold">   {{'habitable'| translate}}  </label>
                                <span class=" text-success bold help-inline" ng-if="priority.habitable ==2"> ({{'optional' | translate }})</span>
                                <span class=" text-success bold help-inline" ng-if="priority.habitable ==3"> ({{'advisable' | translate }})</span>
                                <span class=" text-danger bold help-inline" ng-if="priority.habitable ==4"> ({{'mandatory' | translate }})</span>
                                <span class=" text-danger bold help-inline" ng-show="frmresidence.habitable.$error.required && frmresidence.habitable.$touched">*</span>
                                <div class="form-group" ng-class="{ 'has-error' : frmresidence.habitable.$invalid && (!frmresidence.habitable.$pristine  || frmresidence.habitable.$touched)}">
                                    <div class="input-group">
                                        <ui-select  ng-model="residence.habitable"
                                                    name="habitable"
                                                    ng-change="msg1.habitable = [ ]"
                                                    ng-required="priority.habitable ==true"
                                                    theme="bootstrap"
                                                    class="text-right" >
                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item.habitable_status_id as item in habitableStatus | filter: $select.search">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                                                <button type="button" ng-click="residence.habitable = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                    </div>
                                    <span ng-repeat="(error, errortext) in msg1.habitable"
                                          class="text-danger bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg1.habitable' != [ ]" >
                                                     {{ errortext.toString() }}
                           </span>
                                </div>
                            </div>
                        </div> <!-- /.col -->

                        <div class="col-md-12 col-sm-12 col-xs-12" >
                            <div class="col-md-4" ng-if="priority.house_condition !=1">
                                <label class="control-label bold">   {{'house_condition'| translate}}  </label>
                                <span class=" text-success bold help-inline" ng-if="priority.house_condition ==2"> ({{'optional' | translate }})</span>
                                <span class=" text-success bold help-inline" ng-if="priority.house_condition ==3"> ({{'advisable' | translate }})</span>
                                <span class=" text-danger bold help-inline" ng-if="priority.house_condition ==4"> ({{'mandatory' | translate }})</span>
                                <span class=" text-danger bold help-inline" ng-show="frmresidence.house_condition.$error.required && frmresidence.house_condition.$touched">*</span>
                                <div class="form-group" ng-class="{ 'has-error' : frmresidence.house_condition.$invalid && (!frmresidence.house_condition.$pristine  || frmresidence.house_condition.$touched)}">
                               <div class="input-group">
                                     <ui-select  ng-model="residence.house_condition" 
                                  name="house_condition" ng-change="msg1.house_condition = [ ]"
                                            ng-required="priority.house_condition ==true"
                                            theme="bootstrap" class="text-right" >
                                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.building_status_id as item in buildingStatus | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="residence.house_condition = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                                        </div>
                             <span ng-repeat="(error, errortext) in msg1.house_condition"
                                   class="text-danger bold help-inline"
                                   ng-show="status1=='failed_valid' && 'msg1.house_condition' != [ ]" >
                                                     {{ errortext.toString() }}
                           </span>
                                </div>
                            </div>
                            <div class="col-md-4"  ng-if="priority.rooms !=1">
                                <label class="control-label bold">   {{'rooms'| translate}}  </label>
                                <span class=" text-success bold help-inline" ng-if="priority.rooms ==2"> ({{'optional' | translate }})</span>
                                <span class=" text-success bold help-inline" ng-if="priority.rooms ==3"> ({{'advisable' | translate }})</span>
                                <span class=" text-danger bold help-inline" ng-if="priority.rooms ==4"> ({{'mandatory' | translate }})</span>
                                <span class=" text-danger bold help-inline" ng-show="frmresidence.rooms.$error.required && frmresidence.rooms.$touched">*</span>
                                <div class="form-group" ng-class="{ 'has-error' : frmresidence.rooms.$invalid && (!frmresidence.rooms.$pristine  || frmresidence.rooms.$touched)}">
                                    <input type="text"
                                           class="form-control"
                                           ng-change="msg1.rooms = [ ]"
                                           numeric-only
                                           maxlength="3"
                                           ng-maxlength="3"
                                           ng-model="residence.rooms"
                                           name="rooms"
                                           ng-required="priority.rooms ==true"
                                           placeholder="{{'rooms'| translate}} " />

                                    <span class=" text-danger bold help-inline" ng-show="frmresidence.rooms.$error.pattern"> {{'only number'| translate}} </span>
                                    <span class=" text-danger bold help-inline" ng-show="frmresidence.rooms.$error.maxlength">{{'Field length must not exceed 3'| translate}}</span>
                        <span ng-repeat="(error, errortext) in msg1.rooms"
                              class="text-danger bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.rooms' != [ ]" >
                                 {{ errortext.toString() }}
                        </span>
                                </div>
                            </div>
                            <div class="col-md-4"  ng-if="priority.area !=1">
                                <label class="control-label bold">   {{'area'| translate}}  </label>
                                <span class=" text-success bold help-inline" ng-if="priority.area ==2"> ({{'optional' | translate }})</span>
                                <span class=" text-success bold help-inline" ng-if="priority.area ==3"> ({{'advisable' | translate }})</span>
                                <span class=" text-danger bold help-inline" ng-if="priority.area ==4"> ({{'mandatory' | translate }})</span>
                                <span class=" text-danger bold help-inline" ng-show="frmresidence.area.$error.required && frmresidence.area.$touched">*</span>
                                <div class="form-group" ng-class="{ 'has-error' : frmresidence.area.$invalid && (!frmresidence.area.$pristine  || frmresidence.area.$touched)}">
                                    <input type="text"
                                           class="form-control"
                                           decimal-numbers
                                           name="area"
                                           ng-model="residence.area"
                                           ng-change="msg1.area = [ ]"
                                           ng-required="priority.area ==true"
                                           placeholder="{{'area'| translate}} " />
                                    <span ng-repeat="(error, errortext) in msg1.area"
                                          class="text-danger bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg1.area' != [ ]" >
                                         {{ errortext.toString() }}
                            </span>

                                </div>
                            </div>
                        </div> <!-- /.col -->

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-4"  ng-if="priority.need_repair !=1">
                                <label class="control-label bold">   {{'need_repair'| translate}}  </label>
                                <span class=" text-success bold help-inline" ng-if="priority.need_repair ==2"> ({{'optional' | translate }})</span>
                                <span class=" text-success bold help-inline" ng-if="priority.need_repair ==3"> ({{'advisable' | translate }})</span>
                                <span class=" text-danger bold help-inline" ng-if="priority.need_repair ==4"> ({{'mandatory' | translate }})</span>
                                <span class=" text-danger bold help-inline" ng-show="frmresidence.need_repair.$error.required && frmresidence.need_repair.$touched">*</span>
                                <div class="form-group" ng-class="{ 'has-error' : frmresidence.need_repair.$invalid && (!frmresidence.need_repair.$pristine  || frmresidence.need_repair.$touched)}">
                                    <select class="form-control"
                                            ng-init=""
                                            name="need_repair"
                                            ng-model='residence.need_repair'
                                            ng-change="msg1.need_repair = [ ]"
                                            ng-required="priority.need_repair ==4"
                                            ng-init="residence.need_repair=2">
                                        <option disabled selected value > --  {{'select status'| translate}}   -- </option>
                                        <option value="1">  {{'yes'| translate}} </option>
                                        <option value="2">  {{'no'| translate}} </option>
                                    </select>
                            <span ng-repeat="(error, errortext) in msg1.need_repair"
                                  class="text-danger bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.need_repair' != [ ]" >
                                         {{ errortext.toString() }}
                            </span>

                                </div>
                            </div>
                        </div> <!-- /.col -->

                        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                           <div class="col-md-12 col-sm-12 col-xs-12"  ng-if="priority.repair_notes !=1">
                                <label class="control-label bold">   {{'repair_notes'| translate}}  </label>
                                <span class=" text-success bold help-inline" ng-if="priority.repair_notes ==2"> ({{'optional' | translate }})</span>
                                <span class=" text-success bold help-inline" ng-if="priority.repair_notes ==3"> ({{'advisable' | translate }})</span>
                                <span class=" text-danger bold help-inline" ng-if="priority.repair_notes ==4"> ({{'mandatory' | translate }})</span>
                                <span class=" text-danger bold help-inline" ng-show="frmresidence.repair_notes.$error.required && frmresidence.repair_notes.$touched">*</span>
                                <div class="form-group" ng-class="{ 'has-error' : frmresidence.repair_notes.$invalid && (!frmresidence.repair_notes.$pristine  || frmresidence.repair_notes.$touched)}">
                                    <textarea class="form-control"
                                              name="repair_notes"
                                              ng-model="residence.repair_notes"
                                              ng-required="priority.repair_notes ==4"
                                              rows="7"
                                              placeholder="{{'repair_notes'| translate}}">
                                    </textarea>
                                    <span ng-repeat="(error, errortext) in msg1.repair_notes"
                                          class="text-danger bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg1.repair_notes' != [ ]" >
                                                 {{ errortext.toString() }}
                                    </span>

                                </div>
                            </div>
                        </div> <!-- /.col -->
                        <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                             <div class="col-md-3 pull-right" >
                                 <div class="clearfix pull-right">
                                    <button class=" btn btn-outline blue button-previous" ng-click="save(residence,'prev')"  type="button" >
                                        <span class="glyphicon glyphicon-menu-left"></span>
                                        <span>{{'previous'| translate}}</span>
                                    </button>
                                    <!--                    ng-disabled="frmresidence.$invalid"-->
                                    <button class=" btn btn-outline blue button-next" ng-click="save(residence,'next')" type="button" >
                                        <span> {{'Next'| translate}}</span>
                                        <span class="glyphicon glyphicon-menu-right"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


