<div>
    <div  class="row" style="padding: 0.01% 1.5% 1.5% 1.5% !important;">
        <div class="panel panel-info">
            <div class="panel-heading panel-heading-style">
                {{'Voucher data List'| translate}}
            </div>
            <div class="panel-body" style="min-height: 350px;">
                <div class="row text-center" style="padding: 2%;">
                    <div class="col-md-12 col-sm-12 col-xs-12"  style="margin-bottom: 2%;" >
                        <button  type="button" ng-show="caseVouchersList.length > 0" class="btn blue pull-left" ng-click="Search(voucher_filters,'export')"style="margin-left: 1%;">
                            <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                            <span>{{'export-vouchers'| translate}}</span>
                        </button>
                        <button  class=" pull-right btn blue " ng-click="toggleSearch()" type="button" >
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12"  ng-hide="case_vouchers" STYLE="padding: 1.5%; margin-bottom: 2%;">
                        <form name="frmsearch"  novalidate role="form" class=" text-center" style="padding:0 2%;">
                            <div class="row" style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label class=" control-label bold">{{'voucher_sponsor_name'| translate}}</label>
                                            <div class="input-group">
                                                <ui-select name="sponsor_id" ng-model="voucher_filters.sponsor_id"theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in Sponsors | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                            <button type="button" ng-click="voucher_filters.sponsor_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" ng-class="{ 'has-error' : frmvoucher.category_id.$invalid && !frmvoucher.category_id.$pristine }">
                                            <label class="control-label bold ">  {{'voucher_category'| translate}}  </label>
                                            <select class="form-control"
                                                    ng-init=""
                                                    ng-change="msg1.category_id = [ ]"
                                                    name="category_id"
                                                    ng-model='voucher_filters.category_id'
                                            >
                                                <option selected value > --  {{'voucher_category'| translate}}  -- </option>
                                                <option ng-repeat="option in Categories" value="{{option.id}}" >
                                                    {{option.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" ng-class="{ 'has-error' : frmsearch.voucher_type.$invalid && !frmsearch.type.$pristine }">
                                            <label class="control-label  bold ">  {{'voucher_type'| translate}}  </label>
                                            <select class="form-control"
                                                    ng-init=""
                                                    ng-change="msg1.voucher_type = [ ]"
                                                    name="voucher_type"
                                                    ng-model='voucher_filters.voucher_type'
                                            >
                                                <option selected value > --  {{'voucher_type'| translate}}  -- </option>
                                                <option  value="1" > {{'non_financial'| translate}} </option>
                                                <option  value="2" > {{'financial'| translate}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" ng-class="{ 'has-error' : frmsearch.title.$invalid }">
                                            <label class=" control-label bold">{{'voucher_title'| translate}}</label>
                                            <input type="text" class="form-control" name="title" ng-model="voucher_filters.title"  maxlength="255" ng-maxlength="255"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-3">
                                        <div class="form-group" ng-class="{ 'has-error' : frmsearch.voucher_source.$invalid && !frmsearch.voucher_source.$pristine }">
                                            <label class="control-label  bold ">  {{'voucher_source'| translate}}  </label>
                                            <select class="form-control"
                                                    ng-init=""
                                                    ng-change="msg1.voucher_source = [ ]"
                                                    name="voucher_source"
                                                    ng-model='voucher_filters.voucher_source'
                                            >
                                                <option selected value > --  {{'voucher_source'| translate}}  -- </option>
                                                <option value="0"> {{'from_project'| translate}}</option>
                                                <option value="1"> {{'manually'| translate}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group " ng-class="{ 'has-error' : frmsearch.content.$invalid }">
                                            <label class=" control-label bold">{{'voucher_content'| translate}}</label>
                                            <input type="text" class="form-control" name="content" ng-model="voucher_filters.content"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group " ng-class="{ 'has-error' : frmsearch.notes.$invalid }">
                                            <label class=" control-label bold">{{'voucher_note'| translate}}</label>
                                            <input type="text" class="form-control" name="notes" ng-model="voucher_filters.notes"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" ng-class="{ 'has-error' : frmsearch.receipt_location.$invalid }">
                                            <label class=" control-label bold">{{'receipt_location'| translate}}</label>
                                            <input type="text" class="form-control" name="receipt_location" ng-model="voucher_filters.receipt_location"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{'voucher_date_from'| translate}} </label>
                                            <div  class="input-group">
                                                <input type="text" class="form-control"
                                                       uib-datepicker-popup="{{format}}"
                                                       ng-model="voucher_filters.voucher_date_from"
                                                       datepickerPopup
                                                       name="voucher_date_from"
                                                       is-open="popup999.opened" datepicker-options="dateOptions"
                                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open999($event)">
                                                </button>
                                          </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{'voucher_date_to'| translate}} </label>
                                            <div  class="input-group">
                                                <input type="text" class="form-control"
                                                       uib-datepicker-popup="{{format}}"
                                                       ng-model="voucher_filters.voucher_date_to"
                                                       datepickerPopup
                                                       name="voucher_date_to"
                                                       is-open="popup888.opened" datepicker-options="dateOptions"
                                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open888($event)">
                                                </button>
                                          </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{'receipt_date_from'| translate}} </label>
                                            <div  class="input-group">
                                                <input type="text" class="form-control"
                                                       uib-datepicker-popup="{{format}}"
                                                       ng-model="voucher_filters.receipt_date_from"
                                                       datepickerPopup
                                                       name="receipt_date_from"
                                                       is-open="popup9.opened" datepicker-options="dateOptions"
                                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open9($event)">

                                                </button>
                                          </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{'receipt_date_to'| translate}} </label>
                                            <div  class="input-group">
                                                <input type="text" class="form-control"
                                                       uib-datepicker-popup="{{format}}"
                                                       ng-model="voucher_filters.receipt_date_to"
                                                       datepickerPopup
                                                       name="receipt_date_to"
                                                       is-open="popup88.opened" datepicker-options="dateOptions"
                                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open88($event)">

                                                </button>
                                          </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label class="control-label bold">{{'currency'| translate}}</label>

                                            <div class="input-group">
                                                <ui-select name="currency_id" ng-model="voucher_filters.currency_id" theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in currency | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                            <button type="button" ng-click="voucher_filters.currency_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'voucher_organization'| translate}} </label>
                                            <select class="form-control" ng-model="voucher_filters.organization_id" name="organization_id">
                                                <option selected value>{{'voucher_organization'| translate}}  </option>
                                                <option ng-repeat="option in Org"  value="{{option.id}}"    >
                                                    {{option.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class=" col-md-2 pull-right" style=" padding-top: 20px;">
                                        <button class="btn blue" style="width:85%;" ng-click="Search(voucher_filters,'filters')" type="button" ><span> {{'search'| translate}}</span> </button>
                                    </div>



                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 2%;" >
                        <table  class="table table-bordered table-striped  text-center table-hover " ng-show="caseVouchersList.length > 0">
                            <thead>
                            <tr class="font-blue" style=" height:40px; line-height: 40px; font-size: 30px; ">
                                <th class="text-center" colspan="7" style="background-color: #f3f3f3!important; "> {{"sh_total"| translate }}</th>
                                <th class="text-center cold" colspan="4"> {{total}}</th>
                            </tr>
                            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                <th class="text-center" > {{'#'| translate}} </th>
                                <th class="text-center" > {{'voucher_name'| translate}} </th>
                                <th class="text-center" > {{'organization_name'| translate}} </th>
                                <th class="text-center" > {{'category_type'| translate}} </th>
                                <th class="text-center" > {{'voucher_type'| translate}} </th>
                                <th class="text-center" > {{'receipt_date'| translate}} </th>
                                <th class="text-center" > {{'receipt_location'| translate}} </th>
                                <th class="text-center" > {{'receipt_status'| translate}} </th>
                                <th class="text-center" > {{'voucher_note'| translate}} </th>   </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="item in caseVouchersList|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                <td>{{ item.voucher_name }}</td>
                                <td>{{ item.organization_name }}</td>
                                <td>{{ item.category_type }}</td>
                                <td>{{ item.voucher_type }}</td>
                                <td>{{ item.receipt_date }}</td>
                                <td>{{ item.receipt_location }}</td>
                                <td>{{ item.receipt_status }}</td>
                                <td>{{ item.voucher_note }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div ng-show="caseVouchersList.length == 0" class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                            </div>
                        </div>
                        <div class="row"  ng-show="caseVouchersList.length > 0" >
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"
                                                max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged('vouchers',CurrentPage)"
                                                class="pagination-sm" boundary-links="true"
                                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                        <div class="col-md-3 pull-right" >
                            <div class="clearfix pull-right">
                                <button class=" btn btn-outline blue  button-previous" ng-click="getPrevious()" type="button" >
                                    <span class="glyphicon glyphicon-menu-left"></span>
                                    <span>{{'previous'| translate}}</span>
                                </button>
                                <button class=" btn btn-outline blue  button-next"  ng-click="getNext()" type="button" >
                                    <span>{{'Next'| translate}}</span>
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                </button>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

