<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i>{{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'reports and queries'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'search_on' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a href="#/reports/socialAffairsReceipt" >  {{'social_affairs_receipt_'| translate}}</a>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">

                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <div class="btn-group"  uib-dropdown ng-if="can('reports.case.ExportSocialAffairs')">
                            <button id="single-button-0-" type="button"
                                    uib-tooltip="{{'search from file'| translate}}" class="btn yellow-saffron" uib-dropdown-toggle>
                                <span class="fa fa-check"></span>
                                <span class="hidden-sm hidden-md  hidden-xs">{{'search from file'| translate}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button" style="min-width: 10px !important;">
                                <li>
                                    <a ng-click="check(1)"  class="iconify">
                                        <i class="fa fa-file-excel-o" style="margin-left: 4%"></i>
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'basic-data'| translate}}</span>
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="check(2)" class="iconify">
                                        <i class="fa fa-file-excel-o" style="margin-left: 4%"></i>
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'all-data'| translate}}</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body" style="min-height: 600px;">
                <div class="table-toolbar">
                    <div class="col-md-12  col-sm-12 col-xs-12" style="background-color: #f3f3f3;margin-bottom: 1%; padding: 35px 0 30px 0px !important; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " >
                        <form name="frmsearch">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center ">

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div ng-class="{'col-md-4 col-md-offset-2 col-sm-12 col-xs-12   text-center':(filter.using == 1),
                                                    ' col-md-3 col-sm-12 col-xs-12   text-center':!(filter.using == 1)}">
                                        <div class="form-group">
                                            <label class="text-center control-label bold"> {{"search_using"| translate}}<span class=" text-danger bold help-inline">*</span></label>
                                            <select class="form-control" name="using" ng-model='filter.using' required ng-change="resetScopeOnChange()">
                                                <option selected value="1" ng-value="1" > {{'id_card_number'| translate}}</option>
                                                <option value="2" ng-value="2" >  {{'name'| translate}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12 text-center" ng-if="filter.using == '1'">
                                        <div class="form-group">
                                            <label class="text-center control-label bold"> {{"id_card_number"| translate}}<span class=" text-danger bold help-inline">*</span></label>
                                            <input type="text" class="form-control" ng-enter="searchFilter(filter,'filter')"
                                                   ng-required="filter.using == '1'"
                                                   name="id_card_number" ng-model="filter.id_card_number" maxlength="9" ng-maxlength="9" placeholder='{{"id_card_number"| translate}}' numeric-only ng-click = "getCard()"/>
                                            <ul class="list-group" ng-show = "checkCards && cards.length > 0"
                                                style="width: 97%;overflow-y: scroll;position: absolute;z-index: 200;">
                                                <li class="list-group-item" ng-repeat="card in cards | filter:filter.id_card_number"
                                                    ng-click="selected(card.id_card_number)">{{card.id_card_number}}</li>
                                            </ul>
                                            <span class="text-danger bold help-inline" ng-show="frmsearch.id_card_number.$error.minlength">  {{"minlength 9"| translate}}  </span>
                                            <span class="text-danger bold help-inline" ng-show="frmsearch.id_card_number.$error.maxlength">  {{"maxlength 9"| translate}}  </span>
                                            <span class="text-danger bold help-inline" ng-show="frmsearch.id_card_number.$error.pattern">  {{"integer_field"| translate}}  </span>
                                        </div>
                                    </div>
                                    <div  ng-if="filter.using != '1'" class="col-md-3 col-sm-12 col-xs-12 text-center">
                                        <div class="form-group">
                                            <label class="text-center control-label bold"> {{"first_name"| translate}}<span class=" text-danger bold help-inline">*</span></label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="first_name"
                                                   arabic-alphabet
                                                   maxlength="45"
                                                   ng-required="filter.using != '1'"
                                                   ng-maxlength="45"
                                                   ng-model="filter.first_name"
                                                   ng-enter="searchFilter(filter,'filter')"
                                                   placeholder='{{"first_name"| translate}} ' />
                                            <span class="text-danger bold help-inline" ng-show="frmsearch.first_name.$error.maxlength">  {{"maxlength 45"| translate}}  </span>
                                        </div>
                                    </div>
                                    <div  ng-if="filter.using != '1'"class="col-md-3 col-sm-12 col-xs-12 text-center">
                                        <div class="form-group">
                                            <label class="text-center control-label bold"> {{"second_name"| translate}}<span class=" bold help-inline" style="color: #e7ecf1 !important;">*</span></label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="second_name"
                                                   arabic-alphabet
                                                   maxlength="45"
                                                   ng-maxlength="45"
                                                   ng-model="filter.second_name"
                                                   ng-enter="searchFilter(filter,'filter')"
                                                   placeholder='{{"second_name"| translate}} ' />
                                            <span class="text-danger bold help-inline" ng-show="frmsearch.second_name.$error.maxlength">  {{"maxlength 45"| translate}}  </span>
                                        </div>
                                    </div>
                                    <div  ng-if="filter.using != '1'"class="col-md-3 col-sm-12 col-xs-12 text-center">
                                        <div class="form-group">
                                            <label class="text-center control-label bold"> {{"third_name"| translate}}<span class=" bold help-inline" style="color: #e7ecf1 !important;">*</span></label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="third_name"
                                                   arabic-alphabet
                                                   maxlength="45"
                                                   ng-maxlength="45"
                                                   ng-model="filter.third_name"
                                                   ng-enter="searchFilter(filter,'filter')"
                                                   placeholder='{{"third_name"| translate}} ' />
                                            <span class="text-danger bold help-inline" ng-show="frmsearch.third_name.$error.maxlength">  {{"maxlength 45"| translate}}  </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                    <div  ng-if="filter.using != '1'"class="col-md-3 col-sm-12 col-xs-12 text-center">
                                        <div class="form-group">
                                            <label class="text-center control-label bold"> {{"last_name"| translate}}<span class=" text-danger bold help-inline">*</span></label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="last_name"
                                                   ng-required="filter.using != '1'"
                                                   arabic-alphabet
                                                   maxlength="45"
                                                   ng-maxlength="45"
                                                   ng-model="filter.last_name"
                                                   ng-enter="searchFilter(filter,'filter')"
                                                   placeholder='{{"last_name"| translate}}' />
                                            <span class="text-danger bold help-inline" ng-show="frmsearch.last_name.$error.maxlength">  {{"maxlength 45"| translate}}  </span>
                                        </div>
                                    </div>
                                    <div  ng-if="filter.using != '1'"class="col-md-3 col-sm-12 col-xs-12 text-center"></div>
                                    <div  ng-if="filter.using != '1'"class="col-md-3 col-sm-12 col-xs-12 text-center"></div>
                                    <div ng-class="{'col-md-4 col-md-offset-4 col-sm-12 col-xs-12   text-center':(filter.using == 1),
                                                    ' col-md-3 col-sm-12 col-xs-12   text-center':!(filter.using == 1)}"
                                         style="padding-top: 20px;">
                                        <div class="clearfix   " style="width: 100%">
                                            <!--<button class="btn red-pink " type="button" ng-click="resetFilters()">-->
                                            <!--<span class="fa fa-trash-o"></span>-->
                                            <!--<span class="hidden-sm hidden-md  hidden-xs">{{'reset filter'| translate}}</span>-->
                                            <!--</button>-->
                                            <button class="btn blue pull-left " ng-click="searchFilter(filter,'paginate')"  ng-disabled="frmsearch.$invalid" style="width: 100%"type="button">
                                                <span class="icon-magnifier"></span>
                                                <span class="hidden-sm hidden-md  hidden-xs"> {{'search'| translate}}</span>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="col-md-12  col-sm-12 col-xs-12" ng-show="items.length == 0" style="margin-top: 0.5%; padding: 0%">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show'| translate}}</span>
                        </div>
                    </div>
                    <div class="col-md-12  col-sm-12 col-xs-12" ng-if="items.length > 0 " style="min-height: 500px; padding-top: 2%; padding-bottom: 2%; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " >
                        <div class="table-scrollable" ng-if="items.length > 0 ">
                            <table class="text-center table table-striped table-bordered table-hover table-checkable order-column text-center"  ng-if="items.length > 0 ">
                                <thead>
                                <tr style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">
                                    <th class="text-center" > {{'#'| translate}} </th>
                                    <th class="text-center" style="width: 20%">    {{"name"| translate}} </th>
                                    <th class="text-center">    {{"id_card_number"| translate}} </th>
                                    <th class="text-center">    {{"gender"| translate}} </th>
                                    <th class="text-center">    {{"marital_status_id"| translate}} </th>
                                    <th class="text-center">  {{'SRV_INF_NAME'| translate}} </th>
                                    <th class="text-center">  {{'ORG_NM_MON'| translate}} </th>
                                    <th class="text-center">  {{'SRV_TYPE_MAIN_NM'| translate}} </th>
                                    <th class="text-center">  {{'CURRENCY'| translate}} </th>
                                    <th class="text-center">  {{'RECP_AID_AMOUNT'| translate}} </th>
                                    <th class="text-center">  {{'RECP_DELV_DT'| translate}} </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in items"  href="#/reports/citizenRepository/{{item.IDNO}}">
                                    <td>{{ ( $index +1 )}}</td>
                                    <td>
                                        <a class="btn btn-xs bold font-blue"
                                           style=" background-color: transparent"
                                           target="_blank"
                                           ng-if="item.social_affairs"
                                           href="#/reports/socialAffairsReceipt/{{item.IDNO}}">
                                            {{  item.FULLNAME}}
                                        </a>
                                        <span ng-if="!item.social_affairs">{{  item.FULLNAME}}</span>
                                        <br>
                                        <button class="btn  btn-xs bold font-green-turquoise fa fa-file-excel-o" style="font-size: medium; background-color: transparent"
                                                ng-click="export('xlsx',item.IDNO)" type="button" >
                                        </button>

                                        <button class="btn  btn-xs bold font-red-pink fa fa-file-pdf-o" style="font-size: medium; background-color: transparent"
                                                ng-click="export('pdf',item.IDNO)" type="button" >
                                        </button>
                                    </td>
                                    <td>{{item.IDNO}} </td>
                                    <td>{{item.SEX }}</td>
                                    <td>{{item.SOCIAL_STATUS == null ? '-' :item.SOCIAL_STATUS}}</td>
                                    <td>{{item.social_affairs.SRV_INF_NAME == null ? '-' :item.social_affairs.SRV_INF_NAME}}</td>
                                    <td>{{item.social_affairs.ORG_NM_MON == null ? '-' :item.social_affairs.ORG_NM_MON}}</td>
                                    <td>{{item.social_affairs.SRV_TYPE_MAIN_NM == null ? '-' :item.social_affairs.SRV_TYPE_MAIN_NM}}</td>
                                    <td>{{item.social_affairs.CURRENCY == null ? '-' :item.social_affairs.CURRENCY}}</td>
                                    <td>{{item.social_affairs.RECP_AID_AMOUNT == null ? '-' :item.social_affairs.RECP_AID_AMOUNT}}</td>
                                    <td>{{item.social_affairs.RECP_DELV_DT == null ? '-' :item.social_affairs.RECP_DELV_DT}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

