    <div class="modal-header" style="  padding:3%; ">
        <h4 class="modal-title text-center"> {{'cheque_banks_template_setting'| translate}} </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form name="form" novalidate="" role="form" class=" text-center" style="padding: 2%;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-6">
                            <div class="form-group " ng-class="{ 'has-error' : form.height.$invalid && !form.height.$pristine }">
                                <label class="control-label">   {{'cheque_height'| translate}} </label>
                                <input type="text" class="form-control" ng-model="row.height"  name="height" ng-change="msg1.height = [ ]"
                                       placeholder="{{'cheque_height'| translate}} " ng-required="true" />
                                <span class="font-red-pink bold help-inline" ng-show="form.height.$error.required && form.height.$touched">
                                                            {{'required_field'| translate}}
                                    </span>
                                <span ng-repeat="(error, errortext) in msg1.height" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.height' != [ ]" >
                                               {{ errortext.toString() }}
                                    </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group " ng-class="{ 'has-error' : form.width.$invalid && !form.width.$pristine }">
                                <label class="control-label">   {{'cheque_width'| translate}} </label>
                                <input type="text" class="form-control" ng-model="row.width"  name="width" ng-change="msg1.width = [ ]"
                                       placeholder="{{'cheque_width'| translate}} " ng-required="true" />
                                <span class="font-red-pink bold help-inline" ng-show="form.width.$error.required && form.width.$touched">
                                                            {{'required_field'| translate}}
                                    </span>
                                <span ng-repeat="(error, errortext) in msg1.width" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.width' != [ ]" >
                                               {{ errortext.toString() }}
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4">
                            <div class="form-group " ng-class="{ 'has-error' : form.nameMT.$invalid && !form.nameMT.$pristine }">
                                <label class="control-label">   {{'cheque_name_margin_top'| translate}} </label>
                                <input type="text" class="form-control" ng-model="row.nameMT"  name="nameMT" ng-change="msg1.nameMT = [ ]"
                                       placeholder="{{'cheque_name_margin_top'| translate}} " ng-required="true" />
                                <span class="font-red-pink bold help-inline" ng-show="form.nameMT.$error.required && form.nameMT.$touched">
                                                            {{'required_field'| translate}}
                                    </span>
                                <span ng-repeat="(error, errortext) in msg1.nameMT" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.nameMT' != [ ]" >
                                               {{ errortext.toString() }}
                                    </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group " ng-class="{ 'has-error' : form.nameMR.$invalid && !form.nameMR.$pristine }">
                                <label class="control-label">   {{'cheque_name_margin_right'| translate}} </label>
                                <input type="text" class="form-control" ng-model="row.nameMR"  name="nameMR" ng-change="msg1.nameMR = [ ]"
                                       placeholder="{{'cheque_name_margin_right'| translate}} " ng-required="true" />
                                <span class="font-red-pink bold help-inline" ng-show="form.nameMR.$error.required && form.nameMR.$touched">
                                                            {{'required_field'| translate}}
                                    </span>
                                <span ng-repeat="(error, errortext) in msg1.nameMR" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.nameMR' != [ ]" >
                                               {{ errortext.toString() }}
                                    </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group " ng-class="{ 'has-error' : form.dateMT.$invalid && !form.dateMT.$pristine }">
                                <label class="control-label">   {{'cheque_date_margin_top'| translate}} </label>
                                <input type="text" class="form-control" ng-model="row.dateMT"  name="dateMT" ng-change="msg1.dateMT = [ ]"
                                       placeholder="{{'cheque_date_margin_top'| translate}} " ng-required="true" />
                                <span class="font-red-pink bold help-inline" ng-show="form.dateMT.$error.required && form.dateMT.$touched">
                                                            {{'required_field'| translate}}
                                    </span>
                                <span ng-repeat="(error, errortext) in msg1.dateMT" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.dateMT' != [ ]" >
                                               {{ errortext.toString() }}
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4">
                            <div class="form-group " ng-class="{ 'has-error' : form.dateMR.$invalid && !form.dateMR.$pristine }">
                                <label class="control-label">   {{'cheque_date_margin_right'| translate}} </label>
                                <input type="text" class="form-control" ng-model="row.dateMR"  name="dateMR" ng-change="msg1.dateMR = [ ]"
                                       placeholder="{{'cheque_date_margin_right'| translate}} " ng-required="true" />
                                <span class="font-red-pink bold help-inline" ng-show="form.dateMR.$error.required && form.dateMR.$touched">
                                                            {{'required_field'| translate}}
                                    </span>
                                <span ng-repeat="(error, errortext) in msg1.dateMR" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.dateMR' != [ ]" >
                                               {{ errortext.toString() }}
                                    </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group " ng-class="{ 'has-error' : form.noMT.$invalid && !form.noMT.$pristine }">
                                <label class="control-label">   {{'cheque_number_margin_top'| translate}} </label>
                                <input type="text" class="form-control" ng-model="row.noMT"  name="noMT" ng-change="msg1.noMT = [ ]"
                                       placeholder="{{'cheque_number_margin_top'| translate}} " ng-required="true" />
                                <span class="font-red-pink bold help-inline" ng-show="form.noMT.$error.required && form.noMT.$touched">
                                                            {{'required_field'| translate}}
                                    </span>
                                <span ng-repeat="(error, errortext) in msg1.noMT" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.noMT' != [ ]" >
                                               {{ errortext.toString() }}
                                    </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group " ng-class="{ 'has-error' : form.noMR.$invalid && !form.noMR.$pristine }">
                                <label class="control-label">   {{'cheque_number_margin_right'| translate}} </label>
                                <input type="text" class="form-control" ng-model="row.noMR"  name="noMR" ng-change="msg1.noMR = [ ]"
                                       placeholder="{{'cheque_number_margin_right'| translate}} " ng-required="true" />
                                <span class="font-red-pink bold help-inline" ng-show="form.noMR.$error.required && form.noMR.$touched">
                                                            {{'required_field'| translate}}
                                    </span>
                                <span ng-repeat="(error, errortext) in msg1.noMR" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.noMR' != [ ]" >
                                               {{ errortext.toString() }}
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4">
                            <div class="form-group " ng-class="{ 'has-error' : form.vMT.$invalid && !form.vMT.$pristine }">
                                <label class="control-label">   {{'cheque_value_margin_top'| translate}} </label>
                                <input type="text" class="form-control" ng-model="row.vMT"  name="vMT" ng-change="msg1.vMT = [ ]"
                                       placeholder="{{'cheque_value_margin_top'| translate}} " ng-required="true" />
                                <span class="font-red-pink bold help-inline" ng-show="form.vMT.$error.required && form.vMT.$touched">
                                                            {{'required_field'| translate}}
                                    </span>
                                <span ng-repeat="(error, errortext) in msg1.vMT" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.vMT' != [ ]" >
                                               {{ errortext.toString() }}
                                    </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group " ng-class="{ 'has-error' : form.vMR.$invalid && !form.vMR.$pristine }">
                                <label class="control-label">   {{'cheque_value_margin_right'| translate}} </label>
                                <input type="text" class="form-control" ng-model="row.vMR"  name="vMR" ng-change="msg1.vMR = [ ]"
                                       placeholder="{{'cheque_value_margin_right'| translate}} " ng-required="true" />
                                <span class="font-red-pink bold help-inline" ng-show="form.vMR.$error.required && form.vMR.$touched">
                                                            {{'required_field'| translate}}
                                    </span>
                                <span ng-repeat="(error, errortext) in msg1.vMR" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.vMR' != [ ]" >
                                               {{ errortext.toString() }}
                                    </span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group " ng-class="{ 'has-error' : form.vaMT.$invalid && !form.vaMT.$pristine }">
                                <label class="control-label">   {{'cheque_ch_value_margin_top'| translate}} </label>
                                <input type="text" class="form-control" ng-model="row.vaMT"  name="vaMT" ng-change="msg1.vaMT = [ ]"
                                       placeholder="{{'cheque_ch_value_margin_top'| translate}} " ng-required="true" />
                                <span class="font-red-pink bold help-inline" ng-show="form.vaMT.$error.required && form.vaMT.$touched">
                                                            {{'required_field'| translate}}
                                    </span>
                                <span ng-repeat="(error, errortext) in msg1.vaMT" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.vaMT' != [ ]" >
                                               {{ errortext.toString() }}
                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4">
                            <div class="form-group " ng-class="{ 'has-error' : form.vaMR.$invalid && !form.vaMR.$pristine }">
                                <label class="control-label">   {{'cheque_ch_value_margin_right'| translate}} </label>
                                <input type="text" class="form-control" ng-model="row.vaMR"  name="vaMR" ng-change="msg1.vaMR = [ ]"
                                       placeholder="{{'cheque_ch_value_margin_right'| translate}} " ng-required="true" />
                                <span class="font-red-pink bold help-inline" ng-show="form.vaMR.$error.required && form.vaMR.$touched">
                                                            {{'required_field'| translate}}
                                    </span>
                                <span ng-repeat="(error, errortext) in msg1.vaMR" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.vaMR' != [ ]" >
                                               {{ errortext.toString() }}
                                    </span>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class=" btn blue" ng-disabled="form.$invalid" ng-click="confirm(row)" type="button" >
            <span>{{'save'| translate}}</span></button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}} </span></button>
    </div>
