<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<div class="modal-header"  style="  padding:5%">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title text-center">{{'what do you want to duplicate'| translate}} </h4>
</div>
<div class="modal-body">
    <div class="text-center">
        <button ng-click="confirm(false)" class=" btn green-turquoise   " type="button" >
            <span>{{'main_details'| translate}} </span>
        </button>

        <button class=" btn blue " ng-disabled="form.$invalid" ng-click="confirm(true)" type="button" >
            <span>{{'all_data'| translate}} </span>
        </button>


    </div>
</div>
