    <div class="modal-header" style="  padding:5%; ">
        <h4 class="modal-title bold text-center"> {{'Template Uploaded form'| translate}} </h4>
    </div>
    <div class="modal-body">

        <div class="row" style="padding: 2%;">

            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-12 col-sm-12 col-xs-12" style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">{{'select attachment'| translate}}</label>
                        <div class="col-md-10">
                            <div class="margin-bottom-20">
                                <input type="file" nv-file-select=""  accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document" uploader="uploader" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="uppercase">
                            <th width="50%">{{'name'| translate}}</th>
                            <th ng-show="uploader.isHTML5">{{'size'| translate}}</th>
                            <th ng-show="uploader.isHTML5">{{'progress'| translate}}</th>
                            <th>{{'status'| translate}}</th>
                            <th>{{'actions'| translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td>{{ item.file.name}}</td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress progress-sm" style="margin-bottom: 0;">
                                    <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                                <span ng-show="item.isSuccess" class="text-success">
                                                    <i class="glyphicon glyphicon-ok"></i>
                                                </span>
                                <span ng-show="item.isError" class="font-red-pink">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span><span> {{'upload'| translate}}</span> </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <p>{{'queue_progress'| translate}}:</p>
                        <div class="progress progress-sm" style="">
                            <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}} </span></button>
    </div>
