<style>

    .disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: .65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .dropdown-menu{
        min-width:10px;
    }
</style>
<!--  BEGIN PAGE BREADCRUMB  -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'sponsorships management' | translate }}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li><a href="#/sponsorship/payments/">{{'payments'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a href="#/sponsorship/payments/">{{'import payments'| translate}}</a>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<div class="row">
    <div  class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <h3>
                        <span class="fa fa-upload"></span> {{'import payments'| translate}}
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <a   href="javascript:;"  uib-tooltip="{{'download template'| translate}}" class="btn green-turquoise fa fa-download "
                             ng-click="download()"
                        ></a>
                        <a class="btn blue "  style="" href="#/sponsorship/payments/">
                            <span class="fa fa-backward"  ></span>
                            <span>{{'back to payment'| translate}}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div  class="col-md-12 col-sm-12 col-xs-12">
                        <div  class="col-md-12 col-sm-12 col-xs-12">
                            <div  class="col-md-12 col-sm-12 col-xs-12">
                                <form name="form" novalidate="" role="form" class=" text-center" style="padding: 1%;">
                                    <div  class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="control-label bold">{{'sponsorship_authority'| translate}} <span class="font-red-pink bold" >*</span></label>
                                                <div class="input-group">
                                                    <ui-select name="sponsor_id" ng-model="payment.sponsor_id"theme="bootstrap" required ng-change="getSponsorshipsList(payment.sponsor_id)"
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in Sponsor | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                            <button type="button" ng-click="payment.sponsor_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                                </div>
                                                <span ng-repeat="(error, errortext) in msg1.sponsor_id"
                                                      class="font-red-pink bold help-inline"
                                                      ng-show="status1=='failed_valid' && 'msg1.sponsor_id' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="control-label bold">{{'nomination_list'| translate}}</label>
                                                <select class="form-control" name="sponsorship_id" ng-model="payment.sponsorship_id" ng-change="msg1.sponsorship_id = [ ]">
                                                    <option selected value>{{'select_nomination'| translate}}  </option>
                                                    <option ng-repeat="option in sponsorshipList"  value="{{option.id}}"    >
                                                        {{option.sponsorship_number}}
                                                    </option>
                                                </select>
                                                <span ng-repeat="(error, errortext) in msg1.sponsorship_id"
                                                      class="font-red-pink bold help-inline"
                                                      ng-show="status1=='failed_valid' && 'msg1.sponsorship_id' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="control-label bold">{{'payment status'| translate}}<span class="font-red-pink bold" >*</span></label>
                                                <select class="form-control" name="status" ng-change="msg1.status = [ ]" ng-model="payment.status">
                                                    <option disabled selected value>{{'select payment status'| translate}}  </option>
                                                    <option value="1">{{'done'| translate}}</option>
                                                    <option value="2"> {{'finish'| translate}}</option>
                                                    <option value="3">{{'in progress'| translate}}</option>
                                                </select>
                                                <span ng-repeat="(error, errortext) in msg1.status"
                                                      class="font-red-pink bold help-inline"
                                                      ng-show="status1=='failed_valid' && 'msg1.status' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                                            </div>

                                        </div>
                                    </div>
                                    <div  class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label bold"> {{'payment date'| translate}} <span class="font-red-pink bold" >*</span></label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"  uib-datepicker-popup="{{format}}"
                                                           ng-model="payment.payment_date"
                                                           datepickerPopup
                                                           name="payment_date" ng-required="true"
                                                           is-open="popup3.opened" datepicker-options="dateOptions" readonly
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"
                                                           ng-change="msg1.payment_date = [ ]"/>
                                                    <span class="input-group-btn">
                                                           <button type="button" class="btn btn-default" ng-click="open3($event)">
                                                               <i class="glyphicon glyphicon-calendar"></i>
                                                           </button>
                                                                </span>

                                                </div>
                                                <span ng-repeat="(error, errortext) in msg1.payment_date"
                                                      class="font-red-pink bold help-inline"
                                                      ng-show="status1=='failed_valid' && 'msg1.payment_date' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="control-label bold">{{'currency'| translate}}<span class="font-red-pink bold" >*</span></label>
                                                <div class="input-group">
                                                    <ui-select name="currency_id" ng-model="payment.currency_id" ng-change="msg1.currency_id = [ ] "theme="bootstrap" required
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in currency | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                            <button type="button" ng-click="payment.currency_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                                </div>
                                                <span ng-repeat="(error, errortext) in msg1.currency_id"
                                                      class="font-red-pink bold help-inline"
                                                      ng-show="status1=='failed_valid' && 'msg1.currency_id' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="control-label bold">{{'payment_exchange'| translate}}<span class="font-red-pink bold" >*</span></label>
                                                <select class="form-control" name="payment_exchange" ng-change="msg1.payment_exchange = [ ] " ng-model="payment.payment_exchange">
                                                    <option disabled selected value>{{'payment_exchange'| translate}}  </option>
                                                    <option value="0">{{'currency'| translate}}</option>
                                                    <option value="1">{{'shekel'| translate}}</option>
                                                </select>
                                                <span ng-repeat="(error, errortext) in msg1.payment_exchange"
                                                      class="font-red-pink bold help-inline"
                                                      ng-show="status1=='failed_valid' && 'msg1.payment_exchange' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                                            </div>

                                        </div>
                                    </div>
                                    <div  class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="control-label bold">{{'shekel exchange rate'| translate}}<span class="font-red-pink bold" >*</span></label>
                                                <input type="number" class="form-control"  min="0" step="0.01" ng-value="0" value="0"
                                                       ng-change="setExchangeRate(payment.exchange_rate)" ng-model="payment.exchange_rate"  name="exchange_rate"
                                                       ng-required="true"
                                                />
                                                <span ng-repeat="(error, errortext) in msg1.exchange_rate"
                                                      class="font-red-pink bold help-inline"
                                                      ng-show="status1=='failed_valid' && 'msg1.exchange_rate' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="control-label bold"> {{'exchange date'| translate}} <span class="font-red-pink bold" >*</span></label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"  uib-datepicker-popup="{{format}}"
                                                           ng-model="payment.exchange_date" datepickerPopup
                                                           name="exchange_date" ng-required="true"
                                                           is-open="popup1.opened" datepicker-options="dateOptions" readonly
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"
                                                           ng-change="msg1.exchange_date = [ ]"/>
                                                    <span class="input-group-btn">
                                                           <button type="button" class="btn btn-default" ng-click="open1($event)">
                                                               <i class="glyphicon glyphicon-calendar"></i>
                                                           </button>
                                                                </span>

                                                </div>
                                                <span ng-repeat="(error, errortext) in msg1.exchange_date"
                                                      class="font-red-pink bold help-inline"
                                                      ng-show="status1=='failed_valid' && 'msg1.exchange_date' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="control-label bold">{{'exchange_type'| translate}}<span class="font-red-pink bold" >*</span></label>
                                                <select class="form-control" name="exchange_type" ng-change="resetBank()" ng-model="payment.exchange_type">
                                                    <option disabled selected value>{{'select exchange type'| translate}}  </option>
                                                    <option value="1"> {{'Bank deposit'| translate}}</option>
                                                    <option value="2">{{'Bank check'| translate}} </option>
                                                    <option value="4"> {{'ID card'| translate}} </option>
                                                    <option value="3">{{'Internal check'| translate}} </option>
                                                </select>
                                                <span ng-repeat="(error, errortext) in msg1.exchange_type"
                                                      class="font-red-pink bold help-inline"
                                                      ng-show="status1=='failed_valid' && 'msg1.exchange_type' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                                            </div>

                                        </div>

                                    </div>
                                    <div  class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="control-label bold">{{'organization share'| translate}}<span class="font-red-pink bold" >*</span></label>
                                                <input type="number" class="form-control"  min="0" step="0.01" ng-value="0"
                                                       value="0" ng-model="payment.organization_share"  name="organization_share"
                                                       ng-change="setOrgShare(payment.organization_share)"  ng-required="true"/>
                                                <span ng-repeat="(error, errortext) in msg1.organization_share"
                                                      class="font-red-pink bold help-inline"
                                                      ng-show="status1=='failed_valid' && 'msg1.organization_share' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="control-label bold">{{'administration fees'| translate}}<span class="font-red-pink bold" >*</span></label>
                                                <input type="text" class="form-control" ng-model="payment.administration_fees" decimal-numbers name="administration_fees"
                                                       ng-change="setFee(payment.administration_fees)"   ng-required="true"/>
                                                <span ng-repeat="(error, errortext) in msg1.administration_fees"
                                                      class="font-red-pink bold help-inline"
                                                      ng-show="status1=='failed_valid' && 'msg1.administration_fees' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group ">
                                                <label class="control-label bold">{{'bank_names'| translate}}<span class="font-red-pink bold" >*</span></label>
                                                <div class="input-group">
                                                    <ui-select name="bank_id" ng-change="msg1.bank_id = [ ] " ng-model="payment.bank_id"
                                                               ng-disabled="payment.exchange_type != 1 && payment.exchange_type != 2"
                                                               ng-required="payment.exchange_type == 1 || payment.exchange_type == 2"theme="bootstrap"
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in Banks | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                            <button type="button" ng-click="payment.bank_id = undefined" ng-disabled="payment.exchange_type != 1 && payment.exchange_type != 2" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                                </div>
                                                <span ng-repeat="(error, errortext) in msg1.bank_id"
                                                      class="font-red-pink bold help-inline"
                                                      ng-show="status1=='failed_valid' && 'msg1.bank_id' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                                            </div>

                                        </div>
                                    </div>
                                    <div  class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-4">
                                            <div class="form-group" ng-class="{ 'has-error' : frm.transfer.$invalid && !frm.transfer.$pristine }">
                                                <label class="control-label  bold ">  {{'transfer'| translate}}
                                                    <span class=" font-red-pink bold help-inline"> * </span>
                                                </label>
                                                <select class="form-control"
                                                        ng-init=""
                                                        ng-change="resetTransfer(payment.transfer)"
                                                        name="transfer"
                                                        ng-model='payment.transfer'
                                                        required
                                                >
                                                    <option disabled selected value > --  {{'transfer'| translate}}  -- </option>
                                                    <option  value="0" > {{'direct'| translate}} </option>
                                                    <option  value="1" > {{'transfer_company'| translate}} </option>
                                                </select>

                                                <span class="font-red-pink bold help-inline" ng-show="frm.transfer.$error.required && frm.transfer.$touched">
                                            {{'required_field'| translate}}
                    </span>
                                                <span ng-repeat="(error, errortext) in msg1.transfer" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.transfer' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4" ng-if="payment.transfer == 1 || payment.transfer == '1'">
                                            <div class="form-group" ng-class="{ 'has-error' : frm.transfer_company_id.$invalid && !frm.transfer_company_id.$pristine }">
                                                <label class="control-label bold">{{'transfer_company_name'| translate}}
                                                    <span class=" font-red-pink bold help-inline"> * </span>
                                                </label>
                                                <div class="input-group">
                                                    <ui-select name="transfer_company_id" ng-model="payment.transfer_company_id" theme="bootstrap" ng-change="msg1.transfer_company_id = [ ]"                                                ng-required="payment.transfer == 1 || payment.transfer == '1'"
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in transferCompany | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                            <button type="button" ng-click="payment.transfer_company_id = undefined"  class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                                </div>

                                                <span class="font-red-pink bold help-inline" ng-show="frm.transfer_company_id.$error.required && frm.transfer_company_id.$touched">
                                                        {{'required_field'| translate}}
                                </span>
                                                <span ng-repeat="(error, errortext) in msg1.transfer_company_id" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.transfer_company_id' != [ ]" >
                                         {{ errortext.toString() }}
                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div  class="col-md-12 col-sm-12 col-xs-12" >
                                        <div  class="col-md-12 col-sm-12 col-xs-12" ng-show="form.$valid">
                                            <label class="btn green-turquoise btn-action btn-sm pull-left"  ng-disabled="form.$invalid">
                                                <input type="file" nv-file-select=""
                                                       style="display: none" uploader="uploader" onchange="angular.element(this).scope().fileUpload(this)"/>
                                                <i class="fa fa-paperclip"></i>
                                                <span> {{'from file'| translate}}</span>
                                            </label>

                                        </div>
                                        <div class="col-md-12   text-center"  style="padding-top: 2%; padding-bottom: 2%;"ng-if="statistic.length > 0 " >
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" style="margin-top: 0%;" >
                                                <thead>
                                                <tr style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">
                                                    <th> {{'governarate_name'| translate}}</th>
                                                    <th class="text-center" ng-repeat=" x in statistic" > {{x.category_name}} </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td> {{'amount_in_currency'| translate}}</td>
                                                    <td class="text-center" ng-repeat=" x in statistic" > {{x.amount}} </td>
                                                </tr>
                                                <tr>
                                                    <td> {{'shekel_amount'| translate}}</td>
                                                    <td class="text-center" ng-repeat=" x in statistic" > {{x.shekel_amount}} </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

