<style>

    .disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: .65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .dropdown-menu{
        min-width:10px;
        left: 0
    }
    .btn-group>.dropdown-menu:before, .dropdown-toggle>.dropdown-menu:before, .dropdown>.dropdown-menu:before{
        right: auto !important;
        left: 9px !important;
    }
    .btn-group>.dropdown-menu:after, .dropdown-toggle>.dropdown-menu:after, .dropdown>.dropdown-menu:after{
        right: auto !important;
        left: 9px !important;
    }
    .fixed_dropdown{
        position: inherit !important;
        margin-right: 0% !important;
    }


</style>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'sponsorships management' | translate }}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li><a href="#/sponsorship/payments/">{{'payments'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li ng-show="!sponsor" ><span> {{'payments list'| translate}}</span></li>
    <li ng-show="sponsor" ><span> {{ sponsor_name }}</span></li>
</ul>
<!-- END PAGE BREADCRUMB -->

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">

                    <h3 ng-show="!sponsor">
                        <span class="fa fa-table"></span> {{'payments list'| translate}}
                    </h3>
                    <h3 ng-show="sponsor">
                        <span class="fa fa-table"></span> <span> {{'payment'| translate}}</span>
                        <span> {{ sponsor_name }}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 20px">
                    <div class="clearfix">
                        <button uib-tooltip="{{'advanced_search'| translate}}" class=" btn yellow-saffron "type="button" ng-click="toggleCustom()" >
                            <span class="icon-magnifier"></span>
                            <span class="hidden-sm hidden-md  hidden-xs">{{'advanced_search'| translate}}</span>
                        </button>
                        <div class="btn-group btn-group-solid " style="{{'templates and instructions'| translate}}" ng-if="can('sponsorship.payments.upload')">
                            <button type="button" class="btn green-turquoise  dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-file-o"></i>
                                <span class="hidden-sm hidden-md  hidden-xs"> {{'templates and instructions'| translate}}</span>
                                <i class="hidden-sm hidden-md  hidden-xs"class="glyphicon glyphicon-menu-down"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a  ng-click="download('template_instruction',null)">
                                        <span class="fa fa-file-pdf-o" style="margin-left: 3%;"></span>
                                        <span style="margin-left: 4%;"> {{'template instructions'| translate}}</span>
                                    </a>
                                </li>
                                <li ng-show="!has_cheque_template" >
                                    <a href="javascript:;"  ng-click="ChooseTemplate(-1,'new')" >
                                        <span style="margin-left:3%;" class="fa fa-upload"></span>
                                        {{'select default cheque template'| translate}}
                                    </a>
                                </li>
                                <li  ng-show="has_cheque_template">
                                    <a ng-click="download('default_template',null)">
                                        <span class="fa fa-download" style="margin-left: 3%;"></span>
                                        <span  style="margin-left: 4%;"> {{'download template'| translate}}</span>
                                    </a>
                                </li>

                                <li ng-show="has_cheque_template">
                                    <a href="javascript:;"  ng-click="ChooseTemplate(-1,'edit')" >
                                        <span class="fa fa-upload" style="margin-left: 3%;"></span>
                                        <span  style="margin-left: 4%;"> {{'reload default cheque template'| translate}}</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div uib-tooltip=" {{'add Payment'| translate}}" class="btn-group btn-group-solid ">
                            <button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="fa fa-ellipsis-horizontal"></span>
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="hidden-sm hidden-md  hidden-xs">{{'add Payment'| translate}}</span>
                                <span class="glyphicon glyphicon-menu-down"></span>
                            </button>
                            <ul class="dropdown-menu" style="width: 150px;">
                                <li>
                                    <a href="{{'#/sponsorship/payment/details/new/'}}">
                                        <span class="glyphicon glyphicon-plus" style="margin-left: 3%;"></span>
                                        <span>  {{'manually'| translate}}</span>

                                    </a>
                                </li>
                                <li>
                                    <a href="{{'#/sponsorship/payment/import'}}">
                                        <span class="fa fa-upload" style="margin-left: 3%;"></span>
                                        <span>  {{'from excel'| translate}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-10" ng-hide="custom"  style=" box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                            <div class="col-md-12 col-sm-12 col-xs-12" ng-if="can('sponsorship.payments.search')" style="margin-bottom:25px;">
                                <div class="col-md-4 col-md-offset-2 col-sm-12 col-xs-12"   >
                                    <div class="form-group" style="padding-top:25px;">
                                        <label class="control-label bold">
                                                      <span ng-if="payment.all_organization" class="checker">
                                                            <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                   ng-model="payment.all_organization" ng-true-value="true" ng-false-value="false">
                                                      </span>
                                            <span ng-if="!payment.all_organization">
                                                            <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                   ng-model="payment.all_organization" ng-true-value="true" ng-false-value="false">
                                                      </span>
                                            <span >{{'search in all organization'| translate}}</span>
                                        </label>
                                    </div>

                                </div>
                                <div class="col-md-4 col-sm-12 col-xs-12"ng-if="can('sponsorship.payments.search')">
                                    <div class="form-group">
                                        <label class=" control-label bold">{{'organization_name'| translate}}</label>
                                        <multiselect  ng-model="payment.organization_id" ng-if="Org"
                                                      ng-class="payment.all_organization? '' : 'inactive'"
                                                      options="Org" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                        </multiselect>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" >
                                <div class="col-md-3" ng-show="!sponsor">
                                    <div class="form-group ">
                                        <label class=" control-label bold">{{'sponsorship_authority'| translate}}</label>
                                        <div class="input-group">
                                            <ui-select name="sponsor_id" ng-model="payment.sponsor_id" theme="bootstrap" ng-change="getsponsorshipsList(payment.sponsor_id)"
                                                       class="text-right" >
                                                <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in Sponsors | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="payment.sponsor_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class=" control-label bold">{{'nomination_list'| translate}}</label>
                                        <div class="input-group">
                                            <ui-select name="sponsorship_id" ng-model="payment.sponsorship_id" theme="bootstrap"
                                                       class="text-right" >
                                                <ui-select-match >{{$select.selected.sponsorship_number}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in sponsorshipList | filter: $select.search">
                                                    <div ng-bind-html="item.sponsorship_number | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="payment.sponsorship_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" >
                                    <div class="form-group">
                                        <label class=" control-label bold">{{'max amount'| translate}}</label>
                                        <input type="text" class="form-control" decimal-numbers ng-model="payment.max_amount"  name="max_amount"/>
                                    </div>
                                </div>
                                <div class="col-md-3" >
                                    <div class="form-group">
                                        <label class=" control-label bold">{{'min amount'| translate}}</label>
                                        <input type="text" class="form-control" decimal-numbers ng-model="payment.min_amount"  name="min_amount"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" >
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class=" control-label bold">{{'currency'| translate}}</label>
                                        <div class="input-group">
                                            <ui-select  name="currency_id" ng-model="payment.currency_id"
                                                        theme="bootstrap"class="text-right" >
                                                <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in currency | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="payment.currency_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class=" control-label bold">{{'exchange_type'| translate}}</label>
                                        <select class="form-control" name="exchange_type" ng-model="payment.exchange_type">
                                            <option selected value>{{'exchange_type'| translate}}  </option>
                                            <option value="1"> {{'Bank deposit'| translate}}</option>
                                            <option value="2">{{'Bank check'| translate}} </option>
                                            <option value="4"> {{'ID card'| translate}} </option>
                                            <option value="3">{{'Internal check'| translate}} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class=" control-label bold">{{'payment_exchange'| translate}}</label>
                                        <select class="form-control" name="payment_exchange" ng-model="payment.payment_exchange">
                                            <option selected value>{{'payment_exchange'| translate}}  </option>
                                            <option value="0">{{'currency'| translate}}</option>
                                            <option value="1">{{'shekel'| translate}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class=" control-label bold">{{'payment_target'| translate}}</label>
                                        <select class="form-control" name="payment_target" ng-model="payment.payment_target">
                                            <option selected value>{{'payment_target'| translate}}  </option>
                                            <option value="0"> {{'person'| translate}}  </option>
                                            <option value="1"> {{'guardian'| translate}} </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" >
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class="control-label bold">{{'bank_name'| translate}}</label>
                                        <div class="input-group">
                                            <ui-select name="bank_id" ng-model="payment.bank_id" theme="bootstrap"
                                                       class="text-right" >
                                                <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in Banks | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="payment.bank_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class=" control-label bold">{{'payment status'| translate}}</label>
                                        <select class="form-control" name="status" ng-model="payment.status">
                                            <option selected value>{{'select payment status'| translate}}  </option>
                                            <option value="1">{{'done'| translate}}</option>
                                            <option value="2"> {{'finish'| translate}}</option>
                                            <option value="3">{{'in progress'| translate}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class=" control-label bold"> {{'begin exchange date'| translate}} </label>
                                        <div  class="input-group">
                                            <input type="text" class="form-control"  uib-datepicker-popup="{{format}}" ng-model="payment.start_exchange_date" datepickerPopup
                                                   name="start_exchange_date" is-open="popup8.opened" datepicker-options="dateOptions" readonly date-disabled="disabled(date, mode)"
                                                   clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                            <span class="input-group-btn">
                                                                                       <button type="button" class="btn btn-default" ng-click="open8($event)">
                                                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                                                       </button>
                                                                             </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class=" control-label bold"> {{'end exchange date'| translate}} </label>
                                        <div  class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="payment.end_exchange_date" datepickerPopup
                                                   name="end_exchange_date" is-open="popup1.opened" datepicker-options="dateOptions"  readonly date-disabled="disabled(date, mode)"
                                                   clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                            <span class="input-group-btn">
                                                                                       <button type="button" class="btn btn-default" ng-click="open1($event)">
                                                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                                                       </button>
                                                                             </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" >
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class=" control-label bold"> {{'begin payment date'| translate}} </label>
                                        <div  class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="payment.start_payment_date"
                                                   datepickerPopup name="start_payment_date" is-open="popup7.opened" datepicker-options="dateOptions"  readonly
                                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                            <span class="input-group-btn">
                                                                                       <button type="button" class="btn btn-default" ng-click="open7($event)">
                                                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                                                       </button>
                                                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class=" control-label bold"> {{'end payment date'| translate}} </label>
                                        <div  class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="payment.end_payment_date"
                                                   datepickerPopup name="end_payment_date" is-open="popup3.opened" datepicker-options="dateOptions"  readonly
                                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                            <span class="input-group-btn">
                                                                                       <button type="button" class="btn btn-default" ng-click="open3($event)">
                                                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                                                       </button>
                                                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" >
                                    <div class="form-group">
                                        <label class=" control-label bold">{{'min no of beneficiary'| translate}}</label>
                                        <input type="text" class="form-control"  numeric-only  ng-model="payment.min_beneficiary_no"  name="min_beneficiary_no"/>
                                    </div>
                                </div>
                                <div class="col-md-3" >
                                    <div class="form-group">
                                        <label class=" control-label bold">{{'max no of beneficiary'| translate}}</label>
                                        <input type="text" class="form-control"  numeric-only  ng-model="payment.max_beneficiary_no"  name="max_beneficiary_no"/>
                                    </div>
                                </div>
                            </div>
                            <!--                                </div>-->
                            <div class="col-md-12 col-sm-12 col-xs-12" >
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class="control-label bold">{{'payment_category'| translate}}</label>
                                        <div class="input-group">
                                            <ui-select name="category_id" ng-model="payment.category_id" theme="bootstrap"
                                                       class="text-right" >
                                                <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in paymentCategory | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="payment.category_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class="control-label  bold ">  {{'transfer'| translate}}</label>
                                        <select class="form-control"
                                                ng-init=""
                                                ng-change="resetTransfer(payment.transfer)"
                                                name="transfer"
                                                ng-model='payment.transfer'
                                                required
                                        >
                                            <option disabled selected value > --  {{'transfer'| translate}}  -- </option>
                                            <option  value="0" > {{'direct'| translate}} </option>
                                            <option  value="1" > {{'transfer_company'| translate}} </option>
                                        </select>

                                        <span class="font-red-pink bold help-inline" ng-show="frm.transfer.$error.required && frm.transfer.$touched">
                                            {{'required_field'| translate}}
                    </span>
                                        <span ng-repeat="(error, errortext) in msg1.transfer" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.transfer' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                                    </div>
                                </div>
                                <div class="col-md-3" ng-if="payment.transfer == 1 || payment.transfer == '1'">
                                    <div class="form-group ">
                                        <label class="control-label bold">{{'transfer_company_name'| translate}}</label>
                                        <div class="input-group">
                                            <ui-select name="transfer_company_id" ng-model="payment.transfer_company_id" theme="bootstrap" class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in transferCompany | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                            <button type="button" ng-click="payment.transfer_company_id = undefined"  class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                        </div>

                                        <span class="font-red-pink bold help-inline" ng-show="frm.transfer_company_id.$error.required && frm.transfer_company_id.$touched">
                                                        {{'required_field'| translate}}
                                </span>
                                        <span ng-repeat="(error, errortext) in msg1.transfer_company_id" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.transfer_company_id' != [ ]" >
                                         {{ errortext.toString() }}
                                </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12" >
                                <div class="col-md-2 pull-right" style="margin-top: 2%;">
                                    <button class="btn blue" style="width:100%;" ng-click="Search(payment,'filter')" type="button" >
                                        <span>{{'search'| translate}} </span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                            <div class="col-md-4" ng-show="items.length > 0 ">
                                <table class="pull-left table table-striped table-bordered order-column text-center">
                                    <tr>
                                        <td class="bold col-md-7" style="background-color: #f3f3f3!important; color: #337ab7;"> {{'payments total'| translate}}</td>
                                        <td class="bold col-md-5">{{TotalPayments}}</td>
                                    </tr>
                                </table>
                            </div>
                            <button type="button" class="btn blue" ng-click="Search(payment,'export')" ng-show="items.length > 0 ">
                                <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                                <span>{{'export result'| translate}}</span>
                            </button>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-10">
                            <label ng-show="items.length > 0 ">{{'show' | translate}}
                                <select
                                        class="form-control input-sm input-inline" ng-init=""
                                        ng-change="itemsPerPage_(itemsCount)"
                                        name="itemsCount"
                                        ng-model='itemsCount'>
                                   <option value="50">50</option><option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                    <option value="-1">{{'show_All' | translate}}</option>
                                </select>
                            </label>
                            <form class="form-inline search-form pull-right" >
                                <div class="input-group">
                                    <input type="text" ng-model="search" autofocus class="form-control" placeholder="{{'search'| translate}} " name="search">
                                </div>
                            </form>
                        </div>
                        <!-- BEGIN TABLE -->
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px;" ng-show="items.length > 0 ">
                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" style="margin-top: 0%;" >
                                    <thead>
                                    <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                        <th class="text-center" > {{'#'| translate}} </th>
                                        <th ng-show="master" class="text-center" ng-click="sort_('organizations_name')">{{'organizations_name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('organizations_name') != -1  ||  sortKeyArr_un_rev.indexOf('organizations_name') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('organizations_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('organizations_name') != -1}"> </span>
                                        </th>
                                        <th ng-show="!sponsor" class="text-center" ng-click="sort_('sponsor_name')">{{'sponsorship_authority'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('sponsor_name') != -1  ||  sortKeyArr_un_rev.indexOf('sponsor_name') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('sponsor_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('sponsor_name') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('payment_category')">{{'payments_category_name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('payment_category') != -1  ||  sortKeyArr_un_rev.indexOf('payment_category') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('payment_category') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('payment_category') != -1}"> </span>
                                        </th>
                                        <th class="text-center" style="width: 4%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"ng-click="sort('guaranteed')">{{'guaranteed_total'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='guaranteed'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"ng-click="sort_('amount')">{{'amount'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('amount') != -1  ||  sortKeyArr_un_rev.indexOf('amount') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('amount') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('amount') != -1}"> </span>
                                        </th>
                                        <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"ng-click="sort_('shekel_amount')">{{'amount in shikel'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('amount') != -1  ||  sortKeyArr_un_rev.indexOf('amount') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('amount') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('amount') != -1}"> </span>
                                        </th>
                                        <th class="text-center" style="width: 7%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"ng-click="sort_('payment_date')">{{'payment date'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('payment_date') != -1  ||  sortKeyArr_un_rev.indexOf('payment_date') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('payment_date') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('payment_date') != -1}"> </span>
                                        </th>
                                        <th class="text-center" style="width: 7%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"ng-click="sort_('exchange_date')">{{'exchange date'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('exchange_date') != -1  ||  sortKeyArr_un_rev.indexOf('exchange_date') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('exchange_date') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('exchange_date') != -1}"> </span>
                                        </th>
                                        <th class="text-center" style="width: 4%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"ng-click="sort_('organization_share')"> {{'organization share'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('organization_share') != -1  ||  sortKeyArr_un_rev.indexOf('organization_share') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('organization_share') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('organization_share') != -1}"> </span>
                                        </th>
                                        <th class="text-center" style="width: 4%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;" ng-click="sort_('administration_fees')"> {{'administration fees'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('administration_fees') != -1  ||  sortKeyArr_un_rev.indexOf('administration_fees') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('administration_fees') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('administration_fees') != -1}"> </span>
                                        </th>
                                        <th class="text-center" style="width: 4%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;" ng-click="sort('signature_sheet')"> {{'signature_sheet'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='signature_sheet'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" style="width: 4%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"ng-click="sort('organization_sheet')"> {{'organization_sheet'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='organization_sheet'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" style="width: 4%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"ng-click="sort('Receipt_of_receipt')"> {{'Receipt_of_receipt'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='Receipt_of_receipt'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center"> {{'operations'| translate}}  </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="item in items|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage" >
                                        <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                        <td ng-show="master">{{item.organizations_name}}</td>
                                        <td ng-show="!sponsor" >{{item.sponsor_name}}</td>
                                        <td>{{item.payment_category}} </td>
                                        <!--                                    <td>{{item.Beneficiary}} </td>-->
                                        <td>{{item.guaranteed}} </td>
                                        <td>{{item.amount | number:0}}  <br> {{item.currency}}</td>
                                        <td>{{item.shekel_amount | number:0}}</td>
                                        <td>{{item.payment_date}} </td>
                                        <td>{{item.exchange_date}} </td>

                                        <td>{{item.organization_share}}</td>
                                        <td>{{item.administration_fees | number:0}}</td>
                                        <td>
                                            <a class="fa fa-check"
                                               doc-file-download data-url="/doc/files/download/{{item.signature_sheet_id}}"
                                               ng-if="item.signature_sheet_id">
                                            </a>
                                            <span  class="fa fa-times bold font-red-pink" ng-if="!item.signature_sheet_id"></span>
                                        </td>
                                        <td>
                                            <a class="fa fa-check"
                                               doc-file-download data-url="/doc/files/download/{{item.organization_sheet_id}}"
                                               ng-if="item.organization_sheet_id">
                                            </a>
                                            <span  class="fa fa-times bold font-red-pink" ng-if="!item.organization_sheet_id"></span>
                                        </td>
                                        <td>
                                            <a class="fa fa-check"
                                               doc-file-download data-url="/doc/files/download/{{item.receipt_of_receipt_id}}"
                                               ng-if="item.receipt_of_receipt_id">
                                            </a>
                                            <span  class="fa fa-times bold font-red-pink" ng-if="!item.receipt_of_receipt_id"></span>
                                        </td>
                                        <td>

                                            <div style="margin-left:0.5%;"class="btn-group btn-group-solid" >
                                                <button type="button" class="btn btn-xs blue dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                    <span class="glyphicon glyphicon-cog"></span>
                                                    <span>  {{'operations'| translate}} </span>
                                                    <span class="glyphicon glyphicon-menu-down"></span>
                                                </button>
                                                <ul class="dropdown-menu" ng-class="fixed_dropdownn($index,CurrentPage,items.length)">
                                                    <li ng-if="can('sponsorship.payments.update')">
                                                        <a href="{{'#/sponsorship/payment/details/edit/'+ item.id}}" class="iconify">
                                                            <span class="fa fa-edit"  style="margin-right: 2%;"></span>
                                                            <span style="margin-left: 4%;">   {{'edit'| translate}} </span>
                                                        </a>
                                                    </li>
                                                    <li ng-if="can('sponsorship.payments.create')">
                                                        <a ng-click = "duplicate(item.id)" class="iconify">
                                                            <span class="fa fa-clone"  style="margin-right: 2%;"></span>
                                                            <span style="margin-left: 4%;">   {{'duplicate'| translate}} </span>
                                                        </a>
                                                    </li>
                                                    <li ng-if="can('sponsorship.payments.delete')">
                                                        <a ng-click="manage(item.id,'delete')" class="iconify">
                                                            <span class="fa fa-trash-o"  style="margin-right: 2%;"></span>
                                                            <span style="margin-left: 4%;">   {{'delete'| translate}} </span>
                                                        </a>
                                                    </li>
                                                    <li ng-if="can('sponsorship.payments.delete')">
                                                        <a ng-click="manage(item.id,'empty')" class="iconify">
                                                            <span class="fa fa-refresh"  style="margin-right: 2%;"></span>
                                                            <span style="margin-left: 4%;"> {{'empty payment' | translate }} </span>
                                                        </a>
                                                    </li>
                                                    <li ng-show="item.Beneficiary != '0'" class="divider"></li>
                                                    <li  ng-show="item.Beneficiary != '0'">
                                                        <a href="#" class="iconify disabled text-left">
                                                            <span style="margin-right: 2%;"></span>
                                                            <span style="margin-left: 4%;">  {{'export list'| translate}} :   </span>
                                                        </a>
                                                    </li>
                                                    <li  ng-show="item.Beneficiary != '0'">
                                                        <a ng-click="export(item.id,0)" class="iconify">
                                                            <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                                                            <span style="margin-left: 4%;">  {{'all guaranteed'| translate}} </span>
                                                        </a>
                                                    </li>
                                                    <li  ng-show="item.Beneficiary != '0'">
                                                        <a ng-click="export(item.id,2)" class="iconify">
                                                            <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                                                            <span style="margin-left: 4%;">  {{'old guaranteed'| translate}} </span>
                                                        </a>
                                                    </li>
                                                    <li  ng-show="item.Beneficiary != '0'">
                                                        <a ng-click="export(item.id,1)" class="iconify">
                                                            <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                                                            <span style="margin-left: 4%;"> {{'new guaranteed'| translate}}</span>
                                                        </a>
                                                    </li>
                                                    <li  ng-show="item.Beneficiary != '0'">
                                                        <a ng-click="export(item.id,3)" class="iconify">
                                                            <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                                                            <span style="margin-left: 4%;">  {{'no payment amount' | translate }} </span>
                                                        </a>
                                                    </li>
                                                    <li  ng-show="item.Beneficiary != '0'">
                                                        <a ng-click="export(item.id,4)" class="iconify">
                                                            <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                                                            <span style="margin-left: 4%;">    {{'beneficiary list'| translate}} </span>
                                                        </a>
                                                    </li>
                                                    <li  ng-show="item.Beneficiary != '0'">
                                                        <a ng-click="export(item.id,5)" class="iconify">
                                                            <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                                                            <span style="margin-left: 4%;">    {{'recipient list'| translate}} </span>
                                                        </a>
                                                    </li>
                                                    <li  ng-show="item.Beneficiary != '0'">
                                                        <a ng-click="export(item.id,6)" class="iconify">
                                                            <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                                                            <span style="margin-left: 4%;">  {{'signature list' | translate}} </span>
                                                        </a>
                                                    </li>
                                                    <li >
                                                        <a  ng-show="item.Beneficiary != '0'" ng-click="exportCustom(item.id)" class="iconify">
                                                            <span class="fa fa-file-pdf-o"  style="margin-right: 2%;"></span>
                                                            <span style="margin-left: 4%;">   {{'district_sheet'| translate}} </span>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                    <span class="bold ">{{'number of total items'| translate}}   :   </span>
                                    <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                    <span class="bold ">{{'row'| translate}}</span>
                                </div>
                                <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                            </div>
                        </div>
                        <!-- END TABLE -->
                        <div ng-if="items.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 10px; margin-bottom: 20px">
                            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show'| translate}}
                                                                    </span>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

