<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'sponsorships management' | translate }}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li><a href="#/sponsorship/payments/">{{'payments'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li><a href="#/sponsorship/payments/">{{'Persons Payments'| translate}}</a>
        <i ng-show="!sponsor"class="glyphicon glyphicon-menu-right"></i>
    </li>
    <li ng-show="!sponsor" ><span> {{'payments list'| translate}}</span></li>
    <li ng-show="sponsor" ><span> {{ sponsor_name }}</span></li>

</ul>
<!-- END PAGE BREADCRUMB -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="font-dark"></i>
                        <h3>
                            <span class="fa fa-table"></span>
                            <span> {{'Persons Payments'| translate}}</span>
                        <span ng-show="sponsor">
                            <span> {{ sponsor_name }}</span>
                        </span>
                        </h3>

                    </div>
                    <div class="actions" style="padding-top: 20px">
                        <div class="clearfix">
                            <button uib-tooltip="{{'advanced_search'| translate}}" class=" btn blue  "type="button" ng-click="toggleCustom()" >
                                <span class="icon-magnifier"></span>
                                <span class="hidden-sm hidden-md  hidden-xs">{{'advanced_search'| translate}}</span>
                            </button>
                       </div>
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="row text-center">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                             <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="padding:0 2%; margin-top: 1%;"  ng-hide="custom">
                                <div class="row" style="margin-bottom: 2%; box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                                    <div class="col-md-12 pull-left" >
                                        <div class="col-md-12 col-sm-12 col-xs-12" ng-if="!sponsor || can('sponsorship.payments.search')" style="margin-bottom:25px;">
                                            <div class="col-md-3 col-sm-12 col-xs-12" ng-if="can('sponsorship.payments.search')"   >
                                                <div class="form-group" style="padding-top:25px;">
                                                    <label class="control-label bold">
                                                      <span ng-if="filter.all_organization" class="checker">
                                                            <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                   ng-model="filter.all_organization" ng-true-value="true" ng-false-value="false">
                                                      </span>
                                                        <span ng-if="!filter.all_organization">
                                                            <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                   ng-model="filter.all_organization" ng-true-value="true" ng-false-value="false">
                                                      </span>
                                                        <span >{{'search in all organization'| translate}}</span>
                                                    </label>
                                                </div>

                                            </div>
                                            <div class="col-md-3 col-sm-12 "ng-if="can('sponsorship.payments.search')">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'organization_name'| translate}}</label>
                                                    <multiselect  ng-model="filter.organization_id" ng-if="Org"
                                                                  ng-class="filter.all_organization? '' : 'inactive'"
                                                                  options="Org" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                                    </multiselect>
                                                </div>
                                            </div>
                                            <div class="col-md-3" ng-show="!sponsor">
                                                <div class="form-group ">
                                                    <label class="control-label bold text-center">{{'sponsorship_authority'| translate}}</label>
                                                    <div class="input-group">
                                                        <ui-select name="sponsor_id" ng-model="filter.sponsor_id" ng-change="getsponsorshipsList(filtersponsor_id)"
                                                                   theme="bootstrap"class="text-right" >
                                                            <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in Sponsor | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                                <button type="button" ng-click="filter.sponsor_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12" >

                                         <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold text-center">{{'category_name'| translate}}</label>
                                                <div class="input-group">
                                                    <ui-select name="category_id" ng-model="filter.category_id" theme="bootstrap"class="text-right" >
                                                        <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in sponsorCategories_ | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                                <button type="button" ng-click="filter.category_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold text-center">{{'status'| translate}}</label>
                                                <select class="form-control"  ng-model="filter.status" name="status">
                                                    <option selected value> --  {{'status'| translate}}   -- </option>
                                                    <option  value="1" >{{'new_guaranteed'| translate}}</option>
                                                    <option  value="2" > {{'old_guaranteed'| translate}} </option>
                                                    <option  value="3" > {{'no_case_payment_amount'| translate}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold text-center">{{'first_name'| translate}} {{'case'| translate}}</label>
                                                <input type="text" class="form-control" name="first_name"ng-model="filter.first_name" maxlength="45" ng-maxlength="45"/>
                                                <span class=" font-red-pink bold help-inline" ng-show="frmsearch.first_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold text-center">{{'father_name'| translate}} {{'case'| translate}}</label>
                                                <input type="text" class="form-control" name="second_name" ng-model="filter.second_name" maxlength="45" ng-maxlength="45"/>
                                                <span class=" font-red-pink bold help-inline" ng-show="frmsearch.second_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12" >
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold text-center">{{'grandfather_name'| translate}} {{'case'| translate}}</label>
                                                <input type="text" class="form-control" name="third_name" ng-model="filter.third_name" maxlength="45" ng-maxlength="45" />
                                                <span class=" font-red-pink bold help-inline" ng-show="frmsearch.third_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold text-center">{{'father_name'| translate}} {{'case'| translate}}</label>
                                                <input type="text" class="form-control" name="last_name" ng-model="filter.last_name" maxlength="45" ng-maxlength="45"/>
                                                <span class=" font-red-pink bold help-inline" ng-show="frmsearch.last_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group ">
                                                <label class="control-label bold text-center">{{'card_number' | translate }} {{'case'| translate}}</label>
                                                <input type="text" class="form-control" name="id_card_number" ng-model="filter.id_card_number" numeric-only maxlength="9" ng-maxlength="9" ng-pattern="/^[1-9]+[0-9]*$/" />
                                                <span class=" font-red-pink bold help-inline" ng-show="frmpersonal.id_card_number.$error.pattern">  {{'integer_field'| translate}}  </span>
                                                <span class=" font-red-pink bold help-inline" ng-show="frmsearch.id_card_number.$error.pattern"> ( {{'only number'| translate}} ) </span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold text-center">{{'region'| translate}} {{'case'| translate}}</label>
                                                <div class="input-group">
                                                    <ui-select name="location_id" ng-model="filter.location_id" theme="bootstrap"class="text-right" >
                                                        <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in location | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                                <button type="button" ng-click="filter.location_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-md-12 col-sm-12 col-xs-12" >
                                        <div class="col-md-3">
                                            <div class="form-group ">
                                                <label class="control-label bold text-center">{{'card_number' | translate }} ( {{'guardian'| translate}}  )</label>
                                                <input type="text" class="form-control" name="g_id_card_number" ng-model="filter.g_id_card_number"numeric-only maxlength="9"ng-maxlength="9" ng-pattern="/^[1-9]+[0-9]*$/" />
                                                <span class=" font-red-pink bold help-inline" ng-show="frmsearch.g_id_card_number.$error.maxlength"> {{'Field length must not exceed 9'| translate}}</span>
                                                <span class=" font-red-pink bold help-inline" ng-show="frmpersonal.g_id_card_number.$error.pattern">  {{'integer_field'| translate}}  </span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold text-center">{{'first_name'| translate}} ( {{'guardian'| translate}}  )</label>
                                                <input type="text" class="form-control" name="g_first_name" ng-model="filter.g_first_name" maxlength="45"ng-maxlength="45"/>
                                                <span class=" font-red-pink bold help-inline" ng-show="frmsearch.g_first_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold text-center">{{'father_name'| translate}} ( {{'guardian'| translate}}  )</label>
                                                <input type="text" class="form-control" name="g_second_name" ng-model="filter.g_second_name" maxlength="45"ng-maxlength="45"/>
                                                <span class=" font-red-pink bold help-inline" ng-show="frmsearch.g_second_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                            </div>
                                        </div>
                                         <div class="col-md-3">
                                             <div class="form-group">
                                                 <label class="control-label bold text-center">{{'grandfather_name'| translate}} ( {{'guardian'| translate}}  )</label>
                                                 <input type="text" class="form-control" name="g_third_name" ng-model="filter.g_third_name" maxlength="45" ng-maxlength="45" />
                                                 <span class=" font-red-pink bold help-inline" ng-show="frmsearch.g_third_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                             </div>
                                         </div>
                                     </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12" >
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold text-center">{{'family_name'| translate}} ( {{'guardian'| translate}}  )</label>
                                                <input type="text" class="form-control" name="g_last_name" ng-model="filter.g_last_name" maxlength="45"ng-maxlength="45"/>
                                                <span class=" font-red-pink bold help-inline" ng-show="frmsearch.g_last_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-3" >
                                            <div class="form-group">
                                                <label class="control-label bold text-center">{{'min amount'| translate}}</label>
                                                <input type="text" class="form-control" decimal-numbers ng-model="filter.min_amount"  name="min_amount"/>
                                            </div>
                                        </div>
                                            <div class="col-md-3" >
                                                <div class="form-group">
                                                    <label class="control-label bold text-center">{{'max amount'| translate}}</label>
                                                    <input type="text" class="form-control" decimal-numbers ng-model="filter.max_amount"  name="max_amount"/>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class="control-label bold text-center">{{'payment status'| translate}}</label>
                                                    <select class="form-control" name="payment_status" ng-model="filter.payment_status">
                                                        <option selected value>{{'select payment status'| translate}}  </option>
                                                        <option value="1">{{'done'| translate}}</option>
                                                        <option value="2"> {{'finish'| translate}}</option>
                                                        <option value="3">{{'in progress'| translate}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12" >
                                        <div class="col-md-3">
                                            <div class="form-group ">
                                                <label class="control-label bold text-center"> {{'date_from'| translate}}  </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"  uib-datepicker-popup="{{format}}" ng-model="filter.begin_date_from" datepickerPopup
                                                           name="begin_date_from" is-open="popup25.opened" datepicker-options="dateOptions" readonly date-disabled="disabled(date, mode)"
                                                           clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                    <span class="input-group-btn">
                                                                                   <button type="button" class="btn btn-default" ng-click="open25($event)">
                                                                                       <i class="glyphicon glyphicon-calendar"></i>
                                                                                   </button>
                                                                         </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group ">
                                                <label class="control-label bold text-center"> {{'date_from'| translate}} ( {{'to'| translate}}  ) </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"  uib-datepicker-popup="{{format}}" ng-model="filter.end_date_from" datepickerPopup
                                                           name="end_date_from" is-open="popup215.opened" datepicker-options="dateOptions" readonly date-disabled="disabled(date, mode)"
                                                           clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                    <span class="input-group-btn">
                                                                                   <button type="button" class="btn btn-default" ng-click="open215($event)">
                                                                                       <i class="glyphicon glyphicon-calendar"></i>
                                                                                   </button>
                                                                         </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group ">
                                                <label class="control-label bold text-center"> {{'date_to'| translate}} ( {{'from'| translate}}  ) </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="filter.begin_date_to" datepickerPopup
                                                           name="begin_date_to" is-open="popup26.opened" datepicker-options="dateOptions"  readonly date-disabled="disabled(date, mode)"
                                                           clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                    <span class="input-group-btn">
                                                                                   <button type="button" class="btn btn-default" ng-click="open26($event)">
                                                                                       <i class="glyphicon glyphicon-calendar"></i>
                                                                                   </button>
                                                                         </span>
                                                </div>
                                            </div>
                                        </div>
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class="control-label bold text-center"> {{'date_to'| translate}}  ( {{'to'| translate}}  ) </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="filter.end_date_to" datepickerPopup
                                                               name="end_date_to" is-open="popup216.opened" datepicker-options="dateOptions"  readonly date-disabled="disabled(date, mode)"
                                                               clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                        <span class="input-group-btn">
                                                                                   <button type="button" class="btn btn-default" ng-click="open216($event)">
                                                                                       <i class="glyphicon glyphicon-calendar"></i>
                                                                                   </button>
                                                                         </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12" >

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold text-center"> {{'begin payment date'| translate}} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="filter.start_payment_date"
                                                           datepickerPopup name="start_payment_date" is-open="popup8.opened" datepicker-options="dateOptions"  readonly
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                    <span class="input-group-btn">
                                                                                   <button type="button" class="btn btn-default" ng-click="open8($event)">
                                                                                       <i class="glyphicon glyphicon-calendar"></i>
                                                                                   </button>
                                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold text-center"> {{'end payment date'| translate}} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="filter.end_payment_date"
                                                           datepickerPopup name="end_payment_date" is-open="popup1.opened" datepicker-options="dateOptions"  readonly
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                    <span class="input-group-btn">
                                                                                   <button type="button" class="btn btn-default" ng-click="open1($event)">
                                                                                       <i class="glyphicon glyphicon-calendar"></i>
                                                                                   </button>
                                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-2 pull-right" style="margin-top: 2%;">
                                                <button class="btn blue pull-right" style="width:85%;" ng-click="Search(filter,'filter')" type="button" > <span>{{'search'| translate}}</span> </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1%;"  ng-show="items.length > 0 ">
                                <button type="button" class="btn green-turquoise pull-left" ng-click="Search(filter,'export')" style="margin-top:1.1%;"  ng-show="items.length > 0 ">
                                    <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                                    <span>{{'export result'| translate}}</span>
                                </button>
                                <form class="form-inline search-form pull-right" style="margin-top:1%; margin-left:0.3%;"   >
                                    <div class="input-group">
                                        <input type="text" ng-model="search" autofocus class="form-control" placeholder="{{'search'| translate}} " name="search">
                                    </div>
                                </form>
                            </div>
                            <div ng-if="items.length != 0" class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%;">
                                <table class="pull-left table table-striped table-bordered order-column text-center">
                                    <tr>
                                        <td class="bold col-md-7" style="background-color: #f3f3f3!important; color: #337ab7;"> {{'payments total'| translate}}</td>
                                        <td class="bold col-md-5">{{TotalPayments}}</td>
                                    </tr>
                                </table>
                                <div class="row text-left">
                                    <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
                                        <label>{{'show' | translate}}
                                            <select
                                            class="form-control input-sm input-inline" ng-init=""
                                            ng-change="itemsPerPage_(itemsCount)"
                                            name="itemsCount" 
                                            ng-model='itemsCount'>
                                           <option value="50">50</option><option value="100">100</option>
                                            <option value="200">200</option>
                                            <option value="500">500</option>
                                            <option value="1000">1000</option>
                                            <option value="-1">{{'show_All' | translate}}</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                </div>
                            </div>
                                <div class="table-scrollable">

                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" style="margin-top: 0%;" >
                                    <thead>
                                    <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                        <th class="text-center" > {{'#'| translate}} </th>
                                        <th class="text-center" ng-click="sort_('sponsor_number')">{{'sponsor_num'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('sponsor_number') != -1  ||  sortKeyArr_un_rev.indexOf('sponsor_number') != -1  " ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('sponsor_number') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('sponsor_number') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('category_name')">{{'sponsorship_type'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('category_name') != -1  ||  sortKeyArr_un_rev.indexOf('category_name') != -1  " ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('category_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('category_name') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('case_name')">{{'case_name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('case_name') != -1  ||  sortKeyArr_un_rev.indexOf('case_name') != -1  " ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('case_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('case_name') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('id_card_number')">{{'card_number' | translate }}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('id_card_number') != -1  ||  sortKeyArr_un_rev.indexOf('id_card_number') != -1  " ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('id_card_number') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('id_card_number') != -1}"> </span>
                                        </th>
                                        <th ng-show="master" class="text-center" ng-click="sort_('organizations_name')">{{'organizations_name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('organizations_name') != -1  ||  sortKeyArr_un_rev.indexOf('organizations_name') != -1  " ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('organizations_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('organizations_name') != -1}"> </span>
                                        </th>
                                        <th ng-if="!sponsor" class="text-center" ng-click="sort_('sponsor_name')">{{'sponsorship_authority'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('sponsor_name') != -1  ||  sortKeyArr_un_rev.indexOf('sponsor_name') != -1  " ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('sponsor_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('sponsor_name') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('payment_exchange')">{{'payment_exchange'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('payment_exchange') != -1  ||  sortKeyArr_un_rev.indexOf('payment_exchange') != -1  " ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('payment_exchange') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('payment_exchange') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('amount')">{{'amount'| translate}}<br>(  {{'currency'| translate}}  )
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('amount') != -1  ||  sortKeyArr_un_rev.indexOf('amount') != -1  " ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('amount') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('amount') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('exchange_rate')"> {{'exchange_rate'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('exchange_rate') != -1  ||  sortKeyArr_un_rev.indexOf('exchange_rate') != -1  " ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('exchange_rate') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('exchange_rate') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('amount_in_shekel')">{{'amount'| translate}}<br>(  {{'shekel'| translate}}  )
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('amount_in_shekel') != -1  ||  sortKeyArr_un_rev.indexOf('amount_in_shekel') != -1  " ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('amount_in_shekel') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('amount_in_shekel') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('guardian_name')">{{'guardian_name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('guardian_name') != -1  ||  sortKeyArr_un_rev.indexOf('guardian_name') != -1  " ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('guardian_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('guardian_name') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('recipients_name')">{{'recipients_name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('recipients_name') != -1  ||  sortKeyArr_un_rev.indexOf('recipients_name') != -1  " ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('recipients_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('recipients_name') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('date_from')">{{'date_from'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('date_from') != -1  ||  sortKeyArr_un_rev.indexOf('date_from') != -1  " ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('date_from') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('date_from') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('date_to')">{{'date_to'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('date_to') != -1  ||  sortKeyArr_un_rev.indexOf('date_to') != -1  " ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('date_to') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('date_to') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('status')">{{'status'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('status') != -1  ||  sortKeyArr_un_rev.indexOf('status') != -1  " ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('status') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('status') != -1}"> </span>
                                        </th>
                                        <th class="text-center" > {{'operations'| translate}} </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="item in items|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                        <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                        <td>{{item.sponsor_num}}</td>
                                        <td>{{item.category_name}}</td>
                                        <td>{{item.case_name}}</td>
                                        <td>{{item.id_card_number}}</td>
                                        <td ng-show="master">{{item.organizations_name}}</td>
                                        <td ng-if="!sponsor">{{item.sponsor_name}}</td>
                                        <td>
                                            <span ng-show="item.payment_exchange ==0"> {{item.currency}} </span>
                                            <span ng-show="item.payment_exchange ==1"> {{'shekel'| translate}}  </span>
                                        </td>
                                        <td>
                                            {{item.amount}}
                                            <!--                                        <span ng-show="item.payment_exchange ==0"> {{item.amount}} </span>-->
                                            <!--                                        <span ng-show="item.payment_exchange ==1"> {{item.shekel_amount}} </span>-->
                                        </td>
                                        <td>{{item.exchange_rate}}</td>
                                        <td>{{item.shekel_amount | number:0}}</td>
                                        <td>
                                            <span ng-show="item.guardian_name == null">-</span>
                                            <span ng-show="item.guardian_name != null">{{item.guardian_name}}</span>
                                        </td>
                                        <td>
                                            <span ng-show="item.recipients_name == null">-</span>
                                            <span ng-show="item.recipients_name != null">{{item.recipients_name}}</span>
                                        </td>
                                        <td>
                                            <span ng-show="item.date_from == null">-</span>
                                            <span ng-show="item.date_from != null">{{item.date_from}}</span>
                                        </td>
                                        <td>
                                            <span ng-show="item.date_to== null">-</span>
                                            <span ng-show="item.date_to != null">{{item.date_to}}</span>
                                        </td>

                                        <td>
                                            <span ng-show="item.status ==1"> {{'new_guaranteed'| translate}} </span>
                                            <span ng-show="item.status ==2"> {{'old_guaranteed'| translate}} </span>
                                            <span ng-show="item.status ==3">{{'no_case_payment_amount'| translate}}</span>
                                        </td>
                                        <td>
                                            <a
                                                    style="color: #ffffff; margin-top: 1%;"
                                                    class="btn btn-xs blue"
                                                    href="{{'#/sponsorship/cases/show/'+item.case_id+'/payments'}}">
                                                <span class="fa fa-money" style="margin-right: 1%;"></span>
                                                <span  class="hidden-sm hidden-md  hidden-xs">{{'case payment list' | translate }} </span>
                                            </a>
                                        </td>


                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                        <span class="bold ">{{'number of total items'| translate}}   :   </span>
                                        <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                        <span class="bold ">{{'row'| translate}}</span>
                                    </div>
                                    <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                </div>
                            </div>
                            <div ng-if="items.length == 0" class=" col-md-12 col-sm-12 col-xs-12 text-center" style=" margin-top:1%; margin-bottom: 2%">
                                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show'| translate}}
                                                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

