<!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'Dashboard' | translate}}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li> {{'Manage_Repository' | translate}} <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i> </li>
        <li>
            <span> {{'Repositories' | translate}}</span>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="font-dark"></i>
                        <h3>
                            <span class="icon-wallet"></span>
                            <span>{{'Repositories' | translate}}</span>
                        </h3>
                    </div>
                    <div class="actions" style="padding-top: 30px;">
                        <div class="clearfix">
                            <!--<button class="btn  green-turquoise" ng-click="urgent_repository()">-->
                            <!--<span class="fa fa-random"></span>-->
                            <!--<span  class="hidden-sm hidden-md  hidden-xs">{{'urgent_repository'| translate}}</span>-->
                            <!--</button>-->
                            <button class="btn  blue" ng-click="repository_('new',null)">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span  class="hidden-sm hidden-md  hidden-xs">{{'new'| translate}}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                             <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1%;padding-top: 4%;padding-bottom: 2%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                                    <form name="form" method="get"  ng-submit="search()">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center ">

                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label bold">{{'Name' | translate}} </label>
                                                        <input type="text" ng-model="filters.name" autofocus placeholder="{{'Name' | translate}}" class="form-control">

                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="text-center bold control-label "> {{'Status' | translate}} </label>
                                                        <select ng-model="filters.status" class="form-control input-sm">
                                                            <option selected value> --  {{'Status' | translate}} -- </option>
                                                            <option value="1"> {{'Open' | translate}}</option>
                                                            <option value="2">{{'Close' | translate}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="text-center bold control-label "> {{'organization' | translate}} </label>
                                                        <multiselect  ng-model="filters.organization_id" ng-if="organizations_"
                                                                      options="organizations_" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                                        </multiselect>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label  text-center bold">   {{'repository_date' | translate}} ( {{'From_' | translate}} )</label>
                                                        <div  class="input-group">
                                                            <input type="text" class="form-control"
                                                                   uib-datepicker-popup="{{format}}"
                                                                   ng-model="filters.first"
                                                                   datepickerPopup autofocus
                                                                   name="first"
                                                                   is-open="popup1.opened" datepicker-options="dateOptions"
                                                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                            <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open1($event)">
                                                </button>
                                          </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label  text-center bold">   {{'repository_date' | translate}} ( {{'To_'| translate}} )</label>
                                                        <div  class="input-group">
                                                            <input type="text" class="form-control"
                                                                   uib-datepicker-popup="{{format}}"
                                                                   ng-model="filters.last"
                                                                   datepickerPopup
                                                                   name="last"
                                                                   is-open="popup2.opened" datepicker-options="dateOptions"
                                                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                            <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open2($event)">
                                                </button>
                                          </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label  text-center bold">   {{'Created_At' | translate}} ( {{'From_' | translate}} )</label>
                                                        <div  class="input-group">
                                                            <input type="text" class="form-control"
                                                                   uib-datepicker-popup="{{format}}"
                                                                   ng-model="filters.first_created_at"
                                                                   datepickerPopup autofocus
                                                                   name="first"
                                                                   is-open="popup3.opened" datepicker-options="dateOptions"
                                                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                            <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open3($event)">
                                                </button>
                                          </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label  text-center bold">   {{'Created_At' | translate}} ( {{'To_'| translate}} )</label>
                                                        <div  class="input-group">
                                                            <input type="text" class="form-control"
                                                                   uib-datepicker-popup="{{format}}"
                                                                   ng-model="filters.last_created_at"
                                                                   datepickerPopup
                                                                   name="last"
                                                                   is-open="popup4.opened" datepicker-options="dateOptions"
                                                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                            <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open4($event)">
                                                </button>
                                          </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 20px;">
                                                <div class="col-md-12 col-sm-12 col-xs-12 ">
                                                    <div class="clearfix pull-right">
                                                        <button uib-tooltip="{{'show_all' | translate}}" type="button" class="btn yellow-saffron"  ng-click="EmptyThenSearch()">
                                                            <span class="icon-wallet"></span>
                                                            <span  class="hidden-sm hidden-md  hidden-xs">{{'show_all' | translate}}</span>
                                                        </button>
                                                        <div class="btn-group "  uib-dropdown 
                                                                uib-tooltip="{{'export result'| translate}}" >
                                                                <button id="single-button" type="button" 
                                                                        ng-show="repositories.length !=0 "
                                                                        class="btn   yellow-casablanca" uib-dropdown-toggle ng-disabled="disabled">
                                                                    <span style="margin-right:3%;" class="fa fa-bar-chart"></span>
                                                                    <span class="hidden-sm hidden-md  hidden-xs"> {{'statistic'| translate}}</span>
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" 
                                                                    style="min-width: 90px;"  aria-labelledby="split-button">
                                                                    <li>
                                                                        <a ng-click="searchWithFilter(false ,filters,'statistic')" class="iconify">
                                                                            <i  class="fa fa-file-excel-o" style="margin-left: 4%"></i>{{'All'| translate}}</a>
                                                                    </li>
                                                                     <li>
                                                                        <a ng-click="searchWithFilter(true ,filters,'statistic')" class="iconify">
                                                                            <i  class="fa fa-file-excel-o" style="margin-left: 4%"></i> {{'selected'| translate}}</a>
                                                                    </li>
                                                                </ul>
                                                        </div>
                                                        <div class="btn-group "  uib-dropdown                                                                  uib-tooltip="{{'export result'| translate}}" >
                                                                <button id="single-button" type="button" 
                                                                        ng-show="repositories.length !=0 "
                                                                        class="btn  green-turquoise" uib-dropdown-toggle ng-disabled="disabled">
                                                                    <span style="margin-right:3%;" class="fa fa-file-excel-o"></span>
                                                                    <span class="hidden-sm hidden-md  hidden-xs"> {{'export result'| translate}}</span>
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" 
                                                                    style="min-width: 90px;"  aria-labelledby="split-button">
                                                                    <li>
                                                                        <a ng-click="searchWithFilter(false ,filters,'xlsx')" class="iconify">
                                                                            <i  class="fa fa-file-excel-o" style="margin-left: 4%"></i>{{'All'| translate}}</a>
                                                                    </li>
                                                                     <li>
                                                                        <a ng-click="searchWithFilter(true ,filters,'xlsx')" class="iconify">
                                                                            <i  class="fa fa-file-excel-o" style="margin-left: 4%"></i> {{'selected'| translate}}</a>
                                                                    </li>
                                                                </ul>
                                                        </div>
                                                        <button uib-tooltip="{{'search' | translate}}" class=" btn blue "
                                                                ng-click="searchWithFilter(false,filters,'paginate')" type="submit" >
                                                            <span class="icon-magnifier"></span>
                                                            <span class="hidden-sm hidden-md  hidden-xs">{{'search' | translate}}</span>
                                                        </button>


                                                    </div>
                                                </div>


                                            </div>


                                        </div>
                                    </form>
                                </div>
                             <div class="dataTables_length" id="sample_1_length" ng-show=" repositories.length != 0">
                                <label>
                                {{'show'| translate}}
                                    <select
                                        class="form-control input-sm input-inline" ng-init=""
                                        ng-change="itemsPerPage_(itemsCount)"
                                        name="itemsCount" 
                                        ng-model='itemsCount'>
                                       <option value="50">50</option><option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                        <option value="-1">{{'show_All'| translate}}</option>
                                    </select>
                                </label>
                            </div>
                            <table ng-show="repositories.length !=0 "
                                   class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                <thead>
                                <tr style="background-color: #f3f3f3!important; color: #337ab7;  height:55px; line-height: 40px; font-size: 30px; ">
                                    <th class="text-center" >{{'#'| translate}}</th>
                                    <th class="text-center" style= "vertical-align: middle;" >
                                            <input type="checkbox"
                                                   ng-model="selectedAll"
                                                   ng-change="selectAll(selectedAll)"
                                                   ng-true-value="true"
                                                   ng-false-value="false"
                                            >
                                    </th>
                                    <th class="text-center" >{{'Name'| translate}}</th>
                                    <th class="text-center" style="width: 8%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'Repository_Level' | translate}}</th>
                                    <th class="text-center" ng-if="multiple">{{'Organization_Name' | translate}}</th>
                                    <th class="text-center" style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'repository_date' | translate}}</th>
                                    <th class="text-center" style="width: 13%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'notes' | translate}}</th>
                                    <th class="text-center" style="width: 6%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'Status' | translate}}</th>
                                    <th class="text-center" style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'username' | translate}}</th>
                                    <th class="text-center" style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" >{{'Created_At' | translate}}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="entry in repositories|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage" ng-init="entry.edit = false">
                                    <td class="text-center" >{{$index+1}}</td>
                                     <td>
                                            <input type="checkbox" class="make-switch" data-on-color="primary" data-off-color="info"
                                                   ng-model="entry.check" ng-checked="entry.check" ng-true-value="true" ng-false-value="false">
                                
                                    </td>
                                    <td class="text-center" > {{entry.name}}</td>
                                    <td class="text-center" >{{entry.level_name}}</td>
                                    <td class="text-center"  ng-if="multiple"> {{entry.organization_name}}</td>
                                    <td class="text-center" >{{entry.date}}</td>
                                    <td class="text-center" >{{(entry.notes != null && entry.notes != 'null') ? entry.notes:'-'}}</td>
                                    <td class="text-center" >{{entry.status_name}}</td>
                                    <td class="text-center"> {{entry.user_name}}</td>
                                    <td class="text-center" >{{entry.created_at}}</td>
                                    <td class="text-center" >
                                        <div class="btn-group"  uib-dropdown>
                                            <button id="single-button-" type="button"
                                                    uib-tooltip="{{'operations'| translate}}" class="btn btn-xs blue glyphicon glyphicon-cog " uib-dropdown-toggle>
                                            </button>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button" style="min-width: 10px !important;">
                                                <li>
                                                    <a ng-show="entry.level == 1 || entry.level == '1'"
                                                       href="{{'#/aid-repository/urgent-repositories/projects/' + entry.id}}"
                                                       class="iconify"
                                                       uib-tooltip="{{'Projects' | translate}}">
                                                        <i class="glyphicon glyphicon-tags"></i>
                                                        <span  class="hidden-sm hidden-md  hidden-xs">{{'Projects' | translate}}</span>
                                                    </a>

                                                    <a ng-show=" !(entry.level == 1 || entry.level == '1')"
                                                            href="{{'#/aid-repository/repositories/projects/' + entry.id}}"
                                                       class="iconify"
                                                       uib-tooltip="{{'Projects' | translate}}">
                                                        <i class="glyphicon glyphicon-tags"></i>
                                                        <span  class="hidden-sm hidden-md  hidden-xs">{{'Projects' | translate}}</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a  ng-click="statistic(entry.id)" class="iconify" uib-tooltip="{{'Candidates_Statistic'| translate}}">
                                                        <i class="fa fa-bar-chart"></i>
                                                        <span class="hidden-sm hidden-md  hidden-xs">{{'Candidates_Statistic'| translate}}</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a  ng-click="check()" class="iconify" uib-tooltip="{{'check_persons'| translate}}">
                                                        <i class="fa fa-check"></i>
                                                        <span class="hidden-sm hidden-md  hidden-xs">{{'check_persons'| translate}}</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>


                                        <button  type="button" ng-click="show_repository(entry)" ng-show="entry.is_mine != '1' || (entry.is_mine == '1' && entry.status != '1')"
                                                 class="btn btn-xs green-turquoise" uib-tooltip="{{'show'| translate}}">
                                            <span class="fa fa-eye"></span> <span class="hidden-sm hidden-md  hidden-xs">{{'show'| translate}}</span>
                                        </button>
                                        <button  type="button" ng-click="repository_('edit',entry)" ng-show="entry.is_mine == '1' && entry.status == '1' "
                                                 class="btn btn-xs green-turquoise" uib-tooltip="{{'Edit'| translate}}">
                                            <span class="glyphicon glyphicon-edit"></span> <span class="hidden-sm hidden-md  hidden-xs">{{'Edit'| translate}}</span>
                                        </button>
                                        <button type="button" class="btn btn-xs red-pink" ng-click="delete(entry, $index)"  ng-show="entry.is_mine == '1' && entry.status == '1'">
                                            <span class="glyphicon glyphicon-trash"></span> <span  class="hidden-sm hidden-md  hidden-xs">{{'Delete'| translate}}</span>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                               <div  ng-show="repositories.length ==0 "  class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                                   <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                                   </div>
                                </div>
                               <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="repositories.length !=0 " >
                            <div class="col-md-12 col-sm-12 col-xs-12">
                               <ul class="pull-right pagination pagination-sm " uib-pagination ng-change="pageChanged()" boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                            </div>
                        </div>
                           </div>
                        </div>
                    </div>
            </div>
       </div>
    </div>
    <!-- END MAIN CONTENT -->

<script type="text/ng-template" id="show_repository.html">
    <div class="modal-header" style="  padding:4%; ">
    <h4 class="modal-title text-center text-primary bold">
        {{'repository data form' | translate}}
    </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form name="form" class="">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label bold">  {{'Name'| translate}}</label>
                                <input type="text" name="name" ng-model="repository.name" readonly class="form-control" style="background-color: white !important;">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label bold">  {{'Repository_Level'| translate}}</label>
                                <input type="text" name="level_name" ng-model="repository.level_name" readonly class="form-control" style="background-color: white !important;">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label bold">  {{'status'| translate}}</label>
                                <input type="text" name="status_name" ng-model="repository.status_name" readonly class="form-control" style="background-color: white !important;">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label bold">  {{'repository_date'| translate}}</label>
                                    <input type="text" class="form-control"
                                           uib-datepicker-popup="{{format}}"
                                           ng-model="repository.date" style="background-color: white !important;"
                                           ng-required="true"
                                           datepickerPopup
                                           name="date"
                                           is-open="popup.opened" datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12" ng-show="repository.notes">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label bold">  {{ 'notes' | translate }}</label>
                                <textarea ng-model="repository.notes" name="notes" class="form-control" rows="4" readonly style="background-color: white !important;"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
</script>
<script type="text/ng-template" id="repository.html">
    <div class="modal-header" style="  padding:4%; ">
    <h4 class="modal-title text-center text-primary bold">
        {{'repository data form' | translate}}
    </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form name="form" class="">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
                                <label class="control-label bold">  {{'Name'| translate}}
                                    <span class=" text-danger bold help-inline"> * </span>
                                </label>
                                <input type="text" name="name" ng-model="repository.name" ng-required="true" class="form-control" placeholder="{{'Name'| translate}}">
                                <span class="text-danger bold help-inline" ng-show="form.name.$error.required && form.name.$touched">
                                            {{ 'required_field' | translate }}
                    </span>
                                <span ng-repeat="(error, errortext) in msg1.name" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.name' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error' : form.level.$invalid && !form.level.$pristine }">
                                <label class="control-label bold">  {{'Repository_Level'| translate}}
                                    <span class=" text-danger bold help-inline"> * </span>
                                </label>
                                <select class="form-control" ng-model="repository.level" ng-required="true" name="form" convert-to-number>
                                    <option ng-value="1" value="1" ng-selected="repository.level == 1">{{'without_level'| translate}}</option>
                                    <option ng-value="2" value="2" ng-selected="repository.level == 2">{{'Organization_'| translate}}</option>
                                    <option ng-value="3" value="3" ng-selected="repository.level == 3">{{'district'| translate}}</option>
                                    <option ng-value="4" value="4" ng-selected="repository.level == 4">{{'city'| translate}}</option>
                                    <option ng-value="5" value="5" ng-selected="repository.level == 5">{{'region'| translate}}</option>
                                    <option ng-value="6" value="6" ng-selected="repository.level == 6">{{'nearlocation_'| translate}}</option>
                                    <option ng-value="7" value="7" ng-selected="repository.level == 7">{{'square'| translate}}</option>
                                    <option ng-value="8" value="8" ng-selected="repository.level == 8">{{'mosques'| translate}}</option>
                                </select>
                                <span class="text-danger bold help-inline" ng-show="form.level.$error.required && form.status.$touched">
                                            {{ 'required_field' | translate }}
                    </span>
                                <span ng-repeat="(error, errortext) in msg1.level" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.level' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error' : form.date.$invalid && !form.date.$pristine }">
                                <label class="control-label bold">  {{'repository_date'| translate}}
                                    <span class=" text-danger bold help-inline"> * </span>
                                </label>
                                <div  class="input-group">
                                    <input type="text" class="form-control"
                                           uib-datepicker-popup="{{format}}"
                                           ng-model="repository.date"
                                           ng-required="true"
                                           datepickerPopup
                                           name="date"
                                           is-open="popup.opened" datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                    <span class="input-group-btn" >
                                                <button type="button" class="btn  fa fa-calendar btn-default" ng-disabled="reanOnlyInput"
                                                        ng-click="open($event)">
                                                </button>
                                          </span>
                                </div>
                                <span class="text-danger bold help-inline" ng-show="form.date.$error.required && form.date.$touched">
                                            {{ 'required_field' | translate }}
                    </span>
                                <span ng-repeat="(error, errortext) in msg1.date" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.date' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" ng-if="repository.id">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error' : form.status.$invalid && !form.status.$pristine }">
                                <label class="control-label bold">  {{'status'| translate}}
                                    <span class=" text-danger bold help-inline"> * </span>
                                </label>
                                <select ng-model="repository.status" class="form-control input-sm"
                                        ng-selected="mySel">
                                    <option selected value> --  {{'Status' | translate}} -- </option>
                                    <option value="1"> {{'Open' | translate}}</option>
                                    <option value="2">{{'Close' | translate}}</option>
                                </select>

                                <span class="text-danger bold help-inline" ng-show="form.status.$error.required && form.status.$touched">
                                            {{ 'required_field' | translate }}
                    </span>
                                <span ng-repeat="(error, errortext) in msg1.status" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.status' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error' : form.notes.$invalid && !form.notes.$pristine }">
                                <label class="control-label bold">  {{ 'notes' | translate }}</label>
                                <textarea ng-model="repository.notes"
                                          name="notes"
                                          ng-change="msg1.notes = [ ]"
                                          class="form-control"
                                          rows="4">
                    </textarea>
                                <span class="text-danger bold help-inline" ng-show="form.notes.$error.required && form.notes.$touched">
                                            {{ 'required_field' | translate }}
                    </span>
                                <span ng-repeat="(error, errortext) in msg1.notes" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.notes' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class=" btn btn-primary" ng-click="confirm(repository)" ng-disabled="form.$invalid"
                type="button" >
            <span class="glyphicon glyphicon-floppy-disk" style="margin-left: 5px;"></span>
            <span>{{'Save'| translate}} </span> </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
</script>
<script type="text/ng-template" id="urgent_repository.html">
    <div class="modal-header" style="  padding:4%; ">
    <h4 class="modal-title text-center text-primary bold">
        {{'urgent_repository' | translate}}
    </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form name="form" class="">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
                                <label class="control-label bold">  {{'Name'| translate}}
                                    <span class=" text-danger bold help-inline"> * </span>
                                </label>
                                <input type="text" name="name" ng-model="repository.name" ng-required="true" class="form-control" placeholder="{{'Name'| translate}}">
                                <span class="text-danger bold help-inline" ng-show="form.name.$error.required && form.name.$touched">
                                            {{ 'required_field' | translate }}
                    </span>
                                <span ng-repeat="(error, errortext) in msg1.name" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.name' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error' : form.date.$invalid && !form.date.$pristine }">
                                <label class="control-label bold">  {{'repository_date'| translate}}
                                    <span class=" text-danger bold help-inline"> * </span>
                                </label>
                                <div  class="input-group">
                                    <input type="text" class="form-control"
                                           uib-datepicker-popup="{{format}}"
                                           ng-model="repository.date"
                                           ng-required="true"
                                           datepickerPopup
                                           name="date"
                                           is-open="popup.opened" datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                    <span class="input-group-btn" >
                                                <button type="button" class="btn  fa fa-calendar btn-default" ng-disabled="reanOnlyInput"
                                                        ng-click="open($event)">
                                                </button>
                                          </span>
                                </div>
                                <span class="text-danger bold help-inline" ng-show="form.date.$error.required && form.date.$touched">
                                            {{ 'required_field' | translate }}
                    </span>
                                <span ng-repeat="(error, errortext) in msg1.date" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.date' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group" ng-class="{ 'has-error' : form.notes.$invalid && !form.notes.$pristine }">
                                <label class="control-label bold">  {{ 'notes' | translate }}</label>
                                <textarea ng-model="repository.notes"
                                          name="notes"
                                          ng-change="msg1.notes = [ ]"
                                          class="form-control"
                                          rows="4">
                    </textarea>
                                <span class="text-danger bold help-inline" ng-show="form.notes.$error.required && form.notes.$touched">
                                            {{ 'required_field' | translate }}
                    </span>
                                <span ng-repeat="(error, errortext) in msg1.notes" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.notes' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="note note-success">
                                    <i style="font-size: larger" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                    {{'at least the imported file must be included id card number' | translate}}
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12  text-right">
                            <span class="text-primary pull-left text-right" >{{'download template'| translate}}</span>
                            <button type="button" style="margin-right: 2%" class="pull-left btn btn-xs btn-primary fa fa-download " STYLE=" margin-right: 0.5%;"
                                    ng-click="download()"></button>

                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;">
                            <label class="control-label bold">{{'select import file'| translate}} </label>
                            <input type="file" ng-required="true" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" onchange="angular.element(this).scope().fileupload(this)" class="form-control" data-nv-file-select="" data-uploader="uploader">
                            <span ng-repeat="(error, errortext) in err_msg.logo" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'err_msg.logo' != []" >
                            {{ errortext.toString()}}
                        </span>
                        </div>
                        <div ng-repeat="item in Uploader.queue" class="row">
                            <!--<div class="col-md-2">-->
                            <!--<div ng-show="Uploader.isHTML5" ng-thumb="{ file: item._file, height: 48 }"></div>-->
                            <!--</div>-->
                            <div class="col-md-2" ng-show="Uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</div>
                            <div class="col-md-3" ng-show="Uploader.isHTML5">
                                <div class="progress progress-sm" style="margin-bottom: 0;">
                                    <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </div>
                            <div class="col-md-1 text-center">
                        <span ng-show="item.isSuccess" class="text-success">
                            <i class="glyphicon glyphicon-ok"></i>
                        </span>
                                <span ng-show="item.isCancel" class="text-info">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                        </span>
                                <span ng-show="item.isError" class="text-danger">
                            <i class="glyphicon glyphicon-remove"></i>
                        </span>
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn red-pink btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> <span>{{'remove'| translate}} </span></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class=" btn btn-primary" ng-click="confirm(repository)" ng-disabled="form.$invalid"
                type="button" >
            <span class="glyphicon glyphicon-floppy-disk" style="margin-left: 5px;"></span>
            <span>{{'Save'| translate}} </span> </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span></button>
    </div>
</script>
<script type="text/ng-template" id="checkPerson_.html">
    <div class="modal-header" style="  padding:3%; ">
        <h4 style="" class="modal-title bold text-center"> {{'check_persons'| translate}} </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form name="form" novalidate="" role="form" class=" text-center" style="padding: 1%;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                     <p class="text-left bold" style="margin: 0 0 5px 0;padding: 10px; border: 3px solid #fff0f1; border-radius: 4px 0 0 4px;  background-color: #fff0f1;color: #e43a45; min-height: 40px !important;">
                               {{'The maximum number of records in the uploaded file'| translate}} <span style="margin-left:3px ; margin-right:3px ;  "> : 500  </span> {{'record'| translate}}
                     </p>
                        <p class="text-left bold" style="
                        margin: 0 0 5px 0;
                        padding: 10px;
                        border: 3px solid #fff0f1;
                        border-radius: 4px 0 0 4px;
                        background-color: #fff0f1;
                        color: #e43a45;
                        min-height: 40px !important;
                        ">
                            {{'you should use the new card number for updated card number that be start with 700'| translate}}
                            <button type="button" class="btn red-pink btn-xs" ng-click="checkOldCard()">
                                <span class="fa fa-check-square"></span><span> {{'to check click here'| translate}}</span>
                            </button>
                        </p>
                    </div>
                    <div class="col-md-12  text-right">
                        <span class="text-primary pull-left text-right" >{{'download template'| translate}}</span>
                        <a   href="javascript:;" class="pull-left btn btn-xs btn-primary fa fa-download " style="margin-right: 2%"
                             ng-click="download()"
                        ></a>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">
                        <label class="control-label bold">{{'select import file'| translate}}</label>
                        <input type="file" id="upload" ng-required="true"
                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                               onchange="angular.element(this).scope().fileUpload(this)" class="form-control" data-nv-file-select="" data-uploader="uploader">
                        <span ng-repeat="(error, errortext) in err_msg.logo" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'err_msg.logo' != []" >
                            {{ errortext.toString()}}
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer" style="margin-top: 25px;">
        <button class="btn btn-primary" ng-click="confirm()" ng-disabled="!upload" type="button" >
            <span> {{'search'| translate}}</span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
</script>
