   <form name="form" class="form-horizontal" novalidate="" role="form" ng-submit="submit()">
        <fieldset>
            <legend>{{ 'information' | translate }}</legend>

            <div class="form-group" ng-class="errorClass('name')">
                <label for="name" class="col-md-2 control-label">{{ 'name' | translate }}</label>
                <div class="col-md-4">
                    <input type="text" class="form-control has-error" id="name" name="name" placeholder="{{'name' | translate}}" value="{{name}}" 
                           ng-model="repository.name" ng-required="true">
                    <span class="help-block" ng-show="form.name.$invalid && form.name.$dirty">{{errorMessage('name')}}</span>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn blue"><span>{{ 'save' | translate }}</span></button>
            </div>
        </div>
    </form>
