<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'Dashboard' | translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a href="#/aid-repository/repositories">{{'Manage_Repository' | translate}}  </a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i> </li>
    <li>
    <li>
        <a ng-show="!(project.repository.level == 1 || project.repository.level == '1') "
           href="#/aid-repository/repositories/projects/{{project.repository_id}}">
            {{project.repository.name}}
        </a>
        <a ng-show="(project.repository.level == 1 || project.repository.level == '1') "
           href="#/aid-repository/urgent-repositories/projects/{{project.repository_id}}">
            {{project.repository.name}}
        </a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{'Projects' | translate}} <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i> </li>
    <li> {{project.name}} <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i> </li>
    <li>
        <a href="#/aid-repository/repositories/projects/nominations-list/{{project.id}}">
            {{'nominations' | translate}}
        </a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>  </li>
    <li  class="active">  {{nomination.label}} </li>
</ul>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span class="glyphicon glyphicon-filter"></span>
                        <span> {{'Rules' | translate}}</span>
                        <!--<span> {{'to' | translate}}</span>-->
                        <!--<span> {{project.name}}</span>-->
                        <!--<span> - </span>-->
                        <span>"  {{nomination.label}} "</span>
                    </h3>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-if="rules.length > 0" style="min-height: 500px; padding: 2%; box-sizing: border-box; border-radius:10px; border: 1px #ddd solid; ">
                            <div class="row">
                                <div class="col-md-3" ng-repeat="rule in rules">
                                    <div class="form-group">
                                        <label class="control-label bold text-center">{{rule.label}}</label>
                                        <div class="control-group"  style="height: 102px !important;">
                                            <!--&& rule.options.length > 0"-->
                                            <select ng-model="rule.value" ng-if="rule.type == 'options' " class="form-control" multiple  style="height: 102px !important;">
                                                <option ng-repeat="option in rule.options" ng-value="option.id">{{option.name}}</option>
                                            </select>
                                            <div ng-if="rule.type == 'range'"  style="height: 102px !important;">
                                                <input ng-model="rule.min" type="text" class="form-control" placeholder="{{'from_' | translate}}"> -
                                                <input ng-model="rule.max" type="text" class="form-control"  placeholder="{{'to_' | translate}}"> -
                                            </div>
                                            <input ng-model="rule.value" type="text" class="form-control"  style="height: 102px !important;"
                                                   ng-if="rule.type != 'range' && rule.type != 'options'">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12"
                             style="min-height:70px; padding-top: 2%; margin-top:1%; margin-bottom: 1%; padding-bottom: 2%; box-sizing: border-box; border-radius:10px; border: 1px #ddd solid; "
                             ng-if="rules.length > 0 && project.is_mine == 1">
                            <div class="clearfix">

                                <span ng-show="project.repository.status == 1">
                                    <button class="btn  yellow-casablanca"   ng-show=" !(project.repository.level == 1 || project.repository.level == '1') "
                                            ng-click="results()" uib-tooltip="{{'Results' | translate}}">
                                        <span class="fa fa-search"></span>
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'Results'| translate}}</span>
                                    </button>
                                    <button class="btn  blue" ng-click="save(1)"
                                            uib-tooltip="{{'Save Rules' | translate}}">
                                        <span class="fa fa-save"></span>
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'Save Rules'| translate}}</span>
                                    </button>
                                    <button class="btn  yellow-saffron"  ng-click="reset()" uib-tooltip="{{'rest_roles' | translate}}">
                                        <span class="fa fa-refresh"></span>
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'rest_roles'| translate}}</span>
                                    </button>
                                    <button class="btn  green-jungle"  ng-click="rest_candidates()" uib-tooltip="{{'rest_candidates' | translate}}">
                                        <span class="fa fa-refresh"></span>
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'rest_candidates'| translate}}</span>
                                    </button>
                                    <button class="btn  green-turquoise" ng-click="save(2)" uib-tooltip="{{'Save And Candidate' | translate}}">
                                        <span class="fa fa-clone"></span>
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'Save And Candidate'| translate}}</span>
                                    </button>
                                </span>
                                <span ng-show="project.repository.status == 1">
                                    <a  ng-if="project.status !=1 " class="btn  yellow-soft" uib-tooltip="{{'Candidates' | translate}}"
                                        href="#/aid-repository/repositories/projects/candidates/{{project.id}}/{{nomination_id}}">
                                        <span class="fa fa-users"></span>
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'Candidates' | translate}}</span>
                                    </a>
                                </span>

                                <!--<button ng-show=" !(project.repository.level == 1 || project.repository.level == '1') "-->
                                        <!--class="btn  green-turquoise" ng-click="statistic()" uib-tooltip="{{'Candidates_Statistic' | translate}}">-->
                                    <!--<span class="fa fa-bar-chart"></span>-->
                                    <!--<span class="hidden-sm hidden-md  hidden-xs">{{'Candidates_Statistic'| translate}}</span>-->
                                <!--</button>-->
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-if="statistic_flg" style="margin-bottom:1.5%;">
                            <div class="col-md-12 col-sm-12 col-xs-12"  style=" border: 1px solid lightgrey; padding: 2%; margin-top: 0.5%; margin-bottom: 1%;">
                                <button ng-click="closeRestricted(0)" class="close" aria-label="Close" style="margin-bottom: 1%;">
                                    <span aria-hidden="true" >×</span></button>
                                <table class="table table-bordered table-striped  text-center table-hover ">
                                    <thead>
                                    <tr style="background-color: #f3f3f3!important; color: #337ab7; height:65px; line-height: 45px; vertical-align:middle; font-size: 20px; ">
                                        <th class="text-center" style="width: 10px; vertical-align:middle; ">  {{'#' | translate}}</th>
                                        <th class="text-center"style="width: 170px; vertical-align:middle; ">  {{'Organization_Name' | translate}}</th>
                                        <th class="text-center" style="width: 60px; vertical-align:middle; ">  {{'candidate count' | translate}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="org in records">
                                        <td>{{  $index+1 }}</td>
                                        <td>{{org.name}}</td>
                                        <td>{{org.nominated}}</td>
                                    </tr>
                                    <tr>
                                        <td> -</td>
                                        <td class="bold">{{'total candidate' | translate}}</td>
                                        <td>{{total}}</td>
                                    </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div  ng-show="entries.length ==0 " class="col-md-12 col-sm-12 col-xs-12 text-center"  style="margin-bottom: 2%">
                            <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12"   ng-if="entries.length > 0" style="min-height: 90px; padding:2%; box-sizing: border-box; border-radius:10px; border: 1px #ddd solid; " >
                            <div class="table-container">
                                <div class="table-toolbar">
                                    <div class="clearfix">
                                        <button class="btn  yellow-saffron"  ng-click="candidate(1)" uib-tooltip="{{'Candidate_all' | translate}}">
                                            <span class="fa fa-list-alt"></span>
                                            <span class="hidden-sm hidden-md  hidden-xs">{{'Candidate_all' | translate}}</span>
                                        </button>
                                        <button type="button" class="btn green-turquoise"  ng-click="candidate(2)" uib-tooltip="{{'Candidate' | translate}}">
                                            <span class="fa fa-check"></span>
                                            <span class="hidden-sm hidden-md  hidden-xs">{{'Candidate' | translate}}</span>
                                        </button>
                                    </div>
                                </div>
                                <!--<div class="table-toolbar">-->
                                    <!--<label class="pull-left">-->
                                        <!--{{'show'| translate}}-->
                                        <!--<select-->
                                                <!--class="form-control input-sm input-inline" ng-init=""-->
                                                <!--ng-change="itemsPerPage_(itemsCount)"-->
                                                <!--name="itemsCount"-->
                                                <!--ng-model='itemsCount'>-->
                                            <!--<option value="50">50</option>-->
                                            <!--<option value="100">100</option>-->
                                            <!--<option value="200">200</option>-->
                                            <!--<option value="500">500</option>-->
                                            <!--<option value="1000">1000</option>-->
                                            <!--<option value="1500">1500</option>-->
                                            <!--&lt;!&ndash;<option value="1000">1000</option>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<option value="-1">{{'show_All'| translate}}</option>&ndash;&gt;-->
                                        <!--</select>-->
                                    <!--</label>-->
                                <!--</div>-->
                                <table class="table table-hover table-condensed table-bordered table-striped  text-center">
                                    <thead>
                                    <tr style="background-color: #f3f3f3!important; color: #337ab7; height:30px; vertical-align: middle; line-height: 30px; font-size: 20px; ">
                                        <th class="text-center">{{'#' | translate}}</th>
                                        <th class="text-center"><input type="checkbox" ng-model="cAll" ng-click="checkAll(cAll, entries)"></th>
                                        <th class="text-center">{{'ID' | translate}}</th>
                                        <th class="text-center">{{'Name' | translate}}</th>
                                        <th class="text-center">{{'Birthday' | translate}}</th>
                                        <th class="text-center">{{'Category' | translate}}</th>
                                        <th class="text-center">{{'Organization_Name' | translate}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="entry in entries |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                        <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                        <td class="text-center"><input type="checkbox" ng-model="entry.checked" ng-checked="entry.checked" ng-true-value="true" ng-false-value="false"></td>
                                        <td class="text-center">{{entry.id_card_number}}</td>
                                        <td class="text-center">{{entry.first_name}} {{entry.second_name}} {{entry.third_name}} {{entry.last_name}}</td>
                                        <td class="text-center">{{entry.birthday}}</td>
                                        <td class="text-center">{{entry.category_name}}</td>
                                        <td class="text-center">{{entry.organization_name}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-if="entries.length > 0">
                            <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                <span class="bold ">{{'number of total items'| translate}}</span>
                                <span class="bold "> : </span>
                                <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                <span class="bold ">{{'row'| translate}}</span>
                            </div>
                            <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>