<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'Dashboard' | translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{'Manage_Repository' | translate}} <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i> </li>
    <li> {{'Repositories' | translate}} <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i> </li>
    <li>
        <span> {{'Trash_Repositories' | translate}}</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span class="fa fa-trash-o"></span>
                        <span>{{'Trash_Repositories' | translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">

                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1%;padding-top: 4%;padding-bottom: 2%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                            <form name="form" method="get"  ng-submit="search()">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center ">

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">{{'Name' | translate}} </label>
                                                <input type="text" ng-model="filters.name" autofocus placeholder="{{'Name' | translate}}" class="form-control">

                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="text-center bold control-label "> {{'Status' | translate}} </label>
                                                <select ng-model="filters.status" class="form-control input-sm">
                                                    <option selected value> --  {{'Status' | translate}} -- </option>
                                                    <option value="1"> {{'Open' | translate}}</option>
                                                    <option value="2">{{'Close' | translate}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="text-center bold control-label "> {{'organization' | translate}} </label>
                                                <multiselect  ng-model="filters.organization_id" ng-if="organizations_"
                                                              options="organizations_" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label  text-center bold">   {{'repository_date' | translate}} ( {{'From_' | translate}} )</label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.first"
                                                           datepickerPopup autofocus
                                                           name="first"
                                                           is-open="popup1.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open1($event)">
                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label  text-center bold">   {{'repository_date' | translate}} ( {{'To_'| translate}} )</label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.last"
                                                           datepickerPopup
                                                           name="last"
                                                           is-open="popup2.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open2($event)">
                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label  text-center bold">   {{'Created_At' | translate}} ( {{'From_' | translate}} )</label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.first_created_at"
                                                           datepickerPopup autofocus
                                                           name="first"
                                                           is-open="popup3.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open3($event)">
                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label  text-center bold">   {{'Created_At' | translate}} ( {{'To_'| translate}} )</label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.last_created_at"
                                                           datepickerPopup
                                                           name="last"
                                                           is-open="popup4.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open4($event)">
                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 20px;">
                                        <div class="col-md-6 col-sm-12 col-xs-12 "></div>
                                        <div class="col-md-6 col-sm-12 col-xs-12 ">
                                            <div class="clearfix pull-right">
                                                <button type="button" class="btn yellow-saffron"  ng-click="EmptyThenSearch()">
                                                    <span class="icon-wallet"></span>
                                                    <span  class="hidden-sm hidden-md  hidden-xs">{{'show_all' | translate}}</span>
                                                </button>
                                                <div class="btn-group "  uib-dropdown                                                                  uib-tooltip="{{'export result'| translate}}" >
                                                                <button id="single-button" type="button" 
                                                                        ng-show="repositories.length !=0 "
                                                                        class="btn  green-turquoise" uib-dropdown-toggle ng-disabled="disabled">
                                                                    <span style="margin-right:3%;" class="fa fa-file-excel-o"></span>
                                                                    <span class="hidden-sm hidden-md  hidden-xs"> {{'export result'| translate}}</span>
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" 
                                                                    style="min-width: 90px;"  aria-labelledby="split-button">
                                                                    <li>
                                                                        <a ng-click="searchWithFilter(false ,filters,'xlsx')" class="iconify">
                                                                            <i  class="fa fa-file-excel-o" style="margin-left: 4%"></i>{{'All'| translate}}</a>
                                                                    </li>
                                                                     <li>
                                                                        <a ng-click="searchWithFilter(true ,filters,'xlsx')" class="iconify">
                                                                            <i  class="fa fa-file-excel-o" style="margin-left: 4%"></i> {{'selected'| translate}}</a>
                                                                    </li>
                                                                </ul>
                                                        </div>
                                                <button uib-tooltip="{{'search' | translate}}" class=" btn blue "
                                                        ng-click="searchWithFilter(filters,'paginate')" type="submit" >
                                                    <span class="icon-magnifier"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'search' | translate}}</span>
                                                </button>


                                            </div>
                                        </div>


                                    </div>


                                </div>
                            </form>
                        </div>
                        <div class="dataTables_length" id="sample_1_length" ng-show=" repositories.length != 0">
                            <label>
                            {{'show'| translate}}
                                <select
                                    class="form-control input-sm input-inline" ng-init=""
                                    ng-change="itemsPerPage_(itemsCount)"
                                    name="itemsCount" 
                                    ng-model='itemsCount'>
                                   <option value="50">50</option><option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                    <option value="-1">{{'show_All'| translate}}</option>
                                </select>
                            </label>
                        </div>
                        <!-- BEGIN TABLE -->
                        <table ng-show="repositories.length !=0 "
                               class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                            <thead>
                            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                <th class="text-center" >{{'#'| translate}}</th>
                                 <th class="text-center" style= "vertical-align: middle;" >
                                            <input type="checkbox"
                                                   ng-model="selectedAll"
                                                   ng-change="selectAll(selectedAll)"
                                                   ng-true-value="true"
                                                   ng-false-value="false"
                                            >
                                    </th>                                   
                                <th class="text-center" >{{'Name'| translate}}</th>
                                <th class="text-center" ng-if="multiple">{{'username' | translate}}</th>
                                <th class="text-center" ng-if="multiple">{{'Organization_Name' | translate}}</th>
                                <th class="text-center"  >{{'repository_date' | translate}}</th>
                                <th class="text-center" style="width: 16%;">{{'notes' | translate}}</th>
                                <th class="text-center" >{{'Status' | translate}}</th>
                                <th class="text-center" >{{'Created_At' | translate}}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="entry in repositories|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage" ng-init="entry.edit = false">
                                <td class="text-center" >{{$index+1}}</td>
                                <td>
                                            <input type="checkbox" class="make-switch" data-on-color="primary" data-off-color="info"
                                                   ng-model="entry.check" ng-checked="entry.check" ng-true-value="true" ng-false-value="false">
                                
                                </td>
                                <td class="text-center" > {{entry.name}}</td>
                                <td class="text-center"  ng-if="multiple"> {{entry.user_name}}</td>
                                <td class="text-center"  ng-if="multiple"> {{entry.organization_name}}</td>
                                <td class="text-center" >{{entry.date}}</td>
                                <td class="text-center" >{{(entry.notes != null && entry.notes != 'null') ? entry.notes:'-'}}</td>
                                <td class="text-center" >{{entry.status_name}}</td>
                                <td class="text-center" >{{entry.created_at}}</td>
                                <td class="text-center" >
                                    <button type="button" class="btn btn-xs green-turquoise" ng-click="restore(entry, $index)">
                                        <span class="fa fa-refresh"></span>
                                        <span  class="hidden-sm hidden-md  hidden-xs">{{'restore'| translate}}</span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- END TABLE -->
                        <div  ng-show="repositories.length ==0 "  class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                            <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="repositories.length !=0 " >
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <ul class="pull-right pagination pagination-sm " uib-pagination ng-change="pageChanged()" boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

