<div class="modal-body">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<button class="btn btn-xs pull-right fa fa-times" style=" font-size: medium; background-color: transparent" ng-click="cancel()"></button>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-12  margin-bottom-15 margin-top-10">
					<div class="clearfix text-center">
						<a href="javascript:;" class="btn btn-sm btn-circle default"  ng-repeat="image in image_list" ng-click="show_image($index)">
							{{($index +1) }}
						</a>
					</div>
				</div>
			</div>
			<br>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-body" style="padding: 22px;">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12" style=" height: 100%; width: 100%;  padding: 2%; padding-top:0%"  ng-repeat="image in image_list" ng-if = "image == id">
								<img ng-src="{{imgSrc}}" style="width:100%; height:1000px;" data-img-blob="" data-url="{{'/doc/files/reportsImage/'+image }}" class="img-thumbnail">
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
