<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<div class="modal-header"  style="  padding:5%">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title text-center">{{'select export language'| translate}} </h4>
</div>
<div class="modal-body">
    <div class="text-center">
        <button ng-click="confirm('ar')" class=" btn green-turquoise   " type="button" >
            <span>{{'arabic'| translate}} </span>
        </button>
        <button class=" btn blue " ng-click="confirm('en')" type="button" >
            <span>{{'english'| translate}} </span>
        </button>

    </div>
</div>
