<div>
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate }}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            <span>{{'sponsorships management' | translate }}</span>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            <span>{{'cases_manage' | translate}}</span>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            <a  href="#/sponsorship/all/cases"> {{'all_cases' | translate }}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            <span> {{  category_name }}</span>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            <span> {{  name }}</span>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            {{'update' | translate }}
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li class="active" >
            <span ng-show="target == 'custom-form'"> {{'case custom form' | translate }} </span>
            <span ng-show="target == 'family'">{{'family-info' | translate }} </span>
            <span ng-show="target == 'documents'"> {{'case-documents' | translate }} </span>
            <span ng-show="target != 'custom-form' && target != 'family' && target != 'documents'"> {{'case-info' | translate }} </span>

        </li>

    </ul>
    <!-- END PAGE BREADCRUMB -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" >
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="col-md-12 caption font-dark pull-left">
                        <i class="font-dark"></i>
                        <span class="col-md-9 pull-left" style=" height:40px;padding:5px 15px;
                  font-size: 1.3em !important; font-weight: bold!important;text-align: right!important; color: #0a6aa1">
                        <h4 ng-show="target == 'custom-form'"><i class="glyphicon glyphicon-plus-square-o" style="float:initial ;"></i>
                                 {{'case custom form' | translate }}
                        </h4>
                            <h4 ng-show="target == 'family'"><i class="fa fa-users" style="float:initial ;"></i>
                                {{'family-info' | translate }}
                        </h4>
                            <h4 ng-show="target == 'documents'"><i class="fa fa-paperclip" style="float:initial ;"></i>
                                {{'case-documents' | translate }}
                        </h4>
                            <h4 ng-show="target != 'custom-form' && target != 'family' && target != 'documents'">
                            <i class="fa fa-user" style="float:initial ;"></i>
                                {{'case-info' | translate }}
                        </h4>
                        </span>

                        <div class="col-md-2 pull-right">
                            <div class="btn-group" uib-dropdown style="width: 100%;margin-top: 6%;">
                                <button id="single-button" type="button" class="btn blue pull-left" style="width: 90%;" uib-dropdown-toggle ng-disabled="disabled">
                                    <span>{{'select operation' | translate }}</span>
                                    <span class="fa fa-cog"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                    <li>
                                        <a href="#/sponsorship/cases/show/{{id}}/" class="iconify">
                                            <i class="fa fa-edit"></i> {{'show case data' | translate}} </a>
                                    </li>
                                    <li ng-show=" organization_id == charity_LoggedInUser.organization_id">
                                        <a href="#/sponsorship/cases/edit/{{id}}/" class="iconify">
                                            <i class="fa fa-edit"></i> {{'edit case data' | translate}} </a>
                                    </li>
                                    <li  ng-show=" organization_id == charity_LoggedInUser.organization_id">
                                        <a ng-click="delete('sm',id)" class="iconify">
                                            <i class="fa fa-trash-o"></i> {{'delete case'| translate }} </a>
                                    </li>

                                    <li class="divider"  ng-show="organization_id == charity_LoggedInUser.organization_id && (item.father_id == null ||item.mother_id == null || item.guardian_id == null)"></li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.father_id == null">
                                        <a href="#/sponsorship/case/new/father/{{id}}" class="iconify">
                                            <i class="glyphicon glyphicon-plus"></i> {{'add father'| translate}} </a>
                                    </li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.mother_id == null ">
                                        <a href="#/sponsorship/case/new/mother/{{id}}" class="iconify">
                                            <i class="glyphicon glyphicon-plus"></i> {{'add mother'| translate}} </a>
                                    </li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.guardian_id == null">
                                        <a href="{{'#/sponsorship/case/new/guardian/'+id}}" class="iconify">
                                            <i class="glyphicon glyphicon-plus"></i> {{'add guardian'| translate}}  </a>
                                    </li>
                                    <li class="divider"  ng-show="organization_id == charity_LoggedInUser.organization_id && (item.father_id != null ||item.mother_id != null || item.guardian_id != null)"></li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.father_id != null">
                                        <a href="#/sponsorship/case/edit/father/{{id}}" class="iconify">
                                            <i class="fa fa-edit"></i> {{'edit father'| translate}} </a>
                                    </li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.mother_id != null ">
                                        <a href="#/sponsorship/case/edit/mother/{{id}}" class="iconify">
                                            <i class="fa fa-edit"></i> {{'edit mother'| translate}} </a>
                                    </li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.guardian_id != null">
                                        <a href="#/sponsorship/case/edit/guardian/{{id}}" class="iconify">
                                            <i class="fa fa-edit"></i> {{'edit guardian'| translate}}  </a>
                                    </li>
                                    <li class="divider"  ng-show="organization_id == charity_LoggedInUser.organization_id && (item.father_id != null ||item.mother_id != null || item.guardian_id != null)"></li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.father_id != null">
                                        <a href="#/sponsorship/case/change/father/{{id}}" class="iconify">
                                            <i class="fa fa-edit"></i> {{'change father'| translate}} </a>
                                    </li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.mother_id != null ">
                                        <a href="#/sponsorship/case/change/mother/{{id}}" class="iconify">
                                            <i class="fa fa-edit"></i> {{'change mother'| translate}} </a>
                                    </li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.guardian_id != null">
                                        <a href="#/sponsorship/case/change/guardian/{{id}}" class="iconify">
                                            <i class="fa fa-edit"></i> {{'change guardian'| translate}}  </a>
                                    </li>
                                    <li class="divider" ng-show=" organization_id == charity_LoggedInUser.organization_id"></li>
                                    <li ng-show=" organization_id == charity_LoggedInUser.organization_id">
                                        <a href="#/sponsorship/cases/edit/{{id}}/custom-form" class="iconify">
                                            <i class="fa fa-edit"></i>{{'update custom form'| translate}} </a>
                                    </li>
                                    <li ng-show=" organization_id == charity_LoggedInUser.organization_id">
                                        <a href="#/sponsorship/cases/edit/{{id}}/documents" class="iconify">
                                            <i class="fa fa-paperclip"></i> {{'case attachments'| translate}} </a>
                                    </li>
                                    <li ng-show=" organization_id == charity_LoggedInUser.organization_id">
                                        <a href="#/sponsorship/cases/edit/{{id}}/family" class="iconify">
                                            <i class="fa fa-edit"></i> {{'family member'| translate}} </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{{'#/sponsorship/cases/show/'+id+'/payments'}}" class="iconify">
                                            <i class="fa fa-money"></i>{{'show payments'| translate}} </a>
                                    </li>
                                    <li>
                                        <a href="{{'#/sponsorship/cases/show/'+id+'/guardians'}}" class="iconify">
                                            <i class="fa fa-users"></i>{{'show guardians'| translate}} </a>
                                    </li>
                                    <li>
                                        <a href="{{'#/sponsorship/cases/show/'+id+'/sponsorships'}}" class="iconify">
                                            <i class="fa fa-table"></i>{{'show sponsorships'| translate}} </a>
                                    </li>
                                    <li>
                                        <a ng-click="visitorNote(id)" class="iconify">
                                            <i class="fa fa-sticky-note"></i>{{'show visitor note'| translate}} </a>
                                    </li>
                                    <li>
                                        <a ng-click="statusLog(id)"  class="iconify">
                                            <i class="fa fa-history"></i> {{'status log'| translate}} </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a ng-click="download('word',id)" class="iconify">
                                            <i class="fa fa-file-word-o"></i> {{'download form'| translate}} </a>
                                    </li>
                                    <li>
                                        <a ng-click="download('pdf',id)" class="iconify">
                                            <i class="fa fa-file-pdf-o"></i> {{'download form'| translate}}  </a>
                                    </li>
                                    <!--                                                ng-show=" item.guardian_dcoument != null || item.mother_dcoument != null-->
                                    <!--                                                || item.father_dcoument != null || item.person_dcoument != null "-->
                                    <li  >
                                        <a ng-click="download('archive',id)" class="iconify">
                                            <i class="fa fa-file-archive-o"></i>{{'download attachments'| translate}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="portlet-body ">
                <div class="row" style="margin-bottom: 2%;">

                    <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="target == 'custom-form'"
                         data-ng-include="'app/modules/sponsorship/views/caseForm/edit/sub-views/custom-form.html'"> </div>

                    <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="target == 'family'"
                         data-ng-include="'app/modules/sponsorship/views/caseForm/edit/sub-views/family.html'"> </div>


                    <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="target == 'documents'"
                         data-ng-include="'app/modules/sponsorship/views/caseForm/edit/sub-views/document.html'"> </div>


                    <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="target != 'custom-form' && target != 'family' && target != 'documents'"
                         data-ng-include="'app/modules/sponsorship/views/caseForm/edit/sub-views/case.html'"> </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="VisitorNote.html">
    <div class="modal-header" style="  padding:3%; ">
        <h4 class="modal-title text-center">{{'visitor-note' | translate }}
        </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-left" style="padding-left: 2%;padding-right: 2%;overflow-wrap: break-word;">
                <p class="bold">{{Notes}}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel' | translate }}</span> </button>
    </div>
</script>
<script type="text/ng-template" id="newPerson.html">
    <div class="modal-header text-center" style="padding: 3%;">
        <h4 class="modal-title bold" ng-show="action == 'add'">{{'add new member' | translate }}</h4>
        <h4 class="modal-title bold" ng-show="action == 'edit'">{{'edit_member_data_form' | translate }}</h4>
    </div>
    <div class="modal-body">
        <div class="row " style="padding: 1%;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-3" ng-show="priority.id_card_number!==1">
                    <div class="form-group ">
                        <label class="c bold ">{{'id_card_number' | translate }}</label>
                        <!--<span class=" text-success bold help-inline" ng-if="priority.id_card_number ==2"> ( {{'optional' | translate }} )</span>-->
                        <!--<span class=" text-success bold help-inline" ng-if="priority.id_card_number ==3"> ( {{'advisable' | translate }} )</span>-->
                        <span class=" text-success bold help-inline"> ( {{'mandatory' | translate }} )</span>
                        <input type="text" class="form-control"
                               ng-model="persons.id_card_number"  name="id_card_number"
                               numeric-only
                               ng-required="true" maxlength="9" ng-change="isPersonExists(persons.id_card_number)"
                        />
                        <span ng-repeat="(error, errortext) in msg1.id_card_number"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.id_card_number' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.kinship !=1">
                    <div class="form-group">
                        <label class="bold text-center">   {{'kinship' | translate }} </label>
                        <span class=" text-success bold help-inline" ng-if="priority.kinship ==2"> ({{'optional' | translate }})</span>
                        <span class=" text-success bold help-inline" ng-if="priority.kinship ==3"> ({{'advisable' | translate }})</span>
                        <span class=" font-red-pink bold help-inline" ng-if="priority.kinship ==4"> ({{'mandatory' | translate }})</span>

                        <div class="input-group">
                            <ui-select     ng-model="persons.kinship_id"  name="kinship_id"  ng-change="setName(persons.kinship_id)"
                                           ng-required="priority.kinship ==4"
                                         theme="bootstrap" class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in Kinship | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                                                    <button type="button" ng-click="persons.kinship_id = undefined" class="btn btn-default">
                                                                          <span class="glyphicon glyphicon-trash"></span>
                                                                    </button>
                                                                 </span>
                        </div>
                        <span ng-repeat="(error, errortext) in msg1.kinship_id"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.kinship_id' != [ ]" >
                                         {{ errortext.toString() }}
                                </span>
                    </div>
                </div>
                <div class="col-md-3" ng-if="priority.card_type !=1">
                    <div class="form-group">
                        <label class="control-label bold">   {{'card_type' | translate }} </label>
                        <span class=" text-success bold help-inline" ng-if="priority.card_type ==2"> ({{'optional' | translate }})</span>
                        <span class=" text-success bold help-inline" ng-if="priority.card_type ==3"> ({{'advisable' | translate }})</span>
                        <span class=" font-red-pink bold help-inline" ng-if="priority.card_type ==4"> ({{'mandatory' | translate }})</span>
                        <select class="form-control"
                                ng-init=""
                                ng-change="msg1.card_type = [ ]"
                                name="card_type"
                                ng-model='persons.card_type'
                                ng-required="priority.card_type ==4"
                        >
                            <option disabled selected value > --  {{'card_type' | translate }}  -- </option>
                            <option value="1">  {{'id_card' | translate }} </option>
                            <option value="2">  {{'id_number' | translate }} </option>
                            <option value="3">  {{'passport' | translate }} </option>
                        </select>

                        <span ng-repeat="(error, errortext) in msg1.card_type"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.card_type' != [ ]" >
                                       {{ errortext.toString() }}
                                     </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-3" ng-show="priority.name!==1">
                    <div class="form-group">
                        <label class="bold text-center">{{'the_first_name_in_arabic' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.first_name"  name="first_name"
                               ng-required="priority.name==4" readonly arabic-alphabet   ng-change="msg1.first_name = [ ]"/>
                        <span ng-repeat="(error, errortext) in msg1.first_name"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.first_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.name!==1">
                    <div class="form-group ">
                        <label class="bold text-center ">{{'the_father_name_in_arabic' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.second_name"  name="second_name"
                               ng-required="priority.name==4"  readonly arabic-alphabet   ng-change="msg1.second_name = [ ]"/>
                        <span ng-repeat="(error, errortext) in msg1.second_name"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.second_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.name!==1">
                    <div class="form-group">
                        <label class="bold text-center">{{'the_grandfather_name_in_arabic' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control"  readonly arabic-alphabet   ng-model="persons.third_name"  name="third_name"
                               ng-required="priority.name==4" ng-change="msg1.third_name = [ ]"/>
                        <span ng-repeat="(error, errortext) in msg1.third_name"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.third_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.name!==1">
                    <div class="form-group ">
                        <label class="c bold ">{{'the_family_name_in_arabic' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.last_name"  name="last_name"
                               ng-required="priority.name==4"  readonly arabic-alphabet   ng-change="msg1.last_name = [ ]"/>
                        <span ng-repeat="(error, errortext) in msg1.last_name"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.last_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>

            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-3" ng-show="priority.en_name!==1">
                    <div class="form-group">
                        <label class="bold text-center">
                            {{'the_first_name_in_english' | translate }}
                        </label>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.en_name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.en_first_name"  name="en_first_name"
                               ng-required="priority.en_name==4" english-alphabet ng-change="msg1.en_last_name = [ ]"/>
                        <span ng-repeat="(error, errortext) in msg1.en_first_name"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.en_first_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.en_name!==1">
                    <div class="form-group ">
                        <label class="c bold ">
                            {{'the_father_name_in_english' | translate }}
                        </label>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.en_name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.en_second_name"  name="en_second_name"
                               ng-required="priority.en_name==4" english-alphabet ng-change="msg1.en_second_name = [ ]"/>
                        <span ng-repeat="(error, errortext) in msg1.en_second_name"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.en_second_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.en_name!==1">
                    <div class="form-group">
                        <label class="bold text-center">
                            {{'the_grandfather_name_in_english' | translate }}
                        </label>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.en_name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.en_third_name"  name="en_third_name"
                               ng-required="priority.en_name==4" english-alphabet ng-change="msg1.en_third_name = [ ]"/>
                        <span ng-repeat="(error, errortext) in msg1.en_third_name"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.en_third_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.en_name!==1">
                    <div class="form-group ">
                        <label class="c bold ">
                            {{'the_family_name_in_english' | translate }}
                        </label>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.en_name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.en_last_name"  name="en_last_name"
                               ng-required="priority.en_name==4" english-alphabet ng-change="msg1.en_last_name = [ ]"/>
                        <span ng-repeat="(error, errortext) in msg1.en_last_name"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.en_last_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-3" ng-show="priority.gender!==1" >
                    <div class="form-group">
                        <label class="bold text-center">{{'the_gender' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.gender==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.gender==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.gender==4">({{'mandatory' | translate }})</span>
                        <select class="form-control" ng-model="persons.gender"  name="gender" disabled
                                ng-required="priority.gender==4" ng-change="msg1.gender = [ ]">
                            <option disabled selected value>{{'select_the_gender' | translate }}</option>
                            <option  value="1"  >
                                {{'male' | translate }}
                            </option>
                            <option  value="2"  >
                                {{'female' | translate }}
                            </option>
                        </select>
                        <span ng-repeat="(error, errortext) in msg1.gender"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.gender' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.birthday!==1" >
                    <div class="form-group">
                        <label class="bold text-center"> {{'Date_of_Birth' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.birthday==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.birthday==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.birthday==4">({{'mandatory' | translate }})</span>
                        <div > <!-- class="input-group" -->
                            <input type="text" class="form-control"  uib-datepicker-popup="{{format}}"
                                   ng-model="persons.birthday" datepickerPopup
                                   name="birthday" ng-required="priority.birthday==4" ng-change="msg1.birthday = [ ]"
                                   is-open="popup1.opened" datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly />
<!--                            <span class="input-group-btn">-->
<!--                         <button type="button" class="btn btn-default" ng-click="open1($event)">-->
<!--                             <i class="glyphicon glyphicon-calendar"></i>-->
<!--                         </button>-->
<!--                    </span>-->
                        </div>
                        <span ng-repeat="(error, errortext) in msg1.birthday"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.birthday' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.marital_status!==1">
                    <div class="form-group">
                        <label class="bold text-center">{{'the_marital_status' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.marital_status==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.marital_status==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.marital_status==4">({{'mandatory' | translate }})</span>

<!--                        <div class="input-group">-->
                            <ui-select  ng-model="persons.marital_status_id"
                                        name="marital_status_id" ng-required="priority.marital_status==4" ng-change="msg1.marital_status_id = [ ]"
                                       theme="bootstrap"
                                        class="text-right disabled" ng-disabled="true" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in MaritalStatus | filter: $select.search" ng-disabled="true">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
<!--                            <span class="input-group-btn">-->
<!--                                 <button type="button" ng-click="persons.marital_status_id = undefined" class="btn btn-default">-->
<!--                                               <span class="glyphicon glyphicon-trash"></span>-->
<!--                                  </button>-->
<!--                            </span>-->
                        </div>
                        <span ng-repeat="(error, errortext) in msg1.marital_status_id"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.marital_status_id' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>

                    </div>
                <div class="col-md-3"   ng-show="priority.health_condition!==1">
                    <div class="form-group">
                        <label class="bold text-center">{{'the_health_status' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.health_condition==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.health_condition==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.health_condition==4">({{'mandatory' | translate }})</span>

                        <select class="form-control"  ng-model="persons.condition" name="health_condition"
                                ng-required="priority.health_condition==4" ng-change="msg1.condition = [ ]">
                            <option disabled selected value>{{'select_the_health_status' | translate }}</option>
                            <option value="1">{{'good' | translate }}</option>
                            <option value="2">{{'suffers_from_a_chronic_disease' | translate }}</option>
                            <option value="3">{{'with_special_needs' | translate }}</option>


                        </select>
                        <span ng-repeat="(error, errortext) in msg1.condition"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.condition' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-3" ng-show="priority.fm_working!=1">
                    <div class="form-group">
                        <label class="bold text-center">{{'is_she_working?' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.fm_working==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.fm_working==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.fm_working==4">({{'mandatory' | translate }})</span>

                        <select class="form-control" ng-model="persons.working"  name="working"
                                ng-required="priority.fm_working==4" ng-change="restValue(1,persons.working)">
                            <option disabled selected value>---{{'is_she_working?' | translate }}---</option>
                            <option  value="1"  >{{'yes' | translate }}</option>
                            <option  value="2"  >{{'no' | translate }}</option>
                        </select>
                        <span ng-repeat="(error, errortext) in msg1.working"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.working' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
                    </div>
                </div>
                <div class="col-md-3"   ng-show="priority.work_job!==1">
                    <div class="form-group ">
                        <label class="c bold ">
                            {{'the_career' | translate }}
                        </label>
                        <span  class=" font-red-pink bold help-inline" ng-if="persons.working == 1">({{'mandatory' | translate }})</span>

                        <div class="input-group">
                            <ui-select  ng-model="persons.work_job_id"  name="work_job_id"
                                        ng-disabled="persons.working != 1"
                                        ng-required="priority.work_job==4 && persons.working == 1" ng-change="msg1.work_job_id = [ ]"
                                       theme="bootstrap" class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in WorkJob | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                                                <button type="button" ng-click="persons.work_job_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                        </div>
                        <span ng-repeat="(error, errortext) in msg1.work_job_id"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.work_job_id' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>

                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.study !=1">
                    <div class="form-group">
                        <label class="control-label bold">   {{'is study' | translate }} </label>
                        <span class=" text-success bold help-inline" ng-if="priority.study ==2"> ({{'optional' | translate }})</span>
                        <span class=" text-success bold help-inline" ng-if="priority.study ==3"> ({{'advisable' | translate }})</span>
                        <span class=" font-red-pink bold help-inline" ng-if="priority.study ==4"> ({{'mandatory' | translate }})</span>
                        <select class="form-control" ng-init=" " name="study" ng-model='persons.study'
                                ng-required="priority.study ==4"
                                ng-change="Reset(persons.study)">
                            <option disabled selected value > -- {{'select status'| translate}}  -- </option>
                            <option value="1">  {{'yes' | translate }} </option>
                            <option value="0">  {{'no' | translate }} </option>
                        </select>
                        <span ng-repeat="(error, errortext) in msg1.study"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.study' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.stage!=1">
                    <div class="form-group">
                        <label class="bold text-center">{{'the_educational_level' | translate }}</label>
                        <span class=" text-success bold help-inline" ng-if="priority.stage==3">({{'advisable' | translate }})</span>
                        <span class=" text-success bold help-inline" ng-if="priority.stage==2">({{'optional' | translate }})</span>
                        <span class=" font-red-pink bold help-inline" ng-if="priority.stage==4">({{'mandatory' | translate }})</span>
                        <div class="input-group">
                            <ui-select
                                    ng-model="persons.stage"  name="stage"
                                    ng-required="priority.stage==4 && persons.study ==1"
                                    ng-disabled=" persons.study !=1"
                                    ng-change="msg1.stage = [ ]"
                                    theme="bootstrap" class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in EduStages | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                                                         <button type="button" ng-click="persons.stage = undefined" class="btn btn-default">
                                                                                  <span class="glyphicon glyphicon-trash"></span>
                                                                         </button>
                                                                     </span>
                        </div>
                        <span ng-repeat="(error, errortext) in msg1.stage"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.stage' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn blue" ng-click="save(persons)"><span>{{'save' | translate }}</span></button>
        <button class="btn red-pink" ng-click="cancel()"><span>{{'cancel' | translate }}</span></button>
    </div>
</script>
<script type="text/ng-template" id="show.html">
    <div class="modal-body" style="padding: 3%;">
        <div class="panel panel-info" style="margin-top: 2%;">
            <div class="panel-heading panel-heading-style">

                <span style="margin-top: 2%;margin-bottom: 2%;">{{'show_member_data_form' | translate }}</span>

            </div>
            <div class="panel-body  text-center">
                <div class="row  text-center" style="padding: 2%;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center">{{'the_first_name_in_arabic' | translate }}</label>
                                <p class="p_show">{{persons.first_name}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group ">
                                <label class="bold text-center ">{{'the_father_name_in_arabic' | translate }}</label>
                                <p class="p_show">{{persons.second_name}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center">{{'the_grandfather_name_in_arabic' | translate }}</label>
                                <p class="p_show" >{{persons.third_name}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group ">
                                <label class="c bold ">{{'the_family_name_in_arabic' | translate }}</label>
                                <p class="p_show">{{persons.last_name}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center">{{'the_first_name_in_english' | translate }}</label>
                                <p class="p_show" >{{persons.en_first_name}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group ">
                                <label class="c bold ">{{'the_father_name_in_english' | translate }}</label>
                                <p class="p_show">{{persons.en_second_name}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center">{{'the_grandfather_name_in_english' | translate }}</label>
                                <p class="p_show" >{{persons.en_third_name}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group ">
                                <label class="c bold ">{{'the_family_name_in_english' | translate }}</label>
                                <p class="p_show" >{{persons.en_last_name}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-3" >
                            <div class="form-group ">
                                <label class="c bold ">{{'id_card_number' | translate }}</label>
                                <p class="p_show">{{persons.id_card_number}}</p>

                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group ">
                                <label class="c bold ">{{'card_type' | translate }}</label>
                                <p class="p_show">{{persons.card_type}}</p>

                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center">{{'the_gender' | translate }}</label>
                                <p class="p_show">{{persons.gender}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center"> {{'Date_of_Birth' | translate }}</label>
                                <p class="p_show">{{persons.birthday}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center"> {{'marital_status' | translate }}</label>
                                <p class="p_show">{{persons.marital_status_name}}</p>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center">{{'the_health_status' | translate }}</label>
                                <p class="p_show">{{persons.health_status}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center">{{'is_she_working?' | translate }}</label>
                                <p class="p_show">{{persons.working}}</p>

                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group ">
                                <label class="c bold ">{{'the_career' | translate }}</label>
                                <p class="p_show">{{persons.work_job}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center">   {{'is study' | translate }} </label>
                                <p class="p_show">{{persons.study}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center">{{'the_educational_level' | translate }}</label>
                                <p class="p_show" ng-show="persons.stage != null">{{persons.stage}}</p>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button class="btn red-pink" ng-click="cancel()">{{'close' | translate }}</button>
        </div>
</script>
<script type="text/ng-template" id="showImage.html">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-xs pull-right fa fa-times" style=" font-size: medium; background-color: transparent" ng-click="cancel()"></button>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="min-height: 600px; height: 100%; width: 100%;  padding: 2%; padding-top:0%">
                <img ng-src="{{imgSrc}}" style="width:100%; height:1000px;" data-img-blob="" data-url="{{'/doc/files/thumbnail/'+target}}" class="img-thumbnail">
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="myModalContent2.html">
    <div class="modal-header" style="  padding:5%; ">
        <h4 class="modal-title bold text-center"> {{'Files Uploaded form' | translate }} </h4>
    </div>
    <div class="modal-body">

        <div class="row" style="padding: 2%;">

            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 2%;">
                    <div class="note note-success">
                        >
                            <i style="font-size: larger" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            {{'You must click on the download button located opposite the image you want to download in order to upload successfully'| translate}}
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12" style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">{{'select attachment' | translate }}</label>
                        <div class="col-md-10">
                            <div class="margin-bottom-20">
                                <input type="file" accept="image/x-png,image/gif,image/jpeg,image/jpg" nv-file-select="" uploader="uploader" >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="uppercase">
                            <th width="50%">{{'name' | translate }}</th>
                            <th ng-show="uploader.isHTML5">{{'size' | translate }}</th>
                            <th ng-show="uploader.isHTML5">{{'progress' | translate }}</th>
                            <th>{{'status' | translate }}</th>
                            <th>{{'actions' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td><div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 48 }"></div></td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress progress-sm" style="margin-bottom: 0;">
                                    <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                    <span ng-show="item.isSuccess" class="text-success">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                <span ng-show="item.isCancel" class="text-info">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                    </span>
                                <span ng-show="item.isError" class="font-red-pink">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> {{'upload' | translate }} </button>
                                <button type="button" class="btn red-pink btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> {{'remove' | translate }} </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <p>{{'queue_progress' | translate }}:</p>
                        <div class="progress progress-sm" style="">
                            <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel' | translate }}</span> </button>
    </div>
</script>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header" style="  padding:12%; ">
        <h4 class="modal-title text-center"> {{'Files Founded' | translate }} </h4>
    </div>
    <div class="modal-body">
        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
            <thead>
            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                <th class="col-md-6 text-center" > {{'attachment' | translate }}</th>
                <th class="col-md-6 text-center" > {{'selectd' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="file in Files">
                <td>
                    <button type="button" class="btn blue btn-xs" doc-file-download data-url="/doc/files/download/{{file.file_id}}">
                        <span class="glyphicon glyphicon-upload"></span> {{'download' | translate }} </button>

                </td>
                <td>
                    <button type="button" class="btn blue btn-xs fa fa-check" ng-click="SelectFile(file)"></button>


                </td>

            </tr>

            </tbody>
        </table>


    </div>
    <div class="modal-footer">
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel' | translate }}</span> </button>
    </div>
</script>
<script type="text/ng-template" id="deletePerson.html">
    <div class="modal-header" style="  padding:12%; ">
        <input type="hidden" name="delPerson" id="delPerson" ng-model="personId" value="{{personId}}">

        <h4 class="modal-title text-center">{{'are_you_sure_you_want_to_delete_?' | translate }}</h4>
    </div>
    <div class="modal-footer">
        <button class=" btn blue" ng-click="confirmDelete(personId)"type="button" >{{'delete' | translate }}</button>
        <button class="btn red-pink"  ng-click="cancel()">{{'cancel' | translate }}</button>
    </div>
</script>
<script type="text/ng-template" id="addBank.html">
    <div class="modal-header text-center" style="padding: 4%">
        <h4 class="modal-title bold" ng-show="action =='add'">{{'add bank account form' | translate }}</h4>
        <h4 class="modal-title bold" ng-show="action =='edit'">{{'edit bank account form' | translate }}</h4>
    </div>
    <div class="modal-body">
        <div class="row " style="padding: 2%;">
           <form name="frm"  novalidate="" role="form" class=" text-center" style="padding: 2%;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error' : frm.bank_id.$invalid && (!frm.bank_id.$pristine || frm.bank_id.$touched)}">
                            <label class="control-label bold text-center">   {{'bank_names' | translate }} </label>
                            <span class=" font-red-pink bold help-inline"> ({{'mandatory' | translate }})</span>

                            <div class="input-group">
                                <ui-select ng-model="detail.bank_id"
                                           name="bank_id"
                                           ng-change="getBranches(detail.bank_id)"
                                           ng-readonly="action =='edit'"
                                           ng-required="gpriority.guardian_bank_name ==4" theme="bootstrap"
                                           class="text-right" >
                                    <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in Banks | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                                                <button type="button" ng-click="detail.bank_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                            </div>
                            <span ng-repeat="(error, errortext) in msg4.bank_id"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg4.bank_id' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error' : frm.branch_name.$invalid && (!frm.branch_name.$pristine || frm.branch_name.$touched)}">
                            <label class="control-label bold text-center">   {{'branch_name' | translate }} </label>
                            <span class=" font-red-pink bold help-inline"> ({{'mandatory' | translate }})</span>

                            <div class="input-group">
                                <ui-select  ng-model="detail.branch_name"
                                            ng-required="true"
                                            name="branch_name"
                                            ng-change="msg4.branch_name = [ ]"
                                           theme="bootstrap"
                                           class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in Branches | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                         <button type="button" ng-click="detail.branch_name = undefined" class="btn btn-default">
                                              <span class="glyphicon glyphicon-trash"></span>
                                           </button>
                                    </span>
                            </div>
                            <span ng-repeat="(error, errortext) in msg4.branch_name"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg4.branch_name' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error' : frm.account_number.$invalid && (!frm.account_number.$pristine || frm.account_number.$touched)}">
                            <label class="control-label bold text-center">   {{'account_number' | translate }} </label>
                            <span class=" font-red-pink bold help-inline"> ({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control"
                                   ng-model="detail.account_number"
                                   numeric-only
                                   maxlength="45"
                                   ng-change="msg4.account_number = [ ]"
                                   ng-required="true"
                                   name="account_number"
                                   placeholder="{{'account_number' | translate }} " />
                            <span class=" font-red-pink bold help-inline" ng-show="frm.account_number.$error.pattern">  {{'integer_field' | translate }}  </span>
                            <span ng-repeat="(error, errortext) in msg4.account_number"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg4.account_number' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error' : frm.account_owner.$invalid && (!frm.account_owner.$pristine || frm.account_owner.$touched)}">
                            <label class="control-label bold text-center">   {{'account_owner' | translate }} </label>
                            <span class=" font-red-pink bold help-inline"> ({{'mandatory' | translate }})</span>
                            <input type="text"
                                   class="form-control"
                                   ng-model="detail.account_owner"
                                   ng-required="true"
                                   name="account_owner"
                                   ng-change="msg4.account_owner = [ ]"
                                   placeholder="{{'account_owner' | translate }} " />
                            <span ng-repeat="(error, errortext) in msg4.account_owner"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg4.account_owner' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn blue" ng-disabled="frm.$invalid" ng-click="save(detail)">{{'save' | translate }}</button>
        <button class="btn red-pink" ng-click="cancel()">{{'cancel' | translate }}</button>
    </div>
</script>
