<style>
    .tabbable-line>.nav-tabs>li.active{
        border-bottom: 4px solid #3598dc;
        background-color: #e7ecf1 !important;
    }

    .tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover{
        border-bottom: 4px solid #3598dc;
    }

    .portlet.light>.portlet-title>.nav-tabs>li{
        border-radius: 10px 10px 0px 0px;
    }
</style>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i>{{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'reports and queries'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'transfer request'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        {{ 'transfer request' | translate}}  {{ 'accepted transfers' | translate}}
    </li>

</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span class="fa fa-check"></span>
                        {{ 'transfer request' | translate}}  {{ 'accepted transfers' | translate}}
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix pull-right">
                        <!--<button  uib-tooltip="{{'export'| translate}}" ng-show="(categoryType == 2 && aidsItems.length != 0) || (categoryType == 1 && sponsorshipsItems.length != 0) "-->
                        <!--class=" btn green-meadow " ng-click="TransferSearch(datafilter,'xlsx')" type="button" >-->
                        <!--<span class="fa fa-file-excel-o "></span>-->
                        <!--</button>-->
                        <div class="btn-group"  uib-dropdown ng-show="aidsItems.length > 0 " >
                            <button id="single-button-" type="button"
                                    uib-tooltip="{{'accept-'| translate}}" class="btn blue" uib-dropdown-toggle>
                                <span class="fa fa-thumbs-up"></span>
                                <span class="hidden-sm hidden-md  hidden-xs">{{'accept-'| translate}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button" style="min-width: 10px !important;">
                                <li>
                                    <a ng-click="acceptGroup(0)"  class="iconify">
                                        <!--<i class="fa fa-hand-paper-o" style="margin-left: 4%"></i>-->
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'All'| translate}}</span>
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="acceptGroup(1)" class="iconify" ng-show="categoryType == 2">
                                        <!--<i class="fa fa-hand-paper-o" style="margin-left: 4%"></i>-->
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'selected'| translate}}</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <button  uib-tooltip="{{'advance search'| translate}}" class="btn yellow-saffron" ng-click="toggleSearchForm()" type="button" >
                            <span class="fa fa-search"></span>
                            <span class="hidden-sm hidden-md  hidden-xs">{{'advance search'| translate}}</span>
                        </button>

                    </div>
                </div>
            </div>
            <div class="portlet-body" style="min-height: 600px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="custom">
                            <form name="frmsearch"  novalidate role="form" class=" text-center" style="margin-bottom: 2%; padding:0 2%;">
                                <div class="row" style="margin-bottom: 2%; box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 5px;">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">
                                                    <span>{{'category_name_'| translate}}</span>
                                                </label>
                                                <div class="input-group">
                                                    <ui-select name="category_id" ng-model="datafilter.category_id" theme="bootstrap"
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in aidCategories_ | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                                <button type="button" ng-click="datafilter.category_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" ng-class="{ 'has-error' : frmsearch.id_card_number.$invalid }">
                                                <label class=" control-label bold">{{'id_card_number'| translate}}</label>
                                                <input type="text" class="form-control" name="id_card_number" ng-model="datafilter.id_card_number" maxlength="9"
                                                       ng-maxlength="9" numeric-only/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'status'| translate}}</label>
                                                <select class="form-control" name="get_by_status" ng-model="datafilter.get_by_status">
                                                    <option  selected value> ---  {{'status'| translate}}  --- </option>
                                                    <!--<option value="4"> {{'pre_exist'| translate}} </option>-->
                                                    <!--<option value="0">  {{'in_progress'| translate}} </option>-->
                                                    <option value="1">  {{'accepted-'| translate}} </option>
                                                    <option value="2">  {{'reject'| translate}} </option>
                                                    <option value="3">  {{'final_confirm'| translate}} </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group" ng-class="{ 'has-error' : frmsearch.first_name.$invalid }">
                                                <label class=" control-label bold">{{'first_name'| translate}}</label>
                                                <input type="text" class="form-control" name="first_name" ng-model="datafilter.first_name" arabic-alphabet
                                                       maxlength="45" ng-maxlength="45"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" ng-class="{ 'has-error' : frmsearch.second_name.$invalid }">
                                                <label class=" control-label bold">{{'second_name'| translate}}</label>
                                                <input type="text" class="form-control" name="second_name" ng-model="datafilter.second_name" arabic-alphabet    maxlength="45" ng-maxlength="45"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group " ng-class="{ 'has-error' : frmsearch.third_name.$invalid }">
                                                <label class=" control-label bold">{{'third_name'| translate}}</label>
                                                <input type="text" class="form-control" name="third_name" ng-model="datafilter.third_name" arabic-alphabet    maxlength="45" ng-maxlength="45" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group " ng-class="{ 'has-error' : frmsearch.last_name.$invalid }">
                                                <label class=" control-label bold">{{'last_name'| translate}}</label>
                                                <input type="text" class="form-control" name="last_name" ng-model="datafilter.last_name" arabic-alphabet    maxlength="45" ng-maxlength="45"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3" >
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'country'| translate}} </label>
                                                <div class="input-group">
                                                    <ui-select
                                                            ng-model="datafilter.adscountry_id"
                                                            name="adscountry_id"

                                                            ng-change="getLocation('sdistricts','scountries',datafilter.adscountry_id)"
                                                            theme="bootstrap" class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in aidCountries | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.adscountry_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="col-md-3" >
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'district'| translate}} </label>
                                                <div class="input-group">
                                                    <ui-select   ng-model="datafilter.adsdistrict_id"
                                                                 name="adsdistrict_id"

                                                                 ng-change="getLocation('sregions','sdistricts',datafilter.adsdistrict_id)"
                                                                 theme="bootstrap" class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in governarate | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.adsdistrict_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="col-md-3" >
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'region'| translate}} </label>
                                                <div class="input-group">
                                                    <ui-select   ng-model="datafilter.adsregion_id"
                                                                 name="adsregion_id"

                                                                 ng-change="getLocation('sneighborhoods','sregions',datafilter.adsregion_id)"
                                                                 theme="bootstrap" class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in regions | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.adsregion_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-3" >
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'nearlocation_'| translate}} </label>
                                                <div class="input-group">
                                                    <ui-select    ng-model="datafilter.adsneighborhood_id"
                                                                  name="adsneighborhood_id"
                                                                  ng-change="getLocation('ssquares','sneighborhoods',datafilter.adsneighborhood_id)"

                                                                  theme="bootstrap" class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in nearlocation | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.adsneighborhood_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3" >
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'square'| translate}} </label>
                                                <div class="input-group">
                                                    <ui-select    ng-model="datafilter.adssquare_id"
                                                                  name="adssquare_id"
                                                                  ng-change="getLocation('smosques','ssquares',datafilter.adssquare_id)"

                                                                  theme="bootstrap" class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in squares | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.adssquare_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-3" >
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'mosques'| translate}} </label>
                                                <div class="input-group">
                                                    <ui-select ng-model="datafilter.adsmosques_id"
                                                               name="adsmosques_id"
                                                               theme="bootstrap" class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in mosques | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.adsmosques_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'request_data'| translate}} ({{'from'| translate}})</label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="datafilter.created_at_from"
                                                           datepickerPopup
                                                           name="created_at_from"
                                                           is-open="popup99.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open99($event)">

                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'request_data'| translate}} ({{'to'| translate}})</label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="datafilter.created_at_to"
                                                           datepickerPopup
                                                           name="created_at_to"
                                                           is-open="popup88.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open88($event)">

                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'accept_date'| translate}} ({{'from'| translate}})</label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="datafilter.accept_date_from"
                                                           datepickerPopup
                                                           name="accept_date_from"
                                                           is-open="popup990.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open990($event)">

                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'accept_date'| translate}} ({{'to'| translate}})</label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="datafilter.accept_date_to"
                                                           datepickerPopup
                                                           name="accept_date_to"
                                                           is-open="popup880.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open880($event)">

                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'confirm_date'| translate}} ({{'from'| translate}})</label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="datafilter.confirm_date_from"
                                                           datepickerPopup
                                                           name="confirm_date_from"
                                                           is-open="popup991.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open991($event)">

                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'confirm_date'| translate}} ({{'to'| translate}})</label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="datafilter.confirm_date_to"
                                                           datepickerPopup
                                                           name="confirm_date_to"
                                                           is-open="popup881.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)"
                                                           clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open881($event)">

                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-1 pull-right">
                                            <button class="btn blue" style="width:100%;"
                                                    ng-click="_TransferSearch(datafilter,'paginate')" type="button" >
                                                <span> {{'search'| translate}}</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row" ng-show="aidsItems.length > 0 ">
                            <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
                                <label>
                                    {{'show'| translate}}
                                    <select
                                            class="form-control input-sm input-inline" ng-init=""
                                            ng-change="itemsPerPage__(itemsCount)"
                                            name="itemsCount"
                                            ng-model='itemsCount'>
                                        <option value="50">50</option><option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                        <option value="-1">{{'show_All'| translate}}</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                            </div>
                        </div>
                        <div class="table-scrollable"  ng-show="aidsItems.length != 0 " style="margin-top: 2%;">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                                <thead>
                                <tr style="background-color: #f3f3f3!important; color: #337ab7; height:40px; line-height: 40px; font-size: 30px; ">
                                    <th class="text-center bor-clr" rowspan="2">  {{'#'| translate}} </th>
                                    <th class="text-center bor-clr" rowspan="2" >
                                        <input type="checkbox"
                                               ng-model="All"
                                               ng-change="selectedAll(All)"
                                               ng-true-value="true"
                                               ng-false-value="false"
                                        >
                                    </th>
                                    <th class="text-center bor-clr" colspan="4" >  {{'case_'| translate}} </th>
                                    <th class="text-center bor-clr" colspan="5">  {{'address_'| translate}} </th>
                                    <th class="text-center bor-clr" colspan="2">  {{'request_'| translate}} </th>
                                    <th class="text-center bor-clr" colspan="2">  {{'response_'| translate}} </th>
                                    <th class="text-center bor-clr" colspan="2">  {{'approved_'| translate}} </th>

                                    <th class="text-center bor-clr"  rowspan="2" ng-click="sort('status_id')"> {{'status'| translate}}
                                        <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('confirm_status') != -1  ||  sortKeyArr_un_rev.indexOf('confirm_status') != -1  "
                                              ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('confirm_status') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('confirm_status') != -1}"> </span>
                                    </th>
                                    <th class="text-center bor-clr" rowspan="2">  {{'operations'| translate}} </th>

                                </tr>
                                <tr style="background-color: #f3f3f3!important; color: #337ab7; height:40px; line-height: 40px; font-size: 30px; ">
                                    <th class="text-center bor-clr" ng-click="sort_('id_card_number')"
                                        style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"> {{'id_card_number'| translate}}
                                        <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('id_card_number') != -1  ||  sortKeyArr_un_rev.indexOf('id_card_number') != -1  "
                                              ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('id_card_number') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('id_card_number') != -1}"> </span>
                                    </th>
                                    <th class="text-center bor-clr"
                                        style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                        ng-click="sort_('full_name')"> {{'full_name'| translate}}
                                        <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('full_name') != -1  ||  sortKeyArr_un_rev.indexOf('full_name') != -1  "
                                              ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('full_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('full_name') != -1}"> </span>

                                    </th>
                                    <th class="text-center bor-clr"
                                        style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                        ng-click="sort_('category_name')"> {{'category_name_'| translate}}
                                        <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('category_name') != -1  ||  sortKeyArr_un_rev.indexOf('category_name') != -1  "
                                              ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('category_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('category_name') != -1}"> </span>
                                    </th>

                                    <th class="text-center bor-clr"
                                        style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                        ng-click="sort_('primary_mobile')"> {{'mobile'| translate}}
                                        <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('primary_mobile') != -1  ||  sortKeyArr_un_rev.indexOf('primary_mobile') != -1  "
                                              ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('primary_mobile') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('primary_mobile') != -1}"> </span>
                                    </th>
                                    <th class="text-center bor-clr"
                                        style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                        ng-click="sort_('district_')"> {{'district'| translate}}
                                        <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('district_name') != -1  ||  sortKeyArr_un_rev.indexOf('district_name') != -1  "
                                              ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('district_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('district_name') != -1}"> </span>
                                    </th>
                                    <th class="text-center bor-clr"
                                        style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                        ng-click="sort_('region_')"> {{'region'| translate}}
                                        <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('region_name') != -1  ||  sortKeyArr_un_rev.indexOf('region_name') != -1  "
                                              ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('region_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('region_name') != -1}"> </span>
                                    </th>
                                    <th class="text-center bor-clr"
                                        style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                        ng-click="sort_('nearLocation')"> {{'nearlocation_'| translate}}
                                        <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('nearLocation') != -1  ||  sortKeyArr_un_rev.indexOf('nearLocation') != -1  "
                                              ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('nearLocation') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('nearLocation') != -1}"> </span>
                                    </th>
                                    <th class="text-center bor-clr"
                                        style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                        ng-click="sort_('square_')"> {{'square'| translate}}
                                        <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('square_name') != -1  ||  sortKeyArr_un_rev.indexOf('square_name') != -1  "
                                              ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('square_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('square_name') != -1}"> </span>
                                    </th>
                                    <th class="text-center bor-clr"
                                        style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                        ng-click="sort_('mosque_')"> {{'mosques'| translate}}
                                        <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('mosque_name') != -1  ||  sortKeyArr_un_rev.indexOf('mosque_name') != -1  "
                                              ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('mosque_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('mosque_name') != -1}"> </span>
                                    </th>
                                    <th class="text-center bor-clr"
                                        style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                        ng-click="sort_('created_at')"> {{'request_data'| translate}}
                                        <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('created_at') != -1  ||  sortKeyArr_un_rev.indexOf('created_at') != -1  "
                                              ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('created_at') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('created_at') != -1}"> </span>
                                    </th>
                                    <th class="text-center bor-clr"
                                        style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                        ng-click="sort_('user_name')"> {{'request_user'| translate}}
                                        <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('user_name') != -1  ||  sortKeyArr_un_rev.indexOf('user_name') != -1  "
                                              ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('user_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('user_name') != -1}"> </span>
                                    </th>
                                    <th class="text-center bor-clr" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"ng-click="sort('transfer_date')"> {{'accept_date'| translate}}
                                        <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('created_at') != -1  ||  sortKeyArr_un_rev.indexOf('created_at') != -1  "
                                              ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('created_at') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('created_at') != -1}"> </span>
                                    </th>
                                    <th class="text-center bor-clr" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"ng-click="sort('transfer_user_name')"> {{'transfer_user_name'| translate}}
                                        <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('user_name') != -1  ||  sortKeyArr_un_rev.indexOf('user_name') != -1  "
                                              ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('user_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('user_name') != -1}"> </span>
                                    </th>
                                    <th class="text-center bor-clr" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"ng-click="sort('confirm_date')"> {{'confirm_date'| translate}}
                                        <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('confirm_date') != -1  ||  sortKeyArr_un_rev.indexOf('confirm_date') != -1  "
                                              ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('confirm_date') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('confirm_date') != -1}"> </span>
                                    </th>
                                    <th class="text-center bor-clr" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"ng-click="sort('confirm_user_name')"> {{'confirm_user_name'| translate}}
                                        <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('confirm_user_name') != -1  ||  sortKeyArr_un_rev.indexOf('confirm_user_name') != -1  "
                                              ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('confirm_user_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('confirm_user_name') != -1}"> </span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="item in aidsItems |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                    <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                    <td>
                                        <input type="checkbox" class="make-switch"
                                               data-on-color="primary"
                                               data-off-color="info"
                                               ng-model="item.check"
                                               ng-checked="item.check"
                                               ng-show="!(item.has_case == 1 || item.has_case == '1')  && ( item.status_id == 0 || item.status_id == '0' )"
                                               ng-true-value="true"
                                               ng-false-value="false"
                                        >
                                    <td>{{  item.id_card_number }}</td>
                                    <td>{{item.full_name }}
                                        <br ng-show="item.reject_permission">
                                        <span uib-tooltip="{{item.reject_permission}}" ng-show="item.reject_permission"
                                              class="btn  btn-xs btn-circle bold"
                                              style="background-color:rgba(219,176,0,0.12);color:#bb9700; cursor: default">
                                                    <span> {{'reject_permission'| translate}}  </span>
                                        </span>
                                    </td>
                                    <td>{{item.category_name }}</td>
                                    <td>{{item.primary_mobile }}</td>
                                    <td> <span ng-show="!item.reject_permission"class="font-blue bold">{{'From_'| translate}}  \ </span>{{ item.district_ }}
                                        <br ng-show="!item.reject_permission">
                                        <span ng-show="!item.reject_permission"class="font-grey-cascade bold">{{'To_'| translate}} \ </span>
                                        <span ng-show="!item.reject_permission"> {{ item.prev_district_ }}</span> </td>
                                    <td>{{ item.region_ }} <br ng-show="!item.reject_permission"> <span ng-show="!item.reject_permission"> {{ item.prev_region_ }} </span></td>
                                    <td>{{ item.nearLocation }}  <br ng-show="!item.reject_permission"> <span ng-show="!item.reject_permission">  {{ item.prev_nearLocation }} </span></td>
                                    <td>{{ item.square_ }}  <br ng-show="!item.reject_permission"> <span ng-show="!item.reject_permission"> {{ item.prev_square_ }} </span></td>
                                    <td>{{ item.mosque_}}  <br ng-show="!item.reject_permission"> <span ng-show="!item.reject_permission"> {{ item.prev_mosque_}} </span></td>

                                    <td  >{{item.created_at }}</td>
                                    <td>{{item.user_name }}</td>
                                    <td>{{item.transfer_date }}</td>
                                    <td>{{item.transfer_user_name }}</td>
                                    <td>{{item.confirm_date }}</td>
                                    <td>{{item.confirm_user_name }}</td>
                                    <td  class="bold">
                                        <span ng-class="{'font-black ':(item.status_id == '-1'),
                                                                 'font-yellow-saffron ':(item.status_id == 0),
                                                                 'font-green-jungle':(item.status_id == 1),
                                                                 'font-blue':(item.status_id == 3),
                                                                 'font-red-pink': item.status_id == 2}"

                                              ng-show="((item.has_case == 1 || item.has_case == '1') &&
                                                        (item.has_transfer == 1 || item.has_transfer == '1')) ||
                                                        ((item.has_case == 0 || item.has_case == '0'))
                                                        ">

                                              <span ng-show="item.status_id =='0'">  {{'in_progress'| translate}} </span>
                                              <span ng-show="item.status_id =='1'">  {{'accepted-'| translate}} </span>
                                              <span uib-tooltip="{{item.reason}}"  ng-show="item.status_id =='2'">  {{'reject'| translate}} </span>
                                              <span ng-show="item.status_id =='3'">  {{'final_confirm'| translate}} </span>
                                        </span>

                                    </td>
                                    <td >
                                        <a uib-tooltip=" {{'reject-'| translate}}"
                                           ng-show="((item.has_case == 0 || item.has_case == '0')  && item.status_id == 1 )"
                                           type="button" class="btn btn-xs bold text-danger fa fa-thumbs-down"
                                           style="font-size: medium; background-color: transparent"
                                           ng-click="confirm('reject',item.transfer_log_id)"></a>

                                        <a uib-tooltip=" {{'accept-'| translate}}"
                                           ng-show="((item.has_case == 0 || item.has_case == '0')  && item.status_id == 1 )"
                                           type="button" class="btn btn-xs bold text-blue fa fa-thumbs-up"
                                           style="font-size: medium; background-color: transparent"
                                           ng-click="confirm('accept',item.transfer_log_id)"></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="aidsItems.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 2%; margin-bottom: 2%">
                            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                <span>
                                                                    {{'there is no data to show'| translate}}
                                                                </span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="aidsItems.length != 0 ">
                            <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                <span class="bold ">{{'number of total items'| translate}} : </span>
                                <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                <span class="bold ">{{'row'| translate}}</span>
                            </div>
                            <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

<script type="text/ng-template" id="detail.html">
    <div class="modal-header" style="  padding:5%; ">
        <h4 class="modal-title bold text-center">{{'Reject Reason'| translate}} </h4>
    </div>
    <div class="modal-body">
        <div class="row" style="padding: 10px 15px 0px 15px;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <form name="frm" novalidate="" role="form" class="row text-center">
                    <div class="form-group" ng-class="{ 'has-error' : frm.reason.$invalid && !frm.reason.$pristine }">
                    <textarea class="form-control"
                              name="reason"
                              ng-model="reason" ng-required="true"
                              rows="5">
                    </textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class=" btn btn-primary" ng-disabled= "frm.$invalid"  ng-click="confirm(reason)" type="button" >
            <span> {{'Save'| translate}}  </span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"><span> {{'cancel'| translate}} </span></button>
    </div>
</script>