<style>
    .dropdown-menu{
        min-width:110px;
    }
    .inactive ,.inactive .btn-group ,.inactive .btn-group button{
        color: #ccc;
        pointer-events: none;
        cursor: not-allowed;
    }

    .dropdown-menu{
        min-width:10px;
        left: 0
    }
    .btn-group>.dropdown-menu:before, .dropdown-toggle>.dropdown-menu:before, .dropdown>.dropdown-menu:before{
        right: auto !important;
        left: 9px !important;
    }
    .btn-group>.dropdown-menu:after, .dropdown-toggle>.dropdown-menu:after, .dropdown>.dropdown-menu:after{
        right: auto !important;
        left: 9px !important;
    }
    .fixed_dropdown{
        position: inherit !important;
        margin-right: 0% !important;
    }

</style>

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
            {{'cases_manage'|translate}}
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
            {{'aids'|translate}}
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        <a href="#/cases/vouchers">{{'vouchers'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active"><span> {{ 'recipient-report'| translate}}</span></li>
</ul>

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                            <span class="fa fa-users"></span>
                        <span>  {{ 'recipient-report'| translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                         <button ng-if="items.length != 0"
                                uib-tooltip="{{'export result'| translate}}" type="button"
                                ng-click="Search(false ,filter,'ExportToExcel')" class="btn green-turquoise" >
                            <span style="margin-right:3%;" class="fa fa-file-excel-o"></span>
                            <span class="hidden-sm hidden-md  hidden-xs"> {{'export result'| translate}}</span>
                        </button>
                         <button ng-if="items.length != 0"
                                uib-tooltip="{{'export result'| translate}} {{'selected'| translate}}" type="button"
                                ng-click="Search(true ,filter,'ExportToExcel')" class="btn green-turquoise" >
                            <span style="margin-right:3%;" class="fa fa-file-excel-o"></span>
                            <span class="hidden-sm hidden-md  hidden-xs"> {{'export result'| translate}} ( {{'selected'| translate}})</span>
                        </button>
                        <a class="  btn yellow-saffron " ng-click="toggle()" type="button">
                            <span style="margin-left:3%;" class="icon-magnifier"></span>
                            <span class="hidden-sm hidden-md  hidden-xs">{{'advance search'| translate}}</span>
                        </a>

                    </div>
                </div>


            </div>
            <div class="portlet-body">
                    <div class="col-md-12 col-sm-12 col-xs-12"  ng-hide="toggleStatus" >
                            <form name="frmsearch"  novalidate role="form" class=" text-center" style="padding:0%; margin-bottom: 2%; ">
                                <div class="row" style="margin:1%;box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">

                                    <div class="col-md-12 col-sm-12 col-xs-12"  style="margin-bottom: 5px;">
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'organization name'| translate}}</label>
                                                <multiselect  ng-model="filter.organization_id" ng-if="Org"
                                                              ng-class="filter.all_organization? '' : 'inactive'"
                                                              options="Org" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                                </multiselect>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group ">
                                                <label class=" control-label bold">{{'first_name'| translate}}</label>
                                                <input type="text" class="form-control" autofocus name="first_name"ng-model="filter.first_name" arabic-alphabet
                                                       maxlength="45" ng-maxlength="45"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12 ">
                                            <div class="form-group ">
                                                <label class=" control-label bold">{{'second_name'| translate}}</label>
                                                <input type="text" class="form-control" name="second_name"ng-model="filter.second_name" arabic-alphabet   ng-enter="Search(false ,filter,'filter')" maxlength="45" ng-maxlength="45"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group ">
                                                <label class=" control-label bold">{{'third_name'| translate}}</label>
                                                <input type="text" class="form-control" name="third_name" ng-model="filter.third_name" ng-enter="Search(false ,filter,'filter')" arabic-alphabet    maxlength="45" ng-maxlength="45" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group ">
                                                <label class=" control-label bold">{{'last_name'| translate}}</label>
                                                <input type="text" class="form-control" name="last_name" ng-model="filter.last_name" ng-enter="Search(false ,filter,'filter')" arabic-alphabet    maxlength="45" ng-maxlength="45"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group ">
                                                <label class=" control-label bold">{{'card_number' | translate }}</label>
                                                <input type="text" class="form-control" name="id_card_number" ng-model="filter.id_card_number" maxlength="9"
                                                       ng-maxlength="9" numeric-only ng-enter="Search(false ,filter,'filter')"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group ">
                                                <label class=" control-label bold">{{'voucher_status'| translate}}</label>
                                                <select class="form-control" name="status" ng-model="filter.status">
                                                    <option selected value>{{'voucher_status'| translate}}  </option>
                                                    <option value="0">{{'inProgress'| translate}} </option>
                                                    <option value="1"> {{'closed'| translate}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group ">
                                                <label class=" control-label bold">{{'voucher_urgent'| translate}}</label>
                                                <select class="form-control" name="urgent" ng-model="filter.urgent">
                                                    <option selected value>{{'voucher_urgent'| translate}}  </option>
                                                    <option value="0"> {{'not_urgent'| translate}}  </option>
                                                    <option value="1">  {{'urgent'| translate}} ة </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold ">  {{'voucher_category'| translate}}  </label>
                                                <div class="input-group">
                                                    <ui-select name="category_id" ng-model="filter.category_id"theme="bootstrap"
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in Choices | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                            <button type="button" ng-click="filter.category_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label  bold ">  {{'voucher_type'| translate}}  </label>
                                                <select class="form-control"
                                                        ng-init=""
                                                        ng-change="msg1.type = [ ]"
                                                        name="type"
                                                        ng-model='filter.type'
                                                >
                                                    <option selected value > --  {{'voucher_type'| translate}}  -- </option>
                                                    <option  value="1" > {{'non_financial'| translate}} </option>
                                                    <option  value="2" > {{'financial'| translate}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'voucher_title'| translate}}</label>
                                                <input type="text" class="form-control" name="title" ng-model="filter.title"  maxlength="255" ng-maxlength="255"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'voucher_content'| translate}}</label>
                                                <input type="text" class="form-control" name="content" ng-model="filter.content"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'min_voucher_value'| translate}}</label>
                                                <input type="text" class="form-control" name="min_value" ng-model="filter.min_value" numeric-only/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'max_voucher_value'| translate}}</label>
                                                <input type="text" class="form-control" name="max_value" ng-model="filter.max_value" numeric-only  />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'voucher_note'| translate}}</label>
                                                <input type="text" class="form-control" name="notes" ng-model="filter.notes"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group ">
                                                <label class="control-label bold">{{'currency'| translate}}</label>

                                                <div class="input-group">
                                                    <ui-select name="currency_id" ng-model="filter.currency_id" theme="bootstrap"
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in currency | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                            <button type="button" ng-click="filter.currency_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'voucher_date_from'| translate}} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filter.voucher_date_from"
                                                           datepickerPopup
                                                           name="voucher_date_from"
                                                           is-open="popup999.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open999($event)">
                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'voucher_date_to'| translate}} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filter.voucher_date_to"
                                                           datepickerPopup
                                                           name="voucher_date_to"
                                                           is-open="popup888.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open888($event)">

                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'created_at_from'| translate}} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filter.date_from"
                                                           datepickerPopup
                                                           name="date_from"
                                                           is-open="popup99.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open99($event)">

                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'created_at_to'| translate}} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filter.date_to"
                                                           datepickerPopup
                                                           name="date_to"
                                                           is-open="popup88.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open88($event)">

                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">{{'category_name'| translate}}</label>
                                                <div class="input-group">
                                                    <ui-select name="case_category_id" ng-model="filter.case_category_id"theme="bootstrap"
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in aidCategories_ | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                                <button type="button" ng-click="filter.case_category_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-12 col-xs-12 text-center pull-right ">
                                            <div class="clearfix pull-right ">
                                                <button class="btn red-pink " type="button" ng-click="resetVouchersFilter_()">
                                                    <span class="fa fa-trash-o"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'reset filter'| translate}}</span>
                                                </button>
                                                <button class="btn blue  " ng-click="Search(false ,filter,'filter')" type="button">
                                                    <span class="icon-magnifier"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs"> {{'search'| translate}}</span>
                                                </button>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>
                    <div class="row">
                        <!-- ng-show="items.length != 0" -->
                        <div class="col-md-12 col-sm-12 col-xs-12" >
                            <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
                                <label>
                                {{'show'| translate}}
                                    <select
                                        class="form-control input-sm input-inline" ng-init=""
                                        ng-change="itemsPerPage_(itemsCount)"
                                        name="itemsCount" 
                                        ng-model='itemsCount'>
                                       <option value="50">50</option><option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                        <option value="-1">{{'show_All'| translate}}</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <form class="form-inline search-form pull-right">
                                    <div class="input-group">
                                        <input type="text"
                                               ng-model="search"
                                               class="form-control" autofocus
                                               placeholder="{{'search'| translate}}"
                                               name="search">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" >

                            <div class="table-scrollable" ng-show="items.length != 0">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                                    <thead>
                                    <tr style="background-color: #f3f3f3!important; color: #337ab7; height:60px; line-height: 40px; font-size: 30px; ">
                                        <th class="text-center" > {{'#'| translate}} </th>
                                         <th class="text-center" style= "vertical-align: middle;" >
                                            <input type="checkbox"
                                                   ng-model="All"
                                                   ng-change="allCheckbox(All)"
                                                   ng-true-value="true"
                                                   ng-false-value="false"
                                            >
                                        </th>
                                        <th class="text-center" ng-click="sort_('title')" > {{'voucher_title'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('title') != -1  ||  sortKeyArr_un_rev.indexOf('title') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('title') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('title') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('organization_name')"> {{'organization_name_'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('organizations_name') != -1  ||  sortKeyArr_un_rev.indexOf('organizations_name') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('organizations_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('organizations_name') != -1}"> </span>
                                        </th>
                                         <th class="text-center" ng-click="sort_('case_category_name')" > {{'case_category_type'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('case_category_name') != -1  ||  sortKeyArr_un_rev.indexOf('case_category_name') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('case_category_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('case_category_name') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('category_type')" > {{'voucher_category'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('category_type') != -1  ||  sortKeyArr_un_rev.indexOf('category_type') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('category_type') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('category_type') != -1}"> </span>
                                        </th>  
                                        <th class="text-center" ng-click="sort_('name')"> {{'full name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('name') != -1  ||  sortKeyArr_un_rev.indexOf('name') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('name') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('id_card_number')"> {{'card_number' | translate }}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('id_card_number') != -1  ||  sortKeyArr_un_rev.indexOf('id_card_number') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('id_card_number') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('id_card_number') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('individual_name')"> {{'full name'| translate}} <br> ({{'individual_'| translate}})
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('individual_name') != -1  ||  sortKeyArr_un_rev.indexOf('individual_name') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('individual_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('individual_name') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('beneficiary')"> {{'beneficiary'| translate}}  <br> ({{'individual_'| translate}})
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('beneficiary') != -1  ||  sortKeyArr_un_rev.indexOf('beneficiary') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('beneficiary') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('beneficiary') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('individual_id_card_number')"> {{'card_number' | translate }}  <br> ({{'individual_'| translate}})
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('individual_id_card_number') != -1  ||  sortKeyArr_un_rev.indexOf('individual_id_card_number') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('individual_id_card_number') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('individual_id_card_number') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('voucher_date')"> {{'voucher_date'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='voucher_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th style="width: 80px;" class="text-center" ng-click="sort_('value')" > {{'voucher_value'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('value') != -1  ||  sortKeyArr_un_rev.indexOf('value') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('value') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('value') != -1}"> </span>
                                        </th>
                                         <th style="width: 80px;" class="text-center" ng-click="sort_('exchange_rate')" > {{'exchange_rate'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('exchange_rate') != -1  ||  sortKeyArr_un_rev.indexOf('exchange_rate') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('exchange_rate') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('exchange_rate') != -1}"> </span>
                                        </th>
                                        <th style="width: 80px;" class="text-center" ng-click="sort_('shekel_value')" > {{'shekel_v'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('shekel_value') != -1  ||  sortKeyArr_un_rev.indexOf('shekel_value') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('shekel_value') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('shekel_value') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('receipt_date')"> {{'receipt_date'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('receipt_date') != -1  ||  sortKeyArr_un_rev.indexOf('receipt_date') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('receipt_date') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('receipt_date') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('receipt_time')"> {{'receipt_time'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('receipt_time') != -1  ||  sortKeyArr_un_rev.indexOf('receipt_time') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('receipt_time') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('receipt_time') != -1}"> </span>
                                        </th>
                                        <th style="width: 150px" class="text-center" ng-click="sort_('receipt_location')"> {{'receipt_location'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('receipt_location') != -1  ||  sortKeyArr_un_rev.indexOf('receipt_location') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('receipt_location') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('receipt_location') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('receipt_status_name')"> {{'receipt_status'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('receipt_status') != -1  ||  sortKeyArr_un_rev.indexOf('receipt_status') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('receipt_status') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('receipt_status') != -1}"> </span>
                                        </th>

                                      </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="item in items |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage" >
                                        <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                        <td>
                                            <input type="checkbox" class="make-switch" data-on-color="primary" data-off-color="info"
                                                   ng-model="item.check" ng-checked="selectAll" ng-true-value="true" ng-false-value="false">
                                        </td>
                                        <td>{{ item.voucher_title }}</td>
                                        <td>{{ item.organization_name }} </td>
                                        <td>
                                            <span ng-show="item.case_category_name ==null ">-</span>
                                            <span ng-show="item.case_category_name !=null ">{{ item.case_category_name }}</span>
                                        </td>
                                        <td>{{ item.category_type }}</td>
                                        <td>{{item.name}}</td>
                                        <td>{{ item.id_card_number }} </td>
                                        <td>{{ item.beneficiary }}</td>
                                        <td ng-show="item.beneficiary == 2" >{{item.individual_name}}</td>
                                        <td ng-show="item.beneficiary == 2" >{{ item.individual_id_card_number }} </td>
                                        <td ng-show="!(item.beneficiary == 2)" > -  </td>
                                        <td ng-show="!(item.beneficiary == 2)" > -  </td>
                                        <td>{{ item.voucher_date }}</td>
                                        <td>{{ item.voucher_value }} {{ item.currency_name }}</td>
                                        <td>{{ item.exchange_rate }}</td>
                                        <td>{{ item.shekel_value }}</td>
                                        <td>{{ item.receipt_date }}</td>
                                        <td>{{ item.receipt_time_ }}</td>
                                        <td>{{ item.receipt_location }}</td>
                                        <td>{{ item.receipt_status_name }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div >
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center" ng-show="items.length == 0 " style="margin-bottom: 2%  ; margin-top: 2%; padding: 0%">
                            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show'| translate}}
                                                                    </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="items.length != 0 ">
                            <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                <span class="bold ">{{'number of total items'| translate}} : </span>
                                <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                <span class="bold ">{{'row'| translate}}</span>
                            </div>
                            <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>

                    </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

