<style>
/*    .disabled readonly{
        pointer-events: none;
        cursor: default;
    }*/
    .paragraph_line{
        border: 0.5px lightgrey solid;
        height:30px;
    }


</style>

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{ 'manage' | translate}} {{ 'Social Search' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{ 'Social Search Report' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li >
        <span> {{ row.title }} </span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        <span> {{ row.full_name }} </span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" >
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span  class="icon-wallet"></span>
                        <span>{{ 'Social Search' | translate}} : </span>
                        <span> {{ row.full_name }} </span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">

                        <a class="btn  btn-xs bold font-blue fa fa-file-word-o" style="font-size: medium; background-color: transparent"
                                ng-click="word()" type="button" >
                        </a>

                        <a class="btn  btn-xs bold font-red-pink fa fa-file-pdf-o" style="font-size: medium; background-color: transparent"
                                ng-click="pdf()" type="button" >
                        </a>
                    </div>
                </div>

            </div>
            <div class="portlet-body ">
                <div class="form-wizard">
                    <div class="form-body">
                        <ul class="nav nav-pills nav-justified steps text-center" style="border-bottom: 7px solid #eee;">
                            <li>
                                <a id="step-1"  class="step " ng-click='getTheState(1)'>
                                    <span class="number"> 1 </span>
                                    </br>
                                    <p  class="desc"><i class="fa fa-check"></i> {{'personal-info'| translate}} </p>
                                </a>
                            </li>
                            <li>
                                <a id="step-2"  class="step " ng-click='getTheState(2)'>
                                    <span  class="number"> 2 </span>
                                    </br>
                                    <p class="desc"><i class="fa fa-check"></i> {{'residence-data'| translate}} </p>
                                </a>
                            </li>
                            <li>
                                <a id="step-3"  class="step " ng-click='getTheState(3)'>
                                    <span class="number"> 3 </span>
                                    </br>
                                    <p class="desc"><i class="fa fa-check"></i> {{'home-indoor-data'| translate}} </p>
                                </a>
                            </li>

                            <li>
                                <a id="step-4"  class="step " ng-click='getTheState(4)'>
                                    <span class="number"> 4 </span>
                                    </br>
                                    <p class="desc"><i class="fa fa-check"></i>{{'other-data'| translate}}</p>
                                </a>
                            </li>
                            <li>
                                <a id="step-5"  class="step " ng-click='getTheState(5)'>
                                    <span class="number"> 5</span>
                                    </br>
                                    <p class="desc"><i class="fa fa-check"></i>{{'family-structure'| translate}}</p>
                                </a>
                            </li>
                            <li>
                                <a id="step-6"  class="step " ng-click='getTheState(6)'>
                                    <span class="number"> 6</span>
                                    </br>
                                    <p class="desc"><i class="fa fa-check"></i> {{'recommendations'| translate}} </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="step-1-block"  class=" data-block row" style="padding: 0.01% 1.5% 1.5% 1.5% !important;">
                    <div class=" text-center" style="line-height: 30px;">
                        <div class="panel panel-info">
                            <div class="panel-heading panel-heading-style" >
                                {{'basic info'| translate}}
                            </div>
                            <div class="panel-body">
                                <div class="row" style="padding: 1%;" >
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-3">
                                                <label class="control-label bold">   {{'id_card_number'| translate}} </label>
                                                <p class="paragraph_line"> {{  row.id_card_number}} </p>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label bold">   {{'card_type'| translate}} </label>
                                                <p class="paragraph_line"> {{  row.card_type}} </p>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label bold">   {{'first_name'| translate}} </label>
                                                <p class="paragraph_line"> {{  row.first_name}} </p>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label bold">   {{'second_name'| translate}} </label>
                                                <p class="paragraph_line"> {{  row.second_name}} </p>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label bold">   {{'third_name'| translate}} </label>
                                                <p class="paragraph_line"> {{  row.third_name}} </p>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label bold">   {{'last_name'| translate}} </label>
                                                <p class="paragraph_line"> {{  row.last_name}} </p>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label bold">   {{'gender'| translate}} </label>
                                                <p class="paragraph_line"> {{  row.gender}} </p>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label bold">   {{'marital_status_id'| translate}} </label>
                                                <p class="paragraph_line"> {{  row.marital_status_name}} </p>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label bold">   {{'birthday'| translate}} </label>
                                                <p class="paragraph_line"> {{  row.birthday}} </p>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="control-label bold">   {{'deserted'| translate}} </label>
                                                <p class="paragraph_line"> {{  row.deserted}} </p>
                                            </div>

                                            <div class="col-md-3">
                                                <label class="control-label bold">   {{'nationality'| translate}} </label>
                                                <p class="paragraph_line"> {{  row.nationality}} </p>
                                            </div>

                                            <div class="col-md-3">
                                                <label class="control-label bold">   {{'family_member_count'| translate}} </label>
                                                <p class="paragraph_line"> {{  row.family_cnt}} </p>
                                            </div>
                                        <div class="col-md-3">
                                            <label class="control-label bold">   {{'birth_place'| translate}} </label>
                                            <p class="paragraph_line"> {{  row.birth_place}} </p>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label bold">   {{'citizen_status'| translate}} </label>
                                            <p class="paragraph_line"> {{  row.refugee}} </p>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label bold">   {{'unrwa_card_number'| translate}} </label>
                                            <p class="paragraph_line"> {{  row.unrwa_card_number }}</p>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label bold">   {{'receivables'| translate}} </label>
                                            <p class="paragraph_line"> {{  row.receivables}} </p>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label bold">   {{'receivables_sk_amount'| translate}} </label>
                                            <p class="paragraph_line"> {{  row.receivables_sk_amount}} </p>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label bold">   {{'is_qualified'| translate}} </label>
                                            <p class="paragraph_line"> {{  row.is_qualified}} </p>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="control-label bold">   {{'qualified_card_number'| translate}} </label>
                                            <p class="paragraph_line"> {{  row.qualified_card_number}} </p>
                                        </div>
                                    </div>
                                   </div>
                            </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading panel-heading-style">{{'address'| translate}}</div>
                            <div class="panel-body">
                                <div class="row text-center" style="padding: 2%;">
                                    <div class="col-md-3">
                                        <label class="control-label bold">   {{'country'| translate}} </label>
                                        <p class="paragraph_line"> {{  row.country}} </p>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label bold">   {{'district'| translate}} </label>
                                        <p class="paragraph_line"> {{  row.governarate}} </p>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label bold">   {{'region'| translate}} </label>
                                        <p class="paragraph_line"> {{  row.region_name}} </p>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label bold">   {{'nearlocation'| translate}} </label>
                                        <p class="paragraph_line"> {{  row.nearLocation}} </p>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label bold">   {{'square'| translate}} </label>
                                        <p class="paragraph_line"> {{  row.square_name}} </p>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label bold">   {{'mosques'| translate}} </label>
                                        <p class="paragraph_line"> {{  row.mosque_name}} </p>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label bold">   {{'street_address'| translate}} </label>
                                        <p class="paragraph_line"> {{  row.street_address}} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading panel-heading-style">{{'Contact info'| translate}}</div>
                            <div class="panel-body">
                                <div class="row text-center" style="padding: 2%;">
                                    <div class="col-md-3">
                                        <label class="control-label bold">   {{'primary_mobile'| translate}} </label>
                                        <p class="paragraph_line"> {{  row.primary_mobile}} </p>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label bold">   {{'secondery_mobile'| translate}} </label>
                                        <p class="paragraph_line"> {{  row.secondary_mobile}} </p>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label bold">   {{'phone'| translate}} </label>
                                        <p class="paragraph_line"> {{  row.phone}} </p>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label bold">   {{'wataniya'| translate}} </label>
                                        <p class="paragraph_line"> {{  row.watanya}} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading panel-heading-style">{{'works info'| translate}}</div>
                            <div class="panel-body">
                                <div class="row text-center" style="padding: 2%;">
                                    <div class="col-md-3">
                                        <label class="control-label bold">   {{'working'| translate}} </label>
                                        <p class="paragraph_line"> {{  row.working}} </p>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label bold">   {{'can_work'| translate}} </label>
                                        <p class="paragraph_line"> {{  row.can_work}} </p>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label bold">   {{'work_reason'| translate}} </label>
                                        <p class="paragraph_line">{{ row.work_reason}}   </p>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label bold">   {{'work_job'| translate}} </label>
                                        <p class="paragraph_line"> {{ row.work_job}}   </p>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label bold">   {{'work_status'| translate}} </label>
                                        <p class="paragraph_line">{{ row.work_status}}   </p>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label bold">   {{'work_wage'| translate}} </label>
                                        <p class="paragraph_line"> {{ row.work_wage}}   </p>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label bold">   {{'work_location'| translate}} </label>
                                        <p class="paragraph_line">{{ row.work_location}} </p>
                                    </div>

                                    <div class="col-md-4">
                                        <label class="control-label bold">   {{'has_other_work_resources'| translate}} </label>
                                        <p class="paragraph_line"> {{ row.has_other_work_resources}}   </p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label bold">   {{'monthly_income'| translate}} </label>
                                        <p class="paragraph_line"> {{  row.monthly_income}} </p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label bold">   {{'actual_monthly_income'| translate}} </label>
                                        <p class="paragraph_line"> {{  row.actual_monthly_income}} </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading panel-heading-style">{{'health info'| translate}}</div>
                            <div class="panel-body">
                                <div class="row text-center" style="padding: 1%;">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-4">
                                            <label class="control-label bold">   {{'has_health_insurance'| translate}} </label>
                                            <p class="paragraph_line"> {{  row.has_health_insurance}} </p>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label bold">   {{'health_insurance_number'| translate}} </label>
                                            <p class="paragraph_line"> {{  row.health_insurance_number}} </p>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label bold">   {{'health_insurance_type'| translate}} </label>
                                            <p class="paragraph_line"> {{  row.health_insurance_type}} </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-4">
                                            <label class="control-label bold">   {{'has_device'| translate}} </label>
                                            <p class="paragraph_line"> {{  row.has_device}} </p>
                                        </div>
                                        <div class="col-md-8">
                                            <label class="control-label bold">   {{'used_device_name'| translate}} </label>
                                            <p class="paragraph_line"> {{  row.used_device_name}} </p>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-4">
                                            <label class="control-label bold">   {{'health_condition'| translate}} </label>
                                            <p class="paragraph_line"> {{  row.health_status}} </p>
                                        </div>
                                        <div class="col-md-8">
                                            <label class="control-label bold">   {{'disease_id'| translate}} </label>
                                            <p class="paragraph_line"> {{  row.diseases_name}} </p>

                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-12">
                                            <div class="form-group  text-left">
                                                <label class="control-label bold">   {{'details'| translate}} </label>
                                                <textarea class="form-control"
                                                          name="health_details"
                                                          ng-model="row.health_details"
                                                          ng-disabled="true"
                                                          style="background: white"
                                                          rows="8"
                                                          placeholder="{{'details'| translate}}">
                                    </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-info">
                            <div class="panel-heading panel-heading-style">{{'bank info'| translate}}</div>
                            <div class="panel-body">
                                <div class="row text-center" style="padding: 2%;">
                                    <div class="table-scrollable" ng-if="row.banks.length > 0" >
                                        <table  class="table table-bordered table-striped  text-center table-hover ">
                                            <thead>
                                            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                                <th class="text-center">  {{'#'| translate}} </th>
                                                <th class="text-center">  {{'bank_name'| translate}} </th>
                                                <th class="text-center">  {{'branch_name'| translate}} </th>
                                                <th class="text-center">  {{'account_number'| translate}}  </th>
                                                <th class="text-center">  {{'account_owner'| translate}} </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="item in row.banks" >
                                                <td>{{  $index+1 }}</td>
                                                <td>{{item.bank_name}}</td>
                                                <td>{{item.branch == null ? '-' :item.branch}}</td>
                                                <td>{{item.account_number}}</td>
                                                <td>{{item.account_owner == null ? '-' :item.account_owner}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div ng-if="row.banks.length == 0"  class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 5%; margin-top: 2%;">
                                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                            {{'no banks account'| translate}}
                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;">
                            <div class="col-md-3 pull-right" >
                                <div class="clearfix pull-right">
                                    <button class=" btn btn-outline blue  button-next  pull-right" ng-click="getNext()" type="button" >
                                        <span> {{'Next'| translate}}</span>
                                        <span class="glyphicon glyphicon-menu-right"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div  id="step-2-block"  class=" data-block row" style="padding: 0.01% 1.5% 1.5% 1.5% !important;">

                    <div class="panel panel-info">
                        <div class="panel-heading panel-heading-style">
                            {{'residence-data'| translate}}
                        </div>
                        <div class="panel-body">
                            <div class="row text-center" style="padding: 2%;">
                                <div style="line-height: 30px;">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-4">
                                            <label class="control-label bold">   {{'property_type'| translate}}  </label>
                                            <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;"> {{  row.property_types}} </p>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label bold">   {{'rent_value'| translate}}  </label>
                                            <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;">{{ row.rent_value}} </p>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label bold">   {{'roof_material'| translate}}  </label>
                                            <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;"> {{  row.roof_materials}} </p>
                                        </div>
                                    </div> <!-- /.col -->

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-4">
                                            <label class="control-label bold">   {{'residence_condition'| translate}}  </label>
                                            <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;"> {{  row.residence_condition}} </p>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label bold">   {{'indoor_condition'| translate}}  </label>
                                            <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;"> {{  row.indoor_condition}} </p>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label bold">   {{'habitable'| translate}}  </label>
                                            <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;"> {{  row.habitable}} </p>
                                        </div>
                                    </div> <!-- /.col -->

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-4">
                                            <label class="control-label bold">   {{'house_condition'| translate}}  </label>
                                            <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;"> {{  row.house_condition}} </p>

                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label bold">   {{'rooms'| translate}}  </label>
                                            <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;"> {{  row.rooms}} </p>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label bold">   {{'area'| translate}}  </label>
                                            <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;"> {{  row.area}} </p>
                                        </div>
                                    </div> <!-- /.col -->
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-4">
                                            <label class="control-label bold">   {{'need_repair'| translate}}  </label>
                                            <p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;"> {{  row.need_repair}} </p>
                                        </div>
                                    </div> <!-- /.col -->
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label class="control-label bold">{{'repair_notes'| translate}} </label>
                                            <div class="form-group">
                                       <textarea class="form-control"
                                                 name="repair_notes" disabled readonly
                                                 ng-model="row.repair_notes"
                                                 rows="7" style=" min-height: 150px;  background: white ; cursor: default;">
                                        </textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                                        <div class="col-md-3 pull-right" >
                                            <div class="clearfix pull-right">
                                                <button class=" btn btn-outline blue  button-previous" ng-click="getPrevious()" type="button" >
                                                    <span class="glyphicon glyphicon-menu-left"></span>
                                                    <span>{{'previous'| translate}}</span>
                                                </button>

                                                <button class=" btn btn-outline blue  button-next" ng-click="getNext()" type="button" >
                                                    <span>{{'Next'| translate}}</span>
                                                    <span class="glyphicon glyphicon-menu-right"></span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div  id="step-3-block"  class=" data-block row" style="padding: 0.01% 1.5% 1.5% 1.5% !important;">
                    <div class="panel panel-info">
                        <div class="panel-heading panel-heading-style">
                            {{'home-indoor-data'| translate}}
                       </div>
                        <div class="panel-body" style="padding: 2%;">
                            <div class="row text-center" style="padding: 2%;">
                                <div ng-show="row.home_indoor.length == 0" class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 5%; margin-top: 2%;">
                                    <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                                    </div>
                                </div>
                                <div ng-show="row.home_indoor.length > 0 " class="text-center" style="line-height: 30px;">
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                        <thead>
                                        <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                            <th class="text-center" > {{'essential_name'| translate}} </th>
                                            <th class="text-center" > {{'condition'| translate}} </th>
                                            <th class="text-center" > {{'needs'| translate}} </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in row.home_indoor">
                                            <td>{{ item.name }}</td>
                                            <td>
                                                {{( item.essentials_condition == null || item.essentials_condition == 'null') ? '-' :item.essentials_condition}}
                                            </td>
                                            <td>
                                                {{item.needs == null ? '-' :item.needs}}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                                        <div class="col-md-3 pull-right" >
                                            <div class="clearfix pull-right">
                                                <button class=" btn btn-outline blue  button-previous" ng-click="getPrevious()" type="button" >
                                                    <span class="glyphicon glyphicon-menu-left"></span>
                                                    <span>{{'previous'| translate}}</span>
                                                </button>

                                                <button class=" btn btn-outline blue  button-next"   ng-click="getNext()" type="button" >
                                                    <span>{{'Next'| translate}}</span>
                                                    <span class="glyphicon glyphicon-menu-right"></span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div  id="step-4-block"  class=" data-block row" style="padding: 0.01% 1.5% 1.5% 1.5% !important;">
                    <div class="panel panel-info">
                        <div class="panel-heading panel-heading-style">
                            {{'financial data'| translate}}
                       </div>
                        <div class="panel-body" style="padding: 2%;">
                            <div class="row text-center" style="padding: 2%;">
                                <div  ng-show="row.financial_aid_source.length > 0">
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                        <thead>
                                        <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">

                                            <th class="col-md-3 text-center" > {{'aidsource_org_name'| translate}} </th>
                                            <th class="col-md-3 text-center" > {{'condition'| translate}}</th>
                                            <th class="col-md-3 text-center" > {{'aid_value'| translate}}</th>
                                            <th class="col-md-3 text-center" > {{'currency'| translate}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in row.financial_aid_source">
                                            <td>{{ item.name }}</td>
                                            <td>{{ item.aid_take }}</td>
                                            <td>{{ item.aid_value }}</td>
                                            <td>{{ item.currency_name }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-show="row.financial_aid_source.length == 0" class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 5%; margin-top: 2%;">
                                    <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading panel-heading-style">
                            {{'nonfinancial data'| translate}}
                       </div>
                        <div class="panel-body" style="padding: 2%;">
                            <div class="row text-center" style="padding: 2%;">
                                <div  ng-show="row.non_financial_aid_source.length > 0">
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                        <thead>
                                        <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">

                                            <th class="col-md-4 text-center bold" > {{'aidsource_org_name'| translate}} </th>
                                            <th class="col-md-4 text-center bold" >{{'condition'| translate}}</th>
                                            <th class="col-md-4 text-center bold" >{{'aid_value'| translate}}
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="i in row.non_financial_aid_source">
                                            <td>{{ i.name }}</td>
                                            <td>{{i.aid_take}}</td>
                                            <td>{{i.aid_value}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-show="row.non_financial_aid_source.length == 0" class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 5%; margin-top: 2%;">
                                    <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading panel-heading-style">
                            {{'family property'| translate}}
                        </div>
                        <div class="panel-body" style="padding: 2%;">

                            <div class="row text-center" style="padding: 2%;">
                                <div ng-show="row.properties.length > 0">
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                        <thead>
                                        <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">

                                            <th class="col-md-4 text-center bold" >{{'properties_name'| translate}}</th>
                                            <th class="col-md-4 text-center bold" >{{'condition'| translate}}</th>
                                            <th class="col-md-4 text-center bold" >{{'quantity'| translate}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="Properties in row.properties">
                                            <td>{{ Properties.name }}</td>
                                            <td>{{Properties.has_property}}</td>
                                            <td>{{Properties.quantity}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div ng-show="row.properties.length == 0" class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 5%; margin-top: 2%;">
                                    <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading panel-heading-style">
                            {{'other data'| translate}}
                        </div>
                        <div class="panel-body" style="padding: 2%;">
                            <div class="row text-left" style="padding: 2%;">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-5">
                                        <label class=" control-label bold"> {{'reconstructions_promised'| translate}} </label>
                                    </div>

                                    <div class="col-md-3 text-center"><p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;">{{row.promised}}</p></div>
                                    <div class="col-md-4 text-center"><p style="border: 0.5px lightgrey solid;height:30px;vertical-align: middle !important;line-height: 30px;">{{row.reconstructions_organization_name}}</p></div>
                                </div> <!-- /.col -->
                                <div  class="col-md-12 col-sm-12 col-xs-12">
                                    <label class=" control-label bold"> {{'case_needs'| translate}} </label>
                                </div>
                                <div  class="col-md-12 col-sm-12 col-xs-12">
                                    <p  style="border: 0.5px lightgrey solid; height:150px; padding: 1.5%;"> {{  row.needs }} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                            <div class="col-md-3 pull-right" >
                                <div class="clearfix pull-right">
                                    <button class=" btn btn-outline blue button-previous" ng-click="getPrevious()" type="button" >
                                        <span class="glyphicon glyphicon-menu-left"></span>
                                        <span>{{'previous'| translate}}</span>
                                    </button>
                                    <button class=" btn btn-outline blue button-next" ng-click="getNext()" type="button" >
                                        <span> {{'Next'| translate}}</span>
                                        <span class="glyphicon glyphicon-menu-right"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div  id="step-5-block"  class=" data-block row" style="padding: 0.01% 1.5% 1.5% 1.5% !important;">
                    <div class="panel panel-info">
                        <div class="panel-heading panel-heading-style">
                            {{'family member list'| translate}}
                        </div>
                        <div class="panel-body" style="padding: 2%; min-height: 350px;">
                            <div class="row text-center" style="padding: 2%;">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'family_member_count'| translate}} </label>
                                        <div>
                                            <p class="paragraph_line form-control"> {{row.family_cnt}} </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'spouses'| translate}} </label>
                                        <div>
                                            <p class="paragraph_line form-control"> {{row.spouses}} </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label bold"> {{'male count'| translate}} </label>
                                        <div>
                                            <p class="paragraph_line form-control"> {{row.male_live}} </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'female count'| translate}} </label>
                                        <div>
                                            <p class="paragraph_line form-control"> {{row.female_live}} </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12" style="min-height: 300px; margin-top: 1%">
                                    <div class="table-responsive"   ng-show="row.family_members.length > 0">
                                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                                            <thead>
                                            <tr style="background-color: #f3f3f3!important; color: #337ab7; height:40px; line-height: 40px; font-size: 30px; ">
                                                <th class="text-center">  {{'#'| translate}} </th>
                                                <th class="text-center" style="width: 20%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">  {{'fullname'| translate}} </th>
                                                <th class="text-center" style="width: 7%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">  {{'card_number' | translate }} </th>
                                                <th class="text-center" style="width: 7%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">  {{'birthday'| translate}} </th>
                                                <th class="text-center" style="width: 7%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">  {{'age'| translate}} </th>
                                                <th class="text-center" style="width: 7%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">  {{'gender'| translate}} </th>
                                                <th class="text-center" style="width: 7%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{'marital_status_id'| translate}} </th>
                                                <th class="text-center" style="width: 7%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{'currently_study'| translate}} </th>
                                                <th class="text-center" style="width: 7%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{'health_status'| translate}} </th>
                                                <th class="text-center" style="width: 7%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{'diseases_name'| translate}} </th>
                                                <th class="text-center" style="width: 8%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{'diseases_details'| translate}} </th>
                                                <th class="text-center" style="width: 7%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">  {{'kinship'| translate}} </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="member in row.family_members">
                                                <td>{{  $index + 1 }}</td>
                                                <td>{{  member.name }}</td>
                                                <td>{{  member.id_card_number }}</td>
                                                <td>{{  member.birthday}}</td>
                                                <td>{{  member.birthday  | ageFilter}}</td>
                                                <td>{{ member.gender}} </td>
                                                <td>{{  member.marital_status }}</td>
                                                <td>{{  member.currently_study }}</td>
                                                <td>{{  member.health_status }}</td>
                                                <td>{{  member.diseases_name }}</td>
                                                <td>{{  member.diseases_details }}</td>
                                                <td>{{  member.kinship_name }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div ng-show="row.family_members.length == 0" class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 5%; margin-top: 2%;">
                                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                                    <div class="col-md-3 pull-right" >
                                        <div class="clearfix pull-right">
                                            <button class=" btn btn-outline blue button-previous" ng-click="getPrevious()" type="button" >
                                                <span class="glyphicon glyphicon-menu-left"></span>
                                                <span>{{'previous'| translate}}</span>
                                            </button>
                                            <button class=" btn btn-outline blue button-next" ng-click="getNext()" type="button" >
                                                <span> {{'Next'| translate}}</span>
                                                <span class="glyphicon glyphicon-menu-right"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div  id="step-6-block"  class=" data-block row" style="padding: 0.01% 1.5% 1.5% 1.5% !important;">
                    <div class="panel panel-info">
                        <div class="panel-heading panel-heading-style">
                            {{'recommendations'| translate}}
                        </div>
                        <div class="panel-body" style="min-height: 350px; ">
                            <div class="row text-left" style="padding: 2%;">
                                <div style="padding: 2%">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-6">
                                            <div class="form-group" ng-class="{ 'has-error' : frm_recommandation.visitor_card.$invalid && (!frm_recommandation.visitor_card.$pristine || frm_recommandation.visitor_card.$touched) }">
                                                <label class="control-label bold">   {{'visitor_card'| translate}}</label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="visitor_card"
                                                       ng-model="row.visitor_card"
                                                       maxlength="9"
                                                       ng-maxlength="9"
                                                       readonly
                                                       style=" background: white ; cursor: default"/>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" ng-class="{ 'has-error' : frm_recommandation.visitor.$invalid && (!frm_recommandation.visitor.$pristine || frm_recommandation.visitor.$touched) }">
                                                <label class="control-label bold">   {{'visitor'| translate}}</label>
                                                <input type="text" class="form-control"
                                                       name="visitor" arabic-alphabet
                                                       ng-model="row.visitor"
                                                       readonly
                                                       style=" background: white ; cursor: default" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" ng-class="{ 'has-error' : frm_recommandation.visitor_evaluation.$invalid && (!frm_recommandation.visitor_evaluation.$pristine || frm_recommandation.visitor_evaluation.$touched) }">
                                                <label class="control-label bold">   {{'visitor_evaluation'| translate}}</label>
                                                <span class="form-control" ng-show="row.visitor_evaluation ==4">{{'excellent' | translate }}</span>
                                                <span class="form-control" ng-show="row.visitor_evaluation ==3">{{'very_good' | translate }}</span>
                                                <span class="form-control" ng-show="row.visitor_evaluation ==2">{{'good' | translate }}</span>
                                                <span class="form-control" ng-show="row.visitor_evaluation ==1">{{'Bad' | translate }}</span>
                                                <span class="form-control" ng-show="row.visitor_evaluation ==0">{{'very_bad' | translate }}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" ng-class="{ 'has-error' : frm_recommandation.visited_at.$invalid && !frm_recommandation.visited_at.$pristine }">
                                                <label class="control-label bold">{{'visited_at'| translate}}</label>
                                                <input type="text" class="form-control"  uib-datepicker-popup="{{format}}"
                                                       ng-model="row.visited_at" datepickerPopup
                                                       name="visited_at"
                                                       ng-change="msg1.visited_at = [ ]"
                                                       ng-required="priority.visited_at ==4"
                                                       is-open="popup2.opened"

                                                       datepicker-options="dateOptions"
                                                       date-disabled="disabled(date, mode)"
                                                       clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly
                                                       style=" background: white ; cursor: default"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label class="control-label bold">{{'visitor_opinion'| translate}}</label>
                                            <div class="form-group">
                                    <textarea class="form-control"
                                              name="visitor_opinion" readonly
                                              ng-model="row.visitor_opinion"
                                              rows="7" style=" min-height: 150px;  background: white ; cursor: default"
                                              placeholder="{{'visitor_opinion'| translate}}">
                                    </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <label class="control-label bold">{{'notes-'| translate}} </label>
                                            <div class="form-group">
                                   <textarea class="form-control"
                                             name="notes" disabled readonly
                                             ng-model="row.notes"
                                             rows="7" style=" min-height: 150px;  background: white "
                                             placeholder="{{'notes'| translate}}">
                                    </textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                                        <div class="col-md-3 pull-right" >
                                            <div class="clearfix pull-right">
                                                <button class=" btn btn-outline blue  button-previous" ng-click="getPrevious()" type="button" >
                                                    <span class="glyphicon glyphicon-menu-left"></span>
                                                    <span>{{'previous'| translate}}</span>
                                                </button>

                                                <button class=" btn btn-outline blue  button-next" ng-click="endShow()" type="button" >
                                                    <span>{{'Finish'| translate}}</span>
                                                    <span class="glyphicon glyphicon-menu-right"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


