<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{ 'manage' | translate}} {{ 'Social Search' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{ 'manage' | translate}} {{ 'Social Search' | translate}}
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12  col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span  class="icon-wallet"></span>
                        <span> {{ 'manage' | translate}} {{ 'Social Search' | translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">

                        <button uib-tooltip="{{'New'| translate}}" type="button" ng-click="createOrUpdate(null)" class="btn blue"
                                style="margin-bottom: 2%;">
                            <span  class="hidden-sm hidden-md  hidden-xs">{{'new'| translate}}</span>
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1%;padding-top: 4%;padding-bottom: 2%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                            <form name="form">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                    <div class="col-md-12 col-sm-12 col-xs-12" ng-if="Org">
                                        <div class="col-md-3 text-center" style="padding-top:25px;">
                                            <div class="form-group">
                                                <label class="control-label bold">

                                                              <span ng-if="filters.all_organization" class="checker">
                                                                    <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                           ng-model="filters.all_organization" ng-true-value="true" ng-false-value="false">
                                                              </span>
                                                    <span ng-if="!filters.all_organization">
                                                                    <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                           ng-model="filters.all_organization" ng-true-value="true" ng-false-value="false">
                                                              </span>
                                                    <span >{{'search in all organization'| translate}}</span>
                                                </label>
                                            </div>

                                        </div>
                                        <div class="col-md-3" ng-if="Org">
                                            <div class="form-group ">
                                                <label class=" control-label bold">{{'organization name'| translate}}</label>
                                                <multiselect  ng-class="filters.all_organization? '' : 'inactive'"
                                                              ng-model="filters.organization_id" ng-if="Org"
                                                              options="Org" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label  bold ">  {{'Social Search Title' | translate }}  </label>
                                                <input type="text" class="form-control"   ng-model="filters.title"  name="title"
                                                       placeholder="{{'Social Search Title' | translate }} "  />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">  {{'notes' | translate }}  </label>
                                                <input type="text" class="form-control"  ng-model="filters.notes"  name="notes"
                                                       placeholder="{{'notes' | translate }} "  />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'created_at_from' | translate }} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.created_at_from"
                                                           datepickerPopup
                                                           name="created_at_from"
                                                           is-open="popup[5].opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open(5,$event)">

                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'created_at_to' | translate }} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.created_at_to"
                                                           datepickerPopup
                                                           name="created_at_to"
                                                           is-open="popup[6].opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open(6,$event)">

                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'search_date_from' | translate }}  ( {{'from' | translate }}   ) </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.begin_date_from"
                                                           datepickerPopup
                                                           name="begin_date_from"
                                                           is-open="popup[1].opened" datepicker-options="dateOptions1"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-click="open(1,$event)">
                                                                                        </button>
                                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'search_date_from' | translate }}  ( {{'to' | translate }}   ) </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.end_date_from"
                                                           datepickerPopup
                                                           name="end_date_from"
                                                           is-open="popup[2].opened" datepicker-options="dateOptions1"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-click="open(2,$event)">
                                                                                        </button>
                                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'search_date_to' | translate }}  ( {{'from' | translate }}   ) </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.begin_date_to"
                                                           datepickerPopup
                                                           name="begin_date_to"
                                                           is-open="popup[3].opened" datepicker-options="dateOptions2"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"

                                                                                ng-click="open(3,$event)">
                                                                                        </button>
                                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'search_date_to' | translate }}  ( {{'to' | translate }}   ) </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.end_date_to"
                                                           datepickerPopup
                                                           name="end_date_to"
                                                           required
                                                           is-open="popup[4].opened" datepicker-options="dateOptions2"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-click="open(4,$event)">
                                                                                        </button>
                                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">  {{'category_name'| translate}}</label>
                                                <ui-select name="category_id" ng-model="filters.category_id" theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in aidCategories_ | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 "></div>
                                         <div class="col-md-6 " style="padding-top: 20px;">
                                            <div class="clearfix pull-right">                                               
                                                 <div class="btn-group "  uib-dropdown   ng-if="items.length != 0"
                                                        uib-tooltip="{{'export result'| translate}}" >
                                                        <button id="single-button" type="button" class="btn  green-turquoise" uib-dropdown-toggle ng-disabled="disabled">
                                                            <span style="margin-right:3%;" class="fa fa-file-excel-o"></span>
                                                            <span class="hidden-sm hidden-md  hidden-xs"> {{'export result'| translate}}</span>
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" 
                                                            style="min-width: 90px;"  aria-labelledby="split-button">
                                                            <li>
                                                                <a ng-click="searchReports(false ,filters,'excel')" class="iconify">
                                                                    <i  class="fa fa-file-excel-o" style="margin-left: 4%"></i>{{'All'| translate}}</a>
                                                            </li>
                                                             <li>
                                                                <a ng-click="searchReports(true ,filters,'excel')" class="iconify">
                                                                    <i  class="fa fa-file-excel-o" style="margin-left: 4%"></i> {{'selected'| translate}}</a>
                                                            </li>
                                                        </ul>
                                                </div>
                                                <button class="btn red-pink " type="button" ng-click="resetSearchFilter()">
                                                    <span class="fa fa-trash-o"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'reset filter'| translate}}</span>
                                                </button>
                                                <button uib-tooltip="{{'search' | translate }}" class=" btn blue  "
                                                        ng-click="searchReports(false ,filters,'paginate')" type="button" >
                                                    <span class="icon-magnifier"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'search' | translate }}</span>
                                                </button>
                                             </div>

                                         </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12  col-sm-12 col-xs-12" style="margin-bottom: 5px;">
                            <label ng-show="items.length > 0 ">{{'show'| translate}}
                                <select
                                        class="form-control input-sm input-inline" ng-init=""
                                        ng-change="itemsPerPage_(itemsCount)"
                                        name="itemsCount"
                                        ng-model='itemsCount'>
                                   <option value="50">50</option><option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                    <option value="-1">{{'show_All'| translate}}</option>
                                </select>
                            </label>

                            <form class="form-inline search-form pull-right">
                                <div class="input-group">
                                    <input type="text"
                                           ng-model="search"
                                           class="form-control"
                                           placeholder="{{'search'| translate}} "
                                           name="search">
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="table-scrollable" ng-show="items.length > 0 "  >
                        <!-- BEGIN TABLE -->
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                            <thead>
                            <tr  style="background-color: #f3f3f3!important;  height:60px; line-height: 55px; font-size: 30px; ">
                                <th class="text-center"  style="width: 3%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" > {{'#'| translate}} </th>
                                    <th class="text-center" style= "vertical-align: middle;" >
                                            <input type="checkbox"
                                                   ng-model="selectedAll"
                                                   ng-change="selectAll(selectedAll)"
                                                   ng-true-value="true"
                                                   ng-false-value="false"
                                            >
                                    </th><th class="text-center" ng-click="sort('title')" >{{'Social Search Title'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                               <th class="text-center"  style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort('category_name')" >{{'category_name'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='category_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort('notes')" >{{'notes'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='notes'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort('date_from')" >{{'search_date_from'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='date_from'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort('date_to')" >{{'search_date_to'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='date_to'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort('status')" >{{'search_status'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort('close')" > {{'close_'| translate}} / {{'opened'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='close'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort('user_name')" >{{'username'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='user_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort('created_at_date')" >{{'search_create_date_from'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='created_at_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 15%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{'operations'| translate}} </th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr dir-paginate="item in items |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage" ng-show="items.length != 0 ">
                                <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                <td>
                                            <input type="checkbox" class="make-switch" data-on-color="primary" data-off-color="info"
                                                   ng-model="item.check" ng-checked="item.check" ng-true-value="true" ng-false-value="false">
                                        </td>
                                <td>{{ item.title }}</td>
                                <td>{{ item.category_name }} </td>
                                <td>{{ item.notes }} </td>
                                <td>{{ item.date_from }} </td>
                                <td>{{ item.date_to }} </td>
                                <td>
                                    <span uib-tooltip="{{'click to change status'| translate}}"
                                                                                  class="btn-group" uib-dropdown>
                                                <span id="single-button" class="btn btn-xs "
                                                      ng-class="{ 'blue' : item.status == 1  ,
                                                                  'red-pink' : item.status == 2  ,
                                                                  'green-turquoise' : item.status == 3}"

                                                      uib-dropdown-toggle>
                                                    <span ng-if="item.status == 1" > <span class="fa fa-ban "> </span> <span>{{'draft' | translate}} </span>  </span>
                                                    <span ng-if="item.status == 2" > <span class="fa fa-refresh "> </span> <span>{{'inProgress' | translate}} </span>  </span>
                                                    <span ng-if="item.status == 3" > <span class="fa fa-check"> </span> <span>{{'finished_' | translate}} </span>  </span>
                                                </span>
                                                 <ul class="dropdown-menu"  ng-class="fixed_dropdownn($index,CurrentPage,items.length)"
                                                     uib-dropdown-menu role="menu" aria-labelledby="split-button"  style="min-width: 135px;min-height:90px;overflow-y: scroll;margin-right: -40%;">

                                                    <li ng-show="item.status !=1">
                                                        <a ng-click="status(item.id,1,$index)" class="iconify font-blue bold">
                                                            <span class="fa fa-ban  font-blue"> </span> <span>{{'draft' | translate}} </span> </a>
                                                    </li>
                                                    <li ng-show="item.status !=2">
                                                        <a ng-click="status(item.id,2,$index)" class="iconify font-green-turquoise bold">
                                                             <span class="fa fa-refresh  font-green-turquoise "> </span> <span>{{'inProgress' | translate}} </span> </a>
                                                    </li>
                                                    <li ng-show="item.status !=3">
                                                        <a ng-click="status(item.id,3,$index)" class="iconify font-red-pink bold">
                                                             <span class="fa fa-check  font-red-pink"> </span> <span>{{'finished_' | translate}} </span> </a>
                                                    </li>
                                                </ul>
                                            </span>
                                </td>
                                <td>
                                    <span class ="font-red-pink bold" ng-if="item.close == 1" >
                                        <span class="fa fa-ban "> </span> <span>{{'close_' | translate}} </span>
                                    </span>
                                    <span class ="font-blue bold"  ng-if="item.close == 0" >
                                        <span class="fa fa-check "> </span> <span>{{'opened' | translate}} </span>
                                    </span>

                                </td>
                                <td>
                                    {{ item.user_name }}
                                </td>
                                <td>{{ item.created_at_date }} </td>
                                <td>

                                    <button uib-tooltip="{{'approved case data'| translate}}"
                                            ng-show="item.status == 3 || item.status == '3'" type="button"
                                            class="btn btn-xs bold font-yellow-saffron fa fa-refresh"
                                            style="font-size: medium; background-color: transparent"
                                            ng-click="refresh(item.id)" >
                                    </button>

                                    <div class="btn-group"  uib-dropdown  ng-show="item.status == 2 || item.status == '2'">
                                        <a id="single-button" type="button"
                                                uib-tooltip="{{'import'| translate}}"
                                                class="btn font-yellow-saffron btn-xs fa fa-upload"
                                                style="font-size: medium; background-color: transparent"
                                                uib-dropdown-toggle ng-disabled="disabled">
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu"  ng-class="fixed_dropdownn($index,CurrentPage,items.length)"
                                            uib-dropdown-menu role="menu" aria-labelledby="split-button"  style="min-width: 135px;min-height:90px;overflow-y: scroll;margin-right: -40%;">
                                        <li>
                                                <a ng-click="import(item.id , 'cases')"  class="iconify">
                                                    <i class="fa fa-users" style="margin-left: 4%"></i>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'import cases'| translate}}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="import(item.id , 'family')"  class="iconify">
                                                    <i class="fa fa-sitemap" style="margin-left: 4%"></i>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'family member'| translate}}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="import(item.id , 'banks')"  class="iconify">
                                                    <i class="fa fa-bank" style="margin-left: 4%"></i>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'bank_accounts'| translate}}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="import(item.id , 'essentials')"  class="iconify">
                                                    <i class="fa fa-question" style="margin-left: 4%"></i>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'essentials'| translate}}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="import(item.id , 'fin-aids')"  class="iconify">
                                                    <i class="fa fa-money" style="margin-left: 4%"></i>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'financial data'| translate}}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="import(item.id , 'non-fin-aids')"  class="iconify">
                                                    <i class="icon-support" style="margin-left: 4%"></i>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'nonfinancial data'| translate}}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a ng-click="import(item.id , 'properties')"  class="iconify">
                                                    <i class="icon-wallet" style="margin-left: 4%"></i>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'properties_'| translate}}</span>
                                                </a>
                                            </li>

                                        </ul>
                                    </div>
                                    <a  uib-tooltip="{{ 'Social Search Report' | translate}}"
                                        ng-show="item.status == 3 || item.status == '3'"
                                        style=" font-size: medium; background-color: transparent"
                                        class="btn fa fa-users bold btn-xs font-green-turquoise"
                                        href="{{ '#/aids/social-search/data/'+ item.id }}">
                                    </a>

                                    <button type="button"  uib-tooltip="{{'edit'| translate}}"
                                          class="btn btn-xs bold font-blue fa fa-edit"
                                          style=" font-size: medium; background-color: transparent"
                                          ng-click="createOrUpdate(item)">
                                    </button>
                                    <button uib-tooltip="{{'delete'| translate}}" ng-show="item.status == 1 || item.status == '1'" type="button"
                                          class="btn btn-xs bold font-red-pink  fa fa-trash"
                                          style="font-size: medium; background-color: transparent"
                                          ng-click="delete(item.id)" >
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- END TABLE -->
                    </div>


                    <div ng-show="items.length == 0 " class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                        <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                        </div>
                    </div>

                    <div class="row"  ng-show="items.length != 0 " >
                        <div class="col-md-12  col-sm-12 col-xs-12">
                            <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                <span class="bold ">{{'number of total items'| translate}}</span>
                                <span class="bold "> : </span>
                                <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                <span class="bold ">{{'row'| translate}}</span>
                            </div>
                            <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->



<script type="text/ng-template" id="import.html">
    <div class="modal-header" style="  padding:6%; ">
        <h4 style="" class="modal-title bold text-center"> {{ model_title }} </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form name="form" novalidate="" role="form" class=" text-center" style="padding: 1%;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <p class="text-left bold" style="
                                        margin: 0 0 5px 0;
                                        padding: 10px;
                                        border: 3px solid #fff0f1;
                                        border-radius: 4px 0 0 4px;
                                        background-color: #fff0f1;
                                        color: #e43a45;
                                        min-height: 40px !important;
                                        ">
                                     {{'The maximum number of records in the uploaded file'| translate}} <span style="margin-left:3px ; margin-right:3px ;  "> : 500  </span> {{'record'| translate}}
                            </p>
                        </div>
                        <div class="col-md-12  text-right">
                            <span class="font-blue pull-left text-right bold" >{{'download template'| translate}}</span>
                            <a   href="javascript:;" class="pull-left btn btn-xs blue fa fa-download " style="margin-right: 2%"
                                 ng-click="download()"
                            ></a>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">
                            <label class="control-label bold">{{'select import file'| translate}}</label>
                            <input type="file" id="upload" ng-required="true"
                                   accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                   onchange="angular.element(this).scope().fileUpload(this)" class="form-control" data-nv-file-select="" data-uploader="uploader">
                            <span ng-repeat="(error, errortext) in err_msg.logo" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'err_msg.logo' != []" >
                            {{ errortext.toString()}}
                        </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer" style="margin-top: 25px;">
        <button class="btn blue" ng-click="confirm()" ng-disabled=" !upload" type="button" >
            <span> {{'import'| translate}}</span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
</script>
