<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{ 'manage' | translate}} {{ 'Social Search' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{ 'categories-template'| translate}}
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12  col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span  class="fa fa-file-word-o"></span>
                        <span> {{ 'categories-template'| translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <div class="btn-group"  uib-dropdown >
                            <button uib-tooltip="{{'download' | translate}}" id="single-button" type="button" class="btn green-turquoise" uib-dropdown-toggle>
                                <span class="fa fa-download"></span>
                                <span  class="hidden-sm hidden-md  hidden-xs">{{'download' | translate}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button" style="min-width: 10px !important;">
                                <li>
                                    <a ng-click="download('instruction',null)"  class="iconify">
                                        <i class="fa fa-file-pdf-o" style="margin-left: 4%"></i>
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'template instructions' | translate}}</span>
                                    </a>
                                </li>
                                <li>
                                    <a uib-tooltip="{{'default template' | translate}}" ng-click="download('default',null)" class="iconify">
                                        <span class="fa fa-file-word-o"></span>
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'default template' | translate}}</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <div class="btn-group"  uib-dropdown >
                            <button uib-tooltip="{{'download' | translate}}" id="single-button" type="button" class="btn yellow-saffron" uib-dropdown-toggle>
                                <span class="fa fa-file-word-o"></span>
                                <span  class="hidden-sm hidden-md  hidden-xs">{{'org template' | translate}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button" style="min-width: 10px !important;">
                                <li>
                                    <a  ng-show="!has_default_template" ng-click="ChooseTemplate(-1)" >
                                        <span style="margin-left:3%;" class="fa fa-upload"></span>
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'select default export template' | translate}}</span>
                                    </a>
                                </li>
                                <li>
                                    <a  ng-show="has_default_template" ng-click="download('template',-1)">
                                        <span class="fa fa-file-word-o"></span>
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'download template' | translate}}</span>
                                    </a>
                                </li>
                                <li>
                                    <a  ng-show="has_default_template" ng-click="ChooseTemplate(-1)" >
                                        <span style="margin-left:3%;" class="fa fa-upload"></span>
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'reset default export template' | translate}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center"
                                 style="background-color: #ffe2ec;padding:  15px;border-radius: 10px;border: 1px dashed #e08283;">
                                <h5 class="font-red-pink  bold">
                                    <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                                    {{'the uploaded file must be docx' | translate}}
                                </h5>
                            </div>
                            <!-- BEGIN TABLE -->
                            <div class="col-md-12 col-sm-12 col-xs-12"  ng-if="items.length > 0 ">
                                <div class="table-scrollable">
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                        <thead>
                                        <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                            <th class="col-md-1 text-center" > {{'#' | translate}}</th>
                                            <th class="col-md-4 text-center" > {{'template type' | translate}}</th>
                                            <th class="col-md-7 text-center" > {{'operations' | translate}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in items">
                                            <td>{{ $index+1 }}</td>
                                            <td>{{ item.name }}</td>
                                            <td>
                                                <span ng-show="item.template != null">
                                                    <button type="button" class="btn green-turquoise btn-xs"  ng-click="download('template',item.id)" >
                                                        <span class="fa fa-file-word-o"></span>
                                                        <span  class="hidden-sm hidden-md  hidden-xs" style="">{{'download' | translate}}</span>
                                                    </button>

                                                    <button type="button" class="btn blue btn-xs" ng-click="ChooseTemplate(item.category_id)">
                                        <span class="fa fa-refresh"></span>
                                                        <span style="">{{'reload' | translate}}</span>
                                                    </button>

                                                 </span>
                                                <span ng-show="item.template == null">
                                                  <span> {{'the attachment not uploaded' | translate}} </span>

                                                  <span>
                                                      <button type="button" class="btn blue btn-xs" ng-click="ChooseTemplate(item.category_id)">
                                                           <span class="fa fa-upload"></span>
                                                           <span  class="hidden-sm hidden-md  hidden-xs" style="">{{'upload' | translate}}</span>
                                                      </button>
                                                  </span>
                                            </span>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END TABLE -->
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center"  ng-if="items.length == 0 "style="margin-bottom: 2%  ; margin-top: 2%">
                                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>{{'there is no data to show' | translate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->


<script type="text/ng-template" id="myModalContent2.html">
    <div class="modal-header" style="  padding:5%; ">
        <h4 class="modal-title bold text-center"> {{'Files Uploaded form' | translate }} </h4>
    </div>
    <div class="modal-body">
        <div class="row" style="padding: 2%;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12" style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">{{'select attachment' | translate}}</label>
                        <div class="col-md-10">
                            <div class="margin-bottom-20">
                                <input type="file" nv-file-select=""  accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document" uploader="uploader" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="table-scrollable">
                        <table class="table table-hover table-light">
                            <thead>
                            <tr class="uppercase">
                                <th width="50%">{{'name' | translate}}</th>
                                <th ng-show="uploader.isHTML5">{{'size' | translate}}</th>
                                <th ng-show="uploader.isHTML5">{{'progress' | translate}}</th>
                                <th>{{'status' | translate}}</th>
                                <th>{{'actions' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>{{ item.file.name}}</td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress progress-sm" style="margin-bottom: 0;">
                                        <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                                    <span ng-show="item.isSuccess" class="text-success">
                                                        <i class="glyphicon glyphicon-ok"></i>
                                                    </span>
                                    <span ng-show="item.isError" class="text-danger">
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                    </span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> {{'upload' | translate}} </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <p>{{'queue_progress' | translate}}:</p>
                        <div class="progress progress-sm" style="">
                            <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel' | translate}}</span> </button>
    </div>
</script>
