<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'Dashboard' | translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{'settings' | translate}} <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i> </li>
    <li> {{'system constants' | translate}} <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i> </li>
    <li>{{'banks' | translate}}<i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i></li>
    <li class="active" > {{'cheque-banks-template' | translate}}</li>
</ul>
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="ChequeBanksTemplateController">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">

                    <div class="col-md-12 caption font-dark pull-left">
                        <i class="font-dark"></i><p class="col-md-9 pull-left" style=" height:40px;padding:5px 15px;
                  font-size: 1.3em !important; font-weight: bold!important;text-align: right !important; color: #0a6aa1">{{'cheque-banks-template' | translate}}   </p>
                    </div>
                </div>
                <div class="portlet-body">

                            <div class="row text-center" style="padding: 2%;">
                                <div class="portlet-body">
                                    <div class="row" style="margin-bottom: 2%;">
                                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1.5%;">
                                            <button type="button" class="btn btn-primary pull-left" ng-click="download('template_instruction',null)">
                                                <span class="fa fa-file-pdf-o"></span>
                                                <span>{{'template instructions' | translate}}</span>
                                            </button>

                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                                <thead>
                                                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                                    <th class="col-md-1 text-center" >{{'#' | translate}} </th>
                                                    <th class="col-md-3 text-center" >{{'bank_name' | translate}} </th>
                                                    <th class="col-md-8 text-center" >{{'template' | translate}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="item in entries">
                                                <td>{{ $index +1}}</td>
                                                    <td>{{ item.name }}</td>
                                                    <td>
                                                        <span ng-show="item.template != null">
                                                          <button type="button" class="btn btn-primary btn-xs" ng-click="download('template',item.id)">
                                                                <span class="fa fa-file-word-o"></span><span style="">{{'download' | translate}}</span>
                                                         </button>


                                                           <button type="button" class="btn btn-primary btn-xs" ng-click="ChooseTemplate(item.id,'edit')">
                                                                <span class="fa fa-refresh"></span><span style="">{{'reload' | translate}}</span>
                                                            </button>
                                                         </span>
                                                        <span ng-show="item.template == null">
                                                             <span> {{'the cheque template not uploaded' | translate}}</span>
                                                              <span>
                                                                  <button type="button" class="btn btn-primary btn-xs" ng-click="ChooseTemplate(item.id,'add')">
                                                                      <span style="">{{'upload' | translate}}</span>
                                                                  </button>
                                                              </span>
                                                          </span>
                                                       
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>


                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<script type="text/ng-template" id="myModalContent2.html">
    <div class="modal-header" style="  padding:5%; ">
        <h4 class="modal-title bold text-center">{{'template uploaded form' | translate}}</h4>
    </div>
    <div class="modal-body">

        <div class="row" style="padding: 2%;">

            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-12 col-sm-12 col-xs-12" style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">{{'select template' | translate}}</label>
                        <div class="col-md-10">
                            <div class="margin-bottom-20">
                                <input type="file" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document" nv-file-select=""  accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document" uploader="uploader" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="uppercase">
                            <th width="50%">{{'name' | translate}}</th>
                            <th ng-show="uploader.isHTML5">{{'size' | translate}}</th>
                            <th ng-show="uploader.isHTML5">{{'progress' | translate}}</th>
                            <th>{{'status' | translate}}</th>
                            <th>{{'actions' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td><div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 48 }"></div></td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress progress-sm" style="margin-bottom: 0;">
                                    <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                                <span ng-show="item.isSuccess" class="text-success">
                                                    <i class="glyphicon glyphicon-ok"></i>
                                                </span>
                                                <span ng-show="item.isError" class="text-danger">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span>{{'upload' | translate}}</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <p>{{'queue_progress' | translate}}:</p>
                        <div class="progress progress-sm" style="">
                            <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn red-pink"  ng-click="cancel()">{{'cancel' | translate}}</button>
    </div>
</script>


