<div ng-controller="CommonEntitiesController">
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'Dashboard' | translate}}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <!--<li> {{'settings' | translate}} <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i> </li>-->
        <li> {{'system constants' | translate}} <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i> </li>
        <li ng-if="parentEntity.id">
             <!--<a href="#/common/entities/{{baseUri}}">{{parentEntity.name}}</a> -->
            <a>{{parentEntity.name}}</a>
            <!--<a href="{{parentUrl}}">{{parentEntity.name}}</a>-->
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <!--<li ng-if="parentEntity.id"> {{pageTitle}}</li>-->
        <li>  <a href="{{CurUrl}}">{{pageTitle}}</a></li>
    </ul>
    <div class="note note-success" ng-if="messages.success">
        <p>{{messages.success}}</p>
    </div>
    <div class="note note-danger" ng-if="messages.error">
        <p>{{messages.error}}</p>
    </div>
    <div class="row">
        <div class="col-md-5 col_float" ng-show="i18n||createForm||weightOptions">
            <div ng-show="i18n">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-globe font-dark"></i>
                            <span class="caption-subject font-dark sbold uppercase">{{'Translations' | translate}}</span>
                        </div>
                        <div class="actions">
                            <button class="btn btn-link btn-default"
                                    ng-click="i18n=false"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <form name="frm" class="" ng-submit="saveTranslations()">
                            <div class="form-group" ng-repeat="t in i18nEntries">
                                <label class="control-label">{{t.language_name}}</label>
                                <div class="">
                                    <input type="text" class="form-control input-sm" ng-model="t.name">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <button type="submit" class="btn btn-primary"><span>{{'Save'| translate}}</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div ng-show="createForm">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-plus font-dark"></i>
                            <span class="caption-subject font-dark sbold uppercase">{{'New' | translate}}</span>
                        </div>
                        <div class="actions">
                            <button class="btn btn-link btn-default"
                                    ng-click="createForm=false"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <form name="frm" class="" ng-submit="create(newEntity)">
                            <div class="form-group">
                                <label class="control-label">{{'Name'| translate}}</label>
                                <div class="">
                                    <input type="text" name="name" ng-model="newEntity.name" ng-required="true" class="form-control" placeholder="{{'Name'| translate}}">
                                </div>
                            </div>
                            <div class="form-group" ng-if="entitySettings.hasRatio">
                                <label class="control-label">{{'Ratio'| translate}}</label>
                                <div class="">
                                    <input type="text" name="ratio" ng-model="newEntity.ratio"  ng-required="entitySettings.hasRatio" class="form-control" placeholder="{{'Ratio'| translate}}">
                                </div>
                            </div>
                            <div class="form-group" ng-if="entitySettings.hasWeight">
                                <label class="control-label">{{'Weight'| translate}}</label>
                                <div class="">
                                    <input type="text" name="name" ng-model="newEntity.weight"  ng-required="entitySettings.hasWeight" class="form-control" placeholder="{{'Weight'| translate}}">
                                </div>
                            </div>
                            <div class="form-group" ng-repeat="input in entitySettings.inputs">
                                <label class="control-label">{{input | translate}}</label>
                                <div class="">
                                    <input type="text" class="form-control input-sm" ng-model="newEntity[input]">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="">
                                    <button type="submit"  ng-disabled="frm.$invalid" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"> <span>{{'Save'| translate}}</span></span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div ng-show="weightOptions">
                <div class="portlet light portlet-fit bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-settings font-dark"></i>
                            <span class="caption-subject font-dark sbold uppercase">{{'Weight_Options' | translate}}</span>
                        </div>
                        <div class="actions">
                            <button class="btn btn-link btn-default" ng-click="weightOptions=false"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div ng-if="entitySettings.weightOptionsMode=='custom'">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <th ng-repeat="op in entitySettings.weightOptions">{{op.label | translate}}</th>
                                    <th>{{'Weight' | translate}}</th>
                                    <th></th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="w in entityWeights">
                                        <td ng-repeat="op in entitySettings.weightOptions"><span ng-show="!w.edit">{{w[op.name]}}</span><input ng-show="w.edit" type="text" ng-model="w[op.name]" class="form-control input-sm"></td>
                                        <td><span ng-show="!w.edit">{{w.weight}}</span><input ng-show="w.edit" type="text" ng-model="w.weight" class="form-control input-sm"></td>
                                        <td><button type="button" ng-show="!w.edit" class="btn btn-xs btn-outline green" ng-click="editWeight(w)"><span class="glyphicon glyphicon-edit"></span></button>
                                        <button type="button" ng-show="w.edit" class="btn btn-xs btn-outline blue" ng-click="saveWeight(w)"><span class="glyphicon glyphicon-floppy-disk"></span></button>
                                        <button type="button" ng-show="w.edit" class="btn btn-xs btn-outline dark" ng-click="w.edit=false"><span class="glyphicon glyphicon-remove"></span></button></td>
                                        <td><button ng-show="!w.edit" type="button" class="btn btn-xs btn-outline red" ng-click="deleteWeight(w)"><span class="glyphicon glyphicon-remove"></span></button></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td ng-repeat="op in entitySettings.weightOptions"><input type="text" ng-model="newWeight[op.name]" class="form-control input-sm"></td>
                                        <td><input type="text" ng-model="newWeight.weight" class="form-control input-sm"></td>
                                        <td></td>
                                        <td><button type="button" class="btn btn-xs btn-outline blue" ng-click="addWeight(newWeight)"><span class="glyphicon glyphicon-plus"></span></button></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div ng-if="entitySettings.weightOptionsMode=='fixed'">
                            <form class="form-horizontal" ng-submit="saveWeights()">
                                <div class="form-group" ng-repeat="op in entitySettings.weightOptions">
                                    <label class="control-label col-md-4">{{op.label | translate}}</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input-sm" ng-model="op.weight">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-offset-4 col-md-8">
                                        <button type="submit" class="btn btn-primary"><span>{{'Save'| translate}}</span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-class="{'col-md-7': i18n||createForm||weightOptions, 'col-md-12': !i18n&&!createForm&&!weightOptions}">
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <ul class="page-breadcrumb breadcrumb" ng-show="tree.length > 0"
                        style="padding: 8px 15px;margin-bottom: 0!important;
                               list-style: none; background-color: #f3f3f3!important;
                               border-radius: 4px; text-align: center;">
                        <li ng-repeat="(x,dt)  in tree" class="bold">
                            {{dt.name}}
                            <span style="font-size: 15px;color: black;"> / </span>
                        </li>
                        <li class="bold">
                            {{parentEntity.name}}
                        </li>
                    </ul>
                    <div class="caption font-dark pull-left">
                        <i class="font-dark"></i>
                        <h3>
                            <span class="fa fa-table"></span>
                            <span class="caption-subject bold uppercase">{{pageTitle}}</span>
                            <span  ng-if="parentEntity.id" class="bold caption-subject"> - </span>
                            <span  ng-if="parentEntity.id" class="bold caption-subject">{{parentEntity.name}}</span>
                        </h3>
                    </div>
                    <div class="actions" style="padding-top: 30px;">
                        <div class="clearfix">
                            <a  ng-if="parentEntity.id" class="btn yellow-crusta fa fa-backward" href="{{parentUrl}}">
                            </a>
                            <button class="btn  blue" ng-click="createForm=true;i18n=false">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span  class="hidden-sm hidden-md  hidden-xs">{{'new'| translate}}</span>
                            </button>

                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-10 col-md-offset-1" style="padding-top: 3%;padding-bottom: 3%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                                <form name="searchFrm" method="get" class="form-inline ng-pristine ng-scope ng-invalid ng-invalid-required" ng-submit="search(searchEntity)">
                                    <div class="">
                                        <div class="form-group" style="width: 100%;">
                                            <div class="input-group" style="width: 80%; margin-right: 10%">
                                                <input type="text"style="width: 100%;" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" autofocus ng-model="searchEntity.name" ng-required="true" placeholder="{{'name_'| translate}}"  required="required">
                                                <span class="input-group-btn" style="width: 25%;">
                                                <button type="submit" style="width: 100%;"ng-disabled="searchFrm.$invalid" class="btn blue" ng-click="open($event)" disabled="disabled">
                                                    <span class="glyphicon glyphicon-search"></span> <span class="ng-binding">{{'search' | translate }}</span>
                                                </button>
                                          </span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="table-container" ng-if="entries.length > 0" >
                        <table class="table table-condensed table-striped table-hover dataTable no-footer">
                            <thead>
                            <tr  style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                <th class="text-center">{{'#'| translate}}</th>
                                <th>{{'Name'| translate}}</th>
                                <th ng-if="entitySettings.hasRatio" class="col-md-1">{{'Ratio' | translate}}</th>
                                <th ng-if="entitySettings.hasWeight" class="col-md-1">{{'Weight' | translate}}</th>
                                <th ng-repeat="input in entitySettings.inputs">{{input | translate}}</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="entry in entries" ng-init="entry.edit = false" ng-dblclick="edit(entry)">
                                <td>{{ ( $index +1 ) +((currentPage-1)* itemsPerPage)}}</td>

                                <td><span ng-if="!entry.edit">{{entry.name}}</span><input ng-if="entry.edit" type="text"
                                                                                          ng-model="entry.name" class="form-control input-sm"
                                                                                          ng-keyup="_save(entry, $event)"></td>
                                <td ng-if="entitySettings.hasRatio">
                                    <span ng-if="!entry.edit">{{entry.ratio}}</span>
                                    <input ng-if="entry.edit" type="text"ng-model="entry.ratio" class="form-control input-sm" ng-keyup="_save(entry, $event)">
                                </td>
                                <td ng-if="entitySettings.hasWeight">
                                    <span ng-if="!entry.edit">{{entry.weight}}</span>
                                    <input ng-if="entry.edit" type="text"ng-model="entry.weight" class="form-control input-sm" ng-keyup="_save(entry, $event)">
                                </td>
                                <td ng-repeat="input in entitySettings.inputs">
                                    <span ng-if="!entry.edit">{{entry[input]}}</span><input ng-if="entry.edit" type="text" ng-model="entry[input]" class="form-control input-sm" ng-keyup="_save(entry, $event)">
                                </td>
                                <td>
                                        <span ng-if="entry.edit">
                                            <button type="button" ng-click="save(entry)" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> <span>{{'Save'| translate}}</span></button>
                                            <button type="button" ng-click="cancel(entry)" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-remove"></span> <span>{{'Cancel'| translate}}</span></button>
                                        </span>
                                </td>
                                <td>
                                    <a ng-if="hasChild" href="#/common/entities/{{childEntity.route.replace(':id', entry.id)}}"
                                       class="btn btn-xs yellow-crusta">
                                        <span class="glyphicon glyphicon-list"></span>
                                        <span ng-class="{'hidden': i18n||createForm||weightOptions, '': !i18n&&!createForm&&!weightOptions}"> {{childEntity.title | translate}}</span>
                                    </a>
                                    <button ng-disabled="entry.edit" type="button" ng-click="edit(entry)" class="btn btn-xs green-turquoise"><span class="glyphicon glyphicon-edit"></span> <span>{{'Edit'| translate}}</span></button>

                                    <button ng-if="hasTransfer" type="button" class="btn btn-xs yellow-casablanca" ng-click="transfer(entry)">
                                        <span class="fa fa-map-marker"></span><span> {{'Transfer'| translate}}</span></button>
                                    <button ng-if="entitySettings.i18n" type="button" class="btn btn-xs blue" ng-click="translations(entry)"><span class="glyphicon glyphicon-globe"></span><span> {{'Translations'| translate}}</span></button>
                                    <button ng-if="entitySettings.hasWeightOptions" class="btn btn-xs purple-plum" ng-click="weights(entry)"><span class="glyphicon glyphicon-cog"></span> <span>{{'Weight_Options'| translate}}</span></button>
                                    <button type="button" class="btn btn-xs red-pink" ng-click="delete(entry, $index)"><span class="glyphicon glyphicon-trash"></span> <span>{{'Delete'| translate}}</span></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul ng-if="entries.length > 0" class="pagination pagination-sm" uib-pagination ng-change="pageChanged(currentPage)"
                        boundary-links="true" total-items="totalItems" max-size="maxSize" items-per-page="itemsPerPage" ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                    <div ng-if="entries.length ==  0" class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                        <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style type="text/css">
    @media (min-width: 992px){
        .col_float{
            float: left !important;
        }
    }

</style>