    <div class="modal-header" style="  padding:3%; ">
        <h4 style="" class="modal-title bold text-center"> {{'Transfer'| translate}} " {{type_name}} " (  {{name}}  ) </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form name="form" novalidate="" role="form" class=" text-center" style="padding: 1%;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4" ng-show="required.country_id">
                            <div class="form-group" ng-class="{ 'has-error' : form.adscountry_id.$invalid && (!form.adscountry_id.$pristine || form.adscountry_id.$touched) }">
                                <label class="control-label bold">   {{'country'| translate}} <span class=" text-danger bold help-inline">*</span></label>
                                <div class="input-group">
                                    <ui-select
                                            ng-model="row.country_id"
                                            name="country_id"
                                            ng-required="required.country_id"
                                            ng-change="getLocation('sdistricts','scountries',row.country_id)"
                                            theme="bootstrap" class="text-right" >
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in countries | filter: $select.search">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                                     <button type="button" ng-click="row.country_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-show="required.district_id">
                            <div class="form-group" ng-class="{ 'has-error' : form.district_id.$invalid && (!form.district_id.$pristine || form.district_id.$touched) }">
                                <label class="control-label bold">   {{'district'| translate}} <span class=" text-danger bold help-inline">*</span></label>
                                <div class="input-group">
                                    <ui-select   ng-model="row.district_id"
                                                 name="district_id"
                                                 ng-required="required.district_id"
                                                 ng-change="getLocation('sregions','sdistricts',row.district_id)"
                                                 theme="bootstrap" class="text-right" >
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in districts | filter: $select.search">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                                     <button type="button" ng-click="row.district_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-show="required.region_id">
                            <div class="form-group" ng-class="{ 'has-error' : form.adsregion_id.$invalid && (!form.adsregion_id.$pristine  || form.adsregion_id.$touched)}">
                                <label class="control-label bold">   {{'region'| translate}} <span class=" text-danger bold help-inline">*</span></label>
                                <div class="input-group">
                                    <ui-select   ng-model="row.region_id"
                                                 name="region_id"
                                                 ng-required="required.region_id"
                                                 ng-change="getLocation('sneighborhoods','sregions',row.region_id)"
                                                 theme="bootstrap" class="text-right" >
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in regions | filter: $select.search">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                                     <button type="button" ng-click="row.region_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-show="required.neighborhood_id">
                            <div class="form-group" ng-class="{ 'has-error' : form.adsneighborhood_id.$invalid && (!form.adsneighborhood_id.$pristine  || form.adsneighborhood_id.$touched)}">
                                <label class="control-label bold">   {{'nearlocation'| translate}} <span class=" text-danger bold help-inline">*</span></label>
                                <div class="input-group">
                                    <ui-select    ng-model="row.neighborhood_id"
                                                  name="neighborhood_id"
                                                  ng-change="getLocation('ssquares','sneighborhoods',row.neighborhood_id)"
                                                  ng-required="required.neighborhood_id"
                                                  theme="bootstrap" class="text-right" >
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in neighborhoods | filter: $select.search">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                                     <button type="button" ng-click="row.neighborhood_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" ng-show="required.square_id">
                            <div class="form-group" ng-class="{ 'has-error' : form.adssquare_id.$invalid && (!form.adssquare_id.$pristine  || form.adssquare_id.$touched)}">
                                <label class="control-label bold">   {{'square'| translate}} <span class=" text-danger bold help-inline">*</span></label>
                                <div class="input-group">
                                    <ui-select    ng-model="row.square_id"
                                                  name="square_id"
                                                  ng-required="required.square_id"
                                                  theme="bootstrap" class="text-right" >
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in squares | filter: $select.search">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                                     <button type="button" ng-click="row.square_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer" style="margin-top: 25px;">
        <button class="btn blue" ng-click="confirm()" ng-disabled="form.$invalid " type="button" >
            <span> {{'save'| translate}}</span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
