<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label bold">   {{ 'full_name' | translate}} </label>
            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{name == null ? '-' :name}}</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label bold">   {{ 'id_card_number' | translate}} </label>
            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{filter.id_card_number == null ? '-' :filter.id_card_number}}</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="control-label bold">   {{ 'en_name' | translate}} </label>
            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.aids_committee.ENG_NAME == null ? '-' :row.aids_committee.ENG_NAME}}</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'mother_name' | translate}} </label>
            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.aids_committee.MOTHER_ARB == null ? '-' :row.aids_committee.MOTHER_ARB}}</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'prev_family_name' | translate}} </label>
            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.aids_committee.PREV_LNAME_ARB == null ? '-' :row.aids_committee.PREV_LNAME_ARB}}</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'gender' | translate}} </label>
            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.aids_committee.SEX == null ? '-' :row.aids_committee.SEX}}</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'marital_status' | translate}} </label>
            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.aids_committee.SOCIAL_STATUS == null ? '-' :row.aids_committee.SOCIAL_STATUS}}</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'birthday' | translate}} </label>
            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.aids_committee.BIRTH_DT == null ? '-' :row.aids_committee.BIRTH_DT}}</p>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'death_date' | translate}} </label>
            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.aids_committee.DETH_DT == null ? '-' :row.aids_committee.DETH_DT}}</p>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'birth_place_main' | translate}} </label>
            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.aids_committee.BIRTH_PMAIN == null ? '-' :row.aids_committee.BIRTH_PMAIN}}</p>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'birth_place_sub' | translate}} </label>
            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.aids_committee.BIRTH_PSUB == null ? '-' :row.aids_committee.BIRTH_PSUB}}</p>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'address' | translate}} </label>
            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;">
                {{
                row.aids_committee.aidsCommitteeData.home_address
                }}
            </p>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'near_mosque' | translate}} </label>
            <p  class="form-control text-center"> {{row.aids_committee.aidsCommitteeData.near_mosque == "" ? '-' :row.aids_committee.aidsCommitteeData.near_mosque}}
            </p>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'primary_mobile' | translate}} </label>
            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.aids_committee.aidsCommitteeData.paterfamilias_mobile == null ? '-' :row.aids_committee.aidsCommitteeData.paterfamilias_mobile}}</p>

        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'phone' | translate}} </label>
            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.aids_committee.aidsCommitteeData.telephone == "" ? '-' :row.aids_committee.aidsCommitteeData.telephone}}</p>

        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'affected_by_wars' | translate}} </label>
            <p ng-if="row.aids_committee.aidsCommitteeData.affected_by_wars == 0" class="form-control text-center"> {{ 'no' | translate}} </p>

            <p ng-if="row.aids_committee.aidsCommitteeData.affected_by_wars == 1" class="form-control text-center"> {{ 'yes' | translate}} </p>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'current_career' | translate}} </label>
            <p  class="form-control text-center"> {{row.aids_committee.aidsCommitteeData.current_career == "" ? '-' :row.aids_committee.aidsCommitteeData.current_career}}
            </p>

        </div>
    </div>
    <div ng-if="row.aids_committee.aidsCommitteeData.father_death != 0" class="col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'father_death_reason' | translate}} </label>
            <p  class="form-control text-center"> {{row.aids_committee.aidsCommitteeData.father_death_reason == "" ? '-' :row.aids_committee.aidsCommitteeData.father_death_reason}}
            </p>
        </div>
    </div>
    <div ng-if="row.aids_committee.aidsCommitteeData.mother_death != 0" class="col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'mother_death_reason' | translate}} </label>
            <p  class="form-control text-center"> {{row.aids_committee.aidsCommitteeData.mother_death_reason == "" ? '-' :row.aids_committee.aidsCommitteeData.mother_death_reason}}
            </p>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'building_type' | translate}} </label>
            <p  class="form-control text-center"> {{row.aids_committee.aidsCommitteeData.building_type == "" ? '-' :row.aids_committee.aidsCommitteeData.building_type}}
            </p>

        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'home_type' | translate}} </label>
            <p  class="form-control text-center"> {{row.aids_committee.aidsCommitteeData.home_type == "" ? '-' :row.aids_committee.aidsCommitteeData.home_type}}
            </p>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'home_status' | translate}} </label>
            <p  class="form-control text-center"> {{row.aids_committee.aidsCommitteeData.home_status == "" ? '-' :row.aids_committee.aidsCommitteeData.home_status}}
            </p>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'home_description' | translate}} </label>
            <p  class="form-control text-center"> {{row.aids_committee.aidsCommitteeData.home_description == "" ? '-' :row.aids_committee.aidsCommitteeData.home_description}}
            </p>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'furniture_type' | translate}} </label>
            <p  class="form-control text-center"> {{row.aids_committee.aidsCommitteeData.furniture_type == "" ? '-' :row.aids_committee.aidsCommitteeData.furniture_type}}
            </p>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'furniture_description' | translate}} </label>
            <p  class="form-control text-center"> {{row.aids_committee.aidsCommitteeData.furniture_description == "" ? '-' :row.aids_committee.aidsCommitteeData.furniture_description}}
            </p>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'total_family_income' | translate}} </label>
            <p  class="form-control text-center"> {{row.aids_committee.aidsCommitteeData.total_family_income == "" ? '-' :row.aids_committee.aidsCommitteeData.total_family_income}}
            </p>
        </div>
    </div>
    <div ng-if="row.aids_committee.aidsCommitteeData.health_status != null " class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'health_status' | translate}} </label>
            <p  class="form-control text-center"> {{row.aids_committee.aidsCommitteeData.health_status == "" ? '-' :row.aids_committee.aidsCommitteeData.health_status}}
            </p>
        </div>
    </div>
    <div ng-if="row.aids_committee.aidsCommitteeData.wife_mobile != null " class="col-md-3 col-sm-12 col-xs-12">
        <div class="form-group">
            <label class="control-label bold">   {{ 'wife_mobile' | translate}} </label>
            <p  class="form-control text-center"> {{row.aids_committee.aidsCommitteeData.wife_mobile == "" ? '-' :row.aids_committee.aidsCommitteeData.wife_mobile}}
            </p>
        </div>
    </div>


</div>
