<style>

    .text-center{
        vertical-align: middle;
        text-align: center;
    }

</style>
<div  class="row" style="padding:0 2%">
    <div class="panel panel-info">
        <div class="panel-heading panel-heading-style">
            {{'beneficiary of payment'| translate}}
        </div>

        <div class="panel-body" style="padding: 2%;">
            <div class="row">
                <div  class="col-md-12 col-sm-12 col-xs-12">
                    <div  class="col-md-12 col-sm-12 col-xs-12" ng-show="is_mine && guaranteed.length != 0 " style="padding: 1%">
                        <div class="col-md-7">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-8 col-md-offset-2">
                                    <input type="text" class="form-control pull-left" style="height: 34px ;" name="amount" decimal-numbers ng-model="distribution.amount"
                                           ng-pattern='/^\d+$/' init=""/>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-8 col-md-offset-2 text-center" style="padding-top: 2%;height: 45px;">
                                    <div class="input-group">
                                        <div class="icheck-inline bold">
                                            <label class="bold">
                                                <input type="radio" name="how" ng-model="distribution.how"  value="1" checked class="icheck">
                                                {{'distribute the amount to all'| translate}}
                                            </label>
                                            <label class="bold">
                                                <input type="radio" name="how" ng-model="distribution.how"  value="2" class="icheck"> {{'share the amount to all'| translate}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-6 col-md-offset-3 text-center" >
                                    <button class="btn blue  pull-right" style="width: 100% ;"  ng-disabled='distribution.amount == "" || distribution.amount == null' ng-click="distribute('amount',distribution)"   >  <span>{{'amount distribute' | translate }}</span></button>
                                </div>
                             </div>
                        </div>
                        <div class="col-md-5">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-6 text-center" >
                                    <div class="form-group">
                                        <div  class="input-group" >
                                            <input type="text" class="form-control"  uib-datepicker-popup="{{format}}"
                                                   ng-model="distribution.from"
                                                   datepickerPopup
                                                   name="from" ng-required="true"
                                                   is-open="popup3.opened" datepicker-options="dateOptions" readonly
                                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"
                                                   min-mode="'month'" max-mode="'year'"
                                                   ng-change="checkDate(distribution.from,'from')"/>
                                            <span class="input-group-btn">
                                                           <button type="button" class="btn btn-default" ng-click="open3($event)">
                                                               <i class="glyphicon glyphicon-calendar"></i>
                                                           </button>
                                                                </span>
                                        </div>
                                        <span ng-repeat="(error, errortext) in msg1.from" class="font-red-pink bold help-inline" ng-show="msg1.from != [ ] " >
                                                         {{ errortext.toString() }}
                                                </span>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center" >
                                    <div class="form-group">
                                        <div  class="input-group">
                                            <input type="text" class="form-control"  uib-datepicker-popup="{{format}}"
                                                   ng-model="distribution.to"
                                                   datepickerPopup
                                                   name="to" ng-required="true"
                                                   is-open="popup1.opened" datepicker-options="dateOptions" readonly
                                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"
                                                   min-mode="'month'" max-mode="'year'"/>
                                            <span class="input-group-btn">
                                                           <button type="button" class="btn btn-default" ng-click="open1($event)">
                                                               <i class="glyphicon glyphicon-calendar"></i>
                                                           </button>
                                                                </span>
                                        </div>
                                        <span ng-repeat="(error, errortext) in msg1.to" class="font-red-pink bold help-inline" ng-show="msg1.to != [ ] " >
                                                         {{ errortext.toString() }}
                                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-8 col-md-offset-2 text-center" >
                                    <button class="btn blue  pull-right"
                                            ng-disabled="distribution.to == null || distribution.to == '' || distribution.from == null || distribution.from == ''"
                                            style="width: 100% ;"    ng-click="distribute('range',distribution)">  <span> {{'range distribute' | translate }}</span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  class="col-md-12 col-sm-12 col-xs-12"  ng-show="is_mine" style="margin-bottom: 10px;">
                        <button type="button" class="btn blue "ng-click="ExportToExcel()" ng-show="guaranteed.length != 0 " >
                            <span class="fa fa-file-excel-o"  style="margin-left: 2%;"></span>
                            <span> {{'export rows'| translate}}</span>
                        </button>

                        <button class="btn red-pink btn-sm pull-right"  ng-click="confirmUpdate()" ng-show="guaranteed.length !=0 " type="button" >
                            <span class="fa fa-floppy-o" ></span>
                            <span>{{'save_update'| translate}}</span>
                        </button>
                    </div>
                    <div  class="col-md-12 col-sm-12 col-xs-12" ng-show="guaranteed.length != 0 ">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" style="margin-top: 1%;" >
                                <thead>
                                <tr style="background-color: #f3f3f3!important; height:45px; line-height: 40px; vertical-align: middle; text-align: center; font-size: 30px; ">
                                    <th class="text-center"> {{'#'| translate}} </th>
                                    <th style="min-width: 150px;vertical-align: middle;text-align: center;" class="text-center"> {{'case_name'| translate}}</th>
                                    <th style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"class="text-center"> {{'card_number' | translate }}</th>
                                    <th class="text-center"> {{'sponsor_number'| translate}}</th>
                                    <th class="text-center">{{'guardian_name'| translate}}</th>
                                    <th style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"class="text-center">{{'amount'| translate}} <br> ( {{ currency_name }} ) </th>
                                    <th style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"class="text-center">{{'amount_after_discount'| translate}} </th>
                                    <th style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"class="text-center">{{'shekel_amount_before_discount'| translate}} </th>
                                    <th style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"class="text-center">{{'amount in shekel'| translate}} </th>
                                    <th style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"class="text-center">{{'date from'| translate}}</th>
                                    <th style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"class="text-center">{{'date to'| translate}}</th>
                                    <th class="text-center"> {{'recipient'| translate}} </th>
                                    <th class="text-center" ng-show="is_mine"> {{'operations'| translate}} </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="item in guaranteed |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                    <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                    <td style="min-width: 150px;vertical-align: middle;text-align: center;">{{item.name}}</td>
                                    <td style="vertical-align: middle;text-align: center;">{{item.id_card_number }}</td>
                                    <td style="vertical-align: middle;text-align: center;">{{item.sponsor_number }}</td>

                                    <td style="min-width: 150px;vertical-align: middle;text-align: center;">
                                        <span ng-show="item.guardian_name !=null"> {{item.guardian_name}} </span>
                                        <span ng-show="item.guardian_name ==null"> -  </span>
                                    </td>
                                    <td class="text-center">
                                        <div class="form-group" ng-show="is_mine">
                                            <input type="text" class="form-control text-center" ng-blur="changeAmount(item.amount,$index)" name="amount" style="width: 100%" ng-model="item.amount" decimal-numbers/>
                                            <span ng-show="!is_mine && item.amount !=null"> {{item.amount}} </span>
                                            <span ng-show="!is_mine && item.amount ==null"> 0  </span>

                                        </div>
                                    </td>
                                    <td style="vertical-align: middle;text-align: center;">{{item.amount_after_discount}}</td>
                                    <td style="vertical-align: middle;text-align: center;">{{item.shekel_amount_before_discount}}</td>
                                    <td style="vertical-align: middle;text-align: center;">
                                        <span ng-show="item.shekel_amount !=null"> {{item.shekel_amount}} </span>
                                        <span ng-show="item.shekel_amount ==null"> 0  </span>
                                    </td>

                                    <td style="vertical-align: middle;text-align: center;">
                                        <span ng-show="item.date_from != null">{{item.date_from}} </span>
                                        <span ng-show="item.date_from == null"> _ </span>
                                    </td>
                                    <td style="vertical-align: middle;text-align: center;">
                                        <span ng-show="item.date_to != null">{{item.date_to}} </span>
                                        <span ng-show="item.date_to == null"> _ </span>
                                    </td>
                                    <td style="vertical-align: middle;text-align: center;">
                                        <button ng-if="item.recipient==1 && is_mine"
                                                ng-click="toggle($index,0,item)"
                                                class="btn btn-xs red-pink btn-circle" style="color:#fff;">
                                            <span>{{'guardian'| translate}}</span> </button>
                                        <button ng-if="item.recipient==0 && is_mine"
                                                ng-click="toggle($index,1,item)" class="btn btn-xs  btn-circle" style="background-color:#5cb85c;color:#fff;">
                                            <span>{{'person'| translate}}</span> </button>

                                        <span ng-if="item.recipient==1 && !is_mine">{{'guardian'| translate}}</span>
                                        <span ng-if="item.recipient==0 && !is_mine">{{'person'| translate}}</span>
                                    </td>

                                    <td style="vertical-align: middle;text-align: center;" ng-show="is_mine">
                                     <span type="button" class="btn btn-xs bold font-blue fa fa-calendar" style="font-size: medium; background-color: transparent"
                                           ng-click="UpdateDateRange('md',item,$index)"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div ng-if="guaranteed.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                            <span>
                                                                                {{'there is no data to show'| translate}}
                                                                            </span>
                        </div>
                    </div>
                    <div  class="col-md-12 col-sm-12 col-xs-12" ng-if="guaranteed.length != 0 " >
                        <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                            <span class="bold ">{{'number of total items'| translate}}   :   </span>
                            <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                            <span class="bold ">{{'row'| translate}}</span>
                        </div>
                        <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" ng-show="guaranteed.length != 0 " style="margin-top: 1%;">
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                                <thead>
                                <tr style="background-color: #f3f3f3!important; color: #337ab7;  height:30px; line-height: 40px; font-size: 30px; ">
                                    <th class="text-center bold" colspan="4" >{{'case_amount_statistic'| translate}}</th>
                                </tr>
                                <tr style="background-color: #f3f3f3!important; color: #337ab7;  height:30px; line-height: 40px; font-size: 30px; ">
                                    <th class="text-center" colspan="2" >{{'total amount in Genuine currency'| translate}}</th>
                                    <th class="text-center" colspan="2" >{{'total amount in shekel after discount'| translate}}</th>
                                </tr>
                                <tr style="background-color: #f3f3f3!important; color: #337ab7;  height:30px; line-height: 40px; font-size: 30px; ">
                                    <th style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;" class="text-center" > {{'before discount'| translate}} </th>
                                    <th style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;" class="text-center" > {{'after discount'| translate}} </th>
                                    <th style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;" class="text-center" > {{'before discount'| translate}} </th>
                                    <th style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;" class="text-center" > {{'after discount'| translate}} </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td >{{sum_case_amount}}</td>
                                    <td >{{sum_case_after_org_share_amount}}</td>
                                    <td >{{sum_case_before_org_share_shekel_amount}}</td>
                                    <td >{{sum_case_shekel_amount}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div  class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
            <div class="col-md-3 pull-right" >
                <button class=" col-md-6 btn btn-outline blue button-next pull-right"  ng-click="next()" type="button">
                    <span>{{'the_next'| translate}}</span>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </button>
                <button class=" col-md-6 btn btn-outline blue button-previous  pull-right" ng-click="previous()" type="button" >
                    <span class="glyphicon glyphicon-menu-left"></span>
                    <span>{{'the_ previous'| translate}}</span>
                </button>
            </div>
        </div>

    </div>
</div>

