<div  class="row" style="margin-left: 2%;margin-right: 2%;">
    <div class="panel panel-info">
        <div class="panel-heading panel-heading-style">
            {{'Payment data'| translate}}
        </div>
        <div class="panel-body" style="padding: 2%;">

            <form name="frm" novalidate="" role="form" class=" text-center">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="control-label bold">{{'sponsorship_authority'| translate}}
                                <span class=" font-red-pink bold help-inline"> * </span></label>
                            <ui-select name="sponsor_id" ng-readonly="!is_mine" ng-disabled="!is_mine" ng-model="payment.sponsor_id" ng-change="getsponsorshipsList(payment.sponsor_id)" required
                                       theme="bootstrap"class="text-right" >
                                <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in sponsorships | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span ng-repeat="(error, errortext) in msg1.sponsor_id"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.sponsor_id' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="control-label bold">{{'nomination_list'| translate}} <span class=" font-white bold help-inline"> * </span></label>
                            <ui-select name="sponsorship_id"
                                       ng-readonly="!is_mine" ng-disabled="!is_mine" ng-model="payment.sponsorship_id" ng-change="msg1.sponsorship_id = [ ]"
                                       theme="bootstrap"class="text-right" >
                                <ui-select-match >{{$select.selected.sponsorship_number}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in sponsorshipList | filter: $select.search">
                                    <div ng-bind-html="item.sponsorship_number | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span ng-repeat="(error, errortext) in msg1.sponsorship_id"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.sponsorship_id' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="control-label bold">{{'payment_category'| translate}}   <span class=" font-red-pink bold help-inline"> * </span></label>
                            <ui-select name="category_id" ng-change="msg1.category_id = [ ] " ng-readonly="!is_mine" ng-disabled="!is_mine" ng-model="payment.category_id" required
                                       theme="bootstrap" class="text-right" >
                                <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in paymentCategory | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span ng-repeat="(error, errortext) in msg1.category_id"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.category_id' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="control-label bold">{{'payment status'| translate}}   <span class=" font-red-pink bold help-inline"> * </span></label>
                            <select class="form-control" required name="status" ng-change="msg1.status = [ ]" ng-readonly="!is_mine" ng-disabled="!is_mine" ng-model="payment.status">
                                <option disabled selected value>{{'select payment status'| translate}}  </option>
                                <option value="1">{{'done'| translate}}</option>
                                <option value="2"> {{'finish'| translate}}</option>
                                <option value="3">{{'in progress'| translate}}</option>
                            </select>
                            <span ng-repeat="(error, errortext) in msg1.status"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.status' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>

                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label bold"> {{'payment date'| translate}}
                                <span class=" font-red-pink bold help-inline"> * </span></label>
                            <div  class="input-group">
                                <input type="text" class="form-control"  uib-datepicker-popup="{{format}}"
                                       ng-model="payment.payment_date"
                                       datepickerPopup
                                       name="payment_date" required
                                       is-open="popup3.opened" datepicker-options="dateOptions" readonly
                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"
                                       ng-change="msg1.payment_date = [ ]"/>
                                <span class="input-group-btn">
                                                           <button type="button" class="btn btn-default" ng-disabled="!is_mine" ng-click="open3($event)" >
                                                               <i class="glyphicon glyphicon-calendar"></i>
                                                           </button>
                                                                </span>

                            </div>
                            <span ng-repeat="(error, errortext) in msg1.payment_date"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.payment_date' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>

                    </div>
                    <div class="col-md-3" >
                        <div class="form-group">
                            <label class="control-label bold">{{'amount'| translate}}   <span class=" font-red-pink bold help-inline"> * </span></label>
                            <input type="text" class="form-control" ng-readonly="!is_mine" ng-disabled="!is_mine" ng-model="payment.amount"  name="amount"
                                   ng-change="setAmount(payment.amount)"  required decimal-numbers />
                            <span ng-repeat="(error, errortext) in msg1.amount"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.amount' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="control-label bold">{{'currency'| translate}}   <span class=" font-red-pink bold help-inline"> * </span></label>
                            <ui-select  name="currency_id"  ng-change="msg1.currency_id = [ ] " ng-readonly="!is_mine" ng-disabled="!is_mine" ng-model="payment.currency_id" required
                                        theme="bootstrap"class="text-right" >
                                <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in currency | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span ng-repeat="(error, errortext) in msg1.currency_id"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.currency_id' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="control-label bold">{{'payment_exchange'| translate}}   <span class=" font-red-pink bold help-inline"> * </span></label>
                            <select class="form-control" name="payment_exchange" ng-change="msg1.payment_exchange = [ ] " required ng-readonly="!is_mine" ng-disabled="!is_mine" ng-model="payment.payment_exchange">
                                <option disabled selected value>{{'payment_exchange'| translate}}  </option>
                                <option value="0">{{'currency'| translate}}</option>
                                <option value="1">{{'shekel'| translate}}</option>
                            </select>
                            <span ng-repeat="(error, errortext) in msg1.payment_exchange"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.payment_exchange' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>

                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3" >
                        <div class="form-group ">
                            <label class="control-label bold">{{'shekel exchange rate'| translate}}   <span class=" font-red-pink bold help-inline"> * </span></label>
                            <input type="number" class="form-control" min="0" step="0.01" ng-value="0" value="0"
                                   ng-change="setExchangeRate(payment.exchange_rate)" ng-readonly="!is_mine" ng-disabled="!is_mine" ng-model="payment.exchange_rate"  name="exchange_rate"
                                   required
                            />
                            <span ng-repeat="(error, errortext) in msg1.exchange_rate"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.exchange_rate' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="control-label bold"> {{'exchange date'| translate}}    <span class=" font-red-pink bold help-inline"> * </span></label>
                            <div  class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                       ng-model="payment.exchange_date" datepickerPopup
                                       name="exchange_date" required
                                       is-open="popup1.opened" datepicker-options="dateOptions" readonly
                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"
                                       ng-change="msg1.exchange_date = [ ]"/>
                                <span class="input-group-btn">
                                                           <button type="button" class="btn btn-default" ng-disabled="!is_mine" ng-click="open1($event)">
                                                               <i class="glyphicon glyphicon-calendar"></i>
                                                           </button>
                                                                </span>

                            </div>
                            <span ng-repeat="(error, errortext) in msg1.exchange_date"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.exchange_date' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="control-label bold">{{'exchange_type'| translate}}   <span class=" font-red-pink bold help-inline"> * </span></label>
                            <select class="form-control" name="status" ng-change="resetBank()" ng-readonly="!is_mine" ng-disabled="!is_mine" ng-model="payment.exchange_type" required>
                                <option disabled selected value>{{'select exchange type'| translate}}  </option>
                                <option value="1"> {{'Bank deposit'| translate}}</option>
                                <option value="2">{{'Bank check'| translate}} </option>
                                <option value="4"> {{'ID card'| translate}} </option>
                                <option value="3">{{'Internal check'| translate}} </option>
                            </select>
                            <span ng-repeat="(error, errortext) in msg1.exchange_type"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.exchange_type' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="control-label bold">{{'organization share'| translate}}   <span class=" font-red-pink bold help-inline"> * </span></label>
                            <input type="number" min="0" step="0.01" ng-value="0" value="0" class="form-control" ng-readonly="!is_mine" ng-disabled="!is_mine" ng-model="payment.organization_share"  name="organization_share"
                                   ng-change="setOrgShare(payment.organization_share)"  required/>
                            <span ng-repeat="(error, errortext) in msg1.organization_share"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.organization_share' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>

                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="control-label bold">{{'administration fees'| translate}}   <span class=" font-red-pink bold help-inline"> * </span></label>
                            <input type="text" class="form-control" ng-readonly="!is_mine" ng-disabled="!is_mine" ng-model="payment.administration_fees" decimal-numbers name="administration_fees"
                                   ng-change="setFee(payment.administration_fees)"   required/>
                            <span ng-repeat="(error, errortext) in msg1.administration_fees"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.administration_fees' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3" ng-show="payment.exchange_type == 1 || payment.exchange_type == 2|| payment.exchange_type == 4">
                        <div class="form-group ">
                            <label class="control-label bold">{{'bank_names'| translate}}
                                <span ng-show="payment.exchange_type == 1 || payment.exchange_type == 2" class=" font-red-pink bold help-inline"> * </span></label>
                            <ui-select  name="bank_id" ng-change="msg1.bank_id = [ ] " ng-readonly="!is_mine" ng-disabled="!is_mine" ng-model="payment.bank_id"
                                        ng-disabled="payment.exchange_type != 1 && payment.exchange_type != 2 && payment.exchange_type != 4"
                                        ng-required="payment.exchange_type == 1 || payment.exchange_type == 2|| payment.exchange_type == 4"
                                        theme="bootstrap"class="text-right" >
                                <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in Banks | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span ng-repeat="(error, errortext) in msg1.bank_id"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.bank_id' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{ 'has-error' : frm.transfer.$invalid && !frm.transfer.$pristine }">
                            <label class="control-label  bold ">  {{'transfer'| translate}}
                                <span class=" font-red-pink bold help-inline"> * </span>
                            </label>
                            <select class="form-control"
                                    ng-init="" ng-readonly="!is_mine" ng-disabled="!is_mine"
                                    ng-change="resetTransfer(payment.transfer)"
                                    name="transfer"
                                    ng-model='payment.transfer'
                                    required
                            >
                                <option disabled selected value > --  {{'transfer'| translate}}  -- </option>
                                <option  value="0" > {{'direct'| translate}} </option>
                                <option  value="1" > {{'transfer_company'| translate}} </option>
                            </select>

                            <span class="font-red-pink bold help-inline" ng-show="frm.transfer.$error.required && frm.transfer.$touched">
                                            {{'required_field'| translate}}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.transfer" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.transfer' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                    <div class="col-md-3" ng-if="payment.transfer == 1 || payment.transfer == '1'">
                        <div class="form-group" ng-class="{ 'has-error' : frm.transfer_company_id.$invalid && !frm.transfer_company_id.$pristine }">
                            <label class="control-label bold">{{'transfer_company_name'| translate}}
                                <span class=" font-red-pink bold help-inline"> * </span>
                            </label>
                            <div class="input-group">
                                <ui-select name="transfer_company_id" ng-model="payment.transfer_company_id" theme="bootstrap" ng-change="msg1.transfer_company_id = [ ]"                                                ng-required="payment.transfer == 1 || payment.transfer == '1'"
                                           class="text-right" ng-readonly="!is_mine" ng-disabled="!is_mine">
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in transferCompany | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                            <button type="button" ng-click="payment.transfer_company_id = undefined"  class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                            </div>

                            <span class="font-red-pink bold help-inline" ng-show="frm.transfer_company_id.$error.required && frm.transfer_company_id.$touched">
                                                        {{'required_field'| translate}}
                                </span>
                            <span ng-repeat="(error, errortext) in msg1.transfer_company_id" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.transfer_company_id' != [ ]" >
                                         {{ errortext.toString() }}
                                </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label> {{'notes'| translate}} </label>
                            <textarea class="form-control" ng-readonly="!is_mine" ng-disabled="!is_mine" ng-model="payment.notes" name="notes" rows="5"></textarea>
                            <span ng-repeat="(error, errortext) in msg1.notes"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.notes' != [ ]" >
                                            {{ errortext.toString() }}
                                         </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%;">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                            <thead>
                            <tr style="height:40px; line-height: 40px; font-size: 30px; " class=" text-center bold">
                                <th class="text-center" colspan="3" >{{'total amount in Genuine currency'| translate}}</th>
                                <th class="text-center" colspan="3" >{{'total amount in shekel after discount'| translate}}</th>
                            </tr>
                            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                <th   style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"class="text-center" > {{'before discount'| translate}} </th>
                                <th   style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"class="text-center" > {{'administration fees'| translate}} ( {{administrationFees_}} )</th>
                                <th   style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"class="text-center" > {{'organization_share'| translate}}  ( {{organizationShare_}} )</th>
                                <!--<th  style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;" class="text-center" > {{'after discount fess and admin'| translate}} </th>-->
                                <th   style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"class="text-center" > {{'before discount'| translate}} </th>
                                <th   style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"class="text-center" > {{'administration fees'| translate}}  ( {{administrationFees_}} )</th>
                                <th   style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"class="text-center" > {{'organization_share'| translate}}  ( {{organizationShare_}} )</th>
                                <!--<th   style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"class="text-center" > {{'after discount fess and admin'| translate}} </th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td >{{totalamount}}</td>
                                <td >{{administrationFees}}</td>
                                <td >{{organizationShare}}</td>
                                <!--<td >{{totalAfterDiscountfee}}</td>-->
                                <td >{{totalamountshekel}}</td>
                                <td >{{administrationFeessk}}</td>
                                <td >{{organizationSharesk}}</td>
                                <!--<td >{{totalAfterDiscountfeeshekel}}</td>-->

                            </tr>
                            </tbody>

                        </table>
                    </div>

                </div>


            </form>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;"  >
        <div class="col-md-2 pull-right" >
            <button class="btn btn-outline blue button-next pull-right"
                    style="width: 95%;"  ng-click="forward(payment)"  ng-disabled="p_form.$invalid" type="button" >
                <span>{{'the_next'| translate}}</span>
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>
    </div>
</div>
