<div  class="row" style="padding:0 2%">
    <div class="panel panel-info">
        <div class="panel-heading panel-heading-style">
            {{'payment-documents'| translate}}
        </div>

        <div class="panel-body" style="padding: 2%;">

            <div  class="row" style="padding: 2%">


                <div  class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 30px;"  ng-show="is_mine">
                    <button  class=" pull-left btn blue  " ng-click="ChooseAttachment()" type="button" >
                        <span> {{'add attachment'| translate}}</span>
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </div>
                <div  class="col-md-12 col-sm-12 col-xs-12">

                    <div class="portlet-body">
                        <div class="row" style="margin-bottom: 2%;">
                            <div  class="col-md-12 col-sm-12 col-xs-12">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                    <thead>
                                    <tr style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">
                                        <th class="col-md-1 text-center" > {{'#'| translate}}</th>
                                        <th class="col-md-4 text-center" > {{'attachment name'| translate}}</th>
                                        <th class="col-md-3 text-center" > {{'attachment_type'| translate}}</th>
                                        <th class="col-md-4 text-center" > {{'operations'| translate}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="doc in Documents">
                                        <td>{{ $index+1 }}</td>
                                        <td>{{ doc.name }}</td>
                                        <td>
                                            <span ng-if="doc.attachment_type == 1"> {{'signature_sheet'| translate}} </span>
                                            <span ng-if="doc.attachment_type == 2"> {{'organization_sheet'| translate}} </span>
                                            <span ng-if="doc.attachment_type == 3"> {{'Receipt_of_receipt'| translate}} </span>
                                            <span ng-if="doc.attachment_type == 4"> {{'others'| translate}} </span>
                                        </td>
                                        <td>
                                            <a class="btn blue  btn-xs" data-download="{{ doc.name }}"
                                               doc-file-download data-url="/doc/files/download/{{doc.file_id}}">
                                                <span class="fa fa-cloud-download"></span> <span>{{'download'| translate}}</span> </a>

                                            <button type="button" ng-show="is_mine" class="btn btn-xs bold font-red-pink bold fa fa-trash-o" style="font-size: medium; background-color: transparent"
                                                    ng-click="deletedoc('sm',doc.file_id)"></button>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div ng-if="Documents.length ==0 " class=" col-md-12 text-center" style="margin-bottom: 2%">
                                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                            <span>
                                                                                {{'there is no data to show'| translate}}
                                                                            </span>
                                </div>
                            </div>
                        </div>


                    </div>


                    <div  class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                        <div class="col-md-3 pull-right" >
                            <button class=" col-md-6 btn btn-outline blue button-next pull-right"  ng-click="next()" type="button">
                                <span>{{'Finish'| translate}}</span>
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </button>
                            <button class=" col-md-6 btn btn-outline blue button-previous  pull-right" ng-click="previous()" type="button" >
                                <span class="glyphicon glyphicon-menu-left"></span>
                                <span>{{'the_ previous'| translate}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
