<div  class="row" style="margin-left: 2%;margin-right: 2%;">
    <div class="panel panel-info">
        <div class="panel-heading panel-heading-style">
            {{'import beneficiary'| translate}}
        </div>
        <div class="panel-body" style="padding: 2%; min-height: 600px;">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center" ng-show="is_mine">
                <div class="col-md-8 col-md-offset-2 " style=" padding: 2%; padding-top:3%; border: 1px lightgrey solid">
                    <h5 class="bold font-blue font-blue"> {{'import_accepted'| translate}}   (  {{'according'| translate}} ) </h5>

                    <p class="clearfix" style="margin-top: 5px;">
                        <button ng-click="setBeneficiary('sponsor')" class="btn btn-sm btn-action  blue">
                            <i class="icon-present"></i>
                            <span> {{'sponsorship_authority'| translate}}</span>
                        </button>
                        <button ng-click="setBeneficiary('sponsorship')" ng-if="sponsorship_id" type="button" class="btn  btn-sm yellow-saffron ">
                            <i class="fa fa-tags"></i>
                            <span> {{'sponsorship_'| translate}}</span>
                        </button>
                        <label class="btn green-turquoise"  >
                            <input type="file" nv-file-select=""
                                   style="display: none" uploader="uploader"
                                   accept=" application/vnd.ms-excel,  .xlsx,.xls"
                                   onchange="angular.element(this).scope().fileUpload(this)"/>
                            <i class="fa fa-paperclip"></i>
                            <span> {{'from file'| translate}}</span>
                        </label>

                        <button   href="javascript:;"  uib-tooltip="{{'download template'| translate}}" class="btn yellow-soft fa fa-download "
                                  ng-click="download()"
                        ></button>

                    </p>
                </div>
                <div  class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 2%" ng-if="success">
                    <div class="alert alert-success" >
                        <button ng-click="empty()"  type="button" ng-if="exceed" class="btn  btn-sm yellow-saffron ">
                            <span> {{'empty payment' | translate }}</span>

                        </button>
                    </div>
                </div>
                <div  class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%;">
                    <div class="col-md-8 col-md-offset-2" ng-show="mapitems" style="margin-top: 2%; padding:2%; border: 1px solid lightgrey; ">
                        <div  class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                <thead>
                                <tr style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">
                                    <th class="col-md-4 text-center " > {{'name on import file'| translate}}</th>
                                    <th class="col-md-4 text-center " > {{'name on db'| translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in items" ng-form='ElemntForm'>
                                    <td> {{ item.cell }} </td>
                                    <td>
                                        <div class="form-group">
                                            <select class="form-control" ng-init="" name="column" ng-change="setColum(item.column,$index)" ng-model='item.column'>
                                                <option selected value> --- {{'select' | translate }}  --- </option>
                                                <option value="sponsor_number">  {{'sponsor_number'| translate}} </option>
                                                <option value="id_card_number">  {{'card_number' | translate }} </option>
                                                <option value="amount">  {{'amount'| translate}} </option>
                                                <option value="shekel_amount">  {{'shekel_amount'| translate}} </option>
                                                <option value="date_from">  {{'date_from'| translate}}</option>
                                                <option value="date_to">  {{'date_to'| translate}}</option>
                                            </select>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-md-offset-2" style="margin-top: 1%;">
                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                    <thead>
                    <tr style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">
                        <th colspan="3" class="text-center" > {{'cases_total'| translate}}  </th>
                        <th colspan="3"  class="text-center" >  {{'old guaranteed'| translate}}</th>
                        <th colspan="3"  class="text-center" > {{'new guaranteed'| translate}}  </th>
                        <th colspan="3"  class="text-center" > {{'no payment amount'| translate}} </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="3" >
                            <span ng-show="count == 0">{{count}}</span>
                            <a uib-tooltip="{{'all guaranteed'| translate}}" ng-click="load(0)" ng-show="count != 0" aria-hidden="true">{{count}}</a>
                            <i class="fa fa-download" ng-click="ExportToExcel(0)" ng-show="count != 0" aria-hidden="true"></i>
                        </td>

                        <td colspan="3" >
                            <span ng-show="old_ == 0">{{old_}}</span>
                            <a uib-tooltip="{{'old guaranteed'| translate}}" ng-click="load(2)" ng-show="old_ != 0" aria-hidden="true">{{old_}}</a>
                            <i class="fa fa-download" ng-click="ExportToExcel(2)" ng-show="old_ != 0" aria-hidden="true"></i>
                        </td>

                        <td colspan="3" >
                            <span ng-show="new_ == 0">{{new_}}</span>
                            <a uib-tooltip="{{'new guaranteed'| translate}}" ng-click="load(1)" ng-show="new_ != 0" aria-hidden="true">{{new_}}</a>
                            <i class="fa fa-download" ng-click="ExportToExcel(1)" ng-show="new_ != 0" aria-hidden="true"></i>
                        </td>

                        <td colspan="3" >
                            <span ng-show="no_payment == 0">{{no_payment}}</span>
                            <a uib-tooltip="{{'no payment amount'| translate}}" ng-click="load(3)" ng-show="no_payment != 0" aria-hidden="true">{{no_payment}}</a>
                            <i class="fa fa-download" ng-click="ExportToExcel(3)" ng-show="no_payment != 0" aria-hidden="true"></i>
                        </td>
                    </tr>
                    </tbody>

                </table>

            </div>

            <div  class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%;">
                <!-- BEGIN TABLE -->
                <div  ng-show=" is_mine && status != 1 && beneficiaries.length !=0 " class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px; padding: 0%;">
                    <div class="btn-group input-actions">
                        <a class="btn btn-sm blue  btn-outline dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                            <i class="fa fa-pencil"></i>
                            <i class="" style="font-style: normal;">  {{'set all as' | translate }} </i>
                            <i class="glyphicon glyphicon-menu-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:;" ng-show="status ==3 || status ==0" ng-click="set(2,'all')">
                                    <i class="fa fa-pencil"></i>
                                    <span>{{'old_guaranteed'| translate}}</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" ng-show="status ==2 || status ==0" ng-click="set(3,'all')">
                                    <i class="fa fa-pencil"></i>
                                    <span>{{'no_case_payment_amount'| translate}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group input-actions">
                        <a class="btn btn-sm blue  btn-outline dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                            <i class="fa fa-pencil"></i>
                            <i class="" style="font-style: normal;">  {{'set selected as' | translate }} </i>
                            <i class="glyphicon glyphicon-menu-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:;"  ng-show="status ==3 || status ==0" ng-click="set(2,'sub')">
                                    <i class="fa fa-pencil"></i>
                                    <span>{{'old_guaranteed'| translate}}</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;"  ng-show="status ==2 || status ==0" ng-click="set(3,'sub')">
                                    <i class="fa fa-pencil"></i>
                                    <span>{{'no_case_payment_amount'| translate}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" style="margin-top: 0%;" ng-show="beneficiaries.length !=0 ">
                    <thead>
                    <tr style="background-color: #f3f3f3!important; height:45px; line-height: 40px; vertical-align: middle; text-align: center; font-size: 30px; ">
                        <th class="text-center" ng-show=" is_mine ">
                            <input type="checkbox"
                                   ng-model="All"
                                   ng-change="allCheckbox(All)"
                                   ng-true-value="true"
                                   ng-false-value="false"
                            >
                        </th>
                        <th class="text-center" > {{'#'| translate}} </th>
                        <th class="text-center" ng-click="sort('name')"> {{'the_name'| translate}}
                            <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th class="text-center" ng-click="sort('id_card_number')"> {{'card_number' | translate }}
                            <span class="glyphicon sort-icon" ng-show="sortKey=='id_card_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th class="text-center" ng-click="sort('sponsor_number')"> {{'sponsor_number'| translate}}
                            <span class="glyphicon sort-icon" ng-show="sortKey=='sponsor_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th class="text-center" ng-click="sort('category_name')">{{'category_name'| translate}}
                            <span class="glyphicon sort-icon" ng-show="sortKey=='category_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th class="text-center" ng-click="sort('guardian_name')">{{'guardian_name'| translate}}
                            <span class="glyphicon sort-icon" ng-show="sortKey=='guardian_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th class="text-center" ng-click="sort('status')"> {{'status'| translate}}
                            <span class="glyphicon sort-icon" ng-show="sortKey=='status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                        </th>
                        <th class="text-center" ng-show=" is_mine  && status != 1"> {{'operations'| translate}} </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr dir-paginate="item in beneficiaries|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage"  ng-if="beneficiaries.length != 0 ">
                        <td>
                            <input type="checkbox" class="make-switch"
                                   data-on-color="primary"
                                   data-off-color="info"
                                   ng-model="item.checked"
                                   ng-checked="selectAll"
                                   ng-true-value="true"
                                   ng-false-value="false"
                            >
                        </td>
                        <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                        <td>{{item.name}}</td>
                        <td >{{item.id_card_number }}</td>
                        <td >{{item.sponsor_number }}</td>
                        <td >{{item.category_name }}</td>
                        <td>
                            <span ng-show="item.guardian_name !=null"> {{item.guardian_name}} </span>
                            <span ng-show="item.guardian_name ==null"> -  </span>
                        </td>
                        <td>
                            <span ng-show="item.status ==1"> {{'new_guaranteed'| translate}} </span>
                            <span ng-show="item.status ==2"> {{'old_guaranteed'| translate}} </span>
                            <span ng-show="item.status ==3">{{'no_case_payment_amount'| translate}}</span>
                        </td>
                        <td  ng-show=" is_mine  && status != 1">
                            <span ng-show="item.status ==1"> - </span>
                            <div  ng-show="item.status !=1" class="btn-group btn-group-solid ">
                                <button type="button" class="btn btn-xs blue   dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-ellipsis-horizontal"></i> <span>{{'change status'| translate}}</span>
                                    <i class="glyphicon glyphicon-menu-down"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-show="item.status ==3"><a href="javascript:;" ng-click="updateCaseStatus(2,item)">   {{'old_guaranteed'| translate}}</a></li>
                                    <li ng-show="item.status ==2"><a href="javascript:;" ng-click="updateCaseStatus(3,item)"> {{'no_case_payment_amount'| translate}} </a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- END TABLE -->
                <div ng-if="beneficiaries.length ==0 " class=" col-md-12 text-center" style="margin-bottom: 2%">
                    <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show'| translate}}
                                                                    </span>
                    </div>
                </div>
                <div class="row" ng-if="beneficiaries.length != 0 "  >
                    <div  class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                            <span class="bold ">{{'number of total items'| translate}}   :   </span>
                            <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                            <span class="bold ">{{'row'| translate}}</span>
                        </div>
                        <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
        <div  class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
            <div class="col-md-3 pull-right" >
                <button class=" col-md-6 btn btn-outline blue button-next pull-right"  ng-click="next()" type="button">
                    <span>{{'the_next'| translate}}</span>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </button>
                <button class=" col-md-6 btn btn-outline blue button-previous  pull-right" ng-click="previous()" type="button" >
                    <span class="glyphicon glyphicon-menu-left"></span>
                    <span>{{'the_ previous'| translate}}</span>
                </button>
            </div>
        </div>
    </div>
</div>
