<style>
    .disabled {
        pointer-events: none;
        cursor: default;
    }

    .activeNumber{
        background-color: #337ab7 !important;
        color: white;
    }

    .activeStep{
        background: aliceblue !important;
        border-bottom: 2px solid #337ab7 !important;
    }
</style>

<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'sponsorships management' | translate }}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li><a href="#/sponsorship/payments/">{{'payments'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>

    <li class="active" >
        <span ng-show="action =='new'">{{'add Payment'| translate}}</span>
        <span ng-show="action =='edit'">{{'edit Payment'| translate}}</span>
    </li>

</ul>

<div class="page-content-inner">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light " id="form_wizard_1">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-layers font-red "></i>
                        <span class="caption-subject font-red bold uppercase"> {{'payment detail form'| translate}} </span>
                             <span class=" caption-subject font-red bold  step-title"> - {{'Step'| translate}}
                                 {{ stepNumber }}
                                 {{'Of'| translate}}  5 </span>
                    </div>

                    <a class="btn blue pull-right"  style="" href="#/sponsorship/payments/">
                        <span class="fa fa-backward"  ></span>
                        <span>{{'back to payment'| translate}}</span>
                    </a>

                </div>

                <div class="portlet-body">
                    <div class="form-wizard">
                        <form>
                            <div class="form-body">
                                <ul class="nav nav-pills nav-justified steps">
                                    <li >
                                        <a  id="Step1" class="step disabled bold"
                                            ng-click="fetchPayment(1)">
                                            <span class="number"> 1 </span>
                                            </br>
                                            <p style="margin-top: 3.5%;" class="desc "><i class="fa fa-check"></i> {{'Payment data'| translate}} </p>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="Step2" class="step disabled bold" ng-click="fetchPayment(2)">
                                            <span class="number"> 2 </span>
                                            </br>
                                            <p style="margin-top: 3.5%;" class=" desc"><i class="fa fa-check"></i> {{'import beneficiary'| translate}} </p>
                                        </a>
                                    </li>
                                    <li>
                                        <a id="Step3" class="step disabled bold" ng-click="fetchPayment(3)">
                                            <span class="number"> 3 </span>
                                            </br>
                                            <p style="margin-top: 3.5%;" class="desc "><i class="fa fa-check"></i> {{'beneficiary of payment'| translate}} </p>
                                        </a>
                                    </li>
                                   <li >
                                        <a id="Step4" class="step disabled bold" ng-click="fetchPayment(4)">
                                            <span class="number"> 4 </span>
                                            </br>
                                            <p style="margin-top: 3.5%;" class="desc "><i class="fa fa-check"></i> {{'exchange'| translate}} </p>
                                        </a>
                                    </li>
                                    <li >
                                        <a id="Step5" class="step disabled bold" ng-click="fetchPayment(5)">
                                            <span class="number"> 5 </span>
                                            </br>
                                            <p style="margin-top: 3.5%;" class="desc "><i class="fa fa-check"></i> {{'payment-documents'| translate}} </p>
                                        </a>
                                    </li>


                                </ul>
                                <div id="bar" class="progress progress-striped" role="progressbar">
                                    <div class="progress-bar"> </div>
                                </div>
                                <div class="row" ui-view>
                                </div>
                            </div>
                       </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






