<style>

    .disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: .65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .custom-box{ background-color: #e0ebf9;  border-color: #e0ebf9;}
</style>

<div  class="row" style="margin-left: 2%;margin-right: 2%;">
    <div class="panel panel-info">
        <div class="panel-heading panel-heading-style">{{'exchange'| translate}}</div>
        <div class="panel-body" style="padding: 20px;">
            <div  class="col-md-12 col-sm-12 col-xs-12 text-center"  ng-show=" is_mine && recipients.length > 0 && exchange_type !=1">
                <div  class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 3% ;">
                    <div class="col-md-4 col-sm-12 col-xs-12" ng-show="exchange_type == 2 || exchange_type == 4" >
                        <div  class="input-group" style="height: 34px; margin-bottom: 1%; width:100%">
                            <div class="input-group">
                                <ui-select style="height: 34px; margin-bottom: 1%; width:100%" name="bank_id"
                                           ng-model="distribution.bank_id"
                                           init="" theme="bootstrap" class="text-right" >
                                    <ui-select-match placeholder="{{'bank_names'| translate}}" >{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in banks | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>

                                <span class="input-group-btn">
                                                      <button type="button" ng-click="distribution.bank_id = undefined" class="btn btn-default">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                      </button>
                                                  </span>
                            </div>
                            <span class="input-group-btn">
                                        <button ng-disabled="distribution.bank_id == null || distribution.bank_id == ''"
                                                type="button" class="btn blue  bold" ng-click="distribute('bank',distribution)">
                                                                            <span class="fa fa-check"> </span>
                                                                            <span>{{'save_bank' | translate }} </span>
                                       </button>
                                                                  </span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12" ng-show="exchange_type !=1 && exchange_type != 4"  >
                        <div  class="input-group" style="height: 34px; margin-bottom: 1%; width:100%">
                            <input class="pull-left"
                                   type="text"
                                   style="height: 34px; margin-bottom: 1%; width:100%"
                                   name="cheque_number"
                                   ng-model="distribution.cheque_number"
                                   numeric-only
                                   placeholder="{{'cheque numbering' | translate }}"
                            >
                            <span class="input-group-btn">
                                                  <button type="button" ng-disabled="distribution.cheque_number == null || distribution.cheque_number == ''"
                                                          class="btn blue  bold" ng-click="distribute('cheque_number',distribution)">
                                                                <span class="fa fa-check"> </span>
                                                                <span> {{'cheque numbering' | translate }}</span>
                                                  </button>
                                                                  </span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div  class="input-group" style="height: 34px; margin-bottom: 1%; width:100%">
                            <input type="text" class="form-control"
                                   uib-datepicker-popup="{{format}}"
                                   ng-model="distribution.cheque_date"
                                   ng-change="msg1.cheque_date = [ ]"
                                   datepickerPopup
                                   placeholder="{{'cheque_date' | translate }}"
                                   name="cheque_date"
                                   is-open="popup1.opened" datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly />
                            <span class="input-group-btn">
                                                                        <button type="button" class="btn btn-default" ng-click="open1($event)">
                                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                                        </button>
                                                 <button type="button"
                                                         ng-disabled="distribution.cheque_date == null || distribution.cheque_date == ''"
                                                         class="btn blue  bold" ng-click="distribute('cheque_date',distribution)">
                                                                    <span class="fa fa-check"> </span>
                                                                    <span> {{'cheque_date' | translate }}</span>
                                                                        </button>
                                                                  </span>
                        </div>
                    </div>
                </div>
                <div ng-hide="toggle" class="col-md-12 col-sm-12 col-xs-12 text-center" style="padding-bottom: 1%;">
                    <div class="col-md-6 pull-left"  style=" margin-top: 1%; box-sizing: border-box; border: 1px solid lightgrey;padding:1% 0; ">
                        <div class="col-md-4 text-center" style="padding-top:1.5%;">
                            <div class="form-group">
                                <label class="control-label bold">

                                      <span ng-if="guardian" class="checker">
                                            <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                   ng-model="guardian" ng-true-value="true" ng-false-value="false" ng-change="changeState('guardian',false)" ng-init="guardian=true">
                                      </span>
                                    <span ng-if="!guardian">
                                            <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                   ng-model="guardian" ng-true-value="true" ng-false-value="false" ng-change="changeState('guardian',false)"ng-init="guardian=false">
                                      </span>
                                    <span >{{'order by guardian'| translate}}</span>
                                </label>
                            </div>

                        </div>
                        <div class="col-md-4 text-center" style="padding-top:1.5%;">
                            <div class="form-group">
                                <label class="control-label bold">
                                                  <span ng-if="locations" class="checker">
                                                        <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                               ng-model="locations" ng-true-value="true" ng-false-value="false" ng-change="changeState('locations',false)" ng-init="locations=true">
                                                  </span>
                                    <span ng-if="!locations">
                                                        <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                               ng-model="locations" ng-true-value="true" ng-false-value="false" ng-change="changeState('locations',true)" ng-init="locations=false">
                                                  </span>
                                    <span >{{'order by locations'| translate}}</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4 text-center" style="padding-top:1%;">

                            <button type="button" ng-if="print" class="btn blue  pull-right"  style="width:100%;" ng-click="ExportToWord(-1,payment_id,guardian,locations)" >
                                <span class="fa fa-file-word-o"  style="margin-left: 2%;"></span>
                                <span> {{'print'| translate}}</span>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div  class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px; padding: 0%;" ng-show=" is_mine &&( recipients.length !=0 || (status != 1 && recipients.length !=0) || (exchange_type !=1 && recipients.length > 0))">
                <div  ng-show="status != 1 && recipients.length !=0 " class="btn-group input-actions">
                    <a class="btn btn-sm blue  btn-outline dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                        <i class="fa fa-pencil"></i>
                        <i class="" style="font-style: normal;">  {{'set all as' | translate }}</i>
                        <i class="glyphicon glyphicon-menu-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:;" ng-click="set(1,'all')">
                                <i class="fa fa-pencil"></i>
                                <span> {{'get' | translate }} </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;"  ng-click="set(0,'all')">
                                <i class="fa fa-pencil"></i>
                                <span> {{'not get' | translate }} </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div  ng-show="status != 1 && recipients.length !=0 " class="btn-group input-actions">
                    <a class="btn btn-sm blue  btn-outline dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                        <i class="fa fa-pencil"></i>
                        <i class="" style="font-style: normal;">  {{'set selected as' | translate }} </i>
                        <i class="glyphicon glyphicon-menu-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:;"   ng-click="set(1,'sub')">
                                <i class="fa fa-pencil"></i>
                                <span> {{'get' | translate }} </span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;"  ng-click="set(0,'sub')">
                                <i class="fa fa-pencil"></i>
                                <span> {{'not get' | translate }} </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div   class="btn-group input-actions" ng-show="exchange_type !=1 && recipients.length > 0">
                    <a class="btn btn-sm blue  btn-outline dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                        <i class="fa fa-download"></i>
                        <i class="glyphicon glyphicon-menu-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:;"  ng-click="Export('excel')" ng-show="recipients.length > 0  ">
                                <span class="fa fa-file-excel-o" ></span>
                                <span>{{'export recipient list'| translate}}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;"  ng-click="ExportCases('excel')" ng-show="recipients.length > 0  ">
                                <span class="fa fa-file-excel-o" ></span>
                                <span>{{'export cases list'| translate}}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;"  ng-click="Export('Word')" >
                                <span class="fa fa-file-word-o" ></span>
                                <span>{{'download cheque'| translate}}</span>
                            </a>
                        </li>
                        <li ng-show="exchange_type == 3">
                            <a href="javascript:;"  ng-click="Export('pdf')" >
                                <span class="fa fa-file-pdf-o" ></span>
                                <span>{{'download cheque'| translate}}</span>
                            </a>
                        </li>
                        <li>
                            <a  ng-click="exportCustom(item.id)" class="iconify">
                                <span class="fa fa-file-pdf-o"  style="margin-right: 2%;"></span>
                                <span style="margin-left: 4%;">   {{'district_sheet'| translate}} </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <a class="btn btn-outline green-turquoise " ng-class="print ? '' : 'disabled'" ng-show="exchange_type ==2"

                   href="#/sponsorship/payment/cheque/print/{{payment_id}}" target="_blank">
                    <span class="fa fa-print"></span>
                    <span class="hidden-sm hidden-md  hidden-xs">{{'download cheque'| translate}}</span>
                </a>
                <button class="btn red-pink btn-sm pull-right"  ng-click="confirmUpdate()" ng-show="recipients.length !=0 " type="button" >
                    <span class="fa fa-floppy-o" ></span>
                    <span>{{'save_update'| translate}}</span>
                </button>
            </div>
            <!-- BEGIN TABLE -->

            <div  class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%;  padding: 0%;" ng-show="recipients.length !=0 ">
                <div class="btn-group "  uib-dropdown>
                    <button id="single-button1" type="button" class="  btn btn-outline yellow-saffron pull-left" uib-dropdown-toggle ng-disabled="disabled">
                        <span class="glyphicon glyphicon-envelope"></span>
                        <span class="hidden-sm hidden-md  hidden-xs">{{'send sms messege'|translate}}</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li ng-show="recipients.length != 0">
                            <a ng-click="sendSms('manual',0)" class="iconify">
                                <i class="fa fa-hand-paper-o" style="margin-left: 4%"></i>{{'manually'| translate}}</a>
                        </li>
                        <li>
                            <a ng-click="sendSms('xlx',0)" class="iconify">
                                <i class="fa fa-file-excel-o"  style="margin-left: 4%"></i>{{'using excel'| translate}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div  class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%;  padding: 0%;" ng-show="recipients.length !=0 ">
                <div class="table-scrollable"  >
                    <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" style="margin-top: 0%;">
                        <thead>
                        <tr style="background-color: #f3f3f3!important; height:65px; line-height: 40px; vertical-align: middle; text-align: center; font-size: 30px; ">
                            <th class="text-center" >
                                <input type="checkbox"
                                       ng-model="All"
                                       ng-change="allCheckbox(All)"
                                       ng-true-value="true"
                                       ng-false-value="false"
                                >
                            </th>
                            <th class="text-center" > {{'#'| translate}} </th>
                            <th class="text-center" ng-click="sort('recipients_name')"  style=" min-width:180px !important; "> {{'recipients_name'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey=='recipients_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="text-center" ng-click="sort('id_card_number')"> {{'card_number' | translate }}
                                <span class="glyphicon sort-icon" ng-show="sortKey=='id_card_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-show="payment_exchange ==0" class="text-center" ng-click="sort('amount')"  style=" min-width:45px !important; ">
                                {{'amount'| translate}} <br>
                                ( <span >  {{ payment.name }} </span>  )
                                <span class="glyphicon sort-icon" ng-show="sortKey=='amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-show="payment_exchange ==1" class="text-center" ng-click="sort('shekel_amount')"  style=" min-width:45px !important; ">
                                {{'amount'| translate}} <br>
                                ( {{'shekel'| translate}}   )
                                <span class="glyphicon sort-icon" ng-show="sortKey=='shekel_amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-show="exchange_type !=3" class="text-center" ng-click="sort('sponsor_number')"  style=" min-width:150px !important; ">
                                {{'bank_names'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey=='bank'"
                                      ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>

                            <th class="text-center" ng-click="sort('cheque_account_number')" ng-show="exchange_type !=4"  style=" min-width:150px !important; ">
                                <span  ng-show="exchange_type ==1" > {{'account_number'| translate}}</span>
                                <span  ng-show="exchange_type !=1" > {{'cheque_number'| translate}} </span>
                                <span class="glyphicon sort-icon" ng-show="sortKey=='cheque_account_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th ng-show="exchange_type !=1" class="text-center" ng-click="sort('cheque_date')" style=" min-width:150px !important; ">{{'cheque_date'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey=='cheque_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="text-center" ng-click="sort('status')"> {{'status'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey=='status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="text-center" ng-show="status != 1" style=" min-width:150px !important; "> {{'operations'| translate}} </th>


                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="item in recipients|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage"  ng-if="recipients.length != 0 ">
                            <td>
                                <input type="checkbox" class="make-switch"
                                       data-on-color="primary"
                                       data-off-color="info"
                                       ng-model="item.checked"
                                       ng-checked="selectAll"
                                       ng-true-value="true"
                                       ng-false-value="false"
                                >
                            </td>
                            <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                            <td>{{item.name}}</td>
                            <td class="text-center" >{{item.id_card_number}} </td>
                            <td>
                                <span ng-show="payment_exchange ==0">  {{item.amount }} </span>
                                <span ng-show="payment_exchange ==1">  {{item.shekel_amount }} </span>
                            </td>
                            <td ng-show="exchange_type !=3">
                                <div class="form-group">
                                    <div class="input-group">
                                        <ui-select style="width:100%"
                                                   name="bank_id"
                                                   ng-model="item.bank_id"
                                                   ng-disabled="!is_mine"
                                                   theme="bootstrap" class="text-right" >
                                            <ui-select-match placeholder="{{'bank_names'| translate}}" >{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item.id as item in banks | filter: $select.search">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>

                                        <span class="input-group-btn">
                                                      <button type="button" ng-click="item.bank_id = undefined" class="btn btn-default" ng-disabled="!is_mine">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                      </button>
                                                  </span>
                                    </div>

                                </div>
                                <span ng-repeat="(error, errortext) in msg1[$index].bank_id"
                                      ng-show="status1=='failed_valid' && 'msg1[$index].bank_id' != [ ]"
                                      class="font-red-pink bold help-inline">{{ errortext.toString() }}
                                     </span>
                            </td>
                            <td ng-show="exchange_type !=4">
                                <div class="form-group" style="width:100%">
                                    <div  class="input-group">
                                        <input type="text"
                                               class="form-control  text-center"
                                               name="cheque_account_number"
                                               ng-disabled="!is_mine"
                                               ng-model="item.cheque_account_number"
                                               numeric-only
                                        />
                                        <span  ng-show="exchange_type !=1" class="input-group-btn">
                                                           <button type="button" class="btn btn-default"
                                                                   ng-disabled='(item.cheque_account_number == null || item.cheque_account_number == "")'
                                                                   ng-click="updateChequeNumber(item.cheque_account_number,$index)">
                                                               <i class="fa fa-arrow-down"></i>
                                                           </button>
                                                 </span>
                                    </div>


                                </div>
                                <span ng-repeat="(error, errortext) in msg1[$index].cheque_account_number"
                                      ng-show="status1=='failed_valid' && 'msg1[$index].cheque_account_number' != [ ]"
                                      class="font-red-pink bold help-inline">{{ errortext.toString() }}
                                     </span>

                            </td>
                            <td ng-show="exchange_type !=1">
                                <div class="form-group" >
                                    <input type="text" style="width:100%"
                                           class="form-control text-center"
                                           ng-disabled="!is_mine"
                                           name="cheque_date"
                                           readonly
                                           ng-model="item.cheque_date"
                                    />

                                </div>
                            </td>
                            <td class="text-center">
                                <span  class="bold font-green-jungle" ng-if="item.status== 1 && !is_mine">{{'get' | translate }}</span>
                                <span  class="bold font-red-pink" ng-if="item.status==0  && !is_mine">{{'not get' | translate }}</span>
                                <span ng-if="item.status== 1 && is_mine">
                                           <button
                                                   ng-click="updateStatus(0,$index,item)" class="btn btn-circle btn-xs" style="background-color:#5cb85c;color:#fff;"
                                                   ng-disabled='(( item.bank_id == "" || item.cheque_account_number == null|| item.cheque_account_number == "") && exchange_type ==1 ) ||
                                                              ((item.bank_id == "" || item.cheque_account_number == null|| item.cheque_account_number == ""||
                                                               item.cheque_date == null|| item.cheque_date == "") && exchange_type ==2 ) ||
                                                               ((item.cheque_account_number == null|| item.cheque_account_number == ""||
                                                                  item.cheque_date == null|| item.cheque_date == "") && exchange_type ==3 )'
                                           >
                                                 <span class="fa fa-check"></span> <span>{{'get' | translate }}</span></button>
                                    </span>
                                <span ng-if="item.status==0  && is_mine">
                                        <button
                                                ng-click="updateStatus(1,$index,item)"
                                                ng-disabled='(( item.bank_id == "" || item.cheque_account_number == null|| item.cheque_account_number == "") && exchange_type ==1 ) ||
                                                              ((item.bank_id == "" || item.cheque_account_number == null|| item.cheque_account_number == ""||
                                                               item.cheque_date == null|| item.cheque_date == "") && exchange_type ==2 ) ||
                                                               ((item.cheque_account_number == null|| item.cheque_account_number == ""||
                                                                  item.cheque_date == null|| item.cheque_date == "") && exchange_type ==3)'

                                                class="btn btn-circle btn-warning  btn-xs"><span class="fa fa-remove"></span><span> {{'not get' | translate }}</span></button></span>
                            </td>

                            <td>
                                <div class="clearfix">

                                    <button type="button" class="btn btn-xs bold font-yellow-mint glyphicon glyphicon-envelope"
                                            style=" font-size: medium; background-color: transparent"
                                            ng-click="sendSms(item.person_id)"></button>
                                    <span  class="btn bold font-red-pink btn-xs fa fa-print" ng-show="exchange_type ==2" ng-click="printChk(item)"></span>
                                    <a uib-tooltip=" {{'beneficiary attachment' | translate }} "
                                       class="btn btn-xs bold font-green-turquoise" ng-click="list(item.person_id)" style="margin-left: 1%; background-color: transparent">
                                        <i uib-tooltip=" {{'beneficiary attachment' | translate }} " class="fa fa-paperclip  bold"></i>
                                    </a>
                                    <span ng-show="exchange_type ==2 && is_mine" >|</span>
                                    <a  ng-show="exchange_type ==2 && is_mine" uib-tooltip=" {{'save_cheque_account_number' | translate }} "
                                        ng-disabled='item.bank_id == "" || item.cheque_account_number == "" || item.bank_id == null || item.cheque_account_number == null '
                                        class="btn btn-xs bold font-yellow-saffron"
                                        ng-click="saveAccount(item)" style="margin-left: 1%; background-color: transparent">
                                        <i uib-tooltip=" {{'save_cheque_account_number' | translate }} " class="fa fa-floppy-o  bold"></i>
                                    </a>
                                    <span ng-show="exchange_type !=1 && is_mine">|</span>
                                    <a uib-tooltip="{{'download_cheque' | translate }} "
                                       ng-show="exchange_type !=1 " ng-disabled="item.disabled" class="btn btn-xs bold font-blue"
                                       ng-click="ExportToWord(item.person_id)" style="margin-left: 1%; background-color: transparent">
                                        <i uib-tooltip="{{'download_cheque' | translate }} " class="fa fa-file-word-o  bold"></i>
                                    </a>
                                    <span ng-show="exchange_type == 3">|</span>
                                    <a uib-tooltip="{{'download_cheque' | translate }} "
                                       ng-show="exchange_type == 3" ng-disabled="item.disabled" class="btn btn-xs bold font-red-pink"
                                       ng-click="pdf(item.person_id,$index)" style="margin-left: 1%; background-color: transparent">
                                        <i uib-tooltip="{{'download_cheque' | translate }} " class="fa fa-file-pdf-o  bold"></i>
                                    </a>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END TABLE -->
            <div ng-if="recipients.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show'| translate}}
                                                                    </span>
                </div>
            </div>
            <div  class="col-md-12 col-sm-12 col-xs-12" ng-if="recipients.length != 0 " >
                <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                    <span class="bold ">{{'number of total items'| translate}}   :   </span>
                    <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                    <span class="bold ">{{'row'| translate}}</span>
                </div>
                <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
            </div>

        </div>
        <div  class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
            <div class="col-md-3 pull-right" >
                <button class=" col-md-6 btn btn-outline blue button-next pull-right"  ng-click="next()" type="button">
                    <span>{{'the_next'| translate}}</span>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </button>
                <button class=" col-md-6 btn btn-outline blue button-previous  pull-right" ng-click="previous()" type="button" >
                    <span class="glyphicon glyphicon-menu-left"></span>
                    <span>{{'the_ previous'| translate}}</span>
                </button>
            </div>
        </div>
    </div>
</div>

