<div ng-controller="subCustomFormDataController">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-info">
            <div class="panel-heading panel-heading-style">

            {{'custom-form' | translate }}
            </div>
            <div class="panel-body">
                <div  ng-show="mode !='show'" class="row" style="padding: 2%">

                    <div ng-if="result_1== 'false' " class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 2%;margin-bottom: 2%">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                            {{'The custom form is not selected'| translate}}
                                    </span>
                        </div>
                    </div>

                    <div ng-if="result_1== 'true' " class="text-center">
                        <div ng-if="result== 'false' " class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 2%;margin-bottom: 2%">
                            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                    {{'there is no element to show'| translate}}
                                    </span>
                            </div>
                        </div>
                        <form  ng-if="result== 'true' "  name="testform" novalidate="" role="form" class="text-center">
                            <div class="col-md-12 col-sm-12 col-xs-12" style=" margin-bottom: 2%;" >
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div ng-repeat="field in fields">
                                        <div ng-form="form">
                                            <div ng-if="field.type!='3'" class="col-md-3 text-center" style="height: 110px;" >

                                                <div  class="form-group" ng-class="{ 'has-error' : form.{{field.name}}.$invalid && (!form.{{field.name}}.$pristine || form.{{field.name}}.$touched) }">
                                                    <label class="control-label bold">
                                                        <span class="bold">{{field.label}}</span>
                                                        <span class="font-red-pink bold help-inline" ng-show="field.priority==4"> {{'mandatory' | translate }} </span>
                                                        <span class="text-success bold help-inline" ng-show="field.priority==3">{{'advisable' | translate }}</span>
                                                        <span class="text-success bold help-inline" ng-show="field.priority==2"> {{'optional' | translate }}</span>
                                                        <span class="text-default bold help-inline" ng-show="field.priority==1"> {{'not appear' | translate }}</span>
                                                    </label>

                                                    <!-- TEXT FIELDS -->
                                                    <input ng-if="field.type=='1'" type="text"
                                                           dynamic-name="field.name" id="{{field.name}}"
                                                           data-ng-model="field.data"  class="form-control"
                                                           ng-required="field.priority ==4" value="{{field.value}}" placeholder=" ---   {{field.label}} --- "
                                                    />

                                                    <!-- SELECT FIELDS -->
                                                    <select ng-if="field.type=='2'" class="form-control" data-ng-model="field.data" value="{{field.value}}" dynamic-name="field.name" id="{{field.name}}"
                                                            ng-required="field.priority ==4">
                                                        <option disabled selected value> ---   {{field.label}} --- </option>
                                                        <option ng-repeat="option in field.options" value="{{option.id}}" >
                                                            {{option.label}}
                                                        </option>
                                                    </select>

                                                    <span  class="font-red-pink bold help-inline" data-ng-show=" status1!='failed_valid' && {{ 'form.'+field.name+'.$dirty && form.'+field.name+'.$error.required'}}">
                                                                                  {{'required_field' | translate }}
                                                                           </span>

                                                    <span  class="font-red-pink bold help-inline" data-ng-show=" status1=='failed_valid' && msg1.{{field.name}} && form.{{field.name}}.$error.required ">
                                                                                  {{'required_field' | translate }}
                                                                           </span>



                                                </div>
                                            </div>
                                            <div ng-if="field.type=='3'" class="col-md-12 col-sm-12 col-xs-12 text-left" >

                                                <div  class="form-group" ng-class="{ 'has-error' : form.{{field.name}}.$invalid && (!form.{{field.name}}.$pristine || form.{{field.name}}.$touched) }">
                                                    <label class="control-label">
                                                        <span class="bold">{{field.label}}</span>
                                                        <span class="font-red-pink bold help-inline" ng-show="field.priority==4"> {{'mandatory' | translate }} </span>
                                                        <span class="text-success bold help-inline" ng-show="field.priority==3">{{'advisable' | translate }}</span>
                                                        <span class="text-success bold help-inline" ng-show="field.priority==2"> {{'optional' | translate }}</span>
                                                        <span class="text-default bold help-inline" ng-show="field.priority==1"> {{'not appear' | translate }}</span>
                                                    </label>
                                                    <textarea dynamic-name="field.name" id="{{field.name}}" data-ng-model="field.data" class="form-control"
                                                              ng-required="field.priority ==4" placeholder=" ---   {{field.label}} --- "rows="4">
                                                                           </textarea>
                                                    <span  class="font-red-pink bold help-inline" data-ng-show=" {{'form.'+field.name+'.$dirty && form.'+field.name+'.$error.required'}}">
                                                                                  {{'required_field' | translate }}
                                                                           </span>
                                                    <span  class="font-red-pink bold help-inline" data-ng-show=" status1=='failed_valid' && msg1.{{field.name}} && form.{{field.name}}.$error.required ">
                                                                                  {{'required_field' | translate }}
                                                                           </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="result== 'false' " class="text-center">

                                        {{'there is no element to show' | translate }}

                                </div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                    <div class="col-md-3 pull-right" >

                        <button class=" btn btn-outline blue pull-left"  style="width: 49%" ng-click="forward(fields,'previous')" type="button" >
                            <span class="glyphicon glyphicon-menu-left"></span>
                            <span>{{'the_ previous' | translate }}</span>
                        </button>

                        <button class=" btn btn-outline blue  pull-right" style="width: 49%" ng-click="forward(fields,'next')" type="button" >
                            <span>{{'Finish' | translate }}</span>
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </button>

                    </div>
                </div>
</div>
