<div ng-controller="subCaseInfoController">

   <div class="col-md-12 col-sm-12 col-xs-12" >
        <div class="panel panel-info">
            <div class="panel-heading panel-heading-style">
            {{'childrens_essential_data' | translate }}</div>
            <div class="panel-body">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="control-label bold">{{'card_number' | translate }}</label>
                            <span  class=" font-red-pink bold help-inline" >({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control"  autofocus  ng-model="persons.id_card_number"  name="id_card_number"
                                   numeric-only ng-required="true" maxlength="9" ng-change="isPersonExists(persons.id_card_number)"/>
                              <span ng-repeat="(error, errortext) in msg1.id_card_number"
                                    class="font-red-pink bold help-inline"
                                    ng-show="status1=='failed_valid' && 'msg1.id_card_number' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3" ng-if="priority.card_type !=1">
                        <div class="form-group">
                            <label class="control-label bold">   {{'card_type' | translate }} </label>
                            <span class=" text-success bold help-inline" ng-if="priority.card_type ==2"> ({{'optional' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="priority.card_type ==3"> ({{'advisable' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="priority.card_type ==4"> ({{'mandatory' | translate }})</span>
                            <select class="form-control"
                                    ng-init=""
                                    ng-change="msg1.card_type = [ ]"
                                    name="card_type"
                                    ng-model='persons.card_type'
                                    ng-required="priority.card_type ==4"
                            >
                                <option disabled selected value > --  {{'card_type' | translate }}  -- </option>
                                <option value="1">  {{'id_card' | translate }} </option>
                                <option value="2">  {{'id_number' | translate }} </option>
                                <option value="3">  {{'passport' | translate }} </option>
                            </select>

                            <span ng-repeat="(error, errortext) in msg1.card_type"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.card_type' != [ ]" >
                                       {{ errortext.toString() }}
                                     </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3" ng-show="priority.name!=1">
                        <div class="form-group">
                            <label class="control-label bold">
                                {{'the_first_name_in_arabic' | translate }}
                            </label>
                            <span class=" text-success bold help-inline" ng-if="priority.name==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline"  ng-if="priority.name==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline"  ng-if="priority.name==4">({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control" ng-model="persons.first_name"
                                   ng-required="priority.name==4" name="first_name" readonly arabic-alphabet   ng-change="msg1.first_name = [ ]" />
                              <span ng-repeat="(error, errortext) in msg1.first_name"
                                    class="font-red-pink bold help-inline"
                                    ng-show="status1=='failed_valid' && 'msg1.first_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3" ng-show="priority.name!=1">
                        <div class="form-group ">
                            <label class="control-label bold">
                                {{'the_father_name_in_arabic' | translate }}
                            </label>
                            <span  class=" text-success bold help-inline" ng-if="priority.name==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="priority.name==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="priority.name==4">({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control" ng-model="persons.second_name" readonly
                                   name="second_name"  ng-required="priority.name==4" readonly arabic-alphabet   ng-change="msg1.second_name = [ ]"/>
                              <span ng-repeat="(error, errortext) in msg1.second_name"
                                    class="font-red-pink bold help-inline"
                                    ng-show="status1=='failed_valid' && 'msg1.second_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3" ng-show="priority.name!=1">
                        <div class="form-group">
                            <label class="control-label bold">
                                {{'the_grandfather_name_in_arabic' | translate }}
                            </label>
                            <span  class=" text-success bold help-inline" ng-if="priority.name==3">({{'advisable' | translate }})</span>
                            <span  class=" text-success bold help-inline" ng-if="priority.name==2">({{'optional' | translate }})</span>
                            <span  class=" font-red-pink bold help-inline" ng-if="priority.name==4">({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control" ng-model="persons.third_name"
                                   name="third_name" ng-required="priority.name==4"  readonly arabic-alphabet    readonly ng-change="msg1.third_name = [ ]" />
                              <span ng-repeat="(error, errortext) in msg1.third_name"
                                    class="font-red-pink bold help-inline"
                                    ng-show="status1=='failed_valid' && 'msg1.third_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3" ng-show="priority.name!=1">
                        <div class="form-group ">
                            <label class="control-label bold ">{{'the_family_name_in_arabic' | translate }}</label>
                            <span  class=" text-success bold help-inline" ng-if="priority.name==3">({{'advisable' | translate }})</span>
                            <span  class=" text-success bold help-inline" ng-if="priority.name==2">({{'optional' | translate }})</span>
                            <span  class=" font-red-pink bold help-inline" ng-if="priority.name==4">({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control" ng-model="persons.last_name"
                                   name="last_name" ng-required="priority.name==4" readonly arabic-alphabet     readonly ng-change="msg1.last_name = [ ]"/>
                              <span ng-repeat="(error, errortext) in msg1.last_name"
                                    class="font-red-pink bold help-inline"
                                    ng-show="status1=='failed_valid' && 'msg1.last_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3" ng-show="priority.en_name!=1">
                        <div class="form-group">
                            <label class="control-label bold">
                                {{'the_first_name_in_english' | translate }}
                            </label>
                            <span  class=" text-success bold help-inline" ng-if="priority.en_name==3">({{'advisable' | translate }})</span>
                            <span  class=" text-success bold help-inline" ng-if="priority.en_name==2">({{'optional' | translate }})</span>
                            <span  class=" font-red-pink bold help-inline" ng-if="priority.en_name==4">({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control" ng-model="persons.en_first_name"
                                   name="en_first_name" english-alphabet ng-required="priority.en_name==4" ng-change="msg1.en_first_name = [ ]" />
                              <span ng-repeat="(error, errortext) in msg1.en_first_name"
                                    class="font-red-pink bold help-inline"
                                    ng-show="status1=='failed_valid' && 'msg1.en_first_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3" ng-show="priority.en_name!=1">
                        <div class="form-group ">
                            <label class="control-label bold">
                                {{'the_father_name_in_english' | translate }}
                            </label>
                            <span  class=" text-success bold help-inline" ng-if="priority.en_name==3">({{'advisable' | translate }})</span>
                            <span  class=" text-success bold help-inline" ng-if="priority.en_name==2">({{'optional' | translate }})</span>
                            <span  class=" font-red-pink bold help-inline" ng-if="priority.en_name==4">({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control" ng-model="persons.en_second_name"    name="en_second_name"
                                   ng-required="priority.en_name==4" english-alphabet ng-change="msg1.en_second_name = [ ]"/>
                              <span ng-repeat="(error, errortext) in msg1.en_second_name"
                                    class="font-red-pink bold help-inline"
                                    ng-show="status1=='failed_valid' && 'msg1.en_second_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3" ng-show="priority.en_name!=1">
                        <div class="form-group">
                            <label class="control-label bold">
                                {{'the_grandfather_name_in_english' | translate }}
                            </label>
                            <span  class=" text-success bold help-inline" ng-if="priority.en_name==3">({{'advisable' | translate }})</span>
                            <span  class=" text-success bold help-inline" ng-if="priority.en_name==2">({{'optional' | translate }})</span>
                            <span  class=" font-red-pink bold help-inline" ng-if="priority.en_name==4">({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control" ng-model="persons.en_third_name"   name="en_third_name"
                                   ng-required="priority.en_name==4" english-alphabet ng-change="msg1.en_third_name = [ ]"/>
                              <span ng-repeat="(error, errortext) in msg1.en_third_name"
                                    class="font-red-pink bold help-inline"
                                    ng-show="status1=='failed_valid' && 'msg1.en_third_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3" ng-show="priority.en_name!=1">
                        <div class="form-group ">
                            <label class="control-label bold">
                                {{'the_family_name_in_english' | translate }}
                            </label>
                            <span  class=" text-success bold help-inline" ng-if="priority.en_name==3">({{'advisable' | translate }})</span>
                            <span  class=" text-success bold help-inline" ng-if="priority.en_name==2">({{'optional' | translate }})</span>
                            <span  class=" font-red-pink bold help-inline" ng-if="priority.en_name==4">({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control" ng-model="persons.en_last_name"   name="en_last_name"
                                   ng-required="priority.en_name==4" english-alphabet ng-change="msg1.en_last_name = [ ]"/>
                              <span ng-repeat="(error, errortext) in msg1.en_last_name"
                                    class="font-red-pink bold help-inline"
                                    ng-show="status1=='failed_valid' && 'msg1.en_last_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3" ng-show="priority.gender!=1">
                        <div class="form-group">
                            <label class="control-label bold">{{'the_gender' | translate }}</label>
                            <span  class=" text-success bold help-inline" ng-if="priority.gender==3">({{'advisable' | translate }})</span>
                            <span  class=" text-success bold help-inline" ng-if="priority.gender==2">({{'optional' | translate }})</span>
                            <span  class=" font-red-pink bold help-inline" ng-if="priority.gender==4">({{'mandatory' | translate }})</span>

                            <select class="form-control" ng-model="persons.gender"  name="gender" disabled
                                    ng-required="priority.gender==4" ng-change="msg1.gender = [ ]">
                                <option disabled selected value>---{{'select_the_gender' | translate }}---</option>
                                <option  value="1"  >{{'male' | translate }}</option>
                                <option  value="2"  >{{'female' | translate }}</option>
                            </select>
                              <span ng-repeat="(error, errortext) in msg1.gender"
                                    class="font-red-pink bold help-inline"
                                    ng-show="status1=='failed_valid' && 'msg1.gender' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3" ng-show="priority.nationality!=1" >
                        <div class="form-group">
                            <label class="control-label bold">{{'the_nationality' | translate }}</label>
                            <span  class=" text-success bold help-inline" ng-if="priority.nationality==3">({{'advisable' | translate }})</span>
                            <span  class=" text-success bold help-inline" ng-if="priority.nationality==2">({{'optional' | translate }})</span>
                            <span  class=" font-red-pink bold help-inline" ng-if="priority.nationality==4">({{'mandatory' | translate }})</span>
                            <div class="input-group">
                                <ui-select  name="nationality" ng-model="persons.nationality"
                                            ng-required="priority.nationality==4" ng-change="msg1.nationality = [ ]"
                                           theme="bootstrap"
                                           class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in Country | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                     <button type="button" ng-click="persons.nationality = undefined" class="btn btn-default">
                                          <span class="glyphicon glyphicon-trash"></span>
                                       </button>
                                </span>
                            </div>
                              <span ng-repeat="(error, errortext) in msg1.nationality"
                                    class="font-red-pink bold help-inline"
                                    ng-show="status1=='failed_valid' && 'msg1.nationality' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3" ng-show="priority.birth_place!=1">
                        <label class="control-label bold">
                            {{'place_of_birth' | translate }}
                        </label>
                        <span  class=" text-success bold help-inline" ng-if="priority.birth_place==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.birth_place==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.birth_place==4">({{'mandatory' | translate }})</span>

                        <div class="input-group">
                            <ui-select name="birth_place" ng-model="persons.birth_place"
                                       ng-required="priority.birth_place==4" ng-change="msg1.birth_place = [ ]" theme="bootstrap"
                                       class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in Country | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                                                            <button type="button" ng-click="persons.birth_place = undefined" class="btn btn-default">
                                                                                  <span class="glyphicon glyphicon-trash"></span>
                                                                            </button>
                                                                         </span>
                        </div>
                          <span ng-repeat="(error, errortext) in msg1.birth_place"
                                class="font-red-pink bold help-inline"
                                ng-show="status1=='failed_valid' && 'msg1.birth_place' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>

                    </div>
                    <div class="col-md-3" ng-show="priority.birthday!=1" >
                        <div class="form-group">
                            <label class="control-label bold">{{'date_of_birth' | translate }}</label>
                            <span  class=" text-success bold help-inline" ng-if="priority.birthday==3">({{'advisable' | translate }})</span>
                            <span  class=" text-success bold help-inline" ng-if="priority.birthday==2">({{'optional' | translate }})</span>
                            <span  class=" font-red-pink bold help-inline" ng-if="priority.birthday==4">({{'mandatory' | translate }})</span>
                            <div > <!-- class="input-group" -->
                                <input type="text" class="form-control"  uib-datepicker-popup="{{format}}"
                                       ng-model="persons.birthday" datepickerPopup
                                       name="birthday" ng-required="true" ng-required="priority.birthday==4"
                                       ng-change="checkBirthday(persons.birthday)"
                                       is-open="popup1.opened" datepicker-options="dateOptions"
                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly />

<!--                    <span class="input-group-btn">-->
<!--                         <button type="button" class="btn btn-default" ng-click="open1($event)">-->
<!--                             <i class="glyphicon glyphicon-calendar"></i>-->
<!--                         </button>-->
<!--                    </span>-->
                            </div>
                              <span ng-repeat="(error, errortext) in msg1.birthday"
                                    class="font-red-pink bold help-inline"
                                    ng-show="status1=='failed_valid' && 'msg1.birthday' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3" ng-show="priority.kinship!=1">
                        <div class="form-group">
                            <label class="control-label bold">{{'the_kinship' | translate }}</label>
                            <span class=" text-success bold help-inline" ng-if="priority.kinship==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="priority.kinship==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="priority.kinship==4">({{'mandatory' | translate }})</span>

                            <div class="input-group">
                                <ui-select  ng-model="persons.kinship_id"  name="kinship_id"
                                            ng-required="priority.kinship==4" ng-change="msg1.kinship_id = [ ]"
                                            theme="bootstrap" class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in Kinship | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                                                    <button type="button" ng-click="persons.kinship_id = undefined" class="btn btn-default">
                                                                          <span class="glyphicon glyphicon-trash"></span>
                                                                    </button>
                                                                 </span>
                            </div>
                            <span ng-repeat="(error, errortext) in msg1.kinship_id"
                                                                  class="font-red-pink bold help-inline"
                                                                  ng-show="status1=='failed_valid' && 'msg1.kinship_id' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading panel-heading-style">
                {{'educational_status' | translate }} </div>
            <div class="panel-body">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3" ng-show="priority.study !=1">
                        <div class="form-group">
                            <label class="control-label bold">   {{'is study' | translate }} </label>
                            <span class=" text-success bold help-inline" ng-if="priority.study ==2"> ({{'optional' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="priority.study ==3"> ({{'advisable' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="priority.study ==4"> ({{'mandatory' | translate }})</span>
                            <select class="form-control" ng-init=" " name="study" ng-model='persons.study'
                                    ng-required="priority.study ==4"
                                    ng-change="restValue('study',persons.study)">
                                <option disabled selected value > -- {{'select status'| translate}}  -- </option>
                                <option value="1">  {{'yes' | translate }} </option>
                                <option value="0">  {{'no' | translate }} </option>
                            </select>
                                <span ng-repeat="(error, errortext) in msg1.study"
                                      class="font-red-pink bold help-inline"
                                      ng-show="status1=='failed_valid' && 'msg1.study' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3" ng-show="priority.type!=1">
                        <div class="form-group">
                            <label class="control-label bold">{{'the_type_of_study' | translate }}</label>
                            <span class=" text-success bold help-inline" ng-if="priority.type==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="priority.type==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="priority.type==4">({{'mandatory' | translate }})</span>
                            <select class="form-control" ng-model="persons.type" name="type" ng-required="priority.type==4 && persons.study ==1"
                                    ng-disabled=" persons.study !=1"
                                    ng-change="msg1.type = [ ]">
                                <option disabled selected value>---{{'the_type_of_study' | translate }}---</option>
                                <option value="1">{{'vocational' | translate }}</option>
                                <option value="2">{{'academic' | translate }}</option>
                            </select>
                             <span ng-repeat="(error, errortext) in msg1.type" class="font-red-pink bold help-inline"
                                   ng-show="status1=='failed_valid' && 'msg1.type' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3"ng-show="priority.authority!=1">
                        <div class="form-group">
                            <label class="control-label bold">{{'the_authority_of_study' | translate }}</label>
                            <span class=" text-success bold help-inline" ng-if="priority.authority==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="priority.authority==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="priority.authority==4">({{'mandatory' | translate }})</span>

                            <div class="input-group">
                                <ui-select
                                        ng-model="persons.authority" name="authority"
                                        ng-required="priority.authority==4 && persons.study ==1"
                                        ng-disabled=" persons.study !=1"
                                        ng-change="msg1.authority = [ ]"
                                        theme="bootstrap" class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in EduAuthorities | filter: $select.search" ng-disabled=" persons.study !=1" >
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                             <button type="button" ng-click="persons.authority = undefined" class="btn btn-default">
                                                   <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                 </span>
                            </div>
                                                        <span ng-repeat="(error, errortext) in msg1.authority"
                                                              class="font-red-pink bold help-inline"
                                                              ng-show="status1=='failed_valid' && 'msg1.authority' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>

                        </div>
                    </div>

                    <div class="col-md-3" ng-show="priority.stage!=1">
                        <div class="form-group">
                            <label class="control-label bold">{{'educational_level' | translate }}</label>
                            <span class=" text-success bold help-inline" ng-if="priority.stage==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="priority.stage==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="priority.stage==4">({{'mandatory' | translate }})</span>

                            <div class="input-group">
                                <ui-select
                                        ng-model="persons.stage" name="stage"
                                        ng-required="priority.stage==4 && persons.study ==1"
                                        ng-disabled=" persons.study !=1"  ng-change="msg1.stage = [ ]"
                                        theme="bootstrap" class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in EduStages | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                                                         <button type="button" ng-click="persons.stage = undefined" class="btn btn-default">
                                                                                  <span class="glyphicon glyphicon-trash"></span>
                                                                         </button>
                                                                     </span>
                            </div>
                                                        <span ng-repeat="(error, errortext) in msg1.stage"
                                                              class="font-red-pink bold help-inline"
                                                              ng-show="status1=='failed_valid' && 'msg1.stage' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>

                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3"  ng-show="priority.grade!=1">
                        <div class="form-group">
                            <label class="control-label bold">
                                {{'the_grade' | translate }}
                            </label>
                            <span class=" text-success bold help-inline" ng-if="priority.grade==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="priority.grade==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="priority.grade==4">({{'mandatory' | translate }})</span>

                            <select class="form-control"  name="grade" ng-model="persons.grade"
                                    ng-required="priority.grade==4 && persons.study ==1" ng-disabled=" persons.study !=1"   ng-change="msg1.grade = [ ]">
                                <option disabled selected value >  {{'select_the_grade' | translate }}</option>
                                <option value="1">{{'the_first' | translate }}</option>
                                <option value="2"> {{'the_second' | translate }}</option>
                                <option value="3">{{'the_third' | translate }}</option>
                                <option value="4">{{'the_fourth' | translate }}</option>
                                <option value="5">{{'the_Fifth' | translate }}</option>
                                <option value="6">{{'the_Sixth' | translate }}</option>
                                <option value="7"> {{'the_Seventh' | translate }}</option>
                                <option value="8">{{'the_Eighth' | translate }}</option>
                                <option value="9">{{'the_Ninth' | translate }}</option>
                                <option value="10"> {{'the_tenth' | translate }}</option>
                                <option value="11">  {{'the_eleventh' | translate }}</option>
                                <option value="12"> {{'the_twelveth' | translate }} </option>
                                <option value="13"> {{'special_studies'| translate}} </option>
                                <option value="14"> {{'vocational_training'| translate}} </option>
                                <option value="15"> {{'first_year_of_university'| translate}} </option>
                                <option value="16"> {{'second_year_of_university'| translate}} </option>
                                <option value="17"> {{'third_year_of_university'| translate}} </option>
                                <option value="18"> {{'fourth_year_of_university'| translate}} </option>
                                <option value="19"> {{'fifth_year_of_university'| translate}} </option>

                            </select>
                                                        <span ng-repeat="(error, errortext) in msg1.grade"
                                                              class="font-red-pink bold help-inline"
                                                              ng-show="status1=='failed_valid' && 'msg1.grade' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3" ng-show="priority.year!=1">
                        <div class="form-group">
                            <label class="control-label bold">
                                {{'the_year_of_study' | translate }}
                            </label>
                            <span class=" text-success bold help-inline" ng-if="priority.year==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="priority.year==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="priority.year==4">({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control" ng-model="persons.year" numeric-only
                                   name="year" ng-required="priority.year==4 && persons.study ==1" ng-disabled=" persons.study !=1"  ng-change="msg1.year = [ ]" />
                                                        <span ng-repeat="(error, errortext) in msg1.year"
                                                              class="font-red-pink bold help-inline"
                                                              ng-show="status1=='failed_valid' && 'msg1.year' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3" ng-show="priority.school!=1">
                        <div class="form-group">
                            <label class="control-label bold">
                                {{'the_name_of_education_organization' | translate }}

                            </label>
                            <span class=" text-success bold help-inline" ng-if="priority.school==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="priority.school==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="priority.school==4">({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control" ng-model="persons.school"
                                   name="school" ng-required="priority.school==4 && persons.study ==1" ng-disabled=" persons.study !=1"  ng-change="msg1.school = [ ]"/>
                                                        <span ng-repeat="(error, errortext) in msg1.school"
                                                              class="font-red-pink bold help-inline"
                                                              ng-show="status1=='failed_valid' && 'msg1.school' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3" ng-show="priority.points!=1">
                        <div class="form-group">
                            <label class="control-label bold">
                                {{'the_last_study_average' | translate }}

                            </label>
                            <span class=" text-success bold help-inline" ng-if="priority.points==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="priority.points==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="priority.points==4">({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control" ng-model="persons.points" name="points"
                                   ng-required="priority.points==4 && persons.study ==1" ng-disabled=" persons.study !=1"  ng-change="msg1.points = [ ]"/>
                                                        <span ng-repeat="(error, errortext) in msg1.points"
                                                              class="font-red-pink bold help-inline"
                                                              ng-show="status1=='failed_valid' && 'msg1.points' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3" ng-show="priority.level!=1" >
                        <div class="form-group">
                            <label class="control-label bold">
                                {{'the_study_level' | translate }}
                            </label>
                            <span class=" text-success bold help-inline" ng-if="priority.level==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="priority.level==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="priority.level==4">({{'mandatory' | translate }})</span>
                            <select class="form-control"ng-model="persons.level" name="level"
                                    ng-required="priority.level==4 && persons.study ==1" ng-disabled=" persons.study !=1"  ng-change="msg1.level = [ ]">
                                <option disabled selected value> {{'select_the_study_level' | translate }}</option>
                                <option value="1">{{'weak' | translate }}</option>
                                <option value="2">{{'acceptable' | translate }}</option>
                                <option value="3">{{'good' | translate }}</option>
                                <option value="4">{{'very_good' | translate }}</option>
                                <option value="5">{{'excellent' | translate }}</option>

                            </select>
                                                        <span ng-repeat="(error, errortext) in msg1.level"
                                                              class="font-red-pink bold help-inline"
                                                              ng-show="status1=='failed_valid' && 'msg1.level' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading panel-heading-style">
                {{'the_health_status' | translate }} </div>
            <div class="panel-body">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6" ng-show="priority.health_condition!=1" >
                        <div class="form-group">
                            <label class="control-label bold"> {{'the_health_status' | translate }} </label>
                            <span class=" text-success bold help-inline" ng-if="priority.health_condition==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="priority.health_condition==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="priority.health_condition==4">({{'mandatory' | translate }})</span>
                            <select class="form-control"
                                    ng-model="persons.condition" name="condition" ng-required="priority.health_condition==4"
                                    ng-change="restValue('condition',persons.condition)">
                                <option disabled selected value>{{'select_the_health_status' | translate }} </option>
                                <option value="1">{{'good' | translate }} </option>
                                <option value="2">{{'suffers_from_a_chronic_disease' | translate }}  </option>
                                <option value="3">{{'with_special_needs' | translate }} </option>


                            </select>
                                                        <span ng-repeat="(error, errortext) in msg1.condition"
                                                              class="font-red-pink bold help-inline"
                                                              ng-show="status1=='failed_valid' && 'msg1.condition' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>

                        </div>
                    </div>
                    <div class="col-md-6" ng-show="priority.disease_id!=1">
                        <div class="form-group" >
                            <label class="control-label bold">  {{'the_type_of_disease' | translate }} </label>
                            <span class=" font-red-pink bold help-inline" ng-if="persons.condition == 2 || persons.condition == 3">
                                {{'mandatory' | translate }}
                            </span>
                            <div class="input-group">
                                <ui-select   ng-disabled=" persons.condition != 2 && persons.condition != 3"
                                             ng-model="persons.disease_id" ng-required="priority.disease_id==4" name="disease_id" ng-change="msg1.disease_id = [ ]"
                                             theme="bootstrap" class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.disease_id as item in Diseases | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                                     <button type="button" ng-click="persons.disease_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                            </div>
                              <span ng-repeat="(error, errortext) in msg1.disease_id"
                                    class="font-red-pink bold help-inline"
                                    ng-show="status1=='failed_valid' && 'msg1.disease_id' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>

                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="col-md-12" ng-show="priority.details!=1">
                        <div class="form-group">
                            <label class="control-label bold">
                                {{'disease_/_disability_details' | translate }}
                            </label>
                            <span class=" font-red-pink bold help-inline" ng-if="persons.condition == 2 || persons.condition == 3">
                                {{'mandatory' | translate }}
                            </span>
                            <!--<input type="text" class="form-control"-->
                                   <!--ng-init="persons.details=null"-->
                                   <!--ng-disabled=" persons.condition != 2 && persons.condition != 3"-->
                                   <!--ng-model="persons.details" name="details"-->
                                   <!--ng-required="priority.details!=1 && (persons.condition == 2 || persons.condition == 3) "-->
                                   <!--ng-change="msg1.details = [ ]"/>-->

                            <textarea class="form-control"
                                      ng-init="persons.details=null"
                                      ng-disabled=" persons.condition != 2 && persons.condition != 3"
                                      ng-model="persons.details" name="details"
                                      ng-required="priority.details!=1 && (persons.condition == 2 || persons.condition == 3) "
                                      ng-change="msg1.details = [ ]"
                                      rows="6"
                                      placeholder="{{'details'| translate}}">
                                    </textarea>
                                                        <span ng-repeat="(error, errortext) in msg1.details"
                                                              class="font-red-pink bold help-inline"
                                                              ng-show="status1=='failed_valid' && 'msg1.details' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       <div class="panel panel-info" ng-if="priority.prayer!=1 ||priority.save_quran!=1 ||  priority.quran_center!=1 ">
           <div class="panel-heading panel-heading-style">{{'islamic_status_of_the_child' | translate }}</div>
            <div class="panel-body">


                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4" ng-show="priority.prayer!=1" >
                        <div class="form-group">
                            <label class="control-label bold">{{'Dose_he_pray?' | translate }}</label>
                            <span class=" text-success bold help-inline" ng-if="priority.prayer==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="priority.prayer==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="priority.prayer==4">({{'mandatory' | translate }})</span>
                            <select class="form-control"
                                    ng-model="persons.prayer"  name="prayer" ng-required="priority.prayer==4"
                                    ng-change="restValue('prayer',persons.prayer)"
                            >
                                <option disabled selected value>{{'Dose_he_pray?' | translate }}</option>
                                <option  value="0"  >{{'regularly' | translate }}</option>
                                <option  value="1"  >{{'does_not_pray' | translate }}                                                            </option>
                                <option  value="2"  >{{'sometimes' | translate }}                                                            </option>
                            </select>
                                                                    <span ng-repeat="(error, errortext) in msg1.prayer"
                                                                          class="font-red-pink bold help-inline"
                                                                          ng-show="status1=='failed_valid' && 'msg1.prayer' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                        </div>
                    </div>
                    <div class="col-md-8" ng-show="priority.prayer_reason!=1">
                        <div class="form-group">
                            <label class=" control-label bold">{{'reason_for_leaving_prayer' | translate }}  </label>
                            <span class=" font-red-pink bold help-inline" ng-if="persons.prayer=='1'">({{'mandatory' | translate }})</span>
                                                                    <textarea class="form-control"ng-model="persons.prayer_reason"
                                                                              name="prayer_reason" rows="1"
                                                                              ng-init="persons.prayer_reason=null"
                                                                              ng-disabled="persons.prayer != 1"
                                                                              ng-required="priority.prayer_reason==4" ng-change="msg1.prayer_reason = [ ]"
                                                                    ></textarea>
                                                                    <span ng-repeat="(error, errortext) in msg1.prayer_reason"
                                                                          class="font-red-pink bold help-inline"
                                                                          ng-show="status1=='failed_valid' && 'msg1.prayer_reason' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4"   ng-show="priority.save_quran!=1">
                        <div class="form-group">
                            <label class="control-label bold">{{'is_he_saves_quran?' | translate }}</label>
                            <span class=" text-success bold help-inline" ng-if="priority.save_quran==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="priority.save_quran==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="priority.save_quran==4">({{'mandatory' | translate }})</span>
                            <select class="form-control"  ng-model="persons.save_quran"  name="save_quran"
                                    ng-required="priority.save_quran==4" ng-change="restValue('save_quran',persons.save_quran)">
                                <option disabled selected value>{{'is_he_saves_quran?' | translate }}</option>
                                <option  value="0"  >{{'yes' | translate }}
                                </option>
                                <option  value="1"  >{{'no' | translate }}</option>
                            </select>
                            <span ng-repeat="(error, errortext) in msg1.save_quran"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.save_quran' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                        </div>
                    </div>
                    <div class="col-md-4" ng-show="priority.quran_parts!=1" >
                        <div class="form-group">
                            <label class="control-label bold">{{'the_number_of_quran_parts' | translate }}</label>
                            <span class=" font-red-pink bold help-inline" ng-if="persons.save_quran ==='0'">({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control"
                                   ng-model="persons.quran_parts" name="quran_parts"
                                   ng-init="persons.quran_parts=null" numeric-only ng-disabled="persons.save_quran != 0"
                                   ng-required="priority.quran_parts==4" ng-change="msg1.quran_parts = [ ]"
                            />
                                                                    <span ng-repeat="(error, errortext) in msg1.quran_parts"
                                                                          class="font-red-pink bold help-inline"
                                                                          ng-show="status1=='failed_valid' && 'msg1.quran_parts' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                        </div>
                    </div>
                    <div class="col-md-4" ng-show="priority.quran_chapters!=1">
                        <div class="form-group">
                            <label class="control-label bold">
                                {{'the_number_of_quran_chapters' | translate }}
                            </label>
                            <span class=" font-red-pink bold help-inline" ng-if="persons.save_quran ==='0'">({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control"
                                   ng-model="persons.quran_chapters"
                                   name="quran_chapters" numeric-only
                                   ng-init="persons.quran_chapters=null" ng-disabled="persons.save_quran != 0"
                                   ng-required="priority.quran_chapters==4" ng-change="msg1.quran_chapters = [ ]"
                            />
                                                                    <span ng-repeat="(error, errortext) in msg1.quran_chapters"
                                                                          class="font-red-pink bold help-inline"
                                                                          ng-show="status1=='failed_valid' && 'msg1.quran_chapters' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4" ng-show="priority.quran_center!=1">
                        <div class="form-group">
                            <label class="control-label bold">{{'quran_center' | translate }}</label>
                            <span class=" text-success bold help-inline" ng-if="priority.quran_center==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="priority.quran_center==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="priority.quran_center==4">({{'mandatory' | translate }})</span>
                            <select class="form-control"  ng-model="persons.quran_center"  name="quran_center"
                                    ng-required="priority.quran_center==4"  ng-change="restValue('quran_center',persons.quran_center)">
                                <option disabled selected value>{{'quran_center' | translate }}</option>
                                <option  value="1"  >{{'yes' | translate }}
                                </option>
                                <option  value="0"  >{{'no' | translate }}</option>
                            </select>
                                                                <span ng-repeat="(error, errortext) in msg1.quran_center"
                                                                      class="font-red-pink bold help-inline"
                                                                      ng-show="status1=='failed_valid' && 'msg1.quran_center' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                        </div>
                    </div>
                    <div class="col-md-8" ng-show="priority.quran_reason!=1">
                        <div class="form-group">
                            <label class="control-label bold">{{'reason_for_leaving_memorization' | translate }}</label>
                            <span class=" font-red-pink bold help-inline" ng-if="persons.quran_center == 0 ">({{'mandatory' | translate }})</span>
                            <textarea class="form-control" rows="1"
                                      ng-model="persons.quran_reason" name="quran_reason"
                                      ng-init="persons.quran_reason=null" ng-disabled="persons.quran_center != 0"
                                      ng-required="priority.quran_reason==4" ng-change="msg1.quran_reason = [ ]"
                            ></textarea>
                            <span ng-repeat="(error, errortext) in msg1.quran_reason"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.quran_reason' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
       <div class="panel panel-info">
           <div class="panel-heading panel-heading-style">
           {{'bank_data' | translate }}
               <span class=" text-success bold help-inline" ng-if="priority.banks==3">({{'advisable' | translate }})</span>
               <span class=" text-success bold help-inline" ng-if="priority.banks==2">({{'optional' | translate }})</span>
               <span class=" font-red-pink bold help-inline" ng-if="priority.banks==4">({{'mandatory' | translate }})</span>
           </div>
           <div class="panel-body">
               <div class= "col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%;">
                                   <span ng-repeat="(error, errortext) in msg1.banks"
                                         class="font-red-pink bold help-inline"
                                         ng-show="status1=='failed_valid' && 'msg1.banks' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
               </div>
               <div class= "col-md-12"style="margin-bottom: 2%;">
                   <a class="btn blue" ng-click="add('md')"><span>{{'add bank account' | translate }}<span>
                       <i class="glyphicon glyphicon-plus-square" style="padding-right:7px;"></i></a>
               </div>
               <div class="col-md-12 col-sm-12 col-xs-12">
                   <table  class="table table-bordered table-striped  text-center table-hover ">
                       <thead>
                       <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                           <th class="text-center">  {{'#' | translate }} </th>
                           <th class="text-center">  {{'bank_name' | translate }} </th>
                           <th class="text-center">  {{'branch_name' | translate }} </th>
                           <th class="text-center">  {{'account_number' | translate }}  </th>
                           <th class="text-center">  {{'account_owner' | translate }} </th>
                           <th class="text-center">  {{'operations' | translate }}</th>
                       </tr>
                       </thead>
                       <tbody>
                       <tr ng-repeat="item in persons.banks" >
                           <td>{{  $index+1 }}</td>
                           <td>{{item.bank_name}}</td>
                           <td>{{item.branch}}</td>
                           <td>{{item.account_number}}</td>
                           <td>{{item.account_owner}}</td>
                           <td>

                               <button uib-tooltip="{{'delete' | translate }}"
                                       type="button" class="btn btn-xs bold font-red-pink fa fa-trash-o"
                                       style="font-size: medium; background-color: transparent"ng-click="delete($index)"></button>

                               <button  uib-tooltip="{{'update' | translate }}" type="button"
                                        class="btn btn-xs bold font-blue  fa fa-edit"
                                        style=" font-size: medium; background-color: transparent" ng-click="update('md',$index,item)"></button>

                               <button ng-show="item.check" type="button" class="btn btn-xs blue"
                                       ng-click="setOrgDefault(0,$index,item)">
                                   <span class="fa fa-check-circle"></span>
                                   <span>{{'default account' | translate }}</span>
                               </button>
                               <button ng-show="!item.check" type="button" class="btn btn-xs red-pink"
                                       ng-click="setOrgDefault(1,$index,item)">
                                   <span class="fa fa-remove"></span>
                                   <span>{{'set as a default account' | translate }}</span>
                               </button>

                           </td>
                       </tr>
                       </tbody>
                   </table>
                   <div ng-if="person.banks.length ==0 " class="col-md-12 col-sm-12 col-xs-12 text-center"
                        style="margin-bottom: 2%; margin-top: 2%">

                           {{'no banks account' | translate }}

                   </div>
               </div>
           </div>
       </div>
       <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                    <div class="col-md-2 pull-right" >
                        <button class=" btn btn-outline blue button-next pull-right" style="width: 85%;" ng-click="forward(persons)" type="button" >
                            <span>{{'the_next' | translate }}</span>
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </button>
                    </div>
                </div>
  </div>
</div>
<script type="text/ng-template" id="addBank.html">
    <div class="modal-header text-center" style="padding: 4%">
        <h4 class="modal-title bold" ng-show="action =='add'">{{'add bank account form' | translate }}</h4>
        <h4 class="modal-title bold" ng-show="action =='edit'">{{'edit bank account form' | translate }}</h4>
    </div>
    <div class="modal-body">
        <div class="row " style="padding: 2%;">
            <form name="frm"  novalidate="" role="form" class=" text-center" style="padding: 2%;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error' : frm.bank_id.$invalid && (!frm.bank_id.$pristine || frm.bank_id.$touched)}">
                            <label class="control-label bold text-center">   {{'bank_names' | translate }} </label>
                            <span class=" font-red-pink bold help-inline"> ({{'mandatory' | translate }})</span>

                            <div class="input-group">
                                <ui-select ng-model="detail.bank_id"
                                           name="bank_id"
                                           ng-change="getBranches(detail.bank_id)"
                                           ng-readonly="action =='edit'"
                                           ng-required="gpriority.guardian_bank_name ==4" theme="bootstrap"
                                           class="text-right" >
                                    <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in Banks | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                                                <button type="button" ng-click="detail.bank_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                            </div>
                                    <span ng-repeat="(error, errortext) in msg4.bank_id"
                                          class="font-red-pink bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg4.bank_id' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error' : frm.branch_name.$invalid && (!frm.branch_name.$pristine || frm.branch_name.$touched)}">
                            <label class="control-label bold text-center">   {{'branch_name' | translate }} </label>
                            <span class=" font-red-pink bold help-inline"> ({{'mandatory' | translate }})</span>

                            <div class="input-group">
                                <ui-select ng-model="detail.branch_name"
                                           ng-required="true"
                                           name="branch_name"
                                           ng-change="msg4.branch_name = [ ]"
                                           theme="bootstrap"
                                           class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in Branches | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                     <button type="button" ng-click="detail.branch_name = undefined" class="btn btn-default">
                                          <span class="glyphicon glyphicon-trash"></span>
                                       </button>
                                </span>
                            </div>
                                    <span ng-repeat="(error, errortext) in msg4.branch_name"
                                          class="font-red-pink bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg4.branch_name' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error' : frm.account_number.$invalid && (!frm.account_number.$pristine || frm.account_number.$touched)}">
                            <label class="control-label bold text-center">   {{'account_number' | translate }} </label>
                            <span class=" font-red-pink bold help-inline"> ({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control"
                                   ng-model="detail.account_number"
                                   numeric-only
                                   maxlength="45"
                                   ng-change="msg4.account_number = [ ]"
                                   ng-required="true"
                                   name="account_number"
                                   placeholder="{{'account_number' | translate }} " />
                            <span class=" font-red-pink bold help-inline" ng-show="frm.account_number.$error.pattern">  {{'integer_field' | translate }}  </span>
                                <span ng-repeat="(error, errortext) in msg4.account_number"
                                      class="font-red-pink bold help-inline"
                                      ng-show="status1=='failed_valid' && 'msg4.account_number' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error' : frm.account_owner.$invalid && (!frm.account_owner.$pristine || frm.account_owner.$touched)}">
                            <label class="control-label bold text-center">   {{'account_owner' | translate }} </label>
                            <span class=" font-red-pink bold help-inline"> ({{'mandatory' | translate }})</span>
                            <input type="text"
                                   class="form-control"
                                   ng-model="detail.account_owner"
                                   ng-required="true"
                                   name="account_owner"
                                   ng-change="msg4.account_owner = [ ]"
                                   placeholder="{{'account_owner' | translate }} " />
                                <span ng-repeat="(error, errortext) in msg4.account_owner"
                                      class="font-red-pink bold help-inline"
                                      ng-show="status1=='failed_valid' && 'msg4.account_owner' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn blue" ng-disabled="frm.$invalid" ng-click="save(detail)"><span>{{'add' | translate }}</span></button>
        <button class="btn red-pink" ng-click="cancel()"><span>{{'cancel' | translate }}</span></button>
    </div>
</script>
