
<style>
    .disabled {
        pointer-events: none;
        cursor: default;
    }
</style>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'sponsorships management' | translate }}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'cases_manage' | translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a  href="#/sponsorship/all/cases"> {{'all_cases' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'sponsorship casee form' | translate }}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>{{ CategoryName }}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        <span ng-show="action =='add'">{{'add_sponsorship_form' | translate }}</span>
        <span ng-show="action =='edit'">{{'edit_sponsorship_form' | translate }}</span>
     </li>
</ul>

<!-- END PAGE BREADCRUMB -->
<div class="row" ng-controller="subFormController">
    <div class="col-md-12 col-sm-12 col-xs-12" >
        <div class="portlet light">
              <div class="portlet-title">
                        <div class="caption bold">
                             <span class="icon-layers font-red "></span>
                             <span class="font-red "> {{'form for' | translate }} </span>
                             <span class="font-red ">{{ CategoryName }}</span>
                             <span class="font-red "> {{'Step' | translate }} </span>
                             <span class="font-red ">{{ TheStep }} </span>
                             <span class="font-red "> {{'Of' | translate }} </span>
                             <span class="font-red "> {{StepCount}} </span>
                        </div>
              <div class="portlet-body ">
                 <div class="form-wizard">
                     <div class="form-body"  style="padding-top: 3%">
                         <ul class="nav nav-pills nav-justified steps text-center" style="border-bottom: 7px solid #eee;">
                             <li>
                                 <a id="CaseData" class="step" ng-click="getTheSubTarget('case')">
                                     <span class="number"> 1 </span>
                                     </br>
                                     <p  class="desc"><i class="fa fa-check"></i> {{'case-info' | translate }} </p>
                                 </a>
                             </li>
                             <li>
                                 <a id="subcaseDocuments" class="step disabled" ng-click="getTheSubTarget('caseDocuments')" >
                                     <span class="number"> 2 </span>
                                     </br>
                                     <p  class="desc"><i class="fa fa-check"></i> {{'case-documents' | translate }} </p>
                                 </a>
                             </li>
                             <li ng-show="cat_has_custom_form">
                                <a id="subcustomForm" class="step disabled" ng-click="getTheSubTarget('customFormData')">
                                    <span class="number"> 3 </span>
                                           </br>
                                    <p  class="desc"><i class="fa fa-check"></i> {{'custom-form' | translate }} </p>
                                </a>
                             </li>
                         </ul>
                     </div>
                 </div>

                <div id="views-content" ui-view></div>

             </div>
        </div>
    </div>
</div>



