    <div class="modal-header" style="  padding:5%; ">
        <h4 class="modal-title bold text-center"> {{'beneficiary attachment' | translate }}</h4>
    </div>
    <div class="modal-body">
        <div  class="row" style="padding: 2%">
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 2%;" ng-show="is_mine">
                <button  class=" pull-left btn blue " ng-click="ChooseAttachment()" type="button" >
                    <span> {{'add attachment'| translate}}</span>
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="portlet-body">
                    <div class="row" style="margin-bottom: 2%;">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" ng-if="Documents.length > 0">
                                <thead>
                                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                    <th class="col-md-1 text-center" > {{'#'| translate}}</th>
                                    <th class="col-md-5 text-center" > {{'attachment name'| translate}}</th>
                                    <th class="col-md-6 text-center" > {{'operations'| translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="doc in Documents">
                                    <td>{{ $index+1 }}</td>
                                    <td>{{ doc.name }}</td>
                                    <td>
                                        <a class="btn blue btn-xs" data-download="{{ doc.name }}"
                                           doc-file-download data-url="/doc/files/download/{{doc.file_id}}">
                                            <span class="fa fa-cloud-download"></span> {{'download'| translate}} </a>


                                        <button type="button"  ng-show="is_mine" class="btn btn-xs bold font-red-pink bold fa fa-trash-o" style="font-size: medium; background-color: transparent"
                                                ng-click="delete('sm',doc.file_id)"></button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <div ng-if="Documents.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 10px; margin-bottom: 20px">
                            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show'| translate}}
                                                                    </span>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'close'| translate}}</span> </button>
    </div>
