    <div class="modal-header" style="  padding:5%; ">
        <h4 class="modal-title bold text-center">{{'edit date range form'| translate}}</h4>
    </div>
    <div class="modal-body " style="padding: 2%;">

        <form name="frm" novalidate="" role="form" class="row text-center" style="padding: 2%;">
            <div  class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error' : frm.from.$invalid && !frm.from.$pristine }">
                        <label class="control-label bold"> {{'date from'| translate}} </label>
                        <div  class="input-group"  style="">
                            <input type="text" class="form-control"  uib-datepicker-popup="{{format}}"
                                   ng-model="range.from"
                                   datepickerPopup
                                   name="from" ng-required="true"
                                   is-open="popup3.opened" datepicker-options="dateOptions" readonly
                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"
                                   min-mode="'month'" max-mode="'year'"
                                   ng-change="msg1.from = [ ]"/>
                            <span class="input-group-btn">
                                                           <button type="button" class="btn btn-default" ng-click="open3($event)">
                                                               <i class="glyphicon glyphicon-calendar"></i>
                                                           </button>
                                                                </span>

                        </div>

                        <span class="font-red-pink bold help-inline" ng-show="frm.from.$error.required && frm.from.$touched">
                          - {{'required_field'| translate}}
                        </span>

                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error' : frm.to.$invalid && !frm.to.$pristine }">
                        <label class="control-label bold"> {{'date to'| translate}} </label>
                        <div  class="input-group">
                            <input type="text" class="form-control"  uib-datepicker-popup="{{format}}"
                                   ng-model="range.to"
                                   datepickerPopup
                                   name="to" ng-required="true"
                                   is-open="popup1.opened" datepicker-options="dateOptions" readonly
                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"
                                   min-mode="'month'" max-mode="'year'"
                                   ng-change="msg1.to = [ ]"/>
                            <span class="input-group-btn">
                                                           <button type="button" class="btn btn-default" ng-click="open1($event)">
                                                               <i class="glyphicon glyphicon-calendar"></i>
                                                           </button>
                                                                </span>

                        </div>
                        <span class="font-red-pink bold help-inline" ng-show="frm.to.$error.required && frm.to.$touched">
                          - {{'required_field'| translate}}
                        </span>

                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class=" btn blue " ng-disabled= "frm.$invalid" ng-click="confirm(range)"type="button" ><span>{{'save'| translate}}</span></button>
        <button class="btn red-pink"  ng-click="cancel()"><span>{{'cancel'| translate}}</span></button>
    </div>
