    <div class="modal-header" style="  padding:3%; ">
        <h3 class="modal-title bold text-center"> {{'Files Uploaded form'| translate}} </h3>
    </div>
    <div class="modal-body">

        <div class="row" style="padding: 2%;">
            <form name="form" class="form-horizontal" novalidate="" role="form">
                <div  class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="attachment_type" class="col-md-2 control-label  bold ">{{'attachment_type'| translate}}</label>
                        <div class="col-md-6">
                            <select class="form-control" id="attachment_type"  name="attachment_type" ng-model="attachment_type">
                                <option disabled selected value>{{'attachment_type'| translate}}  </option>
                                <option value="1" ng-value="1" ng-if="!signature_sheet"> {{'signature_sheet'| translate}} </option>
                                <option value="2" ng-value="2" ng-if="!organization_sheet"> {{'organization_sheet'| translate}} </option>
                                <option value="3" ng-value="3" ng-if="!receipt_of_receipt"> {{'Receipt_of_receipt'| translate}} </option>
                                <option value="4" ng-value="4"> {{'others'| translate}} </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div  class="col-md-12 col-sm-12 col-xs-12" ng-if="enable_upload">
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label class="btn  btn-info pull-left" style="color: white">
                                <span> {{'select attachment'| translate}} </span>
                                <span class="fa fa-paperclip"></span>
                                <input type="file" nv-file-select="" accept=
                                        "application/msword, application/vnd.ms-excel, application/pdf, image/* ,
                                           .xlsx,.xls,.doc,.docx,.pdf" uploader="uploader" style="display: none !important;" >
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <div  class="col-md-12 col-sm-12 col-xs-12" ng-if="enable_upload">
                <div  class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%;"  ng-if="uploader.queue.length > 0 ">
                    <div class="note note-success">
                            <i style="font-size: larger" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            {{'click to upload btn to do upload or ignore'| translate}}
                    </div>

                </div>

                <div  class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%;" ng-if="uploader.queue.length > 0 ">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="uppercase">
                            <th width="50%">{{'name'| translate}}</th>
                            <th ng-show="uploader.isHTML5">{{'size'| translate}}</th>
                            <th>{{'status'| translate}}</th>
                            <th>{{'actions'| translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td>{{ item.file.name}}</td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess" class="text-success"> <i class="glyphicon glyphicon-ok"></i></span>
                                <span  class="font-red-pink"> <i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn blue  btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> <span>{{'upload'| translate}}</span>
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> <span>{{'cancel' | translate}}</span>
                                </button>
                                <button type="button" class="btn red-pink btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> <span>{{'remove' | translate}}</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <p>{{'queue_progress'| translate}}:</p>
                        <div class="progress progress-sm" style="">
                            <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn red-pink"  ng-click="closeUploader()"> <span>{{'close'| translate}} </span></button>
    </div>
