<style>
    multiselect > div > ul{
        z-index: 1100 !important;
    }
    .scrolHV {
        /*max-width: 90em;*/
        max-height: 40em;
        overflow: scroll;
        position: relative;
    }
    .scrolHV table {
        position: relative;
        border-collapse: collapse;
    }
    .scrolHV table td,.scrolHV table th {
        padding: 0.25em;
    }
    .scrolHV table thead th {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        top: 0;
        line-height: 40px;
        font-size: 30px;
        height: 50px;
        z-index: 999;
    }
    .scrolHV table thead th:first-child {
        left: 0;
        z-index: 1;
    }
    .scrolHV table tbody tr th {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        right: 0;
        border-right: 1px solid #CCC;
        background-color: #f3f3f3!important;
        line-height: 40px;
        z-index: 999;
    }
</style>

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i>{{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'reports and queries'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'statistic and reports'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>

    <li class="active" >
        <span ng-show="type =='sponsorships-sponsor'">{{'sponsorships_authorities'| translate}}</span>
        <span ng-show="type =='charity-act'">{{'charity-act'| translate}}  </span>
        <span ng-show="type =='islamic-commitment'">{{'islamic-commitment'| translate}}  </span>
        <span ng-show="type =='vouchers-sponsor'">{{'sponsor-voucher'| translate}}  </span>
        <span ng-show="type =='payments'">{{'payments'| translate}}  </span>

    </li>
</ul>
<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="text-center">
                            <h3 class=" text-center">
                                <span style="font-size: inherit;" class="icon-wallet"  ng-show="type =='charity-act'"> </span>
                                <span style="font-size: inherit;" class="icon-present"  ng-show="type =='sponsorships-sponsor'"> </span>
                                <span style="font-size: inherit;" class="icon-support"  ng-show="type =='vouchers-sponsor'"> </span>
                                <span class="fa fa-bar-chart"  ng-show="type =='islamic-commitment'"> </span>
                                <span class="fa fa-money"  ng-show="type =='payments'"> </span>

                                <span style="font-size: 18px !important;"
                                      ng-show="type =='sponsorships-sponsor'">{{'sponsorships_authorities'| translate}}</span>

                                <span style="font-size: 18px !important;"
                                      ng-show="type =='charity-act'">{{'charity-act'| translate}}  </span>

                                <span style="font-size: 18px !important;"
                                      ng-show="type =='islamic-commitment'">{{'islamic-commitment'| translate}}  </span>

                                <span style="font-size: 18px !important;"
                                      ng-show="type =='vouchers-sponsor'">{{'sponsor-voucher'| translate}}  </span>

                                <span style="font-size: 18px !important;"
                                      ng-show="type =='payments'">{{'payments'| translate}}  </span>

                                <span style="font-size: 18px !important;"
                                      ng-show="type =='sponsorships-sponsor' || type == 'vouchers-sponsor' || type == 'charity-act'|| type == 'payments' ">
                                    {{'range'| translate}}
                                    {{ ' ( ' + firstDay + ' : ' +  lastDay +  ' ) '}}</span>
                            </h3>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-toolbar">
                            <div class="row" style="margin: 2%;">
                                <div  ng-show="
                                                 (type =='islamic-commitment' && organizations_.length > 0 ) ||
                                               (type =='sponsorships-sponsor' || type == 'vouchers-sponsor' || type == 'charity-act' || type == 'payments')
"
                                        class="col-md-12 col-sm-12 col-xs-12" style="background-color: #f3f3f3;margin:1%; padding-top: 20px; padding-bottom: 20px;
box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " >
                                    <form method="get" ng-submit="search()">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                                <div  ng-class=" type =='islamic-commitment'  || type == 'charity-act' ? 'col-md-6 col-md-offset-3 text-center ' : 'col-md-6 text-center'" ng-if="organizations_">
                                                    <div class="form-group">
                                                        <label class="text-center bold control-label "> {{'organization' | translate}} </label>
                                                        <multiselect  ng-model="filter.organization_id" ng-if="organizations_"
                                                                      options="organizations_" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                                        </multiselect>
                                                    </div>
                                                </div>
                                                <div  ng-class=" type =='islamic-commitment'  || type == 'charity-act' ? 'col-md-6 text-center ' : 'col-md-6 text-center'" ng-if="sponsors_">
                                                    <div class="form-group">
                                                        <label class="text-center bold control-label "> {{'sponsors' | translate}} </label>
                                                        <multiselect  ng-model="filter.sponsor_id" ng-if="sponsors_"
                                                                      options="sponsors_" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                                        </multiselect>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 text-center" ng-show="type =='sponsorships-sponsor' || type == 'vouchers-sponsor' || type == 'charity-act' || type == 'payments'">
                                                    <div class="form-group">
                                                        <label class="control-label text-center bold">   {{'first_date'| translate}} </label>
                                                        <div  class="input-group">
                                                            <input type="text" class="form-control"
                                                                   uib-datepicker-popup="{{format}}"
                                                                   ng-model="filter.first"
                                                                   datepickerPopup autofocus
                                                                   name="first"
                                                                   is-open="popup1.opened" datepicker-options="dateOptions"
                                                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                            <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open1($event)">

                                                </button>
                                          </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 text-center" ng-show="type =='sponsorships-sponsor' || type == 'vouchers-sponsor' || type == 'charity-act' || type == 'payments'">
                                                    <div class="form-group">
                                                        <label class="control-label  text-center bold">   {{'last_date'| translate}} </label>
                                                        <div  class="input-group">
                                                            <input type="text" class="form-control"
                                                                   uib-datepicker-popup="{{format}}"
                                                                   ng-model="filter.last"
                                                                   datepickerPopup
                                                                   name="last"
                                                                   is-open="popup2.opened" datepicker-options="dateOptions"
                                                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                            <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open2($event)">

                                                </button>
                                          </span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 text-center" ng-show=" type =='sponsorships-sponsor' && sponsorCategories_.length> 0">
                                                    <div class="form-group">
                                                        <label class="control-label bold">{{'category_name'| translate}}</label>
                                                        <multiselect  ng-model="filter.category_id" ng-if="sponsorCategories_"
                                                                      options="sponsorCategories_" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                                        </multiselect>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 text-center" ng-show=" type =='payments' && paymentCategory.length> 0">
                                                    <div class="form-group ">
                                                        <label class="control-label bold">{{'payment_category'| translate}}</label>
                                                        <multiselect  ng-model="filter.category_id" ng-if="paymentCategory"
                                                                      options="paymentCategory" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                                        </multiselect>
                                                   </div>
                                                </div>
                                                <div class="col-md-6 col-md-offset-3">
                                                    <div class="form-group text-center">
                                                        <span class="input-group-btn" >
                                                            <button type="button"style="min-width:  150px;" class="btn blue" ng-click="Search(filter,'show')">
                                                                <i class="icon-magnifier"></i>
                                                            </button>
                                                         </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1%; padding-top: 1%; padding-bottom: 2%;" ng-if="items.length > 0 || sponsorship_items.length > 0">
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 0.5%;">
                                        <button class=" btn green-turquoise pull-left"  style=" margin:2% 0;"
                                                ng-click="Search(filter,'export')" type="button" >
                                            <span class="fa fa-file-excel-o"></span>
                                            <span>{{'export statistic to excel'| translate}}</span>
                                        </button>
                                    </div>

                                    <div class="table-scrollable">

                                        <div ng-show="type =='vouchers-sponsor'" data-ng-include="'app/modules/common/views/statistic/sub-view/vouchers-sponsor.html'"> </div>
                                        <div ng-show="type =='sponsorships-sponsor'" data-ng-include="'app/modules/common/views/statistic/sub-view/sponsorships-sponsor.html'"> </div>
                                        <div ng-show="type =='charity-act'" data-ng-include="'app/modules/common/views/statistic/sub-view/charity-act.html'"> </div>
                                        <div ng-show="type =='islamic-commitment'" data-ng-include="'app/modules/common/views/statistic/sub-view/islamic-commitment.html'"> </div>
                                        <div ng-show="type =='payments'" data-ng-include="'app/modules/common/views/statistic/sub-view/payments.html'"> </div>
                                    </div>
                                </div>

                                <div   ng-if="items.length == 0 && sponsorship_items.length == 0" class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 2%;margin-bottom: 2%">
                                    <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show'| translate}}
                                                                    </span>
                                    </div>
                                </div>

                                </div>
                       </div>
                    </div>
                </div>
            </div>
        </div>
</div>







