<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{'Change_Password'| translate}}</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="ChangePasswordController">
    <!-- BEGIN CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">

                        <h3><span class="icon-key"></span> {{'Change_Password'| translate}}</h3>
                    </div>

             </div>
                <div class="portlet-body">
                    <div class="table-container">
                        <div class="row" style="padding: 2%;">
                            <form name="form" class="form-horizontal" novalidate="" role="form" ng-submit="submit()">
                                <fieldset>
                                    <div class="form-group" ng-class="errorClass('old_password')">
                                        <label for="old_password" class="col-md-2 control-label">{{'current_password'| translate}}</label>
                                        <div class="col-md-4">
                                            <input type="password" class="form-control" id="old_password" name="old_password" placeholder="{{'current_password'| translate}}" ng-required="true" ng-model="password.old_password">
                                            <span class="help-inline text-danger bold"
                                                  ng-show="form.old_password.$invalid && form.old_password.$touched">{{'required_field'| translate}}</span>
                                            <span class="help-block" ng-show="form.old_password.$invalid && form.old_password.$dirty">{{errorMessage('old_password')}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="errorClass('password')">
                                        <label for="password" class="col-md-2 control-label">{{'new_password'| translate}}</label>
                                        <div class="col-md-4">
                                            <input type="password" class="form-control" id="password" name="password" placeholder="{{'new_password'| translate}}" ng-required="true" ng-model="password.password">
                                            <span class="help-inline text-danger bold"
                                                  ng-show="form.password.$invalid && form.password.$touched">{{'required_field'| translate}}</span>
                                            <span class="help-block" ng-show="form.password.$invalid && form.password.$dirty">{{errorMessage('password')}}</span>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-class="errorClass('password_confirmation')">
                                        <label for="password_confirmation" class="col-md-2 control-label">{{'confirm_password'| translate}}</label>
                                        <div class="col-md-4">
                                            <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="{{'confirm_password'| translate}}" ng-required="true" ng-model="password.password_confirmation">
                                            <span class="help-inline text-danger bold"
                                                  ng-show="form.password_confirmation.$invalid && form.password_confirmation.$touched">{{'required_field'| translate}}</span>
                                            <span class="help-block" ng-show="form.password_confirmation.$invalid && form.password_confirmation.$dirty">{{errorMessage('password_confirmation')}}</span>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button ng-disabled="form.$invalid" type="submit" class="btn blue"><span>{{'submit'| translate}}</span></button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END MAIN CONTENT -->
