<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{'account_information'| translate}}</li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN CONTENT BODY -->
<!-- END CONTENT BODY -->

<div ng-controller="AccountController">
    <!-- BEGIN CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                       <div class="table-container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <!-- BEGIN PROFILE SIDEBAR -->
                                <div class="profile-sidebar" ng-if="user">
                                    <!-- PORTLET MAIN -->
                                    <div class="portlet light profile-sidebar-portlet ">
                                        <!-- SIDEBAR USERPIC -->
                                        <div class="profile-userpic">
                                            <img   id="img"
                                                   style="width: 190px;height: 190px;"
                                                   ng-src="{{imgSrc}}" data-img-blob=""
                                                   doc-file-view
                                                   data-url="{{'/doc/files/userImage'}}"
                                                 class="img-responsive" alt=""> </div>
                                        <!-- END SIDEBAR USERPIC -->
                                        <!-- SIDEBAR USER TITLE -->
                                        <div class="profile-usertitle">
                                            <div class="profile-usertitle-name"> {{user.firstname  + user.lastname}} </div>
                                            <div class="profile-usertitle-job"> {{user.job_title}} </div>
                                        </div>
                                        <!-- END SIDEBAR USER TITLE -->
                                        <!-- SIDEBAR BUTTONS -->
                                        <div class="profile-userbuttons">
                                            <button type="button" class="btn btn-circle blue btn-sm"
                                                    ng-show="user.document_id"
                                                    ng-click="ChooseAttachment(filepath)">{{'change_image'| translate}}</button>
                                            <button type="button" ng-show="!user.document_id" class="btn btn-circle red-pink btn-sm"
                                                    ng-click="ChooseAttachment(filepath)">{{'please_select_image'| translate}}</button>
                                        </div>
                                        <!-- END SIDEBAR BUTTONS -->
                                        <!-- SIDEBAR MENU -->
                                        <div class="profile-usermenu">
                                            <ul class="nav">
                                                <!--<li>-->
                                                <!--<a href="page_user_profile_1.html">-->
                                                <!--<i class="icon-home"></i> Overview </a>-->
                                                <!--</li>-->
                                                <!--<li class="active">-->
                                                <!--<a href="page_user_profile_1_account.html">-->
                                                <!--<i class="icon-settings"></i> Account Settings </a>-->
                                                <!--</li>-->
                                                <!--<li>-->
                                                <!--<a href="page_user_profile_1_help.html">-->
                                                <!--<i class="icon-info"></i> Help </a>-->
                                                <!--</li>-->
                                            </ul>
                                        </div>
                                        <!-- END MENU -->
                                    </div>
                                    <!-- END PORTLET MAIN -->
                                </div>
                                <!-- END BEGIN PROFILE SIDEBAR -->
                                <!-- BEGIN PROFILE CONTENT -->
                                <div class="profile-content">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="portlet light">
                                                <div class="portlet-title tabbable-line">
                                                    <div class="caption caption-md">
                                                        <i class="icon-globe theme-font hide"></i>
                                                        <span class="caption-subject font-blue-madison bold uppercase">{{'account_information'| translate}}</span>
                                                    </div>
                                                </div>
                                                <div class="portlet-body">
                                                    <div class="tab-content">
                                                        <!-- PERSONAL INFO TAB -->
                                                        <div class="tab-pane active" id="tab_1_1">
                                                            <form role="form" action="#" name="user_frm"  >
                                                                <div class="form-group" ng-class="{ 'has-error' : user_frm.id_card_number.$invalid && !user_frm.id_card_number.$pristine }">
                                                                    <label for="id_card_number" class="control-label bold">{{'id_card_number' | translate}} <span class="required" aria-required="true"> * </span></label>
                                                                    <input type="text"
                                                                           id="id_card_number"
                                                                           class="form-control"
                                                                           name="id_card_number"
                                                                           maxlength="9"
                                                                           ng-maxlength="9"
                                                                           numeric-only
                                                                           disabled
                                                                           style="background: white !important;"
                                                                           ng-model="user.id_card_number"
                                                                           required
                                                                           placeholder="{{'id_card_number'| translate}} " />
                                                                    <span class="text-danger bold help-inline" ng-show="user_frm.id_card_number.$error.required && user_frm.id_card_number.$touched">
                                                                            {{'required_field'| translate}}
                                                                    </span>
                                                                    <span ng-repeat="(error, errortext) in msg1.id_card_number"
                                                                          class="text-danger bold help-inline"
                                                                          ng-show="status1=='failed_valid' && 'msg1.id_card_number' != [ ]" >
                                                                 {{ errortext.toString() }}
                                                                 </span>
                                                                </div>
                                                                <div class="form-group" ng-class="{ 'has-error' : user_frm.email.$invalid && !user_frm.email.$pristine }">
                                                                    <label for="email"class="control-label bold">{{'email' | translate}} <span class="required" aria-required="true"> * </span></label>
                                                                    <input type="email" class="form-control" id="email" name="email" placeholder="{{'email' | translate}}" value="{{email}}"
                                                                           ng-model="user.email" ng-required="true">

                                                                    <span class="text-danger bold help-inline" ng-show="user_frm.email.$error.required && user_frm.email.$touched">
                                                                            {{'required_field'| translate}}
                                                                    </span>

                                                                    <span class="text-danger bold help-inline" ng-show="user_frm.email.$invalid && user_frm.email.$error.email && user_frm.email.$touched">
                                                                            {{'Valid Email field is required'| translate}}
                                                                    </span>
                                                                    <span ng-repeat="(error, errortext) in msg1.email"
                                                                          class="text-danger bold help-inline"
                                                                          ng-show="status1=='failed_valid' && 'msg1.email' != [ ]" >
                                                                 {{ errortext.toString() }}
                                                                 </span>
                                                                </div>
                                                                <div class="form-group" ng-class="{ 'has-error' : user_frm.mobile.$invalid && !mobile.mobile.$pristine }">
                                                                    <label for="mobile"class="control-label bold">{{'mobile' | translate}} <span class="required" aria-required="true"> * </span></label>
                                                                    <input type="text" class="form-control" id="mobile" name="mobile" placeholder="{{'mobile' | translate}}" value="{{mobile}}"
                                                                           ng-model="user.mobile" ng-required="true">

                                                                    <span class="text-danger bold help-inline" ng-show="user_frm.mobile.$error.required && user_frm.mobile.$touched">
                                                                            {{'required_field'| translate}}
                                                                    </span>

                                                                </div>
                                                                <div class="form-group" ng-class="{ 'has-error' : user_frm.wataniya.$invalid && !wataniya.wataniya.$pristine }">
                                                                    <label for="wataniya"class="control-label bold">{{'wataniya no' | translate}} <span class="required" aria-required="true"> * </span></label>
                                                                    <input type="text" class="form-control" id="wataniya" name="wataniya" placeholder="{{'wataniya no' | translate}}" value="{{wataniya}}"
                                                                           ng-model="user.wataniya" ng-required="true">

                                                                    <span class="text-danger bold help-inline" ng-show="user_frm.wataniya.$error.required && user_frm.wataniya.$touched">
                                                                            {{'required_field'| translate}}
                                                                    </span>

                                                                </div>
                                                                <div class="form-group" ng-class="{ 'has-error' : user_frm.nick_name.$invalid && !wataniya.nick_name.$pristine }">
                                                                    <label for="nick_name"class="control-label bold">{{'nick_name' | translate}}</label>
                                                                    <input type="text" class="form-control" id="nick_name" name="nick_name" placeholder="{{'nick_name' | translate}}" value="{{nick_name}}"
                                                                           ng-model="user.nick_name">
                                                                    <span class="help-block" ng-show="form.nick_name.$invalid && form.nick_name.$dirty">{{errorMessage('nick_name')}}</span>
                                                                </div>
                                                                <div class="form-group" ng-class="{ 'has-error' : user_frm.position.$invalid && !wataniya.position.$pristine }">
                                                                    <label for="position"class="control-label bold">{{'position' | translate}}</label>
                                                                    <input type="text" class="form-control" id="position" name="position" placeholder="{{'position' | translate}}" value="{{position}}"
                                                                           ng-model="user.position">
                                                                    <span class="help-block" ng-show="form.position.$invalid && form.position.$dirty">{{errorMessage('position')}}</span>
                                                                </div>
                                                                <div class="margiv-top-10">
                                                                    <button ng-disabled="user_frm.$invalid" type="button" ng-click="submit()" class="btn blue"><span>{{'save' | translate}}</span></button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <!-- END PERSONAL INFO TAB -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END PROFILE CONTENT -->
                            </div>
                        </div>

                    </div>


                </div>


            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>

<script type="text/ng-template" id="myModalContent2.html">
    <div class="modal-header" style="  padding:5%; ">
        <h4 class="modal-title bold text-center"> {{'upload user image form' | translate}} </h4>
    </div>
    <div class="modal-body">
        <div class="row" style="padding: 2%;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12" style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">{{'select image' | translate}}</label>
                        <div class="col-md-10">
                            <div class="margin-bottom-20">
                                <input type="file" accept="image/x-png,image/gif,image/jpeg,image/jpg" nv-file-select="" onchange="angular.element(this).scope().fileupload(this)"  uploader="uploader" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="uppercase">
                            <th >   {{'name' | translate}} </th>
                            <th ng-show="uploader.isHTML5">   {{'size' | translate}} </th>
                            <th ng-show="uploader.isHTML5">   {{'progress' | translate}} </th>
                            <th >   {{'status' | translate}} </th>
                            <th >   {{'actions' | translate}} </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td>
                                <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 48 }"></div>
                            </td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress progress-sm" style="margin-bottom: 0;">
                                    <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                                    <span ng-show="item.isSuccess" class="text-success">
                                                        <i class="glyphicon glyphicon-ok"></i>
                                                    </span>
                                <span ng-show="item.isError" class="text-danger">
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                    </span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> <span> {{'upload' | translate}} </span> </button>
                                <button type="button" class="btn red-pink btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> <span> {{'remove' | translate}}</span> </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div>
                        <p> {{'queue_progress' | translate}}:</p>
                        <div class="progress progress-sm" style="">
                            <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel' | translate}}</span> </button>
    </div>
</script>
