<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <!--<li>-->
        <!--{{'users_and_permissions'| translate}}-->
        <!--<i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>-->
    <!--</li>-->
    <li>
        {{'Settings'| translate}}
    </li>
</ul>

<div ng-controller="AuthSettingsController">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered portlet-fit portlet-datatable">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="font-dark"></i>
                        <h3>
                            <span  class="glyphicon glyphicon-cog"></span>
                            <span> {{'Settings'| translate}}</span>
                        </h3>
                    </div>
                </div>
                <div class="portlet-body">
                    <div  class="row" >
                    <div  class="col-md-12" >
                        <div class="alert alert-success" ng-show="success" role="alert">
                            {{message}}
                        </div>
                        <div class="alert alert-danger" ng-show="error" role="alert">
                            {{message}}
                        </div>
                        <form name="form" class="form-horizontal" >
                            <fieldset>
                                <h4 class="text-primary bold" style="padding-bottom: 15px;"> {{'Throttles_Logins' | translate}}  </h4>
                                <div class="form-group" ng-class="errorClass('maxAttempts')">
                                    <label for="maxAttempts" class="col-md-2 control-label bold">{{'Max_Attempts'| translate}}</label>
                                    <div class="col-md-7">
                                        <input type="number" class="form-control" autofocus id="maxAttempts" name="maxAttempts" placeholder="{{'Max_Attempts'| translate}}" ng-required="true" ng-model="settings.auth_throttlesLogins_maxAttempts" string-to-number>
                                        <span class="help-block" ng-show="form.maxAttempts.$invalid && form.maxAttempts.$dirty">{{errorMessage('maxAttempts')}}</span>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="errorClass('decayMinutes')">
                                    <label for="decayMinutes" class="col-md-2 control-label bold">{{'Decay_Minutes'| translate}}</label>
                                    <div class="col-md-7">
                                        <input type="number" class="form-control" id="decayMinutes" name="decayMinutes" placeholder="{{'Decay_Minutes'| translate}}" ng-required="true" ng-model="settings.auth_throttlesLogins_decayMinutes" string-to-number>
                                        <span class="help-block" ng-show="form.decayMinutes.$invalid && form.decayMinutes.$dirty">{{errorMessage('decayMinutes')}}</span>
                                    </div>
                                </div>
                                <hr>
                                <h4 class="text-primary bold" style="padding-bottom: 15px;"> {{'gov_service' | translate}}  </h4>
                                <div class="form-group" ng-class="errorClass('decayMinutes')">
                                    <label for="decayMinutes" class="col-md-2 control-label bold">{{'ignore_gov_service'| translate}}</label>
                                    <div class="col-md-7">
                                        <select class="form-control"  ng-model="settings.gov_service"  name="gov_service" id="gov_service">
                                            <option  value='1'  ng-value='1'  >{{'yes' | translate }}</option>
                                            <option  value='0'  ng-value='0' >{{'no' | translate }}</option>
                                        </select>
                                        <span class="help-block" ng-show="form.decayMinutes.$invalid && form.decayMinutes.$dirty">{{errorMessage('decayMinutes')}}</span>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="errorClass('gov_service_client_id')">
                                    <label for="gov_service_client_id" class="col-md-2 control-label bold">{{'gov_service_client_id'| translate}}</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control text-right" id="gov_service_client_id" name="gov_service_client_id"
                                               placeholder="{{'gov_service_client_id'| translate}}"  ng-model="settings.gov_service_client_id">
                                        <span class="help-block" ng-show="form.gov_service_client_id.$invalid && form.gov_service_client_id.$dirty">{{errorMessage('gov_service_client_id')}}</span>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="errorClass('gov_service_client_secret')">
                                    <label for="gov_service_client_secret" class="col-md-2 control-label bold">{{'gov_service_client_secret'| translate}}</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control text-right" id="gov_service_client_secret" name="gov_service_client_secret"
                                               placeholder="{{'gov_service_client_secret'| translate}}"  ng-model="settings.gov_service_client_secret">
                                        <span class="help-block" ng-show="form.gov_service_client_secret.$invalid && form.gov_service_client_secret.$dirty">{{errorMessage('gov_service_client_secret')}}</span>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="errorClass('gov_service_expires_in')">
                                    <label for="gov_service_expires_in" class="col-md-2 control-label bold">{{'gov_service_expires_in'| translate}}</label>
                                    <div class="col-md-7">
                                        <input type="datetime-local" class="form-control text-right" id="gov_service_expires_in" name="gov_service_expires_in"
                                               placeholder="{{'gov_service_expires_in'| translate}}" readonly ng-model="settings.gov_service_expires_in">
                                        <span class="help-block" ng-show="form.gov_service_expires_in.$invalid && form.gov_service_expires_in.$dirty">{{errorMessage('gov_service_expires_in')}}</span>
                                    </div>
                                </div>

                                <div class="form-group" ng-class="errorClass('gov_service_client_authorization')">
                                    <label for="gov_service_client_authorization" class="col-md-2 control-label bold">{{'gov_service_client_authorization'| translate}}</label>
                                    <div class="col-md-7">
                                         <textarea class="form-control text-right"
                                                   id="gov_service_client_authorization"
                                                   name="gov_service_client_authorization"
                                                   readonly
                                                   ng-model="settings.gov_service_client_authorization"
                                                   rows="10"
                                                   placeholder="{{'gov_service_client_authorization'| translate}}">
                                         </textarea>
                                        <span class="help-block" ng-show="form.gov_service_client_authorization.$invalid && form.gov_service_client_authorization.$dirty">{{errorMessage('gov_service_client_authorization')}}</span>
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
<!--                                    <button type="button"  ng-click="resetApiToken()" class="btn yellow-saffron"> <span class="fa fa-yellow-saffron"></span> <span>{{'reset_gov_service_client_authorization'| translate}}</span></button>-->
                                    <button type="button"  ng-click="submit()" class="btn blue"><span> <span class="fa fa-save"></span> {{'Save'| translate}}</span></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
