<style>
    .read-msg{
        background: #f9f9f9!important;
    }

    .not-read-msg{
        background: #ffffff!important;
    }
</style>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'Notifications'| translate}}
    </li>
</ul>
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">

                    <h3>
                        <span class="fa fa-bell"></span>
                       <span> {{'Notifications' | translate}}</span>
                    </h3>
                </div>


            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <div class="row" style="padding: 2%;">
                        <div class="table-scrollable" ng-show="items.length > 0 "  >
                            <table class="table table-hover">
                                <thead>
                                <tr  style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">

                                    <td class="inbox-small-cells text-center bold" style="width: 140px;"> {{'Sender' | translate}}</td>
                                    <td class="view-message text-center bold" style="padding-right:20px;"> {{'message' | translate}}  </td>
                                    <td class="view-message text-center bold" style="width: 120px;"> {{'date' | translate}} </td>
                                    <td class="view-message text-center bold" style="width: 120px;"> {{'Time' | translate}} </td>
                                </tr>
                                </thead>
                                <tr dir-paginate="(index, x) in items |orderBy:sortKey:reverse|filter:_search|itemsPerPage:null"
                                    ng-class="{'not-read-msg': x.status == 1, 'bold read-msg':x.status == 0}"
                                    ng-click="read(x)"
                                    style="cursor: pointer !important;">
                                    <td  class="text-center bold" style="vertical-align: middle;">{{x.usr_name}}</td>
                                    <td  class="text-center bold" style="vertical-align: middle;">{{ x.message }}</td>
                                    <td  class="text-center bold" style="vertical-align: middle;">
                                        <span title="{{x.created_at| date :'yyyy-M-d'}}">  {{x.created_at| date :'yyyy-M-d'}} </span>
                                    </td>
                                    <td class="text-center bold" style="vertical-align: middle;">
                                        <span title=" {{x.pm + ' '+ x.time}}"> {{x.pm + ' '+ x.time}}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div  ng-show="items.length <= 0 "  class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                            <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                            </div>
                        </div>
                        <div class="row" ng-show="items.length > 0 "  >
                            <ul class="pagination pagination-sm pull-right"  max-size="maxSize"  uib-pagination ng-change="pageChanged()" boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
