<div class="modal-header" style="  padding:4%; ">
    <h4 class="modal-title bold text-center"> {{'duplicate' | translate }}{{'Social Search' | translate }} </h4>
</div>
<div class="modal-body">
    <form name="form"  novalidate="" role="form" class="text-center" style="padding: 2%;">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : form.title.$invalid && !form.title.$pristine }">
                        <label class="control-label  bold ">  {{'Social Search Title' | translate }}  <span class="required" aria-required="true"> * </span></label>
                        <input type="text" class="form-control"  ng-change="msg1.title = [ ]" ng-model="row.title" ng-required="true" name="title"
                               placeholder="{{'Social Search Title' | translate }} "  />
                        <span class="font-red-pink bold help-inline" ng-show="form.title.$error.required && form.title.$touched">
                                            {{'required_field' | translate }}
                    </span>
                        <span ng-repeat="(error, errortext) in msg1.title" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.title' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : form.status.$invalid && !form.status.$pristine }">
                        <label class="control-label bold">  {{'search_status'| translate}} <span class="required" aria-required="true"> * </span> </label>
                        <select class="form-control" ng-init="" ng-change="msg1.status = [ ]" ng-model="row.status" ng-required="true" name="status">
                            <option disabled selected value > --  {{'search_status'| translate}}   -- </option>
                            <option value="1">  {{'draft'| translate}} </option>
                            <option value="2">  {{'inProgress'| translate}} </option>
                            <option value="2">  {{'finished_'| translate}} </option>
                        </select>
                        <span class="text-danger bold help-inline" ng-show="form.status.$error.required && form.status.$touched">
                            {{'required_field'| translate}}
                        </span>
                        <span ng-repeat="(error, errortext) in msg1.status" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.status' != [ ]" >
                                 {{ errortext.toString() }}
                        </span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : form.category_id.$invalid && !form.category_id.$pristine }">
                        <label class="control-label bold">  {{'category_name'| translate}} <span class="required" aria-required="true"> * </span> </label>
                        <ui-select name="category_id" ng-model="row.category_id" ng-change="msg1.category_id = [ ]" ng-required="true"theme="bootstrap"
                                   class="text-right" >
                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in aidCategories_ | filter: $select.search">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="text-danger bold help-inline" ng-show="form.category_id.$error.required && form.category_id.$touched">
                            {{'required_field'| translate}}
                        </span>
                        <span ng-repeat="(error, errortext) in msg1.category_id" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.category_id' != [ ]" >
                                 {{ errortext.toString() }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label bold">   {{'search_date_from' | translate }} <span class="required" aria-required="true"> * </span></label>
                        <div  class="input-group">
                            <input type="text" class="form-control"
                                   uib-datepicker-popup="{{format}}"
                                   ng-model="row.date_from"
                                   datepickerPopup
                                   name="date_from"
                                   required
                                   ng-change="compareDateRange($event,1,'start',row.date_from,row.date_to)"
                                   is-open="popup[1].opened" datepicker-options="dateOptions1"
                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                            <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-disabled="id != null"
                                                                                ng-click="open(1,$event)">
                                                                                        </button>
                                                                    </span>
                        </div>
                        <span class="font-red-pink bold help-inline" ng-show="form.date_from.$error.required && form.date_from.$touched">
                                            {{'required_field' | translate }}
                    </span>
                        <span ng-repeat="(error, errortext) in msg1.date_from" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.date_from' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label bold">   {{'search_date_to' | translate }} <span class="required" aria-required="true"> * </span> </label>
                        <div  class="input-group">
                            <input type="text" class="form-control"
                                   uib-datepicker-popup="{{format}}"
                                   ng-model="row.date_to"
                                   datepickerPopup
                                   name="date_to"
                                   required
                                   ng-change="compareDateRange($event,1,'end',row.date_from,row.date_to)"
                                   is-open="popup[2].opened" datepicker-options="dateOptions2"
                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                            <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-disabled="id != null"
                                                                                ng-click="open(2,$event)">
                                                                                        </button>
                                                                    </span>
                        </div>
                        <span class="font-red-pink bold help-inline" ng-show="form.date_to.$error.required && form.date_to.$touched">
                                            {{'required_field' | translate }}
                    </span>
                        <span ng-repeat="(error, errortext) in msg1.date_to" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.date_to' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                    <div class="form-group" ng-class="{ 'has-error' : form.notes.$invalid && !form.notes.$pristine }">
                        <label class="control-label bold">   {{'notes' | translate }} </label>
                        <textarea ng-model="row.notes"
                                  name="notes"
                                  placeholder="{{'notes' | translate }}"
                                  ng-change="msg1.notes = [ ]"
                                  class="form-control"
                                  rows="4">
                    </textarea>
                        <span ng-repeat="(error, errortext) in msg1.notes" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.notes' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirm(row)" ng-disabled="form.$invalid" type="button" ><span>{{'save'| translate}}</span></button>
    <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
</div>


