    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'Dashboard' | translate}}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li> {{'Manage_Repository' | translate}}
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i> </li>
        <li>
            <span>  {{'Share_Settings' | translate}}</span>
            <i ng-if="organization.name" class="glyphicon glyphicon-menu-right"></i>
        </li>

        <li class="active" ng-if=" organization.name && lang=='ar'" >{{organization.name}}</li>
        <li class="active" ng-if=" organization.name && lang=='en'" >{{organization.en_name}}</li>
    </ul>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="font-dark"></i>
                        <h3>
                            <i class="glyphicon glyphicon-cog"></i>
                            <span> {{'Share_Settings' | translate}}</span>
                            <span ng-if="organization.name"> / </span>
                            <span ng-if=" organization.name && lang=='ar'" >{{organization.name}}</span>
                            <span ng-if=" organization.name && lang=='en'" >{{organization.en_name}}</span>
                        </h3>
                    </div>
                    <div class="actions" style="padding-top: 30px;">
                        <div class="clearfix">
                            <a type="button" href="#/aid-repository/organizations/{{organization.parent_id}}"
                               ng-if="organization.parent_id && id != 1" class="btn  blue">
                                <span class="fa fa-backward"></span>
                                <span class="hidden-sm hidden-md  hidden-xs">{{'back' | translate}}</span>
                            </a>

                        </div>
                    </div>
                    </div>
                                            <div class="portlet-body">
                                                <div class="row" style="padding: 2%;">
                                                    <div class="table-scrollable" ng-if="organization.descendants_ratio.length > 0" >
                                                        <table class="table table-striped table-bordered table-checkable order-column text-center" >
                                                            <thead>
                                                            <tr  style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                                                <th class="text-center">{{'#'| translate}}</th>
                                                                <th  class="text-center">{{'Name'| translate}}</th>
                                                                <th class="text-center col-md-2">{{'Ratio_' | translate}}</th>
                                                                <th class="text-center"></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="entry in organization.descendants_ratio">
                                                                <td class="text-center">{{$index+1}}</td>
                                                                <td class="text-center">{{entry.name}}</td>
                                                                <td class="text-center">
                                                                    <div class="input-group">
                                                                        <input type="text"
                                                                               ng-model="entry.container_share" decimal-numbers
                                                                               maxlength="5"
                                                                               class="form-control text-center input-sm"
                                                                               ng-blur="adjust($index,entry.container_share)" >

                                                                        <span class="input-group-addon"> % </span>
                                                                    </div>

                                                                </td>
                                                                <td class="text-center">

                                                                    <a type="button" href="#/aid-repository/organizations/{{entry.id}}"
                                                                       ng-if="entry.descendants_.length > 0" class="btn btn-sm green-turquoise" style="width: 80% !important;">
                                                                        <span class="fa fa-folder-open"></span>
                                                                        <span class="hidden-sm hidden-md  hidden-xs">{{'child_ratio' | translate}}</span>
                                                                    </a>
                                                                </td>

                                                            </tr>
                                                            <tr>
                                                                <td colspan="2" class="text-center bold" style="background-color: #f3f3f3!important; color: #337ab7;  height:40px; line-height: 40px; font-size: 15px; ; ">{{'total ratio'| translate}}</td>
                                                                <td ng-class=" total_container_share > 100 ? 'text-center bg-red-pink font-white' : ' text-center '"
                                                                > {{total_container_share}} </td>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <td colspan="2" style="color: white !important;"> - </td>
                                                                <td class="text-center">
                                                                    <button type="button" ng-click="save()" class="btn blue" style="width: 100% !important;">
                                                                        <span class="fa fa-save"></span>
                                                                        <span>{{'Save' | translate}}</span>
                                                                    </button>
                                                                </td>
                                                                <td></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div  ng-show="organization.descendants_ratio.length <= 0 "  class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                                                        <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                <span>
                                                                    {{'there is no data to show'| translate}}
                                                                </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
