<!-- BEGIN MAIN CONTENT -->
<style>

    #transfer-doughnut {
        background-color:#f0fff9  !important;
        padding:20px;
        height: 240px !important;
        width: 100% !important;
    }


    #bar {
        background-color:#fff6e3  !important;
        padding:20px;
        height: 250px !important;
        width: 100% !important;
    }


    #pie {
        background-color:#cbe7ff  !important;
        /*background-color: #f0f0f0 !important;*/
        padding:20px;
        height: 550px !important;
        width: 100% !important;
    }

    .chart-legend, .bar-legend, .line-legend, .pie-legend, .radar-legend, .polararea-legend, .pie-legend  {
        list-style-type: none;
        border-top: 1px solid #cecece !important;
        background: #eaf5ff  !important;
        margin-top: 0 !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-weight: bold !important;
    }

    .chart-legend li, .bar-legend li, .line-legend li, .pie-legend li,.doughnut-legend li,
     .radar-legend li, .polararea-legend li, .pie-legend li  .doughnut-legend li {
        display: inline-block!important;
        position: relative!important;
        margin-bottom: 4px!important;
        border-radius: 5px!important;
        padding: 2px 31px 2px 28px!important;
        font-size: 12px !important;
        cursor: default!important;
        width: 25% !important;
        text-align: right!important;
    }


    .doughnut-legend {
        list-style-type: none;
        border-top: 1px solid #cecece !important;
        background-color:#f0fff9  !important;
        margin-top: 0 !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-weight: bold !important;
    }

    .doughnut-legend li{
        display: inline-block!important;
        position: relative!important;
        margin-bottom: 4px!important;
        border-radius: 5px!important;
        padding: 2px 31px 2px 28px!important;
        font-size: 12px !important;
        cursor: default!important;
        width: 50% !important;
        text-align: right!important;
    }
     .chart-legend, .bar-legend, .line-legend, .pie-legend, .radar-legend, .polararea-legend, .pie-legend {
         list-style-type: none!important;
         border-top: 1px solid #cecece !important;
         background: #eaf5ff  !important;
         margin-top: 0 !important;
         padding-top: 10px !important;
         padding-bottom: 10px !important;
         font-weight: bold !important;
     }

    .bar-legend{
        list-style-type: none!important;
        border-top: 1px solid #cecece !important;
        background-color:#fff6e3  !important;
        margin-top: 0 !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-weight: bold !important;
    }
    .chart-legend li span, .bar-legend li span, .line-legend li span, .pie-legend li span,  .bar-legend li span,  .doughnut-legend li span,
    .radar-legend li span, .polararea-legend li span, .pie-legend li span, .bar-legend li span , .doughnut-legend li span {
        display: block;
        position: absolute;
        right: 0 !important;
        top: 0;
        width: 20px;
        height: 100%;
        border-radius: 5px;
    }

    .bar-legend li {
        width: 50% !important;
    }

    .chart-legend li span, .bar-legend li span, .line-legend li span, .pie-legend li span, .radar-legend li span, .polararea-legend li span, .pie-legend li span {
        border: 1px solid #000509 !important;
    }
</style>
<div>
    <!--ng-controller="DashboardController"-->
  <!-- BEGIN DASHBOARD STATS -->

    <div class="row">
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12  text-right"  style=" margin-bottom: 20px;">
            <div class="clearfix">
                <div uib-tooltip="{{'Add_Casess_form'| translate}}"
                     class="btn-group btn-group-solid"  uib-dropdown ng-show="can('aid.case.create')">
                    <button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false" ng-disabled="disabled">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span  class="hidden-sm hidden-md  hidden-xs">{{'Add_Casess_form'| translate}}</span>
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        <li ng-repeat="choice in aidCategories_">
                            <a ng-href="#/aids/caseform/{{choice.FirstStep}}/{{choice.id}}/new/" class="iconify">
                                <i class="glyphicon glyphicon-plus"></i> {{choice.name}}</a>
                        </li>
                    </ul>
                </div>

                <div uib-tooltip="{{'add new'| translate}}"
                     class="btn-group btn-group-solid"  uib-dropdown ng-show="can('aid.case.create')">
                    <button type="button" class="btn grey-cascade dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog"></span>
                        <span  class="hidden-sm hidden-md  hidden-xs">{{'add new'| translate}}</span>
                        <span class="glyphicon glyphicon-menu-down"></span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">

                        <li>
                            <!--style="background-color: #fff0f1;color: #e43a45;"-->
                            <a ng-if="can('auth.users.create')" class=" bold"
                               href="#/auth/users/new" target="_blank">
                                <span class="glyphicon glyphicon-plus  bold "></span>
                                <span  class="hidden-sm hidden-md  hidden-xs">{{'USER_CREATED'| translate}}</span>
                            </a>
                        </li>
                        <li ng-if="can('auth.suggestion.manage')">
                            <a uib-tooltip="{{'compose'| translate}}"
                               class=" bold" href="#/suggestions/add" target="_blank">
                                <span class="fa fa-lightbulb-o  bold"></span>
                                <span class="hidden-sm hidden-md  hidden-xs"> {{'add-suggestion'| translate}} </span>
                            </a>
                        </li>
                        <li>
                            <a href="#/maillingSystem/compose" class="  bold" target="_blank">
                                <span class="glyphicon glyphicon-envelope  bold "></span>
                                <span class="hidden-sm hidden-md  hidden-xs"> {{ 'new message' | translate}}</span>
                            </a>
                        </li>
                    </ul>
                </div>


                <a href="#/sms/sent-sms"  target="_blank" class="btn btn-md yellow-saffron"  ng-if="can('sms.smsProviders.sentSms')">
                    <span class="glyphicon glyphicon-envelope"></span>
                    <span class="hidden-sm hidden-md  hidden-xs"> {{'send sms'| translate}}</span>
                </a>

                <button type="button" class="btn red-pink" ng-click="checkOldCard()">
                    <span class="fa fa-refresh"></span>
                    <span class="hidden-sm hidden-md  hidden-xs"> {{'check_id_card_update'| translate}}</span>
                </button>
            </div>
        </div>
    </div>
    <!--<div class="row">-->
        <!--<div class="col-lg-12  col-md-12 col-sm-12 col-xs-12"  style=" margin-bottom: 20px;">-->
            <!--<div class="col-lg-3  col-md-3 col-sm-12 col-xs-12  ">-->
                <!--<div class="dashboard-stat dashboard-stat-v2"-->
                     <!--style="margin: 0 0 20px 0;padding: 25px 0 25px 0;-->
                        <!--border: 2px solid #31a2da !important; border-radius: 4px 0 0 4px;-->
                        <!--background-color: #e1f5ff;-->
                        <!--color: #31a2da !important; min-height: 180px !important;"-->
                <!--&gt;-->
                    <!--<div class="col-md-12 col-sm-12 col-xs-12 text-left">-->
                    <!--<span style="font-size: 13px; font-weight: bolder;" >-->
                        <!--<span style="font-size: 13px;">-->

                            <!--عليك تسجيل الخروج في كل مرة تريد اغلاق البرنامج أو اغلاق المتصفح لانتهاء عملك ، حتى تتمكن من الدخول مرة أخرى للنطام "حيث أن اغلاقك للمتصفح لا يعني انهاء جلسة العمل الخاصة بك"-->
                     <!--</span>-->
                    <!--</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--<div class="col-lg-3  col-md-3 col-sm-12 col-xs-12  ">-->
            <!--<div class="dashboard-stat dashboard-stat-v2"-->
                 <!--style="margin: 0 0 20px 0;padding: 25px 0 25px 0;-->
                        <!--border: 2px solid #26c281 !important; border-radius: 4px 0 0 4px;-->
                        <!--background-color: #edfeff;color: #26c281 !important; min-height: 180px !important;">-->
                <!--<div class="col-md-12 col-sm-12 col-xs-12 text-left">-->
                <!--<span style="color: #26c281 !important; font-size: 13px; font-weight: bolder;" >-->
                    <!--<span style="font-size: 13px;">-->
<!--يجب عليك التأكد من قراءة كافة المراسلات الواردة في النظام أولا بأول وإلا لن تتمكن من العمل على النظام إلا إذا اتممت قرائتها " حيث أنه سيتم إعادة توجيهك بشكل مستمر للمراسلات"-->
                 <!--</span>-->
                <!--</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-3  col-md-3 col-sm-12 col-xs-12  ">-->
            <!--<div class="dashboard-stat dashboard-stat-v2"-->
                 <!--style="margin: 0 0 20px 0;padding: 25px 0 25px 0;-->
                        <!--border: 2px solid #f4d03f;border-radius: 4px 0 0 4px;-->
                        <!--background-color: #fff3c0;color: #b59928; min-height: 180px !important;">-->
                <!--<div class="col-md-12 col-sm-12 col-xs-12 text-left">-->
                 <!--<span style="color: #b59928 !important; font-size: 13px; font-weight: bolder;" >-->
                    <!--<span style="font-size: 13px;">-->
                         <!--يجب أن تكون صيغة التاريخ في ملفات الاكسل الخاصة باستيراد البيانات كالتالي ( شهر/ يوم/سنة ) - <span style="font-size: 15px;">(month/day/year)</span> من اليسار لليمين-->
                        <!--<span style="font-size: 14px;">(11/29/2020)</span>-->
                 <!--</span>-->

                <!--</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="col-lg-3  col-md-3 col-sm-12 col-xs-12  ">-->
            <!--<div class="dashboard-stat dashboard-stat-v2"-->
                 <!--style="-->
                        <!--margin: 0 0 20px 0;-->
                        <!--padding: 10px 0 0 0;-->
                        <!--border: 2px solid #e43a45;-->
                        <!--border-radius: 4px 0 0 4px;-->
                        <!--background-color: #fff0f1;-->
                        <!--color: #e43a45;-->
                        <!--min-height: 180px !important;-->
                        <!--">-->
                <!--<div class="col-md-12 col-sm-12 col-xs-12 text-left">-->
                 <!--<span style="font-size: 13px; font-weight: bolder;" >-->
                    <!--<span style="font-size: 13px;">-->

                         <!--في حال اضافة حالات او مستفيدين قسائم او غيرها من العمليات لحاملي بطاقة التعريف وجب التأكد من أن بطاقة التعريف لم يتم تحديثها برقم جديد وفي حال تم التحديث يجب استخدام الرقم الجديد-->
                    <!--&lt;!&ndash;<button type="button" class="btn red-pink btn-xs" ng-click="checkOldCard()">&ndash;&gt;-->
                        <!--&lt;!&ndash;&lt;!&ndash;<span class="fa fa-check-square"></span>&ndash;&gt;&ndash;&gt;-->
                        <!--&lt;!&ndash;<span> {{'to check click here'| translate}}</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;</button>&ndash;&gt;-->
                    <!--</span>-->

                <!--</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--</div>-->


    <div class="row">
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12  ">
            <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12  ">
                <div class="dashboard-stat dashboard-stat-v2"
                     style="margin: 0 0 10px 0;padding: 15px 0 15px 0;
                        border: 2px solid #e43a45;
                        border-radius: 4px 0 0 4px;
                        background-color: #fff0f1;
                        color: #e43a45;

                          min-height: 60px !important;"
                >
                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                    <span style="font-size: 13px; font-weight: bolder;" >
                        <span style="font-size: 13px;">

                            عليك تسجيل الخروج في كل مرة تريد اغلاق البرنامج أو اغلاق المتصفح لانتهاء عملك ، حتى تتمكن من الدخول مرة أخرى للنطام "حيث أن اغلاقك للمتصفح لا يعني انهاء جلسة العمل الخاصة بك"
                     </span>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12"  style=" margin-bottom: 20px;">
            <div class="col-lg-7  col-md-7 col-sm-12 col-xs-12" style="margin-top: 20px;">
                <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" style="padding: 0 !important;">
                    <div class="dashboard-stat dashboard-stat-v2"
                         style="
                        margin: 0 0 10px 0;padding: 20px 0 20px 0;
                        border-radius: 4px 0 0 4px;
                        min-height: 65px !important;
                        border: 2px solid #31a2da !important;
                        background-color: #e1f5ff;
                        color: #31a2da !important;
                        ">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                 <span style="font-size: 13px; font-weight: bolder;" >
                    <span style="font-size: 13px;">

                         في حال اضافة حالات او مستفيدين قسائم او غيرها من العمليات لحاملي بطاقة التعريف وجب التأكد من أن بطاقة التعريف لم يتم تحديثها برقم جديد وفي حال تم التحديث يجب استخدام الرقم الجديد
                        <!--<button type="button" class="btn red-pink btn-xs" ng-click="checkOldCard()">-->
                        <!--&lt;!&ndash;<span class="fa fa-check-square"></span>&ndash;&gt;-->
                        <!--<span> {{'to check click here'| translate}}</span>-->
                        <!--</button>-->
                    </span>

                </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" style="padding: 0 !important;">
                    <div class="dashboard-stat dashboard-stat-v2"
                         style=" margin: 0 0 10px 0;padding: 20px 0 20px 0;
                        border: 2px solid #26c281 !important; border-radius: 4px 0 0 4px;
                        background-color: #edfeff;color: #26c281 !important; min-height: 65px !important;">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                <span style="color: #26c281 !important; font-size: 13px; font-weight: bolder;" >
                    <span style="font-size: 13px;">
يجب عليك التأكد من قراءة كافة المراسلات الواردة في النظام أولا بأول وإلا لن تتمكن من العمل على النظام إلا إذا اتممت قرائتها " حيث أنه سيتم إعادة توجيهك بشكل مستمر للمراسلات"
                 </span>
                </span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" style="padding: 0 !important;">
                    <div class="dashboard-stat dashboard-stat-v2"
                         style=" margin: 0 0 10px 0;padding: 20px 0 20px 0;
                        border: 2px solid #f4d03f;border-radius: 4px 0 0 4px;
                        background-color: #fff3c0;color: #b59928; min-height: 65px !important;">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                 <span style="color: #b59928 !important; font-size: 13px; font-weight: bolder;" >
                    <span style="font-size: 13px;">
                         يجب أن تكون صيغة التاريخ في ملفات الاكسل الخاصة باستيراد البيانات كالتالي ( شهر/ يوم/سنة ) - <span style="font-size: 15px;">(month/day/year)</span> من اليسار لليمين
                        <span style="font-size: 14px;">(11/29/2020)</span>
                 </span>

                </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5  col-md-5 col-sm-12 col-xs-12  ">
                <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" v-if="transfers_canvas" style="
                    border: 1px solid #e2e2e2;
                    border-radius: 10px !important;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin-bottom: 10px;">
                    <canvas id="transfer-doughnut" options="transfersOptions"
                            class="chart chart-doughnut chart-xs ng-isolate-scope"
                            data="transfersData" labels="transfersLabels" colours="transfersColours"
                            legend="true"></canvas>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12"  style=" margin-bottom: 20px;">
                <div class="col-lg-7  col-md-7 col-sm-12 col-xs-12  ">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12" style="padding: 0 !important;">
                        <div class="dashboard-stat dashboard-stat-v2"
                             style="
                                    margin: 0 0 10px 0;
                                    padding: 20px 0 20px 0;
                                    border-radius: 4px 0 0 4px;
                                    height: 330px !important;
                                    border: 2px solid #feffff !important;
                                    background-color: #f6fcff;
                                    color: #31a2da !important;
                                    ">

                            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">-->
                                <!--<a class="dashboard-stat dashboard-stat-v2 red-pink" href="#/maillingSystem/inbox">-->
                                    <!--<div class="visual">-->
                                        <!--<i class="glyphicon glyphicon-envelope"></i>-->
                                    <!--</div>-->
                                    <!--<div class="details">-->
                                        <!--<div class="number"> {{unread_message}} </div>-->
                                        <!--<div class="desc"> المراسلات غير المقروءة </div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</div>-->

                        </div>
                    </div>
                </div>
                <div class="col-lg-5  col-md-5 col-sm-12 col-xs-12  ">
                    <div class="col-lg-12  col-md-12 col-sm-12 col-xs-12  "v-if="sponsorship_canvas" style="
                        border: 1px solid #e2e2e2;
                        border-radius: 10px !important;
                        padding-top: 10px;
                        padding-bottom: 10px;
                         margin-bottom: 10px;">
                        <canvas id="bar" class="chart chart-bar chart-xs ng-isolate-scope"
                                data="barData" colours="barColours"
                                labels="barlabels" legend="true"
                                series="barSseries"></canvas>
                    </div>
                </div>
            </div>
    <div class="row" ng-if="aid.length > 0">
        <div class="col-lg-10 col-lg-offset-1
                    col-md-10 col-md-offset-1 col-sm-12 col-xs-12  text-center">
            <h3 class="bold" style="color: #005179   !important; border: 1px solid #cecece !important; background: #eaf5ff !important;margin: 0;padding: 26px;">
                <span class="icon-support" style=" font-size: 25px !important;"></span>
                قسائم المساعدات حسب التصنيف
            </h3>
            <canvas id="pie" options="options"
                    class="chart chart-pie chart-xs ng-isolate-scope"
                    data="data" labels="labels" colours="colours"
                    legend="true"></canvas>
        </div>
    </div>

    <!--<div class="row" ng-show="aid.length > 0">-->
        <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
            <!--<div class="portlet light bordered ">-->
                <!--<div class="portlet-title">-->
                    <!--<div class="caption caption-md">-->
                        <!--<h4 class="bold" style="color: #31a2da   !important;">-->
                            <!--<i class="icon-bar-chart"></i>-->
                            <!--{{'Voucher_Category' | translate}}-->
                        <!--</h4>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="portlet-body">-->
                    <!--<div class="col-lg-2  col-md-2 col-sm-12 col-xs-12  " ng-repeat="item in aid" style="padding-bottom: 2px;padding-right: 2px;padding-left: 2px;">-->
                        <!--<div class="card text-center"-->
                             <!--style="padding: 5px !important;background: #e1f5ff  !important;border-radius: 5px !important;border: 1px solid #31a2da !important;">-->
                            <!--<h5 class="card-header bold" style="color: #31a2da !important;">{{item.category_name-->
                                <!--}} </h5>-->
                            <!--<div class="card-body">-->
                                <!--<h4 class="card-text bold" style="color: #31a2da !important;border-top: 1px solid #31a2da !important;padding-top: 5px !important;"> {{item.persons}} </h4>-->
                            <!--</div>-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->


</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->
<script>
    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS -->