<div class="modal-body">
    <form name="frm"  novalidate="" role="form" class="text-center" style="padding: 5%;">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group ">
                    <label class=" control-label bold">{{'user_name'| translate}}<span class="required" aria-required="true"> * </span></label>
                    <ui-select
                            ng-model='row.user'
                            ng-required="true"
                            theme="bootstrap"
                            class="text-right" >
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item.id as item in users | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="frm.$invalid" ng-click="confirm(per_user)" type="button" ><span>{{'save'| translate}}</span></button>
    <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
</div>

