<div class="modal-header" style="  padding:4%; ">
    <h4 class="modal-title bold text-center"> {{'administrative report' | translate }} </h4>
</div>
<div class="modal-body">
    <form name="form"  novalidate="" role="form" class="text-center" style="padding: 2%;">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error' : form.title.$invalid && !form.title.$pristine }">
                        <label class="control-label  bold ">  {{'report_title' | translate }}  <span class="required" aria-required="true"> * </span></label>
                        <input type="text" class="form-control"  ng-change="msg1.title = [ ]" ng-model="row.title" ng-required="true" name="title"
                               placeholder="{{'report_title' | translate }} "  />
                        <span class="font-red-pink bold help-inline" ng-show="form.title.$error.required && form.title.$touched">
                                            {{'required_field' | translate }}
                    </span>
                        <span ng-repeat="(error, errortext) in msg1.title" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.title' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group ">
                        <label class=" control-label bold">{{'organization_name_target'| translate}}<span class="required" aria-required="true"> * </span></label>
                        <multiselect  ng-model="row.organizations"
                                      ng-if="organizations" ng-required="true"
                                      options="organizations" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                        </multiselect>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4">
                    <div class="form-group" ng-class="{ 'has-error' : form.month.$invalid && !form.month.$pristine }">
                        <label class="control-label bold">  {{'report_month'| translate}}  <span class="required" aria-required="true"> * </span></label>
                        <ui-select ng-change="msg1.month = [ ]" ng-model="row.month" ng-required="true" name="month" theme="bootstrap" class="text-right" >
                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="y.id as y in months | filter: $select.search">
                                <div ng-bind-html="y.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="text-danger bold help-inline" ng-show="form.month.$error.required && form.month.$touched">
                            {{'required_field'| translate}}
                        </span>
                        <span ng-repeat="(error, errortext) in msg1.month" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.month' != [ ]" >
                                 {{ errortext.toString() }}
                        </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" ng-class="{ 'has-error' : form.year.$invalid && !form.year.$pristine }">
                        <label class="control-label bold">  {{'report_year'| translate}}<span class="required" aria-required="true"> * </span> </label>
                        <ui-select ng-change="msg1.year = [ ]" ng-model="row.year" ng-required="true"
                                   name="year"
                                   theme="bootstrap"
                                   class="text-right" >
                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="y.id as y in years | filter: $select.search">
                                <div ng-bind-html="y.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="text-danger bold help-inline" ng-show="form.year.$error.required && form.year.$touched">
                    {{'required_field'| translate}}
                </span>
                        <span ng-repeat="(error, errortext) in msg1.year" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.year' != [ ]" >
                         {{ errortext.toString() }}
                </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" ng-class="{ 'has-error' : form.status.$invalid && !form.status.$pristine }">
                        <label class="control-label bold">  {{'report_status'| translate}} <span class="required" aria-required="true"> * </span> </label>
                        <select class="form-control" ng-init="" ng-change="msg1.status = [ ]" ng-model="row.status" ng-required="true" name="status">
                            <option disabled selected value > --  {{'report_status'| translate}}   -- </option>
                            <option value="1">  {{'Active'| translate}} </option>
                            <option value="2">  {{'Inactive'| translate}} </option>
                        </select>
                        <span class="text-danger bold help-inline" ng-show="form.status.$error.required && form.status.$touched">
                            {{'required_field'| translate}}
                        </span>
                        <span ng-repeat="(error, errortext) in msg1.status" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.status' != [ ]" >
                                 {{ errortext.toString() }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4">
                    <div class="form-group" ng-class="{ 'has-error' : form.type.$invalid && !form.type.$pristine }">
                        <label class="control-label  bold ">  {{'report_type' | translate }}  <span class="required" aria-required="true"> * </span></label>
                        <select class="form-control" ng-change="msg1.type = [ ]" name="type" ng-model='row.type' ng-required="true">
                            <option disabled selected value > --  {{'report_type' | translate }}  -- </option>
                            <option  value="1" > {{'Annual' | translate }} </option>
                            <option  value="2" > {{'mid Annual' | translate }} </option>
                            <option  value="3" > {{'quarter Annual' | translate }} </option>
                            <option  value="4" > {{'monthly' | translate }} </option>
                            <option  value="5" > {{'urgent' | translate }} </option>
                        </select>

                        <span class="font-red-pink bold help-inline" ng-show="form.type.$error.required && form.type.$touched">
                                            {{'required_field' | translate }}
                    </span>
                        <span ng-repeat="(error, errortext) in msg1.type" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.type' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label bold">   {{'report_date_from' | translate }} <span class="required" aria-required="true"> * </span></label>
                        <div  class="input-group">
                            <input type="text" class="form-control"
                                   uib-datepicker-popup="{{format}}"
                                   ng-model="row.date_from"
                                   datepickerPopup
                                   name="date_from"
                                   required
                                   ng-change="compareDateRange($event,1,'start',row.date_from,row.date_to)"
                                   is-open="popup[1].opened" datepicker-options="dateOptions1"
                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                            <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-disabled="id != null"
                                                                                ng-click="open(1,$event)">
                                                                                        </button>
                                                                    </span>
                        </div>
                        <span class="font-red-pink bold help-inline" ng-show="form.date_from.$error.required && form.date_from.$touched">
                                            {{'required_field' | translate }}
                    </span>
                        <span ng-repeat="(error, errortext) in msg1.date_from" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.date_from' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label bold">   {{'report_date_to' | translate }} <span class="required" aria-required="true"> * </span> </label>
                        <div  class="input-group">
                            <input type="text" class="form-control"
                                   uib-datepicker-popup="{{format}}"
                                   ng-model="row.date_to"
                                   datepickerPopup
                                   name="date_to"
                                   required
                                   ng-change="compareDateRange($event,1,'end',row.date_from,row.date_to)"
                                   is-open="popup[2].opened" datepicker-options="dateOptions2"
                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                            <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-disabled="id != null"
                                                                                ng-click="open(2,$event)">
                                                                                        </button>
                                                                    </span>
                        </div>
                        <span class="font-red-pink bold help-inline" ng-show="form.date_to.$error.required && form.date_to.$touched">
                                            {{'required_field' | translate }}
                    </span>
                        <span ng-repeat="(error, errortext) in msg1.date_to" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.date_to' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                    </div>
                    </div>
                </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4">
                    <div class="form-group" ng-class="{ 'has-error' : form.category.$invalid && !form.category.$pristine }">
                        <label class="control-label  bold ">  {{'report_category' | translate }}  <span class="required" aria-required="true"> * </span></label>
                        <select class="form-control" ng-change="msg1.category = [ ]" name="category" ng-model='row.category' ng-required="true">
                            <option disabled selected value > --  {{'report_category' | translate }}  -- </option>
                            <option  value="1" > {{'center_' | translate }} </option>
                            <option  value="2" > {{'custom' | translate }} </option>
                        </select>

                        <span class="font-red-pink bold help-inline" ng-show="form.category.$error.required && form.category.$touched">
                                            {{'required_field' | translate }}
                    </span>
                        <span ng-repeat="(error, errortext) in msg1.category" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.category' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                    <div class="form-group" ng-class="{ 'has-error' : form.notes.$invalid && !form.notes.$pristine }">
                        <label class="control-label bold">   {{'notes' | translate }} </label>
                            <textarea ng-model="row.notes"
                                      name="notes"
                                      placeholder="{{'notes' | translate }}"
                                      ng-change="msg1.notes = [ ]"
                                      class="form-control"
                                      rows="4">
                    </textarea>
                        <span ng-repeat="(error, errortext) in msg1.notes" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.notes' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirm(row)" ng-disabled="form.$invalid" type="button" ><span>{{'save'| translate}}</span></button>
    <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
</div>

