<div class="modal-header" style="  padding:4%; ">
    <h4 class="modal-title bold text-center"> {{'tab_data' | translate }} </h4>
</div>
<div class="modal-body">
    <form name="form"  novalidate="" role="form" class="text-center" style="padding: 2%;">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-12 col-xs-12 text-left">
                    <div class="form-group">
                        <label class="control-label  bold ">  {{'tab_title' | translate }}  </label>
                        <input type="text" class="form-control" ng-model="row_.title" name="title" disabled style="background: white !important;"/>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 text-left">
                    <div class="form-group">
                        <label class="control-label  bold ">  {{'tab_type' | translate }}</label>
                        <span  class="form-control"ng-if="row_.type == 1 || row_.type =='1'" > {{'only text' | translate }} </span>
                        <span  class="form-control"ng-if="row_.type == 2 || row_.type =='2'" > {{'only number' | translate }} </span>
                        <span  class="form-control"ng-if="row_.type == 3 || row_.type =='3'" > {{'only number' | translate }} </span>
                        <span  class="form-control" ng-if="row_.type == 4 || row_.type =='4'" > {{'custom' | translate }} </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                    <div class="form-group">
                        <label class="control-label bold">   {{'description' | translate }} </label>
                        <textarea ng-model="row_.description" name="description"
                                  disabled style="background: white" class="form-control"
                                  rows="4">
                    </textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn red-pink"  ng-click="cancel()"> <span>{{'close'| translate}}</span> </button>
</div>

