<div class="modal-header" style="  padding:4%; ">
    <h4 class="modal-title bold text-center"> {{'administrative report' | translate }} </h4>
</div>
<div class="modal-body">
    <form name="form"  novalidate="" role="form" class="text-center" style="padding: 2%;">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label  bold ">  {{'report_title' | translate }}  </label>
                        <input type="text" class="form-control text-center"  ng-model="row.title" readonly style="background: white!important;" name="title"  />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class=" control-label bold">{{'organization_name_target'| translate}}</label>
                        <div class="btn-group form-control" uib-dropdown>
                            <a id="single-button" type="button" class="btn btn-xs "
                               style="width: 100%; border: white !important; color: black !important;" uib-dropdown-toggle ng-disabled="disabled">
                                <span class=""> {{'organizations count' | translate}}  ( {{row.organizations_data.length}} ) </span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu fixed_dropdown"
                                uib-dropdown-menu role="menu" aria-labelledby="split-button"  style="min-width: 135px;min-height:190px;overflow-y: scroll;margin-right: -40%;">
                                <li ng-repeat="item_ in row.organizations_data">
                                    <a>
                                        {{ item_.name}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label bold">  {{'report_month'| translate}}  </label>
                        <span class="form-control text-center"  > {{months[row.month - 1 ].name}}</span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label bold">  {{'report_year'| translate}}</label>
                        <span class="form-control text-center"  > {{ row.year}} </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label bold">  {{'report_status'| translate}} </label>
                        <span class="form-control text-center"  ng-if=" row.status == 1 || row.status == '1' " > {{'Active' | translate }} </span>
                        <span class="form-control text-center"  ng-if=" row.status == 2 || row.status == '2' " > {{'Inactive' | translate }} </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label  bold ">  {{'report_type' | translate }}  </label>
                        <span class="form-control text-center"  ng-if=" row.type == 1 || row.type == '1' " > {{'Annual' | translate }} </span>
                        <span class="form-control text-center"  ng-if=" row.type == 2 || row.type == '2' " > {{'mid Annual' | translate }} </span>
                        <span class="form-control text-center"  ng-if=" row.type == 3 || row.type == '3' " > {{'quarter Annual' | translate }} </span>
                        <span class="form-control text-center"  ng-if=" row.type == 4 || row.type == '4' " > {{'monthly' | translate }} </span>
                        <span class="form-control text-center"  ng-if=" row.type == 5 || row.type == '5' " > {{'urgent' | translate }} </span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label bold">   {{'report_date_from' | translate }} </label>
                        <input type="text" class="form-control text-center"
                               uib-datepicker-popup="{{format}}"
                               ng-model="row.date_from"
                               datepickerPopup
                               name="date_from"
                               is-open="popup[1].opened" datepicker-options="dateOptions1"
                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly style="background: white!important;"  />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label bold">   {{'report_date_to' | translate }} </label>
                        <input type="text" class="form-control text-center"
                               uib-datepicker-popup="{{format}}"
                               ng-model="row.date_to"
                               datepickerPopup
                               name="date_to"
                               is-open="popup[2].opened" datepicker-options="dateOptions2"
                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly style="background: white!important;"  />
                    </div>
                    </div>
                </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label  bold ">  {{'report_category' | translate }}  </label>
                        <span class="form-control text-center"  ng-if=" row.category == 1 || row.category == '1' " > {{'center_' | translate }} </span>
                        <span class="form-control text-center"  ng-if=" row.category == 2 || row.category == '2' " > {{'custom' | translate }} </span>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                    <div class="form-group">
                        <label class="control-label bold">   {{'notes' | translate }} </label>
                            <textarea ng-model="row.notes" name="notes" readonly style="background: white!important;"
                                      class="form-control text-center" rows="4">
                    </textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn red-pink"  ng-click="cancel()"> <span>{{'close'| translate}}</span> </button>
</div>

