<div class="modal-header" style="  padding:4%; ">
    <h4 class="modal-title bold text-center"> {{'tab_data' | translate }} </h4>
</div>
<div class="modal-body">
    <form name="form"  novalidate="" role="form" class="text-center" style="padding: 2%;">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                    <div class="form-group" ng-class="{ 'has-error' : form.title.$invalid && !form.title.$pristine }">
                        <label class="control-label  bold ">  {{'tab_title' | translate }}  <span class="required" aria-required="true"> * </span></label>
                        <input type="text" class="form-control" ng-change="msg1.title = [ ]" ng-model="row_.title" ng-required="true" name="title"
                               placeholder="{{'report_title' | translate }} "  />
                        <span class="font-red-pink bold help-inline" ng-show="form.title.$error.required && form.title.$touched">
                                            {{'required_field' | translate }}
                    </span>
                        <span ng-repeat="(error, errortext) in msg1.title" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.title' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                    <div class="form-group" ng-class="{ 'has-error' : form.tab_order.$invalid && !form.tab_order.$pristine }">
                        <label class="control-label  bold ">  {{'order' | translate }}  <span class="required" aria-required="true"> * </span></label>
                        <input type="text" class="form-control"  only-numbers ng-change="msg1.tab_order = [ ]" ng-model="row_.tab_order" ng-required="true" name="tab_order"
                               placeholder="{{'order' | translate }} "  />
                        <span class="font-red-pink bold help-inline" ng-show="form.tab_order.$error.required && form.tab_order.$touched">
                                            {{'required_field' | translate }}
                    </span>
                        <span ng-repeat="(error, errortext) in msg1.tab_order" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.tab_order' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                    <div class="form-group" ng-class="{ 'has-error' : form.notes.$invalid && !form.notes.$pristine }">
                        <label class="control-label bold">   {{'description' | translate }} </label>
                        <textarea ng-model="row_.description"
                                  name="description"
                                  placeholder="{{'description' | translate }}"
                                  ng-change="msg1.notes = [ ]"
                                  class="form-control"
                                  rows="4">
                    </textarea>
                        <span ng-repeat="(error, errortext) in msg1.notes" class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.description' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirm(row_)" ng-disabled="form.$invalid" type="button" ><span>{{'save'| translate}}</span></button>
    <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
</div>

