<div class="modal-header" style="  padding:4%; ">
    <h4 class="modal-title bold text-center"> {{'columns' | translate }} </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" >
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12 add-button">
                        <button uib-tooltip="{{'New'| translate}}"
                                ng-if="(row.is_mine == 1 || row.is_mine == '1') && (row.data_status != 3 && row.data_status != '3')"
                                type="button" ng-click="create_column()" class="btn btn-sm btn-action  pull-left blue" style="margin-bottom: 2%;">
                            <span  class="hidden-sm hidden-md  hidden-xs">{{'new'| translate}}</span>
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                    <div ng-if="showForm" class="col-md-12 col-sm-12 col-xs-12 text-center"
                         style="
                                     margin-bottom: 1%; padding: 3% 1% 3% 1%;  box-sizing: border-box;
                                    border-radius: 10px !important;
                                     border: 1px #77b8e6 solid;
                                     background-color: #f1f4f7;
                                   ">
                        <form id="form_" name="form_" novalidate="" role="form">
                            <div class="col-md-12 col-sm-12 col-xs-12  ">
                                <h4 class="bold modal-title text-center" ng-show="action == 1">{{'New' | translate }}</h4>
                                <h4 class="bold modal-title text-center" ng-show="action != 1">{{'edit' | translate }}</h4>
                                <hr style="border-top :1px solid #cbdadc">
                                <div class="col-md-12  col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : form_.name.$invalid && !form_.name.$pristine }">
                                            <label class="control-label bold">  {{'element_name_english'| translate}}  <span class="required" aria-required="true"> * </span></label>
                                            <input type="text" class="form-control" only-alphabet ng-change="msg1.name = [ ]"  ng-model="item.name" ng-required="true" name="name"
                                                   placeholder="{{'element_name_english'| translate}} "  />
                                            <span class="text-danger bold help-inline" ng-show="form_.name.$error.required && form_.name.$touched">
                                                {{'required_field'| translate}}
                                            </span>
                                            <span ng-repeat="(error, errortext) in msg1.name" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.name' != [ ]" >
                                                     {{ errortext.toString() }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : form_.label.$invalid && !form_.label.$pristine }">
                                            <label class="control-label bold">  {{'element_label'| translate}}  <span class="required" aria-required="true"> * </span></label>
                                            <input type="text" class="form-control" ng-change="msg1.label = [ ]"
                                                   ng-model="item.label" ng-required="true" name="label"
                                                   placeholder="{{'element_label'| translate}} "  />
                                            <span class="text-danger bold help-inline" ng-show="form_.label.$error.required && form_.label.$touched">
                                                {{'required_field'| translate}}
                                            </span>
                                            <span ng-repeat="(error, errortext) in msg1.label" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.label' != [ ]" >
                                                     {{ errortext.toString() }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12  col-sm-12 col-xs-12">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : form_.priority.$invalid && !form_.priority.$pristine }">
                                            <label class="control-label bold">  {{'element_priority'| translate}} <span class="required" aria-required="true"> * </span> </label>
                                            <select class="form-control" ng-init="" class="form-control" ng-change="msg1.priority = [ ]"
                                                    ng-model="item.priority" ng-required="true" name="priority">
                                                <option disabled selected value > --  {{'element_priority'| translate}}   -- </option>
                                                <option value="1" ng-selected="item.priority == 1 || item.priority == '1' ">  {{'required' | translate}} </option>
                                                <option value="2" ng-selected="item.priority == 2 || item.priority == '2' ">  {{'optional' | translate}} </option>
                                            </select>
                                            <span class="text-danger bold help-inline" ng-show="form_.priority.$error.required && form_.priority.$touched">
                                        {{'required_field'| translate}}
                                    </span>
                                            <span ng-repeat="(error, errortext) in msg1.priority" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.priority' != [ ]" >
                                             {{ errortext.toString() }}
                                    </span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group" ng-class="{ 'has-error' : form_.type.$invalid && !form_.type.$pristine }">
                                            <label class="control-label bold">  {{'element_type'| translate}}  <span class="required" aria-required="true"> * </span></label>
                                            <select class="form-control" ng-init="" name="type"
                                                    ng-disabled="(row.data_status == 3 || row.data_status == '3')"
                                                    ng-change="checkType(item.type)" ng-model="item.type" ng-required="true">
                                                <option disabled selected value > --  {{'element_type'| translate}}   -- </option>
                                                <option ng-repeat="option_ in options_" value="{{option_.id}}" ng-value="{{option_.id}}"
                                                        ng-selected="item.type == {{option_.id}} || item.type == '{{option_.id}}'" >
                                                    {{option_.name}}
                                                </option>
                                            </select>
                                            <span class="text-danger bold help-inline" ng-show="form_.type.$error.required && form_.type.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                            <span ng-repeat="(error, errortext) in msg1.type" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.type' != [ ]" >
                                                 {{ errortext.toString() }}
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12  col-sm-12 col-xs-12"  ng-show="has_option">
                                    <div class="col-md-10 col-md-offset-1 col-sm-12  col-xs-12"
                                         style=" padding: 2%; border: solid 1px #cbdae8;    box-sizing: border-box;
                                                         background-color: #f3f3f3!important;border-radius: 2%; ">
                                        <div class="col-md-12  col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <label class="control-label bold">   {{'option_label'| translate}} </label>
                                                <div class="form-group" ng-class="{ 'has-error' : frmsms.option_label.$invalid && !frmsms.option_label.$pristine }">
                                                    <input type="text"
                                                           class="form-control"
                                                           name="option_label"
                                                           ng-model="option.label"
                                                           placeholder="{{'enter option'| translate}}"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-12 col-xs-12">
                                                <label class="control-label bold">   {{'option_value'| translate}} </label>
                                                <div class="form-group" ng-class="{ 'has-error' : frmsms.option_value.$invalid && !frmsms.option_value.$pristine }">
                                                    <input type="text"
                                                           class="form-control"
                                                           name="option_value"
                                                           ng-model="option.value"
                                                           placeholder="{{'enter option value'| translate}}"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12  col-sm-12 col-xs-12">
                                            <div class="col-md-6 col-md-offset-3  col-sm-12  col-xs-12">
                                                <!--option.weight =='' ||-->
                                                <button
                                                        type="button"
                                                        ng-disabled="option.label =='' || option.value ==''"
                                                        ng-show="!option.id"
                                                        ng-click="newOption(option)"
                                                        class="btn btn-primary" style="margin-bottom: 2%; width: 100%">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                    <span class="hidden-md hidden-sm hidden-xs"> {{'New'| translate}}</span>
                                                </button>
                                                <!--option.weight =='' ||-->
                                                <button type="button"
                                                        ng-disabled="option.label =='' || option.value ==''"
                                                        ng-show="option.id"ng-click="ConfirmEditOption(option)" class="btn btn-primary"
                                                        style="margin-bottom: 2%; width: 100%"><span class="fa fa-edit"></span>
                                                    <span class="hidden-md hidden-sm hidden-xs">{{'edit'| translate}}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12  col-sm-12 col-xs-12" style="margin-top: 2%;">
                                        <div class="table-scrollable" ng-show="Options.length > 0 "  >
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                                <thead>
                                                <tr  style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">
                                                    <th class="text-center" > #  </th>
                                                    <th class="text-center" > {{'option_label'| translate}} </th>
                                                    <th class="text-center" > {{'option_value'| translate}} </th>
                                                    <!--<th class="text-center" > {{'option_weight'| translate}} </th>-->
                                                    <th class="text-center" > {{'operations'| translate}} </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="op in Options">
                                                    <td>{{ $index }}</td>
                                                    <td>{{op.label}}</td>
                                                    <td>{{op.value}}</td>
                                                    <!--<td>{{op.weight}}</td>-->
                                                    <td>
                                                        <button class="btn btn-xs font-blue " ng-click="editOption($index)" style="background-color: transparent">
                                                            <span class="fa fa-pencil"></span>
                                                        </button>
                                                        <button ng-if="(row.data_status != 3 && row.data_status != '3')"
                                                                class="btn btn-xs font-red-pink"ng-click="removeOption($index)" style="background-color: transparent">
                                                            <span class="fa fa-remove"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-2 col-md-offset-5 col-sm-12 col-xs-12 " style="padding: 0%;">
                                        <div class="clearfix pull-left">
                                            <button uib-tooltip="{{'Save'| translate}}" type="button"
                                                    ng-disabled="form_.$invalid" class="btn btn-sm btn-action  blue"  ng-click="save_column(item)">
                                                <i class="fa fa-save"></i>
                                                <span>{{'Save'| translate}}</span>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-action  red-pink "  ng-click="cancel_column()">
                                                <i class="fa fa-times"></i>
                                                <span>{{'cancel'| translate}}</span>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="table-scrollable" ng-show="columns.length > 0 "  >
                        <!-- BEGIN TABLE -->
                        <table  id="tbl_columns"  class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                            <thead>
                            <tr  style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">
                                <th class="text-center"> {{'#'| translate}} </th>
                                <th class="text-center">{{'element_label'| translate}}</th>
                                <th class="text-center">{{'element_name_english'| translate}}</th>
                                <th class="text-center">{{'type'| translate}}</th>
                                <th class="text-center">{{'element_priority'| translate}}</th>
                                <th class="text-center" ng-if="row.is_mine == 1 || row.is_mine == '1'"> {{'operations'| translate}} </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in columns">
                                <td>{{ ( $index +1)}}</td>
                                <td>{{ x.label }}</td>
                                <td>{{ x.name }}</td>
                                <td >
                                    <span ng-show="x.type==1">  {{'element_type_number_integer'| translate}} </span>
                                    <span ng-show="x.type==2">  {{'element_type_number_decimal'| translate}} </span>
                                    <span ng-show="x.type==3">  {{'element_type_text'| translate}} </span>
                                    <span ng-show="x.type==4"> {{'element_type_textarea'| translate}}</span>
                                    <span ng-show="x.type==5"> {{'element_type_select'| translate}}</span>
                                    <span ng-show="x.type==6"> {{'element_type_date'| translate}}</span>
                                </td>
                                <td>
                                    <span class="font-red-pink bold help-inline" ng-show="x.priority==1"> {{'mandatory' | translate }} </span>
                                    <span class="text-success bold help-inline" ng-show="x.priority==2"> {{'optional' | translate }}</span>
                                </td>
                                <td  ng-if="row.is_mine == 1 || row.is_mine == '1'">
                                    <span uib-tooltip="{{'edit'| translate}}"  type="button" class="btn btn-xs bold font-blue fa fa-edit"
                                          style=" font-size: medium; background-color: transparent"
                                          ng-click="edit_column(x,$index)">

                                    </span>
                                    <span  ng-if="(row.data_status != 3 && row.data_status != '3')"  uib-tooltip="{{'delete'| translate}}" type="button"
                                          class="btn btn-xs bold font-red-pink  fa fa-remove"
                                          style="font-size: medium; background-color: transparent"
                                          ng-click="delete_column(x.id)">
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- END TABLE -->
                    </div>
                </div>
                <div  class="col-md-12 col-sm-12 col-xs-12 text-center"  ng-show="!columns || columns.length == 0">
                    <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
</div>

