<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3" >
            <div class="form-group ">
                <label class="control-label bold">{{'card_number' | translate }}</label>
                <span class=" font-red-pink bold help-inline">({{'mandatory' | translate }})</span>
                <input type="text" ng-change="isExists('mother',mother.id_card_number)"
                       ng-disabled='disable_'
                       class="form-control" minlength="9"
                       numeric-only maxlength="9" ng-model="mother.id_card_number"  name="id_card_number"
                       required
                />

                <span ng-repeat="(error, errortext) in msg2.id_card_number"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.id_card_number' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
            </div>
        </div>
        <div class="col-md-3" ng-if="mpriority.card_type !=1">
            <div class="form-group">
                <label class="control-label bold">   {{'card_type' | translate }} </label>
                <span class=" text-success bold help-inline" ng-if="mpriority.card_type ==2"> ({{'optional' | translate }})</span>
                <span class=" text-success bold help-inline" ng-if="mpriority.card_type ==3"> ({{'advisable' | translate }})</span>
                <span class=" font-red-pink bold help-inline" ng-if="mpriority.card_type ==4"> ({{'mandatory' | translate }})</span>
                <select class="form-control"
                        ng-init=""
                        ng-change="msg1.card_type = [ ]"
                        name="card_type"
                        ng-model='mother.card_type'
                        ng-required="mpriority.card_type ==4"
                >
                    <option disabled selected value > --  {{'card_type' | translate }}  -- </option>
                    <option value="1">  {{'id_card' | translate }} </option>
                    <option value="2">  {{'id_number' | translate }} </option>
                    <option value="3">  {{'passport' | translate }} </option>
                </select>

                <span ng-repeat="(error, errortext) in msg1.card_type"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg1.card_type' != [ ]" >
                                       {{ errortext.toString() }}
                                     </span>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3" ng-show="mpriority.name!=1">
            <div class="form-group">
                <label class="control-label bold">{{'the_first_name_in_arabic' | translate }}</label>
                <span  class=" text-success bold help-inline" ng-if="mpriority.name==3">({{'advisable' | translate }})</span>
                <span  class=" text-success bold help-inline" ng-if="mpriority.name==2">({{'optional' | translate }})</span>
                <span  class=" font-red-pink bold help-inline" ng-if="mpriority.name==4">({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" ng-model="mother.first_name"
                       name="first_name" ng-required="mpriority.name==4"  readonly arabic-alphabet  ng-change="msg2.first_name = [ ]" />
                <span ng-repeat="(error, errortext) in msg2.first_name"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.first_name' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="mpriority.name!=1">
            <div class="form-group ">
                <label class="control-label bold">
                    {{'the_father_name_in_arabic' | translate }}
                </label>
                <span class=" text-success bold help-inline" ng-if="mpriority.name==3">({{'advisable' | translate }})</span>
                <span class=" text-success bold help-inline" ng-if="mpriority.name==2">({{'optional' | translate }})</span>
                <span class=" font-red-pink bold help-inline" ng-if="mpriority.name==4">({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" ng-model="mother.second_name"  name="second_name"
                       ng-required="mpriority.name==4"  readonly arabic-alphabet  ng-change="msg2.second_name = [ ]"/>
                <span ng-repeat="(error, errortext) in msg2.second_name"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.second_name' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="mpriority.name!=1">
            <div class="form-group">
                <label class="control-label bold">
                    {{'the_grandfather_name_in_arabic' | translate }}
                </label>
                <span  class=" text-success bold help-inline" ng-if="mpriority.name==3">({{'advisable' | translate }})</span>
                <span  class=" text-success bold help-inline" ng-if="mpriority.name==2">({{'optional' | translate }})</span>
                <span  class=" font-red-pink bold help-inline" ng-if="mpriority.name==4">({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" ng-model="mother.third_name"  name="third_name"
                       ng-required="mpriority.name==4"  readonly arabic-alphabet  ng-change="msg2.third_name = [ ]"/>
                <span ng-repeat="(error, errortext) in msg2.third_name"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.third_name' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="mpriority.name!=1">
            <div class="form-group ">
                <label class="control-label bold ">
                    {{'the_family_name_in_arabic' | translate }}
                </label>
                <span  class=" text-success bold help-inline" ng-if="mpriority.name==3">({{'advisable' | translate }})</span>
                <span class=" text-success bold help-inline"  ng-if="mpriority.name==2">({{'optional' | translate }})</span>
                <span  class=" font-red-pink bold help-inline" ng-if="mpriority.name==4">({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" ng-model="mother.last_name"  name="last_name"
                       ng-required="mpriority.name==4"  readonly arabic-alphabet ng-change="msg2.last_name = [ ]"/>
                <span ng-repeat="(error, errortext) in msg2.last_name"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.last_name' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3" ng-show="mpriority.en_name!=1">
            <div class="form-group">
                <label class="control-label bold">{{'the_first_name_in_english' | translate }}</label>
                <span  class=" text-success bold help-inline" ng-if="mpriority.en_name==3">({{'advisable' | translate }})</span>
                <span  class=" text-success bold help-inline" ng-if="mpriority.en_name==2">({{'optional' | translate }})</span>
                <span  class=" font-red-pink bold help-inline" ng-if="mpriority.en_name==4">({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" ng-model="mother.en_first_name"  name="en_first_name"
                       ng-required="mpriority.en_name==4"  english-alphabet ng-change="msg2.en_first_name = [ ]"/>
                <span ng-repeat="(error, errortext) in msg2.en_first_name"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.en_first_name' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="mpriority.en_name!=1">
            <div class="form-group ">
                <label class="control-label bold">
                    {{'the_father_name_in_english' | translate }}
                </label>
                <span  class=" text-success bold help-inline" ng-if="mpriority.en_name==3">({{'advisable' | translate }})</span>
                <span  class=" text-success bold help-inline" ng-if="mpriority.en_name==2">({{'optional' | translate }})</span>
                <span  class=" font-red-pink bold help-inline" ng-if="mpriority.en_name==4">({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" ng-model="mother.en_second_name"  name="en_second_name"
                       ng-required="mpriority.en_name==4"  english-alphabet ng-change="msg2.en_second_name = [ ]"/>
                <span ng-repeat="(error, errortext) in msg2.en_second_name"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.en_second_name' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="mpriority.en_name!=1">
            <div class="form-group">
                <label class="control-label bold">
                    {{'the_grandfather_name_in_english' | translate }}
                </label>
                <span  class=" text-success bold help-inline" ng-if="mpriority.en_name==3">({{'advisable' | translate }})</span>
                <span  class=" text-success bold help-inline" ng-if="mpriority.en_name==2">({{'optional' | translate }})</span>
                <span  class=" font-red-pink bold help-inline" ng-if="mpriority.en_name==4">({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" ng-model="mother.en_third_name"  name="en_third_name"
                       ng-required="mpriority.en_name==4"  english-alphabet ng-change="msg2.en_third_name = [ ]"/>
                <span ng-repeat="(error, errortext) in msg2.en_third_name"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.en_third_name' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="mpriority.en_name!=1">
            <div class="form-group ">
                <label class="control-label bold">
                    {{'the_family_name_in_english' | translate }}
                </label>
                <span  class=" text-success bold help-inline" ng-if="mpriority.en_name==3">({{'advisable' | translate }})</span>
                <span  class=" text-success bold help-inline" ng-if="mpriority.en_name==2">({{'optional' | translate }})</span>
                <span  class=" font-red-pink bold help-inline" ng-if="mpriority.en_name==4">({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" ng-model="mother.en_last_name"  name="en_last_name"
                       ng-required="mpriority.en_name==4"  english-alphabet ng-change="msg2.en_last_name = [ ]"/>
                <span ng-repeat="(error, errortext) in msg2.en_last_name"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.en_last_name' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3" ng-show="mpriority.mother_prev_family_name!=1" >
            <div class="form-group">
                <label class="control-label bold">{{'prev_family_name' | translate }}</label>
                <span  class=" text-success bold help-inline" ng-if="mpriority.mother_prev_family_name==3">({{'advisable' | translate }})</span>
                <span  class=" text-success bold help-inline" ng-if="mpriority.mother_prev_family_name==2">({{'optional' | translate }})</span>
                <span  class=" font-red-pink bold help-inline" ng-if="mpriority.mother_prev_family_name==4">({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" ng-model="mother.prev_family_name"  name="prev_family_name"
                       ng-required="mpriority.mother_prev_family_name==4" ng-change="msg2.prev_family_name = [ ]"/>
                <span ng-repeat="(error, errortext) in msg2.prev_family_name"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.prev_family_name' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="mpriority.mother_nationality!=1" >
            <div class="form-group">
                <label class="control-label bold">{{'the_nationality' | translate }}</label>
                <span  class=" text-success bold help-inline" ng-if="mpriority.mother_nationality==3">({{'advisable' | translate }})</span>
                <span  class=" text-success bold help-inline" ng-if="mpriority.mother_nationality==2">({{'optional' | translate }})</span>
                <span  class=" font-red-pink bold help-inline" ng-if="mpriority.mother_nationality==4">({{'mandatory' | translate }})</span>
                <div class="input-group">
                    <ui-select  name="nationality" ng-model="mother.nationality"
                                ng-required="mpriority.mother_nationality==4" ng-change="msg2.nationality = [ ]" theme="bootstrap"
                                class="text-right" >
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item.id as item in Country | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                                                                            <button type="button" ng-click="mother.nationality = undefined" class="btn btn-default">
                                                                                  <span class="glyphicon glyphicon-trash"></span>
                                                                            </button>
                                                                         </span>
                </div>
                <span ng-repeat="(error, errortext) in msg2.nationality"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.nationality' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="mpriority.birthday!=1">
            <div class="form-group">
                <label class="control-label bold"> {{'date_of_birth' | translate }}</label>
                <span  class=" text-success bold help-inline" ng-if="mpriority.birthday==3">({{'advisable' | translate }})</span>
                <span  class=" text-success bold help-inline" ng-if="mpriority.birthday==2">({{'optional' | translate }})</span>
                <span  class=" font-red-pink bold help-inline" ng-if="mpriority.birthday==4">({{'mandatory' | translate }})</span>
                <div> <!-- class="input-group" -->
                    <input type="text" class="form-control"  uib-datepicker-popup="{{format}}"
                           ng-model="mother.birthday" datepickerPopup
                           name="birthday"  ng-required="mpriority.birthday==4"
                           is-open="popup3.opened" datepicker-options="dateOptions"
                           ng-change="checkDates('mother','birthday',mother.birthday,mother.death_date)"
                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly />
<!--                    <span class="input-group-btn">-->
<!--                             <button type="button" class="btn btn-default" ng-click="open3($event)">-->
<!--                                 <i class="glyphicon glyphicon-calendar"></i>-->
<!--                             </button>-->
<!--                        </span>-->
                </div>
                <span ng-repeat="(error, errortext) in msg2.birthday"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.birthday' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="mpriority.mother_marital_status!=1">
            <div class="form-group">
                <label class="control-label bold">
                    {{'marital_status' | translate }}
                </label>
                <span class=" text-success bold help-inline" ng-if="mpriority.mother_marital_status==3">({{'advisable' | translate }})</span>
                <span class=" text-success bold help-inline"ng-if="mpriority.mother_marital_status==2">({{'optional' | translate }})</span>
                <span class=" font-red-pink bold help-inline"ng-if="mpriority.mother_marital_status==4">({{'mandatory' | translate }})</span>
                <div > <!-- class="input-group" -->
                    <ui-select  ng-model="mother.marital_status_id"  name="marital_status_id"
                                ng-required="mpriority.mother_marital_status==4" ng-change="msg2.marital_status_id = [ ]" theme="bootstrap"
                                class="text-right disabled" ng-disabled="true" >
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item.id as item in MaritalStatus | filter: $select.search" ng-disabled="true">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
<!--                    <span class="input-group-btn">-->
<!--                                                                <button type="button" ng-click="mother.marital_status_id = undefined" class="btn btn-default">-->
<!--                                                                      <span class="glyphicon glyphicon-trash"></span>-->
<!--                                                                </button>-->
<!--                                                             </span>-->
                </div>
                <span ng-repeat="(error, errortext) in msg2.marital_status_id"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.marital_status_id' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>

            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3" ng-show="mpriority.alive!=1">
            <div class="form-group">
                <label class="control-label bold">{{'is_she_alive?' | translate }} </label>
                <span  class=" text-success bold help-inline" ng-if="mpriority.alive==3">({{'advisable' | translate }})</span>
                <span  class=" text-success bold help-inline" ng-if="mpriority.alive==2">({{'optional' | translate }})</span>
                <span  class=" font-red-pink bold help-inline" ng-if="mpriority.alive==4">({{'mandatory' | translate }})</span>

                <select class="form-control" ng-model="mother.alive"  name="alive" ng-required="mpriority.alive==4" ng-change="rest('alive','mother',mother.alive)">
                    <option disabled selected value>---{{'is_she_alive?' | translate }}---</option>

                    <option  value="0"  >{{'yes' | translate }}</option>
                    <option  value="1"  >{{'no' | translate }}</option>
                </select>
                <span ng-repeat="(error, errortext) in msg2.alive"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.alive' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="mpriority.mother_death_date!=1">
            <div class="form-group">
                <label class="control-label bold">{{'the_date_of_death' | translate }}</label>
                <span  class=" font-red-pink bold help-inline" ng-if=" mpriority.mother_death_date == 4 && mother.alive == '0'">({{'mandatory' | translate }})</span>
                <span  class=" text-success bold help-inline" ng-if="mpriority.mother_death_date == 3 && mother.alive == '0'">({{'advisable' | translate }})</span>
                <span  class=" text-success bold help-inline" ng-if="mpriority.mother_death_date == 2 && mother.alive == '0'">({{'optional' | translate }})</span>
<!--                <div class="input-group" >-->

                <input type="text" class="form-control"  uib-datepicker-popup="{{format}}"
                       ng-model="mother.death_date" datepickerPopup
                       name="death_date"
                       ng-required="mother.alive == 1 && mpriority.mother_death_date == 4"
                       ng-change="checkDates('mother','death_date',mother.birthday,mother.death_date)"
                       is-open="popup4.opened" datepicker-options="dateOptions"
                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"
                       readonly/>

<!--                    <span class="input-group-btn">-->
<!--                             <button type="button" class="btn btn-default" ng-click="open4($event)" ng-disabled="mother.alive != '1'">-->
<!--                                 <i class="glyphicon glyphicon-calendar"></i>-->
<!--                             </button>-->
<!--                        </span>-->
<!--                </div>-->
                <span ng-repeat="(error, errortext) in msg2.death_date"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.death_date' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="mpriority.mother_death_cause!=1">
            <div class="form-group">
                <label class="control-label bold"> {{'death_cause' | translate }}</label>
                <span  class=" font-red-pink bold help-inline" ng-if=" mpriority.mother_death_cause == 4 && mother.alive == '0'">({{'mandatory' | translate }})</span>
                <span  class=" text-success bold help-inline" ng-if="mpriority.mother_death_cause == 3 && mother.alive == '0'">({{'advisable' | translate }})</span>
                <span  class=" text-success bold help-inline" ng-if="mpriority.mother_death_cause == 2 && mother.alive == '0'">({{'optional' | translate }})</span>

                <div class="input-group">
                    <ui-select  ng-model="mother.death_cause_id"
                                name="death_cause_id"
                                ng-change="msg2.death_cause_id = [ ]"
                                ng-required="mother.alive == 1 && mpriority.mother_death_cause == 4"
                                ng-disabled="mother.alive != '1'"name="father_death_cause_id"
                                theme="bootstrap" class="text-right" >
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item.id as item in DeathCauses | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                                                                         <button type="button" ng-click="mother.death_cause_id = undefined" class="btn btn-default">
                                                                                  <span class="glyphicon glyphicon-trash"></span>
                                                                         </button>
                                                                     </span>
                </div>
                <span ng-repeat="(error, errortext) in msg2.death_cause_id"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.death_cause_id' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>

            </div>
        </div>
        <div class="col-md-3" ng-show="mpriority.working!=1">
            <div class="form-group">
                <label class="control-label bold">{{'is_she_working?' | translate }}</label>
                <span  class=" text-success bold help-inline" ng-if="mpriority.working==3">({{'advisable' | translate }})</span>
                <span  class=" text-success bold help-inline" ng-if="mpriority.working==2">({{'optional' | translate }})</span>
                <span  class=" font-red-pink bold help-inline" ng-if="mpriority.working==4">({{'mandatory' | translate }})</span>

                <select class="form-control" ng-model="mother.working"  name="working"
                        ng-required="mpriority.working==4" ng-change="rest('working','mother',mother.working)">
                    <option disabled selected value>---{{'is_she_working?' | translate }}---</option>
                    <option  value="1"  >{{'yes' | translate }}</option>
                    <option  value="2"  >{{'no' | translate }}</option>
                </select>
                <span ng-repeat="(error, errortext) in msg2.working"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.working' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3" >
            <div class="form-group">
                <label class="control-label bold">{{'work_type' | translate }}</label>
                <span class=" font-red-pink bold help-inline"ng-if="mother.working==1">({{'mandatory' | translate }})</span>

                <div class="input-group">
                    <ui-select ng-model="mother.work_job_id"  ng-disabled="mother.working != '1'"name="work_job_id"
                               ng-change="msg2.work_job_id = [ ]"
                               theme="bootstrap" class="text-right" >
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item.id as item in WorkJob | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                                                                <button type="button" ng-click="mother.work_job_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                </div>
                <span ng-repeat="(error, errortext) in msg2.work_job_id"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.work_job_id' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>

            </div>
        </div>
        <div class="col-md-3" >
            <div class="form-group">
                <label class="control-label bold">{{'work_location' | translate }}</label>
                <span class=" font-red-pink bold help-inline"ng-if="mother.working==1">({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" ng-model="mother.work_location" ng-disabled="mother.working != '1'"
                       name="work_location"
                       ng-change="msg2.work_location = [ ]"/>
                <span ng-repeat="(error, errortext) in msg2.work_location"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.work_location' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
            </div>
        </div>
        <div class="col-md-3" >
            <div class="form-group">
                <label class="control-label bold">{{'monthly_income' | translate }}</label>
                <span class=" font-red-pink bold help-inline"ng-if="mother.working==1">({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" ng-model="mother.monthly_income" ng-disabled="mother.working != '1'" decimal-numbers
                       name="monthly_income" decimal-numbers ng-change="msg2.monthly_income = [ ]" />
                <span ng-repeat="(error, errortext) in msg2.monthly_income"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.monthly_income' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="mpriority.study!=1">
            <div class="form-group">
                <label class="control-label bold">{{'is educational' | translate }}</label>
                <span class=" text-success bold help-inline" ng-if="mpriority.study ==2"> ( {{'optional' | translate }} )</span>
                <span class=" text-success bold help-inline" ng-if="mpriority.study ==3"> ( {{'advisable' | translate }} )</span>
                <span class=" font-red-pink bold help-inline" ng-if="mpriority.study ==4"> ({{'mandatory' | translate }})</span>
                <select class="form-control" ng-model="mother.study"  ng-change="rest('study','mother',mother.study)"   name="study"
                        ng-required="mpriority.study == 4">
                    <option disabled selected value > -- {{'select status'| translate}}  -- </option>
                    <option value="1">  {{'yes' | translate }} </option>
                    <option value="0">  {{'no' | translate }} </option>
                </select>
                <span ng-repeat="(error, errortext) in msg2.study"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.study' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>

            </div>

        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3" ng-show="mpriority.mother_stage!=1">
            <div class="form-group">
                <label class="control-label bold">{{'educational_level' | translate }}</label>
                <span  class=" text-success bold help-inline" ng-if="mpriority.mother_stage==3">({{'advisable' | translate }})</span>
                <span  class=" text-success bold help-inline" ng-if="mpriority.mother_stage==2">({{'optional' | translate }})</span>
                <span  class=" font-red-pink bold help-inline" ng-if="mpriority.mother_stage==4">({{'mandatory' | translate }})</span>

                <div class="input-group">
                    <ui-select
                            ng-model="mother.stage"  name="stage"
                            ng-required="mpriority.stage ==4 && mother.study == 1"
                            ng-disabled="mother.study != 1"  ng-change="msg2.stage = [ ]"
                            theme="bootstrap" class="text-right" >
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item.id as item in EduStages | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                                                                         <button type="button" ng-click="mother.stage = undefined" class="btn btn-default">
                                                                                  <span class="glyphicon glyphicon-trash"></span>
                                                                         </button>
                                                                     </span>
                </div>
                <span ng-repeat="(error, errortext) in msg2.stage"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.stage' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>

            </div>
        </div>
        <div class="col-md-3" ng-show="mpriority.specialization!=1">
            <div class="form-group ">
                <label class="control-label bold ">{{'Specialization' | translate }} </label>
                <span class=" text-success bold help-inline" ng-if="mpriority.specialization ==2"> ( {{'optional' | translate }} )</span>
                <span class=" text-success bold help-inline" ng-if="mpriority.specialization ==3"> ( {{'advisable' | translate }} )</span>
                <span class=" font-red-pink bold help-inline" ng-if="mpriority.specialization ==4"> ({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" ng-model="mother.specialization"
                       name="specialization"
                       ng-required="mpriority.specialization ==4 && mother.study == 1" ng-disabled="mother.study != 1" ng-change="msg2.specialization = [ ]" />
                <span ng-repeat="(error, errortext) in msg2.specialization"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.specialization' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="mpriority.mother_condition!=1">
            <div class="form-group">
                <label class="control-label bold"> {{'the_health_status' | translate }} </label>
                <span class=" text-success bold help-inline" ng-if="mpriority.mother_condition==3">({{'advisable' | translate }})</span>
                <span class=" text-success bold help-inline" ng-if="mpriority.mother_condition==2">({{'optional' | translate }})</span>
                <span class=" font-red-pink bold help-inline" ng-if="mpriority.mother_condition==4">({{'mandatory' | translate }})</span>
                <select class="form-control"
                        ng-model="mother.condition" name="condition" ng-disabled="mother.alive != 0" ng-required="mpriority.mother_condition==4"
                        ng-change="rest('health_status','mother',mother.condition)">
                    <option disabled selected value>{{'select_the_health_status' | translate }} </option>
                    <option value="1">{{'good' | translate }} </option>
                    <option value="2">{{'suffers_from_a_chronic_disease' | translate }}  </option>
                    <option value="3">{{'with_special_needs' | translate }} </option>


                      </select>
                <span ng-repeat="(error, errortext) in msg2.condition"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.condition' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>

            </div>
        </div>
        <div class="col-md-3" ng-show="mpriority.disease_id!=1">
            <div class="form-group" >
                <label class="control-label bold">  {{'the_type_of_disease' | translate }} </label>
                <span class=" text-success bold help-inline"  ng-if="mpriority.disease_id==3">({{'advisable' | translate }})</span>
                <span class=" text-success bold help-inline" ng-if="mpriority.disease_id==2">({{'optional' | translate }})</span>
                <span class=" font-red-pink bold help-inline" ng-if="mother.condition == 2 || mother.condition == 3 ">({{'mandatory' | translate }})</span>
                <div class="input-group">
                    <ui-select   ng-disabled="!(mother.condition == 2 || mother.condition == 3)"
                                 ng-model="mother.disease_id" ng-required="mother.condition == 2 || mother.condition == 3 "
                                 name="disease_id" ng-change="msg2.disease_id = [ ]"
                                 theme="bootstrap" class="text-right" >
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item.disease_id as item in Diseases | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                                                     <button type="button" ng-click="mother.disease_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                </div>
                <span ng-repeat="(error, errortext) in msg2.disease_id"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.disease_id' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>

            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div  class="col-md-12 col-sm-12 col-xs-12" ng-show="mpriority.details!=1" >
            <div class="form-group">
                <label class="control-label bold">
                    {{'disease_/_disability_details' | translate }}
                </label>
                <span class=" text-success bold help-inline" ng-if="mpriority.details==3">({{'advisable' | translate }})</span>
                <span class=" text-success bold help-inline" ng-if="mpriority.details==2">({{'optional' | translate }})</span>
                <span class=" font-red-pink bold help-inline" ng-if="mother.condition == 2 || mother.condition == 3 ">({{'mandatory' | translate }})</span>
                <!--<input type="text" class="form-control"-->
                       <!--ng-disabled="!(mother.condition == 2 || mother.condition == 3)"-->
                       <!--ng-model="mother.details" name="details"-->
                       <!--ng-required="mother.condition == 2 || mother.condition == 3 "-->
                       <!--ng-change="msg2.details = [ ]"/>-->

                <textarea class="form-control"
                          ng-disabled="!(mother.condition == 2 || mother.condition == 3)"
                          ng-model="mother.details" name="details"
                          ng-required="mother.condition == 2 || mother.condition == 3 "
                          ng-change="msg2.details = [ ]"
                          rows="5"
                          placeholder="{{'details'| translate}}">
                </textarea>

                <span ng-repeat="(error, errortext) in msg2.details"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg2.details' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
            </div>
        </div>

    </div>
</div>