<div class="modal-header" style="  padding:4%; ">
    <h4 style="" class="modal-title bold text-center">  {{'cases list'| translate}} </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12  margin-top-10" ng-if="can('reports.case.RelayCitizenRepository')">
            <div  ng-show="cases_list.length == 0"  class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                    <span> {{ 'not registered case' | translate}} </span>
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" ng-show="cases_list.length > 0">
                <thead>
                <tr style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">
                    <th class="text-center" > {{"#"| translate }}</th>
                    <th class="text-center" > {{"case_category_type"| translate }}</th>
                    <th class="text-center" > {{"organization name"| translate }}</th>
                    <th class="text-center" > {{"status"| translate }}</th>
                    <th class="text-center" > {{"visitor"| translate }}</th>
                    <th class="text-center" > {{"visited_at"| translate }}</th>
                    <th class="text-center"> {{"created_at"| translate }}</th>
                    <th class="text-center"> {{"operations"| translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in cases_list  | orderBy : ['created_date']" >
                    <td>{{ $index +1}}</td>
                    <td>{{ item.category_name }}</td>
                    <td>{{ item.organization_name }} </td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.visitor }}</td>
                    <td>{{ item.visited_at }}</td>
                    <td>{{ item.created_date }}</td>
                    <td>
                        <a  ng-show="item.category_type == 2 || item.category_type == '2'"
                            uib-tooltip="{{'show case data' | translate}}"
                            target="_blank"
                            href="#/aids/caseform/{{aidCategories_firstStep_map[item.category_id]}}/{{item.category_id}}/show/{{item.case_id}}"
                            class="btn btn-xs bold btn font-blue fa fa-eye" style="font-size: medium; background-color: transparent">
                        </a>

                        <a  ng-show="item.category_type == 1 || item.category_type == '1'"
                            uib-tooltip="{{'show case data' | translate}}"
                            target="_blank"
                            href="#/sponsorship/cases/show/{{item.case_id}}/"
                            class="btn btn-xs bold btn font-blue fa fa-eye" style="font-size: medium; background-color: transparent">
                        </a>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer" style="margin-top: 25px;">
    <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
</div>
