<div class="modal-header" style="  padding:4%; ">
    <h4 style="" class="modal-title bold text-center">  {{'health info'| translate}} </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label bold">   {{ 'MR_CODE' | translate}} </label>
                        <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row_.MR_CODE == null ? '-' :row_.MR_CODE}}</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label bold">   {{ 'LOC_NAME_AR' | translate}} </label>
                        <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row_.LOC_NAME_AR == null ? '-' :row_.LOC_NAME_AR}}</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label bold">   {{ 'MR_PATIENT_CD' | translate}} </label>
                        <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row_.MR_PATIENT_CD == null ? '-' :row_.MR_PATIENT_CD}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label bold">   {{ 'DOCTOR_NAME' | translate}} </label>
                        <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row_.DOCTOR_NAME == null ? '-' :row_.DOCTOR_NAME}}</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label bold">   {{ 'MR_CREATED_ON' | translate}} </label>
                        <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row_.MR_CREATED_ON == null ? '-' :row_.MR_CREATED_ON}}</p>
                    </div>
                </div>
<!--                <div class="col-md-3 col-sm-12 col-xs-12">-->
<!--                    <div class="form-group">-->
<!--                        <label class="control-label bold">   {{ 'HOS_CD' | translate}} </label>-->
<!--                        <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row_.HOS_CD == null ? '-' :row_.HOS_CD}}</p>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label bold">   {{ 'DREF_NAME_AR' | translate}} </label>
                        <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row_.DREF_NAME_AR == null ? '-' :row_.DREF_NAME_AR}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label bold">   {{ 'MR_DIAGNOSIS_AR' | translate}} </label>
                        <textarea class="form-control"
                                  name="MR_DIAGNOSIS_AR" readonly
                                  style="background: #ffffff !important;"
                                  ng-model="row_.MR_DIAGNOSIS_AR"
                                  ng-required="true"
                                  ng-show="!( row_.MR_DIAGNOSIS_AR == 'null' || row_.MR_DIAGNOSIS_AR == null ) "
                                  rows="15" ></textarea>
                        <p class="form-control text-center"
                           ng-show="( row_.MR_DIAGNOSIS_AR == 'null' || row_.MR_DIAGNOSIS_AR == null ) "
                           style="min-height: 34px !important;height: 251px !important;margin-top: 0;"> - </p>

                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label bold">   {{ 'MR_DIAGNOSIS_EN' | translate}} </label>
                        <textarea class="form-control" readonly
                                  name="MR_DIAGNOSIS_EN"
                                  ng-model="row_.MR_DIAGNOSIS_EN"
                                  ng-show="!( row_.MR_DIAGNOSIS_EN == 'null' || row_.MR_DIAGNOSIS_EN == null ) "
                                  ng-required="true"
                                  style="background: #ffffff !important;"
                                  rows="15" ></textarea>
                        <p class="form-control text-center"
                           ng-show="( row_.MR_DIAGNOSIS_EN == 'null' || row_.MR_DIAGNOSIS_EN == null ) "
                           style="min-height: 34px !important;height: 251px !important;margin-top: 0;"> - </p>

                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label bold">   {{ 'MR_COMPLAINT' | translate}} </label>
                        <textarea class="form-control"
                                  name="MR_COMPLAINT" readonly
                                  style="background: #ffffff !important;"
                                  ng-show="!( row_.MR_COMPLAINT == 'null' || row_.MR_COMPLAINT == null ) "
                                  ng-model="row_.MR_COMPLAINT"
                                  ng-required="true"
                                  rows="15" ></textarea>
                        <p class="form-control text-center"
                           ng-show="( row_.MR_COMPLAINT == 'null' || row_.MR_COMPLAINT == null ) "
                           style="min-height: 34px !important;height: 251px !important;margin-top: 0;"> - </p>

                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label bold">   {{ 'MR_EXAMINATION' | translate}} </label>
                        <textarea class="form-control"
                                  name="MR_EXAMINATION" readonly
                                  style="background: #ffffff !important;"
                                  ng-show="!( row_.MR_EXAMINATION == 'null' || row_.MR_EXAMINATION == null ) "
                                  ng-model="row_.MR_EXAMINATION"
                                  ng-required="true"
                                  rows="15" ></textarea>
                        <p class="form-control text-center"
                           ng-show="( row_.MR_EXAMINATION == 'null' || row_.MR_EXAMINATION == null ) "
                           style="min-height: 34px !important;height: 251px !important;margin-top: 0;"> - </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" style="margin-top: 25px;">
    <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
</div>
