<form name="frm" class="inbox-compose form-horizontal" ng-controller="MaillingController" method="POST"
      enctype="multipart/form-data" ng-submit="compose(row)">
   <div class="inbox-compose-btn">
		<button type="submit" class="btn blue"  ng-disabled="frm.$invalid" >
            <i class="fa fa-check"></i>
           <span> {{'send' | translate}}</span>
        </button>
		<button class="btn" ng-click="cancel()">
            <span> {{'close' | translate}}</span></button>
	</div>


    <multiselect  ng-model="row.users_to" ng-if="options.users"
                  options="options.users"      show-search="true" id-prop="id" display-prop="name" search-limit="10">
    </multiselect>
    <!--<tags-input ng-model="tags" required add-on-enter="true" min-length="0" display-property="text" key-property="id" on-tag-added="onTagAdded($tag)">-->
    <!--<auto-complete source="loadTags($query)"></auto-complete>-->
    <!--</tags-input>-->
    <!--<tags-input ng-model="tags" required add-on-enter="true" min-length="0"-->
                <!--display-property="text" key-property="id" on-tag-added="onTagAdded($tag)"-->
                <!--replace-spaces-with-dashes="false">-->

        <!--<auto-complete source="loadTags($query)" max-results-to-show="2000"-->
                       <!--min-length="0" load-on-focus="true" load-on-empty="true"></auto-complete>-->
    <!--</tags-input>-->

	<div class="inbox-form-group">
		<label class="control-label subject_style">{{ 'subject' | translate}} :</label>
		<div class="controls">
			<input type="text" class="form-control" ng-model="row.subject" required>
		</div>
	</div>

	<div class="inbox-form-group" >
		<ng-ckeditor name="editor" id="editor" ng-model="row.details" required></ng-ckeditor>
	</div>
	<div width="100%" style="margin: 15px;">
        <label class="btn blue custom-file-upload">
            <input type="file" nv-file-select="" accept=
                    "application/msword, application/vnd.ms-excel, application/pdf, image/* ,
                                           .xlsx,.xls,.doc,.docx,.pdf"
                   multiple uploader="uploader" onchange="angular.element(this).scope().fileUpload(this)"/>
            <i class="glyphicon glyphicon-plus"></i>	{{'add_files'|translate}}
		</label>

        <table ng-show="uploader.queue.length" class="table table-hover table-light" style="margin-top: 10px;">
            <thead>
            <tr class="uppercase">
                <th >   {{'name' | translate}} </th>
                <th ng-show="uploader.isHTML5">   {{'size' | translate}} </th>
                <th ng-show="uploader.isHTML5">   {{'progress' | translate}} </th>
                <th >   {{'status' | translate}} </th>
                <th >   {{'actions' | translate}} </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in uploader.queue">
                <td><div ng-show="uploader.isHTML5" > {{ item.file.name }} </div></td>
                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                <td ng-show="uploader.isHTML5">
                    <div class="progress progress-sm" style="margin-bottom: 0;">
                        <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
                <td class="text-center">
                                        <span ng-show="item.isSuccess" class="text-success">
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </span>
                    <span ng-show="item.isError" class="text-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                </td>
                <td nowrap>
                    <button type="button" class="btn red-pink btn-xs"  ng-show="item.isSuccess" ng-click="removeFile($index)">
                        <span class="glyphicon glyphicon-trash"></span> <span> {{'remove' | translate}}</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
	</div>

</form>
<style type="text/css">
.subject_style{
	text-align: right !important;
    padding-right: 11px !important;
    margin-top: 0 !important;
    width: 71px !important;
    font-size: 14px;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.pagination-page{
    display: none !important;
}
</style>
