


<table ng-show="messages.length != 0" class="table table-striped table-advance table-hover">
	<thead>
	<tr>
		<th colspan="2">
            <!--<input ng-if="type == 'inbox'" type="checkbox"-->
               <!--ng-model="All"-->
               <!--ng-change="selectedAll(All)"-->
               <!--ng-true-value="true"-->
               <!--ng-false-value="false"-->
               <!--&gt;-->

            <!--<input ng-if="type == 'sent'" type="checkbox"-->
               <!--ng-model="All1"-->
               <!--ng-change="selectedAll1(All1)"-->
               <!--ng-true-value="true"-->
               <!--ng-false-value="false"-->
               <!--&gt;   -->

			<!--<div class="btn-group">-->
				<!--<a ng-click="deleteMessages()" class="btn btn-sm red dropdown-toggle" href="#" data-toggle="dropdown">-->
				   <!--<li class="fa fa-trash"></li>-->
				<!--</a>-->
				<!---->
			<!--</div>-->
		</th>
		<th class="pagination-control" colspan="3">
	        <uib-pagination class="pull-right" total-items="totalItems" ng-model="currentPage"  max-size="maxSize" items-per-page="itemsPerPage" ng-change="pageChanged(currentPage)" class="pagination-sm"  previous-text="&lsaquo;" next-text="&rsaquo;"></uib-pagination>
		</th>
	</tr>
	</thead>
	<tbody>
		<tr ng-if="messages.length!= 0 && type=='sent'" ng-repeat="message in messages" >
			<!--<td>-->
                <!--<input type="checkbox" class="make-switch"-->
                   <!--data-on-color="primary"-->
                   <!--data-off-color="info"-->
                   <!--ng-model="message.caseCheck"-->
                   <!--ng-checked="selectAll1"-->
                   <!--ng-true-value="true"-->
                   <!--ng-false-value="false">-->
            <!--</td>-->
			<td style="width:25%" ng-click="showMessage(message,'sent')" class="view-message hidden-xs">
				<span  ng-repeat="receipt in message.receipts" ng-if="$index < 1" class="msg_title">
				   {{'To'|translate}}: {{receipt.firstname}} <span ng-if="message.receipts.length>1">...</span> <span ng-if="message.replays_count > 1">({{message.replays_count}})</span>
			    </span>
			</td>

			<td style="width:55%" ng-click="showMessage(message,'sent')"  class="view-message hidden-xs ">
				<span class="msg_title"> {{message.subject}} </span>
			</td>
			<td style="width:10%" ng-click="showMessage(message,'sent')"  class="view-message text-right">
				<span class="msg_title">  {{message.date| date :'MM/dd/yyyy'}} </span>
			</td>
		</tr>
		<tr ng-if="messages.length!= 0 && type=='inbox'" ng-repeat="message in messages" ng-class="{'msg_title_unread_blk': message.is_read == '0'}">
			<!--<td style="width: 5%" class="inbox-small-cells">-->
				<!--<input type="checkbox" class="make-switch"-->
                   <!--data-on-color="primary"-->
                   <!--data-off-color="info"-->
                   <!--ng-model="message.caseCheck"-->
                   <!--ng-checked="selectAll"-->
                   <!--ng-true-value="true"-->
                   <!--ng-false-value="false">-->
			<!--</td>-->
			<td ng-click="showMessage(message)" class="view-message hidden-xs" ng-class="{'msg_title_unread_blk': message.is_read == '0'}">
				<span class="msg_title"  ng-class="{'msg_title_unread': message.is_read == '0'}"> {{message.msg.sender}} </span>
			</td>
			<td style="width:55%" ng-click="showMessage(message)"  class="view-message hidden-xs "
				ng-class="{'msg_title_unread_blk': message.is_read == '0'}">
				<span class="msg_title"  ng-class="{'msg_title_unread': message.is_read == '0'}"> {{message.msg.subject}} </span>
			</td>
			<td style="width:10%" ng-click="showMessage(message)"  class="view-message text-right"
				ng-class="{'msg_title_unread_blk': message.is_read == '0'}">
				<span class="msg_title" > {{message.msg.date| date :'MM/dd/yyyy'}} </span>
			</td>
		</tr>
	</tbody>
</table>
<div  ng-show="messages.length == 0">
    <div class="well well-lg bold text-primary" style="margin-top:50px;height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
            <span>
                {{'there is no data to show' | translate}}
            </span>
    </div>
</div>

<style type="text/css">
	.msg_title_unread{
		font-weight: bold;
		color:black !important;
	}
	.msg_title_unread_blk{
		background: #fff5e2!important;
	}
	.msg_title{
		font-size: 12px;
	}

</style>
