
<style>

	.input-tag {
		padding: 2px 4px;
		line-height: 12px;
		font-size: 11px;
		background-color: #e3eaf6;
		display: inline-block;
		/*float: left;*/
		border-radius: 2px;
		margin: 2px 5px 2px 0px;
		border: 1px solid #a9b6d2;
	}
	.input-tag .delete-tag {
		display: inline-block;
		font-size: 12px;
		cursor: pointer;
		padding: 0px 2px;
	}
	.input-tag .delete-tag:hover {
		background-color: #96b4d2;
	}

</style>


<div class="inbox-header inbox-view-header">
	<h1 class="pull-left subject_style1">{{message.subject}} </h1>
	<div class="btn-group pull-right">
		<button  ng-click="replay()" class="btn yellow-casablanca">
		<i class="fa fa-comments-o"></i> <span>{{'reply' | translate}}</span> </button>
	</div>
</div>
<div style="padding-bottom:20px !important;">
	<div style="float: right;">
		<span style="font-size: 12px;">
		<span style="font-weight: bold">{{'sent_from' | translate }} : </span>{{message.sender}} </span>
	</div>
	<div style="float: left;">
		{{message.created_at}}
	</div>
</div>



<div style="padding-bottom:15px !important;font-size: 7px;" ng-show="message.receipts.length > 0">
	<span style="font-weight: bold">{{'sent_to' | translate }} :</span>
	(
	<!--<span ng-repeat="receipt in message.receipts"> {{receipt.name}}-->
	<!--<span style="font-weight: bold;font-size: 15px" ng-if="($index+1) < message.receipts.length">,</span>-->
	<!--</span>-->
	<div class="input-tag" data-ng-repeat="rec_ in message.receipts">
		<div class="inbox-form-group">
			{{rec_.name}}
		</div>
	</div>
	)
</div>

<div  class=" col-md-12 col-sm-12 col-xs-12">

	<form class="inbox-compose form-horizontal" enctype="multipart/form-data" style="margin-bottom: 20px;overflow: scroll;">
		<div class="inbox-form-group" style="margin:10px">
			<p ng-bind-html="message.details"
			rows="12" style="background: #FFF"></p>
		</div>
		<div ng-show="message.attachs.length" width="100%" style="margin: 15px;">
			<table  width="100%" class="table" style="margin-top: 11px;">
		        <thead>
		            <tr>
		                <th width="40%"> {{'name'|translate}}</th>
		                <th width="30%"> {{'size'|translate}}</th>
		                <th width="30%"> {{'operations'|translate}} </th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr ng-repeat="item in message.attachs">
		                <td>{{ item.name }}</td>
		                <td>{{ item.size/1024/1024|number:2 }} MB</td>
		                <td>
		                    <button data-download="{{item.name}}" doc-file-download data-url="/api/v1.0/Mailling/download/{{item.id}}" type="button" class="btn btn-success btn-xs">
								<span class="glyphicon glyphicon-download "> <span>{{ 'download' | translate}}</span> </span>
		                    </button>
		                </td>
		            </tr>
		        </tbody>
		    </table>
		</div>
	</form>
	<div ng-if="message.replays.length">
	    <h5 class="control-label" style="margin-bottom: 20px;font-weight: bold;font-size: 16px;color: #67809f;" >{{'replys' | translate}} :</h5>

		 <div class="table-scrollable">
            <table class="table table-hover table-condensed table-bordered table-striped  text-center">
                <thead>
                <tr style="background-color: #f3f3f3!important; color: #337ab7; height:30px; vertical-align: middle; line-height: 30px; font-size: 20px; ">
                        <th class="text-center" width="10%">{{'sender' | translate}}</th>
                        <th class="text-center" width="70%">{{'details_msg' | translate}}</th>
                        <th class="text-center" width="20%">{{'attachments' | translate}}</th>
                    </tr>
                </thead>
                <tbody ng-repeat="replay in message.replays">
                    <tr>
                        <td class="text-center" width="10%" >{{replay.sender}}</td>
                        <td class="text-center" width="70%"><label style="word-wrap: break-word;" ng-bind-html="replay.details"></label></td>
                        <td width="20%">
                        	<a ng-repeat="attach in replay.attachs" data-download="{{attach.name}}" doc-file-download data-url="/api/v1.0/Mailling/download/{{attach.id}}">
								{{attach.name}} <br>
							</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
</div>

<div  class=" col-md-12 col-sm-12 col-xs-12" ng-if="reply">
  <div>
		 <div>
			<button ng-click="compose(row,message)" class="btn blue"  style="margin-top: 10px;margin-bottom: 10px;" ng-disabled = "!row.details">{{'send_replay'|translate}}</button>
			<button class="btn" ng-click="cancel()">
				<span> {{'close' | translate}}</span></button>
		</div>


	  <div class=" col-md-12 col-sm-12 col-xs-12 margin-to-10">
		  <label class="control-label bold text-center col-md-2 col-form-label">   {{'sent_to' | translate }} : </label>
		  <div class="col-md-10">
			  <div class="form-group">
				  <multiselect  ng-model="row.users_to" ng-if="options.users"
								options="options.users" show-search="true" id-prop="id" display-prop="name" search-limit="10">
				  </multiselect>
			  </div>
		  </div>
	  </div>

	  <div class=" col-md-12 col-sm-12 col-xs-12 margin-to-10">
		  <label class="control-label bold text-center col-md-2 col-form-label" style="color: white;">   {{'sent_to' | translate }} : </label>
		  <div class="col-md-10">
			  <div class="form-group">
				  <div class="input-tag" data-ng-repeat="rec in row.users_to">
					  <div class="inbox-form-group">
						  {{rec.name}}
						  <div class="delete-tag fa fa-times font-red-pink bold" style="display: none"
							   data-ng-click="deleteTag($index ,rec)"></div>
					  </div>
				  </div>
			  </div>
		  </div>
	  </div>

	  <!--<tags-input ng-model="tags" required add-on-enter="true" min-length="0" display-property="text" key-property="id"-->
					<!--on-tag-added="onTagAdded($tag)">-->
				<!--<auto-complete source="loadTags($query)"></auto-complete>-->
			<!--</tags-input>-->
	  <div class=" col-md-12 col-sm-12 col-xs-12 margin-to-10">
		  <ng-ckeditor name="editor" id="editor" ng-model="row.details"></ng-ckeditor>
	  </div>
</div>

    <div  class=" col-md-12 col-sm-12 col-xs-12" style="margin: 15px;">

		<label class="btn blue custom-file-upload">
			<input type="file" nv-file-select=""  accept=
					"application/msword, application/vnd.ms-excel, application/pdf, image/* ,
                                           .xlsx,.xls,.doc,.docx,.pdf"
				   uploader="uploader" onchange="angular.element(this).scope().fileUpload(this)" multiple />
		    <i class="glyphicon glyphicon-plus"></i>	{{'add_files'|translate}}
		</label>

		<table ng-show="uploader.queue.length" class="table table-hover table-light" style="margin-top: 10px;">
            <thead>
            <tr class="uppercase">
                <th >   {{'name' | translate}} </th>
                <th ng-show="uploader.isHTML5">   {{'size' | translate}} </th>
                <th ng-show="uploader.isHTML5">   {{'progress' | translate}} </th>
                <th >   {{'status' | translate}} </th>
                <th >   {{'actions' | translate}} </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in uploader.queue">
                <td>
                    <div ng-show="uploader.isHTML5" > {{ item.file.name }} </div>
                </td>
                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                <td ng-show="uploader.isHTML5">
                    <div class="progress progress-sm" style="margin-bottom: 0;">
                        <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                </td>
                <td class="text-center">
                                        <span ng-show="item.isSuccess" class="font-blue">
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </span>
                    <span ng-show="item.isError" class="text-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                </td>
                <td nowrap>
                    <button type="button" class="btn red-pink btn-xs" ng-click="removeFile($index)">
                        <span class="glyphicon glyphicon-trash"></span> <span> {{'remove' | translate}}</span> </button>
                </td>
            </tr>
            </tbody>
        </table>	
    </div>
</div>
 <style type="text/css">
 .subject_style1{
	text-align: right !important;
    margin-top: 0 !important;
    font-size: 14px;
    color: #67809f !important;
}
 </style>