
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
    	 <a href="#/maillingSystem/inbox"> {{'mail services'| translate}} </a>
        <i ng-show="action == 'inbox' || action == 'sent' || action =='compose' " class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right' : 'glyphicon glyphicon-menu-left'}}"></i>
    </li>
    <li class="active"  ng-show="action == 'inbox' || action == 'sent'|| action == 'compose'">
        <span  ng-show="action == 'inbox'">  {{'inbox'| translate}}</span>
        <span  ng-show="action == 'sent' || action == 'compose'">  {{'sent'| translate}}</span>
		<i ng-show="action =='compose' " class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right' : 'glyphicon glyphicon-menu-left'}}"></i>
	</li>
	<li ng-show="action =='compose' " >
		<span> {{ 'compose' | translate}}</span>
	</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<div class="row">
	<div class="col-md-12  col-sm-12 col-xs-12">
		<div class="portlet light bordered">
			<div class="portlet light">
				<div class="row inbox">
					<div class="col-md-2">
						<ul class="inbox-nav margin-bottom-10">
							<li class="compose-btn margin-bottom-10" >
								<a href="#/maillingSystem/compose" data-title="{{ 'compose' | translate}}" class="btn blue">
									<i class="glyphicon glyphicon-plus"></i><span> {{ 'compose' | translate}}</span> </a>
							</li>
							<li ng-class="{'active': type == 'inbox'}" ng-show='page.inbox_inbox'>
								<a href="#/maillingSystem/inbox"  class="btn" data-title=" {{ 'inbox' | translate}}">
									{{ 'inbox' | translate}} </a>
								<b></b>
							</li>
							<li ng-class="{'active': type == 'sent'}"   ng-show='page.inbox_inbox'>
								<a class="btn" href="#/maillingSystem/sent" data-title=" {{ 'sent' | translate}}">
									{{ 'sent' | translate}} </a>
								<b></b>
							</li>
							<li ng-class="{'active': type == 'inbox'}" ng-show='page.inbox_compose || page.inbox_view '>
								<a ng-click="resetView('inbox')"  class="btn" data-title=" {{ 'inbox' | translate}}">
									{{ 'inbox' | translate}} </a>
								<b></b>
							</li>
							<li ng-class="{'active': type == 'sent'}" ng-show='page.inbox_compose || page.inbox_view '>
								<a class="btn" ng-click="resetView('sent')" data-title=" {{ 'sent' | translate}}">
									{{ 'sent' | translate}} </a>
								<b></b>
							</li>
						</ul>
					</div>
					<div class="col-md-10">
						<div class="inbox-header">
							<div class="caption font-dark">
								<i class="font-dark"></i>
								<h3 class="pull-left"></h3>

							</div>
							<div class="actions" style="padding-top: 30px; padding-bottom: 50px;">
								<div class="clearfix pull-right">
									<a class="  btn green-turquoise " ng-click="toggle()" type="button">
										<span style="margin-left:3%;" class="icon-magnifier"></span>
										<span class="hidden-sm hidden-md  hidden-xs">{{'advance search'| translate}}</span>
									</a>

								</div>
							</div>


						</div>
						<div class="inbox-content">
							<div class="col-md-12  col-sm-12 col-xs-12" style="background-color: #f3f3f3;margin-bottom: 1%; padding: 35px 0 30px 0px !important; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " ng-show='page.inbox_inbox && toggleStatus' >
								<form name="frmsearch">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="col-md-4 col-sm-12 col-xs-12 " >
											<div class="form-group" ng-if="options.users && type == 'inbox'">
												<label class="control-label bold">{{'sent_from' | translate}} </label>
												<multiselect  ng-model="filters.users_" ng-if="options.users"
															  options="options.users"      show-search="true" id-prop="id" display-prop="name" search-limit="10">
												</multiselect>
											</div>
											<div class="form-group" ng-if="options.users && type == 'sent'">
												<label class="control-label bold">{{'sent_to' | translate}} </label>
												<multiselect  ng-model="filters.users_" ng-if="options.users"
															  options="options.users"      show-search="true" id-prop="id" display-prop="name" search-limit="10">
												</multiselect>
											</div>
										</div>
										<div class="col-md-4 col-sm-12 col-xs-12 ">
											<div class="form-group">
												<label class="control-label bold">{{'subject' | translate}} </label>
												<input type="text" ng-model="filters.subject" autofocus placeholder="{{'subject' | translate}}" class="form-control">
											</div>
										</div>
										<div class="col-md-4 col-sm-12 col-xs-12 ">
											<div class="form-group">
												<label class="control-label bold">{{'details_msg' | translate}} </label>
												<input type="text" ng-model="filters.details"
													   placeholder="{{'details_msg' | translate}}" class="form-control">
											</div>
										</div>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<div class="col-md-4 col-sm-12 col-xs-12 ">
											<div class="form-group">
												<label class="control-label bold">{{'From' | translate}} </label>
												<div class="input-group">
													<input type="text" is-open="from.opened" readonly ng-model="filters.from" uib-datepicker-popup="{{'yyyy-MM-dd'}}" placeholder="{{'From' | translate}}" class="form-control">
													<span class="input-group-btn">
                                                    <button type="button" class="btn fa fa-calendar btn-default" ng-click="from.opened = true"><i ></i></button>
                                                </span>
												</div>

											</div>
										</div>
										<div class="col-md-4 col-sm-12 col-xs-12 ">
											<div class="form-group">
												<label class="control-label bold">{{'To' | translate}} </label>
												<div class="input-group">
													<input type="text" is-open="to.opened"readonly ng-model="filters.to" uib-datepicker-popup="{{'yyyy-MM-dd'}}" placeholder="{{'To' | translate}}" class="form-control">
													<span class="input-group-btn">
                                                    <button type="button" class="btn fa fa-calendar btn-default" ng-click="to.opened = true"><i ></i></button>
                                                </span>
												</div>

											</div>
										</div>
										<div class="col-md-4  col-sm-12 col-xs-12   text-center pull-right ">
											<button  class=" pull-right btn blue " style="margin-top: 7%;" ng-click="getMessages(type)" type="button" >
												<span style="margin-left:3%;" class="icon-magnifier"></span>
												<span style="margin-left:3%;" >{{"search"| translate}}</span>
											</button>
										</div>

									</div>
								</form>
							</div>
							<div ng-show='page.inbox_inbox' data-ng-include="'app/modules/log/views/maillingSystem/inbox_inbox.html'"> </div>
							<div ng-show='page.inbox_compose' data-ng-include="'app/modules/log/views/maillingSystem/inbox_compose.html'"> </div>
							<div ng-show='page.inbox_view' data-ng-include="'app/modules/log/views/maillingSystem/inbox_view.html'"> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

