<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12"  style="margin-bottom: 2%;" >
        <button  type="button" ng-if="guardians_rows == 'true' " class="btn blue" ng-click="Search('guardians',guardians_filters,'export')"style="margin-left: 1%;">
            <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
            <span>{{'export guardians list' | translate }}</span>
        </button>
        <button  class=" pull-right btn blue " ng-click="toggleSearch('case_guardians')" type="button" >
            <i class="fa fa-search"></i>
        </button>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12"  ng-hide="case_guardians" STYLE="padding: 1.5%; margin-bottom: 2%;">
        <form name="frmsearch"  novalidate role="form" class=" text-center" style="padding:0 2%;">
            <div class="row" style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class=" control-label bold">{{'first_name' | translate }} </label>
                            <input type="text" class="form-control" name="first_name" ng-model="guardians_filters.first_name" readonly arabic-alphabet   maxlength="45"/>
                            <span class=" font-red-pink bold help-inline" ng-show="frmsearch.first_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class=" control-label bold">{{'father_name' | translate }}</label>
                            <input type="text" class="form-control" name="second_name" ng-model="guardians_filters.second_name" readonly arabic-alphabet   maxlength="45"/>
                            <span class=" font-red-pink bold help-inline" ng-show="frmsearch.second_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class=" control-label bold">{{'grandfather_name' | translate }}</label>
                            <input type="text" class="form-control" name="third_name" ng-model="guardians_filters.third_name" readonly arabic-alphabet   maxlength="45" />
                            <span class=" font-red-pink bold help-inline" ng-show="frmsearch.third_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class=" control-label bold">{{'family_name' | translate }}</label>
                            <input type="text" class="form-control" name="last_name" ng-model="guardians_filters.last_name" readonly arabic-alphabet   maxlength="45"/>
                            <span class=" font-red-pink bold help-inline" ng-show="frmsearch.last_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="control-label bold">{{'from' | translate }}( {{'guardian_date' | translate }})</label>
                            <div  class="input-group">
                                <input type="text" class="form-control"  uib-datepicker-popup="{{format}}" ng-model="guardians_filters.from_guardian_date" datepickerPopup
                                       name="from_guardian_date" is-open="popup7.opened" datepicker-options="dateOptions" readonly date-disabled="disabled(date, mode)"
                                       clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                <span class="input-group-btn">
                                                           <button type="button" class="btn btn-default" ng-click="open7($event)">
                                                               <i class="glyphicon glyphicon-calendar"></i>
                                                           </button>
                                                 </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="control-label bold">{{'to' | translate }}( {{'guardian_date' | translate }})</label>
                            <div  class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="guardians_filters.to_guardian_date" datepickerPopup
                                       name="to_guardian_date" is-open="popup8.opened" datepicker-options="dateOptions"  readonly date-disabled="disabled(date, mode)"
                                       clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                <span class="input-group-btn">
                                                           <button type="button" class="btn btn-default" ng-click="open8($event)">
                                                               <i class="glyphicon glyphicon-calendar"></i>
                                                           </button>
                                                 </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label bold">{{'from' | translate }}( {{'date_of_birth' | translate }})</label>
                            <div  class="input-group">
                                <input type="text" class="form-control"
                                       uib-datepicker-popup="{{format}}"
                                       ng-model="guardians_filters.from_birthday"
                                       datepickerPopup
                                       name="from_birthday"
                                       is-open="popup6.opened" datepicker-options="dateOptions"
                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open6($event)">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                          </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label bold">{{'to' | translate }}( {{'date_of_birth' | translate }})</label>
                            <div  class="input-group">
                                <input type="text" class="form-control"
                                       uib-datepicker-popup="{{format}}"
                                       ng-model="guardians_filters.to_birthday"
                                       datepickerPopup
                                       name="to_birthday"
                                       is-open="popup5.opened" datepicker-options="dateOptions"
                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open5($event)">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                          </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="col-md-3">
                        <div class="form-group" ng-class="{ 'has-error' : frmsearch.id_card_number.$invalid }">
                            <label class=" control-label bold">{{'card_number' | translate }}</label>
                            <input type="text" class="form-control" name="id_card_number" ng-model="guardians_filters.id_card_number" ng-maxlength="9" numeric-only />
                            <span class=" font-red-pink bold help-inline" ng-show="frmsearch.id_card_number.$error.maxlength"> {{'Field length must not exceed 9'| translate}}</span>
                            <span class=" font-red-pink bold help-inline" ng-show="frmsearch.id_card_number.$error.pattern"> ( {{'only number'| translate}} ) </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%;">
                    <div class=" col-md-2 pull-right">
                        <button class="btn blue" style="width:85%;" ng-click="Search('guardians',guardians_filters,'filters')" type="button" > <span>{{'search' | translate }} </span></button>
                    </div>



                </div>
            </div>
        </form>
    </div>
    <div class="row" ng-if="guardians_rows== 'true' ">
        <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
            <label>{{'show' | translate }}
            <select
            class="form-control input-sm input-inline" ng-init=""
            ng-change="itemsPerPage_('guardians',itemsCount5)"
            name="itemsCount5" 
            ng-model='itemsCount5'>
           <option value="50">50</option><option value="100">100</option>
            <option value="200">200</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
            <option value="-1">{{'show_All' | translate }}</option>
        </select>
    </label>
</div>
<div class="col-md-6 col-sm-12 col-xs-12">
</div>
</div>
    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 2%;" >
        <table  class="table table-bordered table-striped  text-center table-hover ">
            <thead>
            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                <th class="text-center">  {{'#' | translate }} </th>
                <th class="text-center">  {{'guardian_name' | translate }} </th>
                <th class="text-center">  {{'card_number' | translate }} </th>
                <th class="text-center">  {{'the_gender' | translate }} </th>
                <th class="text-center">  {{'birthday' | translate }} </th>
                <th class="text-center">  {{'status' | translate }} </th>
                <th class="text-center">  {{'guardian_date' | translate }} </th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="item in guardiansList|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage5">
                <td>{{ ( $index +1 ) +((CurrentPage5-1)* ItemsPerPage5)}}</td>
                <td>{{item.guardian_name}}</td>
                <td>{{item.id_card_number}}</td>
                <td>{{item.the_gender}}</td>
                <td>{{item.birthday}}</td>
                <td>{{item.status}}</td>
                <td>{{item.created_at}}</td>
            </tr>
            </tbody>
        </table>
        <div ng-if="guardians_rows== 'false' " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show' | translate }}
                                    </span>
            </div>
        </div>
        <div class="row"  ng-if="guardians_rows== 'true' "  >
            <div class="col-md-12 col-sm-12 col-xs-12">
                <uib-pagination class="pull-right" total-items="TotalItems5" ng-model="CurrentPage5"
                                max-size="maxSize" items-per-page="ItemsPerPage5" ng-change="pageChanged('guardians',CurrentPage5)"
                                class="pagination-sm" boundary-links="true"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
            </div>
        </div>

    </div>
</div>


