<div class="row">
    <div class="tabs-container">
        <uib-tabset>
            <uib-tab  index="0" select="fetch('case_payments')" heading="{{'case payment' | translate }}">
                <div class="panel panel-info">
                    <div class="panel-heading panel-heading-style">{{'case payment' | translate }}</div>
                    <div class="panel-body">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="button" class="btn blue"  ng-show="case_payments_rows== 'true' " ng-click="Search('case_payments',case_payments_filters,'export')" style="margin-left: 1%;">
                                <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                                <span>{{'export payment list' | translate }}</span>
                            </button>
                            <button  class=" pull-right btn blue "  ng-click="toggleSearch('case_payments')" type="button" >
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-hide="case_payments"  style="margin-top: 1%;">
                            <div class="form-body pull-right text-center" style="padding:0 2%;" >
                                <div class="row" style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                                    <div class="col-md-12 pull-left" >
                                        <div class="col-md-12 col-sm-12 col-xs-12" >
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class=" control-label bold">{{'sponsorship_authority' | translate }}</label>

                                                    <div class="input-group">
                                                        <ui-select  name="sponsor_id"
                                                                    ng-model="case_payments_filters.sponsor_id"
                                                                    theme="bootstrap"
                                                                   class="text-right" >
                                                            <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in Sponsor | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                                <button type="button" ng-click="case_payments_filters.sponsor_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class="control-label bold"> {{'date_from' | translate }}  ( {{'to' | translate }}   ) </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control"  uib-datepicker-popup="{{format}}" ng-model="case_payments_filters.begin_date_from" datepickerPopup
                                                               name="begin_date_from" is-open="popup9.opened" datepicker-options="dateOptions" readonly date-disabled="disabled(date, mode)"
                                                               clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                        <span class="input-group-btn">
                                                                                   <button type="button" class="btn btn-default" ng-click="open9($event)">
                                                                                       <i class="glyphicon glyphicon-calendar"></i>
                                                                                   </button>
                                                                         </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class="control-label bold"> {{'date_from' | translate }}  ( {{'to' | translate }}   ) </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control"  uib-datepicker-popup="{{format}}" ng-model="case_payments_filters.end_date_from" datepickerPopup
                                                               name="end_date_from" is-open="popup10.opened" datepicker-options="dateOptions" readonly date-disabled="disabled(date, mode)"
                                                               clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                        <span class="input-group-btn">
                                                                                   <button type="button" class="btn btn-default" ng-click="open10($event)">
                                                                                       <i class="glyphicon glyphicon-calendar"></i>
                                                                                   </button>
                                                                         </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class="control-label bold"> {{'date_to' | translate }}  ( {{'to' | translate }}   ) </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="case_payments_filters.begin_date_to" datepickerPopup
                                                               name="begin_date_to" is-open="popup11.opened" datepicker-options="dateOptions"  readonly date-disabled="disabled(date, mode)"
                                                               clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                        <span class="input-group-btn">
                                                                                   <button type="button" class="btn btn-default" ng-click="open11($event)">
                                                                                       <i class="glyphicon glyphicon-calendar"></i>
                                                                                   </button>
                                                                         </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12" >
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class="control-label bold"> {{'date_to' | translate }}  ( {{'to' | translate }}   ) </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="case_payments_filters.end_date_to" datepickerPopup
                                                               name="end_date_to" is-open="popup12.opened" datepicker-options="dateOptions"  readonly date-disabled="disabled(date, mode)"
                                                               clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                        <span class="input-group-btn">
                                                                                   <button type="button" class="btn btn-default" ng-click="open12($event)">
                                                                                       <i class="glyphicon glyphicon-calendar"></i>
                                                                                   </button>
                                                                         </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label bold"> {{'begin payment date' | translate }} </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="case_payments_filters.start_payment_date"
                                                               datepickerPopup name="start_payment_date" is-open="popup13.opened" datepicker-options="dateOptions"  readonly
                                                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                        <span class="input-group-btn">
                                                                                   <button type="button" class="btn btn-default" ng-click="open13($event)">
                                                                                       <i class="glyphicon glyphicon-calendar"></i>
                                                                                   </button>
                                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label bold"> {{'end payment date' | translate }} </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="case_payments_filters.end_payment_date"
                                                               datepickerPopup name="end_payment_date" is-open="popup14.opened" datepicker-options="dateOptions"  readonly
                                                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                        <span class="input-group-btn">
                                                                                   <button type="button" class="btn btn-default" ng-click="open14($event)">
                                                                                       <i class="glyphicon glyphicon-calendar"></i>
                                                                                   </button>
                                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'card_number' | translate }}   ( {{'guardian' | translate }} )</label>
                                                    <input type="text" class="form-control" name="guardian_id_card_number" ng-model="case_payments_filters.guardian_id_card_number" maxlength="9" numeric-only />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12" >
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'first_name' | translate }}  ( {{'guardian' | translate }}   ) </label>
                                                    <input type="text" class="form-control" name="guardian_first_name" ng-model="case_payments_filters.guardian_first_name" readonly arabic-alphabet   maxlength="45"/>
                                                    <span class=" font-red-pink bold help-inline" ng-show="frmsearch.guardian_first_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'father_name' | translate }}   ( {{'guardian' | translate }} )</label>
                                                    <input type="text" class="form-control" name="guardian_second_name" ng-model="case_payments_filters.guardian_second_name" readonly arabic-alphabet   maxlength="45"/>
                                                    <span class=" font-red-pink bold help-inline" ng-show="frmsearch.guardian_second_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'grandfather_name' | translate }}  ( {{'guardian' | translate }}   )</label>
                                                    <input type="text" class="form-control" name="guardian_third_name" ng-model="case_payments_filters.guardian_third_name" readonly arabic-alphabet   maxlength="45" />
                                                    <span class=" font-red-pink bold help-inline" ng-show="frmsearch.guardian_third_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'family_name' | translate }}   ( {{'guardian' | translate }} )</label>
                                                    <input type="text" class="form-control" name="guardian_last_name" ng-model="case_payments_filters.guardian_last_name" readonly arabic-alphabet   maxlength="45"/>
                                                    <span class=" font-red-pink bold help-inline" ng-show="frmsearch.guardian_last_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12" >
                                            <div class="col-md-2 pull-right" style="margin-top: 2%;">
                                                <button class="btn blue" style="width:100%;" ng-click="Search('case_payments',case_payments_filters,'filter')" type="button" >
                                                <span> {{'search' | translate }} </span>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="case_payments_rows== 'true' ">
                            <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
                                <label>{{'show' | translate }}
                                <select
                                class="form-control input-sm input-inline" ng-init=""
                                ng-change="itemsPerPage_('case_payments',itemsCount)"
                                name="itemsCount" 
                                ng-model='itemsCount'>
                               <option value="50">50</option><option value="100">100</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="-1">{{'show_All' | translate }}</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    </div>
                </div>
                        <div class="col-md-12 col-sm-12 col-xs-12"  style="margin-top: 2%">
                            <div class="table-scrollable"style="margin-bottom: 0.5%;">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" style="margin-top: 0%;" >
                                    <thead>

                                    <tr ng-show="case_payments_rows== 'true' ">
                                        <td class="bold"  colspan="8"   style="background-color: #f3f3f3!important; color: #337ab7;"> {{'payments total' | translate }}</td>
                                        <td class="bold"  colspan="1"  >{{payment_total}}</td>
                                    </tr>
                                    <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                        <th class="text-center" > {{'#' | translate }} </th>
                                        <th class="text-center" ng-click="sort('sponsor_number')">{{'sponsor_number' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='sponsor_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('category_name')">{{'sponsorship_type' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='category_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th ng-show="master" class="text-center" ng-click="sort('organizations_name')">
                                            {{'organizations_name' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='organizations_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th ng-if="!sponsor" class="text-center" ng-click="sort('sponsor_name')">
                                            {{'sponsorship_authority' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='sponsor_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('amount')">{{'amount' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('amount_in_shekel')">{{'amount_in_shekel' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='amount_in_shekel'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('payment_date')">{{'payment_date' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='payment_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('exchange_type')">{{'exchange_type' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='exchange_type'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('date_from')">{{'date from' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='date_from'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('date_to')">{{'date to' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='date_to'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('recipients_name')">{{'recipients_name' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='recipients_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="item in casePaymentsList|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                        <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                        <td>{{item.sponsor_number}}</td>
                                        <td>{{item.category_name}}</td>
                                        <td ng-show="master">{{item.organizations_name}}</td>
                                        <td ng-if="!sponsor">{{item.sponsor_name}}</td>
                                        <td>{{item.amount | number:0}}</td>
                                        <td>{{item.amount_in_shekel | number:0}}</td>
                                        <td>{{item.payment_date}}</td>
                                        <td>{{item.exchange_type}}</td>
                                        <td>
                                            <span ng-show=" item.date_from == null"> - </span>
                                            <span ng-show=" item.date_from != null"> {{item.date_from}} </span>
                                        </td>
                                        <td>
                                            <span ng-show=" item.date_to == null"> - </span>
                                            <span ng-show=" item.date_to != null"> {{item.date_to}} </span>
                                        </td>
                                        <td>
                                            <span ng-show=" item.recipients_name == null"> - </span>
                                            <span ng-show=" item.recipients_name != null"> {{item.recipients_name}} </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center"  ng-show="case_payments_rows== 'false' "  style="margin-bottom: 2%  ; margin-top: 2%">
                                    <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                        <span>{{'there is no data to show' | translate }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row"  ng-show="case_payments_rows== 'true' " >
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"
                                                    max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged('case_payments',CurrentPage)"
                                                    class="pagination-sm" boundary-links="true"
                                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </uib-tab>
            <uib-tab  index="1" select="fetch('family_payments')" heading="{{'family payment' | translate }}">
                <div class="panel panel-info">
                    <div class="panel-heading panel-heading-style">{{'family payment' | translate }}</div>
                    <div class="panel-body">

                        <div class="col-md-12 col-sm-12 col-xs-12"  >
                            <button type="button" ng-show="family_payments_rows== 'true' " class="btn blue" ng-click="Search('family_payments',family_payments_filters,'export')" style="margin-left: 1%;" >
                                <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                                <span>{{'export payment list' | translate }}</span>
                            </button>
                            <button  class=" pull-right btn blue " ng-click="toggleSearch('family_payments')" type="button" >
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-hide="family_payments"  style="margin-top: 1%;margin-bottom: 1%;">
                            <div class="form-body pull-right text-center" style="padding:0 2%;" >
                                <div class="row" style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                                    <div class="col-md-12 pull-left" >
                                        <div class="col-md-12 col-sm-12 col-xs-12" >
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class=" control-label bold">{{'sponsorship_authority' | translate }}</label>
                                                    <div class="input-group">
                                                        <ui-select name="sponsor_id"
                                                                   ng-model="family_payments_filters.sponsor_id"
                                                                   theme="bootstrap"
                                                                   class="text-right" >
                                                            <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in Sponsor | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                                <button type="button" ng-click="family_payments_filters.sponsor_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" ng-class="{ 'has-error' : frmsearch.id_card_number.$invalid }">
                                                    <label class=" control-label bold">{{'card_number' | translate }}  {{'case'| translate}}</label>
                                                    <input type="text" class="form-control" name="id_card_number" ng-model="family_payments_filters.id_card_number" ng-maxlength="9" numeric-only />
                                                    <span class=" font-red-pink bold help-inline" ng-show="frmsearch.id_card_number.$error.maxlength"> {{'Field length must not exceed 9'| translate}}</span>
                                                    <span class=" font-red-pink bold help-inline" ng-show="frmsearch.id_card_number.$error.pattern"> ( {{'only number'| translate}} ) </span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'first_name' | translate }}  {{'case'| translate}} </label>
                                                    <input type="text" class="form-control" name="first_name" ng-model="family_payments_filters.first_name" readonly arabic-alphabet   maxlength="45"/>
                                                    <span class=" font-red-pink bold help-inline" ng-show="frmsearch.first_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'father_name' | translate }}  {{'case'| translate}}</label>
                                                    <input type="text" class="form-control" name="second_name" ng-model="family_payments_filters.second_name" readonly arabic-alphabet   maxlength="45"/>
                                                    <span class=" font-red-pink bold help-inline" ng-show="frmsearch.second_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12" >
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'grandfather_name' | translate }}  {{'case'| translate}}</label>
                                                    <input type="text" class="form-control" name="third_name" ng-model="family_payments_filters.third_name" readonly arabic-alphabet   maxlength="45" />
                                                    <span class=" font-red-pink bold help-inline" ng-show="frmsearch.third_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'family_name' | translate }}  {{'case'| translate}}</label>
                                                    <input type="text" class="form-control" name="last_name" ng-model="family_payments_filters.last_name" readonly arabic-alphabet   maxlength="45"/>
                                                    <span class=" font-red-pink bold help-inline" ng-show="frmsearch.last_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'card_number' | translate }}   ( {{'guardian' | translate }} )</label>
                                                    <input type="text" class="form-control" name="guardian_id_card_number" ng-model="family_payments_filters.guardian_id_card_number" maxlength="9" numeric-only />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'first_name' | translate }}  ( {{'guardian' | translate }}   ) </label>
                                                    <input type="text" class="form-control" name="guardian_first_name" ng-model="family_payments_filters.guardian_first_name" readonly arabic-alphabet   maxlength="45"/>
                                                    <span class=" font-red-pink bold help-inline" ng-show="frmsearch.guardian_first_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12" >
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'father_name' | translate }}   ( {{'guardian' | translate }} )</label>
                                                    <input type="text" class="form-control" name="guardian_second_name" ng-model="family_payments_filters.guardian_second_name" readonly arabic-alphabet   maxlength="45"/>
                                                    <span class=" font-red-pink bold help-inline" ng-show="frmsearch.guardian_second_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'grandfather_name' | translate }}  ( {{'guardian' | translate }}   )</label>
                                                    <input type="text" class="form-control" name="guardian_third_name" ng-model="family_payments_filters.guardian_third_name" readonly arabic-alphabet   maxlength="45" />
                                                    <span class=" font-red-pink bold help-inline" ng-show="frmsearch.guardian_third_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'family_name' | translate }}   ( {{'guardian' | translate }} )</label>
                                                    <input type="text" class="form-control" name="guardian_last_name" ng-model="family_payments_filters.guardian_last_name" readonly arabic-alphabet   maxlength="45"/>
                                                    <span class=" font-red-pink bold help-inline" ng-show="frmsearch.guardian_last_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class="control-label bold"> {{'date_from' | translate }}  ( {{'from' | translate }}   ) </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control"  uib-datepicker-popup="{{format}}" ng-model="family_payments_filters.begin_date_from" datepickerPopup
                                                               name="begin_date_from" is-open="popup15.opened" datepicker-options="dateOptions" readonly date-disabled="disabled(date, mode)"
                                                               clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                        <span class="input-group-btn">
                                                                                       <button type="button" class="btn btn-default" ng-click="open15($event)">
                                                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                                                       </button>
                                                                             </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12" >
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class="control-label bold"> {{'date_from' | translate }}  ( {{'to' | translate }}   ) </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control"  uib-datepicker-popup="{{format}}" ng-model="family_payments_filters.end_date_from" datepickerPopup
                                                               name="end_date_from" is-open="popup16.opened" datepicker-options="dateOptions" readonly date-disabled="disabled(date, mode)"
                                                               clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                        <span class="input-group-btn">
                                                                                       <button type="button" class="btn btn-default" ng-click="open16($event)">
                                                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                                                       </button>
                                                                             </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class=" control-label bold">{{'date_to' | translate }} ( {{'from' | translate }} ) </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="family_payments_filters.begin_date_to" datepickerPopup
                                                               name="begin_date_to" is-open="popup17.opened" datepicker-options="dateOptions"  readonly date-disabled="disabled(date, mode)"
                                                               clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                        <span class="input-group-btn">
                                                                                       <button type="button" class="btn btn-default" ng-click="open17($event)">
                                                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                                                       </button>
                                                                             </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class="control-label bold"> {{'date_to' | translate }}  ( {{'to' | translate }}   ) </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="family_payments_filters.end_date_to" datepickerPopup
                                                               name="end_date_to" is-open="popup18.opened" datepicker-options="dateOptions"  readonly date-disabled="disabled(date, mode)"
                                                               clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                        <span class="input-group-btn">
                                                                                       <button type="button" class="btn btn-default" ng-click="open18($event)">
                                                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                                                       </button>
                                                                             </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label bold"> {{'begin payment date' | translate }} </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="family_payments_filters.start_payment_date"
                                                               datepickerPopup name="start_payment_date" is-open="popup19.opened" datepicker-options="dateOptions"  readonly
                                                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                        <span class="input-group-btn">
                                                                                       <button type="button" class="btn btn-default" ng-click="open19($event)">
                                                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                                                       </button>
                                                                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12" >
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label bold"> {{'end payment date' | translate }} </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="family_payments_filters.end_payment_date"
                                                               datepickerPopup name="end_payment_date" is-open="popup20.opened" datepicker-options="dateOptions"  readonly
                                                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                        <span class="input-group-btn">
                                                                                       <button type="button" class="btn btn-default" ng-click="open20($event)">
                                                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                                                       </button>
                                                                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12" >
                                            <div class="col-md-2 pull-right" style="margin-top: 2%;">
                                                <button class="btn blue" style="width:100%;"
                                                        ng-click="Search('family_payments',family_payments_filters,'filter')" type="button" >
                                                    <span>{{'search' | translate }}</span>
                                                     </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" ng-if="family_payments_rows== 'true' ">
                            <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
                                <label>{{'show' | translate }}
                                <select
                                class="form-control input-sm input-inline" ng-init=""
                                ng-change="itemsPerPage_('family_payments',itemsCount1)"
                                name="itemsCount1" 
                                ng-model='itemsCount1'>
                               <option value="50">50</option><option value="100">100</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="-1">{{'show_All' | translate }}</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    </div>
                </div>

                        <div class="col-md-12 col-sm-12 col-xs-12"  style="margin-top: 2%">

                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" style="margin-top: 0%;">
                                <thead>
                                <tr ng-show="family_payments_rows== 'true' ">
                                    <td class="bold" colspan="9" style="background-color: #f3f3f3!important; color: #337ab7;"> {{'payments total' | translate }}</td>
                                    <td class="bold" colspan="2" >{{fpayment_total}}</td>
                                </tr>
                                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                    <th class="text-center" > {{'#' | translate }} </th>
                                    <th class="text-center" ng-click="sort('case_name')">{{'case_name' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='case_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('sponsor_number')">{{'sponsor_number' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='sponsor_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('category_name')">{{'category_name' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='category_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-show="master" class="text-center" ng-click="sort('organizations_name')">
                                        {{'organizations_name' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='organizations_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-if="!sponsor" class="text-center" ng-click="sort('sponsor_name')">
                                        {{'sponsorship_authority' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='sponsor_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('amount')">{{'amount' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('amount_in_shekel')">{{'amount_in_shekel' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='amount_in_shekel'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('payment_date')">{{'payment_date' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='payment_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('exchange_type')">{{'exchange_type' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='exchange_type'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('date_from')">{{'date from' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='date_from'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('date_to')">{{'date to' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='date_to'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('recipients_name')">{{'recipients_name' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='recipients_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="item in familyPaymentsList|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage1">
                                    <td>{{ ( $index +1 ) +((CurrentPage1-1)* ItemsPerPage1)}}</td>
                                    <td>{{item.case_name}}</td>
                                    <td>{{item.sponsor_number}}</td>
                                    <td>{{item.category_name}}</td>
                                    <td ng-show="master">{{item.organizations_name}}</td>
                                    <td ng-if="!sponsor">{{item.sponsor_name}}</td>
                                    <td>{{item.amount | number:0}}</td>
                                    <td>{{item.amount_in_shekel | number:0}}</td>
                                    <td>{{item.payment_date}}</td>
                                    <td>{{item.exchange_type}}</td>
                                    <td>
                                        <span ng-show=" item.date_from == null"> - </span>
                                        <span ng-show=" item.date_from != null"> {{item.date_from}} </span>
                                    </td>
                                    <td>
                                        <span ng-show=" item.date_to == null"> - </span>
                                        <span ng-show=" item.date_to != null"> {{item.date_to}} </span>
                                    </td>
                                    <td>
                                        <span ng-show=" item.recipients_name == null"> - </span>
                                        <span ng-show=" item.recipients_name != null"> {{item.recipients_name}} </span>
                                    </td>
                                </tr>

                                </tbody>
                            </table>

                            <div ng-show="family_payments_rows== 'false' " class="text-center" style="margin-bottom: 2%; margin-top: 2%">

                                    {{'there is no data to show' | translate }}

                            </div>

                            <div class="row"  ng-show="family_payments_rows== 'true' ">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <uib-pagination class="pull-right" total-items="TotalItems1" ng-model="CurrentPage1"
                                                    max-size="maxSize" items-per-page="ItemsPerPage1" ng-change="pageChanged('family_payments',CurrentPage1)"
                                                    class="pagination-sm" boundary-links="true"
                                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </uib-tab>
            <uib-tab  index="2" select="fetch('guardian_payments')" heading="{{'guardian payment' | translate }}" ng-hide="guardian_id == null " >
                <div class="panel panel-info">
                    <div class="panel-heading panel-heading-style">{{'guardian payment' | translate }}</div>
                    <div class="panel-body">

                        <div class="col-md-12 col-sm-12 col-xs-12" >
                            <button type="button" ng-show="guardian_payments_rows== 'true' " class="btn blue" ng-click="Search('guardian_payments',guardian_payments_filters,'export')" style="margin-left: 1%;" >
                                <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                                <span>{{'export payment list' | translate }}</span>
                            </button>
                            <button  class=" pull-right btn blue "ng-click="toggleSearch('guardian_payments')" type="button" >
                                <span class="fa fa-search"></span>
                            </button>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-hide="guardian_payments"  style="margin-top: 1%;">
                            <div class="form-body pull-right text-center" style="padding:0 2%;" >
                                <div class="row" style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                                    <div class="col-md-12 pull-left" >
                                        <div class="col-md-12 col-sm-12 col-xs-12" >
                                            <div class="col-md-3">
                                                <div class="form-group" ng-class="{ 'has-error' : frmsearch.id_card_number.$invalid }">
                                                    <label class=" control-label bold">{{'card_number' | translate }}  {{'case'| translate}}</label>
                                                    <input type="text" class="form-control" name="id_card_number" ng-model="guardian_payments_filters.id_card_number" ng-maxlength="9" numeric-only />
                                                    <span class=" font-red-pink bold help-inline" ng-show="frmsearch.id_card_number.$error.maxlength"> {{'Field length must not exceed 9'| translate}}</span>
                                                    <span class=" font-red-pink bold help-inline" ng-show="frmsearch.id_card_number.$error.pattern"> ( {{'only number'| translate}} ) </span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'first_name' | translate }}  {{'case'| translate}} </label>
                                                    <input type="text" class="form-control" name="first_name" ng-model="guardian_payments_filters.first_name" readonly arabic-alphabet   maxlength="45"/>
                                                    <span class=" font-red-pink bold help-inline" ng-show="frmsearch.first_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'father_name' | translate }}  {{'case'| translate}}</label>
                                                    <input type="text" class="form-control" name="second_name" ng-model="guardian_payments_filters.second_name" readonly arabic-alphabet   maxlength="45"/>
                                                    <span class=" font-red-pink bold help-inline" ng-show="frmsearch.second_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'grandfather_name' | translate }}  {{'case'| translate}}</label>
                                                    <input type="text" class="form-control" name="third_name" ng-model="family_payments_filters.third_name" readonly arabic-alphabet   maxlength="45" />
                                                    <span class=" font-red-pink bold help-inline" ng-show="frmsearch.third_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12" >
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'family_name' | translate }}  {{'case'| translate}}</label>
                                                    <input type="text" class="form-control" name="last_name" ng-model="family_payments_filters.last_name" readonly arabic-alphabet   maxlength="45"/>
                                                    <span class=" font-red-pink bold help-inline" ng-show="frmsearch.last_name.$error.maxlength"> {{'The length of the field must not exceed 45' | translate }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class=" control-label bold">{{'sponsorship_authority' | translate }}</label>
                                                    <div class="input-group">
                                                        <ui-select name="sponsor_id" ng-model="guardian_payments_filters.sponsor_id"
                                                                   theme="bootstrap"
                                                                   class="text-right" >
                                                            <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in Sponsor | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                                <button type="button" ng-click="guardian_payments_filters.sponsor_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class="control-label bold"> {{'date_from' | translate }}  ( {{'from' | translate }}   ) </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control"  uib-datepicker-popup="{{format}}" ng-model="guardian_payments_filters.begin_date_from" datepickerPopup
                                                               name="begin_date_from" is-open="popup21.opened" datepicker-options="dateOptions" readonly date-disabled="disabled(date, mode)"
                                                               clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                        <span class="input-group-btn">
                                                                                       <button type="button" class="btn btn-default" ng-click="open21($event)">
                                                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                                                       </button>
                                                                             </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class="control-label bold"> {{'date_from' | translate }}  ( {{'to' | translate }}   ) </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control"  uib-datepicker-popup="{{format}}" ng-model="guardian_payments_filters.end_date_from" datepickerPopup
                                                               name="end_date_from" is-open="popup22.opened" datepicker-options="dateOptions" readonly date-disabled="disabled(date, mode)"
                                                               clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                        <span class="input-group-btn">
                                                                                       <button type="button" class="btn btn-default" ng-click="open22($event)">
                                                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                                                       </button>
                                                                             </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12" >
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class="control-label bold"> {{'date_to' | translate }}  ( {{'from' | translate }}   ) </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="guardian_payments_filters.begin_date_to" datepickerPopup
                                                               name="begin_date_to" is-open="popup23.opened" datepicker-options="dateOptions"  readonly date-disabled="disabled(date, mode)"
                                                               clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                        <span class="input-group-btn">
                                                                                       <button type="button" class="btn btn-default" ng-click="open23($event)">
                                                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                                                       </button>
                                                                             </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class="control-label bold"> {{'date_to' | translate }}  ( {{'to' | translate }}   ) </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="guardian_payments_filters.end_date_to" datepickerPopup
                                                               name="end_date_to" is-open="popup24.opened" datepicker-options="dateOptions"  readonly date-disabled="disabled(date, mode)"
                                                               clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                        <span class="input-group-btn">
                                                                                       <button type="button" class="btn btn-default" ng-click="open24($event)">
                                                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                                                       </button>
                                                                             </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label bold"> {{'begin payment date' | translate }} </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="guardian_payments_filters.start_payment_date"
                                                               datepickerPopup name="start_payment_date" is-open="popup25.opened" datepicker-options="dateOptions"  readonly
                                                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                        <span class="input-group-btn">
                                                                                       <button type="button" class="btn btn-default" ng-click="open25($event)">
                                                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                                                       </button>
                                                                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label bold"> {{'end payment date' | translate }} </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="guardian_payments_filters.end_payment_date"
                                                               datepickerPopup name="end_payment_date" is-open="popup26.opened" datepicker-options="dateOptions"  readonly
                                                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                        <span class="input-group-btn">
                                                                                       <button type="button" class="btn btn-default" ng-click="open26($event)">
                                                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                                                       </button>
                                                                            </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12" >
                                            <div class="col-md-2 pull-right" style="margin-top: 2%;">
                                                <button class="btn blue" style="width:100%;"
                                                        ng-click="Search('guardian_payments',guardian_payments_filters,'filter')" type="button" >
                                                    <span>{{'search' | translate }} </span></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-if="guardian_payments_rows== 'true' ">
                            <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
                                <label>{{'show' | translate }}
                                <select
                                class="form-control input-sm input-inline" ng-init=""
                                ng-change="itemsPerPage_('guardian_payments',itemsCount2)"
                                name="itemsCount2" 
                                ng-model='itemsCount2'>
                               <option value="50">50</option><option value="100">100</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="-1">{{'show_All' | translate }}</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    </div>
                </div>
                        <div class="col-md-12 col-sm-12 col-xs-12"  style="margin-top: 2%">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" style="margin-top: 0%;" >
                                <thead>
                                <tr  ng-show="guardian_payments_rows== 'true' ">
                                    <td class="bold text-center" colspan="2"  style="vertical-align:middle; background-color: #f3f3f3!important; color: #337ab7;"> {{'guardian_name' | translate }}</td>
                                    <td class="bold text-center" style="vertical-align:middle;" colspan="4"  > {{guardian_name}}</td>
                                    <td class="bold text-center"  style="vertical-align:middle;  background-color: #f3f3f3!important; color: #337ab7;" colspan="3"> {{'payments total' | translate }}</td>
                                    <td class="bold text-center" style="vertical-align:middle;"colspan="2" >{{gpayment_total}}</td>
                                </tr>
                                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                    <th class="text-center" > {{'#' | translate }} </th>
                                    <th class="text-center" ng-click="sort('case_name')">{{'case_name' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='case_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('sponsor_number')">{{'sponsor_number' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='sponsor_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('category_name')">{{'category_name' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='category_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-show="master" class="text-center" ng-click="sort('organizations_name')">
                                        {{'organizations_name' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='organizations_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-if="!sponsor" class="text-center" ng-click="sort('sponsor_name')">
                                        {{'sponsorship_authority' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='sponsor_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('amount')">{{'amount' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('amount_in_shekel')">{{'amount_in_shekel' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='amount_in_shekel'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('payment_date')">{{'payment_date' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='payment_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('exchange_type')">{{'exchange_type' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='exchange_type'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('date_from')">{{'date from' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='date_from'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('date_to')">{{'date to' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='date_to'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('recipients_name')">{{'recipients_name' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='recipients_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="item in guardianPaymentsList|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage2">
                                    <td>{{ ( $index +1 ) +((CurrentPage2-1)* ItemsPerPage2)}}</td>
                                    <td>{{item.case_name}}</td>
                                    <td>{{item.sponsor_number}}</td>
                                    <td>{{item.category_name}}</td>
                                    <td ng-show="master">{{item.organizations_name}}</td>
                                    <td ng-if="!sponsor">{{item.sponsor_name}}</td>
                                    <td>{{item.amount | number:0}}</td>
                                    <td>{{item.amount_in_shekel | number:0}}</td>
                                    <td>{{item.payment_date}}</td>
                                    <td>{{item.exchange_type}}</td>
                                    <td>
                                        <span ng-show=" item.date_from == null"> - </span>
                                        <span ng-show=" item.date_from != null"> {{item.date_from}} </span>
                                    </td>
                                    <td>
                                        <span ng-show=" item.date_to == null"> - </span>
                                        <span ng-show=" item.date_to != null"> {{item.date_to}} </span>
                                    </td>
                                    <td>
                                        <span ng-show=" item.recipients_name == null"> - </span>
                                        <span ng-show=" item.recipients_name != null"> {{item.recipients_name}} </span>
                                    </td>

                                </tr>

                                </tbody>
                            </table>
                            <!-- END TABLE -->
                            <div  ng-show="guardian_payments_rows== 'false' " class="text-center" style="margin-bottom: 2%; margin-top: 2%">

                                    {{'there is no data to show' | translate }}

                            </div>

                            <div class="row"   ng-show="guardian_payments_rows== 'true' ">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <uib-pagination class="pull-right" total-items="TotalItems2" ng-model="CurrentPage2"
                                                    max-size="maxSize" items-per-page="ItemsPerPage2" ng-change="pageChanged('guardian_payments',CurrentPage2)"
                                                    class="pagination-sm" boundary-links="true"
                                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>

