    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12" style=" margin-bottom: 2%;">
            <button  type="button"   style="margin-bottom: 2%;" ng-if="sponsorships_rows == 'true' "  class="btn blue" ng-click="Search('case_sponsorships',sponsorships_filters,'export')"style="margin-left: 1%;">
                <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                <span>{{'export sponsorships list' | translate }}</span>
            </button>
            <button  class=" pull-right btn blue " ng-click="toggleSearch('case_sponsorships')" type="button" >
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12"  ng-hide="case_sponsorships" STYLE="padding: 1.5%;">
            <form name="frmsearch"  novalidate role="form" class=" text-center" style="padding:0 2%;">
                <div class="row" style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-3">
                            <div class="form-group ">
                                <label class="control-label bold"> {{'from' | translate }}  ( {{'guaranteed_date' | translate }}   ) </label>
                                <div  class="input-group">
                                    <input type="text" class="form-control"  uib-datepicker-popup="{{format}}" ng-model="sponsorships_filters.from_guaranteed_date" datepickerPopup
                                           name="from_guaranteed_date" is-open="popup1.opened" datepicker-options="dateOptions" readonly date-disabled="disabled(date, mode)"
                                           clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                    <span class="input-group-btn">
                                                           <button type="button" class="btn btn-default" ng-click="open1($event)">
                                                               <i class="glyphicon glyphicon-calendar"></i>
                                                           </button>
                                                 </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group ">
                                <label class="control-label bold"> {{'to' | translate }}  ( {{'guaranteed_date' | translate }}   ) </label>
                                <div  class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="sponsorships_filters.to_guaranteed_date" datepickerPopup
                                           name="to_guaranteed_date" is-open="popup2.opened" datepicker-options="dateOptions"  readonly date-disabled="disabled(date, mode)"
                                           clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                    <span class="input-group-btn">
                                                           <button type="button" class="btn btn-default" ng-click="open2($event)">
                                                               <i class="glyphicon glyphicon-calendar"></i>
                                                           </button>
                                                 </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label bold"> {{'from' | translate }}  ( {{'sponsorship_date' | translate }}   ) </label>
                                <div  class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="sponsorships_filters.from_sponsorship_date"
                                           datepickerPopup name="from_sponsorship_date" is-open="popup3.opened" datepicker-options="dateOptions"  readonly
                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                    <span class="input-group-btn">
                                                           <button type="button" class="btn btn-default" ng-click="open3($event)">
                                                               <i class="glyphicon glyphicon-calendar"></i>
                                                           </button>
                                                </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label bold"> {{'to' | translate }}  ( {{'sponsorship_date' | translate }}   ) </label>
                                <div  class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="sponsorships_filters.to_sponsorship_date"
                                           datepickerPopup name="to_sponsorship_date" is-open="popup4.opened" datepicker-options="dateOptions"  readonly
                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                    <span class="input-group-btn">
                                                           <button type="button" class="btn btn-default" ng-click="open4($event)">
                                                               <i class="glyphicon glyphicon-calendar"></i>
                                                           </button>
                                                </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!--                                            <div class="col-md-3">-->
                        <!--                                                <div class="form-group">-->
                        <!--                                                    <label class="control-label bold">{{'category_name' | translate }}<!--</label>-->
                        <!--                                                    <select class="form-control"  ng-model="sponsorships_filters.category_id" name="category_id">-->
                        <!--                                                        <option selected value> --  {{'category_name' | translate }}<!--   -- </option>-->
                        <!--                                                        <option ng-repeat="option in sponsorCategories_" value="{{option.id}}" >-->
                        <!--                                                            {{option.name}}-->
                        <!--                                                        </option>-->
                        <!--                                                    </select>-->
                        <!--                                                </div>-->
                        <!--                                            </div>-->
                        <div class="col-md-3">
                            <div class="form-group ">
                                <label class="control-label bold">{{'sponsorship_authority' | translate }}</label>
                               <div class="input-group">
                                    <ui-select name="sponsor_id" ng-model="sponsorships_filters.sponsor_id"
                                               theme="bootstrap"
                                               class="text-right" >
                                        <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in Sponsor | filter: $select.search">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                                                <button type="button" ng-click="sponsorships_filters.sponsor_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%;">
                        <div class=" col-md-2 pull-right">
                            <button class="btn blue" style="width:85%;" ng-click="Search('case_sponsorships',sponsorships_filters,'filters')" type="button" > <span>{{'search' | translate }} </span></button>
                        </div>



                    </div>
                </div>
            </form>

        </div>
            <div class="row" ng-if="sponsorships_rows== 'true' ">
                <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
                    <label>{{'show' | translate }}
                    <select
                    class="form-control input-sm input-inline" ng-init=""
                    ng-change="itemsPerPage_('case_sponsorships',itemsCount0)"
                    name="itemsCount0" 
                    ng-model='itemsCount0'>
                   <option value="50">50</option><option value="100">100</option>
                    <option value="200">200</option>
                    <option value="500">500</option>
                    <option value="1000">1000</option>
                    <option value="-1">{{'show_All' | translate }}</option>
                </select>
            </label>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
        </div>
    </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 2%;margin-bottom: 2%;" >
            <table  class="table table-bordered table-striped  text-center table-hover ">
                <thead>
                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                    <th class="text-center">  {{'#' | translate }} </th>
                    <th class="text-center">  {{'sponsor_number' | translate }} </th>
                    <!--                                        <th class="text-center">  {{'category_name' | translate }}<!-- </th>-->
                    <th class="text-center">  {{'status' | translate }} </th>
                    <th class="text-center">  {{'sponsor_name' | translate }} </th>
                    <th class="text-center">  {{'sponsorship_date' | translate }} </th>
                    <th class="text-center">  {{'guaranteed_date' | translate }} </th>
                    <th class="text-center">  {{'operations' | translate }} </th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="item in sponsorshipList|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage0">
                    <td>{{ ( $index +1 ) +((CurrentPage0-1)* ItemsPerPage0)}}</td>
                    <td>{{item.sponsor_number}}</td>
                    <td>{{item.status}}</td>
                    <!--                                        <td>{{item.category_name}}</td>-->
                    <td>{{item.sponsor_name}}</td>
                    <td>{{item.created_at}}</td>
                    <td>{{item.guaranteed_date}}</td>
                    <td>
                        <button ng-if="item.sponsorship_status == 5"
                                ng-click="updateStatus(item.id,item.sponsorship_status,$index,1)" class="btn btn-xs red-pink btn-circle" style="color:#fff;">
                            <span class="fa fa-ban"></span>  <span>{{'resume' | translate}}</span> </button>
                        <button ng-if="item.sponsorship_status != 5"
                                ng-click="updateStatus(item.id,item.sponsorship_status,$index,0)" class="btn btn-xs  btn-circle" style="background-color:#5cb85c;color:#fff;">
                            <span class="fa fa-check"></span> <span>{{'pause' | translate}}</span>  </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div ng-if="sponsorships_rows== 'false' " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show' | translate }}
                                    </span>
                </div>
            </div>
            <div class="row"  ng-if="sponsorships_rows== 'true' "  >
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <uib-pagination class="pull-right" total-items="TotalItems0" ng-model="CurrentPage0"
                                    max-size="maxSize" items-per-page="ItemsPerPage0" ng-change="pageChanged('case_sponsorships',CurrentPage0)"
                                    class="pagination-sm" boundary-links="true"
                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                </div>
            </div>

        </div>
    </div>

    <script type="text/ng-template" id="updateStatus4.html">
        <div class="modal-header" style="  padding:12%; ">
            <h4 class="modal-title text-center">
                 {{'update case data form' | translate}}
            </h4>
        </div>
        <div class="modal-body" style="padding-top: 3%">
            <form name="frm" novalidate="" role="form" class="row text-center" style="padding: 2%;">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : frm.date.$invalid && !frm.date.$pristine }">
                        <label class="control-label bold"> {{'stopped or paused date' | translate }} </label>
                        <div  class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="data.date"
                                   datepickerPopup name="date" is-open="popup444.opened"  ng-required="model_case == 4 || model_case == 5" datepicker-options="dateOptions"  readonly
                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                            <span class="input-group-btn">
                                                           <button type="button" class="btn btn-default" ng-click="open444($event)">
                                                               <i class="glyphicon glyphicon-calendar"></i>
                                                           </button>
                                         </span>
                        </div>
                        <span class="font-red-pink bold help-inline" ng-show="frm.date.$error.required && frm.date.$touched">
                          - {{'required_field' | translate }}
                        </span>
                        <span ng-repeat="(error, errortext) in msg1.date" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.date' != [ ] " >
                                 {{ errortext.toString() }}
                        </span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : frm.reason.$invalid && !frm.reason.$pristine }">
                        <label class="control-label bold"> {{'stopped or paused reason' | translate }} </label>

                        <textarea class="form-control"
                                  name="notes"
                                  ng-model="data.reason" ng-required="true"
                                  rows="5">
            </textarea>

                        <span class="font-red-pink bold help-inline" ng-show="frm.reason.$error.required && frm.reason.$touched">
                          - {{'required_field' | translate }}
                        </span>
                        <span ng-repeat="(error, errortext) in msg1.reason" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.reason' != [ ] " >
                                 {{ errortext.toString() }}
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class=" btn blue" ng-disabled= "frm.$invalid"  ng-click="confirm(data)" type="button" >
                <span>{{'edit' | translate }} </span>
            </button>
            <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel' | translate }}</span> </button>
        </div>
    </script>
