<!-- BEGIN MAIN CONTENT -->
<div>
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
         <li>
            <a> {{'settings'| translate}}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li class="active">
            <a href="#/backup">{{'backup'| translate}}</a>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <h3>
                            <i class="fa fa fa-hdd-o" aria-hidden="true"></i>
                           <span> {{'backup'| translate}}</span>
                        </h3>
                    </div>
                    <div class="actions" style="padding-top: 30px;">
                        <div class="clearfix">
                            <button ng-click="_backup()" class="btn blue submit-btn">
                                <i class="fa fa-save"></i>
                                <span class="hidden-sm hidden-md  hidden-xs">{{ 'do backup' | translate }}</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="table-toolbar">
                                <div class="col-md-12  col-sm-12 col-xs-12" style="margin-bottom: 5px;">
                                    <label ng-show="items.length > 0 ">{{'show'| translate}}
                                        <select
                                                class="form-control input-sm input-inline" ng-init=""
                                                ng-change="itemsPerPage_(itemsCount)"
                                                name="itemsCount"
                                                ng-model='itemsCount'>
                                           <option value="50">50</option><option value="100">100</option>
                                            <option value="200">200</option>
                                            <option value="500">500</option>
                                            <option value="1000">1000</option>
                                            <option value="-1">{{'show_All'| translate}}</option>
                                        </select>
                                    </label>

                                    <form class="form-inline search-form pull-right">
                                        <div class="input-group">
                                            <input type="text"
                                                   ng-model="search"
                                                   class="form-control"
                                                   placeholder="{{'search'| translate}} "
                                                   name="search">
                                        </div>
                                    </form>

                                </div>

                                <!-- BEGIN TABLE -->
                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center"  ng-show="items.length > 0 " >
                                    <thead>
                                    <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                        <th class="text-center" > {{'#'| translate}} </th>
                                        <th class="text-center" ng-click="sort('name')"> {{'name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('date')"> {{'date'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                          <th class="text-center" ng-click="sort('user.firstname')"> {{'user_name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='user.firstname'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" > {{'operations'| translate}} </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="item in items |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                        <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.date }}</td>
                                        <td>{{ item.user.firstname + ' ' + item.user.lastname}}</td>
                                        <td>


                                            <a uib-tooltip=" {{'delete'| translate}}" type="button"
                                               class="btn btn-xs bold text-danger fa fa-trash"
                                               style="font-size: medium; background-color: transparent"
                                               ng-click="delete('sm', item.id)"></a>


                                            <!--<button uib-tooltip="{{'download'| translate}}"-->
                                                    <!--type="button"-->
                                                    <!--class="btn  btn-xs bold font-blue fa fa-download"-->
                                                    <!--style="font-size: medium; background-color: transparent"-->
                                                    <!--ng-click="download(item.id)"></button>-->

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!-- END TABLE -->

                                <div ng-show="items.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 10px; margin-bottom: 20px">
                                    <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="items.length !=0 " >
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                            <span class="bold ">{{'number of total items'| translate}}</span>
                                            <span class="bold "> : </span>
                                            <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                            <span class="bold ">{{'row'| translate}}</span>
                                        </div>
                                        <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END MAIN CONTENT -->


<script type="text/ng-template" id="delete.html">
    <div class="modal-header" style="  padding:12%; ">
        <h4 class="modal-title text-center">
            {{'delete_backup_confirm'| translate}}
        </h4>
    </div>
    <div class="modal-footer">
        <button class=" btn blue" ng-click="confirm()" type="button" > {{'delete'| translate}}  </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
</script>






