<!-- BEGIN MAIN CONTENT -->
<div>
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate}}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            <span ng-show="type =='aids'">{{'aids management' | translate}}</span>
            <span  ng-show="type =='sponsorships'">{{'sponsorships management' | translate}}</span>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li class="">
            {{ 'settings_' | translate}}
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li class="active">
            <span ng-show="type =='aids'">{{'aids_administrations' | translate}}</span>
            <span ng-show="type !='aids'">{{'sponsorships_administrations' | translate}}</span>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <h3>
                            <i class="glyphicon glyphicon-cog" aria-hidden="true"></i>
                            <span ng-show="type =='aids'">{{'aids_administrations' | translate}}</span>
                            <span ng-show="type !='aids'">{{'sponsorships_administrations' | translate}}</span>
                        </h3>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="type =='aids'">
                            <div class="col-md-3">
                                <label class="control-label bold" > {{'max total vouchers' | translate}} </label>
                            </div>
                            <div class="col-md-6" >
                                <div class="form-group">
                                    <input type="text" class="form-control" numeric-only autofocus ng-model="setting.max_total_amount_of_voucher"  name="max_total_amount_of_voucher"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="type !='aids'">

                            <div class="col-md-3">
                                <label class="control-label bold" > {{'max organization share' | translate}} </label>
                            </div>

                            <div class="col-md-6" >
                                <div class="form-group">
                                    <input type="text" class="form-control" ng_model="setting.max_organization_share"  name="max_organization_share"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="type !='aids'">

                            <div class="col-md-3">
                                <label class="control-label bold" > {{'max of total amount of payments' | translate}} </label>
                            </div>

                            <div class="col-md-6" >
                                <div class="form-group">
                                    <input type="text" class="form-control" ng_model="setting.max_total_amount_of_payments"  name="max_total_amount_of_payments"/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="type =='aids'">

                            <div class="col-md-3">
                                <label class="control-label bold" > {{'image' | translate}}</label>
                            </div>

                            <div class="col-md-6" >
                                <div class="form-group">
                                    <div class="input-group">
                                        <ui-select ng-model="setting.aid_image"  name="aid_image"
                                                    theme="bootstrap"
                                                    class="text-right" >
                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item.id as item in documents | filter: $select.search">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="setting.aid_image = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="type !='aids'">

                            <div class="col-md-3">
                                <label class="control-label bold" > {{'image' | translate}}</label>
                            </div>

                            <div class="col-md-6" >
                                <div class="form-group">
                                    <div class="input-group">
                                        <ui-select ng-model="setting.image"  name="image"
                                                   theme="bootstrap"
                                                   class="text-right" >
                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item.id as item in documents | filter: $select.search">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button type="button" ng-click="setting.image = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="type !='aids'">

                            <div class="col-md-2" style="margin-top: 2%; margin-bottom: 2%;">
                                <label class="control-label bold" > {{'kinship_setting' | translate}} </label>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12" >
                               <div class="col-md-6" >
                                <div class="col-md-2">
                                    <label class="control-label bold" > {{'father' | translate}} </label>
                                </div>

                                <div class="col-md-10" >
                                    <div class="form-group">
                                         <div class="input-group">
                                            <ui-select ng-model="setting.father_kinship"  name="father_kinship"
                                                       theme="bootstrap"
                                                       class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in kinship | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                            <button type="button" ng-click="setting.father_kinship = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                               <div class="col-md-6" >
                                    <div class="col-md-2">
                                        <label class="control-label bold" > {{'mother' | translate}} </label>
                                    </div>

                                    <div class="col-md-10" >
                                        <div class="input-group">
                                            <ui-select ng-model="setting.mother_kinship"  name="mother_kinship"
                                                       theme="bootstrap"
                                                       class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in kinship | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                            <button type="button" ng-click="setting.mother_kinship = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                        </div>

                                    </div>
                               </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" >
                                <div class="col-md-6" >
                                    <div class="col-md-2">
                                        <label class="control-label bold" > {{'son' | translate}} </label>
                                    </div>

                                    <div class="col-md-10" >
                                        <div class="form-group">
                                            <div class="input-group">
                                                <ui-select ng-model="setting.son_kinship"  name="son_kinship"
                                                           theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in kinship | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                            <button type="button" ng-click="setting.son_kinship = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                            </div>
                                        </div>
                                    </div>
                               </div>
                                <div class="col-md-6" >
                                    <div class="col-md-2">
                                        <label class="control-label bold" > {{'daughter' | translate}} </label>
                                    </div>

                                    <div class="col-md-10" >
                                        <div class="form-group">
                                            <div class="input-group">
                                                <ui-select ng-model="setting.daughter_kinship"  name="daughter_kinship"
                                                           theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in kinship | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                            <button type="button" ng-click="setting.daughter_kinship = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                            </div>
                                        </div>
                                    </div>
                               </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" >
                            <div class="col-md-6" >
                                    <div class="col-md-2">
                                        <label class="control-label bold" > {{'wife' | translate}} </label>
                                    </div>

                                    <div class="col-md-10" >
                                        <div class="form-group">
                                            <div class="input-group">
                                                <ui-select ng-model="setting.wife_kinship"  name="wife_kinship"
                                                           theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in kinship | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                            <button type="button" ng-click="setting.wife_kinship = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                            </div>
                                        </div>
                                    </div>
                               </div>
                                <div class="col-md-6" >
                                    <div class="col-md-2">
                                        <label class="control-label bold" > {{'husband' | translate}} </label>
                                    </div>

                                    <div class="col-md-10" >
                                        <div class="form-group">
                                            <div class="input-group">
                                                <ui-select ng-model="setting.husband_kinship"  name="husband_kinship"
                                                           theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in kinship | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                            <button type="button" ng-click="setting.husband_kinship = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                            </div>
                                        </div>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <div style="padding-left: 2%; padding-right: 2%;">
                            <div class="col-md-12 col-sm-12 col-xs-12" style=" margin-top: 2%; border-top: 1px solid #eef1f5; padding: 20px 0px;" >
                                <div class="col-md-2 pull-right" >
                                    <button type="button" class="btn blue pull-right"  style=" margin-top:2%; margin-bottom: 2%; margin-left:0.5%;"  ng-click="save(setting)">
                                        <span>{{'edit' | translate}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END MAIN CONTENT -->









