<div class="modal-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <button class="btn btn-xs pull-right fa fa-times" style=" font-size: medium; background-color: transparent" ng-click="cancel()"></button>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12" style="min-height: 600px; height: 100%; width: 100%;  padding: 2%; padding-top:0%">
            <img ng-src="{{imgSrc}}" style="width:100%; height:1000px;" data-img-blob="" data-url="{{'/doc/files/casesImage/'+person_id +'/' + doc_type}}" class="img-thumbnail">
        </div>
    </div>
</div>
