<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'sponsorships management' | translate }}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        {{ 'settings_' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'update-data' | translate}}
    </li>
</ul>

<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="font-dark"></i>
                        <h3>
                            <span class="glyphicon glyphicon-cog"></span>
                           <span> {{'update-data' | translate}}</span>
                        </h3>
                    </div>
                    <div class="actions" style="padding-top: 30px;">
                        <div class="clearfix">
                            <button type="button" uib-tooltip="{{'new updating setting' | translate}}" class="btn blue pull-left" ng-click="action('new','md',-1)">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span  class="hidden-sm hidden-md  hidden-xs">{{'new'| translate}}</span>
                            </button>
                        </div>
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                          <div class="col-md-12 col-sm-12 col-xs-12">
                        <form class="form-inline search-form pull-right" STYLE=" margin-left: 1.2%;">
                            <div class="input-group">
                                <input type="text"
                                       ng-model="search"
                                       class="form-control" autofocus
                                       placeholder="{{'search' | translate}} "
                                       name="search">
                            </div>
                            </form>

                        </div>
                     <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 0.5%;">
                            <uib-tabset active="active" >
                               <uib-tab  index="0" select="fetch(0)" heading="{{'on sponsor' | translate}}">
                                    <div class="panel panel-info">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="row" ng-if="Sponsoritems.length > 0 " >
                                                                <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" >
                                                                    <label>{{'show' | translate}}
                                                                    <select
                                                                    class="form-control input-sm input-inline" ng-init=""
                                                                    ng-change="itemsPerPage_(0,itemsCount)"
                                                                    name="itemsCount" 
                                                                    ng-model='itemsCount'>
                                                                   <option value="50">50</option><option value="100">100</option>
                                                                    <option value="200">200</option>
                                                                    <option value="500">500</option>
                                                                    <option value="1000">1000</option>
                                                                    <option value="-1">{{'show_All' | translate}}</option>
                                                                </select>
                                                            </label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                                        </div>
                                                        </div>
                                                        <div class="table-scrollable" ng-if="Sponsoritems.length > 0 ">
                                                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                                                <thead>
                                                                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                                                    <th class="text-center" > {{'#' | translate}} </th>
                                                                    <th class="text-center" ng-click="sort('sponsor_name')">{{'sponsorship_authority' | translate}}
                                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='sponsor_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                    </th>
                                                                    <th class="text-center" ng-click="sort('allowed_period')">{{'allowed_period' | translate}}
                                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='allowed_period'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                    </th>
                                                                    <th class="text-center" ng-click="sort('updated_period')"> {{'updated_period' | translate}}
                                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='updated_period'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                    </th>
                                                                    <th class="text-center"> {{'operations' | translate}}</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr dir-paginate="item in Sponsoritems|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                                                    <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                                                    <td>{{item.name }}</td>
                                                                    <td>{{item.allowed_period}}</td>
                                                                    <td>{{item.updated_period}}</td>
                                                                    <td>
                                                                        <button uib-tooltip="{{'edit' | translate}}" type="button"
                                                                                class="btn btn-xs bold font-blue fa fa-edit"
                                                                                style="font-size: medium; background-color: transparent"
                                                                                ng-click="action('edit','md',item.id)">
                                                                        </button>
                                                                        <button uib-tooltip="{{'delete' | translate}}"
                                                                                type="button"
                                                                                class="btn btn-xs bold font-blue fa fa-trash-o"
                                                                                style="font-size: medium; background-color: transparent"
                                                                                ng-click="delete('sm',item.id,item.type)">
                                                                        </button>

                                                                    </td>                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                                <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div  class=" col-md-12 col-sm-12 col-xs-12 text-center"ng-if="Sponsoritems.length == 0 "  style="margin-bottom: 2%; margin-top: 2%">
                                                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show' | translate}}
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                         </div>
                                    </div>
                                </uib-tab>
                                <uib-tab  index="1" select="fetch(1)" heading="{{'on address' | translate}}">
                                    <div class="panel panel-info">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="col-md-12 col-sm-12 col-xs-12" ng-if="Addressitems.length != 0 ">
                                                        <div class="row">
                                                                <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" >
                                                                    <label>{{'show' | translate}}
                                                                    <select
                                                                    class="form-control input-sm input-inline" ng-init=""
                                                                    ng-change="itemsPerPage_(1,itemsCount1)"
                                                                    name="itemsCount1" 
                                                                    ng-model='itemsCount1'>
                                                                   <option value="50">50</option><option value="100">100</option>
                                                                    <option value="200">200</option>
                                                                    <option value="500">500</option>
                                                                    <option value="1000">1000</option>
                                                                    <option value="-1">{{'show_All' | translate}}</option>
                                                                </select>
                                                            </label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                                        </div>
                                                        </div>
                                                        <div class="table-scrollable">
                                                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" style="margin-top: 0%;" >
                                                                <thead>
                                                                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                                                    <th class="text-center" > {{'#' | translate}} </th>
                                                                    <th class="text-center" ng-click="sort('sponsor_name')">{{'address' | translate}}
                                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='sponsor_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                    </th>
                                                                    <th class="text-center" ng-click="sort('allowed_period')">{{'allowed_period' | translate}}
                                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='allowed_period'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                    </th>
                                                                    <th class="text-center" ng-click="sort('updated_period')"> {{'updated_period' | translate}}
                                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='updated_period'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                    </th>
                                                                    <th class="text-center"> {{'operations' | translate}}</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr dir-paginate="item in Addressitems|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage1">
                                                                    <td>{{ ( $index +1 ) +((CurrentPage1-1)* ItemsPerPage1)}}</td>
                                                                    <td>{{item.name }}</td>
                                                                    <td>{{item.allowed_period}}</td>
                                                                    <td>{{item.updated_period}}</td>
                                                                    <td>
                                                                        <button uib-tooltip="{{'edit' | translate}}" type="button"
                                                                                class="btn btn-xs bold font-blue fa fa-edit"
                                                                                style="font-size: medium; background-color: transparent"
                                                                                ng-click="action('edit','md',item.id)">
                                                                        </button>
                                                                        <button uib-tooltip="{{'delete' | translate}}" type="button"
                                                                                class="btn btn-xs bold font-blue fa fa-trash-o"
                                                                                style="font-size: medium; background-color: transparent"
                                                                                ng-click="delete('sm',item.id,item.type)">
                                                                        </button>

                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <!-- END TABLE -->
                                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                                <uib-pagination class="pull-right" total-items="TotalItems1" ng-model="CurrentPage1"
                                                                                max-size="maxSize1" items-per-page="ItemsPerPage1" ng-change="pageChanged(CurrentPage1)"
                                                                                class="pagination-sm" boundary-links="true"
                                                                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div  ng-if="Addressitems.length == 0 " class=" col-md-12text-center" style="margin-bottom: 2%; margin-top: 2%">
                                                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show' | translate}}
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab  index="2" select="fetch(2)" heading="{{'on category type' | translate}}">
                                    <div class="panel panel-info">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div  ng-if="categoriesitems.length == 0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%; margin-top: 2%">
                                                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show' | translate}}
                                                                    </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12" ng-if="categoriesitems.length > 0 ">
                                                        <div class="row">
                                                                <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" >
                                                                    <label>{{'show' | translate}}
                                                                    <select
                                                                    class="form-control input-sm input-inline" ng-init=""
                                                                    ng-change="itemsPerPage_(2,itemsCount2)"
                                                                    name="itemsCount2" 
                                                                    ng-model='itemsCount2'>
                                                                   <option value="50">50</option><option value="100">100</option>
                                                                    <option value="200">200</option>
                                                                    <option value="500">500</option>
                                                                    <option value="1000">1000</option>
                                                                    <option value="-1">{{'show_All' | translate}}</option>
                                                                </select>
                                                            </label>
                                                        </div>
                                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                                        </div>
                                                        </div>
                                                        <div class="table-scrollable">
                                                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" style="margin-top: 0%;" >
                                                                <thead>
                                                                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                                                    <th class="text-center" > {{'#' | translate}} </th>
                                                                    <th class="text-center" ng-click="sort('sponsor_name')">{{'category' | translate}}
                                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='sponsor_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                    </th>
                                                                    <th class="text-center" ng-click="sort('allowed_period')">{{'allowed_period' | translate}}
                                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='allowed_period'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                    </th>
                                                                    <th class="text-center" ng-click="sort('updated_period')"> {{'updated_period' | translate}}
                                                                        <span class="glyphicon sort-icon" ng-show="sortKey=='updated_period'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                    </th>
                                                                    <th class="text-center"> {{'operations' | translate}}</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr dir-paginate="item in categoriesitems|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage2">
                                                                    <td>{{ ( $index +1 ) +((CurrentPage2-1)* ItemsPerPage2)}}</td>
                                                                    <td>{{item.name }}</td>
                                                                    <td>{{item.allowed_period}}</td>
                                                                    <td>{{item.updated_period}}</td>
                                                                    <td>
                                                                        <button uib-tooltip="{{'edit' | translate}}" type="button"
                                                                                class="btn btn-xs bold font-blue fa fa-edit"
                                                                                style="font-size: medium; background-color: transparent"
                                                                                ng-click="action('edit','md',item.id)">
                                                                        </button>
                                                                        <button uib-tooltip="{{'delete' | translate}}" type="button"
                                                                                class="btn btn-xs bold font-blue fa fa-trash-o"
                                                                                style="font-size: medium; background-color: transparent"
                                                                                ng-click="delete('sm',item.id,item.type)">
                                                                        </button>

                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <!-- END TABLE -->

                                                            <div class="row" ng-if="categoriesitems.length != 0 " >
                                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                                    <uib-pagination class="pull-right" total-items="TotalItems2" ng-model="CurrentPage2"
                                                                                    max-size="maxSize2" items-per-page="ItemsPerPage2" ng-change="pageChanged(CurrentPage2)"
                                                                                    class="pagination-sm" boundary-links="true"
                                                                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                           </uib-tabset>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header" style="  padding:6%; ">
        <h4 class="modal-title text-center bold" ng-show="op == 'new'"> {{'new updating setting form' | translate}} </h4>
        <h4 class="modal-title text-center bold" ng-show="op == 'edit'"> {{'edit updating setting form' | translate}} </h4>
    </div>
    <div class="modal-body">
        <form class="row" name="frm" novalidate="" role="form" class=" text-center" style="padding: 2%;">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center" >
                <div class="col-md-6" ng-show="op == 'new'" >
                    <div  class="form-group" ng-class="{ 'has-error' : frm.type.$invalid && !frm.type.$pristine }">
                        <label class="control-label bold">{{'on' | translate}}</label>
                        <select class="form-control" name="type" ng-model="formData.type" ng-required="true" ng-change="getTarget(formData.type)">
                            <option disabled selected value>{{'on' | translate}}  </option>
                            <option value="0"> {{'on sponsor' | translate}}</option>
                            <option value="1"> {{'on address' | translate}}</option>
                            <option value="2"> {{'on category type' | translate}}</option>
                        </select>
                     <span class="text-danger bold help-inline" ng-show="frm.type.$error.required && frm.type.$touched">
                      - {{'required_field' | translate}}
                    </span>
                   <span ng-repeat="(error, errortext) in msg1.type" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.type' != [ ] " >
                             {{ errortext.toString() }}
                    </span>
                    </div>
                </div>
                <div class="col-md-6" ng-show="op == 'new'" >
                    <div class="form-group" ng-class="{ 'has-error' : frm.target_id.$invalid && !frm.target_id.$pristine }">
                        <label class="control-label bold">{{'target_id' | translate}}</label>
                        <div class="input-group">
                            <ui-select ng-model="formData.target_id" name="target_id"
                                       ng-required="true"
                                       ng-change="msg1.target_id = [ ]"
                                       theme="bootstrap"
                                       class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in List | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                            <button type="button" ng-click="formData.target_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                        </div>

              <span class="text-danger bold help-inline" ng-show="frm.target_id.$error.required && frm.target_id.$touched">
                  - {{'required_field' | translate}}
                </span>
               <span ng-repeat="(error, errortext) in msg1.target_id" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.target_id' != [ ] " >
                         {{ errortext.toString() }}
                </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error' : frm.allowed_period.$invalid && !frm.allowed_period.$pristine }">
                        <label class="control-label bold">{{'allowed_period' | translate}}</label>
                        <input type="text" class="form-control" numeric-only
                               ng-model="formData.allowed_period" name="allowed_period"
                               ng-required="true"ng-change="msg1.allowed_period = [ ]" >

              <span class="text-danger bold help-inline" ng-show="frm.allowed_period.$error.required && frm.allowed_period.$touched">
                  - {{'required_field' | translate}}
                </span>
               <span ng-repeat="(error, errortext) in msg1.allowed_period" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.allowed_period' != [ ] " >
                         {{ errortext.toString() }}
                </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error' : frm.updated_period.$invalid && !frm.updated_period.$pristine }">
                        <label class="control-label bold">{{'updated_period' | translate}}</label>
                        <input type="text" class="form-control" numeric-only
                               ng-model="formData.updated_period" name="updated_period"
                               ng-required="true"ng-change="msg1.updated_period = [ ]" >

              <span class="text-danger bold help-inline" ng-show="frm.updated_period.$error.required && frm.updated_period.$touched">
                  - {{'required_field' | translate}}
                </span>
               <span ng-repeat="(error, errortext) in msg1.updated_period" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.updated_period' != [ ] " >
                         {{ errortext.toString() }}
                </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class=" btn blue" ng-disabled="frm.$invalid" ng-click="confirm(formData)" type="button" >
            <span>{{'save' | translate}} </span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel' | translate}}</span> </button>
    </div>
</script>

