<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i>{{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'reports and queries'| translate}}

        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'search'| translate}}

        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{ 'persons' |translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        <span ng-show="type !='guardians'"> {{'General Search'| translate}}  </span>
        <span ng-show="type =='guardians'"> {{'guardians_data' | translate}}</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12  col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-body" style="min-height: 600px;">
                <div class="table-toolbar">
                    <div class="col-md-12  col-sm-12 col-xs-12" style="background-color: #f3f3f3;margin-bottom: 1%; padding: 35px 0 30px 0px !important; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " >
                        <form name="frmsearch">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">

                                <div class="col-md-3 col-sm-12 col-xs-12 text-center">
                                    <div class="form-group" ng-class="{ 'has-error' : frmsearch.id_card_number.$invalid }">
                                        <label class="text-center control-label bold"> {{"enter_id_card_number"| translate}}</label>
                                        <input type="text" class="form-control" ng-enter="Search(filter)" name="id_card_number" ng-model="filter.id_card_number" maxlength="9" ng-maxlength="9" placeholder='{{"id_card_number"| translate}}' numeric-only ng-click = "getCard()"/>
                                        <ul class="list-group" ng-show = "checkCards && cards.length > 0"
                                            style="width: 97%;overflow-y: scroll;position: absolute;z-index: 200;">
                                             <li class="list-group-item" ng-repeat="card in cards | filter:filter.id_card_number"
                                                 ng-click="selected(card.id_card_number)">{{card.id_card_number}}</li>
                                        </ul>
                                        <span class="text-danger bold help-inline" ng-show="frmsearch.id_card_number.$error.minlength">  {{"minlength 9"| translate}}  </span>
                                        <span class="text-danger bold help-inline" ng-show="frmsearch.id_card_number.$error.maxlength">  {{"maxlength 9"| translate}}  </span>
                                        <span class="text-danger bold help-inline" ng-show="frmsearch.id_card_number.$error.pattern">  {{"integer_field"| translate}}  </span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12 col-xs-12 text-center">
                                    <div class="form-group" ng-class="{ 'has-error' : frmsearch.old_id_card_number.$invalid }">
                                        <label class="text-center control-label bold"> {{"enter_old_id_card_number"| translate}}</label>
                                        <input type="text" class="form-control" ng-enter="Search(filter)" name="old_id_card_number" ng-model="filter.old_id_card_number" maxlength="9" ng-maxlength="9"
                                               placeholder='{{"id_card_number"| translate}}' numeric-only ng-click = "getCard()"/>
                                        <span class="text-danger bold help-inline" ng-show="frmsearch.old_id_card_number.$error.minlength">  {{"minlength 9"| translate}}  </span>
                                        <span class="text-danger bold help-inline" ng-show="frmsearch.old_id_card_number.$error.maxlength">  {{"maxlength 9"| translate}}  </span>
                                        <span class="text-danger bold help-inline" ng-show="frmsearch.old_id_card_number.$error.pattern">  {{"integer_field"| translate}}  </span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12 col-xs-12 text-center">
                                    <div class="form-group" ng-class="{ 'has-error' : frmsearch.first_name.$invalid }">
                                        <label class="text-center control-label bold"> {{"first_name"| translate}}</label>
                                        <input type="text"
                                               class="form-control"
                                               name="first_name"
                                               arabic-alphabet
                                               maxlength="45"
                                               ng-maxlength="45"
                                               ng-model="filter.first_name"
                                               ng-enter="Search(filter)"
                                               placeholder='{{"first_name"| translate}} ' />
                                        <span class="text-danger bold help-inline" ng-show="frmsearch.first_name.$error.maxlength">  {{"maxlength 45"| translate}}  </span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12 col-xs-12 text-center">
                                    <div class="form-group" ng-class="{ 'has-error' : frmsearch.second_name.$invalid }">
                                        <label class="text-center control-label bold"> {{"second_name"| translate}}</label>
                                        <input type="text"
                                               class="form-control"
                                               name="second_name"
                                               arabic-alphabet
                                               maxlength="45"
                                               ng-maxlength="45"
                                               ng-model="filter.second_name"
                                               ng-enter="Search(filter)"
                                               placeholder='{{"second_name"| translate}} ' />
                                        <span class="text-danger bold help-inline" ng-show="frmsearch.second_name.$error.maxlength">  {{"maxlength 45"| translate}}  </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">

                                <div class="col-md-3 col-sm-12 col-xs-12 text-center">
                                    <div class="form-group" ng-class="{ 'has-error' : frmsearch.third_name.$invalid }">
                                        <label class="text-center control-label bold"> {{"third_name"| translate}}</label>
                                        <input type="text"
                                               class="form-control"
                                               name="third_name"
                                               arabic-alphabet
                                               maxlength="45"
                                               ng-maxlength="45"
                                               ng-model="filter.third_name"
                                               ng-enter="Search(filter)"
                                               placeholder='{{"third_name"| translate}} ' />
                                        <span class="text-danger bold help-inline" ng-show="frmsearch.third_name.$error.maxlength">  {{"maxlength 45"| translate}}  </span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12 col-xs-12 text-center">
                                    <div class="form-group" ng-class="{ 'has-error' : frmsearch.last_name.$invalid }">
                                        <label class="text-center control-label bold"> {{"last_name"| translate}}</label>
                                        <input type="text"
                                               class="form-control"
                                               name="last_name"
                                               arabic-alphabet
                                               maxlength="45"
                                               ng-maxlength="45"
                                               ng-model="filter.last_name"
                                               ng-enter="Search(filter)"
                                               placeholder='{{"last_name"| translate}}' />
                                        <span class="text-danger bold help-inline" ng-show="frmsearch.last_name.$error.maxlength">  {{"maxlength 45"| translate}}  </span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-12 col-xs-12 text-center">
                                    <div class="form-group" ng-class="{ 'has-error' : frmsearch.prev_family_name.$invalid }">
                                        <label class="text-center control-label bold"> {{"prev_family_name"| translate}}</label>
                                        <input type="text"
                                               class="form-control"
                                               name="prev_family_name"
                                               arabic-alphabet
                                               maxlength="45"
                                               ng-maxlength="45"
                                               ng-model="filter.prev_family_name"
                                               ng-enter="Search(filter)"
                                               placeholder='{{"prev_family_name"| translate}}' />
                                        <span class="text-danger bold help-inline" ng-show="frmsearch.prev_family_name.$error.maxlength">  {{"maxlength 45"| translate}}  </span>
                                    </div>
                                </div>
                                <div class="col-md-3  col-sm-12 col-xs-12   text-center pull-right ">
                                    <button  class=" pull-right btn blue " style="margin-top: 7%;" ng-click="Search(filter)" type="button" >
                                        <span style="margin-left:3%;" class="icon-magnifier"></span>
                                        <span style="margin-left:3%;" >{{"search"| translate}}</span>
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="col-md-12  col-sm-12 col-xs-12" ng-show="items.length == 0" style="margin-top: 0.5%; padding: 0%">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show'| translate}}</span>
                        </div>
                    </div>
                    <div class="col-md-12  col-sm-12 col-xs-12" ng-if="items.length > 0 " style="min-height: 500px; padding-top: 2%; padding-bottom: 2%; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " >
                      <div class="row" ng-show="items.length > 0 ">
                                    <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
                                        <label>
                                        {{'show'| translate}}
                                            <select
                                                class="form-control input-sm input-inline" ng-init=""
                                                ng-change="itemsPerPage_(itemsCount)"
                                                name="itemsCount" 
                                                ng-model='itemsCount'>
                                               <option value="50">50</option><option value="100">100</option>
                                                <option value="200">200</option>
                                                <option value="500">500</option>
                                                <option value="1000">1000</option>
                                                <option value="-1">{{'show_All'| translate}}</option>
                                            </select>
                                        </label>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                    </div>
                                </div>
                         <div class="table-scrollable" ng-if="items.length > 0 ">
                        <table class="text-center table table-striped table-bordered table-hover table-checkable order-column text-center"  ng-if="items.length > 0 ">
                            <thead>
                            <tr style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">
                                <th class="text-center" style="width: 2%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{'#'| translate}} </th>
                                <th class="text-center" style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">    {{"full_name"| translate}} </th>
                                <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">    {{"id_card_number"| translate}} </th>
                                <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">    {{"old_id_card_number"| translate}} </th>
                                <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">    {{"gender"| translate}} </th>
                                <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">    {{"marital_status_id"| translate}} </th>
                                <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-show="type !='guardians'">   {{'family_cnt' | translate}}</th>
                                <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">   {{'mobile' | translate}}</th>
                                <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">    {{"birthday"| translate}} </th>
                                <th class="text-center" style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">    {{"address"| translate}} </th>
                                <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">    {{"show"| translate}} </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="item in items|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage"  href="{{'#/aids/search/detail/'+item.id}}">
                                <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                <td>
                                    <a class="btn btn-xs bold font-blue"
                                       style=" background-color: transparent"
                                       href="#/search/{{type}}/detail/{{item.id}}">
                                        {{  item.name}}
                                    </a>
                                </td>
                                <td>{{item.id_card_number}} </td>
                                <td>{{item.old_id_card_number}} </td>
                                <td>{{item.gender }}</td>
                                <td>{{item.marital_status }}</td>
                                <td ng-show="type !='guardians'">{{item.family_cnt }}</td>
                                <td>{{item.primary_mobile }}</td>
                                <td>{{item.birthday }}</td>
                                <td>{{item.address }}</td>
                                <td class="text-center " style="vertical-align: middle;">
                                    <a class="btn btn-xs bold font-blue"
                                       href="#/search/{{type}}/detail/{{item.id}}" style="font-size: medium; background-color: transparent">
                                        <span class="fa fa-eye" style="margin-left: 4%;"></span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                        <div class="col-md-12  col-sm-12 col-xs-12"   ng-if="items.length > 0 " >
                            <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                <span class="bold ">{{'number of total items'| translate}} : </span>
                                <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                <span class="bold ">{{'row'| translate}}</span>
                            </div>
                            <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"
                                            max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)"
                                            class="pagination-sm" boundary-links="true"
                                            previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

