
<!-- BEGIN MAIN CONTENT -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i>{{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'reports and queries'| translate}}

        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'search'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{ 'persons' |translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        {{'sponsorships_' | translate}}
    </li>
</ul>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-body" style="min-height: 600px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #f3f3f3;margin:1%; padding-top: 20px; padding-bottom: 20px; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " >
                            <form name="form">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center ">

                                        <div class="col-md-3 text-center ">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'card_number' | translate }}  {{'case'| translate}}</label>
                                                <input type="text" class="form-control" autofocus ng-enter="Search(filter)" name="id_card_number" ng-model="filter.id_card_number" maxlength="9"
                                                       ng-maxlength="9" placeholder="{{'card_number' | translate }}"
                                                       numeric-only/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'card_number' | translate }}  ( {{'father' | translate }}   )</label>
                                                <input type="text" class="form-control" name="fatherold_id_card_number" ng-model="filter.fatherold_id_card_number" ng-maxlength="9" numeric-only placeholder="{{'card_number' | translate }}" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'card_number' | translate }}   ( {{'guardian' | translate }} )</label>
                                                <input type="text" class="form-control" name="guardianold_id_card_number" ng-model="filter.guardianold_id_card_number" maxlength="9" numeric-only placeholder="{{'card_number' | translate }}"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'card_number' | translate }}   ( {{'mother' | translate }} )</label>
                                                <input type="text" class="form-control" name="motherold_id_card_number" ng-model="filter.motherold_id_card_number" maxlength="9" numeric-only placeholder="{{'card_number' | translate }}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center ">

                                        <div class="col-md-3 text-center ">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'old_id_card_number' | translate }}  {{'case'| translate}}</label>
                                                <input type="text" class="form-control" autofocus ng-enter="Search(filter)" name="old_id_card_number" ng-model="filter.old_id_card_number" maxlength="9"
                                                       ng-maxlength="9" placeholder="{{'card_number' | translate }}"
                                                       numeric-only/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'old_id_card_number' | translate }}  ( {{'father' | translate }}   )</label>
                                                <input type="text" class="form-control" name="father_old_id_card_number" ng-model="filter.father_old_id_card_number" ng-maxlength="9" numeric-only placeholder="{{'old_id_card_number' | translate }}" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'old_id_card_number' | translate }}   ( {{'guardian' | translate }} )</label>
                                                <input type="text" class="form-control" name="guardian_old_id_card_number" ng-model="filter.guardian_old_id_card_number" maxlength="9" numeric-only placeholder="{{'old_id_card_number' | translate }}"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'old_id_card_number' | translate }}   ( {{'mother' | translate }} )</label>
                                                <input type="text" class="form-control" name="mothero_ld_id_card_number" ng-model="filter.mother_old_id_card_number" maxlength="9" numeric-only placeholder="{{'old_id_card_number' | translate }}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                        <div class="col-md-3 text-center ">
                                            <div class="form-group">
                                                <label class="text-center control-label bold"> {{'first_name' | translate }}</label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="first_name"
                                                       arabic-alphabet
                                                       maxlength="45"
                                                       ng-maxlength="45"
                                                       ng-model="filter.first_name"
                                                       ng-enter="Search(filter)"
                                                       placeholder="{{'first_name' | translate }} " />
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-center ">
                                            <div class="form-group">
                                                <label class="text-center control-label bold"> {{'second_name' | translate }}</label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="second_name"
                                                       arabic-alphabet
                                                       maxlength="45"
                                                       ng-maxlength="45"
                                                       ng-model="filter.second_name"
                                                       ng-enter="Search(filter)"
                                                       placeholder="{{'second_name' | translate }} " />
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-center ">
                                            <div class="form-group">
                                                <label class="text-center control-label bold"> {{'third_name' | translate }}</label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="third_name"
                                                       arabic-alphabet
                                                       maxlength="45"
                                                       ng-maxlength="45"
                                                       ng-model="filter.third_name"
                                                       ng-enter="Search(filter)"
                                                       placeholder="{{'third_name' | translate }} " />
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-center ">
                                            <div class="form-group">
                                                <label class="text-center control-label bold"> {{'last_name' | translate }}</label>
                                                <input type="text"
                                                       class="form-control"
                                                       name="last_name"
                                                       arabic-alphabet
                                                       maxlength="45"
                                                       ng-maxlength="45"
                                                       ng-model="filter.last_name"
                                                       ng-enter="Search(filter)"
                                                       placeholder="{{'last_name' | translate }} " />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3 text-center " style="padding-top: 20px;">
                                            <button  class="btn blue  " ng-click="Search(filter)" type="button"  style="   min-width:  150px;">
                                                <span style="margin-left:3%;" class="icon-magnifier"></span>
                                                <span style="margin-left:3%;" >{{'search' | translate }}</span>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12"  style="min-height: 500px; padding-top: 2%; padding-bottom: 2%; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " >

                            <div class="col-md-12 col-sm-12 col-xs-12" ng-if="!result && filterd" style="margin-top: 0.5%;">
                                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show' | translate }}
                                                                    </span>
                                </div>
                            </div>
                            <div class="row" ng-if="result" >
                                <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
                                    <label>{{'show' | translate }}
                                        <select
                                                class="form-control input-sm input-inline" ng-init=""
                                                ng-change="itemsPerPage_(itemsCount)"
                                                name="itemsCount"
                                                ng-model='itemsCount'>
                                           <option value="50">50</option><option value="100">100</option>
                                            <option value="200">200</option>
                                            <option value="500">500</option>
                                            <option value="1000">1000</option>
                                            <option value="-1">{{'show_All' | translate }}</option>
                                        </select>
                                    </label>
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" ng-if="result">
                                <div class="table-scrollable">
                                <table class="text-center table table-striped table-bordered table-hover table-checkable order-column text-center"  ng-if="result">
                                    <thead>
                                    <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                        <th style="width: 2%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" class="text-center">    {{'#' | translate }} </th>
                                        <th style="width: 15%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" class="text-center">    {{'full_name' | translate }} </th>
                                        <th style="width: 15%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" class="text-center" ng-if="master">    {{'organization_name' | translate }} </th>
                                        <th style="width: 8%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" class="text-center">    {{'card_number' | translate }} </th>
                                        <th style="width: 8%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" class="text-center">    {{'old_id_card_number' | translate }} </th>
                                        <th style="width: 8%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" class="text-center">    {{'category_name' | translate }} </th>
                                        <th style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" class="text-center">    {{'gender' | translate }} </th>
                                        <th style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" class="text-center">    {{'status' | translate }} </th>
                                        <th style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" class="text-center">    {{'sponsor_number' | translate }} </th>
                                        <th style="width: 15%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" class="text-center">    {{'sponsor_name' | translate }} </th>
                                        <th style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" class="text-center">    {{'operations' | translate }} </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="item in items|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                        <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                        <td>{{  item.name}}</td>
                                        <td ng-if="master">{{  item.organization_name}}</td>
                                        <td>{{item.id_card_number}} </td>
                                        <td>{{item.old_id_card_number}} </td>
                                        <td>{{item.category_name}} </td>
                                        <td>{{item.gender }}</td>
                                        <td>{{item.status }}</td>
                                        <td>{{  item.sponsor_number}}</td>
                                        <td>{{  item.sponsor_name}}</td>
                                        <td>
                                            <div class="btn-group" uib-dropdown >
                                                <button id="single-button" type="button" class="btn btn-xs blue" uib-dropdown-toggle ng-disabled="disabled">
                                                    <span>{{'select operation' | translate }}</span>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button" style="margin-right: -50%">
                                                    <li>
                                                        <a href="#/sponsorship/cases/show/{{item.case_id}}/" class="iconify">
                                                            <i class="fa fa-edit"></i> {{'show case data' | translate}} </a>
                                                    </li>
                                                    <li ng-show=" item.organization_id == organization_id">
                                                        <a href="#/sponsorship/cases/edit/{{item.case_id}}/" class="iconify">
                                                            <i class="fa fa-edit"></i> {{'edit case data' | translate}} </a>
                                                    </li>
                                                    <li class="divider"  ng-show="item.organization_id == organization_id && (item.father_id == null ||item.mother_id == null || item.guardian_id == null)"></li>
                                                    <li ng-show="item.organization_id == organization_id && item.father_id == null">
                                                        <a href="#/sponsorship/case/new/father/{{item.case_id}}" class="iconify">
                                                            <i class="glyphicon glyphicon-plus"></i> {{'add father'| translate}} </a>
                                                    </li>
                                                    <li ng-show="item.organization_id == organization_id && item.mother_id == null ">
                                                        <a href="#/sponsorship/case/new/mother/{{item.case_id}}" class="iconify">
                                                            <i class="glyphicon glyphicon-plus"></i> {{'add mother'| translate}} </a>
                                                    </li>
                                                    <li ng-show="item.organization_id == organization_id && item.guardian_id == null">
                                                        <a href="{{'#/sponsorship/case/new/guardian/'+item.case_id}}" class="iconify">
                                                            <i class="glyphicon glyphicon-plus"></i> {{'add guardian'| translate}}  </a>
                                                    </li>
                                                    <li class="divider"  ng-show="item.organization_id == organization_id && (item.father_id != null ||item.mother_id != null || item.guardian_id != null)"></li>
                                                    <li ng-show="item.organization_id == organization_id && item.father_id != null">
                                                        <a href="#/sponsorship/case/edit/father/{{item.case_id}}" class="iconify">
                                                            <i class="fa fa-edit"></i> {{'edit father'| translate}} </a>
                                                    </li>
                                                    <li ng-show="item.organization_id == organization_id && item.mother_id != null ">
                                                        <a href="#/sponsorship/case/edit/mother/{{item.case_id}}" class="iconify">
                                                            <i class="fa fa-edit"></i> {{'edit mother'| translate}} </a>
                                                    </li>
                                                    <li ng-show="item.organization_id == organization_id && item.guardian_id != null">
                                                        <a href="#/sponsorship/case/edit/guardian/{{item.case_id}}" class="iconify">
                                                            <i class="fa fa-edit"></i> {{'edit guardian'| translate}}  </a>
                                                    </li>
                                                    <li class="divider"  ng-show="item.organization_id == organization_id && (item.father_id != null ||item.mother_id != null || item.guardian_id != null)"></li>
                                                    <li ng-show="item.organization_id == organization_id && item.father_id != null">
                                                        <a href="#/sponsorship/case/change/father/{{item.case_id}}" class="iconify">
                                                            <i class="fa fa-edit"></i> {{'change father'| translate}} </a>
                                                    </li>
                                                    <li ng-show="item.organization_id == organization_id && item.mother_id != null ">
                                                        <a href="#/sponsorship/case/change/mother/{{item.case_id}}" class="iconify">
                                                            <i class="fa fa-edit"></i> {{'change mother'| translate}} </a>
                                                    </li>
                                                    <li ng-show="item.organization_id == organization_id && item.guardian_id != null">
                                                        <a href="#/sponsorship/case/change/guardian/{{item.case_id}}" class="iconify">
                                                            <i class="fa fa-edit"></i> {{'change guardian'| translate}}  </a>
                                                    </li>
                                                    <li class="divider" ng-show=" item.organization_id == organization_id"></li>
                                                    <li ng-show=" item.organization_id == organization_id">
                                                        <a href="#/sponsorship/cases/edit/{{item.case_id}}/custom-form" class="iconify">
                                                            <i class="fa fa-edit"></i>{{'update custom form'| translate}} </a>
                                                    </li>
                                                    <li ng-show=" item.organization_id == organization_id">
                                                        <a href="#/sponsorship/cases/edit/{{item.case_id}}/documents" class="iconify">
                                                            <i class="fa fa-paperclip"></i> {{'case attachments'| translate}} </a>
                                                    </li>
                                                    <li ng-show=" item.organization_id == organization_id">
                                                        <a href="#/sponsorship/cases/edit/{{item.case_id}}/family" class="iconify">
                                                            <i class="fa fa-edit"></i> {{'family member'| translate}} </a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li>
                                                        <a href="{{'#/sponsorship/cases/show/'+item.case_id+'/payments'}}" class="iconify">
                                                            <i class="fa fa-money"></i>{{'show payments'| translate}} </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{'#/sponsorship/cases/show/'+item.case_id+'/guardians'}}" class="iconify">
                                                            <i class="fa fa-users"></i>{{'show guardians'| translate}} </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{'#/sponsorship/cases/show/'+item.case_id+'/sponsorships'}}" class="iconify">
                                                            <i class="fa fa-table"></i>{{'show sponsorships'| translate}} </a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li>
                                                        <a ng-click="download('word',item.case_id)" class="iconify">
                                                            <i class="fa fa-file-word-o"></i> {{'download form'| translate}} </a>
                                                    </li>
                                                    <li  >
                                                        <a ng-click="download('archive',item.case_id)" class="iconify">
                                                            <i class="fa fa-file-archive-o"></i>{{'download attachments'| translate}} </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            </div>
                            <div class="row"  ng-if="result"  >
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                        <span class="bold ">{{'number of total items'| translate}}</span>
                                        <span class="bold "> : </span>
                                        <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                        <span class="bold ">{{'row' | translate }}</span>
                                    </div>
                                    <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"
                                                    max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)"
                                                    class="pagination-sm" boundary-links="true"
                                                    previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

