<style>
    .tabbable-line>.nav-tabs>li.active{
        border-bottom: 4px solid #3598dc;
        background-color: #e7ecf1 !important;
    }

    .tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover{
        border-bottom: 4px solid #3598dc;
    }

    .portlet.light>.portlet-title>.nav-tabs>li{
        border-radius: 10px 10px 0px 0px;
    }
</style>



<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i>{{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'reports and queries'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'search'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{ 'persons' |translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        <span> {{'vouchers-search'| translate}}</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <a class="  btn yellow-saffron " ng-click="toggle()" type="button">
                            <span style="margin-left:3%;" class="icon-magnifier"></span>
                            <span class="hidden-sm hidden-md  hidden-xs">{{'advance search'| translate}}</span>
                        </a>
                        <button type="button"
                                uib-tooltip="{{'search from file'| translate}}" ng-click="check(1)" class="btn green-turquoise">
                            <span class="fa fa-check"></span>
                            <span class="hidden-sm hidden-md  hidden-xs">{{'search from file'| translate}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="portlet-body" style="min-height: 600px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0px 20px 20px 20px;">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #f3f3f3;margin-bottom: 1%; padding-top: 2%; padding-bottom: 2%; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " >
                            <form name="filterForm">

                                <div class="col-md-12 col-sm-12 col-xs-12 text-center" ng-if="!toggleStatus">
                                    <div class="col-md-3">
                                        <div class="form-group" ng-class="{ 'has-error' : filterForm.id_card_number.$invalid }">
                                            <label class="text-center control-label bold"> {{"card_number"| translate}}</label>
                                            <input type="text" class="form-control text-center"
                                                   name="id_card_number"
                                                  ng-enter="Search(filter,'paginate')"  ng-model="filter.id_card_number" maxlength="9"
                                                   ng-maxlength="9" placeholder='{{"card_number"| translate}}'
                                                   numeric-only/>
                                            <span class="text-danger bold help-inline" ng-show="filterForm.id_card_number.$error.minlength">  {{"minlength 9"| translate}}  </span>
                                            <span class="text-danger bold help-inline" ng-show="filterForm.id_card_number.$error.maxlength">  {{"maxlength 9"| translate}}  </span>
                                            <span class="text-danger bold help-inline" ng-show="filterForm.id_card_number.$error.pattern">  {{"integer_field"| translate}}  </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{'receipt_date_from' | translate}} </label>
                                            <div  class="input-group">
                                                <input type="text" class="form-control"
                                                       uib-datepicker-popup="{{format}}"
                                                      ng-enter="Search(filter,'paginate')"  ng-model="filter.receipt_date_from"
                                                       datepickerPopup
                                                       name="receipt_date_from"
                                                       is-open="popup90.opened" datepicker-options="dateOptions"
                                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn fa fa-calendar btn-default" ng-click="open90($event)">

                                                    </button>
                                              </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{'receipt_date_to' | translate}} </label>
                                            <div  class="input-group">
                                                <input type="text" class="form-control"
                                                       uib-datepicker-popup="{{format}}"
                                                      ng-enter="Search(filter,'paginate')"  ng-model="filter.receipt_date_to"
                                                       datepickerPopup
                                                       name="receipt_date_to"
                                                       is-open="popup88.opened" datepicker-options="dateOptions"
                                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn fa fa-calendar btn-default" ng-click="open88($event)">

                                                    </button>
                                              </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-sm-12 col-xs-12 text-center " style="padding: 0px ; padding-top: 25px ;">
                                        <div class="clearfix">
                                            <button  class=" btn blue "
                                                     ng-disabled="(filter.id_card_number == '' || filterForm.id_card_number.$error.minlength ||
                                                                          filterForm.id_card_number.$error.maxlength  || filterForm.id_card_number.$error.pattern)"
                                                     ng-click="Search(filter,'paginate')" type="button" >
                                                <span style="margin-left:3%;" class="icon-magnifier"></span>
                                                <span style="margin-left:3%;" class="hidden-sm hidden-md  hidden-xs">{{"search"| translate}}</span>
                                            </button>
                                            <button  class=" btn green-turquoise "
                                                     ng-if="success"
                                                     ng-click="export(filter)"
                                                     type="button" >
                                                <span style="margin-left:3%;" class="fa fa-file-excel-o"></span>
                                                <span style="margin-left:3%;"  class="hidden-sm hidden-md  hidden-xs">{{'export'| translate}}</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="toggleStatus">
                                    <div class="col-md-12 col-sm-12 col-xs-12"  ng-if="can('aid.voucher.search')" >
                                        <div class="note note-success">
                                                <i style="font-size: larger" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                                {{'you must click to refresh button to load the organization according category' | translate}}
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                        <!--<div class="col-md-3 col-sm-12 col-xs-12"   >-->
                                            <!--<div class="form-group" style="padding-top:25px;">-->
                                                <!--<label class="control-label bold">-->
                                                          <!--<span ng-if="filter.all_organization" class="checker">-->
                                                                <!--<input type="checkbox" data-on-color="primary" data-off-color="info"-->
                                                                       <!--ng-model="filter.all_organization" ng-true-value="true" ng-false-value="false">-->
                                                          <!--</span>-->
                                                    <!--<span ng-if="!filter.all_organization">-->
                                                                <!--<input type="checkbox" data-on-color="primary" data-off-color="info"-->
                                                                       <!--ng-model="filter.all_organization" ng-true-value="true" ng-false-value="false">-->
                                                          <!--</span>-->
                                                    <!--<span >{{'search in all organization'| translate}}</span>-->
                                                <!--</label>-->
                                            <!--</div>-->

                                        <!--</div>-->
                                        <div class="col-md-4">
                                            <div class="form-group" ng-class="{ 'has-error' : filterForm.id_card_number.$invalid }">
                                                <label class="text-center control-label bold"> {{"card_number"| translate}}</label>
                                                <input type="text" class="form-control text-center"
                                                       name="id_card_number"
                                                      ng-enter="Search(filter,'paginate')"  ng-model="filter.id_card_number" maxlength="9"
                                                       ng-maxlength="9" placeholder='{{"card_number"| translate}}'
                                                       numeric-only/>
                                                <span class="text-danger bold help-inline" ng-show="filterForm.id_card_number.$error.minlength">  {{"minlength 9"| translate}}  </span>
                                                <span class="text-danger bold help-inline" ng-show="filterForm.id_card_number.$error.maxlength">  {{"maxlength 9"| translate}}  </span>
                                                <span class="text-danger bold help-inline" ng-show="filterForm.id_card_number.$error.pattern">  {{"integer_field"| translate}}  </span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'receipt_date_from' | translate}} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                          ng-enter="Search(filter,'paginate')"  ng-model="filter.receipt_date_from"
                                                           datepickerPopup
                                                           name="receipt_date_from"
                                                           is-open="popup900.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                    <button type="button" class="btn fa fa-calendar btn-default" ng-click="open900($event)">

                                                    </button>
                                              </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'receipt_date_to' | translate}} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                          ng-enter="Search(filter,'paginate')"  ng-model="filter.receipt_date_to"
                                                           datepickerPopup
                                                           name="receipt_date_to"
                                                           is-open="popup880.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                    <button type="button" class="btn fa fa-calendar btn-default" ng-click="open880($event)">

                                                    </button>
                                              </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--<div class="col-md-12 col-sm-12 col-xs-12" ng-if="can('aid.voucher.search')" style="margin-bottom: 5px;">-->
                                            <!--<div class="col-md-5" ng-if="organizationsCat && filter.all_organization">-->
                                                <!--<div class="form-group">-->
                                                    <!--<label class="control-label bold"> {{'organization_category'| translate}} </label>-->
                                                    <!--<div  class="input-group">-->
                                                        <!--<multiselect ng-enter="Search(filter,'paginate')"  ng-model="filter.organization_category_id"-->
                                                                      <!--ng-if="organizationsCat"-->
                                                                      <!--ng-class="filter.all_organization? '' : 'inactive'"-->
                                                                      <!--options="organizationsCat"-->
                                                                      <!--show-search="true" id-prop="id"-->
                                                                      <!--show-select-all="true" show-unselect-all="true"-->
                                                                      <!--display-prop="name" search-limit="10"-->
                                                                      <!--labels="labels">-->
                                                        <!--</multiselect>-->
                                                        <!--<span class="input-group-btn">-->
                                                           <!--<button type="button" class="btn fa fa-refresh btn-default"-->
                                                                   <!--ng-class="filter.all_organization? '' : 'inactive'"-->
                                                                   <!--style="line-height:1.2!important;"-->
                                                                   <!--ng-click="resetOrg(filter.all_organization,filter.organization_category_id)"></button>-->
                                                        <!--</span>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="col-md-5 col-sm-12 col-xs-12" ng-if="disblay_orgs">-->
                                                <!--<div class="form-group">-->
                                                    <!--<label class=" control-label bold">{{'organization name'| translate}}</label>-->
                                                    <!--<multiselect ng-enter="Search(filter,'paginate')"  ng-model="filter.organization_id" ng-if="disblay_orgs"-->
                                                                  <!--ng-class="filter.all_organization? '' : 'inactive'"-->
                                                                  <!--options="Org" show-search="true" id-prop="id" display-prop="name" search-limit="10">-->
                                                    <!--</multiselect>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                    <!--</div>-->
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-4" ng-if="codes_list">
                                            <div class="form-group ">
                                                    <label class=" control-label bold">{{'un_serial'| translate}}</label>
                                                    <multiselect ng-enter="Search(filter,'paginate')"  ng-model="filter.codes" ng-required="true"
                                                                  show-select-all="true" show-unselect-all="true"
                                                                  labels="labels"
                                                                  ng-if="codes_list"
                                                                  options="codes_list" show-search="true"
                                                                  id-prop="id" display-prop="name" search-limit="10">
                                                    </multiselect>
                                                </div>
                                            </div>
                                            <div class="col-md-4" ng-if="vouchers_code_list.length > 0">
                                                <div class="form-group ">
                                                    <label class=" control-label bold">{{'voucher_serial'| translate}}</label>
                                                    <multiselect ng-enter="Search(filter,'paginate')"  ng-model="filter.vouchers_code" ng-required="true"
                                                                  show-select-all="true" show-unselect-all="true"
                                                                  labels="labels" ng-if="vouchers_code_list"
                                                                  options="vouchers_code_list" show-search="true"
                                                                  id-prop="id" display-prop="name" search-limit="10">
                                                    </multiselect>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label bold ">  {{'voucher_category'| translate}}  </label>
                                                    <div class="input-group">
                                                        <ui-select name="category_id"ng-enter="Search(filter,'paginate')"  ng-model="filter.category_id"theme="bootstrap"
                                                                   class="text-right" >
                                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in Choices | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                <button type="button" ng-click="filter.category_id = undefined" class="btn btn-default">
                                                      <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                             </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'voucher_title_'| translate}}</label>
                                                    <input type="text" class="form-control" name="title"ng-enter="Search(filter,'paginate')"  ng-model="filter.title"  maxlength="255" ng-maxlength="255"/>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'voucher_content'| translate}}</label>
                                                    <input type="text" class="form-control" name="content"ng-enter="Search(filter,'paginate')"  ng-model="filter.content"/>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label  bold ">  {{'voucher_type'| translate}}  </label>
                                                    <select class="form-control"
                                                            ng-init=""
                                                            ng-change="msg1.type = [ ]"
                                                            name="type"
                                                            ng-model='filter.type'
                                                    >
                                                        <option selected value > --  {{'voucher_type'| translate}}  -- </option>
                                                        <option  value="1" > {{'non_financial'| translate}} </option>
                                                        <option  value="2" > {{'financial'| translate}} </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label  bold ">  {{'collected'| translate}}</label>
                                                    <select class="form-control" name="collected" ng-model='filter.collected'>
                                                        <option disabled selected value > --  {{'collected'| translate}}  -- </option>
                                                        <option  value="0" > {{'no'| translate}} </option>
                                                        <option  value="1" > {{'yes'| translate}} </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'min_voucher_value'| translate}}</label>
                                                    <input type="text" class="form-control" name="min_value"ng-enter="Search(filter,'paginate')"  ng-model="filter.min_value" numeric-only/>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'max_voucher_value'| translate}}</label>
                                                    <input type="text" class="form-control" name="max_value"ng-enter="Search(filter,'paginate')"  ng-model="filter.max_value" numeric-only  />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'min_voucher_count'| translate}}</label>
                                                    <input type="text" class="form-control" name="min_count"ng-enter="Search(filter,'paginate')"  ng-model="filter.min_count" numeric-only/>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class=" control-label bold">{{'max_voucher_count'| translate}}</label>
                                                    <input type="text" class="form-control" name="max_count"ng-enter="Search(filter,'paginate')"  ng-model="filter.max_count" numeric-only />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label bold">   {{'voucher_date_from'| translate}} </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control"
                                                               uib-datepicker-popup="{{format}}"
                                                              ng-enter="Search(filter,'paginate')"  ng-model="filter.voucher_date_from"
                                                               datepickerPopup
                                                               name="voucher_date_from"
                                                               is-open="popup999.opened" datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                        <span class="input-group-btn">
                                                    <button type="button" class="btn fa fa-calendar btn-default" ng-click="open999($event)">

                                                    </button>
                                              </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label bold">   {{'voucher_date_to'| translate}} </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control"
                                                               uib-datepicker-popup="{{format}}"
                                                              ng-enter="Search(filter,'paginate')"  ng-model="filter.voucher_date_to"
                                                               datepickerPopup
                                                               name="voucher_date_to"
                                                               is-open="popup888.opened" datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                        <span class="input-group-btn">
                                                    <button type="button" class="btn fa fa-calendar btn-default" ng-click="open888($event)">

                                                    </button>
                                              </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label bold">   {{'created_at_from'| translate}} </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control"
                                                               uib-datepicker-popup="{{format}}"
                                                              ng-enter="Search(filter,'paginate')"  ng-model="filter.date_from"
                                                               datepickerPopup
                                                               name="date_from"
                                                               is-open="popup99.opened" datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                        <span class="input-group-btn">
                                                    <button type="button" class="btn fa fa-calendar btn-default" ng-click="open99($event)">

                                                    </button>
                                              </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label bold">   {{'created_at_to'| translate}} </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control"
                                                               uib-datepicker-popup="{{format}}"
                                                              ng-enter="Search(filter,'paginate')"  ng-model="filter.date_to"
                                                               datepickerPopup
                                                               name="date_to"
                                                               is-open="popup88.opened" datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                        <span class="input-group-btn">
                                                    <button type="button" class="btn fa fa-calendar btn-default" ng-click="open88($event)">

                                                    </button>
                                              </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class=" control-label bold">{{'voucher_source'| translate}}</label>
                                                    <select class="form-control" name="voucher_source"ng-enter="Search(filter,'paginate')"  ng-model="filter.voucher_source">
                                                        <option selected value>{{'voucher_source'| translate}}  </option>
                                                        <option value="0"> {{'from_project'| translate}}</option>
                                                        <option value="1"> {{'manually'| translate}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class=" control-label bold">{{'voucher_status'| translate}}</label>
                                                    <select class="form-control" name="status"ng-enter="Search(filter,'paginate')"  ng-model="filter.status">
                                                        <option selected value>{{'voucher_status'| translate}}  </option>
                                                        <option value="0">{{'inProgress'| translate}} </option>
                                                        <option value="1"> {{'closed'| translate}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class=" control-label bold">{{'voucher_urgent'| translate}}</label>
                                                    <select class="form-control" name="urgent"ng-enter="Search(filter,'paginate')"  ng-model="filter.urgent">
                                                        <option selected value>{{'voucher_urgent'| translate}}  </option>
                                                        <option value="0"> {{'not_urgent'| translate}}  </option>
                                                        <option value="1">  {{'urgent'| translate}} ة </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class=" control-label bold">{{'voucher_sponsor_name'| translate}}</label>
                                                    <div class="input-group">
                                                        <ui-select name="sponsor_id"ng-enter="Search(filter,'paginate')"  ng-model="filter.sponsor_id"theme="bootstrap"
                                                                   class="text-right" >
                                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in Sponsors | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                <button type="button" ng-click="filter.sponsor_id = undefined" class="btn btn-default">
                                                      <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                             </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label  bold ">  {{'transfer'| translate}}</label>
                                                    <select class="form-control" name="transfer" ng-model='filter.transfer'>
                                                        <option disabled selected value > --  {{'transfer'| translate}}  -- </option>
                                                        <option  value="0" > {{'direct'| translate}} </option>
                                                        <option  value="1" > {{'transfer_company'| translate}} </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3" ng-if="filter.transfer == 1 || filter.transfer == '1'">
                                                <div class="form-group">
                                                    <label class="control-label bold">{{'transfer_company_name'| translate}}
                                                    </label>
                                                    <ui-select name="transfer_company_id"ng-enter="Search(filter,'paginate')"  ng-model="filter.transfer_company_id" theme="bootstrap" class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in transferCompany | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group " ng-class="{ 'has-error' : frmsearch.notes.$invalid }">
                                                    <label class=" control-label bold">{{'voucher_note'| translate}}</label>
                                                    <input type="text" class="form-control" name="notes"ng-enter="Search(filter,'paginate')"  ng-model="filter.notes"/>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group ">
                                                    <label class="control-label bold">{{'currency'| translate}}</label>

                                                    <div class="input-group">
                                                        <ui-select name="currency_id"ng-enter="Search(filter,'paginate')"  ng-model="filter.currency_id" theme="bootstrap"
                                                                   class="text-right" >
                                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in currency | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                <button type="button" ng-click="filter.currency_id = undefined" class="btn btn-default">
                                                      <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                             </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group " ng-class="{ 'has-error' : frmsearch.case_category_id.$invalid }">
                                                    <label class="control-label bold">{{'category_name'| translate}}</label>
                                                    <div class="input-group">
                                                        <ui-select name="case_category_id"ng-enter="Search(filter,'paginate')"  ng-model="filter.case_category_id"theme="bootstrap"
                                                                   class="text-right" >
                                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in aidCategories_ | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                                    <button type="button" ng-click="filter.case_category_id = undefined" class="btn btn-default">
                                                                          <span class="glyphicon glyphicon-trash"></span>
                                                                    </button>
                                                                 </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                                            <div class="col-md-3 col-sm-12 col-xs-12">
                                                <div class="clearfix">
                                                    <button  class=" btn blue "
                                                             ng-disabled="(filter.id_card_number == '' || filterForm.id_card_number.$error.minlength ||
                                                                              filterForm.id_card_number.$error.maxlength
                                                                                || filterForm.id_card_number.$error.pattern)"
                                                             ng-click="Search(filter,'paginate')" type="button" >
                                                        <span style="margin-left:3%;" class="icon-magnifier"></span>
                                                        <span style="margin-left:3%;" class="hidden-sm hidden-md  hidden-xs">{{"search"| translate}}</span>
                                                    </button>
                                                    <button  class=" btn green-turquoise "
                                                             ng-if="success"
                                                             ng-click="export()"
                                                             type="button" >
                                                        <span style="margin-left:3%;" class="fa fa-file-excel-o"></span>
                                                        <span style="margin-left:3%;"  class="hidden-sm hidden-md  hidden-xs">{{'export'| translate}}</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                </div>

                            </form>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 portlet light" ng-if="success"
                             style="padding-top: 2%; padding-bottom: 2%; box-sizing: border-box; border-radius:10px; border: 2px #e7ecf1 solid; ">
                                <div class="table-responsive"  style="padding-top: 20px;">
                                    <h4 class="text-center bold font-blue" >{{'vouchers-search'| translate}}  -  {{full_name}} ( {{id_card_number}} ) </h4>
                                    <div  ng-show="row.vouchers.length == 0"  class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                            <span> {{ 'not registered case' | translate}} </span>
                                        </div>
                                    </div>
                                    <table  ng-show="row.vouchers.length != 0" class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                        <thead>
                                        <tr class="font-blue" style=" height:40px; line-height: 40px; font-size: 30px; ">
                                            <th class="text-center" colspan="8" style="background-color: #f3f3f3!important; "> {{"sh_total"| translate }}</th>
                                            <th class="text-center cold" colspan="4"> {{total}}</th>
                                        </tr>
                                        <tr style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">
                                            <th class="text-center"style=" width: 1%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" > {{"#"| translate }}</th>
                                            <th class="text-center" style=" width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{"un_serial"| translate }}</th>
                                            <th class="text-center" style=" width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{"voucher_serial"| translate }}</th>
                                            <th class="text-center" style=" width: 12%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{"voucher_title"| translate }}</th>
                                            <th class="text-center" style=" width: 12%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{"organization_name_"| translate }}</th>
                                            <th class="text-center" style=" width: 12%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{"voucher_sponsor_name"| translate }}</th>
                                            <th class="text-center" style=" width: 6%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{"voucherCategory"| translate }}</th>
                                            <th class="text-center" style=" width: 6%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{"voucher_value"| translate }}</th>
                                            <th class="text-center" style=" width: 6%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{"currency_name_"| translate }}</th>
                                            <th class="text-center" style=" width: 6%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{"shekel_v"| translate }}</th>
                                            <!--<th class="text-center"> {{"voucherCounts"| translate }}</th>-->
                                            <!-- <th class="text-center" > {{"voucherBeneficiaries"| translate }}</th>  -->
                                            <!--<th class="text-center" style=" width: 6%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{"voucherSource"| translate }}</th>-->
                                            <th class="text-center" style=" width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{"voucher_date"| translate }}</th>
                                            <th class="text-center" style=" width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" > {{'receipt_date' | translate}} </th>
                                            <th class="text-center" style=" width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{'receipt_time' | translate}} </th>
                                            <th class="text-center" style=" width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort('receipt_status_name')"> {{'receipt_status'| translate}}
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in vouchers">
                                            <td>{{ $index +1}}</td>
                                            <td>{{ item.un_serial }}</td>
                                            <td>{{ item.serial }}</td>
                                            <td>{{ item.title }}</td>
                                            <td>{{ item.organization_name }} </td>
                                            <td>{{ item.sponsor_name }} </td>
                                            <td>{{ item.category_name }}</td>
                                            <td>{{ item.value }} </td>
                                            <td>{{ item.currency_name }}</td>
                                            <td>{{ item.sh_value }}</td>
                                            <!--<td>{{ item.count}}</td>-->
                                            <!-- <td>{{ item.visited_at }}</td> -->
<!--                                            <td>
                                                <span ng-show="item.project_id ==null ">{{'manually_'| translate}}</span>
                                                <span ng-show="item.project_id !=null ">{{'from_project'| translate}}</span>
                                            </td>-->
                                            <td>{{ item.voucher_date }}</td>
                                            <td>{{ item.receipt_date }}</td>
                                            <td>{{ item.receipt_time_ }}</td>
                                            <td class="bold" ng-class="{'font-green-jungle':(item.receipt_status_id == 1),'font-red-pink': !(item.receipt_status_id == 1) }">
                                                {{ item.receipt_status }}
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                        </div>

                        <div ng-show="vouchers.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 10px; margin-bottom: 20px">
                            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

<script type="text/ng-template" id="checkPerson.html">
    <div class="modal-header" style="  padding:3%; ">
        <h4 style="" class="modal-title bold text-center"> {{'check person'| translate}} </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form name="form" novalidate="" role="form" class=" text-center" >
                <div class="col-md-12 col-sm-12 col-xs-12" style="  padding:25px !important; ">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                        <div class="col-md-4" ng-if="titles_list">
                            <div class="form-group ">
                                <label class=" control-label bold">{{'voucher_title'| translate}}</label>
                                <!--<input type="text" class="form-control" name="title" ng-model="filter_.title"  maxlength="255" ng-maxlength="255"/>-->
                                <multiselect  ng-model="filter_.titles" ng-required="true"
                                              show-select-all="true" show-unselect-all="true"
                                              labels="labels"
                                              ng-if="titles_list"
                                              options="titles_list" show-search="true"
                                              id-prop="name" display-prop="name" search-limit="10">
                                </multiselect>
                            </div>
                        </div>
                        <div class="col-md-4" ng-if="codes_list">
                            <div class="form-group ">
                                <label class=" control-label bold">{{'un_serial'| translate}}</label>
                                <multiselect  ng-model="filter_.codes" ng-required="true"
                                              show-select-all="true" show-unselect-all="true"
                                              labels="labels"
                                              ng-if="codes_list"
                                              options="codes_list" show-search="true"
                                              id-prop="id" display-prop="name" search-limit="10">
                                </multiselect>
                            </div>
                        </div>
                        <div class="col-md-4" ng-if="vouchers_code_list.length > 0">
                            <div class="form-group ">
                                <label class=" control-label bold">{{'voucher_serial'| translate}}</label>
                                <multiselect  ng-model="filter_.vouchers_code" ng-required="true"
                                              show-select-all="true" show-unselect-all="true"
                                              labels="labels" ng-if="vouchers_code_list"
                                              options="vouchers_code_list" show-search="true"
                                              id-prop="id" display-prop="name" search-limit="10">
                                </multiselect>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label bold">{{'category_name'| translate}}</label>
                                <div class="input-group">
                                    <ui-select name="case_category_id" ng-model="filter_.case_category_id"theme="bootstrap"
                                               class="text-right" >
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in aidCategories_ | filter: $select.search">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                                                <button type="button" ng-click="filter_.case_category_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label bold">   {{'voucher_date_from'| translate}} </label>
                                <div  class="input-group">
                                    <input type="text" class="form-control"
                                           uib-datepicker-popup="{{format}}"
                                           ng-model="filter_.voucher_date_from"
                                           datepickerPopup
                                           name="voucher_date_from"
                                           is-open="popup999.opened" datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open999($event)">
                                                </button>
                                          </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label bold">   {{'voucher_date_to'| translate}} </label>
                                <div  class="input-group">
                                    <input type="text" class="form-control"
                                           uib-datepicker-popup="{{format}}"
                                           ng-model="filter_.voucher_date_to"
                                           datepickerPopup
                                           name="voucher_date_to"
                                           is-open="popup888.opened" datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open888($event)">

                                                </button>
                                          </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label bold ">  {{'voucher_category'| translate}}  </label>
                                <div class="input-group">
                                    <ui-select name="category_id" ng-model="filter_.category_id"theme="bootstrap"
                                               class="text-right" >
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in Choices | filter: $select.search">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                            <button type="button" ng-click="filter_.category_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label bold">   {{'created_at_from'| translate}} </label>
                                <div  class="input-group">
                                    <input type="text" class="form-control"
                                           uib-datepicker-popup="{{format}}"
                                           ng-model="filter_.date_from"
                                           datepickerPopup
                                           name="date_from"
                                           is-open="popup99.opened" datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open99($event)">

                                                </button>
                                          </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label bold">   {{'created_at_to'| translate}} </label>
                                <div  class="input-group">
                                    <input type="text" class="form-control"
                                           uib-datepicker-popup="{{format}}"
                                           ng-model="filter_.date_to"
                                           datepickerPopup
                                           name="date_to"
                                           is-open="popup88.opened" datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open88($event)">

                                                </button>
                                          </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label class=" control-label bold">{{'voucher_sponsor_name'| translate}}</label>
                                <div class="input-group">
                                    <ui-select name="sponsor_id" ng-model="filter_.sponsor_id"theme="bootstrap"
                                               class="text-right" >
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in Sponsors | filter: $select.search">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                            <button type="button" ng-click="filter_.sponsor_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label bold">   {{'receipt_date_from' | translate}} </label>
                                <div  class="input-group">
                                    <input type="text" class="form-control"
                                           uib-datepicker-popup="{{format}}"
                                           ng-model="filter_.receipt_date_from"
                                           datepickerPopup
                                           name="receipt_date_from"
                                           is-open="popup900.opened" datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open900($event)">

                                                </button>
                                          </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label bold">   {{'receipt_date_to' | translate}} </label>
                                <div  class="input-group">
                                    <input type="text" class="form-control"
                                           uib-datepicker-popup="{{format}}"
                                           ng-model="filter_.receipt_date_to"
                                           datepickerPopup
                                           name="receipt_date_to"
                                           is-open="popup880.opened" datepicker-options="dateOptions"
                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open880($event)">

                                                </button>
                                          </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label  bold ">  {{'voucher_type'| translate}}  </label>
                                <select class="form-control"
                                        ng-init=""
                                        ng-change="msg1.type = [ ]"
                                        name="type"
                                        ng-model='filter_.type'
                                >
                                    <option selected value > --  {{'voucher_type'| translate}}  -- </option>
                                    <option  value="1" > {{'non_financial'| translate}} </option>
                                    <option  value="2" > {{'financial'| translate}} </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label class=" control-label bold">{{'voucher_source'| translate}}</label>
                                <select class="form-control" name="voucher_source" ng-model="filter_.voucher_source">
                                    <option selected value>{{'voucher_source'| translate}}  </option>
                                    <option value="0"> {{'from_project'| translate}}</option>
                                    <option value="1"> {{'manually'| translate}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label class=" control-label bold">{{'voucher_status'| translate}}</label>
                                <select class="form-control" name="status" ng-model="filter_.status">
                                    <option selected value>{{'voucher_status'| translate}}  </option>
                                    <option value="0">{{'inProgress'| translate}} </option>
                                    <option value="1"> {{'closed'| translate}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label class="control-label bold">{{'currency'| translate}}</label>

                                <div class="input-group">
                                    <ui-select name="currency_id" ng-model="filter_.currency_id" theme="bootstrap"
                                               class="text-right" >
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in currency | filter: $select.search">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                            <button type="button" ng-click="filter_.currency_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class=" control-label bold">{{'min_voucher_value'| translate}}</label>
                                <input type="text" class="form-control" name="min_value" ng-model="filter_.min_value" numeric-only/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class=" control-label bold">{{'max_voucher_value'| translate}}</label>
                                <input type="text" class="form-control" name="max_value" ng-model="filter_.max_value" numeric-only  />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group ">
                                <label class=" control-label bold">{{'voucher_urgent'| translate}}</label>
                                <select class="form-control" name="urgent" ng-model="filter_.urgent">
                                    <option selected value>{{'voucher_urgent'| translate}}  </option>
                                    <option value="0"> {{'not_urgent'| translate}}  </option>
                                    <option value="1">  {{'urgent'| translate}} ة </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label  bold ">  {{'transfer'| translate}}</label>
                                <select class="form-control" name="transfer" ng-model='filter_.transfer'>
                                    <option disabled selected value > --  {{'transfer'| translate}}  -- </option>
                                    <option  value="0" > {{'direct'| translate}} </option>
                                    <option  value="1" > {{'transfer_company'| translate}} </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4" ng-if="filter_.transfer == 1 || filter_.transfer == '1'">
                            <div class="form-group">
                                <label class="control-label bold">{{'transfer_company_name'| translate}}</label>
                                <div class="input-group">
                                    <ui-select name="transfer_company_id" ng-model="filter_.transfer_company_id" theme="bootstrap" class="text-right" >
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in transferCompany | filter: $select.search">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                                                <button type="button" ng-click="filter_.transfer_company_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class=" control-label bold">{{'voucher_content'| translate}}</label>
                                <input type="text" class="form-control" name="content" ng-model="filter_.content"/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group " ng-class="{ 'has-error' : frmsearch.notes.$invalid }">
                                <label class=" control-label bold">{{'voucher_note'| translate}}</label>
                                <input type="text" class="form-control" name="notes" ng-model="filter_.notes"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12  text-left" style="margin-top: 10px !important;margin-bottom: 10px !important;">
                        <label class=" control-label bold text-left">{{'get data for'| translate}}</label>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12"  style="margin-bottom: 10px !important;">
                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label bold pull-left">
                                    <span ng-if="filter_.to_all" class="checker">
                                        <input type="checkbox"
                                               data-on-color="primary"
                                               data-off-color="info"
                                               ng-model="filter_.to_all"
                                               ng-true-value="true"
                                               ng-false-value="false"
                                               ng-change="filter_.for_person=false; filter_.for_parent=false; filter_.for_wife=false;filter_.for_children=false;"
                                               ng-init="filter_.to_all=true"
                                               ng-checked="filter_.to_all">
                                    </span>
                                    <span ng-if="!filter_.to_all">
                                        <input type="checkbox"
                                               data-on-color="primary"
                                               data-off-color="info"
                                               ng-model="filter_.to_all"
                                               ng-true-value="true" ng-false-value="false"
                                               ng-init="filter_.to_all=false"
                                               ng-change="filter_.for_person=true; filter_.for_parent=true; filter_.for_wife=true;filter_.for_children=true;"
                                               ng-checked="filter_.to_all">
                                    </span>


                                    <span>
                                        <span ng-show="filter_.to_all == true" class="bold fa fa-check text-success"></span>
                                        {{'for_all'| translate}}
                                    </span>
                                </label>

                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label bold pull-left">
                                    <span ng-if="filter_.for_person" class="checker">
                                        <input type="checkbox"
                                               data-on-color="primary"
                                               data-off-color="info"
                                               ng-model="filter_.for_person"
                                               ng-true-value="true"
                                               ng-false-value="false"
                                               ng-disabled=" (filter_.to_all == true ) "
                                               ng-init="filter_.for_person=true"
                                               ng-checked="filter_.for_person">
                                    </span>
                                    <span ng-if="!filter_.for_person">
                                        <input type="checkbox"
                                               data-on-color="primary"
                                               data-off-color="info"
                                               ng-model="filter_.for_person"
                                               ng-true-value="true" ng-false-value="false"
                                               ng-disabled=" (filter_.to_all == true ) "
                                               ng-init="filter_.for_person=false"
                                               ng-checked="filter_.for_person">
                                    </span>

                                    <span >
                                        <span ng-show="filter_.for_person == true" class="bold fa fa-check text-success"></span>
                                        {{'for_person'| translate}}
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label bold pull-left">
                                    <span ng-if="filter_.for_parent" class="checker">
                                        <input type="checkbox"
                                               data-on-color="primary"
                                               data-off-color="info"
                                               ng-model="filter_.for_parent"
                                               ng-true-value="true"
                                               ng-false-value="false"
                                               ng-disabled=" (filter_.to_all == true ) "
                                               ng-init="filter_.for_parent=true"
                                               ng-checked="filter_.for_parent">
                                    </span>
                                    <span ng-if="!filter_.for_parent">
                                        <input type="checkbox"
                                               data-on-color="primary"
                                               data-off-color="info"
                                               ng-model="filter_.for_parent"
                                               ng-true-value="true" ng-false-value="false"
                                               ng-disabled=" (filter_.to_all == true ) "
                                               ng-init="filter_.for_parent=false"
                                               ng-checked="filter_.for_parent">
                                    </span>

                                    <span>
                                            <span ng-show="filter_.for_parent == true" class="bold fa fa-check text-success"></span>
                                            {{'for_parent'| translate}}</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label bold pull-left">
                                    <span ng-if="filter_.for_wife" class="checker">
                                        <input type="checkbox"
                                               data-on-color="primary"
                                               data-off-color="info"
                                               ng-model="filter_.for_wife"
                                               ng-true-value="true"
                                               ng-false-value="false"
                                               ng-disabled=" (filter_.to_all == true ) "
                                               ng-init="filter_.for_wife=true"
                                               ng-checked="filter_.for_wife">
                                    </span>
                                    <span ng-if="!filter_.for_wife">
                                        <input type="checkbox"
                                               data-on-color="primary"
                                               data-off-color="info"
                                               ng-model="filter_.for_wife"
                                               ng-true-value="true" ng-false-value="false"
                                               ng-disabled=" (filter_.to_all == true ) "
                                               ng-init="filter_.for_wife=false"
                                               ng-checked="filter_.for_wife">
                                    </span>

                                    <span>
                                            <span ng-show="filter_.for_wife == true" class="bold fa fa-check text-success"></span>
                                            {{'for_wife'| translate}}</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label class="control-label bold pull-left">
                                    <span ng-if="filter_.for_children" class="checker">
                                        <input type="checkbox"
                                               data-on-color="primary"
                                               data-off-color="info"
                                               ng-model="filter_.for_children"
                                               ng-true-value="true"
                                               ng-false-value="false"
                                               ng-disabled=" (filter_.to_all == true ) "
                                               ng-init="filter_.for_children=true"
                                               ng-checked="filter_.for_children">
                                    </span>
                                    <span ng-if="!filter_.for_children">
                                        <input type="checkbox"
                                               data-on-color="primary"
                                               data-off-color="info"
                                               ng-model="filter_.for_children"
                                               ng-true-value="true" ng-false-value="false"
                                               ng-disabled=" (filter_.to_all == true ) "
                                               ng-init="filter_.for_children=false"
                                               ng-checked="filter_.for_children">
                                    </span>

                                    <span>
                                            <span ng-show="filter_.for_children == true" class="bold fa fa-check text-success"></span>
                                            {{'for_children'| translate}}
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 text-left"  style="margin-top: 15px !important;">
                        <label class="control-label bold">{{'select import file'| translate}}</label>
                        <input type="file" id="upload" ng-required="true"
                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                               onchange="angular.element(this).scope().fileUpload(this)" class="form-control" data-nv-file-select="" data-uploader="uploader">

                        <p class="bold font-red-pink text-left" style="background: #fff0f1!important;padding: 10px;font-size: 12px; margin-top: 5px;">
                            {{'The maximum number of records in the uploaded file'| translate}} <span style="margin-left:3px ; margin-right:3px ;  "> : 500  </span> {{'record'| translate}}
                        </p>
                        <p class="text-left bold" style="
                        margin: 0 0 5px 0;
                        padding: 10px;
                        border: 3px solid #fff0f1;
                        border-radius: 4px 0 0 4px;
                        background-color: #fff0f1;
                        color: #e43a45;
                        min-height: 40px !important;
                        ">
                            {{'you should use the new card number for updated card number that be start with 700'| translate}}

                            <button type="button" class="btn red-pink btn-xs" ng-click="checkOldCard()">
                                <span class="fa fa-check-square"></span><span> {{'to check click here'| translate}}</span>
                            </button>
                        </p>
                        <span ng-repeat="(error, errortext) in err_msg.logo" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'err_msg.logo' != []" >
                            {{ errortext.toString()}}
                        </span>
                    </div>
                    <div class="col-md-12  text-right"  style="margin-top:25px;">
                        <span class="font-blue pull-left text-right bold" >{{'download template'| translate}}</span>
                        <a   href="javascript:;" class="pull-left btn btn-xs blue fa fa-download " style="margin-right: 2%"
                             ng-click="download()"
                        ></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer" style="margin-top: 25px;">
        <button class="btn blue" ng-click="confirm()" ng-disabled="!upload" type="button" >
            <span> {{'search'| translate}}</span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
</script>
