
/************ Import Font **********/
@font-face {
  font-family: 'Droid Arabic Kufi';
  src: url('font/DroidKufi-Regular.eot');
  src: url('font/DroidKufi-Regular.eot?#iefix') format('embedded-opentype'), url('font/DroidKufi-Regular.woff') format('woff'), url('font/DroidKufi-Regular.woff2') format('woff2'), url('font/DroidKufi-Regular.ttf') format('truetype'), url('font/DroidKufi-Regular.svg#Droid Arabic Kufi') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  src: url('font/DroidKufi-Bold.eot');
  src: url('font/DroidKufi-Bold.eot?#iefix') format('embedded-opentype'), url('font/DroidKufi-Bold.woff') format('woff'), url('font/DroidKufi-Bold.woff2') format('woff2'), url('font/DroidKufi-Bold.ttf') format('truetype'), url('font/DroidKufi-Bold.svg#Droid Arabic Kufi') format('svg');
  font-weight: 700;
  font-style: normal;
}
.breadcrumb>.active {
  color: #777 !important;
  font-weight: bolder !important;
}

.tabbable-line>.nav-tabs>li.active {
  background: 0 0;
  border-bottom: 4px solid #337ac4;
  position: relative;
}

.panel-heading-style{
  height:40px;
  padding:10px 15px;
  font-size: 1.3em !important;
  font-weight: bold!important;
  text-align: right !important;
}

.page-header.navbar .page-logo .logo-default{
  margin:2.5px 0 0 !important;
}
.page-header.navbar .menu-toggler.sidebar-toggler{
  /*margin: 24px 0 0 !important;*/
}
body , .page-title , .caption ,body, h1, h2, h3, h4, h5, h6 {font-family: Droid Arabic Kufi, serif !important;}
.portlet-title h3 {font-weight: bold !important;}

* {font-size: 11px;}
.nav-pills>li>a, .nav-tabs>li>a ,.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-menu>li>a
,.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>a{font-size: 11px !important;}
.portlet.light>.portlet-title>.nav-tabs>li>a{font-size: 12px !important;}
.header-font-size , div.portlet-title > div.caption.font-dark > h3 > span{font-size: 18px;}
.table thead tr th ,.table td, .table th ,.content-font-size ,.btn > span{font-size: 11px;}
.form-group > div > span ,.form-group >span ,.note > p ,.btn > span ,.form-control, output ,.page-sidebar .page-sidebar-menu .sub-menu li>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li>a ,.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>.username .help-inline{font-size: 11px !important; }
.help-inline , .page-bar .page-breadcrumb>li>a, .page-bar .page-breadcrumb>li>span{font-size: 11px !important; }
.username ,.page-header.navbar .top-menu .navbar-nav>li.dropdown-language>.dropdown-menu>li>a{font-size: 11px !important; }
.portlet-title > div > span {font-size: 15px;}
.portlet.light {min-height: 550px !important;}
.ui-select-bootstrap .ui-select-toggle > .caret {
  left: initial !important;
  right: 10px !important; /* or any other value - it should be the same as the original right value */
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-menu .dropdown-menu-list>li .subject .from ,
.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-menu .dropdown-menu-list>li .message
{font-size: 11px !important; }
* , .page-title , .caption ,body, h1, h2, h3, h4, h5, h6,.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{ vertical-align: middle !important;}

.portlet-title h3 {font-weight: bold !important;/* color:#2f8ac7  !important ; color:#337ab7 !important;*/ }
/*.portlet-title h3 {font-weight: bold !important; color:#67809f  !important; !*color:#337ab7 !important;*! }*/

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%!important;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.linkDisabled {  cursor: not-allowed;  pointer-events: none;  color: grey;  }
.pass{ background:#36c6d3; }
.read-msg{  background: #eaeaea!important;  }
.lable-success{  background-color: #14a770 ;  }
.label-ok{  background-color: #adbf26 ;  }
.label-underway{  background-color: #f98d07 ;  }
.label-under-purchasing{  background-color: #0eab98;  }
.label-under-supply{  background-color: #e37955;  }
.label-done{  background-color: #2cb42c ;}

/********************************** step-form-style **********************************/
.form-wizard .steps > li > a.active > .number {  background:#337ab7; color:#ffffff; font-weight: bold; }
.form-wizard .steps > li > a.visited > .number { background:#337ab7; color:#ffffff; font-weight: bold; }
.form-wizard .steps>li.active>a.step .desc{color: #333;}
.form-wizard .steps>li.done>a.step .desc {color: #333;}
.form-wizard .steps>li>a.step>.desc, .form-wizard .steps>li>a.step>.number {display:inline-block;font-size:13px !important;font-weight: 600; margin-top:10px; }
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:-95%;max-width:180px;margin-top:-6px;margin-right:-1px;-webkit-border-radius:6px 6px 6px 6px;-moz-border-radius:6px 6px 6px 6px;border-radius:6px 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:left;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 5px 5px 0;border-right-color:#999;margin-top:5px;margin-right:10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 6px 6px 6px;-moz-border-radius:6px 6px 6px 6px;border-radius:6px 6px 6px 6px;}
.dropdown-menu-right {margin-left:0;}

.mt-radio, .mt-checkbox {
  display: inline-block;
  position: relative;
  padding-right: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 11px;
  webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
.mt-radio.mt-radio-disabled, .mt-radio.mt-checkbox-disabled,
.mt-checkbox.mt-radio-disabled,
.mt-checkbox.mt-checkbox-disabled {
  opacity: 0.8 ;
  filter: alpha(opacity=80) ;
  cursor: not-allowed; }
.mt-radio > input,
.mt-checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0 ;
  filter: alpha(opacity=0) ; }
.mt-radio > span,
.mt-checkbox > span {
  border: 1px solid transparent;
  position: absolute;
  top: 1px;
  right: 0;
  height: 18px;
  width: 18px;
  background: #E6E6E6; }
.mt-radio > span:after,
.mt-checkbox > span:after {
  content: '';
  position: absolute;
  display: none; }
.mt-radio:hover > input:not([disabled]) ~ span,
.mt-radio > input:focus ~ span,
.mt-checkbox:hover > input:not([disabled]) ~ span,
.mt-checkbox > input:focus ~ span {
  background: #d9d9d9;
  webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
.mt-radio > input:checked ~ span,
.mt-checkbox > input:checked ~ span {
  webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #d9d9d9; }
.mt-radio > input:checked ~ span:after,
.mt-checkbox > input:checked ~ span:after {
  display: block; }
.mt-radio:hover > input:not([disabled]):checked ~ span,
.mt-radio > input:checked ~ span,
.mt-checkbox:hover > input:not([disabled]):checked ~ span,
.mt-checkbox > input:checked ~ span {
  webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background: #d9d9d9; }
.mt-radio > input:disabled ~ span,
.mt-checkbox > input:disabled ~ span {
  opacity: 0.6 ;
  filter: alpha(opacity=60) ;
  pointer-events: none; }
.mt-radio.mt-radio-outline > span, .mt-radio.mt-checkbox-outline > span,
.mt-checkbox.mt-radio-outline > span,
.mt-checkbox.mt-checkbox-outline > span {
  border: 1px solid #d9d9d9;
  background: none; }
.mt-radio.mt-radio-outline:hover > input:not([disabled]) ~ span,
.mt-radio.mt-radio-outline > input:focus ~ span, .mt-radio.mt-checkbox-outline:hover > input:not([disabled]) ~ span,
.mt-radio.mt-checkbox-outline > input:focus ~ span,
.mt-checkbox.mt-radio-outline:hover > input:not([disabled]) ~ span,
.mt-checkbox.mt-radio-outline > input:focus ~ span,
.mt-checkbox.mt-checkbox-outline:hover > input:not([disabled]) ~ span,
.mt-checkbox.mt-checkbox-outline > input:focus ~ span {
  border: 1px solid #d9d9d9;
  background: none; }
.mt-radio.mt-radio-outline > input:checked ~ span, .mt-radio.mt-checkbox-outline > input:checked ~ span,
.mt-checkbox.mt-radio-outline > input:checked ~ span,
.mt-checkbox.mt-checkbox-outline > input:checked ~ span {
  border: 1px solid #d9d9d9;
  background: none; }
.mt-radio.mt-radio-outline:hover > input:not([disabled]):checked ~ span,
.mt-radio.mt-radio-outline > input:checked ~ span, .mt-radio.mt-checkbox-outline:hover > input:not([disabled]):checked ~ span,
.mt-radio.mt-checkbox-outline > input:checked ~ span,
.mt-checkbox.mt-radio-outline:hover > input:not([disabled]):checked ~ span,
.mt-checkbox.mt-radio-outline > input:checked ~ span,
.mt-checkbox.mt-checkbox-outline:hover > input:not([disabled]):checked ~ span,
.mt-checkbox.mt-checkbox-outline > input:checked ~ span {
  border: 1px solid #d9d9d9;
  background: none; }

.mt-radio > span {  -webkit-border-radius: 50%!important;  -moz-border-radius: 50%!important;  -ms-border-radius: 50%!important;  -o-border-radius: 50%!important;  border-radius: 50%!important; }

.mt-radio > span:after { right: 5px;  top: 5px;  height: 6px;  width: 6px;  border-radius: 100% !important;  background: #888888; }
.mt-radio > input:disabled ~ span:after {  background: #888888; }
th > .mt-radio.mt-radio-single, td > .mt-radio.mt-radio-single {  left: -5px; }
.mt-checkbox > span:after
{  right: 6px;  top: 2px;  width: 5px;  height: 10px;  border: solid #888888;
  border-width: 2px 0 0 2px;  transform: rotate(225deg); }
.mt-checkbox > input:disabled ~ span:after {  border-color: #888888; }
.form-inline .mt-checkbox {  margin-right: 15px;  margin-left: 15px; }
th > .mt-checkbox.mt-checkbox-single,
td > .mt-checkbox.mt-checkbox-single {  left: -5px; }
.mt-checkbox-list, .mt-radio-list {  padding: 10px 0; }
.form-horizontal .form-group .mt-checkbox-list, .form-horizontal .form-group .mt-radio-list {  padding-top: 0; }
.mt-checkbox-list .mt-checkbox, .mt-checkbox-list .mt-radio, .mt-radio-list .mt-checkbox, .mt-radio-list .mt-radio {   display: block; }
.mt-checkbox-inline, .mt-radio-inline {  padding: 10px 0; }
.form-horizontal .form-group .mt-checkbox-inline, .form-horizontal .form-group .mt-radio-inline {  padding-top: 8px; }
.mt-checkbox-inline .mt-checkbox, .mt-checkbox-inline .mt-radio, .mt-radio-inline .mt-checkbox,
.mt-radio-inline .mt-radio {  display: inline-block;  margin-left: 15px; }
.mt-checkbox-inline .mt-checkbox:last-child, .mt-checkbox-inline .mt-radio:last-child,
.mt-radio-inline .mt-checkbox:last-child, .mt-radio-inline .mt-radio:last-child { margin-left: 0; }

/*****************************************************************************************/
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.ui-select-match-text > span {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  text-align: left;
}
multiselect > div > button {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px !important;
  position: absolute;
  text-align: left;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  box-sizing: border-box;
  /*border-bottom: 2px solid #3598dc;*/
  background-color: #e7ecf1 !important;

}
tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover {
  background: 0 0;
  border-bottom: 4px solid #3598dc !important;
}
.fixed_dropdown{
  position: inherit !important;
  margin-right: 0% !important;
}


.bootbox-body {
  text-align:  center !important;
  font-weight: bold;
  padding:  5%;
  font-size: 20px !important;
  color: #3598dc !important;
}

div.bootbox.modal.fade.bootbox-confirm.in > div > div > div.modal-footer > button.btn.btn-primary{
  color: #FFF;
  background-color: #3598dc;
  border-color: #3598dc;
}

div.bootbox.modal.fade.bootbox-confirm.in > div > div > div.modal-footer > button.btn.btn-default{
  background-color: #E08283 !important;
  border-color: #E08283 !important;
  color: #ffffff !important
}

.bootbox-confirm .modal-body {
  padding:5%;background-color: #ebf4f5;
}

.page-sidebar .page-sidebar-menu li > a > .arrow::before, .page-sidebar-closed.page-sidebar-fixed
.page-sidebar:hover .page-sidebar-menu li > a > .arrow::before {

  float: right;
  width: 20px;
  text-align: center;
  display: inline;
  font-size: 16px;
  font-family: FontAwesome;
  height: auto;
  content: "";
  font-weight: 300;
  text-shadow: none;
  position: absolute;
  top: 4px;
  right: 14px;
  transform: rotate(180deg) !important;
}

.modal .modal-header {
  /*background: #c6e5fb !important;*/
  /*color: #1e6392 !important;*/
  color: #2f8ac7  !important;
  font-weight: bolder;
}


.modal .modal-header > h4{
  font-weight: bolder !important;
}
