

<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{ 'manage' | translate}} {{ 'sms' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" >
        <span>  {{ 'sms-providers' | translate}}</span>
    </li>

</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12  col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span  class="fa fa-table"></span>
                        <span>{{ 'sms-providers' | translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <button type="button" ng-click="createOrUpdate(null)" class="btn blue" style="margin-bottom: 2%;">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span  class="hidden-sm hidden-md  hidden-xs">{{'new'| translate}}</span>
                        </button>

                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="col-md-12  col-sm-12 col-xs-12" style="margin-bottom: 5px;">
                        <label ng-show="items.length > 0 ">{{'show'| translate}}
                            <select
                                    class="form-control input-sm input-inline" ng-init=""
                                    ng-change="itemsPerPage_(itemsCount)"
                                    name="itemsCount"
                                    ng-model='itemsCount'>
                               <option value="50">50</option><option value="100">100</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="-1">{{'show_All'| translate}}</option>
                            </select>
                        </label>

                        <form class="form-inline search-form pull-right">
                            <div class="input-group">
                                <input type="text"
                                       ng-model="search"
                                       class="form-control"
                                       placeholder="{{'search'| translate}} "
                                       name="search">
                            </div>
                        </form>

                    </div>
                    <div class="table-scrollable" ng-show="items.length > 0 ">
                        <!-- BEGIN TABLE -->
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center"  ng-show="items.length !=0 ">
                            <thead>
                            <tr  style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">
                                <th class="text-center" > {{'#'| translate}} </th>
                                <th class="text-center" ng-click="sort('Label')"> {{'sms_provider_name'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='Label'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th> <th class="text-center" ng-click="sort('status')"> {{'sms_provider_status'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey=='status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                                <th class="text-center" > {{'operations'| translate}} </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="item in items |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage" >
                                <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                <td>{{(item.Label != null && item.Label != 'null') ? item.Label:'-'}}</td>
                                <td>
                                    <button  uib-tooltip="{{'disabled'| translate}}"
                                             ng-show="item.status== 1"   type="button" class="btn btn-xs btn-circle green-turquoise"
                                             ng-click="updateStatus(item.id,0)">
                                        <span class="fa fa-pause" style="margin-left: 5px;"></span>
                                        <span class="hidden-md hidden-sm hidden-xs"> {{'disabled'| translate}}</span>
                                    </button>

                                    <button  uib-tooltip="{{'activated'| translate}}"
                                             ng-show="item.status== 0" type="button" class="btn btn-xs btn-circle yellow-crusta"
                                             ng-click="updateStatus(item.id,1)">
                                        <span class="fa fa-refresh"></span>
                                        <span class="hidden-md hidden-sm hidden-xs">{{'activated'| translate}}</span>
                                    </button>
                                </td>
                                <td>
                                    <button  uib-tooltip="{{'edit'| translate}}"
                                             type="button"
                                             class="btn  btn-xs bold font-blue fa fa-edit"
                                             style="font-size: medium; background-color: transparent"
                                             ng-click="createOrUpdate(item)"></button>
                                    <button  uib-tooltip="{{'delete'| translate}}"
                                             type="button"
                                             class="btn  btn-xs bold font-red-pink fa fa-trash"
                                             style="font-size: medium; background-color: transparent"
                                             ng-click="delete(item.id)"></button>
                                </td>


                            </tr>
                            </tbody>
                        </table>
                        <!-- END TABLE -->
                    </div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 text-center"  ng-show="items.length ==0 "  style="margin-bottom: 2%">
                        <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                        </div>
                    </div>
                    <div class="col-md-12  col-sm-12 col-xs-12" ng-show="items.length !=0 " >
                        <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                            <span class="bold ">{{'number of total items'| translate}}</span>
                            <span class="bold "> : </span>
                            <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                            <span class="bold ">{{'row'| translate}}</span>
                        </div>
                        <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

