

<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{ 'manage' | translate}} {{ 'sms' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" >
        <span> {{ 'send sms' | translate}}</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->


<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12  col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span  class="glyphicon glyphicon-envelope"></span>
                        <span>  {{ 'send sms' | translate}}</span>

                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <button id="single-button" type="button" class="  btn green-turquoise " ng-click="sendSmsByExcel()">
                            <span class="glyphicon glyphicon-envelope"></span>
                            <span class="hidden-sm hidden-md  hidden-xs">{{'send sms by excel'|translate}}</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="portlet-body">
                <div class="table-toolbar">

                    <div class="row">
                        <div class="col-md-12  col-sm-12 col-xs-12">
                            <div class="modal-body">
                                <div class="row">
                                    <form name="frmsms" novalidate="" role="form" class=" text-center" style="padding: 2%;">
                                        <div class="col-md-12  col-sm-12 col-xs-12">
                                            <div class="form-group " ng-class="{ 'has-error' : frmsms.sms_provider.$invalid && !frmsms.sms_provider.$pristine }">
                                                <label class="control-label bold">   {{'sms_provider'| translate}}  </label>
                                                <div class="input-group">
                                                    <ui-select
                                                            ng-model="sms.sms_provider" ng-required="true" name="sms_provider" ng-change="msg1.sms_provider = [ ]"
                                                            theme="bootstrap"
                                                            class="text-right" >
                                                        <ui-select-match>{{$select.selected.Label}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in Providers | filter: $select.search">
                                                            <div ng-bind-html="item.Label | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                            <button type="button" ng-click="sms.sms_provider = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                                </div>
                                                <span class="text-danger bold help-inline" ng-show="frmsms.sms_provider.$error.required && frmsms.sms_provider.$touched">
                                                                    {{'required_field'| translate}}
                                            </span>
                                                <span ng-repeat="(error, errortext) in msg1.sms_provider" class="text-danger bold help-inline"
                                                      ng-show="status1=='failed_valid' && 'msg1.sms_provider' != [ ]" >
                                                       {{ errortext.toString() }}
                                            </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12  col-sm-12 col-xs-12">
                                            <div class="form-group" ng-class="{ 'has-error' : frmsms.sms_messege.$invalid && !frmsms.sms_messege.$pristine }">
                                                <label class="control-label bold">   {{'sms_messege'| translate}}  </label>
                                                <label class="control-label bold font-red-pink"> {{'char_count'| translate}} : (  {{sms.sms_messege.length}}  ) </label>
                                                <textarea ng-model="sms.sms_messege"
                                                          name="sms_messege"

                                                          placeholder="{{'sms_messege'| translate}}"
                                                          ng-change="msg1.sms_messege = [ ]"
                                                          class="form-control"
                                                          rows="4"
                                                          ng-required="true">
                                                    </textarea>
                                                <span class="text-danger bold help-inline" ng-show="frmsms.sms_messege.$error.required && frmsms.sms_messege.$touched">
                                                        {{'required_field'| translate}}
                                                    </span>
                                                <span ng-repeat="(error, errortext) in msg1.sms_messege"
                                                      class="text-danger bold help-inline"
                                                      ng-show="status1=='failed_valid' && 'msg1.sms_messege' != [ ]" >
                                                       {{ errortext.toString() }}
                                                    </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12  col-sm-12 col-xs-12">
                                            <div class="note note-success">
                                                    <i style="font-size: larger" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                                    {{'please enter the mobile begin with country code'| translate}}
                                            </div>
                                        </div>
                                        <div class="col-md-12  col-sm-12 col-xs-12">
                                            <div class="col-md-2">
                                                <label class="control-label bold">   {{'mobile'| translate}}  </label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group" ng-class="{ 'has-error' : frmsms.MobileNumber.$invalid && !frmsms.MobileNumber.$pristine }">
                                                    <input type="text"
                                                           class="form-control"
                                                           name="MobileNumber"
                                                           restrict-input="^[0-9]*$"
                                                           ng-pattern="/^[0-9-]*$/"
                                                           ng-model="MobileNumber"
                                                           ng-change="enabledadd()"
                                                           placeholder="{{'enter mobile number'| translate}}"
                                                    />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <button uib-tooltip="{{'add mobile number'| translate}}" type="button"
                                                        ng-disabled="enabled!=true"
                                                        ng-show="mode != true"
                                                        ng-click="AddNewMobile()"
                                                        class="btn green-turquoise" style="margin-bottom: 2%;"><span class="glyphicon glyphicon-plus"></span>
                                                    <span class="hidden-md hidden-sm hidden-xs">{{'add mobile number'| translate}}</span>
                                                </button>
                                                <button  uib-tooltip="{{'edit mobile number'| translate}}" type="button" ng-disabled="enabled!=true" ng-show="mode ==true" ng-click="ConfirmEditMobile()" class="btn btn-primary"
                                                         style="margin-bottom: 2%;"><span class="fa fa-edit"></span>
                                                    <span class="hidden-md hidden-sm hidden-xs"> {{'edit mobile number'| translate}}</span>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="col-md-12  col-sm-12 col-xs-12">
                                            <div class="table-scrollable" ng-show="Mobiles.length > 0 ">
                                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center"  ng-show="Mobiles.length > 0 ">
                                                    <thead>
                                                    <tr  style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">
                                                        <th class="text-center" > #  </th>
                                                        <th class="text-center" > {{'mobile'| translate}} </th>
                                                        <th class="text-center" > {{'edit'| translate}} </th>
                                                        <th class="text-center" > {{'delete'| translate}} </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="Mobile in Mobiles">
                                                        <td>{{ $index }}</td>
                                                        <td>{{Mobile.mobile}}</td>
                                                        <td>
                                                                <span uib-tooltip="{{'edit'| translate}}"
                                                                      type="button" class="btn btn-xs bold font-blue fa fa-edit"
                                                                      style=" font-size: medium; background-color: transparent"
                                                                      ng-click="editMobile($index)">
                                                               </span>

                                                        <td>
                                                                <span uib-tooltip="{{'delete'| translate}}"
                                                                      type="button" class="btn btn-xs bold font-red-pink fa fa-remove"
                                                                      style=" font-size: medium; background-color: transparent"
                                                                      ng-click="removeMobile($index)">
                                                               </span>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-show="Mobiles.length ==0 " class=" col-md-12 col-xs-12 col-sm-12 text-center" style="margin-bottom: 2%">
                                                <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                        <span>
                                                            {{'no numbers to show'| translate}}
                                                        </span>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class= "btn blue"  uib-tooltip="{{'send new sms'| translate}}" ng-click="SentMessege(sms)" ng-disabled="frmsms.$invalid || count <= 0">
                                    <span class="hidden-md hidden-sm hidden-xs">{{'send new sms'| translate}}</span>   <span class="glyphicon glyphicon-envelope"></span>
                                </button>
                                <a class="btn red-pink"   uib-tooltip="{{'cancel'| translate}}"  href="#/dashboard" >
                                    <span>{{'cancel'| translate}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END MAIN CONTENT -->
