<div>
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate }}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            <span>{{'sponsorships management' | translate }}</span>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            <span>{{'cases_manage' | translate}}</span>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            <a  href="#/sponsorship/all/cases"> {{'all_cases' | translate }}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            <span> {{  category_name }}</span>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            <span> {{  name }}</span>
            <i ng-show="target == 'payments' || target == 'sponsorships' ||target == 'guardians'" class="glyphicon glyphicon-menu-right"></i>
        </li>
        <li class="active" ng-show="target == 'payments' || target == 'sponsorships' ||target == 'guardians'">
            <span ng-show="target == 'payments'"> {{'payments list' | translate }} </span>
            <span ng-show="target == 'sponsorships'"> {{'sponsorships list' | translate }} </span>
            <span ng-show="target == 'guardians'"> {{'guardians list' | translate }} </span>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="font-dark"></i>
                        <h3>
                            <span ng-show="target == 'payments'">
                                     <i class="fa fa-money" style="float:initial ;"></i>
                                   {{'payments list' | translate }}
                            </span>
                            <span ng-show="target == 'sponsorships'">
                                  <i class="fa fa-gift" style="float:initial ;"></i>
                                    {{'sponsorships list' | translate }}
                            </span>
                            <span ng-show="target == 'guardians'">
                                <i class="fa fa-users" style="float:initial ;"></i>
                                    {{'guardians list' | translate }}
                            </span>
                            <span ng-show="target != 'payments' && target != 'sponsorships' && target != 'guardians'">
                               <i class="fa fa-user" style="float:initial ;"></i>
                                        {{'more detail' | translate }}
                            </span>
                            <span > / </span>
                            <span > {{  name }} </span>
                        </h3>
                    </div>
                    <div class="actions" style="padding-top: 30px;">
                        <div class="clearfix pull-right">
                            <div class="btn-group" uib-dropdown style="margin-top: 6%;">
                                <button id="single-button" type="button" class="btn blue pull-left" style="width: 90%;" uib-dropdown-toggle ng-disabled="disabled">
                                    <span class="glyphicon glyphicon-cog"></span>
                                    <span  class="hidden-sm hidden-md  hidden-xs">{{'select operation'| translate}}</span>
                                    <span class="caret" style="  margin-left : 5px;"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                    <li>
                                        <a href="#/sponsorship/cases/show/{{id}}/" class="iconify">
                                            <i class="fa fa-edit"></i> {{'show case data' | translate}} </a>
                                    </li>
                                    <li ng-show=" organization_id == charity_LoggedInUser.organization_id">
                                        <a href="#/sponsorship/cases/edit/{{id}}/" class="iconify">
                                            <i class="fa fa-edit"></i> {{'edit case data' | translate}} </a>
                                    </li>
                                    <li  ng-show=" organization_id == charity_LoggedInUser.organization_id">
                                        <a ng-click="delete('sm',id)" class="iconify">
                                            <i class="fa fa-trash-o"></i> {{'delete case'| translate }} </a>
                                    </li>

                                    <li class="divider"  ng-show="organization_id == charity_LoggedInUser.organization_id && (item.father_id == null ||item.mother_id == null || item.guardian_id == null)"></li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.father_id == null">
                                        <a href="#/sponsorship/case/new/father/{{id}}" class="iconify">
                                            <i class="glyphicon glyphicon-plus"></i> {{'add father'| translate}} </a>
                                    </li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.mother_id == null ">
                                        <a href="#/sponsorship/case/new/mother/{{id}}" class="iconify">
                                            <i class="glyphicon glyphicon-plus"></i> {{'add mother'| translate}} </a>
                                    </li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.guardian_id == null">
                                        <a href="{{'#/sponsorship/case/new/guardian/'+id}}" class="iconify">
                                            <i class="glyphicon glyphicon-plus"></i> {{'add guardian'| translate}}  </a>
                                    </li>
                                    <li class="divider"  ng-show="organization_id == charity_LoggedInUser.organization_id && (item.father_id != null ||item.mother_id != null || item.guardian_id != null)"></li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.father_id != null">
                                        <a href="#/sponsorship/case/edit/father/{{id}}" class="iconify">
                                            <i class="fa fa-edit"></i> {{'edit father'| translate}} </a>
                                    </li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.mother_id != null ">
                                        <a href="#/sponsorship/case/edit/mother/{{id}}" class="iconify">
                                            <i class="fa fa-edit"></i> {{'edit mother'| translate}} </a>
                                    </li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.guardian_id != null">
                                        <a href="#/sponsorship/case/edit/guardian/{{id}}" class="iconify">
                                            <i class="fa fa-edit"></i> {{'edit guardian'| translate}}  </a>
                                    </li>
                                    <li class="divider"  ng-show="organization_id == charity_LoggedInUser.organization_id && (item.father_id != null ||item.mother_id != null || item.guardian_id != null)"></li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.father_id != null">
                                        <a href="#/sponsorship/case/change/father/{{id}}" class="iconify">
                                            <i class="fa fa-edit"></i> {{'change father'| translate}} </a>
                                    </li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.mother_id != null ">
                                        <a href="#/sponsorship/case/change/mother/{{id}}" class="iconify">
                                            <i class="fa fa-edit"></i> {{'change mother'| translate}} </a>
                                    </li>
                                    <li ng-show="organization_id == charity_LoggedInUser.organization_id && item.guardian_id != null">
                                        <a href="#/sponsorship/case/change/guardian/{{id}}" class="iconify">
                                            <i class="fa fa-edit"></i> {{'change guardian'| translate}}  </a>
                                    </li>
                                    <li class="divider" ng-show=" organization_id == charity_LoggedInUser.organization_id"></li>
                                    <li ng-show=" organization_id == charity_LoggedInUser.organization_id">
                                        <a href="#/sponsorship/cases/edit/{{id}}/custom-form" class="iconify">
                                            <i class="fa fa-edit"></i>{{'update custom form'| translate}} </a>
                                    </li>
                                    <li ng-show=" organization_id == charity_LoggedInUser.organization_id">
                                        <a href="#/sponsorship/cases/edit/{{id}}/documents" class="iconify">
                                            <i class="fa fa-paperclip"></i> {{'case attachments'| translate}} </a>
                                    </li>
                                    <li ng-show=" organization_id == charity_LoggedInUser.organization_id">
                                        <a href="#/sponsorship/cases/edit/{{id}}/family" class="iconify">
                                            <i class="fa fa-edit"></i> {{'family member'| translate}} </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{{'#/sponsorship/cases/show/'+id+'/payments'}}" class="iconify">
                                            <i class="fa fa-money"></i>{{'show payments'| translate}} </a>
                                    </li>
                                    <li>
                                        <a href="{{'#/sponsorship/cases/show/'+id+'/guardians'}}" class="iconify">
                                            <i class="fa fa-users"></i>{{'show guardians'| translate}} </a>
                                    </li>
                                    <li>
                                        <a href="{{'#/sponsorship/cases/show/'+id+'/sponsorships'}}" class="iconify">
                                            <i class="fa fa-table"></i>{{'show sponsorships'| translate}} </a>
                                    </li>
                                    <li>
                                        <a ng-click="visitorNote(id)" class="iconify">
                                            <i class="fa fa-sticky-note"></i>{{'show visitor note'| translate}} </a>
                                    </li>
                                    <li>
                                        <a ng-click="statusLog(id)"  class="iconify">
                                            <i class="fa fa-history"></i> {{'status log'| translate}} </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a ng-click="download('word',id)" class="iconify">
                                            <i class="fa fa-file-word-o"></i> {{'download form'| translate}} </a>
                                    </li>
                                    <li>
                                        <a ng-click="download('pdf',id)" class="iconify">
                                            <i class="fa fa-file-pdf-o"></i> {{'download form'| translate}} </a>
                                    </li>
                                    <!--                                                ng-show=" item.guardian_dcoument != null || item.mother_dcoument != null-->
                                    <!--                                                || item.father_dcoument != null || item.person_dcoument != null "-->
                                    <li  >
                                        <a ng-click="download('archive',id)" class="iconify">
                                            <i class="fa fa-file-archive-o"></i>{{'download attachments'| translate}} </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="target != 'payments' && target != 'sponsorships' && target != 'guardians'"
                             data-ng-include="'/app/modules/sponsorship/views/caseForm/show/sub-views/all.html'"> </div>

                        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="target == 'payments'" data-ng-include="'/app/modules/sponsorship/views/caseForm/show/sub-views/payments_view.html'"> </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="target == 'guardians'" data-ng-include="'/app/modules/sponsorship/views/caseForm/show/sub-views/guardians_view.html'"> </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="target == 'sponsorships'" data-ng-include="'/app/modules/sponsorship/views/caseForm/show/sub-views/sponsorships_view.html'"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="VisitorNote.html">
        <div class="modal-header" style="  padding:3%; ">
            <h4 class="modal-title text-center">{{'visitor-note' | translate }}
            </h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-left" style="padding-left: 2%;padding-right: 2%;overflow-wrap: break-word;">
                    <p class="bold">{{Notes}}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel' | translate }}</span> </button>
        </div>
    </script>
<script type="text/ng-template" id="newPerson.html">
    <div class="modal-header text-center" style="padding: 3%;">
        <h4 class="modal-title bold" ng-show="action == 'add'">{{'add new member' | translate }}</h4>
        <h4 class="modal-title bold" ng-show="action == 'edit'">{{'edit_member_data_form' | translate }}</h4>
    </div>
    <div class="modal-body">
        <div class="row " style="padding: 1%;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-3" ng-show="priority.id_card_number!==1">
                    <div class="form-group ">
                        <label class="c bold ">{{'id_card_number' | translate }}</label>
                        <!--<span class=" text-success bold help-inline" ng-if="priority.id_card_number ==2"> ( {{'optional' | translate }} )</span>-->
                        <!--<span class=" text-success bold help-inline" ng-if="priority.id_card_number ==3"> ( {{'advisable' | translate }} )</span>-->
                        <span class=" font-red-pink bold help-inline"> ({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control"
                               ng-model="persons.id_card_number"  name="id_card_number"
                               numeric-only
                               ng-required="true" maxlength="9" ng-change="isPersonExists(persons.id_card_number)"
                        />
                        <span ng-repeat="(error, errortext) in msg1.id_card_number"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.id_card_number' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.kinship !=1 && action == 'add'">
                    <div class="form-group">
                        <label class="bold text-center">   {{'kinship' | translate }} </label>
                        <span class=" text-success bold help-inline" ng-if="priority.kinship ==2"> ({{'optional' | translate }})</span>
                        <span class=" text-success bold help-inline" ng-if="priority.kinship ==3"> ({{'advisable' | translate }})</span>
                        <span class=" font-red-pink bold help-inline" ng-if="priority.kinship ==4"> ({{'mandatory' | translate }})</span>

                        <div class="input-group">
                            <ui-select   ng-model="persons.kinship"  name="kinship"  ng-change="setName(persons.kinship)"
                                         ng-required="priority.fm_kinship ==4 && action == 'add'" "
                                         theme="bootstrap" class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in Kinship | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                                                    <button type="button" ng-click="persons.kinship_id = undefined" class="btn btn-default">
                                                                          <span class="glyphicon glyphicon-trash"></span>
                                                                    </button>
                                                                 </span>
                        </div>
                        <span ng-repeat="(error, errortext) in msg1.kinship"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.kinship' != [ ]" >
                                         {{ errortext.toString() }}
                                </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-3" ng-show="priority.name!==1">
                    <div class="form-group">
                        <label class="bold text-center">{{'the_first_name_in_arabic' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.first_name"  name="first_name"
                               ng-required="priority.name==4" readonly arabic-alphabet   ng-change="msg1.first_name = [ ]"/>
                        <span ng-repeat="(error, errortext) in msg1.first_name"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.first_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.name!==1">
                    <div class="form-group ">
                        <label class="bold text-center ">{{'the_father_name_in_arabic' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.second_name"  name="second_name"
                               ng-required="priority.name==4"  readonly arabic-alphabet   ng-change="msg1.second_name = [ ]"/>
                        <span ng-repeat="(error, errortext) in msg1.second_name"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.second_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.name!==1">
                    <div class="form-group">
                        <label class="bold text-center">{{'the_grandfather_name_in_arabic' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control"  readonly arabic-alphabet   ng-model="persons.third_name"  name="third_name"
                               ng-required="priority.name==4" ng-change="msg1.third_name = [ ]"/>
                        <span ng-repeat="(error, errortext) in msg1.third_name"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.third_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.name!==1">
                    <div class="form-group ">
                        <label class="c bold ">{{'the_family_name_in_arabic' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.last_name"  name="last_name"
                               ng-required="priority.name==4"  readonly arabic-alphabet   ng-change="msg1.last_name = [ ]"/>
                        <span ng-repeat="(error, errortext) in msg1.last_name"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.last_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>

            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-3" ng-show="priority.en_name!==1">
                    <div class="form-group">
                        <label class="bold text-center">
                            {{'the_first_name_in_english' | translate }}
                        </label>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.en_name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.en_first_name"  name="en_first_name"
                               ng-required="priority.en_name==4" english-alphabet ng-change="msg1.en_first_name = [ ]"/>
                        <span ng-repeat="(error, errortext) in msg1.en_first_name"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.en_first_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.en_name!==1">
                    <div class="form-group ">
                        <label class="c bold ">
                            {{'the_father_name_in_english' | translate }}
                        </label>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.en_name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.en_second_name"  name="en_second_name"
                               ng-required="priority.en_name==4" english-alphabet ng-change="msg1.en_second_name = [ ]"/>
                        <span ng-repeat="(error, errortext) in msg1.en_second_name"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.en_second_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.en_name!==1">
                    <div class="form-group">
                        <label class="bold text-center">
                            {{'the_grandfather_name_in_english' | translate }}
                        </label>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.en_name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.en_third_name"  name="en_third_name"
                               ng-required="priority.en_name==4" english-alphabet ng-change="msg1.en_third_name = [ ]"/>
                        <span ng-repeat="(error, errortext) in msg1.en_third_name"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.en_third_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.en_name!==1">
                    <div class="form-group ">
                        <label class="c bold ">
                            {{'the_family_name_in_english' | translate }}
                        </label>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.en_name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.en_last_name"  name="en_last_name"
                               ng-required="priority.en_name==4" english-alphabet ng-change="msg1.en_last_name = [ ]"/>
                        <span ng-repeat="(error, errortext) in msg1.en_last_name"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.en_last_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-3" ng-show="priority.gender!==1" >
                    <div class="form-group">
                        <label class="bold text-center">{{'the_gender' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.gender==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.gender==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.gender==4">({{'mandatory' | translate }})</span>
                        <select class="form-control" ng-model="persons.gender"  name="gender" disabled
                                ng-required="priority.gender==4" ng-change="msg1.gender = [ ]">
                            <option disabled selected value>{{'select_the_gender' | translate }}</option>
                            <option  value="1"  >
                                {{'male' | translate }}
                            </option>
                            <option  value="2"  >
                                {{'female' | translate }}
                            </option>
                        </select>
                        <span ng-repeat="(error, errortext) in msg1.gender"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.gender' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.birthday!==1" >
                    <div class="form-group">
                        <label class="bold text-center"> {{'Date_of_Birth' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.birthday==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.birthday==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.birthday==4">({{'mandatory' | translate }})</span>
                        <div > <!-- class="input-group" -->
                            <input type="text" class="form-control"  uib-datepicker-popup="{{format}}"
                                   ng-model="persons.birthday" datepickerPopup
                                   name="birthday" ng-required="priority.birthday==4" ng-change="msg1.birthday = [ ]"
                                   is-open="popup1.opened" datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly />
<!--                            <span class="input-group-btn">-->
<!--                         <button type="button" class="btn btn-default" ng-click="open1($event)">-->
<!--                             <i class="glyphicon glyphicon-calendar"></i>-->
<!--                         </button>-->
<!--                    </span>-->
                        </div>
                        <span ng-repeat="(error, errortext) in msg1.birthday"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.birthday' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.marital_status!==1">
                    <div class="form-group">
                        <label class="bold text-center">{{'the_marital_status' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.marital_status==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.marital_status==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.marital_status==4">({{'mandatory' | translate }})</span>
                        <div > <!-- class="input-group" -->
                            <ui-select  ng-model="persons.marital_status_id"
                                        name="marital_status_id" ng-required="priority.marital_status==4"
                                        ng-change="msg1.marital_status_id = [ ]"
                                       theme="bootstrap"
                                        class="text-right disabled" ng-disabled="true" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in MaritalStatus | filter: $select.search" ng-disabled="true">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
<!--                            <span class="input-group-btn">-->
<!--                                 <button type="button" ng-click="persons.marital_status_id = undefined" class="btn btn-default">-->
<!--                                               <span class="glyphicon glyphicon-trash"></span>-->
<!--                                  </button>-->
<!--                            </span>-->
                        </div>
                        <span ng-repeat="(error, errortext) in msg1.marital_status_id"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.marital_status_id' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>

                    </div>
                </div>
                <div class="col-md-3"   ng-show="priority.health_condition!==1">
                    <div class="form-group">
                        <label class="bold text-center">{{'the_health_status' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.health_condition==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.health_condition==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.health_condition==4">({{'mandatory' | translate }})</span>

                        <select class="form-control"  ng-model="persons.health_condition" name="health_condition"
                                ng-required="priority.health_condition==4" ng-change="msg1.health_condition = [ ]">
                            <option disabled selected value>{{'select_the_health_status' | translate }}</option>
                            <option value="1">{{'good' | translate }}</option>
                            <option value="2">{{'suffers_from_a_chronic_disease' | translate }}</option>
                            <option value="3">{{'with_special_needs' | translate }}</option>


                        </select>
                        <span ng-repeat="(error, errortext) in msg1.health_condition"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.health_condition' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-3" ng-show="priority.fm_working!=1">
                    <div class="form-group">
                        <label class="bold text-center">{{'is_she_working?' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.fm_working==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.fm_working==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.fm_working==4">({{'mandatory' | translate }})</span>

                        <select class="form-control" ng-model="persons.fm_working"  name="fm_working"
                                ng-required="priority.fm_working==4" ng-change="restValue(1,persons.fm_working)">
                            <option disabled selected value>---{{'is_she_working?' | translate }}---</option>
                            <option  value="1"  >{{'yes' | translate }}</option>
                            <option  value="2"  >{{'no' | translate }}</option>
                        </select>
                        <span ng-repeat="(error, errortext) in msg1.fm_working"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.fm_working' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
                    </div>
                </div>
                <div class="col-md-3"   ng-show="priority.work_job!==1">
                    <div class="form-group ">
                        <label class="c bold ">
                            {{'the_career' | translate }}
                        </label>
                        <span  class=" font-red-pink bold help-inline" ng-if="persons.fm_working == 1">({{'mandatory' | translate }})</span>
                        <div class="input-group">
                            <ui-select  ng-model="persons.work_job_id"  name="work_job_id"
                                        ng-disabled="persons.fm_working != 1"
                                        ng-required="priority.work_job==4" ng-change="msg1.work_job_id = [ ]"theme="bootstrap" class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in WorkJob | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                                                <button type="button" ng-click="persons.work_job_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                        </div>
                        <span ng-repeat="(error, errortext) in msg1.work_job_id"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.work_job_id' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>

                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.stage!=1">
                    <div class="form-group">
                        <label class="bold text-center">{{'the_educational_level' | translate }}</label>
                        <span class=" text-success bold help-inline" ng-if="priority.stage==3">({{'advisable' | translate }})</span>
                        <span class=" text-success bold help-inline" ng-if="priority.stage==2">({{'optional' | translate }})</span>
                        <span class=" font-red-pink bold help-inline" ng-if="priority.stage==4">({{'mandatory' | translate }})</span>
                        <div class="input-group">
                            <ui-select
                                    ng-model="persons.stage"  name="stage"
                                    ng-required="priority.stage==4" ng-change="msg1.stage = [ ]"
                                    theme="bootstrap" class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in EduStages | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                                                         <button type="button" ng-click="persons.stage = undefined" class="btn btn-default">
                                                                                  <span class="glyphicon glyphicon-trash"></span>
                                                                         </button>
                                                                     </span>
                        </div>
                        <span ng-repeat="(error, errortext) in msg1.stage"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.stage' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn blue" ng-click="save(persons)"><span>{{'save' | translate }}</span></button>
        <button class="btn red-pink" ng-click="cancel()"><span>{{'cancel' | translate }}</span></button>
    </div>
</script>
<script type="text/ng-template" id="show.html">
    <div class="modal-body" style="padding: 3%;">
        <div class="panel panel-info" style="margin-top: 2%;">
            <div class="panel-heading panel-heading-style">{{'show_member_data_form' | translate }}</div>
            <div class="panel-body  text-center">
                <div class="row  text-center" style="padding: 2%;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center">{{'the_first_name_in_arabic' | translate }}</label>
                                <p class="p_show">{{persons.first_name}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group ">
                                <label class="bold text-center ">{{'the_father_name_in_arabic' | translate }}</label>
                                <p class="p_show">{{persons.second_name}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center">{{'the_grandfather_name_in_arabic' | translate }}</label>
                                <p class="p_show" >{{persons.third_name}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group ">
                                <label class="c bold ">{{'the_family_name_in_arabic' | translate }}</label>
                                <p class="p_show">{{persons.last_name}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center">{{'the_first_name_in_english' | translate }}</label>
                                <p class="p_show" >{{persons.en_first_name}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group ">
                                <label class="c bold ">{{'the_father_name_in_english' | translate }}</label>
                                <p class="p_show">{{persons.en_second_name}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center">{{'the_grandfather_name_in_english' | translate }}</label>
                                <p class="p_show" >{{persons.en_third_name}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group ">
                                <label class="c bold ">{{'the_family_name_in_english' | translate }}</label>
                                <p class="p_show" >{{persons.en_last_name}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-3" >
                            <div class="form-group ">
                                <label class="c bold ">{{'id_card_number' | translate }}</label>
                                <p class="p_show">{{persons.id_card_number}}</p>

                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center">{{'the_gender' | translate }}</label>
                                <p class="p_show">{{persons.gender}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center"> {{'Date_of_Birth' | translate }}</label>
                                <p class="p_show">{{persons.birthday}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center"> {{'marital_status' | translate }}</label>
                                <p class="p_show">{{persons.marital_status_name}}</p>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center">{{'the_health_status' | translate }}</label>
                                <p class="p_show">{{persons.health_status}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center">{{'is_she_working?' | translate }}</label>
                                <p class="p_show">{{persons.working}}</p>

                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group ">
                                <label class="c bold ">{{'the_career' | translate }}</label>
                                <p class="p_show">{{persons.work_job}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center">   {{'is study' | translate }} </label>
                                <p class="p_show">{{persons.study}}</p>
                            </div>
                        </div>
                        <div class="col-md-3" >
                            <div class="form-group">
                                <label class="bold text-center">{{'the_educational_level' | translate }}</label>
                                <p class="p_show" ng-show="persons.stage != null">{{persons.stage}}</p>
                            </div>
                        </div>


                    </div>
                </div>

            </div>

        </div>
        <div class="modal-footer">
            <button class="btn red-pink" ng-click="cancel()"><span>{{'close' | translate }}</span></button>
        </div>
</script>
<script type="text/ng-template" id="showImage.html">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-xs pull-right fa fa-times" style=" font-size: medium; background-color: transparent" ng-click="cancel()"></button>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="min-height: 600px; height: 100%; width: 100%;  padding: 2%; padding-top:0%">
                <img ng-src="{{imgSrc}}" style="width:100%; height:1000px;" data-img-blob="" data-url="{{'/doc/files/thumbnail/'+target}}" class="img-thumbnail">
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="updateStatus.html">
    <div class="modal-header" style="  padding:12%; ">
        <h4 class="modal-title text-center">
            <span>{{'status update form' | translate }}</span>
        </h4>
    </div>
    <div class="modal-body" style="padding-top: 3%">
        <form name="frm" novalidate="" role="form" class="row text-center" style="padding: 2%;">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group" ng-class="{ 'has-error' : frm.date.$invalid && !frm.date.$pristine }">
                    <label class="control-label bold"> {{'stopped or paused date' | translate }} </label>
                    <div  class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="data.date"
                               datepickerPopup name="date" is-open="popup444.opened"  ng-required="model_case == 4 || model_case == 5" datepicker-options="dateOptions"  readonly
                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                        <span class="input-group-btn">
                                                           <button type="button" class="btn btn-default" ng-click="open444($event)">
                                                               <i class="glyphicon glyphicon-calendar"></i>
                                                           </button>
                                         </span>
                    </div>
                    <span class="font-red-pink bold help-inline" ng-show="frm.date.$error.required && frm.date.$touched">
                          - {{'required_field' | translate }}
                        </span>
                    <span ng-repeat="(error, errortext) in msg1.date" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.date' != [ ] " >
                                 {{ errortext.toString() }}
                        </span>
                </div>
            </div>
<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group" ng-class="{ 'has-error' : frm.reason.$invalid && !frm.reason.$pristine }">
                    <label class="control-label bold"> {{'stopped or paused reason' | translate }} </label>

                    <textarea class="form-control"
                              name="notes"
                              ng-model="data.reason" ng-required="true"
                              rows="5">
            </textarea>

                    <span class="font-red-pink bold help-inline" ng-show="frm.reason.$error.required && frm.reason.$touched">
                          - {{'required_field' | translate }}
                        </span>
                    <span ng-repeat="(error, errortext) in msg1.reason" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.reason' != [ ] " >
                                 {{ errortext.toString() }}
                        </span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class=" btn blue" ng-disabled= "frm.$invalid"  ng-click="confirm(data)" type="button" >
            <span>{{'edit' | translate }} </span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel' | translate }} </span></button>
    </div>
</script>



