<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{'aids management' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" > {{'neighborhoods-ratios'| translate}} </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="font-dark"></i>
                        <h3>
                            <i class="glyphicon glyphicon-cog"></i>
                            <span> {{'neighborhoods-ratios'| translate}}</span>
                        </h3>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <!-- BEGIN TABLE -->
                        <h4 class="text-center text-danger bold" ng-show="items.length > 0 " style="margin-bottom: 20px !important;">
                            {{'cases count'| translate}} " {{cases}} "
                        </h4>
                        <div class="table-scrollable" ng-show="items.length > 0 ">

                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" ng-show="items.length > 0 ">
                                <thead>
                                 <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                    <th class="col-md-1 text-center" > {{'#'| translate}} </th>
                                    <th class="col-md-6 text-center" ng-click="sort('name')" > {{'nearlocation'| translate}}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='title'"
                                              ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="col-md-5 text-center" ng-click="sort('ratio')" > {{'ratio'| translate}}
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in items"  >
                                    <td>{{$index +1}}</td>
                                    <td>{{ item.name }} <span class="text-danger bold"> ( {{ item.count }} )</span></td>
                                    <td>
                                         <div class="input-group">
                                             <input type="text"  decimal-numbers
                                                    class="form-control text-center"ng-model="item.ratio"
                                                    name="ratio" ng-blur="UpdateTotal(item.ratio,$index)">
                                             <div class="input-group-addon">
                                                 %
                                             </div>
                                         </div><!-- /.input group -->
                                          <span class=" text-danger bold help-inline"ng-show="'msg1[$index].ratio' != [ ]" >
                                               {{msg1[$index] }}
                                          </span>
                                    </td>
                                <tr ng-show="items.length != 0 ">
                                    <th class="bold text-center" colspan="2" style="background-color: #f3f3f3!important; color: #337ab7;"> {{'total ratio'| translate}}</th>
                                    <th class="bold text-center" colspan="1">{{sum}}</th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- END TABLE -->
                        <div  ng-show="items.length > 0 " class="row text-center" style="margin-bottom: 2%">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                            <div class="col-md-5 col-md-offset-7 text-center" style="margin-bottom: 2%">
                                <div class="col-md-6">
                                    <button class=" btn blue pull-left"   style="width: 100%"  ng-click="adjust()" type="button" >
                                        <span>{{'Automatic ratio calculation'| translate}} </span>
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button class=" btn blue pull-right"  ng-disabled="noChange" style="width: 100%" ng-click="save()" type="button" >
                                       <span>{{'edit'| translate}} </span>
                                    </button>
                                </div>

                                </div>
                            </div>
                        </div>
                        <div ng-show="items.length == 0 "  class="text-center" style="margin-bottom: 2%">
                            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no connected locations'| translate}}
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- END MAIN CONTENT -->

