    <div class="modal-header" style="  padding:3%; ">
        <h4 style="" class="modal-title bold text-center"> {{'check_id_card_update'| translate}} </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form name="checkForm" novalidate="" role="form" class=" text-center" style="padding: 1%;">
                <div class="col-md-12 text-left">
                    <label class="control-label bold text-left">   {{'cards'| translate}}
                        <span class=" text-danger bold help-inline"> {{'set cards and put each one on line'| translate}} </span>
                    </label>
                    <textarea class="form-control" name="cards" numeric-only required ng-model="cards" rows="10"></textarea>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn blue" ng-click="confirm(cards)" ng-disabled="checkForm.$invalid" type="button" >
            <span> {{'check'| translate}}</span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
