<div class="page-footer-inner">
    <!--&copy;-->
    <!--{{'powered_by' | translate}}-->
    <!--<a href="http://www.nepras.com" target="_blank" style="color: #f9fbff!important;">{{'nepras' | translate}}</a>.-->
</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>