<!--<style>-->
    <!--.sortable-handler {-->
        <!--touch-action: none !important;-->
        <!-- -ms-touch-action: none !important;-->
    <!--}-->
<!--</style>-->

<!-- BEGIN HEADER INNER -->
<div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a href="#/">
            <img src="/themes/logo.png" style="height: 40px; margin-top: 8px" class="logo-default" alt="Logo" uib-tooltip="نظام إدارة شئون الجميعات الموحد">
        </a>
        <div class="menu-toggler sidebar-toggler">
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN HEADER SEARCH BOX -->
    <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
    <form class="search-form hide" action="#" method="GET">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search..." name="query">
            <span class="input-group-btn">
                <a href="javascript:;" class="btn submit">
                    <i class="icon-magnifier"></i>
                </a>
            </span>
        </div>
    </form>
    <!-- END HEADER SEARCH BOX -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <!-- BEGIN NOTIFICATION DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <i class="icon-bell"></i>
                    <span class="badge badge-default">{{unread_notifications_count}}</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="external">
                        <h3>
                            {{'pending_notifications' | translate}}
                            <span class="bold">{{unread_notifications_count}}</span>
                        </h3>
                        <a href="#/notifications">{{'view_all' | translate}}</a>
                    </li>
                    <li>
                        <ul class="dropdown-menu-list scroller" id="ssss" style="height: 250px;" data-handle-color="#637283">
                            <li ng-repeat="x in notifications | orderBy : '-date'"
                                style="touch-action: none !important; cursor: pointer !important;"
                                ng-click="read(x,$index)"
                                ng-class="{'not-read-msg': x.P_NOTIFY_READ == 1, 'bold read-msg':x.P_NOTIFY_READ == 0}"
                            >
                                <a href="javascript:;">
                                    <span class="time" style="text-align: right;"> <time-ago from-time='{{ x.created_at }}'></time-ago></span>
                                    <span class="details">{{ x.message }} </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!-- END NOTIFICATION DROPDOWN -->
            <!-- BEGIN LANGUAGE BAR -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-language" ng-show="charity_LoggedInUser.super_admin == 1 ||
                                                            charity_LoggedInUser.super_admin == '1' ||
                                                            charity_LoggedInUser.type == 4 ||
                                                            charity_LoggedInUser.type == '4'">

                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <img alt="" ng-show="lang=='ar'" src="{{settings.globalPath}}/img/flags/ps.png">
                    <img alt="" ng-show="lang=='en'" src="{{settings.globalPath}}/img/flags/us.png">
                    <span class="langname"> {{(lang=='ar') ? 'ع':'ENG'}} </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li class="{{lang=='ar' ? 'active' : ''}}">
                        <a href="#" ng-click="changeLanguage('ar')">
                            <img alt="" src="{{settings.globalPath}}/img/flags/ps.png"> {{ 'ARABIC' | translate }} </a>
                    </li>
                    <li class="{{lang!='ar' ? 'active' : ''}}">
                        <a href="#" ng-click="changeLanguage('en')">
                            <img alt="" src="{{settings.globalPath}}/img/flags/us.png">{{ 'ENGLISH' | translate }}  </a>
                    </li>
                </ul>
            </li>
            <!-- END LANGUAGE BAR -->
            <!-- BEGIN USER LOGIN DROPDOWN -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-user">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <!--<img class="img-circle"  uib-tooltip="صورتك الشخصية" alt="صورتك الشخصية"-->
                         <!--ng-if="charity_LoggedInUser.organization.logo != null"-->
                         <!--ng-src="{{settings.StoragePath}}{{charity_LoggedInUser.organization.logo}}">-->

                    <img id="headerImg"
                         ng-if="UserImage"
                         ng-src="{{UserImage}}" uib-tooltip="صورتك الشخصية" alt="صورتك الشخصية"
                         data-img-blob=""
                           class="img-circle"
                           doc-file-view
                           data-url="{{'/doc/files/userImage'}}"
                           style="width: 27px;height: 27px;">
                    <!--data-img-blob=""-->
                    <!--data-url="{{'/doc/files/userImage'}}"-->
                    <!--<img uib-tooltip=" صورة افتراضية : لم يتم رفع صورة شخصية لك"-->
                         <!--alt=" صورة افتراضية : لم يتم رفع صورة شخصية لك"-->
                         <!--class="img-circle"  ng-if="charity_LoggedInUser.organization.logo == null" ng-src="{{settings.assetsPath}}/empty-user.png">-->

                    <!--<span style="display: inline-block; width: 30px; height: 30px; line-height: 30px; margin-top: -10px; margin-left: 10px;" class="bg-info text-center img-circle">-->
                            <!--{{charity_LoggedInUser.organization.logo}}-->
                    <span class="username username-hide-on-mobile"> {{charity_LoggedInUser.username}} </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a href="#/account">
                        <i class="icon-user"></i> {{'account' | translate}}</a>
                    </li>
                    <li>
                        <a href="#/account/change-password">
                        <i class="icon-key"></i> {{'change_password' | translate}}</a>
                    </li>
                    <li class="divider"> </li>
                    <li>
                        <a ng-click="logout()">
                        <i class="icon-logout"></i> {{'logout' | translate}}</a>
                    </li>
                </ul>
            </li>
            <!-- END USER LOGIN DROPDOWN -->
            <li class="dropdown dropdown-user">
                <a href="#" class="dropdown-toggle" style="padding: 14px 12px 12px 12px;"
                   ng-click="logout()">
                    <i class="icon-logout"></i>
                </a>
            </li>


        </ul>
    </div>
    <!-- END TOP NAVIGATION MENU -->
</div>
<!-- END HEADER INNER -->

<!--<script>-->

    <!--$(document).ready(function() {-->
        <!--(document).addEventListener('wheel', function(e) {-->
            <!--e.preventDefault();-->
        <!--}, { passive: false });-->

        <!--$('li').on('sortable:sort',function(event){-->
            <!--alert("From " + event.detail.startIndex + " to " + event.detail.newIndex);-->
        <!--});-->

    <!--});-->

<!--</script>-->