<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': settings.layout.pageSidebarClosed}">
        <li class="start nav-item">
            <a href="#/dashboard">
                <i class="icon-home"></i>
                <span class="title">الرئيسية</span>
            </a>
        </li>
    <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-support"></i>
                <span class="title">تقارير واستعلامات</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/aids/search" class="iconify">
                        <i class="fa fa-search"></i> شاشة بحث عامة</a>
                </li>
                <li>
                    <a href="#/aids/block-id-card" class="iconify">
                        <i class="fa fa-search"></i>  أرقام بطاقات الهوية المحظورة </a>
                </li>
            
            </ul>
        </li>
    
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-present"></i>
                <span class="title">إدارة الكفالات</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="fa fa-plus"></i> إضافة حالة
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li ng-repeat="cat in sponsorCategories">
                            <a href="#/sponsorship/basic-form/{{cat.FirstStep}}/?mode=add&Step=1&category_id={{cat.id}}" class="iconify">
                                <i class="fa fa-plus"></i> {{cat.name}}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#/sponsorship/show-sponsorship-cases" class="iconify">
                        <i class="fa fa-table"></i> إدارة الحالات</a>
                </li>
                <!--<li>-->
                    <!--<a href="#/sponsorship/show-sponsorships_actor" class="iconify">-->
                        <!--<i class="fa fa-table"></i> الجهات الكافلة</a>-->
                <!--</li>-->
                <li>
                    <a href="#/organizations/sponsors" class="iconify">
                        <i class="fa fa-table"></i> الجهات الكافلة</a>
                </li>

                <li>
                    <a href="#/sponsorship/categories-sponsorships" class="iconify">
                        <i class="fa fa-table"></i> أنواع الكفالات</a>
                </li>
                <li>
                    <a href="#/sponsorship/caseform-setting" class="iconify">
                        <i class="fa fa-cog"></i>إعدادات نموذج الكفالة</a>
                </li>
                <li>
                    <a href="#/sponsorship/sponsorship-setting" class="iconify">
                        <i class="fa fa-cog"></i> اداريات الكفالات </a>
                </li>
                <li>
                    <a href="#/sponsorship/sponsorships_operation/" class="iconify">
                        <i class="fa fa-tags"></i> الترشيحات للجهات الكافلة</a>
                </li>
                <li>
                    <a href="#/sponsorship/payments/" class="iconify">
                        <i class="fa fa-money"></i> الصرفيات</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-support"></i>
                <span class="title">إدارة المساعدات</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="fa fa-plus"></i> إضافة حالة
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li ng-repeat="cat in aidCategories">
                            <a ng-href="#/aids/caseform/{{cat.FirstStep}}/?mode=add&category_id={{cat.id}}" class="iconify">
                                <i class="fa fa-plus"></i> {{cat.name}}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#/aids/all-aid-cases" class="iconify">
                        <i class="fa fa-table"></i> إدارة الحالات</a>
                </li>
                <li>
                    <a href="#/aids/categories-aid" class="iconify">
                        <i class="fa fa-table"></i> أنواع المساعدات</a>
                </li>
                <li>
                    <a href="#/aids/caseform-setting" class="iconify">
                        <i class="fa fa-cog"></i> إعدادت المساعدات</a>
                </li>
                <li>
                    <a href="#/aids/vouchers" class="iconify">
                        <i class="fa fa-tags"></i> قسائم المساعدات</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-settings"></i>
                <span class="title">الإعدادات</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-settings"></i>
                        <span class="title">ثوابت معلومات السكن</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#/settings/essentials" class="iconify">
                                <i class="fa fa-table"></i> ضروريات وأثاث المنزل</a>
                        </li>
                        <li>
                            <a href="#/settings/roof-materials" class="iconify">
                                <i class="fa fa-table"></i> أنواع اسقف المنازل</a>
                        </li>
                        <li>
                            <a href="#/settings/property-types" class="iconify">
                                <i class="fa fa-table"></i> أنواع ملكية المنازل</a>
                        </li>
                        <li>
                            <a href="#/settings/properties" class="iconify">
                                <i class="fa fa-table"></i> أنواع الممتلكات</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-settings"></i>
                        <span class="title">ثوابت المؤهل العلمي</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#/settings/edu-authorities" class="iconify">
                                <i class="fa fa-table"></i> التعليم - الجهات المشرفة</a>
                        </li>
                        <li>
                            <a href="#/settings/edu-degrees" class="iconify">
                                <i class="fa fa-table"></i> التعليم - الدرجات العلمية</a>
                        </li>
                        <li>
                            <a href="#/settings/edu-stages" class="iconify">
                                <i class="fa fa-table"></i> التعليم - المراحل التعليمية</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-settings"></i>
                        <span class="title">ثوابت البيانات الإجتماعية</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#/settings/kinship" class="iconify">
                                <i class="fa fa-table"></i> صلات القرابة</a>
                        </li>
                        <li>
                            <a href="#/settings/diseases" class="iconify">
                                <i class="fa fa-table"></i> الأمراض والإعاقات</a>
                        </li>
                        <li>
                            <a href="#/settings/death-causes" class="iconify">
                                <i class="fa fa-table"></i> أسباب الوفاة</a>
                        </li>
                        <li>
                            <a href="#/settings/marital-status" class="iconify">
                                <i class="fa fa-table"></i> الحالات الإجتماعية</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-settings"></i>
                        <span class="title">ثوابت البيانات المالية والعمل</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#/settings/currencies" class="iconify">
                                <i class="fa fa-money"></i> العملات</a>
                        </li>
                        <li>
                            <a href="#/settings/banks" class="iconify">
                                <i class="fa fa-bank"></i> المؤسسات البنكية</a>
                        </li>

                        <li>
                            <a href="#/settings/aid-sources" class="iconify">
                                <i class="fa fa-table"></i> مصادر المساعدات</a>
                        </li>
                        <li>
                            <a href="#/settings/work-wages" class="iconify">
                                <i class="fa fa-table"></i> فئات الأجور</a>
                        </li>
                        <li>
                            <a href="#/settings/work-status" class="iconify">
                                <i class="fa fa-table"></i> حالة العمل</a>
                        </li>
                        <li>
                            <a href="#/settings/work-reasons" class="iconify">
                                <i class="fa fa-table"></i> أسياب عدم القدرة على العمل</a>
                        </li>
                        <li>
                            <a href="#/settings/work-jobs" class="iconify">
                                <i class="fa fa-table"></i> المسميات الوظيفية</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-settings"></i>
                        <span class="title">أخرى</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#/settings/locations" class="iconify">
                                <i class="fa fa-map-marker"></i> المناطق</a>
                        </li>
                        <li>
                            <a href="#/settings/document-type" class="iconify">
                                <i class="fa fa-paperclip"></i> أنواع المرفقات</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-home"></i>
                <span class="title">إدارة الجمعيات</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <!--<li>-->
                    <!--<a href="#/organizations/add-organization/?mode=add" class="iconify">-->
                        <!--<i class="fa fa-plus"></i> إضافة جميعة</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#/organizations/all-organization" class="iconify">-->
                        <!--<i class="fa fa-table"></i> الجمعيات</a>-->
                <!--</li>-->
                <li>
                <a href="#/organizations/organizations/new/0" class="iconify">
                    <i class="fa fa-plus"></i> إضافة جميعة</a>
                <li>

                <li>
                    <a href="#/organizations/organizations" class="iconify">
                        <i class="fa fa-table"></i> الجمعيات</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-star"></i>
                <span class="title">إدارة النماذج المخصصة</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/forms/custom-forms" class="iconify">
                        <i class="fa fa-table"></i> النماذج المخصصة</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-envelope"></i>
                <span class="title">إدارة الرسائل القصيرة</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/sms/sms-service-provider" class="iconify">
                        <i class="fa fa-table"></i> مزودي الخدمة</a>
                </li>
                <li>
                    <a href="#/sms/sent-sms" class="iconify">
                        <i class="glyphicon glyphicon-envelope"></i> إرسال رسالة</a>
                </li>
                <li>
                    <a href="#/sms/service-provider-settings" class="iconify">
                        <i class="fa fa-cog"></i> إعدادات</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-docs"></i>
                <span class="title">إدارة الملفات والأرشفة</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/doc/categories" class="iconify">
                        <i class="icon-folder"></i> التصنيفات</a>
                </li>
                <li>
                    <a href="#/doc/files" class="iconify">
                        <i class="icon-docs"></i> الملفات</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-users"></i>
                <span class="title">إدارة المستخدمين والصلاحيات</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/auth/users" class="iconify">
                        <i class="icon-users"></i> المستخدمين</a>
                </li>
                <li>
                    <a href="#/auth/roles" class="iconify">
                        <i class="icon-lock"></i> مجموعات الصلاحيات</a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-wallet"></i>
                <span class="title">إدارة سلة المشاريع</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="#/aid-repository/categories" class="iconify">
                        <i class="icon-tag"></i> التصنيفات</a>
                </li>
                <li>
                    <a href="#/aid-repository/repositories" class="iconify">
                        <i class="icon-wallet"></i> سلة المشاريع</a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- END SIDEBAR MENU -->
</div>