<style>
    .inactive ,.inactive .btn-group ,.inactive .btn-group button{
        color: #ccc;
        pointer-events: none;
        cursor: not-allowed;
    }

    .scrolTB {
        /*max-width: 40em;*/
        overflow: overlay;
        position: relative;
    }

    .scrolTB table {
        position: relative;
        border-collapse: collapse;
    }

    .scrolTB table td,.scrolTB table th {
        padding: 0.25em;
    }

    .scrolTB table thead th {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        background-color: #f3f3f3!important;
        top: 0;
        color: #2ab4c0;
        line-height: 40px;
        font-size: 30px;
        height: 50px;
        z-index: 999;
    }

    .scrolTB table thead th:first-child {
        left: 0;
        z-index: 1;
    }

    .scrolTB table tbody tr th {
        position: -webkit-sticky; /* for Safari */
        position: sticky;background-color: #f3f3f3!important;
        right: 0;
        border-right: 1px solid #CCC;
        color: #2ab4c0;
        line-height: 40px;
        z-index: 999;
    }

    .btn-group>.dropdown-menu, .dropdown-toggle>.dropdown-menu, .dropdown>.dropdown-menu{
        z-index: 1002;

    }

</style>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>

    <li>
        <span ng-show="type =='aids'">{{'aids management' | translate}}</span>
        <span ng-show="type !='aids'">{{'sponsorships management' | translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{'cases_manage'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active"> {{'cases attachments' | translate}}</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <i class="fa fa-paperclip"></i>
                        <span>{{'cases attachments' | translate}}</span>
                    </h3>
                </div>

            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1%;padding-top: 4%;padding-bottom: 2%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                            <form name="form">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center ">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if=" (can('sponsorship.case.searchAttachment') && type =='sponsorships') ||
                                            (can('aid.case.searchAttachment') && type =='aids')  || (charity_LoggedInUser.super_admin == 1)">
                                        <div class="col-md-3 text-center" style="padding-top:2%;">
                                            <div class="form-group">
                                                <label class="control-label bold">

                                                      <span ng-if="datafilter.all_organization" class="checker">
                                                            <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                   ng-model="datafilter.all_organization" ng-true-value="true" ng-false-value="false">
                                                      </span>
                                                    <span ng-if="!datafilter.all_organization">
                                                            <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                   ng-model="datafilter.all_organization" ng-true-value="true" ng-false-value="false">
                                                      </span>
                                                    <span >{{'search in all organization' | translate}}</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4" ng-if="organizationsCat">
                                            <div class="form-group">
                                                <label class="control-label bold"> {{'organization_category'| translate}} </label>
                                                <div  class="input-group">
                                                    <multiselect  ng-model="datafilter.organization_category_id"
                                                                  ng-if="organizationsCat"
                                                                  ng-class="datafilter.all_organization? '' : 'inactive'"
                                                                  options="organizationsCat"
                                                                  show-search="true" id-prop="id"
                                                                  show-select-all="true" show-unselect-all="true"
                                                                  display-prop="name" search-limit="10"
                                                                  labels="labels">
                                                    </multiselect>
                                                    <span class="input-group-btn">
                                                       <button type="button" class="btn fa fa-refresh btn-default"
                                                               ng-class="datafilter.all_organization? '' : 'inactive'"
                                                               style="line-height:1.2!important;"
                                                               ng-click="resetOrg(datafilter.all_organization,datafilter.organization_category_id)"></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-12 col-xs-12" ng-if="disblay_orgs">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'organization name'| translate}}</label>
                                                <multiselect  ng-model="datafilter.organization_id" ng-if="disblay_orgs"
                                                              ng-class="datafilter.all_organization? '' : 'inactive'"
                                                              options="Org_" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-3">
                                            <div class="form-group" ng-class="{ 'has-error' : frmsearch.first_name.$invalid }">
                                                <label class=" control-label bold">{{'first_name' | translate}}</label>
                                                <input type="text" class="form-control"  name="first_name" ng-model="datafilter.first_name" arabic-alphabet autofocus maxlength="45" ng-maxlength="45"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" ng-class="{ 'has-error' : frmsearch.second_name.$invalid }">
                                                <label class=" control-label bold">{{'second_name' | translate}}</label>
                                                <input type="text" class="form-control" name="second_name" ng-model="datafilter.second_name" arabic-alphabet    maxlength="45" ng-maxlength="45"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group " ng-class="{ 'has-error' : frmsearch.third_name.$invalid }">
                                                <label class=" control-label bold">{{'third_name' | translate}}</label>
                                                <input type="text" class="form-control" name="third_name" ng-model="datafilter.third_name" arabic-alphabet    maxlength="45" ng-maxlength="45" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group " ng-class="{ 'has-error' : frmsearch.last_name.$invalid }">
                                                <label class=" control-label bold">{{'last_name' | translate}}</label>
                                                <input type="text" class="form-control" name="last_name" ng-model="datafilter.last_name" arabic-alphabet    maxlength="45" ng-maxlength="45"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">
                                                    <span ng-show="type =='aids'">{{'category_name' | translate}}</span>
                                                    <span ng-show="type !='aids'">{{'category_name' | translate}}</span>
                                                </label>
                                                <div class="input-group">
                                                    <ui-select name="category_id" ng-model="datafilter.category_id" theme="bootstrap"
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in Categories | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                                <button type="button" ng-click="datafilter.category_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" ng-class="{ 'has-error' : frmsearch.id_card_number.$invalid }">
                                                <label class=" control-label bold">{{'card_number' | translate }}</label>
                                                <input type="text" class="form-control" name="id_card_number" ng-model="datafilter.id_card_number" maxlength="9"
                                                       ng-maxlength="9" numeric-only/>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group" >
                                                <label class=" control-label bold">{{'document_type_name' | translate}}</label>
                                                <multiselect  ng-model="datafilter.document_id" ng-if="document"
                                                              options="document" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                                </multiselect>
                                            </div>
                                        </div>
                                        <div class="col-md-3"  ng-show="type =='sponsorships'">
                                            <div class="form-group">
                                                <label class="control-label bold">{{'status' | translate}}  ( {{'_sponsor_name'| translate}}  ) </label>
                                                <select class="form-control"name="guaranteed_status" ng-model="datafilters.guaranteed_status" >
                                                    <option selected value> {{'status' | translate}} </option>
                                                    <option value="1">  {{'nominate' | translate}} </option>
                                                    <option value="2">  {{'sent_' | translate}} </option>
                                                    <option value="3">  {{'guaranteed' | translate}} </option>
                                                    <option value="4">  {{'stopped' | translate}} </option>
                                                    <option value="5">  {{'paused' | translate}} </option>
                                                    <option value="-1">  {{'not' | translate}} {{'nominate' | translate}} </option>
                                                    <option value="-2">  {{'not' | translate}} {{'sent_' | translate}} </option>
                                                    <option value="-3">  {{'not' | translate}} {{'guaranteed' | translate}} </option>
                                                    <option value="-4">  {{'not' | translate}} {{'stopped' | translate}} </option>
                                                    <option value="-5">  {{'not' | translate}} {{'paused' | translate}} </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3"  ng-show="type =='sponsorships'">
                                            <div class="form-group">
                                                <label class="control-label bold">{{'_sponsor_name'| translate}}</label>
                                                <multiselect  ng-model="datafilters.sponsor" ng-if="Sponsors"
                                                              options="Sponsors" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                                </multiselect>

                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'created_at_from' | translate}} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="datafilter.date_from"
                                                           datepickerPopup
                                                           name="date_from"
                                                           is-open="popup99.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open99($event)">

                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'created_at_to' | translate}} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="datafilter.date_to"
                                                           datepickerPopup
                                                           name="date_to"
                                                           is-open="popup88.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open88($event)">

                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " style="padding-top: 20px;">
                                            <div class="clearfix pull-right">
                                                <button uib-tooltip="{{'search' | translate}}" class=" btn blue  "
                                                        ng-disabled="form.$invalid" ng-click="searchCases(false , datafilter,'filter')" type="button" >
                                                    <span class="icon-magnifier"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'search' | translate}}</span>
                                                </button>
                                                
                                                <div class="btn-group "  uib-dropdown  ng-show="items.length != 0">
                                                    <button id="single-button1" type="button" 
                                                             uib-tooltip="{{'export all attachments' | translate}}"
                                                             class="  btn blue-madison" uib-dropdown-toggle ng-disabled="disabled">
                                                         <span class="fa fa-file-archive-o"></span>
                                                         <span class="hidden-sm hidden-md  hidden-xs">{{'export all attachments' | translate}}</span>
                                                          <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                                        <li>
                                                            <a ng-click="searchCases(false , datafilter,'export')" class="iconify">
                                                                <i class="fa fa-file-archive-o"  style="margin-left: 4%"></i>{{'All'| translate}}</a>
                                                        </li>
                                                        <li>
                                                            <a ng-click="searchCases(true , datafilter,'export')" class="iconify">
                                                                <i class="fa fa-file-archive-o"  style="margin-left: 4%"></i>{{'selected'| translate}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="btn-group "  uib-dropdown  ng-show="items.length != 0">
                                                    <button id="single-button1" type="button" 
                                                             uib-tooltip="{{'export attachments sheet' | translate}}"
                                                             class="  btn  green-turquoise" uib-dropdown-toggle ng-disabled="disabled">
                                                         <span class="fa fa-file-excel-o"></span>
                                                         <span class="hidden-sm hidden-md  hidden-xs">{{'export attachments sheet' | translate}}</span>
                                                          <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                                        <li>
                                                            <a ng-click="searchCases(false , datafilter,'exportToExcel')" class="iconify">
                                                                <i class="fa fa-file-excel-o"  style="margin-left: 4%"></i>{{'All'| translate}}</a>
                                                        </li>
                                                        <li>
                                                            <a ng-click="searchCases(true , datafilter,'exportToExcel')" class="iconify">
                                                                <i class="fa fa-file-excel-o"  style="margin-left: 4%"></i>{{'selected'| translate}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="btn-group "  uib-dropdown  ng-show="items.length != 0" ng-disabled=" form.$invalid || items.length == 0">
                                                    <button id="single-button1" type="button" 
                                                             uib-tooltip="{{'download import file' | translate}}"
                                                             class="  btn yellow-saffron" uib-dropdown-toggle ng-disabled="disabled">
                                                         <span class="glyphicon glyphicon-download"></span>
                                                         <span class="hidden-sm hidden-md  hidden-xs">{{'download import file' | translate}}</span>
                                                          <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                                        <li>
                                                            <a ng-click="prepare(false,datafilter)" class="iconify" ng-disabled=" form.$invalid || items.length == 0">
                                                                <i class="fa fa-file-archive-o"  style="margin-left: 4%"></i>{{'All'| translate}}</a>
                                                        </li>
                                                        <li>
                                                            <a ng-click="prepare(true,datafilter)" class="iconify" ng-disabled=" form.$invalid || items.length == 0">
                                                                <i class="fa fa-file-archive-o"  style="margin-left: 4%"></i>{{'selected'| translate}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <label uib-tooltip="{{'import attachments' | translate}}" class="btn purple-intense btn-action " style="color: white ;" ng-disabled="form.$invalid && items.length == 0">
                                                    <span class="fa fa-upload"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'import attachments' | translate}}</span>
                                                    <input type="file" nv-file-select="" uploader="uploader" accept=".zip" style="display: none !important;">
                                                </label>
                                                <button uib-tooltip="{{'instruction to import attachments' | translate}}" ng-click="attachmentInstruction()" type="button"
                                                        class="btn  fa fa-comments-o red"></button>

                                            </div>
                                        </div>

                                    </div>
                                    <!--                                    ng-show="form.$valid && items.length > 0"-->
                                    <div class="row" style="margin-bottom: 2%;" ng-show="uploader.queue.length > 0">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                                            <div class="col-md-6"></div>
                                            <div class="col-md-6"
                                                 style="height: 80px;background-color: #fdfbda;padding-top: 30px;
                                            text-align: center !important;box-sizing:  border-box;border: 1px #f4d03f solid;">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="item in uploader.queue">
                                                    <div class="col-md-4" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;">
                                                        {{ item.file.name}}
                                                    </div>
                                                    <div class="col-md-2" ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</div>
                                                    <div class="col-md-2" ng-show="uploader.isHTML5">
                                                        <div class="progress progress-sm" style="margin-bottom: 0;">
                                                            <div class="progress-bar m--bg-warning" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span ng-show="item.isSuccess" class="text-success">
                                                            <i class="glyphicon glyphicon-ok"></i>
                                                        </span>
                                                        <span ng-show="item.isCancel" class="text-info">
                                                            <i class="glyphicon glyphicon-ban-circle"></i>
                                                        </span>
                                                        <span ng-show="item.isError" class="text-danger">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button type="button" class="btn yellow-crusta btn-xs" ng-click="item.upload()"
                                                                ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                                            <span class="glyphicon glyphicon-upload"></span>
                                                            <span>{{'upload file' | translate}} </span></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="note note-success" role="alert" ng-show="import.success">
                            <p>{{import.message}}</p>
                        </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="items.length > 0 " style="margin-bottom: 2%  ; margin-top: 2%">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label ng-show="items.length > 0 ">{{'show' | translate}}
                                <select
                                        class="form-control input-sm input-inline" ng-init=""
                                        ng-change="itemsPerPage_(itemsCount)"
                                        name="itemsCount"
                                        ng-model='itemsCount'>
                                   <option value="50">50</option><option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                    <option value="-1">{{'show_All' | translate}}</option>
                                </select>
                            </label>
                            <form class="form-inline search-form pull-right" style="margin-left:0.3%;">
                                <div class="input-group">
                                    <input type="text"
                                           ng-model="search"
                                           class="form-control"
                                           placeholder="{{'search' | translate}} "
                                           name="search">
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="items.length != 0 ">
                            <!--table-scrollable-->
                            <div class="scrolTB" >
                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center"   >
                                    <thead>
                                    </thead>
                                    <tbody>
                                    <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                        <!--<td class="text-center" > {{'#' | translate}} </td>-->
                                         <td class="text-right bold"  height="50px"
                                            style="position: -webkit-sticky;position: sticky;background-color: #f3f3f3!important;
                                                   top: 0;right: 0; border: 0px;line-height: 40px; z-index: 1000; text-align: right ; padding-right: 10px;">
                                         
                                             <span>
                                                 
                                             <input type="checkbox"
                                                   ng-model="selectedAll"
                                                   ng-change="selectAll(selectedAll)"
                                                   ng-true-value="true"
                                                   ng-false-value="false"
                                            >   
                                            <a ng-click="sort('name')">
                                                <span> 
                                                    {{'full name' | translate}} 
                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='name'" 
                                                          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </span>
                                             
                                            </a>
                                                
                                             </span>
                                             
                                        </td>
                                        <td class="text-center bold" ng-click="sort('category_name')">
                                            <span ng-show="type =='aids'">{{'category_name' | translate}}</span>
                                            <span ng-show="type !='aids'">{{'category_name' | translate}}</span>
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='category_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </td>
                                        <td ng-show="master" class="text-center bold" ng-click="sort('organization_name')"> {{'organization name' | translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='organization_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </td>
                                        <td class="text-center bold" ng-click="sort('id_card_number')" style="min-width: 160px;">{{'card_number' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='guardians_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </td>
                                        <td ng-show="type =='sponsorships'" class="text-center bold" ng-click="sort('guardians_name')" style="min-width: 160px;">{{'guardian_name' | translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='guardians_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </td>
                                        <td ng-repeat="docu in document" class="text-center bold"
                                            style="background-color: #f3f3f3!important; color: #337ab7; width: 2%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;" ng-show = "document_ids.indexOf(docu.id)!=-1">{{docu.name}}</td>
                                    </tr>
                                    <tr dir-paginate="item in items |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                        <!--<td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>-->
                                        <td style="vertical-align: middle; min-width: 250px; position: sticky;
                                                   background-color: #f3f3f3!important;  right: 0;    height: 50px;
                                                   z-index: 999; text-align: right ; padding-right: 10px;">
                                            
                                           
                                            <input type="checkbox" class="make-switch" data-on-color="primary" data-off-color="info"
                                                   ng-model="item.check" ng-checked="item.check" ng-true-value="true" ng-false-value="false">
                               
                                           
                                            <span style="margin-right: 5px;"> {{item.name}} </span>
                                            <i  uib-tooltip="{{'download' | translate}}"
                                               class="fa fa-download fa-lg font-blue bold"  ng-show="item.doc != null"
                                               ng-click="download(item.id)" aria-hidden="true"></i>
                                        </td>
                                        <td>{{item.category_name}}</td>
                                        <td  ng-show="master" >{{item.organization_name}}</td>
                                        <td>{{item.id_card_number}}</td>
                                        <td ng-show="type =='sponsorships'">{{item.guardian_name}}</td>
                                        <td ng-repeat="d in document" ng-show = "document_ids.indexOf(d.id)!=-1">

                                            <span  ng-show = "map[item.category_id].indexOf(d.id)==-1">
                                                    -
                                            </span>

                                            <span  ng-show = "map[item.category_id].indexOf(d.id) !=-1">
                                                   <span class="bold" ng-show="item.doc == null">
                                                          <span  ng-click = "ChooseAttachment(item,d.document_type_id,'add')" uib-tooltip="{{'not exist' | translate}}"
                                                                 class="glyphicon glyphicon-plus bold font-yellow-saffron" ></span>
                                                    </span>
                                                        <span  ng-show="item.doc != null">
                                                          <span uib-tooltip="{{'exist_' | translate}}" class="fa fa-check bold font-blue"
                                                                ng-if="item.doc.indexOf(d.id) != -1" ng-click = "open_image(d.document_type_id ,item.person_id,item)"></span>
                                                        <span  uib-tooltip="{{'REFRESH' | translate}}" class="fa fa-refresh bold text-danger"
                                                               ng-if="item.doc.indexOf(d.id) != -1" ng-click = "ChooseAttachment(item,d.document_type_id,'refresh')"></span>
                                                          <span  ng-click = "ChooseAttachment(item,d.document_type_id,'add')" uib-tooltip="{{'not exist' | translate}} - {{'upload' | translate}}"
                                                                 class="glyphicon glyphicon-plus bold font-yellow-saffron"  ng-if="item.doc.indexOf(d.id) == -1"></span>
                                                    </span>
                                            </span>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>


                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="items.length != 0 ">
                            <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                <span class="bold ">{{'number of total items'| translate}} : </span>
                                <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                <span class="bold ">{{'row' | translate}}</span>
                            </div>
                            <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" ng-show="items.length == 0 " style="margin-bottom: 2%  ; margin-top: 2%">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                             <span>  {{'there is no data to show' | translate}}</span>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="myModalContent2.html">
    <div class="modal-header" style="  padding:5%; ">
        <h4 class="modal-title bold text-center"> {{'Files Uploaded form' | translate }} </h4>
    </div>
    <div class="modal-body">
        <div class="row" style="padding: 2%;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">{{'select attachment'| translate}}</label>
                        <div class="col-md-10">
                            <div class="margin-bottom-20">
                                <input type="file" accept="image/x-png,image/gif,image/jpeg,image/jpg" nv-file-select="" onchange="angular.element(this).scope().fileupload(this)"  uploader="ImageUploader" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="uppercase">
                            <th >{{'name'| translate}}</th>
                            <th ng-show="ImageUploader.isHTML5">{{'size'| translate}}</th>
                            <th ng-show="ImageUploader.isHTML5">{{'progress'| translate}}</th>
                            <th>{{'status'| translate}}</th>
                            <th>{{'actions'| translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in ImageUploader.queue">
                            <td>
                                <div ng-show="ImageUploader.isHTML5" ng-thumb="{ file: item._file, height: 48 }"></div>
                            </td>
                            <td ng-show="ImageUploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                            <td ng-show="ImageUploader.isHTML5">
                                <div class="progress progress-sm" style="margin-bottom: 0;">
                                    <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                                    <span ng-show="item.isSuccess" class="text-success">
                                                        <i class="glyphicon glyphicon-ok"></i>
                                                    </span>
                                <span ng-show="item.isError" class="text-danger">
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                    </span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> <span>{{'upload'| translate}}</span> </button>
                                <button type="button" class="btn red-pink btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> <span>{{'remove'| translate}}</span> </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div>
                        <p>{{'queue_progress'| translate}}:</p>
                        <div class="progress progress-sm" style="">
                            <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': ImageUploader.progress + '%' }"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
</script>


