<style>
    .inactive ,.inactive .btn-group ,.inactive .btn-group button{
        color: #ccc;
        pointer-events: none;
        cursor: not-allowed;
    }
</style>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>

    <li>
        <span ng-show="type =='aids'">{{'aids management' | translate}}</span>
        <span ng-show="type !='aids'">{{'sponsorships management' | translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{'cases_manage'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active"> {{'case-incomplete-data' | translate}}</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span class="fa fa-exclamation-triangle"></span>
                        <span>{{'case-incomplete-data' | translate}}</span>
                    </h3>
                </div>

            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1%;padding-top: 4%;padding-bottom: 2%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                            <form name="form">
                                <div class="col-md-12 col-sm-12 col-xs-12text-center ">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'first_name' | translate}}</label>
                                                <input type="text" class="form-control" name="first_name" ng-model="filter.first_name" arabic-alphabet maxlength="45" ng-maxlength="45"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'second_name' | translate}}</label>
                                                <input type="text" class="form-control" name="second_name" ng-model="filter.second_name" arabic-alphabet    maxlength="45" ng-maxlength="45"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'third_name' | translate}}</label>
                                                <input type="text" class="form-control" name="third_name" ng-model="filter.third_name" arabic-alphabet    maxlength="45" ng-maxlength="45" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'last_name' | translate}}</label>
                                                <input type="text" class="form-control" name="last_name" ng-model="filter.last_name" arabic-alphabet    maxlength="45" ng-maxlength="45"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">
                                                    <span ng-show="type =='aids'">{{'category_name' | translate}}</span>
                                                    <span ng-show="type !='aids'">{{'category_name' | translate}}</span>
                                                </label>
                                                <div class="input-group">
                                                    <ui-select name="category_id" ng-model="filter.category_id" theme="bootstrap"
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in Categories | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                                <button type="button" ng-click="filter.category_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'card_number' | translate }}</label>
                                                <input type="text" class="form-control" name="id_card_number" ng-model="filter.id_card_number" maxlength="9"
                                                       ng-maxlength="9" numeric-only/>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12"   ng-if=" ((can('sponsorship.case.searchIncomplete') && type =='sponsorship') || (can('aid.case.searchIncomplete') && type =='aids')) || (charity_LoggedInUser.super_admin == 1)">
                                            <div class="form-group" style="padding-top:25px;">
                                                <label class="control-label bold">

                                                      <span ng-if="filter.all_organization" class="checker">
                                                            <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                   ng-model="filter.all_organization" ng-true-value="true" ng-false-value="false">
                                                      </span>
                                                    <span ng-if="!filter.all_organization">
                                                            <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                   ng-model="filter.all_organization" ng-true-value="true" ng-false-value="false">
                                                      </span>
                                                    <span >{{'search in all organization' | translate}}</span>
                                                </label>
                                            </div>

                                        </div>
                                        <div class="col-md-3 col-sm-12 "
                                             ng-if=" ((can('sponsorship.case.searchIncomplete') && type =='sponsorship') || (can('aid.case.searchIncomplete') && type =='aids')) || (charity_LoggedInUser.super_admin == 1)">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'organization name' | translate}}</label>
                                                <multiselect  ng-model="filter.organization_id" ng-if="Org" ng-class="filter.all_organization? '' : 'inactive'"
                                                              options="Org" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                        <div class="col-md-3 "></div>
                                        <div class="col-md-3 "></div>
                                        <div class="col-md-3 "></div>
                                        <div class="col-md-3 " style="padding-top: 20px;">
                                            <div class="clearfix pull-right">
                                                <button uib-tooltip="{{'search' | translate}}" class=" btn blue  "
                                                        ng-disabled="form.$invalid" ng-click="Search(filter,'filter')" type="button" >
                                                    <span class="icon-magnifier"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'search' | translate}}</span>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--<div class="row" >-->
                                <!--<div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">-->
                                   <!---->
                                <!--</div>-->
                                <!--<div class="col-md-6 col-sm-12 col-xs-12">-->
                                <!--</div>-->
                            <!--</div>-->

                        <div class="col-md-12 col-sm-12 col-xs-12 text-center" ng-show="items.length > 0 " style="margin-bottom: 2%  ; margin-top: 2%">
                            <div class="col-md-12 col-sm-12 col-xs-12" style="   margin-bottom: 10px;   padding: 0;">
                                <label class="pull-left" ng-show="items.length > 0 ">{{'show' | translate}}
                                    <select
                                            class="form-control input-sm input-inline" ng-init=""
                                            ng-change="itemsPerPage_(itemsCount)"
                                            name="itemsCount"
                                            ng-model='itemsCount'>
                                       <option value="50">50</option><option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                        <option value="-1">{{'show_All' | translate}}</option>
                                    </select>
                                </label>
                                <form class="form-inline search-form pull-right" style="margin-left:0.3%;">
                                    <div class="input-group">
                                        <input type="text"
                                               ng-model="search"
                                               class="form-control"
                                               placeholder="{{'search' | translate}} "
                                               name="search">
                                    </div>
                                </form>
                            </div>

                            <div class="table-scrollable">
                                <!-- BEGIN TABLE -->
                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                    <thead>
                                    <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                        <th class="text-center"ng-click="sort('id')" > {{'#' | translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='case_first_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('name')"> {{'full name' | translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='case_first_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>

                                        <th ng-show="master" class="text-center" ng-click="sort('organization_name')"> {{'organization_name' | translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='organization_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('category_name')">
                                            <span ng-show="type =='aids'">{{'category_name' | translate}}</span>
                                            <span ng-show="type !='aids'">{{'category_name' | translate}}</span>
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='category_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('id_card_number')"> {{'card_number' | translate }}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='case_id_card_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" > {{'operations' | translate}} </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="item in items|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage"  ng-if="items.length != 0 ">
                                        <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                        <td>{{item.name}}</td>
                                        <td ng-show="master">{{ item.organization_name }} </td>
                                        <td>{{ item.category_name }} </td>
                                        <td>{{item.id_card_number}}</td>
                                        <td>
                                            <span ng-show=" item.organization_id != organization_id">-</span>
                                            <a class="btn blue  btn-xs"
                                               href="#/aids/caseform/{{aidCategories_firstStep_map[item.category_id]}}/{{item.category_id}}/edit/{{item.id}}"
                                               uib-tooltip="{{'edit case data' | translate}}  "
                                               ng-show="type == 'aids' && item.organization_id == organization_id">
                                                <span class="fa fa-edit"></span>
                                                <span class="hidden-sm hidden-md  hidden-xs"> {{'edit case data'| translate}} </span>
                                            </a>
                                            <div class="btn-group" ng-show="type != 'aids'" uib-dropdown>
                                                <button id="single-button" type="button" class="btn btn-xs blue" uib-dropdown-toggle ng-disabled="disabled">
                                                    <span class="hidden-sm hidden-md  hidden-xs"> {{'select operation'| translate}} </span>
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button" style="margin-right: -50%">
                                                    <li>
                                                        <a href="{{'#/sponsorship/case-detail/'+item.id}}" class="iconify">
                                                            <i class="fa fa-edit"></i> {{'show case data' | translate}} </a>
                                                    </li>
                                                    <li ng-show=" item.organization_id == organization_id">
                                                        <a href="{{'#/sponsorship/edit-case/'+item.id}}" class="iconify">
                                                            <i class="fa fa-edit"></i> {{'edit case data' | translate}} </a>
                                                    </li>
                                                    <li ng-show="item.organization_id == organization_id && item.father_id != null">
                                                        <a href="#/sponsorship/case/edit/father/{{item.case_id}}" class="iconify">
                                                            <i class="fa fa-edit"></i> {{'edit father' | translate}} </a>
                                                    </li>
                                                    <li ng-show="item.organization_id == organization_id && item.mother_id != null ">
                                                        <a href="#/sponsorship/case/edit/mother/{{item.case_id}}" class="iconify">
                                                            <i class="fa fa-edit"></i> {{'edit mother' | translate}} </a>
                                                    </li>

                                                    <li ng-show=" item.organization_id == organization_id && item.guardian_id != null">
                                                        <a href="{{'#/sponsorship/edit-guardian/'+item.case_id}}" class="iconify">
                                                            <i class="fa fa-edit"></i> {{'edit guardian' | translate}} </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{'#/sponsorship/case-document/'+item.id}}" class="iconify">
                                                            <i class="fa fa-paperclip"></i> {{'case attachments' | translate}} </a>
                                                    </li>
                                                    <li>
                                                        <a href="{{'#/sponsorship/family/'+item.id}}" class="iconify">
                                                            <i class="fa fa-edit"></i>  {{'family members' | translate}}  </a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="items.length != 0 ">
                                <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                    <span class="bold ">{{'number of total items' | translate}}</span>
                                    <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                    <span class="bold ">{{'row' | translate}}</span>
                                </div>
                                <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center" ng-show="items.length == 0 " style="margin-bottom: 2%  ; margin-top: 2%">
                            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                <span>  {{'there is no data to show' | translate}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


