
<!-- BEGIN PAGE HEADER-->
<!-- END PAGE HEADER-->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" >
        <div class="portlet light bordered">
            
            <div class="portlet box">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                    
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            
                                <div class="col-md-12 col-sm-12 col-xs-12" > 
                                    
                                    <div class="">
                                        <table class="table table-bordered text-center">
                                            <tbody>
                                                <tr>
                                                    <td width="10%" class="bold" > {{ 'subject' | translate }}  </td>
                                                    <td width="90%" colspan="3" class="bold text-left"> {{suggestion.subject }}  </td>
                                                </tr>
                                                 <tr>
                                                    <td width="10%" class="bold" style="border:none;"> {{ 'Time' | translate }} </td>
                                                    <td width="40%" class="bold text-left" > {{suggestion.pm + ' '+ suggestion.time}} </td>

                                                    <td width="10%" class="bold" > {{ 'date' | translate }}  </td>
                                                    <td width="40%" class="bold text-left"> {{suggestion.date| date :'yyyy-M-d'}} </td>
                                                </tr>
                                                <tr ng-show="suggestion.details != null && suggestion.details != 'null'  && suggestion.details != ' '">
                                                    <td width="10%" class="bold" > {{' suggest details' | translate }}  </td>
                                                    <td width="90%" colspan="3" class="bold">
                                                        <span> {{suggestion.details}}   </span>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>                                       
                                </div>
                                
                                 <div class="col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center" ng-show="!suggestion.replays || suggestion.replays.length > 0">

                                            <div class="table-responsive">
                                                    <table class="table text-center" border="0">
                                                        <tbody>
                                                            <tr ng-repeat = "replay in suggestion.replays" style="border: 1px solid #c9ced2;background: #fdfdfd;">
                                                                <td   class="inbox-small-cells text-center " width="10%"
                                                                    style="border:none;vertical-align: middle;padding: 0;margin: 0;">
                                                                    <span class="photo">
                                                                      <img alt="" class="img-circle"  style=" border:none;width: 55px; height: 55px; border:2px solid #eef1f5!important;"
                                                                           ng-if="replay.document_id != null" ng-src="{{settings.StoragePath}}{{replay.filepath}}">
                                                                      
                                                                </td>
                                                               <td width="90%" class="text-left" style=" border:none; vertical-align: middle !important;padding-right:0px; text-justify: auto !important;">                               
                                
                                                                   <p class=" " style="padding:5px;margin: 0;margin-bottom: 5px;">
                                                                          <span class="bold font-green-sharp pull-left" ng-show="lang=='ar'"> {{replay.username}} </span>
                                                                          <span class="bold font-green-sharp pull-left" ng-show="lang=='en'"> {{replay.username}} </span>
                                                                          
                                                                          <span style="margin-right:5px; margin-left: 5px;"> / </span>
                                                                          <span class="font-grey-gallery" style="margin-right:2px; margin-left: 2px;"> {{ replay.date }} </span>
                                                                          <span style="margin-right:5px; margin-left: 5px;"> (  </span>
                                                                          <span class="font-grey-gallery" style="margin-right:2px; margin-left: 2px;"> {{ replay.time}} </span>
                                                                          <span class="font-grey-gallery" style="margin-right:2px; margin-left: 2px;"> {{ replay.pm }} </span>
                                                                          <span style="margin-right:5px; margin-left: 5px;"> )  </span>

                                                                   </p>
                                                                   
                                                                   <p ng-show="!(replay.details == '' || replay.details == null || replay.details == 'null')" 
                                                                      class="" style="padding:5px;margin: 0;margin-bottom: 5px; padding-right:20px;"> {{ replay.details }} </p>
                                                                   
                                                                         
                                                               </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                            
                                        </div>
                                     <div class="col-md-12 col-sm-12 col-xs-12 text-left"  style="padding:0">
                                                <form id="form_" name="form_" novalidate="" role="form">
                                                       <div class="col-md-12 col-sm-12 col-xs-12" >
                                                            <textarea class="form-control" name="text"
                                                                      placeholder="{{ 'ADD_COMMENT' | translate }} "
                                                                      ng-model="comment_.text" rows="5">
                                                            </textarea>
                                                        </div>
                                                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;border-bottom: 1px solid #eef1f5;padding-bottom: 10px;">
                                                            <div class="form-group">
                                                                
                                                                <div class="clearfix pull-left">
                                                                   
                                                                   <button ng-blur="focus_first()" ng-show="comment_.text.length > 0 || uploader.queue.length> 0 " ng-click="_save(comment_)" ng-disabled="form_.$invalid" 
                                                                               class="btn green-sharp submit-btn btn-sm">
                                                                        <i class="fa fa-save"></i> {{ 'SAVE' | translate }} 
                                                                       </button>
                                                                       <button type="button" 
                                                                               ng-show="comment_.text.length > 0 || uploader.queue.length> 0 "
                                                                               ng_click='_cancel_comment()' 
                                                                               class="btn red-pink btn-sm"> <i class="fa fa-mail-forward"></i> 
                                                                           {{ 'CANCEL' | translate }}
                                                                       </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </form> 
                                            </div>
                                 </div>     
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="border-top: 1px solid #eef1f5;padding: 10px 29px 23px 23px;">
                            <div class="col-md-6 col-sm-12 col-xs-12 pull-left">
                                 <div class="clearfix pull-left">
                                      <button type="button" ng_click='_cancel()' class="btn red-pink btn-sm"> 
                                          <i class="fa fa-mail-forward"></i> {{ 'CLOSE' | translate }}
                                     </button>
                                 </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
<div>
