<div class="modal-header" style="  padding:2%; ">
        <h4 class="modal-title text-center"> {{' suggest details' | translate}} </h4>
    </div>
<div class="modal-body">
    <textarea name="details"
              ng-model="suggestion.details" disabled
              rows="10" class="form-control" style=" background-color: #fbfbfb !important;"></textarea>
</div>
<div class="modal-footer">
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
</div>
