<style>
    .tabbable-line>.nav-tabs>li.active{
        border-bottom: 4px solid #3598dc;
        background-color: #e7ecf1 !important;
    }

    .tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover{
        border-bottom: 4px solid #3598dc;
    }

    .portlet.light>.portlet-title>.nav-tabs>li{
        border-radius: 10px 10px 0px 0px;
    }
</style>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i>{{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'reports and queries'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'relays'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'confirm relay'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        <span ng-show="type =='aids'">{{'aids'| translate}}</span>
        <span ng-show="type =='sponsorships'">{{'sponsorship'| translate}}</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span class="{{type=='aids' ? 'icon-support' : 'icon-present'}}"></span>
                        <span> {{'confirm relay'| translate}}</span>
                        <span ng-show="type =='aids'">  / {{'aids'| translate}}</span>
                        <span ng-show="type =='sponsorships'">  / {{'sponsorship'| translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <button  uib-tooltip="{{'export'| translate}}" ng-show="(categoryType == 2 && aidsItems.length != 0) || (categoryType == 1 && sponsorshipsItems.length != 0) "
                                 class=" btn green-meadow " ng-click="RelaySearch(datafilter,'xlsx')" type="button" >
                            <span class="fa fa-file-excel-o "></span>
                        </button>
                        <button  uib-tooltip="{{'advance search'| translate}}" class="btn yellow-saffron" ng-click="toggleSearchForm()" type="button" >
                            <span class="fa fa-search"></span>
                            <span class="hidden-sm hidden-md  hidden-xs">{{'advance search'| translate}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="portlet-body" style="min-height: 600px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0px 20px 20px 20px;">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center"  ng-show="categoryType == 2">
                            <div class="col-md-12 col-sm-12 col-xs-12" >
                                <form name="frmsearch"  novalidate role="form" class=" text-center" style="margin-top: 2%;margin-bottom: 2%; padding:0 2%;">
                                    <div class="row" style="margin-bottom: 2%; box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-3">
                                                <div class="form-group" ng-class="{ 'has-error' : frmsearch.first_name.$invalid }">
                                                    <label class=" control-label bold">{{'first_name'| translate}}</label>
                                                    <input type="text" class="form-control" name="first_name" ng-model="datafilter.first_name" arabic-alphabet
                                                           maxlength="45" ng-maxlength="45"/>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" ng-class="{ 'has-error' : frmsearch.second_name.$invalid }">
                                                    <label class=" control-label bold">{{'second_name'| translate}}</label>
                                                    <input type="text" class="form-control" name="second_name" ng-model="datafilter.second_name" arabic-alphabet    maxlength="45" ng-maxlength="45"/>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group " ng-class="{ 'has-error' : frmsearch.third_name.$invalid }">
                                                    <label class=" control-label bold">{{'third_name'| translate}}</label>
                                                    <input type="text" class="form-control" name="third_name" ng-model="datafilter.third_name" arabic-alphabet    maxlength="45" ng-maxlength="45" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group " ng-class="{ 'has-error' : frmsearch.last_name.$invalid }">
                                                    <label class=" control-label bold">{{'last_name'| translate}}</label>
                                                    <input type="text" class="form-control" name="last_name" ng-model="datafilter.last_name" arabic-alphabet    maxlength="45" ng-maxlength="45"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-3">
                                                <div class="form-group" ng-class="{ 'has-error' : frmsearch.id_card_number.$invalid }">
                                                    <label class=" control-label bold">{{'card_number' | translate }}</label>
                                                    <input type="text" class="form-control" name="id_card_number" ng-model="datafilter.id_card_number" maxlength="9"
                                                           ng-maxlength="9" numeric-only/>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label bold">
                                                        <span>{{'category_name_'| translate}}</span>
                                                    </label>
                                                    <div class="input-group">
                                                        <ui-select name="category_id" ng-model="datafilter.category_id" theme="bootstrap"
                                                                   class="text-right" >
                                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in aidCategories_ | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                                <button type="button" ng-click="datafilter.category_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label bold">   {{'created_at_from'| translate}} </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control"
                                                               uib-datepicker-popup="{{format}}"
                                                               ng-model="datafilter.created_at_from"
                                                               datepickerPopup
                                                               name="created_at_from"
                                                               is-open="popup99.opened" datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                        <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open99($event)">

                                                </button>
                                          </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label bold">   {{'created_at_to'| translate}} </label>
                                                    <div  class="input-group">
                                                        <input type="text" class="form-control"
                                                               uib-datepicker-popup="{{format}}"
                                                               ng-model="datafilter.created_at_to"
                                                               datepickerPopup
                                                               name="created_at_to"
                                                               is-open="popup88.opened" datepicker-options="dateOptions"
                                                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                        <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open88($event)">

                                                </button>
                                          </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="custom">
                                            <div class="col-md-3" >
                                                <div class="form-group">
                                                    <label class="control-label bold">   {{'country'| translate}} </label>
                                                    <div class="input-group">
                                                        <ui-select
                                                                ng-model="datafilter.adscountry_id"
                                                                name="adscountry_id"

                                                                ng-change="getLocation('sdistricts','scountries',datafilter.adscountry_id)"
                                                                theme="bootstrap" class="text-right" >
                                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in aidCountries | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.adscountry_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="col-md-3" >
                                                <div class="form-group">
                                                    <label class="control-label bold">   {{'district'| translate}} </label>
                                                    <div class="input-group">
                                                        <ui-select   ng-model="datafilter.adsdistrict_id"
                                                                     name="adsdistrict_id"

                                                                     ng-change="getLocation('sregions','sdistricts',datafilter.adsdistrict_id)"
                                                                     theme="bootstrap" class="text-right" >
                                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in governarate | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.adsdistrict_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                                    </div>


                                                </div>
                                            </div>
                                            <div class="col-md-3" >
                                                <div class="form-group">
                                                    <label class="control-label bold">   {{'region'| translate}} </label>
                                                    <div class="input-group">
                                                        <ui-select   ng-model="datafilter.adsregion_id"
                                                                     name="adsregion_id"

                                                                     ng-change="getLocation('sneighborhoods','sregions',datafilter.adsregion_id)"
                                                                     theme="bootstrap" class="text-right" >
                                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in regions | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.adsregion_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-3" >
                                                <div class="form-group">
                                                    <label class="control-label bold">   {{'nearlocation_'| translate}} </label>
                                                    <div class="input-group">
                                                        <ui-select    ng-model="datafilter.adsneighborhood_id"
                                                                      name="adsneighborhood_id"
                                                                      ng-change="getLocation('ssquares','sneighborhoods',datafilter.adsneighborhood_id)"

                                                                      theme="bootstrap" class="text-right" >
                                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in nearlocation | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.adsneighborhood_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="custom">
                                            <div class="col-md-3" >
                                                <div class="form-group">
                                                    <label class="control-label bold">   {{'square'| translate}} </label>
                                                    <div class="input-group">
                                                        <ui-select    ng-model="datafilter.adssquare_id"
                                                                      name="adssquare_id"
                                                                      ng-change="getLocation('smosques','ssquares',datafilter.adssquare_id)"

                                                                      theme="bootstrap" class="text-right" >
                                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in squares | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.adssquare_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-3" >
                                                <div class="form-group">
                                                    <label class="control-label bold">   {{'mosques'| translate}} </label>
                                                    <div class="input-group">
                                                        <ui-select ng-model="datafilter.adsmosques_id"
                                                                   name="adsmosques_id"
                                                                   theme="bootstrap" class="text-right" >
                                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in mosques | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.adsmosques_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label bold">   {{'street_address'| translate}} </label>
                                                    <span class=" text-danger bold help-inline" ng-show="frmpersonal.street_address.$error.required && frmpersonal.street_address.$touched">*</span>
                                                    <input type="text"
                                                           class="form-control"
                                                           ng-model="datafilter.street_address"
                                                           name="street_address" placeholder="{{'street_address'| translate}} " />

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-1 pull-right">
                                                <button class="btn blue" style="width:100%;"
                                                        ng-click="RelaySearch(datafilter,'paginate')" type="button" >
                                                    <span> {{'search'| translate}}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 " ng-show="aidsItems.length > 0 ">
                                    <label class="pull-left">
                                    {{'show'| translate}}
                                    <select
                                            class="form-control input-sm input-inline" ng-init=""
                                            ng-change="itemsPerPage__(itemsCount)"
                                            name="itemsCount"
                                            ng-model='itemsCount'>
                                       <option value="50">50</option><option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                        <option value="-1">{{'show_All'| translate}}</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12  table-responsive"  ng-show="aidsItems.length != 0 " style="margin-top: 2%;">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                                    <thead>
                                    <tr style="background-color: #f3f3f3!important; color: #337ab7; height:40px; line-height: 40px; font-size: 30px; ">
                                        <th class="text-center">  {{'#'| translate}} </th>
                                        <th class="text-center" ng-click="sort('id_card_number')"> {{'card_number' | translate }}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('id_card_number') != -1  ||  sortKeyArr_un_rev.indexOf('id_card_number') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('id_card_number') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('id_card_number') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort('full_name')"> {{'name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('full_name') != -1  ||  sortKeyArr_un_rev.indexOf('full_name') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('full_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('full_name') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort('category_name')"> {{'category_name_'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='category_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('primary_mobile')"> {{'mobile'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('category_name') != -1  ||  sortKeyArr_un_rev.indexOf('category_name') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('category_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('category_name') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort('created_at')"> {{'relay_date'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('created_at') != -1  ||  sortKeyArr_un_rev.indexOf('created_at') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('created_at') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('created_at') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort('user_name')"> {{'relay_user_name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('user_name') != -1  ||  sortKeyArr_un_rev.indexOf('user_name') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('user_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('user_name') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort('confirm_user_name')"> {{'confirm_user_name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('confirm_user_name') != -1  ||  sortKeyArr_un_rev.indexOf('confirm_user_name') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('confirm_user_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('confirm_user_name') != -1}"> </span>
                                        </th>
                                        <th class="text-center">  {{'operations'| translate}} </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="item in aidsItems |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                        <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                        <td>{{  item.id_card_number }}</td>
                                        <td>{{item.full_name }}</td>
                                        <td>{{item.category_name }}</td>
                                        <td>{{item.primary_mobile }}</td>
                                        <td>{{item.user_name }}</td>
                                        <td>{{item.confirm_relay_date }}</td>
                                        <td>{{item.confirm_user_name }}</td>
                                        <td>
                                        <button uib-tooltip="{{'update_case_data'| translate}}" class="btn btn-xs blue"
                                                ng-click="goTo('edit',item.person_id,item.case_id,item.category_id)">
                                                <span class="fa fa-edit"></span>
                                                <span class="hidden-sm hidden-md  hidden-xs">{{'update_case_data'| translate}}</span>
                                        </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-show="aidsItems.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 2%; margin-bottom: 2%; padding: 0%">
                                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                <span>
                                                                    {{'there is no data to show'| translate}}
                                                                </span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="aidsItems.length != 0 ">
                                <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                    <span class="bold ">{{'number of total items'| translate}} : </span>
                                    <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                    <span class="bold ">{{'row'| translate}}</span>
                                </div>
                                <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center"  ng-show="categoryType == 1">
                            <div class="col-md-12 col-sm-12 col-xs-12"  >
                                <form name="frmsearch"  novalidate role="form" class=" text-center" style="margin-top: 2%;margin-bottom: 2%; padding:0 2%;">
                                    <div class="row" style="margin-bottom: 2%; box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-3">
                                                <div class="form-group" ng-class="{ 'has-error' : frmsearch.first_name.$invalid }">
                                                    <label class=" control-label bold">{{'first_name'| translate}}</label>
                                                    <input type="text" class="form-control" name="first_name" ng-model="datafilter.first_name" arabic-alphabet
                                                           maxlength="45" ng-maxlength="45"/>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" ng-class="{ 'has-error' : frmsearch.second_name.$invalid }">
                                                    <label class=" control-label bold">{{'second_name'| translate}}</label>
                                                    <input type="text" class="form-control" name="second_name" ng-model="datafilter.second_name" arabic-alphabet    maxlength="45" ng-maxlength="45"/>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group " ng-class="{ 'has-error' : frmsearch.third_name.$invalid }">
                                                    <label class=" control-label bold">{{'third_name'| translate}}</label>
                                                    <input type="text" class="form-control" name="third_name" ng-model="datafilter.third_name" arabic-alphabet    maxlength="45" ng-maxlength="45" />
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group " ng-class="{ 'has-error' : frmsearch.last_name.$invalid }">
                                                    <label class=" control-label bold">{{'last_name'| translate}}</label>
                                                    <input type="text" class="form-control" name="last_name" ng-model="datafilter.last_name" arabic-alphabet    maxlength="45" ng-maxlength="45"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="control-label bold">
                                                        <span>{{'category_name_'| translate}}</span>
                                                    </label>
                                                    <div class="input-group">
                                                        <ui-select name="category_id" ng-model="datafilter.category_id" theme="bootstrap"
                                                                   class="text-right" >
                                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in sponsorCategories_ | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                                <button type="button" ng-click="datafilter.category_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" ng-class="{ 'has-error' : frmsearch.id_card_number.$invalid }">
                                                    <label class=" control-label bold">{{'card_number' | translate }}</label>
                                                    <input type="text" class="form-control" name="id_card_number" ng-model="datafilter.id_card_number" maxlength="9"
                                                           ng-maxlength="9" numeric-only/>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="custom">
                                            <div class="col-md-3">
                                                <div class="form-group" ng-class="{ 'has-error' : form.country.$invalid && (!form.country.$pristine || form.country.$touched) }">
                                                    <label class="control-label bold">  {{'country'| translate}} </label>
                                                    <div class="input-group">
                                                        <ui-select
                                                                ng-model="datafilter.country"
                                                                name="country"

                                                                ng-change="getLocation('districts','countries',datafilter.country)"
                                                                theme="bootstrap" class="text-right" >
                                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in Country | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.country = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" ng-class="{ 'has-error' : form.governarate.$invalid && (!form.governarate.$pristine || form.governarate.$touched) }">
                                                    <label class="control-label bold">  {{'district'| translate}} </label>
                                                    <div class="input-group">
                                                        <ui-select   ng-model="datafilter.governarate"
                                                                     name="governarate"

                                                                     ng-change="getLocation('cities','districts',datafilter.governarate)"
                                                                     theme="bootstrap" class="text-right" >
                                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in governarate | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.governarate = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" ng-class="{ 'has-error' : form.city.$invalid && (!form.city.$pristine  || form.city.$touched)}">
                                                    <label class="control-label bold">  {{'city'| translate}} </label>
                                                    <div class="input-group">
                                                        <ui-select   ng-model="datafilter.city"
                                                                     name="city"

                                                                     ng-change="getLocation('neighborhoods','cities',datafilter.city)"
                                                                     theme="bootstrap" class="text-right" >
                                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in city | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.city = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group" ng-class="{ 'has-error' : form.location_id.$invalid && (!form.location_id.$pristine  || form.location_id.$touched)}">
                                                    <label class="control-label bold">  {{'nearlocation'| translate}} </label>
                                                    <div class="input-group">
                                                        <ui-select    ng-model="datafilter.location_id"
                                                                      name="location_id"
                                                                      ng-change="getLocation('mosques','neighborhoods',datafilter.location_id)"

                                                                      theme="bootstrap" class="text-right" >
                                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in nearlocation | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.location_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="custom">
                                            <div class="col-md-3" >
                                                <div class="form-group" ng-class="{ 'has-error' : form.mosques_id.$invalid && (!form.mosques_id.$pristine  || form.mosques_id.$touched)}">
                                                    <label class="control-label bold">   {{'mosques'| translate}} </label>
                                                    <div class="input-group">
                                                        <ui-select ng-model="datafilter.mosques_id"
                                                                   name="mosques_id"
                                                                   theme="bootstrap" class="text-right" >
                                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                            <ui-select-choices repeat="item.id as item in mosques | filter: $select.search">
                                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                            </ui-select-choices>
                                                        </ui-select>
                                                        <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.mosques_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label bold">   {{'street_address'| translate}} </label>

                                                    <input type="text"
                                                           class="form-control"
                                                           ng-model="datafilter.street_address"
                                                           name="street_address" placeholder="{{'street_address'| translate}} " />

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-1 pull-right">
                                                <button class="btn blue" style="width:100%;"
                                                        ng-click="RelaySearch(datafilter,'paginate')" type="button" >
                                                    <span> {{'search'| translate}}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <br>
                            <div class="col-md-12 col-sm-12 col-xs-12 " ng-show="sponsorshipsItems.length > 0 ">
                                    <label class="pull-left">
                                    {{'show'| translate}}
                                    <select
                                            class="form-control input-sm input-inline" ng-init=""
                                            ng-change="itemsPerPage__(itemsCount)"
                                            name="itemsCount"
                                            ng-model='itemsCount'>
                                       <option value="50">50</option><option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                        <option value="-1">{{'show_All'| translate}}</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 table-responsive"  ng-show="sponsorshipsItems.length != 0 " style="margin-top: 2%;">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" ng-show="sponsorshipsItems.length != 0 ">
                                    <thead>
                                    <tr style="background-color: #f3f3f3!important; color: #337ab7; height:40px; line-height: 40px; font-size: 30px; ">
                                        <th class="text-center">  {{'#'| translate}} </th>
                                        <th class="text-center" ng-click="sort('id_card_number')"> {{'card_number' | translate }}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('id_card_number') != -1  ||  sortKeyArr_un_rev.indexOf('id_card_number') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('id_card_number') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('id_card_number') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort('full_name')"> {{'name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('full_name') != -1  ||  sortKeyArr_un_rev.indexOf('full_name') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('full_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('full_name') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort('category_name')"> {{'category_name_'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='category_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('primary_mobile')"> {{'mobile'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('category_name') != -1  ||  sortKeyArr_un_rev.indexOf('category_name') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('category_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('category_name') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort('created_at')"> {{'relay_date'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('created_at') != -1  ||  sortKeyArr_un_rev.indexOf('created_at') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('created_at') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('created_at') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort('user_name')"> {{'relay_user_name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('user_name') != -1  ||  sortKeyArr_un_rev.indexOf('user_name') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('user_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('user_name') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort('confirm_user_name')"> {{'confirm_user_name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('confirm_user_name') != -1  ||  sortKeyArr_un_rev.indexOf('confirm_user_name') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('confirm_user_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('confirm_user_name') != -1}"> </span>
                                        </th>
                                        <th class="text-center">  {{'operations'| translate}} </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="item in sponsorshipsItems |orderBy:sortKey:reverse|filter:search_|itemsPerPage:ItemsPerPage_">
                                        <td>{{ ( $index +1 ) +((CurrentPage_-1)* ItemsPerPage_)}}</td>
                                        <td>{{  item.id_card_number }}</td>
                                        <td>{{item.full_name }}</td>
                                        <td>{{item.category_name }}</td>
                                        <td>{{item.primary_mobile }}</td>
                                        <td>{{item.created_at }}</td>
                                        <td>{{item.user_name }}</td>
                                        <td>{{item.confirm_user_name }}</td>
                                        <td>
                                            <a  uib-tooltip="{{'update_case_data'| translate}}" class="btn btn-xs blue"
                                                href="#/sponsorship/cases/edit/{{item.case_id}}/">
                                                <span class="fa fa-edit"></span>
                                                <span>{{'update_case_data'| translate}}</span>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-show="sponsorshipsItems.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 2%; margin-bottom: 2%">
                                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                <span>
                                                                    {{'there is no data to show'| translate}}
                                                                </span>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="sponsorshipsItems.length != 0 ">
                                <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                    <span class="bold ">{{'number of total items'| translate}} : </span>
                                    <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems_}}</span>
                                    <span class="bold ">{{'row'| translate}}</span>
                                </div>
                                <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage_"  max-size="maxSize" items-per-page="ItemsPerPage_" ng-change="pageChanged(CurrentPage_)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->


