

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'sponsorships management' | translate }}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a href="#/sponsorship/nomination/">{{'nomination-cases' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{'nomination_list' | translate }}
        <i ng-show="SponsorNomination" class="glyphicon glyphicon-menu-right"></i>
    </li>
    <li ng-show="SponsorNomination" ><span> {{ sponsor_name }}</span></li>
</ul>

<div class="row">
    <div class="col-md-12  col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span class="fa fa-table"></span>
                        <span> {{'nomination_list' | translate }}</span>
                        <span ng-show="SponsorNomination" > {{ sponsor_name }}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 20px">
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1%;padding-top: 4%;padding-bottom: 2%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                        <form name="form">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center ">

                                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 15px;">
                                    <div class="col-md-3 text-center" style="padding-top:3%;">
                                        <div class="form-group">
                                            <label class="control-label bold">

                                                          <span ng-if="filters.all_organization" class="checker">
                                                                <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                       ng-model="filters.all_organization" ng-true-value="true" ng-false-value="false">
                                                          </span>
                                                <span ng-if="!filters.all_organization">
                                                                <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                       ng-model="filters.all_organization" ng-true-value="true" ng-false-value="false">
                                                          </span>
                                                <span >{{'search in all organization' | translate }}</span>
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label bold">{{'organization name' | translate }}</label>
                                            <multiselect  ng-model="filters.organization_id" ng-if="Org"
                                                          ng-class="filters.all_organization ? '' : 'inactive'"
                                                          options="Org" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                            </multiselect>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label class="control-label bold">{{'sponsorship_type' | translate }}</label>
                                            <div class="input-group">
                                                <ui-select name="category_id" ng-model="filters.category_id"theme="bootstrap" required
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in sponsorCategories_ | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                                     <button type="button" ng-click="filters.category_id = undefined" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label class="control-label bold"> {{'start_sponsorship_date' | translate }} </label>
                                            <div  class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="filters.start_sponsorship_date"
                                                       datepickerPopup
                                                       name="start_sponsorship_date" is-open="popup11.opened" datepicker-options="dateOptions" readonly date-disabled="disabled(date, mode)"
                                                       clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                <span class="input-group-btn">
                                                               <button type="button" class="btn btn-default" ng-click="open11($event)">
                                                                   <i class="glyphicon glyphicon-calendar"></i>
                                                               </button>
                                                     </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label class="control-label bold"> {{'end_sponsorship_date' | translate }} </label>
                                            <div  class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="filters.end_sponsorship_date"
                                                       datepickerPopup
                                                       name="end_sponsorship_date" is-open="popup12.opened" datepicker-options="dateOptions" readonly date-disabled="disabled(date, mode)"
                                                       clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                                <span class="input-group-btn">
                                                               <button type="button" class="btn btn-default" ng-click="open12($event)">
                                                                   <i class="glyphicon glyphicon-calendar"></i>
                                                               </button>
                                                     </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" >
                                        <div class="form-group">
                                            <label class="control-label bold">{{'min no of beneficiary' | translate }}</label>
                                            <input type="text" class="form-control"  numeric-only ng-model="filters.min_beneficiary_no"  name="min_beneficiary_no"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-3" >
                                        <div class="form-group">
                                            <label class="control-label bold">{{'max no of beneficiary' | translate }}</label>
                                            <input type="text" class="form-control" numeric-only ng-model="filters.max_beneficiary_no"  name="max_beneficiary_no"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3" ng-show="!SponsorNomination">
                                        <div class="form-group ">
                                            <label class="control-label bold">{{'sponsorship_authority' | translate }}</label>
                                            <div class="input-group">
                                                <ui-select ng-model="filters.sponsor_id"
                                                           name="sponsor_id"
                                                           ng-change="getsponsorshipsList(filters.sponsor_id)"
                                                           theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in sponsorships | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                                                <button type="button" ng-click="filters.sponsor_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group ">
                                            <label  class="control-label bold" ng-show="hassponsorships" >{{'nomination_list' | translate }}</label>
                                            <label   class="control-label bold"ng-show="!hassponsorships" >{{'sponsorship_number' | translate }}</label>
                                            <select ng-show="hassponsorships" class="form-control" name="sponsorship_id"
                                                    ng-model="filters.sponsorship_number">
                                                <option selected value>{{'select_nomination' | translate }}  </option>
                                                <option ng-repeat="option in sponsorshipList"  value="{{option.sponsorship_number}}"    >
                                                    {{option.sponsorship_number}}
                                                </option>
                                            </select>
                                            <input ng-show="!hassponsorships" type="text" class="form-control" ng-model="filters.sponsorship_number"
                                                   name="sponsorship_id" />


                                        </div>
                                    </div>

                                    <div class="col-md-3 " style="padding-top: 20px;">
                                        <div class="clearfix pull-right">
                                            <button uib-tooltip="{{'search' | translate }}"
                                                    class=" btn blue  "
                                                    ng-click="Search(filters,'search')" type="button" >
                                                <span class="icon-magnifier"></span>
                                                <span class="hidden-sm hidden-md  hidden-xs">{{'search' | translate }}</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12  col-sm-12 col-xs-12" style="margin-bottom: 5px;">
                        <label ng-show="items.length > 0 ">{{'show'| translate}}
                            <select
                                    class="form-control input-sm input-inline" ng-init=""
                                    ng-change="itemsPerPage_(itemsCount)"
                                    name="itemsCount"
                                    ng-model='itemsCount'>
                               <option value="50">50</option><option value="100">100</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="-1">{{'show_All'| translate}}</option>
                            </select>
                        </label>

                        <form class="form-inline search-form pull-right">
                            <div class="input-group">
                                <input type="text"
                                       ng-model="search"
                                       class="form-control"
                                       placeholder="{{'search'| translate}} "
                                       name="search">
                            </div>
                        </form>

                    </div>
                    <div class="table-scrollable" ng-if="items.length > 0">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                            <thead>
                            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                <th class="text-center"> {{'#' | translate }} </th>
                                <!--                                <th class="text-center" >-->
                                <!--                                    <input type="checkbox"-->
                                <!--                                           data-on-color="primary"-->
                                <!--                                           data-off-color="info"-->
                                <!--                                           ng-model="All"-->
                                <!--                                           ng-change="allCheckbox(All)"-->
                                <!--                                           ng-true-value="true"-->
                                <!--                                           ng-false-value="false"-->
                                <!--                                    >-->
                                <!--                                </th>-->
                                <th class="text-center"ng-click="sort('sponsorship_number')">
                                    {{'sponsorship_number' | translate }}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='nominationCount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-show="!SponsorNomination" class="text-center"ng-click="sort('sponsorships.organizations.name')">
                                    {{'sponsorship_authority' | translate }}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='sponsorships.organizations.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"ng-click="sort('sponsorship_date')">
                                    {{'sponsorship_date' | translate }}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='nominationCount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"ng-click="sort('nominationCount')">
                                    {{'the count of nomination cases' | translate }}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='nominationCount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"ng-click="sort('sponsorships.category.name')">
                                    {{'sponsorship_type' | translate }}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='sponsorships.category.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <!--                                <th class="text-center" ng-click="sort('sponsorships.status')">-->
                                <!--                                    {{'sponsorship status' | translate }}
                                <!--                                    <span class="glyphicon sort-icon" ng-show="sortKey=='sponsorships.status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
                                <!--                                </th>-->
                                <th class="text-center">{{'operations' | translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="item in items|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                <!--                                <td>-->
                                <!--                                    <input type="checkbox" class="make-switch"-->
                                <!--                                           data-on-color="primary"-->
                                <!--                                           data-off-color="info"-->
                                <!--                                           ng-model="item.check"-->
                                <!--                                           ng-checked="selectAll"-->
                                <!--                                           ng-true-value="true"-->
                                <!--                                           ng-false-value="false"-->
                                <!--                                    >-->
                                <!--                                </td>-->

                                <td>{{item.sponsorship_number}}</td>
                                <td ng-show="!SponsorNomination">{{item.sponsor}}</td>
                                <td>{{item.date}}</td>
                                <td>
                                    <a uib-tooltip="{{'nomination-cases-list' | translate }}"  ng-class="item.linkEnabled ? '' : 'inactive'"
                                       href="{{'#/sponsorship/nomination/persons/'+ item.id }}">
                                        {{item.nominationCount}}
                                    </a>
                                </td>
                                <td>{{item.sponsorship_type}}</td>
                                <!--                                <td>{{item.status}}</td>-->
                                <td>

                                    <a ng-if="item.nominationCount > 0"
                                       uib-tooltip="{{'nomination-cases-list' | translate }}" ng-class="item.linkEnabled ? '' : 'inactive'"
                                       style="font-size: medium; background-color: transparent"
                                       class="btn btn-xs bold font-blue  fa fa-users"
                                       ng-disabled="item.id==0"
                                       href="{{'#/sponsorship/nomination/persons/'+ item.id }}">
                                    </a>

                                    <button  ng-if="item.nominationCount > 0" uib-tooltip="{{'nomination-cases-list-excel' | translate }}"
                                             type="button"
                                             class="btn  btn-xs bold font-green-turquoise fa fa-file-excel-o"
                                             style="font-size: medium; background-color: transparent"
                                             ng-class="item.linkEnabled ? '' : 'inactive'"
                                             ng-click="download(item.id)"></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class=" col-md-12 col-sm-12 col-xs-12 text-center"  ng-show="items.length ==0 "  style="margin-bottom: 2%">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                        </div>
                    </div>
                    <div class="col-md-12  col-sm-12 col-xs-12" ng-show="items.length !=0 " >
                        <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                            <span class="bold ">{{'number of total items'| translate}}</span>
                            <span class="bold "> : </span>
                            <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                            <span class="bold ">{{'row'| translate}}</span>
                        </div>
                        <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
