
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'sponsorships management' | translate }}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a href="#/sponsorship/nomination/">{{'nomination-cases' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{'nomination-cases-list' | translate }}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li >
        <a  href="{{'#/sponsorship/nomination/'+sponsor_id}}">{{ sponsor_name }}</a>
    </li>
</ul>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span class="fa fa-users"></span>
                        <span> {{'nomination-cases-list' | translate }}</span>
                        <!--                            <span> {{ sponsor_name }}</span>-->
                    </h3>

                </div>
                <div class="actions" style="padding-top: 20px">
                    <div class="clearfix">
                        <button type="button" class="btn green-turquoise" ng-click="download()">
                            <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span> <span>{{'export Beneficiary to excel' | translate }}</span>
                        </button>

                    </div>
                </div>

            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="col-md-12  col-sm-12 col-xs-12" style="margin-bottom: 5px;">
                        <label ng-show="nominationCases.length > 0 ">{{'show'| translate}}
                            <select
                                    class="form-control input-sm input-inline" ng-init=""
                                    ng-change="itemsPerPage_(itemsCount)"
                                    name="itemsCount"
                                    ng-model='itemsCount'>
                               <option value="50">50</option><option value="100">100</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="-1">{{'show_All'| translate}}</option>
                            </select>
                        </label>
                        <form class="form-inline search-form pull-right">
                            <div class="input-group">
                                <input type="text"
                                       ng-model="search"
                                       class="form-control"
                                       placeholder="{{'search'| translate}} "
                                       name="search">
                            </div>
                        </form>

                    </div>
                    <div class="table-scrollable" ng-if="nominationCases.length > 0">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                            <thead>
                            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                <th class="text-center" ng-click="sort('$index')"> {{'#' | translate }}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='$index'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('name')">{{'the_name' | translate }}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('id_card_number')">{{'card_number' | translate }}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='id_card_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('gender')">{{'the_gender' | translate }}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='sponsorships.organizations.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('status')">{{'status' | translate }}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-if="is_mine"> {{'operations' | translate }}  </th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="item in nominationCases|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage"  ng-if="nominationCases.length > 0 " >
                                <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                <td>   {{item.name}}</td>
                                <td>{{item.id_card_number}} </td>
                                <td>{{item.gender}} </td>
                                <td>{{item.status}} </td>
                                <td ng-if="is_mine">
                                    <button type="button" class="btn btn-xs bold font-red-pink fa fa-trash-o" ng-if="item.falg == 1"
                                            style="font-size: medium; background-color: transparent"
                                            ng-click="delete('sm',item.id,item.sponsorship_id)"></button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END TABLE -->
                    <div class=" col-md-12 col-sm-12 col-xs-12 text-center"  ng-show="nominationCases.length ==0 "  style="margin-bottom: 2%">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                        </div>
                    </div>
                    <div class="col-md-12  col-sm-12 col-xs-12" ng-show="nominationCases.length !=0 " >
                        <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                            <span class="bold ">{{'number of total items'| translate}}</span>
                            <span class="bold "> : </span>
                            <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                            <span class="bold ">{{'row'| translate}}</span>
                        </div>
                        <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

