<div class="modal-header" style="  padding:5%; ">
    <h4 class="modal-title bold text-center"> {{'sponsorship_authorities'| translate}}</h4>
</div>
<div class="modal-body">
    <div class="row" style="padding: 2%;">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="table-scrollable" ng-if="items.length > 0">
                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                    <thead>
                    <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                        <th class="text-center" > {{'#' | translate }} </th>
                        <th class="text-center" ng-click="sort('organization_name')">{{'sponsorship_authority' | translate }}</th>
                        <th class="text-center" ng-click="sort('sponsor_name')"> {{'organization name' | translate }}</th>
                        <th class="text-center" ng-click="sort('sponsor_number')">{{'sponsorship_number_' | translate }}</th>
                        <th class="text-center" ng-click="sort('status')"> {{'status' | translate }}</th>
                        <th class="text-center" ng-click="sort('sponsorship_date')"> {{'guaranteed_date' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in sponsorList">
                        <td>{{ ( $index +1 )}}</td>
                        <td>{{item.organization_name}}</td>
                        <td >{{item.sponsor_name }}</td>
                        <td >{{item.sponsor_number }}</td>
                        <td >{{item.status }}</td>
                        <td> {{item.sponsorship_date}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class=" col-md-12 col-sm-12 col-xs-12 text-center"  ng-show="sponsorList.length ==0 "  style="margin-bottom: 2%">
                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}} </span></button>
</div>
