<div ng-controller="FamilyDocumentController">
    <div class="panel panel-info">
        <div class="panel-heading panel-heading-style">{{'family-documents' | translate }}</div>
        <div class="panel-body">
            <div class="row text-center" style="padding: 2%;">
                <div class="portlet-body">
                    <div class="row" style="margin-bottom: 2%;">
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-if="documents.length > 0 ">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                <thead>
                                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                    <th class="col-md-1 text-center" > {{'#' | translate }}</th>
                                    <th class="col-md-2 text-center" > {{'attachment type' | translate }}</th>
                                    <th class="col-md-1 text-center" > {{'scopeing for' | translate }} </th>
                                    <th class="col-md-8 text-center" > {{'attachment' | translate }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="doc in documents">
                                    <td>{{ $index+1 }}</td>
                                    <td>{{ doc.name }}</td>
                                    <td>
                                        <span ng-show="doc.scope== 1"> {{'father' | translate }} </span>
                                        <span ng-show="doc.scope== 2"> {{'mother' | translate }} </span>
                                        <span ng-show="doc.scope== 3"> {{'person' | translate }} </span>
                                        <span ng-show="doc.scope== 4"> {{'guardian_1' | translate }} </span>
                                        <span ng-show="doc.scope== 5"> {{'common' | translate }} </span>
                                    </td>
                                    <td>
                                        <span ng-show="doc.file_id != null">
                                           <img ng-click="showImage(doc.file_id)"
                                                ng-if="doc.file_id != null" ng-src="{{imgSrc}}"
                                                style="width: 60px; height: 60px; margin-left:2%;" data-img-blob="" data-url="{{'/doc/files/thumbnail/'+doc.file_id}}" class="img-thumbnail">
                                         <a class="btn green-turquoise btn-xs" data-download="{{ doc.name }}"
                                            doc-file-download data-url="/doc/files/download/{{doc.file_id}}">
                                             <span class="fa fa-cloud-download"></span><span> {{'download' | translate }}</span> </a>

                                            <button ng-show=" mode != 'show' "  type="button" class="btn yellow-saffron btn-xs" ng-click="ChooseAttachment(doc,'edit')">
                                                <span class="fa fa-refresh"></span>
                                                <span style="">{{'reload' | translate }}</span>
                                            </button>
                                         </span>

                                        <span ng-show=" mode != 'show' && doc.file_id == null">
                                              <span> {{'the attachment not uploaded' | translate }} </span>
                                              <span>
                                                  <button type="button" class="btn blue btn-xs" ng-click="ChooseAttachment(doc,'add')">
                                                                                                           <span class="fa fa-upload"></span>
                                                      <span style="">{{'upload' | translate }}</span>
                                                  </button>
                                              </span>
                                          </span>
                                        <span ng-show=" mode == 'show'  && doc.file_id == null">
                                              <span> {{'attachment not uploaded' | translate }} </span>
                                          </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div ng-if="documents.length == 0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 2%;margin-bottom: 2%">
                            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                            </div>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
        <div class="col-md-3 pull-right" >
            <div class="clearfix pull-right">
                <button class=" btn btn-outline blue button-previous" ng-click="Previous()" type="button" >
                    <span class="glyphicon glyphicon-menu-left"></span>
                    <span>{{'the_ previous' | translate }}</span>
                </button>

                <button class=" btn btn-outline blue button-next" ng-click="Next()" type="button" >
                    <span> {{'the_next' | translate }}</span>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </button>
            </div>




        </div>
    </div>
</div>
<script type="text/ng-template" id="myModalContent2.html">
    <div class="modal-header" style="  padding:5%; ">
        <h4 class="modal-title bold text-center"> {{'Files Uploaded form' | translate }} </h4>
    </div>
    <div class="modal-body">

        <div class="row" style="padding: 2%;">

            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 2%;">
                    <div class="note note-success">
                        >
                            <i style="font-size: larger" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            {{'You must click on the download button located opposite the image you want to download in order to upload successfully'| translate}}
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12" style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">{{'select attachment' | translate }}</label>
                        <div class="col-md-10">
                            <div class="margin-bottom-20">
                                <input type="file" accept="image/x-png,image/gif,image/jpeg,image/jpg" nv-file-select="" uploader="uploader" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="uppercase">
                            <th width="50%">{{'name' | translate }}</th>
                            <th ng-show="uploader.isHTML5">{{'size' | translate }}</th>
                            <th ng-show="uploader.isHTML5">{{'progress' | translate }}</th>
                            <th>{{'status' | translate }}</th>
                            <th>{{'actions' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td><div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 48 }"></div></td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress progress-sm" style="margin-bottom: 0;">
                                    <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                                <span ng-show="item.isSuccess" class="text-success">
                                                    <i class="glyphicon glyphicon-ok"></i>
                                                </span>
                                                <span ng-show="item.isError" class="font-red-pink">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> <span>{{'upload' | translate }}</span> </button>
                                <button type="button" class="btn red-pink btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> <span>{{'remove' | translate }} </span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <p>{{'queue_progress' | translate }}:</p>
                        <div class="progress progress-sm" style="">
                            <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel' | translate }} </span></button>
    </div>
</script>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header" style="  padding:12%; ">
        <h4 class="modal-title text-center"> {{'Files Founded' | translate }} </h4>
    </div>
    <div class="modal-body">
        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
            <thead>
            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                <th class="col-md-6 text-center" > {{'attachment' | translate }}</th>
                <th class="col-md-6 text-center" > {{'selectd' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="file in Files">
                <td>
                    <button type="button" class="btn blue btn-xs" doc-file-download data-url="/doc/files/download/{{file.file_id}}">
                        <span class="glyphicon glyphicon-upload"></span> <span>{{'download' | translate }}</span> </button>

                </td>
                <td>
                    <button type="button" class="btn blue btn-xs fa fa-check" ng-click="SelectFile(file)"></button>


                </td>

            </tr>

            </tbody>
        </table>


    </div>
    <div class="modal-footer">
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel' | translate }} </span></button>
    </div>
</script>
<script type="text/ng-template" id="showImage.html">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-xs pull-right fa fa-times" style=" font-size: medium; background-color: transparent" ng-click="cancel()"></button>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="min-height: 600px; height: 100%; width: 100%;  padding: 2%; padding-top:0%">
                <img ng-src="{{imgSrc}}" style="width:100%; height:1000px;" data-img-blob="" data-url="{{'/doc/files/thumbnail/'+target}}" class="img-thumbnail">
            </div>
        </div>
    </div>

</script>
