<div ng-controller="FamilyInfoController">
    <div class="panel panel-info">
        <div class="panel-heading panel-heading-style">{{'family-info' | translate }}</div>
        <div class="panel-body">
            <div class="row text-center" style="padding: 2%;">

                <div class= "col-md-12" style="margin-bottom: 2%;">
                    <button class="btn blue pull-left" style="margin-left: 1%;" ng-click="add('lg','add',-1)">
                        <span>{{'add new member' | translate }}</span>
                        <span class="glyphicon glyphicon-plus-square" style="padding-right:7px;"></span></button>

                    <a class="btn green-turquoise  pull-left" ng-show="classified_family" ng-click="case(-1,-1)">
                        <span>{{'add new member case' | translate }}</span>
                        <span class="glyphicon glyphicon-plus-square" style="padding-right:7px;"></span></a>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" ng-show="classified_family"  style="margin-bottom: 2%;" >
                    <h5 class="bold font-blue" style="margin-bottom: 1.5%">{{'family cases table' | translate }}</h5>
                    <table class="table table-bordered table-striped  text-center table-hover " ng-show="Caseitems.length > 0">
                        <thead>
                        <tr style="background-color: #f3f3f3!important; color: #337ab7; height:30px; line-height: 30px; font-size: 20px; ">
                            <th class="text-center">  {{'#' | translate }} </th>
                            <th class="text-center">  {{'the_name' | translate }} </th>
                            <th class="text-center">  {{'card_number' | translate }} </th>
                            <th class="text-center">{{'category_name' | translate }}</th>
                            <th class="text-center">  {{'the_gender' | translate }} </th>
                            <th class="text-center"> {{'Date_of_Birth' | translate }}  </th>
                            <th class="text-center" >  {{'the_health_status' | translate }} </th>
                            <th class="text-center" > {{'operations' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in Caseitems">
                            <td>{{  $index+1 }}</td>
                            <td>{{item.first_name +  "  " + item.second_name  +  "  " + item.third_name +  "  " +item.last_name}}</td>
                            <td  >{{item.id_card_number}}</td>
                            <td  >{{item.category_name}}</td>
                            <td ng-if="item.gender==1" >{{'male' | translate }} </td>
                            <td ng-if="item.gender==2" > {{'female' | translate }} </td>
                            <td ng-if="item.birthday!=null" >{{item.birthday}}</td>
                            <td ng-if="item.birthday==null" >-</td>

                            <td ng-if="item.condition==1" >{{'perfect' | translate }}</td>
                            <td ng-if="item.condition==2" >{{'suffers_from_a_chronic_disease' | translate }}</td>
                            <td ng-if="item.condition==3" >{{'with_special_needs' | translate }}</td>
                            <td ng-if="item.condition==null" >-</td>
                            <td >
                                <button type="button" class="btn btn-xs- font-blue fa fa-edit"
                                        style="font-size: medium; background-color: transparent" ng-click="case(item.id,item.case_id)"> </button>
                                <button type="button" class="btn btn-xs bold font-red-pink fa fa-trash-o"
                                        style=" font-size: medium; background-color: transparent" ng-click="delete('sm',item.id)"></button>

                            </td>

                        </tr>

                        </tbody>
                    </table>
                    <div  ng-show="Caseitems.length == 0" class="text-center" style="margin-bottom: 2%">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show' | translate }}
                                                                    </span>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h5 class="bold font-blue" style="margin-bottom: 1.5%" ng-show="classified_family">{{'not cases member table' | translate }} </h5>
                    <h5 class="bold font-blue" style="margin-bottom: 1.5%" ng-show="!classified_family">{{'family table' | translate }} </h5>

                   <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="items.length > 0 ">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-striped  text-center table-hover ">
                            <thead>
                            <tr style="background-color: #f3f3f3!important; color: #337ab7; height:30px; line-height: 30px; font-size: 20px; ">
                                <th class="text-center">  {{'#' | translate }} </th>
                                <th class="text-center">  {{'the_name' | translate }} </th>
                                <th class="text-center">  {{'card_number' | translate }} </th>
                                <th class="text-center">  {{'the_gender' | translate }} </th>
                                <th class="text-center"> {{'Date_of_Birth' | translate }}  </th>
                                <th class="text-center" >  {{'the_health_status' | translate }} </th>
                                <th class="text-center" ng-show="!classified_family">
                                    {{'the_kinship' | translate }}
                                    <span ng-show="!who_is_case">  ( {{'guardian' | translate }}   )</span>
                                    <span ng-show="who_is_case">  {{'case'| translate}}</span>

                                </th>
                                <th class="text-center" > {{'operations' | translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in items">
                                <td>{{  $index+1 }}</td>
                                <td>{{item.first_name +  "  " + item.second_name  +  "  " + item.third_name +  "  " +item.last_name}}</td>
                                <td  >{{item.id_card_number}}</td>
                                <td ng-if="item.gender==1" >{{'male' | translate }} </td>
                                <td ng-if="item.gender==2" > {{'female' | translate }} </td>
                                <td ng-if="item.birthday!=null" >{{item.birthday}}</td>
                                <td ng-if="item.birthday==null" >-</td>

                                <td ng-if="item.condition==1" >{{'perfect' | translate }}</td>
                                <td ng-if="item.condition==2" >{{'suffers_from_a_chronic_disease' | translate }}</td>
                                <td ng-if="item.condition==3" >{{'with_special_needs' | translate }}</td>
                                <td ng-if="item.condition==null" >-</td>
                                <td class="text-center" ng-show="!classified_family">{{item.kinship}}</td>
                                <td >
                                    <button type="button" class="btn btn-xs- font-blue fa fa-edit"
                                            style="font-size: medium; background-color: transparent" ng-click="add('lg','edit',item.id)"> </button>
                                </td>

                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                    <div  ng-show="items.length == 0 " class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show' | translate }}
                                                                    </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
        <div class="col-md-3 pull-right" >

            <button class=" btn btn-outline blue button-previous pull-left" style="width:49%;" ng-click="Previous()" type="button" >
                <span class="glyphicon glyphicon-menu-left"></span>
                <span>{{'the_ previous' | translate }}</span>
            </button>

            <button class=" btn btn-outline blue button-next pull-right" style="width:49%;" ng-click="Next()" type="button" >
                   <span ng-show="CustomFormStep">{{'the_next' | translate }}</span>
                   <span ng-show="CustomFormStep"> <span class="glyphicon glyphicon-menu-right"></span></span>
                   <span ng-show="!CustomFormStep">{{'Finish' | translate }}</span>

            </button>


        </div>
    </div>
</div>

<script type="text/ng-template" id="newPerson.html">
    <div class="modal-header text-center" style="padding: 3%;">
        <h4 class="modal-title bold" ng-show="action == 'add'">{{'add new member' | translate }}</h4>
        <h4 class="modal-title bold" ng-show="action == 'edit'">{{'edit_member_data_form' | translate }}</h4>
    </div>
    <div class="modal-body">
            <div class="row " style="padding: 1%;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-3">
                    <div class="form-group ">
                        <label class="control-label  bold ">{{'card_number' | translate }}</label>
                        <span class=" font-red-pink bold help-inline"> ({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control"
                               ng-model="persons.id_card_number"  name="id_card_number"
                               numeric-only
                               ng-required="true" maxlength="9"  autofocus  ng-change="isPersonExists(persons.id_card_number)"
                        />
                         <span ng-repeat="(error, errortext) in msg1.id_card_number"
                               class="font-red-pink bold help-inline"
                               ng-show="status1=='failed_valid' && 'msg1.id_card_number' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
                    </div>
                </div>
                    <div class="col-md-3" ng-show="priority.kinship !=1">
                        <div class="form-group">
                            <label class="control-label bold">   {{'kinship' | translate }} </label>
                            <span class=" text-success bold help-inline" ng-if="priority.kinship ==2"> ({{'optional' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="priority.kinship ==3"> ({{'advisable' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="priority.kinship ==4"> ({{'mandatory' | translate }})</span>
                          <div class="input-group">
                                <ui-select   ng-model="persons.kinship_id"  name="kinship_id"  ng-change="setName(persons.kinship_id)"
                                             ng-required="priority.fm_kinship ==4 && action == 'add'"
                                             theme="bootstrap" class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in Kinship | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                                                    <button type="button" ng-click="persons.kinship_id = undefined" class="btn btn-default">
                                                                          <span class="glyphicon glyphicon-trash"></span>
                                                                    </button>
                                                                 </span>
                            </div>
                                <span ng-repeat="(error, errortext) in msg1.kinship_id"
                                      class="font-red-pink bold help-inline"
                                      ng-show="status1=='failed_valid' && 'msg1.kinship_id' != [ ]" >
                                         {{ errortext.toString() }}
                                </span>
                        </div>
                    </div>
                    <div class="col-md-3" ng-if="priority.card_type !=1">
                        <div class="form-group">
                            <label class="control-label bold">   {{'card_type' | translate }} </label>
                            <span class=" text-success bold help-inline" ng-if="priority.card_type ==2"> ({{'optional' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="priority.card_type ==3"> ({{'advisable' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="priority.card_type ==4"> ({{'mandatory' | translate }})</span>
                            <select class="form-control"
                                    ng-init=""
                                    ng-change="msg1.card_type = [ ]"
                                    name="card_type"
                                    ng-model='persons.card_type'
                                    ng-required="priority.card_type ==4"
                            >
                                <option disabled selected value > --  {{'card_type' | translate }}  -- </option>
                                <option value="1">  {{'id_card' | translate }} </option>
                                <option value="2">  {{'id_number' | translate }} </option>
                                <option value="3">  {{'passport' | translate }} </option>
                            </select>

                            <span ng-repeat="(error, errortext) in msg1.card_type"
                                  class="font-red-pink bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.card_type' != [ ]" >
                                       {{ errortext.toString() }}
                                     </span>
                        </div>
                    </div>

                </div>
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-3" ng-show="priority.name!==1">
                    <div class="form-group">
                        <label class="control-label bold">{{'the_first_name_in_arabic' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.first_name"  name="first_name"
                               ng-required="priority.name==4" readonly arabic-alphabet   ng-change="msg1.first_name = [ ]"/>
                                                         <span ng-repeat="(error, errortext) in msg1.first_name"
                                                               class="font-red-pink bold help-inline"
                                                               ng-show="status1=='failed_valid' && 'msg1.first_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.name!==1">
                    <div class="form-group ">
                        <label class="control-label bold ">{{'the_father_name_in_arabic' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.second_name"  name="second_name"
                               ng-required="priority.name==4"  readonly arabic-alphabet   ng-change="msg1.second_name = [ ]"/>
                                                         <span ng-repeat="(error, errortext) in msg1.second_name"
                                                               class="font-red-pink bold help-inline"
                                                               ng-show="status1=='failed_valid' && 'msg1.second_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.name!==1">
                    <div class="form-group">
                        <label class="control-label bold">{{'the_grandfather_name_in_arabic' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control"  readonly arabic-alphabet   ng-model="persons.third_name"  name="third_name"
                               ng-required="priority.name==4" ng-change="msg1.third_name = [ ]"/>
                                                         <span ng-repeat="(error, errortext) in msg1.third_name"
                                                               class="font-red-pink bold help-inline"
                                                               ng-show="status1=='failed_valid' && 'msg1.third_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.name!==1">
                    <div class="form-group ">
                        <label class="control-label  bold ">{{'the_family_name_in_arabic' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.last_name"  name="last_name"
                               ng-required="priority.name==4"  readonly arabic-alphabet   ng-change="msg1.last_name = [ ]"/>
                                                         <span ng-repeat="(error, errortext) in msg1.last_name"
                                                               class="font-red-pink bold help-inline"
                                                               ng-show="status1=='failed_valid' && 'msg1.last_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>

            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-3" ng-show="priority.en_name!==1">
                    <div class="form-group">
                        <label class="control-label bold">
                            {{'the_first_name_in_english' | translate }}
                        </label>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.en_name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.en_first_name"  name="en_first_name"
                               ng-required="priority.en_name==4" english-alphabet ng-change="msg1.en_last_name = [ ]"/>
                                                         <span ng-repeat="(error, errortext) in msg1.en_first_name"
                                                               class="font-red-pink bold help-inline"
                                                               ng-show="status1=='failed_valid' && 'msg1.en_first_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.en_name!==1">
                    <div class="form-group ">
                        <label class="control-label  bold ">
                            {{'the_father_name_in_english' | translate }}
                        </label>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.en_name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.en_second_name"  name="en_second_name"
                               ng-required="priority.en_name==4" english-alphabet ng-change="msg1.en_second_name = [ ]"/>
                                                         <span ng-repeat="(error, errortext) in msg1.en_second_name"
                                                               class="font-red-pink bold help-inline"
                                                               ng-show="status1=='failed_valid' && 'msg1.en_second_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.en_name!==1">
                    <div class="form-group">
                        <label class="control-label bold">
                            {{'the_grandfather_name_in_english' | translate }}
                        </label>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.en_name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.en_third_name"  name="en_third_name"
                               ng-required="priority.en_name==4" english-alphabet ng-change="msg1.en_third_name = [ ]"/>
                                                         <span ng-repeat="(error, errortext) in msg1.en_third_name"
                                                               class="font-red-pink bold help-inline"
                                                               ng-show="status1=='failed_valid' && 'msg1.en_third_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.en_name!==1">
                    <div class="form-group ">
                        <label class="control-label  bold ">
                            {{'the_family_name_in_english' | translate }}
                        </label>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.en_name==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.en_name==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control" ng-model="persons.en_last_name"  name="en_last_name"
                               ng-required="priority.en_name==4" english-alphabet ng-change="msg1.en_last_name = [ ]"/>
                                                         <span ng-repeat="(error, errortext) in msg1.en_last_name"
                                                               class="font-red-pink bold help-inline"
                                                               ng-show="status1=='failed_valid' && 'msg1.en_last_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-3" ng-show="priority.gender!==1" >
                    <div class="form-group">
                        <label class="control-label bold">{{'the_gender' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.gender==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.gender==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.gender==4">({{'mandatory' | translate }})</span>
                        <select class="form-control" ng-model="persons.gender"  name="gender" disabled
                                ng-required="priority.gender==4" ng-change="msg1.gender = [ ]">
                            <option disabled selected value>{{'select_the_gender' | translate }}</option>
                            <option  value="1"  >
                                {{'male' | translate }}
                            </option>
                            <option  value="2"  >
                                {{'female' | translate }}
                            </option>
                        </select>
                                                         <span ng-repeat="(error, errortext) in msg1.gender"
                                                               class="font-red-pink bold help-inline"
                                                               ng-show="status1=='failed_valid' && 'msg1.gender' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.birthday!==1" >
                    <div class="form-group">
                        <label class="control-label bold"> {{'Date_of_Birth' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.birthday==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.birthday==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.birthday==4">({{'mandatory' | translate }})</span>
                        <input type="text" class="form-control"  uib-datepicker-popup="{{format}}"
                               ng-model="persons.birthday" datepickerPopup
                               name="birthday" ng-required="priority.birthday==4" ng-change="msg1.birthday = [ ]"
                               is-open="popup1.opened" datepicker-options="dateOptions"
                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly />

                        <span ng-repeat="(error, errortext) in msg1.birthday"
                                                               class="font-red-pink bold help-inline"
                                                               ng-show="status1=='failed_valid' && 'msg1.birthday' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.marital_status!==1">
                    <div class="form-group">
                        <label class="control-label bold">{{'the_marital_status' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.marital_status==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.marital_status==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.marital_status==4">({{'mandatory' | translate }})</span>
                        <ui-select ng-model="persons.marital_status_id"
                                   name="marital_status_id" ng-required="priority.marital_status==4" ng-change="msg1.marital_status_id = [ ]"
                                   theme="bootstrap"
                                   class="text-right disabled" ng-disabled="true" >
                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in MaritalStatus | filter: $select.search" ng-disabled="true">
                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                                                         <span ng-repeat="(error, errortext) in msg1.marital_status_id"
                                                               class="font-red-pink bold help-inline"
                                                               ng-show="status1=='failed_valid' && 'msg1.marital_status_id' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>

                    </div>
                </div>
                <div class="col-md-3"   ng-show="priority.health_condition!==1">
                    <div class="form-group">
                        <label class="control-label bold">{{'the_health_status' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.health_condition==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.health_condition==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.health_condition==4">({{'mandatory' | translate }})</span>

                        <select class="form-control"  ng-model="persons.condition" name="condition"
                                ng-required="priority.health_condition==4" ng-change="msg1.condition = [ ]">
                            <option disabled selected value>{{'select_the_health_status' | translate }}</option>
                            <option value="1">{{'good' | translate }}</option>
                            <option value="2">{{'suffers_from_a_chronic_disease' | translate }}</option>
                            <option value="3">{{'with_special_needs' | translate }}</option>


                        </select>
                                                         <span ng-repeat="(error, errortext) in msg1.condition"
                                                               class="font-red-pink bold help-inline"
                                                               ng-show="status1=='failed_valid' && 'msg1.condition' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-3" ng-show="priority.fm_working!=1">
                    <div class="form-group">
                        <label class="control-label bold">{{'is_she_working?' | translate }}</label>
                        <span  class=" text-success bold help-inline" ng-if="priority.fm_working==3">({{'advisable' | translate }})</span>
                        <span  class=" text-success bold help-inline" ng-if="priority.fm_working==2">({{'optional' | translate }})</span>
                        <span  class=" font-red-pink bold help-inline" ng-if="priority.fm_working==4">({{'mandatory' | translate }})</span>

                        <select class="form-control" ng-model="persons.working"  name="working"
                                ng-required="priority.fm_working==4" ng-change="restValue('working',persons.working)">
                            <option disabled selected value>---{{'is_she_working?' | translate }}---</option>
                            <option  value="1"  >{{'yes' | translate }}</option>
                            <option  value="2"  >{{'no' | translate }}</option>
                        </select>
                                                         <span ng-repeat="(error, errortext) in msg1.working"
                                                               class="font-red-pink bold help-inline"
                                                               ng-show="status1=='failed_valid' && 'msg1.working' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
                      </div>
                    </div>
                <div class="col-md-3"   ng-show="priority.work_job!==1">
                    <div class="form-group ">
                        <label class="control-label  bold ">
                            {{'the_career' | translate }}
                        </label>
                        <span  class=" font-red-pink bold help-inline" ng-if="persons.fm_working == 1">({{'mandatory' | translate }})</span>

                        <div class="input-group">
                            <ui-select  ng-model="persons.work_job_id"  name="work_job_id"
                                        ng-disabled="persons.working != 1"
                                        ng-required=" persons.working == 1 && priority.work_job==4" ng-change="msg1.work_job_id = [ ]"
                                       theme="bootstrap" class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in WorkJob | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                                                <button type="button" ng-click="persons.work_job_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                        </div>
                                                         <span ng-repeat="(error, errortext) in msg1.work_job_id"
                                                               class="font-red-pink bold help-inline"
                                                               ng-show="status1=='failed_valid' && 'msg1.work_job_id' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>

                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.study !=1">
                    <div class="form-group">
                        <label class="control-label bold">   {{'is study' | translate }} </label>
                        <span class=" text-success bold help-inline" ng-if="priority.study ==2"> ({{'optional' | translate }})</span>
                        <span class=" text-success bold help-inline" ng-if="priority.study ==3"> ({{'advisable' | translate }})</span>
                        <span class=" font-red-pink bold help-inline" ng-if="priority.study ==4"> ({{'mandatory' | translate }})</span>
                        <select class="form-control" ng-init=" " name="study" ng-model='persons.study'
                                ng-required="priority.study ==4"
                                ng-change="restValue('study',persons.study)">
                            <option disabled selected value > -- {{'select status'| translate}}  -- </option>
                            <option value="1">  {{'yes' | translate }} </option>
                            <option value="0">  {{'no' | translate }} </option>
                        </select>
                                <span ng-repeat="(error, errortext) in msg1.study"
                                      class="font-red-pink bold help-inline"
                                      ng-show="status1=='failed_valid' && 'msg1.study' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                    </div>
                </div>
                <div class="col-md-3" ng-show="priority.stage!=1">
                    <div class="form-group">
                        <label class="control-label bold">{{'the_educational_level' | translate }}</label>
                        <span class=" text-success bold help-inline" ng-if="priority.stage==3">({{'advisable' | translate }})</span>
                        <span class=" text-success bold help-inline" ng-if="priority.stage==2">({{'optional' | translate }})</span>
                        <span class=" font-red-pink bold help-inline" ng-if="priority.stage==4">({{'mandatory' | translate }})</span>

                        <div class="input-group">
                            <ui-select
                                    ng-model="persons.stage"  name="stage"
                                    ng-required="priority.stage==4 && persons.study ==1" ng-disabled=" persons.study !=1" ng-change="msg1.stage = [ ]"
                                    theme="bootstrap" class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in EduStages | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                                                         <button type="button" ng-click="persons.stage = undefined" class="btn btn-default">
                                                                                  <span class="glyphicon glyphicon-trash"></span>
                                                                         </button>
                                                                     </span>
                        </div>
                                                            <span ng-repeat="(error, errortext) in msg1.stage"
                                                                  class="font-red-pink bold help-inline"
                                                                  ng-show="status1=='failed_valid' && 'msg1.stage' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn blue" ng-click="save(persons)"><span>{{'save' | translate }}</span></button>
        <button class="btn red-pink" ng-click="cancel()"><span>{{'cancel' | translate }}</span></button>
    </div>
</script>
<script type="text/ng-template" id="myModalContent2.html">
    <div class="modal-header" style="  padding:12%; ">
        <input type="hidden" name="delPerson" id="delPerson" ng-model="personId" value="{{personId}}">

        <h4 class="modal-title text-center">{{'are_you_sure_you_want_to_delete_?' | translate }}</h4>
    </div>
    <div class="modal-footer">
        <button class=" btn blue" ng-click="confirmDelete(personId)"type="button" ><span>{{'delete' | translate }}</span></button>
        <button class="btn red-pink"  ng-click="cancel()"><span>{{'cancel' | translate }}</span></button>
    </div>
</script>
