
<style>
    .disabled {
        pointer-events: none;
        cursor: default;
    }
</style>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'sponsorships management' | translate }}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'cases_manage' | translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a  href="#/sponsorship/all/cases"> {{'all_cases' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'sponsorship casee form' | translate }}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{ CategoryName }}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">{{'add_sponsorship_form' | translate }} </li>
</ul>

<!-- END PAGE BREADCRUMB -->
<div class="row" ng-controller="BasicController">
    <div class="col-md-12 col-sm-12 col-xs-12" >
        <div class="portlet light">
              <div class="portlet-title">
                        <div class="caption bold">
                             <span class="icon-layers font-red "></span>
                             <span class="font-red "> {{'form for' | translate }} </span>
                             <!--<span class="font-red ">{{ CategoryName }}</span>-->
                             <span class="font-red "> {{'Step' | translate }} </span>
                             <span class="font-red ">{{ TheCurrentStep }} </span>
                             <span class="font-red "> {{'Of' | translate }} </span>
                             <span class="font-red "> {{StepCount}} </span>
                        </div>
              <div class="portlet-body ">
                 <div class="form-wizard">
                     <div class="form-body"  style="padding-top: 3%">
                         <ul class="nav nav-pills nav-justified steps text-center" style="border-bottom: 7px solid #eee;">
                             <li ng-show="CaseStep">
                                 <a id="CaseData" class="step" ng-click="getState('case-info')" ui-sref-active="active"  ui-sref=".case-info">
                                     <span class="number"> {{ CaseStepNumber}} </span>
                                     </br>
                                     <p  class="desc"><i class="fa fa-check"></i> {{'case-info' | translate }} </p>
                                 </a>
                             </li>
                             <li ng-show="ParentStep" >
                                 <a id="ParentStep" class="step" ng-click="getState('parent-info')" ui-sref-active="active"  ui-sref=".parent-info">
                                     <span class="number"> {{ ParentStepNumber}} </span>
                                     </br>
                                     <p  class="desc"><i class="fa fa-check"></i> {{'parent-info' | translate }} </p>
                                 </a>
                             </li>
                             <li ng-show="GuardianStep">
                                 <a id="providerData"  class="step disabled" ng-click="getState('guardian-info')" ui-sref-active="active"  ui-sref=".guardian-info">
                                     <span class="number"> {{ GuardianStepNumber}} </span>
                                     </br>
                                     <p  class="desc"><i class="fa fa-check"></i> {{'guardian-info' | translate }} </p>
                                 </a>
                             </li>
                             <li ng-show="FamilyDocumentsStep">
                                 <a id="familyDocuments"  class="step disabled" ng-click="getState('family-documents')" ui-sref-active="active" ui-sref=".family-documents">
                                     <span class="number"> {{ FamilyDocumentStepNumber}} </span>
                                     </br>
                                     <p  class="desc"><i class="fa fa-check"></i> {{'family-documents' | translate }} </p>
                                 </a>
                             </li>
                             <li ng-show="CaseDocumentsStep">
                                 <a id="caseDocuments" class="step disabled" ng-click="getState('case-documents')" ui-sref-active="active" ui-sref=".case-documents">
                                     <span class="number"> {{ CaseDocumentStepNumber}} </span>
                                     </br>
                                     <p  class="desc"><i class="fa fa-check"></i> {{'case-documents' | translate }} </p>
                                 </a>
                             </li>
                             <li ng-show="FamilyStep">
                                 <a id="FamilyData" class="step disabled" ng-click="getState('family-info')" ui-sref-active="active"  ui-sref=".family-info">
                                     <span class="number"> {{ FamilyStepNumber}} </span>
                                     </br>
                                     <p  class="desc"><i class="fa fa-check"></i> {{'family-info' | translate }} </p>
                                 </a>
                             </li>
                             <li ng-show="CustomFormStep">
                                 <a id="customFormData" class="step disabled" ng-click="getState('custom-form-data')" ui-sref-active="active" ui-sref=".custom-form-data">
                                     <span class="number"> {{ CustomFormDataStepNumber}} </span>
                                     </br>
                                     <p  class="desc"><i class="fa fa-check"></i> {{'custom-form' | translate }} </p>
                                 </a>
                             </li>
                         </ul>
                     </div>
                 </div>

                <div id="views-content" ui-view></div>

             </div>
        </div>
    </div>
</div>



