<!--ng-controller="GuardianInfoController"-->
<div>
        <div class="panel panel-info">
            <div class="panel-heading panel-heading-style">{{'guardian-info' | translate }}( {{'basic' | translate }})</div>
            <div class="panel-body">
                    <div class="row" style="padding: 1%;" >
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="col-md-3 text-center">
                                <div class="form-group">
                                    <label class="control-label bold">{{'who is guardian' | translate }}</label>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.WhoIsGuardian==3">({{'advisable' | translate }})</span>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.WhoIsGuardian==2">({{'optional' | translate }})</span>
                                    <span class=" font-red-pink bold help-inline" ng-if="gpriority.WhoIsGuardian==4">({{'mandatory' | translate }})</span>
                                    <select class="form-control"  autofocus  ng-model="guardian.WhoIsGuardian"  name="WhoIsGuardian"
                                            ng-change="SetGuardian(guardian.WhoIsGuardian)" ng-required="gpriority.WhoIsGuardian==4">
                                        <option disabled selected value>{{'select guardian' | translate }}</option>

                                        <option ng-if="who_is_case && !has_mother" value="-2">{{'person' | translate }}</option>
<!--                                        <option ng-if="who_is_case && ! ((!has_mother && has_Wives))  && (person_id != null )" value="-2">{{'person' | translate }}<!--</option>-->
                                        <option ng-if="!has_mother && has_Wives && !who_is_case && (father_id != null )" value="-5">{{'family_res' | translate }}</option>
                                        <option ng-if="has_mother" value="-3">{{'mother' | translate }}</option>
<!--                                        <option ng-if="!father_dead && who_is_case && (person_id != null )" value="-4">{{'father' | translate }}<!--</option>-->
                                        <option ng-if="!has_mother && has_Wives" ng-repeat="option in Wives"  value="{{option.id}}"  >{{option.name}}</option>
                                        <option value="-1">{{'another' | translate }}</option>
                                    </select>
                                                <span ng-repeat="(error, errortext) in msg1.WhoIsGuardian"
                                                      class="font-red-pink bold help-inline"
                                                      ng-show="status1=='failed_valid' && 'msg1.WhoIsGuardian' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group ">
                                    <label class="control-label bold">{{'card_number' | translate }}</label>
                                    <span class=" font-red-pink bold help-inline" >({{'mandatory' | translate }})</span>
                                    <input type="text" class="form-control" ng-change="isExists('guardian',guardian.id_card_number)"
                                           ng-model="guardian.id_card_number" numeric-only maxlength="9"  required name="id_card_number" />
                                                <span ng-repeat="(error, errortext) in msg1.id_card_number"
                                                      class="font-red-pink bold help-inline"
                                                      ng-show="status1=='failed_valid' && 'msg1.id_card_number' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                                </div>
                            </div>
                            <div class="col-md-3" ng-if="gpriority.card_type !=1">
                                <div class="form-group">
                                    <label class="control-label bold">   {{'card_type' | translate }} </label>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.card_type ==2"> ({{'optional' | translate }})</span>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.card_type ==3"> ({{'advisable' | translate }})</span>
                                    <span class=" font-red-pink bold help-inline" ng-if="gpriority.card_type ==4"> ({{'mandatory' | translate }})</span>
                                    <select class="form-control"
                                            ng-init=""
                                            ng-change="msg1.card_type = [ ]"
                                            name="card_type"
                                            ng-model='guardian.card_type'
                                            ng-required="gpriority.card_type ==4"
                                    >
                                        <option disabled selected value > --  {{'card_type' | translate }}  -- </option>
                                        <option value="1">  {{'id_card' | translate }} </option>
                                        <option value="2">  {{'id_number' | translate }} </option>
                                        <option value="3">  {{'passport' | translate }} </option>
                                    </select>

                                    <span ng-repeat="(error, errortext) in msg1.card_type"
                                          class="font-red-pink bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg1.card_type' != [ ]" >
                                       {{ errortext.toString() }}
                                     </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-3" ng-show="gpriority.name!=1">
                                <div class="form-group">
                                    <label class="control-label bold">
                                        {{'the_first_name_in_arabic' | translate }}
                                    </label>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.name==3">({{'advisable' | translate }})</span>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.name==2">({{'optional' | translate }})</span>
                                    <span class=" font-red-pink bold help-inline" ng-if="gpriority.name==4">({{'mandatory' | translate }})</span>
                                    <input type="text" class="form-control"
                                           ng-model="guardian.first_name"
                                           ng-required="gpriority.name==4"  name="first_name"
                                           ng-change="msg1.first_name = [ ]" />
                                                            <span ng-repeat="(error, errortext) in msg1.first_name"
                                                                  class="font-red-pink bold help-inline"
                                                                  ng-show="status1=='failed_valid' && 'msg1.first_name' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                                </div>
                            </div>
                            <div class="col-md-3" ng-show="gpriority.name!=1">
                                <div class="form-group ">
                                    <label class="control-label bold">
                                        {{'the_father_name_in_arabic' | translate }}
                                    </label>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.name==3">({{'advisable' | translate }})</span>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.name==2">({{'optional' | translate }})</span>
                                    <span class=" font-red-pink bold help-inline" ng-if="gpriority.name==4">({{'mandatory' | translate }})</span>
                                    <input type="text" class="form-control" ng-model="guardian.second_name"
                                           name="second_name"  ng-required="gpriority.name==4"
                                           ng-change="msg1.second_name = [ ]"/>
                                                            <span ng-repeat="(error, errortext) in msg1.second_name"
                                                                  class="font-red-pink bold help-inline"
                                                                  ng-show="status1=='failed_valid' && 'msg1.second_name' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                                </div>
                            </div>
                            <div class="col-md-3" ng-show="gpriority.name!=1">
                                <div class="form-group">
                                    <label class="control-label bold">
                                        {{'the_grandfather_name_in_arabic' | translate }}
                                    </label>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.name==3">({{'advisable' | translate }})</span>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.name==2">({{'optional' | translate }})</span>
                                    <span class=" font-red-pink bold help-inline" ng-if="gpriority.name==4">({{'mandatory' | translate }})</span>
                                    <input type="text" class="form-control" ng-model="guardian.third_name"  name="third_name"
                                           ng-required="gpriority.name==4"  ng-change="msg1.third_name = [ ]"/>
                                                            <span ng-repeat="(error, errortext) in msg1.third_name"
                                                                  class="font-red-pink bold help-inline"
                                                                  ng-show="status1=='failed_valid' && 'msg1.third_name' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                                </div>
                            </div>
                            <div class="col-md-3" ng-show="gpriority.name!=1">
                                <div class="form-group ">
                                    <label class="control-label bold">
                                        {{'the_family_name_in_arabic' | translate }}
                                    </label>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.name==3">({{'advisable' | translate }})</span>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.name==2">({{'optional' | translate }})</span>
                                    <span class=" font-red-pink bold help-inline" ng-if="gpriority.name==4">({{'mandatory' | translate }})</span>
                                    <input type="text" class="form-control" ng-model="guardian.last_name"  name="last_name"
                                           ng-required="gpriority.name==4" ng-change="msg1.last_name = [ ]"/>
                                                            <span ng-repeat="(error, errortext) in msg1.last_name"
                                                                  class="font-red-pink bold help-inline"
                                                                  ng-show="status1=='failed_valid' && 'msg1.last_name' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-3" ng-show="gpriority.en_name!=1">
                                <div class="form-group">
                                    <label class="control-label bold">
                                        {{'the_first_name_in_english' | translate }}
                                    </label>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.en_name==3">({{'advisable' | translate }})</span>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.en_name==2">({{'optional' | translate }})</span>
                                    <span class=" font-red-pink bold help-inline" ng-if="gpriority.en_name==4">({{'mandatory' | translate }})</span>
                                    <input type="text" class="form-control" ng-model="guardian.en_first_name"  name="en_first_name"
                                           ng-required="gpriority.en_name==4" ng-change="msg1.en_first_name = [ ]"/>
                                                                <span ng-repeat="(error, errortext) in msg1.en_first_name"
                                                                      class="font-red-pink bold help-inline"
                                                                      ng-show="status1=='failed_valid' && 'msg1.en_first_name' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                                </div>
                            </div>
                            <div class="col-md-3" ng-show="gpriority.en_name!=1">
                                <div class="form-group ">
                                    <label class="control-label bold">
                                        {{'the_father_name_in_english' | translate }}
                                    </label>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.en_name==3">({{'advisable' | translate }})</span>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.en_name==2">({{'optional' | translate }})</span>
                                    <span class=" font-red-pink bold help-inline" ng-if="gpriority.en_name==4">({{'mandatory' | translate }})</span>
                                    <input type="text" class="form-control" ng-model="guardian.en_second_name"  name="en_second_name"
                                           ng-required="gpriority.en_name==4" ng-change="msg1.en_second_name = [ ]"/>
                                                                <span ng-repeat="(error, errortext) in msg1.en_second_name"
                                                                      class="font-red-pink bold help-inline"
                                                                      ng-show="status1=='failed_valid' && 'msg1.en_second_name' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                                </div>
                            </div>
                            <div class="col-md-3" ng-show="gpriority.en_name!=1">
                                <div class="form-group">
                                    <label class="control-label bold">
                                        {{'the_grandfather_name_in_english' | translate }}
                                    </label>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.en_name==3">({{'advisable' | translate }})</span>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.en_name==2">({{'optional' | translate }})</span>
                                    <span class=" font-red-pink bold help-inline" ng-if="gpriority.en_name==4">({{'mandatory' | translate }})</span>
                                    <input type="text" class="form-control" ng-model="guardian.en_third_name"  name="en_third_name"
                                           ng-required="gpriority.en_name==4" ng-change="msg1.en_third_name = [ ]"/>
                                                                <span ng-repeat="(error, errortext) in msg1.en_third_name"
                                                                      class="font-red-pink bold help-inline"
                                                                      ng-show="status1=='failed_valid' && 'msg1.en_third_name' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                                </div>
                            </div>
                            <div class="col-md-3" ng-show="gpriority.en_name!=1">
                                <div class="form-group ">
                                    <label class="control-label bold">
                                        {{'the_family_name_in_english' | translate }}
                                    </label>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.en_name==3">({{'advisable' | translate }})</span>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.en_name==2">({{'optional' | translate }})</span>
                                    <span class=" font-red-pink bold help-inline" ng-if="gpriority.en_name==4">({{'mandatory' | translate }})</span>
                                    <input type="text" class="form-control" ng-model="guardian.en_last_name"  name="en_last_name"
                                           ng-required="gpriority.en_name==4" ng-change="msg1.en_last_name = [ ]"/>
                                                                <span ng-repeat="(error, errortext) in msg1.en_last_name"
                                                                      class="font-red-pink bold help-inline"
                                                                      ng-show="status1=='failed_valid' && 'msg1.en_last_name' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-3" ng-show="gpriority.birthday!=1">
                                <div class="form-group">
                                    <label class="control-label bold"> {{'date_of_birth' | translate }}</label>
                                    <span  class=" text-success bold help-inline" ng-if="gpriority.birthday==3">({{'advisable' | translate }})</span>
                                    <span  class=" text-success bold help-inline" ng-if="gpriority.birthday==2">({{'optional' | translate }})</span>
                                    <span  class=" font-red-pink bold help-inline" ng-if="gpriority.birthday==4">({{'mandatory' | translate }})</span>
                                    <div > <!-- class="input-group" -->
                                        <input type="text" class="form-control"  uib-datepicker-popup="{{format}}"
                                               ng-model="guardian.birthday" datepickerPopup
                                               name="birthday"  ng-required="gpriority.birthday==4"
                                               is-open="popup1.opened" datepicker-options="dateOptions"
                                               ng-change="checkBirthday(guardian.birthday)"
                                               date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly />
                                    </div>
                                                         <span ng-repeat="(error, errortext) in msg1.birthday"
                                                               class="font-red-pink bold help-inline"
                                                               ng-show="status1=='failed_valid' && 'msg1.birthday' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
                                </div>
                            </div>
                            <div class="col-md-3" ng-show="gpriority.guardian_marital_status!=1">
                                <div class="form-group">
                                    <label class="control-label bold">
                                        {{'marital_status' | translate }}
                                    </label>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.guardian_marital_status==3">({{'advisable' | translate }})</span>
                                    <span class=" text-success bold help-inline"ng-if="gpriority.guardian_marital_status==2">({{'optional' | translate }})</span>
                                    <span class=" font-red-pink bold help-inline"ng-if="gpriority.guardian_marital_status==4">({{'mandatory' | translate }})</span>

                                    <div > <!-- class="input-group" -->
                                        <ui-select   ng-model="guardian.marital_status_id"  name="marital_status_id"
                                                     ng-required="gpriority.guardian_marital_status==4" ng-change="msg1.marital_status_id = [ ]" theme="bootstrap"
                                                     class="text-right disabled" ng-disabled="true" >
                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item.id as item in MaritalStatus | filter: $select.search" ng-disabled="true">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                                         <span ng-repeat="(error, errortext) in msg1.marital_status_id"
                                                               class="font-red-pink bold help-inline"
                                                               ng-show="status1=='failed_valid' && 'msg1.marital_status_id' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>

                                </div>
                            </div>
                            <div class="col-md-3" ng-show="gpriority.nationality!=1" >
                                <div class="form-group">
                                    <label class="control-label bold">{{'the_nationality' | translate }}</label>
                                    <span  class=" text-success bold help-inline" ng-if="gpriority.nationality==3">({{'advisable' | translate }})</span>
                                    <span  class=" text-success bold help-inline" ng-if="gpriority.nationality==2">({{'optional' | translate }})</span>
                                    <span  class=" font-red-pink bold help-inline" ng-if="gpriority.nationality==4">({{'mandatory' | translate }})</span>
                                    <div class="input-group">
                                        <ui-select name="nationality" ng-model="guardian.nationality"
                                                   ng-required="gpriority.nationality==4"
                                                   ng-change="msg1.nationality = [ ]" theme="bootstrap"
                                                   class="text-right" >
                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item.id as item in Country | filter: $select.search">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                                                            <button type="button" ng-click="guardian.nationality = undefined" class="btn btn-default">
                                                                                  <span class="glyphicon glyphicon-trash"></span>
                                                                            </button>
                                                                         </span>
                                    </div>
                                  <span ng-repeat="(error, errortext) in msg1.nationality"
                                        class="font-red-pink bold help-inline"
                                        ng-show="status1=='failed_valid' && 'msg1.nationality' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
                                </div>
                            </div>
                            <div class="col-md-3" ng-show="gpriority.study!=1">
                                <div class="form-group">
                                    <label class="control-label bold">{{'is educational' | translate }}</label>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.study==3">({{'advisable' | translate }})</span>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.study==2">({{'optional' | translate }})</span>
                                    <span class=" font-red-pink bold help-inline" ng-if="gpriority.study==4">({{'mandatory' | translate }})</span>
                                    <select class="form-control" ng-model="guardian.study"  name="study"
                                            ng-required="gpriority.study==4" ng-change="rest('study',guardian.study)">
                                        <option disabled selected value > -- {{'select status'| translate}}  -- </option>
                                        <option value="1">  {{'yes' | translate }} </option>
                                        <option value="0">  {{'no' | translate }} </option>
                                    </select>
                                    <span ng-repeat="(error, errortext) in msg1.study"
                                          class="font-red-pink bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg1.study' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-3" ng-show="gpriority.guardian_stage!=1">
                                <div class="form-group">
                                    <label class="control-label bold">{{'the_educational_level' | translate }}</label>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.guardian_stage==3">({{'advisable' | translate }})</span>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.guardian_stage==2">({{'optional' | translate }})</span>
                                    <span class=" font-red-pink bold help-inline" ng-if="gpriority.guardian_stage==4">({{'mandatory' | translate }})</span>

                                    <div class="input-group">
                                        <ui-select
                                                ng-model="guardian.stage"  name="stage"
                                                ng-required="gpriority.guardian_stage==4" ng-change="msg1.stage = [ ]"  ng-disabled="guardian.study != 1"
                                                theme="bootstrap" class="text-right" >
                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item.id as item in EduStages | filter: $select.search">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                                                         <button type="button" ng-click="guardian.stage = undefined" class="btn btn-default">
                                                                                  <span class="glyphicon glyphicon-trash"></span>
                                                                         </button>
                                                                     </span>
                                    </div>
                                    <span ng-repeat="(error, errortext) in msg1.stage"
                                          class="font-red-pink bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg1.stage' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>

                                </div>
                            </div>
                            <div class="col-md-3" ng-show="gpriority.working!=1">
                                <div class="form-group">
                                    <label class="control-label bold">{{'is_she_working?' | translate }}</label>
                                    <span  class=" text-success bold help-inline" ng-if="gpriority.working==3">({{'advisable' | translate }})</span>
                                    <span  class=" text-success bold help-inline" ng-if="gpriority.working==2">({{'optional' | translate }})</span>
                                    <span  class=" font-red-pink bold help-inline" ng-if="gpriority.working==4">({{'mandatory' | translate }})</span>

                                    <select class="form-control" ng-model="guardian.working"  name="working"
                                            ng-required="gpriority.guardian_working_mother==4" ng-change="rest('working',guardian.working)">
                                        <option disabled selected value>---{{'is_she_working?' | translate }}---</option>
                                        <option  value="1"  >{{'yes' | translate }}</option>
                                        <option  value="2"  >{{'no' | translate }}</option>
                                    </select>
                                                         <span ng-repeat="(error, errortext) in msg1.working"
                                                               class="font-red-pink bold help-inline"
                                                               ng-show="status1=='failed_valid' && 'msg1.working' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
                                </div>
                            </div>
                            <div class="col-md-3" >
                                <div class="form-group">
                                    <label class="control-label bold">{{'work_type' | translate }}</label>
                                    <span class=" font-red-pink bold help-inline"ng-if="guardian.working==1">({{'mandatory' | translate }})</span>

                                    <div class="input-group">
                                        <ui-select  ng-model="guardian.work_job_id"  ng-disabled="guardian.working != '1'"name="work_job_id"
                                                    ng-change="msg1.work_job_id = [ ]"theme="bootstrap" class="text-right" >
                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item.id as item in WorkJob | filter: $select.search">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                                                <button type="button" ng-click="guardian.work_job_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                    </div>
                                    <span ng-repeat="(error, errortext) in msg1.work_job_id"
                               class="font-red-pink bold help-inline"
                               ng-show="status1=='failed_valid' && 'msg1.work_job_id' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>

                                </div>
                            </div>
                            <div class="col-md-3" >
                                <div class="form-group">
                                    <label class="control-label bold">{{'work_location' | translate }}</label>
                                    <span class=" font-red-pink bold help-inline"ng-if="guardian.working==1">({{'mandatory' | translate }})</span>
                                    <input type="text" class="form-control" ng-model="guardian.work_location" ng-disabled="guardian.working != '1'"
                                           name="work_location"
                                           ng-change="msg1.work_location = [ ]"/>
                                                         <span ng-repeat="(error, errortext) in msg1.work_location"
                                                               class="font-red-pink bold help-inline"
                                                               ng-show="status1=='failed_valid' && 'msg1.work_location' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-3" >
                                <div class="form-group">
                                    <label class="control-label bold">{{'monthly_income' | translate }}</label>
                                    <span class=" font-red-pink bold help-inline"ng-if="guardian.working==1">({{'mandatory' | translate }})</span>
                                    <input type="text" class="form-control" ng-model="guardian.monthly_income" ng-disabled="guardian.working != '1'" decimal-numbers
                                           name="monthly_income" ng-change="msg1.monthly_income = [ ]" />
                                    <span ng-repeat="(error, errortext) in msg1.monthly_income"
                                          class="font-red-pink bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg1.monthly_income' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
                                </div>
                            </div>
                            <div class="col-md-3" ng-show="gpriority.guardian_kinship!=1 && !father_dead ">
                                <div class="form-group">
                                    <label class="control-label bold">{{'the_kinship' | translate }}</label>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.guardian_kinship==3">({{'advisable' | translate }})</span>
                                    <span class=" text-success bold help-inline" ng-if="gpriority.guardian_kinship==2">({{'optional' | translate }})</span>
                                    <span class=" font-red-pink bold help-inline" ng-if="gpriority.guardian_kinship==4">({{'mandatory' | translate }})</span>

                                    <div class="input-group">
                                        <ui-select  ng-model="guardian.kinship_id"  name="kinship_id"
                                                    ng-required="gpriority.guardian_kinship==4" ng-change="msg1.kinship_id = [ ]"
                                                    theme="bootstrap" class="text-right" >
                                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                            <ui-select-choices repeat="item.id as item in Kinship | filter: $select.search">
                                                <div ng-bind-html="item.name | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                                                    <button type="button" ng-click="guardian.kinship_id = undefined" class="btn btn-default">
                                                                          <span class="glyphicon glyphicon-trash"></span>
                                                                    </button>
                                                                 </span>
                                    </div>
                                                            <span ng-repeat="(error, errortext) in msg1.kinship_id"
                                                                  class="font-red-pink bold help-inline"
                                                                  ng-show="status1=='failed_valid' && 'msg1.kinship_id' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>

                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="panel panel-info"  ng-show="gpriority.guardian_address!=1">
            <div class="panel-heading panel-heading-style">{{'address' | translate }}</div>
            <div class="panel-body">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3"  ng-show="gpriority.guardian_address!=1">
                        <div class="form-group">
                            <label class="control-label bold">{{'country' | translate }}</label>
                            <span  class=" text-success bold help-inline" ng-if="gpriority.guardian_address==3">({{'advisable' | translate }})</span>
                            <span  class=" text-success bold help-inline" ng-if="gpriority.guardian_address==2">({{'optional' | translate }})</span>
                            <span  class=" font-red-pink bold help-inline" ng-if="gpriority.guardian_address==4">({{'mandatory' | translate }})</span>
                           <div class="input-group">
                                <ui-select  ng-model="guardian.country"
                                            ng-change="get('districts',guardian.country,'countries')"
                                            ng-required="gpriority.guardian_country==4"
                                            theme="bootstrap"
                                           class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in Country | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button type="button" ng-click="guardian.country = undefined" class="btn btn-default">
                                                          <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                               </span>
                            </div>
                                                        <span ng-repeat="(error, errortext) in msg1.country"
                                                              class="font-red-pink bold help-inline"
                                                              ng-show="status1=='failed_valid' && 'msg1.country' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>

                        </div>
                    </div>
                    <div class="col-md-3"  ng-show="gpriority.guardian_address!=1">
                        <div class="form-group">
                            <label class="control-label bold">{{'state_province' | translate }}</label>
                            <span  class=" text-success bold help-inline" ng-if="gpriority.guardian_address==3">({{'advisable' | translate }})</span>
                            <span  class=" text-success bold help-inline" ng-if="gpriority.guardian_address==2">({{'optional' | translate }})</span>
                            <span  class=" font-red-pink bold help-inline" ng-if="gpriority.guardian_address==4">({{'mandatory' | translate }})</span>

                            <div class="input-group">
                                <ui-select   name="governarate" ng-model="guardian.governarate"
                                             ng-required="gpriority.guardian_governarate==4"
                                             ng-change="get('cities',guardian.governarate,'districts')"
                                             theme="bootstrap" class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in governarate | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                                                         <button type="button" ng-click="guardian.governarate = undefined" class="btn btn-default">
                                                                                  <span class="glyphicon glyphicon-trash"></span>
                                                                         </button>
                                                                     </span>
                            </div>
                          <span ng-repeat="(error, errortext) in msg1.governarate"
                                class="font-red-pink bold help-inline"
                                ng-show="status1=='failed_valid' && 'msg1.governarate' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3"  ng-show="gpriority.guardian_address!=1" >
                        <div class="form-group">
                            <label class="control-label bold">{{'city_village' | translate }}</label>
                            <span  class=" text-success bold help-inline" ng-if="gpriority.guardian_address==3">({{'advisable' | translate }})</span>
                            <span  class=" text-success bold help-inline" ng-if="gpriority.guardian_address==2">({{'optional' | translate }})</span>
                            <span  class=" font-red-pink bold help-inline" ng-if="gpriority.guardian_address==4">({{'mandatory' | translate }})</span>
                            <div class="input-group">
                                <ui-select   name="city" ng-model="guardian.city" ng-required="gpriority.guardian_city==4"
                                             ng-change="get('neighborhoods',guardian.city,'cities')"
                                            theme="bootstrap" class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in city | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                                                         <button type="button" ng-click="guardian.city = undefined" class="btn btn-default">
                                                                                  <span class="glyphicon glyphicon-trash"></span>
                                                                         </button>
                                                                     </span>
                            </div>
                          <span ng-repeat="(error, errortext) in msg1.city"
                                class="font-red-pink bold help-inline"
                                ng-show="status1=='failed_valid' && 'msg1.city' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>

                        </div>
                    </div>
                    <div class="col-md-3"  ng-show="gpriority.guardian_address!=1">
                        <div class="form-group">
                            <label class="control-label bold">{{'region' | translate }}</label>
                            <span  class=" text-success bold help-inline" ng-if="gpriority.guardian_address==3">({{'advisable' | translate }})</span>
                            <span  class=" text-success bold help-inline" ng-if="gpriority.guardian_address==2">({{'optional' | translate }})</span>
                            <span  class=" font-red-pink bold help-inline" ng-if="gpriority.guardian_address==4">({{'mandatory' | translate }})</span>
                            <div class="input-group">
                                <ui-select name="location_id" ng-model="guardian.location_id"
                                           ng-required="gpriority.guardian_address==4"
                                           ng-change="get('mosques',guardian.location_id,'neighborhoods')"
                                            theme="bootstrap" class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in nearlocation | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                                                         <button type="button" ng-click="guardian.location_id = undefined" class="btn btn-default">
                                                                                  <span class="glyphicon glyphicon-trash"></span>
                                                                         </button>
                                                                     </span>
                            </div>
                          <span ng-repeat="(error, errortext) in msg1.location_id"
                                class="font-red-pink bold help-inline"
                                ng-show="status1=='failed_valid' && 'msg1.location_id' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>

                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3" ng-show="gpriority.guardian_address!=1">
                        <div class="form-group">
                            <label class="control-label bold">
                                <label class="control-label bold">{{'mosques' | translate }}</label>
                                <span  class=" text-success bold help-inline" ng-if="gpriority.guardian_address==3">({{'advisable' | translate }})</span>
                                <span  class=" text-success bold help-inline" ng-if="gpriority.guardian_address==2">({{'optional' | translate }})</span>
                                <span  class=" font-red-pink bold help-inline" ng-if="gpriority.guardian_address==4">({{'mandatory' | translate }})</span>
                            </label>
                            <div class="input-group">
                                <ui-select name="mosques_id"
                                           ng-model="guardian.mosques_id"
                                           ng-change="msg1.mosques_id = [ ]"
                                           theme="bootstrap"
                                           class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in mosques | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                                                <button type="button" ng-click="guardian.mosques_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                            </div>

                          <span ng-repeat="(error, errortext) in msg1.mosques_id"
                                class="font-red-pink bold help-inline"
                                ng-show="status1=='failed_valid' && 'msg1.mosques_id' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-9" ng-show="gpriority.guardian_address!=1">
                        <div class="form-group">
                            <label class="control-label bold">
                                <label class="control-label bold">{{'the_street' | translate }}</label>
                                <span  class=" text-success bold help-inline" ng-if="gpriority.guardian_address==3">({{'advisable' | translate }})</span>
                                <span  class=" text-success bold help-inline" ng-if="gpriority.guardian_address==2">({{'optional' | translate }})</span>
                                <span  class=" font-red-pink bold help-inline" ng-if="gpriority.guardian_address==4">({{'mandatory' | translate }})</span>
                            </label>
                            <input type="text" class="form-control" ng-model="guardian.street_address"  name="street_address"
                                   ng-required="gpriority.guardian_address==4" ng-change="msg1.street_address = [ ]"/>
                          <span ng-repeat="(error, errortext) in msg1.street_address"
                                class="font-red-pink bold help-inline"
                                ng-show="status1=='failed_valid' && 'msg1.street_address' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel panel-info" ng-show="gpriority.guardian_property_type!=1 || gpriority.guardian_roof_material!=1 || gpriority.guardian_rooms!=1 ||
                                               gpriority.guardian_residence_condition!=1 || gpriority.guardian_indoor_condition!=1">
            <div class="panel-heading panel-heading-style">{{'residence_case' | translate }} </div>
            <div class="panel-body">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3" ng-show="gpriority.guardian_property_type!=1">
                        <div class="form-group">
                            <label class="control-label bold">{{'residence_type' | translate }} </label>
                            <span class=" text-success bold help-inline" ng-if="gpriority.guardian_property_type==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="gpriority.guardian_property_type==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="gpriority.guardian_property_type==4">({{'mandatory' | translate }})</span>

                            <div class="input-group">
                                <ui-select ng-model="guardian.property_type_id"
                                           name="property_type_id" ng-required="gpriority.guardian_property_type==4"
                                           ng-change="msg1.property_type_id = [ ]" theme="bootstrap"
                                           class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.property_type_id as item in PropertyTypes | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                                                        <button type="button" ng-click="guardian.property_type_id = undefined" class="btn btn-default">
                                                                              <span class="glyphicon glyphicon-trash"></span>
                                                                        </button>
                                                                     </span>
                            </div>
                                                                    <span ng-repeat="(error, errortext) in msg1.property_type_id"
                                                                          class="font-red-pink bold help-inline"
                                                                          ng-show="status1=='failed_valid' && 'msg1.property_type_id' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                        </div>


                    </div>
                    <div class="col-md-3" ng-show="gpriority.guardian_roof_material!=1" >
                        <div class="form-group">
                            <label class="control-label bold"> {{'roof_type' | translate }}</label>
                            <span class=" text-success bold help-inline" ng-if="gpriority.guardian_roof_material==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="gpriority.guardian_roof_material==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="gpriority.guardian_roof_material==4">({{'mandatory' | translate }})</span>
                           <div class="input-group">
                                <ui-select  ng-model="guardian.roof_material_id"
                                            name="roof_material_id" ng-required="gpriority.guardian_roof_material==4"
                                            ng-change="msg1.roof_material_id = [ ]" theme="bootstrap"
                                            class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.roof_material_id as item in RoofMaterials | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                                                <button type="button" ng-click="guardian.roof_material_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                            </div>
                                                                    <span ng-repeat="(error, errortext) in msg1.roof_material_id"
                                                                          class="font-red-pink bold help-inline"
                                                                          ng-show="status1=='failed_valid' && 'msg1.roof_material_id' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                        </div>


                    </div>
                    <div class="col-md-3" ng-show="gpriority.guardian_residence_condition!=1" >
                        <div class="form-group">
                            <label class="control-label bold"> {{'residence_status' | translate }}</label>
                            <span class=" text-success bold help-inline" ng-if="gpriority.guardian_residence_condition==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="gpriority.guardian_residence_condition==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="gpriority.guardian_residence_condition==4">({{'mandatory' | translate }})</span>

                            <div class="input-group">
                                <ui-select  name="residence_condition"
                                            ng-model="guardian.residence_condition" ng-required="gpriority.guardian_residence_condition==4"
                                            ng-change="msg1.residence_condition = [ ]"theme="bootstrap"
                                           class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.house_status_id as item in houseStatus | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                                                <button type="button" ng-click="guardian.residence_condition = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                            </div>
                                                                    <span ng-repeat="(error, errortext) in msg1.residence_condition"
                                                                          class="font-red-pink bold help-inline"
                                                                          ng-show="status1=='failed_valid' && 'msg1.residence_condition' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                        </div>
                    </div>
                    <div class="col-md-3" ng-show="gpriority.guardian_indoor_condition!=1" >
                        <div class="form-group">
                            <label class="control-label bold">{{'home_furniture_status' | translate }}  </label>
                            <span class=" text-success bold help-inline" ng-if="gpriority.guardian_indoor_condition==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="gpriority.guardian_indoor_condition==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="gpriority.guardian_indoor_condition==4">({{'mandatory' | translate }})</span>

                            <div class="input-group">
                                <ui-select  name="indoor_condition"
                                            ng-model="guardian.indoor_condition" ng-required="gpriority.guardian_indoor_condition==4"
                                            ng-change="msg1.indoor_condition = [ ]" theme="bootstrap"
                                            class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.furniture_status_id as item in furnitureStatus | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                                                <button type="button" ng-click="guardian.indoor_condition = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                            </div>
                                                        <span ng-repeat="(error, errortext) in msg1.indoor_condition"
                                                              class="font-red-pink bold help-inline"
                                                              ng-show="status1=='failed_valid' && 'msg1.indoor_condition' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3" ng-show="gpriority.guardian_rooms!=1">
                        <div class="form-group">
                            <label class="control-label bold">{{'rooms' | translate }} </label>
                            <span class=" text-success bold help-inline" ng-if="gpriority.guardian_rooms==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="gpriority.guardian_rooms==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="gpriority.guardian_rooms==4">({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control" numeric-only ng-model="guardian.rooms"
                                   name="rooms" ng-required="gpriority.guardian_rooms==4"  ng-change="msg1.rooms = [ ]"/>
                                                              <span ng-repeat="(error, errortext) in msg1.rooms"
                                                                          class="font-red-pink bold help-inline"
                                                                          ng-show="status1=='failed_valid' && 'msg1.rooms' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                        </div>


                    </div>
                </div>

            </div>
        </div>
        <div class="panel panel-info" ng-show="gpriority.guardian_primary_mobile!=1 || gpriority.guardian_secondary_mobile!=1 ||
                                               gpriority.guardian_phone!=1 || gpriority.guardian_wataniya!=1">
            <div class="panel-heading panel-heading-style">{{'contact_data' | translate }}</div>
            <div class="panel-body">
              <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="note note-success">

                            >
                                <i style="font-size: larger" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                {{'please enter the mobile begin with 59' | translate }}
                        </div>

                    </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3" ng-show="gpriority.guardian_primary_mobile!=1">
                        <div class="form-group">
                            <label class="control-label bold">
                                {{'primary_mobile' | translate }}
                            </label>
                            <span class=" text-success bold help-inline" ng-if="gpriority.guardian_primary_mobile==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="gpriority.guardian_primary_mobile==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="gpriority.guardian_primary_mobile==4">({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control" ng-model="guardian.primary_mobile"
                                   name="primary_mobile" numeric-only maxlength="9"  ng-required="gpriority.guardian_primary_mobile==4"
                                    ng-change="msg1.primary_mobile = [ ]" />
                          <span ng-repeat="(error, errortext) in msg1.primary_mobile"
                                class="font-red-pink bold help-inline"
                                ng-show="status1=='failed_valid' && 'msg1.primary_mobile' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3" ng-show="gpriority.guardian_secondary_mobile!=1">
                        <div class="form-group">
                            <label class="control-label bold">
                                {{'secondary_mobile' | translate }}
                            </label>
                            <span class=" text-success bold help-inline" ng-if="gpriority.guardian_secondary_mobile==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="gpriority.guardian_secondary_mobile==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="gpriority.guardian_secondary_mobile==4">({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control" ng-model="guardian.secondary_mobile" maxlength="9" numeric-only name="secondary_mobile"
                                   ng-required="gpriority.guardian_secondary_mobile==4" ng-change="msg1.secondary_mobile = [ ]"  />
                          <span ng-repeat="(error, errortext) in msg1.secondary_mobile"
                                class="font-red-pink bold help-inline"
                                ng-show="status1=='failed_valid' && 'msg1.secondary_mobile' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                    <div class="col-md-3" ng-show="gpriority.guardian_phone!=1">
                        <div class="form-group">
                            <label class="control-label bold">{{'phone' | translate }}</label>
                            <span class=" text-success bold help-inline" ng-if="gpriority.guardian_phone==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="gpriority.guardian_phone==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="gpriority.guardian_phone==4">({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control" ng-model="guardian.phone" numeric-only maxlength="7"
                                   name="phone" ng-required="gpriority.guardian_phone==4" ng-change="msg1.phone = [ ]" />
                          <span ng-repeat="(error, errortext) in msg1.phone"
                                class="font-red-pink bold help-inline"
                                ng-show="status1=='failed_valid' && 'msg1.phone' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                     <div class="col-md-3" ng-show="gpriority.guardian_wataniya!=1">
                        <div class="form-group">
                            <label class="control-label bold">
                                {{'wataniya' | translate }}
                            </label>
                            <span class=" text-success bold help-inline" ng-if="gpriority.guardian_wataniya==3">({{'advisable' | translate }})</span>
                            <span class=" text-success bold help-inline" ng-if="gpriority.guardian_wataniya==2">({{'optional' | translate }})</span>
                            <span class=" font-red-pink bold help-inline" ng-if="gpriority.guardian_wataniya==4">({{'mandatory' | translate }})</span>
                            <input type="text" class="form-control" ng-model="guardian.guardian_wataniya"
                                   name="guardian_wataniya" numeric-only maxlength="9"  ng-required="gpriority.guardian_wataniya==4"
                                    ng-change="msg1.guardian_wataniya = [ ]" />
                          <span ng-repeat="(error, errortext) in msg1.guardian_wataniya"
                                class="font-red-pink bold help-inline"
                                ng-show="status1=='failed_valid' && 'msg1.guardian_wataniya' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-info" ng-if="gpriority.guardian_banks!=1">
              <div class="panel-heading panel-heading-style">
        {{'bank_data' | translate }}
                <span class=" text-success bold help-inline" ng-if="gpriority.guardian_banks==3">({{'advisable' | translate }})</span>
                <span class=" text-success bold help-inline" ng-if="gpriority.guardian_banks==2">({{'optional' | translate }})</span>
                <span class=" font-red-pink bold help-inline" ng-if="gpriority.guardian_banks==4">({{'mandatory' | translate }})</span>
            </div>
            <div class="panel-body">
                <div class= "col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%;">
                                   <span ng-repeat="(error, errortext) in msg1.banks"
                                         class="font-red-pink bold help-inline"
                                         ng-show="status1=='failed_valid' && 'msg1.banks' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
                </div>
                <div class= "col-md-12"style="margin-bottom: 2%;">
                    <a class="btn blue" ng-click="add('md')">
                        <span>{{'add bank account' | translate }}</span>
                        <i class="glyphicon glyphicon-plus-square" style="padding-right:7px;"></i>
                    </a>
                </div>
                <div class= "col-md-12 " style="margin-bottom:2%;">
                    <div class= "col-md-12 " style="margin-bottom:2%;">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <table  class="table table-bordered table-striped  text-center table-hover ">
                        <thead>
                        <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                            <th class="text-center">  {{'#' | translate }} </th>
                            <th class="text-center">  {{'bank_name' | translate }} </th>
                            <th class="text-center">  {{'branch_name' | translate }} </th>
                            <th class="text-center">  {{'account_number' | translate }}  </th>
                            <th class="text-center">  {{'account_owner' | translate }} </th>
                            <th class="text-center">  {{'operations' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in guardian.banks" >
                            <td>{{  $index+1 }}</td>
                            <td>{{item.bank_name}}</td>
                            <td>
                                <span ng-show="item.branch == null"> - </span>
                                <span ng-show="item.branch != null">{{item.branch}}</span>
                            </td>
                            <td>{{item.account_number}}</td>
                            <td>
                                <span ng-show="item.account_owner == null"> - </span>
                                <span ng-show="item.account_owner != null">{{item.account_owner}}</span>
                            </td>
                            <td>
                                <button uib-tooltip="{{'delete' | translate }}"
                                        type="button" class="btn btn-xs bold font-red-pink fa fa-trash-o"
                                        style="font-size: medium; background-color: transparent"ng-click="delete($index)"></button>

                                <button  uib-tooltip="{{'update' | translate }}" type="button"
                                         class="btn btn-xs bold font-blue  fa fa-edit"
                                         style=" font-size: medium; background-color: transparent" ng-click="update('md',$index,item)"></button>

                                <button ng-show="item.check" type="button" class="btn btn-xs blue"
                                        ng-click="setOrgDefault(0,$index,item)">
                                    <li class="fa fa-check-circle"></li>
                                   <span> {{'default account' | translate }}</span>
                                </button>
                                <button ng-show="!item.check" type="button" class="btn btn-xs red-pink"
                                        ng-click="setOrgDefault(1,$index,item)">
                                    <li class="fa fa-remove"></li>
                                   <span> {{'set as a default account' | translate }}</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                        <div ng-if="guardian.banks.length == 0"  class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 5%; margin-top: 2%;">
                            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                            {{'no banks account'| translate}}
                                    </span>
                            </div>
                        </div>
                </div>
            </div>
                </div></div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
            <div class="col-md-2 pull-right" >

                <button class=" btn btn-outline blue button-previous  pull-left" style="width:49%" ng-click="forward(guardian,'previous')" type="button" >
                    <span class="glyphicon glyphicon-menu-left"></span>
                    <span>{{'the_ previous' | translate }}</span>
                </button>

                <button class=" btn btn-outline blue button-next pull-right" style="width:49%" ng-click="forward(guardian,'next')" type="button" >
                    <span>{{'the_next' | translate }}</span>
                    <span class="glyphicon glyphicon-menu-right"></span>
                </button>


            </div>
        </div>
</div>

    <script type="text/ng-template" id="addBank.html">
        <div class="modal-header text-center" style="padding: 4%">
            <h4 class="modal-title bold" ng-show="action =='add'">{{'add bank account form' | translate }}</h4>
            <h4 class="modal-title bold" ng-show="action =='edit'">{{'edit bank account form' | translate }}</h4>
        </div>
        <div class="modal-body">
            <div class="row " style="padding: 2%;">
                <form name="frm"  novalidate="" role="form" class=" text-center" style="padding: 2%;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{ 'has-error' : frm.bank_id.$invalid && (!frm.bank_id.$pristine || frm.bank_id.$touched)}">
                                <label class="control-label bold text-center">   {{'bank_names' | translate }} </label>
                                <span class=" font-red-pink bold help-inline"> ({{'mandatory' | translate }})</span>

                                <div class="input-group">
                                    <ui-select ng-model="detail.bank_id"
                                               name="bank_id"
                                               ng-change="getBranches(detail.bank_id)"
                                               ng-readonly="action =='edit'"
                                               ng-required="gpriority.guardian_bank_name ==4"
                                               theme="bootstrap"
                                               class="text-right" >
                                        <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in Banks | filter: $select.search">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                                                <button type="button" ng-click="detail.bank_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                </div>
                                    <span ng-repeat="(error, errortext) in msg4.bank_id"
                                          class="font-red-pink bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg4.bank_id' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{ 'has-error' : frm.branch_name.$invalid && (!frm.branch_name.$pristine || frm.branch_name.$touched)}">
                                <label class="control-label bold text-center">   {{'branch_name' | translate }} </label>
                                <span class=" font-red-pink bold help-inline"> ({{'mandatory' | translate }})</span>
                                <div class="input-group">
                                    <ui-select ng-model="detail.branch_name"
                                               ng-required="true"
                                               name="branch_name"
                                               ng-change="msg4.branch_name = [ ]"
                                               theme="bootstrap"
                                               class="text-right" >
                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item.id as item in Branches | filter: $select.search">
                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                     <button type="button" ng-click="detail.branch_name = undefined" class="btn btn-default">
                                          <span class="glyphicon glyphicon-trash"></span>
                                       </button>
                                </span>
                                </div>
                                    <span ng-repeat="(error, errortext) in msg4.branch_name"
                                          class="font-red-pink bold help-inline"
                                          ng-show="status1=='failed_valid' && 'msg4.branch_name' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{ 'has-error' : frm.account_number.$invalid && (!frm.account_number.$pristine || frm.account_number.$touched)}">
                                <label class="control-label bold text-center">   {{'account_number' | translate }} </label>
                                <span class=" font-red-pink bold help-inline"> ({{'mandatory' | translate }})</span>
                                <input type="text" class="form-control"
                                       ng-model="detail.account_number"
                                       numeric-only
                                       maxlength="45"
                                       ng-change="msg4.account_number = [ ]"
                                       ng-required="true"
                                       name="account_number"
                                       placeholder="{{'account_number' | translate }} " />
                                <span class=" font-red-pink bold help-inline" ng-show="frm.account_number.$error.pattern">  {{'integer_field' | translate }}  </span>
                                <span ng-repeat="(error, errortext) in msg4.account_number"
                                      class="font-red-pink bold help-inline"
                                      ng-show="status1=='failed_valid' && 'msg4.account_number' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{ 'has-error' : frm.account_owner.$invalid && (!frm.account_owner.$pristine || frm.account_owner.$touched)}">
                                <label class="control-label bold text-center">   {{'account_owner' | translate }} </label>
                                <span class=" font-red-pink bold help-inline"> ({{'mandatory' | translate }})</span>
                                <input type="text"
                                       class="form-control"
                                       ng-model="detail.account_owner"
                                       ng-required="true"
                                       name="account_owner"
                                       ng-change="msg4.account_owner = [ ]"
                                       placeholder="{{'account_owner' | translate }} " />
                                <span ng-repeat="(error, errortext) in msg4.account_owner"
                                      class="font-red-pink bold help-inline"
                                      ng-show="status1=='failed_valid' && 'msg4.account_owner' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn blue" ng-disabled="frm.$invalid" ng-click="save(detail)"><span>{{'add' | translate }}</span></button>
            <button class="btn red-pink" ng-click="cancel()"><span>{{'cancel' | translate }}</span></button>
        </div>
    </script>
