<!--ng-controller="ParentInfoController"-->

<div>
    <div class="panel panel-info">
        <div class="panel-heading panel-heading-style">
        {{'father_data' | translate }}
        </div>
        <div class="panel-body" style="padding:2%;">
            <div class="col-md-12 col-sm-12 col-xs-12" data-ng-include="'app/modules/sponsorship/views/caseForm/add/content/father-form.html'"> </div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 2%;">
                    <div class="col-md-2 pull-right" >
                        <button class=" btn blue pull-right bold" style="width: 100%" ng-click="save('father',father)" type="button" >
                            <span>{{'save' | translate }}</span>
                        </button>
                    </div>
            </div>
        </div>
    </div>
    <div class="panel panel-info" ng-show="!has_Wives">
        <div class="panel-heading panel-heading-style">
            {{'mother_data' | translate }}
        </div>
        <div class="panel-body" style="padding:2%;">
            <div class="col-md-12 col-sm-12 col-xs-12" data-ng-include="'app/modules/sponsorship/views/caseForm/add/content/mother-form.html'"> </div>
                   <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 2%;">
                       <div class="col-md-3 pull-right" >
                    <button class=" btn blue pull-right bold" style="width: 100%" ng-click="save('mother',mother)" type="button" >
                        <span>{{'save' | translate }}</span>
                    </button>
                </div>
                       <div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-info" ng-show="has_Wives">
        <div class="panel-heading panel-heading-style">
            {{'Wives' | translate }}
        </div>
        <div class="panel-body" style="padding:2%;">

            <!--<div class= "col-md-12"style="margin-bottom: 2%;">-->
                <!--<a class="btn blue" ng-click="Wife('lg',-1)"><span>{{'add wife' | translate }}</span>-->
                    <!--<i class="glyphicon glyphicon-plus-square" style="padding-right:7px;"></i></a>-->
            <!--</div>-->
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%"   ng-show="wives_not_inserted.length > 0">
                <h4 class="text-center bold font-blue">  {{'not_inserted_wives' | translate }}</h4>

                <div class="table-responsive" >
                    <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                        <thead>
                        <tr style="background-color: #f3f3f3!important; color: #337ab7; height:40px; line-height: 40px; font-size: 30px; ">
                            <th class="text-center">  {{'#' | translate }} </th>
                            <th class="text-center">  {{'the_name' | translate }} </th>
                            <th class="text-center">  {{'card_number' | translate }} </th>
                            <th class="text-center"> {{'Date_of_Birth' | translate }}  </th>
                            <th class="text-center"> {{'operations' | translate }} </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="wife in wives_not_inserted">
                            <td>{{  $index + 1 }}</td>
                            <td>{{  wife.first_name + ' ' +  wife.second_name + ' ' + wife.third_name  + ' ' + wife.last_name }}</td>
                            <td>{{  wife.id_card_number }}</td>
                            <td>{{  wife.birthday }}</td>
                            <td>
                                <button type="button" class="btn btn-xs bold font-blue fa fa-check" style=" font-size: medium; background-color: transparent"
                                        ng-click="confirmAdd(wife,$index,wife.person_id)"> </button>

                           </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>


            <h4 class="text-center bold font-blue">  {{'inserted_wives' | translate }}</h4>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <table  class="table table-bordered table-striped  text-center table-hover ">
                    <thead>
                    <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                        <th class="text-center">  {{'#' | translate }} </th>
                        <th class="text-center">  {{'the_name' | translate }} </th>
                        <th class="text-center">  {{'card_number' | translate }} </th>
                        <th class="text-center"> {{'Date_of_Birth' | translate }}  </th>
                        <th class="text-center" >  {{'the_health_status' | translate }} </th>
                        <th class="text-center" > {{'operations' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items" ng-show="items.length !=0" >
                        <td>{{  $index+1 }}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.id_card_number}}</td>
                        <td>{{item.birthday}}</td>
                        <td>{{item.health_status}}</td>
                        <td>
                            <button ng-show="item.check" type="button" class="btn btn-xs- font-blue fa fa-check-circle"
                                    style="font-size: medium; background-color: transparent" ng-click="setMother(0,$index,item.id)"> </button>
                            <button ng-show="!item.check" type="button" class="btn btn-xs- font-red-pink fa fa-remove"
                                    style="font-size: medium; background-color: transparent"ng-click="setMother(1,$index,item.id)"></button>
                            <button type="button" class="btn btn-xs- font-blue fa fa-edit"
                                    style="font-size: medium; background-color: transparent" ng-click="Wife('lg',item.id)"> </button>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <div ng-show="items.length ==0" class="text-center" style="margin-bottom: 2%">
                    <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show' | translate }}
                                                                    </span>
                    </div>
                </div>



            </div>


        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                    <div class="col-md-2 pull-right" >
                        <button class=" btn btn-outline blue button-next pull-right" style="width: 49%" ng-click="forward()" type="button" >
                            <span>{{'the_next' | translate }}</span>
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </button>
                    </div>
                </div>
</div>


<script type="text/ng-template" id="addWife.html">
    <div class="modal-header text-center" style="padding: 4%">
        <h4 class="modal-title bold" ng-show="action == 'add'">{{'add wife form' | translate }}</h4>
        <h4 class="modal-title bold" ng-show="action == 'edit'">{{'edit wife form' | translate }}</h4>
    </div>
    <div class="modal-body">
        <div class="row " style="padding: 2%;">
            <div class="col-md-12 col-sm-12 col-xs-12" data-ng-include="'app/modules/sponsorship/views/caseForm/add/content/mother-form.html'"> </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn blue" ng-click="save(mother)"><span>{{'save' | translate }}</span></button>
        <button class="btn red-pink" ng-click="cancel()"><span>{{'cancel' | translate }}</span></button>
    </div>
</script>
