<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span ng-show="type =='aids'">{{'aids management' | translate}}</span>
        <span  ng-show="type =='sponsorships'">{{'sponsorships management' | translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        <span ng-show="type =='aids'">{{'categories-aid' | translate}}</span>
        <span  ng-show="type =='sponsorships'">{{'categories-sponsorships' | translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" > {{'custom-forms' | translate}} </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
<!-- BEGIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <i class="fa fa-star"></i>
                        <span> {{'custom-forms' | translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <a uib-tooltip="{{'set-default-custom-form-org'| translate}}"
                           ng-if="can('aid.case.selectCustomForm')"
                           class="btn  green-turquoise " ng-click="setForm(-1 , null)">
                            <span class="icon-star"></span>
                            <span class="hidden-sm hidden-md  hidden-xs">{{'set-default-custom-form-org'| translate}}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                            <!-- BEGIN TABLE -->
                            <div class="col-md-12 col-sm-12 col-xs-12"  ng-if="items.length > 0 ">
                                <div class="table-scrollable">
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                        <thead>
                                        <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                            <th class="col-md-1 text-center" > {{'#' | translate}}</th>
                                            <th class="text-center" ng-click="sort('category_name')">
                                                <span ng-show="type =='sponsorships'">{{'category_name' | translate}}</span>
                                                <span ng-show="type =='aids'">{{'category_name' | translate}}</span>
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='category_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th class="col-md-3 text-center" > {{'form_name' | translate}}</th>
                                            <th class="col-md-2 text-center" > {{'status' | translate}}</th>
                                            <th class="col-md-3 text-center" > {{'operations' | translate}}</th>
                                            
                                            
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="item in items">
                                            <td>{{ $index+1 }}</td>
                                            <td>{{ item.category_name }}</td>
                                            <td>
                                                <span ng-if="!( item.status == 1 || item.status == 0)">-</span>
                                                <span ng-if="( item.status == 1 || item.status == 0)">{{ item.form_name }}</span>

                                            </td>
                                            <td>
                                                    <span ng-if="!( item.status == 1 || item.status == 0)">-</span>
                                                    <button uib-tooltip="{{'click to active'| translate}}" ng-if="item.status == 1"
                                                           ng-click="setFormStatus(item.category_id,0)" class="btn  btn-xs red-pink btn-circle" style="color:#fff;">
                                                       <span class="fa fa-ban"></span>
                                                       <span>{{'inactive'| translate}} </span>
                                                   </button>

                                                   <button uib-tooltip="{{'click to inactive'| translate}}"
                                                           ng-if="item.status == 0"
                                                           ng-click="setFormStatus(item.category_id,1)" class="btn  btn-xs btn-circle" style="background-color:#5cb85c;color:#fff;">
                                                       <span class="fa fa-check"></span>
                                                       <span> {{'active'| translate}}  </span>
                                                   </button>                                                
                                            </td>
                                            <td>
                                                <button type="button" class="btn blue btn-xs"
                                                        ng-click="setForm(item.category_id,item)" >
                                                    <span class="fa fa-edit"  ></span>
                                                    <span  class="hidden-sm hidden-md  hidden-xs" ng-if="item.form_id == null || item.form_id == 'null'" style="">{{'set' | translate}}</span>
                                                    <span  class="hidden-sm hidden-md  hidden-xs" ng-if="!(item.form_id == null || item.form_id == 'null')">{{'update' | translate}}</span>
                                                </button>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- END TABLE -->
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center"  ng-if="items.length == 0 "style="margin-bottom: 2%  ; margin-top: 2%">
                                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>{{'there is no data to show' | translate}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->
<!-- END MAIN CONTENT -->


<script type="text/ng-template" id="myModalContent1.html">
    <div class="modal-header" style="  padding:12%; ">
        <h4 class="modal-title text-center"> {{'custom-aid-form'| translate}} </h4>
    </div>
    <div class="modal-body">
        <form name="frm" novalidate="" role="form" class=" text-center" style="padding: 2%;">
            <div class="form-group " ng-class="{ 'has-error' : frm.form_id.$invalid && !frm.form_id.$pristine }">
                <label class="control-label bold">  {{'form_name'| translate}}</label>
                <ui-select name="category_id" ng-model="row.form_id" theme="bootstrap"class="text-right" required >
                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                    <ui-select-choices repeat="item.id as item in Forms | filter: $select.search">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button class=" btn blue" ng-disabled="frm.$invalid" ng-click="confirm(row)" type="button" > <span>{{'confirm_custom_aid_form'| translate}}</span>  </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
</script>


