<!--ng-controller="CategoriesCaseFormController"-->
<div>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span ng-show="category_type =='aids'">{{'aids' | translate}}</span>
        <span ng-show="category_type !='aids'">{{'sponsorship' | translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span ng-show="category_type =='aids'">{{'categories-aid' | translate}}</span>
        <span ng-show="category_type !='aids'">{{'categories-sponsorships' | translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" > {{'categories-caseform' | translate}} </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="font-dark"></i>
                        <h3>
                            <span data-ng-bind="$state.current.data.pageTitle"></span>
                        </h3>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div  class="col-md-6 col-md-offset-3" style="padding: 1% ; margin-bottom: 4%;" >
                            <form name="frm"  novalidate="" role="form">
                                <fieldset style=" border:solid 1px lightgrey; " class="text-center" >
                                    <legend style="width:inherit; padding:0 10px; border-bottom:none; font-size: 1.2em !important; font-weight: bold !important;text-align: right !important;">
                                        {{'case category' | translate}}
                                    </legend>

                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                    <div  class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">   {{'select case type' | translate}} </label>
                                            <select class="form-control" ng-model="Formcat.category_id" name="category_id" ng-required="true" autofocus>
                                                <option disabled selected value> ---   {{'select case type' | translate}} --- </option>
                                                <option ng-show="category_type =='aids'" ng-repeat="option in aidCategories_" value="{{option.id}}" >
                                                    {{option.name}}
                                                </option>

                                                <option ng-show="category_type !='aids'" ng-repeat="option in aidCategories_" value="{{option.id}}" >
                                                    {{option.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px; margin-top: 5%;" >
                                            <div class="col-md-6 pull-right">
                                                <button ng-disabled="frm.$invalid"class=" btn blue button-next" ng-click="GotoForm(Formcat)" type="button" >
                                                    <span>{{'Go To Case Form' | translate}}</span>
                                                    <span class="glyphicon glyphicon-menu-right"></span>
                                                </button>

                                            </div>
                                        </div>

                                    </div>

                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
