<!-- BEGIN MAIN CONTENT -->
<!--ng-controller="CategoriesEditController"-->
<div>
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate}}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            <span ng-show="category_type =='aids'">{{'aids' | translate}}</span>
            <span ng-show="category_type !='aids'">{{'sponsorship' | translate}}</span>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            <span ng-show="category_type =='aids'">{{'categories-aid' | translate}}</span>
            <span ng-show="category_type !='aids'">{{'categories-sponsorships' | translate}}</span>
        </li>
        <li ng-show="action=='edit'" >
            <span > {{item.name}}</span>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i> </li>
        <li class="active" >
            <span ng-show="action=='new'"> {{'add' | translate}}</span>
            <span ng-show="action=='edit'"> {{'edit'| translate}}</span>
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="font-dark"></i>
                        <h3>
                            <span ng-class="action=='new' ? 'glyphicon glyphicon-plus' : 'fa fa-edit'"  ></span>
                            <span ng-show="action=='new'" >{{'add_new_form_category' | translate}}</span>
                            <span ng-show="action=='edit'">{{'edit_form_category' | translate}}</span>
                            <span ng-show="category_type =='aids'">{{'aid' | translate}} </span>
                            <span ng-show="category_type !='aids'">{{'sponsorship' | translate}} </span>
                            <span ng-show="action=='edit'">"</span>
                            <span ng-show="action=='edit'">{{item.name}}</span>
                            <span ng-show="action=='edit'">"</span>
                        </h3>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <form name="frmcategories"  novalidate="" role="form" class="text-center" style="padding: 2%;">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-md-6 col-sm-12 col-xs-12">
                                                    <div class="form-group" ng-class="{ 'has-error' : frmcategories.name.$invalid && !frmcategories.name.$pristine }">
                                                        <label class="control-label bold"> {{'categories_name' | translate}}<span class="required" aria-required="true"> * </span></label>
                                                        <input type="text" class="form-control"  autofocus name="name"
                                                               ng-change="msg1.name = [ ]"ng-required="true" ng-model="item.name"  placeholder=" {{'categories_name' | translate}} "  />
                                                        <span class="text-danger bold help-inline" ng-show="frmcategories.name.$error.required && frmcategories.name.$touched">
                                                                        {{'required_field' | translate}}
                                                        </span>
                                                        <span ng-repeat="(error, errortext) in msg1.name" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.name' != [ ]" >
                                                                 {{ errortext.toString() }}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12 col-xs-12">
                                                    <div class="form-group" ng-class="{ 'has-error' : frmcategories.en_name.$invalid && !frmcategories.en_name.$pristine }">
                                                        <label class="control-label bold"> {{'en_name' | translate}}<span class="required" aria-required="true"> * </span></label>
                                                        <input type="text" class="form-control"  autofocus name="en_name" ng-change="msg1.en_name = [ ]"ng-required="true" ng-model="item.en_name"
                                                               placeholder=" {{'en_name' | translate}} "  />
                                                        <span class="text-danger bold help-inline" ng-show="frmcategories.en_name.$error.required && frmcategories.en_name.$touched">
                                                                        {{'required_field' | translate}}
                                                        </span>
                                                        <span ng-repeat="(error, errortext) in msg1.en_name" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.en_name' != [ ]" >
                                                                 {{ errortext.toString() }}
                                                        </span>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="category_type !='aids'" style="margin-top: 2%;">
                                                <div class="col-md-3">
                                                    <div class="form-group" ng-class="{ 'has-error' : frmcategories.family_structure.$invalid && !frmcategories.family_structure.$pristine }">
                                                        <label class="control-label bold"> {{'classified_family' | translate}}<span ng-show="category_type !='aids'"  class="required" aria-required="true"> * </span></label>
                                                        <select class="form-control" ng-model="item.family_structure"  name="family_structure"
                                                                ng-required="category_type !='aids'" ng-change="msg1.family_structure = [ ]">
                                                            <option disabled selected value>--- {{'select' | translate}}---</option>
                                                            <option  value="1"> {{'NotClassified' | translate}}</option>
                                                            <option  value="2">{{'Classified' | translate}}</option>
                                                        </select>
                                                        <span class="text-danger bold help-inline" ng-show="frmcategories.family_structure.$error.required && frmcategories.family_structure.$touched">
                                                                        {{'required_field' | translate}}
                                                        </span>
                                                        <span ng-repeat="(error, errortext) in msg1.family_structure" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.family_structure' != [ ]" >
                                                                 {{ errortext.toString() }}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group" ng-class="{ 'has-error' : frmcategories.case_is.$invalid && !frmcategories.case_is.$pristine }">
                                                        <label class="control-label bold"> {{'who is the case' | translate}} <span ng-show="category_type !='aids'"  class="required" aria-required="true"> * </span></label>
                                                        <select class="form-control" ng-model="item.case_is"  name="case_is"
                                                                ng-required="category_type !='aids'" ng-change="msg1.case_is = [ ]">
                                                            <option disabled selected value>---{{'select' | translate}}---</option>
                                                            <option  value="1" >{{'person' | translate}}</option>
                                                            <option  value="2"  >{{'guardian' | translate}}</option>
                                                        </select>
                                                        <span class="text-danger bold help-inline" ng-show="frmcategories.case_is.$error.required && frmcategories.case_is.$touched">
                                                                        {{'required_field' | translate}}
                                                        </span>
                                                        <span ng-repeat="(error, errortext) in msg1.case_is" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.case_is' != [ ]" >
                                                                 {{ errortext.toString() }}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group" ng-class="{ 'has-error' : frmcategories.has_mother.$invalid && !frmcategories.has_mother.$pristine }">
                                                        <label class="control-label bold"> {{'has_mother' | translate}} <span ng-show="category_type !='aids'"  class="required" aria-required="true"> * </span></label>
                                                        <select class="form-control" ng-model="item.has_mother"  name="has_mother"
                                                                ng-required="category_type !='aids'" ng-change="msg1.has_mother = [ ]">
                                                            <option disabled selected value>---{{'select' | translate}}---</option>
                                                            <option  value="0" >{{'not required' | translate}}</option>
                                                            <option  value="1"  >{{'required' | translate}}</option>
                                                        </select>
                                                        <span class="text-danger bold help-inline" ng-show="frmcategories.has_mother.$error.required && frmcategories.has_mother.$touched">
                                                                        {{'required_field' | translate}}
                                                        </span>
                                                        <span ng-repeat="(error, errortext) in msg1.has_mother" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.has_mother' != [ ]" >
                                                                 {{ errortext.toString() }}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group" ng-class="{ 'has-error' : frmcategories.has_Wives.$invalid && !frmcategories.has_Wives.$pristine }">
                                                        <label class="control-label bold"> {{'has_Wives' | translate}} <span ng-show="category_type !='aids'"  class="required" aria-required="true"> * </span></label>
                                                        <select class="form-control" ng-model="item.has_Wives"  name="has_Wives"
                                                                ng-required="category_type !='aids'" ng-change="msg1.has_Wives = [ ]">
                                                            <option disabled selected value>---{{'select' | translate}}---</option>
                                                            <option  value="0" >{{'no' | translate}}</option>
                                                            <option  value="1"  >{{'yes' | translate}}</option>
                                                        </select>
                                                        <span class="text-danger bold help-inline" ng-show="frmcategories.has_Wives.$error.required && frmcategories.has_Wives.$touched">
                                                                        {{'required_field' | translate}}
                                                        </span>
                                                        <span ng-repeat="(error, errortext) in msg1.has_Wives" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.has_Wives' != [ ]" >
                                                                 {{ errortext.toString() }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="category_type !='aids'" style="margin-top: 2%;">
                                                <div class="col-md-3">
                                                    <div class="form-group" ng-class="{ 'has-error' : frmcategories.father_dead.$invalid && !frmcategories.father_dead.$pristine }">
                                                        <label class="control-label bold"> {{'father_dead' | translate}} <span ng-show="category_type !='aids'"  class="required" aria-required="true"> * </span></label>
                                                        <select class="form-control" ng-model="item.father_dead"  name="father_dead"
                                                                ng-required="category_type !='aids'" ng-change="msg1.father_dead = [ ]">
                                                            <option disabled selected value>---{{'select' | translate}}---</option>
                                                            <option  value="0" >{{'no' | translate}}</option>
                                                            <option  value="1"  >{{'yes' | translate}}</option>
                                                        </select>
                                                        <span class="text-danger bold help-inline" ng-show="frmcategories.father_dead.$error.required && frmcategories.father_dead.$touched">
                                                                        {{'required_field' | translate}}
                                                        </span>
                                                        <span ng-repeat="(error, errortext) in msg1.father_dead" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.father_dead' != [ ]" >
                                                                 {{ errortext.toString() }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0.5%; padding-right: 3%;">
                                                <div class="col-md-12 col-sm-12 col-xs-12 text-left" style="margin-bottom: 2%;margin-top: 1%;">
                                                    <h4 class="control-label bold">   {{'forms_sections' | translate}} </h4>
                                                </div>
                                                <div  ng-show="category_type !='aids'" class="col-md-12 col-sm-12 col-xs-12 text-left" style="margin-bottom: 2%;">
                                                    <div  style="padding: 0.5%; padding-right: 3%;">
                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <div class="col-md-3 text-left">
                                                                <div class="form-group">
                                                                    <label class="control-label bold">

                                                                <span ng-if="item.form_sections.ParentData" class="checker">
                                                                <input type="checkbox"
                                                                       data-on-color="primary"
                                                                       data-off-color="info"
                                                                       ng-model="item.form_sections.ParentData"
                                                                       ng-true-value="true" ng-false-value="false"
                                                                       ng-init="item.form_sections.ParentData=true"
                                                                       ng-checked="item.form_sections.ParentData">
                                                               </span>

                                                                        <span ng-if="!item.form_sections.ParentData">
                                                                <input type="checkbox"
                                                                       data-on-color="primary"
                                                                       data-off-color="info"
                                                                       ng-model="item.form_sections.ParentData"
                                                                       ng-true-value="true" ng-false-value="false"
                                                                       ng-init="item.form_sections.ParentData=false"
                                                                       ng-checked="item.form_sections.ParentData">
                                                                    </span>

                                                                        <span >{{'parent-info' | translate}}</span>
                                                                    </label>
                                                                </div>

                                                            </div>
                                                            <div class="col-md-3 text-left">
                                                                <div class="form-group">
                                                                    <label class="control-label bold">

                                                                <span ng-if="item.form_sections.CaseData" class="checker">
                                                                <input type="checkbox"
                                                                       data-on-color="primary"
                                                                       data-off-color="info"
                                                                       ng-model="item.form_sections.CaseData"
                                                                       ng-true-value="true" ng-false-value="false"
                                                                       ng-init="item.form_sections.CaseData=true"
                                                                       ng-checked="item.form_sections.CaseData">
                                                               </span>

                                                                        <span ng-if="!item.form_sections.CaseData">
                                                                <input type="checkbox"
                                                                       data-on-color="primary"
                                                                       data-off-color="info"
                                                                       ng-model="item.form_sections.CaseData"
                                                                       ng-true-value="true" ng-false-value="false"
                                                                       ng-init="item.form_sections.CaseData=false"
                                                                       ng-checked="item.form_sections.CaseData">
                                                                    </span>

                                                                        <span >{{'case-info' | translate}}</span>
                                                                    </label>
                                                                </div>

                                                            </div>
                                                            <div class="col-md-3 text-left">
                                                                <div class="form-group">
                                                                    <label class="control-label bold">
                                                                <span ng-if="item.form_sections.providerData" class="checker">
                                                                  <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                         ng-model="item.form_sections.providerData" ng-true-value="true" ng-false-value="false" ng-init="item.form_sections.providerData=true">
                                                                </span>
                                                                        <span ng-if="!item.form_sections.providerData">
                                                                  <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                         ng-model="item.form_sections.providerData" ng-true-value="true" ng-false-value="false" ng-init="item.form_sections.providerData=false">
                                                              </span>
                                                                        <span>{{'provider_data' | translate}}</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 text-left">
                                                                <div class="form-group">
                                                                    <label class="control-label bold">
                                                                <span ng-if="item.form_sections.FamilyData" class="checker">
                                                                <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                       ng-model="item.form_sections.FamilyData" ng-true-value="true" ng-false-value="false" ng-init="item.form_sections.FamilyData=true">
                                                                </span>
                                                                        <span ng-if="!item.form_sections.FamilyData">
                                                                <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                       ng-model="item.form_sections.FamilyData" ng-true-value="true" ng-false-value="false" ng-init="item.form_sections.FamilyData=false">
                                                                </span>
                                                                        <span>{{'family-data' | translate}}</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 text-left">
                                                                <div class="form-group">
                                                                    <label class="control-label bold">
                                                           <span ng-if="item.form_sections.caseDocuments" class="checker">
                                                            <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                   ng-model="item.form_sections.caseDocuments" ng-true-value="true" ng-false-value="false" ng-init="item.form_sections.caseDocuments=true">
                                                            </span>
                                                                        <span ng-if="!item.form_sections.caseDocuments">
                                                            <input type="checkbox" data-on-color="primary"
                                                                   data-off-color="info"
                                                                   ng-model="item.form_sections.caseDocuments"
                                                                   ng-true-value="true" ng-false-value="false"
                                                                   ng-init="item.form_sections.caseDocuments=false">
                                                            </span>
                                                                        <span>{{'case-documents' | translate}}</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3 text-left">
                                                                <div class="form-group">
                                                                    <label class="control-label bold">
                                                           <span ng-if="item.form_sections.familyDocuments" class="checker">
                                                            <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                   ng-model="item.form_sections.familyDocuments" ng-true-value="true" ng-false-value="false" ng-init="item.form_sections.familyDocuments=true">
                                                            </span>
                                                                        <span ng-if="!item.form_sections.familyDocuments">
                                                            <input type="checkbox" data-on-color="primary"
                                                                   data-off-color="info"
                                                                   ng-model="item.form_sections.familyDocuments"
                                                                   ng-true-value="true" ng-false-value="false"
                                                                   ng-init="item.form_sections.familyDocuments=false">
                                                            </span>
                                                                        <span>{{'family-documents' | translate}}</span>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div  ng-show="category_type =='aids'" class="col-md-12 col-sm-12 col-xs-12 text-left" style="margin-bottom: 2%;">
                                                    <div class="col-md-3 text-left">
                                                        <div class="form-group">
                                                            <label class="control-label bold">
                                                            <span ng-if="item.form_sections.personalInfo" class="checker">
                                                                <input type="checkbox"
                                                                   data-on-color="primary"
                                                                   data-off-color="info"
                                                                   ng-model="item.form_sections.personalInfo"
                                                                   ng-true-value="true"
                                                                   ng-false-value="false"
                                                                   ng-init="item.form_sections.personalInfo=true"
                                                                   ng-checked="item.form_sections.personalInfo">
                                                             </span>

                                                                <span ng-if="!item.form_sections.personalInfo">
                                                                    <input type="checkbox"
                                                                   data-on-color="primary"
                                                                   data-off-color="info"
                                                                   ng-model="item.form_sections.personalInfo"
                                                                   ng-true-value="true" ng-false-value="false"
                                                                   ng-init="item.form_sections.personalInfo=false"
                                                                   ng-checked="item.form_sections.personalInfo">
                                                                </span>

                                                                <span >{{'personal-info' | translate}}</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 text-left">
                                                        <div class="form-group">
                                                            <label class="control-label bold">
                                                            <span ng-if="item.form_sections.residenceData" class="checker">
                                                            <input type="checkbox"
                                                                   data-on-color="primary"
                                                                   data-off-color="info"
                                                                   ng-model="item.form_sections.residenceData"
                                                                   ng-true-value="true"
                                                                   ng-false-value="false"
                                                                   ng-init="item.form_sections.residenceData=true"
                                                                   ng-checked="item.form_sections.residenceData">
                                                           </span>

                                                                <span ng-if="!item.form_sections.residenceData">
                                                            <input type="checkbox"
                                                                   data-on-color="primary"
                                                                   data-off-color="info"
                                                                   ng-model="item.form_sections.residenceData"
                                                                   ng-true-value="true" ng-false-value="false"
                                                                   ng-init="item.form_sections.residenceData=false"
                                                                   ng-checked="item.form_sections.residenceData">
                                                                </span>

                                                                <span>{{'residence-data' | translate}}</span>
                                                            </label>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-3 text-left">
                                                        <div class="form-group">
                                                            <label class="control-label bold">
                                                            <span ng-if="item.form_sections.homeIndoorData" class="checker">
                                                            <input type="checkbox"
                                                                   data-on-color="primary"
                                                                   data-off-color="info"
                                                                   ng-model="item.form_sections.homeIndoorData"
                                                                   ng-true-value="true"
                                                                   ng-false-value="false"
                                                                   ng-init="item.form_sections.homeIndoorData=true"
                                                                   ng-checked="item.form_sections.homeIndoorData">
                                                           </span>

                                                                <span ng-if="!item.form_sections.homeIndoorData">
                                                            <input type="checkbox"
                                                                   data-on-color="primary"
                                                                   data-off-color="info"
                                                                   ng-model="item.form_sections.homeIndoorData"
                                                                   ng-true-value="true" ng-false-value="false"
                                                                   ng-init="item.form_sections.homeIndoorData=false"
                                                                   ng-checked="item.form_sections.homeIndoorData">
                                                                </span>

                                                                <span>{{'home-indoor-data' | translate}}</span>
                                                            </label>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-3 text-left">
                                                        <div class="form-group">
                                                            <label class="control-label bold">
                                                            <span ng-if="item.form_sections.otherData" class="checker">
                                                            <input type="checkbox"
                                                                   data-on-color="primary"
                                                                   data-off-color="info"
                                                                   ng-model="item.form_sections.otherData"
                                                                   ng-true-value="true"
                                                                   ng-false-value="false"
                                                                   ng-init="item.form_sections.otherData=true"
                                                                   ng-checked="item.form_sections.otherData">
                                                           </span>

                                                                <span ng-if="!item.form_sections.otherData">
                                                            <input type="checkbox"
                                                                   data-on-color="primary"
                                                                   data-off-color="info"
                                                                   ng-model="item.form_sections.otherData"
                                                                   ng-true-value="true" ng-false-value="false"
                                                                   ng-init="item.form_sections.otherData=false"
                                                                   ng-checked="item.form_sections.otherData">
                                                                </span>

                                                                <span>{{'other-data' | translate}}</span>
                                                            </label>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-3 text-left">
                                                        <div class="form-group">
                                                            <label class="control-label bold">
                                                            <span ng-if="item.form_sections.familyStructure" class="checker">
                                                            <input type="checkbox"
                                                                   data-on-color="primary"
                                                                   data-off-color="info"
                                                                   ng-model="item.form_sections.familyStructure"
                                                                   ng-true-value="true"
                                                                   ng-false-value="false"
                                                                   ng-init="item.form_sections.familyStructure=true"
                                                                   ng-checked="item.form_sections.familyStructure">
                                                           </span>

                                                                <span ng-if="!item.form_sections.familyStructure">
                                                            <input type="checkbox"
                                                                   data-on-color="primary"
                                                                   data-off-color="info"
                                                                   ng-model="item.form_sections.familyStructure"
                                                                   ng-true-value="true" ng-false-value="false"
                                                                   ng-init="item.form_sections.familyStructure=false"
                                                                   ng-checked="item.form_sections.familyStructure">
                                                                </span>

                                                                <span >{{'family-structure' | translate}}</span>
                                                            </label>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-3 text-left">
                                                        <div class="form-group">
                                                            <label class="control-label bold">
                                                            <span ng-if="item.form_sections.CaseDocumentData" class="checker">
                                                            <input type="checkbox"
                                                                   data-on-color="primary"
                                                                   data-off-color="info"
                                                                   ng-model="item.form_sections.CaseDocumentData"
                                                                   ng-true-value="true"
                                                                   ng-false-value="false"
                                                                   ng-init="item.form_sections.CaseDocumentData=true"
                                                                   ng-checked="item.form_sections.CaseDocumentData">
                                                           </span>

                                                                <span ng-if="!item.form_sections.CaseDocumentData">
                                                            <input type="checkbox"
                                                                   data-on-color="primary"
                                                                   data-off-color="info"
                                                                   ng-model="item.form_sections.CaseDocumentData"
                                                                   ng-true-value="true" ng-false-value="false"
                                                                   ng-init="item.form_sections.CaseDocumentData=false"
                                                                   ng-checked="item.form_sections.CaseDocumentData">
                                                                </span>

                                                                <span>{{'case-documents' | translate}}</span>
                                                            </label>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-3 text-left">
                                                        <div class="form-group">
                                                            <label class="control-label bold">
                                                            <span ng-if="item.form_sections.recommendations" class="checker">
                                                            <input type="checkbox"
                                                                   data-on-color="primary"
                                                                   data-off-color="info"
                                                                   ng-model="item.form_sections.recommendations"
                                                                   ng-true-value="true"
                                                                   ng-false-value="false"
                                                                   ng-init="item.form_sections.recommendations=true"
                                                                   ng-checked="item.form_sections.recommendations">
                                                           </span>

                                                                <span ng-if="!item.form_sections.recommendations">
                                                            <input type="checkbox"
                                                                   data-on-color="primary"
                                                                   data-off-color="info"
                                                                   ng-model="item.form_sections.recommendations"
                                                                   ng-true-value="true" ng-false-value="false"
                                                                   ng-init="item.form_sections.recommendations=false"
                                                                   ng-checked="item.form_sections.recommendations">
                                                                </span>

                                                                <span>{{'recommendations' | translate }}</span>
                                                            </label>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0.5%; padding-right: 3%;">
                                                <div class="col-md-12 col-sm-12 col-xs-12 text-left" style="margin-bottom: 2%;margin-top: 1%;">
                                                    <h4 class="control-label bold">   {{'category_documents' | translate}} </h4>
                                                </div>
                                                <div  style="padding: 0.5%; padding-right: 3%;">
                                                    <div class="text-left"  ng-class="category_type =='aids' ? 'col-md-3' : 'col-md-6'" ng-repeat="doc in item.documents">
                                                        <div class="text-left"  ng-class="category_type =='aids' ? 'col-md-12' : 'col-md-4'">
                                                            <div class="form-group">
                                                                <label class="control-label bold">
                                                                    <input type="checkbox"
                                                                           data-on-color="primary"
                                                                           data-off-color="info"
                                                                           ng-model='doc.checked'
                                                                           ng-true-value="true"
                                                                           ng-false-value="false"
                                                                           value="{{doc.document_type_id}}"
                                                                           ng-checked="doc.checked">
                                                                    <span > {{doc.name}}</span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div ng-show="category_type !='aids'" class="col-md-8 text-center">
                                                            <div class="form-group" style="width: 90%">
                                                                <select class="form-control" ng-model="doc.owner"  name="owner">
                                                                    <option selected disabled  value>---{{'select the doc for whom' | translate}}---</option>
                                                                    <option value="1" ng-if="item.form_sections.ParentData" > {{'father' | translate}} </option>
                                                                    <option value="2" ng-if="item.form_sections.ParentData && item.has_mother ==1"  > {{'mother' | translate}} </option>
                                                                    <option value="3" ng-if="item.case_is==1"  >  {{'person' | translate}} </option>
                                                                    <option value="4" ng-if="item.form_sections.providerData"   > {{'guardian_1' | translate}} </option>
                                                                </select>
                                                            </div>
                                                        </div>


                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                                <div class="col-md-12 col-sm-12 col-xs-12" style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                                    <div class="col-md-4 pull-right" >
                                        <button class=" btn blue pull-left" style="width: 32%; margin-left: 2%" ng-disabled="frmcategories.$invalid" ng-click="Confirm('save',item)" type="button" >
                                            <span class="bold" >{{'save' | translate}} </span>
                                        </button>
                                        <button class=" btn blue" style="width: 32%;" ng-disabled="frmcategories.$invalid" ng-click="Confirm('continue',item)" type="button" >
                                            <span class="bold">{{'save and continue' | translate}}  </span>
                                        </button>
                                        <a style="color: #ffffff; width: 32%;"  class=" btn red-pink pull-right"href="#/{{category_type}}/categories"><span class="bold">{{'cancel' | translate}} </span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END MAIN CONTENT -->
