<!-- BEGIN MAIN CONTENT -->
<!--ng-controller="CategoriesCaseFormController"-->
<div>
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate}}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            <span ng-show="category_type =='aids'">{{'aids' | translate}}</span>
            <span ng-show="category_type !='aids'">{{'sponsorship' | translate}}</span>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            <span ng-show="category_type =='aids'">{{'categories-aid' | translate}}</span>
            <span ng-show="category_type !='aids'">{{'categories-sponsorships' | translate}}</span>
        </li>
        <li class="active" >
            <span > {{category_name}}</span>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i> </li>
        <li class="active" > {{'elements form settings' | translate}} </li>

    </ul>
    <!-- END PAGE BREADCRUMB -->

    <!-- BEGIN CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">

                            <div class="caption font-dark pull-left">
                                <i class="font-dark"></i>
                                <h3>
                                    <span class="glyphicon glyphicon-cog"></span>
                                    <span>{{'The settings of the elements of a form category' | translate}}</span>
                                    <span> " {{ category_name }}" </span>
                                </h3>
                            </div>

                            <a class=" btn blue pull-right"  style=" margin:2% 0%;" href="#/{{category_type}}/categories">
                                <span class="fa fa-backward"  style="margin-right: 2%;"></span>
                            </a>

               </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="row table-scrollable" style="margin-bottom: 2%;">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <form name="frmsetting" novalidate="" role="form">
                                    <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                        <tbody>
                                        <tr ng-repeat="elemnt in items" ng-form='ElemntForm' ng-switch on="$index % 3">
                                            <td ng-switch-when="0" class="col-md-4 col-sm-12 col-xs-12" style="padding: 1%;">
                                                <label class="control-label">   {{ items[$index].label }} </label>
                                                <select class="form-control"
                                                        ng-init=""
                                                        ng-change="update(items[$index],$index)"
                                                        name="priority"
                                                        ng-model='items[$index].priority'
                                                        ng-required="true">
                                                    <option disabled selected value> ---   {{'element_priority' | translate}} --- </option>
                                                    <option value="4">  {{'mandatory' | translate }} </option>
                                                    <option value="3">  {{'advisable' | translate }}</option>
                                                    <option value="2">  {{'optional' | translate }} </option>
                                                    <option value="1">  {{'not appear' | translate }} </option>

                                                </select>
                                                <span ng-repeat="(error, errortext) in msg1[$index].priority"
                                                      class="text-danger bold help-inline"
                                                      ng-show="status1=='failed_valid' && msg1[$index].priority != [ ]" >
                                                             {{ errortext.toString() }}
                                                </span>

                                            </td>
                                            <td ng-switch-when="0" class="col-md-4 col-sm-12 col-xs-12" style="padding: 1%;">
                                                <span ng-show="items[$index+1]">
                                                <label class="control-label">   {{ items[$index+1].label }} </label>
                                                  <select class="form-control"
                                                          ng-init=""
                                                          ng-change="update(items[$index+1],$index+1)"
                                                          name="priority"
                                                          ng-model='items[$index+1].priority'
                                                          ng-required="true">

                                                      <option disabled selected value> ---   {{'element_priority' | translate}} --- </option>
                                                     <option value="4">  {{'mandatory' | translate }} </option>
                                                    <option value="3">  {{'advisable' | translate }}</option>
                                                    <option value="2">  {{'optional' | translate }} </option>
                                                    <option value="1">  {{'not appear' | translate }} </option>
                                                  </select>
                                                 <span ng-repeat="(error, errortext) in msg1[$index+1].priority"
                                                       class="text-danger bold help-inline"
                                                       ng-show="status1=='failed_valid' && msg1[$index+1].priority != [ ]" >
                                                             {{ errortext.toString() }}
                                                    </span>
                                              </span>
                                            </td>
                                            <td ng-switch-when="0" class="col-md-4 col-sm-12 col-xs-12" style="padding: 1%;">
                                                <span ng-show="items[$index+2]">
                                                <label class="control-label">   {{ items[$index+2].label }} </label>
                                               <select class="form-control"
                                                       ng-init=""
                                                       ng-change="update(items[$index+2],$index+2)"
                                                       name="priority"
                                                       ng-model='items[$index+2].priority'
                                                       ng-required="true">
                                                   <option disabled selected value> ---   {{'element_priority' | translate}} --- </option>
                                                    <option value="4">  {{'mandatory' | translate }} </option>
                                                    <option value="3">  {{'advisable' | translate }}</option>
                                                    <option value="2">  {{'optional' | translate }} </option>
                                                    <option value="1">  {{'not appear' | translate }} </option>
                                               </select>
                                                 <span ng-repeat="(error, errortext) in msg1[$index+2].priority"
                                                       class="text-danger bold help-inline"
                                                       ng-show="status1=='failed_valid' && msg1[$index+2].priority != [ ]" >
                                                             {{ errortext.toString() }}
                                                    </span>
                                         </span>
                                            </td>
                                            <!--<td ng-switch-when="0" class="col-md-3 col-sm-12 col-xs-12" style="padding: 1%;">-->
                                                <!--<span ng-show="items[$index+3]">-->
                                                <!--<label class="control-label">   {{ items[$index+3].label }} </label>-->
                                               <!--<select class="form-control"-->
                                                       <!--ng-init=""-->
                                                       <!--ng-change="update(items[$index+3],$index+3)"-->
                                                       <!--name="priority"-->
                                                       <!--ng-model='items[$index+3].priority'-->
                                                       <!--ng-required="true">-->
                                                   <!--<option disabled selected value> -&#45;&#45;   {{'element_priority' | translate}} -&#45;&#45; </option>-->
                                                    <!--<option value="4">  {{'mandatory' | translate }} </option>-->
                                                    <!--<option value="3">  {{'advisable' | translate }}</option>-->
                                                    <!--<option value="2">  {{'optional' | translate }} </option>-->
                                                    <!--<option value="1">  {{'not appear' | translate }} </option>-->
                                               <!--</select>-->
                                                    <!--<span ng-repeat="(error, errortext) in msg1[$index+3].priority"-->
                                                      <!--class="text-danger bold help-inline"-->
                                                      <!--ng-show="status1=='failed_valid' && msg1[$index+3].priority != [ ]" >-->
                                                             <!--{{ errortext.toString() }}-->
                                                    <!--</span>-->
                                         <!--</span>-->
                                            <!--</td>-->
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END MAIN CONTENT -->

