<!-- BEGIN MAIN CONTENT -->
<!--ng-controller="CategoriesController"-->
<div >
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span ng-show="category_type =='aids'">{{'aids management' | translate}}</span>
        <span ng-show="category_type !='aids'">{{'sponsorships management' | translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        <a ng-show="category_type =='aids'"  href="#/categories/aids">{{'categories-aid' | translate}}</a>
        <a ng-show="category_type !='aids'"  href="#/sponsorships/aids">{{'categories-sponsorships' | translate}}</a>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
    <!-- BEGIN CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <h3>
                            <span class="fa fa-table"></span>
                            <span  ng-show="category_type =='aids'">{{'categories-aid' | translate}}</span>
                            <span  ng-show="category_type !='aids'">{{'categories-sponsorships' | translate}}</span>
                        </h3>
                    </div>
                    <div class="actions" style="padding-top: 30px;">
                        <div class="clearfix">
                            <a class="btn yellow-crusta" href="#/categories/{{category_type}}/new/0" >
                                <span class="glyphicon glyphicon-plus"></span>
                                <span  class="hidden-sm hidden-md  hidden-xs">{{'new'| translate}}</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1%;">
                            <label ng-if="items.length > 0 ">{{'show' | translate}}
                                <select
                                        class="form-control input-sm input-inline" ng-init=""
                                        ng-change="itemsPerPage_(itemsCount)"
                                        name="itemsCount"
                                        ng-model='itemsCount'>
                                   <option value="50">50</option><option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                    <option value="-1">{{'show_All' | translate}}</option>
                                </select>
                            </label>
                            <form class="form-inline search-form pull-right">
                                <div class="input-group">
                                    <input type="text"
                                           ng-model="search"
                                           class="form-control" autofocus
                                           placeholder="{{'search' | translate}} "
                                           name="search">
                                </div>
                            </form>

                        </div>
                        <!-- BEGIN TABLE -->
                        <div class="table-scrollable" ng-if="items.length > 0 " >
                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                <thead>
                                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                    <th class="text-center" > {{'#' | translate}} </th>
                                    <th class="text-center" ng-click="sort('name_')">{{'categories_name' | translate}}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='name_'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" > {{'operations' | translate}} </th>
                                </tr>
                                </thead>
                                <tbody >
                                <tr dir-paginate="item in items |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage"  ng-if="items.length != 0 ">
                                    <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                    <td>{{item.name_}}</td>
                                    <td >
                                        <a uib-tooltip="{{'case-form-setting' | translate}}" class="btn btn-xs bold green-turquoise "
                                           href="#/category/{{category_type}}/form-setting/{{item.id}}">
                                            <span class="fa fa fa-cog fa-fw"></span>
                                            <span class="hidden-sm hidden-md  hidden-xs">{{'case-form-setting' | translate}}</span>

                                        </a>

                                        <a uib-tooltip="{{'edit'| translate}}" class="btn btn-xs bold font-blue fa fa-edit"
                                           style="font-size: medium; background-color: transparent"
                                           href="#/categories/{{category_type}}/edit/{{item.id}}">
                                        </a>


                                        <button uib-tooltip="{{'delete' | translate}}" type="button"
                                                ng-click="delete('sm',item.id)"
                                                class="btn btn-xs bold font-red-pink fa fa-trash-o"
                                                style="font-size: medium; background-color: transparent"></button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- END TABLE -->
                        <div  ng-if="items.length == 0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show' | translate}}
                                                                    </span>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12" ng-if="items.length > 0 ">
                            <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                <span class="bold ">{{'number of total items'| translate}} : </span>
                                <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                <span class="bold ">{{'row' | translate}}</span>
                            </div>
                            <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END MAIN CONTENT -->









