<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span ng-show="type =='aids'">{{'aids management' | translate}}</span>
        <span  ng-show="type =='sponsorships'">{{'sponsorships management' | translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        <span ng-show="type =='aids'">{{'categories-aid' | translate}}</span>
        <span  ng-show="type =='sponsorships'">{{'categories-sponsorships' | translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" >
        {{'Policy' | translate}}
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark pull-left">
                    <i class="font-dark"></i>
                    <h3>
                        <span class="fa fa-ban"></span>     <span>{{'Policy' | translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <button  class=" btn yellow-saffron  " ng-click="toggleSearchform()" type="button">
                            <span>{{'advanced_search' | translate}}</span>
                            <i class="fa fa-search"></i>
                        </button>
                        <button type="button" class="btn blue"  ng-click="new('add','md')">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span  class="hidden-sm hidden-md  hidden-xs">{{'new'| translate}}</span>
                        </button>
                    </div>
                </div>

            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12" ng-hide="toggleStatus" style="margin-top: 1%">
                        <form name="frmsearch"  novalidate role="form" class=" text-center" style="padding:0 2%; ">
                            <div class="row" style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label bold ">
                                                <span ng-show="type =='sponsorships'">{{'category_name' | translate}}</span>
                                                <span ng-show="type =='aids'">{{'category_name' | translate}}</span>
                                            </label>
                                            <div class="input-group">
                                                <ui-select name="category_id" ng-model="filter.category_id"theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in choices | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                            <button type="button" ng-click="filter.category_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3" >
                                        <div class="form-group">
                                            <label class="control-label  bold">{{'policy level' | translate}}</label>
                                            <select class="form-control"  ng-model="filter.level" name="level">
                                                <option selected value> ---{{'policy level' | translate}}--- </option>
                                                <option value="1"> {{'person' | translate}} </option>
                                                <option value="2"> {{'family' | translate}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">
                                                <span ng-show="type =='sponsorships'">{{'max count of sponsorship' | translate}}</span>
                                                <span ng-show="type =='aids'">{{'max count of aids' | translate}}</span>
                                                ( {{'from' | translate}} )
                                            </label>
                                            <input type="text" class="form-control" name="min_amount" decimal-numbers ng-model="filter.min_amount"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">
                                                <span ng-show="type =='sponsorships'">{{'max count of sponsorship' | translate}}</span>
                                                <span ng-show="type =='aids'">{{'max count of aids' | translate}}</span>
                                                ( {{'to' | translate}} )
                                            </label>
                                            <input type="text" class="form-control" name="max_amount" ng-model="filter.max_amount"decimal-numbers />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">
                                                {{'max family count' | translate}}
                                                ( {{'from' | translate}} )
                                            </label>
                                            <input type="text" class="form-control" name="min_count_of_family" decimal-numbers ng-model="filter.min_count_of_family"/>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class=" control-label bold">
                                                {{'max family count' | translate}}
                                                ( {{'from' | translate}} )
                                            </label>
                                            <input type="text" class="form-control" name="max_count_of_family" ng-model="filter.max_count_of_family" numeric-only />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{'started_at_from' | translate}} </label>
                                            <div  class="input-group">
                                                <input type="text" class="form-control"
                                                       uib-datepicker-popup="{{format}}"
                                                       ng-model="filter.started_at_from"
                                                       datepickerPopup
                                                       name="started_at_from"
                                                       is-open="popup99.opened" datepicker-options="dateOptions"
                                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open99($event)">

                                                </button>
                                          </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{'started_at_to' | translate}} </label>
                                            <div  class="input-group">
                                                <input type="text" class="form-control"
                                                       uib-datepicker-popup="{{format}}"
                                                       ng-model="filter.started_at_to"
                                                       datepickerPopup
                                                       name="started_at_to"
                                                       is-open="popup88.opened" datepicker-options="dateOptions"
                                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open88($event)">

                                                </button>
                                          </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{'ends_at_from' | translate}} </label>
                                            <div  class="input-group">
                                                <input type="text" class="form-control"
                                                       uib-datepicker-popup="{{format}}"
                                                       ng-model="filter.ends_at_from"
                                                       datepickerPopup
                                                       name="ends_at_from"
                                                       is-open="popup999.opened" datepicker-options="dateOptions"
                                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open999($event)">

                                                </button>
                                          </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{'ends_at_to' | translate}} </label>
                                            <div  class="input-group">
                                                <input type="text" class="form-control"
                                                       uib-datepicker-popup="{{format}}"
                                                       ng-model="filter.ends_at_to"
                                                       datepickerPopup
                                                       name="ends_at_to"
                                                       is-open="popup888.opened" datepicker-options="dateOptions"
                                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open888($event)">

                                                </button>
                                          </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label bold">
                                                {{'policy_date' | translate}}
                                                ( {{'from' | translate}} )
                                            </label>
                                            <div  class="input-group">
                                                <input type="text" class="form-control"
                                                       uib-datepicker-popup="{{format}}"
                                                       ng-model="filter.created_at_from"
                                                       datepickerPopup
                                                       name="created_at_from"
                                                       is-open="popup9999.opened" datepicker-options="dateOptions"
                                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open9999($event)">

                                                </button>
                                          </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label bold">
                                                {{'policy_date' | translate}}
                                                ( {{'from' | translate}} )
                                            </label>
                                            <div  class="input-group">
                                                <input type="text" class="form-control"
                                                       uib-datepicker-popup="{{format}}"
                                                       ng-model="filter.created_at_to"
                                                       datepickerPopup
                                                       name="created_at_to"
                                                       is-open="popup8888.opened" datepicker-options="dateOptions"
                                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open8888($event)">

                                                </button>
                                          </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2 pull-right" style="padding-top: 2%;" >
                                        <button class="btn blue" style="width:85%; margin-top: 2%;"  ng-click="Search(filter)" type="button" >
                                            <span>{{'search' | translate}}</span>  </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%;margin-bottom:0.5%;">
                        <label ng-if="items.length != 0 ">{{'show' | translate}}
                            <select
                                    class="form-control input-sm input-inline" ng-init=""
                                    ng-change="itemsPerPage_(itemsCount)"
                                    name="itemsCount"
                                    ng-model='itemsCount'>
                               <option value="50">50</option><option value="100">100</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="-1">{{'show_All' | translate}}</option>
                            </select>
                        </label>
                        <form class="form-inline search-form pull-right" style="margin-left:0.3%;">
                            <div class="input-group">
                                <input type="text"
                                       ng-model="search"
                                       class="form-control" autofocus
                                       placeholder="{{'search' | translate}} "
                                       name="search">
                            </div>
                        </form>
                    </div>
                    <div class="table-scrollable"   ng-if="items.length != 0 ">
                        <!-- BEGIN TABLE -->
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center"  >
                            <thead>
                            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                <th class="text-center"ng-click="sort('id')" > {{'#' | translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='case_first_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('category_name')">
                                    <span ng-show="type =='sponsorships'">{{'category_name' | translate}}</span>
                                    <span ng-show="type =='aids'">{{'category_name' | translate}}</span>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='category_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('level')"> {{'policy level' | translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='level'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('family_count')"> {{'max family count' | translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='family_count'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('max_amount')">
                                    <span ng-show="type =='sponsorships'">{{'max count of sponsorship' | translate}}</span>
                                    <span ng-show="type =='aids'">{{'max count of aids' | translate}}</span>
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='category_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('start_date')"> {{'start_policy_date' | translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('end_date')"> {{'end_policy_date' | translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('policy_date')"> {{'policy_date' | translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='policy_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" > {{'operations' | translate}} </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="item in items|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                <td>{{ item.category_name }} </td>
                                <td>
                                    <span ng-show="item.level == 1"> {{'person' | translate}} </span>
                                    <span ng-show="item.level == 2"> {{'family' | translate}} </span>
                                </td>
                                <td>{{ item.count_of_family }} </td>
                                <td>{{ item.amount }} </td>
                                <td>{{ item.started_at }} </td>
                                <td>{{ item.ends_at }} </td>
                                <td>{{ item.created_at }} </td>
                                <td>

                                    <button uib-tooltip="{{'edit'| translate}}" type="button" class="btn btn-xs bold font-blue fa fa-edit"
                                            ng-click="edit('edit','md',item.id)"
                                            style="margin-left: 1%; font-size: medium; background-color: transparent">
                                    </button>
                                    <button uib-tooltip="{{'delete' | translate}}" type="button" class="btn btn-xs bold text-danger fa fa-trash"
                                            ng-click="delete(item.id)"
                                            style="margin-left: 1%; font-size: medium; background-color: transparent">
                                    </button>

                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 text-center"  ng-if="items.length == 0 "style="margin-bottom: 2%  ; margin-top: 2%">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                            <span>{{'there is no data to show' | translate}}</span>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 "ng-if="items.length != 0 ">
                            <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                <span class="bold ">{{'number of total items'| translate}} : </span>
                                <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                <span class="bold ">{{'row' | translate}}</span>
                            </div>
                            <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BEGIN MAIN CONTENT -->

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header" style="  padding:6%; ">
        <h4 class="modal-title text-center" ng-show="action =='add'" >{{'add policy form' | translate}}</h4>
        <h4 class="modal-title text-center" ng-show="action =='edit'" >{{'edit policy form' | translate}}</h4>
    </div>
    <div class="modal-body">
        <form name="frm" novalidate="" role="form" class="row text-center" style="padding: 2%;">
            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="action =='add'" >
                <div class="col-md-6" >
                    <div class="form-group " ng-class="{ 'has-error' : frm.category_id.$invalid && !frm.category_id.$pristine }">
                        <label class="control-label bold">
                            <span ng-show="type =='sponsorships'">{{'category_name' | translate}}</span>
                            <span ng-show="type =='aids'">{{'category_name' | translate}}</span>
                        </label>
                        <multiselect
                                      ng-model="policy.category_id" ng-disabled="action =='edit'" ng-required="true" name="category_id"
                                      ng-change="msg1.category_id = [ ]"
                                      ng-if="choices"
                                      options="choices" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                        </multiselect>
                <span class="text-danger bold help-inline" ng-show="frm.category_id.$error.required && frm.category_id.$touched">
                                {{'required_field' | translate}}
                </span>
                <span ng-repeat="(error, errortext) in msg1.category_id" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.category_id' != [ ]" >
                                {{ errortext.toString() }}
                </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group " ng-class="{ 'has-error' : frm.level.$invalid && !frm.level.$pristine }">
                        <label class="control-label  bold">{{'policy level' | translate}}</label>
                        <select class="form-control"  ng-model="policy.level"  ng-required="true"name="level" ng-disabled="action =='edit'"  ng-change="msg1.level = [ ]">
                            <option disabled selected value> ---{{'policy level' | translate}}--- </option>
                            <option value="1"> {{'person' | translate}} </option>
                            <option ng-show="type =='sponsorships'" value="2"> {{'family' | translate}} </option>
                        </select>
                <span class="text-danger bold help-inline" ng-show="frm.level.$error.required && frm.level.$touched">
                                {{'required_field' | translate}}
                </span>
                <span ng-repeat="(error, errortext) in msg1.level" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.level' != [ ]" >
                                {{ errortext.toString() }}
                </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6">
                    <div class="form-group " ng-class="{ 'has-error' : frm.amount.$invalid && !frm.amount.$pristine }">
                        <label class="control-label bold">
                            <span ng-show="type =='sponsorships'">{{'max count of sponsorship' | translate}}</span>
                            <span ng-show="type =='aids'">{{'max count of aids' | translate}}</span>
                        </label>
                        <input type="text" class="form-control" decimal-numbers ng-model="policy.amount" name="amount" ng-change="msg1.amount = [ ]"
                                   placeholder=""  />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group " ng-class="{ 'has-error' : frm.count_of_family.$invalid && !frm.count_of_family.$pristine }">
                        <label class="control-label bold">{{'max family count' | translate}}</label>
                        <input type="text" numeric-only class="form-control" ng-model="policy.count_of_family" name="count_of_family" ng-change="msg1.count_of_family = [ ]"
                               placeholder=""  />
                  <span ng-repeat="(error, errortext) in msg1.count_of_family" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.count_of_family' != [ ]" >
                                {{ errortext.toString() }}
                </span>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12 text-left" style="margin-bottom: 1%;" >
                <label class=" bold">
                    <input type="checkbox" ng-model="policy.checkedAll" ng-change="reset(policy.checkedAll)">
                    {{'select date range' | translate}}
                </label>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="!policy.checkedAll">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error' : policy.started_at.$invalid && !policy.started_at.$pristine }">
                        <label class="control-label  bold">   {{'start_policy_date' | translate}} </label>
                        <span class=" text-danger bold help-inline" ng-show="policy.started_at.$error.required && policy.started_at.$touched">*</span>
                        <div  class="input-group">
                            <input type="text" class="form-control"
                                   uib-datepicker-popup="{{format}}"
                                   ng-model="policy.started_at"
                                   datepickerPopup
                                   name="started_at"
                                   ng-change="msg1.started_at = [ ]"
                                   is-open="popup4.opened"
                                   ng-required="!policy.checkedAll"
                                   datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)"
                                   clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
               <span class="input-group-btn">
                   <button type="button" class="btn fa fa-calendar btn-default" ng-click="open4($event)">

                   </button>
               </span>
                        </div>
        <span class=" text-danger bold help-inline" ng-show="policy.started_at.$error.date">
              {{'date_field' | translate}}
        </span>
        <span ng-repeat="(error, errortext) in msg1.started_at"
              class="text-danger bold help-inline"
              ng-show="status1=='failed_valid' && 'msg1.started_at' != [ ]" >
        {{ errortext.toString() }}
        </span>
                    </div>


                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{ 'has-error' : policy.ends_at.$invalid && !policy.ends_at.$pristine }">
                        <label class="control-label bold">   {{'end_policy_date' | translate}} </label>
                        <span class=" text-danger bold help-inline" ng-show="policy.ends_at.$error.required && policy.ends_at.$touched">*</span>
                        <div  class="input-group">
                            <input type="text" class="form-control"
                                   uib-datepicker-popup="{{format}}"
                                   ng-model="policy.ends_at"
                                   datepickerPopup
                                   name="ends_at"
                                   ng-change="msg1.ends_at = [ ]"
                                   is-open="popup3.opened"
                                   ng-required="!policy.checkedAll"
                                   datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)"
                                   clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                               <span class="input-group-btn">
                                   <button type="button" class="btn fa fa-calendar btn-default" ng-click="open3($event)">

                                   </button>
                               </span>
                                        </div>
                        <span class=" text-danger bold help-inline" ng-show="policy.ends_at.$error.date">
                              {{'date_field' | translate}}
                        </span>
                        <span ng-repeat="(error, errortext) in msg1.ends_at"
                              class="text-danger bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.ends_at' != [ ]" >
                        {{ errortext.toString() }}
                        </span>
                    </div>


                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button class=" btn blue" ng-disabled="frm.$invalid" ng-click="confirm(policy)" type="button" >
                    <span ng-show="action =='add'" >{{'add' | translate}}</span>
                    <span ng-show="action =='edit'" >{{'edit' | translate}}</span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel' | translate}}</span> </button>
    </div>
</script>

