<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span ng-show="type =='aids'">{{'aids management' | translate}}</span>
        <span  ng-show="type =='sponsorships'">{{'sponsorships management' | translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        <span ng-show="type =='aids'">{{'categories-aid' | translate}}</span>
        <span  ng-show="type =='sponsorships'">{{'categories-sponsorships' | translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" >
       {{'visitor-note' | translate}}
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark pull-left">
                    <i class="font-dark"></i>
                    <h3> <span class="fa fa-sticky-note-o"></span> {{'visitor-note' | translate}}</h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <button type="button" uib-tooltip="{{'visitor notes instructions' | translate}}"
                                class="btn green-turquoise"  ng-click="templateInstruction()">
                            <span class="fa fa-file-pdf-o" style="margin-left: 2%;"></span>
                            <span  class="hidden-sm hidden-md  hidden-xs">{{'visitor notes instructions' | translate}}</span>
                        </button>
                        <button type="button" uib-tooltip="{{'new visitor notes' | translate}}"
                                class="btn blue"  ng-click="actions('add','lg',-1)">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span  class="hidden-sm hidden-md  hidden-xs">{{'new'| translate}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%;margin-bottom:0.5%;">
                            <label  ng-if="items.length > 0 ">{{'show' | translate}}
                                <select
                                        class="form-control input-sm input-inline" ng-init=""
                                        ng-change="itemsPerPage_(itemsCount)"
                                        name="itemsCount"
                                        ng-model='itemsCount'>
                                   <option value="50">50</option><option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                    <option value="-1">{{'show_All' | translate}}</option>
                                </select>
                            </label>
                            <form class="form-inline search-form pull-right" style="margin-left:0.3%;">
                                <div class="input-group">
                                    <input type="text"
                                           ng-model="search"
                                           class="form-control" autofocus
                                           placeholder="{{'search' | translate}} "
                                           name="search">
                                </div>
                            </form>

                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-if="items.length > 0 ">
                            <div class="table-scrollable">
                                <!-- BEGIN TABLE -->
                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                    <thead>
                                    <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                        <th class="text-center"ng-click="sort('id')" > {{'#' | translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='case_first_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort('category_name')">
                                            <span ng-show="type =='sponsorships'">{{'category_name' | translate}}</span>
                                            <span ng-show="type =='aids'">{{'category_name' | translate}}</span>
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='category_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" > {{'operations' | translate}} </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="item in items|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage"  >
                                        <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                        <td>{{ item.category_name }} </td>
                                        <td>

                                            <button uib-tooltip="{{'edit'| translate}}" type="button" class="btn btn-xs bold font-blue fa fa-edit"
                                                    ng-click="actions('edit','lg',item.id)"
                                                    style="margin-left: 1%; font-size: medium; background-color: transparent">
                                            </button>
                                            <button uib-tooltip="{{'delete' | translate}}" type="button" class="btn btn-xs bold font-red-pink fa fa-trash"
                                                    ng-click="delete(item.id)"
                                                    style="margin-left: 1%; font-size: medium; background-color: transparent">
                                            </button>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                            <!-- END TABLE -->
                        </div>
                        <div  ng-if="items.length == 0 " class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%  ; margin-top: 2%">
                            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show' | translate}}
                                                                    </span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 5px;" ng-if="items.length > 0 ">
                            <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header" style="  padding:3%; ">
        <h4 class="modal-title text-center"  ng-show="action =='edit'"> {{'edit visitor notes form' | translate}}</h4>
        <h4 class="modal-title text-center"  ng-show="action =='add'">{{'new visitor notes form' | translate}}</h4>
    </div>
    <div class="modal-body">
        <form name="frm" novalidate="" role="form" class="row text-center" style="padding: 2%;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="note note-success">
                            <i style="font-size: larger" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  {{'make space before and after variable when replaced' | translate}}
                    </div>
                </div>
                 <div class="col-md-12 col-sm-12 col-xs-12" ng-show="action =='add'" >
                <div class="col-md-6 col-md-offset-3" >
                    <div class="form-group " ng-class="{ 'has-error' : frm.category_id.$invalid && !frm.category_id.$pristine }">
                        <label class="control-label bold">
                            <span ng-show="type =='sponsorships'">{{'category_name' | translate}}</span>
                            <span ng-show="type =='aids'">{{'category_name' | translate}}</span>
                        </label>
                        <div class="input-group">
                            <ui-select  ng-model="formData.category_id" ng-disabled="action =='edit'"
                                        ng-required="true" name="category_id" ng-change="msg1.category_id = [ ]" autofocus
                                       theme="bootstrap"
                                       class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in choices | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                            <button type="button" ng-click="formData.category_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                        </div>
                <span class="text-danger bold help-inline" ng-show="frm.category_id.$error.required && frm.category_id.$touched">
                                {{'required_field' | translate}}
                </span>
                <span ng-repeat="(error, errortext) in msg1.category_id" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.category_id' != [ ]" >
                                {{ errortext.toString() }}
                </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h5 class="modal-title text-center" > {{'arabic' | translate}}</h5>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group " ng-class="{ 'has-error' : frm.for_male.$invalid && !frm.for_male.$pristine }">
                        <label class="control-label bold">{{'for_male' | translate}}</label>
                        <textarea class="form-control"
                                  name="for_male"
                                  ng-model="formData.for_male"
                                  ng-required="true"
                                  rows="5" >
                            </textarea>

                    </div>
                    <span ng-repeat="(error, errortext) in msg1.for_male" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.for_male' != [ ]" >
                                        {{ errortext.toString() }}
                        </span>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group " ng-class="{ 'has-error' : frm.for_female.$invalid && !frm.for_female.$pristine }">
                        <label class="control-label bold">{{'for_female' | translate}}</label>
                        <textarea class="form-control"
                                  name="for_female"
                                  ng-model="formData.for_female"
                                  ng-required="true"
                                  rows="5" >
                            </textarea>

                    </div>
                    <span ng-repeat="(error, errortext) in msg1.for_female" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.for_female' != [ ]" >
                                        {{ errortext.toString() }}
                        </span>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" style="   border-top: 1px #d4d8e0 solid;   padding-top: 1%;   margin-top: 1%;">
                <h5 class="modal-title text-center" > {{'english' | translate}}</h5>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group " ng-class="{ 'has-error' : frm.en_for_male.$invalid && !frm.en_for_male.$pristine }">
                        <label class="control-label bold">{{'for_male' | translate}}</label>
                        <textarea class="form-control"
                                  name="for_male"
                                  ng-model="formData.en_for_male"
                                  ng-required="true"
                                  rows="5" >
                            </textarea>

                    </div>
                    <span ng-repeat="(error, errortext) in msg1.en_for_male" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.en_for_male' != [ ]" >
                                        {{ errortext.toString() }}
                        </span>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group " ng-class="{ 'has-error' : frm.en_for_female.$invalid && !frm.en_for_female.$pristine }">
                        <label class="control-label bold">{{'for_female' | translate}}</label>
                        <textarea class="form-control"
                                  name="en_for_female"
                                  ng-model="formData.en_for_female"
                                  ng-required="true"
                                  rows="5" >
                            </textarea>

                    </div>
                    <span ng-repeat="(error, errortext) in msg1.en_for_female" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.en_for_female' != [ ]" >
                                        {{ errortext.toString() }}
                        </span>
                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button class=" btn blue" ng-disabled="frm.$invalid" ng-click="confirm(formData)" type="button" >
            <span ng-show="action =='add'" >{{'add' | translate}}</span>
            <span ng-show="action =='edit'" >{{'edit' | translate}}</span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel' | translate}}</span> </button>
    </div>
</script>
