<style>
/*    . {
        pointer-events: none;
        cursor: default;
    }*/
    .paragraph_line{
        border: 0.5px lightgrey solid;
        height:30px;
    }


</style>

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a  href="#/organizations-projects"> {{ 'manage' | translate}} {{ 'organizations-projects' | translate}} </a>

        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li >
        <span ng-show="action =='new'">  {{'add'| translate}}  </span>
        <span ng-show="!(action =='new')"> {{'edit'| translate}}</span>
        <span> {{'project'| translate}}</span>
        <i ng-show="!action =='new'" class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right' : 'glyphicon glyphicon-menu-left'}}"></i>
    </li>
    <li class="active" ng-if="row.id">{{title}}</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" >
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span ng-class="{'glyphicon glyphicon-plus':action =='new','fa fa-edit':!(action =='new')}" ></span>
                        <span ng-show="action =='new'">  {{'add'| translate}}  </span>
                        <span ng-show="!(action =='new')"> {{'edit'| translate}}</span>
                        <span> {{'project'| translate}}</span>

                    </h3>

                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <a class="btn blue fa fa-backward"  href="#/organizations-projects"></a>
                    </div>
                </div>

            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <form name="project_form"  novalidate role="form" class=" text-center" style="padding:2%; margin-bottom: 2%; ">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : project_form.title.$invalid && !project_form.title.$pristine }">
                                            <label class="control-label bold">  {{'project_title'| translate}}   <span class=" text-danger bold help-inline"> * </span></label>
                                            <input type="text" class="form-control" autofocus ng-change="msg1.title = []"  ng-model="row.title"
                                                   ng-required="true" name="title" placeholder="{{'project_title'| translate}} ">
                                            <span class="text-danger bold help-inline" ng-show="project_form.title.$error.required && project_form.title.$touched">
                                                  {{'required_field'| translate}}
                                            </span>
                                            <span ng-repeat="(error, errortext) in msg1.title" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.title' != []" >
                                                {{ errortext.toString()}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : project_form.type_id.$invalid && !project_form.type_id.$pristine }">
                                            <label class="control-label bold">  {{'project_type'| translate}}  <span class=" text-danger bold help-inline"> * </span></label>
                                            <div class="input-group">
                                                <ui-select ng-model="row.type_id"
                                                           name="type_id"
                                                           ng-change="msg1.type_id = [ ]"
                                                           ng-required="true"
                                                           theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in ProjectType | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                            <button type="button" ng-click="row.type_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                            </div>
                                            <span class="text-danger bold help-inline" ng-show="project_form.type_id.$error.required && project_form.type_id.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                            <span ng-repeat="(error, errortext) in msg1.type_id" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.type_id' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : project_form.category_id.$invalid && !project_form.category_id.$pristine }">
                                            <label class="control-label bold">  {{'project_category'| translate}}  <span class=" text-danger bold help-inline"> * </span></label>
                                            <div class="input-group">
                                                <ui-select ng-model="row.category_id"
                                                           name="category_id"
                                                           ng-change="subList(row.category_id)"
                                                           ng-required="true"
                                                           theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in ProjectCategory | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                            <button type="button" ng-click="row.category_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                            </div>
                                            <span class="text-danger bold help-inline" ng-show="project_form.category_id.$error.required && project_form.category_id.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                            <span ng-repeat="(error, errortext) in msg1.category_id" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.category_id' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : project_form.sub_category_id.$invalid && !project_form.sub_category_id.$pristine }">
                                            <label class="control-label bold">  {{'project_category_'| translate}}  <span class=" text-danger bold help-inline"> * </span></label>
                                            <div class="input-group">
                                                <ui-select ng-model="row.sub_category_id"
                                                           name="sub_category_id"
                                                           ng-change="msg1.sub_category_id = [ ]"
                                                           ng-required="true"
                                                           theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in SubProjectCategory | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                            <button type="button" ng-click="row.sub_category_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                            </div>
                                            <span class="text-danger bold help-inline" ng-show="project_form.sub_category_id.$error.required && project_form.sub_category_id.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                            <span ng-repeat="(error, errortext) in msg1.sub_category_id" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.sub_category_id' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : project_form.distribute.$invalid && !project_form.distribute.$pristine }">
                                            <label class="control-label bold">  {{'distribute'| translate}}  <span class=" text-danger bold help-inline"> * </span></label>
                                            <select class="form-control"
                                                    ng-change="msg1.distribute = [ ];" name="distribute"
                                                    ng-model='row.distribute'  convert-to-number ng-required="true">
                                                <option disabled selected value > --  {{'distribute' | translate }}  -- </option>
                                                <option  value="1" ng-selected="row.distribute == 1"> {{'financial_' | translate }} </option>
                                                <option  value="2" ng-selected="row.distribute == 2"> {{'non_financial_' | translate }} </option>
                                            </select>
                                            <span class="text-danger bold help-inline" ng-show="project_form.distribute.$error.required && project_form.distribute.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                            <span ng-repeat="(error, errortext) in msg1.distribute" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.distribute' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : project_form.activity_category_id.$invalid && !project_form.activity_category_id.$pristine }">
                                            <label class="control-label bold">  {{'project_activity_category'| translate}}  <span class=" text-danger bold help-inline"> * </span></label>
                                            <div class="input-group">
                                                <ui-select ng-model="row.activity_category_id"
                                                           name="activity_category_id"
                                                           ng-change="msg1.activity_category_id = [ ]"
                                                           ng-required="true"
                                                           theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in ProjectActivities | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                            <button type="button" ng-click="row.activity_category_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                            </div>
                                            <span class="text-danger bold help-inline" ng-show="project_form.activity_category_id.$error.required && project_form.activity_category_id.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                            <span ng-repeat="(error, errortext) in msg1.activity_category_id" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.activity_category_id' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{'project_date' | translate }} <span class="required" aria-required="true"> * </span></label>
                                            <div  class="input-group">
                                                <input type="text" class="form-control"
                                                       uib-datepicker-popup="{{format}}"
                                                       ng-model="row.date"
                                                       datepickerPopup
                                                       name="date"
                                                       ng-required="true"
                                                       ng-change="compareDateRange($event,1,'start',row.date,row.date_to)"
                                                       is-open="popup[3].opened" datepicker-options="dateOptions1"
                                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-disabled="id != null"
                                                                                ng-click="open(3,$event)">
                                                                                        </button>
                                                                    </span>
                                            </div>
                                            <span class="font-red-pink bold help-inline" ng-show="form.date.$error.required && form.date.$touched">
                                                                    {{'required_field' | translate }}
                                            </span>
                                            <span ng-repeat="(error, errortext) in msg1.date" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.date' != [ ]" >
                                                     {{ errortext.toString() }}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : project_form.amount.$invalid && !project_form.amount.$pristine }">
                                            <label class="control-label bold">  {{'project_amount'| translate}}   <span class=" text-danger bold help-inline"> * </span></label>
                                            <input type="text" class="form-control" decimal-numbers ng-change="msg1.amount = []"  ng-model="row.amount"
                                                   ng-required="true" name="amount"
                                                   placeholder="{{'project_amount'| translate}} ">
                                            <span class="text-danger bold help-inline" ng-show="project_form.amount.$error.required && project_form.amount.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                            <span ng-repeat="(error, errortext) in msg1.amount" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.amount' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : project_form.currency_id.$invalid && !project_form.currency_id.$pristine }">
                                            <label class="control-label bold">  {{'currency'| translate}}  <span class=" text-danger bold help-inline"> * </span></label>
                                            <div class="input-group">
                                                <ui-select ng-model="row.currency_id"
                                                           name="currency_id"
                                                           ng-change="msg1.currency_id = [ ]"
                                                           ng-required="true"
                                                           theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in currencies | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                            <button type="button" ng-click="row.currency_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                            </div>
                                            <span class="text-danger bold help-inline" ng-show="project_form.currency_id.$error.required && project_form.currency_id.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                            <span ng-repeat="(error, errortext) in msg1.currency_id" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.currency_id' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{'project_date_from' | translate }} <span class="required" aria-required="true"> * </span></label>
                                            <div  class="input-group">
                                                <input type="text" class="form-control"
                                                       uib-datepicker-popup="{{format}}"
                                                       ng-model="row.date_from"
                                                       datepickerPopup
                                                       name="date_from"
                                                       ng-required="true"
                                                       ng-change="compareDateRange($event,1,'start',row.date_from,row.date_to)"
                                                       is-open="popup[1].opened" datepicker-options="dateOptions1"
                                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-disabled="id != null"
                                                                                ng-click="open(1,$event)">
                                                                                        </button>
                                                                    </span>
                                            </div>
                                            <span class="font-red-pink bold help-inline" ng-show="form.date_from.$error.required && form.date_from.$touched">
                                                                    {{'required_field' | translate }}
                                            </span>
                                            <span ng-repeat="(error, errortext) in msg1.date_from" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.date_from' != [ ]" >
                                                     {{ errortext.toString() }}
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{'project_date_to' | translate }} <span class="required" aria-required="true"> * </span> </label>
                                            <div  class="input-group">
                                                <input type="text" class="form-control"
                                                       uib-datepicker-popup="{{format}}"
                                                       ng-model="row.date_to"
                                                       datepickerPopup
                                                       name="date_to"
                                                       ng-required="true"
                                                       ng-change="compareDateRange($event,1,'end',row.date_from,row.date_to)"
                                                       is-open="popup[2].opened" datepicker-options="dateOptions2"
                                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-disabled="id != null"
                                                                                ng-click="open(2,$event)">
                                                                                        </button>
                                                                    </span>
                                            </div>
                                            <span class="font-red-pink bold help-inline" ng-show="form.date_to.$error.required && form.date_to.$touched">
                                            {{'required_field' | translate }}
                    </span>
                                            <span ng-repeat="(error, errortext) in msg1.date_to" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.date_to' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : project_form.count.$invalid && !project_form.count.$pristine }">
                                            <label class="control-label bold">  {{'project_count'| translate}}  <span class=" text-danger bold help-inline"> * </span></label>
                                            <input type="text" class="form-control" name="count"ng-model="row.count" ng-required="true"/>
                                            <span class="text-danger bold help-inline" ng-show="project_form.count.$error.required && project_form.count.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                            <span ng-repeat="(error, errortext) in msg1.count" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.count' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : project_form.beneficiary_category_id.$invalid && !project_form.beneficiary_category_id.$pristine }">
                                            <label class="control-label bold">  {{'project_beneficiary_category'| translate}}  <span class=" text-danger bold help-inline"> * </span></label>
                                            <div class="input-group">
                                                <ui-select ng-model="row.beneficiary_category_id"
                                                           name="beneficiary_category_id"
                                                           ng-change="msg1.beneficiary_category_id = [ ]"
                                                           ng-required="true"
                                                           theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in ProjectBeneficiaryCategory | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                            <button type="button" ng-click="row.beneficiary_category_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                            </div>
                                            <span class="text-danger bold help-inline" ng-show="project_form.beneficiary_category_id.$error.required && project_form.beneficiary_category_id.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                            <span ng-repeat="(error, errortext) in msg1.beneficiary_category_id" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.beneficiary_category_id' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : project_form.region.$invalid && !project_form.region.$pristine }">
                                            <label class="control-label bold">  {{'project_region'| translate}}  <span class=" text-danger bold help-inline"> * </span></label>
                                            <div class="input-group">
                                                <ui-select ng-model="row.region"
                                                           name="region"
                                                           ng-change="msg1.region = [ ]"
                                                           ng-required="true"
                                                           theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in ProjectRegion | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                            <button type="button" ng-click="row.region = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                            </div>

                                            <span class="text-danger bold help-inline" ng-show="project_form.region.$error.required && project_form.region.$touched">
                    {{'required_field'| translate}}
                </span>
                                            <span ng-repeat="(error, errortext) in msg1.region" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.region' != []" >
                    {{ errortext.toString()}}
                </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12" >
                                        <div class="form-group" ng-class="{ 'has-error' : project_form.sponsor_id.$invalid && !project_form.sponsor_id.$pristine }">
                                            <label class="control-label bold">  {{'project_sponsor'| translate}}
                                                <span class=" text-danger bold help-inline" ng-show="UserOrgType == 1"> * </span>
                                            </label>
                                            <div class="input-group">
                                                <ui-select ng-model="row.sponsor_id"
                                                           name="sponsor_id"
                                                           ng-change="msg1.sponsor_id = [ ]"
                                                           ng-required="UserOrgType == 1"
                                                           theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in Sponsors | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                            <button type="button" ng-click="row.sponsor_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                            </div>
                                            <span class="text-danger bold help-inline" ng-show="project_form.sponsor_id.$error.required && project_form.sponsor_id.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                            <span ng-repeat="(error, errortext) in msg1.sponsor_id" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.sponsor_id' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12" >
                                        <div class="form-group" ng-class="{ 'has-error' : project_form.country_id.$invalid && !project_form.country_id.$pristine }">
                                            <label class="control-label bold">  {{'project_country_id'| translate}}  <span  ng-show="UserOrgType == 1" class=" text-danger bold help-inline"> * </span></label>
                                            <div class="input-group">
                                                <ui-select ng-model="row.country_id"
                                                           name="country_id"
                                                           ng-change="msg1.country_id = [ ]"
                                                           ng-required="UserOrgType == 1"
                                                           theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in countries | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                            <button type="button" ng-click="row.country_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                            </div>
                                            <span class="text-danger bold help-inline" ng-show="project_form.country_id.$error.required && project_form.country_id.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                            <span ng-repeat="(error, errortext) in msg1.country_id" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.country_id' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : form.shared.$invalid && !form.shared.$pristine }">
                                            <label class="control-label  bold ">  {{'project_shared' | translate }}  <span class="required" aria-required="true"> * </span></label>
                                            <select class="form-control"
                                                    ng-change="msg1.shared = [ ];row.shared_organizations =''" name="shared"
                                                    ng-model='row.shared'  convert-to-number ng-required="true">
                                                <option disabled selected value > --  {{'project_shared' | translate }}  -- </option>
                                                <option  value="1" ng-selected="row.shared == 1"> {{'yes' | translate }} </option>
                                                <option  value="2" ng-selected="row.shared == 2"> {{'no' | translate }} </option>
                                            </select>

                                            <span class="font-red-pink bold help-inline" ng-show="form.shared.$error.required && form.shared.$touched">
                                            {{'required_field' | translate }}
                    </span>
                                            <span ng-repeat="(error, errortext) in msg1.shared" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.shared' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12" ng-if="row.shared == 1">
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                                        <div class="form-group" ng-class="{ 'has-error' : project_form.shared_organizations.$invalid && !project_form.shared_organizations.$pristine }">
                                            <label class="control-label bold text-left">  {{'project_shared_organizations'| translate}}   <span class=" text-danger bold help-inline"> * </span></label>
                                            <textarea ng-model="row.shared_organizations"
                                                      name="shared_organizations"
                                                      ng-required="row.shared == 1"
                                                      placeholder="{{'project_shared_organizations' | translate }}"
                                                      ng-change="msg1.shared_organizations = [ ]"
                                                      class="form-control"
                                                      rows="4">
                                            </textarea>
                                            <span class="text-danger bold help-inline" ng-show="project_form.shared_organizations.$error.required && project_form.shared_organizations.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                            <span ng-repeat="(error, errortext) in msg1.shared_organizations" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.shared_organizations' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group" ng-class="{ 'has-error' : form.has_sponsor.$invalid && !form.has_sponsor.$pristine }">
                                            <label class="control-label  bold ">  {{'has_sponsor' | translate }}  <span class="required" aria-required="true"> * </span></label>
                                            <select class="form-control"
                                                    ng-change="msg1.has_sponsor = [ ];row.sponsor_organizations =''" name="has_sponsor"
                                                    ng-model='row.has_sponsor'  convert-to-number ng-required="true">
                                                <option disabled selected value > --  {{'has_sponsor' | translate }}  -- </option>
                                                <option  value="1" ng-selected="row.has_sponsor == 1"> {{'yes' | translate }} </option>
                                                <option  value="2" ng-selected="row.has_sponsor == 2"> {{'no' | translate }} </option>
                                            </select>

                                            <span class="font-red-pink bold help-inline" ng-show="form.has_sponsor.$error.required && form.has_sponsor.$touched">
                                            {{'required_field' | translate }}
                    </span>
                                            <span ng-repeat="(error, errortext) in msg1.has_sponsor" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.has_sponsor' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12" ng-if="row.has_sponsor == 1">
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                                        <div class="form-group" ng-class="{ 'has-error' : project_form.sponsor_organizations.$invalid && !project_form.sponsor_organizations.$pristine }">
                                            <label class="control-label bold text-left">  {{'sponsor_organizations'| translate}}   <span class=" text-danger bold help-inline"> * </span></label>
                                            <textarea ng-model="row.sponsor_organizations"
                                                      name="sponsor_organizations"
                                                      ng-required="row.has_sponsor == 1"
                                                      placeholder="{{'sponsor_organizations' | translate }}"
                                                      ng-change="msg1.sponsor_organizations = [ ]"
                                                      class="form-control"
                                                      rows="4">
                                            </textarea>
                                            <span class="text-danger bold help-inline" ng-show="project_form.sponsor_organizations.$error.required && project_form.sponsor_organizations.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                            <span ng-repeat="(error, errortext) in msg1.sponsor_organizations" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.sponsor_organizations' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                                        <div class="form-group" ng-class="{ 'has-error' : project_form.target_group.$invalid && !project_form.target_group.$pristine }">
                                            <label class="control-label bold">  {{'project_target_group'| translate}}  <span class=" text-danger bold help-inline"> * </span></label>
                                            <textarea ng-model="row.target_group"
                                                      name="target_group"
                                                      placeholder="{{'project_target_group' | translate }}"
                                                      ng-required="true"
                                                      ng-change="msg1.target_group = [ ]"
                                                      class="form-control"
                                                      rows="3">
                                            </textarea>
                                            <span class="text-danger bold help-inline" ng-show="project_form.target_group.$error.required && project_form.target_group.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                            <span ng-repeat="(error, errortext) in msg1.target_group" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.target_group' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                                        <div class="form-group" ng-class="{ 'has-error' : project_form.description.$invalid && !project_form.description.$pristine }">
                                            <label class="control-label bold text-left">  {{'project_description'| translate}}   <span class=" text-danger bold help-inline"> * </span></label>
                                            <textarea ng-model="row.description"
                                                      name="description"
                                                      ng-required="true"
                                                      placeholder="{{'description' | translate }}"
                                                      ng-change="msg1.description = [ ]"
                                                      class="form-control"
                                                      rows="4">
                                            </textarea>
                                            <span class="text-danger bold help-inline" ng-show="project_form.description.$error.required && project_form.description.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                            <span ng-repeat="(error, errortext) in msg1.description" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'msg1.description' != []" >
                                            {{ errortext.toString()}}
                                        </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                                        <div class="form-group" ng-class="{ 'has-error' : form.notes.$invalid && !form.notes.$pristine }">
                                            <label class="control-label bold text-left">   {{'notes' | translate }} </label>
                                            <textarea ng-model="row.notes"
                                                      name="notes"
                                                      placeholder="{{'notes' | translate }}"
                                                      ng-change="msg1.notes = [ ]"
                                                      class="form-control"
                                                      rows="4">
                                            </textarea>
                                            <span ng-repeat="(error, errortext) in msg1.notes" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.notes' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 2%;">
                                    <div class="form-actions pull-right">
                                        <button type="button" ng-click="confirm(row)" class="btn btn-primary" ng-disabled="project_form.$invalid">
                                            <span ng-show="action =='new'">  {{'add'| translate}}  </span>
                                            <span ng-show="!(action =='new')"> {{'edit'| translate}}</span>
                                        </button>
                                        <a class="btn red-pink" href="#/organizations-projects"><span>{{'cancel'| translate}}</span></a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="redirect.html">
    <div class="modal-header" style="  padding: 10%; background: #f7fcff !important; ">
        <h4 class="modal-title bold text-center"> {{'are you want to go to project attachments' | translate }} </h4>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary"  ng-click="yes()"> <span>{{'yes'| translate}}</span> </button>
        <button class="btn red-pink"  ng-click="no()"> <span>{{'no'| translate}}</span> </button>
    </div>
</script>
