<style>
/*    . {
        pointer-events: none;
        cursor: default;
    }*/
    .paragraph_line{
        border: 0.5px lightgrey solid;
        height:30px;
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #ffffff;
        opacity: 1;
    }

</style>

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a  href="#/organizations-projects"> {{ 'manage' | translate}} {{ 'organizations-projects' | translate}} </a>

        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li >
        <span>  {{'show'| translate}}  </span>
        <span> {{'project'| translate}}</span>
        <i ng-show="!action =='new'" class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right' : 'glyphicon glyphicon-menu-left'}}"></i>
    </li>
    <li class="active" ng-if="row.id">{{title}}</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12" >
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span class="fa fa-eye"></span>
                        <span>  {{'show'| translate}}  </span>
                        <span> {{'project'| translate}}</span>

                    </h3>

                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <a class="btn blue fa fa-backward"  href="#/organizations-projects"></a>
                    </div>
                </div>

            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <form name="project_form"  novalidate role="form" class=" text-center" style="padding:2%; margin-bottom: 2%; ">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">  {{'project_title'| translate}}   </label>
                                            <input type="text" class="form-control"  ng-model="row.title" name="title" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">  {{'project_type'| translate}}  </label>
                                            <input type="text" class="form-control"  ng-model="row.project_type" name="project_type" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{'project_category' | translate }} </label>
                                            <input type="text" class="form-control"  ng-model="row.project_category" name="project_category" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{'project_category_' | translate }} </label>
                                            <input type="text" class="form-control"  ng-model="row.project_sub_category" name="project_sub_category" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">  {{'distribute'| translate}}   </label>
                                            <input type="text" class="form-control"  ng-model="row.distribute" name="distribute" readonly>

                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">  {{'project_activity_category'| translate}}  </label>
                                            <input type="text" class="form-control"  ng-model="row.activity_category" name="activity_category" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{'project_date' | translate }} </label>
                                            <input type="text" class="form-control"  ng-model="row.date" name="date" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">  {{'project_amount'| translate}}   </label>
                                            <input type="text" class="form-control" ng-model="row.amount" name="amount" readonly>

                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">  {{'currency'| translate}}  </label>
                                            <input type="text" class="form-control"  ng-model="row.currency_name" name="currency_name" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{'project_date_from' | translate }} </label>
                                            <input type="text" class="form-control"  ng-model="row.date_from" name="date_from" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">   {{'project_date_to' | translate }}  </label>
                                            <input type="text" class="form-control"  ng-model="row.date_to" name="date_to" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">  {{'project_count'| translate}}  </label>
                                            <input type="text" class="form-control" name="count"ng-model="row.count" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">  {{'project_beneficiary_category'| translate}}  </label>
                                            <input type="text" class="form-control" name="beneficiary_category"ng-model="row.beneficiary_category" readonly />
                                       </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">  {{'project_region'| translate}}  </label>
                                            <input type="text" class="form-control" name="region"ng-model="row.region" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">  {{'project_sponsor'| translate}}  </label>
                                            <input type="text" class="form-control" name="sponsor_name"ng-model="row.sponsor_name" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label bold">  {{'project_country_id'| translate}}  </label>
                                            <input type="text" class="form-control" name="country_name"ng-model="row.country_name" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label  bold ">  {{'project_shared' | translate }}  </label>
                                            <input type="text" class="form-control" name="shared"ng-model="row.shared" readonly />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12"  ng-if="row.shared_ == 1">
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                                        <div class="form-group">
                                            <label class="control-label bold text-left">  {{'project_shared_organizations'| translate}}   </label>
                                            <textarea ng-model="row.shared_organizations" name="shared_organizations" class="form-control" rows="4" readonly>
                                            </textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label  bold ">  {{'has_sponsor' | translate }}  </label>
                                            <input type="text" class="form-control" name="has_sponsor"ng-model="row.has_sponsor" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12"  ng-if="row.has_sponsor_ == 1">
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                                        <div class="form-group">
                                            <label class="control-label bold text-left">  {{'sponsor_organizations'| translate}}   </label>
                                            <textarea ng-model="row.sponsor_organizations" name="sponsor_organizations" class="form-control" rows="4" readonly>
                                            </textarea>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                                        <div class="form-group">
                                            <label class="control-label bold">  {{'project_target_group'| translate}}  </label>
                                            <textarea ng-model="row.target_group"
                                                      name="target_group"
                                                      class="form-control" readonly rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                                        <div class="form-group">
                                            <label class="control-label bold text-left">  {{'project_description'| translate}}   </label>
                                            <textarea ng-model="row.description" name="description" class="form-control" rows="4" readonly></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                                        <div class="form-group">
                                            <label class="control-label bold text-left">   {{'notes' | translate }} </label>
                                            <textarea ng-model="row.notes" name="notes" class="form-control" rows="4" readonly></textarea>
                                        </div>
                                    </div>
                                </div>
                                  <div class="col-md-12 col-sm-12 col-xs-12"  ng-if="row.attachments.length > 0 ">
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                                        <div class="form-group">
                                            <h4 class="font-blue">   {{'attachments' | translate }} </h4>
                                              <div class="table-toolbar" ng-if="row.attachments.length > 0 ">
                                                <!-- BEGIN TABLE -->
                                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                                    <thead>
                                                    <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                                        <th class="col-md-1 text-center" > {{'#'| translate}}</th>
                                                        <th class="col-md-5 text-center" > {{'attachment name'| translate}}</th>
                                                        <th class="col-md-6 text-center" > {{'operations'| translate}}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="doc in row.attachments">
                                                        <td>{{ $index+1 }}</td>
                                                        <td>{{ doc.file.name }}</td>
                                                        <td>
                                                            <a class="btn  green-turquoise btn-xs" data-download="{{ doc.name }}"
                                                               doc-file-download data-url="/doc/files/download/{{doc.document_id}}">
                                                                <span class="fa fa-cloud-download"></span> <span>{{'download'| translate}}</span> </a>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                                <!-- END TABLE -->

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 2%;">
                                    <div class="form-actions pull-right">
                                        <a class="btn red-pink" href="#/organizations-projects"><span>{{'cancel'| translate}}</span></a>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


