<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{ 'manage' | translate}} {{ 'organizations-projects' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{ 'Trashed organizations-projects' | translate}}
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12  col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span  class="fa fa-trash"></span>
                        <span> {{ 'Trashed organizations-projects' | translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1%;padding-top: 4%;padding-bottom: 2%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                            <form name="form">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                    <div class="col-md-12 col-sm-12 col-xs-12"  ng-if="UserOrgType == 1 && Org">
                                        <div class="col-md-3 text-center" style="padding-top:25px;">
                                            <div class="form-group">
                                                <label class="control-label bold">

                                                              <span ng-if="filters.all_organization" class="checker">
                                                                    <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                           ng-model="filters.all_organization" ng-true-value="true" ng-false-value="false">
                                                              </span>
                                                    <span ng-if="!filters.all_organization">
                                                                    <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                           ng-model="filters.all_organization" ng-true-value="true" ng-false-value="false">
                                                              </span>
                                                    <span >{{'search in all organization'| translate}}</span>
                                                </label>
                                            </div>

                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12"  ng-if="UserOrgType == 1 && Org">
                                            <div class="form-group ">
                                                <label class=" control-label bold">{{'organization_name'| translate}}</label>
                                                <multiselect  ng-class="filters.all_organization? '' : 'inactive'"
                                                              ng-model="filters.organization_id" ng-if="Org"
                                                              options="Org" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">  {{'project_title'| translate}}   </label>
                                                <input type="text" class="form-control" autofocus ng-model="filters.title"
                                                       name="title" placeholder="{{'project_title'| translate}} ">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold text-left">  {{'project_description'| translate}}   </label>
                                                <input type="text" class="form-control" name="description" ng-model="filters.description" placeholder="{{'description' | translate }}" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold text-left">   {{'notes' | translate }} </label>
                                                <input type="text" class="form-control" name="notes" ng-model="filters.notes" placeholder="{{'notes' | translate }}" />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">  {{'project_activity_category'| translate}}  </label>
                                                <ui-select ng-model="filters.activity_category_id" name="activity_category_id"
                                                           theme="bootstrap" class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in ProjectActivities | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'project_date' | translate }}  ( {{'from' | translate }}   ) </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.date_from"
                                                           datepickerPopup
                                                           name="date_from"
                                                           is-open="popup[7].opened" datepicker-options="dateOptions1"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-click="open(7,$event)">
                                                                                        </button>
                                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'project_date' | translate }}  ( {{'to' | translate }}   ) </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.date_to"
                                                           datepickerPopup
                                                           name="date_to"
                                                           is-open="popup[8].opened" datepicker-options="dateOptions1"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-click="open(8,$event)">
                                                                                        </button>
                                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'project_date_from' | translate }}  ( {{'from' | translate }}   ) </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.begin_date_from"
                                                           datepickerPopup
                                                           name="begin_date_from"
                                                           is-open="popup[1].opened" datepicker-options="dateOptions1"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-click="open(1,$event)">
                                                                                        </button>
                                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'project_date_from' | translate }}  ( {{'to' | translate }}   ) </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.end_date_from"
                                                           datepickerPopup
                                                           name="end_date_from"
                                                           is-open="popup[2].opened" datepicker-options="dateOptions1"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-click="open(2,$event)">
                                                                                        </button>
                                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'created_at_from' | translate }} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.created_at_from"
                                                           datepickerPopup
                                                           name="created_at_from"
                                                           is-open="popup[5].opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open(5,$event)">
                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'created_at_to' | translate }} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.created_at_to"
                                                           datepickerPopup
                                                           name="created_at_to"
                                                           is-open="popup[6].opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open(6,$event)">
                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'deleted_at_from' | translate }} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.deleted_at_from"
                                                           datepickerPopup
                                                           name="deleted_at_from"
                                                           is-open="popup[9].opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open(9,$event)">
                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'deleted_at_to' | translate }} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.deleted_at_to"
                                                           datepickerPopup
                                                           name="deleted_at_to"
                                                           is-open="popup[10].opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open(10,$event)">
                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-6 "></div>
                                        <div class="col-md-6 " style="padding-top: 20px;">
                                            <div class="clearfix pull-right">
                                               <div class="btn-group "  uib-dropdown   ng-if="items.length != 0"
                                                        uib-tooltip="{{'export result'| translate}}" >
                                                        <button id="single-button" type="button" class="btn  green-turquoise" uib-dropdown-toggle ng-disabled="disabled">
                                                            <span style="margin-right:3%;" class="fa fa-file-excel-o"></span>
                                                            <span class="hidden-sm hidden-md  hidden-xs"> {{'export result'| translate}}</span>
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" 
                                                            style="min-width: 90px;"  aria-labelledby="split-button">
                                                            <li>
                                                                <a ng-click="searchReports(false ,filters,'excel')" class="iconify">
                                                                    <i  class="fa fa-file-excel-o" style="margin-left: 4%"></i>{{'All'| translate}}</a>
                                                            </li>
                                                             <li>
                                                                <a ng-click="searchReports(true ,filters,'excel')" class="iconify">
                                                                    <i  class="fa fa-file-excel-o" style="margin-left: 4%"></i> {{'selected'| translate}}</a>
                                                            </li>
                                                        </ul>
                                                </div>
                                                <button class="btn red-pink " type="button" ng-click="resetSearchFilter()">
                                                    <span class="fa fa-trash-o"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'reset filter'| translate}}</span>
                                                </button>
                                                <button uib-tooltip="{{'search' | translate }}" class=" btn blue  "
                                                        ng-click="searchReports(false ,filters,'paginate')" type="button" >
                                                    <span class="icon-magnifier"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'search' | translate }}</span>
                                                </button>
                                             </div>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12  col-sm-12 col-xs-12" style="margin-bottom: 5px;">
                            <label ng-show="items.length > 0 ">{{'show'| translate}}
                                <select
                                        class="form-control input-sm input-inline" ng-init=""
                                        ng-change="itemsPerPage_(itemsCount)"
                                        name="itemsCount"
                                        ng-model='itemsCount'>
                                    <option value="50">50</option><option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                    <option value="-1">{{'show_All'| translate}}</option>
                                </select>
                            </label>

                            <form class="form-inline search-form pull-right">
                                <div class="input-group">
                                    <input type="text"
                                           ng-model="search"
                                           class="form-control"
                                           placeholder="{{'search'| translate}} "
                                           name="search">
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="table-scrollable" ng-show="items.length > 0 "  >
                        <!-- BEGIN TABLE -->
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                            <thead>
                            <tr  style="background-color: #f3f3f3!important;  height:60px; line-height: 55px; font-size: 30px; ">
                                  <th class="text-center"  style="width: 3%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" > {{'#'| translate}} </th>
                                <th class="text-center" style= "vertical-align: middle;" >
                                            <input type="checkbox"
                                                   ng-model="selectedAll"
                                                   ng-change="selectAll(selectedAll)"
                                                   ng-true-value="true"
                                                   ng-false-value="false"
                                            >
                                 </th>
                                 <th class="text-center" ng-click="sort_('title')" >{{'project_title'| translate}}
                                    <span class="glyphicon sort-icon" ng-show=" (sortKeyArr_rev.length > 0 || sortKeyArr_un_rev.length > 0) && (sortKeyArr_rev.indexOf('title') != -1  ||  sortKeyArr_un_rev.indexOf('title') != -1)  "
                                          ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('title') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('title') != -1}"> </span>
                                </th>
                                <th class="text-center" ng-click="sort_('organization_name')" >{{'organization_name_'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='organization_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort_('activity_category')" >{{'project_activity_category'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='activity_category'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort_('amount')" >{{'project_amount'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort_('currency_name')" >{{'project_currency'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='currency_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort_('date')" >{{'project_date'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                               <th class="text-center"  style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort_('user_name')" >{{'username'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='user_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort_('deleted_at')" >{{'deleted_at'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='deleted_at'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 15%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{'operations'| translate}} </th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr dir-paginate="item in items |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage" ng-show="items.length != 0 ">
                                <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                <td>
                                            <input type="checkbox" class="make-switch" data-on-color="primary" data-off-color="info"
                                                   ng-model="item.check" ng-checked="item.check" ng-true-value="true" ng-false-value="false">
                                
                                </td>
                                <td>{{ item.title }}</td>
                                <td>{{ item.organization_name }} </td>
                                <td>{{ item.activity_category }} </td>
                                <td>{{ item.amount }} </td>
                                <td>{{ item.currency_name }} </td>
                                <td>{{ item.project_date }} </td>
                                <td>{{ item.username }}</td>
                                <td>{{ item.deleted_at }}</td>
                                <td>
                                    <button uib-tooltip="{{'restore'| translate}}" type="button"
                                            class="btn btn-xs bold font-blue  fa fa-refresh"
                                            style="font-size: medium; background-color: transparent"
                                            ng-click="restore(item.id)" >
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- END TABLE -->
                    </div>


                    <div ng-show="items.length == 0 " class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                        <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                        </div>
                    </div>

                    <div class="row"  ng-show="items.length != 0 " >
                        <div class="col-md-12  col-sm-12 col-xs-12">
                            <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                <span class="bold ">{{'number of total items'| translate}}</span>
                                <span class="bold "> : </span>
                                <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                <span class="bold ">{{'row'| translate}}</span>
                            </div>
                            <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->