<style>
.tabbable-line>.nav-tabs>li.active{
    border-bottom: 4px solid #3598dc;
    background-color: #e7ecf1 !important;
}

.tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover{
    border-bottom: 4px solid #3598dc;
}

.portlet.light>.portlet-title>.nav-tabs>li{
    border-radius: 10px 10px 0px 0px;
}


    .bg-red-{
        background-color: #ffdfe1!important;
    }

    .bg-blue-{
        background-color: #e7ecf1 !important;
    }
</style>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i>{{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'reports and queries'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'search_on' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        <a href="#/reports/searchAll" > {{'general'| translate}}</a>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12  col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">

                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <div class="btn-group"  uib-dropdown ng-if="can('reports.case.ExportCitizenRepository')">
                            <button id="single-button-0-" type="button"
                                    uib-tooltip="{{'search from file'| translate}}" class="btn yellow-saffron" uib-dropdown-toggle>
                                <span class="fa fa-check"></span>
                                <span class="hidden-sm hidden-md  hidden-xs">{{'search from file'| translate}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button" style="min-width: 10px !important;">
                                <li>
                                    <a ng-click="check(1)"  class="iconify">
                                        <i class="fa fa-file-excel-o" style="margin-left: 4%"></i>
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'basic-data'| translate}}</span>
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="check(2)" class="iconify">
                                        <i class="fa fa-file-excel-o" style="margin-left: 4%"></i>
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'all-data'| translate}}</span>
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="check(3)" class="iconify">
                                        <i class="fa fa-file-excel-o" style="margin-left: 4%"></i>
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'wives or husbands'| translate}}</span>
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="check(4)" class="iconify">
                                        <i class="fa fa-file-excel-o" style="margin-left: 4%"></i>
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'childs'| translate}}</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body" style="min-height: 600px;">
                <div class="table-toolbar">
                    <div class="col-md-12  col-sm-12 col-xs-12" style="background-color: #f3f3f3;margin-bottom: 1%; padding: 35px 0 30px 0px !important; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " >
                        <form name="frmsearch">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4 col-sm-12 col-xs-12 text-center">
                                        <div class="form-group">
                                            <label class="text-center control-label bold"> {{"search_using"| translate}}<span class=" text-danger bold help-inline">*</span></label>
                                            <select class="form-control" name="using" ng-model='filter.using' required ng-change="resetScopeOnChange()">
                                                <option selected value="1" ng-value="1" > {{'id_card_number'| translate}}</option>
                                                <option value="2" ng-value="2" >  {{'name'| translate}} </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12 text-center" ng-if="filter.using == '1'">
                                        <div class="form-group">
                                            <label class="text-center control-label bold"> {{"card_number"| translate}}<span class=" text-danger bold help-inline">*</span></label>
                                            <input type="text" class="form-control" ng-enter="searchFilter(filter,'filter')"
                                                   ng-required="filter.using == '1'"
                                                   name="id_card_number" ng-model="filter.id_card_number" maxlength="9" ng-maxlength="9" placeholder='{{"id_card_number"| translate}}' numeric-only ng-click = "getCard()"/>
                                                  
                                            <ul class="list-group" ng-if = "checkCards && cards.length > 0"
                                                style="    width: 97%;overflow-y: scroll;position: absolute;z-index: 200;">
                                                <li class="list-group-item" ng-repeat="card in cards | filter:filter.id_card_number"
                                                    ng-click="selected(card.id_card_number)">{{card.id_card_number}}</li>
                                            </ul>
                                            <span class="text-danger bold help-inline" ng-show="frmsearch.id_card_number.$error.minlength">  {{"minlength 9"| translate}}  </span>
                                            <span class="text-danger bold help-inline" ng-show="frmsearch.id_card_number.$error.maxlength">  {{"maxlength 9"| translate}}  </span>
                                            <span class="text-danger bold help-inline" ng-show="frmsearch.id_card_number.$error.pattern">  {{"integer_field"| translate}}  </span>
                                        </div>
                                    </div>
                                    <div  ng-if="filter.using != '1'" class="col-md-2 col-sm-12 col-xs-12 text-center">
                                        <div class="form-group">
                                            <label class="text-center control-label bold"> {{"first_name"| translate}}<span class=" text-danger bold help-inline">*</span></label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="first_name"
                                                   arabic-alphabet
                                                   maxlength="45"
                                                   ng-required="filter.using != '1'"
                                                   ng-maxlength="45"
                                                   ng-model="filter.first_name"
                                                   ng-enter="searchFilter(filter,'filter')"
                                                   placeholder='{{"first_name"| translate}} ' />
                                            <span class="text-danger bold help-inline" ng-show="frmsearch.first_name.$error.maxlength">  {{"maxlength 45"| translate}}  </span>
                                        </div>
                                    </div>
                                    <div  ng-if="filter.using != '1'" class="col-md-2 col-sm-12 col-xs-12 text-center">
                                        <div class="form-group">
                                            <label class="text-center control-label bold"> {{"second_name"| translate}}<span class=" bold help-inline" style="color: #e7ecf1 !important;">*</span></label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="second_name"
                                                   arabic-alphabet
                                                   maxlength="45"
                                                   ng-maxlength="45"
                                                   ng-model="filter.second_name"
                                                   ng-enter="searchFilter(filter,'filter')"
                                                   placeholder='{{"second_name"| translate}} ' />
                                            <span class="text-danger bold help-inline" ng-show="frmsearch.second_name.$error.maxlength">  {{"maxlength 45"| translate}}  </span>
                                        </div>
                                    </div>
                                    <div  ng-if="filter.using != '1'" class="col-md-2 col-sm-12 col-xs-12 text-center">
                                        <div class="form-group">
                                            <label class="text-center control-label bold"> {{"third_name"| translate}}<span class=" bold help-inline" style="color: #e7ecf1 !important;">*</span></label>
                                            <input type="text"
                                                   class="form-control"
                                                   name="third_name"
                                                   arabic-alphabet
                                                   maxlength="45"
                                                   ng-maxlength="45"
                                                   ng-model="filter.third_name"
                                                   ng-enter="searchFilter(filter,'filter')"
                                                   placeholder='{{"third_name"| translate}} ' />
                                            <span class="text-danger bold help-inline" ng-show="frmsearch.third_name.$error.maxlength">  {{"maxlength 45"| translate}}  </span>
                                        </div>
                                    </div>
                                     <div  ng-if="filter.using != '1'"class="col-md-2 col-sm-12 col-xs-12 text-center">
                                             <div class="form-group">
                                                 <label class="text-center control-label bold"> {{"last_name"| translate}}<span class=" text-danger bold help-inline">*</span></label>
                                                 <input type="text"
                                                        class="form-control"
                                                        name="last_name"
                                                        arabic-alphabet
                                                        maxlength="45"
                                                        ng-maxlength="45"
                                                        ng-required="filter.using != '1'"
                                                        ng-model="filter.last_name"
                                                        ng-enter="searchFilter(filter,'filter')"
                                                        placeholder='{{"last_name"| translate}}' />
                                                 <span class="text-danger bold help-inline" ng-show="frmsearch.last_name.$error.maxlength">  {{"maxlength 45"| translate}}  </span>
                                             </div>
                                         </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                        <div class="form-group">
                                            <label class="control-label col-md-2" style="padding: 0; " ng-show="!(filter.using == 1)">
                                              <span style="line-height: 30px" class="bold" >
                                                <input type="checkbox" data-on-color="primary" data-off-color="info" ng-model="filter.citizen" ng-true-value="true" ng-false-value="false">
                                                  {{'citizen repository' | translate}}
                                             </span>
                                            </label>
                                            <label class="control-label col-md-2" style="padding: 0; " ng-show="!(filter.using == 1) && can('reports.case.MinistryOfSocialDevelopment')">
                                                <span style="line-height: 30px" class="bold" >
                                                <input type="checkbox" data-on-color="primary" data-off-color="info" ng-model="filter.social" ng-true-value="true" ng-false-value="false">{{'social affairs' | translate}}
                                            </span>
                                            </label>
                                            <label class="control-label col-md-2" style="padding: 0; " ng-show="!(filter.using == 1) && can('reports.case.MinistryOfFinance')">
                                                <span style="line-height: 30px" class="bold" >
                                                        <input type="checkbox" data-on-color="primary"
                                                               data-off-color="info" ng-model="filter.government"
                                                               ng-true-value="true" ng-false-value="false">{{'employee' | translate}}
                                                    </span>

                                            </label>
                                            <label class="control-label col-md-2" style="padding: 0; " ng-show="!(filter.using == 1) && can('reports.case.MinistryOfEconomy')">    <span style="line-height: 30px" class="bold" >
                                                <input type="checkbox" data-on-color="primary"
                                                       data-off-color="info" ng-model="filter.commercial"
                                                       ng-true-value="true" ng-false-value="false">{{'commercial info'| translate}}
                                            </span>
                                                <br>
                                            </label>
                                            <label class="control-label col-md-2" style="padding: 0; " ng-show="!(filter.using == 1) && can('reports.case.MinistryOfHealth')">   <span style="line-height: 30px" class="bold" >
                                                <input type="checkbox" data-on-color="primary"
                                                       data-off-color="info" ng-model="filter.health"
                                                       ng-true-value="true" ng-false-value="false">{{'health record'| translate}}
                                            </span>
                                            </label>
                                            <label class="control-label col-md-2" style="padding: 0; " ng-show="!(filter.using == 1)">    <span style="line-height: 30px" class="bold" >
                                                <input type="checkbox" data-on-color="primary"
                                                       data-off-color="info" ng-model="filter.aids_committee"
                                                       ng-true-value="true" ng-false-value="false">{{'aids committee'| translate}}
                                            </span>
                                            </label>
                                            <label class="control-label col-md-2" style="padding: 0; " ng-show="(filter.using == 1)">
                                              <span style="line-height: 30px" class="bold" >
                                                <input type="checkbox" data-on-color="primary" data-off-color="info" ng-model="filter.citizen" ng-true-value="true" ng-false-value="false">{{'citizen repository' | translate}}
                                             </span>
                                            </label>
                                            <label class="control-label col-md-2" style="padding: 0; " ng-show="can('reports.case.MinistryOfSocialDevelopment') && (filter.using == 1)">
                                           <span style="line-height: 30px" class="bold">
                                                <input type="checkbox" data-on-color="primary" data-off-color="info" ng-model="filter.social" ng-true-value="true" ng-false-value="false">{{'social affairs' | translate}}
                                            </span>
                                            </label>
                                            <label class="control-label col-md-2" style="padding: 0; " ng-show="can('reports.case.MinistryOfFinance') && (filter.using == 1)">
                                                <span style="line-height: 30px" class="bold">
                                                        <input type="checkbox" data-on-color="primary"
                                                               data-off-color="info" ng-model="filter.government"
                                                               ng-true-value="true" ng-false-value="false">{{'employee' | translate}}
                                                    </span>
                                            </label>
                                            <label class="control-label col-md-2" style="padding: 0; " ng-show="can('reports.case.MinistryOfEconomy') && (filter.using == 1)">

                                                <span style="line-height: 30px" class="bold">
                                                <input type="checkbox" data-on-color="primary"
                                                       data-off-color="info" ng-model="filter.commercial"
                                                       ng-true-value="true" ng-false-value="false">{{'commercial info'| translate}}
                                            </span>
                                            </label>
                                            <label class="control-label col-md-2" style="padding: 0; " ng-show="can('reports.case.MinistryOfHealth') && (filter.using == 1)">
                                                <span style="line-height: 30px" class="bold">
                                                <input type="checkbox" data-on-color="primary"
                                                       data-off-color="info" ng-model="filter.health"
                                                       ng-true-value="true" ng-false-value="false">{{'health record'| translate}}
                                            </span>
                                            </label>
                                            <label class="control-label col-md-2" style="padding: 0; " ng-show="(filter.using == 1)">
                                                <span style="line-height: 30px" class="bold" >
                                                <input type="checkbox" data-on-color="primary"
                                                       data-off-color="info" ng-model="filter.aids_committee"
                                                       ng-true-value="true" ng-false-value="false">{{'aids committee'| translate}}
                                            </span>
                                            </label>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                    <div class="col-md-4 col-sm-12 col-xs-12 text-center" style="padding-top: 5px;">
                                        <div class="clearfix   " style="width: 100%">
                                            <!--<button class="btn red-pink " type="button" ng-click="resetFilters()">-->
                                            <!--<span class="fa fa-trash-o"></span>-->
                                            <!--<span class="hidden-sm hidden-md  hidden-xs">{{'reset filter'| translate}}</span>-->
                                            <!--</button>-->
                                            <button class="btn blue pull-left " ng-click="searchFilter(filter,'paginate')" style="width: 100%"type="button">
                                                <span class="icon-magnifier"></span>
                                                <span class="hidden-sm hidden-md  hidden-xs"> {{'search'| translate}}</span>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12  col-sm-12 col-xs-12" ng-show="items.length == 0" style="margin-top: 0.5%; padding: 0%">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show'| translate}}</span>
                        </div>
                    </div>
                    <div class="col-md-12  col-sm-12 col-xs-12" ng-if="items.length > 0 " style="min-height: 500px; padding-top: 2%; padding-bottom: 2%; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " >
                        <div class="table-scrollable" ng-if="items.length > 0 ">
                            <table class="text-center table table-striped table-bordered table-hover table-checkable order-column text-center"  ng-if="items.length > 0 ">
                                <thead>
                                <tr style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">
                                    <th class="text-center" > {{'#'| translate}} </th>
                                    <th class="text-center" style="width: 30%">    {{"name"| translate}} </th>
                                    <th class="text-center">    {{"id_card_number"| translate}} </th>
                                    <th class="text-center"style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;">    {{"PREV_LNAME_ARB"| translate}} </th>
                                    <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;">    {{"gender"| translate}} </th>
                                    <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;">    {{"marital_status_id"| translate}} </th>
                                    <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;">    {{"birthday"| translate}} </th>
                                    <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;">    {{"death_date"| translate}} </th>
                                    <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;">    {{"mobile"| translate}} </th>
                                    <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;">    {{"district"| translate}} </th>
                                    <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;">    {{"city"| translate}} </th>
                                    <th ng-if="display.social"class="text-center" style="width: 8%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;">    {{"status"| translate}} <br> ( {{'social affairs' | translate}} ) </th>
                                    <th ng-if="display.government"class="text-center" style="width: 8%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;">     {{'employee' | translate}}  </th>
                                    <th ng-if="display.commercial"class="text-center" style="width: 8%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;">    {{'commercial info'| translate}}  </th>
                                    <th ng-if="display.health"class="text-center" style="width: 8%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;">    {{'health record'| translate}} </th>
                                    <th ng-if="display.aids_committee"class="text-center" style="width: 8%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;">      {{'aids committee'| translate}} </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in items">
                                    <td>{{ ( $index +1 )}}</td>
                                    <td>
                                        <a class="btn btn-xs bold font-blue"
                                           style=" background-color: transparent"
                                           target="_blank"
                                           href="#/reports/searchAll/{{item.IDNO}}">
                                            {{  item.FULLNAME}}
                                        </a>
                                        <br>
                                        <button class="btn  btn-xs bold font-green-turquoise fa fa-file-excel-o" style="font-size: medium; background-color: transparent"
                                                ng-click="export('xlsx',item.IDNO)" type="button" >
                                        </button>

                                        <button class="btn  btn-xs bold font-red-pink fa fa-file-pdf-o" style="font-size: medium; background-color: transparent"
                                                ng-click="export('pdf',item.IDNO)" type="button" >
                                        </button>
                                    </td>
                                    <td>{{item.IDNO}} </td>
                                    <td>{{item.PREV_LNAME_ARB == null ? '-' :item.PREV_LNAME_ARB}} </td>
                                    <td>{{item.SEX }}</td>
                                    <td>{{item.SOCIAL_STATUS }}</td>
                                    <td>{{item.BIRTH_DT == null ? '-' :item.BIRTH_DT}}</td>
                                    <td>{{item.DETH_DT == null ? '-' :item.DETH_DT}}</td>
                                    <td>{{item.MOBILE == null ? '-' :item.MOBILE}}</td>
                                    <td>{{item.CI_REGION }}</td>
                                    <td>{{item.CI_CITY }}</td>
                                    <td ng-if="display.social"> {{item.social_affairs}}</td>
                                    <td ng-if="display.government"> {{item.government}}</td>
                                    <td ng-if="display.commercial"> {{item.commercial}}</td>
                                    <td ng-if="display.health"> {{item.health}}</td>
                                    <td ng-if="display.aids_committee"> {{item.aids_committee}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
