<!-- BEGIN PAGE BREADCRUMB -->


<style>
    .tabbable-line>.nav-tabs>li.active{
        border-bottom: 4px solid #3598dc;
        background-color: #e7ecf1 !important;
    }

    .tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover{
        border-bottom: 4px solid #3598dc;
    }

    .portlet.light>.portlet-title>.nav-tabs>li{
        border-radius: 10px 10px 0px 0px;
    }
</style>
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i>{{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'reports and queries'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'search_on' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a href="#/reports/socialAffairs" >  {{'SOCIAL_AFFAIRS'| translate}}</a>
        <i ng-if="name" class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right' : 'glyphicon glyphicon-menu-left'}}"></i>
    </li>
    <li class="active" ng-if="name">
        <a href="#/reports/socialAffairs/{{filter.id_card_number}}" > {{name}}</a>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <h3 ng-if="name">
                        <i class="fa fa fa-sticky-note-o" aria-hidden="true"></i>
                        <span>  {{name}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <button  class=" btn green-turquoise " ng-if="success" ng-click="export('xlsx')" type="button" >
                            <span style="margin-left:3%;" class="fa fa-file-excel-o"></span>
                            <span style="margin-left:3%;"  class="hidden-sm hidden-md  hidden-xs">{{'export'| translate}}</span>
                        </button>
                        <button  class=" btn red-pink " ng-if="success" ng-click="export('pdf')" type="button" >
                            <span class="fa fa-file-pdf-o"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="portlet-body" style="min-height: 600px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding: 0px 20px 20px 20px;">
                        <div class="col-md-12 col-sm-12 portlet light" ng-if="success && filter.using == 1"
                             style="padding-top: 2%; padding-bottom: 2%; box-sizing: border-box; border-radius:10px; border: 2px #e7ecf1 solid; ">
                            <div class="portlet-title tabbable-line">
                                <ul class="nav nav-tabs pull-left">
                                    <li class="active">
                                        <a href="#" data-target="#tab_1_0" data-toggle="tab"> {{'basic info'| translate}} </a>
                                    </li>
                                    <li  ng-show="row.parent.length > 0 ">
                                        <a data-target="#tab_1_3" data-toggle="tab">{{'parents'| translate}}</a>
                                    </li>
                                    <li  ng-show="row.wives.length > 0 ">
                                        <a href="#" data-target="#tab_1_1" data-toggle="tab">{{'wives or husbands'| translate}}</a>
                                    </li>
                                    <li  ng-show="row.childrens.length > 0 ">
                                        <a href="#" data-target="#tab_1_2" data-toggle="tab">{{'childs'| translate}}</a>
                                    </li>
                               </ul>
                            </div>
                            <div class="portlet-body  text-center"  style="min-height: 450px;">
                                <div class="tab-content" style="padding: 10px;">
                                    <div class="tab-pane active" id="tab_1_0">
                                        <form role="form" action="#">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div  ng-class="{'col-md-3  col-sm-12 col-xs-12 col_float':ShowCitizenImage,'col-md-12  col-sm-12 col-xs-12 col_float': !ShowCitizenImage}" style="padding-right:0%;">
                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                        <div class="fileinput-new thumbnail">
                                                            <img   id="img"
                                                                   ng-src="{{row.photo_url}}"
                                                                   display-img
                                                                   data-url="{{row.photo_url}}"
                                                                   alt="">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-class="{'col-md-9  col-sm-12 col-xs-12':ShowCitizenImage,'col-md-12  col-sm-12 col-xs-12': !ShowCitizenImage}">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label bold">   {{ 'full_name' | translate}} </label>
                                                            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{name == null ? '-' :name}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label bold">   {{'card_number' | translate }} </label>
                                                            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{filter.id_card_number == null ? '-' :filter.id_card_number}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="control-label bold">   {{ 'en_name' | translate}} </label>
                                                            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.ENG_NAME == null ? '-' :row.ENG_NAME}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label bold">   {{ 'prev_family_name' | translate}} </label>
                                                            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.PREV_LNAME_ARB == null ? '-' :row.PREV_LNAME_ARB}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label bold">   {{ 'gender' | translate}} </label>
                                                            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.SEX == null ? '-' :row.SEX}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label bold">   {{ 'marital_status' | translate}} </label>
                                                            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.SOCIAL_STATUS == null ? '-' :row.SOCIAL_STATUS}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label bold">   {{ 'birthday' | translate}} </label>
                                                            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.BIRTH_DT == null ? '-' :row.BIRTH_DT}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label bold">   {{ 'family_cnt' | translate}} </label>
                                                            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.family_cnt == null ? '-' :row.family_cnt}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label bold">   {{ 'spouses' | translate}} </label>
                                                            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.spouses == null ? '-' :row.spouses}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label bold">   {{ 'male_live' | translate}} </label>
                                                            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.male_live == null ? '-' :row.male_live}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label bold">   {{ 'female_live' | translate}} </label>
                                                            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.female_live == null ? '-' :row.female_live}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label bold">   {{ 'primary_mobile' | translate}} </label>
                                                            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.MOBILE == null ? '-' :row.MOBILE}}</p>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label bold">   {{ 'phone' | translate}} </label>
                                                            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.TEL == null ? '-' :row.TEL}}</p>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label bold">   {{ 'address' | translate}} </label>
                                                            <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;">
                                                                {{
                                                                row.CI_REGION + ' - ' + row.CI_CITY  + ' - ' + row.STREET_ARB
                                                                }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-md-12 col-sm-12 col-xs-12 text-center"
                                                     style="margin-bottom: 2%" ng-if="row.social_affairs">
                                                    <div class="well well-lg bold font-blue" style="text-align: center; vertical-align: middle !important;">
                                                        <h5 class="bold">
                                                            {{'aid_status'| translate}}    :  {{row.social_affairs_status}}
                                                        </h5>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label bold">   {{ 'aid_class' | translate}} </label>
                                                        <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.AID_CLASS == null ? '-' :row.AID_CLASS}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label bold">   {{ 'aid_type' | translate}} </label>
                                                        <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.AID_TYPE == null ? '-' :row.AID_TYPE}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label bold">   {{ 'aid_amount' | translate}} </label>
                                                        <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.AID_AMOUNT == null ? '-' :row.AID_AMOUNT}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label bold">   {{ 'aid_source' | translate}} </label>
                                                        <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.AID_SOURCE == null ? '-' :row.AID_SOURCE}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label bold">   {{ 'aid_periodic' | translate}} </label>
                                                        <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.AID_PERIODIC == null ? '-' :row.AID_PERIODIC}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label bold">   {{ 'aid_st_ben_date' | translate}} </label>
                                                        <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.ST_BENEFIT_DATE == null ? '-' :row.ST_BENEFIT_DATE}}</p>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-12 col-xs-12">
                                                    <div class="form-group">
                                                        <label class="control-label bold">   {{ 'aid_end_ben_date' | translate}} </label>
                                                        <p class="form-control text-center" style="min-height: 34px !important;height: auto !important;"> {{row.END_BENEFIT_DATE == null ? '-' :row.END_BENEFIT_DATE}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="row.social_affairs_receipt != 'null' && row.social_affairs_receipt != null " style=" border-top: 2px #f1f4f7 solid; padding-top: 20px;margin-top: 20px;">
                                                <h4 class="text-center bold font-blue" > {{'social_affairs_receipt'| translate}} </h4><br><br>
                                                <div class="table-responsive"   ng-show="row.social_affairs_receipt.length > 0 ">
                                                    <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                                                        <thead>
                                                        <tr style="background-color: #f3f3f3!important; color: #337ab7; height:40px; line-height: 40px; font-size: 30px; ">
                                                            <th class="text-center">  {{'#'| translate}} </th>
                                                            <th class="text-center">  {{'SRV_INF_NAME'| translate}} </th>
                                                            <th class="text-center">  {{'ORG_NM_MON'| translate}} </th>
                                                            <th class="text-center">  {{'SRV_TYPE_MAIN_NM'| translate}} </th>
                                                            <th class="text-center">  {{'CURRENCY'| translate}} </th>
                                                            <th class="text-center">  {{'RECP_AID_AMOUNT'| translate}} </th>
                                                            <th class="text-center">  {{'RECP_DELV_DT'| translate}} </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="x in row.social_affairs_receipt  | orderBy : 'RECP_DELV_DT'" >
                                                            <td>{{$index + 1 }}</td>
                                                            <td>{{x.SRV_INF_NAME == null ? '-' :x.SRV_INF_NAME}}</td>
                                                            <td>{{x.ORG_NM_MON == null ? '-' :x.ORG_NM_MON}}</td>
                                                            <td>{{x.SRV_TYPE_MAIN_NM == null ? '-' :x.SRV_TYPE_MAIN_NM}}</td>
                                                            <td>{{x.CURRENCY == null ? '-' :x.CURRENCY}}</td>
                                                            <td>{{x.RECP_AID_AMOUNT == null ? '-' :x.RECP_AID_AMOUNT}}</td>
                                                            <td>{{x.RECP_DELV_DT == null ? '-' :x.RECP_DELV_DT}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div ng-show="row.social_affairs_receipt.length ==0 " class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                                                    <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                <span>
                                                                    {{'there is no data to show'| translate}}
                                                                </span>
                                                    </div>
                                                </div>                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12  margin-top-10" ng-if="can('reports.case.RelayCitizenRepository')" style="border-top: 2px #f1f4f7 solid; padding-top: 20px; margin-top: 20px;">
                                                <h4 class="text-center bold font-blue" > {{"cases list"| translate }} </h4>
                                                <div class="col-md-12 col-sm-12 col-xs-12text-center " style="margin-bottom: 2%">
                                                    <div class="btn-group pull-right"  uib-dropdown ng-if="can('reports.case.RelayCitizenRepository')">
                                                        <button id="single-button" type="button"
                                                                uib-tooltip="{{'relay'| translate}}" class="btn blue pull-right" uib-dropdown-toggle>
                                                            <span class="fa fa-exchange"></span>
                                                            <span  class="hidden-sm hidden-md  hidden-xs">{{'relay'| translate}}</span>
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button" style="min-width: 10px !important;">
                                                            <li>
                                                                <a ng-click="relay_(2)"  class="iconify">
                                                                    <i class="icon-support" style="margin-left: 4%"></i>
                                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'aid'| translate}}</span>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a ng-click="relay_(1)" class="iconify">
                                                                    <i class="icon-present" style="margin-left: 4%"></i>
                                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'sponsorship'| translate}}</span>
                                                                </a>
                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                                <div  ng-show="row.cases_list.length == 0"  class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                                                    <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                        <span> {{ 'not registered case' | translate}} </span>
                                                    </div>
                                                </div>
                                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" ng-show="row.cases_list.length > 0">
                                                    <thead>
                                                    <tr style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">
                                                        <th class="text-center" > {{"#"| translate }}</th>
                                                        <th class="text-center" > {{"case_category_type"| translate }}</th>
                                                        <th class="text-center" > {{"organization name"| translate }}</th>
                                                        <th class="text-center" > {{"status"| translate }}</th>
                                                        <th class="text-center" > {{"visitor"| translate }}</th>
                                                        <th class="text-center" > {{"visited_at"| translate }}</th>
                                                        <th class="text-center"> {{"created_at"| translate }}</th>
                                                        <th class="text-center"> {{"operations"| translate }}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="item in row.cases_list">
                                                        <td>{{ $index +1}}</td>
                                                        <td>{{ item.category_name }}</td>
                                                        <td>{{ item.organization_name }} </td>
                                                        <td>{{ item.status }}</td>
                                                        <td>{{ item.visitor }}</td>
                                                        <td>{{ item.visited_at }}</td>
                                                        <td>{{ item.created_date }}</td>
                                                        <td>
                                                            <a  ng-show="item.category_type == 2 || item.category_type == '2'"
                                                                target="_blank"
                                                                uib-tooltip="{{'show case data' | translate}}"
                                                                href="#/aids/caseform/{{aidCategories_firstStep_map[item.category_id]}}/{{item.category_id}}/show/{{item.case_id}}"
                                                                class="btn btn-xs bold btn font-blue fa fa-eye" style="font-size: medium; background-color: transparent">
                                                            </a>

                                                            <a  ng-show="item.category_type == 1 || item.category_type == '1'"
                                                                target="_blank"
                                                                uib-tooltip="{{'show case data' | translate}}"
                                                                href="#/sponsorship/cases/show/{{item.case_id}}/"
                                                                class="btn btn-xs bold btn font-blue fa fa-eye" style="font-size: medium; background-color: transparent">
                                                            </a>

                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="tab-pane" id="tab_1_3" ng-show="row.parent.length > 0 " >
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                            <h4 class="font-blue bold"> {{'parents'| translate}} </h4>

                                            <div class="table-responsive" ng-show="row.parent.length > 0">
                                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                                                    <thead>
                                                    <tr style="background-color: #f3f3f3!important; color: #337ab7; height:40px; line-height: 40px; font-size: 30px; ">
                                                        <th class="text-center">  {{'#'| translate}} </th>
                                                        <th class="text-center">  {{'id_card_number'| translate}} </th>
                                                        <th class="text-center">  {{'name'| translate}} </th>
                                                        <th class="text-center">  {{'prev_family_name'| translate}} </th>
                                                        <th class="text-center">  {{'marital_status'| translate}} </th>
                                                        <th class="text-center">  {{'birthday'| translate}} </th>
                                                        <th class="text-center">  {{'death_date'| translate}} </th>
                                                        <th class="text-center">  {{'status'| translate}} </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="item in row.parent  | orderBy : 'FNAME_ARB'">
                                                        <td>{{  $index + 1 }}</td>
                                                        <td>{{  item.IDNO_RELATIVE }}</td>
                                                        <td>
                                                            <a class="btn btn-xs bold font-blue"
                                                               style=" background-color: transparent"
                                                               target="_blank"
                                                               ng-if="item.social_affairs"
                                                               href="#/reports/socialAffairs/{{item.IDNO_RELATIVE}}">
                                                                {{  item.FULLNAME}}
                                                            </a>
                                                            <span ng-if="!item.social_affairs">{{  item.FULLNAME}}</span>
                                                        </td>
                                                        <td>{{item.PREV_LNAME_ARB == null ? item.LNAME_ARB :item.PREV_LNAME_ARB}}</td>
                                                        <td>{{item.SOCIAL_STATUS == null ? '-' :item.SOCIAL_STATUS}}</td>
                                                        <td>{{item.BIRTH_DT == null ? '-' :item.BIRTH_DT}}</td>
                                                        <td>{{item.DETH_DT == null ? '-' :item.DETH_DT}}</td>
                                                        <td>{{item.social_affairs_status}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-show="row.parent.length ==0 " class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                                                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                <span>
                                                                    {{'there is no data to show'| translate}}
                                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_1_1" ng-show="row.wives.length > 0 ">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                            <h4 class="font-blue bold"> {{'wives or husbands'| translate}} </h4>

                                            <div class="table-responsive" ng-show="row.wives.length > 0">
                                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                                                    <thead>
                                                    <tr style="background-color: #f3f3f3!important; color: #337ab7; height:40px; line-height: 40px; font-size: 30px; ">
                                                        <th class="text-center">  {{'#'| translate}} </th>
                                                        <th class="text-center">  {{'id_card_number'| translate}} </th>
                                                        <th class="text-center">  {{'name'| translate}} </th>
                                                        <th class="text-center">  {{'prev_family_name'| translate}} </th>
                                                        <th class="text-center">  {{'marital_status'| translate}} </th>
                                                        <th class="text-center">  {{'birthday'| translate}} </th>
                                                        <th class="text-center">  {{'death_date'| translate}} </th>
                                                        <th class="text-center">  {{'status'| translate}} </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="item in row.wives  | orderBy : 'FNAME_ARB'">
                                                        <td>{{  $index + 1 }}</td>
                                                        <td>{{  item.IDNO_RELATIVE }}</td>
                                                        <td>
                                                            <a class="btn btn-xs bold font-blue"
                                                               style=" background-color: transparent"
                                                               target="_blank"
                                                               ng-if="item.social_affairs"
                                                               href="#/reports/socialAffairs/{{item.IDNO_RELATIVE}}">
                                                                {{  item.FULLNAME}}
                                                            </a>
                                                            <span ng-if="!item.social_affairs">{{  item.FULLNAME}}</span>
                                                        </td>
                                                        <td>{{item.PREV_LNAME_ARB == null ? item.LNAME_ARB :item.PREV_LNAME_ARB}}</td>
                                                        <td>{{item.SOCIAL_STATUS == null ? '-' :item.SOCIAL_STATUS}}</td>
                                                        <td>{{item.BIRTH_DT == null ? '-' :item.BIRTH_DT}}</td>
                                                        <td>{{item.DETH_DT == null ? '-' :item.DETH_DT}}</td>
                                                        <td>{{item.social_affairs_status}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-show="row.wives.length ==0 " class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                                                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                <span>
                                                                    {{'there is no data to show'| translate}}
                                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab_1_2" ng-show="row.childrens.length > 0 ">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                            <h4 class="font-blue bold"> {{'childs'| translate}} </h4>
                                            <div class="table-responsive" ng-show="row.childrens.length > 0 ">
                                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                                                    <thead>
                                                    <tr style="background-color: #f3f3f3!important; color: #337ab7; height:40px; line-height: 40px; font-size: 30px; ">
                                                        <th class="text-center">  {{'#'| translate}} </th>
                                                        <th class="text-center">  {{'id_card_number'| translate}} </th>
                                                        <th class="text-center">  {{'name'| translate}} </th>
                                                        <th class="text-center">  {{'gender'| translate}} </th>
                                                        <th class="text-center">  {{'marital_status'| translate}} </th>
                                                        <th class="text-center">  {{'birthday'| translate}} </th>
                                                        <th class="text-center">  {{'death_date'| translate}} </th>
                                                        <th class="text-center">  {{'mother_name'| translate}} </th>
                                                        <th class="text-center">    {{"status"| translate}} </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="item in row.childrens  | orderBy : 'BIRTH_DT'" >
                                                        <td>{{$index + 1 }}</td>
                                                        <td>{{item.IDNO_RELATIVE }}</td>
                                                        <td>
                                                            <a class="btn btn-xs bold font-blue"
                                                               style=" background-color: transparent"
                                                               target="_blank"
                                                               ng-if="item.social_affairs"
                                                               href="#/reports/socialAffairs/{{item.IDNO_RELATIVE}}">
                                                                {{  item.FULLNAME}}
                                                            </a>
                                                            <span ng-if="!item.social_affairs">{{  item.FULLNAME}}</span>
                                                        </td>

                                                        <td>{{item.SEX == null ? '-' :item.SEX}}</td>
                                                        <td>{{item.SOCIAL_STATUS == null ? '-' :item.SOCIAL_STATUS}}</td>
                                                        <td>{{item.BIRTH_DT == null ? '-' :item.BIRTH_DT}}</td>
                                                        <td>{{item.DETH_DT == null ? '-' :item.DETH_DT}}</td>
                                                        <td>{{item.MOTHER_ARB == null ? '-' :item.MOTHER_ARB}}</td>
                                                        <td>{{item.social_affairs_status}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div ng-show="row.childrens.length ==0 " class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                                                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                <span>
                                                                    {{'there is no data to show'| translate}}
                                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

<style type="text/css">
    @media (min-width: 992px){
        .col_float{
            float: left !important;
        }
    }

</style>
