<style>
    .pointer {
        cursor: pointer !important;
    }
</style>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" >
        <span>{{'manage-suggestions'| translate}}</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <h3>
                        <span  class="fa fa-check-square-o"></span>
                        <span> {{'manage-suggestions'| translate}}</span>
                    </h3>
                </div>
            </div>
            <div class="portlet-body">
               <div class="table-container">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1%;padding-top: 4%;padding-bottom: 2%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                        <form name="form" method="get"  ng-submit="search()">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label bold">{{'subject' | translate}} </label>
                                            <input type="text" ng-model="filters.subject" autofocus placeholder="{{'subject' | translate}}" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label bold">{{'From' | translate}} </label>
                                            <div class="input-group">
                                                <input type="text" is-open="from.opened" readonly ng-model="filters.from" uib-datepicker-popup="{{'yyyy-MM-dd'}}" placeholder="{{'From' | translate}}" class="form-control">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn fa fa-calendar btn-default" ng-click="from.opened = true"><i ></i></button>
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="control-label bold">{{'To' | translate}} </label>
                                            <div class="input-group">
                                                <input type="text" is-open="to.opened"readonly ng-model="filters.to" uib-datepicker-popup="{{'yyyy-MM-dd'}}" placeholder="{{'To' | translate}}" class="form-control">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn fa fa-calendar btn-default" ng-click="to.opened = true"><i ></i></button>
                                                </span>
                                            </div>

                                        </div>
                                    </div>

                                </div>


                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-5" >
                                        <div class="form-group" ng-if="options.users">
                                            <label class="control-label bold">{{'User' | translate}} </label>
                                            <multiselect  ng-model="filters.user_id"
                                                          options="options.users" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                            </multiselect>
                                        </div>
                                    </div>
                                    <div class="col-md-3 "></div>
                                    <div class="col-md-4 " style="padding-top: 20px;">
                                        <div class="clearfix pull-right">
                                            <button class="btn red-pink " type="button" ng-click="resetFilter()">
                                                <span class="fa fa-trash-o"></span>
                                                <span class="hidden-sm hidden-md  hidden-xs"> {{'reset filter' | translate}}</span>
                                            </button>
                                            <button uib-tooltip=" {{'search' | translate}}" class=" btn blue"
                                                    ng-click="filterSuggestion(filters)" type="submit" >
                                                <span class="icon-magnifier"></span>
                                                <span class="hidden-sm hidden-md  hidden-xs"> {{'search' | translate}}</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                   <!--<div class="btn-group">-->
                       <!--<button uib-tooltip="{{'delete' | translate}}" type="button" class="btn red-pink"  ng-click="deleteSuggestion()" >-->
                           <!--<span class="fa fa-trash"></span>-->
                           <!--<span  class="hidden-sm hidden-md  hidden-xs">{{'delete' | translate}}</span>-->
                       <!--</button>-->

                   <!--</div>-->
                   <div class="table-scrollable" ng-show = "allSuggestion.length > 0">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                            <thead>
                                <tr  style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                    <td class="inbox-small-cells text-center bold" style="width:1%">  {{'#' | translate}}</td>
                                    <!--<td class="inbox-small-cells" >-->
                                        <!--&lt;!&ndash;<a ttitle="{{'delete' | translate}}" class="btn fa  fa-fw fa-lg fa-trash-o font-red-pink bold" href="#" ng-click="deleteSuggestion()"&ndash;&gt;-->
                                           <!--&lt;!&ndash;style="padding: 0px;margin-left: 0px;background-color: transparent;"></a>&ndash;&gt;-->
                                        <!--<input ng-click="change(0,active,true)" type="checkbox"  ng-model="active" ng-checked="activeAll" id="checkboxall">-->
                                    <!--</td>-->
                                    <!--<th class="inbox-small-cells"style="width:7%">-->
                                        <!--<a title="{{'delete' | translate}}" class="btn fa  fa-fw fa-lg fa-trash-o font-red-pink bold" href="#" ng-click="delete(suggestion.id)"-->
                                           <!--style="padding: 0px;margin-left: 0px;background-color: transparent;"></a>-->
                                    <!--</th>-->
                                    <th class="inbox-small-cells text-center bold" style="width: 20%;"> {{'user_name' | translate}} </th>
                                    <th class="view-message text-center bold" style="width: 45%; padding-right:20px;"> {{'subject' | translate}} </th>
                                    <th class="view-message text-center bold" style="width: 12%;"> {{'date' | translate}} </th>
                                    <th class="view-message text-center bold" style="width: 12%;"> {{'Time' | translate}} </th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="item in allSuggestion|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage"
                                class="pointer" ng-click="GoTo(item.id)">
                                <td class="view-message text-left">{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                <!--<td class="inbox-small-cells" >-->
                                    <!--&lt;!&ndash;<a title="{{'delete' | translate}}"  class="btn fa  fa-fw fa-lg fa-trash-o font-red-pink bold" href="#" ng-click="delete(suggestion.id)"&ndash;&gt;-->
                                       <!--&lt;!&ndash;style="padding: 0px;margin-left: 0px;background-color: transparent;"></a>&ndash;&gt;-->
                                    <!--<input  type="checkbox" id="checkboxoption" ng-model="active" ng-click="change(suggestion.id,active,false)">-->
                                <!--</td>-->
                                <td  class="view-message bold" style="vertical-align: middle;">{{item.user_name}}</td>
                                <td class="view-message text-left bold">
                                    <a href="#/suggestions/manage/{{item.id}}"> {{item.subject}}</a>
                                </td>
                                <td  class="text-center bold" style="vertical-align: middle;">
                                    <span title="{{item.created_at| date :'yyyy-M-d'}}">  {{item.date| date :'yyyy-M-d'}} </span>
                                </td>
                                <td class="text-center bold" style="vertical-align: middle;">
                                    <span title=" {{item.pm + ' '+ item.time}}"> {{item.pm + ' '+ item.time}}</span>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12" ng-show="allSuggestion.length > 0 "  >
                        <uib-pagination class="pull-right" total-allSuggestion="TotalItems" ng-model="CurrentPage"
                                        max-size="maxSize" allSuggestion-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)"
                                        class="pagination-sm" boundary-links="true"
                                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                    </div>
                </div>

                <div  ng-show="allSuggestion.length <= 0 "  class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                    <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                        <span>{{'there is no suggestions'| translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

