<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3" ng-show="fpriority.id_card_number!==1">
            <div class="form-group ">
                <label class="control-label bold ">{{'card_number' | translate }}</label>
                <span class=" text-success bold help-inline" ng-if="fpriority.id_card_number ==2"> ( {{'optional' | translate }} )</span>
                <span class=" text-success bold help-inline" ng-if="fpriority.id_card_number ==3"> ( {{'advisable' | translate }} )</span>
                <span class=" font-red-pink bold help-inline" ng-if="fpriority.id_card_number ==4"> ({{'mandatory' | translate }})</span>
                <input type="text" ng-change="isExists('father',father.id_card_number)" class="form-control"
                       numeric-only maxlength="9" ng-model="father.id_card_number"  name="id_card_number"  ng-required="fpriority.id_card_number==4"
                />
                         <span ng-repeat="(error, errortext) in msg1.id_card_number"
                               class="font-red-pink bold help-inline"
                               ng-show="status1=='failed_valid' && 'msg1.id_card_number' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
            </div>
        </div>
        <div class="col-md-3" ng-if="fpriority.card_type !=1">
            <div class="form-group">
                <label class="control-label bold">   {{'card_type' | translate }} </label>
                <span class=" text-success bold help-inline" ng-if="fpriority.card_type ==2"> ({{'optional' | translate }})</span>
                <span class=" text-success bold help-inline" ng-if="fpriority.card_type ==3"> ({{'advisable' | translate }})</span>
                <span class=" font-red-pink bold help-inline" ng-if="fpriority.card_type ==4"> ({{'mandatory' | translate }})</span>
                <select class="form-control"
                        ng-init=""
                        ng-change="msg1.card_type = [ ]"
                        name="card_type"
                        ng-model='father.card_type'
                        ng-required="fpriority.card_type ==4"
                >
                    <option disabled selected value > --  {{'card_type' | translate }}  -- </option>
                    <option value="1">  {{'id_card' | translate }} </option>
                    <option value="2">  {{'id_number' | translate }} </option>
                    <option value="3">  {{'passport' | translate }} </option>
                </select>

                <span ng-repeat="(error, errortext) in msg1.card_type"
                      class="font-red-pink bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg1.card_type' != [ ]" >
                                       {{ errortext.toString() }}
                                     </span>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3" ng-show="fpriority.name!=1">
            <div class="form-group">
                <label class="control-label bold">{{'the_first_name_in_arabic' | translate }}</label>
                <span class=" text-success bold help-inline" ng-if="fpriority.name ==2"> ( {{'optional' | translate }} )</span>
                <span class=" text-success bold help-inline" ng-if="fpriority.name ==3"> ( {{'advisable' | translate }} )</span>
                <span class=" font-red-pink bold help-inline" ng-if="fpriority.name ==4"> ({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" ng-model="father.first_name" name="first_name" readonly arabic-alphabet   ng-change="msg1.first_name = [ ]" ng-required="fpriority.name==4"/>
                        <span ng-repeat="(error, errortext) in msg1.first_name"
                              class="font-red-pink bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.first_name' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="fpriority.name!=1">
            <div class="form-group ">
                <label class="control-label bold">{{'the_father_name_in_arabic' | translate }}</label>
                <span class=" text-success bold help-inline" ng-if="fpriority.name ==2"> ( {{'optional' | translate }} )</span>
                <span class=" text-success bold help-inline" ng-if="fpriority.name ==3"> ( {{'advisable' | translate }} )</span>
                <span class=" font-red-pink bold help-inline" ng-if="fpriority.name ==4"> ({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" ng-model="father.second_name" name="second_name" readonly arabic-alphabet   ng-required="fpriority.name==4" ng-change="msg1.second_name = [ ]"/>
                          <span ng-repeat="(error, errortext) in msg1.second_name"
                                class="font-red-pink bold help-inline"
                                ng-show="status1=='failed_valid' && 'msg1.second_name' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="fpriority.name!=1">
            <div class="form-group">
                <label class="control-label bold">
                    {{'the_grandfather_name_in_arabic' | translate }}
                </label>
                <span class=" text-success bold help-inline" ng-if="fpriority.name ==2"> ( {{'optional' | translate }} )</span>
                <span class=" text-success bold help-inline" ng-if="fpriority.name ==3"> ( {{'advisable' | translate }} )</span>
                <span class=" font-red-pink bold help-inline" ng-if="fpriority.name ==4"> ({{'mandatory' | translate }})</span>
                <input type="text" class="form-control"  readonly arabic-alphabet    ng-model="father.third_name"
                       name="third_name"
                       ng-required="fpriority.name==4"
                       ng-change="msg1.third_name = [ ]"/>
                 <span ng-repeat="(error, errortext) in msg1.third_name"
                       class="font-red-pink bold help-inline"
                       ng-show="status1=='failed_valid' && 'msg1.third_name' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="fpriority.name!=1">
            <div class="form-group ">
                <label class="control-label bold">{{'the_family_name_in_arabic' | translate }}</label>
                <span class=" text-success bold help-inline" ng-if="fpriority.name ==2"> ( {{'optional' | translate }} )</span>
                <span class=" text-success bold help-inline" ng-if="fpriority.name ==3"> ( {{'advisable' | translate }} )</span>
                <span class=" font-red-pink bold help-inline" ng-if="fpriority.name ==4"> ({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" ng-model="father.last_name"  readonly arabic-alphabet
                       name="last_name"
                       ng-required="fpriority.name==4"
                       ng-change="msg1.last_name = [ ]"/>
                         <span ng-repeat="(error, errortext) in msg1.last_name"
                               class="font-red-pink bold help-inline"
                               ng-show="status1=='failed_valid' && 'msg1.last_name' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3" ng-show="fpriority.name!=1">
            <div class="form-group">
                <label class="control-label bold">
                    {{'the_first_name_in_english' | translate }}
                </label>
                <span class=" text-success bold help-inline" ng-if="fpriority.name ==2"> ( {{'optional' | translate }} )</span>
                <span class=" text-success bold help-inline" ng-if="fpriority.name ==3"> ( {{'advisable' | translate }} )</span>
                <span class=" font-red-pink bold help-inline" ng-if="fpriority.name ==4"> ({{'mandatory' | translate }})</span>
                <input type="text" class="form-control"    ng-model="father.en_first_name"
                       name="en_first_name"
                       english-alphabet
                       ng-required="fpriority.name==4"
                       ng-change="msg1.en_first_name = [ ]"/>
                         <span ng-repeat="(error, errortext) in msg1.en_first_name"
                               class="font-red-pink bold help-inline"
                               ng-show="status1=='failed_valid' && 'msg1.en_first_name' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="fpriority.en_name!=1">
            <div class="form-group ">
                <label class="control-label bold">
                    {{'the_father_name_in_english' | translate }}
                </label>
                <span class=" text-success bold help-inline" ng-if="fpriority.en_name ==2"> ( {{'optional' | translate }} )</span>
                <span class=" text-success bold help-inline" ng-if="fpriority.en_name ==3"> ( {{'advisable' | translate }} )</span>
                <span class=" font-red-pink bold help-inline" ng-if="fpriority.en_name ==4"> ({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" ng-model="father.en_second_name"
                       name="en_second_name"
                       english-alphabet
                       ng-required="fpriority.en_name==4"
                       ng-change="msg1.en_second_name = [ ]"/>
                         <span ng-repeat="(error, errortext) in msg1.en_second_name"
                               class="font-red-pink bold help-inline"
                               ng-show="status1=='failed_valid' && 'msg1.en_second_name' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="fpriority.en_name!=1">
            <div class="form-group">
                <label class="control-label bold">
                    {{'the_grandfather_name_in_english' | translate }}
                </label>
                <span class=" text-success bold help-inline" ng-if="fpriority.en_name ==2"> ( {{'optional' | translate }} )</span>
                <span class=" text-success bold help-inline" ng-if="fpriority.en_name ==3"> ( {{'advisable' | translate }} )</span>
                <span class=" font-red-pink bold help-inline" ng-if="fpriority.en_name ==4"> ({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" ng-model="father.en_third_name"
                       name="en_third_name"
                       english-alphabet
                       ng-required="fpriority.en_name==4"
                       ng-change="msg1.en_third_name = [ ]"/>
                         <span ng-repeat="(error, errortext) in msg1.en_third_name"
                               class="font-red-pink bold help-inline"
                               ng-show="status1=='failed_valid' && 'msg1.en_third_name' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="fpriority.en_name!=1">
            <div class="form-group ">
                <label class="control-label bold">
                    {{'the_family_name_in_english' | translate }}
                </label>
                <span class=" text-success bold help-inline" ng-if="fpriority.en_name ==2"> ( {{'optional' | translate }} )</span>
                <span class=" text-success bold help-inline" ng-if="fpriority.en_name ==3"> ( {{'advisable' | translate }} )</span>
                <span class=" font-red-pink bold help-inline" ng-if="fpriority.en_name ==4"> ({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" ng-model="father.en_last_name"
                       name="en_last_name"
                       english-alphabet
                       ng-required="fpriority.en_name==4"
                       ng-change="msg1.en_last_name = [ ]"/>
                         <span ng-repeat="(error, errortext) in msg1.en_last_name"
                               class="font-red-pink bold help-inline"
                               ng-show="status1=='failed_valid' && 'msg1.en_last_name' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3" ng-show="fpriority.birthday!=1">
            <div class="form-group">
                <label class="control-label bold">{{'date_of_birth' | translate }}</label>
                <span class=" text-success bold help-inline" ng-if="fpriority.birthday ==2"> ( {{'optional' | translate }} )</span>
                <span class=" text-success bold help-inline" ng-if="fpriority.birthday ==3"> ( {{'advisable' | translate }} )</span>
                <span class=" font-red-pink bold help-inline" ng-if="fpriority.birthday ==4"> ({{'mandatory' | translate }})</span>
                <div > <!-- class="input-group" -->
                    <input type="text" class="form-control"  uib-datepicker-popup="{{format}}"
                           ng-model="father.birthday" datepickerPopup
                           name="birthday" ng-required="fpriority.birthday==4"

                           ng-change="checkBirthday('father',father.birthday)"
                           is-open="popup1.opened" datepicker-options="dateOptions"
                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly />
<!--                            <span class="input-group-btn">-->
<!--                                                                   <button type="button" class="btn btn-default" ng-click="open1($event)">-->
<!--                                                                       <i class="glyphicon glyphicon-calendar"></i>-->
<!--                                                                   </button>-->
<!--                                                                        </span>-->

                </div>
                         <span ng-repeat="(error, errortext) in msg1.birthday"
                               class="font-red-pink bold help-inline"
                               ng-show="status1=='failed_valid' && 'msg1.birthday' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="fpriority.spouses!=1">
            <div class="form-group ">
                <label class="control-label bold ">{{'the_number_of_spouses' | translate }} </label>
                <span class=" text-success bold help-inline" ng-if="fpriority.spouses ==2"> ( {{'optional' | translate }} )</span>
                <span class=" text-success bold help-inline" ng-if="fpriority.spouses ==3"> ( {{'advisable' | translate }} )</span>
                <span class=" font-red-pink bold help-inline" ng-if="fpriority.spouses ==4"> ({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" numeric-only ng-model="father.spouses"
                       name="spouses" ng-required="fpriority.spouses==4"  ng-change="msg1.spouses = [ ]" />
                         <span ng-repeat="(error, errortext) in msg1.spouses"
                               class="font-red-pink bold help-inline"
                               ng-show="status1=='failed_valid' && 'msg1.spouses' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="fpriority.working!=1" >
            <div class="form-group">
                <label class="control-label bold">{{'is_he_working?' | translate }}</label>
                <span class=" text-success bold help-inline" ng-if="fpriority.working ==2"> ( {{'optional' | translate }} )</span>
                <span class=" text-success bold help-inline" ng-if="fpriority.working ==3"> ( {{'advisable' | translate }} )</span>
                <span class=" font-red-pink bold help-inline" ng-if="fpriority.working ==4"> ({{'mandatory' | translate }})</span>
                <select class="form-control" ng-model="father.working"
                        ng-change="restValue(4,father.working)"

                        name="working" ng-required="fpriority.working==4">
                    <option disabled selected value> ---   {{'is_he_working?' | translate }} --- </option>
                    <option  value="1">{{'yes' | translate }}</option>
                    <option  value="2"  >{{'no' | translate }}</option>
                </select>
                         <span ng-repeat="(error, errortext) in msg1.working"
                               class="font-red-pink bold help-inline"
                               ng-show="status1=='failed_valid' && 'msg1.working' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group ">
                <label class="control-label ">{{'work_type' | translate }}</label>
                <span class=" font-red-pink bold help-inline" ng-if="father.working ==1"> ({{'mandatory' | translate }})</span>

                <div class="input-group">
                    <ui-select
                            ng-disabled="father.working !=1"
                            ng-required="father.working !=2"
                            ng-model="father.work_job_id"
                            name="work_job_id" ng-change="msg1.work_job_id = [ ]" theme="bootstrap" class="text-right" >
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item.id as item in WorkJob | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                                                                <button type="button" ng-click="father.work_job_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                </div>
                         <span ng-repeat="(error, errortext) in msg1.work_job_id"
                               class="font-red-pink bold help-inline"
                               ng-show="status1=='failed_valid' && 'msg1.work_job_id' != [ ]" >
                                         {{ errortext.toString() }}
                          </span>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3" >
            <div class="form-group">
                <label class="control-label bold">{{'work_location' | translate }}</label>
                <span class=" font-red-pink bold help-inline"ng-if="father.working==1">({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" ng-model="father.work_location" ng-disabled="father.working != '1'"
                       name="work_location"
                       ng-change="msg1.work_location = [ ]"/>
                                                     <span ng-repeat="(error, errortext) in msg1.work_location"
                                                           class="font-red-pink bold help-inline"
                                                           ng-show="status1=='failed_valid' && 'msg1.work_location' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group ">
                <label class="control-label bold">{{'monthly_income' | translate }}</label>
                <span class=" font-red-pink bold help-inline" ng-if="father.working ==1"> ({{'mandatory' | translate }})</span>

                <input type="text" class="form-control" ng-disabled="father.working !=1"
                       ng-model="father.monthly_income"
                       name="monthly_income"
                       placeholder=" {{'monthly_income' | translate }}"
                       decimal-numbers
                       ng-change="msg1.monthly_income = [ ]" />
                         <span ng-repeat="(error, errortext) in msg1.monthly_income"
                               class="font-red-pink bold help-inline"
                               ng-show="status1=='failed_valid' && 'msg1.monthly_income' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="fpriority.degree!=1">
            <div class="form-group">
                <label class="control-label bold">{{'qualification' | translate }}</label>
                <span class=" text-success bold help-inline" ng-if="fpriority.degree ==2"> ( {{'optional' | translate }} )</span>
                <span class=" text-success bold help-inline" ng-if="fpriority.degree ==3"> ( {{'advisable' | translate }} )</span>
                <span class=" font-red-pink bold help-inline" ng-if="fpriority.degree ==4"> ({{'mandatory' | translate }})</span>

                <div class="input-group">
                    <ui-select
                            ng-model="father.degree" ng-change="msg1.degree = [ ]"  name="degree"
                            ng-required="fpriority.degree==4"
                            theme="bootstrap" class="text-right" >
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item.id as item in EduDegrees | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                                                                         <button type="button" ng-click="father.degree = undefined" class="btn btn-default">
                                                                                  <span class="glyphicon glyphicon-trash"></span>
                                                                         </button>
                                                                     </span>
                </div>
                         <span ng-repeat="(error, errortext) in msg1.degree"
                               class="font-red-pink bold help-inline"
                               ng-show="status1=='failed_valid' && 'msg1.degree' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>

            </div>

        </div>
        <div class="col-md-3" ng-show="fpriority.specialization!=1">
            <div class="form-group ">
                <label class="control-label bold">{{'Specialization' | translate }} </label>
                <span class=" text-success bold help-inline" ng-if="fpriority.specialization ==2"> ( {{'optional' | translate }} )</span>
                <span class=" text-success bold help-inline" ng-if="fpriority.specialization ==3"> ( {{'advisable' | translate }} )</span>
                <span class=" font-red-pink bold help-inline" ng-if="fpriority.specialization ==4"> ({{'mandatory' | translate }})</span>
                <input type="text" class="form-control" ng-model="father.specialization"
                       name="specialization" ng-required="fpriority.specialization==4"  ng-change="msg1.specialization = [ ]" />
                         <span ng-repeat="(error, errortext) in msg1.specialization"
                               class="font-red-pink bold help-inline"
                               ng-show="status1=='failed_valid' && 'msg1.specialization' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3" ng-show="father_dead" >
            <div class="form-group">
                <label class="control-label bold">  {{'the_date_of_death' | translate }}</label>
                <span class=" text-success bold help-inline" ng-if="fpriority.death_date ==2"> ( {{'optional' | translate }} )</span>
                <span class=" text-success bold help-inline" ng-if="fpriority.death_date ==3"> ( {{'advisable' | translate }} )</span>
                <span class=" font-red-pink bold help-inline" ng-if="fpriority.death_date ==4"> ({{'mandatory' | translate }})</span>
                <div  class="input-group">
                    <input type="text" class="form-control"  uib-datepicker-popup="{{format}}"
                           ng-model="father.death_date" datepickerPopup
                           ng-required="fpriority.death_date==4"
                           name="death_date"
                           is-open="popup2.opened"
                           ng-change="checkDeathDate(father.birthday,father.death_date)"
                           datepicker-options="dateOptions"
                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly />

                                <span class="input-group-btn">
                                     <button type="button" class="btn btn-default" ng-click="open2($event)">
                                         <i class="glyphicon glyphicon-calendar"></i>
                                     </button>
                                </span>

                </div>
                             <span ng-repeat="(error, errortext) in msg1.death_date"
                                   class="font-red-pink bold help-inline"
                                   ng-show="status1=='failed_valid' && 'msg1.death_date' != [ ]" >
                                             {{ errortext.toString() }}
                                             </span>
            </div>
        </div>
        <div class="col-md-3" ng-show="father_dead" >
            <div class="form-group">
                <label class="control-label bold">  {{'death_cause' | translate }}</label>
                <span class=" text-success bold help-inline" ng-if="fpriority.death_cause ==2"> ( {{'optional' | translate }} )</span>
                <span class=" text-success bold help-inline" ng-if="fpriority.death_cause ==3"> ( {{'advisable' | translate }} )</span>
                <span class=" font-red-pink bold help-inline" ng-if="fpriority.death_cause ==4"> ({{'mandatory' | translate }})</span>

                <div class="input-group">
                    <ui-select  ng-model="father.death_cause_id"  name="death_cause_id"
                                ng-required="fpriority.death_cause_id==4"  ng-change="msg1.death_cause_id = [ ]"
                                theme="bootstrap" class="text-right" >
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item.id as item in DeathCauses | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                                                                         <button type="button" ng-click="father.death_cause_id = undefined" class="btn btn-default">
                                                                                  <span class="glyphicon glyphicon-trash"></span>
                                                                         </button>
                                                                     </span>
                </div>
                         <span ng-repeat="(error, errortext) in msg1.death_cause_id"
                               class="font-red-pink bold help-inline"
                               ng-show="status1=='failed_valid' && 'msg1.death_cause_id' != [ ]" >
                                         {{ errortext.toString() }}
                                         </span>

            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-3" ng-show="!father_dead"  >
            <div class="form-group">
                <label class="control-label bold"> {{'the_health_status' | translate }} </label>
                <span class=" text-success bold help-inline" ng-if="fpriority.father_condition==3">({{'advisable' | translate }})</span>
                <span class=" text-success bold help-inline" ng-if="fpriority.father_condition==2">({{'optional' | translate }})</span>
                <span class=" font-red-pink bold help-inline" ng-if="fpriority.father_condition==4">({{'mandatory' | translate }})</span>
                <select class="form-control"
                        ng-model="father.condition" name="condition" ng-required="fpriority.father_condition==4"
                        ng-change="restValue(5,father.condition)">
                    <option disabled selected value>{{'select_the_health_status' | translate }} </option>
                    <option value="1">{{'good' | translate }} </option>
                    <option value="2">{{'suffers_from_a_chronic_disease' | translate }}  </option>
                    <option value="3">{{'with_special_needs' | translate }} </option>


                </select>
                                                        <span ng-repeat="(error, errortext) in msg1.condition"
                                                              class="font-red-pink bold help-inline"
                                                              ng-show="status1=='failed_valid' && 'msg1.condition' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>

            </div>
        </div>
        <div class="col-md-3" ng-show="!father_dead" >
            <div class="form-group" >
                <label class="control-label bold">  {{'the_type_of_disease' | translate }} </label>
                <span class=" text-success bold help-inline"  ng-if="fpriority.disease_id==3">({{'advisable' | translate }})</span>
                <span class=" text-success bold help-inline" ng-if="fpriority.disease_id==2">({{'optional' | translate }})</span>
                <span class=" font-red-pink bold help-inline" ng-if="fpriority.disease_id==4">({{'mandatory' | translate }})</span>

                <div class="input-group">
                    <ui-select   ng-disabled="father.condition == 1"
                             ng-model="father.disease_id" ng-required="fpriority.disease_id==4"
                               name="disease_id" ng-change="msg1.disease_id = [ ]"
                                 theme="bootstrap" class="text-right" >
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item.disease_id as item in Diseases | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="input-group-btn">
                                                     <button type="button" ng-click="father.disease_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                </div>
                              <span ng-repeat="(error, errortext) in msg1.disease_id"
                                    class="font-red-pink bold help-inline"
                                    ng-show="status1=='failed_valid' && 'msg1.disease_id' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>

            </div>
        </div>
        <div class="col-md-3" ng-show="!father_dead">
            <div class="form-group">
                <label class="control-label bold">
                    {{'disease_/_disability_details' | translate }}
                </label>
                <span class=" text-success bold help-inline" ng-if="fpriority.details==3">({{'advisable' | translate }})</span>
                <span class=" text-success bold help-inline" ng-if="fpriority.details==2">({{'optional' | translate }})</span>
                <span class=" font-red-pink bold help-inline" ng-if="fpriority.details==4">({{'mandatory' | translate }})</span>
                <!--<input type="text" class="form-control"-->
                       <!--ng-disabled="father.condition == 1"-->
                       <!--ng-model="father.details" name="details" ng-required="fpriority.details==4"-->
                       <!--ng-change="msg1.details = [ ]"/>-->

                <textarea class="form-control"
                          ng-disabled="father.condition == 1"
                          ng-model="father.details" name="details" ng-required="fpriority.details==4"
                          ng-change="msg1.details = [ ]"
                          rows="6"
                          placeholder="{{'details'| translate}}">
                                    </textarea>


                                                        <span ng-repeat="(error, errortext) in msg1.details"
                                                              class="font-red-pink bold help-inline"
                                                              ng-show="status1=='failed_valid' && 'msg1.details' != [ ]" >
                                 {{ errortext.toString() }}
                                 </span>
            </div>
        </div>
    </div>
</div>
