<style>

    .disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: .65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .dropdown-menu{
        min-width:10px;
        left: 0
    }
    .btn-group>.dropdown-menu:before, .dropdown-toggle>.dropdown-menu:before, .dropdown>.dropdown-menu:before{
        right: auto !important;
        left: 9px !important;
    }
    .btn-group>.dropdown-menu:after, .dropdown-toggle>.dropdown-menu:after, .dropdown>.dropdown-menu:after{
        right: auto !important;
        left: 9px !important;
    }
    .fixed_dropdown{
        position: inherit !important;
        margin-right: 0% !important;
    }


</style>
<!-- BEGIN PAGE BREADCRUMB -->

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
            {{'cases_manage'|translate}}
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
            {{'sponsorships'|translate}}
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        <a href="#/cases/payments">{{'payments'| translate}}</a>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <h3>
                        <span class="icon-present"></span>
                        <span>{{'payments'|translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 20px">
                    <div class="clearfix">
                        <button type="button" class="btn green-turquoise" ng-click="Search(false , payment,'export')"  ng-show="items.length > 0 ">
                                <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                                <span>{{'export result'| translate}}</span>
                        </button>
                          <button type="button" class="btn green-turquoise" ng-click="Search(true , payment,'export')"  ng-show="items.length > 0 ">
                                <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                            <span class="hidden-sm hidden-md  hidden-xs"> {{'export result'| translate}} ( {{'selected'| translate}})</span>
                        </button>
                        <button uib-tooltip="{{'advanced_search'| translate}}" class=" btn yellow-saffron " type="button" ng-click="toggleCustom()" >
                            <span class="icon-magnifier"></span>
                            <span class="hidden-sm hidden-md  hidden-xs">{{'advanced_search'| translate}}</span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-hide="custom"  
                             style="box-sizing: border-box;border: 1px solid lightgrey;padding: 2% 0;margin-bottom: 10px;">
                            <div class="col-md-12 col-sm-12 col-xs-12" >
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class=" control-label bold">{{'organizations_name'| translate}}</label>
                                        <multiselect  ng-model="payment.organization_id" ng-if="Org"
                                                      ng-class="payment.all_organization? '' : 'inactive'"
                                                      options="Org" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                        </multiselect>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class=" control-label bold">{{'nomination_list'| translate}}</label>
                                        <div class="input-group">
                                            <ui-select name="sponsorship_id" ng-model="payment.sponsorship_id" theme="bootstrap"
                                                       class="text-right" >
                                                <ui-select-match >{{$select.selected.sponsorship_number}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in sponsorshipList | filter: $select.search">
                                                    <div ng-bind-html="item.sponsorship_number | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="payment.sponsorship_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" >
                                    <div class="form-group">
                                        <label class=" control-label bold">{{'max amount'| translate}}</label>
                                        <input type="text" class="form-control" decimal-numbers ng-model="payment.max_amount"  name="max_amount"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" >
                                <div class="col-md-3" >
                                    <div class="form-group">
                                        <label class=" control-label bold">{{'min amount'| translate}}</label>
                                        <input type="text" class="form-control" decimal-numbers ng-model="payment.min_amount"  name="min_amount"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class=" control-label bold">{{'currency'| translate}}</label>
                                        <div class="input-group">
                                            <ui-select  name="currency_id" ng-model="payment.currency_id"
                                                        theme="bootstrap"class="text-right" >
                                                <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in currency | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="payment.currency_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class=" control-label bold">{{'exchange_type'| translate}}</label>
                                        <select class="form-control" name="exchange_type" ng-model="payment.exchange_type">
                                            <option selected value>{{'exchange_type'| translate}}  </option>
                                            <option value="1"> {{'Bank deposit'| translate}}</option>
                                            <option value="2">{{'Bank check'| translate}} </option>
                                            <option value="4"> {{'ID card'| translate}} </option>
                                            <option value="3">{{'Internal check'| translate}} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class=" control-label bold">{{'payment_exchange'| translate}}</label>
                                        <select class="form-control" name="payment_exchange" ng-model="payment.payment_exchange">
                                            <option selected value>{{'payment_exchange'| translate}}  </option>
                                            <option value="0">{{'currency'| translate}}</option>
                                            <option value="1">{{'shekel'| translate}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" >
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class=" control-label bold">{{'payment_target'| translate}}</label>
                                        <select class="form-control" name="payment_target" ng-model="payment.payment_target">
                                            <option selected value>{{'payment_target'| translate}}  </option>
                                            <option value="0"> {{'person'| translate}}  </option>
                                            <option value="1"> {{'guardian'| translate}} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class="control-label bold">{{'bank_name'| translate}}</label>
                                        <div class="input-group">
                                            <ui-select name="bank_id" ng-model="payment.bank_id" theme="bootstrap"
                                                       class="text-right" >
                                                <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in Banks | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="payment.bank_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class=" control-label bold">{{'payment status'| translate}}</label>
                                        <select class="form-control" name="status" ng-model="payment.status">
                                            <option selected value>{{'select payment status'| translate}}  </option>
                                            <option value="1">{{'done'| translate}}</option>
                                            <option value="2"> {{'finish'| translate}}</option>
                                            <option value="3">{{'in progress'| translate}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class=" control-label bold"> {{'begin exchange date'| translate}} </label>
                                        <div  class="input-group">
                                            <input type="text" class="form-control"  uib-datepicker-popup="{{format}}" ng-model="payment.start_exchange_date" datepickerPopup
                                                   name="start_exchange_date" is-open="popup8.opened" datepicker-options="dateOptions" readonly date-disabled="disabled(date, mode)"
                                                   clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                            <span class="input-group-btn">
                                                                                       <button type="button" class="btn btn-default" ng-click="open8($event)">
                                                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                                                       </button>
                                                                             </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" >
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class=" control-label bold"> {{'end exchange date'| translate}} </label>
                                        <div  class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="payment.end_exchange_date" datepickerPopup
                                                   name="end_exchange_date" is-open="popup1.opened" datepicker-options="dateOptions"  readonly date-disabled="disabled(date, mode)"
                                                   clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                            <span class="input-group-btn">
                                                                                       <button type="button" class="btn btn-default" ng-click="open1($event)">
                                                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                                                       </button>
                                                                             </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class=" control-label bold"> {{'begin payment date'| translate}} </label>
                                        <div  class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="payment.start_payment_date"
                                                   datepickerPopup name="start_payment_date" is-open="popup7.opened" datepicker-options="dateOptions"  readonly
                                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                            <span class="input-group-btn">
                                                                                       <button type="button" class="btn btn-default" ng-click="open7($event)">
                                                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                                                       </button>
                                                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class=" control-label bold"> {{'end payment date'| translate}} </label>
                                        <div  class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="payment.end_payment_date"
                                                   datepickerPopup name="end_payment_date" is-open="popup3.opened" datepicker-options="dateOptions"  readonly
                                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}"/>
                                            <span class="input-group-btn">
                                                                                       <button type="button" class="btn btn-default" ng-click="open3($event)">
                                                                                           <i class="glyphicon glyphicon-calendar"></i>
                                                                                       </button>
                                                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3" >
                                    <div class="form-group">
                                        <label class=" control-label bold">{{'min no of beneficiary'| translate}}</label>
                                        <input type="text" class="form-control"  numeric-only  ng-model="payment.min_beneficiary_no"  name="min_beneficiary_no"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" >
                                <div class="col-md-3" >
                                    <div class="form-group">
                                        <label class=" control-label bold">{{'max no of beneficiary'| translate}}</label>
                                        <input type="text" class="form-control"  numeric-only  ng-model="payment.max_beneficiary_no"  name="max_beneficiary_no"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class="control-label bold">{{'payment_category'| translate}}</label>
                                        <div class="input-group">
                                            <ui-select name="category_id" ng-model="payment.category_id" theme="bootstrap"
                                                       class="text-right" >
                                                <ui-select-match >{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in paymentCategory | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="payment.category_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12" >
                                <div class="col-md-2 pull-right" style="margin-top: 2%;">
                                    <button class="btn blue" style="width:100%;" ng-click="Search(false ,payment,'filter')" type="button" >
                                        <span>{{'search'| translate}} </span></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px;">
                            <label ng-show="items.length > 0 ">{{'show' | translate}}
                                <select
                                        class="form-control input-sm input-inline" ng-init=""
                                        ng-change="itemsPerPage_(itemsCount)"
                                        name="itemsCount"
                                        ng-model='itemsCount'>
                                   <option value="50">50</option><option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                    <option value="-1">{{'show_All' | translate}}</option>
                                </select>
                            </label>

                            <form class="form-inline search-form pull-right">
                                <div class="input-group">
                                    <input type="text" ng-model="search" autofocus class="form-control" placeholder="{{'search'| translate}} " name="search">
                                </div>
                            </form>
                        </div>
                        <!-- BEGIN TABLE -->
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px;" ng-show="items.length > 0 ">
                              <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" style="margin-top: 0%;">
                                    <thead>
                                    <tr>
                                        <td class="bold"colspan="6" style="background-color: #f3f3f3!important;color: #337ab7;height: 30px;line-height: 30px;font-size: 12.5px;"> {{'payments total'| translate}}</td>
                                        <td class="bold">{{TotalPayments}}</td>
                                    </tr>
                                    <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                        <th class="text-center" > {{'#'| translate}} </th>
                                        <th class="text-center" style= "vertical-align: middle;" >
                                            <input type="checkbox"
                                                   ng-model="All"
                                                   ng-change="allCheckbox(All)"
                                                   ng-true-value="true"
                                                   ng-false-value="false"
                                            >
                                        </th>
                                        <th class="text-center" ng-click="sort('organizations_name')">{{'organizations_name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='organizations_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort('payment_category')">{{'payments_category_name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='payment_category' " ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"> </span>
                                        </th>
                                        <th class="text-center" style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"ng-click="sort('guaranteed')">{{'guaranteed_total'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='guaranteed'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"> </span>
                                        </th>
                                        <th class="text-center" style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"ng-click="sort('amount')">{{'amount'| translate}} ( {{'currency_name_'| translate}} )
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"> </span>
                                        </th>
                                        <th class="text-center" style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"ng-click="sort('shekel_amount')">{{'amount in shikel'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='shekel_amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"> </span>
                                        </th>
                                        <th class="text-center" style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"ng-click="sort('payment_date')">{{'payment date'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='payment_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"> </span>
                                        </th>
                                        <th class="text-center" style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"ng-click="sort('exchange_date')">{{'exchange date'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='exchange_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"> </span>
                                        </th>
                                        <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;" ng-click="sort('signature_sheet')"> {{'signature_sheet'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='signature_sheet'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"ng-click="sort('organization_sheet')"> {{'organization_sheet'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='organization_sheet'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"ng-click="sort('Receipt_of_receipt')"> {{'Receipt_of_receipt'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='Receipt_of_receipt'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="item in items|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage" >
                                        <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                        <td>
                                            <input type="checkbox" class="make-switch" data-on-color="primary" data-off-color="info"
                                                   ng-model="item.check" ng-checked="selectAll" ng-true-value="true" ng-false-value="false">
                                        </td>
                                        <td>{{item.organizations_name}}
                                            <br>
                                            
                                            <div style="margin-left:0.5%;"class="btn-group btn-group-solid"  ng-show="item.Beneficiary != '0'">
                                                                                              
                                                 <a  href="#/cases/payments/persons/{{item.id}}"
                                                         class="btn  btn-xs font-blue fa fa-users"
                                                         style="font-size: medium; background-color: transparent"></a>
                                                
                                                
                                                <a  type="button"
                                                         class="btn  btn-xs font-green-turquoise fa fa-file-excel-o dropdown-toggle"
                                                         data-toggle="dropdown" aria-expanded="false"
                                                         style="font-size: medium; background-color: transparent"></a>

                                                <ul class="dropdown-menu" ng-class="fixed_dropdownn($index,CurrentPage,items.length)">
                                                    <li  ng-show="item.Beneficiary != '0'">
                                                        <a href="#" class="iconify disabled text-left">
                                                            <span style="margin-left: 2%;">  {{'export list'| translate}} :   </span>
                                                        </a>
                                                    </li>
                                                    <li  ng-show="item.Beneficiary != '0'">
                                                        <a ng-click="export(item.id,4)" class="iconify">
                                                            <span style="margin-left: 2%;">    {{'beneficiary list'| translate}} </span>
                                                        </a>
                                                    </li>
                                                    <li  ng-show="item.Beneficiary != '0'">
                                                        <a ng-click="export(item.id,5)" class="iconify">
                                                            <span style="margin-left: 2%;">    {{'recipient list'| translate}} </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>{{item.payment_category}} </td>
                                        <!--                                    <td>{{item.Beneficiary}} </td>-->
                                        <td>{{item.guaranteed}} </td>
                                        <td>{{item.amount | number:0}}  <br> {{item.currency}}</td>
                                        <td>{{item.shekel_amount | number:0}}</td>
                                        <td>{{item.payment_date}} </td>
                                        <td>{{item.exchange_date}} </td>
                                        <td>
                                            <a class="fa fa-check"
                                               doc-file-download data-url="/doc/files/download/{{item.signature_sheet_id}}"
                                               ng-if="item.signature_sheet_id">
                                            </a>
                                            <span  class="fa fa-times bold font-red-pink" ng-if="!item.signature_sheet_id"></span>
                                        </td>
                                        <td>
                                            <a class="fa fa-check"
                                               doc-file-download data-url="/doc/files/download/{{item.organization_sheet_id}}"
                                               ng-if="item.organization_sheet_id">
                                            </a>
                                            <span  class="fa fa-times bold font-red-pink" ng-if="!item.organization_sheet_id"></span>
                                        </td>
                                        <td>
                                            <a class="fa fa-check"
                                               doc-file-download data-url="/doc/files/download/{{item.receipt_of_receipt_id}}"
                                               ng-if="item.receipt_of_receipt_id">
                                            </a>
                                            <span  class="fa fa-times bold font-red-pink" ng-if="!item.receipt_of_receipt_id"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                    <span class="bold ">{{'number of total items'| translate}}   :   </span>
                                    <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                    <span class="bold ">{{'row'| translate}}</span>
                                </div>
                                <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                            </div>
                        </div>
                        <!-- END TABLE -->
                        <div ng-if="items.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 10px; margin-bottom: 20px">
                            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show'| translate}}
                                                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

