<style type="text/css">
    .subject_style{
        text-align: right !important;
        padding-right: 11px !important;
        margin-top: 0 !important;
        width: 71px !important;
        font-size: 14px;
    }

    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }

</style>


<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>{{'Suggestion-system'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{ 'manage-suggestions' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li >
        <a href="#/suggestions">{{'my-suggestions'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" >{{'add-suggestion'| translate}}</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <h3>
                        <span  class="glyphicon glyphicon-plus"></span>
                        <span> {{'add-suggestion'| translate}}</span>
                    </h3>
                </div>
            </div>
            <div class="portlet-body">
                <form name="frm" class="inbox-compose form-horizontal" method="POST"
                      enctype="multipart/form-data" ng-submit="compose(row)">
                    <div class="inbox-compose-btn">
                        <button type="submit" class="btn blue"  ng-disabled="frm.$invalid" >
                            <i class="fa fa-check"></i>
                            <span> {{'send' | translate}}</span>
                        </button>
                        <a style="color: #ffffff;" uib-tooltip="{{'close'| translate}}"
                           class="btn red-pink"
                           href="#/suggestions">
                            <span class="fa fa-backward"></span>
                            <span class="hidden-sm hidden-md  hidden-xs"> {{'close'| translate}} </span>
                        </a>
                    </div>
                    <div class="inbox-form-group">
                        <label class="control-label subject_style">{{ 'subject' | translate}} :</label>
                        <div class="controls">
                            <input type="text" class="form-control" ng-model="row.subject" required style=" border: 1px #d1d1d1 solid !important;">
                        </div>
                    </div>
                    <div class="inbox-form-group" >
                        <textarea name="details" ng-model="row.details" rows="10" class="form-control"></textarea>
                    </div>
                    <div width="100%" style="margin: 15px;">
                        <label class="btn blue custom-file-upload">
                            <input type="file" nv-file-select=""  multiple uploader="uploader"
                                   accept=
                                           "application/msword, application/vnd.ms-excel, application/pdf, image/* ,
                                           .xlsx,.xls,.doc,.docx,.pdf"

                                   onchange="angular.element(this).scope().fileUpload(this)"/>
                            <i class="glyphicon glyphicon-plus"></i>	{{'add_files'|translate}}
                        </label>
                        <table ng-show="uploader.queue.length" class="table table-hover table-light" style="margin-top: 10px;">
                            <thead>
                            <tr class="uppercase">
                                <th >   {{'name' | translate}} </th>
                                <th ng-show="uploader.isHTML5">   {{'size' | translate}} </th>
                                <th ng-show="uploader.isHTML5">   {{'progress' | translate}} </th>
                                <th >   {{'status' | translate}} </th>
                                <th >   {{'actions' | translate}} </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><div ng-show="uploader.isHTML5" > {{ item.file.name }} </div></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress progress-sm" style="margin-bottom: 0;">
                                        <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                        <span ng-show="item.isSuccess" class="text-success">
                                            <i class="glyphicon glyphicon-ok"></i>
                                        </span>
                                    <span ng-show="item.isError" class="text-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn red-pink btn-xs"  ng-show="item.isSuccess" ng-click="removeFile($index)">
                                        <span class="glyphicon glyphicon-trash"></span> <span> {{'remove' | translate}}</span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

