<style>
    .form-control[disabled], fieldset[disabled] .form-control {
        cursor: default;
    }
</style>

<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{ 'manage-suggestions' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="" >
        <a href="#/suggestions">{{'my-suggestions'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" >{{'show-suggest'| translate}}</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <h3>
                        <span  class="fa fa-eye"></span>
                        <span> {{'show-suggest'| translate}}</span>
                        <span ng-if="suggestion.subject">  : </span>
                        <span ng-if="suggestion.subject"> {{suggestion.subject}}</span>

                    </h3>
                </div>
            </div>
            <div class="portlet-body" ng-if="suggestion">
                <div class="panel panel-info" ng-if="suggestion.details">
                    <div class="panel-heading panel-heading-style">{{' suggest details' | translate}}</div>
                    <div class="panel-body">
                        <textarea name="details" ng-model="suggestion.details" disabled rows="10" class="form-control" style=" background-color: #fbfbfb !important;"></textarea>
                    </div>
                </div>
                <div class="panel panel-info" ng-show = "suggestion.files.length">
                    <div class="panel-heading panel-heading-style">{{'attachments' | translate}}</div>
                    <div class="panel-body" style="padding: 2%;">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                            <thead>
                            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                <th class="text-center">   {{'#' | translate}} </th>
                                <th class="text-center">   {{'name' | translate}} </th>
                                <th class="text-center">   {{'size' | translate}} </th>
                                <th class="text-center">   {{'actions' | translate}} </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in suggestion.files">
                                <td class="text-center">{{ $index+1 }}</td>
                                <td class="text-center">{{ item.name }}</td>
                                <td class="text-center">{{ item.size / 1024 / 1024|number:2 }} MB</td>
                                <td class="text-center">
                                    <button type="button" data-download="{{item.name}}" doc-file-download
                                            data-url="/api/v1.0/Suggestion/download/{{item.file_id}}" class="btn blue btn-xs">
                                        <span class="glyphicon glyphicon-download"></span> <span> {{'download' | translate}} </span> </button>
                               </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-info" ng-show = "suggestion.replays.length">
                    <div class="panel-heading panel-heading-style">{{'comments' | translate}}</div>
                    <div class="panel-body" style="padding: 2%;">
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                            <thead>
                            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                <th class="text-center" >   {{'#' | translate}} </th>
                                <th class="text-center"  >   {{'username' | translate}} </th>
                                <th class="text-center"  >   {{'date' | translate}} </th>
                                <th class="text-center"  >   {{'Time' | translate}} </th>
                                <th >   {{'show' | translate}} ({{'details_' | translate}}) </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="replay in suggestion.replays">
                                <td>{{$index+1 }}</td>
                                <td>{{replay.username }}</td>
                                <td>{{replay.date }}</td>
                                <td>{{replay.created_at| date :'yyyy-M-d'}}</td>
                                <!--<td>{{replay.created_at| date :'medium'}}</td>-->
                                <td>
                                    <button type="button"
                                            class="btn btn-xs- font-blue fa fa-eye"
                                            style="font-size: medium; background-color: transparent"
                                            ng-click="show(replay)"> </button>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div ng-show="suggestion.replays.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                            <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                <span>{{'there is no replays'| translate}}</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

