                <form id="form" name="form" class="form-horizontal" novalidate="" role="form" ng-submit="submit()">
                    <div class="form-body">
                        <fieldset>
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                <div class="form-group" ng-class="errorClass('name')">
                                    <input type="text" class="form-control" id="name" name="name"
                                           placeholder="{{'role_name'| translate}}" ng-model="role.name" ng-required="true">
                                    <span class="help-block" ng-show="form.name.$invalid && form.name.$dirty">{{errorMessage('name')}}</span>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend >{{'permissions'| translate}}</legend>
                            <uib-tabset active="active">
                                <uib-tab index="$index + 1" ng-repeat="m in modules" ng-model="m" heading="{{m.module_name}}">
                                    <table class="table table-condensed table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th><input type="search" class="form-control" ng-model="m.q" placeholder="{{'Find' | translate}}..." aria-label="{{'Find' | translate}}"></th>
                                                <th><button type="button" class="btn btn-success btn-xs" ng-click="checkAll(1, m)"><span>{{'Yes_All' | translate}}</span></button></th>
                                                <th><button type="button" class="btn red-pink btn-xs" ng-click="checkAll(0, m)"><span>{{'No_All' | translate}}</span></button></th>
                                                <th><button type="button" class="btn btn-default btn-xs" ng-click="checkAll(-1, m)"><span>{{'Default_All' | translate}}</span></button></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="perm in m.permissions | filter:m.q">
                                                <th class="col-md-6">{{perm.name}}</th>
                                                <td class="col-md-2"><label class="mt-radio mt-radio-outline">
                                                    <input name="perm{{perm.id}}" type="radio" ng-model="perm.allow" ng-value="1" string-to-number> {{'Yes' | translate}}
                                                    <span></span>
                                                </label></td>
                                                <td class="col-md-2"><label class="mt-radio mt-radio-outline">
                                                    <input name="perm{{perm.id}}" type="radio" ng-model="perm.allow" ng-value="0" string-to-number>  {{'No' | translate}}
                                                    <span></span>
                                                </label></td>
                                                <td class="col-md-2"><label class="mt-radio mt-radio-outline">
                                                    <input name="perm{{perm.id}}" type="radio" ng-model="perm.allow" ng-value="-1" string-to-number>  {{'Default' | translate}}
                                                    <span></span>
                                                </label></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </uib-tab>
                            </uib-tabset>
                        </fieldset>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <button type="submit" class="btn blue"><span>{{'save'| translate}}</span></button>
                            </div>
                        </div>
                    </div>
                </form>