<div class="modal-header" style="  padding:5%; ">
    <h4 class="modal-title text-center"> {{'Copy' | translate}}  " {{copy_role.name}}" </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <form name="frm_" novalidate="" role="form" class=" text-center" style="padding: 2%;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="text-center bold control-label "> {{'organization' | translate}} </label>
                            <multiselect  ng-model="row.organizations" ng-if="cOrganizations" id="organizations"
                                          options="cOrganizations" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                           </multiselect>
                        </div>
                     </div>
                </div>
            </form>
        </div>

    </div>
</div>
<div class="modal-footer">
    <button class=" btn btn-primary" ng-disabled="frm_.$invalid" ng-click="copy(row)" type="button" > <span>{{'Copy'| translate}} </span> </button>
    <button class="btn red-pink"  ng-click="cancel()"><span>{{'cancel' | translate}}</span> </button>
</div>
