<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="RoleEditController">

    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            {{'users_and_permissions'| translate}}
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li> <a href="#/auth/roles">  {{'roles'| translate}} </a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            {{'edit'| translate}}
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
      <li class="active">
          {{role.name}}
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light portlet-fit bordered portlet-datatable">
            <div class="portlet-title">
                <div class="caption">
                    <h3><span class="fa fa-pencil-square-o"></span>
                        {{'roles'| translate}} / {{role.name}}  / <span>{{'edit'| translate}}</span></h3>
                </div>
                  <div class="actions" style="margin-top: 2%;">
                    <a class="btn btn-outline green " href="#/auth/roles"><span  class="hidden-sm hidden-md  hidden-xs">{{'back'| translate}}</span>
                        <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
            </div>
            <div class="portlet-body">
                <div ng-show="modules.length > 0" data-ng-include="'/app/modules/user/views/roles/_form.html'"></div>
                <div ng-show="modules.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                    <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no permissions to show'| translate}}
                                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->