
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'users_and_permissions'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{'roles'| translate}}</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="RolesController">
    <!-- BEGIN CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <h3><span class="icon-lock"></span> {{'roles'| translate}} </h3>

                    </div>
                    <a ng-if="can('auth.roles.create')" style="margin-top: 2%; " class="btn pull-right blue" href="#/auth/roles/new">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span  class="hidden-sm hidden-md  hidden-xs">{{'new'| translate}}</span>
                    </a>

                </div>
                <div class="portlet-body">
                    <div class="table-container">
                        <div class="row" style="padding: 2%;">
                          <div class="table-scrollable">

                            <table class="table table-striped table-bordered table-hover" ng-show="roles.length > 0 ">
                                <thead>
                                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                    <th class="text-center">{{'role'| translate}}</th>
                                    <th class="text-center">{{'users'| translate}}</th>
                                    <th class="text-center">{{'created_at'| translate}}</th>
                                    <th class="text-center"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="role in roles" ng-init="role.organizations = []">
                                    <td class="text-center">{{role.name}}</td>
                                    <td class="text-center"><a ng-if="can('auth.roles.users')" href="{{'#/auth/roles/users/' + role.id}}">{{role.users}}</a>
                                        <span ng-if="!can('auth.roles.users')">{{role.users}}</span></td>
                                    <td class="text-center">{{role.created_at}}</td>
                                    <td class="text-center">
                                        <a ng-if="can('auth.roles.update')" class="btn green-turquoise btn-xs" href="{{'#/auth/roles/edit/' + role.id}}">
                                            <span class="glyphicon glyphicon-edit"></span>
                                            <span  class="hidden-sm hidden-md  hidden-xs">{{'edit'| translate}}</span>
                                        </a>
                                        <button ng-if="can('auth.roles.delete') && (role.deleted =='1' || role.deleted ==1)"
                                                class="btn red-pink btn-xs" ng-click="deleteRole(role, $index)">
                                            <span class="glyphicon glyphicon-trash"></span>
                                            <span  class="hidden-sm hidden-md  hidden-xs">{{'delete'| translate}}</span>
                                        </button>
                                            
<!--                                        <button ng-if="can('auth.roles.copy')" ng-click="copyRole(role)"
                                                 class="btn yellow-saffron btn-xs">
                                                <span class="glyphicon glyphicon-copy"></span>
                                            <span  class="hidden-sm hidden-md  hidden-xs">{{'Copy'| translate}}</span>
                                        </button>-->
                                        
<!--                                        <div ng-if="can('auth.roles.copy')" class="btn-group" uib-dropdown is-open="status.isopen" on-toggle="getOrganizations(open, role)" auto-close="outsideClick">
                                            <button id="single-button" type="button" class="btn blue btn-xs" uib-dropdown-toggle ng-disabled="disabled">
                                                <span class="glyphicon glyphicon-copy"></span> <span>{{'Copy'| translate}}</span> <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" style="padding-top: 10px;">
                                                <li ng-if=" role.organizations.length >0 " class="dropdown-header"><button class="btn blue btn-xs" type="button" ng-click="copy(role)"><span>{{'Ok' | translate}}</span></button></li>
                                                <li ng-if=" role.organizations.length >0 "
                                                    role="separator" class="divider"></li>
                                                <li class="dropdown-header" ng-repeat="org in role.organizations" role="menuitem">
                                                    <label class="mt-checkbox mt-checkbox-outline">
                                                        <input class="mt-checkbox" type="checkbox" ng-model="org.checked"> {{org.name}}
                                                        <span></span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div ng-show="roles.length ==0 " class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END MAIN CONTENT -->