<div class="row" ng-controller="RoleUsersController">

<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a href="#/auth/roles">{{'roles'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>{{role.name}} </li>
    <li class="active">
        {{'users'| translate}}
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
 <div class="col-md-12 col-sm-12 col-xs-12">
     <div class="portlet light bordered">
         <div class="portlet-title">
             <div class="caption font-dark">
                 <h3><span class="fa fa-users"></span>
                     {{role.name}}  / <span>{{'users'| translate}}</span></h3>
             </div>
             <div class="actions"  style="margin-top: 2%;">
                 <a class="btn btn-outline green" href="#/auth/roles"><span class="hidden-sm hidden-md  hidden-xs">{{'back'| translate}}</span>
                     <span class="glyphicon glyphicon-chevron-right"></span></a>
             </div>
         </div>
         <div class="portlet-body">
           <div class="table-container">
                 <div class="row" style="padding: 2%;">
                     <table class="table table-striped table-bordered table-hover">
                         <thead>
                         <tr>
                             <th class="text-center">{{'#'| translate}}</th>
                             <th class="text-center">{{'User'| translate}}</th>
                             <th class="text-center">{{'job'| translate}}</th>
                         </tr>
                         </thead>
                         <tbody>
                         <tr ng-repeat="user in users">
                             <td class="text-center">{{$index+1}}</td>
                             <td class="text-center">{{user.firstname}} {{user.lastname}}</td>
                             <td class="text-center">{{user.job_title}}</td>
                         </tr>
                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
     </div>
 </div>
<!-- END CONTENT -->
</div>
<!-- END MAIN CONTENT -->