<div class="scrolHV">
    <table class="table table-striped table-bordered  text-center table-scrollable" style="background-color: #ffffff" >
        <thead class="text-center bold" style="vertical-align: middle;"></thead>
        <tbody style="vertical-align: middle;">
        <tr class="text-center bold" style=" background-color: #f3f3f3!important; color: #337ab7; font-size: 30px; vertical-align: middle; ">
            <td class=" text-center" style="position: -webkit-sticky;position: sticky; top: 0;right: 0; background-color: #f3f3f3!important;
    border: 0px;line-height: 40px; z-index: 1000;height: 50px;vertical-align: middle;">{{'organizations_name'| translate}}</td>
            <td class=" text-center col-md-2" colspan="2" ng-repeat="org in organizations" style=" width:150px;  word-wrap: break-word; vertical-align: middle;
            text-align: center; position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
  background: #e7ecf1;
    height: 50px;
    z-index: 999;">{{org.name}}</td>
            <td class=" text-center" colspan="2" style="vertical-align: middle; position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
  background: #e7ecf1;
    height: 50px;
    z-index: 1000;"> {{'total'| translate}}</td>
        </tr>
        <tr class="text-center bold">
            <td rowspan="1" style="vertical-align: middle; position: sticky;
    right: 0;
    top: 55px !important;
  background: #e7ecf1;
    height: 50px;
    z-index: 1000;"  class="text-center bold" >{{'project'| translate}}</td>
            <td colspan="2" rowspan="1" class="text-center" ng-repeat="org in organizations" style="min-width: 120px; vertical-align: middle; position: -webkit-sticky; /* for Safari */position: sticky;top: 55px !important;background: #e7ecf1;border: 1px #e7ecf1 solid;height: 50px;z-index: 999;">
                <p colspan="1" rowspan="1"  style="width: 50%; border-left:1px solid lightgrey; box-sizing: border-box;  vertical-align: middle;" class="text-center pull-left">{{'count_'| translate}}</p>
                <p colspan="1" rowspan="1" style="width: 50%; vertical-align: middle;" class="text-center pull-right"> {{'sh_mount'| translate}} </p >
            </td>
            <td colspan="2" rowspan="1" class="text-center" style="min-width: 120px; vertical-align: middle; position: -webkit-sticky; /* for Safari */position: sticky;top: 55px !important;background: #e7ecf1;border: 1px #e7ecf1 solid;height: 50px;z-index: 999;">
                <p colspan="1" rowspan="1"  style="width: 50%; border-left:1px solid lightgrey; box-sizing: border-box;  vertical-align: middle;" class="text-center pull-left">{{'count_'| translate}}</p>
                <p colspan="1" rowspan="1" style="width: 50%; vertical-align: middle;" class="text-center pull-right"> {{'sh_mount'| translate}} </p >
            </td>

        </tr>
        <tr  class="bold" style="background-color: #e3e3e3; vertical-align: middle; ">
            <td style="background-color: #e3e3e3; vertical-align: middle; position: sticky;
    right: 0;
  background: #e7ecf1;
    height: 50px;
    z-index: 999;">{{'aids projects'| translate}} :</td>
        </tr>
        <tr ng-repeat="item in items"  class="text-center bold">
            <td colspan="1" rowspan="1" style="vertical-align: middle; min-width: 250px; background-color: #e3e3e3; vertical-align: middle; position: sticky;
    right: 0;
  background: #e7ecf1;
    height: 50px;
    z-index: 999;" class="text-center bold" >{{item. name}}</td>
            <td colspan="2"  rowspan="1"ng-repeat="m in item.set">
                <p colspan="1" rowspan="1"  style="width: 50%; border-left:1px solid lightgrey; box-sizing: border-box;  vertical-align: middle;" class="text-center pull-left">{{m.count}}</p>
                <p colspan="1"  rowspan="1" style="width: 50%; vertical-align: middle;" class="text-center pull-right">
                    <span ng-show="m.amount != null ">{{m.amount | number:0}}</span>
                    <span ng-show="m.amount == null ">0</span>
                </p >
            </td>
            <td colspan="2" rowspan="1" class="text-center" style="min-width: 120px; vertical-align: middle;">
                <p colspan="1" rowspan="1"  style="width: 50%; border-left:1px solid lightgrey; box-sizing: border-box;  vertical-align: middle;" class="text-center pull-left">{{item.sub_total_count}}</p>
                <p colspan="1" rowspan="1" style="width: 50%; vertical-align: middle;" class="text-center pull-right"> {{item.sub_total_amount}}</p >
            </td>
        </tr>
        <tr  class="bold" style="background-color: #e3e3e3; vertical-align: middle; ">
            <td style="background-color: #e3e3e3; vertical-align: middle; position: sticky;
    right: 0;
  background: #e7ecf1;
    height: 50px;
    z-index: 999;">{{'sponsorships projects'| translate}} :</td>
        </tr>
        <tr ng-repeat="item in sponsorship_items"  class="text-center bold">
            <td colspan="1" rowspan="1" style="vertical-align: middle; min-width: 250px; background-color: #e3e3e3; vertical-align: middle; position: sticky;
    right: 0;
  background: #e7ecf1;
    height: 50px;
    z-index: 999;" class="text-center bold" >{{item. name}}</td>
            <td colspan="2"  rowspan="1"ng-repeat="m in item.set">
                <p colspan="1" rowspan="1"  style="width: 50%; border-left:1px solid lightgrey; box-sizing: border-box;  vertical-align: middle;" class="text-center pull-left">{{m.count}}</p>
                <p colspan="1"  rowspan="1" style="width: 50%; vertical-align: middle;" class="text-center pull-right">
                    <span ng-show="m.amount != null ">{{m.amount | number:0}}</span>
                    <span ng-show="m.amount == null ">0</span>
                </p >
            </td>
            <td colspan="2" rowspan="1" class="text-center" style="min-width: 120px; vertical-align: middle;">
                <p colspan="1" rowspan="1"  style="width: 50%; border-left:1px solid lightgrey; box-sizing: border-box;  vertical-align: middle;" class="text-center pull-left">{{item.sub_total_count}}</p>
                <p colspan="1" rowspan="1" style="width: 50%; vertical-align: middle;" class="text-center pull-right"> {{item.sub_total_amount}}</p >
            </td>
        </tr>
        <tr  class="text-center bold" style=" vertical-align: middle; ">
            <td style="background-color: #e3e3e3; vertical-align: middle; position: sticky;
    right: 0;
  background: #e7ecf1;
    height: 50px;
    z-index: 999;">{{'total'| translate}}</td>
            <td colspan="2" rowspan="1" class="text-center" ng-repeat="org in organizations" style="min-width: 120px; vertical-align: middle;">
                <p colspan="1" rowspan="1"  style="width: 50%; border-left:1px solid lightgrey; box-sizing: border-box;  vertical-align: middle;" class="text-center pull-left">{{org.count}}</p>
                <p colspan="1" rowspan="1" style="width: 50%; vertical-align: middle;" class="text-center pull-right" style="background-color:red">{{(org.amount) | number:0}}</p >
            </td>
            <td colspan="2" rowspan="1" class="text-center" style="min-width: 120px; vertical-align: middle;">
                <p colspan="1" rowspan="1"  style="width: 50%; border-left:1px solid lightgrey; box-sizing: border-box;  vertical-align: middle;" class="text-center pull-left">{{total_count}}</p>
                <p colspan="1" rowspan="1" style="width: 50%; vertical-align: middle;" class="text-center pull-right" > {{total_amount}}</p >
            </td>
        </tr>
        </tbody>
    </table>
</div>

