<div class="scrolHV">
    <table class="table table-striped table-bordered table-hover table-checkable order-column text-center"  id="table1">
        <thead class="text-center bold" style="vertical-align: middle;">

        </thead>
        <tbody>
        <tr class="  text-center bold">
            <td class="col-md-2 " rowspan="2" style="position: -webkit-sticky;position: sticky; top: 0;right: 0; background-color: #f3f3f3!important;
    border: 0px;line-height: 40px; z-index: 1000;height: 50px;vertical-align: middle;min-width: 200px;">{{'organizations_name'| translate}}</td>
            <td class="col-md-3" colspan="5" style=" min-width: 55px; position: -webkit-sticky; /* for Safari */position: sticky;  top: 0;  background: #e7ecf1;  height: 50px; z-index: 999;">
                {{'enrollment of save qurancenter'| translate}}
            </td>
            <td class="col-md-3" colspan="5" style=" min-width: 55px; position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
  background: #e7ecf1;
    height: 50px;
    z-index: 999;">{{'go to the mosque but not go to save qurancenter'| translate}}</td>
            <td class="col-md-3" colspan="5" style=" min-width: 55px; position: -webkit-sticky; /* for Safari */  position: sticky;  top: 0; background: #e7ecf1;  height: 50px;  z-index: 999;">{{'Uncommitted'| translate}} </td>
            <td rowspan="2" style=" min-width: 55px;
            position: -webkit-sticky; /* for Safari */  position: sticky;
            top: 0;
             background: #e7ecf1;  height: 50px;  z-index: 1000;">{{'total'| translate}} </td>
        </tr>
        <tr>
            <td style="min-width: 55px;position: -webkit-sticky; /* for Safari */position: sticky;top: 49px !important;background: #e7ecf1;border: 1px #e7ecf1 solid;height: 50px;z-index: 999;">{{'under 8'| translate}}</td>
            <td style="min-width: 55px;position: -webkit-sticky; /* for Safari */position: sticky;top: 49px !important;background: #e7ecf1;border: 1px #e7ecf1 solid;height: 50px;z-index: 999;">{{'8-12'| translate}}</td>
            <td style="min-width: 55px;position: -webkit-sticky; /* for Safari */position: sticky;top: 49px !important;background: #e7ecf1;border: 1px #e7ecf1 solid;height: 50px;z-index: 999;">{{'12-15'| translate}}</td>
            <td style="min-width: 55px;position: -webkit-sticky; /* for Safari */position: sticky;top: 49px !important;background: #e7ecf1;border: 1px #e7ecf1 solid;height: 50px;z-index: 999;">{{'above 15'| translate}}</td>
            <td style="min-width: 55px;position: -webkit-sticky; /* for Safari */position: sticky;top: 49px !important;background: #e7ecf1;border: 1px #e7ecf1 solid;height: 50px;z-index: 999;">{{'sub total'| translate}}</td>
            <td style="min-width: 55px;position: -webkit-sticky; /* for Safari */position: sticky;top: 49px !important;background: #e7ecf1;border: 1px #e7ecf1 solid;height: 50px;z-index: 999;">{{'under 8'| translate}}</td>
            <td style="min-width: 55px;position: -webkit-sticky; /* for Safari */position: sticky;top: 49px !important;background: #e7ecf1;border: 1px #e7ecf1 solid;height: 50px;z-index: 999;">{{'8-12'| translate}}</td>
            <td style="min-width: 55px;position: -webkit-sticky; /* for Safari */position: sticky;top: 49px !important;background: #e7ecf1;border: 1px #e7ecf1 solid;height: 50px;z-index: 999;">{{'12-15'| translate}}</td>
            <td style="min-width: 55px;position: -webkit-sticky; /* for Safari */position: sticky;top: 49px !important;background: #e7ecf1;border: 1px #e7ecf1 solid;height: 50px;z-index: 999;">{{'above 15'| translate}}</td>
            <td style="min-width: 55px;position: -webkit-sticky; /* for Safari */position: sticky;top: 49px !important;background: #e7ecf1;border: 1px #e7ecf1 solid;height: 50px;z-index: 999;">{{'sub total'| translate}}</td>
            <td style="min-width: 55px;position: -webkit-sticky; /* for Safari */position: sticky;top: 49px !important;background: #e7ecf1;border: 1px #e7ecf1 solid;height: 50px;z-index: 999;">{{'under 8'| translate}}</td>
            <td style="min-width: 55px;position: -webkit-sticky; /* for Safari */position: sticky;top: 49px !important;background: #e7ecf1;border: 1px #e7ecf1 solid;height: 50px;z-index: 999;">{{'8-12'| translate}}</td>
            <td style="min-width: 55px;position: -webkit-sticky; /* for Safari */position: sticky;top: 49px !important;background: #e7ecf1;border: 1px #e7ecf1 solid;height: 50px;z-index: 999;">{{'12-15'| translate}}</td>
            <td style="min-width: 55px;position: -webkit-sticky; /* for Safari */position: sticky;top: 49px !important;background: #e7ecf1;border: 1px #e7ecf1 solid;height: 50px;z-index: 999;">{{'above 15'| translate}}</td>
            <td style="min-width: 55px;position: -webkit-sticky; /* for Safari */position: sticky;top: 49px !important;background: #e7ecf1;border: 1px #e7ecf1 solid;height: 50px;z-index: 999;">{{'sub total'| translate}}</td>
        </tr>
        <tr ng-repeat="item in items">
            <th class="col-md-2 bold text-center">{{item.name}}</th>
            <td class="text-center">{{item.enrollment_less_then_8}}</td>
            <td class="text-center">{{item.enrollment_from_8_to_12}}</td>
            <td class="text-center">{{item.enrollment_from_12_to_15}}</td>
            <td class="text-center">{{item.enrollment_more_then_15}}</td>
            <td class="text-center">{{item.enrollment_total}}</td>
            <td class="text-center">{{item.mosque_less_then_8}}</td>
            <td class="text-center">{{item.mosque_from_8_to_12}}</td>
            <td class="text-center">{{item.mosque_from_12_to_15}}</td>
            <td class="text-center">{{item.mosque_more_then_15}}</td>
            <td class="text-center">{{item.mosque_total}}</td>
            <td class="text-center">{{item.uncommitted_less_then_8}}</td>
            <td class="text-center">{{item.uncommitted_from_8_to_12}}</td>
            <td class="text-center">{{item.uncommitted_from_12_to_15}}</td>
            <td class="text-center">{{item.uncommitted_more_then_15}}</td>
            <td class="text-center">{{item.uncommitted_total}}</td>
            <td class="text-center">{{item.total}}</td>
        </tr>
        </tbody>
    </table>

</div>
