<div class="modal-header" style="  padding:3%; ">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4 style="" class="modal-title bold text-center"> {{'cases list'| translate}} </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center"  style="padding: 2%;">
            <div class="col-md-12 col-sm-12 col-xs-12"  style="margin-bottom: 2%;" >
                <button  type="button" ng-show="CasesList.length > 0" class="btn green-turquoise pull-left" ng-click="export()">
                    <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                    <span>{{'cases list' | translate}}</span>
                </button>
            </div>
            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" ng-show="cases_list.length > 0">
                <thead>
                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                    <th class="text-center"ng-click="sort('id')" > {{'#' | translate}}
                        <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th class="text-center" ng-click="sort('category_name')"> {{'case_category_type' | translate}}
                        <span class="glyphicon sort-icon" ng-show="sortKey=='category_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th class="text-center" ng-click="sort('organization_name')"> {{'organization name' | translate}}
                        <span class="glyphicon sort-icon" ng-show="sortKey=='organization_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th class="text-center" ng-click="sort('status')"> {{'status' | translate}}
                        <span class="glyphicon sort-icon" ng-show="sortKey=='cases_status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th class="text-center" ng-click="sort('visitor')"> {{'visitor' | translate}}
                        <span class="glyphicon sort-icon" ng-show="sortKey=='visitor'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th class="text-center" ng-click="sort('visited_at')"> {{'visited_at' | translate}}
                        <span class="glyphicon sort-icon" ng-show="sortKey=='visited_at'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th class="text-center" ng-click="sort('created_date')"> {{'created_at' | translate}}
                        <span class="glyphicon sort-icon" ng-show="sortKey=='created_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                    </th>
                    <th class="text-center"> {{'show' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in cases_list">
                    <td>{{ ( $index +1 )}}</td>
                    <td>{{ item.category_name }}</td>
                    <td>{{ item.organization_name }} </td>
                    <td>{{ item.status }}</td>
                    <td>{{ item.visitor }}</td>
                    <td>{{ item.visited_at }}</td>
                    <td>{{ item.created_date }}</td>
                    <td>
                        <a  ng-show="item.category_type == 2 || item.category_type == '2'"
                            uib-tooltip="{{'show case data' | translate}}"
                            href="#/aids/caseform/{{aidCategories_firstStep_map[item.category_id]}}/{{item.category_id}}/show/{{item.case_id}}"
                            class="btn btn-xs bold btn font-blue fa fa-eye" style="font-size: medium; background-color: transparent">
                        </a>

                        <a  ng-show="item.category_type == 1 || item.category_type == '1'"
                            uib-tooltip="{{'show case data' | translate}}"
                            href="#/sponsorship/cases/show/{{item.case_id}}/"
                            class="btn btn-xs bold btn font-blue fa fa-eye" style="font-size: medium; background-color: transparent">
                        </a>

                    </td>
                </tr>
                </tbody>
            </table>
            <div  ng-show="cases_list.length == 0" class="col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                <span>
                                                                    {{'there is no data to show' | translate}}
                                                                </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer" style="margin-top: 25px;">
    <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
</div>
