<style>
    .tabbable-line>.nav-tabs>li.active{
        border-bottom: 4px solid #3598dc;
        background-color: #e7ecf1 !important;
    }

    .tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover{
        border-bottom: 4px solid #3598dc;
    }

    .portlet.light>.portlet-title>.nav-tabs>li{
        border-radius: 10px 10px 0px 0px;
    }
</style>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i>{{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{ 'reports and queries' | translate }}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        <a href="#/citizens/request" > {{'CitizenRequest'| translate}}</a>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <i class="fa fa-bullhorn"></i>
                        <span>{{'CitizenRequest'| translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix pull-right">
                        <div class="btn-group btn-group-solid "  >
                            <button type="button" class="btn blue-hoki dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <span class="fa fa-edit"></span>
                                <span class="hidden-sm hidden-md  hidden-xs"> {{'change status' | translate }}</span>
                                <span class="glyphicon glyphicon-menu-down"></span>
                            </button>
                            <ul class="dropdown-menu" style="width: 150px;">
                                <li>
                                    <a href="javascript:;" ng-click="updateStatusToAll(0)">
                                        <span class="fa fa-edit"></span>
                                        <span>{{'in_progress' | translate }}   ( {{'onHand' | translate }} )</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" ng-click="updateStatusToAll(1)">
                                        <span class="fa fa-edit"></span>
                                        <span>{{'accepted' | translate }}   ( {{'onHand' | translate }} )</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" ng-click="updateStatusToAll(2)">
                                        <span class="fa fa-edit"></span>
                                        <span>{{'reject' | translate }}   ( {{'onHand' | translate }} )</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" ng-click="updateStatusToAll(-1)">
                                        <span class="fa fa-edit"></span>
                                        <span> {{'from file' | translate }}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;" ng-click="download()">
                                        <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                                        <span>{{'download update template' | translate }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="btn-group"  uib-dropdown>
                            <button id="single-button" type="button" class="  btn blue  pull-left"
                                    uib-dropdown-toggle ng-disabled="disabled">
                                <span class="glyphicon glyphicon-envelope"></span>
                                <span class="hidden-sm hidden-md  hidden-xs">{{'send sms messege'|translate}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                <li ng-show="items.length != 0">
                                    <a ng-click="sendSms('manual',0)" class="iconify">
                                        <i class="fa fa-hand-paper-o" style="margin-left: 4%"></i>{{'manually'| translate}}</a>
                                </li>
                                <li>
                                    <a ng-click="sendSms('xlx',0)" class="iconify">
                                        <i class="fa fa-file-excel-o"  style="margin-left: 4%"></i>{{'using excel'| translate}}</a>
                                </li>
                            </ul>
                        </div>
                         <div class="btn-group "  uib-dropdown   ng-if="items.length != 0"
                                                        uib-tooltip="{{'export result'| translate}}" >
                                                        <button id="single-button" type="button" class="btn  green-turquoise" uib-dropdown-toggle ng-disabled="disabled">
                                                            <span style="margin-right:3%;" class="fa fa-file-excel-o"></span>
                                                            <span class="hidden-sm hidden-md  hidden-xs"> {{'export result'| translate}}</span>
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" 
                                                            style="min-width: 90px;"  aria-labelledby="split-button">
                                                            <li>
                                                                <a ng-click="CitizenRequestSearch(false ,datafilter,'xlsx')" class="iconify">
                                                                    <i  class="fa fa-file-excel-o" style="margin-left: 4%"></i>{{'All'| translate}}</a>
                                                            </li>
                                                             <li>
                                                                <a ng-click="CitizenRequestSearch(true ,datafilter,'xlsx')" class="iconify">
                                                                    <i  class="fa fa-file-excel-o" style="margin-left: 4%"></i> {{'selected'| translate}}</a>
                                                            </li>
                                                        </ul>
                                                </div>
                        <button  uib-tooltip="{{'advance search'| translate}}" class="btn yellow-saffron" ng-click="toggleSearchForm()" type="button" >
                            <span class="fa fa-search"></span>
                            <span class="hidden-sm hidden-md  hidden-xs">{{'advance search'| translate}}</span>
                        </button>

                    </div>
                </div>
            </div>
            <div class="portlet-body" style="min-height: 600px;">
                <div class="row" style="padding: 20px;">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #f3f3f3;padding-top: 20px; padding-bottom: 20px; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; ">
                        <form name="frmsearch"  novalidate role="form" class=" text-center" style="margin-top: 2%;padding:0 2%;">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-3">
                                    <div class="form-group" ng-class="{ 'has-error' : frmsearch.first_name.$invalid }">
                                        <label class=" control-label bold">{{'first_name'| translate}}</label>
                                        <input type="text" class="form-control" name="first_name" ng-model="datafilter.first_name" arabic-alphabet
                                               maxlength="45" ng-maxlength="45"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" ng-class="{ 'has-error' : frmsearch.second_name.$invalid }">
                                        <label class=" control-label bold">{{'second_name'| translate}}</label>
                                        <input type="text" class="form-control" name="second_name" ng-model="datafilter.second_name" arabic-alphabet    maxlength="45" ng-maxlength="45"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group " ng-class="{ 'has-error' : frmsearch.third_name.$invalid }">
                                        <label class=" control-label bold">{{'third_name'| translate}}</label>
                                        <input type="text" class="form-control" name="third_name" ng-model="datafilter.third_name" arabic-alphabet    maxlength="45" ng-maxlength="45" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group " ng-class="{ 'has-error' : frmsearch.last_name.$invalid }">
                                        <label class=" control-label bold">{{'last_name'| translate}}</label>
                                        <input type="text" class="form-control" name="last_name" ng-model="datafilter.last_name" arabic-alphabet    maxlength="45" ng-maxlength="45"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-3">
                                    <div class="form-group" ng-class="{ 'has-error' : frmsearch.id_card_number.$invalid }">
                                        <label class=" control-label bold">{{'card_number' | translate }}</label>
                                        <input type="text" class="form-control" name="id_card_number" ng-model="datafilter.id_card_number" maxlength="9"
                                               ng-maxlength="9" numeric-only/>
                                    </div>
                                </div>
                                <div class="col-md-3" >
                                    <div class="form-group">
                                        <label class="control-label bold">   {{'country'| translate}} </label>
                                        <div class="input-group">
                                            <ui-select
                                                    ng-model="datafilter.adscountry_id"
                                                    name="adscountry_id"

                                                    ng-change="getLocation('sdistricts','scountries',datafilter.adscountry_id)"
                                                    theme="bootstrap" class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in aidCountries | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.adscountry_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-3" >
                                    <div class="form-group">
                                        <label class="control-label bold">   {{'district'| translate}} </label>
                                        <div class="input-group">
                                            <ui-select   ng-model="datafilter.adsdistrict_id"
                                                         name="adsdistrict_id"

                                                         ng-change="getLocation('sregions','sdistricts',datafilter.adsdistrict_id)"
                                                         theme="bootstrap" class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in governarate | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.adsdistrict_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-md-3" >
                                    <div class="form-group">
                                        <label class="control-label bold">   {{'region'| translate}} </label>
                                        <div class="input-group">
                                            <ui-select   ng-model="datafilter.adsregion_id"
                                                         name="adsregion_id"

                                                         ng-change="getLocation('sneighborhoods','sregions',datafilter.adsregion_id)"
                                                         theme="bootstrap" class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in regions | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.adsregion_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="custom">
                                <div class="col-md-3" >
                                    <div class="form-group">
                                        <label class="control-label bold">   {{'nearlocation_'| translate}} </label>
                                        <div class="input-group">
                                            <ui-select    ng-model="datafilter.adsneighborhood_id"
                                                          name="adsneighborhood_id"
                                                          ng-change="getLocation('ssquares','sneighborhoods',datafilter.adsneighborhood_id)"

                                                          theme="bootstrap" class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in nearlocation | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.adsneighborhood_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-3" >
                                    <div class="form-group">
                                        <label class="control-label bold">   {{'square'| translate}} </label>
                                        <div class="input-group">
                                            <ui-select    ng-model="datafilter.adssquare_id"
                                                          name="adssquare_id"
                                                          ng-change="getLocation('smosques','ssquares',datafilter.adssquare_id)"

                                                          theme="bootstrap" class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in squares | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.adssquare_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-3" >
                                    <div class="form-group">
                                        <label class="control-label bold">   {{'mosques'| translate}} </label>
                                        <div class="input-group">
                                            <ui-select ng-model="datafilter.adsmosques_id"
                                                       name="adsmosques_id"
                                                       theme="bootstrap" class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in mosques | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                     <button type="button" ng-click="datafilter.adsmosques_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label bold">   {{'street_address'| translate}} </label>
                                        <span class=" text-danger bold help-inline" ng-show="frmpersonal.street_address.$error.required && frmpersonal.street_address.$touched">*</span>
                                        <input type="text"
                                               class="form-control"
                                               ng-model="datafilter.street_address"
                                               name="street_address" placeholder="{{'street_address'| translate}} " />

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="custom">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'request_data'| translate}} ({{'from'| translate}}) </label>
                                        <div  class="input-group">
                                            <input type="text" class="form-control"
                                                   uib-datepicker-popup="{{format}}"
                                                   ng-model="datafilter.created_at_from"
                                                   datepickerPopup
                                                   name="created_at_from"
                                                   is-open="popup99.opened" datepicker-options="dateOptions"
                                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open99($event)">

                                                </button>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'request_data'| translate}} ({{'to'| translate}}) </label>
                                        <div  class="input-group">
                                            <input type="text" class="form-control"
                                                   uib-datepicker-popup="{{format}}"
                                                   ng-model="datafilter.created_at_to"
                                                   datepickerPopup
                                                   name="created_at_to"
                                                   is-open="popup88.opened" datepicker-options="dateOptions"
                                                   date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open88($event)">

                                                </button>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'request_type'| translate}} </label>
                                        <select class="form-control" ng-model="datafilter.type" name="type" >
                                            <option selected value > --  {{'request_type'| translate}}  -- </option>
                                            <option  value="1" > {{'Suggestion' | translate}}</option>
                                            <option  value="2" > {{'interception' | translate}}</option>
                                            <option  value="3" > {{'aid request' | translate}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label bold">  {{'status'| translate}} </label>
                                        <select class="form-control" ng-model="datafilter.status" name="status">
                                            <option selected value > --  {{'status'| translate}}  -- </option>
                                            <option  value="0" > {{'in_progress' | translate}}</option>
                                            <option  value="1" > {{'accepted' | translate}}</option>
                                            <option  value="2" > {{'reject' | translate}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-1 pull-right">
                                    <button class="btn blue" style="width:100%;"
                                            ng-click="CitizenRequestSearch(false,datafilter,'paginate')" type="button" >
                                        <span> {{'search'| translate}}</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
                <div class="row" ng-show="items.length > 0 ">
                    <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
                        <label>
                            {{'show'| translate}}
                            <select
                                    class="form-control input-sm input-inline" ng-init=""
                                    ng-change="itemsPerPage__(itemsCount)"
                                    name="itemsCount"
                                    ng-model='itemsCount'>
                                <option value="50">50</option><option value="100">100</option>
                                <option value="200">200</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="-1">{{'show_All'| translate}}</option>
                            </select>
                        </label>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                    </div>
                </div>
                <div class="table-scrollable"  ng-show="items.length != 0 " style="margin-top: 2%;">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                        <thead>
                        <tr style="background-color: #f3f3f3!important; color: #337ab7; height:60px; line-height: 40px; font-size: 30px; ">
                            <th class="text-center">  {{'#'| translate}} </th>
                            <th class="text-center" style= "vertical-align: middle;" >
                                <input type="checkbox"
                                       ng-model="All"
                                       ng-change="selectedAll(All)"
                                       ng-true-value="true"
                                       ng-false-value="false"
                                >
                            </th>
                            <th class="text-center"
                                style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                ng-click="sort_('id')"> {{'request_id'| translate}}
                                <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('request_id') != -1  ||  sortKeyArr_un_rev.indexOf('request_id') != -1  "
                                      ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('request_id') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('request_id') != -1}"> </span>
                            </th>
                            <th class="text-center"
                                ng-click="sort_('created_at')"> {{'request_data'| translate}}
                                <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('created_at') != -1  ||  sortKeyArr_un_rev.indexOf('created_at') != -1  "
                                      ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('created_at') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('created_at') != -1}"> </span>
                            </th>
                            <th class="text-center"
                                style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                ng-click="sort_('type')"> {{'request_type'| translate}}
                                <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('type') != -1  ||  sortKeyArr_un_rev.indexOf('type') != -1  "
                                      ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('type') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('type') != -1}"> </span>
                            </th>
                            <th class="text-center"
                                style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                ng-click="sort_('request_category')"> {{'request_category'| translate}}
                                <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('request_category') != -1  ||  sortKeyArr_un_rev.indexOf('request_category') != -1  "
                                      ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('request_category') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('request_category') != -1}"> </span>
                            </th>
                            <th class="text-center" ng-click="sort_('full_name')"> {{'full_name'| translate}}
                                <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('full_name') != -1  ||  sortKeyArr_un_rev.indexOf('full_name') != -1  "
                                      ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('full_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('full_name') != -1}"> </span>
                            </th>
                            <th class="text-center"
                                style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                ng-click="sort_('id_card_number')"> {{'card_number' | translate }}
                                <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('id_card_number') != -1  ||  sortKeyArr_un_rev.indexOf('id_card_number') != -1  "
                                      ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('id_card_number') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('id_card_number') != -1}"> </span>
                            </th>
                            <th class="text-center"
                                style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                ng-click="sort_('mobile')"> {{'mobile'| translate}}
                                <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('primary_mobile') != -1  ||  sortKeyArr_un_rev.indexOf('primary_mobile') != -1  "
                                      ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('primary_mobile') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('primary_mobile') != -1}"> </span>
                            </th>
                            <th class="text-center"
                                style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                ng-click="sort_('marital_status')"> {{'marital_status'| translate}}
                                <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('marital_status') != -1  ||  sortKeyArr_un_rev.indexOf('marital_status') != -1  "
                                      ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('marital_status') != -1,
                                                         'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('marital_status') != -1}"> </span>
                            </th>
                            <th class="text-center"
                                style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                ng-click="sort_('district_name')"> {{'district'| translate}}
                                <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('district_name') != -1  ||  sortKeyArr_un_rev.indexOf('district_name') != -1  "
                                      ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('district_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('district_name') != -1}"> </span>
                            </th>
                            <th class="text-center"
                                style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                ng-click="sort_('region_name')"> {{'region'| translate}}
                                <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('region_name') != -1  ||  sortKeyArr_un_rev.indexOf('region_name') != -1  "
                                      ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('region_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('region_name') != -1}"> </span>
                            </th>
                            <th class="text-center"
                                style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                ng-click="sort_('nearLocation')"> {{'nearlocation_'| translate}}
                                <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('nearLocation') != -1  ||  sortKeyArr_un_rev.indexOf('nearLocation') != -1  "
                                      ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('nearLocation') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('nearLocation') != -1}"> </span>
                            </th>
                            <th class="text-center"
                                style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                ng-click="sort_('square_name')"> {{'square'| translate}}
                                <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('square_name') != -1  ||  sortKeyArr_un_rev.indexOf('square_name') != -1  "
                                      ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('square_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('square_name') != -1}"> </span>
                            </th>
                            <th class="text-center"
                                style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                ng-click="sort_('mosque_name')"> {{'mosques'| translate}}
                                <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('mosque_name') != -1  ||  sortKeyArr_un_rev.indexOf('mosque_name') != -1  "
                                      ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('mosque_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('mosque_name') != -1}"> </span>
                            </th>
                            <th class="text-center"
                                style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;"
                                ng-click="sort_('status')"> {{'status'| translate}}
                                <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('status') != -1  ||  sortKeyArr_un_rev.indexOf('status') != -1  "
                                      ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('status') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('status') != -1}"> </span>
                            </th>
                            <th class="text-center" style="width: 5%">  {{'operations'| translate}} </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr dir-paginate="item in items |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                            <td  class="text-center">{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                            <td>
                                <input type="checkbox" class="make-switch"
                                       data-on-color="primary"
                                       data-off-color="info"
                                       ng-model="item.checked"
                                       ng-checked="selectAll"
                                       ng-true-value="true"
                                       ng-false-value="false"
                                >
                            </td>
                            <td  class="text-center"> {{item.id}}</td>
                            <td  class="text-center"> {{item.date}}</td>
                            <td  class="text-center">{{  item.type_name }}</td>
                            <td  class="text-center">{{  item.request_category }}</td>
                            <td  class="text-center">{{item.full_name }} </td>
                            <td  class="text-center">{{  item.id_card_number }}</td>
                            <td  class="text-center">{{item.mobile }}</td>
                            <td  class="text-center">{{item.marital_status }}</td>
                            <td  class="text-center">{{item.district_name }}</td>
                            <td  class="text-center">{{item.region_name }}</td>
                            <td  class="text-center">{{item.nearLocation_name }}</td>
                            <td  class="text-center">{{item.square_name }}</td>
                            <td  class="text-center">{{item.mosque_name }}</td>
                            <td  class="text-center">
                                        <span uib-tooltip="{{'click to change status'| translate}}"
                                              class="btn-group" uib-dropdown>
                                                <span id="single-button" class="btn btn-xs "
                                                      ng-class="{ 'blue' : item.status == 0  ,
                                                                  'red-pink' : item.status == 2  ,
                                                                  'green-turquoise' : item.status == 1}"

                                                      uib-dropdown-toggle>
                                                    <span ng-if="item.status == 0" > <span class="fa fa-refresh"> </span> <span>{{'in_progress' | translate}} </span>  </span>
                                                    <span ng-if="item.status == 1" > <span class="fa fa-check"> </span> <span>{{'accepted' | translate}} </span>  </span>
                                                    <span ng-if="item.status == 2" > <span class="fa fa-ban"> </span> <span>{{'reject' | translate}} </span>  </span>
                                                </span>
                                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button" style="min-width: 150px;">
                                                    <li ng-show="item.status !=0">
                                                        <a ng-click="status(item.id,0,$index)" class="iconify font-blue bold">
                                                            <span class="fa fa-refresh  font-blue"> </span> <span>{{'in_progress' | translate}} </span> </a>
                                                    </li>
                                                    <li ng-show="item.status !=1">
                                                        <a ng-click="status(item.id,1,$index)" class="iconify font-green-turquoise bold">
                                                             <span class="fa fa-check  font-green-turquoise "> </span> <span>{{'accepted' | translate}} </span> </a>
                                                    </li>
                                                    <li ng-show="item.status !=2">
                                                        <a ng-click="status(item.id,2,$index)" class="iconify font-red-pink bold">
                                                             <span class="fa fa-ban  font-red-pink"> </span> <span>{{'reject' | translate}} </span> </a>
                                                    </li>
                                                </ul>
                                            </span>
                            </td>
                            <td  class="text-center">
                                <div class="btn-group btn-group-solid" style=" padding: 0; width: 25px !important; margin: 0;">

                                    <button uib-tooltip="{{'cases list'| translate}}" style="font-size: medium; background-color: transparent"
                                            type="button" class="btn btn-xs bold font-yellow-saffron fa fa-list"
                                            ng-click="cases(item.id_card_number)"></button>

                                    <button uib-tooltip="{{'request_notes'| translate}}" style="font-size: medium; background-color: transparent"
                                            type="button" class="btn btn-xs bold font-blue fa fa-sticky-note"
                                            ng-click="notes(item)">

                                    </button>
                                    <button uib-tooltip="{{'send sms messege'| translate}}" style="font-size: medium; background-color: transparent"
                                            type="button" class="btn btn-xs bold font-green-turquoise glyphicon glyphicon-envelope"
                                            ng-click="sendSms('manual',item.citizen_id)"></button>


                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-show="items.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 2%; margin-bottom: 2%">
                    <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                <span>
                                                                    {{'there is no data to show'| translate}}
                                                                </span>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" ng-show="items.length != 0 ">
                    <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                        <span class="bold ">{{'number of total items'| translate}} : </span>
                        <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                        <span class="bold ">{{'row'| translate}}</span>
                    </div>
                    <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->


<script type="text/ng-template" id="myModalContent2.html">
    <div class="modal-header" style="  padding:5%; ">
        <h4 class="modal-title text-center bold"> {{'status update form' | translate }} </h4>
    </div>
    <div class="modal-body">

        <form name="frm" novalidate="" role="form" class="row text-center" style="padding: 2%;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : frm.status.$invalid && !frm.status.$pristine }">
                        <label>{{'status' | translate }}</label>
                        <select class="form-control" name="status" ng-model="FormData.status" ng-required="true" ng-change="msg1.status = [ ]">
                            <option selected value> ----- {{'status' | translate }}   ----- </option>
                            <option  value="0" > {{'in_progress' | translate}}</option>
                            <option  value="1" > {{'accepted' | translate}}</option>
                            <option  value="2" > {{'reject' | translate}}</option>
                        </select>
                        <span class="font-red-pink bold help-inline" ng-show="frm.status.$error.required && frm.status.$touched">
                          - {{'required_field' | translate }}
                        </span>
                        <span ng-repeat="(error, errortext) in msg1.status" class="font-red-pink bold help-inline" ng-show="status1=='failed_valid' && 'msg1.status' != [ ] " >
                                 {{ errortext.toString() }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                           <p class="text-left bold" style="margin: 0 0 5px 0;padding: 10px; border: 3px solid #fff0f1; border-radius: 4px 0 0 4px;  background-color: #fff0f1;color: #e43a45; min-height: 40px !important;">
                                     {{'The maximum number of records in the uploaded file'| translate}} <span style="margin-left:3px ; margin-right:3px ;  "> : 500  </span> {{'record'| translate}}
                           </p>
                            <p class="text-left bold" style="
                        margin: 0 0 5px 0;
                        padding: 10px;
                        border: 3px solid #fff0f1;
                        border-radius: 4px 0 0 4px;
                        background-color: #fff0f1;
                        color: #e43a45;
                        min-height: 40px !important;
                        ">
                                {{'you should use the new card number for updated card number that be start with 700'| translate}}

                                <button type="button" class="btn red-pink btn-xs" ng-click="checkOldCard()">
                                    <span class="fa fa-check-square"></span><span> {{'to check click here'| translate}}</span>
                                </button>
                            </p>
                        </div>
                        <div class="col-md-12  text-right">
                            <span class="font-blue pull-left text-right bold" >{{'download template' | translate }}</span>
                            <button type="button" style="margin-right: 2%" class="pull-left btn btn-xs blue fa fa-download " STYLE=" margin-right: 0.5%;"
                                    ng-click="download()"></button>

                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <label class="control-label bold">{{'select import file' | translate }}</label>
                            <input type="file" ng-required="true" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" onchange="angular.element(this).scope().fileUpload(this)" class="form-control" data-nv-file-select="" data-uploader="uploader">
                        </div>
                <div ng-repeat="item in Uploader.queue" class="col-md-12 col-sm-12 col-xs-12" ng-show="Uploader.queue.length > 0 ">
                    <div class="col-md-2">
                        <div ng-show="Uploader.isHTML5" ng-thumb="{ file: item._file, height: 48 }"></div>
                    </div>
                    <div class="col-md-2" ng-show="Uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</div>
                    <div class="col-md-3" ng-show="Uploader.isHTML5">
                        <div class="progress progress-sm" style="margin-bottom: 0;">
                            <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span ng-show="item.isSuccess" class="text-success">
                            <i class="glyphicon glyphicon-ok"></i>
                        </span>
                        <span ng-show="item.isCancel" class="text-info">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                        </span>
                        <span ng-show="item.isError" class="font-red-pink">
                            <i class="glyphicon glyphicon-remove"></i>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn red-pink btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> <span>{{'remove'| translate}} </span></button>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="modal-footer">
        <!--        ng-disabled="frm.$invalid"-->
        <button class=" btn blue" ng-disabled="frm.$invalid || !upload "ng-click="confirm(FormData)" type="button" > <span>{{'edit' | translate }}</span>  </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel' | translate }} </span></button>
    </div>
</script>
