<div class="modal-header" style="  padding:3%; ">
    <h4 style="" class="modal-title bold text-center"> {{'request_data'| translate}} </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 text-left">
            <form name="form" novalidate="" role="form" class=" text-center" style="padding: 1%;">
                <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                    <div class="col-md-6 col-sm-12 col-xs-12 text-left">
                        <div class="form-group">
                            <label class="control-label bold">{{'request_type'| translate}}</label>
                            <select class="form-control" ng-model="request.type" name="type"  disabled style="
    background-color: white !important;
    cursor: auto;
" >
                                <option disabled selected value > --  {{'request_type'| translate}}  -- </option>
                                <option  value="1" > {{'Suggestion' | translate}}</option>
                                <option  value="2" > {{'interception' | translate}}</option>
                                <option  value="3" > {{'aid request' | translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12 text-left">
                        <div class="form-group">
                            <label class="control-label bold">{{'request_date'| translate}} </label>
                            <p class="form-control text-center" style="margin-top: 5px;"> {{request.date}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 text-left">
                    <div class="form-group">
                        <label class="control-label bold">{{'request_notes'| translate}}</label>
                        <textarea class="form-control"  ng-model="request.notes"  name="notes" disabled style="
    background-color: white !important;
    cursor: auto;
" rows="10"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer" style="margin-top: 25px;">
    <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
</div>
