<div class="modal-header" style="  padding:3%; ">
    <h4 class="modal-title text-center"> {{'sent sms form' | translate}} </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <form name="form" novalidate="" role="form" class=" text-center" style="padding: 1%;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group " ng-class="{ 'has-error' : frmsms.sms_provider.$invalid && !frmsms.sms_provider.$pristine }">
                            <label class="control-label">   {{'sms_provider'| translate}} </label>
                            <select class="form-control"  ng-model="sms.sms_provider"  ng-required="true" name="sms_provider" ng-keypress="msg1.sms_provider = [ ]" >
                                <option disabled selected value> ---   {{'sms_provider'| translate}} --- </option>
                                <option ng-repeat="Provider in Providers" value="{{Provider.id}}" >
                                    {{Provider.Label}}
                                </option>
                            </select>
                            <span class="text-danger bold help-inline" ng-show="frmsms.sms_provider.$error.required && frmsms.sms_provider.$touched">
                                            {{'required_field'| translate}}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.sms_provider" class="text-danger bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.sms_provider' != [ ]" >
                               {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group " ng-class="{ 'has-error' : frmsms.same_msg.$invalid && !frmsms.same_msg.$pristine }">
                            <label class="control-label">   {{'the_same_msg'| translate}} </label>
                            <select class="form-control"  ng-model="sms.same_msg"  ng-required="true" name="same_msg" ng-keypress="msg1.same_msg = [ ]" >
                                <option disabled selected value =''> ---   {{'select'| translate}} --- </option>
                                <option value =1>  {{'yes'| translate}} </option>
                                <option value =0>  {{'no'| translate}} </option>
                            </select>
                            <span class="text-danger bold help-inline" ng-show="frmsms.same_msg.$error.required && frmsms.same_msg.$touched">
                                            {{'required_field'| translate}}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.same_msg" class="text-danger bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.same_msg' != [ ]" >
                               {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                     <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="form-group " ng-class="{ 'has-error' : frmsms.sent_using.$invalid && !frmsms.sent_using.$pristine }">
                            <label class="control-label">   {{'sent using'| translate}} </label>
                            <select class="form-control"  ng-model="sms.sent_using"  ng-required="true" name="sent_using" ng-keypress="msg1.sent_using = [ ]" >
                                <option disabled selected value =''> ---   {{'select'| translate}} --- </option>
                                <option value =1>  {{'mobile'| translate}} </option>
                                <option value =0>  {{'card_number' | translate }} </option>
                            </select>
                            <span class="text-danger bold help-inline" ng-show="frmsms.sent_using.$error.required && frmsms.sent_using.$touched">
                                            {{'required_field'| translate}}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.sent_using" class="text-danger bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.sent_using' != [ ]" >
                               {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    
                    <div class="col-md-4 col-sm-12 col-xs-12"  ng-if="sms.sent_using == 0">
                        <div class="form-group " ng-class="{ 'has-error' : frmsms.cont_type.$invalid && !frmsms.cont_type.$pristine }">
                            <label class="control-label">   {{'sent using'| translate}} </label>
                            <select class="form-control"  ng-model="sms.cont_type"  ng-required="sms.sent_using == 0" name="cont_type" ng-keypress="msg1.cont_type = [ ]" >
                                <option disabled selected value =''> ---   {{'select'| translate}} --- </option>
                                <option value ='1'>  {{'jawwal'| translate}} </option>
                                <option value ='0'>  {{'wataniya'| translate}} </option>
                            </select>
                            <span class="text-danger bold help-inline" ng-show="frmsms.cont_type.$error.required && frmsms.cont_type.$touched">
                                            {{'required_field'| translate}}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.cont_type" class="text-danger bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.cont_type' != [ ]" >
                               {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12"  ng-if="sms.sent_using == 0">
                        <div class="form-group " ng-class="{ 'has-error' : frmsms.is_code.$invalid && !frmsms.is_code.$pristine }">
                            <label class="control-label">   {{'content_code_to_replace'| translate}} </label>
                            <select class="form-control"  ng-model="sms.is_code"  ng-required="true" name="is_code" ng-keypress="msg1.is_code = [ ]" >
                                <option disabled selected value =''> ---   {{'select'| translate}} --- </option>
                                <option value ='1'>  {{'yes'| translate}} </option>
                                <option value ='0'>  {{'no'| translate}} </option>
                            </select>
                            <span class="text-danger bold help-inline" ng-show="frmsms.is_code.$error.required && frmsms.is_code.$touched">
                                            {{'required_field'| translate}}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.is_code" class="text-danger bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.is_code' != [ ]" >
                               {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                 </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" ng-if="sms.same_msg == 1">
                        <div class="note note-success"  ng-if="sms.is_code == 1">
                                <i style="font-size: larger" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                {{'please replace name to name place on add msg' | translate}}
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : frmsms.sms_messege.$invalid && !frmsms.sms_messege.$pristine }">
                            <label class="control-label">  {{'sms_messege'| translate}} </label>
                            <label class="control-label bold font-red-pink"> {{'char_count'| translate}} : (  {{sms.sms_messege.length}}  ) </label>
                            <textarea ng-model="sms.sms_messege"
                                      name="sms_messege"
                                      placeholder="{{'sms_messege'| translate}}"
                                      ng-change="msg1.sms_messege = [ ]"
                                      class="form-control"
                                      rows="4"
                                      ng-required="sms.same_msg == 1">
                    </textarea>
                            <span class="text-danger bold help-inline" ng-show="frmsms.sms_messege.$error.required && frmsms.sms_messege.$touched">
                        {{'required_field'| translate}}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.sms_messege"
                                  class="text-danger bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.sms_messege' != [ ]" >
                       {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                         <p class="text-left bold" style="margin: 0 0 5px 0;padding: 10px; border: 3px solid #fff0f1; border-radius: 4px 0 0 4px;  background-color: #fff0f1;color: #e43a45; min-height: 40px !important;">
                                   {{'The maximum number of records in the uploaded file'| translate}} <span style="margin-left:3px ; margin-right:3px ;  "> : 500  </span> {{'record'| translate}}
                          </p>
                            <p class="text-left bold" style="
                            margin: 0 0 5px 0;
                            padding: 10px;
                            border: 3px solid #fff0f1;
                            border-radius: 4px 0 0 4px;
                            background-color: #fff0f1;
                            color: #e43a45;
                            min-height: 40px !important;
                            ">
                                {{'you should use the new card number for updated card number that be start with 700'| translate}}

                                <button type="button" class="btn red-pink btn-xs" ng-click="checkOldCard()">
                                    <span class="fa fa-check-square"></span><span> {{'to check click here'| translate}}</span>
                                </button>
                            </p>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12  text-right">
                            <span class="font-blue pull-left text-right bold" >{{'download template'| translate}}</span>
                            <a   href="javascript:;" class="pull-left btn btn-xs blue fa fa-download " style="margin-right: 2%"
                                 ng-click="download()"
                            ></a>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">
                            <label class="control-label bold">{{'select import file'| translate}}</label>
                            <input type="file" id="upload" ng-required="true"
                                   accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                   onchange="angular.element(this).scope().fileUpload(this)" class="form-control" data-nv-file-select="" data-uploader="uploader">
                            <span ng-repeat="(error, errortext) in err_msg.logo" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'err_msg.logo' != []" >
                                {{ errortext.toString()}}
                            </span>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn blue" ng-click="confirm(sms)" ng-disabled=" !(form.$valid && upload) " type="button" >
        <span> {{'send_sms'| translate}}</span>
    </button>
    <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
</div>