<div class="modal-header" style="  padding:20px; ">
    <h4 class="modal-title text-center bold " ng-if="!action"> {{'add sms service form'| translate}} </h4>
    <h4 class="modal-title text-center bold" ng-if="action"> {{'update sms service detail form'| translate}} </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12  col-sm-12 col-xs-12">
            <form name="frm" novalidate="" role="form" class=" text-center" style="padding: 2%;">
                <div class="form-group " ng-class="{ 'has-error' : frmsms.sms_provider.$invalid && !frmsms.sms_provider.$pristine }" ng-if="!action">
                    <label class="control-label bold">   {{'sms_provider'| translate}}  </label>

                    <div class="input-group">
                        <ui-select name="sms_provider" ng-model="row.sms_provider"theme="bootstrap"
                                   class="text-right" >
                            <ui-select-match>{{$select.selected.Label}}</ui-select-match>
                            <ui-select-choices repeat="row.id as row in Providers | filter: $select.search">
                                <div ng-bind-html="row.Label | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                                            <button type="button" ng-click="row.sms_provider = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                    </div>
                    <span class="text-danger bold help-inline" ng-show="frmsms.sms_provider.$error.required && frmsms.sms_provider.$touched">
                                                                    {{'required_field'| translate}}
                                            </span>
                    <span ng-repeat="(error, errortext) in msg1.sms_provider" class="text-danger bold help-inline"
                          ng-show="status1=='failed_valid' && 'msg1.sms_provider' != [ ]" >
                                                       {{ errortext.toString() }}
                                            </span>
                </div>

                <div class="form-group " ng-class="{ 'has-error' : frm.api_username.$invalid && !frm.api_username.$pristine }">
                    <label class="control-label bold">  {{'api_username'| translate}} </label>
                    <input type="text" class="form-control" ng-model="row.api_username"  name="api_username" ng-change="msg1.api_username = [ ]"
                           placeholder="{{'api_username'| translate}} " ng-required="true" />
                    <span class="text-danger bold help-inline" ng-show="frm.api_username.$error.required && frm.api_username.$touched">
                                                    {{'required_field'| translate}}
                            </span>
                    <span ng-repeat="(error, errortext) in msg1.api_username" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.api_username' != [ ]" >
                                       {{ errortext.toString() }}
                            </span>
                </div>
                <div class="form-group " ng-class="{ 'has-error' : frm.api_password.$invalid && !frm.api_password.$pristine }">
                    <label class="control-label bold">   {{'api_password'| translate}}  </label>
                    <input type="password" class="form-control" ng-model="row.api_password"  name="api_password" ng-change="msg1.api_password = [ ]"
                           placeholder="{{'api_password'| translate}} " ng-required="true" />
                    <span class="text-danger bold help-inline" ng-show="frm.api_password.$error.required && frm.api_password.$touched">
                                                    {{'required_field'| translate}}
                            </span>
                    <span ng-repeat="(error, errortext) in msg1.api_password" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.api_password' != [ ]" >
                                       {{ errortext.toString() }}
                            </span>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class=" btn btn-primary" ng-disabled="frm.$invalid" ng-click="confirm(row)" type="button" >
        <span>{{'save'| translate}} </span> </button>
    <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
</div>