<div class="modal-header" style="  padding:2%; ">
    <h4 class="modal-title text-center" ng-if="row.id"> {{'update sms provider form'| translate}} </h4>
    <h4 class="modal-title text-center" ng-if="!row.id"> {{'add new sms provider form'| translate}} </h4>
</div>
<div class="modal-body">
    <div class="row">

        <form name="frm" novalidate="" role="form" class=" text-center" style="padding: 2%;">
            <div class="col-md-12  col-sm-12 col-xs-12">
                <div class="form-group " ng-class="{ 'has-error' : frm.Label.$invalid && !frm.Label.$pristine }">
                    <label class="control-label bold">   {{'sender_Label'| translate}} </label>
                    <input type="text" class="form-control" ng-model="row.Label"  name="Label" ng-change="msg1.Label = [ ]"
                           placeholder="{{'sender_Label'| translate}} " ng-required="true" />
                    <span class="text-danger bold help-inline" ng-show="frm.Label.$error.required && frm.Label.$touched">
                                                    {{'required_field'| translate}}
                            </span>
                    <span ng-repeat="(error, errortext) in msg1.Label" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.Label' != [ ]" >
                                       {{ errortext.toString() }}
                            </span>
                </div>
            </div>
            <p class="col-md-12  col-sm-12 col-xs-12">

                <div class="text-left bold" style="margin: 0 0 5px 0;padding: 10px; border: 3px solid #fff0f1; border-radius: 4px 0 0 4px;  background-color: #fff0f1;color: #e43a45; min-height: 40px !important;">
                    <p class="text-primary " style=" margin-top: 1%; margin-bottom: 1%; padding: 2% 2%;">
                        <i style="font-size: larger" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        <span style="margin-bottom: 10%;">  {{'instruction on add url'| translate}} </span> </br>
                        <span style="margin-right: 3%;">  1- {{'please replace username to $username on add url'| translate}} </span>  </br>
                        <span style="margin-right: 3%;">  2- {{'please replace password to $password on add url'| translate}} </span> </br>
                        <span style="margin-right: 3%;">  3- {{'please replace mobile number to $mobile_number on add url'| translate}} </span>  </br>
                        <span style="margin-right: 3%;">  4- {{'please replace message to $message on add url'| translate}} </span> </br>
                        <span style="margin-right: 3%;">  5- {{'please replace sender to $sender on add url'| translate}} </span> </br>
                    </p>
                </div>
            </div>

            <div class="col-md-12  col-sm-12 col-xs-12">
                <div class="form-group " ng-class="{ 'has-error' : frm.api_sms_balance_url.$invalid && !frm.api_sms_balance_url.$pristine }">
                    <label class="control-label bold">   {{'api_sms_balance_url'| translate}} </label>
                    <textarea
                            class="form-control" ng-model="row.api_sms_balance_url"  name="api_sms_balance_url" ng-change="msg1.api_sms_balance_url = [ ]"
                            placeholder="{{'api_sms_balance_url'| translate}} " ng-required="true"
                            rows="2">
                    </textarea>

                    <span class="text-danger bold help-inline" ng-show="frm.api_sms_balance_url.$error.required && frm.api_sms_balance_url.$touched">
                                                        {{'required_field'| translate}}
                                </span>

                    <span ng-repeat="(error, errortext) in msg1.api_sms_balance_url" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.api_sms_balance_url' != [ ]" >
                                           {{ errortext.toString() }}
                                </span>
                </div>
            </div>
            <div class="col-md-12  col-sm-12 col-xs-12">
                <div class="form-group " ng-class="{ 'has-error' : frm.api_url.$invalid && !frm.api_url.$pristine }">
                    <label class="control-label bold">   {{'api_url'| translate}} </label>

                    <textarea class="form-control" ng-model="row.api_url"  name="api_url" ng-change="msg1.api_url = [ ]"
                              placeholder="{{'api_url'| translate}} " ng-required="true" rows="2">
                    </textarea>
                    <span class="text-danger bold help-inline" ng-show="frm.api_url.$error.required && frm.api_url.$touched">
                                                    {{'required_field'| translate}}
                            </span>
                    <span ng-repeat="(error, errortext) in msg1.api_url" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.api_url' != [ ]" >
                                       {{ errortext.toString() }}
                            </span>
                </div>
            </div>
        </form>

    </div>

</div>
<div class="modal-footer">
    <button class=" btn btn-primary" ng-disabled="frm.$invalid" ng-click="confirm(row)" type="button" >
        <span ng-if="!row.id">{{'confirm insert new sms provider'| translate}}</span>
        <span ng-if="row.id">{{'confirm update sms provider'| translate}}</span>
    </button>
    <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}} </span></button>
</div>