<style>
    .tabbable-line>.nav-tabs>li.active {
        background: 0 0;
        border-bottom: 4px solid #3598dc ;
        position: relative;
    }

    .bg-error{
        background-color: #efe6e6;
        border: 1px solid #e7468a !important;
    }
    .disabled {
        pointer-events: none;
        cursor: default;
    }
</style>

<style>
    .inactive ,.inactive .btn-group ,.inactive .btn-group button{
        color: #ccc;
        pointer-events: none;
        cursor: not-allowed;
    }

    .scrolTB {
        /*max-width: 40em;*/
        overflow: overlay;
        position: relative;
    }

    .scrolTB table {
        position: relative;
        border-collapse: collapse;
    }

    .scrolTB table td,.scrolTB table th {
        padding: 0.25em;
    }

    .scrolTB table thead th {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        background-color: #f3f3f3!important;
        top: 0;
        color: #2ab4c0;
        /*line-height: 40px;*/
        font-size: 12px;
        height: 50px;
        z-index: 999;
    }

    .scrolTB table thead th:first-child {
        left: 0;
        z-index: 1;
    }

    .scrolTB table tbody tr th {
        position: -webkit-sticky; /* for Safari */
        position: sticky;background-color: #f3f3f3!important;
        right: 0;
        border-right: 1px solid #CCC;
        color: #2ab4c0;
        line-height: 40px;
        z-index: 999;
    }

    .btn-group>.dropdown-menu, .dropdown-toggle>.dropdown-menu, .dropdown>.dropdown-menu{
        z-index: 1002;

    }

    .table thead tr th, .table td, .table th, .content-font-size, .btn > span {
        font-size: 12px;
    }
    .red-pink-{
        background-color: #f9cfdd !important;
    }
</style>


<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{ 'manage' | translate}} {{ 'administrative-reports' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <i href="#/organization/administrative-reports">{{'administrative-reports'| translate}}</i>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li  ng-show="row.title" >
        {{row.title}}
        <i class="glyphicon glyphicon-menu-right" ng-show="row.title"></i>
    </li>
    <li>
        {{'report tabs'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span ng-if="(row.data_status == 3 || row.data_status == '3')">
            {{'show'| translate}}
        </span>
        <span ng-if="!(row.data_status == 3 || row.data_status == '3')">
            {{'edit_'| translate}}
        </span>
    </li>

</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12  col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                         <span class="fa fa-eye" ng-if="(row.data_status == 3 || row.data_status == '3')"></span>
                        <span  class="fa fa-pencil-square-o" ng-if="!(row.data_status == 3 || row.data_status == '3')"></span>
                        <span> {{'report tabs'| translate}}</span>
                        <span  ng-show="row.title" >
                            "
                            <span> {{row.title}}</span>
                           "
                        </span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">

                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12   ">
                        <div class="portlet-title tabbable-line">
                            <ul class="nav nav-tabs pull-left">
                                <li ng-repeat=" tb in row.tabs" id="btn_0_tab_1_{{$index}}" ng-class="{ '' : !tb.selected , 'active' : tb.selected }">

                                    <a  href="#"  id="btn_tab_1_{{$index}}" ng-if="tb.disable" class="disabled"
                                        data-toggle="tab" ng-click="fetch($index)"> {{tb.title}} </a>

                                    <a  href="#" id="btn_tab_1_{{$index}}" ng-if="!tb.disable" class="active"
                                        data-toggle="tab" ng-click="fetch($index)"> {{tb.title}} </a>
                                    <!---->
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body  text-center"  style="min-height: 450px;">
                            <div class="tab-content" style="    padding: 20px;">
                                <div class="tab-pane " ng-repeat=" tb in row.tabs" id="tab_1_{{$index}}" ng-class="{ 'active' : tb.selected }">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12" style="border: 1px solid #e7ecf1 !important;box-sizing: border-box;border-radius: 1%;margin-top: 10px;">
                                            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="tb.options.length > 0 && tb.columns.length > 0">
                                                <form name="testform"  novalidate="" role="form" class="text-center">
                                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center"  ng-if="!(row.data_status == 3 || row.data_status == '3')"
                                                         style="background-color: #ffe2ec;padding:  15px;border-radius: 10px;margin-bottom: 3% !important;margin-top: 3% !important;border: 1px dashed #e08283;">
                                                        <h5 class="font-red-pink  bold">
                                                            <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                                                            {{'You must enter all the required fields in the tab in order to move to the next tab' | translate}}
                                                        </h5>
                                                    </div>
                                                    <div class="col-md-12 col-sm-12 col-xs-12   " ng-show="tb.options.length > 0 && tb.columns.length > 0">
                                                        <form name="testform"  novalidate="" role="form" class="text-center" style="padding: 2%;">
                                                            <div class="scrolTB" >
                                                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center"   >
                                                                    <thead>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                                                        <td class="text-center bold" ng-click="sort('label')" height="50px"
                                                                            style="position: -webkit-sticky;position: sticky;background-color: #f3f3f3!important; max-width:1000px;
                                                                                            top: 0;right: 0; border: 0px;line-height: 40px; z-index: 1000; padding: 0px !important;">
                                                                                             <span style="width: 150px !important;float: right;color: #e7ecf1;">
                                                                                                 <span class="glyphicon sort-icon"  style="color: #5d94c4 !important;"
                                                                                                       ng-show="sortKey=='label'"
                                                                                                       ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                                             </span>

                                                                        </td>
                                                                        <!--                                                                                    ng-click="sort({{column.name}})"-->
                                                                        <td ng-repeat="column in tb.columns" class="text-center bold"
                                                                            ng-class=" (  columns_required[column.id]    ) ? 'red-pink-' : ''"
                                                                            style="background-color: #f3f3f3!important; color: #337ab7; width: 10px; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;">
                                                                            {{column.label}}
                                                                            <br ng-if="column.type == 1 || column.type == 2">
                                                                            <span ng-if="column.type == 1 || column.type == 2"> ({{column.sum}}) </span>

                                                                            <br>


                                                                            <span class="font-red-pink bold help-inline" ng-show="column.priority==1"> ({{'mandatory' | translate }} )</span>
                                                                            <span class="text-success bold help-inline" ng-show="column.priority==2">({{'advisable' | translate }})</span>
                                                                            <br>

                                                                            <span class="text-danger bold help-inline" ng-if="columns_required[column.id]" >{{'required_field'| translate}}</span>

                                                                        </td>
                                                                    </tr>


                                                                    <tr ng-repeat="field in tb.options">
                                                                        <td class="bold" style="
                                                                                                   width: 150px !important;
                                                                                                   position: sticky;
                                                                                                   background-color: #f3f3f3!important;
                                                                                                   right: 0;  max-width:1000px;
                                                                                                   height: 50px;
                                                                                                   z-index: 999;
                                                                                                   ">

                                                                                            <span class="bold" style="color: #337ab7; width: 85px !important; float: right">
                                                                                                {{ field.label }}
                                                                                                <br>
                                                                                                <span class="font-red-pink bold help-inline" ng-show="field.priority==1"> ({{'mandatory' | translate }} )</span>
                                                                                                <span class="text-success bold help-inline" ng-show="field.priority==2">({{'advisable' | translate }})</span>
                                                                                            </span>

                                                                        </td>
                                                                        <td ng-repeat="column in tb.columns" class="text-center" style=" max-width:1000px; "
                                                                            ng-class=" (  columns_required[column.id]    ) ? 'red-pink-' : ''">
                                                                            <input type="text"  only-numbers style="width: 85px"
                                                                                   class="form-control text-center"
                                                                                   data-ng-model="column.data[field.id]"
                                                                                   name="amount"  ng-blur="UpdateSum(column)"
                                                                                   ng-disabled="(row.data_status == 3 || row.data_status == '3')"
                                                                                   ng-if="column.type == 1"
                                                                                   placeholder=" ---   {{column.label}} --- "
                                                                                   ng-required="field.priority ==4"
                                                                            >

                                                                            <input type="text"  floating-number-only style="width: 85px"
                                                                                   ng-disabled="(row.data_status == 3 || row.data_status == '3')"
                                                                                   class="form-control text-center" data-ng-model="column.data[field.id]" ng-blur="UpdateSum(column)"
                                                                                   placeholder=" ---   {{column.label}} --- " ng-if="column.type == 2"
                                                                                   ng-required="field.priority ==4"
                                                                            >

                                                                            <input type="text"  style="width: 150px"
                                                                                   class="form-control text-center" data-ng-model="column.data[field.id]"
                                                                                   dynamic-name="column.name" id="{{column.name}}"
                                                                                   placeholder=" ---   {{column.label}} --- "
                                                                                   ng-disabled="(row.data_status == 3 || row.data_status == '3')"
                                                                                   ng-if="column.type == 3"
                                                                                   ng-required="column.priority ==4"
                                                                            >

                                                                            <textarea dynamic-name="column.name" style="width: 200px" ng-if="column.type == 4"
                                                                                      placeholder=" ---   {{column.label}} --- "
                                                                                      ng-disabled="(row.data_status == 3 || row.data_status == '3')"
                                                                                      data-ng-model="column.data[field.id]" class="form-control"
                                                                                      ng-required="column.priority ==4" rows="4">

                                                                                                    </textarea>

                                                                            <input type="date"  format-date
                                                                                   style="width: 150px"
                                                                                   class="form-control text-center"
                                                                                   data-ng-model="column.data[field.id]"
                                                                                   ng-disabled="(row.data_status == 3 || row.data_status == '3')"
                                                                                   ng-if="column.type == 6"
                                                                                   ng-required="column.priority ==4"
                                                                            >

<!--                                                                            <div  class="input-group" ng-if="column.type == 6">-->
<!--                                                                                <input type="text" class="form-control"-->
<!--                                                                                       ng-if="column.type == 6"-->
<!--                                                                                       uib-datepicker-popup="{{format}}"-->
<!--                                                                                       data-ng-model="column.data[field.id]"-->
<!--                                                                                       datepickerPopup-->
<!--                                                                                       dynamic-name="column.name"-->
<!--                                                                                       required-->
<!--                                                                                       is-open="popup_open(column.id,field.id)"-->
<!--                                                                                       datepicker-options="dateOptions1"-->
<!--                                                                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />-->
<!--                                                                                    <span class="input-group-btn">-->
<!--                                                                                        <button type="button" class="btn fa fa-calendar btn-default"-->
<!--                                                                                                ng-disabled="id != null" ng-click="open(column.id,field.id,$event)">-->
<!--                                                                                        </button>-->
<!--                                                                                    </span>-->
<!--                                                                            </div>-->

                                                                            <select ng-if="column.type=='5'" class="form-control"
                                                                                    style="width: 150px"
                                                                                    data-ng-model="column.data[field.id]"
                                                                                    value="{{column.value}}"
                                                                                    ng-disabled="(row.data_status == 3 || row.data_status == '3')"
                                                                                    dynamic-name="column.name" id="{{column.name}}"
                                                                                    ng-required="column.priority ==4">
                                                                                <option disabled selected value> ---   {{column.label}} --- </option>
                                                                                <option ng-repeat="option in column.option_list" value="{{option.id}}"  ng-selected="option.id == column.data[field.id]" >
                                                                                    {{option.label}}
                                                                                </option>
                                                                            </select>

                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td class="bold" style="width: 150px !important; position: sticky;
                                                                                                background-color: #f3f3f3!important;
                                                                                                right: 0;  max-width:1000px;
                                                                                                height: 50px;
                                                                                                 z-index: 999;">
                                                                            <span style="width: 150px !important; float: right">
                                                                                {{'total no'| translate}}
                                                                            </span>
                                                                        </td>
                                                                        <td ng-repeat="column in tb.columns" style=" max-width:1000px;">
                                                                            {{column.sum}}
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 text-center" ng-if="tb.options.length < 1 " style="margin-top: 2%;margin-bottom: 2%">
                                                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                <span>
                                    {{'there is no options to show'| translate}}
                                </span>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12" ng-if="(!(row.data_status == 3 || row.data_status == '3')) && tb.options.length > 0"
                                                 style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                                                <div class="col-md-3 " >
                                                    <div class="clearfix pull-left">
                                                        <button class=" btn blue button-previous" ng-click="save($index,tb.options,tb.columns,tb.type)"type="button" >
                                                            <i class="fa fa-save"></i>
                                                            <span>{{'save'| translate}}</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
