<style>
    .tabbable-line>.nav-tabs>li.active {
        background: 0 0;
        border-bottom: 4px solid #3598dc ;
        position: relative;
    }

    .bg-error{
        background-color: #efe6e6;
        border: 1px solid #e7468a !important;
    }
    .disabled {
        pointer-events: none;
        cursor: default;
    }
</style>

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{ 'manage' | translate}} {{ 'administrative-reports' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" >
        <a href="#/administrative-reports"> {{'administrative-reports'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li  ng-show="row.title" >
        {{row.title}}
        <i class="glyphicon glyphicon-menu-right" ng-show="row.title"></i>
    </li>
   <li>
        {{'report tabs'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span ng-if="(row.data_status == 3 || row.data_status == '3')">
            {{'show'| translate}}
        </span>
        <span ng-if="!(row.data_status == 3 || row.data_status == '3')">
            {{'edit_'| translate}}
        </span>
    </li>

</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12  col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span  class="fa fa-pencil-square-o"></span>
                        <span> {{'report tabs'| translate}}</span>
                        <span  ng-show="row.title" >
                            "
                            <span> {{row.title}}</span>
                           "
                        </span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">

                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12   ">
                        <div class="portlet-title tabbable-line">
                            <ul class="nav nav-tabs pull-left">
                                <li ng-repeat=" tb in row.tabs" id="btn_0_tab_1_{{$index}}" ng-class="{ '' : !tb.selected , 'active' : tb.selected }">

                                    <a  href="#"  id="btn_tab_1_{{$index}}" ng-if="tb.disable" class="disabled"
                                       data-toggle="tab" ng-click="fetch($index)"> {{tb.title}} </a>

                                    <a  href="#" id="btn_tab_1_{{$index}}" ng-if="!tb.disable" class="active"
                                        data-toggle="tab" ng-click="fetch($index)"> {{tb.title}} </a>
                                    <!---->
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body  text-center"  style="min-height: 450px;">
                            <div class="tab-content" style="    padding: 20px;">
                                <div class="tab-pane " ng-repeat=" tb in row.tabs" id="tab_1_{{$index}}" ng-class="{ 'active' : tb.selected }">
                                    <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="border: 1px solid #e7ecf1 !important;box-sizing: border-box;border-radius: 1%;margin-top: 10px;">
                                        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="tb.options.length > 0 ">
                                                <form name="testform"  novalidate="" role="form" class="text-center">
                                                    <div class="col-md-12 col-sm-12 col-xs-12 text-center"
                                                         style="background-color: #ffe2ec;padding:  15px;border-radius: 10px;margin-bottom: 3% !important;margin-top: 3% !important;border: 1px dashed #e08283;">
                                                        <h5 class="font-red-pink  bold">
                                                            <span class="fa fa-exclamation-triangle" aria-hidden="true"></span>
                                                            {{'You must enter all the required fields in the tab in order to move to the next tab' | translate}}
                                                        </h5>
                                                    </div>
                                                    <div ng-repeat="field in tb.options"  ng-show="tb.options.length > 0 && tb.type != '3'">
                                                        <div ng-form="form">

                                                            <div ng-if="field.type!='3'" class="col-md-3 text-center" >

                                                                <div  class="form-group" ng-class="{ 'has-error' : field.required && !field.value }">
                                                                    <label class="control-label">
                                                                        <span class="bold">{{field.label}}</span>
                                                                        <span class="font-red-pink bold help-inline" ng-show="field.priority==1"> {{'mandatory' | translate }} </span>
                                                                        <span class="text-success bold help-inline" ng-show="field.priority==2">{{'advisable' | translate }}</span>
                                                                    </label>

                                                                    <!-- TEXT FIELDS -->
                                                                    <input ng-if="field.type=='1'" type="text"
                                                                           dynamic-name="field.name"   ng-class="{ 'bg-error' : field.required && !field.value }"
                                                                           ng-model="field.value"  class="form-control"
                                                                           ng-disabled="(row.data_status == 3 || row.data_status == '3')"
                                                                           ng-required="field.priority ==4" value="{{field.value}}" placeholder=" ---   {{field.label}} --- "
                                                                    />

                                                                    <!-- SELECT FIELDS -->
                                                                    <select ng-if="field.type=='2'" class="form-control"  ng-class="{ 'bg-error' : field.required && !field.value }"
                                                                            ng-model="field.value" value="{{field.value}}" ng-disabled="(row.data_status == 3 || row.data_status == '3')" dynamic-name="field.name"
                                                                            ng-required="field.priority ==4">
                                                                        <option disabled selected value> ---   {{field.label}} --- </option>
                                                                        <option ng-repeat="option in field.option_list"
                                                                                ng-value="{{option.id}}" value="{{option.id}}" ng-selected="option.id == field.value">
                                                                            {{option.label}}
                                                                        </option>
                                                                    </select>
                                                                    <span class="text-danger bold help-inline" ng-if="field.required && !field.value " >{{'required_field'| translate}}</span>
                                                                </div>
                                                            </div>
                                                            <div ng-if="field.type=='3'" class="col-md-12 col-sm-12 col-xs-12 text-left" >

                                                                <div  class="form-group" ng-class="{ 'has-error' : field.required && !field.value }">
                                                                    <label class="control-label">
                                                                        <span class="bold">{{field.label}}</span>
                                                                        <span class="font-red-pink bold help-inline" ng-show="field.priority==1"> {{'mandatory' | translate }} </span>
                                                                        <span class="text-success bold help-inline" ng-show="field.priority==2">{{'advisable' | translate }}</span>
                                                                    </label>
                                                                    <textarea dynamic-name="field.name" ng-disabled="(row.data_status == 3 || row.data_status == '3')"
                                                                              ng-class="{ 'bg-error' : field.required && !field.value }"
                                                                              ng-model="field.value" class="form-control"
                                                                              ng-required="field.priority ==4" placeholder=" ---   {{field.label}} --- "rows="4">
                                                                </textarea>
                                                                    <span class="text-danger bold help-inline" ng-if="field.required && !field.value " >{{'required_field'| translate}}</span>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="table-scrollable" ng-show="tb.options.length > 0 && tb.type == '3'">
                                                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                                                            <thead>
                                                            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                                                <th class="col-md-1 text-center" > {{'#'| translate}} </th>
                                                                <th class="col-md-6 text-center" ng-click="sort('name')" > {{'project_name'| translate}}
                                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='title'"
                                                                          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                </th>
                                                                <th class="col-md-2 text-center" ng-click="sort('count')" > {{'total_beneficiary_no'| translate}}

                                                                    <br>
                                                                    ( {{tb.input_type}} )
                                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='title'"
                                                                          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                </th>
                                                                <th class="col-md-2 text-center" ng-click="sort('amount')" >
                                                                    {{'total_project_amount'| translate}}
                                                                    <br>
                                                                    ( {{'element_type_number_decimal'| translate}} )
                                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='title'"
                                                                          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                </th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="field in tb.options"  >
                                                                <td>{{$index +1}}</td>
                                                                <td>{{ field.label }}
                                                                    <span class="font-red-pink bold help-inline" ng-show="field.priority==1"> ({{'mandatory' | translate }} )</span>
                                                                    <span class="text-success bold help-inline" ng-show="field.priority==2">({{'advisable' | translate }})</span>
                                                                </td>
                                                                <td>
                                                                    <input type="text"  only-numbers ng-model="field.value" name="value"
                                                                           ng-disabled="(row.data_status == 3 || row.data_status == '3')"
                                                                           class="form-control text-center" ng-class="{ 'bg-error' : field.required && !field.value }"
                                                                           ng-if="(field.type == 1 || field.type == '1')" ng-blur="UpdateTotal(1,field,field.count,tb)">

                                                                    <input type="text"  floating-number-only ng-model="field.value" name="value"
                                                                           ng-disabled="(row.data_status == 3 || row.data_status == '3')"
                                                                           class="form-control text-center" ng-class="{ 'bg-error' : field.required && !field.value }"
                                                                           ng-if="!(field.type == 1 || field.type == '1')" ng-blur="UpdateTotal(1,field,field.count,tb)">

                                                                    <span class="text-danger bold help-inline" ng-if="field.required && !field.value " >{{'required_field'| translate}}</span>
                                                                </td>
                                                                <td>
                                                                    <input type="text"  class="form-control text-center" ng-class="{ 'bg-error' : field.required_amount && !field.amount }"
                                                                           ng-disabled="(row.data_status == 3 || row.data_status == '3')"
                                                                           floating-number-only ng-model="field.amount" name="amount" ng-blur="UpdateTotal(2,field,field.amount,tb)">
                                                                    <span class="text-danger bold help-inline" ng-if="field.required_amount && !field.amount " >{{'required_field'| translate}}</span>
                                                                </td>
                                                            <tr ng-show="tb.options.length != 0 ">
                                                                <th class="bold text-center" colspan="2" style="background-color: #f3f3f3!important; color: #337ab7;"> {{'total'| translate}}</th>
                                                                <th class="bold text-center" colspan="1">{{tb.sum_value}}</th>
                                                                <th class="bold text-center" colspan="1">{{tb.sum_amount}}</th>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </form>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-center" ng-if="tb.options.length < 1 " style="margin-top: 2%;margin-bottom: 2%">
                                            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                <span>
                                    {{'there is no options to show'| translate}}
                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="tb.options.length > 0 "
                                             style=" border-top: 2px solid #eee; padding: 20px 0px;" >
                                            <div class="col-md-3 " >
                                                <div class="clearfix pull-left">
                                                    <button class=" btn blue button-previous" ng-click="save($index,tb.options,tb.type)"type="button" >
                                                        <i class="fa fa-save"></i>
                                                        <span>{{'save'| translate}}</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
