<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{ 'manage' | translate}} {{ 'administrative-reports' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" >

        <i>{{'administrative-reports'| translate}}</i>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12  col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span  class="fa fa-circle-o-notch"></span>
                        <span> {{'administrative-reports'| translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">

                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1%;padding-top: 4%;padding-bottom: 2%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                            <form name="form">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center ">

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-12 col-xs-12 text-center" style="padding-top:25px;">
                                            <div class="form-group">
                                                <label class="control-label bold">

                                                              <span ng-if="filters.all_organization" class="checker">
                                                                    <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                           ng-model="filters.all_organization" ng-true-value="true" ng-false-value="false">
                                                              </span>
                                                    <span ng-if="!filters.all_organization">
                                                                    <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                           ng-model="filters.all_organization" ng-true-value="true" ng-false-value="false">
                                                              </span>
                                                    <span >{{'search in all organization'| translate}}</span>
                                                </label>
                                            </div>

                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12" >
                                            <div class="form-group ">
                                                <label class=" control-label bold">{{'organization name'| translate}}</label>
                                                <multiselect  ng-class="filters.all_organization? '' : 'inactive'"
                                                              ng-model="filters.organization_id" ng-if="Org"
                                                              options="Org" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                                </multiselect>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label  bold ">  {{'report_title' | translate }}  </label>
                                                <input type="text" class="form-control"   ng-model="filters.title"  name="title"
                                                       placeholder="{{'report_title' | translate }} "  />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label  bold ">{{'report_type' | translate }}</label>
                                                <select class="form-control" name="type" ng-model='filters.type' >
                                                    <option selected value > --  {{'report_type' | translate }}  -- </option>
                                                    <option  value="1" > {{'Annual' | translate }} </option>
                                                    <option  value="2" > {{'mid Annual' | translate }} </option>
                                                    <option  value="3" > {{'quarter Annual' | translate }} </option>
                                                    <option  value="4" > {{'monthly' | translate }} </option>
                                                    <option  value="5" > {{'urgent' | translate }} </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label  bold ">{{'report_category' | translate }}</label>
                                                <select class="form-control" name="type" ng-model='filters.category' >
                                                    <option disabled selected value > --  {{'report_category' | translate }}  -- </option>
                                                    <option  value="1" > {{'center_' | translate }} </option>
                                                    <option  value="2" > {{'custom' | translate }} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" ng-class="{ 'has-error' : form.status.$invalid && !form.status.$pristine }">
                                                <label class="control-label bold">  {{'report_status'| translate}}  </label>
                                                <select class="form-control" ng-init="" class="form-control" ng-model="filters.status"  name="status">
                                                    <option disabled selected value > --  {{'report_status'| translate}}   -- </option>
                                                    <option value="1">  {{'Active'| translate}} </option>
                                                    <option value="2">  {{'Inactive'| translate}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" ng-class="{ 'has-error' : form.month.$invalid && !form.month.$pristine }">
                                                <label class="control-label bold">  {{'report_month'| translate}}  </label>
                                                <ui-select ng-model="filters.month"  name="month" theme="bootstrap" class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="y.id as y in months | filter: $select.search">
                                                        <div ng-bind-html="y.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" ng-class="{ 'has-error' : form.year.$invalid && !form.year.$pristine }">
                                                <label class="control-label bold">  {{'report_year'| translate}}  </label>
                                                <ui-select ng-model="filters.year"
                                                           name="year"
                                                           theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="y.id as y in years | filter: $select.search">
                                                        <div ng-bind-html="y.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'report_date_from' | translate }}  ( {{'from' | translate }}   ) </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.begin_date_from"
                                                           datepickerPopup
                                                           name="begin_date_from"
                                                           is-open="popup[1].opened" datepicker-options="dateOptions1"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-click="open(1,$event)">
                                                                                        </button>
                                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'report_date_from' | translate }}  ( {{'to' | translate }}   ) </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.end_date_from"
                                                           datepickerPopup
                                                           name="end_date_from"
                                                           is-open="popup[2].opened" datepicker-options="dateOptions1"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-click="open(2,$event)">
                                                                                        </button>
                                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'report_date_to' | translate }}  ( {{'from' | translate }}   ) </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.begin_date_to"
                                                           datepickerPopup
                                                           name="begin_date_to"
                                                           is-open="popup[3].opened" datepicker-options="dateOptions2"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"

                                                                                ng-click="open(3,$event)">
                                                                                        </button>
                                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'report_date_to' | translate }}  ( {{'to' | translate }}   ) </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.end_date_to"
                                                           datepickerPopup
                                                           name="end_date_to"
                                                           required
                                                           is-open="popup[4].opened" datepicker-options="dateOptions2"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-click="open(4,$event)">
                                                                                        </button>
                                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'created_at_from' | translate }} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.created_at_from"
                                                           datepickerPopup
                                                           name="created_at_from"
                                                           is-open="popup[5].opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open(5,$event)">
                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'created_at_to' | translate }} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.created_at_to"
                                                           datepickerPopup
                                                           name="created_at_to"
                                                           is-open="popup[6].opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open(6,$event)">
                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">  {{'notes' | translate }}  </label>
                                                <input type="text" class="form-control"  ng-model="filters.notes"  name="notes"
                                                       placeholder="{{'notes' | translate }} "  />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">  {{'report_data_status'| translate}}  </label>
                                                <select class="form-control" ng-init="" class="form-control" ng-model="filters.report_organization_status"  name="report_organization_status">
                                                    <option selected value > --  {{'report_data_status'| translate}}   -- </option>
                                                    <option value="1">  {{'draft_'| translate}} </option>
                                                    <option value="2">  {{'approved'| translate}} </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 "></div>
                                        <div class="col-md-3 "></div>
                                        <div class="col-md-3 "></div>
                                         <div class="col-md-3 " style="padding-top: 20px;">
                                            <div class="clearfix pull-right">
                                                <button class="btn red-pink " type="button" ng-click="resetSearchFilter()">
                                                    <span class="fa fa-trash-o"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'reset filter'| translate}}</span>
                                                </button>
                                                <button uib-tooltip="{{'search' | translate }}" class=" btn blue  "
                                                        ng-click="searchReports(filters,'paginate')" type="button" >
                                                    <span class="icon-magnifier"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'search' | translate }}</span>
                                                </button>
                                             </div>

                                         </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12  col-sm-12 col-xs-12" style="margin-bottom: 5px;">
                            <label ng-show="items.length > 0 ">{{'show'| translate}}
                                <select
                                        class="form-control input-sm input-inline" ng-init=""
                                        ng-change="itemsPerPage_(itemsCount)"
                                        name="itemsCount"
                                        ng-model='itemsCount'>
                                   <option value="50">50</option><option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                    <option value="-1">{{'show_All'| translate}}</option>
                                </select>
                            </label>

                            <form class="form-inline search-form pull-right">
                                <div class="input-group">
                                    <input type="text"
                                           ng-model="search"
                                           class="form-control"
                                           placeholder="{{'search'| translate}} "
                                           name="search">
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="table-scrollable" ng-show="items.length > 0 "  >
                        <!-- BEGIN TABLE -->
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                            <thead>
                            <tr  style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">
                                <th class="text-center"  style="width: 2%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{'#'| translate}} </th>
                                <th class="text-center" style="width:15%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"ng-click="sort('title')" >{{'report_title'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 6%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"ng-click="sort('status')" >{{'report_status'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" style="width: 15%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort_('organization_name')" >{{'organization_name_'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='organization_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 6%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"ng-click="sort('category')" >{{'report_category'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='item.category'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"ng-click="sort('report_type')" >{{'report_type'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='report_type'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"ng-click="sort('date')" >{{'report_date'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 15%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"ng-click="sort('date_from')" >{{'activation period'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='date_from'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
<!--                                <th class="text-center"  style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort('date_from')" >{{'report_date_from'| translate}}-->
<!--                                    <span class="glyphicon sort-icon" ng-show="sortKey=='date_from'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
<!--                                </th>-->
<!--                                <th class="text-center"  style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort('date_to')" >{{'report_date_to'| translate}}-->
<!--                                    <span class="glyphicon sort-icon" ng-show="sortKey=='date_to'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
<!--                                </th>-->
                                <th class="text-center"  style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"  ng-click="sort('data_status')" >{{'report_data_status'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='data_status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr dir-paginate="item in items |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage" ng-show="items.length != 0 ">
                                <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                <td class="bold">
                                    {{ item.title }}
                                <br>
                                    <span ng-if="item.data_status == 3 && (item.has_form == true || item.has_form == 'true') ">
                                        <a uib-tooltip="{{'show'| translate}}"  type="button"
                                           ng-if="(item.category == 2 || item.category == '2')"
                                           class="btn btn-xs bold font-yellow-saffron  fa fa-eye"
                                           href="{{ '#/organization/custom-administrative-reports/'+ item.id }}"
                                           style=" font-size: medium; background-color: transparent">
                                        </a>
                                        <a uib-tooltip="{{'show'| translate}}"  type="button"
                                           class="btn btn-xs bold font-yellow-saffron  fa fa-eye"
                                           ng-if="!(item.category == 2 || item.category == '2')"
                                           href="{{ '#/organization/administrative-reports/'+ item.id }}"
                                           style=" font-size: medium; background-color: transparent">
                                        </a>
                                    </span>
                                    <span ng-if="item.data_status != 3 && (item.has_form == true || item.has_form == 'true') ">
                                        <a uib-tooltip="{{'edit_'| translate}}"  type="button"
                                           ng-if="(item.category == 2 || item.category == '2')"
                                           class="btn btn-xs bold font-yellow-saffron  fa fa-pencil-square-o"
                                           href="{{ '#/organization/custom-administrative-reports/'+ item.id }}"
                                           style=" font-size: medium; background-color: transparent">
                                        </a>
                                        <a uib-tooltip="{{'edit_'| translate}}"  type="button"
                                           class="btn btn-xs bold font-yellow-saffron  fa fa-pencil-square-o"
                                           ng-if="!(item.category == 2 || item.category == '2')"
                                           href="{{ '#/organization/administrative-reports/'+ item.id }}"
                                           style=" font-size: medium; background-color: transparent">
                                        </a>
                                    </span>
                                    <a uib-tooltip="{{'excel report'| translate}}"
                                       ng-if="(item.has_form == true || item.has_form == 'true') "
                                       type="button" ng-click="excel(item.id)"
                                       class="btn btn-xs bold font-green-turquoise fa fa-file-excel-o"
                                       style=" font-size: medium; background-color: transparent">
                                    </a>
                                    <a ng-show="!( item.template == null || item.template == 'null' || item.template == '' || item.template == ' ')
                                                    && (item.has_form == true || item.has_form == 'true') "
                                       uib-tooltip="{{'download report'| translate}}"  type="button" ng-click="word(item.id)"
                                       class="btn btn-xs bold font-blue fa fa-file-word-o"
                                       style=" font-size: medium; background-color: transparent">
                                    </a>


                                    <a uib-tooltip="{{'show_report_data'| translate}}"  type="button"
                                       ng-if="
                                              ( (item.has_form == true || item.has_form == 'true') && item.organizations.length > 1) ||
                                              ( (item.has_form == false || item.has_form == 'false') && item.organizations.length > 0)
                                        "
                                       href="{{ '#/organization/administrative-reports/organizations/'+ item.id }}"
                                       class="btn btn-xs bold font-yellow-casablanca icon-wallet"
                                       style=" font-size: medium; background-color: transparent">
                                    </a>
                                </td>
                                <td class="bold text-center">
                                    <span  class="font-yellow-saffron" ng-show="item.status == 1">  {{'Active'| translate}} </span>
                                    <span  class="font-red-pink"     ng-show="item.status == 2">  {{'inactive'| translate}} </span>
                                    <br>

                                    <span ng-class="{ 'font-blue' : item.data_status == 1  ,
                                                                  'font-red-pink' : item.data_status == 3  ,
                                                                  'font-green-turquoise' : item.data_status == 2}">

                                        (
                                        <span ng-if="item.data_status == 1" > {{'draft_' | translate}} </span>
                                        <span ng-if="item.data_status == 2" > {{'inProgress' | translate}} </span>
                                        <span ng-if="item.data_status == 3" > {{'closed_' | translate}} </span>
                                        )

                                    </span>

                                </td>
                                <td>{{ item.organization_name }} </td>
                                <td>{{ item.report_category }} </td>
                                <td>{{ item.report_type }} </td>
                                <td>{{ item.date }}</td>
                                <td> <span>{{ item.date_from }} </span>  -  <span>{{ item.date_to }} </span>  </td>
<!--                                <td>{{ months[item.month - 1 ].name }} </td>-->
<!--                                <td>{{ item.date_from }} </td>-->
<!--                                <td>{{ item.date_to }} </td>-->
                                <td>

                                    <span  class="bold " ng-show="!(item.has_form == true || item.has_form == 'true')" style="font-size: medium; background-color: transparent">
                                         -
                                    </span>
                                    <span  class="bold " ng-show="item.data_status == 3 && (item.has_form == true || item.has_form == 'true')" style="font-size: medium; background-color: transparent">
                                        <span  class="font-blue" ng-show="item.report_organization_status == 1">  <span class="fa fa-refresh"> </span> <span>{{'draft_'| translate}}</span> </span>
                                        <span  class="font-green-turquoise"     ng-show="item.report_organization_status == 2">  <span class="fa fa-check "></span> <span>{{'approved'| translate}}</span> </span>
                                    </span>
                                    <span uib-tooltip="{{'click to change status'| translate}}"
                                          ng-if="item.data_status != 3 && (item.has_form == true || item.has_form == 'true')"
                                          class="btn-group" uib-dropdown>
                                                <span id="single-button" class="btn btn-xs bold"
                                                      style="font-size: medium; background-color: transparent"
                                                      ng-class="{ 'font-blue' : item.report_organization_status == 1  ,
                                                                  'font-green-turquoise' : item.report_organization_status == 2}"

                                                      uib-dropdown-toggle>
                                                    <span ng-if="item.report_organization_status == 1" > <span class="fa fa-refresh"> </span> <span>{{'draft_' | translate}} </span>  </span>
                                                    <span ng-if="item.report_organization_status == 2" > <span class="fa fa-check "> </span> <span>{{'approved' | translate}} </span>  </span>
                                                </span>
                                                 <ul class="dropdown-menu"  ng-class="fixed_dropdownn($index,CurrentPage,items.length)"
                                                     uib-dropdown-menu role="menu" aria-labelledby="split-button"  style=" width: 4%; min-height:35px;overflow-y: scroll;margin-right: -40%;">

                                                    <li ng-show="item.report_organization_status !=1">
                                                        <a ng-click="status(item.report_organization_id,1,$index)" class="iconify font-blue bold">
                                                            <span class="fa fa-refresh  font-blue"> </span> <span>{{'draft_' | translate}} </span> </a>
                                                    </li>
                                                    <li ng-show="item.report_organization_status !=2">
                                                        <a ng-click="status(item.report_organization_id,2,$index)" class="iconify font-green-turquoise bold">
                                                             <span class="fa fa-check  font-green-turquoise "> </span> <span>{{'approved' | translate}} </span> </a>
                                                    </li>
                                                </ul>
                                            </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- END TABLE -->
                    </div>


                    <div ng-show="items.length == 0 " class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                        <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                        </div>
                    </div>

                    <div class="row"  ng-show="items.length != 0 " >
                        <div class="col-md-12  col-sm-12 col-xs-12">
                            <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                <span class="bold ">{{'number of total items'| translate}}</span>
                                <span class="bold "> : </span>
                                <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                <span class="bold ">{{'row'| translate}}</span>
                            </div>
                            <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
