<div class="modal-header" style="  padding:6%; ">
<h4 style="" class="modal-title bold text-center"> {{'update_data'| translate}} </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form name="form" novalidate="" role="form" class=" text-center" style="padding: 1%;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                           <p class="text-left bold" style="margin: 0 0 5px 0;padding: 10px; border: 3px solid #fff0f1; border-radius: 4px 0 0 4px;  background-color: #fff0f1;color: #e43a45; min-height: 40px !important;">
                                     {{'The maximum number of records in the uploaded file'| translate}} <span style="margin-left:3px ; margin-right:3px ;  "> : 500  </span> {{'record'| translate}}
                           </p>
                            <p class="text-left bold" style="
                            margin: 0 0 5px 0;
                            padding: 10px;
                            border: 3px solid #fff0f1;
                            border-radius: 4px 0 0 4px;
                            background-color: #fff0f1;
                            color: #e43a45;
                            min-height: 40px !important;
                            ">
                                {{'you should use the new card number for updated card number that be start with 700'| translate}}

                                <button type="button" class="btn red-pink btn-xs" ng-click="checkOldCard()">
                                    <span class="fa fa-check-square"></span><span> {{'to check click here'| translate}}</span>
                                </button>
                            </p>
                   </div>
                    <div class="col-md-12  text-right">
                        <span class="font-blue pull-left text-right bold" >{{'download template'| translate}}</span>
                        <a   href="javascript:;" class="pull-left btn btn-xs blue fa fa-download " style="margin-right: 2%"
                             ng-click="download()"
                        ></a>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">
                        <label class="control-label bold">{{'select import file'| translate}}</label>
                        <input type="file" id="upload" ng-required="true"
                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                               onchange="angular.element(this).scope().fileUpload(this)" class="form-control" data-nv-file-select="" data-uploader="uploader">
                        <span ng-repeat="(error, errortext) in err_msg.logo" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'err_msg.logo' != []" >
                            {{ errortext.toString()}}
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer" style="margin-top: 25px;">
        <button class="btn blue" ng-click="confirm()" ng-disabled="!upload" type="button" >
            <span> {{'search'| translate}}</span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
