
<div ng-controller="UserPermissionsController">
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            {{'users_and_permissions'| translate}}
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            <a href="#/auth/users">{{'users'| translate}}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            {{'edit'| translate}}
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li class="active">
            {{user.firstname}} {{user.lastname}}
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <div class="portlet light portlet-fit bordered portlet-datatable">
        <div class="portlet-title">
            <div class="caption">
                <h3>{{user.firstname}} {{user.lastname}}  / <span>{{'edit'| translate}}</span></h3>
            </div>
            <div class="actions" style="margin-top: 2%;">
              <a class="btn btn-outline green" href="#/auth/users">
                  <span class="hidden-sm hidden-md  hidden-xs">{{'back'| translate}}</span>
                    <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <div class="portlet-body">
            <ul class="nav nav-tabs">
                <li><a href="#/auth/users/edit/{{user.id}}">{{'User_Information'| translate}}</a></li>
                <li class="active"><a href="#">{{'permissions'| translate}}</a></li>
            </ul>
            <div class="tab-pane active">
                <div class="tab-content">
                    <form id="form" name="form" class="form-horizontal" novalidate="" role="form" ng-submit="submit()">
                        <div class="form-body" style="padding: 2%;">
                            <fieldset>
                                <uib-tabset active="active">
                                    <uib-tab index="$index + 1" ng-repeat="m in modules" ng-model="m" heading="{{m.module_name}}">
                                        <table class="table table-condensed table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th><input type="search" class="form-control" ng-model="m.q" placeholder="{{'Find' | translate}}..." aria-label="{{'Find' | translate}}"></th>
                                                    <th><button type="button" class="btn btn-success btn-xs" ng-click="checkAll(1, m)"><span>{{'Yes_All' | translate}}</span></button></th>
                                                    <th><button type="button" class="btn red-pink btn-xs" ng-click="checkAll(0, m)"><span>{{'No_All' | translate}}</span></button></th>
                                                    <th><button type="button" class="btn btn-default btn-xs" ng-click="checkAll(-1, m)"><span>{{'Default_All' | translate}}</span></button></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="perm in m.permissions | filter:m.q">
                                                    <td class="col-md-6"><b>{{perm.name}}</b>
                                                        <small class="text-success bold" ng-show="perm.role_name && perm.role_allow==1"><br>*  {{'This authority is owned by the user through the permissions group' | translate}} "{{perm.role_name}}"</small>
                                                        <small class="text-danger bold" ng-show="perm.role_name && perm.role_allow==0"><br>* {{'This privilege is blocked from the user by the permission set' | translate}} "{{perm.role_name}}"</small></td>
                                                    <td class="col-md-2"><label class="mt-radio mt-radio-outline">
                                                        <input name="perm{{perm.id}}" type="radio" ng-model="perm.allow" ng-value="1" string-to-number> {{'Yes' | translate}}
                                                        <span></span>
                                                    </label></td>
                                                    <td class="col-md-2"><label class="mt-radio mt-radio-outline">
                                                        <input name="perm{{perm.id}}" type="radio" ng-model="perm.allow" ng-value="0" string-to-number>  {{'No' | translate}}
                                                        <span></span>
                                                    </label></td>
                                                    <td class="col-md-2"><label class="mt-radio mt-radio-outline">
                                                        <input name="perm{{perm.id}}" type="radio" ng-model="perm.allow" ng-value="-1" string-to-number>  {{'Default' | translate}}
                                                        <span></span>
                                                    </label></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </uib-tab>
                                </uib-tabset>
                            </fieldset>
                            <div class="form-group">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" class="btn blue"><span>{{'save'| translate}}</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>