<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'users_and_permissions'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{'users'| translate}}</li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3> <i class="fa fa-users"></i> {{'users'| translate}}</h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <div class="btn-group"  uib-dropdown>
                            <button id="single-button" type="button" class="  btn green-turquoise  pull-left" uib-dropdown-toggle ng-disabled="disabled">
                                <span class="glyphicon glyphicon-envelope"></span>
                                <span class="hidden-sm hidden-md  hidden-xs">{{'send sms messege'|translate}}</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                <li ng-show="users.length != 0">
                                    <a ng-click="sendSms('manual',0)" class="iconify">
                                        <i class="fa fa-hand-paper-o" style="margin-left: 4%"></i>{{'manually'| translate}}</a>
                                </li>
                                <li>
                                    <a ng-click="sendSms('xlx',0)" class="iconify">
                                        <i class="fa fa-file-excel-o"  style="margin-left: 4%"></i>{{'using excel'| translate}}</a>
                                </li>
                            </ul>
                        </div>
                        <a ng-if="can('auth.users.create')" class="btn blue" href="#/auth/users/new">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span  class="hidden-sm hidden-md  hidden-xs">{{'new'| translate}}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row" style="padding: 10px 20px">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #f3f3f3;margin-bottom:1%; padding-top: 20px; padding-bottom: 20px; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " >
                        <form method="get" ng-submit="search()">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                    <div class="col-md-4 text-center ">
                                        <div class="form-group">
                                            <label class="text-center control-label  bold "> {{'Name' | translate}} </label>
                                            <input type="text" class="form-control" autofocus id="srchName" placeholder="{{'Name' | translate}}" ng-model="srch.name">
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-center ">
                                        <div class="form-group">
                                            <label class="text-center control-label bold "> {{'Username' | translate}} </label>
                                            <input type="text" class="form-control" id="srchUsername" placeholder="{{'Username' | translate}}" ng-model="srch.username">
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-center ">
                                        <div class="form-group">
                                            <label class="text-center bold control-label "> {{'Email' | translate}} </label>
                                            <input type="text" class="form-control input-sm" id="srchEmail" placeholder="{{'Email' | translate}}" ng-model="srch.email">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                    <div class="col-md-4 text-center ">
                                        <div class="form-group">
                                            <label class="text-center bold control-label "> {{'Status' | translate}} </label>
                                            <select ng-model="srch.status" id="srchStatus" class="form-control input-sm">
                                                <option selected value> --  {{'Status' | translate}} -- </option>
                                                <!--<option value="0">{{'All' | translate}}</option>-->
                                                <option value="1">{{'Active' | translate}}</option>
                                                <option value="2">{{'Inactive' | translate}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-center ">
                                        <div class="form-group">
                                            <label class="text-center bold control-label "> {{'organization' | translate}} </label>
                                            <ui-select name="organization_id"  id="srchOrg"  ng-model="srch.organization_id" theme="bootstrap" required
                                                       class="text-right" >
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in organizations | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="text-center bold control-label "> {{'user_type' | translate}} </label>
                                            <select class="form-control" ng-model="srch.type"  id="type" name="type">
                                                <option selected value>{{'user_type' | translate }}</option>
                                                <option  value="6" ng-value="6" ng-show="UserType == 6">{{'super_admin' | translate }}</option>
                                                <option  value="1" ng-value="1" ng-show="UserType == 6">{{'sector_manager' | translate }}</option>
                                                <option  value="2" ng-value="2" ng-show="UserType == 6 || UserType == 1">{{'sub_sector_manager' | translate }}</option>
                                                <option  value="3" ng-value="3" ng-show="UserType != 5">{{'organization_manager' | translate }}</option>
                                                <option  value="4" ng-value="4" ng-show="UserType == 6 || UserType == 1">{{'sponsor_type' | translate }}</option>
                                                <option  value="5" ng-value="5" >{{'other_user' | translate }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                    <div class="col-md-4">
                                        <div class="form-group" ng-if="Org.length > 0 " >
                                            <label class="text-center bold control-label "> {{'user_range' | translate}} </label>
                                            <multiselect  ng-model="srch.user_range" ng-if="Org" id="user_range"
                                                          options="Org" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                            </multiselect>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-center "></div>
                                    <div class="col-md-4 text-center " style=" padding-top: 20px;">
                                        <div class="form-group pull-right">
                                            <button  class=" btn blue  "  ng-click="search()" type="button" style="   min-width:  150px;" >
                                                <span style="margin-left:3%;" class="icon-magnifier"></span>
                                                <span style="margin-left:3%;" > {{'Find' | translate}}</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row" ng-show="users.length > 0 ">
                        <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
                            <label>
                                {{'show'| translate}}
                                <select
                                        class="form-control input-sm input-inline" ng-init=""
                                        ng-change="itemsPerPage_()"
                                        name="itemsCount"
                                        ng-model='itemsCount'>
                                   <option value="50">50</option><option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                    <option value="-1">{{'show_All'| translate}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                        </div>
                    </div>
                    <div class="table-scrollable" ng-show="users.length > 0 ">
                        <table class="table table-striped table-bordered table-hover" >
                            <thead>
                            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                <th class="text-center" >
                                    <input type="checkbox"
                                           ng-model="All"
                                           ng-change="selectedAll(All)"
                                           ng-true-value="true"
                                           ng-false-value="false"
                                    ></th>
                                <th class="text-center">{{'Name'| translate}}</th>
                                <th class="text-center" style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'username'| translate}}</th>
                                <th class="text-center" style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'email'| translate}}</th>
                                <th class="text-center"  style="width: 7%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'mobile'| translate}}</th>
                                <th class="text-center"  style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'Organization_name'| translate}}</th>
                                <th class="text-center"  style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'status'| translate}}</th>
                                <th class="text-center"  style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'created'| translate}}</th>
                                <th class="text-center"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in users">
                                <td  class="text-center">
                                    <input type="checkbox" class="make-switch"
                                           data-on-color="primary"
                                           data-off-color="info"
                                           ng-model="user.check"
                                           ng-checked="selectAll"
                                           ng-true-value="true"
                                           ng-false-value="false"
                                    >
                                <td class="text-center">{{user.firstname}} {{user.lastname}}</td>
                                <td class="text-center">{{user.username}}</td>
                                <td class="text-center">{{user.email}}</td>
                                <td class="text-center"> {{user.mobile == null ? '-' :user.mobile}}</td>
                                <td class="text-center">
                                    <span ng-show="lang=='ar'" >{{user.organization.name}}</span>
                                    <span ng-show="lang=='en'" >{{user.organization.en_name}}</span>
                                </td>
                                <td class="text-center">

                                    <button class="btn btn-xs" ng-click="changeStatus(user)"
                                            ng-class="{'btn-success': user.status == 1, 'red-pink': user.status == 2}">
                                        <span ng-show="user.status == 1">{{'Active' | translate}}</span>
                                        <span ng-show="user.status == 2">{{'Inactive' | translate}}</span>
                                    </button></td>
                                <td class="text-center">{{user.created_at}}</td>
                                <td class="text-center">


                                    <div class="btn-group btn-group-solid">

                                        <a uib-tooltip="{{'edit'| translate}}"
                                           style="font-size: medium; background-color: transparent"
                                           ng-if="can('auth.users.update')"
                                           href="{{'#/auth/users/edit/' + user.id}}"
                                           type="button"
                                           class="btn btn-xs bold font-blue fa fa-edit"

                                        >
                                        </a>

                                        <a ng-if="can('auth.users.changePassword')"
                                           uib-tooltip="{{'reset_password'| translate}}"
                                           href="{{'#/auth/users/reset-password/' + user.id}}"
                                           class="btn btn-xs bold btn font-yellow-saffron fa fa-key" style="font-size: medium; background-color: transparent">
                                        </a>



                                        <a uib-tooltip="{{'permissions'| translate}}"
                                           ng-if="can('auth.users.permissions')"
                                           href="{{'#/auth/users/permissions/' + user.id}}"
                                           class="btn btn-xs bold btn font-yellow-casablanca fa fa-shield" style="font-size: medium; background-color: transparent">
                                        </a>
                                        <button uib-tooltip="{{'send sms messege'| translate}}" style="font-size: medium; background-color: transparent"
                                                type="button" class="btn btn-xs bold font-green-turquoise glyphicon glyphicon-envelope" ng-click="sendSms('manual',user.id)"></button>

                                        <button uib-tooltip="{{'delete'| translate}}" style="font-size: medium; background-color: transparent"
                                                ng-if="can('auth.users.delete')"
                                                type="button" class="btn btn-xs bold font-red-pink fa fa-trash" ng-click="deleteUser(user, $index)"></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-show="users.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" ng-show="users.length != 0">
                        <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                            <span class="bold ">{{'number of total items'| translate}}   :   </span>
                            <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{totalItems}}</span>
                            <span class="bold ">{{'row'| translate}}</span>
                        </div>
                        <!--<uib-pagination class="pull-right" total-items="totalItems" ng-model="CurrentPage"  max-size="3" items-per-page="ItemsPerPage" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>-->
                        <ul ng-show="users.length > 0 "
                            class="pagination pagination-sm pull-right" uib-pagination ng-change="pageChanged()"  max-size="3"  boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
