<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'users_and_permissions'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a href="#/auth/users">{{'users'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        {{'new'| translate}}
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="UserCreateController">
    <!-- BEGIN CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="font-dark"></i>
                        <h3>{{'users' | translate}} / <span>{{'new' | translate}}</span></h3>
                    </div>
                    <a class="btn btn-outline green  pull-right"  style="margin-top: 2%;" href="#/auth/users"><span  class="hidden-sm hidden-md  hidden-xs">{{'back'| translate}}</span>
                        <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                <div class="portlet-body">
                    <form id="form" server-validate name="form" class="form-horizontal" novalidate="" role="form" ng-submit="submit()">
                        <div class="row">
                            <div class="col-md-12" style="padding: 0px 15px 0px 15px;">
                                <div class="panel panel-info">
                                    <div class="panel-heading panel-heading-style">
                                        <h3 class="panel-title bold">{{'account_information'| translate}}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <!--ng-if="charity_LoggedInUser.super_admin == 1"-->

                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-md-6">
                                                    <div class="form-group" ng-class="{'has-error': form.organization_id.$error.server}">
                                                        <label for="organization_id" class="col-md-4 control-label bold">{{'organization_name'| translate}}<span class=" text-danger bold help-inline"> * </span></label>
                                                        <div class="col-md-8">
                                                            <ui-select id="organization_id" name="organization_id" ng-model="user.organization_id"theme="bootstrap" ng-change="resetSelected()"
                                                                       class="text-right" required >
                                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                                <ui-select-choices repeat="item.id as item in organizations | filter: $select.search">
                                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                            <div ng-messages="form.organization_id.$error" role="alert" class="help-block" ng-show="form.organization_id.$dirty">
                                                                <p ng-message="server">{{form.organization_id.serverMessages}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group" ng-class="{'has-error': form.role_id.$error.server}">
                                                        <label for="role_id" class="col-md-4 control-label bold">{{'role'| translate}}<span class=" text-danger bold help-inline"> * </span></label>
                                                        <div class="col-md-8">
                                                            <ui-select id="role_id" name="role_id" required ng-model="user.role_id"theme="bootstrap"
                                                                       class="text-right" >
                                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                                <ui-select-choices repeat="item.id as item in roles | filter: $select.search">
                                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                            <div ng-messages="form.role_id.$error" role="alert" class="help-block" ng-show="form.role_id.$dirty">
                                                                <p ng-message="server">{{form.role_id.serverMessages}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-md-6">
                                                    <div class="form-group" ng-class="{'has-error': form.username.$invalid && form.username.$dirty}">
                                                        <label for="username" class="col-md-4 control-label bold">{{'username'| translate}}<span class=" text-danger bold help-inline"> * </span></label>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control" id="username" name="username"  user-name placeholder="{{'username'| translate}}" ng-model="user.username" required>
                                                            <div ng-messages="form.username.$error" role="alert" class="help-block" ng-show="form.username.$dirty">
                                                                <div ng-message="required">{{'input_required' | translate}}</div>
                                                                <div ng-message="server">{{form.username.serverMessages}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group" ng-class="{'has-error': form.type.$error.server}">
                                                        <label for="type" class="col-md-4 control-label bold">{{'user_type'| translate}}<span class=" text-danger bold help-inline"> * </span></label>
                                                        <div class="col-md-8">
                                                            <select class="form-control" ng-model="user.type"  id="type" name="type" ng-required="true">
                                                                <option disabled selected value>{{'user_type' | translate }}</option>
                                                                <option  value="6" ng-value="6" ng-show="UserType == 6">{{'super_admin' | translate }}</option>
                                                                <option  value="1" ng-value="1" ng-show="organizations_type_map[user.organization_id] == 1 && organizations_level_map[user.organization_id] == 1">{{'sector_manager' | translate }}</option>
                                                                <option  value="2" ng-value="2" ng-show="organizations_type_map[user.organization_id] == 1 && organizations_level_map[user.organization_id] == 2">{{'sub_sector_manager' | translate }}</option>
                                                                <option  value="3" ng-value="3" ng-show="organizations_level_map[user.organization_id] == 3  && (UserOrgLevel == 1 || UserOrgLevel == 2 || UserOrgLevel == '1' || UserOrgLevel == '2') && UserOrgId != user.organization_id ">{{'organization_manager' | translate }}</option>
                                                                <option  value="4" ng-value="4" ng-show="organizations_type_map[user.organization_id] == 2 ">{{'sponsor_type' | translate }}</option>
                                                                <option  value="5" ng-value="5" ng-show="organizations_type_map[user.organization_id] == 1 || organizations_level_map[user.organization_id] == 2 || organizations_level_map[user.organization_id] == 3 ">{{'other_user' | translate }}</option>
                                                            </select>

                                                            <div ng-messages="form.type.$error" role="alert" class="help-block" ng-show="form.type.$dirty">
                                                                <p ng-message="server">{{form.type.serverMessages}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-sm-12 col-xs-12">

                                                <div class="col-md-6">
                                                    <div class="form-group" ng-class="{'has-error': form.no_sessions_at_time.$invalid && form.no_sessions_at_time.$dirty}">
                                                        <label for="no_sessions_at_time" class="col-md-4 control-label bold">{{'number of sign in sessions at time'| translate}}<span class=" text-danger bold help-inline"> * </span></label>
                                                        <div class="col-md-8">
                                                            <input type="text" numeric-only class="form-control" id="no_sessions_at_time" name="no_sessions_at_time"
                                                                   placeholder="{{'number of sign in sessions at time'| translate}}" ng-model="user.no_sessions_at_time" required>
                                                            <div ng-messages="form.no_sessions_at_time.$error" role="alert"
                                                                 class="help-block" ng-show="form.no_sessions_at_time.$dirty">
                                                                <div ng-message="required">{{'input_required' | translate}}</div>
                                                                <div ng-message="server">{{form.no_sessions_at_time.serverMessages}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group" ng-class="{'has-error': form.connect_with_sponsor.$invalid && form.connect_with_sponsor.$dirty}" ng-show="connectWithSponsor == 1">
                                                        <label for="connect_with_sponsor" class="col-md-4 control-label bold">{{'connect with sponsor'| translate}}<span class=" text-danger bold help-inline"> * </span></label>
                                                        <div class="col-md-8">
                                                            <select class="form-control"  ng-model="user.connect_with_sponsor"  ng-required="connectWithSponsor == 1" name="connect_with_sponsor" id="connect_with_sponsor">
                                                                <option disabled selected value =''> ---   {{'select'| translate}} --- </option>
                                                                <option value =1>  {{'yes'| translate}} </option>
                                                                <option value =0>  {{'no'| translate}} </option>
                                                            </select>
                                                            <div ng-messages="form.connect_with_sponsor.$error" role="alert" class="help-block font-red-pink bold" ng-show="form.connect_with_sponsor.$dirty">
                                                                <div ng-message="required">{{'input_required' | translate}}</div>
                                                                <div ng-message="server">{{form.connect_with_sponsor.serverMessages}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="col-md-6"  ng-if="user.type == 2">
                                                    <div class="form-group" ng-class="{'has-error': form.user_range.$error.server}">
                                                        <label for="user_range" class="col-md-4 control-label bold">{{'user_range'| translate}}<span class=" text-danger bold help-inline"> * </span></label>
                                                        <div class="col-md-8">
                                                            <multiselect  ng-model="user.user_range" ng-if="Org" id="user_range" ng-required="user.type == 2"
                                                                          options="Org" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                                            </multiselect>
                                                            <div ng-messages="form.user_range.$error" role="alert" class="help-block" ng-show="form.user_range.$dirty">
                                                                <p ng-message="server">{{form.user_range.serverMessages}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>




                                        <div class="col-md-12" style="padding: 0 !important;">
                                            <div class="col-md-6">
                                                <div class="form-group" ng-class="{'has-error': form.password.$error.server}">
                                                    <label for="password" class="col-md-4 control-label bold">{{'password'| translate}}<span class=" text-danger bold help-inline"> * </span></label>
                                                    <div class="col-md-8">
                                                        <input type="password" class="form-control" id="password" name="password" placeholder="{{'password'| translate}}" ng-model="user.password" required>
                                                        <div ng-messages="form.password.$error" role="alert" class="help-block" ng-show="form.password.$dirty">
                                                            <p ng-message="server">{{form.password.serverMessages}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group" ng-class="{'has-error': form.password_confirmation.$error.server}">
                                                    <label for="password_confirmation" class="col-md-4 control-label bold">{{'confirm_password'| translate}}<span class=" text-danger bold help-inline"> * </span></label>
                                                    <div class="col-md-8">
                                                        <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="{{'confirm_password'| translate}}" ng-model="user.password_confirmation" required>
                                                        <div ng-messages="form.password2.$error" role="alert" class="help-block" ng-show="form.password_confirmation.$dirty">
                                                            <p ng-message="server">{{form.password_confirmation.serverMessages}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-12" style="padding: 0px 15px 0px 15px;">
                                <div class="panel panel-info">
                                    <div class="panel-heading panel-heading-style">
                                        <h3 class="panel-title bold">{{'personal_information'| translate}}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6">
                                                <div class="form-group" ng-class="{'has-error': form.id_card_number.$error.server}">
                                                    <label for="id_card_number" class="col-md-4 control-label bold">{{'id_card_number'| translate}}
                                                        <span class=" text-danger bold help-inline"> * </span>
                                                    </label>
                                                    <div class="col-md-8">
                                                        <input type="text"
                                                               id="id_card_number"
                                                               class="form-control"
                                                               name="id_card_number"
                                                               maxlength="9"
                                                               ng-maxlength="9"
                                                               numeric-only
                                                               ng-model="user.id_card_number"
                                                               required
                                                               placeholder="{{'id_card_number'| translate}} " />

                                                        <div ng-messages="form.id_card_number.$error" role="alert" class="help-block" ng-show="form.id_card_number.$dirty">
                                                            <p ng-message="server">{{form.id_card_number.serverMessages}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" ng-class="{'has-error': form.email.$error.server}">
                                                    <label for="email" class="col-md-4 control-label bold">{{'email'| translate}}<span class=" text-danger bold help-inline"> * </span></label>
                                                    <div class="col-md-8">
                                                        <input type="email" class="form-control" id="email" name="email" placeholder="{{'email'| translate}}"
                                                               ng-model="user.email" required>
                                                        <div ng-messages="form.email.$error" role="alert" class="help-block" ng-show="form.email.$dirty">
                                                            <p ng-message="server">{{form.email.serverMessages}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6">
                                                <div class="form-group" ng-class="{'has-error': form.mobile.$error.server}">
                                                    <label for="mobile" class="col-md-4 control-label bold">{{'mobile'| translate}}<span class=" text-danger bold help-inline"> * </span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" id="mobile" name="mobile" placeholder="{{'mobile'| translate}}"
                                                               ng-model="user.mobile" required>
                                                        <div ng-messages="form.mobile.$error" role="alert" class="help-block" ng-show="form.mobile.$dirty">
                                                            <p ng-message="server">{{form.mobile.serverMessages}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" ng-class="{'has-error': form.wataniya.$error.server}">
                                                    <label for="wataniya" class="col-md-4 control-label bold">{{'wataniya no'| translate}}<span class=" text-danger bold help-inline"> * </span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" id="wataniya" name="wataniya" placeholder="{{'wataniya no'| translate}}"
                                                               ng-model="user.wataniya" required>
                                                        <div ng-messages="form.wataniya.$error" role="alert" class="help-block" ng-show="form.wataniya.$dirty">
                                                            <p ng-message="server">{{form.wataniya.serverMessages}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6">
                                                <div class="form-group" ng-class="{'has-error': form.firstname.$error.server}">
                                                    <label for="firstname" class="col-md-4 control-label bold">{{'firstname'| translate}}<span class=" text-danger bold help-inline"> * </span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="{{'firstname'| translate}}"
                                                               ng-model="user.firstname" required>
                                                        <div ng-messages="form.firstname.$error" role="alert" class="help-block" ng-show="form.firstname.$dirty">
                                                            <p ng-message="server">{{form.firstname.serverMessages}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group" ng-class="{'has-error': form.lastname.$error.server}">
                                                    <label for="lastname" class="col-md-4 control-label bold">{{'lastname'| translate}}<span class=" text-danger bold help-inline"> * </span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="{{'lastname'| translate}}"
                                                               ng-model="user.lastname" required>
                                                        <div ng-messages="form.lastname.$error" role="alert" class="help-block" ng-show="form.lastname.$dirty">
                                                            <p ng-message="server">{{form.lastname.serverMessages}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-6">
                                                <div class="form-group" ng-class="{'has-error': form.job.$error.server}">
                                                    <label for="job" class="col-md-4 control-label bold">{{'job'| translate}}<span class=" text-danger bold help-inline"> * </span></label>
                                                    <div class="col-md-8">
                                                        <input type="text" class="form-control" id="job" name="job" placeholder="{{'job' | translate}}"
                                                               ng-model="user.job_title" required>
                                                        <div ng-messages="form.job.$error" role="alert" class="help-block" ng-show="form.job.$dirty">
                                                            <p ng-message="server">{{form.job.serverMessages}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-actions text-right">
                                    <button type="submit" class="btn blue" ng-disabled="form.$invalid"><span>{{'save'| translate}}</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END MAIN CONTENT -->
