<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'users_and_permissions'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{'online-users'| translate}}</li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3> <i class="fa fa-users"></i> {{'online-users'| translate}} <span class="bold blue">  ( {{totalItems}} )</span></h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">

                        <!--<a ng-if="can('auth.users.create')" class="btn blue" href="#/auth/users/new">-->
                            <!--<span class="glyphicon glyphicon-plus"></span>-->
                            <!--<span  class="hidden-sm hidden-md  hidden-xs">{{'new'| translate}}</span>-->
                        <!--</a>-->
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row" style="padding: 10px 20px">
                    <div class="col-md-12 col-sm-12 col-xs-12" style="background-color: #f3f3f3;margin-bottom:1%; padding-top: 20px; padding-bottom: 20px; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " >
                        <form method="get" ng-submit="search()">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="note note-success">
                                            <i style="font-size: larger" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                            {{'you must click to refresh button to load the organization according category' | translate}}
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12"style="margin-bottom: 5px;">
                                    <div class="col-md-4" ng-if="organizationsCat">
                                        <div class="form-group">
                                            <label class="control-label bold"> {{'organization_category'| translate}} </label>
                                            <div  class="input-group">
                                                <multiselect  ng-enter="search()"
                                                              ng-change="resetOrg(srch.organization_category_id)"
                                                              ng-model="srch.organization_category_id"
                                                              ng-if="organizationsCat"
                                                              options="organizationsCat"
                                                              show-search="true" id-prop="id"
                                                              show-select-all="true" show-unselect-all="true"
                                                              display-prop="name" search-limit="10"
                                                              labels="labels">
                                                </multiselect>
                                                <span class="input-group-btn">
                                                       <button type="button" class="btn fa fa-refresh btn-default"
                                                               style="line-height:1.2!important;"
                                                               ng-click="resetOrg(srch.organization_category_id)"></button>
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-12 col-xs-12" ng-if="disblay_orgs">
                                        <div class="form-group">
                                            <label class=" control-label bold">{{'organization name'| translate}}</label>
                                            <multiselect  ng-enter="search()"  ng-model="srch.organization_id" ng-if="disblay_orgs"
                                                          options="Org_"
                                                          show-search="true" id-prop="id"
                                                          show-select-all="true" show-unselect-all="true"
                                                          display-prop="name" search-limit="10"
                                                          labels="labels">
                                            </multiselect>
                                        </div>
                                    </div>

                                    <!--<div class="col-md-4 text-center ">-->
                                        <!--<div class="form-group">-->
                                            <!--<label class="text-center bold control-label "> {{'organization' | translate}} </label>-->
                                            <!--<ui-select name="organization_id"  id="srchOrg"  ng-enter="search()"  ng-model="srch.organization_id" theme="bootstrap" required-->
                                                       <!--class="text-right" >-->
                                                <!--<ui-select-match>{{$select.selected.name}}</ui-select-match>-->
                                                <!--<ui-select-choices repeat="item.id as item in organizations | srch: $select.search">-->
                                                    <!--<div ng-bind-html="item.name | highlight: $select.search"></div>-->
                                                <!--</ui-select-choices>-->
                                            <!--</ui-select>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="text-center bold control-label "> {{'user_type' | translate}} </label>
                                            <select class="form-control" ng-enter="search()"  ng-model="srch.type"  id="type" name="type">
                                                <option selected value>{{'user_type' | translate }}</option>
                                                <option  value="6" ng-value="6" ng-show="UserType == 6">{{'super_admin' | translate }}</option>
                                                <option  value="1" ng-value="1" ng-show="UserType == 6">{{'sector_manager' | translate }}</option>
                                                <option  value="2" ng-value="2" ng-show="UserType == 6 || UserType == 1">{{'sub_sector_manager' | translate }}</option>
                                                <option  value="3" ng-value="3" ng-show="UserType != 5">{{'organization_manager' | translate }}</option>
                                                <option  value="4" ng-value="4" ng-show="UserType == 6 || UserType == 1">{{'sponsor_type' | translate }}</option>
                                                <option  value="5" ng-value="5" >{{'other_user' | translate }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                    <div class="col-md-4 text-center ">
                                        <div class="form-group">
                                            <label class="text-center control-label  bold "> {{'Name' | translate}} </label>
                                            <input type="text" class="form-control" autofocus id="srchName" placeholder="{{'Name' | translate}}" ng-enter="search()"  ng-model="srch.name">
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-center ">
                                        <div class="form-group">
                                            <label class="text-center control-label bold "> {{'Username' | translate}} </label>
                                            <input type="text" class="form-control" id="srchUsername" placeholder="{{'Username' | translate}}" ng-enter="search()"  ng-model="srch.username">
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-center ">
                                        <div class="form-group">
                                            <label class="text-center bold control-label "> {{'Email' | translate}} </label>
                                            <input type="text" class="form-control input-sm" id="srchEmail" placeholder="{{'Email' | translate}}" ng-enter="search()"  ng-model="srch.email">
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="col-md-12 col-sm-12 col-xs-12 text-center ">-->
                                    <!--&lt;!&ndash;<div class="col-md-4 text-center ">&ndash;&gt;-->
                                        <!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
                                            <!--&lt;!&ndash;<label class="text-center bold control-label "> {{'Status' | translate}} </label>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<select ng-enter="search()"  ng-model="srch.status" id="srchStatus" class="form-control input-sm">&ndash;&gt;-->
                                                <!--&lt;!&ndash;<option selected value> &#45;&#45;  {{'Status' | translate}} &#45;&#45; </option>&ndash;&gt;-->
                                                <!--&lt;!&ndash;&lt;!&ndash;<option value="0">{{'All' | translate}}</option>&ndash;&gt;&ndash;&gt;-->
                                                <!--&lt;!&ndash;<option value="1">{{'Active' | translate}}</option>&ndash;&gt;-->
                                                <!--&lt;!&ndash;<option value="2">{{'Inactive' | translate}}</option>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</select>&ndash;&gt;-->
                                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                   <!---->
                                <!--</div>-->
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                    <div class="col-md-4">
                                        <div class="form-group" ng-if="Org.length > 0 " >
                                            <label class="text-center bold control-label "> {{'user_range' | translate}} </label>
                                            <multiselect  ng-enter="search()"  ng-model="srch.user_range" ng-if="Org" id="user_range"
                                                          options="Org" show-search="true" id-prop="id" display-prop="name" search-limit="10"
                                                          show-select-all="true" show-unselect-all="true"
                                                          labels="labels">
                                            </multiselect>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-center "></div>
                                    <div class="col-md-4 text-center " style=" padding-top: 20px;">
                                        <div class="form-group pull-right">
                                            <button class="btn red-pink " type="button" ng-click="resetFilters()">
                                                <span class="fa fa-trash-o"></span>
                                                <span class="hidden-sm hidden-md  hidden-xs">{{'reset filter'| translate}}</span>
                                            </button>
                                            <button  class=" btn blue  "  ng-click="search()" type="button" style="   min-width:  150px;" >
                                                <span style="margin-left:3%;" class="icon-magnifier"></span>
                                                <span style="margin-left:3%;" > {{'Find' | translate}}</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="row" ng-show="users.length > 0 ">
                        <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
                            <label> {{'show'| translate}}
                                    <select class="form-control input-sm input-inline"
                                            ng-change="itemsPerPage_()" name="itemsCount" ng-model='itemsCount'>
                                        <option value="50">50</option><option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                        <option value="-1">{{'show_All'| translate}}</option>
                                    </select>
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 "  style=" margin-bottom: 10px;margin-top: 5px !important;padding: 0 !important;">
                        <div class="clearfix">
                            <div class="btn-group"  uib-dropdown>
                                <button id="single-button" type="button" class="  btn green-turquoise  pull-left" uib-dropdown-toggle>
                                    <span class="fa fa-mobile" style="font-size: 18px !important;"></span>
                                    <span class="hidden-sm hidden-md  hidden-xs">{{'send sms messege'|translate}}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                    <li ng-show="users.length != 0">
                                        <a ng-click="sendSms('manual',0)" class="iconify">
                                            <i class="fa fa-hand-paper-o" style="margin-left: 4%"></i>{{'manually'| translate}}</a>
                                    </li>
                                    <li>
                                        <a ng-click="sendSms('xlx',0)" class="iconify">
                                            <i class="fa fa-file-excel-o"  style="margin-left: 4%"></i>{{'using excel'| translate}}</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="btn-group"  uib-dropdown  ng-show="users.length != 0">
                                <button id="single-button1" type="button" class="  btn btn-primary  pull-left" uib-dropdown-toggle>
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    <span class="hidden-sm hidden-md  hidden-xs">{{'sent internal message'|translate}}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                    <li>
                                        <a ng-click="sendInternal(false)" class="iconify">
                                            <i class="fa fa-list-alt" style="margin-left: 4%"></i>{{'All'| translate}}</a>
                                    </li>
                                    <li>
                                        <a ng-click="sendInternal(true)" class="iconify">
                                            <i class="fa fa-check-square"  style="margin-left: 4%"></i>{{'selected'| translate}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group"  uib-dropdown>
                                <button id="single-button2" type="button" class="  btn red-pink  pull-left" uib-dropdown-toggle>
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    <span class="hidden-sm hidden-md  hidden-xs">{{'logout'|translate}}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                    <li ng-show="users.length != 0">
                                        <a ng-click="logOutGroup(false)" class="iconify">
                                            <i class="fa fa-list-alt" style="margin-left: 4%"></i>{{'All'| translate}}</a>
                                    </li>
                                    <li>
                                        <a ng-click="logOutGroup(true)" class="iconify">
                                            <i class="fa fa-check-square"  style="margin-left: 4%"></i>{{'selected'| translate}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="table-scrollable" ng-show="users.length > 0 "  style="margin-top: 2%; margin-bottom: 2%">
                        <table class="table table-striped table-bordered table-hover" >
                            <thead>
                            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                <th class="text-center" >
                                    <input type="checkbox"
                                           ng-model="All"
                                           ng-change="selectedAll(All)"
                                           ng-true-value="true"
                                           ng-false-value="false"
                                    ></th>
                                <th class="text-center"style="width: 25%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'Name'| translate}}</th>
                                <th class="text-center" style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'username'| translate}}</th>
                                <th class="text-center" style="width: 15%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'email'| translate}}</th>
                                <th class="text-center"  style="width: 7%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'mobile'| translate}}</th>
                                <th class="text-center"  style="width: 17.5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'Organization_name'| translate}}</th>
                                <th class="text-center"  style="width: 17.5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'organization_category'| translate}}</th>
                                <!--<th class="text-center"  style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'status'| translate}}</th>-->
                                <th class="text-center"  style="width: 15%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'login_dt'| translate}}</th>
                                <!--<th class="text-center"  style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'last_action'| translate}}</th>-->
                                <!--<th class="text-center"></th>-->
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in users">
                                <td class="text-center">
                                    <input type="checkbox" class="make-switch"
                                           data-on-color="primary"
                                           data-off-color="info"
                                           ng-model="user.check"
                                           ng-checked="selectAll"
                                           ng-true-value="true"
                                           ng-false-value="false"
                                    >
                                <td class="text-center">
                                <p class="bold" style="margin: 5px 0 5px 0;"> {{user.firstname}} {{user.lastname}}</p>
                            <!--<br><br>-->
                                <button uib-tooltip="{{'send sms messege'| translate}}"
                                        type="button" class="btn bold  bold font-green-turquoise fa fa-mobile"
                                        style=" background-color: transparent; font-size: 18px !important;"
                                        ng-click="sendSms('manual',user.user_id)">
                                </button>
                                <button uib-tooltip="{{'sent internal message'| translate}}"
                                        type="button" class="btn bold font-blue  glyphicon glyphicon-envelope"
                                        style=" font-size: medium; background-color: transparent"
                                        ng-click="sendInternalSingle(user.user_id)">
                                </button>
                                <button uib-tooltip="{{'LOGOUT'| translate}}"

                                        type="button" class="btn btn-xs bold  font-red-pink icon-logout"
                                        style=" font-size: medium; background-color: transparent"
                                        ng-click="LogoutUser(user, $index)">
                                </button>


                            </td>
                                <td class="text-center">{{user.username}}</td>
                                <td class="text-center">{{user.email}}</td>
                                <td class="text-center"> {{user.mobile == null ? '-' :user.mobile}}</td>
                                <td class="text-center">
                                    <span ng-show="lang=='ar'" >{{user.org_ar_name}}</span>
                                    <span ng-show="lang=='en'" >{{user.org_aen_name}}</span>
                                </td>
                                <!--<td class="text-center">-->
                                    <!--<span class="bold font-blue" ng-show="user.status == 1">{{'Active' | translate}}</span>-->
                                    <!--<span class="bold font-red-pink" ng-show="user.status == 2">{{'Inactive' | translate}}</span>-->
                                <!--</td>-->
                                <!--<td class="text-center">{{user.last_action.created_at | date:'MM/dd/yyyy @ h:mma'}}</td>-->
                                <td class="text-center">{{user.org_category_name}}</td>
                                <td class="text-center">{{user.login_dt}}</td>
                                <!--<td class="text-center">-->
                                    <!--<div class="btn-group btn-group-solid">-->

                                        <!--&lt;!&ndash;<a uib-tooltip="{{'edit'| translate}}"&ndash;&gt;-->
                                           <!--&lt;!&ndash;style="font-size: medium; background-color: transparent"&ndash;&gt;-->
                                           <!--&lt;!&ndash;ng-if="can('auth.users.update')"&ndash;&gt;-->
                                           <!--&lt;!&ndash;href="{{'#/auth/users/edit/' + user.user_id}}"&ndash;&gt;-->
                                           <!--&lt;!&ndash;type="button"&ndash;&gt;-->
                                           <!--&lt;!&ndash;class="btn btn-xs bold font-blue fa fa-edit"&ndash;&gt;-->

                                        <!--&lt;!&ndash;&gt;&ndash;&gt;-->
                                        <!--&lt;!&ndash;</a>&ndash;&gt;-->

                                        <!--&lt;!&ndash;<a ng-if="can('auth.users.changePassword')"&ndash;&gt;-->
                                           <!--&lt;!&ndash;uib-tooltip="{{'reset_password'| translate}}"&ndash;&gt;-->
                                           <!--&lt;!&ndash;href="{{'#/auth/users/reset-password/' + user.user_id}}"&ndash;&gt;-->
                                           <!--&lt;!&ndash;class="btn btn-xs bold btn font-yellow-saffron fa fa-key" style="font-size: medium; background-color: transparent">&ndash;&gt;-->
                                        <!--&lt;!&ndash;</a>&ndash;&gt;-->



                                        <!--&lt;!&ndash;<a uib-tooltip="{{'permissions'| translate}}"&ndash;&gt;-->
                                           <!--&lt;!&ndash;ng-if="can('auth.users.permissions')"&ndash;&gt;-->
                                           <!--&lt;!&ndash;href="{{'#/auth/users/permissions/' + user.user_id}}"&ndash;&gt;-->
                                           <!--&lt;!&ndash;class="btn btn-xs bold btn font-yellow-casablanca fa fa-shield" style="font-size: medium; background-color: transparent">&ndash;&gt;-->
                                        <!--&lt;!&ndash;</a>&ndash;&gt;-->
                                        <!--&lt;!&ndash;ng-if="can('auth.users.logout')"&ndash;&gt;-->
                                        <!--<button uib-tooltip="{{'LOGOUT'| translate}}"-->

                                                <!--type="button" class="btn btn-xs bold  yellow-crusta "-->
                                                <!--ng-click="LogoutUser(user, $index)">-->

                                            <!--<span class="icon-logout"> </span>-->
                                            <!--{{'LOGOUT'| translate}}-->
                                        <!--</button>-->

                                        <!--&lt;!&ndash;<button uib-tooltip="{{'delete'| translate}}" style="font-size: medium; background-color: transparent"&ndash;&gt;-->
                                                <!--&lt;!&ndash;ng-if="can('auth.users.delete')"&ndash;&gt;-->
                                                <!--&lt;!&ndash;type="button" class="btn btn-xs bold font-red-pink fa fa-trash" ng-click="deleteUser(user, $index)"></button>&ndash;&gt;-->
                                    <!--</div>-->
                                <!--</td>-->
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" ng-show="users.length != 0">
                        <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                            <span class="bold ">{{'number of total items'| translate}}   :   </span>
                            <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{totalItems}}</span>
                            <span class="bold ">{{'row'| translate}}</span>
                        </div>
                        <!--<uib-pagination class="pull-right" total-items="totalItems" ng-model="CurrentPage"  max-size="3" items-per-page="ItemsPerPage" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>-->
                        <ul ng-show="users.length > 0 "
                            class="pagination pagination-sm pull-right" uib-pagination ng-change="pageChanged()"  max-size="3"  boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

                    </div>
                    <div ng-show="users.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-top: 2%; margin-bottom: 2%">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
