<div ng-controller="UserPermissionsController" class="row">

    <!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'users_and_permissions'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a href="#/auth/users">{{'users'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'permissions'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active">
        {{user.firstname}} {{user.lastname}}
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered portlet-fit portlet-datatable">
            <div class="portlet-title">

                <div class="caption">
                    <h3> <span class="fa fa-table"></span>
                        {{'permissions'| translate}}  /  {{user.firstname}} {{user.lastname}}   </h3>
                </div>
                <div class="actions" style="margin-top: 2%;">
                    <a class="btn btn-outline green" href="#/auth/users">
                        <span class="fa fa-backward"></span> <span  class="hidden-sm hidden-md  hidden-xs">{{'back'| translate}}</span></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>{{'Permission'| translate}}</th>
                                <th>{{'Allow' | translate}}
                                <th>{{'role'| translate}}</th>
                                <th>{{'created_at'| translate}}</th>
                                <th>{{'Created_By'| translate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in permissions">
                                <td>{{p.name}}</td>
                                <td><span ng-if="p.allow==1" class="label label-success">
                                        <span class="fa fa-check"></span> <span>{{'Yes' | translate}}</span></span>
                                    <span ng-if="p.allow==0" class="label label-danger">
                                        <span class="fa fa-ban"></span> <span>{{'No' | translate}}</span></span>
                                </td>
                                <td>{{p.role_name}}</td>
                                <td>{{p.created_at}}</td>
                                <td>{{p.created_by_firstname}} {{p.created_by_lastname}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div  ng-show="permissions.length ==0 "  class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>