<div ng-controller="ResetPasswordController">
    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
          {{'users_and_permissions'| translate}}
          <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
      </li>
        <li>
            <a href="#/auth/users">{{'users'| translate}}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            {{'reset_password'| translate}}
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li class="active">
            {{user.firstname}} {{user.lastname}}
        </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->


    <div class="portlet light portlet-fit bordered portlet-datatable">
        <div class="portlet-title">
            <div class="caption">
                <h3><span class="fa fa-pencil-square-o"></span>
                    {{user.firstname}} {{user.lastname}}  / <span>{{'reset_password'| translate}}</span></h3>
            </div>
            <div class="actions" style="margin-top: 2%;">
                <a class="btn btn-outline green" href="#/auth/users"> <span class="hidden-sm hidden-md  hidden-xs">{{'back'| translate}}</span>
                    <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <div class="portlet-body" style="min-height: 400px;padding: 3%;">
           <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                   <div class="alert alert-success" ng-show="success" role="alert">
                       {{message}}
                   </div>
                   <div class="alert alert-danger" ng-show="error" role="alert">
                       {{message}}
                   </div>
                   <form name="form" class="form-horizontal" novalidate="" role="form" ng-submit="submit()">
                       <fieldset>
                           <div class="form-group" ng-class="errorClass('password')">
                               <label for="password" class="col-md-2 control-label">{{'new_password'| translate}}</label>
                               <div class="col-md-4">
                                   <input type="password" class="form-control" id="password" name="password" placeholder="{{'new_password'| translate}}" ng-required="true" ng-model="password.password">
                                   <span class="help-inline  text-danger"
                                         ng-show="form.password.$invalid && form.password.$touched">{{'Password_is_required'| translate}}</span>
                                   <span class="help-block" ng-show="form.password.$invalid && form.password.$dirty">{{errorMessage('password')}}</span>
                               </div>
                           </div>
                           <div class="form-group" ng-class="errorClass('password_confirmation')">
                               <label for="password_confirmation" class="col-md-2 control-label">{{'confirm_password'| translate}}</label>
                               <div class="col-md-4">
                                   <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" placeholder="{{'confirm_password'| translate}}" ng-required="true" ng-model="password.password_confirmation">
                                   <span class="help-inline text-danger"
                                         ng-show="form.password_confirmation.$invalid && form.password_confirmation.$touched">{{'Password_is_required'| translate}}</span>
                                   <span class="help-block" ng-show="form.password_confirmation.$invalid && form.password_confirmation.$dirty">{{errorMessage('password_confirmation')}}</span>
                               </div>
                           </div>
                       </fieldset>
                       <div class="form-group">
                           <div class="col-md-offset-2 col-md-10">
                               <button type="submit" class="btn blue"><span>{{'submit'| translate}}</span></button>
                           </div>
                       </div>
                   </form>
               </div>
           </div>
        </div>
    </div>
</div>
