<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{'users_and_permissions'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a href="#/auth/users">{{'users'| translate}}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        
    <li> {{'Trashed_Users'| translate}}</li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="UserListController">
    <!-- BEGIN CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="font-dark"></i>
                        <h3> <i class="fa fa-trash"></i> {{'Trashed_Users'| translate}}</h3>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
                            <label>
                            {{'show'| translate}}
                                <select
                                    class="form-control input-sm input-inline" ng-init=""
                                    ng-change="itemsPerPage_()"
                                    name="itemsCount" 
                                    ng-model='itemsCount'>
                                   <option value="50">50</option><option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                    <option value="-1">{{'show_All'| translate}}</option>
                                </select>
                            </label>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                        </div>
                    </div>
                    <div class="table-container">
                        <div class="row" style="padding: 2%;">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                    <th class="text-center">{{'firstname'| translate}}</th>
                                    <th class="text-center">{{'lastname'| translate}}</th>
                                    <th class="text-center">{{'username'| translate}}</th>
                                    <th class="text-center">{{'email'| translate}}</th>
                                    <th class="text-center">{{'mobile'| translate}}</th>
                                    <!--<th class="text-center">{{'status'| translate}}</th>-->
                                    <th class="text-center">{{'created'| translate}}</th>
                                    <th class="text-center">{{'deleted'| translate}}</th>
                                    <th class="text-center"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="user in users">
                                    <td class="text-center">{{user.firstname}}</td>
                                    <td class="text-center">{{user.lastname}}</td>
                                    <td class="text-center">{{user.username}}</td>
                                    <td class="text-center">{{user.email}}</td>
                                    <td class="text-center">{{user.mobile}}</td>
                                    <!--<td class="text-center">-->
                                        <!--<span class="bold"-->
                                                <!--ng-class="{'font-blue': user.status == 1, 'font-red-pink': user.status == 2}"><span>{{user.status_name}}</span></span>-->
                                    <!--</td>-->
                                    <td class="text-center">{{user.created_at}}</td>
                                    <td class="text-center">{{user.deleted_at}}</td>
                                    <td class="text-center">
                                        <button ng-if="can('auth.users.restore')" class="btn red-pink btn-xs" ng-click="restoreUser(user, $index)">
                                            <span class="fa fa-history "></span>
                                            <span>
                                            {{'Restore'| translate}}</span></button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div ng-show="users.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                                </div>
                            </div>
                            <ul ng-show="users.length > 0 " class="pagination pagination-sm  pull-right" uib-pagination ng-change="pageChanged()" boundary-links="true" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END MAIN CONTENT -->

