
]<div class="modal-header" style="  padding:3.5%; ">
<h4 style="" class="modal-title bold text-center"> {{'check person'| translate}} </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form name="form" novalidate="" role="form" class=" text-center" style="padding: 1%;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12 text-left bold" style="margin: 0 0 5px 0;padding: 10px; border: 3px solid #fff0f1; border-radius: 4px 0 0 4px;  background-color: #fff0f1;color: #e43a45; min-height: 40px !important;">
                        <p class="text-left bold" style="margin: 0!important; padding-top: 0!important;">
                            - {{'The maximum number of records in the uploaded file'| translate}} <span style="margin-left:3px ; margin-right:3px ;  "> : 500  </span> {{'record'| translate}}
                        </p>
                        <p class="text-left bold" style="margin: 0!important; padding-top: 10px!important;">
                            - {{'you should use the new card number for updated card number that be start with 700'| translate}}
                            <button type="button" class="btn red-pink btn-xs" ng-click="checkOldCard()">
                                <span class="fa fa-check-square"></span><span> {{'to check click here'| translate}}</span>
                            </button>
                        </p>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 text-left bold" style="margin-top: 10px;padding: 0 !important;" ng-show="checkType == 2">
                        <div class="form-group">
                            <label class="control-label bold col-md-4 col-sm-12 col-xs-12 " style="padding: 7px;" ng-class="{ 'selected' : tabData.Justice }">
                                <input type="checkbox" data-on-color="primary" data-off-color="info"
                                       ng-model="tabData.Justice" ng-true-value="true" ng-false-value="false">
                                <span style="padding-left: 10px!important;">{{'Ministry of Justice' | translate}} </span>
                                <span class="font-green-jungle fa fa-check" ng-show="tabData.Justice"></span>
                            </label>
                            <label class="control-label bold col-md-4 col-sm-12 col-xs-12 " style="padding: 7px;" ng-class="{ 'selected' : tabData.Health }">
                                <input type="checkbox" data-on-color="primary" data-off-color="info"
                                       ng-model="tabData.Health" ng-true-value="true" ng-false-value="false">
                                <span style="padding-left: 10px!important;">{{'Ministry of Health' | translate}} </span>
                                <span class="font-green-jungle fa fa-check" ng-show="tabData.Health"></span>
                            </label>
                            <label class="control-label bold col-md-4 col-sm-12 col-xs-12 " style="padding: 7px;" ng-class="{ 'selected' : tabData.Transportation }">
                                <input type="checkbox" data-on-color="primary" data-off-color="info"
                                       ng-model="tabData.Transportation" ng-true-value="true" ng-false-value="false">
                                <span style="padding-left: 10px!important;">{{'Ministry of Transportation' | translate}} </span>
                                <span class="font-green-jungle fa fa-check" ng-show="tabData.Transportation"></span>
                            </label>
                            <label class="control-label bold col-md-4 col-sm-12 col-xs-12 " style="padding: 7px;" ng-class="{ 'selected' : tabData.Communications }">
                                <input type="checkbox" data-on-color="primary" data-off-color="info"
                                       ng-model="tabData.Communications" ng-true-value="true" ng-false-value="false">
                                <span style="padding-left: 10px!important;">{{'Ministry of Communications and Information Technology' | translate}} </span>
                                <span class="font-green-jungle fa fa-check" ng-show="tabData.Communications"></span>
                            </label>
                            <label class="control-label bold col-md-4 col-sm-12 col-xs-12 " style="padding: 7px;" ng-class="{ 'selected' : tabData.Finance }">
                                <input type="checkbox" data-on-color="primary" data-off-color="info"
                                       ng-model="tabData.Finance" ng-true-value="true" ng-false-value="false">
                                <span style="padding-left: 10px!important;">{{'Ministry of Finance' | translate}} </span>
                                <span class="font-green-jungle fa fa-check" ng-show="tabData.Finance"></span>
                            </label>

                            <label class="control-label bold col-md-4 col-sm-12 col-xs-12 " style="padding: 7px;" ng-class="{ 'selected' : tabData.Economy }">
                                <input type="checkbox" data-on-color="primary" data-off-color="info"
                                       ng-model="tabData.Economy" ng-true-value="true" ng-false-value="false">
                                <span style="padding-left: 10px!important;">{{'Ministry of Economy' | translate}} </span>
                                <span class="font-green-jungle fa fa-check" ng-show="tabData.Economy"></span>
                            </label>

                            <label class="control-label bold col-md-4 col-sm-12 col-xs-12 " style="padding: 7px;" ng-class="{ 'selected' : tabData.Labor }">
                                <input type="checkbox" data-on-color="primary" data-off-color="info"
                                       ng-model="tabData.Labor" ng-true-value="true" ng-false-value="false">
                                <span style="padding-left: 10px!important;">{{'Ministry of Labor' | translate}} </span>
                                <span class="font-green-jungle fa fa-check" ng-show="tabData.Labor"></span>
                            </label>

                            <label class="control-label bold col-md-4 col-sm-12 col-xs-12 " style="padding: 7px;" ng-class="{ 'selected' : tabData.Land }">
                                <input type="checkbox" data-on-color="primary" data-off-color="info"
                                       ng-model="tabData.Land" ng-true-value="true" ng-false-value="false">
                                <span style="padding-left: 10px!important;">{{'Land authority' | translate}} </span>
                                <span class="font-green-jungle fa fa-check" ng-show="tabData.Land"></span>
                            </label>

                            <label class="control-label bold col-md-4 col-sm-12 col-xs-12 " style="padding: 7px;" ng-class="{ 'selected' : tabData.Social }">
                                <input type="checkbox" data-on-color="primary" data-off-color="info"
                                       ng-model="tabData.Social" ng-true-value="true" ng-false-value="false">
                                <span style="padding-left: 10px!important;">{{'Ministry of Social Development' | translate}} </span>
                                <span class="font-green-jungle fa fa-check" ng-show="tabData.Social"></span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 text-left" style="margin-top: 10px;">
                        <label class="control-label bold">{{'select import file'| translate}}</label>
                        <input type="file" id="upload" ng-required="true"
                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                               onchange="angular.element(this).scope().fileUpload(this)" class="form-control" data-nv-file-select="" data-uploader="uploader">
                        <span ng-repeat="(error, errortext) in err_msg.logo" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'err_msg.logo' != []" >
                            {{ errortext.toString()}}
                        </span>
                        <p class="col-md-12 col-sm-12 col-xs-12 text-left bold" style="margin: 0 0 5px 0;padding: 10px;">
                            <span class="font-blue pull-left text-right bold" >{{'download template'| translate}}</span>
                            <a   href="javascript:;" class="pull-left btn btn-xs blue fa fa-download " style="margin-right: 2%" ng-click="download()"></a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer" style="margin-top: 25px;">
        <button class="btn blue" ng-click="confirm()" ng-disabled="!upload" type="button" >
            <span> {{'search'| translate}}</span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>

<style>
    .selected{
        background-color: #e5f3ff !important;
    }

</style>