<div class="modal-header" style="  padding:6%; ">
<h4 class="modal-title text-center" > {{'relay form'| translate}}</h4>
    </div>
    <div class="modal-body">
        <form name="form" novalidate="" role="form" class="row text-center" style="padding: 2%;">
            <div class="col-md-12 col-sm-12 col-xs-12" >
                <div class="col-md-6  col-sm-12 col-xs-12"  >
                    <div class="form-group">
                        <label class="control-label bold">   {{'card_number' | translate }} </label>
                        <input type="text" readonly="readonly" class="form-control" ng-model="row.IDNO" name="IDNO" />
                    </div>
                </div>

                <div class="col-md-6  col-sm-12 col-xs-12"  >
                    <div class="form-group" ng-class="{ 'has-error' : form.category_id.$invalid && (!form.category_id.$pristine  || form.category_id.$touched)}">
                        <label class="control-label bold">   {{'category_name_'| translate}}</label>
                        <span class=" text-danger bold help-inline" > ( {{'required'| translate}} )</span>
                        <span class=" text-danger bold help-inline" ng-show="form.category_id.$error.required && form.category_id.$touched">*</span>
                        <multiselect  autofocus
                                      ng-model="persons.category_id" ng-disabled="action =='edit'" ng-required="true"
                                      name="category_id"
                                      ng-change="msg1.category_id = [ ]"
                                      ng-if="choices"
                                      options="choices" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                        </multiselect>
                        <span class="text-danger bold help-inline" ng-show="form.category_id.$error.required && form.category_id.$touched">
                                {{'application.required_field'| translate}}
                </span>
                        <span ng-repeat="(error, errortext) in msg1.category_id" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.category_id' != [ ]" >
                                {{ errortext.toString() }}
                </span>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label bold">   {{ 'first_name' | translate}} </label>
                        <input type="text" readonly="readonly" class="form-control" ng-model="row.FNAME_ARB" name="FNAME_ARB" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label bold">   {{ 'second_name' | translate}} </label>
                        <input type="text" readonly="readonly" class="form-control" ng-model="row.SNAME_ARB" name="SNAME_ARB" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label bold">   {{ 'third_name' | translate}} </label>
                        <input type="text" readonly="readonly" class="form-control" ng-model="row.TNAME_ARB" name="TNAME_ARB" />
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label bold">   {{ 'last_name' | translate}} </label>
                        <input type="text" readonly="readonly" class="form-control" ng-model="row.LNAME_ARB" name="LNAME_ARB" />
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="control-label bold">   {{ 'address' | translate}} </label>
                        <input type="text" readonly="readonly" class="form-control" ng-model="row.CI_ADDRESS" name="CI_ADDRESS" />
                    </div>
                </div>

            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" ng-if="type == 1">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : form.country.$invalid && (!form.country.$pristine || form.country.$touched) }">
                        <label class="control-label bold">  {{'country'| translate}} </label>
                        <span class=" text-danger bold help-inline" > ( {{'required'| translate}} )</span>
                        <span class=" text-danger bold help-inline" ng-show="form.country.$error.required && form.country.$touched">*</span>
                        <div class="input-group">
                            <ui-select
                                    ng-model="persons.country"
                                    name="country"
                                    ng-required=" type == 1"
                                    ng-change="getLocation('districts','countries',persons.country)"
                                    theme="bootstrap" class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in Country | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                                     <button type="button" ng-click="persons.country = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                        </div>
                        <span ng-repeat="(error, errortext) in msg1.country"
                              class="text-danger bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.country' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>

                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : form.governarate.$invalid && (!form.governarate.$pristine || form.governarate.$touched) }">
                        <label class="control-label bold">  {{'district'| translate}} </label>
                        <span class=" text-danger bold help-inline" > ( {{'required'| translate}} )</span>
                        <span class=" text-danger bold help-inline" ng-show="form.governarate.$error.required && form.governarate.$touched">*</span>
                        <div class="input-group">
                            <ui-select   ng-model="persons.governarate"
                                         name="governarate"
                                         ng-required=" type == 1"
                                         ng-change="getLocation('cities','districts',persons.governarate)"
                                         theme="bootstrap" class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in governarate | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                                     <button type="button" ng-click="persons.governarate = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                        </div>
                        <span ng-repeat="(error, errortext) in msg1.governarate"
                              class="text-danger bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.governarate' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : form.city.$invalid && (!form.city.$pristine  || form.city.$touched)}">
                        <label class="control-label bold">  {{'city'| translate}} </label>
                        <span class=" text-danger bold help-inline" > ( {{'required'| translate}} )</span>
                        <span class=" text-danger bold help-inline" ng-show="form.city.$error.required && form.city.$touched">*</span>
                        <div class="input-group">
                            <ui-select   ng-model="persons.city"
                                         name="city"
                                         ng-required=" type == 1"
                                         ng-change="getLocation('neighborhoods','cities',persons.city)"
                                         theme="bootstrap" class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in city | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                                     <button type="button" ng-click="persons.city = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                        </div>
                        <span ng-repeat="(error, errortext) in msg1.city"
                              class="text-danger bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.city' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : form.location_id.$invalid && (!form.location_id.$pristine  || form.location_id.$touched)}">
                        <label class="control-label bold">  {{'nearlocation'| translate}} </label>
                        <span class=" text-danger bold help-inline" > ( {{'required'| translate}} )</span>
                        <span class=" text-danger bold help-inline" ng-show="form.location_id.$error.required && form.location_id.$touched">*</span>
                        <div class="input-group">
                            <ui-select    ng-model="persons.location_id"
                                          name="location_id"
                                          ng-change="getLocation('mosques','neighborhoods',persons.location_id)"
                                          ng-required=" type == 1"
                                          theme="bootstrap" class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in nearlocation | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                                     <button type="button" ng-click="persons.location_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                        </div>
                        <span ng-repeat="(error, errortext) in msg1.location_id"
                              class="text-danger bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.location_id' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12" ng-if="type == 2">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : frmpersonal.adscountry_id.$invalid && (!frmpersonal.adscountry_id.$pristine || frmpersonal.adscountry_id.$touched) }">
                        <label class="control-label bold">   {{'country'| translate}} </label>
                        <span class=" text-danger bold help-inline" > ( {{'required'| translate}} )</span>
                        <span class=" text-danger bold help-inline" ng-show="frmpersonal.adscountry_id.$error.required && frmpersonal.adscountry_id.$touched">*</span>
                        <div class="input-group">
                            <ui-select
                                    ng-model="persons.adscountry_id"
                                    name="adscountry_id"
                                    ng-required=" type == 2"
                                    ng-change="getLocation('sdistricts','scountries',persons.adscountry_id)"
                                    theme="bootstrap" class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in aidCountries | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                                     <button type="button" ng-click="persons.adscountry_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                        </div>
                        <span ng-repeat="(error, errortext) in msg1.adscountry_id"
                              class="text-danger bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.adscountry_id' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>

                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : frmpersonal.adsdistrict_id.$invalid && (!frmpersonal.adsdistrict_id.$pristine || frmpersonal.adsdistrict_id.$touched) }">
                        <label class="control-label bold">   {{'district'| translate}} </label>
                        <span class=" text-danger bold help-inline" > ( {{'required'| translate}} )</span>
                        <span class=" text-danger bold help-inline" ng-show="frmpersonal.adsdistrict_id.$error.required && frmpersonal.adsdistrict_id.$touched">*</span>
                        <div class="input-group">
                            <ui-select   ng-model="persons.adsdistrict_id"
                                         name="adsdistrict_id"
                                         ng-required=" type == 2"
                                         ng-change="getLocation('sregions','sdistricts',persons.adsdistrict_id)"
                                         theme="bootstrap" class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in governarate | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                                     <button type="button" ng-click="persons.adsdistrict_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                        </div>

                        <span ng-repeat="(error, errortext) in msg1.adsdistrict_id"
                              class="text-danger bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.adsdistrict_id' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : frmpersonal.adsregion_id.$invalid && (!frmpersonal.adsregion_id.$pristine  || frmpersonal.adsregion_id.$touched)}">
                        <label class="control-label bold">   {{'region'| translate}} </label>
                        <span class=" text-danger bold help-inline" > ( {{'required'| translate}} )</span>
                        <span class=" text-danger bold help-inline" ng-show="frmpersonal.adsregion_id.$error.required && frmpersonal.adsregion_id.$touched">*</span>
                        <div class="input-group">
                            <ui-select   ng-model="persons.adsregion_id"
                                         name="adsregion_id"
                                         ng-required=" type == 2"
                                         ng-change="getLocation('sneighborhoods','sregions',persons.adsregion_id)"
                                         theme="bootstrap" class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in regions | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                                     <button type="button" ng-click="persons.adsregion_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                        </div>
                        <span ng-repeat="(error, errortext) in msg1.adsregion_id"
                              class="text-danger bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.adsregion_id' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : frmpersonal.adsneighborhood_id.$invalid && (!frmpersonal.adsneighborhood_id.$pristine  || frmpersonal.adsneighborhood_id.$touched)}">
                        <label class="control-label bold">   {{'nearlocation_'| translate}} </label>
                        <span class=" text-danger bold help-inline" > ( {{'required'| translate}} )</span>
                        <span class=" text-danger bold help-inline" ng-show="frmpersonal.adsneighborhood_id.$error.required && frmpersonal.adsneighborhood_id.$touched">*</span>
                        <div class="input-group">
                            <ui-select    ng-model="persons.adsneighborhood_id"
                                          name="adsneighborhood_id"
                                          ng-change="getLocation('ssquares','sneighborhoods',persons.adsneighborhood_id)"
                                          ng-required=" type == 2"
                                          theme="bootstrap" class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in nearlocation | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                                     <button type="button" ng-click="persons.adsneighborhood_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                        </div>
                        <span ng-repeat="(error, errortext) in msg1.adsneighborhood_id"
                              class="text-danger bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.adsneighborhood_id' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-3 col-sm-12 col-xs-12" ng-if="type == 1">
                    <div class="form-group" ng-class="{ 'has-error' : form.mosques_id.$invalid && (!form.mosques_id.$pristine  || form.mosques_id.$touched)}">
                        <label class="control-label bold">   {{'mosques'| translate}} </label>
                        <span class=" text-danger bold help-inline" > ( {{'required'| translate}} )</span>
                        <span class=" text-danger bold help-inline" ng-show="form.mosques_id.$error.required && form.mosques_id.$touched">*</span>
                        <div class="input-group">
                            <ui-select ng-model="persons.mosques_id"
                                       name="mosques_id"
                                       ng-change="msg1.mosques_id = [ ]"
                                       ng-required=" type == 1"
                                       theme="bootstrap" class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in mosques | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                                     <button type="button" ng-click="persons.mosques_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                        </div>
                        <span ng-repeat="(error, errortext) in msg1.mosques_id"
                              class="text-danger bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.mosques_id' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12" ng-if="type == 2">
                    <div class="form-group" ng-class="{ 'has-error' : frmpersonal.adssquare_id.$invalid && (!frmpersonal.adssquare_id.$pristine  || frmpersonal.adssquare_id.$touched)}">
                        <label class="control-label bold">   {{'square'| translate}} </label>
                        <span class=" text-danger bold help-inline" > ( {{'required'| translate}} )</span>
                        <span class=" text-danger bold help-inline" ng-show="frmpersonal.adssquare_id.$error.required && frmpersonal.adssquare_id.$touched">*</span>
                        <div class="input-group">
                            <ui-select    ng-model="persons.adssquare_id"
                                          name="adssquare_id"
                                          ng-change="getLocation('smosques','ssquares',persons.adssquare_id)"
                                          ng-required=" type == 2"
                                          theme="bootstrap" class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in squares | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                                     <button type="button" ng-click="persons.adssquare_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                        </div>
                        <span ng-repeat="(error, errortext) in msg1.adssquare_id"
                              class="text-danger bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.adssquare_id' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12" ng-if="type == 2">
                    <div class="form-group" ng-class="{ 'has-error' : frmpersonal.adsmosques_id.$invalid && (!frmpersonal.adsmosques_id.$pristine  || frmpersonal.adsmosques_id.$touched)}">
                        <label class="control-label bold">   {{'mosques'| translate}} </label>
                        <span class=" text-danger bold help-inline" > ( {{'required'| translate}} )</span>
                        <span class=" text-danger bold help-inline" ng-show="frmpersonal.adsmosques_id.$error.required && frmpersonal.adsmosques_id.$touched">*</span>
                        <div class="input-group">
                            <ui-select ng-model="persons.adsmosques_id"
                                       name="adsmosques_id"
                                       ng-change="msg1.adsmosques_id = [ ]"
                                       ng-required=" type == 2"
                                       theme="bootstrap" class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in mosques | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                                     <button type="button" ng-click="persons.adsmosques_id = undefined" class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                     </button>
                                                 </span>
                        </div>
                        <span ng-repeat="(error, errortext) in msg1.adsmosques_id"
                              class="text-danger bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.adsmosques_id' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group" ng-class="{ 'has-error' : frmpersonal.street_address.$invalid && (!frmpersonal.street_address.$pristine || frmpersonal.street_address.$touched)}">
                        <label class="control-label bold">   {{'street_address'| translate}} </label>
                        <span class=" text-success bold help-inline"> ({{'optional' | translate }})</span>
                        <span class=" text-danger bold help-inline" ng-show="frmpersonal.street_address.$error.required && frmpersonal.street_address.$touched">*</span>
                        <input type="text"
                               class="form-control"
                               ng-model="persons.street_address"
                               name="street_address"
                               ng-change="msg1.street_address = [ ]"
                               placeholder="{{'street_address'| translate}} " />
                        <span ng-repeat="(error, errortext) in msg1.street_address"
                              class="text-danger bold help-inline"
                              ng-show="status1=='failed_valid' && 'msg1.street_address' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class=" btn blue" ng-disabled="form.$invalid" ng-click="confirm(persons)" type="button" >
            <span>{{'relay'| translate}}</span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
