<!--  BEGIN PAGE BREADCRUMB  -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'sponsorships management' | translate }}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li><a href="#/sponsorship/payments/">{{'payments'| translate}}</a>

    <li class="active" >
        <span>
            {{'archive-cheques'| translate}}
        </span>
    </li>
</ul>
<!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div  class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">

                        <h3>
                            <span class="fa fa-table"></span> <span>{{'archive-cheques'| translate}}</span>
                        </h3>
                    </div>
                </div>
                <div class="portlet-body">

                    <div class="row text-center" style="padding: 2%;">

                        <div class="portlet-body">
                            <div class="row" style="margin-bottom: 2%;">
                                <div  class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%;">
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1% !important;">
                                        <div class="col-md-10 col-md-offset-1" style="padding-top: 3%;padding-bottom: 3%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                                            <form name="searchFrm" method="get" class="form-inline" ng-submit="Search(name)">
                                                <div class="">
                                                    <div class="form-group" style="width: 100%;">
                                                        <div class="input-group" style="width: 80%; margin-right: 10%">
                                                            <input type="text"style="width: 100%;" class="form-control  "
                                                                   ng-model="name" placeholder="{{'name_'| translate}}" >
                                                            <span class="input-group-btn" style="width: 25%;">
                                                    <button type="submit" style="width: 100%;"class="btn blue" ng-click="search_(name)">
                                                        <span class="glyphicon glyphicon-search"></span> <span class="ng-binding">{{'search'| translate}}</span>
                                                    </button>
                                              </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="table-scrollable" style="margin-bottom: 0.5% !important;"    ng-if="items.length != 0" >
                                    <!-- BEGIN TABLE -->
                                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" style="margin-top: 0%;" >
                                            <thead>
                                            <tr style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">
                                                <th class="text-center" > {{'#'| translate}} </th>
                                                <th class="text-center" ng-click="sort('title')">
                                                    {{'title_'| translate}}
                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                </th>
                                                <th class="text-center"> {{'operations'| translate}}  </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr dir-paginate="item in items|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                                <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                                <td>{{item.title}} </td>
                                               <td>
                                                <span ng-show="item.file_id != null">
                                                   <a class="btn blue btn-xs" data-download="{{ item.name }}"
                                                      ng-click=" download(item.id)">
                                                     <span class="fa fa-cloud-download"></span><span> {{'download'| translate}}</span>
                                                   </a>
                                               </span>
                                               </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    <!-- END TABLE -->
                                    </div>
                                    <div ng-if="items.length ==0 " class=" col-md-12 col-sm-12 col-xs-12text-center" style="margin-bottom: 2%">
                                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show'| translate}}
                                                                    </span>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="items.length != 0 "  >
                                        <div  class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                                <span class="bold ">{{'number of total items'| translate}}   :   </span>
                                                <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                                <span class="bold ">{{'row'| translate}}</span>
                                            </div>
                                            <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>



