<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb  hidden-print" >
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'sponsorships management' | translate }}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>

    <li class="active" > {{'cheque-banks-template'| translate}}</li>
</ul>
<!-- BEGIN MAIN CONTENT -->
    <div class="row hidden-print" >
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <h3>
                            <span class="fa fa-table"></span>
                            <span>{{'cheque-banks-template'| translate}}</span>
                        </h3>
                    </div>
                </div>
                <div class="portlet-body">

                            <div class="row text-center" style="padding: 2%;">
                                <div class="portlet-body">
                                    <div class="row" style="margin-bottom: 2%;">
                                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1.5%;">
                                            <button type="button" class="btn blue pull-left" ng-click="download('template_instruction',null)">
                                                <span class="fa fa-file-pdf-o"></span>
                                                <span style="">{{'template instructions'| translate}}</span>
                                            </button>

                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                                <thead>
                                                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                                    <th class="col-md-1 text-center" > {{'#'| translate}}</th>
                                                    <th class="col-md-3 text-center" > {{'bank_name'| translate}} </th>
                                                    <th class="col-md-8 text-center" > {{'template'| translate}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="item in entries">
                                                <td>{{ $index +1}}</td>
                                                    <td>{{ item.name }}</td>
                                                    <td>
                                                        <a ng-click="readFile()">​​​​​​​​​​​​​​​​​print pdf</a>

                                                        <span class="btn bold font-blue btn-sm fa fa-download" ng-click="download()"></span>
                                                        <span  ng-show="item.bank_id == null " class="btn bold font-blue btn-sm glyphicon glyphicon-plus" ng-click="save(item)"></span>
                                                        <span  ng-show="item.bank_id != null " class="btn bold font-blue btn-sm fa fa-edit" ng-click="save(item)"></span>
                                                        <!--<span  ng-show="item.bank_id != null " class="btn bold font-red-pink btn-sm fa fa-print" ng-click="print(item)"></span>-->
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                            <div ng-if="entries.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                                                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show'| translate}}
                                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>


                </div>
            </div>
        </div>
    </div>

