<style>
    p{ margin: 10px 0 !important;}

</style>
<!--  BEGIN PAGE BREADCRUMB  -->
<ul class="page-breadcrumb breadcrumb  " >
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home' | translate }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span>{{'sponsorships management' | translate }}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li><a href="#/sponsorship/payments/">{{'payments'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li><span>{{'cheque print'| translate}}</span></li>
</ul>
<!-- END PAGE BREADCRUMB -->
<div class="row">
    <div  class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-body" style="min-height: 600px;">
                <div class="table-toolbar">
                    <div class="col-md-12  " style="background-color: #f3f3f3;margin-bottom: 1%; padding-top: 4%; padding-bottom: 2%; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " ng-if="!saved">
                        <form name="form">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                <h4 class="bold font-red-pink text-center" style="margin-bottom: 25px;">  {{'recipient_count'| translate}} : {{list.length}} </h4>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">

                                <div class="col-md-3 text-center ">
                                    <div class="form-group">
                                        <label class=" control-label bold">{{'sponsor_name'| translate}}</label>
                                        <div class="input-group">
                                            <ui-select name="sponsor_id" ng-model="filter.sponsor_id"theme="bootstrap"
                                                       class="text-right" required ng-change="getOptions('currency')">
                                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                <ui-select-choices repeat="item.id as item in options.sponsors | filter: $select.search">
                                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                            <span class="input-group-btn">
                                                                <button type="button" ng-click="filter.sponsor_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center ">
                                    <div class="form-group ">
                                        <label class=" control-label bold">{{'currency'| translate}}</label>
                                        <select class="form-control" name="currency_id" ng-model="filter.currency_id" required
                                                ng-change="getOptions('list')">
                                            <option disabled selected value>{{'select currency type'| translate}}  </option>
                                            <option ng-repeat="option in options.currency" value="{{option.id}}" >
                                                {{option.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center ">
                                    <div class="form-group">
                                        <label class=" control-label bold">{{'payments list'| translate}}</label>
                                        <select class="form-control" name="payment_ids" ng-model="filter.payment_ids" multiple required>
                                            <option disabled selected value>{{'payments list'| translate}}  </option>
                                            <option ng-repeat="option in options.payments"  value="{{option.id}}"    >
                                                {{option.category.name + ' - ' + option.payment_date}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label class="control-label bold">{{'payment_exchange'| translate}}</label>
                                        <select class="form-control" name="payment_exchange" ng-model="filter.payment_exchange" required>
                                            <option disabled selected value>{{'payment_exchange'| translate}}  </option>
                                            <option value="0">{{'currency'| translate}}</option>
                                            <option value="1">{{'shekel'| translate}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                <div class="col-md-2 text-center pull-right">
                                    <button  class="btn blue   " ng-click="result(filter)" ng-disabled="form.$invalid" type="button" style="width: 100%;">
                                        <span style="margin-left:3%;" class="icon-magnifier"></span>
                                        <span style="margin-left:3%;" >{{'results'| translate}}</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12  " style="background-color: #f3f3f3;margin-bottom: 1%; padding-top: 4%; padding-bottom: 2%; box-sizing: border-box; border-radius:10px; border: 1px #f5f5f5 solid; " ng-if="saved">
                        <form name="export_form">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                <h4 class="bold font-red-pink text-center" style="margin-bottom: 25px;">  {{'recipient_count'| translate}} : {{list.length}} </h4>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                <div class="col-md-4 text-center ">
                                    <div class="form-group">
                                        <label class=" control-label bold">{{'select_state_'| translate}}
                                            <span  class=" font-red-pink bold help-inline" >({{'optional'| translate}})</span>
                                        </label>
                                        <select class="form-control" name="district_id" ng-model="filter.district_id" ng-change="getRange(filter.district_id)">
                                            <option  selected value>{{'select_state_'| translate}}  </option>
                                            <option ng-repeat="option in districts"  value="{{option.location_id}}"    >
                                                {{option.name}}
                                            </option>
                                        </select>
                                        <!--                                            <div class="input-group">-->
                                        <!--                                                <ui-select name="district_id" ng-model="filter.district_id"theme="bootstrap" class="text-right">-->
                                        <!--                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>-->
                                        <!--                                                    <ui-select-choices repeat="item.location_id as item in districts | filter: $select.search">-->
                                        <!--                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>-->
                                        <!--                                                    </ui-select-choices>-->
                                        <!--                                                </ui-select>-->
                                        <!--                                                <span class="input-group-btn">-->
                                        <!--                                                                <button type="button" ng-click="filter.district_id = undefined" class="btn btn-default">-->
                                        <!--                                                                      <span class="glyphicon glyphicon-trash"></span>-->
                                        <!--                                                                </button>-->
                                        <!--                                                             </span>-->
                                        <!--                                            </div>-->
                                    </div>
                                </div>
                                <div class="col-md-2 text-center ">
                                    <div class="form-group">
                                        <label class=" control-label bold">{{'from'| translate}}
                                            <span  class=" font-red-pink bold help-inline" >({{'mandatory'| translate}})</span>
                                        </label>
                                        <select class="form-control" name="from" ng-model="filter.from" required>
                                            <option disabled selected value>{{'from'| translate}}  </option>
                                            <option ng-repeat="i in list track by $index"  value="{{$index}}"    >
                                                {{ ( $index + 1 ) }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2 text-center ">
                                    <div class="form-group">
                                        <label class=" control-label bold">{{'to'| translate}}
                                            <span  class=" font-red-pink bold help-inline" >({{'mandatory'| translate}})</span>
                                        </label>
                                        <select class="form-control" name="to" ng-model="filter.to" required>
                                            <option disabled selected value>{{'to'| translate}}  </option>
                                            <option ng-repeat="i in list track by $index"  value="{{$index}}"   ng-disabled="index <= filter.from" >
                                                {{ ( $index + 1 ) }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 text-center ">
                                    <div class="form-group">
                                        <label class=" control-label bold">{{'file_title'| translate}}
                                            <span  class=" font-red-pink bold help-inline" >({{'mandatory'| translate}})</span>
                                        </label>
                                        <input type="text" class="form-control" name="title" ng-model="filter.title" maxlength="45" ng-maxlength="45"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                <div class="col-md-5 text-center pull-right">
                                    <button  class="btn  yellow-saffron   " ng-click="export(filter,'details')" ng-disabled="export_form.$invalid" type="button">
                                        <span style="margin-left:3%;" class="fa fa-file-excel-o"></span>
                                        <span style="margin-left:3%;" >{{'export cases list'| translate}}</span>
                                    </button>
                                    <button  class="btn green-turquoise   " ng-click="export(filter,'signature')" ng-disabled="export_form.$invalid" type="button">
                                        <span style="margin-left:3%;" class="fa fa-file-excel-o"></span>
                                        <span style="margin-left:3%;" >{{'cheque signature'| translate}}</span>
                                    </button>
                                    <button  class="btn red-pink  " ng-click="export(filter,'pdf')" ng-disabled="export_form.$invalid" type="button">
                                        <span style="margin-left:3%;" class="fa fa-file-pdf-o"></span>
                                        <span style="margin-left:3%;" >{{'export'| translate}}</span>
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="col-md-12   text-center"  style="padding-top: 2%; padding-bottom: 2%;"ng-if="saved" >
                        <table class="table table-striped table-bordered text-center" style="margin-top: 0%;" >
                            <tbody>
                            <tr>
                                <td rowspan="2" class="text-center bold font-blue" style="background-color: #f3f3f3!important; "> {{'sub total'| translate}}</td>
                                <td class="font-blue  bold "  style="background-color: #f3f3f3!important; "> {{'amount'| translate}}</td>
                                <td class="text-center  bold "> {{total_amount}} </td>
                            </tr>
                            <tr>
                                <td class="font-blue  bold "  style="background-color: #f3f3f3!important; "> {{'shekel_amount'| translate}}</td>
                                <td  class="text-center  bold "> {{total_shekel_amount}} </td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" style="margin-top: 0%;" >
                            <thead>
                            <tr style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">
                                <th> {{'governarate_name'| translate}}</th>
                                <th class="text-center" ng-repeat=" x in districts" > {{x.name}} </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td> {{'amount'| translate}}</td>
                                <td class="text-center" ng-repeat=" x in districts" > {{x.amount}} </td>
                            </tr>
                            <tr>
                                <td> {{'shekel_amount'| translate}}</td>
                                <td class="text-center" ng-repeat=" x in districts" > {{x.shekel_amount}} </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12   text-center"  ng-if="items.length >0" style="padding-top: 2%; padding-bottom: 2%;" >
                        <div class="col-md-4 col-md-offset-2"  >
                            <input class="pull-left" type="text"
                                   style="height: 34px; margin-bottom: 1%; width:100%"
                                   name="cheque_number"
                                   ng-model="distribution.cheque_number"
                                   numeric-only
                            >
                            <button class="btn blue "    ng-click="distribute('cheque_number',distribution)"  >  <span> {{'cheque numbering' | translate }}</span></button>
                        </div>
                        <div class="col-md-4">
                            <div  class="input-group" style="height: 34px; margin-bottom: 1%; width:100%">
                                <input type="text" class="form-control"
                                       uib-datepicker-popup="{{format}}"
                                       ng-model="distribution.cheque_date"
                                       ng-change="msg1.cheque_date = [ ]"
                                       datepickerPopup
                                       name="cheque_date"
                                       is-open="popup1.opened" datepicker-options="dateOptions"
                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly />
                                <span class="input-group-btn">
                                      <button type="button" class="btn btn-default" ng-click="open1($event)">
                                              <i class="glyphicon glyphicon-calendar"></i>
                                      </button>
                                </span>
                            </div>
                            <button class="btn blue " ng-click="distribute('cheque_date',distribution)" >   <span> {{'cheque_date' | translate }}</span></button>
                        </div>
                    </div>
                   <div  class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 1%;">
                        <!-- BEGIN TABLE -->
                        <div class="" ng-if="items.length != 0 ">
                            <h4 class="bold font-blue text-center" style="margin-bottom: 25px;"> {{'all merged cheque'| translate}} </h4>

                            <div class="row">
                                <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
                                    <label>{{'show' | translate}}
                                        <select
                                        class="form-control input-sm input-inline" ng-init=""
                                        ng-change="itemsPerPage_(itemsCount)"
                                        name="itemsCount" 
                                        ng-model='itemsCount'>
                                       <option value="50">50</option><option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                        <option value="-1">{{'show_All' | translate}}</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                            </div>
                            </div>
                            
                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" style="margin-top: 0%;" >
                                <thead>
                                <tr style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">

                                    <th class="text-center" > {{'#'| translate}} </th>
                                    <th class="text-center" ng-click="sort('recipient')">
                                        {{'recipient'| translate}}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='recipient'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('id_card_number')">
                                        {{'card_number' | translate }}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='id_card_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('amount')">{{'amount'| translate}}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('shekel_amount')">{{'amount in shikel'| translate}}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='shekel_amount'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('cheque_account_number')">
                                        {{'cheque_account_number'| translate}}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='cheque_account_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th class="text-center" ng-click="sort('cheque_date')">
                                        {{'cheque_date'| translate}}
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='cheque_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-if="saved" class="text-center" style="width:70px;">    {{'export'| translate}} </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="item in items|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                    <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                    <td>   {{ item.name }}</td>
                                    <td>{{item.id_card_number}} </td>
                                    <td>{{item.payment_value}} </td>
                                    <td>{{item.payment_value_shekel}} </td>
                                    <td>
                                        <div class="form-group" style="width:100%">
                                            <div  class="input-group">
                                                <input type="text"
                                                       readonly
                                                       class="form-control  text-center"
                                                       name="cheque_account_number"
                                                       ng-model="item.cheque_account_number"
                                                       numeric-only
                                                />
                                            </div>


                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group" >
                                            <input type="text" style="width:100%"
                                                   class="form-control text-center"
                                                   name="cheque_date"
                                                   ng-model="item.cheque_date" readonly
                                            />

                                        </div>
                                    </td>
                                    <td  ng-if="saved" ><span uib-tooltip="{{'export bonds' | translate }}" ng-click="exportOne(item.person_id)"
                                                              class="btn  btn-xs bold font-red-pink fa fa-file-pdf-o"
                                                              style="font-size: medium; background-color: transparent"></span>

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- END TABLE -->
                        <div ng-if="items.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center text-center" style="margin-bottom: 2%">
                            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show'| translate}}
                                                                    </span>
                            </div>
                        </div>
                        <div class="row" ng-if="items.length != 0 "  >
                            <div  class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                    <span class="bold ">{{'number of total items'| translate}}   :   </span>
                                    <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                    <span class="bold ">{{'row'| translate}}</span>
                                </div>
                                <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

