<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<style>
    .styled-checkbox :before,
    .lt-ie8 .checkbox-replacement {
        content: '';
        display: inline-block;
        visibility: visible;
        left: 0;
        width: 0.6em;
        height: 0.6em;
        margin: 0 0.3em 0 -1em;
        line-height: 0.6;
        text-align: center;
        /* Put checkbox styles here: */
        border: 1px solid red;
    }
    .styled-checkbox:checked :before,
    .lt-ie9 .styled-checkbox.checked :before {
        content: '✔';
    }
    .page-content{
        margin-right: 0px !important;

    }
    .page-sidebar-menu{
        display:none !important;
    }
    .page-header-fixed .page-container{
        margin-top: 0px !important;
    }
    .page-header{
        display:none !important;
    }
    .page-header-fixed{
        background-color: white !important;
    }
    .page-footer-inner{
        display:none !important;
    }
    body{
        font-size: 6.5px !important;
    }
    @page { margin: 0; }
    .print-header{
        padding-top: 15px;
    }
    .print-title{
        border:none; border-bottom: 1px dashed ;
        padding-bottom:15px;text-align: center;
        font-size: 10px;
        padding-top: 15px;
    }
    .print-footer {
        border: none;
        text-align: center;
        font-size: 10px;
        padding-top: 30px;}

    table{direction: rtl !important;;}
    body {  background: rgb(204,204,204);  }
    .notWanted{display: none;}
    page[size="chk"] {  background: white;width: 17.5cm;  height: 5.7cm;  display: block;  margin: 0 auto;  margin-bottom: 0.5cm; ;  }
    @media print {

        body, page[size="chk"] {  margin: 0;  box-shadow: 0;  page-break-after:always;  }
        #print{display: none;}  .note{display: none;}
        #printbtn{display: none;}  .note{display: none;}
        .notWanted{display: none;}
        .main{  margin-top:0px; }
    }
</style>

<!--DONE -->
<page ng-show="row.bank_id == '5' " size="chk" class="myDiv">
    <table class="main" border="0" align="center" style=" width: 100%; height: 100%; page-break-after:always; margin-top:5px;  margin-bottom:10px; ">
        <tbody>
        <tr>
            <td>
                 <table width="100%" border="0">
                <tbody>
                <tr>
                    <td colspan="2" >&nbsp;</td>
                    <td colspan="4" >&nbsp;</td>
                </tr>

                <tr>
                    <td colspan="2" >&nbsp;</td>
                    <td height="47" colspan="4" ><span style="border:#000 1px solid; font-size:18px; font-family:Arial, Helvetica, sans-serif; padding:5px; background:#F3F3F3; font-weight:bold; margin-right:20px;">للمستفيد الأول فقط</span>&nbsp;</td>
                </tr>

                <tr>
                    <td width="20%" rowspan="2" align="center" valign="bottom"><div style="text-align:center; width:60px; margin:auto; font-weight:bold; padding-top:2px;"><span style="font-size: 15px;">{{row.amount}}</span></div></td>
                    <td width="13%" rowspan="2" align="right">&nbsp;</td>
                    <td align="right">&nbsp;</td>
                    <td align="right" valign="top">&nbsp;</td>
                    <td align="right" valign="top">{{row.name}} </td>
                    <td height="25" align="right">&nbsp;</td>
                </tr>
                <tr>
                    <td width="3%" >&nbsp;</td>
                    <td width="4%" >&nbsp;</td>
                    <td width="49%"  valign="bottom" style="font-size:12px;">{{row.character_value}}</td>
                    <td height="29" >&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" >&nbsp;</td>
                    <td colspan="3" >&nbsp;</td>
                    <td height="36" >&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2" ></td>
                    <td colspan="3"  valign="bottom"><span style="margin-right:30px;">{{row.cheque_date}}</span></td>
                    <td height="21" >&nbsp;</td>
                </tr>
                </tbody>

                 </table></td>
        </tr>
        </tbody>
    </table>
</page>
<page ng-show="row.bank_id == '10'" size="chk"  class="myDiv">
    <table border="0" align="center" style=" width: 100%; height: 100%; page-break-after:always; margin-top:5px;  margin-bottom:10px; ">
        <tbody>
        <tr>
            <td>
                <table width="100%" border="0">
                    <tbody>
                    <tr>
                        <td width="6%" align="right">&nbsp;</td>
                        <td width="16%" align="right">&nbsp;</td>
                        <td colspan="3" align="right">&nbsp;</td>
                        <td width="16%" align="right">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td height="31" colspan="4" align="left" valign="bottom"><span style="border:#000 1px solid; font-size:18px; font-family:Arial, Helvetica, sans-serif; padding:5px; background:#F3F3F3; font-weight:bold; margin-left:20px;">للمستفيد الأول فقط</span></td>
                    </tr>
                    <tr>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td width="7%" align="right">&nbsp;</td>
                        <td colspan="2" align="right">{{row.name}} </td>
                        <td height="35" align="right">&nbsp;</td>
                    </tr>
                    <tr>

                        <td align="right">&nbsp;</td>
                        <td align="right"><div align="right">{{row.amount}}</div></td>
                        <td colspan="2" align="right">&nbsp;</td>
                        <td width="54%" align="right">{{row.character_value}}</td>
                        <td height="31" align="right">&nbsp;</td>
                    </tr>
                    <tr>
                        <td align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                        <td colspan="3" align="right">&nbsp;</td>
                        <td align="right">&nbsp;</td>
                    </tr>
                    <tr>

                        <td align="right">&nbsp;</td>
                        <td align="right"><div align="center">{{today}}</div></td>
                        <td colspan="3" align="right">&nbsp;</td>
                        <td height="21" align="right">&nbsp;</td>
                    </tr>
                    </tbody>

                </table></td>
        </tr>
        </tbody>
    </table>

</page>
<page ng-show="row.bank_id == '11'" size="chk"  class="myDiv">

    <table border="0" align="center" style=" width: 100%; height: 100%; page-break-after:always; margin-top:5px;  margin-bottom:10px; ">
        <tr>
            <td><table width="100%" border="0">
                <tr>

                    <td width="8%" >&nbsp;</td>
                    <td colspan="2" >&nbsp;</td>
                    <td width="63%" >&nbsp;</td>
                    <td width="13%" >&nbsp;</td>
                </tr>
                <tr>
                    <td >&nbsp;</td>
                    <td colspan="2" >&nbsp;</td>
                    <td height="39" colspan="2" align="left" valign="top"><span style="border:#000 1px solid; font-size:18px; font-family:Arial, Helvetica, sans-serif; padding:5px; background:#F3F3F3; font-weight:bold; margin-left:280px;">للمستفيد الأول فقط</span></td>
                </tr>
                <tr>
                    <td colspan="2" >&nbsp;</td>
                    <td colspan="2"  valign="top">{{row.name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; </td>
                    <td height="35" >&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="3" align="center" valign="middle"><div align="center">#{{row.amount}}#</div></td>
                    <td  valign="bottom">{{row.character_value}}&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </td>
                    <td height="33" >&nbsp;</td>
                </tr>
                <tr>
                    <td >&nbsp;</td>
                    <td colspan="2" >&nbsp;</td>
                    <td >&nbsp;</td>
                    <td >&nbsp;</td>
                </tr>
                <tr>
                    <td >&nbsp;</td>
                    <td colspan="2" >&nbsp;</td>
                    <td  valign="top"><div >&nbsp;&nbsp;&nbsp;&nbsp; {{today}}&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div></td>
                    <td height="26" >&nbsp;</td>
                </tr>
            </table></td>
        </tr>
    </table>

</page>
<page ng-show="row.bank_id == '3'" size="chk"  class="myDiv">

    <table border="0" align="center" style=" width: 100%; height: 100%; page-break-after:always; margin-top:5px;  margin-bottom:10px; ">
        <tr>
            <td>
                <table width="100%" border="0">
                    <tr>
                        <td width="6%" >&nbsp;</td>
                        <td colspan="3" >&nbsp;</td>
                        <td width="48%" >&nbsp;</td>
                        <td width="12%" height="39" >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >&nbsp;</td>
                        <td colspan="3" >&nbsp;</td>
                        <td height="29" colspan="2" align="left" valign="bottom"><span style="border:#000 1px solid; font-size:18px; font-family:Arial, Helvetica, sans-serif; padding:5px; font-weight:bold; margin-left:170px;">للمستفيد الأول فقط</span></td>
                    </tr>
                    <tr>

                        <td >&nbsp;</td>
                        <td colspan="3" rowspan="2"  valign="middle"><div >#{{row.amount}}#</div></td>
                        <td ><span style="font-family:Arial, Helvetica, sans-serif; font-weight:bold;">{{row.name}}</span></td>
                        <td height="32" >&nbsp;</td>
                    </tr>
                    <tr>

                        <td >&nbsp;</td>
                        <td ><span style="font-size:14px; font-family:Arial, Helvetica, sans-serif; font-weight:bold">{{row.character_value}}</span></td>
                        <td height="31" >&nbsp;</td>
                    </tr>
                    <tr>

                        <td >&nbsp;</td>
                        <td colspan="3" >&nbsp;</td>
                        <td >&nbsp;</td>
                        <td >&nbsp;</td>
                    </tr>
                    <tr>
                        <td >&nbsp;</td>
                        <td width="8%" >&nbsp;</td>
                        <td width="16%" >&nbsp;</td>
                        <td colspan="2"  valign="bottom"><div >{{today}}</div></td>
                        <td height="31" >&nbsp;</td>
                    </tr>
                </table></td>
        </tr>
    </table>

</page>
<!--others bank-->
<page  ng-show="row.bank_id != '5' && row.bank_id != '10' && row.bank_id != '11' && row.bank_id != '3'" size="chk">

    <table width="620" height="150" border="0" align="center" style="page-break-after:always; margin-top:5px; ">

        <tr>
            <td><table width="100%" border="0">
                <tr>
                    <td align="right">&nbsp;</td>
                    <td colspan="2" align="right">&nbsp;</td>
                    <td align="right">&nbsp;</td>
                </tr>
                <tr>
                    <td align="right">&nbsp;</td>
                    <td colspan="2" align="right">&nbsp;</td>
                    <td align="right">&nbsp;</td>
                </tr>
                <tr>
                    <td align="right">&nbsp;</td>
                    <td colspan="2" align="right">&nbsp;</td>
                    <td align="right">&nbsp;</td>
                </tr>
                <tr>
                    <td width="17%" align="right">&nbsp;</td>
                    <td colspan="2" align="left">&nbsp;</td>
                    <td width="19%" height="24" align="right">&nbsp;</td>
                </tr>
                <tr>
                    <td align="right">&nbsp;</td>
                    <td colspan="2" align="right">{{row.name}} </td>
                    <td height="25" align="right">&nbsp;</td>
                </tr>
                <tr>
                    <td align="right"><div align="right">{{row.amount}}</div></td>
                    <td width="4%" align="right">&nbsp;</td>
                    <td width="60%" align="right">{{row.character_value}}</td>
                    <td height="35" align="right">&nbsp;</td>
                </tr>
                <tr>
                    <td align="right">&nbsp;</td>
                    <td colspan="2" align="right">&nbsp;</td>
                    <td align="right">&nbsp;</td>
                </tr>
                <tr>
                    <td align="right"><div align="center">{{today}}</div></td>
                    <td colspan="2" align="right">&nbsp;</td>
                    <td height="21" align="right">&nbsp;</td>
                </tr>
            </table></td>
        </tr>
    </table>
</page>
<button  id='print' >print</button>
<!-- END DONE -->

<script>
    $("#print").click(function () {
        window.print();
    });
</script>







