<style>
    .tabbable-line>.nav-tabs>li.active {
        background: 0 0;
        border-bottom: 4px solid #3598dc ;
        position: relative;
    }

    .bg-error{
        background-color: #efe6e6;
        border: 1px solid #e7468a !important;
    }
</style>
<style>
    .inactive ,.inactive .btn-group ,.inactive .btn-group button{
        color: #ccc;
        pointer-events: none;
        cursor: not-allowed;
    }

    .scrolTB {
        /*max-width: 40em;*/
        overflow: overlay;
        position: relative;
    }

    .scrolTB table {
        position: relative;
        border-collapse: collapse;
    }

    .scrolTB table td,.scrolTB table th {
        padding: 0.25em;
    }

    .scrolTB table thead th {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        background-color: #f3f3f3!important;
        top: 0;
        color: #2ab4c0;
        /*line-height: 40px;*/
        font-size: 12px;
        height: 50px;
        z-index: 999;
    }

    .scrolTB table thead th:first-child {
        left: 0;
        z-index: 1;
    }

    .scrolTB table tbody tr th {
        position: -webkit-sticky; /* for Safari */
        position: sticky;background-color: #f3f3f3!important;
        right: 0;
        border-right: 1px solid #CCC;
        color: #2ab4c0;
        line-height: 40px;
        z-index: 999;
    }

    .btn-group>.dropdown-menu, .dropdown-toggle>.dropdown-menu, .dropdown>.dropdown-menu{
        z-index: 1002;

    }

</style>
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <i href="#/organization/administrative-reports">{{'administrative-reports'| translate}}</i>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li  ng-show="row.title" >
        {{row.title}}
        <i class="glyphicon glyphicon-menu-right" ng-show="row.title"></i>
    </li>
    <li>
        {{'show'| translate}}
    </li>

</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12  col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span  class="fa fa-table"></span>
                        <span> {{'report tabs'| translate}}</span>
                        <span  ng-show="row.title" >
                            "
                            <span> {{row.title}}</span>
                           "
                        </span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">

                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12   ">
                        <div class="portlet-title tabbable-line">
                            <ul class="nav nav-tabs pull-left">
                                <li ng-repeat=" tb in row.tabs" ng-class="{ 'active' : $index == 0 }">
                                    <a href="#" data-target="#tab_1_{{$index}}" data-toggle="tab" ng-click="fetch($index)"> {{tb.title}} </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body  text-center"  style="min-height: 450px;">
                            <div class="tab-content" style="    padding: 20px;" ng-if="!(row.category == 2 || row.category == '2')">
                                <div class="tab-pane " ng-repeat=" tb in row.tabs" id="tab_1_{{$index}}" ng-class="{ 'active' : $index == 0 }">
                                    <div class="col-md-12 col-sm-12 col-xs-12" style=" padding-top: 1.5%;">
                                        <div class="row">
                                            <form name="testform"  novalidate="" role="form" class="text-center" style="padding: 2%;">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div ng-repeat="field in tb.options"  ng-show="tb.options.length > 0 && tb.type != '3'">
                                                        <div ng-form="form">
                                                            <div ng-if="field.type!='3'" class="col-md-3 text-center" >

                                                                <div  class="form-group" ng-class="{ 'has-error' : field.required && !field.value }">
                                                                    <label class="control-label bold">{{field.label}} </label>
                                                                    <!-- TEXT FIELDS -->
                                                                    <span  ng-if="field.type=='1'" class="form-control"> {{field.value}} </span>
                                                                    <!-- SELECT FIELDS -->
                                                                    <span  ng-if="field.type=='2'" class="form-control"> {{field.value}} </span>
                                                                </div>
                                                            </div>
                                                            <div ng-if="field.type=='3'" class="col-md-12 col-sm-12 col-xs-12 text-left" >
                                                                <div  class="form-group">
                                                                    <label class="control-label bold">{{field.label}} </label>
                                                                    <span class="bold form-control text-left"
                                                                          style="min-height:120px; height: auto; overflow-wrap: break-word; padding: 2%;">
                                                                        {{field.value}}
                                                                    </span>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="table-scrollable" ng-show="tb.options.length > 0 && tb.type == '3'">
                                                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                                                            <thead>
                                                            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                                                <th class="col-md-1 text-center" > {{'#'| translate}} </th>
                                                                <th class="col-md-6 text-center" ng-click="sort('name')" > {{'project_name'| translate}}
                                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='title'"
                                                                          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                </th>
                                                                <th class="col-md-2 text-center" ng-click="sort('count')" > {{'total_beneficiary_no'| translate}}
                                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='title'"
                                                                          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                </th>
                                                                <th class="col-md-2 text-center" ng-click="sort('amount')" > {{'total_project_amount'| translate}}
                                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='title'"
                                                                          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                </th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="field in tb.options"  >
                                                                <td>{{$index +1}}</td>
                                                                <td>{{field.label}}</td>
                                                                <td>{{field.value}}</td>
                                                                <td>{{field.amount}}</td>
                                                            <tr ng-show="tb.options.length != 0 ">
                                                                <th class="bold text-center" colspan="2" style="background-color: #f3f3f3!important; color: #337ab7;"> {{'total'| translate}}</th>
                                                                <th class="bold text-center" colspan="1">{{tb.sum_value}}</th>
                                                                <th class="bold text-center" colspan="1">{{tb.sum_amount}}</th>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-content" style="    padding: 20px;" ng-if="(row.category == 2 || row.category == '2')">
                                <div class="tab-pane " ng-repeat=" tb in row.tabs" id="tab_1_{{$index}}" ng-class="{ 'active' : tb.selected }">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12" style="border: 1px solid #e7ecf1 !important;box-sizing: border-box;border-radius: 1%;margin-top: 10px;">
                                            <div class="col-md-12 col-sm-12 col-xs-12" ng-show="tb.options.length > 0 && tb.columns.length > 0" style="padding: 20px !important;">
                                                <form name="testform"  novalidate="" role="form" class="text-center">
                                                    <div class="col-md-12 col-sm-12 col-xs-12   " ng-show="tb.options.length > 0 && tb.columns.length > 0">
                                                        <form name="testform"  novalidate="" role="form" class="text-center" style="padding: 2%;">
                                                            <div class="scrolTB" >
                                                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center"   >
                                                                    <thead>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                                                        <td class="text-center bold" ng-click="sort('label')" height="50px"
                                                                            style="position: -webkit-sticky;position: sticky;background-color: #f3f3f3!important; max-width:1000px;
                                                                                            top: 0;right: 0; border: 0px;line-height: 40px; z-index: 1000; padding: 0px !important;">
                                                                                             <span style="width: 150px !important;float: right;color: #e7ecf1;">
                                                                                                 <span class="glyphicon sort-icon"  style="color: #5d94c4 !important;"
                                                                                                       ng-show="sortKey=='label'"
                                                                                                       ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                                             </span>

                                                                        </td>
                                                                        <!--                                                                                    ng-click="sort({{column.name}})"-->
                                                                        <td ng-repeat="column in tb.columns" class="text-center bold"
                                                                            style="background-color: #f3f3f3!important; color: #337ab7; width: 10px; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;">
                                                                            {{column.label}}
                                                                            <br ng-if="column.type == 1 || column.type == 2">
                                                                            <span ng-if="column.type == 1 || column.type == 2"> ({{column.sum}}) </span>
                                                                        </td>
                                                                    </tr>


                                                                    <tr ng-repeat="field in tb.options">
                                                                        <td class="bold" style="
                                                                                                   width: 150px !important;
                                                                                                   position: sticky;
                                                                                                   background-color: #f3f3f3!important;
                                                                                                   right: 0;  max-width:1000px;
                                                                                                   height: 50px;
                                                                                                   z-index: 999;
                                                                                                   ">
                                                                            <span style="width: 150px !important; float: right">
                                                                                {{ field.label }}
                                                                            </span>
                                                                        </td>
                                                                        <td ng-repeat="column in tb.columns" style=" max-width:1000px;">
                                                                            <input type="text" style="width: 85px" class="form-control text-center"
                                                                                   ng-model="column.data[field.id]"
                                                                                   ng-if="column.type == 1 || column.type == 2 || column.type == 6 "
                                                                                   readonly>
                                                                            <textarea dynamic-name="field.name" style="width: 200px" ng-if="column.type == 4 || column.type == 3"
                                                                                      data-ng-model="column.data[field.id]" class="form-control"
                                                                                      rows="6" readonly>
                                                                            </textarea>

                                                                        </td>
                                                                    </tr>

                                                                    <tr>
                                                                        <td class="bold" style="width: 150px !important; position: sticky;
                                                                                                background-color: #f3f3f3!important;
                                                                                                right: 0;  max-width:1000px;
                                                                                                height: 50px;
                                                                                                 z-index: 999;">
                                                                            <span style="width: 150px !important; float: right">
                                                                                {{'total no'| translate}}
                                                                            </span>
                                                                        </td>
                                                                        <td ng-repeat="column in tb.columns" style=" max-width:1000px;">
                                                                            {{column.sum}}
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12 text-center" ng-if="tb.options.length < 1 " style="margin-top: 2%;margin-bottom: 2%">
                                                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                <span>
                                    {{'there is no options to show'| translate}}
                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
