<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a href="#/administrative-reports">  {{ 'manage' | translate}} {{'administrative-reports'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>

    <li  class="active" ng-show="row.title" >
        <a href="{{ '#/administrative-report/tabs/'+ report_id }}">{{row.title}}</a>
        <i class="glyphicon glyphicon-menu-right" ng-show="row.title"></i>
    </li>
    <li>
        {{'organization'| translate}}
    </li>

</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12  col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span  class="icon-wallet"></span>
                        <span>  {{'organization'| translate}} </span>
                        <span  ng-show="row.title" >
                            "
                            <span> {{row.title}}</span>
                           "
                        </span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <div class="btn-group"  uib-dropdown>
                            <a id="single-button" type="button"
                               uib-tooltip="{{'export'| translate}}"
                               class="btn yellow-saffron "
                               uib-dropdown-toggle ng-disabled="disabled">
                                <span class="fa fa-download"></span>
                                <span> {{'export'| translate}} ({{'manually'| translate}}) </span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu"  ng-class="fixed_dropdownn($index,CurrentPage,items.length)"
                                uib-dropdown-menu role="menu" aria-labelledby="split-button"  style="min-width: 135px;min-height:70px;overflow-y: scroll;margin-right: -40%;">
                                <li>
                                    <a ng-click="excel('group' , null )"  class="iconify">
                                        <i class="fa fa-file-excel-o" style="margin-left: 4%"></i>
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'excel report'| translate}}</span>
                                    </a>
                                </li>
                                <li>
                                    <a ng-click="word('group' , null )"  class="iconify">
                                        <i class="fa fa-file-word-o" style="margin-left: 4%"></i>
                                        <span class="hidden-sm hidden-md  hidden-xs">{{'download report'| translate}}</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <button type="button"  ng-show="!( row.template == null || row.template == 'null' || row.template == '' || row.template == ' ')"
                                uib-tooltip="{{'download report'| translate}}" ng-click="word('main',null)" class="btn blue " >  <span class="fa fa-file-word-o"></span></button>
                        <button type="button"  uib-tooltip="{{'excel report'| translate}}" ng-click="excel('main',null)" class="btn green-turquoise " ><span class="fa fa-file-excel-o"></span></button>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-10 col-md-offset-1" style="padding-top: 3%;padding-bottom: 3%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                            <form name="searchFrm" method="get" class="form-inline">
                                <div class="">
                                    <div class="form-group" style="width: 100%;">
                                        <input type="text"style="width: 100%;" class="form-control  " ng-model="search" placeholder="{{'name'| translate}}">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table-scrollable" ng-show="row.organizations.length > 0 "  >

                    <!-- BEGIN TABLE -->
                    <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                        <thead>
                        <tr  style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; " ng-show="row.organizations.length != 0">
                            <th class="text-center col-md-1" > {{'#'| translate}} </th>
                            <th class="text-center" style= "vertical-align: middle;" >
                                <input type="checkbox"
                                       ng-model="All"
                                       ng-change="allCheckbox(All)"
                                       ng-true-value="true"
                                       ng-false-value="false"
                                >
                            </th>
                            <th style="width: 20%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" class="text-center " ng-click="sort('organization_name')"> {{'organization_name_'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'organization_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" class="text-center " ng-click="sort('organization_type')"> {{'type'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'organization_type'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" class="text-center " ng-click="sort('organization_level')"> {{'organization_level'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'organization_level'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th style="width: 20%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" class="text-center " ng-click="sort('user_name')"> {{'user_name'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'user_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" class="text-center " ng-click="sort('status')"> {{'status'| translate}}
                                <span class="glyphicon sort-icon" ng-show="sortKey == 'status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                            </th>
                            <th class="text-center " >  </th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr dir-paginate="x in row.organizations |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage" >
                            <td>{{ ($index + 1) }}</td>
                            <td>
                                <input type="checkbox" class="make-switch" data-on-color="primary" data-off-color="info"
                                           ng-model="x.check" ng-checked="selectAll" ng-true-value="true" ng-false-value="false">
                            </td>
                            <td>{{ x.organization_name}}

                                <br>
                                <span ng-show=" x.has_data > 0 ">
                                    <a uib-tooltip="{{'excel report'| translate}}"  type="button" ng-click="excel('single',x.organization_id)"
                                       class="btn btn-xs bold font-green-turquoise fa fa-file-excel-o"
                                       style=" font-size: medium; background-color: transparent">
                                </a>
                                <a ng-show="!( row.template == null || row.template == 'null' || row.template == '' || row.template == ' ')"
                                   uib-tooltip="{{'download report'| translate}}"  type="button" ng-click="word('single',x.organization_id)"
                                   class="btn btn-xs bold font-blue fa fa-file-word-o"
                                   style=" font-size: medium; background-color: transparent">
                                </a>
                                </span>

                            </td>
                            <td>
                                <span ng-show="x.organization_type == 1" >{{'organization'| translate}}</span>
                                <span ng-show="x.organization_type == 2 ">{{'sponsor'| translate}}</span>
                            </td>
                            <td>
                                <span ng-show="x.organization_level == 1" >{{'master_center'| translate}}</span>
                                <span ng-show="x.organization_level == 2 ">{{'branch_center'| translate}}</span>
                                <span ng-show="x.organization_level == 3 ">{{'branches_'| translate}}</span>
                            </td>
                            <td>{{ x.user_name}}
                                <button type="button" uib-tooltip="{{'change user'| translate}}"
                                        style=" font-size: medium; background-color: transparent"
                                        ng-click="changeOrgUser(x.user_id,x.organization_id)"
                                        class="btn font-blue-dark fa fa-pencil" >
                                </button>

                            </td>
                            <td>
                                <span class="bold"
                                      ng-class="{ 'font-blue' : x.status == 1  ,
                                                  'font-green-jungle' : x.status == 2 }"
                                      >
                                            <span ng-if="x.status == 1" > <span class="fa fa-refresh  "> </span> <span>{{'draft_' | translate}} </span>  </span>
                                            <span ng-if="x.status == 2" > <span class="fa fa-check "> </span> <span>{{'approved' | translate}} </span>  </span>
                                 </span>
                            </td>
                            <td>
                                <a uib-tooltip="{{'show'| translate}}"
                                   ng-show=" x.has_data > 0 "
                                   style="color: #ffffff; margin-top: 1%;"
                                   href="#/administrative-report/organizations/{{report_id}}/{{x.organization_id}}"
                                   class="btn  btn-xs green-meadow">
                                    <span class="fa fa-eye" style="margin-right: 1%;"></span>
                                    <span class="hidden-sm hidden-md  hidden-xs bold">{{'show'| translate}}</span>
                                </a>

                                <span  ng-show=" x.has_data == 0 ">
                                   {{'no_data'| translate}}
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- END TABLE -->
                </div>
                <div ng-show="row.organizations.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                    <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
