<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{ 'manage' | translate}} {{ 'administrative-reports' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" >
        {{ 'add-administrative-reports' | translate}}
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12  col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span  class="glyphicon glyphicon-cog"></span>
                        <span> {{ 'add-administrative-reports' | translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <button uib-tooltip="{{'New'| translate}}" type="button" ng-click="createOrUpdate(null)" class="btn blue"
                                style="margin-bottom: 2%;">
                            <span  class="hidden-sm hidden-md  hidden-xs">{{'new'| translate}}</span>
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1%;padding-top: 4%;padding-bottom: 2%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                            <form name="form">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-12 col-xs-12 text-center" style="padding-top:25px;">
                                            <div class="form-group">
                                                <label class="control-label bold">

                                                              <span ng-if="filters.all_organization" class="checker">
                                                                    <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                           ng-model="filters.all_organization" ng-true-value="true" ng-false-value="false">
                                                              </span>
                                                    <span ng-if="!filters.all_organization">
                                                                    <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                           ng-model="filters.all_organization" ng-true-value="true" ng-false-value="false">
                                                              </span>
                                                    <span >{{'search in all organization'| translate}}</span>
                                                </label>
                                            </div>

                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12" >
                                            <div class="form-group ">
                                                <label class=" control-label bold">{{'organization name'| translate}}</label>
                                                <multiselect  ng-class="filters.all_organization? '' : 'inactive'"
                                                              ng-model="filters.organization_id" ng-if="Org"
                                                              options="Org" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                                </multiselect>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label  bold ">  {{'report_title' | translate }}  </label>
                                                <input type="text" class="form-control"   ng-model="filters.title"  name="title"
                                                       placeholder="{{'report_title' | translate }} "  />
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label  bold ">{{'report_type' | translate }}</label>
                                                <select class="form-control" name="type" ng-model='filters.type' >
                                                    <option selected value > --  {{'report_type' | translate }}  -- </option>
                                                    <option  value="1" > {{'Annual' | translate }} </option>
                                                    <option  value="2" > {{'mid Annual' | translate }} </option>
                                                    <option  value="3" > {{'quarter Annual' | translate }} </option>
                                                    <option  value="4" > {{'monthly' | translate }} </option>
                                                    <option  value="5" > {{'urgent' | translate }} </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label  bold ">{{'report_category' | translate }}</label>
                                                <select class="form-control" name="type" ng-model='filters.category' >
                                                    <option selected value > --  {{'report_category' | translate }}  -- </option>
                                                    <option  value="1" > {{'center_' | translate }} </option>
                                                    <option  value="2" > {{'custom' | translate }} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">  {{'report_status'| translate}}  </label>
                                                <select class="form-control" ng-init="" class="form-control" ng-model="filters.status"  name="status">
                                                    <option selected value > --  {{'report_status'| translate}}   -- </option>
                                                    <option value="1">  {{'Active'| translate}} </option>
                                                    <option value="2">  {{'Inactive'| translate}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">  {{'report_data_status'| translate}}  </label>
                                                <select class="form-control" ng-init="" class="form-control" ng-model="filters.data_status"  name="data_status">
                                                    <option selected value > --  {{'report_data_status'| translate}}   -- </option>
                                                    <option value="1">  {{'draft_'| translate}} </option>
                                                    <option value="2">  {{'inProgress'| translate}} </option>
                                                    <option value="3">  {{'closed_'| translate}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">  {{'report_month'| translate}}  </label>
                                                <ui-select ng-model="filters.month"  name="month" theme="bootstrap" class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="y.id as y in months | filter: $select.search">
                                                        <div ng-bind-html="y.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">  {{'report_year'| translate}}  </label>
                                                <ui-select ng-model="filters.year"
                                                           name="year"
                                                           theme="bootstrap"
                                                           class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="y.id as y in years | filter: $select.search">
                                                        <div ng-bind-html="y.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'report_date_from' | translate }}  ( {{'from' | translate }}   ) </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.begin_date_from"
                                                           datepickerPopup
                                                           name="begin_date_from"
                                                           is-open="popup[1].opened" datepicker-options="dateOptions1"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-click="open(1,$event)">
                                                                                        </button>
                                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'report_date_from' | translate }}  ( {{'to' | translate }}   ) </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.end_date_from"
                                                           datepickerPopup
                                                           name="end_date_from"
                                                           is-open="popup[2].opened" datepicker-options="dateOptions1"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-click="open(2,$event)">
                                                                                        </button>
                                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'report_date_to' | translate }}  ( {{'from' | translate }}   ) </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.begin_date_to"
                                                           datepickerPopup
                                                           name="begin_date_to"
                                                           is-open="popup[3].opened" datepicker-options="dateOptions2"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"

                                                                                ng-click="open(3,$event)">
                                                                                        </button>
                                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'report_date_to' | translate }}  ( {{'to' | translate }}   ) </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.end_date_to"
                                                           datepickerPopup
                                                           name="end_date_to"
                                                           required
                                                           is-open="popup[4].opened" datepicker-options="dateOptions2"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                                        <button type="button" class="btn fa fa-calendar btn-default"
                                                                                ng-click="open(4,$event)">
                                                                                        </button>
                                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'created_at_from' | translate }} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.created_at_from"
                                                           datepickerPopup
                                                           name="created_at_from"
                                                           is-open="popup[5].opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open(5,$event)">
                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'created_at_to' | translate }} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.created_at_to"
                                                           datepickerPopup
                                                           name="created_at_to"
                                                           is-open="popup[6].opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open(6,$event)">
                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">  {{'notes' | translate }}  </label>
                                                <input type="text" class="form-control"  ng-model="filters.notes"  name="notes"
                                                       placeholder="{{'notes' | translate }} "  />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-6 col-sm-12 col-xs-12 "></div>
                                         <div class="col-md-6 " style="padding-top: 20px;">
                                            <div class="clearfix pull-right">
                                                <div class="btn-group "  uib-dropdown   ng-if="items.length != 0"
                                                        uib-tooltip="{{'export result'| translate}}" >
                                                        <button id="single-button" type="button" class="btn  green-turquoise" uib-dropdown-toggle ng-disabled="disabled">
                                                            <span style="margin-right:3%;" class="fa fa-file-excel-o"></span>
                                                            <span class="hidden-sm hidden-md  hidden-xs"> {{'excel report'| translate}}</span>
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" 
                                                            style="min-width: 90px;"  aria-labelledby="split-button">
                                                            <li>
                                                                <a ng-click="searchReports(false ,filters,'excel')" class="iconify">
                                                                    <i  class="fa fa-file-excel-o" style="margin-left: 4%"></i>{{'All'| translate}}</a>
                                                            </li>
                                                             <li>
                                                                <a ng-click="searchReports(true ,filters,'excel')" class="iconify">
                                                                    <i  class="fa fa-file-excel-o" style="margin-left: 4%"></i> {{'selected'| translate}}</a>
                                                            </li>
                                                        </ul>
                                                </div>
                                                <button class="btn red-pink " type="button" ng-click="resetSearchFilter()">
                                                    <span class="fa fa-trash-o"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'reset filter'| translate}}</span>
                                                </button>
                                                <button uib-tooltip="{{'search' | translate }}" class=" btn blue  "
                                                        ng-click="searchReports(false ,filters,'paginate')" type="button" >
                                                    <span class="icon-magnifier"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'search' | translate }}</span>
                                                </button>
                                             </div>

                                         </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12  col-sm-12 col-xs-12" style="margin-bottom: 5px;">
                            <label ng-show="items.length > 0 ">{{'show'| translate}}
                                <select
                                        class="form-control input-sm input-inline" ng-init=""
                                        ng-change="itemsPerPage_(itemsCount)"
                                        name="itemsCount"
                                        ng-model='itemsCount'>
                                   <option value="50">50</option><option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                    <option value="-1">{{'show_All'| translate}}</option>
                                </select>
                            </label>

                            <form class="form-inline search-form pull-right">
                                <div class="input-group">
                                    <input type="text"
                                           ng-model="search"
                                           class="form-control"
                                           placeholder="{{'search'| translate}} "
                                           name="search">
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="table-scrollable" ng-show="items.length > 0 "  >
                        <!-- BEGIN TABLE -->
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                            <thead>
                            <tr  style="background-color: #f3f3f3!important;  height:70px; line-height: 55px; font-size: 30px; ">
                                <th class="text-center" style="width: 3%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" > {{'#'| translate}} </th>
                                <th class="text-center"  style="width: 3%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" >
                                            <input type="checkbox"
                                                   ng-model="selectedAll"
                                                   ng-change="selectAll(selectedAll)"
                                                   ng-true-value="true"
                                                   ng-false-value="false"
                                            >
                                 </th>
                                <th class="text-center" style="width: 15%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort('title')" >{{'report_title'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='title'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort_('organization_name')" >{{'organization_name_'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='organization_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort('report_category')" >{{'report_category'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='report_category'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort('report_type')" >{{'report_type'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='report_type'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort('date')" >{{'report_date_'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
<!--                                <th class="text-center" style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort('month')" >{{'month'| translate}}-->
<!--                                    <span class="glyphicon sort-icon" ng-show="sortKey=='month'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
<!--                                </th>-->
                                <th class="text-center"  style="width: 12%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort('date_from')" >{{'activation period'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='date_from'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
<!--                                <th class="text-center"  style="width: 9%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort('date_to')" >{{'report_date_to'| translate}}-->
<!--                                    <span class="glyphicon sort-icon" ng-show="sortKey=='date_to'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>-->
<!--                                </th>-->
                                <th class="text-center"  style="width: 6%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"  ng-click="sort('data_status')" >{{'report_data_status'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='data_status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center"  style="width: 6%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"  ng-click="sort('status')" >{{'report_status'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{'operations'| translate}} </th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr dir-paginate="item in items |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage" ng-show="items.length != 0 ">
                                <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                 <td>
                                            <input type="checkbox" class="make-switch" data-on-color="primary" data-off-color="info"
                                                   ng-model="item.check" ng-checked="item.check" ng-true-value="true" ng-false-value="false">
                                 </td>
                                <td>

                                    <a uib-tooltip="{{'show_report'| translate}}"
                                       ng-if="(item.category == 2 || item.category == '2')"
                                       href="{{ '#/custom-administrative-report/'+ report_id }}"
                                       class="font-blue bold">
                                        {{ item.title }}
                                    </a>

                                    <a uib-tooltip="{{'show_report'| translate}}"
                                       ng-if="!(item.category == 2 || item.category == '2')"
                                       href="{{ '#/administrative-report/'+ report_id }}"
                                       class="font-blue bold">
                                        {{ item.title }}
                                    </a>


                                  <br>

                                    <a uib-tooltip="{{'report tabs'| translate}}"  type="button"
                                       href="{{ '#/administrative-report/tabs/'+ item.id }}"
                                       class="btn btn-xs bold font-yellow icon-layers"
                                       style=" font-size: medium; background-color: transparent">
                                    </a>

                                    <a uib-tooltip="{{'show_report_data'| translate}}"  type="button"
                                       ng-if="item.organizations.length > 0 "
                                       href="{{ '#/administrative-report/organizations/'+ item.id }}"
                                       class="btn btn-xs bold font-yellow-casablanca icon-wallet"
                                       style=" font-size: medium; background-color: transparent">
                                    </a>

                                    <a uib-tooltip="{{'excel report'| translate}}"  type="button" ng-click="excel(item.id)"
                                       class="btn btn-xs bold font-green-turquoise fa fa-file-excel-o"
                                       style=" font-size: medium; background-color: transparent">
                                    </a>
                                    <a ng-show="!( item.template == null || item.template == 'null' || item.template == '' || item.template == ' ')"
                                       uib-tooltip="{{'download report'| translate}}"  type="button" ng-click="word(item.id)"
                                       class="btn btn-xs bold font-blue fa fa-file-word-o"
                                       style=" font-size: medium; background-color: transparent">
                                    </a>
                                </td>
                                <td>{{ item.organization_name }} </td>
                                <td>{{ item.report_category }} </td>
                                <td>{{ item.report_type }} </td>
                                <td>{{ item.date }}</td>
                                <td> <span>{{ item.date_from }} </span>  -  <span>{{ item.date_to }} </span>  </td>
                                <!--                                <td>{{ months[item.month - 1 ].name }} </td>-->
<!--                                <td>{{ item.date_from }} </td>-->
<!--                                <td>{{ item.date_to }} </td>-->
                                <td>
                                    <span uib-tooltip="{{'click to change status'| translate}}"
                                                                              class="btn-group" uib-dropdown>
                                                <span id="single-button" class="btn btn-xs bold"
                                                      style="font-size: medium; background-color: transparent"
                                                      ng-class="{ 'font-blue' : item.data_status == 1  ,
                                                                  'font-red-pink' : item.data_status == 3  ,
                                                                  'font-green-jungle' : item.data_status == 2}"

                                                      uib-dropdown-toggle>
                                                    <span ng-if="item.data_status == 1" > <span class="fa fa-refresh"> </span> <span>{{'draft_' | translate}} </span>  </span>
                                                    <span ng-if="item.data_status == 2" > <span class="fa fa-check  "> </span> <span>{{'inProgress' | translate}} </span>  </span>
                                                    <span ng-if="item.data_status == 3" > <span class="fa fa-ban "> </span> <span>{{'closed_' | translate}} </span>  </span>
                                                </span>
                                                 <ul class="dropdown-menu"  ng-class="fixed_dropdownn($index,CurrentPage,items.length)"
                                                     uib-dropdown-menu role="menu" aria-labelledby="split-button"  style=" width: 4%; min-height:75px;overflow-y: scroll;margin-right: -40%;">

                                                    <li ng-show="item.data_status !=1">
                                                        <a ng-click="status('data_status',item.id,1,$index)" class="iconify font-blue bold">
                                                            <span class="fa fa-refresh  font-blue"> </span> <span>{{'draft_' | translate}} </span> </a>
                                                    </li>
                                                    <li ng-show="item.data_status !=2">
                                                        <a ng-click="status('data_status',item.id,2,$index)" class="iconify font-green-jungle bold">
                                                             <span class="fa fa-check  font-green-jungle "> </span> <span>{{'inProgress' | translate}} </span> </a>
                                                    </li>
                                                    <li ng-show="item.data_status !=3">
                                                        <a ng-click="status('data_status',item.id,3,$index)" class="iconify font-red-pink bold">
                                                             <span class="fa fa-ban  font-red-pink"> </span> <span>{{'closed_' | translate}} </span> </a>
                                                    </li>
                                                </ul>
                                            </span>
                                </td>
                                <td class="bold " >
                                    <span uib-tooltip="{{'click to change status'| translate}}"
                                          class="btn-group" uib-dropdown>
                                                <span id="single-button" class="btn btn-xs bold"
                                                      style="font-size: medium; background-color: transparent"
                                                      ng-class="{ 'font-green-jungle' : item.status == 1  ,
                                                                  'font-red-pink' : item.status == 2 }"
                                                      uib-dropdown-toggle>
                                                    <span ng-if="item.status == 1" > <span class="fa fa-check  "> </span> <span>{{'Active' | translate}} </span>  </span>
                                                    <span ng-if="item.status == 2" > <span class="fa fa-ban "> </span> <span>{{'inactive' | translate}} </span>  </span>
                                                </span>
                                                 <ul class="dropdown-menu"  ng-class="fixed_dropdownn($index,CurrentPage,items.length)"
                                                     uib-dropdown-menu role="menu" aria-labelledby="split-button"  style=" width: 4%; min-height:35px;overflow-y: scroll;margin-right: -40%;">

                                                    <li ng-show="item.status !=1">
                                                        <a ng-click="status('status',item.id,1,$index)" class="iconify font-green-jungle bold">
                                                            <span class="fa fa-check  font-green-jungle"> </span> <span>{{'Active' | translate}} </span> </a>
                                                    </li>
                                                    <li ng-show="item.status !=2">
                                                        <a ng-click="status('status',item.id,2,$index)" class="iconify font-red-pink bold">
                                                             <span class="fa fa-ban  font-red-pink "> </span> <span>{{'inactive' | translate}} </span> </a>
                                                    </li>
                                                </ul>
                                            </span>
                                </td>
                                <td>

                                    <div class="btn-group" uib-dropdown>
                                        <a id="single-button" type="button" class="btn btn-xs blue" uib-dropdown-toggle ng-disabled="disabled">
                                            <span class="glyphicon glyphicon-cog"></span>
                                            <span class="hidden-sm hidden-md  hidden-xs"> {{'select operation'| translate}} </span>
                                            <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu"  ng-class="fixed_dropdownn($index,CurrentPage,items.length)"
                                            uib-dropdown-menu role="menu" aria-labelledby="split-button"  style="min-width: 135px;min-height:190px;overflow-y: scroll;margin-right: -40%;">
                                            <li ng-if="item.is_mine == '1' || item.is_mine == 1">
                                                <a  ng-click="createOrUpdate(item)">
                                                    <i class="fa fa-edit"></i>
                                                    <span>{{'edit'| translate}}  </span>
                                                </a>
                                            </li>
                                            <li ng-if="!(item.is_mine == '1' || item.is_mine == 1)">
                                                <a  ng-click="show(item)">
                                                    <i class="fa fa-eye"></i>
                                                    <span>{{'show'| translate}}  </span>
                                                </a>
                                            </li>
<!--                                            <li>-->
<!--                                                <a  href="{{ '#/administrative-report/tabs/'+ item.id }}">-->
<!--                                                    <i class="icon-layers"></i>-->
<!--                                                    <span >{{'report tabs'| translate}}  </span>-->
<!--                                                </a>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <a  href="{{ '#/administrative-report/organizations/'+ item.id }}">-->
<!--                                                    <i class="icon-wallet"></i>-->
<!--                                                    <span >{{'show_report_data'| translate}}  </span>-->
<!--                                                </a>-->
<!--                                            </li>-->
                                            <li ng-if="item.is_mine == '1' || item.is_mine == 1">
                                                <a ng-click="duplicate(item)" class="iconify">
                                                    <span class="fa fa-clone"  style="margin-right: 2%;"></span>
                                                    <span style="margin-left: 4%;"> {{'duplicate'| translate}} </span>
                                                </a>
                                            </li>
                                            <li ng-if="item.is_mine == '1' || item.is_mine == 1">
                                                <a ng-click="delete(item.id)" class="iconify">
                                                    <span class="fa fa-trash-o"  style="margin-right: 2%;"></span>
                                                    <span style="margin-left: 4%;"> {{'delete'| translate}} </span>
                                                </a>
                                            </li>
<!--                                            <li>-->
<!--                                                <a ng-click="excel(item.id)" class="iconify">-->
<!--                                                    <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>-->
<!--                                                    <span style="margin-left: 4%;"> {{'excel report'| translate}} </span>-->
<!--                                                </a>-->
<!--                                            </li>-->
<!--                                            <li>-->
<!--                                                <a ng-click="word(item.id)" class="iconify">-->
<!--                                                    <span class="fa fa-file-word-o"  style="margin-right: 2%;"></span>-->
<!--                                                    <span style="margin-left: 4%;"> {{'download report'| translate}} </span>-->
<!--                                                </a>-->
<!--                                            </li>-->
                                            <li ng-if="item.is_mine == '1' || item.is_mine == 1">
                                                <a ng-click="instruction(item.id)" class="iconify">
                                                    <span class="fa fa-file-excel-o"  style="margin-right: 2%;"></span>
                                                    <span style="margin-left: 4%;"> {{'report instruction'| translate}} </span>
                                                </a>
                                            </li>
                                            <li ng-show="!( item.template == null || item.template == 'null' || item.template == '' || item.template == ' ')">
                                                <a ng-click="template(item.id,item.template)" >
                                                    <span class=" fa fa-file-word-o"></span>  <span>{{'download template'| translate}}</span>  </a>
                                            </li>
                                            <!--&& item.status == 0-->
                                            <li ng-show=" (item.is_mine == '1' || item.is_mine == 1) &&
                                                          !( item.template == null || item.template == 'null' || item.template == '' || item.template == ' ')">
                                                <a ng-click="ChooseTemplate(item.id,'edit')">
                                                    <span class="fa fa-refresh"></span>  <span>{{'reload template'| translate}}  </span></a>
                                            </li>
                                            <!--&& item.status == 0-->
                                            <li ng-show=" (item.is_mine == '1' || item.is_mine == 1) &&
                                                          ( item.template == null || item.template == 'null' || item.template == '' || item.template == ' ')">
                                                <a ng-click="ChooseTemplate(item.id,'add')">
                                                    <span class="fa fa-upload"></span>  <span>{{'upload template'| translate}} </span> </a>
                                            </li>

                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- END TABLE -->
                    </div>


                    <div ng-show="items.length == 0 " class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                        <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                        </div>
                    </div>

                    <div class="row"  ng-show="items.length != 0 " >
                        <div class="col-md-12  col-sm-12 col-xs-12">
                            <div class="col-md-3 col-sm-12 col-xs-12 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                <span class="bold ">{{'number of total items'| translate}}</span>
                                <span class="bold "> : </span>
                                <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                <span class="bold ">{{'row'| translate}}</span>
                            </div>
                            <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
