<style>
    .inactive ,.inactive .btn-group ,.inactive .btn-group button{
        color: #ccc;
        pointer-events: none;
        cursor: not-allowed;
    }

    .scrolTB {
        /*max-width: 40em;*/
        overflow: overlay;
        position: relative;
    }

    .scrolTB table {
        position: relative;
        border-collapse: collapse;
    }

    .scrolTB table td,.scrolTB table th {
        padding: 0.25em;
    }

    .scrolTB table thead th {
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        background-color: #f3f3f3!important;
        top: 0;
        color: #2ab4c0;
        /*line-height: 40px;*/
        font-size: 12px;
        height: 50px;
        z-index: 999;
    }

    .scrolTB table thead th:first-child {
        left: 0;
        z-index: 1;
    }

    .scrolTB table tbody tr th {
        position: -webkit-sticky; /* for Safari */
        position: sticky;background-color: #f3f3f3!important;
        right: 0;
        border-right: 1px solid #CCC;
        color: #2ab4c0;
        line-height: 40px;
        z-index: 999;
    }

    .btn-group>.dropdown-menu, .dropdown-toggle>.dropdown-menu, .dropdown>.dropdown-menu{
        z-index: 1002;

    }

</style>

<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a href="#/administrative-reports">  {{ 'manage' | translate}} {{'administrative-reports'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>

    <li  ng-show="row.title" >
        <a href="{{ '#/administrative-report/tabs/'+ report_id }}">{{row.title}}</a>
        <i class="glyphicon glyphicon-menu-right" ng-show="row.title"></i>
    </li>
    <li  ng-show="row.title" >
        <span> {{'report tabs'| translate}}</span>
        <i class="glyphicon glyphicon-menu-right" ng-show="row.title"></i>
    </li>
    <li class="active">
        {{'show'| translate}}
    </li>

</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12  col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span  class="fa fa-sticky-note"></span>
                        <span> {{'report tabs'| translate}}</span>
                        <span  ng-show="row.title" >
                            "
                            <span> {{row.title}}</span>
                           "
                        </span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">

                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12   ">
                        <div class="portlet-title tabbable-line">
                            <ul class="nav nav-tabs pull-left">
                                <li ng-repeat=" tb in row.tabs" ng-class="{ 'active' : $index == 0 }">
                                    <a href="#" data-target="#tab_1_{{$index}}" data-toggle="tab" ng-click="fetch($index)"> {{tb.title}} </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body  text-center"  style="min-height: 450px;">
                            <form name="testform"  novalidate="" role="form" class="text-center" style="padding: 2%;">
                                 <div class="tab-content" style="    padding: 20px;">
                                    <div class="tab-pane " ng-repeat=" tb in row.tabs" id="tab_1_{{$index}}" ng-class="{ 'active' : $index == 0 }">
                                        <div class="row">
                                            <div class="col-md-12 col-sm-12 col-xs-12   ">
                                                    <div class="col-md-12 col-sm-12 col-xs-12   " ng-show="tb.options.length > 0 && tb.columns.length > 0">
                                                        <form name="testform"  novalidate="" role="form" class="text-center" style="padding: 2%;">
                                                            <div class="scrolTB" >
                                                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center"   >
                                                                    <thead>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                                                        <td class="text-center bold" ng-click="sort('label')" height="50px"
                                                                            style="position: -webkit-sticky;position: sticky;background-color: #f3f3f3!important; max-width:1000px;
                                                                                            top: 0;right: 0; border: 0px;line-height: 40px; z-index: 1000; padding: 0px !important;">
                                                                                             <span style="width: 150px !important;float: right;color: #e7ecf1;">
                                                                                                 <span class="glyphicon sort-icon"  style="color: #5d94c4 !important;"
                                                                                                       ng-show="sortKey=='label'"
                                                                                                       ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                                             </span>

                                                                        </td>
                                                                        <!--                                                                                    ng-click="sort({{column.name}})"-->
                                                                        <td ng-repeat="column in tb.columns" class="text-center bold"
                                                                            style="background-color: #f3f3f3!important; color: #337ab7; width: 10px; white-space: unset;word-wrap: break-word;overflow-wrap:break-word;">{{column.label}}
                                                                            <span class="glyphicon sort-icon" ng-show="sortKey=='{{column.name}}'"
                                                                                  ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                        </td>
                                                                    </tr>


                                                                    <tr ng-repeat="field in tb.options">
                                                                        <td class="bold" style="
                                                                                                   width: 150px !important;
                                                                                                   position: sticky;
                                                                                                   background-color: #f3f3f3!important;
                                                                                                   right: 0;  max-width:1000px;
                                                                                                   height: 50px;
                                                                                                   z-index: 999;
                                                                                                   ">

                                                                                            <span style="width: 150px !important; float: right">
                                                                                                {{ field.label }}
                                                                                                <br>
                                                                                                <span class="font-red-pink bold help-inline" ng-show="field.priority==1"> ({{'mandatory' | translate }} )</span>
                                                                                                <span class="text-success bold help-inline" ng-show="field.priority==2">({{'advisable' | translate }})</span>
                                                                                            </span>

                                                                        </td>
                                                                        <td ng-repeat="column in tb.columns" style=" max-width:1000px;">
                                                                            <input type="text"  only-numbers style="width: 85px"
                                                                                   class="form-control text-center" ng-model="column.data[column.name]"
                                                                                   dynamic-name="column.name" id="{{column.name}}" ng-blur="UpdateSum(column)"
                                                                                   ng-if="column.type == 1"
                                                                                   placeholder=" ---   {{column.label}} --- "
                                                                                   ng-required="column.priority ==4"
                                                                            >

                                                                            <input type="text"  floating-number-only style="width: 85px"
                                                                                   class="form-control text-center" ng-model="field.data[column.name]"
                                                                                   dynamic-name="column.name" id="{{column.name}}" ng-blur="UpdateSum(column)"
                                                                                   placeholder=" ---   {{column.label}} --- "
                                                                                   ng-if="column.type == 2"
                                                                                   ng-required="column.priority ==4"
                                                                            >

                                                                            <input type="text"  style="width: 150px"
                                                                                   class="form-control text-center" ng-model="column.data[column.name]"
                                                                                   dynamic-name="column.name" id="{{column.name}}"
                                                                                   placeholder=" ---   {{column.label}} --- "
                                                                                   ng-if="column.type == 3"
                                                                                   ng-required="column.priority ==4"
                                                                            >

                                                                            <textarea dynamic-name="column.name" style="width: 200px" ng-if="column.type == 4"
                                                                                      placeholder=" ---   {{column.label}} --- "
                                                                                      data-ng-model="column.data[column.name]" class="form-control"
                                                                                      ng-required="column.priority ==4" rows="4">

                                                                                                    </textarea>

                                                                            <input type="date"  style="width: 150px"
                                                                                   class="form-control text-center" ng-model="column.data[column.name]"
                                                                                   ng-if="column.type == 6"
                                                                                   ng-required="column.priority ==4"
                                                                            >

                                                                            <select ng-if="column.type=='5'" class="form-control"
                                                                                    style="width: 150px"
                                                                                    data-ng-model="column.data" value="{{column.value}}" dynamic-name="column.name" id="{{column.name}}"
                                                                                    ng-required="column.priority ==4">
                                                                                <option disabled selected value> ---   {{column.label}} --- </option>
                                                                                <option ng-repeat="option in column.option_list" value="{{option.id}}" >
                                                                                    {{option.label}}
                                                                                </option>
                                                                            </select>

                                                                        </td>
                                                                    </tr>

<!--                                                                    <tr>-->
<!--                                                                        <td class="bold" style="-->
<!--                                                                                                   width: 150px !important;-->
<!--                                                                                                   position: sticky;-->
<!--                                                                                                   background-color: #f3f3f3!important;-->
<!--                                                                                                   right: 0;  max-width:1000px;-->
<!--                                                                                                   height: 50px;-->
<!--                                                                                                   z-index: 999;-->
<!--                                                                                                   ">-->
<!--                                                                                            <span style="width: 150px !important; float: right">-->
<!--                                                                                               {{'total no'| translate}}-->
<!--                                                                                            </span>-->
<!--                                                                        </td>-->
<!--                                                                        <td ng-repeat="column in tb.columns" style=" max-width:1000px;">-->
<!--                                                                                            <span  ng-if="column.type == 1 || column.type == 1">-->
<!--                                                                                                 sum-->
<!--                                                                                            </span>-->
<!--                                                                            <span  ng-if="!(column.type == 1 || column.type == 1)">-->
<!--                                                                                                 - -->
<!--                                                                                            </span>-->

<!--                                                                        </td>-->
<!--                                                                    </tr>-->

                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div ng-show="!(tb.options.length > 0 && tb.columns.length > 0)" class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                                                        <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                <span>
                                                                    {{'there is no element or columns to show'| translate}}
                                                                </span>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
