<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a href="#/administrative-reports">  {{ 'manage' | translate}} {{'administrative-reports'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>

    <li  ng-show="row.title" >
        <a href="{{ '#/administrative-report/tabs/'+ report_id }}">{{row.title}}</a>
        <i class="glyphicon glyphicon-menu-right" ng-show="row.title"></i>
    </li>
    <li  ng-show="row.title" >
        <span> {{'report tabs'| translate}}</span>
        <i class="glyphicon glyphicon-menu-right" ng-show="row.title"></i>
    </li>
    <li class="active">
        {{'show'| translate}}
    </li>

</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12  col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span  class="fa fa-sticky-note"></span>
                        <span> {{'report tabs'| translate}}</span>
                        <span  ng-show="row.title" >
                            "
                            <span> {{row.title}}</span>
                           "
                        </span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">

                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12   ">
                        <div class="portlet-title tabbable-line">
                            <ul class="nav nav-tabs pull-left">
                                <li ng-repeat=" tb in row.tabs" ng-class="{ 'active' : $index == 0 }">
                                    <a href="#" data-target="#tab_1_{{$index}}" data-toggle="tab" ng-click="fetch($index)"> {{tb.title}} </a>
                                </li>
                            </ul>
                        </div>
                        <div class="portlet-body  text-center"  style="min-height: 450px;">
                            <div class="tab-content" style="    padding: 20px;">
                                <div class="tab-pane " ng-repeat=" tb in row.tabs" id="tab_1_{{$index}}" ng-class="{ 'active' : $index == 0 }">
                                    <div class="col-md-12 col-sm-12 col-xs-12   ">
                                        <div class="row">
                                            <form name="testform"  novalidate="" role="form" class="text-center" style="padding: 2%;">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div ng-repeat="field in tb.options"  ng-show="tb.options.length > 0 && tb.type != '3'">
                                                        <div ng-form="form">
                                                            <div ng-if="field.type!='3'" class="col-md-3 text-center" >

                                                                <div  class="form-group" ng-class="{ 'has-error' : form.{{field.name}}.$invalid && (!form.{{field.name}}.$pristine || form.{{field.name}}.$touched) }">
                                                                    <label class="control-label">
                                                                        <span class="bold">{{field.label}}</span>
                                                                        <span class="font-red-pink bold help-inline" ng-show="field.priority==1"> {{'mandatory' | translate }} </span>
                                                                        <span class="text-success bold help-inline" ng-show="field.priority==2">{{'advisable' | translate }}</span>
                                                                    </label>

                                                                    <!-- TEXT FIELDS -->
                                                                    <input ng-if="field.type=='1'" type="text"
                                                                           dynamic-name="field.name" id="{{field.name}}"
                                                                           data-ng-model="field.data"  class="form-control"
                                                                           ng-required="field.priority ==4" value="{{field.value}}" placeholder=" ---   {{field.label}} --- "
                                                                    />

                                                                    <!-- SELECT FIELDS -->
                                                                    <select ng-if="field.type=='2'" class="form-control" data-ng-model="field.data" value="{{field.value}}" dynamic-name="field.name" id="{{field.name}}"
                                                                            ng-required="field.priority ==4">
                                                                        <option disabled selected value> ---   {{field.label}} --- </option>
                                                                        <option ng-repeat="option in field.option_list" value="{{option.id}}" >
                                                                            {{option.label}}
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div ng-if="field.type=='3'" class="col-md-12 col-sm-12 col-xs-12 text-left" >

                                                                <div  class="form-group" ng-class="{ 'has-error' : form.{{field.name}}.$invalid && (!form.{{field.name}}.$pristine || form.{{field.name}}.$touched) }">
                                                                    <label class="control-label">
                                                                        <span class="bold">{{field.label}}</span>
                                                                        <span class="font-red-pink bold help-inline" ng-show="field.priority==1"> {{'mandatory' | translate }} </span>
                                                                        <span class="text-success bold help-inline" ng-show="field.priority==2">{{'advisable' | translate }}</span>
                                                                    </label>
                                                                    <textarea dynamic-name="field.name" id="{{field.name}}" data-ng-model="field.data" class="form-control"
                                                                              ng-required="field.priority ==4" placeholder=" ---   {{field.label}} --- "rows="4">
                                                            </textarea>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="table-scrollable" ng-show="tb.options.length > 0 && tb.type == '3'">
                                                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                                                            <thead>
                                                            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                                                <th class="col-md-1 text-center" > {{'#'| translate}} </th>
                                                                <th class="col-md-6 text-center" ng-click="sort('name')" > {{'project_name'| translate}}
                                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='name'"
                                                                          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                </th>
                                                                <th class="col-md-2 text-center" ng-click="sort('count')" > {{'total_beneficiary_no'| translate}}
                                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='count'"
                                                                          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                </th>
                                                                <th class="col-md-2 text-center" ng-click="sort('amount')" > {{'total_project_amount'| translate}}
                                                                    <span class="glyphicon sort-icon" ng-show="sortKey=='amount'"
                                                                          ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                                                </th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="field in tb.options"  >
                                                                <td>{{$index +1}}</td>
                                                                <td>{{ field.label }}
                                                                    <span class="font-red-pink bold help-inline" ng-show="field.priority==1"> ({{'mandatory' | translate }} )</span>
                                                                    <span class="text-success bold help-inline" ng-show="field.priority==2">({{'advisable' | translate }})</span>
                                                                </td>
                                                                <td>
                                                                    <input type="text"  decimal-numbers
                                                                           class="form-control text-center"ng-model="field.count"
                                                                           name="count" ng-blur="UpdateTotal(1,field.count,$index)">
                                                                    <!-- /.input group -->
                                                                    <span class=" text-danger bold help-inline"ng-show="'msg1[$index].count' != [ ]" >
                                               {{msg1[$index] }}
                                          </span>
                                                                </td>
                                                                <td>
                                                                    <input type="text"  decimal-numbers
                                                                           class="form-control text-center"ng-model="field.amount"
                                                                           name="amount" ng-blur="UpdateTotal(2,field.amount,$index)">
                                                                    <!-- /.input group -->
                                                                    <span class=" text-danger bold help-inline"ng-show="'msg1[$index].amount' != [ ]" >
                                               {{msg1[$index] }}
                                          </span>
                                                                </td>
                                                            <tr ng-show="tb.options.length != 0 ">
                                                                <th class="bold text-center" colspan="2" style="background-color: #f3f3f3!important; color: #337ab7;"> {{'total'| translate}}</th>
                                                                <th class="bold text-center" colspan="1">{{sum}}</th>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div ng-show="!(tb.options.length > 0)" class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                                                        <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                            <span>
                                                                {{'there is no element to show'| translate}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
