<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a href="#/administrative-reports">  {{ 'manage' | translate}} {{'administrative-reports'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li  ng-show="row.title" >
        <a href="{{ '#/administrative-report/tabs/'+ report_id }}">{{row.title}}</a>
        <i class="glyphicon glyphicon-menu-right" ng-show="row.title"></i>
    </li>
    <li class="active">
        {{'report tabs'| translate}}
    </li>

</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12  col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span  class="icon-layers"></span>
                        <span> {{'report tabs'| translate}}</span>
                        <span  ng-show="row.title" >
                            "
                            <span> {{row.title}}</span>
                           "
                        </span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">

                        <button type="button" ng-click="word()" class="btn blue " >  <span class="fa fa-file-word-o"></span></button>
                        <button type="button" ng-click="excel()" class="btn green-turquoise " ><span class="fa fa-file-excel-o"></span></button>

                        <a uib-tooltip="{{'show_report_data'| translate}}"
                           href="{{ '#/administrative-report/organizations/'+ report_id }}"
                           class="btn yellow-saffron">
                            <span class="icon-wallet"></span>
                            <span class="hidden-md hidden-sm hidden-xs">{{'show_report_data'| translate}}</span>
                        </a>


                        <a uib-tooltip="{{'show_report'| translate}}"
                           ng-if="(row.category == 2 || row.category == '2')"
                           href="{{ '#/custom-administrative-report/'+ report_id }}"
                           class="btn green ">
                            <span class="fa fa-sticky-note"></span>
                            <span class="hidden-md hidden-sm hidden-xs">{{'show_report'| translate}}</span>
                        </a>

                        <a uib-tooltip="{{'show_report'| translate}}"
                           ng-if="!(row.category == 2 || row.category == '2')"
                           href="{{ '#/administrative-report/'+ report_id }}"
                           class="btn green-turquoise">
                            <span class="fa fa-sticky-note"></span>
                            <span class="hidden-md hidden-sm hidden-xs">{{'show_report'| translate}}</span>
                        </a>

                        <button uib-tooltip="{{'New'| translate}}" type="button"
                                ng-if="(row.is_mine == 1 || row.is_mine == '1') && ( row.data_status != 3 && row.data_status != '3' ) "
                                ng-click="createOrUpdate(null)" class="btn blue"
                                >
                            <span  class="hidden-sm hidden-md  hidden-xs">{{'new'| translate}}</span>
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="table-scrollable" ng-show="row.tabs.length > 0 "  >
                        <!-- BEGIN TABLE -->
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                            <thead>
                            <tr  style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">
                                <th class="text-center" style="width: 2%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{'#'| translate}} </th>
                                <th class="text-center" style="width: 20%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"ng-click="sort('title')" >{{'tab_title'| translate}}</th>
                                <th class="text-center" style="width: 25%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"ng-click="sort('description')" >{{'description'| translate}}</th>
                                <th class="text-center" style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"ng-if="!(row.category == 2 || row.category == '2')"  ng-click="sort('type')" >{{'tab_type'| translate}}</th>
                                <th class="text-center"style="width: 10%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;" ng-click="sort('tab_order')" >{{'order'| translate}}</th>
                                <th class="text-center" style="width: 15%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"> {{'operations'| translate}} </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="tab in row.tabs">
                                <td>{{ ( $index +1)}}</td>
                                <td>{{ tab.title }}</td>
                                <td>{{ tab.description }} </td>
                                <td  ng-if="!(row.category == 2 || row.category == '2')" >
                                    <span ng-show="tab.type == 1">  {{'only number'| translate}} </span>
                                    <span ng-show="tab.type == 2">  {{'only text'| translate}} </span>
                                    <span ng-show="tab.type == 3">  {{'only number'| translate}} </span>
<!--                                    <span ng-show="tab.type == 3">  {{'text and number'| translate}} </span>-->
                                </td>
                                <td>{{ tab.tab_order }} </td>
                                <td>

                                    <span ng-if="(row.category == 2 || row.category == '2')"
                                          uib-tooltip="{{'columns'| translate}}"  type="button" class="btn btn-xs bold font-yellow-saffron glyphicon glyphicon-cog"
                                          style=" font-size: medium; background-color: transparent"
                                          ng-click="columns(tab ,tab.id , tab.type)">
                                    </span>
                                    <span uib-tooltip="{{'elements'| translate}}"  type="button" class="btn btn-xs bold font-green-turquoise fa fa-list"
                                          style=" font-size: medium; background-color: transparent"
                                          ng-click="elements(tab ,tab.id , tab.type)">
                                    </span>

                                    <span uib-tooltip="{{'edit'| translate}}"  type="button" class="btn btn-xs bold font-blue fa fa-edit"
                                          style=" font-size: medium; background-color: transparent"
                                          ng-if="row.is_mine == 1 || row.is_mine == '1'"
                                          ng-click="createOrUpdate(tab)">
                                    </span>

                                    <span uib-tooltip="{{'show'| translate}}"  type="button" class="btn btn-xs bold font-blue fa fa-eye"
                                          style=" font-size: medium; background-color: transparent"
                                          ng-if="!(row.is_mine == 1 || row.is_mine == '1')"
                                          ng-click="show(tab)">
                                    </span>
                                    <span uib-tooltip="{{'delete'| translate}}" type="button"
                                          ng-if="(row.is_mine == 1 || row.is_mine == '1') && (row.data_status != 3 && row.data_status != '3')"
                                          class="btn btn-xs bold font-red-pink  fa fa-remove"
                                          style="font-size: medium; background-color: transparent"
                                          ng-click="delete(tab.id)">

                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- END TABLE -->
                    </div>
                    <div ng-show="row.tabs.length == 0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                        <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
