

<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span> {{'manage'| translate}} {{'custom forms'| translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="text-primary">
        <a href="#/custom-forms/">{{'custom forms'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="text-primary"> {{ formName }}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="text-primary" ng-show="action=='add'" > {{'add_new_element'| translate}} </li>
    <li class="text-primary" ng-show="action=='edit'" >{{'edit_element'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li ng-show="action=='edit'" class="text-primary">   {{ elementName }} </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
<!--ng-controller="AddFormElementsController"-->
<div>

    <div class="row">
        <div class="col-md-12  col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="font-dark"></i>
                        <h3>
                            <span class="fa" ng-class="{'fa-plus': action=='add', 'fa-edit': action !='add'}"></span>

                            <span ng-show="action=='add'" > {{'add_new_element'| translate}} </span>
                            <span ng-show="action=='edit'" >{{'edit_element'| translate}} </span>
                        </h3>
                    </div>
                    <div class="actions" style="padding-top: 30px;">
                        <div class="clearfix">

                            <!--<a style="color: #ffffff;"-->
                               <!--class="hidden-md hidden-sm hidden-xs btn blue"-->
                               <!--tooltip="{{'back to forms'| translate}}"-->
                               <!--href="{{'#/forms'}}">-->
                                <!--<span class="fa fa-backward"  style="margin-right: 2%;"></span>-->
                                <!--<span>{{'back to forms'| translate}}</span>-->

                            <!--</a>-->

                            <a style="color: #ffffff;" uib-tooltip="{{'back to'| translate}} {{ formName }} "
                               class="btn green-turquoise"
                               href="{{'#/forms/'+form_id}}">
                                <span class="fa fa-backward"  style="margin-right: 2%;"></span>
                                <span class="hidden-md hidden-sm hidden-xs"> {{'back to'| translate}} {{ formName }}</span>
                            </a>

                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-toolbar">

                        <div class="col-md-12  col-sm-12 col-xs-12">
                          <div class="alert alert-danger" ng-if="no_form"> {{'no choice form'| translate}} </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12  col-sm-12 col-xs-12">
                                <div class="modal-body">
                                    <div class="row">
                                        <form name="frmElement"  novalidate="" role="form" class="text-center" style="padding: 2%;">
                                            <div class="row">
                                                <div class="col-md-12  col-sm-12 col-xs-12">
                                                    <div class="col-md-6">
                                                        <div class="form-group" ng-class="{ 'has-error' : frmElement.name.$invalid && !frmElement.name.$pristine }">
                                                            <label class="control-label bold">  {{'element_name_english'| translate}}

                                                                <span class="required" aria-required="true"> * </span>
                                                            </label>
                                                            <input type="text" class="form-control" only-alphabet ng-change="msg1.name = [ ]"
                                                                   ng-model="Element.name" ng-required="true" name="name"
                                                                   placeholder="{{'element_name_english'| translate}} - {{'no space between words use underscore'| translate}}"  />
                                                            <span class="text-danger bold help-inline" ng-show="frmElement.name.$error.required && frmElement.name.$touched">
                                                {{'required_field'| translate}}
                                            </span>
                                                            <span ng-repeat="(error, errortext) in msg1.name" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.name' != [ ]" >
                                                     {{ errortext.toString() }}
                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group" ng-class="{ 'has-error' : frmElement.label.$invalid && !frmElement.label.$pristine }">
                                                            <label class="control-label bold">  {{'element_label'| translate}}  <span class="required" aria-required="true"> * </span></label>
                                                            <input type="text" class="form-control" ng-change="msg1.label = [ ]"  ng-model="Element.label" ng-required="true" name="label"
                                                                   placeholder="{{'element_label'| translate}} "  />
                                                            <span class="text-danger bold help-inline" ng-show="frmElement.label.$error.required && frmElement.label.$touched">
                                                {{'required_field'| translate}}
                                            </span>
                                                            <span ng-repeat="(error, errortext) in msg1.label" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.label' != [ ]" >
                                                     {{ errortext.toString() }}
                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12  col-sm-12 col-xs-12" style="padding:0 3%">
                                                    <div class="form-group" ng-class="{ 'has-error' : frmElement.description.$invalid && !frmElement.description.$pristine }">
                                                        <label class="control-label bold">  {{'element_description'| translate}} <span class="required" aria-required="true"> * </span> </label>
                                                        <textarea
                                                                class="form-control"
                                                                ng-change="msg1.description = [ ]"
                                                                ng-model="Element.description"
                                                                ng-required="true"
                                                                name="description"
                                                                placeholder="{{'element_description'| translate}} "
                                                                rows="3"
                                                        >
                                        </textarea>

                                                        <span class="text-danger bold help-inline" ng-show="frmElement.description.$error.required && frmElement.description.$touched">
                                                {{'required_field'| translate}}
                                            </span>
                                                        <span ng-repeat="(error, errortext) in msg1.description" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.description' != [ ]" >
                                                     {{ errortext.toString() }}
                                            </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12  col-sm-12 col-xs-12">
                                                    <div class="col-md-6">
                                                        <div class="form-group" ng-class="{ 'has-error' : frmElement.priority.$invalid && !frmElement.priority.$pristine }">
                                                            <label class="control-label bold">  {{'element_priority'| translate}}  <span class="required" aria-required="true"> * </span></label>
                                                            <select class="form-control" ng-init="" class="form-control" ng-change="msg1.priority = [ ]" ng-model="Element.priority" ng-required="true" name="priority">
                                                                <option disabled selected value > --  {{'element_priority'| translate}}   -- </option>
                                                                <option value="4">  {{'mandatory' | translate }} </option>
                                                                <option value="3">  {{'advisable' | translate }}</option>
                                                                <option value="2">  {{'optional' | translate }} </option>
                                                                <option value="1">  {{'not appear' | translate }} </option>
                                                            </select>
                                                            <span class="text-danger bold help-inline" ng-show="frmElement.priority.$error.required && frmElement.priority.$touched">
                                        {{'required_field'| translate}}
                                    </span>
                                                            <span ng-repeat="(error, errortext) in msg1.priority" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.priority' != [ ]" >
                                             {{ errortext.toString() }}
                                    </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group" ng-class="{ 'has-error' : frmElement.type.$invalid && !frmElement.type.$pristine }">
                                                            <label class="control-label bold">  {{'element_type'| translate}}  <span class="required" aria-required="true"> * </span></label>
                                                            <select class="form-control" ng-init="" class="form-control" ng-change="checkType(Element.type)" ng-model="Element.type" ng-required="true" name="type">
                                                                <option disabled selected value > --  {{'element_type'| translate}}   -- </option>
                                                                <option value="1"> {{'element_type_text'| translate}}</option>
                                                                <option value="2"> {{'element_type_select'| translate}}</option>
                                                                <option value="3"> {{'element_type_textarea'| translate}}</option>
                                                            </select>
                                                            <span class="text-danger bold help-inline" ng-show="frmElement.type.$error.required && frmElement.type.$touched">
                                            {{'required_field'| translate}}
                                        </span>
                                                            <span ng-repeat="(error, errortext) in msg1.type" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.type' != [ ]" >
                                                 {{ errortext.toString() }}
                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div ng-show="has_option" style="margin:4% 4%;">
                                                    <div class="col-md-10 col-md-offset-1 col-sm-12  col-xs-12"
                                                         style=" padding: 2%; border: solid 1px #cbdae8;    box-sizing: border-box;
                                                         background-color: #f3f3f3!important;border-radius: 2%; ">
                                                        <div class="col-md-12  col-sm-12 col-xs-12">
                                                            <div class="col-md-4 col-sm-12 col-xs-12">
                                                                <label class="control-label bold">   {{'option_label'| translate}} </label>
                                                                <div class="form-group" ng-class="{ 'has-error' : frmsms.Optionlabel.$invalid && !frmsms.Optionlabel.$pristine }">
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           name="Optionlabel"
                                                                           ng-model="Optionlabel"
                                                                           placeholder="{{'enter option'| translate}}"
                                                                    />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-sm-12 col-xs-12">
                                                                <label class="control-label bold">   {{'option_value'| translate}} </label>
                                                                <div class="form-group" ng-class="{ 'has-error' : frmsms.OptionValue.$invalid && !frmsms.OptionValue.$pristine }">
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           name="OptionValue"
                                                                           ng-model="OptionValue"
                                                                           placeholder="{{'enter option value'| translate}}"
                                                                    />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-4 col-sm-12 col-xs-12">
                                                                <label class="control-label bold">   {{'option_weight'| translate}} </label>
                                                                <div class="form-group" ng-class="{ 'has-error' : frmsms.Optionweight.$invalid && !frmsms.Optionweight.$pristine }">
                                                                    <input type="text"
                                                                           class="form-control"
                                                                           name="Optionweight"
                                                                           decimal-numbers
                                                                           ng-model="Optionweight"
                                                                           placeholder="{{'enter option weight'| translate}}"
                                                                    />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12  col-sm-12 col-xs-12">
                                                            <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 ">

                                                            <button
                                                                        type="button"
                                                                        ng-disabled="Optionlabel =='' || Optionweight =='' || OptionValue ==''"
                                                                        ng-show="mode != true"
                                                                        ng-click="newOption()"
                                                                        class="btn btn-primary" style="margin-bottom: 2%; width: 100%"><span class="glyphicon glyphicon-plus"></span>
                                                                    <span class="hidden-md hidden-sm hidden-xs"> {{'confirm_add_element'| translate}}</span>
                                                                </button>
                                                                <button type="button"
                                                                        ng-disabled="Optionlabel =='' || Optionweight =='' || OptionValue ==''"
                                                                        ng-show="mode ==true" ng-click="ConfirmEditOption()" class="btn btn-primary"
                                                                        style="margin-bottom: 2%; width: 100%"><span class="fa fa-edit"></span>
                                                                    <span class="hidden-md hidden-sm hidden-xs">{{'confirm_edit_element'| translate}}</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12  col-sm-12 col-xs-12" style="margin-top: 2%;">
                                                        <div class="table-scrollable" ng-show="Options.length > 0 "  >
                                                            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                                                <thead>
                                                                <tr  style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">
                                                                    <th class="text-center" > #  </th>
                                                                    <th class="text-center" > {{'option_label'| translate}} </th>
                                                                    <th class="text-center" > {{'option_value'| translate}} </th>
                                                                    <th class="text-center" > {{'option_weight'| translate}} </th>
                                                                    <th class="text-center" > {{'operations'| translate}} </th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr ng-repeat="op in Options">
                                                                    <td>{{ $index }}</td>
                                                                    <td>{{op.label}}</td>
                                                                    <td>{{op.value}}</td>
                                                                    <td>{{op.weight}}</td>
                                                                    <td>
                                                                        <button class="btn btn-xs font-blue " ng-click="editOption($index)"
                                                                                style="background-color: transparent">  <span class="fa fa-pencil"></span></button>
                                                                        <button class="btn btn-xs font-red-pink"
                                                                                ng-click="removeOption($index)" style="background-color: transparent">  <span class="fa fa-remove"></span></button>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class= "btn blue"  ng-click= "confirmInsert(Element)" ng-disabled= "frmElement.$invalid"  type="button">
                                        <span class="fa fa-save"  style="margin-right: 2%;"></span>
                                        <span class="hidden-md hidden-sm hidden-xs" ng-show="action=='add'"> {{'confirm_add_element'| translate}}</span>
                                        <span class="hidden-md hidden-sm hidden-xs" ng-show="action=='edit'" >{{'confirm_edit_element'| translate}}</span>
                                    </button>
                                    <a uib-tooltip="{{'cancel'| translate}}"
                                       class="btn red-pink pull-right" style="margin-right: 1%; color: #ffffff;"
                                       href="{{'#/forms/'+form_id}}">
                                        <span class="fa fa-backward"  style="margin-right: 2%;"></span>
                                        <span class="hidden-md hidden-sm hidden-xs"> {{'cancel'| translate}}</span>
                                    </a>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
