

<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span> {{'manage'| translate}} {{'custom forms'| translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" >
        <a href="#/custom-forms/">{{'custom forms'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" >
        <a href="#/forms/{{form_id}}">{{'form elements'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" >
        <a href="#/forms/{{form_id}}">{{ formName }}</a>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12  col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark pull-left">
                    <i class="font-dark"></i>
                    <h3>
                        <span class="fa fa-table"></span>
                        <span> {{'form elements'| translate}} </span>
                        <span> / </span>
                        <span> {{ formName }} </span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">

                        <button uib-tooltip="{{'back to custom forms'| translate}}" type="button" class="btn yellow-saffron" ng-click="backtoforms()">
                            <span class="fa fa-backward"  style="margin-right: 2%;"></span>
                            <span class="hidden-sm hidden-md  hidden-xs"> {{'back to custom forms'| translate}} </span>

                        </button>

                        <a style="color: #ffffff;" uib-tooltip="{{'show_custom_forms_element'| translate}}" ng-if="!no_form"
                           ng-disabled="fields.length == 0" class="btn green-turquoise"
                           href="{{'#/forms/elements/'+form}}">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-sm hidden-md  hidden-xs">  {{'show_custom_forms_element'| translate}} </span>


                        </a>
                        <a style="color: #ffffff;" uib-tooltip="{{'add_new_element'| translate}}" ng-if="!no_form && (fstatus != 3)"
                           class="btn blue"
                           href="{{'#/forms/elements/'+form+'/'}}">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span class="hidden-sm hidden-md  hidden-xs"> {{'add_new_element'| translate}} </span>
                        </a>
                    </div>
                </div>


            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row" >
                        <div ng-if="no_form"  class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                            <div class="well well-lg bold font-red-pink" style="background-color:#ffe3e3ee !important; height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'no choice form'| translate}}
                                    </span>
                            </div>
                        </div>

                        <div class="col-md-12  col-sm-12 col-xs-12" ng-show=" !no_form && fields.length != 0 " >
                            <form name="myForm" class="form-horizontal" role="form">
                                <div ng-repeat="field in fields">
                                    <div  class="col-md-12 col-sm-12 col-xs-12 text-center" style=" padding-top: 4%;padding-bottom: 4%; border: 1px solid lightgrey; box-sizing: border-box;">
                                        <div class="col-md-11" >
                                            <div  class="col-md-12 col-sm-12 col-xs-12 text-center" style="font-size: medium;">
                                                <div class="col-md-3 bold " style="height:40px; line-height: 45px; border: 1px solid lightgrey; box-sizing: border-box;">
                                                    {{'element_label'| translate}}
                                                </div>
                                                <div class="col-md-9  " style="height:40px; line-height: 45px; border: 1px solid lightgrey; box-sizing: border-box;">
                                                    {{field.label}}
                                                </div>
                                            </div>
                                            <div  class="col-md-12 col-sm-12 col-xs-12 text-center" style="font-size:medium">
                                                <div class="col-md-3 bold " style="height:40px; line-height: 45px; border: 1px solid lightgrey; box-sizing: border-box;">
                                                    {{'element_type'| translate}}
                                                </div>
                                                <div class="col-md-9 " style="height:40px; line-height: 45px; border: 1px solid lightgrey; box-sizing: border-box;">
                                                    <span ng-show="field.type==1"> {{'element_type_text'| translate}}</span>
                                                    <span ng-show="field.type==2"> {{'element_type_select'| translate}}</span>
                                                    <span ng-show="field.type==3"> {{'element_type_textarea'| translate}}</span>
                                                    <!--<span ng-show="field.type==4"> {{'element_type_checkbox'| translate}}</span>-->
                                                    <!--<span ng-show="field.type==5"> {{'element_type_radio'| translate}}</span>-->


                                                </div>
                                            </div>
                                            <div  class="col-md-12 col-sm-12 col-xs-12 text-center" style="font-size: medium;">
                                                <div class="col-md-3  bold " style="height:40px; line-height: 45px; border: 1px solid lightgrey; box-sizing: border-box;">
                                                    {{'element_priority'| translate}}
                                                </div>
                                                <div class="col-md-9 " style="height:40px; line-height: 45px; border: 1px solid lightgrey; box-sizing: border-box;">
                                                    <span class="font-red-pink bold help-inline" ng-show="field.priority==4"> {{'mandatory' | translate }} </span>
                                                    <span class="text-success bold help-inline" ng-show="field.priority==3">{{'advisable' | translate }}</span>
                                                    <span class="text-success bold help-inline" ng-show="field.priority==2"> {{'optional' | translate }}</span>
                                                    <span class="text-default bold help-inline" ng-show="field.priority==1"> {{'not appear' | translate }}</span>
                                                </div>
                                            </div>
                                            <div class="col-md-12  col-sm-12 col-xs-12">
                                                <ng-form name="form">
                                                    <div class="form-group">
                                                        <div  class="col-md-12 col-sm-12 col-xs-12 text-center" style="font-size: medium;">
                                                            <div class="col-md-3 bold " style="height:60px; line-height: 55px; border: 1px solid lightgrey; box-sizing: border-box;">
                                                                {{'element_shap'| translate}}
                                                            </div>
                                                            <div class="col-md-9 " ng-if="field.type!='3'" style="height:60px; padding-top: 1%;padding-bottom: 1%; line-height: 45px; border: 1px solid lightgrey; box-sizing: border-box;">
                                                                <!-- TEXT FIELDS -->
                                                                <div ng-if="field.type=='1'">
                                                                    <input type="text" dynamic-name="field.name" id="{{field.name}}" data-ng-model="field.data"  class="form-control"
                                                                           ng-required="field.priority ==4" placeholder=" ---   {{field.label}} --- "
                                                                    />
                                                                </div>
                                                                <!-- SELECT FIELDS -->
                                                                <div ng-if="field.type=='2'">
                                                                    <ui-select data-ng-model="field.data" dynamic-name="field.name" id="{{field.name}}" ng-init="" ng-required="field.priority ==4"
                                                                               theme="bootstrap" class="text-right" >
                                                                        <ui-select-match placeholder="---   {{field.label}} --- " >{{$select.selected.label}}</ui-select-match>
                                                                        <ui-select-choices repeat="item.id as item in field.options | filter: $select.search">
                                                                            <div ng-bind-html="item.label | highlight: $select.search"></div>
                                                                        </ui-select-choices>
                                                                    </ui-select>
                                                                </div>
                                                                <!-- EMAIL FIELDS -->
                                                                <div ng-if="field.type=='email'">
                                                                    <input type="{{ field.type }}" dynamic-name="field.name" data-ng-model="field.data" class="form-control" ng-required="field.priority ==4"/>
                                                                    <span data-ng-show=" {{'form.'+field.name+'.$dirty && form.'+field.name+'.$error.required'}}">Required!</span>
                                                                    <span data-ng-show=" {{'form.'+field.name+'.$dirty && form.'+field.name+'.$error.email'}}">Not email!</span>
                                                                </div>
                                                                <!-- PASSWORD FIELDS -->
                                                                <div ng-if="field.type=='password'" class="form-group" >
                                                                    <input type="{{ field.type }}" dynamic-name="field.name"
                                                                           data-ng-model="field.data"
                                                                           ng-minlength={{field.min}} ng-maxlength={{field.max}} class="form-control" ng-required="field.priority ==4"/>
                                                                    <span data-ng-show=" {{'form.'+field.name+'.$dirty && form.'+field.name+'.$error.required'}}">Required!</span>
                                                                    <span data-ng-show=" {{'!form.'+field.name+'.required && (form.'+field.name+'.$error.minlength || form.'+field.name+'.$error.maxlength)' }}">Passwords must be between 8 and 20 characters.</span>
                                                                </div>
                                                                <!-- RADIO FIELDS -->
                                                                <div ng-if="field.type=='radio'" class="form-group">
                                                                    <div ng-repeat="option in field.options" >
                                                                        <label class="checkbox-inline">
                                                                            <input type="radio" data-ng-model="field.data"  name="taskGroup"  id="{{option.name}}" value="{{option.id}}">{{option.label}}
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-9 " ng-if="field.type=='3'" style="padding-top: 0.5%;padding-bottom: 0.5%;border: 1px solid lightgrey; box-sizing: border-box;">
                                                                <!-- textarea FIELDS -->
                                                                <div ng-if="field.type=='3'">
                                                                       <textarea dynamic-name="field.name" id="{{field.name}}" data-ng-model="field.data" class="form-control"
                                                                                 ng-required="field.priority ==4" placeholder=" ---   {{field.label}} --- "                                                                                                      rows="4">
                                                                        </textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-form>
                                            </div>

                                        </div>
                                        <div class="col-md-1 text-center" ng-if="!no_form && (fstatus != 3)" style="border-right: 1px solid lightgrey;">
                                            <div class="col-md-12  col-sm-12 col-xs-12">
                                                        <span  uib-tooltip="{{'duplicate'| translate}}" type="button" class="btn btn-xs bold font-green-turquoise fa fa-clone"
                                                               style=" font-size: medium; background-color: transparent"
                                                               ng-click="redirect(field.id,'duplicate')">
                                                        </span>
                                            </div>
                                            <div class="col-md-12  col-sm-12 col-xs-12">
                                                     <span uib-tooltip="{{'edit'| translate}}" type="button" class="btn btn-xs bold font-blue fa fa-edit"
                                                           style=" font-size: medium; background-color: transparent"
                                                           ng-click="redirect(field.id,'edit')">
                                                     </span>
                                            </div>
                                            <div class="col-md-12  col-sm-12 col-xs-12">
                                                 <span  uib-tooltip="{{'delete'| translate}}"  type="button" class="btn btn-xs bold font-red-pink  fa fa-trash-o"
                                                        style="font-size: medium; background-color: transparent"
                                                        ng-click="deleteElement('sm',field.id)">
                                                 </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div ng-show=" !no_form &&  fields.length == 0 " class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                            <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                    {{'there is no element to show'| translate}}
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
