

<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span> {{'manage'| translate}} {{'custom forms'| translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>

    <li class="active" >
        <span  ng-if="type =='main'"> {{'custom forms'| translate}}</span>
        <span ng-if="type =='trash'"> {{'trashed custom forms'| translate}}</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12  col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3 ng-if="type =='main'">
                        <span  class="icon-star"></span>
                        <span> {{'custom forms'| translate}}</span>
                    </h3>
                    <h3 ng-if="type =='trash'">
                        <span  class="fa fa-trash-o"></span>
                        <span> {{'trashed custom forms'| translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix"  ng-if="type =='main'">
                        <button uib-tooltip="{{'add_new_custom_forms'| translate}}" type="button" ng-click="insertCustomForms('sm')" class="btn blue"
                                style="margin-bottom: 2%;">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span  class="hidden-sm hidden-md  hidden-xs">{{'new'| translate}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12  col-sm-12 col-xs-12" style="margin-bottom: 5px;">
                            <label ng-show="items.length > 0 ">{{'show'| translate}}
                                <select
                                        class="form-control input-sm input-inline" ng-init=""
                                        ng-change="itemsPerPage_(itemsCount)"
                                        name="itemsCount"
                                        ng-model='itemsCount'>
                                   <option value="50">50</option><option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                    <option value="-1">{{'show_All'| translate}}</option>
                                </select>
                            </label>

                            <form class="form-inline search-form pull-right">
                                <div class="input-group">
                                    <input type="text"
                                           ng-model="search"
                                           class="form-control"
                                           placeholder="{{'search'| translate}} "
                                           name="search">
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="table-scrollable" ng-show="items.length > 0 "  >
                        <!-- BEGIN TABLE -->
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                            <thead>
                            <tr  style="background-color: #f3f3f3!important;  height:40px; line-height: 40px; font-size: 30px; ">
                                <th class="text-center" > {{'#'| translate}} </th>
                                <th class="text-center" ng-click="sort('name')" >{{'custom_forms_name'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-show="master" class="text-center" ng-click="sort('organization_name')"> {{'organization_name_'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='organization_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('status')" >
                                    {{'custom_forms_status'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" > {{'operations'| translate}} </th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr dir-paginate="item in items |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage" ng-show="items.length != 0 ">
                                <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                <td>{{ item.name }}</td>
                                <td ng-show="master">{{ item.organization_name }} </td>
                                <td>
                                    <span ng-show="item.status == 1">  {{'Active_Form'| translate}} </span>
                                    <span ng-show="item.status == 2">  {{'Inactive_Form'| translate}} </span>
                                    <span ng-show="item.status == 3">  {{'Deleted_Form'| translate}} </span>
                                </td>


                                <td>

                                    <a  uib-tooltip="{{'show_element'| translate}}"
                                        style="color: #ffffff; margin-top: 1%;"
                                        class="btn fa fa-reply bold btn-xs font-green-turquoise"
                                        href="{{ '#/forms/'+ item.id }}">
                                    </a>

                                    <span uib-tooltip="{{'edit'| translate}}"  type="button"
                                          ng-show="item.status != 3"
                                          class="btn btn-xs bold font-blue fa fa-edit"
                                          style=" font-size: medium; background-color: transparent"
                                          ng-click="updateCustomForms('sm',item.id)">

                                    </span>
                                    <span uib-tooltip="{{'delete'| translate}}" type="button" ng-show="item.status != 3"
                                          class="btn btn-xs bold font-red-pink  fa fa-remove"
                                          style="font-size: medium; background-color: transparent"
                                          ng-click="deleteCustomForms('sm',item.id)">

                                    </span>
                                    <span uib-tooltip="{{'restore'| translate}}" type="button" ng-show="item.status == 3"
                                          class="btn btn-xs bold font-blue  fa fa-refresh"
                                          style="font-size: medium; background-color: transparent"
                                          ng-click="restore('sm',item.id)">
                                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- END TABLE -->
                    </div>


                    <div ng-show="items.length == 0 " class=" col-md-12  col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                        <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                        </div>
                    </div>

                    <div class="row"  ng-show="items.length != 0 " >
                        <div class="col-md-12  col-sm-12 col-xs-12">
                            <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                <span class="bold ">{{'number of total items'| translate}}</span>
                                <span class="bold "> : </span>
                                <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                <span class="bold ">{{'row'| translate}}</span>
                            </div>
                            <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header" style="  padding:12%; ">
        <h4 class="modal-title text-center"> {{'add_custom_form'| translate}} </h4>
    </div>
    <div class="modal-body">
        <form name="frmCustom"  novalidate="" role="form" class="text-center" style="padding: 2%;">
            <div class="form-group" ng-class="{ 'has-error' : frmCustom.name.$invalid && !frmCustom.name.$pristine }">
                <label class="control-label bold">  {{'custom_forms_name'| translate}}  </label>
                <input type="text" class="form-control" ng-change="msg1.name = [ ]"  ng-model="item.name" ng-required="true" name="name"
                       placeholder="{{'custom_forms_name'| translate}} "  />
                <span class="text-danger bold help-inline" ng-show="frmCustom.name.$error.required && frmCustom.name.$touched">
                    {{'required_field'| translate}}
                </span>
                <span ng-repeat="(error, errortext) in msg1.name" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.name' != [ ]" >
                         {{ errortext.toString() }}
                </span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : frmCustom.status.$invalid && !frmCustom.status.$pristine }">
                <label class="control-label bold">  {{'custom_forms_status'| translate}}  </label>
                <select class="form-control" ng-init="" class="form-control" ng-change="msg1.status = [ ]" ng-model="item.status" ng-required="true" name="status">
                    <option disabled selected value > --  {{'custom_forms_status'| translate}}   -- </option>
                    <option value="1">  {{'Active_Form'| translate}} </option>
                    <option value="2">  {{'Inactive_Form'| translate}} </option>
                    <!--<option value="3">  {{'Deleted_Form'| translate}} </option>-->
                </select>
                <span class="text-danger bold help-inline" ng-show="frmCustom.status.$error.required && frmCustom.status.$touched">
                    {{'required_field'| translate}}
                </span>
                <span ng-repeat="(error, errortext) in msg1.status" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.status' != [ ]" >
                         {{ errortext.toString() }}
                </span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class= "btn btn-primary" ng-click= "confirmInsert(item)" ng-disabled= "frmCustom.$invalid"  type="button">
            <span>{{'confirm_add_custom_form'| translate}}</span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}} </span></button>
    </div>
</script>
<script type="text/ng-template" id="myModalContent1.html">
    <div class="modal-header" style="  padding:12%; ">
        <h4 class="modal-title text-center"> {{'edit_custom_form'| translate}} </h4>
    </div>
    <div class="modal-body">
        <form name="frmCustom1"  novalidate="" role="form" class="text-center" style="padding: 2%;">
            <div class="form-group" ng-class="{ 'has-error' : frmCustom1.name.$invalid && !frmCustom1.name.$pristine }">
                <label class="control-label bold">  {{'custom_forms_name'| translate}}  </label>
                <input type="text" class="form-control" ng-change="msg1.name = [ ]"  ng-model="target.name" ng-required="true" name="name"
                       placeholder="{{'custom_forms_name'| translate}} "  />
                <span class="text-danger bold help-inline" ng-show="frmCustom1.name.$error.required && frmCustom1.name.$touched">
                    {{'required_field'| translate}}
                </span>
                <span ng-repeat="(error, errortext) in msg1.name" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.name' != [ ]" >
                         {{ errortext.toString() }}
                </span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : frmCustom1.status.$invalid && !frmCustom1.status.$pristine }">
                <label class="control-label bold">  {{'custom_forms_status'| translate}}  </label>
                <select class="form-control" ng-init="" class="form-control" ng-change="msg1.status = [ ]" ng-model="target.status" ng-required="true" name="status">
                    <option disabled selected value > --  {{'custom_forms_status'| translate}}   -- </option>
                    <option value="1">  {{'Active_Form'| translate}} </option>
                    <option value="2">  {{'Inactive_Form'| translate}} </option>
                    <!--<option value="3">  {{'Deleted_Form'| translate}} </option>-->
                </select>
                <span class="text-danger bold help-inline" ng-show="frmCustom1.status.$error.required && frmCustom1.status.$touched">
                    {{'required_field'| translate}}
                </span>
                <span ng-repeat="(error, errortext) in msg1.status" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.status' != [ ]" >
                         {{ errortext.toString() }}
                </span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="confirmUpdate(target)" ng-disabled="frmCustom1.$invalid" type="button" >
            <span>{{'confirm_edit_custom_form'| translate}}</span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
</script>
