

<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <span> {{'manage'| translate}} {{'custom forms'| translate}}</span>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active text-primary" >
        <a href="#/custom-forms/">{{'custom forms'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="text-primary"  ng-if="!no_form">
        <a href="#/forms/{{form_id}}">{{ formName }}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="text-primary"  ng-if="!no_form">
        <a href="#/forms/elements/{{form_id}}">
            {{'show_custom_forms_element'| translate}}</a>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title" ng-if="!no_form">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span class="fa fa-list-alt" aria-hidden="true"></span>
                        <span> {{ formName }} </span>

                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <a style="color: #ffffff;" uib-tooltip="{{'back to forms'| translate}}"
                           ng-if="can('forms.customForms.manage')"
                           class="btn blue "
                           href="{{'#/forms'}}">
                            <span class="fa fa-backward"  style="margin-right: 2%;"></span>
                            <span>{{'back to forms'| translate}}</span>

                        </a>

                        <a style="color: #ffffff;" uib-tooltip="{{'back to'| translate}} {{ formName }} "
                           ng-if="can('forms.formElement.manage')"
                           class="btn yellow-saffron "
                           href="{{'#/forms/'+form_id}}">
                            <span class="fa fa-backward"  style="margin-right: 2%;"></span>
                            <span> {{'back to'| translate}}</span>
                            <span> {{ formName }}</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                       <div class="alert alert-danger" ng-if="no_form"> {{'no choice form to show'| translate}} </div>
                    </div>
                    <div class="row" ng-show="fields.length > 0 ">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="modal-body">
                                <div class="row">
                                    <form name="testform"  novalidate="" role="form" class="text-center" style="padding: 2%;">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div ng-repeat="field in fields">
                                                <div ng-form="form">
                                                    <div ng-if="field.type!='3'" class="col-md-6 text-center" >

                                                        <div  class="form-group" ng-class="{ 'has-error' : form.{{field.name}}.$invalid && (!form.{{field.name}}.$pristine || form.{{field.name}}.$touched) }">
                                                            <label class="control-label">
                                                                <span class="bold">{{field.label}}</span>
                                                                <span class="font-red-pink bold help-inline" ng-show="field.priority==4"> {{'mandatory' | translate }} </span>
                                                                <span class="text-success bold help-inline" ng-show="field.priority==3">{{'advisable' | translate }}</span>
                                                                <span class="text-success bold help-inline" ng-show="field.priority==2"> {{'optional' | translate }}</span>
                                                                <span class="text-default bold help-inline" ng-show="field.priority==1"> {{'not appear' | translate }}</span>
                                                            </label>

                                                            <input ng-if="field.type=='1'" type="text"
                                                                   dynamic-name="field.name" id="{{field.name}}"
                                                                   data-ng-model="field.data"  class="form-control"
                                                                   ng-required="field.priority ==4" value="{{field.value}}" placeholder=" ---   {{field.label}} --- "
                                                            />
                                                            <select ng-if="field.type=='2'" class="form-control" data-ng-model="field.data" value="{{field.value}}" dynamic-name="field.name" id="{{field.name}}"
                                                                    ng-required="field.priority ==4">
                                                                <option disabled selected value> ---   {{field.label}} --- </option>
                                                                <option ng-repeat="option in field.options" value="{{option.id}}" >
                                                                    {{option.label}}
                                                                </option>
                                                            </select>

                                                        </div>
                                                    </div>
                                                    <div ng-if="field.type=='3'" class="col-md-12 col-sm-12 col-xs-12 text-left" >

                                                        <div  class="form-group" ng-class="{ 'has-error' : form.{{field.name}}.$invalid && (!form.{{field.name}}.$pristine || form.{{field.name}}.$touched) }">
                                                            <label class="control-label">
                                                                <span class="bold">{{field.label}}</span>
                                                                <span class="font-red-pink bold help-inline" ng-show="field.priority==4"> {{'mandatory' | translate }} </span>
                                                                <span class="text-success bold help-inline" ng-show="field.priority==3">{{'advisable' | translate }}</span>
                                                                <span class="text-success bold help-inline" ng-show="field.priority==2"> {{'optional' | translate }}</span>
                                                                <span class="text-default bold help-inline" ng-show="field.priority==1"> {{'not appear' | translate }}</span>
                                                            </label>
                                                            <textarea dynamic-name="field.name" id="{{field.name}}" data-ng-model="field.data" class="form-control"
                                                                      ng-required="field.priority ==4" placeholder=" ---   {{field.label}} --- "rows="4">
                                           </textarea>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->


