<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'Dashboard' | translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a href="#/aid-repository/repositories">{{'Manage_Repository' | translate}}  </a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a href="#/aid-repository/organization/projects">
            {{'Projects' | translate}}
        </a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        {{project.repository_name}} - {{project.name}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li  ng-show="!(nomination_name == null || nomination_name == 'null')">
        <a  href="#/aid-repository/organization/projects/{{project.id}}/nominations-list">
            {{'nominations' | translate}}
        </a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active"> {{'Project_Candidates' | translate}} </li>
</ul>


<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span class="fa fa-users"></span>
                       <span> {{'Project_Candidates' | translate}} </span>
                        <span  ng-show="!(nomination_name == null || nomination_name == 'null')">  {{'to' | translate}} {{project.name}}</span>
                        <a ng-show="!(nomination_name == null || nomination_name == 'null')"> \ {{nomination_name}}  </a>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <button  ng-show=" (!(project.repository_level == 1 || project.repository_level == '1')) && project.status !=1 " class="btn green-turquoise" ng-click="statistic_()">
                            <span class="fa fa-bar-chart"></span>
                            <span>{{'Candidates_Statistic'| translate}}</span>
                        </button>
                  </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row" style="margin-bottom: 2%;">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1%;padding-top: 4%;padding-bottom: 2%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                            <form name="form">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center ">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class=" control-label bold"> {{'id_card_number' | translate}} </label>
                                                <input type="text" class="form-control" name="id_card_number" ng-model="filter.id_card_number" maxlength="9"
                                                       ng-maxlength="9" numeric-only/>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class=" control-label bold"> {{'first_name' | translate}} </label>
                                                <input type="text" class="form-control" name="first_name" ng-model="filter.first_name" arabic-alphabet maxlength="45" ng-maxlength="45"/>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class=" control-label bold"> {{'second_name' | translate}} </label>
                                                <input type="text" class="form-control" name="second_name" ng-model="filter.second_name" arabic-alphabet    maxlength="45" ng-maxlength="45"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class=" control-label bold"> {{'third_name' | translate}} </label>
                                                <input type="text" class="form-control" name="third_name" ng-model="filter.third_name" arabic-alphabet    maxlength="45" ng-maxlength="45" />
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class=" control-label bold"> {{'last_name' | translate}} </label>
                                                <input type="text" class="form-control" name="last_name" ng-model="filter.last_name" arabic-alphabet    maxlength="45" ng-maxlength="45"/>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="text-center bold control-label "> {{'Status' | translate}} </label>
                                                <select ng-model="filter.status" class="form-control input-sm">
                                                    <option selected value> --  {{'Status' | translate}} -- </option>
                                                    <option value="1"> {{'nominate' | translate}}</option>
                                                    <option value="2">{{'sent_' | translate}}</option>
                                                    <option value="3">{{'accepted' | translate}}</option>
                                                    <option value="4">{{'reject' | translate}}</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                                        <div class="col-md-4 col-sm-12 col-xs-12" ng-show="nomination_id == null || nomination_id == 'null'">
                                            <div class="form-group">
                                                <label class=" control-label bold"> {{'nomination_name' | translate}} </label>
                                                <div class="input-group">
                                                    <ui-select name="nomination_id" ng-model="filter.nomination_id" theme="bootstrap"
                                                               ng-change="msg1.nomination_id = [ ]"
                                                               ng-required="true"
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.label}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in groups | filter: $select.search">
                                                            <div ng-bind-html="item.label | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                        <button type="button" ng-click="filter.nomination_id = undefined"  class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                     </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-12 col-xs-12 " ng-if="Org">
                                            <div class="form-group">
                                                <label class=" control-label bold"> {{'organization name' | translate}} </label>
                                                <multiselect  ng-model="filter.organization_id" ng-if="Org" ng-class="filter.all_organization? '' : 'inactive'"
                                                              options="Org" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                                </multiselect>
                                            </div>
                                        </div>
                                        <div class="col-md-5 pull-right" style="padding-top: 20px;">
                                            <div class="clearfix pull-right">
                                                <div class="btn-group "  uib-dropdown ng-show="candidates.length != 0 ">
                                                        <button id="single-button1" type="button" 
                                                                class="  btn green-turquoise   pull-left"
                                                                uib-dropdown-toggle ng-disabled="disabled">
                                                           <span class="fa fa-file-excel-o"></span>
                                                            <span class="hidden-sm hidden-md  hidden-xs">{{'export'|translate}}</span>
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                                                            aria-labelledby="split-button" style="min-width: 110px !important;">
                                                            <li>
                                                                <a ng-click="SearchCandidates(false,filter,'excel')" class="iconify">{{'persons'| translate}}</a>
                                                            </li>
                                                            <li>
                                                                <a ng-click="SearchCandidates(false,filter,'children')" class="iconify">{{'childs'| translate}}</a>
                                                            </li>
                                                            <li>
                                                                <a ng-click="SearchCandidates(false,filter,'wives')" class="iconify">{{'Wives'| translate}}</a>
                                                            </li>
                                                        </ul>
                                                </div>
                                                <button uib-tooltip="{{'search'| translate}}" class=" btn blue  " ng-click="SearchCandidates(false,filter,'paginate')" type="button" >
                                                    <span class="icon-magnifier"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'search'| translate}}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:2%;box-sizing: border-box;">
                            <table class="table table-striped table-bordered   text-center " >
                                <thead>
                                <tr style="background-color: #f3f3f3!important; color: #337ab7; height:30px; line-height: 30px; font-size: 20px; ">
                                    <th class="text-center">{{'total_required' | translate}} </th>
                                    <th class="text-center">{{'all_candidate' | translate}} </th>
                                    <th class="text-center">{{'nominate' | translate}} </th>
                                    <th class="text-center" >{{'sent_' | translate}} </th>
                                    <th  class="text-center">{{'accepted' | translate}} </th>
                                    <th  class="text-center">{{'reject' | translate}} </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-center"> {{statistic.required}} </td>
                                    <td class="text-center"> {{statistic.all}} </td>
                                    <td class="text-center"> {{statistic.candidate}} </td>
                                    <td class="text-center"> {{statistic.sent}} </td>
                                    <td class="text-center"> {{statistic.accept}} </td>
                                    <td class="text-center"> {{statistic.rejected}} </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12" ng-if="candidates.length > 0  " style=" margin-bottom: 1%;">
                             <div class="clearfix">
                                    <div class="btn-group "  uib-dropdown ng-show="candidates.length != 0 ">
                                            <button id="single-button1" type="button" 
                                                     class="  btn green-turquoise   pull-left"
                                                                uib-dropdown-toggle ng-disabled="disabled">
                                                           <span class="fa fa-file-excel-o"></span>
                                                            <span class="hidden-sm hidden-md  hidden-xs">{{'export'|translate}} (   {{'selected'|translate}}  )</span>
                                                            <span class="caret"></span>
                                            </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu"
                                            aria-labelledby="split-button" style="min-width: 110px !important;">
                                                <li> 
                                                    <a ng-click="SearchCandidates(true,filter,'excel')" class="iconify">{{'persons'| translate}}</a>
                                               </li>
                                               <li>
                                                      <a ng-click="SearchCandidates(true,filter,'children')" class="iconify">{{'childs'| translate}}</a>
                                                </li>
                                                <li>
                                                        <a ng-click="SearchCandidates(true,filter,'wives')" class="iconify">{{'Wives'| translate}}</a>
                                               </li>
                                           </ul>
                                   </div>
                                    <div class="btn-group btn-group-solid  " 
                                         ng-show=" (!(project.repository_level == 1 || project.repository_level == '1'))&& (project.status == 1 || project.status ==2)" >
                                        <button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="fa fa-edit"></span>
                                            <span class="hidden-sm hidden-md  hidden-xs">{{'select status' | translate}}  </span>
                                            <span class="glyphicon glyphicon-menu-down"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li> <a href="javascript:;" ng-click="updateCandidatesStatus(1)"> {{'nominate' | translate}}</a></li>
                                            <li> <a href="javascript:;" ng-click="updateCandidatesStatus(2)"> {{'sent_' | translate}}</a></li>
                                            <li> <a href="javascript:;" ng-show=" statistic.required != statistic.accept" ng-click="updateCandidatesStatus(3)"> {{'accepted' | translate}}</a></li>
                                            <li> <a href="javascript:;" ng-click="updateCandidatesStatus(4)"> {{'reject' | translate}}</a></li>
                                            <li> <a href="javascript:;" ng-click="updateCandidatesStatus(-1)"> {{'using excel' | translate}}</a></li>
                                        </ul>
                                    </div>
                                    <div class="btn-group "  uib-dropdown>
                                        <button id="single-button1" type="button" class="  btn purple-intense" uib-dropdown-toggle ng-disabled="disabled">
                                            <span class="glyphicon glyphicon-envelope"></span>
                                            <span class="hidden-sm hidden-md  hidden-xs">{{'send sms messege'|translate}}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                            <li ng-show="items.length != 0">
                                                <a ng-click="sendSms('manual',0)" class="iconify">
                                                    <i class="fa fa-hand-paper-o" style="margin-left: 4%"></i>{{'manually'| translate}}</a>
                                            </li>
                                            <li>
                                                <a ng-click="sendSms('xlx',0)" class="iconify">
                                                    <i class="fa fa-file-excel-o"  style="margin-left: 4%"></i>{{'using excel'| translate}}</a>
                                            </li>
                                        </ul>
                                    </div>
                             </div>
                        </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 bold" style="margin-top: 1%; margin-bottom: 1%;">
                        <div class="table-responsive">
                            <table class="table table-hover table-condensed table-bordered table-striped  text-center" ng-show="candidates.length != 0 ">
                                <thead>
                                <tr style="background-color: #f3f3f3!important; color: #337ab7; height:30px; line-height: 30px; font-size: 20px; ">
                                    <th class="text-center">{{'#' | translate}}</th>
                                    <th class="text-center"><input type="checkbox" ng-model="cAll" ng-change="checkAll(cAll)" ng-true-value="true" ng-false-value="false"></th>
                                    <th class="text-center">{{'Name' | translate}}</th>
                                    <th class="text-center">{{'card_number' | translate }}</th>
                                    <th class="text-center">{{'Organization_Name' | translate}}</th>
                                    <th class="text-center" ng-show="nomination_id == null || nomination_id == 'null'">{{'Nomination' | translate}}</th>
                                    <th class="text-center">{{'Candidate_Organization_Name' | translate}}</th>
                                    <th class="text-center">{{'Status' | translate}}</th>
                                    <th class="text-center">{{'Reject Reason' | translate}}</th>
                                    <th class="text-center" ng-show="project.status == 1 || project.status ==2 "></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr dir-paginate="entry in candidates|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                                    <td class="text-center">{{$index+1}}</td>
                                    <td class="text-center" ng-if="(project.status == 1 || project.status ==2) "><input type="checkbox" ng-model="entry.checked" ng-checked="entry.checked" ng-true-value="true" ng-false-value="false"></td>
                                    <td class="text-center">{{entry.full_name}}
                                        <br>
                                    
                                            <button class="btn btn-sm  font-yellow-saffron glyphicon glyphicon-envelope" ng-click="sendSms(entry.person_id)"
                                                    style="background: transparent">
                                            </button>

                                    </td>
                                    <td class="text-center">{{entry.id_card_number}}</td>
                                    <td class="text-center">{{entry.organization_name}}</td>
                                    <td class="text-center" ng-show="nomination_id == null || nomination_id == 'null'">{{entry.nomination_name}}</td>
                                    <td class="text-center">{{entry.candidate_organization_name}}</td>
                                    <td class="text-center">
                                        {{entry.status}}
                                          <span ng-show=" entry.status == 1 ">  {{'nominate' | translate}}</span>
                                          <span ng-show="entry.status == 3"> {{'accepted' | translate}}</span>
                                          <span ng-show="entry.status == 4"> {{'reject' | translate}}}</span>
                                        <!--{{entry.status_name}}-->
                                    </td>
                                    <td class="text-center">{{(entry.reason != null && entry.reason != 'null') ? entry.reason:'-'}}</td>
                                    <td class="text-center"  ng-show="project.status == 1 || project.status ==2 ">

                                        <div ng-show="can('aidRepository.repositories.manageCandidates')  || entry.is_mine == 1" class="btn-group btn-group-solid ">
                                            <button type="button" class="btn blue btn-xs dropdown-toggle"
                                                    ng-show=" (!(project.repository_level == 1 || project.repository_level == '1'))"
                                                    data-toggle="dropdown" aria-expanded="false">
                                                <span class="fa fa-ellipsis-horizontal"></span>
                                                <span class="fa fa-edit"></span>
                                                <span class="hidden-sm hidden-md  hidden-xs">{{'select status' | translate}}  </span>
                                                <span class="glyphicon glyphicon-menu-down"></span>
                                            </button>

                                            <ul class="dropdown-menu">
                                                <li ng-show=" entry.status != 1 "> <a href="javascript:;" ng-disabled="entry.status == 1" ng-click="updateStatus(entry.person_id,1, $index)"> {{'nominate' | translate}}</a></li>
                                                <!--<li ng-show="( entry.status == 1 || entry.status == 3 )"> <a href="javascript:;" ng-disabled="entry.status == 2" ng-click="updateStatus(entry.person_id,2, $index)"> {{'sent_' | translate}}</a></li>-->
                                                <li ng-show="( entry.status == 1 || entry.status == 4)"> <a href="javascript:;" ng-disabled="entry.status == 3" ng-click="updateStatus(entry.person_id,3, $index)"> {{'accepted' | translate}}</a></li>
                                                <li ng-show="( entry.status == 1 || entry.status == 3)"> <a href="javascript:;" ng-disabled="entry.status == 4" ng-click="updateStatus(entry.person_id,4, $index)"> {{'reject' | translate}}</a></li>
                                            </ul>
                                        </div>
                                        <span ng-show="!(can('aidRepository.repositories.manageCandidates')  || entry.is_mine == 1)">-</span>
                                        <!--<button type="button"-->
                                                <!--ng-show="entry.is_mine == 1 && entry.status == 1"-->
                                                <!--ng-click="removeCandidate(entry, $index)" class="btn btn-xs bg-red-pink font-white">-->
                                            <!--<span class="glyphicon glyphicon-remove"></span></button>-->
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div ng-if="candidates.length == 0" class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                                <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="candidates.length != 0 ">
                            <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                <span class="bold ">{{'number of total items'| translate}} : </span>
                                <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                <span class="bold ">{{'row'| translate}}</span>
                            </div>
                            <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->
<script type="text/ng-template" id="detail.html">
    <div class="modal-header" style="  padding:9%; ">
        <h4 class="modal-title bold text-center">{{'Reject Reason'| translate}}        </h4>
    </div>
    <div class="modal-body">
        <div class="row" style="padding: 10px 20px  0px 20px">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <form name="frm" novalidate="" role="form" class="row text-center">
                    <div class="form-group" ng-class="{ 'has-error' : frm.reason.$invalid && !frm.reason.$pristine }">
                    <textarea class="form-control"
                              name="reason"
                              ng-model="data.reason" ng-required="true"
                              rows="7">
                    </textarea>
                    </div>
                    </form>
                </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class=" btn btn-primary" ng-disabled= "frm.$invalid"  ng-click="confirm(data)" type="button" >
            <span> {{'Save'| translate}}  </span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"><span> {{'cancel'| translate}} </span></button>
    </div>
</script>


