<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'Dashboard' | translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{'Manage_Repository' | translate}} <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i> </li>
    <li>
        <span> {{'Projects' | translate}}</span>
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span class="glyphicon glyphicon-tags"></span>
                        <span>{{'Projects' | translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">

                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1%;padding-top: 4%;padding-bottom: 2%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;">
                            <form name="form">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center ">

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">{{'repository_name' | translate}} </label>
                                                <input type="text" ng-model="filters.repository_name" autofocus placeholder="{{'repository_name' | translate}}" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label bold">{{'project_name-' | translate}} </label>
                                                <input type="text" ng-model="filters.project_name" autofocus placeholder="{{'project_name-' | translate}}" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="text-center bold control-label "> {{'project_status' | translate}} </label>
                                                <select ng-model="filters.project_status" class="form-control input-sm">
                                                    <option selected value> --  {{'Status' | translate}} -- </option>
                                                    <option ng-if="master"  value="1">{{'Draft' | translate}}</option>
                                                    <option value="2">{{'Certified for nomination' | translate}}</option>
                                                    <option value="3">{{'Certified for execution' | translate}}</option>
                                                    <option value="4">{{'Done' | translate}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                            <label class="control-label bold text-center ">  {{'project_category' | translate}} </label>
                                                <div class="input-group">
                                                    <ui-select name="category_id" ng-model="filters.category_id" theme="bootstrap" class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in categories | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                        <button type="button" ng-click="filters.category_id = undefined"  class="btn btn-default">
                                                              <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                     </span>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label  text-center bold">   {{'Sponsor' | translate}}</label>
                                                <div class="input-group">
                                                    <ui-select name="sponsor_id" ng-model="filters.sponsor_id" theme="bootstrap" class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in Sponsors | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                            <button type="button" ng-click="filters.sponsor_id = undefined"  class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label  text-center bold">   {{'project_date' | translate}} ( {{'From_' | translate}} )</label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.project_date_from"
                                                           datepickerPopup autofocus
                                                           name="first"
                                                           is-open="popup3.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open3($event)">
                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label  text-center bold">   {{'project_date' | translate}} ( {{'To_'| translate}} )</label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filters.project_date_to"
                                                           datepickerPopup
                                                           name="last"
                                                           is-open="popup4.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open4($event)">
                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top: 12px;">
                                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                                            <div class="clearfix pull-right">
                                                <button class="btn red-pink " type="button" ng-click="resetFilters()">
                                                    <span class="fa fa-trash-o"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'reset filter'| translate}}</span>
                                                </button>
                                                <button uib-tooltip="{{'search' | translate}}" class=" btn blue "
                                                        ng-click="searchWithFilter(filters,'paginate')" type="submit" >
                                                    <span class="icon-magnifier"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'search' | translate}}</span>
                                                </button>


                                            </div>
                                        </div>


                                    </div>


                                </div>
                            </form>
                        </div>
                        <div class="dataTables_length" id="sample_1_length" ng-show=" projects.length != 0">
                            <label>
                                {{'show'| translate}}
                                <select
                                        class="form-control input-sm input-inline" ng-init=""
                                        ng-change="itemsPerPage_(itemsCount)"
                                        name="itemsCount"
                                        ng-model='itemsCount'>
                                    <option value="50">50</option><option value="100">100</option>
                                    <option value="200">200</option>
                                    <option value="500">500</option>
                                    <option value="1000">1000</option>
                                    <option value="-1">{{'show_All'| translate}}</option>
                                </select>
                            </label>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12" ng-if="projects.length > 0">
                            <div class="table-scrollable"  >
                                <table class="table table-hover table-condensed table-bordered table-striped  text-center">
                                    <thead>
                                    <tr style="background-color: #f3f3f3!important; color: #337ab7; height:70px; vertical-align: middle; line-height: 40px; font-size: 20px; ">
                                        <th class="text-center" style="width: 4%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'#' | translate}}</th>
                                        <th class="text-center">{{'Name' | translate}}</th>
                                        <th class="text-center" style="width: 7%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'project_category' | translate}}</th>
                                        <th class="text-center" style="width: 7%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'Sponsor' | translate}}</th>
                                        <th ng-if="master" class="text-center" style="width: 6%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'Organization' | translate}}</th>
                                        <th class="text-center" style="width: 7%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'Unit_Amount' | translate}}</th>
                                        <th ng-if="master" class="text-center" style="width: 6%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'Total_Quantity_Share' | translate}}</th>
                                        <th ng-if="master" class="text-center" style="width: 6%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'Quantity' | translate}}</th>
                                        <th ng-if="master" class="text-center" style="width: 6%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'Extra_Quantity' | translate}}</th>
                                        <th class="text-center" style="width: 6%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'Total_Quantity' | translate}}</th>
                                        <th class="text-center" style="width: 6%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'Total_Amount' | translate}}</th>
                                        <th class="text-center" style="width: 6%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'currency' | translate}}</th>
                                        <th class="text-center"  style="width: 5%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;">{{'Status' | translate}}</th>
                                        <th class="text-center"  style="width: 15%; white-space: unset;word-wrap: break-word;overflow-wrap:break-word; vertical-align: middle;"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="project in projects |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage" >
                                    <!--<tr ng-repeat="project in projects" >-->
                                        <td class="text-center">{{$index+1}}</td>
                                        <td class="text-center">{{project.repository_name}} - {{project.project_name}}</td>
                                        <td class="text-center">{{project.category_name}}</td>
                                        <td class="text-center">{{project.sponsor_name}}</td>
                                        <td  class="text-center" ng-if="master">{{project.organization_name}}</td>
                                        <td class="text-center">{{project.project_amount}}</td>
                                        <td  class="text-center" ng-if="master">{{project.total_quantity_share| number:4}}</td>
                                        <td  class="text-center" ng-if="master">{{project.quantity}}</td>
                                        <td  class="text-center" ng-if="master">{{project.extra_quantity}}</td>
                                        <td class="text-center">{{project.quantity + project.extra_quantity}}</td>
                                        <td class="text-center">
                                            {{project.project_amount * (project.quantity + project.extra_quantity)}}
                                        </td>
                                        <td class="text-center">{{project.currency}}</td>
                                        <td class="text-center">{{project.status_name}}</td>
                                        <td class="text-center">
                                            <!--project.is_mine == 1 &&-->
                                            <a ng-if="project.status==3  && ( project.add_voucher  == 'true' || project.add_voucher  == true) "
                                               uib-tooltip="{{'new_voucher' | translate}}"
                                              ng-click="insert(project,'lg')"
                                               class="btn btn-xs bold btn font-blue glyphicon glyphicon-plus" style="font-size: medium; background-color: transparent">
                                            </a>
                                            <a uib-tooltip="{{'nominations'| translate}}"
                                               ng-if=" project.repository_level !=1 && project.repository_level !='1' "
                                               href="#/aid-repository/organization/projects/{{project.project_id}}/nominations-list"
                                               class="btn btn-xs bold btn font-yellow-saffron glyphicon glyphicon-filter" style="font-size: medium; background-color: transparent">
                                            </a>
                                            <a uib-tooltip="{{'Candidates'| translate}}"
                                               href="#/aid-repository/organization/projects/{{project.project_id}}/candidates/"
                                               class="btn btn-xs bold btn font-green-turquoise fa fa-users" style="font-size: medium; background-color: transparent">
                                            </a>
                                            <a uib-tooltip="{{'check_persons'| translate}}"
                                               ng-click="check(project.project_id)"
                                               class="btn btn-xs bold btn font-yellow-casablanca fa fa-check" style="font-size: medium; background-color: transparent">
                                            </a>
                                        </td>
                                    </tr>
                                    <!--<tr  ng-if="projects.length > 0">-->
                                        <!--<th colspan="{{master ? '6' : '5'}}"  class="text-right">{{'Total' | translate}}</th>-->
                                        <!--<th  class="text-center"ng-if="master">{{total5 |number:4}}</th>-->
                                        <!--<th  class="text-center"ng-if="master">{{total1 |number:0}}</th>-->
                                        <!--<th  class="text-center"ng-if="master">{{total2 |number:0}}</th>-->
                                        <!--<th class="text-center">{{total3 |number:0}}</th>-->
                                        <!--<th class="text-center">{{total4 |number:0}}</th>-->
                                    <!--</tr>-->
                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <div class=" col-md-12 col-sm-12 col-xs-12 text-center"  ng-show="projects.length ==0 "  style="margin-bottom: 2%">
                            <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                            </div>
                        </div>
                        <div class="col-md-12  col-sm-12 col-xs-12" ng-show="projects.length !=0 " >
                            <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                <span class="bold ">{{'number of total items'| translate}}</span>
                                <span class="bold "> : </span>
                                <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                <span class="bold ">{{'row'| translate}}</span>
                            </div>
                            <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header" style="  padding:3%; ">
        <h4 class="modal-title bold text-center"> {{'add_vouchers_form'| translate}} </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form name="frmvoucher" novalidate="" role="form" class=" text-center" style="padding: 2%;">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error' : frmvoucher.title.$invalid && !frmvoucher.title.$pristine }">
                            <label class="control-label  bold ">  {{'voucher_title'| translate}}
                                <span class=" text-danger bold help-inline"> * </span>
                            </label>
                            <input type="text" class="form-control"  ng-change="msg1.title = [ ]" ng-model="voucher.title" ng-required="true" name="title" ng-disabled="reanOnlyInput"
                                   placeholder="{{'voucher_title'| translate}} "  />
                            <span class="text-danger bold help-inline" ng-show="frmvoucher.title.$error.required && frmvoucher.title.$touched">
                                            {{'required_field'| translate}}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.title" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.title' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{ 'has-error' : frmvoucher.sponsor_id.$invalid && !frmvoucher.sponsor_id.$pristine }">
                            <label class="control-label  bold ">{{'voucher_sponsor_name'| translate}}</label>
                            <input type="text" class="form-control"   name="title" readonly ng-model="sponsor_name" />
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{ 'has-error' : frmvoucher.category_id.$invalid && !frmvoucher.category_id.$pristine }">
                            <label class="control-label bold ">  {{'voucher_category'| translate}}
                                <span class=" text-danger bold help-inline"> * </span>
                            </label>
                            <ui-select name="category_id" ng-model="voucher.category_id" theme="bootstrap" ng-required="true" readonly  ng-disabled="true"
                                       class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in Choices | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{ 'has-error' : frmvoucher.case_category_id.$invalid && !frmvoucher.case_category_id.$pristine }">
                            <label class="control-label bold">{{'category_name'| translate}} <span class=" text-danger bold help-inline"> * </span></label>
                           <ui-select name="case_category_id" ng-model="voucher.case_category_id"theme="bootstrap"
                                           ng-change="msg1.case_category_id = [ ]" readonly ng-disabled="true" class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in aidCategories_ | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>                           
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{ 'has-error' : frmvoucher.type.$invalid && !frmvoucher.type.$pristine }">
                            <label class="control-label  bold ">  {{'voucher_type'| translate}}
                                <span class=" text-danger bold help-inline"> * </span>
                            </label>
                            <select class="form-control"
                                    ng-init=""
                                    ng-change="msg1.type = [ ]" ng-disabled="reanOnlyInput"
                                    name="type"
                                    ng-model='voucher.type'
                                    ng-required="true"
                            >
                                <option disabled selected value > --  {{'voucher_type'| translate}}  -- </option>
                                <option  value="1" > {{'non_financial'| translate}} </option>
                                <option  value="2" > {{'financial'| translate}} </option>
                            </select>

                            <span class="text-danger bold help-inline" ng-show="frmvoucher.type.$error.required && frmvoucher.type.$touched">
                                            {{'required_field'| translate}}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.type" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.type' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{ 'has-error' : frmvoucher.count.$invalid && !frmvoucher.count.$pristine }">
                            <label class="control-label  bold ">  {{'voucher_count'| translate}}
                                <span class=" text-danger bold help-inline"> * </span>
                            </label>
                            <input type="text" class="form-control"  ng-change="msg1.count = [ ]" readonly  ng-disabled="true"  ng-model="voucher.count" ng-required="true" ng-disabled="reanOnlyInput"name="count"
                                   placeholder="{{'voucher_count'| translate}} "  />

                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="col-md-3">
                        <div class="form-group" ng-class="{ 'has-error' : frmvoucher.value.$invalid && !frmvoucher.value.$pristine }">
                            <label class="control-label  bold ">  {{'voucher_value'| translate}}
                                <span class=" text-danger bold help-inline"> * </span>
                            </label>
                            <input type="text" class="form-control"  ng-change="msg1.value = [ ]" readonly  ng-disabled="true"  ng-model="voucher.value" ng-disabled="reanOnlyInput" ng-required="true" name="value"
                                   placeholder="{{'voucher_value'| translate}} "  />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="control-label bold">{{'allow_day'| translate}}<span class=" text-danger bold help-inline"> * </span></label>
                            <input type="text" class="form-control"
                                   ng-model="voucher.allow_day"  name="allow_day"
                                   ng-change="msg1.allow_day = [ ]" ng-disabled="true"
                            />
                            <span class="text-danger bold help-inline" ng-show="frmvoucher.allow_day.$error.required && frmvoucher.allow_day.$touched">
                                                            {{'required_field'| translate}}
                                    </span>
                            <span ng-repeat="(error, errortext) in msg1.allow_day"
                                  class="text-danger bold help-inline"
                                  ng-show="status1=='failed_valid' && 'msg1.allow_day' != [ ]" >
                                     {{ errortext.toString() }}
                                     </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            <label class="control-label bold">{{'exchange_rate'| translate}}
                                <span class=" text-danger bold help-inline"> * </span>
                            </label>
                            <input type="text" class="form-control"
                                   ng-model="voucher.exchange_rate"  name="exchange_rate" ng-required="true"
                                   readonly
                            />
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{ 'has-error' : frmvoucher.currency_id.$invalid && !frmvoucher.currency_id.$pristine }">
                            <label class="control-label bold">{{'currency'| translate}}
                                <span class=" text-danger bold help-inline"> * </span>
                            </label>
                            <ui-select name="currency_id" ng-model="voucher.currency_id" theme="bootstrap" readonly  ng-disabled="true" ng-required="true" class="text-right" >
                                <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in currency | filter: $select.search">
                                    <div ng-bind-html="item.name | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label bold">
                                {{'voucher_date'| translate}}
                                <span class=" text-danger bold help-inline"> * </span>
                            </label>
                            <div  class="input-group">
                                <input type="text" class="form-control"
                                       uib-datepicker-popup="{{format}}"
                                       ng-model="voucher.voucher_date"
                                       ng-required="true"
                                       datepickerPopup
                                       name="voucher_date"
                                       is-open="popup.opened" datepicker-options="dateOptions"
                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                <span class="input-group-btn" >
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-disabled="reanOnlyInput"
                                                        ng-click="open($event)">
                                                </button>
                                          </span>
                            </div>
                        </div>
                    </div>
                 <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label bold">    {{'receipt_date' | translate}}<span class=" text-danger bold help-inline"> * </span></label>
                            <div  class="input-group">
                                <input type="text" class="form-control"
                                       uib-datepicker-popup="{{format}}"
                                       ng-model="voucher.receipt_date"
                                       datepickerPopup
                                       ng-required="true"
                                       name="receipt_date"
                                       is-open="popup45.opened" datepicker-options="dateOptions"
                                       date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open45($event)">
                                                </button>
                                          </span>
                            </div>
                            <span class="text-danger bold help-inline" ng-show="frmvoucher.receipt_date.$error.required && frmvoucher.receipt_date.$touched">
                                                         {{'required_field' | translate}}
                                </span>
                            <span ng-repeat="(error, errortext) in msg1.receipt_date" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.receipt_date' != [ ]" >
                                         {{ errortext.toString() }}
                                </span>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-12 col-xs-12">
                        <div class="form-group" ng-class="{ 'has-error' : frmvoucher.receipt_time.$invalid && !frmvoucher.receipt_time.$pristine }">
                            <label class="control-label bold col-md-3" style="padding-top: 38px">  {{'receipt_time'| translate}}  </label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <uib-timepicker  ng-model="mytime"
                                                     style="margin-right:22%"
                                                     name="receipt_time"
                                                     ng-required="true"
                                                     ng-change="msg1.receipt_time = [ ]"
                                                     hour-step="hstep"
                                                     minute-step="mstep"
                                                     show-meridian="ismeridian">
                                    </uib-timepicker>
                                </div>
                                <span class="text-danger bold help-inline" ng-show="frmvoucher.receipt_time.$error.required && frmvoucher.receipt_time.$touched">
                                           {{'required_field' | translate}}
                                    </span>
                                <span ng-repeat="(error, errortext) in msg1.receipt_time" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.receipt_time' != [ ]" >
                                             {{ errortext.toString() }}
                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="col-md-12 col-sm-12 col-xs-12">
                    
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group  text-left" ng-class="{ 'has-error' : frmvoucher.receipt_location.$invalid && !frmvoucher.receipt_location.$pristine }">
                            <label class="control-label bold">  {{'receipt_location' | translate}} <span class=" text-danger bold help-inline"> * </span> </label>
                            <input type="text" class="form-control" ng-model="voucher.receipt_location" ng-required="true" name="receipt_location" ng-change="msg1.receipt_location = [ ]"
                                   placeholder="{{'receipt_location' | translate}} "  />
                            <span class="text-danger bold help-inline" ng-show="frmvoucher.receipt_location.$error.required && frmvoucher.receipt_location.$touched">
                                                         {{'required_field' | translate}}
                                </span>
                            <span ng-repeat="(error, errortext) in msg1.receipt_location" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.receipt_location' != [ ]" >
                                         {{ errortext.toString() }}
                                </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-4  col-sm-12 col-xs-12">
                        <div class="form-group" ng-class="{ 'has-error' : frmvoucher.transfer.$invalid && !frmvoucher.transfer.$pristine }">
                            <label class="control-label  bold ">  {{'transfer'| translate}}
                                <span class=" text-danger bold help-inline"> * </span>
                            </label>
                            <select class="form-control"
                                    ng-init=""
                                    ng-change="msg1.transfer = [ ]" ng-disabled="reanOnlyInput"
                                    name="transfer"
                                    ng-model='voucher.transfer'
                                    ng-required="true"
                            >
                                <option disabled selected value > --  {{'transfer'| translate}}  -- </option>
                                <option  value="0" > {{'direct'| translate}} </option>
                                <option  value="1" > {{'transfer_company'| translate}} </option>
                            </select>

                            <span class="text-danger bold help-inline" ng-show="frmvoucher.transfer.$error.required && frmvoucher.transfer.$touched">
                                            {{'required_field'| translate}}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.transfer" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.transfer' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                    <div class="col-md-6" ng-if="voucher.transfer == 1 || voucher.transfer == '1'">
                        <div class="form-group" ng-class="{ 'has-error' : frmvoucher.transfer_company_id.$invalid && !frmvoucher.transfer_company_id.$pristine }">
                            <label class="control-label bold">{{'transfer_company_name'| translate}}
                                <span class=" text-danger bold help-inline"> * </span>
                            </label>
                            <div class="input-group">
                                <ui-select name="transfer_company_id" ng-model="voucher.transfer_company_id" theme="bootstrap" ng-change="msg1.transfer_company_id = [ ]" ng-disabled="reanOnlyInput"
                                           ng-required="voucher.transfer == 1 || voucher.transfer == '1'"
                                           class="text-right" >
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in transferCompany | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn"  ng-disabled="reanOnlyInput">
                                            <button type="button" ng-click="voucher.transfer_company_id = undefined"  ng-disabled="reanOnlyInput" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                            </div>

                            <span class="text-danger bold help-inline" ng-show="frmvoucher.transfer_company_id.$error.required && frmvoucher.transfer_company_id.$touched">
                                                        {{'required_field'| translate}}
                                </span>
                            <span ng-repeat="(error, errortext) in msg1.transfer_company_id" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.transfer_company_id' != [ ]" >
                                         {{ errortext.toString() }}
                                </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6">
                        <div class="form-group text-left" ng-class="{ 'has-error' : frmvoucher.content.$invalid && !frmvoucher.content.$pristine }">
                            <label class="control-label bold">  {{'voucher_content'| translate}}
                                <span class=" text-danger bold help-inline"> * </span>
                            </label>
                            <textarea ng-model="voucher.content"
                                      name="content"
                                      placeholder="{{'voucher_content'| translate}}"
                                      ng-change="msg1.content = [ ]"
                                      class="form-control"
                                      rows="4"
                                      ng-required="true"
                                      ng-disabled="reanOnlyInput">
                            </textarea>
                            <span class="text-danger bold help-inline" ng-show="frmvoucher.content.$error.required && frmvoucher.content.$touched">
                                            {{'required_field'| translate}}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.content" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.content' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group text-left" ng-class="{ 'has-error' : frmvoucher.notes.$invalid && !frmvoucher.notes.$pristine }">
                            <label class="control-label bold">  {{'voucher_note'| translate}} <span class=" text-danger bold help-inline"> * </span> </label>
                            <textarea ng-model="voucher.notes"
                                      name="notes"
                                      ng-init=" "
                                      placeholder="{{'voucher_note'| translate}}"
                                      ng-change="msg1.notes = [ ]"
                                      class="form-control"
                                      ng-required="true"
                                      ng-disabled="reanOnlyInput"
                                      rows="4">

                    </textarea>
                            <span class="text-danger bold help-inline" ng-show="frmvoucher.notes.$error.required && frmvoucher.notes.$touched">
                                            {{'required_field'| translate}}
                    </span>
                            <span ng-repeat="(error, errortext) in msg1.notes" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.notes' != [ ]" >
                             {{ errortext.toString() }}
                    </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn blue"
                ng-click="confirm(voucher)" ng-disabled="frmvoucher.$invalid" type="button" >
           <span> {{'confirm_add_voucher'| translate}}</span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}} </span></button>
    </div>
</script>
<script type="text/ng-template" id="checkPerson_.html">
    <div class="modal-header" style="  padding:3%; ">
        <h4 style="" class="modal-title bold text-center"> {{'check_persons'| translate}} </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <form name="form" novalidate="" role="form" class=" text-center" style="padding: 1%;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <p class="text-left bold" style="margin: 0 0 5px 0;padding: 10px; border: 3px solid #fff0f1; border-radius: 4px 0 0 4px;  background-color: #fff0f1;color: #e43a45; min-height: 40px !important;">
                                {{'The maximum number of records in the uploaded file'| translate}} <span style="margin-left:3px ; margin-right:3px ;  "> : 500  </span> {{'record'| translate}}
                      </p>
                        <p class="text-left bold" style="
                        margin: 0 0 5px 0;
                        padding: 10px;
                        border: 3px solid #fff0f1;
                        border-radius: 4px 0 0 4px;
                        background-color: #fff0f1;
                        color: #e43a45;
                        min-height: 40px !important;
                        ">
                            {{'you should use the new card number for updated card number that be start with 700'| translate}}
                            <button type="button" class="btn red-pink btn-xs" ng-click="checkOldCard()">
                                <span class="fa fa-check-square"></span><span> {{'to check click here'| translate}}</span>
                            </button>
                        </p>
                    </div>
                    <div class="col-md-12  text-right">
                        <span class="text-primary pull-left text-right" >{{'download template'| translate}}</span>
                        <a   href="javascript:;" class="pull-left btn btn-xs btn-primary fa fa-download " style="margin-right: 2%"
                             ng-click="download()"
                        ></a>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 10px;">
                        <label class="control-label bold">{{'select import file'| translate}}</label>
                        <input type="file" id="upload" ng-required="true"
                               accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                               onchange="angular.element(this).scope().fileUpload(this)" class="form-control" data-nv-file-select="" data-uploader="uploader">
                        <span ng-repeat="(error, errortext) in err_msg.logo" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'err_msg.logo' != []" >
                            {{ errortext.toString()}}
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer" style="margin-top: 25px;">
        <button class="btn btn-primary" ng-click="confirm()" ng-disabled="!upload" type="button" >
            <span> {{'search'| translate}}</span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
</script>
