<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">

    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'Dashboard' | translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>
        <a href="#/aid-repository/organization/projects">
            {{'Projects' | translate}}
        </a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i> </li>
    <li>
        {{project.repository.name}} -
        {{project.name}} <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active"> {{'nominations' | translate}} </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<div class="row">
    <div class="col-md-5 col_float" ng-show="createForm">
        <div class="portlet light portlet-fit bordered" style="min-height: 250px !important;">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-plus font-dark"></i>
                    <span class="caption-subject font-dark sbold uppercase">{{'New' | translate}}</span>
                </div>
                <div class="actions">
                    <button class="btn btn-link btn-default"
                            ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
            <div class="portlet-body text-left">
                <form name="form" novalidate="" role="form" class="text-center">
                    <div class="form-group">
                        <label class="control-label bold">{{'Name'| translate}} <span class="required" aria-required="true"> * </span></label>
                        <input type="text" name="name" ng-model="row.label" required class="form-control" placeholder="{{'Name'| translate}}">
                    </div>
                    <div class="form-group">
                        <button class="btn blue" ng-click="save(row)" type="button" >
                            <span class="fa fa-save"></span>
                            <span> {{'save' | translate }}</span>
                        </button>
                        <button class="btn red-pink" ng-click="cancel()" type="button" >
                            <span class="fa fa-times"></span>
                            <span> {{'cancel' | translate }}</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div ng-class="{'col-md-7': createForm, 'col-md-12': !createForm}">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span class="glyphicon glyphicon-tags"></span>
                       <span> {{'nominations' | translate}} {{'to' | translate}} {{project.name}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <button ng-show=" !((project.repository.level == 1 || project.repository.level == '1')) && project.rules.length > 0"
                                class="btn  green-turquoise" ng-click="statistic()" uib-tooltip="{{'Candidates_Statistic' | translate}}">
                            <span class="fa fa-bar-chart"></span>
                            <span class="hidden-sm hidden-md  hidden-xs">{{'Candidates_Statistic'| translate}}</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container" ng-if="project.rules.length > 0" >
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                            <thead>
                            <tr style="background-color: #f3f3f3!important; color: #337ab7;  height:55px; line-height: 40px; font-size: 30px; ">
                                <th class="text-center" >{{'#'| translate}}</th>
                                <th class="text-center" ng-click="sort('label')"> {{'Rule' | translate }}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='label'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('username')"> {{'username' | translate }}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='username'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('created_at')"> {{'created_at' | translate }}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='created_at'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('created_at')">  </th>
                            </tr>
                            </thead>
                        <tbody>
                        <tr ng-repeat="rule in project.rules" >
                            <td class="text-center" >{{$index+1}}</td>
                            <th class="text-center">{{rule.label}}</th>
                            <th class="text-center">{{rule.user.firstname +' '+ rule.user.lastname}}</th>
                            <th class="text-center">{{rule.created_at}}</th>
                            <td class="text-center clearfix">
                              <a ng-show="project.status == 3 || project.status == 4"
                                   class="btn btn-xs green-sharp " uib-tooltip="{{'Rules' | translate}}"
                                   href="#/aid-repository/organization/projects/{{rule.project_id}}/rules/{{rule.id}}">
                                    <span class="glyphicon glyphicon-filter"></span>
                                    <span class="hidden-sm hidden-md  hidden-xs">{{'Rules' | translate}}</span>
                                </a>
                                <a  class="btn  btn-xs blue" uib-tooltip="{{'Candidates' | translate}}"
                                    href="#/aid-repository/organization/projects/{{rule.project_id}}/candidates/{{rule.id}}">
                                    <span class="fa fa-users"></span>
                                    <span class="hidden-sm hidden-md  hidden-xs">{{'Candidates' | translate}}</span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-if="project.rules.length ==  0" class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                    <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no rules to show'| translate}}
                                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BEGIN MAIN CONTENT -->
<!-- END MAIN CONTENT -->


<style type="text/css">
    @media (min-width: 992px){
        .col_float{
            float: left !important;
        }
    }

</style>