<!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'Dashboard' | translate}}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li> {{'Manage_Repository' | translate}} <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i> </li>
        <li>
            <a href="#/aid-repository/organization/projects"> {{'Projects' | translate}}</a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>
            {{project.repository.name}} - {{project.name}}
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li  ng-show="!(nomination.id == null || nomination.id == 'null')">
            <a  href="#/aid-repository/organization/projects/{{project.id}}/nominations-list">
                {{'nominations' | translate}}
            </a>
            <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
        </li>
        <li>  {{nomination.label}}  <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i> </li>
        <li   class="active"> {{'Rules' | translate}}</li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-dark">
                        <i class="font-dark"></i>
                        <h3>
                            <span class="glyphicon glyphicon-tags"></span>
                            <span>{{'Rules' | translate}} {{'to' | translate}}  {{nomination.label}}</span>
                        </h3>
                    </div>
                    <div class="actions" style="padding-top: 30px;">
                        <div class="clearfix">

                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                            <!-- BEGIN TABLE -->
                                <div class="col-md-12 col-sm-12 col-xs-12" ng-show="rules.length > 0 " style="min-height: 500px; padding: 2%; margin-bottom:1%;box-sizing: border-box; border-radius:10px; border: 1px #ddd solid; " >
                                    <div class="table-responsive">
                                        <table class="table table-hover table-condensed">
                                            <thead>
                                            <tr>
                                                <th>{{'Rule' | translate}}</th>
                                                <th>{{'Value' | translate}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            <tr ng-repeat="rule in rules">
                                                <th>{{rule.label}}</th>
                                                <td>
                                                    <div ng-if="rule.type == 'options'">
                                                        <span ng-repeat="option in rule.options">
                                                            <span class="label label-success">{{option.name}}</span>
                                                        </span>
                                                    </div>
                                                    <div ng-if="rule.type == 'range'">
                                                        <span class="label label-info">{{rule.min}}</span> - <span class="label label-info">{{rule.max}}</span>
                                                    </div>
                                                    <div ng-if="rule.type != 'range' && rule.type != 'options'">
                                                        {{rule.value}}
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- END TABLE -->
                               <div  ng-show="rules.length ==0 "  class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                                   <div class="well well-lg bold text-primary" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no rules to show'| translate}}
                                    </span>
                                   </div>
                                </div>
                           </div>
                        </div>
                    </div>
            </div>
       </div>
    </div>
    <!-- END MAIN CONTENT -->
