<div class="modal-header" style="  padding:5%; ">
    <h4 class="modal-title text-center bold">{{'status update form' | translate}} </h4>
</div>
<div class="modal-body">

    <form name="frm" novalidate="" role="form" class="row text-center" style="padding: 2%;">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group" ng-class="{ 'has-error' : frm.status.$invalid && !frm.status.$pristine }">
                    <label class="control-label  bold "> {{'status' | translate}}</label>
                    <select class="form-control" name="status" ng-model="FormData.status" ng-required="true" ng-change="msg1.status = [ ]">
                        <option value="1">  {{'nominate' | translate}}</option>
                        <option value="2">  {{'sent_' | translate}}</option>
                        <option value="3">  {{'accepted' | translate}}</option>
                        <option value="4">  {{'reject' | translate}}</option>
                    </select>
                    <span class="text-danger bold help-inline" ng-show="frm.status.$error.required && frm.status.$touched">
                          {{'required_field' | translate}}
                        </span>
                    <span ng-repeat="(error, errortext) in msg1.status" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.status' != [ ] " >
                                 {{ errortext.toString() }}
                        </span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="note note-success">
                        <i style="font-size: larger" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        {{'at least the imported file must be included id card number for all status ,but for rejected should be contain reason' | translate}}
                </div>
            </div>
            <div class="col-md-12  text-right">
                <span class="text-primary pull-left text-right" >{{'download template'| translate}}</span>
                <button type="button" style="margin-right: 2%" class="pull-left btn btn-xs btn-primary fa fa-download " STYLE="margin-right: 0.5%;"
                        ng-click="download()"></button>

            </div>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <label class="control-label bold">{{'select import file'| translate}} </label>
                <input type="file" ng-required="true" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" onchange="angular.element(this).scope().fileupload(this)" class="form-control" data-nv-file-select="" data-uploader="uploader">
                <span ng-repeat="(error, errortext) in err_msg.logo" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'err_msg.logo' != []" >
                            {{ errortext.toString()}}
                        </span>
            </div>
            <div ng-repeat="item in Uploader.queue" class="row">
                <!--<div class="col-md-2">-->
                    <!--<div ng-show="Uploader.isHTML5" ng-thumb="{ file: item._file, height: 48 }"></div>-->
                <!--</div>-->
                <div class="col-md-2" ng-show="Uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</div>
                <div class="col-md-3" ng-show="Uploader.isHTML5">
                    <div class="progress progress-sm" style="margin-bottom: 0;">
                        <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                    </div>
                </div>
                <div class="col-md-1 text-center">
                        <span ng-show="item.isSuccess" class="text-success">
                            <i class="glyphicon glyphicon-ok"></i>
                        </span>
                    <span ng-show="item.isCancel" class="text-info">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                        </span>
                    <span ng-show="item.isError" class="text-danger">
                            <i class="glyphicon glyphicon-remove"></i>
                        </span>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn red-pink btn-xs" ng-click="item.remove()">
                        <span class="glyphicon glyphicon-trash"></span> <span>{{'remove'| translate}} </span></button>
                </div>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <!--        ng-disabled="frm.$invalid"-->
    <button class=" btn btn-primary" ng-disabled="frm.$invalid || !upload "ng-click="confirm(FormData)" type="button" > <span>{{'edit'| translate}}</span>  </button>
    <button class="btn red-pink"  ng-click="cancel()"> <span> {{'cancel'| translate}} </span></button>
</div>