

<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{'aids management' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> <a href="#/aids/vouchers"> {{'vouchers'| translate}} </a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li>  {{'voucher attachments'| translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" > {{ row.title }} </li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title text-center">

                    <div class="caption font-dark">
                        <i class="font-dark"></i>
                        <h3>
                            <span class="fa fa-list"></span>
                            <span>  {{'voucher attachments'| translate}}</span>
                            <span> " {{ row.title }} "</span>
                        </h3>
                    </div>
                    <div class="actions" style="padding-top: 30px;">
                        <div class="clearfix">

                            <button type="button" class="btn blue  pull-left"  ng-click="select()">
                                <span class="glyphicon glyphicon-plus"></span>
                                <span class="hidden-sm hidden-md  hidden-xs">{{'add attachment'| translate}}</span>
                            </button>

                        </div>
                    </div>

                </div>
                <div class="portlet-body">
                    <div class="row" style="margin-bottom: 2%;">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="">


                        </div>
                    </div>
                    <div class="table-toolbar" ng-if="row.attachments.length > 0 ">
                        <!-- BEGIN TABLE -->
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                            <thead>
                            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                <th class="col-md-1 text-center" > {{'#'| translate}}</th>
                                <th class="col-md-5 text-center" > {{'attachment name'| translate}}</th>
                                <th class="col-md-6 text-center" > {{'operations'| translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="doc in row.attachments">
                                <td>{{ $index+1 }}</td>
                                <td>{{ doc.file.name }}</td>
                                <td>
                                    <a class="btn  green-turquoise btn-xs" data-download="{{ doc.name }}"
                                       doc-file-download data-url="/doc/files/download/{{doc.document_id}}">
                                        <span class="fa fa-cloud-download"></span> <span>{{'download'| translate}}</span> </a>

                                    <button type="button" class="btn btn-xs bold text-danger bold fa fa-trash-o" style="font-size: medium; background-color: transparent"
                                            ng-click="delete(doc.document_id,$index)"></button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                        <!-- END TABLE -->

                    </div>
                    <div ng-if="row.attachments.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                        {{'there is no data to show'| translate}}
                                                                    </span>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
<!-- END MAIN CONTENT -->
<script type="text/ng-template" id="myModalContent2.html">
    <div class="modal-header" style="  padding:5%; ">
        <h4 class="modal-title bold text-center"> {{'Files Uploaded form' | translate }} </h4>
    </div>
    <div class="modal-body">

        <div class="row" style="padding: 2%;">

            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="col-md-12 col-sm-12 col-xs-12" style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">{{'select attachment'| translate}}</label>
                        <div class="col-md-10">
                            <div class="margin-bottom-20">
                                <input type="file" nv-file-select=""
                                       uploader="uploader"
                                       accept=
                                               "application/msword, application/vnd.ms-excel, application/pdf, image/* ,
                                           .xlsx,.xls,.doc,.docx,.pdf"
                                >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="uppercase">
                            <th width="50%">{{'name'| translate}}</th>
                            <th ng-show="uploader.isHTML5">{{'size'| translate}}</th>
                            <th ng-show="uploader.isHTML5">{{'progress'| translate}}</th>
                            <th>{{'status'| translate}}</th>
                            <th>{{'actions'| translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td>{{ item.file.name}}</td>
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress progress-sm" style="margin-bottom: 0;">
                                    <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                                <span ng-show="item.isSuccess" class="text-success">
                                                    <i class="glyphicon glyphicon-ok"></i>
                                                </span>
                                <span ng-show="item.isError" class="text-danger">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span><span> {{'upload'| translate}} </span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div>
                        <p>{{'queue_progress'| translate}}:</p>
                        <div class="progress progress-sm" style="">
                            <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
</script>
