<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{'aids management' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> <a href="#/aids/vouchers"> {{'vouchers'| translate}} </a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li class="active" > <span>{{'vouchers-categories'| translate}}</span> </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<!-- BEGIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <h3>
                        <span class="fa fa-sitemap"></span>
                        <span>{{'vouchers-categories'| translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">
                        <button type="button" ng-click="new('sm')" class="btn yellow-crusta" style="margin-bottom: 2%;">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span>{{'new'| translate}}</span>
                        </button>

                    </div>

                </div>

            </div>
            <div class="portlet-body">  
                    <div class="row" >
                        <div lass="col-md-12 col-sm-12 col-xs-12" ng-show="items.length != 0">
                            <div class="col-md-6 col-sm-12 col-xs-12 dataTables_length text-left" id="sample_1_length">
                                <label>
                                {{'show'| translate}}
                                    <select
                                        class="form-control input-sm input-inline" ng-init=""
                                        ng-change="itemsPerPage_(itemsCount)"
                                        name="itemsCount" 
                                        ng-model='itemsCount'>
                                       <option value="50">50</option><option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                        <option value="-1">{{'show_All'| translate}}</option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">

                               <form class="form-inline search-form pull-right">
                                    <div class="input-group">
                                        <input type="text"
                                               ng-model="search"
                                               class="form-control"
                                               placeholder="{{'search'| translate}} "
                                               name="search">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- BEGIN TABLE -->
                        <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="items.length != 0 ">
                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                                    <thead>
                                    <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                        <th class="col-md-1 text-center" > {{'#'| translate}}</th>
                                        <th class="text-center" ng-click="sort('categories_name')" > {{'categories_name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='categories_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="col-md-8 text-center" > {{'operations'| translate}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="item in items |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage" ng-show="items.length != 0 ">
                                        <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                        <td>{{ item.name }}</td>
                                        <td>

                                            <button uib-tooltip="{{'add vouchers category'| translate}}"
                                                    type="button"
                                                    style="font-size: medium; background-color: transparent"
                                                    class="btn btn-xs bold font-yellow-crusta glyphicon glyphicon-plus"
                                                    ng-click="addSub('sm',item.id)">
                                            </button>

                                             <button uib-tooltip="{{'sub vouchers category'| translate}}"
                                                    type="button"
                                                    style="font-size: medium; background-color: transparent"
                                                    class="btn btn-xs bold font-green-meadow fa fa-list"
                                                    ng-click="getSub('md',item.id)">
                                           </button>
                                            <button uib-tooltip="{{'edit'| translate}}" type="button"
                                                    class="btn btn-xs bold font-blue fa fa-edit"
                                                    style="font-size: medium; background-color: transparent"
                                                    ng-click="edit('sm',item.id)">
                                            </button>
                                            <button uib-tooltip="{{'delete'| translate}}" type="button"
                                                    class="btn btn-xs bold font-red-pink fa fa-trash-o"
                                                    style="font-size: medium; background-color: transparent"
                                                    ng-click="delete('sm',item.id)">
                                            </button>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END TABLE -->


                        <div  ng-show="items.length == 0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="items.length != 0 ">
                            <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                <span class="bold ">{{'number of total items'| translate}} : </span>
                                <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                <span class="bold ">{{'row'| translate}}</span>
                            </div>
                            <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- END CONTENT -->
<!-- END MAIN CONTENT -->

<script type="text/ng-template" id="Content.html">
    <div class="modal-header" style="  padding:12%; ">
        <h4 class="modal-title text-center font-blue" ng-show="action =='out'">{{'add_new_vouchers_category_form'| translate}}</h4>
        <h4 class="modal-title text-center font-blue" ng-show="action =='sub'">{{'add_new_sub_vouchers_category_form'| translate}}</h4>
    </div>
    <div class="modal-body">
        <form name="frm"  novalidate="" role="form" class=" text-center" style="padding: 2%;">
            <div ng-show="action =='out'" class="form-group" ng-class="{ 'has-error' : frm.type.$invalid && !frm.type.$pristine }">
                <label class="control-label bold">  {{'voucher_category_type'| translate}} </label>
                <select class="form-control" name="type" autofocus ng-model="category.type" ng-change="setParent(category.type)" ng-required="action =='out'">
                    <option selected value>{{'voucher_category_type'| translate}}  </option>
                    <option value="0">{{'main'| translate}}  </option>
                    <option value="1">{{'sub'| translate}}  </option>
                </select>
                <span ng-repeat="(error, errortext) in msg1.type" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.type' != [ ]" >
                         {{ errortext.toString() }}
                </span>
            </div>
            <div ng-show="action =='out' && category.type == 1" class="form-group"  ng-class="{ 'has-error' : frm.type.$invalid && !frm.type.$pristine }">
                <label class="control-label bold">  {{'category_parent'| translate}} </label>
                <select class="form-control" name="parent" ng-model="category.parent"
                        ng-change="msg1.parent = [ ]" ng-required="action =='out' && category.type == 1">
                    <option selected value>{{'category_parent'| translate}}  </option>
                    <option ng-repeat="option in Parent"  value="{{option.id}}"    >
                        {{option.name}}
                    </option>
                </select>
                <span ng-repeat="(error, errortext) in msg1.parent" class="text-danger bold help-inline"
                      ng-show="status1=='failed_valid' && 'msg1.parent' != [ ]" >
                         {{ errortext.toString() }}
                </span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : frm.name.$invalid && !frm.name.$pristine }">
                <label class="control-label bold">  {{'categories_name'| translate}} </label>
                <input type="text" class="form-control" ng-model="category.name"  name="name" ng-change="msg1.name = [ ]" ng-required="true"
                       placeholder="{{'categories_name'| translate}} " />
                <span ng-repeat="(error, errortext) in msg1.name" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.name' != [ ]" >
                         {{ errortext.toString() }}
                </span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class=" btn blue" ng-disabled="frm.$invalid" ng-click="confirm(category)"type="button" >
            <span>{{'save'| translate}}</span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"><span> {{'cancel'| translate}}</span> </button>
    </div>
</script>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header" style="  padding:12%; ">

        <h4 class="modal-title text-center" ng-show="action =='add'">{{'add_new_vouchers_category_form'| translate}}</h4>
        <h4 class="modal-title text-center" ng-show="action=='edit'">{{'edit_vouchers_category_form'| translate}}</h4>
        <h4 class="modal-title text-center" ng-show="action=='delete'">{{'delete_vouchers_category_form'| translate}}</h4>

    </div>
    <div class="modal-body" ng-show="action !='delete'">
        <form name="frm"  novalidate="" role="form" class=" text-center" style="padding: 2%;">
            <div class="form-group" ng-class="{ 'has-error' : frm.name.$invalid && !frm.name.$pristine }">
                <label class="control-label">  {{'categories_name'| translate}} </label>
                <input type="text" class="form-control" autofocus ng-model="category.name"  name="name" ng-change="msg1.name = [ ]" ng-required="true"
                       placeholder="{{'categories_name'| translate}} " />

                <span class="text-danger bold help-inline" ng-show="frm.name.$error.required && frm.name.$touched">
                         {{'required_field'| translate}}
                </span>
                <span ng-repeat="(error, errortext) in msg1.name" class="text-danger bold help-inline" ng-show="status1=='failed_valid' && 'msg1.name' != [ ]" >
                         {{ errortext.toString() }}
                </span>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button ng-show="action !='delete'" class=" btn blue" ng-disabled="frm.$invalid" ng-click="confirm(category)"type="button" >
         <span ng-show="action =='add'">
            {{'add'| translate}}
        </span>
            <span ng-show="action =='edit'">
            {{'edit'| translate}}
        </span>
        </button>
        <button ng-show="action =='delete'" class=" btn blue"ng-click="confirm(category)"type="button">
            <span>{{'delete'| translate}}</span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}} </span></button>
    </div>
</script>

<script type="text/ng-template" id="SubCat.html">
    <div class="modal-header" style="  padding:5%; ">
        <h4 class="modal-title bold text-center"> {{'sub vouchers category'| translate}} </h4>
    </div>
    <div class="modal-body">
        <form name="frm"  novalidate="" role="form" class=" text-center" style="padding: 2%;">
            <!-- BEGIN TABLE -->
            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" ng-if="hasSub">
                <thead>
                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                    <th class="text-center" > {{'#'| translate}} </th>
                    <th class="text-center">{{'categories_name'| translate}}</th>
                    <th class="text-center">{{'delete'| translate}}</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="item in Subs" ng-form='TranslateForm' >
                    <td>{{ $index+1 }}</td>
                    <td>
                        <div class="form-group"  ng-class="{ 'has-error' : TranslateForm.name.$invalid && (!TranslateForm.name.$pristine || TranslateForm.name.$touched)}">
                            <input type="text" class="form-control" name="name" ng-model="item.name" ng-change="CheckChange(item.name)"/>
                        </div>
                    </td>
                    <td>
                        <button type="button"
                                class="btn btn-xs bold font-red fa fa-trash-o"
                                style="font-size: medium; background-color: transparent"
                                ng-click="delete('sm',item.id)">
                        </button>

                    </td>
                </tr>

                </tbody>
            </table>
            <!-- END TABLE -->
            <div ng-if="!hasSub" class="text-center" style="margin-bottom: 2%">

                    {{'no sub vouchers category to show'| translate}}

            </div>

        </form>

    </div>
    <div class="modal-footer">
        <button class=" btn blue"  ng-if="hasSub" ng-disabled="ValidForm== false"  ng-click="confirm(Subs)"type="button" >
            <span> {{'confirm edit'| translate}} </span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
</script>

