
<style>
    .bg-ylw {
        background-color: #ffefad !important;
    }
    .bg-gr {
        background-color: #ddebff !important;
    }
</style>
<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{'aids management' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> <a href="#/aids/vouchers"> {{'vouchers'| translate}} </a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li  >  {{'voucher_beneficiary'| translate}}
        <i class="glyphicon glyphicon-menu-right" ng-show="voucher"></i>
    </li>
    <li class="active" ng-show="voucher"> <a href="#/aids/voucher/{{id}}">  {{ voucher }}  </a></li>
</ul>
<!-- END PAGE BREADCRUMB -->

<!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light bordered">
                <div class="portlet-title text-center">

                    <div class="caption font-dark">
                        <i class="font-dark"></i>
                        <h3 ng-show="voucher">
                            <span class="fa fa-users"></span>
                            <span> {{'The Beneficiary Name of'| translate}}</span>
                            <span> {{ voucher }}</span>
                        </h3>
                    </div>
                    <div class="actions" style="padding-top: 30px;">
                        <div class="clearfix">
                            <button  class="btn yellow-saffron fa fa fa-archive"
                                     ng-click="voucherFiles()"
                                     uib-tooltip="{{'download attachments'| translate}}">
                            </button>
                            <button type="button"
                                    ng-click="Export('pdf')" class="  btn red-pink fa fa-file-pdf-o" ng-show="items.length != 0">
                                <span class=""></span>
                                <!--<span class="hidden-sm hidden-md  hidden-xs">{{'export Beneficiary to excel'| translate}}</span>-->
                            </button>
                            <button type="button" ng-click="Export('xls')" class="  btn btn fa fa-file-excel-o green-turquoise" ng-show="items.length != 0">
                                <span class=""></span>
<!--                                <span class="hidden-sm hidden-md  hidden-xs">{{'export Beneficiary to excel'| translate}}</span>-->
                            </button>
                            <a  uib-tooltip="{{'back to Vouchers'| translate}}" class="btn blue fa fa-backward"  href="#/aids/vouchers">
                                <span class=""  style="margin-right: 2%;"></span>
<!--                                <span class="hidden-sm hidden-md  hidden-xs"></span>-->
                            </a>
                        </div>
                   </div>
                 </div>

                <div class="portlet-body">
                    <div ng-show="beneficiary" class="col-md-12 col-sm-12 col-xs-12 text-center margin-top-5 margin-bottom-5"
                         style="padding-top: 10px !important;padding-bottom: 10px;background-color: #f3f3f3!important;color: #2c7bb1;vertical-align: middle !important;">
                        <h4  ng-show="beneficiary == 1" > {{'beneficiary'| translate}} : "{{'head of family'| translate}}" </h4>
                        <h4 ng-show="beneficiary == 2"  > {{'beneficiary'| translate}} : "{{'other person'| translate}}" </h4>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 10px; margin-top: 5px;padding: 0;">
                        <div class="clearfix pull-left">
                            <div class="dataTables_length" id="sample_1_length">
                                <label>
                                    <select
                                            class="form-control input-sm input-inline" ng-init=""
                                            ng-change="itemsPerPage_(itemsCount)"
                                            name="itemsCount"
                                            ng-model='itemsCount'>
                                        <option disabled selected value> {{'show'| translate}} </option>
                                       <option value="50">50</option><option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                        <option value="-1">{{'show_All'| translate}}</option>
                                    </select>
                                </label>
                            </div>
                            <div class="btn-group btn-group-solid  " ng-show="voucherStatus == 0 && is_mine">
                                <button type="button" class="btn blue dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="fa fa-ellipsis-horizontal"></span>
                                    <span class="fa fa-edit"  style="margin-right: 2%;"></span>
                                    <span class="hidden-sm hidden-md  hidden-xs">{{'update'| translate}}</span>
                                    <span class="glyphicon glyphicon-menu-down"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-show="items.length > 0">
                                        <a href="javascript:;" ng-click="updateData('all',0,1,null)">
                                            {{'receipt status'| translate}} -  {{'receipt'| translate}} ( {{'All'| translate}} )
                                        </a>
                                    </li>
                                    <li ng-show="items.length > 0">
                                        <a href="javascript:;" ng-click="updateData('all',0,2,null)">
                                            {{'receipt status'| translate}} -   {{'not receipt'| translate}} ( {{'All'| translate}} )
                                        </a>
                                    </li>
                                    <li ng-show="items.length > 0">
                                        <a href="javascript:;" ng-click="updateData('status',0,1,null)">
                                            {{'receipt status'| translate}} -  {{'receipt'| translate}} ( {{'manually'| translate}} )
                                        </a>
                                    </li>
                                    <li ng-show="items.length > 0">
                                        <a href="javascript:;" ng-click="updateData('status',0,2,null)">
                                            {{'receipt status'| translate}} -   {{'not receipt'| translate}} ( {{'manually'| translate}} )
                                        </a>
                                    </li>
                                    <li ng-show="items.length > 0">
                                        <a href="javascript:;" ng-click="updateData('data',0,'manually',null)">
                                            {{'receipt_data'| translate}} - ( {{'manually'| translate}} )
                                        </a>
                                    </li>
                                    <li ng-show="items.length > 0">
                                        <a href="javascript:;" ng-click="updateData('data',0,'excel',null)">
                                            {{'receipt_data'| translate}} - ( {{'using excel'| translate}} )
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group "  uib-dropdown>
                                <button id="single-button1" type="button" class="  btn btn yellow-saffron" uib-dropdown-toggle ng-disabled="disabled">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    <span class="hidden-sm hidden-md  hidden-xs">{{'send sms messege'|translate}}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                    <li ng-show="items.length != 0">
                                        <a ng-click="sendSms('manual',0)" class="iconify">
                                            <i class="fa fa-hand-paper-o" style="margin-left: 4%"></i>{{'manually'| translate}}</a>
                                    </li>
                                    <li>
                                        <a ng-click="sendSms('xlx',0)" class="iconify">
                                            <i class="fa fa-file-excel-o"  style="margin-left: 4%"></i>{{'using excel'| translate}}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix pull-right">
                            <form class="form-inline search-form pull-right" style="margin-left:0.3%;" ng-show="items.length != 0">
                                <div class="input-group">
                                    <input type="text"
                                           ng-model="search"
                                           class="form-control" autofocus
                                           placeholder="{{'search'| translate}} "
                                           name="search">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="table-toolbar">
                        <!-- BEGIN TABLE -->
                        <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                            <thead>
                            <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                                <th class="text-center"> {{'#'| translate}}
                                <th class="text-center" >
                                    <input type="checkbox"
                                           data-on-color="primary"
                                           data-off-color="info"
                                           ng-model="All"
                                           ng-change="allCheckbox(All)"
                                           ng-true-value="true"
                                           ng-false-value="false"
                                    >
                                </th>
                                <th class="text-center" ng-click="sort('name')"> {{'full name'| translate}} <br> ({{'head of family'| translate}})
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('id_card_number')"> {{'card_number' | translate }}  <br> ({{'head of family'| translate}})
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='id_card_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-show="beneficiary == 2" class="text-center" ng-click="sort('individual_name')"> {{'full name'| translate}} <br> ({{'individual_'| translate}})
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='individual_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th ng-show="beneficiary == 2" class="text-center" ng-click="sort('individual_id_card_number')"> {{'card_number' | translate }}  <br> ({{'individual_'| translate}})
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='individual_id_card_number'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('primary_mobile')"> {{'primary_mobile'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='primary_mobile'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('receipt_date')"> {{'receipt_date'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='receipt_date'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('receipt_time')"> {{'receipt_time'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='receipt_time'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th style="width: 150px" class="text-center" ng-click="sort('receipt_location')"> {{'receipt_location'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='receipt_location'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" ng-click="sort('receipt_status_name')"> {{'receipt_status'| translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='receipt_status_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                </th>
                                <th class="text-center" > {{'operations'| translate}} </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr dir-paginate="item in items|orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage">
                              <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                <td>
                                    <input type="checkbox" class="make-switch"
                                           data-on-color="primary"
                                           data-off-color="info"
                                           ng-model="item.check"
                                           ng-checked="selectAll"
                                           ng-true-value="true"
                                           ng-false-value="false"
                                    >
                                </td>
                                <td>{{item.name}}
                                   <br><br>
                                    <button ng-show="item.document_id != null" type="button" class="btn green-turquoise btn-xs"
                                            data-download="{{ item.name }}"
                                            doc-file-download data-url="/doc/files/download/{{item.document_id}}">
                                        <span class="glyphicon glyphicon-upload"></span><span> {{'download'| translate}}</span>
                                    </button>
                                    <button ng-show="item.document_id != null"type="button" class="btn yellow-saffron btn-xs"
                                            ng-click="ChooseAttachment(item,'edit')">
                                        <span class="fa fa-refresh"></span>
                                        <span style="">{{'reload'| translate}}</span>
                                    </button>

                                    <button ng-show="item.document_id == null"
                                            type="button" class="btn blue btn-xs" ng-click="ChooseAttachment(item,'add')">
                                        <span class="fa fa-upload"></span>
                                        <span style="">{{'attachment upload'| translate}}</span>
                                    </button>

                                </td>
<!--                                <td>{{ item.receipt_type }}</td>-->
                                <td>{{ item.id_card_number }} </td>
                                <td ng-show="beneficiary == 2" >{{item.individual_name}}</td>
                                <td ng-show="beneficiary == 2" >{{ item.individual_id_card_number }} </td>
                                <td>{{ item.primary_mobile }}</td>
                                <td>{{ item.receipt_date }}</td>
                                <td>{{ item.receipt_time_ }}</td>
                                <td>{{ item.receipt_location }}</td>
                                <td class="bold" ng-class="{'font-green-jungle':(item.receipt_status == 1),'font-red-pink': item.receipt_status != 1 }">
                                    {{ item.receipt_status_name }}
                                </td>
                                <td>

                                    <a type="button" uib-tooltip="{{'set_receipt'| translate}}"
                                       ng-show="is_mine &&  item.receipt_status!= 1"
                                       class="btn btn-xs bold font-green-jungle fa fa-check"
                                       ng-click="updateData('status',item.id,1,null)"
                                       uib-tooltip=""
                                       style="margin-left: 1%; font-size: medium; background-color: transparent">
                                    </a>
                                    <a type="button" uib-tooltip="{{'set_not_receipt'| translate}}" class="btn btn-xs bold font-red-pink fa fa-remove"
                                       ng-show="is_mine &&  item.receipt_status== 1"
                                       ng-click="updateData('status',item.id,2,null)"
                                       style="margin-left: 1%; font-size: medium; background-color: transparent">
                                    </a>

                                    <a type="button" class="btn btn-xs bold font-blue fa fa-file-word-o"
                                            ng-click="ExportToWord(item.person_id,voucher_id)"
                                            style="margin-left: 1%; font-size: medium; background-color: transparent">
                                    </a>
                                    <a type="button" class="btn btn-xs  font-yellow-saffron glyphicon glyphicon-envelope"
                                            style=" font-size: medium; background-color: transparent"
                                            ng-click="sendSms('manual',item.person_id)"></a>
                                    <a ng-show="voucherStatus == 0 && is_mine" type="button" class="btn btn-xs  font-green-turquoise fa fa-edit"
                                            style=" font-size: medium; background-color: transparent"
                                            ng-click="update('sm',item.person_id,item.voucher_id,item.receipt_date,item.receipt_time,item.receipt_location,item.status)">
                                    </a>
                                   <a ng-show="voucherStatus == 0 && is_mine" type="button" class="btn btn-xs bold font-red-pink fa fa-trash-o" style="font-size: medium; background-color: transparent"
                                            ng-click="deletePerson('sm',item.person_id,item.voucher_id)"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- END TABLE -->

                        <div class="row" ng-show="items.length != 0">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                    <span class="bold ">{{'number of total items'| translate}} : </span>
                                    <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                    <span class="bold ">{{'row'| translate}}</span>
                                </div>
                                <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                            </div>
                        </div>
                    </div>
                    <div ng-show="items.length == 0" class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                        <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
<!-- END MAIN CONTENT -->

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header" style="  padding:6%; ">
        <h4 class="modal-title text-center">  {{'edit'| translate}}  {{'receipt_data'| translate}}  </h4>
    </div>
    <div class="modal-body">
        <form name="frmcasevouchers" novalidate="" role="form" class=" text-center" style="padding: 2%;">
             <div class="row">
                 <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="col-md-12 col-sm-12 col-xs-12">
                         <div class="form-group" ng-class="{ 'has-error' : frmcasevouchers.receipt_location.$invalid && !frmcasevouchers.receipt_location.$pristine }">
                             <label class="control-label bold">  {{'receipt_location'| translate}}  </label>
                             <input type="text" class="form-control" ng-model="person_vouchers.receipt_location" name="receipt_location"
                                    placeholder="{{'receipt_location'| translate}} "  />
                         </div>
                     </div>
                 </div>
                 <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group" ng-class="{ 'has-error' : frmcasevouchers.status.$invalid && !frmcasevouchers.status.$pristine }">
                            <label class="control-label bold">   {{'receipt_status'| translate}} </label>
                            <select class="form-control" name="status" ng-model="person_vouchers.status">
                                <option selected value>{{'receipt_status'| translate}}  </option>
                                <option value="1">{{'receipt'| translate}} </option>
                                <option value="2"> {{'not_receipt'| translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group" ng-class="{ 'has-error' : frmcasevouchers.receipt_date.$invalid && !frmcasevouchers.receipt_date.$pristine }">
                            <label class="control-label bold">   {{'receipt_date'| translate}} </label>
                            <div  class="input-group">
                                <input type="text" class="form-control"
                                       uib-datepicker-popup="{{format}}"
                                       ng-model="person_vouchers.receipt_date"
                                       datepickerPopup
                                       name="receipt_date"
                                       ng-change="msg1.receipt_date = [ ]"
                                       is-open="popup4.opened"
                                       datepicker-options="dateOptions"
                                       date-disabled="disabled(date, mode)"
                                       clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly />
                                <span class="input-group-btn">
                       <button type="button" class="btn fa fa-calendar btn-default" ng-click="open4($event)">

                       </button>
                   </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="form-group" ng-class="{ 'has-error' : frmcasevouchers.receipt_time.$invalid && !frmcasevouchers.receipt_time.$pristine }">
                            <label class="control-label bold" style=" margin-top: 38px;">   {{'receipt_time'| translate}} </label>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <div class="form-group" ng-class="{ 'has-error' : frmcasevouchers.receipt_time.$invalid && !frmcasevouchers.receipt_time.$pristine }">
                            <uib-timepicker  ng-model="mytime"
                                             name="receipt_time"
                                             ng-change="msg1.receipt_time = [ ]"
                                             hour-step="hstep"
                                             minute-step="mstep"
                                             show-meridian="ismeridian">
                            </uib-timepicker>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button class=" btn blue" ng-click="confirmUpdate(person_vouchers)" type="button" >
            <span>{{'confirm_edit_voucher'| translate}}</span>  </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
</script>


<script type="text/ng-template" id="update_beneficiary.html">
    <div class="modal-header" style="  padding:5%; ">
        <h4 class="modal-title text-center">  {{'edit'| translate}}  {{'receipt_data'| translate}}  </h4>
    </div>
    <div class="modal-body">
        <div class="row" style="padding: 2%;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                        <p class="col-md-12 col-sm-12 col-xs-12">
                            <p class="text-left bold" style="
                                    margin: 0 0 5px 0;
                                    padding: 10px;
                                    border: 3px solid #fff0f1;
                                    border-radius: 4px 0 0 4px;
                                    background-color: #fff0f1;
                                    color: #e43a45;
                                    min-height: 40px !important;
                                    ">
                                     {{'The maximum number of records in the uploaded file'| translate}} <span style="margin-left:3px ; margin-right:3px ;  "> : 500  </span> {{'record'| translate}}

                            </p>
                            <p class="text-left bold" style="
                        margin: 0 0 5px 0;
                        padding: 10px;
                        border: 3px solid #fff0f1;
                        border-radius: 4px 0 0 4px;
                        background-color: #fff0f1;
                        color: #e43a45;
                        min-height: 40px !important;
                        ">
                                {{'you should use the new card number for updated card number that be start with 700'| translate}}
                                <button type="button" class="btn red-pink btn-xs" ng-click="checkOldCard()">
                                    <span class="fa fa-check-square"></span><span> {{'to check click here'| translate}}</span>
                                </button>
                            </p>
                        </div>
                        <div class="col-md-12  text-right">
                    <span class="font-blue pull-left text-right bold" >{{'download template'| translate}}</span>
                    <a   href="javascript:;" class="pull-left btn btn-xs blue fa fa-download " style="margin-right: 2%"
                         ng-click="download()"
                    ></a>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px !important;">
                    <label class="control-label bold">{{'select import file'| translate}}</label>
                    <input type="file" ng-required="true" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" onchange="angular.element(this).scope().fileupload(this)" class="form-control" data-nv-file-select="" data-uploader="uploader">
                    <span ng-repeat="(error, errortext) in err_msg.logo" class="text-danger bold help-inline" ng-show="status1 == 'failed_valid' && 'err_msg.logo' != []" >
                            {{ errortext.toString()}}
                        </span>
                </div>
                <div ng-repeat="item in Uploader.queue" class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-2" ng-show="Uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</div>
                    <div class="col-md-3" ng-show="Uploader.isHTML5">
                        <div class="progress progress-sm" style="margin-bottom: 0;">
                            <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </div>
                    <div class="col-md-1 text-center">
                        <span ng-show="item.isSuccess" class="text-success">
                            <i class="glyphicon glyphicon-ok"></i>
                        </span>
                        <span ng-show="item.isCancel" class="text-info">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                        </span>
                        <span ng-show="item.isError" class="text-danger">
                            <i class="glyphicon glyphicon-remove"></i>
                        </span>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn red-pink btn-xs" ng-click="remove()">
                            <span class="glyphicon glyphicon-trash"></span><span> {{'remove'| translate}}</span> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn blue" ng-click="confirm()" type="button" >
            <span> {{'import'| translate}}</span>
        </button>
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
</script>
<script type="text/ng-template" id="file_upload.html">
    <div class="modal-header" style="  padding:5%; ">
        <h4 class="modal-title bold text-center"> {{'Files Uploaded form' | translate }} </h4>
    </div>
    <div class="modal-body">
        <div class="row" style="padding: 2%;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12" style="box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                    <div class="form-group">
                        <label class="control-label bold col-md-2">{{'select attachment'| translate}}</label>
                        <div class="col-md-10">
                            <div class="margin-bottom-20">
                                <input type="file" accept="image/x-png,image/gif,image/jpeg,image/jpg,
                                                           .doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,
                                                           application/pdf,
                                                           zip,application/octet-stream,application/zip,application/x-zip,application/x-zip-compressed,
                                                           application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                       nv-file-select="" onchange="angular.element(this).scope().fileupload(this)"  uploader="uploader" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-hover table-light">
                        <thead>
                        <tr class="uppercase">
                            <th ng-show="uploader.isHTML5">{{'size'| translate}}</th>
                            <th ng-show="uploader.isHTML5">{{'progress'| translate}}</th>
                            <th>{{'status'| translate}}</th>
                            <th>{{'actions'| translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in uploader.queue">
                            <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size / 1024 / 1024|number:2 }} MB</td>
                            <td ng-show="uploader.isHTML5">
                                <div class="progress progress-sm" style="margin-bottom: 0;">
                                    <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                                    <span ng-show="item.isSuccess" class="text-success">
                                                        <i class="glyphicon glyphicon-ok"></i>
                                                    </span>
                                <span ng-show="item.isError" class="text-danger">
                                                        <i class="glyphicon glyphicon-remove"></i>
                                                    </span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> <span>{{'upload'| translate}}</span> </button>
                                <button type="button" class="btn red-pink btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> <span>{{'remove'| translate}}</span> </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div>
                        <p>{{'queue_progress'| translate}}:</p>
                        <div class="progress progress-sm" style="">
                            <div class="progress-bar progress-bar-info" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn red-pink"  ng-click="cancel()"> <span>{{'cancel'| translate}}</span> </button>
    </div>
</script>
