<style>
    .dropdown-menu{
        min-width:110px;
    }
    .inactive ,.inactive .btn-group ,.inactive .btn-group button{
        color: #ccc;
        pointer-events: none;
        cursor: not-allowed;
    }

    .dropdown-menu{
        min-width:10px;
        left: 0
    }
    .btn-group>.dropdown-menu:before, .dropdown-toggle>.dropdown-menu:before, .dropdown>.dropdown-menu:before{
        right: auto !important;
        left: 9px !important;
    }
    .btn-group>.dropdown-menu:after, .dropdown-toggle>.dropdown-menu:after, .dropdown>.dropdown-menu:after{
        right: auto !important;
        left: 9px !important;
    }
    .fixed_dropdown{
        position: inherit !important;
        margin-right: 0% !important;
    }

</style>


<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb">
    <li>
        <a href="#/dashboard"> <i class="glyphicon glyphicon-home font-new-style " style="font-size: medium;"></i> {{'home'| translate}}</a>
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> {{'aids management' | translate}}
        <i class="{{lang=='ar' ? 'glyphicon glyphicon-menu-right font-new-style' : 'glyphicon glyphicon-menu-left font-new-style'}}"></i>
    </li>
    <li> <span> {{'trashed-vouchers'| translate}} </span> </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="font-dark"></i>
                    <h3>
                        <span class="fa fa-trash"></span>
                        <span> {{'trashed-vouchers'| translate}}</span>
                    </h3>
                </div>
                <div class="actions" style="padding-top: 30px;">
                    <div class="clearfix">

                        <a class="  btn yellow-saffron " ng-click="toggle()" type="button">
                            <span style="margin-left:3%;" class="icon-magnifier"></span>
                            <span class="hidden-sm hidden-md  hidden-xs">{{'advance search'| translate}}</span>
                        </a>

                    </div>
                </div>


            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12"  ng-hide="toggleStatus" >
                            <form name="frmsearch"  novalidate role="form" class=" text-center" style="padding:0%; margin-bottom: 2%; ">
                                <div class="row"style="margin:1%;box-sizing: border-box; border: 1px solid lightgrey;padding: 2% 0; ">
                                    <div class="col-md-12 col-sm-12 col-xs-12"  ng-if="can('aid.voucher.search')" >
                                        <div class="note note-success">
                                                <i style="font-size: larger" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                                {{'you must click to refresh button to load the organization according category' | translate}}
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12" ng-if="can('aid.voucher.search')" style="margin-bottom: 5px;">
                                        <div class="col-md-3 col-sm-12 col-xs-12"   >
                                            <div class="form-group" style="padding-top:25px;">
                                                <label class="control-label bold">
                                                      <span ng-if="filter.all_organization" class="checker">
                                                            <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                   ng-model="filter.all_organization" ng-true-value="true" ng-false-value="false">
                                                      </span>
                                                    <span ng-if="!filter.all_organization">
                                                            <input type="checkbox" data-on-color="primary" data-off-color="info"
                                                                   ng-model="filter.all_organization" ng-true-value="true" ng-false-value="false">
                                                      </span>
                                                    <span >{{'search in all organization'| translate}}</span>
                                                </label>
                                            </div>

                                        </div>
                                        <div class="col-md-4" ng-if="organizationsCat">
                                            <div class="form-group">
                                                <label class="control-label bold"> {{'organization_category'| translate}} </label>
                                                <div  class="input-group">
                                                    <multiselect  ng-model="filter.organization_category_id"
                                                                  ng-if="organizationsCat"
                                                                  ng-class="filter.all_organization? '' : 'inactive'"
                                                                  options="organizationsCat"
                                                                  show-search="true" id-prop="id"
                                                                  show-select-all="true" show-unselect-all="true"
                                                                  display-prop="name" search-limit="10"
                                                                  labels="labels">
                                                    </multiselect>
                                                    <span class="input-group-btn">
                                                       <button type="button" class="btn fa fa-refresh btn-default"
                                                               ng-class="filter.all_organization? '' : 'inactive'"
                                                               style="line-height:1.2!important;"
                                                               ng-click="resetOrg(filter.all_organization,filter.organization_category_id)"></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-12 col-xs-12" ng-if="disblay_orgs">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'organization name'| translate}}</label>
                                                <multiselect  ng-model="filter.organization_id" ng-if="disblay_orgs"
                                                              ng-class="filter.all_organization? '' : 'inactive'"
                                                              options="Org" show-search="true" id-prop="id" display-prop="name" search-limit="10">
                                                </multiselect>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold ">  {{'voucher_category'| translate}}  </label>
                                                <div class="input-group">
                                                    <ui-select name="category_id" ng-model="filter.category_id"theme="bootstrap"
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in Choices | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                            <button type="button" ng-click="filter.category_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'voucher_title_'| translate}}</label>
                                                <input type="text" class="form-control" name="title" ng-model="filter.title"  maxlength="255" ng-maxlength="255"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'min_voucher_value'| translate}}</label>
                                                <input type="text" class="form-control" name="min_value" ng-model="filter.min_value" numeric-only/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'max_voucher_value'| translate}}</label>
                                                <input type="text" class="form-control" name="max_value" ng-model="filter.max_value" numeric-only  />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label  bold ">  {{'voucher_type'| translate}}  </label>
                                                <select class="form-control"
                                                        ng-init=""
                                                        ng-change="msg1.type = [ ]"
                                                        name="type"
                                                        ng-model='filter.type'
                                                >
                                                    <option selected value > --  {{'voucher_type'| translate}}  -- </option>
                                                    <option  value="1" > {{'non_financial'| translate}} </option>
                                                    <option  value="2" > {{'financial'| translate}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'voucher_content'| translate}}</label>
                                                <input type="text" class="form-control" name="content" ng-model="filter.content"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'min_voucher_count'| translate}}</label>
                                                <input type="text" class="form-control" name="min_count" ng-model="filter.min_count" numeric-only/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'max_voucher_count'| translate}}</label>
                                                <input type="text" class="form-control" name="max_count" ng-model="filter.max_count" numeric-only />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'voucher_date_from'| translate}} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filter.voucher_date_from"
                                                           datepickerPopup
                                                           name="voucher_date_from"
                                                           is-open="popup999.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open999($event)">

                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'voucher_date_to'| translate}} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filter.voucher_date_to"
                                                           datepickerPopup
                                                           name="voucher_date_to"
                                                           is-open="popup888.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open888($event)">

                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'created_at_from'| translate}} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filter.date_from"
                                                           datepickerPopup
                                                           name="date_from"
                                                           is-open="popup99.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open99($event)">

                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'created_at_to'| translate}} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filter.date_to"
                                                           datepickerPopup
                                                           name="date_to"
                                                           is-open="popup88.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open88($event)">

                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group ">
                                                <label class=" control-label bold">{{'voucher_source'| translate}}</label>
                                                <select class="form-control" name="voucher_source" ng-model="filter.voucher_source">
                                                    <option selected value>{{'voucher_source'| translate}}  </option>
                                                    <option value="0"> {{'from_project'| translate}}</option>
                                                    <option value="1"> {{'manually'| translate}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group ">
                                                <label class=" control-label bold">{{'voucher_status'| translate}}</label>
                                                <select class="form-control" name="status" ng-model="filter.status">
                                                    <option selected value>{{'voucher_status'| translate}}  </option>
                                                    <option value="0">{{'inProgress'| translate}} </option>
                                                    <option value="1"> {{'closed'| translate}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group ">
                                                <label class=" control-label bold">{{'voucher_urgent'| translate}}</label>
                                                <select class="form-control" name="urgent" ng-model="filter.urgent">
                                                    <option selected value>{{'voucher_urgent'| translate}}  </option>
                                                    <option value="0"> {{'not_urgent'| translate}}  </option>
                                                    <option value="1">  {{'urgent'| translate}} ة </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group ">
                                                <label class=" control-label bold">{{'voucher_sponsor_name'| translate}}</label>
                                                <div class="input-group">
                                                    <ui-select name="sponsor_id" ng-model="filter.sponsor_id"theme="bootstrap"
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in Sponsors | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                            <button type="button" ng-click="filter.sponsor_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label  bold ">  {{'transfer'| translate}}</label>
                                                <select class="form-control" name="transfer" ng-model='filter.transfer'>
                                                    <option disabled selected value > --  {{'transfer'| translate}}  -- </option>
                                                    <option  value="0" > {{'direct'| translate}} </option>
                                                    <option  value="1" > {{'transfer_company'| translate}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3" ng-if="filter.transfer == 1 || filter.transfer == '1'">
                                            <div class="form-group">
                                                <label class="control-label bold">{{'transfer_company_name'| translate}}
                                                </label>
                                                <ui-select name="transfer_company_id" ng-model="filter.transfer_company_id" theme="bootstrap" class="text-right" >
                                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices repeat="item.id as item in transferCompany | filter: $select.search">
                                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group " ng-class="{ 'has-error' : frmsearch.notes.$invalid }">
                                                <label class=" control-label bold">{{'voucher_note'| translate}}</label>
                                                <input type="text" class="form-control" name="notes" ng-model="filter.notes"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group ">
                                                <label class="control-label bold">{{'currency'| translate}}</label>

                                                <div class="input-group">
                                                    <ui-select name="currency_id" ng-model="filter.currency_id" theme="bootstrap"
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in currency | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                            <button type="button" ng-click="filter.currency_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group " ng-class="{ 'has-error' : frmsearch.case_category_id.$invalid }">
                                                <label class="control-label bold">{{'category_name'| translate}}</label>
                                                <div class="input-group">
                                                    <ui-select name="case_category_id" ng-model="filter.case_category_id"theme="bootstrap"
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in aidCategories_ | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                                                <button type="button" ng-click="filter.case_category_id = undefined" class="btn btn-default">
                                                                      <span class="glyphicon glyphicon-trash"></span>
                                                                </button>
                                                             </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label  bold ">  {{'collected'| translate}}</label>
                                                <select class="form-control" name="collected" ng-model='filter.collected'>
                                                    <option disabled selected value > --  {{'collected'| translate}}  -- </option>
                                                    <option  value="0" > {{'no'| translate}} </option>
                                                    <option  value="1" > {{'yes'| translate}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label  bold ">  {{'organization_project'| translate}}</label>
                                                <select class="form-control" name="organization_project" ng-model='filter.organization_project'>
                                                    <option disabled selected value > --  {{'organization_project'| translate}}  -- </option>
                                                    <option  value="1" > {{'no'| translate}} </option>
                                                    <option  value="0" > {{'yes'| translate}} </option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3 col-sm-12 col-xs-12 text-center pull-right ">
                                            <div class="clearfix pull-right ">
                                                <button class="btn red-pink " type="button" ng-click="resetVouchersFilter_()">
                                                    <span class="fa fa-trash-o"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'reset filter'| translate}}</span>
                                                </button>
                                                <button class="btn blue  " ng-click="Search(false ,filter,'filter')" type="button">
                                                    <span class="icon-magnifier"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs"> {{'search'| translate}}</span>
                                                </button>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="toggleStatus" >
                            <div class="col-md-12 col-sm-12 col-xs-12"style="margin-bottom: 2%;padding-top: 4%;padding-bottom: 2%;box-sizing: border-box;border-radius:10px;border: 1px #f5f5f5 solid;background-color: #f3f3f3;" ng-show="toggleStatus">
                                <form name="frmsearch"  novalidate role="form" class=" text-center" style="padding:0%; margin-bottom: 2%; ">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'voucher_title_'| translate}}</label>
                                                <input type="text" class="form-control" name="title" ng-model="filter.title"  maxlength="255" ng-maxlength="255"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'min_voucher_value'| translate}}</label>
                                                <input type="text" class="form-control" name="min_value" ng-model="filter.min_value" numeric-only/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'max_voucher_value'| translate}}</label>
                                                <input type="text" class="form-control" name="max_value" ng-model="filter.max_value" numeric-only  />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold ">  {{'voucher_category'| translate}}  </label>
                                                <div class="input-group">
                                                    <ui-select name="category_id" ng-model="filter.category_id"theme="bootstrap"
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in Choices | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                            <button type="button" ng-click="filter.category_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'voucher_serial'| translate}}</label>
                                                <input type="text" class="form-control" name="serial" ng-model="filter.serial"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class=" control-label bold">{{'un_serial'| translate}}</label>
                                                <input type="text" class="form-control" name="un_serial" ng-model="filter.un_serial"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label  bold ">  {{'collected'| translate}}</label>
                                                <select class="form-control" name="collected" ng-model='voucher.collected'>
                                                    <option disabled selected value > --  {{'collected'| translate}}  -- </option>
                                                    <option  value="0" > {{'no'| translate}} </option>
                                                    <option  value="1" > {{'yes'| translate}} </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group ">
                                                <label class=" control-label bold">{{'voucher_sponsor_name'| translate}}</label>
                                                <div class="input-group">
                                                    <ui-select name="sponsor_id" ng-model="filter.sponsor_id"theme="bootstrap"
                                                               class="text-right" >
                                                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="item.id as item in Sponsors | filter: $select.search">
                                                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <span class="input-group-btn">
                                            <button type="button" ng-click="filter.sponsor_id = undefined" class="btn btn-default">
                                                  <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                         </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'voucher_date_from'| translate}} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filter.voucher_date_from"
                                                           datepickerPopup
                                                           name="voucher_date_from"
                                                           is-open="popup999.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open999($event)">

                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label bold">   {{'voucher_date_to'| translate}} </label>
                                                <div  class="input-group">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="{{format}}"
                                                           ng-model="filter.voucher_date_to"
                                                           datepickerPopup
                                                           name="voucher_date_to"
                                                           is-open="popup888.opened" datepicker-options="dateOptions"
                                                           date-disabled="disabled(date, mode)" clear-text="{{'clear'| translate}}" current-text="{{'today'| translate}}" close-text="{{'close'| translate}}" readonly  />
                                                    <span class="input-group-btn">
                                                <button type="button" class="btn fa fa-calendar btn-default" ng-click="open888($event)">

                                                </button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-3 col-sm-12 col-xs-12 text-center pull-right " style="padding-top: 2%">
                                            <div class="clearfix pull-right ">
                                                <button class="btn red-pink " type="button" ng-click="resetVouchersFilter_()">
                                                    <span class="fa fa-trash-o"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs">{{'reset filter'| translate}}</span>
                                                </button>
                                                <button class="btn blue  " ng-click="Search(false ,filter,'filter')" type="button">
                                                    <span class="icon-magnifier"></span>
                                                    <span class="hidden-sm hidden-md  hidden-xs"> {{'search'| translate}}</span>
                                                </button>

                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1%;">

                            <div class="btn-group "  uib-dropdown   ng-if="can('aid.voucher.export') && items.length != 0"
                                 uib-tooltip="{{'export result'| translate}}" >
                                <button id="single-button" type="button" class="btn green-turquoise" uib-dropdown-toggle ng-disabled="disabled">
                                    <span style="margin-right:3%;" class="fa fa-file-excel-o"></span>
                                    <span class="hidden-sm hidden-md  hidden-xs"> {{'export result'| translate}}</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                    <li>
                                        <a ng-click="Search(false ,filter,'ExportToExcel')" class="iconify">
                                            <i class="fa fa-file-excel-o" style="margin-left: 4%"></i>{{'All'| translate}}</a>
                                    </li>
                                    <li>
                                        <a ng-click="Search(true ,filter,'ExportToExcel')" class="iconify">
                                            <i class="fa fa-file-excel-o" style="margin-left: 4%"></i> {{'selected'| translate}}</a>
                                    </li>
                                </ul>
                            </div>
                            <form class="form-inline search-form pull-right">
                                <div class="input-group">
                                    <input type="text"
                                           ng-model="search"
                                           class="form-control" autofocus
                                           placeholder="{{'search'| translate}} "
                                           name="search">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 1%;"  ng-show="items.length != 0">
                            <div class="pull-left dataTables_length" id="sample_1_length">
                                <label>
                                    <select class="form-control input-sm input-inline" ng-init=""
                                            ng-change="itemsPerPage_(itemsCount)"
                                            name="itemsCount"  ng-model='itemsCount'>
                                        <option disabled selected value> {{'show'| translate}} </option>

                                        <option value='50' ng-value='50'>50</option>
                                        <option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                        <option value="-1">{{'show_All'| translate}}</option>
                                    </select>
                                </label>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="items.length != 0">

                            <div class="table-scrollable">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column text-center">
                                    <thead>
                                    <tr style="background-color: #f3f3f3!important; color: #337ab7; height:60px; line-height: 40px; font-size: 30px; ">
                                        <th class="text-center" > {{'#'| translate}} </th>
                                        <th class="text-center" style= "vertical-align: middle;" >
                                            <input type="checkbox"
                                                   ng-model="selectedAll"
                                                   ng-change="selectAll(selectedAll)"
                                                   ng-true-value="true"
                                                   ng-false-value="false"
                                            >
                                        </th>
                                        <th class="text-center" ng-click="sort_('un_serial')" > {{'un_serial'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('un_serial') != -1  ||  sortKeyArr_un_rev.indexOf('un_serial') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('un_serial') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('un_serial') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('serial')" > {{'voucher_serial'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('serial') != -1  ||  sortKeyArr_un_rev.indexOf('serial') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('serial') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('serial') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('title')" > {{'voucher_title_'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('title') != -1  ||  sortKeyArr_un_rev.indexOf('title') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('title') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('title') != -1}"> </span>
                                        </th>
                                        <th style="width: 65px;" class="text-center" ng-click="sort_('voucher_value')" > {{'voucher_value'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('voucher_value') != -1  ||  sortKeyArr_un_rev.indexOf('voucher_value') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('voucher_value') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('voucher_value') != -1}"> </span>
                                        </th>
                                        <th style="width: 65px;" class="text-center" ng-click="sort_('currency')" > {{'currency'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('currency') != -1  ||  sortKeyArr_un_rev.indexOf('currency') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('currency') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('currency') != -1}"> </span>
                                        </th>

                                        <th style="width: 65px;" class="text-center" ng-click="sort_('voucher_total')" > {{'voucher_total'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('voucher_total') != -1  ||  sortKeyArr_un_rev.indexOf('voucher_total') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('voucher_total') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('voucher_total') != -1}"> </span>
                                        </th>
                                        <th ng-show="master" class="text-center" ng-click="sort_('organization_name')"> {{'organization_name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('organizations_name') != -1  ||  sortKeyArr_un_rev.indexOf('organizations_name') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('organizations_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('organizations_name') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('voucher_sponsor_name')" > {{'voucher_sponsor_name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('voucher_sponsor_name') != -1  ||  sortKeyArr_un_rev.indexOf('voucher_sponsor_name') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('voucher_sponsor_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('voucher_sponsor_name') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('category_name')" > {{'voucher_category'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('category_name') != -1  ||  sortKeyArr_un_rev.indexOf('category_name') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('category_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('category_name') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('case_category_name')" > {{'category_name'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('case_category_name') != -1  ||  sortKeyArr_un_rev.indexOf('case_category_name') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('case_category_name') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('case_category_name') != -1}"> </span>
                                        </th>

                                        <th style="width: 65px;" class="text-center" ng-click="sort_('count')" > {{'voucherCounts'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('count') != -1  ||  sortKeyArr_un_rev.indexOf('count') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('count') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('count') != -1}"> </span>
                                        </th>
                                        <th  style="width: 100px;" ng-if="can('aid.voucher.center')" class="text-center" ng-click="sort_('center')"> {{'center'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('center') != -1  ||  sortKeyArr_un_rev.indexOf('center') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('center') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('center') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort('beneficiary')" > {{'voucherBeneficiaries'| translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='beneficiary'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('voucher_date')"> {{'voucher_date'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('voucher_date') != -1  ||  sortKeyArr_un_rev.indexOf('voucher_date') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('voucher_date') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('voucher_date') != -1}"> </span>
                                        </th>
                                        <th class="text-center" ng-click="sort_('deleted_at')"> {{'deleted_at'| translate}}
                                            <span class="glyphicon sort-icon" ng-show=" sortKeyArr_rev.indexOf('deleted_at') != -1  ||  sortKeyArr_un_rev.indexOf('deleted_at') != -1  "
                                                  ng-class="{'glyphicon-chevron-up':sortKeyArr_rev.indexOf('deleted_at') != -1,'glyphicon-chevron-down':sortKeyArr_un_rev.indexOf('deleted_at') != -1}"> </span>
                                        </th>
                                        <th class="text-center" v-if="can('aid.voucher.restore')"> {{'operations'| translate}} </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr dir-paginate="item in items |orderBy:sortKey:reverse|filter:search|itemsPerPage:ItemsPerPage" >
                                        <td>{{ ( $index +1 ) +((CurrentPage-1)* ItemsPerPage)}}</td>
                                        <td>
                                            <input type="checkbox" class="make-switch" data-on-color="primary" data-off-color="info"
                                                   ng-model="item.check" ng-checked="item.check" ng-true-value="true" ng-false-value="false">
                                        </td>
                                        <td>
                                            {{ item.un_serial }}
                                        </td>
                                        <td>{{ item.serial }}</td>
                                        <td class="bold">{{ item.title }}</td>
                                        <td>{{ item.voucher_value }}</td>
                                        <td>{{ item.currency }}</td>
                                        <td>{{ item.voucher_total }}</td>
                                        <td ng-show="master">{{ item.organization_name }} </td>
                                        <td>
                                            <span ng-show="item.sponsor_name ==null ">-</span>
                                            <span ng-show="item.sponsor_name !=null ">{{ item.sponsor_name }}</span>
                                        </td>
                                        <td>
                                            <span ng-show="item.category_name ==null ">-</span>
                                            <span ng-show="item.category_name !=null ">{{ item.category_name }}</span>
                                        </td>
                                        <td>
                                            <span ng-show="item.case_category_name ==null ">-</span>
                                            <span ng-show="item.case_category_name !=null ">{{ item.case_category_name }}</span>
                                        </td>

                                        <td>{{ item.count }}</td>
                                        <td ng-if="can('aid.voucher.center')">
                                            {{ item.center }}
                                        </td>

                                        <td>
                                            {{item.beneficiary}}
                                        </td>

                                        <td>
                                            <span ng-show="item.voucher_date ==null ">-</span>
                                            <span ng-show="item.voucher_date !=null ">{{ item.voucher_date }}</span>

                                        </td>
                                        <td>
                                            {{ item.deleted_at }}
                                        </td>
                                        <td v-if="can('aid.voucher.restore')">
                                            <button  uib-tooltip="{{'restore'| translate}}" type="button"
                                                     class="btn btn-xs bold font-blue  fa fa-undo"
                                                     style=" font-size: medium; background-color: transparent"
                                                     ng-click="restore(item.id)"></button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12"  ng-show="items.length != 0" style="margin-bottom: 1%;">
                            <div class="col-md-3 bold pull-left"  style="margin-bottom: 0.5%; margin-top: 1%;">
                                <span class="bold ">{{'number of total items'| translate}} : </span>
                                <span class="bold " style="margin-left: 0.5%; margin-right: 0.5%;">{{TotalItems}}</span>
                                <span class="bold ">{{'row'| translate}}</span>
                            </div>
                            <uib-pagination class="pull-right" total-items="TotalItems" ng-model="CurrentPage"  max-size="maxSize" items-per-page="ItemsPerPage" ng-change="pageChanged(CurrentPage)" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
                        </div>
                        <div  ng-show="items.length == 0" class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show'| translate}}
                                    </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->





