<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="table table-striped table-bordered table-hover table-checkable order-column text-center" >
                <thead>
                <tr style="background-color: #f3f3f3!important; color: #000000;  height:40px; line-height: 40px; font-size: 30px; ">
                    <th class="col-md-1 text-center" > {{'#' | translate }}</th>
                    <th class="col-md-1 text-center" > {{'attachment name' | translate }} </th>
                    <th class="col-md-1 text-center" > {{'scopeing for' | translate }} </th>
                    <th class="col-md-8 text-center" > {{'attachment' | translate }}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="doc in documents">
                    <td>{{ $index+1 }}</td>
                    <td>{{ doc.name }}</td>
                    <td ng-show="doc.scope ==1"  > {{'father' | translate }} </td>
                    <td ng-show="doc.scope ==2"  > {{'mother' | translate }} </td>
                    <td ng-show="doc.scope ==3"  >  {{'person' | translate }} </td>
                    <td ng-show="doc.scope ==4"  > {{'guardian_1' | translate }} </td>
                    <td ng-show="doc.scope ==5"  > {{'common' | translate }} </td>
                    <td>
                                                        <span ng-show="doc.file_id != null">
                                                          <img ng-click="showImage(doc.file_id)" ng-if="doc.file_id != null" ng-src="{{imgSrc}}" style="width: 60px; height: 60px; margin-left:2%;" data-img-blob="" data-url="{{'/doc/files/thumbnail/'+doc.file_id}}" class="img-thumbnail">

                                                          <a class="btn blue btn-xs" data-download="{{ doc.name }}"
                                                             doc-file-download data-url="/doc/files/download/{{doc.file_id}}">
                                                             <span class="fa fa-cloud-download"></span> {{'download' | translate }} </a>

                                                            <button type="button" class="btn blue btn-xs" ng-click="ChooseAttachment(doc,'edit')">
                                                                <span class="fa fa-refresh"></span>
                                                                <span style="">{{'reload' | translate }}</span>
                                                            </button>


                                                         </span>

                        <span ng-show=" mode != 'show' && doc.file_id == null">
                                              <span> {{'the attachment not uploaded' | translate }} </span>
                                              <span>
                                                  <button type="button" class="btn blue btn-xs" ng-click="ChooseAttachment(doc,'add')">
                                                      <span style="">{{'upload' | translate }}</span>
                                                  </button>
                                              </span>

                                        </span>
                        <span ng-show=" mode == 'show'  && doc.file_id == null">
                                              <span> {{'attachment not uploaded' | translate }} </span>
                                          </span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div ng-if="documents.length ==0 " class=" col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
                <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                    <span>
                                        {{'there is no data to show' | translate }}
                                    </span>
                </div>
            </div>
        </div>

    </div>
</div>



