<div class="row" style="padding: 2%;">
<div class= "col-md-12" style="margin-bottom: 2%;">
        <button class="btn blue pull-left" style="margin-left: 1%;" ng-click="personOp('lg','add',null)" ng-show=" organization_id == charity_LoggedInUser.organization_id">
            <span>{{'add new member' | translate }}</span>
            <i class="glyphicon glyphicon-plus-square" style="padding-right:7px;"></i></button>


    <a class="btn green-turquoise  pull-left" ng-show="classified_family" ng-click="case(-1,-1)">
        <span>{{'add new member case' | translate }}</span>
        <i class="glyphicon glyphicon-plus-square" style="padding-right:7px;"></i></a>

</div>
    <div class="col-md-12 col-sm-12 col-xs-12"style="margin-bottom: 2%;" >
        <h4 class="bold font-blue text-center " style="margin-bottom: 0.5%">
            <span>{{'family cases table' | translate }}</span></h4>
        <table class="table table-bordered table-striped  text-center table-hover " style="margin-top: 1%;">
            <thead>
            <tr style="background-color: #f3f3f3!important; color: #337ab7; height:30px; line-height: 30px; font-size: 20px; ">
                <th class="text-center">  {{'#' | translate }} </th>
                <th class="text-center">  {{'the_name' | translate }} </th>
                <th class="text-center">{{'category_name' | translate }}</th>
                <th class="text-center">  {{'id_card_number' | translate }} </th>
                <th class="text-center">  {{'the_gender' | translate }} </th>
                <th class="text-center"> {{'Date_of_Birth' | translate }}  </th>
                <th class="text-center" >  {{'the_health_status' | translate }} </th>
                <th class="text-center" > {{'operations' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="Citem in CaseMem">
                <td>{{  $index+1 }}</td>
                <td>{{Citem.name}}</td>
                <td  >{{Citem.category_name}}</td>
                <td  >{{Citem.id_card_number}}</td>
                <td  >{{Citem.gender}}</td>
                <td  >{{Citem.birthday}}</td>
                <td  >{{Citem.health_status}}</td>
                <td >
                    <div class="btn-group" uib-dropdown>
                        <button id="single-button" type="button" class="btn btn-xs blue" uib-dropdown-toggle ng-disabled="disabled">
                            <span>{{'select operation' | translate }}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button" style="margin-right: -50%">
                            <li>
                                <a href="#/sponsorship/cases/show/{{Citem.case_id}}/" class="iconify">
                                    <i class="fa fa-edit"></i> {{'show case data' | translate}} </a>
                            </li>
                            <li ng-show=" Citem.organization_id == organization_id">
                                <a href="#/sponsorship/cases/edit/{{Citem.case_id}}/" class="iconify">
                                    <i class="fa fa-edit"></i> {{'edit case data' | translate}} </a>
                            </li>
                            <li  ng-show=" Citem.organization_id == organization_id">
                                <a ng-click="delete('sm',Citem.case_id)" class="iconify">
                                    <i class="fa fa-trash-o"></i> {{'delete case'| translate }} </a>
                            </li>
                            <li ng-show=" Citem.organization_id == organization_id">
                                <a href="#/sponsorship/cases/edit/{{Citem.case_id}}/custom-form" class="iconify">
                                    <i class="fa fa-edit"></i>{{'update custom form'| translate}} </a>
                            </li>
                            <li ng-show=" Citem.organization_id == organization_id">
                                <a href="#/sponsorship/cases/edit/{{Citem.case_id}}/documents" class="iconify">
                                    <i class="fa fa-paperclip"></i> {{'case attachments'| translate}} </a>
                            </li>
                            <li ng-show=" Citem.organization_id == organization_id">
                                <a href="#/sponsorship/cases/edit/{{Citem.case_id}}/family" class="iconify">
                                    <i class="fa fa-edit"></i> {{'family member'| translate}} </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{'#/sponsorship/cases/show/'+Citem.case_id+'/payments'}}" class="iconify">
                                    <i class="fa fa-money"></i>{{'show payments'| translate}} </a>
                            </li>
                            <li>
                                <a href="{{'#/sponsorship/cases/show/'+Citem.case_id+'/guardians'}}" class="iconify">
                                    <i class="fa fa-users"></i>{{'show guardians'| translate}} </a>
                            </li>
                            <li>
                                <a href="{{'#/sponsorship/cases/show/'+Citem.case_id+'/sponsorships'}}" class="iconify">
                                    <i class="fa fa-table"></i>{{'show sponsorships'| translate}} </a>
                            </li>
                            <li>
                                <a ng-click="visitorNote(Citem.case_id)" class="iconify">
                                    <i class="fa fa-sticky-note"></i>{{'show visitor note'| translate}} </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a ng-click="download('word',Citem.case_id)" class="iconify">
                                    <i class="fa fa-file-word-o"></i> {{'download form'| translate}} </a>
                            </li>
                            <li>
                                <a ng-click="download('archive',Citem.case_id)" class="iconify">
                                    <i class="fa fa-file-archive-o"></i>{{'download attachments'| translate}} </a>
                            </li>
                        </ul>
                    </div>


                </td>

            </tr>

            </tbody>
        </table>
        <div ng-show="CaseMem.length ==0 " class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show' | translate }}
                                                                    </span>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h4  class="bold font-blue text-center bold" style="margin-bottom: 0.5%">
            <span ng-show="classified_family">{{'not cases member table' | translate }} </span>
            <span ng-show="!classified_family">{{'family table' | translate }} </span>
        </h4>
        <table class="table table-bordered table-striped  text-center table-hover ">
            <thead>
            <tr style="background-color: #f3f3f3!important; color: #337ab7; height:30px; line-height: 30px; font-size: 20px; ">
                <th class="text-center">  {{'#' | translate }} </th>
                <th class="text-center">  {{'the_name' | translate }} </th>
                <th class="text-center">  {{'id_card_number' | translate }} </th>
                <th class="text-center">  {{'the_gender' | translate }} </th>
                <th class="text-center"> {{'Date_of_Birth' | translate }}  </th>
                <th class="text-center" >  {{'the_health_status' | translate }} </th>
                <th class="text-center" > {{'operations' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in unCaseMem">
                <td>{{  $index+1 }}</td>
                <td>{{item.name}}</td>
                <td>{{item.id_card_number}}</td>
                <td>{{item.gender}}</td>
                <td>{{item.birthday}}</td>
                <td>{{item.health_status}}</td>
                <td>
                    <button type="button" class="btn btn-xs- font-blue fa fa-edit"
                            style="font-size: medium; background-color: transparent" ng-click="personOp('lg','edit',item.id)"> </button>
                    <button type="button" class="btn btn-xs bold font-red-pink fa fa-trash-o"
                            style=" font-size: medium; background-color: transparent" ng-click="deletePerson('sm',item.id)"></button>

                </td>

            </tr>

            </tbody>
        </table>
        <div ng-show="unCaseMem.length ==0 " class="col-md-12 col-sm-12 col-xs-12 text-center" style="margin-bottom: 2%">
            <div class="well well-lg bold font-blue" style="height:170px; line-height:12;text-align: center; vertical-align: middle !important;">
                                                                    <span>
                                                                        {{'there is no data to show' | translate }}
                                                                    </span>
            </div>
        </div>
    </div>
</div>
